{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Direct Debit Mandate-spec",
    "description": "The Direct Debit Mandate Management API allows businesses to create and manage direct debit mandates associated with banking accounts. This API is primarily used by financial service providers and businesses seeking to automate payment processing. By enabling the establishment of direct debit agreements, the API supports seamless billing and payment management workflows. Typical use cases include onboarding new clients for recurring payments and updating existing mandates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/accounts/*/direct-debit-mandates": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Create a Direct Debit Mandate for a specific account.",
        "description": "This endpoint enables users to create a new Direct Debit Mandate associated with a specific account. It is essential for setting up recurring payments linked to customer accounts.",
        "operationId": "create*DirectDebitMandate",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Creates a new direct debit mandate for the specified account. Ensure that all required fields are populated with valid data to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*DirectDebitMandateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Direct debit mandate created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*DirectDebitMandateResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*DirectDebitMandateRequest": {
        "title": "Direct Debit Mandate Request Body",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "The unique identifier for the mandate.",
            "example": "2026-09-03"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The identifier of the debtor's account from which the amount will be collected.",
            "example": "ACC-102511"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "The identifier for the creditor's scheme.",
            "example": "STANDARD"
          },
          "collectionAmount": {
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "The date on which the collection should occur.",
            "example": "2026-09-03"
          },
          "frequency": {
            "type": "string",
            "description": "The frequency of the collection (e.g., monthly, weekly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating a direct debit mandate.",
        "example": {
          "mandateId": "2026-09-03",
          "debtorAccountId": "ACC-102511",
          "creditorSchemeId": "STANDARD",
          "collectionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "collectionDate": "2026-09-03",
          "frequency": "STANDARD",
          "requestContext": {
            "requestId": "41feff76-e9a5-4966-a88f-a700d45a4120",
            "correlationId": "030d9b07-f217-4bd1-8d69-2c65226a436d",
            "idempotencyKey": "583760e9-2bec-43ab-bf1f-b329657a019b",
            "requestedAt": "2026-08-27T23:00:34.550Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-726954"
            }
          }
        }
      },
      "CollectionAmount": {
        "title": "Collection Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount to be collected.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the collection amount is specified.",
            "example": "USD"
          }
        },
        "description": "This schema represents the amount to be collected along with its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_78910"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and requests.",
            "example": "correlation_xyz"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "idempotency_abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "payments_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "mobile_app"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the communication channel.",
            "example": "channel_456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of source channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device being used to make the request.",
            "example": "device_001"
          }
        },
        "description": "This schema represents information about the channel through which the request was made."
      },
      "Create*DirectDebitMandateResponse_201": {
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "The unique identifier for the direct debit mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The identifier for the debtor's account associated with the mandate.",
            "example": "ACC-373937"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "The identifier for the creditor scheme associated with the mandate.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to the mandate.",
            "example": "RES-482301"
          },
          "status": {
            "type": "string",
            "description": "The current status of the direct debit mandate.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the mandate was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier that helps in correlating requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp indicating when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the mandate occurred.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the mandate response.",
            "example": {
              "responseId": "64429ca9-7906-5335-a65d-2a094179477e",
              "correlationId": "379135b6-830d-5c8d-9e80-55af28a99b53",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the creation of direct debit mandates.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-373937",
          "creditorSchemeId": "STANDARD",
          "resourceId": "RES-482301",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "64429ca9-7906-5335-a65d-2a094179477e",
            "correlationId": "379135b6-830d-5c8d-9e80-55af28a99b53",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ab45aa5b25f28ed1"
        },
        "example": "ab45aa5b25f28ed1"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4ef3af10-5e69-4cf1-8174-fbd95092e762"
        },
        "example": "4ef3af10-5e69-4cf1-8174-fbd95092e762"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "068701d3-62b4-4a0d-a575-f873dbb79a5f"
        },
        "example": "068701d3-62b4-4a0d-a575-f873dbb79a5f"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-mandate-create-direct-debit-mandate"
        },
        "example": "direct-debit-mandate-create-direct-debit-mandate"
      },
      "X-Runtime-App": {
        "description": "The application name or identifier within which the request is executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the processing of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-016"
        },
        "example": "WF-016"
      },
      "X-Workflow-Name": {
        "description": "Identifies the name of the workflow in which the operation is executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Direct Debit Mandate Setup and Collection"
        },
        "example": "Direct Debit Mandate Setup and Collection"
      },
      "X-Workflow-State": {
        "description": "Indicates the current state of the workflow process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ca4c4e7b-6918-43fd-bb9e-c38cdd94fc52"
        },
        "example": "ca4c4e7b-6918-43fd-bb9e-c38cdd94fc52"
      }
    }
  }
}