{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Terminal-spec",
    "description": "This API facilitates the creation and management of P2M terminal specifications, essential for businesses utilizing point-to-multipoint transaction capabilities. Users can define the terminal specifications that suit their operational needs, ensuring consistency and efficiency in transactions. The API is designed for developers integrating terminal management into their platforms, enabling seamless configuration and deployment. Typical consumers include payment processors, merchants, and system integrators looking to enhance their payment solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals": {
      "post": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Create a new terminal.",
        "description": "This endpoint allows users to create a new terminal in the system. You need to provide the necessary details required for the terminal setup.",
        "operationId": "createP2mTerminal",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Provides the necessary details to create a new terminal. The request body must be a valid JSON object that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mTerminalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The terminal was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mTerminalResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mTerminalRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-307890"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet associated with the terminal.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "The type of terminal being registered.",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "A human-readable label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the terminal.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "A unique fingerprint of the device.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "A list of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single capability supported by the terminal.",
              "example": "string"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "merchantId": "MER-307890",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "78ec7262-3a86-5a2d-84f6-1b500cc24352",
            "correlationId": "f388f2d0-405f-5c45-ab5d-3861d1ceea6a",
            "idempotencyKey": "6e8be093-e682-5b41-a4ab-166de7627265",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-749264"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track requests across system boundaries.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device in the channel.",
            "example": "string"
          }
        }
      },
      "CreateP2mTerminalResponse_201": {
        "title": "Terminal Creation Response",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with this terminal.",
            "example": "MER-419651"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet where the terminal is located.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of terminal (e.g., physical, virtual).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "User-friendly label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "Serial number of the terminal device.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "Unique fingerprint of the terminal device, used for identification.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single capability of the terminal.",
              "example": "contactless"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the terminal (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of the last time the terminal was seen.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Response object returned after successfully creating a terminal. It includes details about the terminal and related metadata.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-419651",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "6bc7f4b8-d3b1-50ea-afe4-f47aab2c332b",
            "correlationId": "f388f2d0-405f-5c45-ab5d-3861d1ceea6a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the terminal was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the terminal.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the terminal.",
            "example": "2023-10-01T13:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the terminal.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the terminal record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Details about the audit information for the terminal, including creation and update timestamps."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request and response.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the terminal response, including IDs and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-terminal"
        },
        "example": "banking-p2m-openapi-create-terminal"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This scheme allows secure access to resources by including a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}