{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Availablebalances-spec",
    "description": "The Available Balances Retrieval API provides a streamlined way for businesses to access the current available balance for a specific account associated with a customer. By utilizing this API, developers can easily retrieve essential financial data, which facilitates effective budget management and financial planning. This endpoint is typically utilized by financial applications, banking platforms, and customer service systems where real-time balance information is critical. Consumers include app developers and financial institutions aiming to offer transparency to their clients regarding account balances.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/availablebalance": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Available Balance",
        "description": "Get the current available balance for a specific account belonging to a customer. This operation provides the necessary details for users to monitor their account funds efficiently.",
        "operationId": "listAccountAvailablebalances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the available balance of a specific account under a customer. This operation fetches the current balance details from the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountAvailablebalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the available balance for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountAvailablebalancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountAvailablebalancesRequest": {
        "type": "string",
        "description": "Represents the available balance request body for the specified customer and account, formatted as a JSON string.",
        "example": "{}"
      },
      "ListAccountAvailablebalancesResponse_200": {
        "title": "Available Balance Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the account balance.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "STANDARD"
          },
          "availableBalance": {
            "type": "number",
            "description": "Current available balance of the account.",
            "example": 100.0
          },
          "availableBalanceDate": {
            "type": "integer",
            "description": "Date when the available balance was last updated, represented as a Unix timestamp.",
            "format": "int32",
            "example": 1
          },
          "clearedBalance": {
            "type": "number",
            "description": "Current cleared balance of the account.",
            "example": 100.0
          },
          "clearedBalanceDate": {
            "type": "integer",
            "description": "Date when the cleared balance was last updated, represented as a Unix timestamp.",
            "format": "int32",
            "example": 1
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Code indicating the aggregation status of the account balance.",
            "format": "int32",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account balance.",
            "example": "USD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the available balance response for a specific account.",
        "example": {
          "id": 1,
          "realAccountNumberLast4": "STANDARD",
          "availableBalance": 100.0,
          "availableBalanceDate": 1,
          "clearedBalance": 100.0,
          "clearedBalanceDate": 1,
          "aggregationStatusCode": 1,
          "currency": "USD",
          "metadata": {
            "responseId": "3dba7682-f4bb-579d-8868-1a90c3a90c75",
            "correlationId": "bb171b97-8a90-53b8-899f-9137592e121d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information included in the account balance response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. It is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-available-balance"
        },
        "example": "open-finance-api-get-available-balance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed this request. This helps in identifying which application handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. Clients are required to present a JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}