{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Unit Financial Operation Status-spec",
    "description": "This API provides a comprehensive overview of the financial operation status for various business units within the organization. It facilitates the retrieval of real-time financial data, enabling stakeholders to monitor performance and make informed decisions. Typical consumers include finance teams, business analysts, and management personnel who require insights into operational efficiency and financial health. By utilizing this endpoint, users can enhance their analysis and reporting efforts concerning business unit activities and outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-financial-operations/status": {
      "get": {
        "tags": [
          "BusinessOperations"
        ],
        "summary": "Retrieve the status of business unit financial operations.",
        "description": "This endpoint allows clients to fetch the current status of financial operations associated with the specified business unit. This helps in monitoring and management of financial activities within the business unit.",
        "operationId": "listBusinessUnitFinancialOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to obtain the financial operations status for a specific business unit. Ensure that the required parameters are included in the request to receive accurate status information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessUnitFinancialOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the current status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessUnitFinancialOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessUnitFinancialOperationStatusRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on financial operations status.",
        "example": "{}"
      },
      "ListBusinessUnitFinancialOperationStatusResponse_200": {
        "title": "Business Unit Financial Operations Status Response",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the business unit.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for the financial operations.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "The budget associated with the business unit's financial operations.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "The version of the forecast used for financial reporting.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the financial operations record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for the financial operations status of a business unit.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6b7a7e10-d3b1-5d59-b682-2d5475e87936",
            "correlationId": "e74d9198-dcaa-5076-b2e7-4c4b08696092",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget Information",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget amount is specified.",
            "example": "string"
          }
        },
        "description": "Detailed information about the budget including amount and currency."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the response occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-financial-operations-get-business-unit-financial-operations"
        },
        "example": "business-unit-financial-operations-get-business-unit-financial-operations"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that is currently processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method, where clients are required to include a JSON Web Token (JWT) in the Authorization header of their requests for secure access. The token should be formatted as a string and must follow the standard JWT structure.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}