{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Document Archive Services-spec",
    "description": "The Document Archive Services API provides businesses with seamless access to archived banking documents. This endpoint allows users to retrieve a comprehensive list of document archive services available, facilitating efficient management of historical records. Ideal for financial institutions and service providers, the API enables developers to integrate document retrieval functionalities into their applications. Use cases include auditing, compliance, and customer service enhancements, ensuring that archived data is readily accessible for analysis and reference.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/archive-services": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve archived services related to documents.",
        "description": "This endpoint allows you to fetch all archived services associated with documents. It provides a comprehensive list of available services that have been archived, facilitating better management and retrieval for users.",
        "operationId": "listDocumentArchiveServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve archive services for documents. It should contain any necessary parameters for filtering or specifying the details of the archive services being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDocumentArchiveServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the expected data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentArchiveServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDocumentArchiveServicesRequest": {
        "type": "string",
        "description": "The request body for the Archive Services GET operation. This is a string that contains the relevant data in JSON format.",
        "example": "{}"
      },
      "ListDocumentArchiveServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of archived document objects.",
            "example": [
              {
                "documentId": "DOC-590354",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the fetched documents.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching archived documents.",
        "example": {
          "items": [
            {
              "documentId": "DOC-590354",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "090bd032-b82e-50bc-b854-d92ae18033fe",
            "correlationId": "58fa1b57-378e-5036-aa21-11c04619a1dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document."
          },
          "documentType": {
            "type": "string",
            "description": "The type/category of the document."
          },
          "classification": {
            "type": "string",
            "description": "The classification of the document."
          },
          "retentionClass": {
            "type": "string",
            "description": "The retention class associated with the document."
          },
          "ownerId": {
            "type": "string",
            "description": "The ID of the owner of the document."
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file associated with the document."
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document (e.g., PDF, DOCX)."
          },
          "checksumSha256": {
            "type": "string",
            "description": "The SHA256 checksum for document integrity verification."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the document record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the document was last updated."
          }
        },
        "description": "Schema representing an archived document."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred."
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "archive-services-search-archive-services"
        },
        "example": "archive-services-search-archive-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer token authentication method, allowing users to authenticate by providing a JSON Web Token (JWT) in the request header. The token should be included as a 'Bearer' prefixed string.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}