{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Payment-spec",
    "description": "The Loan Payment Processing API allows financial institutions to facilitate the creation of loan payments associated with specific loans. This functionality enables users to submit payments efficiently, ensuring accurate updates to loan balances in real-time. Typical consumers include bank personnel, loan officers, and accounting systems that require integration for payment tracking and processing. The API streamlines the payment initiation process for a seamless user experience and regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/loans/{loanId}/payments": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Submit a payment for a loan.",
        "description": "This endpoint allows you to submit a payment for a specific loan identified by its unique loan ID. Ensure all required payment details are provided to successfully process the transaction.",
        "operationId": "createLoanPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "The request body must contain the necessary payment details for the specified loan. This includes crucial information such as payment amount, date, and any other relevant payment identifiers. Ensure that all required fields are filled correctly to process the payment effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanPaymentRequest": {
        "title": "Loan Payment Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount being paid including currency information.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The value date for the transaction.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used to make the payment.",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "Account number from which the payment is made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference for the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "Strategy used to allocate the payment.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "A list of installment numbers targeted by this payment.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details for manual allocation of the payment components.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "Additional narrative or notes regarding the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to submit a payment for a loan.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "dcb9d554-1b54-5fce-b7a9-7fa3ff7d60df",
            "correlationId": "35a3c46f-14e3-5e9e-8d11-d11cb9e09c15",
            "idempotencyKey": "8292c783-accc-52f6-b418-d1762142897b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-477439"
            }
          }
        }
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency used for the payment amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numerical value of the payment amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount of payment including currency."
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Manual allocation applied to the principal amount of the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Manual allocation applied to the interest amount of the loan.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Manual allocation applied to any associated fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Manual allocation applied for any penalties incurred.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Any excess payment applied to additional principal.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details about manual allocation of payments to principal, interest, fees, etc."
      },
      "AllocationComponent": {
        "title": "Allocation Component",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency used for this component amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numerical value for this component.",
            "example": "50.00"
          }
        },
        "description": "Schema representing an amount attributed to a component of the payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate related requests.",
            "example": "correlation-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was made.",
            "example": "2023-10-04T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is sending the request.",
            "example": "web_application"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "loan_management_app"
          },
          "channel": {
            "description": "Information regarding the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information for the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz123"
          }
        },
        "description": "Schema representing the channel information for the request context."
      },
      "CreateLoanPaymentResponse_201": {
        "title": "Loan Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total payment amount including its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date value of the transaction.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used to make the payment, e.g., credit card, bank transfer.",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An optional external reference associated with the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment to installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "An array of installment numbers that the payment will target.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Detailed manual allocation of the payment to different components.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "Additional narrative associated with the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "9f0a69c9-6290-05d2-955b-622a00ca4467"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The number assigned to the payment for reference.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment, e.g., completed, pending.",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Allocation details of the payment across principal, interest, fees, etc.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "A reference number for the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The timestamp when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a loan payment operation, containing detailed information about the payment and its allocation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "9f0a69c9-6290-05d2-955b-622a00ca4467",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "b86f6b7f-8607-59cb-b6ea-3265d076df23",
            "correlationId": "35a3c46f-14e3-5e9e-8d11-d11cb9e09c15",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount, e.g., USD, EUR.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric value of the amount being processed.",
            "example": "1500.00"
          }
        },
        "description": "Represents an amount of money in a specified currency."
      },
      "Allocation": {
        "title": "Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocated amount to the principal portion.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocated amount to the interest portion.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocated amount to any applicable fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocated amount for incurred penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Allocated amount for excess payment beyond due obligations.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details regarding how the payment is allocated."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response generated.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when this metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains additional information related to the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-payment"
        },
        "example": "banking-loans-openapi-create-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow process that is associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-036"
        },
        "example": "WF-036"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Loan Repayment and Delinquency Handling"
        },
        "example": "Loan Repayment and Delinquency Handling"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4857ac81-0ab2-4c52-a5ef-a865801967ff"
        },
        "example": "4857ac81-0ab2-4c52-a5ef-a865801967ff"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, implemented as a JSON Web Token (JWT). It allows clients to authenticate by providing a token, which can be issued after a successful login. The token authorization is required to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}