{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Term Deposit Framework Agreements-spec",
    "description": "The Deposit Lending Term Deposit Framework Agreements API provides access to a comprehensive list of framework agreements relating to term deposits in the banking domain. This endpoint allows users to efficiently retrieve details about various lending agreements, facilitating better management and decision-making for financial offerings. Typical consumers include banking professionals, financial analysts, and developers working on banking applications who need to integrate framework agreement data into their systems. This service supports seamless access to vital information for effective banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit-framework-agreement": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve Term Deposit Framework Agreement",
        "description": "This endpoint allows users to fetch the details of the Term Deposit Framework Agreement associated with deposit lending services. It provides necessary information for understanding the terms, conditions, and limitations relevant to term deposits.",
        "operationId": "listDepositLendingTermDepositFrameworkAgreements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the term deposit framework agreement details. This endpoint allows you to get the relevant information regarding the term deposits offered under the lending program.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingTermDepositFrameworkAgreementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the term deposit framework agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingTermDepositFrameworkAgreementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingTermDepositFrameworkAgreementsRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to the term deposit framework agreement in the deposit lending service.",
        "example": "{}"
      },
      "ListDepositLendingTermDepositFrameworkAgreementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of term deposit agreements.",
            "example": [
              {
                "customerId": "CUST-860284",
                "accountId": "ACC-234123",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "depositAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "tenorDays": 1,
                "maturityInstruction": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TermDepositAgreement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the term deposit agreements.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching term deposit framework agreement operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-860284",
              "accountId": "ACC-234123",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "depositAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "tenorDays": 1,
              "maturityInstruction": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cf0b263f-9942-5841-8089-02a55444f295",
            "correlationId": "db972517-700b-57cf-912f-2fce9910be04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TermDepositAgreement": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the term deposit agreement."
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account linked to the term deposit."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific term deposit product."
          },
          "principal": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "Length of the term in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the term deposit."
          },
          "depositAmount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "tenorDays": {
            "type": "integer",
            "description": "Tenor period in days for the term deposit.",
            "format": "int32"
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions for handling maturity of the deposit."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the term deposit agreement."
          }
        },
        "description": "Schema representing a term deposit agreement."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the monetary amount."
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request-response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the data was processed."
          }
        },
        "description": "Metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-search-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-search-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method to allow clients to authenticate by including a JSON Web Token (JWT) in the Authorization header of their requests. The JWT must be acquired via a separate authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}