{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Commercial Credit Cards-spec",
    "description": "The Open Banking Commercial Credit Cards API provides businesses with access to detailed information regarding available commercial credit card options. This API allows developers to retrieve lists of commercial credit cards, enabling financial institutions to offer tailored card solutions to their clients. Typical consumers of this API include banks and fintech companies looking to enhance their offerings by integrating comprehensive credit card data. Use cases include credit card comparisons, integration into user-facing applications, and financial planning tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/commercial-credit-cards": {
      "get": {
        "tags": [
          "Commercial Banking"
        ],
        "summary": "Retrieve a list of commercial credit cards.",
        "description": "This endpoint allows users to retrieve information about various commercial credit cards available through the open banking system, including details such as card features, fees, and eligibility criteria.",
        "operationId": "listOpenBankingCommercialCreditCards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve commercial credit card information through the Open Banking API. It expects a JSON formatted request that aligns with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingCommercialCreditCardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved commercial credit card information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingCommercialCreditCardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingCommercialCreditCardsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to commercial credit cards in the Open Banking API.",
        "example": "{}"
      },
      "ListOpenBankingCommercialCreditCardsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "description": "A list of commercial credit card information.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-645",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductName": "Northstar Banking Service",
                "ProductType": "STANDARD",
                "ProductSegment": [
                  "STANDARD"
                ],
                "ProductIdentifier": "PROD-996234",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Description": "Customer banking request processed successfully",
                "KeyFeatures": "STANDARD",
                "PaymentHoliday": true,
                "PaymentHolidayDescription": "STANDARD",
                "OtherKeyFeatures": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "Details": {
                  "CCSubType": "STANDARD",
                  "CommercialCreditCardItem": {
                    "StartPromotionOrFutureTerms": "STANDARD",
                    "StopPromotionOrFutureTerms": "STANDARD",
                    "LengthPromotionalInDays": 1,
                    "DateOfChange": "2026-09-15",
                    "MinimumCreditLimit": "STANDARD",
                    "RepaymentFrequency": "STANDARD",
                    "APRRate": "STANDARD",
                    "BalanceTransferInterestRatePeriod": "STANDARD",
                    "PurchaseRate": "STANDARD",
                    "BalanceTransferRate": "STANDARD",
                    "CashAdvanceRate": "STANDARD",
                    "OverLimitFee": "STANDARD",
                    "MaximumNumberOfCardsPermitted": 1
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardData"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Commercial Credit Cards GET operation in Open Banking.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-645",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductName": "Northstar Banking Service",
              "ProductType": "STANDARD",
              "ProductSegment": [
                "STANDARD"
              ],
              "ProductIdentifier": "PROD-996234",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Description": "Customer banking request processed successfully",
              "KeyFeatures": "STANDARD",
              "PaymentHoliday": true,
              "PaymentHolidayDescription": "STANDARD",
              "OtherKeyFeatures": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "Details": {
                "CCSubType": "STANDARD",
                "CommercialCreditCardItem": {
                  "StartPromotionOrFutureTerms": "STANDARD",
                  "StopPromotionOrFutureTerms": "STANDARD",
                  "LengthPromotionalInDays": 1,
                  "DateOfChange": "2026-09-15",
                  "MinimumCreditLimit": "STANDARD",
                  "RepaymentFrequency": "STANDARD",
                  "APRRate": "STANDARD",
                  "BalanceTransferInterestRatePeriod": "STANDARD",
                  "PurchaseRate": "STANDARD",
                  "BalanceTransferRate": "STANDARD",
                  "CashAdvanceRate": "STANDARD",
                  "OverLimitFee": "STANDARD",
                  "MaximumNumberOfCardsPermitted": 1
                }
              }
            }
          ],
          "metadata": {
            "responseId": "e29bc9f5-7f5f-5dde-bac6-c9b47dc10186",
            "correlationId": "05b62ff8-b49e-5e7c-8b9b-9dfc527193b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The date and time when the information was last updated."
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results returned.",
            "format": "int32",
            "example": 0
          },
          "Agreement": {
            "type": "string",
            "description": "Terms of the agreement pertaining to the service."
          },
          "License": {
            "type": "string",
            "description": "License information for the provider."
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the commercial credit cards."
          }
        },
        "description": "Information related to the meta of the response."
      },
      "CardData": {
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the product."
          },
          "ProductType": {
            "type": "string",
            "description": "Type of the product."
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments the product belongs to.",
            "items": {
              "type": "string"
            }
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the product."
          },
          "ProductURL": {
            "type": "array",
            "description": "Links to the product page.",
            "items": {
              "type": "string"
            }
          },
          "Description": {
            "type": "string",
            "description": "Description of the product."
          },
          "KeyFeatures": {
            "type": "string",
            "description": "Key features provided by the product."
          },
          "PaymentHoliday": {
            "type": "boolean",
            "description": "Indicates if a payment holiday is available."
          },
          "PaymentHolidayDescription": {
            "type": "string",
            "description": "Details about the payment holiday."
          },
          "OtherKeyFeatures": {
            "type": "string",
            "description": "Additional key features of the product."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions associated with the product.",
            "items": {
              "type": "string"
            }
          },
          "Details": {
            "$ref": "#/components/schemas/CardDetails"
          }
        },
        "description": "Information about a commercial credit card."
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Details about the organisation offering the product."
      },
      "ParentOrganisation": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier."
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code."
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Information about the parent organisation."
      },
      "OrganisationName": {
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "Legal name of the organisation."
          }
        },
        "description": "Name details of the organisation."
      },
      "Brand": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark registration code."
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the trademark."
          }
        },
        "description": "Brand information of the product."
      },
      "CardDetails": {
        "type": "object",
        "properties": {
          "CCSubType": {
            "type": "string",
            "description": "Subtype of the commercial credit card."
          },
          "CommercialCreditCardItem": {
            "$ref": "#/components/schemas/CommercialCreditCardItem"
          }
        },
        "description": "Detailed features of the commercial credit card."
      },
      "CommercialCreditCardItem": {
        "type": "object",
        "properties": {
          "StartPromotionOrFutureTerms": {
            "type": "string",
            "description": "Start date of promotional or future terms."
          },
          "StopPromotionOrFutureTerms": {
            "type": "string",
            "description": "End date of promotional or future terms."
          },
          "LengthPromotionalInDays": {
            "type": "integer",
            "description": "Length of promotional period in days.",
            "format": "int32"
          },
          "DateOfChange": {
            "type": "string",
            "description": "Date of changes to the card terms."
          },
          "MinimumCreditLimit": {
            "type": "string",
            "description": "Minimum credit limit for the card."
          },
          "RepaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the card."
          },
          "APRRate": {
            "type": "string",
            "description": "Annual Percentage Rate for the card."
          },
          "BalanceTransferInterestRatePeriod": {
            "type": "string",
            "description": "Interest rate period applicable for balance transfers."
          },
          "PurchaseRate": {
            "type": "string",
            "description": "Rate applicable for purchases."
          },
          "BalanceTransferRate": {
            "type": "string",
            "description": "Rate applicable for balance transfers."
          },
          "CashAdvanceRate": {
            "type": "string",
            "description": "Rate applicable for cash advances."
          },
          "OverLimitFee": {
            "type": "string",
            "description": "Fee charged for going over the credit limit."
          },
          "MaximumNumberOfCardsPermitted": {
            "type": "integer",
            "description": "Maximum number of cards allowed.",
            "format": "int32"
          }
        },
        "description": "Specific characteristics of a commercial credit card item."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-commercial-credit-cards"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-commercial-credit-cards"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT) for secure access to the API. Include the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}