{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Transactions Management API",
    "description": "This API enables businesses to manage customer transaction data effectively. It allows the creation of transaction records for specific customers identified by their unique IDs. Typical consumers include financial institutions and e-commerce platforms that need to process and track customer transactions. The API streamlines the transaction initiation process, ensuring accurate and efficient record-keeping for various use cases such as billing, refunds, and analytics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/transactions": {
      "post": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Create a new transaction for a specified customer.",
        "description": "This endpoint allows the creation of a new transaction associated with a specific customer identified by their unique identifier. Provide the necessary transaction details in the request body.",
        "operationId": "createTransactionForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new transaction for the specified customer. This body must adhere to the schema defined for the transaction creation process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and is being handled asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionForCustomerCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTransactionForCustomerCUST100045Request": {
        "title": "Transaction Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A unique identifier for the accounts associated with the transactions.",
            "example": "ACC-770594"
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for filtering transactions, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "toDate": {
            "type": "integer",
            "description": "The end date for filtering transactions, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields to include in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "findTransaction": {
            "type": "object",
            "properties": {
              "descriptionMemo": {
                "type": "string",
                "description": "A memo or description to filter transactions.",
                "example": "string"
              },
              "amountFrom": {
                "type": "number",
                "description": "The minimum amount for transactions to include in the result.",
                "example": 0.0
              },
              "amountTo": {
                "type": "number",
                "description": "The maximum amount for transactions to include in the result.",
                "example": 0.0
              },
              "category": {
                "type": "array",
                "description": "Categories to filter transactions.",
                "items": {
                  "type": "string",
                  "description": "A string representing a category for transactions.",
                  "example": "string"
                }
              }
            },
            "description": "Criteria for finding specific transactions based on parameters.",
            "example": {
              "descriptionMemo": "STANDARD",
              "amountFrom": 100.0,
              "amountTo": 100.0,
              "category": [
                "STANDARD"
              ]
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking related requests.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure idempotent requests.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "The timestamp when the request was made.",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that initiated the request.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application that initiated the request.",
                "example": "string"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Context information for the request.",
            "example": {
              "requestId": "e6ef94b1-967b-5717-9418-7a6b20dfbca6",
              "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
              "idempotencyKey": "ca6a4525-22cc-5b12-9817-da34df51d182",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-905166"
              }
            }
          }
        },
        "description": "Schema representing the request body for creating transactions associated with a specific customer.",
        "example": {
          "accountIds": "ACC-770594",
          "fromDate": 1,
          "toDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "findTransaction": {
            "descriptionMemo": "STANDARD",
            "amountFrom": 100.0,
            "amountTo": 100.0,
            "category": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "e6ef94b1-967b-5717-9418-7a6b20dfbca6",
            "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
            "idempotencyKey": "ca6a4525-22cc-5b12-9817-da34df51d182",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-905166"
            }
          }
        }
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label or name of the custom field.",
            "example": "Example Label"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Example Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether this custom field should be displayed.",
            "example": true
          }
        },
        "description": "Schema representing a custom field in a transaction report."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel through which the request is made.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., Web, Mobile.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel information for the request context."
      },
      "CreateTransactionForCustomerCUST100045Response_202": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer such as individual or business.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "37e51670-b782-5bbb-a66a-eb5bbb1a47aa"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who made the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user involved in the transaction.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the transaction was created, represented as a UNIX timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title or brief description of the transaction.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer associated with the transaction.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement outlining any disputes related to the transaction.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the transaction request.",
            "$ref": "#/components/schemas/TransactionConstraints"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for a transaction operation, containing details of the transaction and associated customer information.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "37e51670-b782-5bbb-a66a-eb5bbb1a47aa",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-931972"
            ],
            "fromDate": 1,
            "toDate": 1,
            "includePending": true
          },
          "metadata": {
            "responseId": "e148112e-1a1f-5c26-abac-25eebcf65e93",
            "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "Jane Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "555-1234"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "jane@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website or profile URL of the end user.",
            "example": "http://example.com/jane"
          }
        },
        "description": "Information about the end user involved in the transaction."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "consumer_98765"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "Jane"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "555-6789"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "jane@example.com"
          }
        },
        "description": "Information about the consumer involved in the transaction."
      },
      "TransactionConstraints": {
        "title": "Transaction Constraints",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account IDs involved in the transaction.",
            "example": [
              "account_001",
              "account_002"
            ],
            "items": {
              "type": "string",
              "description": "ID of an account associated with the transaction."
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "Start date for the transaction records, represented as a UNIX timestamp.",
            "format": "int32",
            "example": 1633024800
          },
          "toDate": {
            "type": "integer",
            "description": "End date for the transaction records, represented as a UNIX timestamp.",
            "format": "int32",
            "example": 1633028400
          },
          "includePending": {
            "type": "boolean",
            "description": "Indicates whether to include pending transactions in the response.",
            "example": false
          }
        },
        "description": "Constraints related to the transaction request."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2021-09-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata related to the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transactions-report"
        },
        "example": "open-finance-api-generate-transactions-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method utilizes a JSON Web Token (JWT) to verify the identity of users. The token should be included in the Authorization header as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}