{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Credit Limits-spec",
    "description": "The Trade Banking Credit Limits API allows users to access real-time information regarding trade banking credit limits available to clients. This API enables financial institutions to retrieve detailed data on credit limits, facilitating effective management and assessment of risk associated with trade finance operations. Typical consumers of this API include banking applications and financial analysts looking to optimize their credit offerings and ensure compliance with lending policies. This resource supports various use cases involving credit analysis, limit adjustments, and client servicing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-limits": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve Credit Limits",
        "description": "This endpoint allows users to retrieve the current credit limits available for trade banking services. It provides essential information on credit capacity and terms applicable to different customer segments.",
        "operationId": "listTradeBankingCreditLimits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving credit limits associated with trade banking operations. This body should contain the necessary parameters to execute the GET operation and fetch the required credit limit information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingCreditLimitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the credit limits.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingCreditLimitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingCreditLimitsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the Credit Limits operations in the Trade Banking API when using the GET method.",
        "example": "{}"
      },
      "ListTradeBankingCreditLimitsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit limit items.",
            "example": [
              {
                "corporateCustomerId": "CUST-933142",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-831951",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditLimitItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving credit limits in trade banking operations.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-933142",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-831951",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "46b5b60a-6484-52c9-b833-051dfeaa1bb5",
            "correlationId": "1a6a7bc9-2a58-51f1-8578-99494f781c81",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditLimitItem": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer."
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "Maturity date of the credit limit in ISO 8601 format."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record indicating if it's active, inactive, etc."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Details of a credit limit item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Numerical value of the credit limit.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code in which the amount is denominated."
          }
        },
        "description": "Amount details including value and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of each page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs of a single request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "limit-and-exposure-management-search-limit-and-exposure-management"
        },
        "example": "limit-and-exposure-management-search-limit-and-exposure-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with a JSON Web Token (JWT). Include the JWT token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}