{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Unit Direction API",
    "description": "The Business Unit Direction API provides insights into the strategic direction of individual business units within an organization. Users can access relevant data about the operational goals and objectives that guide each unit's performance. This API is essential for analysts and decision-makers who need to align resources with business strategies, ensuring efficient operations and informed decision-making. By leveraging this API, consumers can integrate business unit insights into their reporting and analytics tools, facilitating a clearer understanding of organizational trajectories.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-direction": {
      "get": {
        "tags": [
          "Business Management"
        ],
        "summary": "Retrieve business unit direction details.",
        "description": "This endpoint allows clients to fetch the current direction for a specific business unit, providing insights into strategic objectives and operational focus.",
        "operationId": "getBusinessUnitDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the business unit direction. The structure of this body must adhere to the specified schema, which defines the inputs necessary for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessUnitDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the business unit direction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessUnitDirectionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessUnitDirectionRequest": {
        "type": "string",
        "description": "This schema represents the request body for the business unit direction operations GET request.",
        "example": "{}"
      },
      "GetBusinessUnitDirectionResponse_200": {
        "title": "Business Unit Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of business unit operation items.",
            "example": [
              {
                "businessUnitId": "STANDARD",
                "costCenter": "STANDARD",
                "planningPeriod": "STANDARD",
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "forecastVersion": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessUnitOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving business unit operations.",
        "example": {
          "items": [
            {
              "businessUnitId": "STANDARD",
              "costCenter": "STANDARD",
              "planningPeriod": "STANDARD",
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "forecastVersion": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6a98750d-6958-5764-b37b-c5fb5a28025b",
            "correlationId": "7ebbe158-b6f0-57a7-bd2f-4134e8f53478",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessUnitOperation": {
        "title": "Business Unit Operation",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "BU-001"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the business unit.",
            "example": "CC-001"
          },
          "planningPeriod": {
            "type": "string",
            "description": "Planning period for the budget.",
            "example": "2023-Q1"
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast associated with the business unit operation.",
            "example": "v1.0"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to this record.",
            "example": "2023-10-05T14:48:00Z"
          }
        },
        "description": "Schema representing a business unit operation entry."
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details for a business unit operation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for a response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information for a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-direction-search-business-unit-direction"
        },
        "example": "business-unit-direction-search-business-unit-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs a Bearer Authentication mechanism using JWT (JSON Web Tokens). Clients must include the Bearer token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}