{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Aisp Accounts-v5-spec",
    "description": "MICROSERVICE-PROD-List Open Banking Aisp Accounts-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts": {
      "get": {
        "operationId": "listOpenBankingAispAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingAispAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingAispAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingAispAccountsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListOpenBankingAispAccountsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "Status": {
                      "type": "string",
                      "example": "string"
                    },
                    "StatusUpdateDateTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "Currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "category": {
                      "type": "string",
                      "example": "string"
                    },
                    "typeCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "Description": {
                      "type": "string",
                      "example": "string"
                    },
                    "Nickname": {
                      "type": "string",
                      "example": "string"
                    },
                    "OpeningDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "MaturityDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "SwitchStatus": {
                      "type": "string",
                      "example": "string"
                    },
                    "Account": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "SchemeName": {
                            "type": "string",
                            "example": "string"
                          },
                          "Identification": {
                            "type": "string",
                            "example": "string"
                          },
                          "Name": {
                            "type": "string",
                            "example": "string"
                          },
                          "LEI": {
                            "type": "string",
                            "example": "string"
                          },
                          "SecondaryIdentification": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "StatementFrequencyAndFormat": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Frequency": {
                            "type": "string",
                            "example": "string"
                          },
                          "CommunicationMethod": {
                            "type": "string",
                            "example": "string"
                          },
                          "Format": {
                            "type": "string",
                            "example": "string"
                          },
                          "DeliveryAddress": {
                            "type": "object",
                            "properties": {
                              "AddressType": {
                                "type": "string",
                                "example": "string"
                              },
                              "Department": {
                                "type": "string",
                                "example": "string"
                              },
                              "SubDepartment": {
                                "type": "string",
                                "example": "string"
                              },
                              "StreetName": {
                                "type": "string",
                                "example": "string"
                              },
                              "BuildingNumber": {
                                "type": "string",
                                "example": "string"
                              },
                              "BuildingName": {
                                "type": "string",
                                "example": "string"
                              },
                              "Floor": {
                                "type": "string",
                                "example": "string"
                              },
                              "UnitNumber": {
                                "type": "string",
                                "example": "string"
                              },
                              "Room": {
                                "type": "string",
                                "example": "string"
                              },
                              "PostBox": {
                                "type": "string",
                                "example": "string"
                              },
                              "TownLocationName": {
                                "type": "string",
                                "example": "string"
                              },
                              "DistrictName": {
                                "type": "string",
                                "example": "string"
                              },
                              "CareOf": {
                                "type": "string",
                                "example": "string"
                              },
                              "PostCode": {
                                "type": "string",
                                "example": "string"
                              },
                              "TownName": {
                                "type": "string",
                                "example": "string"
                              },
                              "CountrySubDivision": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "Account": [
                {
                  "id": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "Currency": "USD",
                  "category": "STANDARD",
                  "typeCode": "CODE-246",
                  "Description": "Customer banking request processed successfully",
                  "Nickname": "Northstar Banking Service",
                  "OpeningDate": "2026-09-15",
                  "MaturityDate": "2026-09-15",
                  "SwitchStatus": "ACTIVE",
                  "Account": [
                    {
                      "SchemeName": "Northstar Banking Service",
                      "Identification": "STANDARD",
                      "Name": "Northstar Banking Service",
                      "LEI": "STANDARD",
                      "SecondaryIdentification": "STANDARD"
                    }
                  ],
                  "StatementFrequencyAndFormat": [
                    {
                      "Frequency": "STANDARD",
                      "CommunicationMethod": "STANDARD",
                      "Format": "STANDARD",
                      "DeliveryAddress": {
                        "AddressType": "STANDARD",
                        "Department": "STANDARD",
                        "SubDepartment": "STANDARD",
                        "StreetName": "Northstar Banking Service",
                        "BuildingNumber": "STANDARD",
                        "BuildingName": "Northstar Banking Service",
                        "Floor": "STANDARD",
                        "UnitNumber": "STANDARD",
                        "Room": "STANDARD",
                        "PostBox": "STANDARD",
                        "TownLocationName": "Northstar Banking Service",
                        "DistrictName": "Northstar Banking Service",
                        "CareOf": "STANDARD",
                        "PostCode": "CODE-575",
                        "TownName": "Northstar Banking Service",
                        "CountrySubDivision": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "5fba91ed-5b6c-519f-bf0c-912c0e64a474",
              "correlationId": "49c73627-f730-5a08-b7a4-21e97e545481",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Account": [
              {
                "id": "STANDARD",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "Currency": "USD",
                "category": "STANDARD",
                "typeCode": "CODE-246",
                "Description": "Customer banking request processed successfully",
                "Nickname": "Northstar Banking Service",
                "OpeningDate": "2026-09-15",
                "MaturityDate": "2026-09-15",
                "SwitchStatus": "ACTIVE",
                "Account": [
                  {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "LEI": "STANDARD",
                    "SecondaryIdentification": "STANDARD"
                  }
                ],
                "StatementFrequencyAndFormat": [
                  {
                    "Frequency": "STANDARD",
                    "CommunicationMethod": "STANDARD",
                    "Format": "STANDARD",
                    "DeliveryAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-575",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "5fba91ed-5b6c-519f-bf0c-912c0e64a474",
            "correlationId": "49c73627-f730-5a08-b7a4-21e97e545481",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts"
        },
        "example": "accounts-api-get-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}