{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Legal Compliance Operational Action-spec",
    "description": "This API facilitates the management of operational actions related to legal compliance within an enterprise banking context. It enables organizations to initiate and submit actions necessary for adhering to legal standards and regulations. Typical users include compliance officers and regulatory analysts who need to manage these actions efficiently. The API provides endpoints to create new operational actions and streamline the compliance process, thereby enhancing both operational effectiveness and regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-compliance/operational-actions": {
      "post": {
        "tags": [
          "Legal Compliance"
        ],
        "summary": "Create a new operational action for legal compliance.",
        "description": "This endpoint allows organizations to create a new operational action related to legal compliance. Proper management of operational actions is essential to ensure adherence to regulatory requirements and to maintain operational integrity. Use this API to submit the necessary details for a new operational action.",
        "operationId": "createLegalComplianceOperationalAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A JSON object containing the details required to create or manage operational actions related to legal compliance within the enterprise services framework.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLegalComplianceOperationalActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and will be processed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLegalComplianceOperationalActionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLegalComplianceOperationalActionRequest": {
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action being requested.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action request.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the action request.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the individual or system requesting the action.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the action was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for operational actions in legal compliance.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "40626abd-c70a-59f6-9668-06bbd528958f",
            "correlationId": "450c52ac-b445-5e24-9621-468ba48d0251",
            "idempotencyKey": "7f25ef46-4cc9-5371-a361-460b585876eb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-340292"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing related requests.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for managing request idempotency.",
            "example": "unique-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request context was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the system from which the request originated.",
            "example": "InternalComplianceSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the application from which the request originated.",
            "example": "ComplianceApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema holding contextual information for requests."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used in the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., 'Email', 'API').",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request, if applicable.",
            "example": "device-002"
          }
        },
        "description": "Schema representing details about the communication channel used for the request."
      },
      "CreateLegalComplianceOperationalActionResponse_202": {
        "title": "Operational Actions Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action after processing.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The date and time when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing of the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operational actions in the legal compliance service.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d4b09e1d-18fd-5a8c-ba78-922bfc903da0",
            "correlationId": "450c52ac-b445-5e24-9621-468ba48d0251",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate the request and its response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the action was processed.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the processed action."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being called, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-compliance-create-legal-compliance-operational-action"
        },
        "example": "legal-compliance-create-legal-compliance-operational-action"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that is performing the operation, assisting in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, which is a type of access token issued after successful authentication. This token should be sent in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}