{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Accounts Receivable Management API",
    "description": "The Accounts Receivable Management API facilitates the retrieval of account information related to outstanding payments due to a business. This API provides users with access to vital data, including invoice statuses, payment histories, and customer account details. Typical consumers of this API include financial analysts, accountants, and accounts receivable specialists looking to monitor cash flow and optimize collections. By integrating this API, organizations can enhance their financial operations, ensuring timely payments and improved liquidity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/accounts-receivable": {
      "get": {
        "tags": [
          "Accounts Management"
        ],
        "summary": "Retrieve a list of accounts receivable.",
        "description": "This endpoint allows you to retrieve a comprehensive list of accounts receivable, providing details necessary for financial management and analysis.",
        "operationId": "getAccountsReceivable",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving accounts receivable data using the GET method. This request requires a valid JSON structure conforming to the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountsReceivableRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the accounts receivable data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountsReceivableResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountsReceivableRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation on accounts receivable.",
        "example": "{}"
      },
      "GetAccountsReceivableResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of account items related to accounts receivable.",
            "example": [
              {
                "accountId": "ACC-623846",
                "customerId": "CUST-212170",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the request such as correlation and response IDs.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the accounts receivable operations GET request, detailing a collection of account items and associated metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-623846",
              "customerId": "CUST-212170",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2254b06a-cb41-58b9-ab40-3ae36039cac8",
            "correlationId": "0f0f255e-266a-5d00-835e-87a2b6b23971",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "account-123"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "customer-123"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in ISO 8601 format.",
            "example": "2023-01-01"
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the account transactions.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The current balance of the ledger.",
            "example": 1500.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the account record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the account record was last updated in ISO 8601 format.",
            "example": "2023-01-02T12:00:00Z"
          }
        },
        "description": "Details of an individual account item in the accounts receivable."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to track the request across services.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated in ISO 8601 format.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint which processed the request, providing traceability for operational purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-receivable-search-accounts-receivable"
        },
        "example": "accounts-receivable-search-accounts-receivable"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. Clients must include an HTTP Authorization header with 'Bearer {token}' to access secured endpoints. The token should be a JSON Web Token (JWT) that is properly signed and can be verified.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}