{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Cancellation API",
    "description": "The Payment Cancellation API enables businesses to efficiently manage transaction cancellations by providing a mechanism to invalidate payments. This endpoint allows authorized users to cancel a payment identified by a unique payment ID. Typically used by financial operators and customer support teams, this API facilitates seamless handling of payment disputes and adjustments. It ensures that transactions can be reversed swiftly, improving customer satisfaction and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}/cancel": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Cancel a specific payment.",
        "description": "This endpoint allows you to cancel a specified payment identified by its unique payment ID. Ensure that the payment is in a state that allows cancellation before invoking this operation.",
        "operationId": "cancelPaymentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "Request body for canceling a payment identified by PAY-300045. This operation allows you to initiate the cancellation process for the specified payment, ensuring that necessary details are provided in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPaymentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment cancellation request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPaymentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelPaymentPay300045Request": {
        "title": "Cancel Payment Request Body",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for cancellation.",
            "example": "CODE-674"
          },
          "reason": {
            "type": "string",
            "description": "A detailed explanation of the reason for cancellation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for canceling a payment operation.",
        "example": {
          "reasonCode": "CODE-674",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "0fdf03b1-c68d-5b70-affb-e9574dfcefb3",
            "correlationId": "e1b0ad04-e563-5a77-953b-fcf5702a0ee0",
            "idempotencyKey": "4caa320c-5381-5842-82de-e3a68798f7f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-550429"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different requests in the same workflow.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is idempotent, avoiding duplicate processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual metadata for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request, if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used in the request."
      },
      "CancelPaymentPay300045Response_200": {
        "title": "Payment Cancellation Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-139366"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent associated with this transaction.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "4427b359-cf44-537d-92ef-a148a783db89"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant processing the payment.",
            "example": "MER-778819"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the transaction took place.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used for the payment.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Order identifier used by the merchant.",
            "example": "ORD-134694"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment was made (e.g., online, in-store).",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details about the payment method used for the transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer involved in the transaction.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "A detailed breakdown of the amounts related to the payment.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional information related to the payment transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response returned after a payment cancellation operation.",
        "example": {
          "paymentId": "PAY-139366",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "4427b359-cf44-537d-92ef-a148a783db89",
          "merchantId": "MER-778819",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-134694",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-465",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "e4234037-eb3a-55d9-914b-e7d865e01481",
            "correlationId": "e1b0ad04-e563-5a77-953b-fcf5702a0ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, wallet).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method for secure transactions.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer of the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method, often to obfuscate sensitive information.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Identifier for the wallet provider if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the payment method details used for the transaction."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "string"
          }
        },
        "description": "Schema representing the customer involved in the payment transaction."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Details of the amount requested for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "Details of the amount authorized for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "Details of the amount captured from the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "Details of the amount refunded if applicable.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "Details of the amount reversed if applicable.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "tip": {
            "description": "Details of any tip included in the transaction.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the transaction.",
            "items": {
              "$ref": "#/components/schemas/FeeDetail"
            }
          },
          "netToMerchant": {
            "description": "Details of the net amount payable to the merchant.",
            "$ref": "#/components/schemas/NetToMerchant"
          }
        },
        "description": "Schema representing the different amounts related to the payment."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount detail with currency and value."
      },
      "FeeDetail": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee (e.g., transaction fee, service fee).",
            "example": "string"
          },
          "amount": {
            "description": "Details of the fee amount.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the fee (e.g., merchant, customer).",
            "example": "string"
          }
        },
        "description": "Schema representing fee details related to the transaction."
      },
      "NetToMerchant": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing the net amount to be received by the merchant."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the payment processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata associated with the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-payment"
        },
        "example": "banking-p2m-openapi-cancel-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context about the service handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves the use of a token (in this case, a JSON Web Token) in the Authorization header of the request. Clients must provide a valid JWT to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}