{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Direction Corporate Policies-spec",
    "description": "The Corporate Policies Retrieval API provides access to comprehensive corporate policies that govern business directions within the banking sector. This endpoint allows users to retrieve detailed information about existing corporate policies, making it essential for compliance and governance teams. Typically utilized by business analysts, regulatory compliance officers, and internal auditors, this API supports the evaluation and reporting on policy adherence across various business functions. The retrieval of these policies is crucial for maintaining organizational standards and aligning with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/corporate-policies": {
      "get": {
        "tags": [
          "Corporate Management"
        ],
        "summary": "Retrieve Corporate Policies",
        "description": "This endpoint allows users to fetch the corporate policies that guide the organization's operations and decision-making processes.",
        "operationId": "listBusinessDirectionCorporatePolicies",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving corporate policies related to business direction. Ensure that the JSON structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessDirectionCorporatePoliciesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success! The request completed successfully and the corporate policies data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessDirectionCorporatePoliciesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessDirectionCorporatePoliciesRequest": {
        "type": "string",
        "description": "This schema represents the request body format for retrieving corporate policies related to operations.",
        "example": "{}"
      },
      "ListBusinessDirectionCorporatePoliciesResponse_200": {
        "title": "Corporate Policies Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of initiative objects.",
            "example": [
              {
                "initiativeId": "STANDARD",
                "sponsorId": "STANDARD",
                "planningHorizon": "STANDARD",
                "targetDate": "2026-09-15",
                "status": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Initiative"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Corporate Policies Operations GET request, containing a list of initiatives and pagination metadata.",
        "example": {
          "items": [
            {
              "initiativeId": "STANDARD",
              "sponsorId": "STANDARD",
              "planningHorizon": "STANDARD",
              "targetDate": "2026-09-15",
              "status": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fbd91622-4bb4-5649-8b5e-91a764fd1bb5",
            "correlationId": "1fc614e7-26e1-584c-80be-47eebc69a373",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Initiative": {
        "title": "Initiative",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative."
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative."
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative."
          },
          "targetDate": {
            "type": "string",
            "description": "The target date for the initiative's completion."
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status indicating if the record is active or inactive."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the initiative was last updated."
          }
        },
        "description": "Represents an individual initiative with its associated attributes."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Contains pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-policies-search-corporate-policies"
        },
        "example": "corporate-policies-search-corporate-policies"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method via JSON Web Tokens (JWT). The client must include the token in the `Authorization` header when making requests, following the format: `Authorization: Bearer {token}`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}