{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Event Notification-v5-spec",
    "description": "The Open Banking Event Notification API allows businesses to seamlessly integrate and receive notifications about significant banking events. This API serves financial institutions and developers, enabling them to subscribe to real-time updates related to account activities, transactions, and other pertinent banking events. Typical use cases include enhancing customer engagement, ensuring regulatory compliance, and automating workflows based on banking events. The API streamlines communication between banking systems and third-party applications, fostering an ecosystem of innovation in financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-notifications": {
      "post": {
        "tags": [
          "Event Notifications"
        ],
        "summary": "Create a new event notification.",
        "description": "This operation allows the user to create a new event notification in the system. The notification can be configured based on specific criteria and will be triggered when those criteria are met.",
        "operationId": "createOpenBankingEventNotification",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body contains the necessary information for event notifications to be processed. It expects a JSON object conforming to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingEventNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingEventNotificationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingEventNotificationRequest": {
        "title": "Event Notification Request Body",
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The content value of the event notification.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating event notifications.",
        "example": {
          "value": "STANDARD",
          "requestContext": {
            "requestId": "5d24a0c2-6cc3-54ac-bb9f-265ba766cb75",
            "correlationId": "ac5cf6a9-29ee-585e-94fc-2a138f73ed92",
            "idempotencyKey": "bb612007-4f61-59e5-9ace-6df9c509cacb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-627387"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that originated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the communication channel for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual data for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. email, SMS).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "CreateOpenBankingEventNotificationResponse_202": {
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for successful POST requests to the event notifications operation.",
        "example": {
          "metadata": {
            "responseId": "a4cdd510-9e38-55f0-bdcf-c6fd8dd45bb8",
            "correlationId": "ac5cf6a9-29ee-585e-94fc-2a138f73ed92",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-11T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-notifications-api-create-event-notification"
        },
        "example": "events-notifications-api-create-event-notification"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. Clients should include a valid JSON Web Token (JWT) in the 'Authorization' header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}