{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Institutionlogin Migration-spec",
    "description": "The Institution Login Migration Management API facilitates the seamless transfer of institutional login data for customers. This endpoint allows businesses to update migration settings for specific institution logins, ensuring that the latest configurations are applied. Typical consumers of this API include IT and integration teams working to maintain or enhance login security and compliance. Use cases involve migrating user access from one system to another, thus improving user experience and enhancing operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/migration": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Migrate institution login for a specific customer.",
        "description": "This operation allows you to initiate the migration process for the institution login associated with the specified customer. It ensures that all relevant data is correctly transferred and updated in accordance with the new system requirements.",
        "operationId": "replaceInstitutionloginMigration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionloginId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the migration process for the specified customer and institution login. Ensure that all required fields are populated accurately to avoid any issues during migration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceInstitutionloginMigrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceInstitutionloginMigrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceInstitutionloginMigrationRequest": {
        "title": "Migration Request Body Schema",
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "The context of the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the migration operation for institution logins.",
        "example": {
          "requestContext": {
            "requestId": "e025f9b3-a185-59ad-9ebc-9ee8de96567f",
            "correlationId": "b6ed7972-74b0-5bec-9898-587ea18c60e9",
            "idempotencyKey": "14c7413c-4552-5053-adf1-85fbfa7d65b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-613519"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests.",
            "example": "cor-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "idempotent-key-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "source-app-1"
          },
          "channel": {
            "description": "The channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request, containing various identifiers."
      },
      "Channel": {
        "title": "Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the details of the channel through which the request is made."
      },
      "ReplaceInstitutionloginMigrationResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "List of account details associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-390487",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the migration operation of institution logins for a specific customer.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-390487",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "9321ba2f-5377-5c9e-90b8-eedbd7789492",
            "correlationId": "b6ed7972-74b0-5bec-9898-587ea18c60e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "account-id-example"
          },
          "number": {
            "type": "string",
            "description": "Account number.",
            "example": "123456789"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display format of the account number.",
            "example": "****5679"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "5679"
          },
          "name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "Savings Account"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 1000.5
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., savings, checking).",
            "example": "savings"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code related to account aggregation.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "active"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer who owns the account.",
            "example": "customer-id-example"
          },
          "institutionId": {
            "type": "string",
            "description": "Identifier for the institution related to the account.",
            "example": "institution-id-example"
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date of the account balance.",
            "format": "int32",
            "example": 1633000000
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the account aggregation was successful.",
            "format": "int32",
            "example": 1633000000
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date of the last aggregation attempt.",
            "format": "int32",
            "example": 1633000000
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32",
            "example": 1633000000
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account details were last updated.",
            "format": "int32",
            "example": 1633000000
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment associated with the account.",
            "example": "retail"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the account balance is represented.",
            "example": "USD"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the last transaction on the account.",
            "format": "int32",
            "example": 1633000000
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction on the account.",
            "format": "int32",
            "example": 1633000000
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Identifier for the institution login associated with the account.",
            "format": "int32",
            "example": 1
          },
          "detail": {
            "description": "Detailed information about the account.",
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "Detailed information about a specific account.",
        "example": {
          "id": "account-id-example",
          "number": "123456789",
          "accountNumberDisplay": "****5679",
          "realAccountNumberLast4": "5679",
          "name": "Savings Account",
          "balance": 1000.5,
          "type": "savings",
          "aggregationStatusCode": 1,
          "status": "active",
          "customerId": "customer-id-example",
          "institutionId": "institution-id-example",
          "balanceDate": 1633000000,
          "aggregationSuccessDate": 1633000000,
          "aggregationAttemptDate": 1633000000,
          "createdDate": 1633000000,
          "lastUpdatedDate": 1633000000,
          "marketSegment": "retail",
          "currency": "USD",
          "lastTransactionDate": 1633000000,
          "oldestTransactionDate": 1633000000,
          "institutionLoginId": 1,
          "detail": {
            "dateAsOf": 1633000000,
            "availableBalanceAmount": 1000.5,
            "openDate": 1633000000,
            "periodStartDate": 1633000000,
            "periodEndDate": 1633000000,
            "periodInterestRate": 0.05,
            "periodDepositAmount": 500.0,
            "periodInterestAmount": 2.5,
            "interestYtdAmount": 10.0,
            "interestPriorYtdAmount": 5.0,
            "maturityDate": 1633000000,
            "interestRate": "0.05",
            "creditAvailableAmount": 200.0,
            "creditMaxAmount": 1000.0
          }
        }
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "The date for which the detail information is provided.",
            "format": "int32",
            "example": 1633000000
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "Available balance amount in the account.",
            "example": 1000.5
          },
          "openDate": {
            "type": "integer",
            "description": "The date when the account was opened.",
            "format": "int32",
            "example": 1633000000
          },
          "periodStartDate": {
            "type": "integer",
            "description": "Start date of the period for which detail is provided.",
            "format": "int32",
            "example": 1633000000
          },
          "periodEndDate": {
            "type": "integer",
            "description": "End date of the period for which detail is provided.",
            "format": "int32",
            "example": 1633000000
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate applied during the period.",
            "example": 0.05
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Total deposit amount during the period.",
            "example": 500.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Total interest earned during the period.",
            "example": 2.5
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Year-to-date interest earned.",
            "example": 10.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Year-to-date interest earned in the previous year.",
            "example": 5.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "Maturity date of the account.",
            "format": "int32",
            "example": 1633000000
          },
          "interestRate": {
            "type": "string",
            "description": "Interest rate applicable for the account.",
            "example": "0.05"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "Amount available for credit.",
            "example": 200.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "Maximum credit amount.",
            "example": 1000.0
          }
        },
        "description": "Detailed account information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-id-example"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-id-example"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Informational metadata about the response.",
        "example": {
          "responseId": "response-id-example",
          "correlationId": "correlation-id-example",
          "generatedAt": "2023-10-10T10:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionloginId": {
        "name": "institutionloginId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-migrate-institution-login-accounts"
        },
        "example": "open-finance-api-migrate-institution-login-accounts"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, which can be useful for logging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with a JSON Web Token (JWT). Clients should include the JWT in the Authorization header when making API requests to authenticate their identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}