{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Confirmation Matching API",
    "description": "The Trade Confirmation Matching API facilitates the verification and reconciliation of trade confirmations between parties to ensure accuracy and agreement on trade details. This API enables financial institutions and trading entities to efficiently confirm trades, minimizing discrepancies and enhancing operational efficiency in trade processing. Typical users include traders, risk managers, and compliance officers who require reliable confirmation data for audit and reporting purposes. By leveraging this API, organizations can streamline their market operations and improve overall trade accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-confirmation-matching": {
      "get": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Retrieve trade confirmation matching details.",
        "description": "This endpoint allows users to retrieve details related to trade confirmation matching operations, providing insights into the status and results of trade confirmations within the market operations.",
        "operationId": "getTradeConfirmationMatching",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to match trade confirmations and must adhere to the specified schema. Ensure that the required fields are provided to facilitate accurate matching of trade confirmations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeConfirmationMatchingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trade confirmation matching request completed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeConfirmationMatchingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeConfirmationMatchingRequest": {
        "title": "Trade Confirmation Matching Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET Trade Confirmation Matching operation in the market operations API.",
        "example": "{}"
      },
      "GetTradeConfirmationMatchingResponse_200": {
        "title": "Trade Confirmation Matching Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of trade confirmation items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "clearingHouseId": "STANDARD",
                "settlementMethod": "STANDARD",
                "matchingStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeConfirmationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the trade confirmations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for trade confirmation matching operations.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "clearingHouseId": "STANDARD",
              "settlementMethod": "STANDARD",
              "matchingStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b9b2cb18-9832-57de-9a4a-82b633e06c67",
            "correlationId": "9b6ddcac-9e02-5daa-8a57-17cd40145870",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeConfirmationItem": {
        "title": "Trade Confirmation Item",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument involved in the trade.",
            "example": "string"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date on which the trade is set to be settled.",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument being traded.",
            "format": "int32",
            "example": 0
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement is to be made.",
            "example": "string"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier of the custodian handling the trade.",
            "example": "string"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier of the clearing house associated with the trade.",
            "example": "string"
          },
          "settlementMethod": {
            "type": "string",
            "description": "Method of settlement for the trade.",
            "example": "string"
          },
          "matchingStatus": {
            "type": "string",
            "description": "Current status of trade matching.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record for this trade confirmation.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the trade confirmation.",
            "example": "string"
          }
        },
        "description": "Schema representing a single trade confirmation item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-confirmation-matching-search-trade-confirmation-matching"
        },
        "example": "trade-confirmation-matching-search-trade-confirmation-matching"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context on the environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token, typically formatted as a JSON Web Token (JWT). It is a widely adopted method for securing APIs by requiring the client to include the token in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}