{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Products-spec",
    "description": "The AISP Product Retrieval API provides a means to access and list a variety of financial products available through the Account Information Service Provider (AISP). This endpoint is designed for use by financial institutions and application developers to retrieve detailed information about compliant financial products, enabling them to enhance their services and offerings. Typical consumers include banks, fintech firms, and third-party applications looking to integrate product information into their platforms. The API ensures that all data is accurate and up to date, fostering informed decision-making for end users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/products": {
      "get": {
        "tags": [],
        "summary": "Retrieve a list of AISP products.",
        "description": "This endpoint allows you to fetch a comprehensive list of available products under the AISP category. It provides detailed information that can be utilized for analysis, decision-making, and further processing.",
        "operationId": "listAispProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving products available in the AISP system. It specifies the necessary parameters required to filter or request specific product information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved product information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispProductsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to products in the AISPS.",
        "example": "{}"
      },
      "ListAispProductsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Product": {
                "type": "array",
                "description": "List of products.",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "Container for product data.",
            "example": {
              "Product": [
                {
                  "name": "Northstar Banking Service",
                  "id": "STANDARD",
                  "AccountId": "ACC-724758",
                  "SecondaryProductId": "PROD-657713",
                  "type": "STANDARD",
                  "MarketingStateId": "STANDARD",
                  "OtherProductType": {
                    "Name": "Northstar Banking Service",
                    "Description": "Customer banking request processed successfully",
                    "ProductDetails": {
                      "Segment": [
                        "STANDARD"
                      ],
                      "FeeFreeLength": 1,
                      "FeeFreeLengthPeriod": "STANDARD",
                      "MonthlyMaximumCharge": "STANDARD",
                      "Notes": [
                        "STANDARD"
                      ],
                      "OtherSegment": {
                        "Code": "SUCCESS",
                        "Name": "Northstar Banking Service",
                        "Description": "Customer banking request processed successfully"
                      }
                    },
                    "CreditInterest": {
                      "TierBandSet": [
                        {
                          "TierBandMethod": "STANDARD",
                          "CalculationMethod": "STANDARD",
                          "Destination": "STANDARD",
                          "Notes": [
                            "STANDARD"
                          ],
                          "OtherCalculationMethod": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "OtherDestination": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "TierBand": [
                            {
                              "Identification": "STANDARD",
                              "TierValueMinimum": "STANDARD",
                              "TierValueMaximum": "STANDARD",
                              "CalculationFrequency": "STANDARD",
                              "ApplicationFrequency": "STANDARD",
                              "DepositInterestAppliedCoverage": "STANDARD",
                              "FixedVariableInterestRateType": "STANDARD",
                              "AER": "STANDARD",
                              "BankInterestRateType": "STANDARD"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response structure for retrieving products operations.",
        "example": {
          "Data": {
            "Product": [
              {
                "name": "Northstar Banking Service",
                "id": "STANDARD",
                "AccountId": "ACC-724758",
                "SecondaryProductId": "PROD-657713",
                "type": "STANDARD",
                "MarketingStateId": "STANDARD",
                "OtherProductType": {
                  "Name": "Northstar Banking Service",
                  "Description": "Customer banking request processed successfully",
                  "ProductDetails": {
                    "Segment": [
                      "STANDARD"
                    ],
                    "FeeFreeLength": 1,
                    "FeeFreeLengthPeriod": "STANDARD",
                    "MonthlyMaximumCharge": "STANDARD",
                    "Notes": [
                      "STANDARD"
                    ],
                    "OtherSegment": {
                      "Code": "SUCCESS",
                      "Name": "Northstar Banking Service",
                      "Description": "Customer banking request processed successfully"
                    }
                  },
                  "CreditInterest": {
                    "TierBandSet": [
                      {
                        "TierBandMethod": "STANDARD",
                        "CalculationMethod": "STANDARD",
                        "Destination": "STANDARD",
                        "Notes": [
                          "STANDARD"
                        ],
                        "OtherCalculationMethod": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "OtherDestination": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "TierBand": [
                          {
                            "Identification": "STANDARD",
                            "TierValueMinimum": "STANDARD",
                            "TierValueMaximum": "STANDARD",
                            "CalculationFrequency": "STANDARD",
                            "ApplicationFrequency": "STANDARD",
                            "DepositInterestAppliedCoverage": "STANDARD",
                            "FixedVariableInterestRateType": "STANDARD",
                            "AER": "STANDARD",
                            "BankInterestRateType": "STANDARD"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "e689efd2-36e2-5d06-8b02-8ea0148c70b0",
            "correlationId": "108be79b-6728-5a4f-956a-da03dbe79d3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Premium Savings Account"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "prod_12345"
          },
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with this product.",
            "example": "acc_67890"
          },
          "SecondaryProductId": {
            "type": "string",
            "description": "An identifier for the secondary product, if applicable.",
            "example": "sec_prod_54321"
          },
          "type": {
            "type": "string",
            "description": "The type of the product.",
            "example": "savings"
          },
          "MarketingStateId": {
            "type": "string",
            "description": "Identifier for the marketing state of the product.",
            "example": "market_1"
          },
          "OtherProductType": {
            "$ref": "#/components/schemas/OtherProductType"
          }
        },
        "description": "Details of a single product."
      },
      "OtherProductType": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "Name of the other product type.",
            "example": "Special Offer"
          },
          "Description": {
            "type": "string",
            "description": "Description of the other product type.",
            "example": "Limited-time offer for new customers."
          },
          "ProductDetails": {
            "$ref": "#/components/schemas/ProductDetails"
          }
        },
        "description": "Additional information about the product type."
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "Segment": {
            "type": "array",
            "description": "Segments associated with the product.",
            "items": {
              "type": "string",
              "example": "Retail"
            }
          },
          "FeeFreeLength": {
            "type": "integer",
            "description": "Length of time the product is fee-free.",
            "format": "int32",
            "example": 12
          },
          "FeeFreeLengthPeriod": {
            "type": "string",
            "description": "Period for the fee-free length, e.g., months.",
            "example": "months"
          },
          "MonthlyMaximumCharge": {
            "type": "string",
            "description": "Maximum charge per month for the product.",
            "example": "25.00"
          },
          "Notes": {
            "type": "array",
            "description": "Additional notes regarding the product.",
            "items": {
              "type": "string",
              "example": "Terms and conditions apply."
            }
          },
          "OtherSegment": {
            "$ref": "#/components/schemas/OtherSegment"
          }
        },
        "description": "Detailed specifications of the product."
      },
      "OtherSegment": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code representing the segment.",
            "example": "seg_123"
          },
          "Name": {
            "type": "string",
            "description": "Name of the additional segment.",
            "example": "Business"
          },
          "Description": {
            "type": "string",
            "description": "Description of the additional segment.",
            "example": "Applicable for small businesses."
          }
        },
        "description": "Additional segment information for the product."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for tracking the request/response correlation.",
            "example": "corr_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-products"
        },
        "example": "accounts-api-get-products"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of the request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}