{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Card Transaction Switch Review-v5-spec",
    "description": "This API facilitates the submission of reviews for banking operational services related to card transaction switches. It enables consumers to assess and provide feedback on the card transaction processing mechanisms in place. By utilizing this endpoint, financial institutions and service providers can enhance operational efficiency and improve customer satisfaction. Use cases typically include compliance assessments and performance evaluations based on transaction switch operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/{cardTransactionSwitchId}/reviews": {
      "post": {
        "tags": [
          "CardTransactionReview"
        ],
        "summary": "Submit a review for a card transaction switch operation.",
        "description": "This endpoint allows users to submit a review for the specific card transaction switch identified by CARD-400045. Provide your feedback to help improve our services.",
        "operationId": "createBankingOperationalServicesCardTransactionSwitchReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardTransactionSwitchId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for the card transaction identified by CARD-400045. It should contain all necessary details as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesCardTransactionSwitchReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing but not yet completed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesCardTransactionSwitchReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesCardTransactionSwitchReviewRequest": {
        "title": "Card Transaction Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review of the transaction.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "Scope of the review, providing context regarding which aspects are under review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual aspect of the review scope.",
              "example": "Transaction amount"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier for the reviewer assigned to this transaction review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date by which the review should be completed, formatted as an ISO 8601 date string.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for reviewing a card transaction operation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "6267c7a7-2b62-5475-b61a-4825b83e3669",
            "correlationId": "22bc713b-ce43-5797-a06b-50be0dd5590e",
            "idempotencyKey": "35735a36-e7e6-5f65-97d4-3208ec04e5ef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-774509"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for this specific request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple calls for request tracking.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests have the same effect as a single request.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, formatted as an ISO 8601 date string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request was originated.",
            "example": "Payment Gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "Mobile Banking App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual details of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request was made, e.g., Web, Mobile.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema containing information about the channel used for the request."
      },
      "CreateBankingOperationalServicesCardTransactionSwitchReviewResponse_202": {
        "title": "Card Transaction Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed during the transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction review.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the transaction and its processing.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response object for the Card Transaction Review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "b82cfaff-5b2d-5fd0-8286-3183966dac4f",
            "correlationId": "22bc713b-ce43-5797-a06b-50be0dd5590e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "cardTransactionSwitchId": {
        "name": "cardTransactionSwitchId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-review-card-transaction-switch-processing"
        },
        "example": "card-transaction-switch-review-card-transaction-switch-processing"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the transaction, aiding in identifying the processing source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, utilizing JSON Web Tokens (JWT) for secure transmission of user identity and claims. Include the token in the Authorization header as 'Bearer {token}' when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}