{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Reconciliation API",
    "description": "The Account Reconciliation API facilitates the process of aligning and verifying financial records within banking operations. This API provides access to reconciliation data, enabling businesses to ensure their account balances are accurate and consistent across systems. Financial institutions and accounting departments are typical consumers of this API, utilizing it to enhance their financial reporting and compliance efforts. By streamlining data retrieval, this API supports improved decision-making and operational efficiency in account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/account-reconciliation": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve account reconciliation details",
        "description": "This endpoint allows you to fetch detailed information about account reconciliation, providing insights into transaction balances and discrepancies. Useful for auditing and financial assessments.",
        "operationId": "getAccountReconciliation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the account reconciliation process. It should contain the necessary parameters to identify the accounts involved in the reconciliation and any other relevant details required for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountReconciliationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account reconciliation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountReconciliationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountReconciliationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Account Reconciliation GET operation in the Account Management API.",
        "example": "{}"
      },
      "GetAccountReconciliationResponse_200": {
        "title": "Account Reconciliation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of account reconciliation entries.",
            "example": [
              {
                "accountId": "ACC-527572",
                "customerId": "CUST-226350",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountReconciliationEntry"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the account reconciliation entries.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the account reconciliation operation.",
        "example": {
          "items": [
            {
              "accountId": "ACC-527572",
              "customerId": "CUST-226350",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "586264b6-bf4b-5b72-9a26-9bacd7683d87",
            "correlationId": "1b6343e9-dc7c-54c3-bff0-0f14d71caf6f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountReconciliationEntry": {
        "title": "Account Reconciliation Entry",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the account balance is held.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the account on the ledger date.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the entry was last updated.",
            "example": "string"
          }
        },
        "description": "This schema represents a single entry in the account reconciliation list."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the full dataset.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "This schema represents pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID to trace requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "This schema holds additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request. This helps in tracing specific calls within the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-reconciliation-search-account-reconciliation"
        },
        "example": "account-reconciliation-search-account-reconciliation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. Useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token authentication format, specifically designed for JSON Web Tokens (JWT). Clients are required to include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}