{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Delete Business Direction By Param1-spec",
    "description": "This API enables the deletion of a specific business direction using a unique continuity planning parameter. By providing the designated param1 value, users can effectively remove outdated or irrelevant business direction entries from the system. This operation is crucial for businesses aiming to maintain accurate records and streamline their strategic planning processes. Typically used by operational teams or system administrators, this API ensures that only current and applicable business data is retained.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/continuity-planning/{param1}": {
      "delete": {
        "tags": [],
        "summary": "Remove a continuity planning resource.",
        "description": "This operation allows users to delete a specific continuity planning resource identified by its unique ID. Make sure the resource is not actively in use before proceeding with the deletion.",
        "operationId": "deleteBusinessDirectionByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for deleting the specified business continuity planning resource. Ensure that you provide the necessary details within the specified schema to successfully process the deletion.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteBusinessDirectionByParam1Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource deleted successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteBusinessDirectionByParam1Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "DeleteBusinessDirectionByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the DELETE operation related to business continuity planning in operations.",
        "example": "{}"
      },
      "DeleteBusinessDirectionByParam1Response_201": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "Unique identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the initiative.",
            "example": "RES-543783"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the initiative was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata containing additional information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the delete operation of a continuity planning initiative.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "resourceId": "RES-543783",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a8c19b77-27fe-5b05-b8af-dfed7e9e5c96",
            "correlationId": "1d30ce68-3842-53c7-bffc-c493435253b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to match requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata object that provides additional context to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "continuity-planning-create-continuity-planning"
        },
        "example": "continuity-planning-create-continuity-planning"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow that encompasses the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-088"
        },
        "example": "WF-088"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Business Continuity Activation and Recovery"
        },
        "example": "Business Continuity Activation and Recovery"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "The unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1b4f0ad2-1b0e-48a5-a0f9-ba3ece4e1184"
        },
        "example": "1b4f0ad2-1b0e-48a5-a0f9-ba3ece4e1184"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer token for authentication, where a JSON Web Token (JWT) is provided in the request header. Ensure that the token is valid and properly scoped for access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}