{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Knowledge Asset By Param1-spec",
    "description": "This API enables users to access specific knowledge assets by a unique parameter, providing targeted information retrieval. Users can utilize this endpoint to query for management manuals and other critical resources essential for informed decision-making. Typical consumers of this API include banking professionals, compliance officers, and operational managers seeking quick access to up-to-date procedural documents. The service enhances operational efficiency by streamlining access to essential knowledge assets, thereby supporting regulatory compliance and best practice implementation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual/{param1}": {
      "get": {
        "tags": [
          "Knowledge Assets"
        ],
        "summary": "Retrieve a specific management manual by its ID.",
        "description": "This operation fetches the details of a management manual identified by the resource ID provided in the request path. It allows users to access relevant information about the management manual for review or further actions.",
        "operationId": "getKnowledgeAssetByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the management manual resource identified by RES-100045. It should be constructed according to the specified schema to ensure the correct extraction of data pertaining to the management manual.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetKnowledgeAssetByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the requested data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetKnowledgeAssetByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetKnowledgeAssetByParam1Request": {
        "type": "string",
        "description": "A JSON string representing the request body for GET operations related to the management manual in knowledge assets.",
        "example": "{}"
      },
      "GetKnowledgeAssetByParam1Response_200": {
        "title": "Management Manual Response Schema",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "Title of the management manual.",
            "example": "Banking operation completed"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the management manual.",
            "format": "int32",
            "example": 1
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier for the owner of the management manual.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date indicating when the management manual becomes effective.",
            "example": "2026-09-15"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the management manual.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the management manual.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the management manual response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the management manual retrieval operation.",
        "example": {
          "manualId": "STANDARD",
          "title": "Banking operation completed",
          "version": 1,
          "ownerId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "classification": "STANDARD",
          "recordStatus": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ee6e6735-141f-5ac6-a6b1-582ad8e72b54",
            "correlationId": "10c47dc9-abb4-5899-9024-cd1f9c6ad6b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request and response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the management manual response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was accessed during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-get-management-manual"
        },
        "example": "management-manual-get-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that executed the runtime processing for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients should include the token in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}