{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mutual Fund Administration API",
    "description": "The Mutual Fund Administration API facilitates access to essential mutual fund management operations within banking systems. This API allows users to retrieve detailed information about mutual fund transactions, account statuses, and fund performance metrics. Typical consumers include financial institutions, investment managers, and financial advisors who require real-time data for informed decision-making. By integrating this API, organizations can enhance their operational efficiency, optimize client services, and support various financial products related to mutual fund offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/mutual-fund-administration": {
      "get": {
        "tags": [
          "Mutual Fund Operations"
        ],
        "summary": "Retrieve mutual fund administration details.",
        "description": "This endpoint allows users to access details regarding the administration of mutual funds, including relevant operational information and statuses.",
        "operationId": "getMutualFundAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding mutual fund administration operations. Ensure all required parameters are included to get accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMutualFundAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved mutual fund administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMutualFundAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMutualFundAdministrationRequest": {
        "type": "string",
        "description": "A string representation used in the request body for the mutual fund administration operations.",
        "example": "{}"
      },
      "GetMutualFundAdministrationResponse_200": {
        "title": "Mutual Fund Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of mutual fund items returned in the response.",
            "example": [
              {
                "fundId": "STANDARD",
                "shareClassId": "STANDARD",
                "valuationDate": "2026-09-15",
                "netAssetValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "unitsOutstanding": 1,
                "administratorId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FundItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationDetails"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the Mutual Fund Administration GET operation, including fund items, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "fundId": "STANDARD",
              "shareClassId": "STANDARD",
              "valuationDate": "2026-09-15",
              "netAssetValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "unitsOutstanding": 1,
              "administratorId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "20997171-6b65-5795-8ddd-79aa6969051a",
            "correlationId": "ae05fc7e-c28a-5d01-b4b3-ec65f5ea3928",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundItem": {
        "title": "Fund Item",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Unique identifier for the fund.",
            "example": "string"
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier for the share class of the fund.",
            "example": "string"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date on which the fund's valuation is provided.",
            "example": "string"
          },
          "netAssetValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The amount of net asset value.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "The currency of the net asset value.",
                "example": "string"
              }
            },
            "description": "The net asset value of the fund."
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "The total number of units outstanding for the fund.",
            "format": "int32",
            "example": 0
          },
          "administratorId": {
            "type": "string",
            "description": "Identifier for the administrator managing the fund.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the fund record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the fund details were last updated.",
            "example": "string"
          }
        },
        "description": "Represents a mutual fund item with its relevant details."
      },
      "PaginationDetails": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the paginated results.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response, including response identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mutual-fund-administration-search-mutual-fund-administration"
        },
        "example": "mutual-fund-administration-search-mutual-fund-administration"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application runtime context in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This implementation utilizes JSON Web Tokens (JWT) for secure and stateless authentication between client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}