{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Models Economic Capital By Economic Capital Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update Banking Models Economic Capital By Economic Capital Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/economic-capital/{economicCapitalId}": {
      "patch": {
        "operationId": "updateBankingModelsEconomicCapitalByEconomicCapitalId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/economicCapitalId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingModelsEconomicCapitalByEconomicCapitalIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingModelsEconomicCapitalByEconomicCapitalIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingModelsEconomicCapitalByEconomicCapitalIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "modelId": {
                "type": "string",
                "example": "string"
              },
              "modelVersion": {
                "type": "string",
                "example": "string"
              },
              "portfolioId": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-786778"
            }
          },
          "changeReason": {
            "type": "string",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "9115f94d-75c7-53ab-838f-06f67fe15892",
              "correlationId": "7fdc22e1-3ff6-5603-9c5b-022a0d1996b9",
              "idempotencyKey": "ba026a4f-c45d-5903-b21c-51c75ee0ac12",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-605966"
              }
            }
          }
        },
        "example": {
          "changes": {
            "modelId": "STANDARD",
            "modelVersion": "STANDARD",
            "portfolioId": "PORT-786778"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9115f94d-75c7-53ab-838f-06f67fe15892",
            "correlationId": "7fdc22e1-3ff6-5603-9c5b-022a0d1996b9",
            "idempotencyKey": "ba026a4f-c45d-5903-b21c-51c75ee0ac12",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-605966"
            }
          }
        }
      },
      "UpdateBankingModelsEconomicCapitalByEconomicCapitalIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "407e2a02-8aa0-559a-8c6e-7f2ad0a917bf",
              "correlationId": "7fdc22e1-3ff6-5603-9c5b-022a0d1996b9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "407e2a02-8aa0-559a-8c6e-7f2ad0a917bf",
            "correlationId": "7fdc22e1-3ff6-5603-9c5b-022a0d1996b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "economicCapitalId": {
        "name": "economicCapitalId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "economic-capital-update-economic-capital"
        },
        "example": "economic-capital-update-economic-capital"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}