{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Operational Services Channel Activity History By Channel Activity History Id-v5-spec",
    "description": "The Update Channel Activity History API allows for the modification of existing banking operational services channel activity records by their unique identifiers. This endpoint facilitates the adjustment of key details, ensuring that all channel activities reflect the most current information. Typically used by financial institutions, this API streamlines the management of operational records to enhance reporting accuracy and operational efficiency. Developers can utilize this API to keep channel activity histories up to date with minimal disruption to services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-history/{channelActivityHistoryId}": {
      "patch": {
        "tags": [
          "Channel Activity Management"
        ],
        "summary": "Update Channel Activity History",
        "description": "This operation allows you to update the details of a specific channel activity history entry identified by the resource ID RES-100045. It is essential for keeping track of changes in channel activities and recording updates in the system.",
        "operationId": "updateBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/channelActivityHistoryId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the activity history for the specified operational channel. It includes details about the changes to be made, following the schema defined for the PATCH operation. Ensure that the required fields in the schema are populated correctly to execute the update successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryIdRequest": {
        "title": "Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes being made in the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the PATCH operation related to channel activity history, capturing necessary changes and metadata.",
        "example": {
          "changes": {
            "operationId": "STANDARD",
            "customerId": "CUST-666405",
            "accountId": "ACC-166983"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "649c6609-e677-5581-9006-27732be743da",
            "correlationId": "4f18914c-2e88-5f47-891b-8db121b02d1f",
            "idempotencyKey": "0449198a-a862-532d-8c70-c0686596d199",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-448968"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation being requested.",
            "example": "op-001"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the changes.",
            "example": "cust-123"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account affected by the changes.",
            "example": "acc-456"
          }
        },
        "description": "This schema captures the specific operational changes being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to track related requests.",
            "example": "corr-012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure idempotency of the operation.",
            "example": "idp-345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-12T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is initiating the request.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is originating.",
            "example": "web-app"
          },
          "channel": {
            "description": "The channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema includes various identifiers and metadata for tracking the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device making the request.",
            "example": "device-abc"
          }
        },
        "description": "This schema represents the channel information related to the request."
      },
      "UpdateBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for PATCH operation on channel activity history.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "25620239-4950-5dc4-b449-6191b819798e",
            "correlationId": "4f18914c-2e88-5f47-891b-8db121b02d1f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "channelActivityHistoryId": {
        "name": "channelActivityHistoryId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint being accessed, used for tracing and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-history-update-channel-activity-history"
        },
        "example": "channel-activity-history-update-channel-activity-history"
      },
      "x-runtime-app": {
        "description": "The name of the application that is processing the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which involves providing a security token in the Authorization header. The token is a JWT (JSON Web Token), which serves as a unique identifier for user sessions and carries claims regarding the authenticated user's identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}