{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Qr Payment Requests-v5-spec",
    "description": "MICROSERVICE-PROD-List P2m Qr Payment Requests-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests": {
      "get": {
        "operationId": "listP2mQrPaymentRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mQrPaymentRequestsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mQrPaymentRequestsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mQrPaymentRequestsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListP2mQrPaymentRequestsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "example": "string"
                },
                "href": {
                  "type": "string",
                  "example": "string"
                },
                "method": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "items": {
            "type": "array",
            "example": [
              {
                "qrPaymentRequestId": "a4a08fc6-99db-5e87-8190-151dcf43fcf4",
                "merchantId": "MER-581922",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "mode": "STANDARD",
                "standard": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "merchantOrderId": "ORD-539874",
                "description": "Customer banking request processed successfully",
                "tipOptions": {
                  "mode": "STANDARD",
                  "fixedAmounts": [
                    {
                      "currency": "USD",
                      "value": "STANDARD"
                    }
                  ],
                  "percentages": [
                    "STANDARD"
                  ],
                  "maximumTip": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "qrPayload": "STANDARD",
                "qrImageUrl": "https://example.com/resource",
                "status": "ACTIVE",
                "singleUse": true,
                "paidAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "paymentId": "PAY-773179",
                "expiresAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "qrPaymentRequestId": {
                  "type": "string",
                  "example": "string"
                },
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "outletId": {
                  "type": "string",
                  "example": "string"
                },
                "terminalId": {
                  "type": "string",
                  "example": "string"
                },
                "mode": {
                  "type": "string",
                  "example": "string"
                },
                "standard": {
                  "type": "string",
                  "example": "string"
                },
                "amount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "merchantOrderId": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "tipOptions": {
                  "type": "object",
                  "properties": {
                    "mode": {
                      "type": "string",
                      "example": "string"
                    },
                    "fixedAmounts": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "currency": {
                            "type": "string",
                            "example": "string"
                          },
                          "value": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "percentages": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "maximumTip": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "qrPayload": {
                  "type": "string",
                  "example": "string"
                },
                "qrImageUrl": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "singleUse": {
                  "type": "boolean",
                  "example": false
                },
                "paidAmount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "paymentId": {
                  "type": "string",
                  "example": "string"
                },
                "expiresAt": {
                  "type": "string",
                  "example": "string"
                },
                "audit": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "createdBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "83b2232e-9296-5d78-b829-42163ed24ede",
              "correlationId": "cc47b416-50b5-51d2-860f-00524fc44f47",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "qrPaymentRequestId": "a4a08fc6-99db-5e87-8190-151dcf43fcf4",
              "merchantId": "MER-581922",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "mode": "STANDARD",
              "standard": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "merchantOrderId": "ORD-539874",
              "description": "Customer banking request processed successfully",
              "tipOptions": {
                "mode": "STANDARD",
                "fixedAmounts": [
                  {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                ],
                "percentages": [
                  "STANDARD"
                ],
                "maximumTip": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "qrPayload": "STANDARD",
              "qrImageUrl": "https://example.com/resource",
              "status": "ACTIVE",
              "singleUse": true,
              "paidAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "paymentId": "PAY-773179",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "83b2232e-9296-5d78-b829-42163ed24ede",
            "correlationId": "cc47b416-50b5-51d2-860f-00524fc44f47",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-qr-payment-requests"
        },
        "example": "banking-p2m-openapi-list-qr-payment-requests"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}