{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Fcra Payment Success Indicator-spec",
    "description": "This API enables businesses to manage the FCRA payment success indicators associated with customer accounts. By allowing the submission of payment success indicators for specific accounts, organizations can effectively monitor and enhance payment processing reliability. Typical consumers of this API include financial institutions and payment service providers that require precise tracking of payment success metrics. The operation supports the optimization of customer account management by ensuring timely updates to payment success indicators.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/fcra-payment-success-indicators": {
      "post": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Create Payment Success Indicators",
        "description": "This endpoint allows you to create payment success indicators for a specific account under a customer. Use this operation to track payment success metrics, which are essential for managing account health and customer satisfaction.",
        "operationId": "createAccountFcraPaymentSuccessIndicator",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit the payment success indicators for the specified account under a customer. It contains the necessary data that indicates the status of payment transactions for the account in question.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountFcraPaymentSuccessIndicatorRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and will be processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountFcraPaymentSuccessIndicatorResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountFcraPaymentSuccessIndicatorRequest": {
        "type": "object",
        "properties": {
          "transaction": {
            "description": "Details about the transaction.",
            "$ref": "#/components/schemas/Transaction"
          },
          "user": {
            "description": "Information about the user making the request.",
            "$ref": "#/components/schemas/User"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the FCRA payment success indicators operation.",
        "example": {
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "user": {
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "address": {
              "streetLine1": "STANDARD",
              "streetLine2": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            },
            "phone": {
              "countryHint": "STANDARD",
              "number": "STANDARD"
            }
          },
          "requestContext": {
            "requestId": "f9acc1bc-d03b-5883-a581-a7942423dfef",
            "correlationId": "abf1b2b2-bf53-5295-b3b2-92e501bd825f",
            "idempotencyKey": "2d16da0f-ecea-50d4-98b7-460cfc3ad2ae",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-787261"
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "Date by which the transaction should be settled.",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "Amount involved in the transaction.",
            "example": 0.0
          }
        },
        "description": "Details of the transaction."
      },
      "User": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the user.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The email address of the user.",
            "example": "john.doe@example.com"
          },
          "address": {
            "description": "The user's address information.",
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "description": "The user's phone information.",
            "$ref": "#/components/schemas/Phone"
          }
        },
        "description": "Details about the user."
      },
      "Address": {
        "type": "object",
        "properties": {
          "streetLine1": {
            "type": "string",
            "description": "The first line of the street address.",
            "example": "123 Main St"
          },
          "streetLine2": {
            "type": "string",
            "description": "The second line of the street address.",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "The city of the user.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state of the user.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the user.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "The country of the user.",
            "example": "USA"
          }
        },
        "description": "The address of the user."
      },
      "Phone": {
        "type": "object",
        "properties": {
          "countryHint": {
            "type": "string",
            "description": "The hint for the country code.",
            "example": "+1"
          },
          "number": {
            "type": "string",
            "description": "The actual phone number of the user.",
            "example": "555-0123"
          }
        },
        "description": "The phone number details of the user."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate related requests.",
            "example": "cor-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "key-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "InternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application.",
            "example": "PaymentApp"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information about the request being made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Details about the channel through which the request was submitted."
      },
      "CreateAccountFcraPaymentSuccessIndicatorResponse_202": {
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "description": "Unique identifier for the payment request.",
            "example": "b1cb7c4d-fe10-51fd-a0ae-8753c462c086"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the payment request.",
            "example": "CUST-520920"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the payment request.",
            "example": "ACC-444852"
          },
          "requestDate": {
            "type": "string",
            "description": "Date when the payment request was made.",
            "example": "2026-09-15"
          },
          "transaction": {
            "description": "Details about the transaction associated with the payment request.",
            "$ref": "#/components/schemas/Transaction"
          },
          "nsfReturnRisk": {
            "description": "Assessment of Non-Sufficient Funds return risk associated with the payment.",
            "$ref": "#/components/schemas/NsfReturnRisk"
          },
          "unauthorizedReturnRisk": {
            "description": "Assessment of unauthorized return risk for the payment.",
            "$ref": "#/components/schemas/UnauthorizedReturnRisk"
          },
          "metadata": {
            "description": "Additional information related to the payment request response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful processing of a payment indicator request.",
        "example": {
          "payRequestId": "b1cb7c4d-fe10-51fd-a0ae-8753c462c086",
          "status": "ACTIVE",
          "customerId": "CUST-520920",
          "accountId": "ACC-444852",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-581435",
              "externalTransactionId": "TXN-953988",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "919f9f98-18e8-5fc0-9f11-8d7968df2b24",
            "correlationId": "abf1b2b2-bf53-5295-b3b2-92e501bd825f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NsfReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "availableBalance": {
                "type": "number",
                "description": "Available balance in the account.",
                "example": 0.0
              },
              "dailyResults": {
                "type": "array",
                "description": "List of daily result assessments.",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "potentialSettlementDate": {
                      "type": "string",
                      "description": "Potential date for settlement.",
                      "example": "string"
                    },
                    "score": {
                      "type": "integer",
                      "description": "Risk score associated with the assessment.",
                      "format": "int32",
                      "example": 0
                    },
                    "indicator": {
                      "type": "string",
                      "description": "Indicator of risk assessment.",
                      "example": "string"
                    },
                    "reasons": {
                      "$ref": "#/components/schemas/NsfReasons"
                    }
                  }
                }
              }
            },
            "example": "string"
          },
          "error": {
            "description": "Error details in case of an issue with the risk assessment.",
            "$ref": "#/components/schemas/Error"
          }
        },
        "description": "Assessment of the Non-Sufficient Funds risk."
      },
      "NsfReasons": {
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "Recent balance in the account.",
            "format": "int32",
            "example": 0
          },
          "balanceHistory": {
            "type": "integer",
            "description": "Historical balance information.",
            "format": "int32",
            "example": 0
          },
          "nsfHistory": {
            "type": "integer",
            "description": "History of Non-Sufficient Funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Most recent Non-Sufficient Funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Count of recurring Non-Sufficient Funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "Historical spending information.",
            "format": "int32",
            "example": 0
          },
          "depositHistory": {
            "type": "integer",
            "description": "Historical deposit information.",
            "format": "int32",
            "example": 0
          },
          "transactionAmount": {
            "type": "integer",
            "description": "Amount of the transaction that triggered the assessment.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Reasons contributing to the NSF risk assessment."
      },
      "UnauthorizedReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer",
                "description": "Risk score for unauthorized return.",
                "format": "int32",
                "example": 0
              },
              "indicator": {
                "type": "string",
                "description": "Indicator for unauthorized return risk.",
                "example": "string"
              }
            },
            "example": "string"
          },
          "error": {
            "description": "Error details in case of an issue with the unauthorized return assessment.",
            "$ref": "#/components/schemas/Error"
          }
        },
        "description": "Assessment of unauthorized return risk."
      },
      "Error": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "HTTP status of the error.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "Title of the error.",
            "example": "string"
          },
          "level": {
            "type": "string",
            "description": "Level of severity of the error.",
            "example": "string"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message.",
            "example": "string"
          },
          "user_message": {
            "type": "string",
            "description": "Message intended for the user.",
            "example": "string"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset associated with the error.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the error.",
            "example": "string"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "Identifier for the external transaction associated with the error.",
            "example": "string"
          },
          "tags": {
            "type": "string",
            "description": "Tags associated with the error.",
            "example": "string"
          }
        },
        "description": "Details of an error response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information about the payment request response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-fcra-payment-success-indicators"
        },
        "example": "open-finance-api-generate-fcra-payment-success-indicators"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, typically a JSON Web Token (JWT), to authorize API requests. Clients must include the token in the `Authorization` header of their requests. The token is expected to be a valid JWT with appropriate claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}