{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Tax Advisory API",
    "description": "The Corporate Tax Advisory API provides essential services for businesses seeking expert guidance on corporate tax matters. This API facilitates access to a range of tax advisory resources, helping clients navigate complex tax regulations, optimize their tax strategies, and ensure compliance. Typical consumers include corporate finance teams, tax professionals, and consultants who require up-to-date information and insights. By leveraging this API, organizations can enhance their financial decision-making processes and drive tax efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/corporate-tax-advisory": {
      "get": {
        "tags": [
          "Corporate Services"
        ],
        "summary": "Retrieve Corporate Tax Advisory Services",
        "description": "This endpoint allows clients to access comprehensive information regarding corporate tax advisory services, including available options, features, and benefits tailored to their business needs.",
        "operationId": "getCorporateTaxAdvisory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding corporate tax advisory services. It should contain all necessary parameters and filters to specify the desired advisory details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateTaxAdvisoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested corporate tax advisory information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateTaxAdvisoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateTaxAdvisoryRequest": {
        "type": "string",
        "description": "This schema represents the request body content for the corporate finance tax advisory operations in GET requests. It is currently a placeholder for string type data.",
        "example": "{}"
      },
      "GetCorporateTaxAdvisoryResponse_200": {
        "title": "Corporate Tax Advisory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of corporate tax advisory records.",
            "example": [
              {
                "clientId": "STANDARD",
                "engagementId": "STANDARD",
                "transactionType": "STANDARD",
                "enterpriseValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "targetCloseDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporateTaxAdvisoryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sort order for the advisory records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for Corporate Tax Advisory operations.",
        "example": {
          "items": [
            {
              "clientId": "STANDARD",
              "engagementId": "STANDARD",
              "transactionType": "STANDARD",
              "enterpriseValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "targetCloseDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b8b45521-7d42-577a-b565-d549902421ea",
            "correlationId": "be0c0617-65cb-5d12-bc9f-5b5657bef71a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporateTaxAdvisoryItem": {
        "title": "Corporate Tax Advisory Item",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "string"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction related to the advisory.",
            "example": "string"
          },
          "enterpriseValue": {
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target date for closing the advisory engagement.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the advisory record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single corporate tax advisory record."
      },
      "EnterpriseValue": {
        "title": "Enterprise Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency type for the enterprise value amount.",
            "example": "string"
          }
        },
        "description": "Represents the enterprise value information for an advisory engagement."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of advisory items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Metadata related to pagination of advisory records."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-tax-advisory-search-corporate-tax-advisory"
        },
        "example": "corporate-tax-advisory-search-corporate-tax-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method based on JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}