{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Training Management API",
    "description": "The Product Training Management API provides an interface for accessing and managing product training resources within the banking sector. This API allows organizations to retrieve detailed information about available product training programs, including descriptions, schedules, and targeted audiences. It is particularly valuable for financial institutions looking to enhance their staff's knowledge of product offerings and improve service delivery. Users such as training coordinators and product managers can leverage this API to ensure their teams are well-informed and equipped to meet customer needs effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-training": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product training information.",
        "description": "This endpoint allows users to fetch details about product training sessions available in the product management system. It provides essential information that helps in understanding the training offered for various products.",
        "operationId": "getProductTraining",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to provide input parameters required for the product training operation. It should contain data in JSON format as specified by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductTrainingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested product training details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductTrainingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductTrainingRequest": {
        "type": "string",
        "description": "A string representation of the request body for product management training operations.",
        "example": "{}"
      },
      "GetProductTrainingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of products returned in the response.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the products returned.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product training operation, containing product details and pagination information.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "13ce5406-6965-5aa2-9717-c2ca817d454e",
            "correlationId": "89e6789e-ede6-5b12-967d-9e120b74783e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code assigned to the product.",
            "example": "P12345"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Sample Product"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers for which the product is intended.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the product pricing is defined.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product is effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the product record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the product record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Detailed information about a product."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "correlation-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-training-search-product-training"
        },
        "example": "product-training-search-product-training"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens based on JSON Web Tokens (JWT). This method is used to secure endpoints and validate user identity in RESTful services.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}