{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Authorization Extend-spec",
    "description": "The Extend Authorization API allows businesses to prolong the validity of existing authorizations by specifying the unique authorization ID. This operation is essential for maintaining continuity in user access and service usage, particularly in scenarios where users require extended access for ongoing projects. Typical consumers of this API include application developers and system administrators responsible for managing user rights and permissions. By leveraging this API, organizations can efficiently handle authorization lifecycles and enhance their operational workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}/extend": {
      "post": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Extend the authorization for a specific resource.",
        "description": "This endpoint allows the user to extend the authorization associated with the given resource ID (RES-100045). It enables clients to keep the authorization valid for a longer period, ensuring continuous access without the need for re-authorization.",
        "operationId": "createAuthorizationExtend",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/authorizationId"
          }
        ],
        "requestBody": {
          "description": "Request body for extending the authorization with ID RES-100045. This includes all necessary information to process the extension request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthorizationExtendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the authorization has been extended.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAuthorizationExtendResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAuthorizationExtendRequest": {
        "type": "object",
        "properties": {
          "newExpiresAt": {
            "type": "string",
            "description": "The new expiration date and time for the authorization, in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "reason": {
            "type": "string",
            "description": "The reason for extending the authorization expiration.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for extending authorization expiration in the POST operation.",
        "example": {
          "newExpiresAt": "2026-08-11T12:00:00Z",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "fd65faea-2be7-520b-a91d-e49e6be77ac8",
            "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
            "idempotencyKey": "c1a7effe-949f-5466-a257-696a2556d572",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-616061"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to guarantee that a request is processed only once.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "AccountManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context related to the request for authorization extension."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel through which the request was made.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Information about the channel used for making the request."
      },
      "CreateAuthorizationExtendResponse_200": {
        "title": "Authorization Response",
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the associated payment.",
            "example": "PAY-799531"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-809252"
          },
          "authorizedAmount": {
            "description": "The amount that has been authorized.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "capturedAmount": {
            "description": "The amount that has been captured.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "amount": {
            "description": "The total amount of the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization.",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "description": "Code indicating the approval status of the authorization.",
            "example": "CODE-478"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the authorization expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the authorization.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Additional metadata related to the authorization response.",
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Schema representing the response of an authorization operation.",
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-799531",
          "merchantId": "MER-809252",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-478",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c71b16dc-b4c9-5d8e-bcca-befba5d811be",
            "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing amount details including currency and value."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the record was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the record.",
            "example": "user_123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2023-10-02T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the record.",
            "example": "user_456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information."
      },
      "MetadataDetails": {
        "title": "Metadata Details",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "correlation_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T10:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "authorizationId": {
        "name": "authorizationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed; useful for logging and tracking API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-extend-authorization"
        },
        "example": "banking-p2m-openapi-extend-authorization"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request; helpful for debugging performance issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a bearer token in the `Authorization` header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}