{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Help Desk Management API",
    "description": "The Systems Help Desk Management API enables businesses to effectively manage IT support requests and resources associated with banking systems. This endpoint allows users to update existing help desk tickets, ensuring that issues are tracked and resolved promptly. Typical consumers include IT support teams and system administrators who need to maintain operational efficiency and resolve user-reported issues efficiently. Integrating this API can enhance workflow management and lead to improved customer satisfaction through timely support.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk/{param1}": {
      "put": {
        "tags": [
          "IT Management"
        ],
        "summary": "Update IT Management System Help Desk Resource",
        "description": "This endpoint allows you to update the details of a specific IT management system help desk resource identified by its unique ID. Ensure that you provide the correct data format in the request body to successfully apply your changes.",
        "operationId": "updateItManagementSystemHelpDeskResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the help desk system with the identifier 'RES-100045'. Please ensure that the data provided adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItManagementSystemHelpDeskResource100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and available for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateItManagementSystemHelpDeskResource100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateItManagementSystemHelpDeskResource100045Request": {
        "title": "Operation Request Body",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "Unique identifier for the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "Identifier for the system that is affected by the incident.",
            "example": "STANDARD"
          },
          "impact": {
            "type": "string",
            "description": "Description of the impact of the incident.",
            "example": "STANDARD"
          },
          "urgency": {
            "type": "string",
            "description": "Urgency level of the incident.",
            "example": "STANDARD"
          },
          "summary": {
            "type": "string",
            "description": "Brief summary of the incident.",
            "example": "STANDARD"
          },
          "reportedBy": {
            "type": "string",
            "description": "Identifier or name of the person reporting the incident.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an incident in the help desk system.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "impact": "STANDARD",
          "urgency": "STANDARD",
          "summary": "STANDARD",
          "reportedBy": "STANDARD",
          "requestContext": {
            "requestId": "dd2493f4-e1d8-586f-a142-6969429a7baa",
            "correlationId": "36f4b15d-66ed-5826-a408-90f80e1eb5e0",
            "idempotencyKey": "2f4d5228-312f-5315-ba2d-ea120e88f067",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-780816"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests in a system.",
            "example": "CORR-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "IDEMP-11111"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system from which the request originated.",
            "example": "SourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application from which the request originated.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request made to the API."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-43210"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Schema representing the channel information of a request."
      },
      "UpdateItManagementSystemHelpDeskResource100045Response_201": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "Unique identifier for the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "Identifier for the system that was affected by the incident.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the incident.",
            "example": "RES-543758"
          },
          "status": {
            "type": "string",
            "description": "Current status of the incident.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the incident was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the incident.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for an operations event in the IT management system.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "resourceId": "RES-543758",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f4b14ff5-ac2d-54da-b66e-f5d4938272aa",
            "correlationId": "36f4b15d-66ed-5826-a408-90f80e1eb5e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the incident.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-03T14:49:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the incident is being processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains additional information about the operations incident."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier representing the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-create-systems-help-desk"
        },
        "example": "systems-help-desk-create-systems-help-desk"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently processing the request, providing context for debugging and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the specific workflow that is associated with the request, useful for tracking and auditing purpose.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-086"
        },
        "example": "WF-086"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IT Incident Help Desk and Service Restoration"
        },
        "example": "IT Incident Help Desk and Service Restoration"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d323354a-248c-450b-aaf1-fdda855549df"
        },
        "example": "d323354a-248c-450b-aaf1-fdda855549df"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. Clients must include a JSON Web Token (JWT) in the Authorization header of their requests to gain access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}