{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Dispute-spec",
    "description": "The Dispute Management API enables businesses to initiate and track disputes related to card transactions. This API provides functionality for creating disputes, allowing users to report issues with specific transactions seamlessly. Typical consumers include financial institutions and businesses managing customer transactions who require efficient dispute resolution. By integrating this API, organizations can enhance their customer service and operational efficiency related to card disputes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/*/disputes": {
      "post": {
        "tags": [
          "Card Dispute Management"
        ],
        "summary": "Create a dispute for a specific card.",
        "description": "This endpoint allows you to initiate a dispute for a transaction related to a specific card. By providing the necessary details in the request, users can formally raise concerns regarding specific transactions.",
        "operationId": "create*Dispute",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Create a dispute for a specific card. This request allows you to initiate a dispute process related to transactions made with the specified card. Ensure that you provide all required details in the request body to successfully create the dispute.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*DisputeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Dispute created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*DisputeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*DisputeRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment being disputed.",
            "example": "PAY-470606"
          },
          "reason": {
            "type": "string",
            "description": "The reason for disputing the payment.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount that is being disputed, including the currency.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer initiating the dispute.",
            "example": "CUST-584433"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence files supporting the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for disputing a payment operation.",
        "example": {
          "paymentId": "PAY-470606",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "customerId": "CUST-584433",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "requestContext": {
            "requestId": "2e270c6f-1a63-48d4-8f50-d241a00a64cb",
            "correlationId": "b257fb26-bf1a-4e3f-a6ae-4b8d813a758e",
            "idempotencyKey": "8ca31130-026d-49ff-9f3e-ad68b3d5a686",
            "requestedAt": "2026-08-27T23:00:40.529Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-549107"
            }
          }
        }
      },
      "DisputedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the disputed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the disputed amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount that is being disputed."
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence item.",
            "example": "evidence_78901"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the evidence file.",
            "example": "receipt.png"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "image/png"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the evidence file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL where the evidence file can be accessed.",
            "example": "https://example.com/evidence/receipt.png"
          },
          "sha256": {
            "type": "string",
            "description": "SHA-256 hash of the evidence file for verification.",
            "example": "abc123hash456"
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "2023-10-17T12:00:00Z"
          }
        },
        "description": "Schema representing an item of evidence for the dispute."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-23456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "cor-78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests are idempotent.",
            "example": "key-111213"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system making the request.",
            "example": "paymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application initiating the request.",
            "example": "webApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request for tracking and auditing."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "Create*DisputeResponse_201": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the related payment.",
            "example": "PAY-934293"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant involved in the dispute.",
            "example": "MER-820735"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The total amount disputed.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "The customer's statement regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "The date and time when the response is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "financialImpact": {
            "description": "Financial implications arising from the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details about the resolution of the dispute, if applicable.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information regarding the dispute.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for creating a dispute operation.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-934293",
          "merchantId": "MER-820735",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "abe893f3-bd86-5970-97e8-81997a0fc7d8",
            "correlationId": "65d876a1-d014-5577-89bd-a0ed7d29e941",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "Amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees applied as a result of the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Amount held in reserve due to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          }
        },
        "description": "Schema representing the financial impact of the dispute."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee applied.",
            "example": "Processing Fee"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "bearer": {
            "type": "string",
            "description": "Who bears the fee (e.g., merchant, customer).",
            "example": "merchant"
          }
        },
        "description": "Schema representing a fee related to the dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The outcome of the dispute.",
            "example": "Resolved"
          },
          "resolvedAmount": {
            "description": "Amount that has been resolved.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the resolution outcome.",
            "example": "Refund issued"
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was resolved.",
            "example": "2023-10-20T12:00:00Z"
          }
        },
        "description": "Schema representing the resolution state of a dispute."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the dispute was created.",
            "example": "2023-10-15T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the dispute.",
            "example": "user_12345"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was last updated.",
            "example": "2023-10-16T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the dispute.",
            "example": "user_67890"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the dispute."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_23456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation_98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-20T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata information about the dispute response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "80362a6a40cf98b8"
        },
        "example": "80362a6a40cf98b8"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "aa8de007-dd94-4fe3-898e-b1ad4ab5f47f"
        },
        "example": "aa8de007-dd94-4fe3-898e-b1ad4ab5f47f"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a426baa2-013a-4b94-83cf-cc88da37c62f"
        },
        "example": "a426baa2-013a-4b94-83cf-cc88da37c62f"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-dispute"
        },
        "example": "banking-p2m-openapi-create-dispute"
      },
      "X-Runtime-App": {
        "description": "Name of the application that was used to handle the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-028"
        },
        "example": "WF-028"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Dispute and Chargeback"
        },
        "example": "Card Dispute and Chargeback"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4847ff47-b382-468c-a993-9d27abb6c37b"
        },
        "example": "4847ff47-b382-468c-a993-9d27abb6c37b"
      }
    }
  }
}