{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Cbpii Funds Confirmation Consent-v5-spec",
    "description": "MICROSERVICE-PROD-Create Open Banking Cbpii Funds Confirmation Consent-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/cbpii/funds-confirmation-consents": {
      "post": {
        "operationId": "createOpenBankingCbpiiFundsConfirmationConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingCbpiiFundsConfirmationConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingCbpiiFundsConfirmationConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingCbpiiFundsConfirmationConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ExpirationDateTime": {
                "type": "string",
                "example": "string"
              },
              "DebtorAccount": {
                "type": "object",
                "properties": {
                  "SchemeName": {
                    "type": "string",
                    "example": "string"
                  },
                  "Identification": {
                    "type": "string",
                    "example": "string"
                  },
                  "Name": {
                    "type": "string",
                    "example": "string"
                  },
                  "SecondaryIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "Proxy": {
                    "type": "object",
                    "properties": {
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Code": {
                        "type": "string",
                        "example": "string"
                      },
                      "Type": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "ExpirationDateTime": "2026-09-15T14:30:00Z",
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "2649e590-39e5-5abc-b24e-47b78b929f32",
              "correlationId": "a459b6b6-a655-5216-91a4-f58456f42867",
              "idempotencyKey": "cf7d1eb3-6eb3-516e-8c43-6313b05c672c",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-496017"
              }
            }
          }
        },
        "example": {
          "Data": {
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "DebtorAccount": {
              "SchemeName": "Northstar Banking Service",
              "Identification": "STANDARD",
              "Name": "Northstar Banking Service",
              "SecondaryIdentification": "STANDARD",
              "Proxy": {
                "Identification": "STANDARD",
                "Code": "SUCCESS",
                "Type": "STANDARD"
              }
            }
          },
          "requestContext": {
            "requestId": "2649e590-39e5-5abc-b24e-47b78b929f32",
            "correlationId": "a459b6b6-a655-5216-91a4-f58456f42867",
            "idempotencyKey": "cf7d1eb3-6eb3-516e-8c43-6313b05c672c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-496017"
            }
          }
        }
      },
      "CreateOpenBankingCbpiiFundsConfirmationConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "Path": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "example": "string"
              },
              "ExpirationDateTime": {
                "type": "string",
                "example": "string"
              },
              "DebtorAccount": {
                "type": "object",
                "properties": {
                  "SchemeName": {
                    "type": "string",
                    "example": "string"
                  },
                  "Identification": {
                    "type": "string",
                    "example": "string"
                  },
                  "Name": {
                    "type": "string",
                    "example": "string"
                  },
                  "SecondaryIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "Proxy": {
                    "type": "object",
                    "properties": {
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Code": {
                        "type": "string",
                        "example": "string"
                      },
                      "Type": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "ExpirationDateTime": "2026-09-15T14:30:00Z",
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "example": "string"
              },
              "First": {
                "type": "string",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "example": "string"
              },
              "Next": {
                "type": "string",
                "example": "string"
              },
              "Last": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "example": "string"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "889b3d46-17c3-5eb9-881a-1388864d99d5",
              "correlationId": "a459b6b6-a655-5216-91a4-f58456f42867",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "DebtorAccount": {
              "SchemeName": "Northstar Banking Service",
              "Identification": "STANDARD",
              "Name": "Northstar Banking Service",
              "SecondaryIdentification": "STANDARD",
              "Proxy": {
                "Identification": "STANDARD",
                "Code": "SUCCESS",
                "Type": "STANDARD"
              }
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "889b3d46-17c3-5eb9-881a-1388864d99d5",
            "correlationId": "a459b6b6-a655-5216-91a4-f58456f42867",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "funds-api-create-funds-confirmation-consents"
        },
        "example": "funds-api-create-funds-confirmation-consents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}