{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Communications Management API",
    "description": "The Corporate Communications Management API facilitates the modification of corporate communication details for banking clients. This endpoint allows users to update specific information related to corporate relations efficiently. Typical consumers include corporate banking teams and business analysts who need to maintain accurate communication records. By utilizing this API, organizations can ensure that their correspondence aligns with current operational needs and standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-communications/{param1}": {
      "patch": {
        "tags": [
          "Corporate Communications"
        ],
        "summary": "Update Corporate Communications",
        "description": "This endpoint allows you to update the corporate communications record identified by the specified resource ID. Provide the necessary fields to modify the existing information.",
        "operationId": "updateCorporateCommunicationsByResourceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the corporate communication resources related to the specified identifier. This request body should contain the necessary fields and data to modify the existing corporate communication entry identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateCommunicationsByResourceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with the updated data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateCommunicationsByResourceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateCommunicationsByResourceIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the specifics of the changes being made.",
            "$ref": "#/components/schemas/OperationChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for patching corporate operations.",
        "example": {
          "changes": {
            "stakeholderId": "STANDARD",
            "engagementId": "STANDARD",
            "subject": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f84ba726-372e-5038-bbcc-ba590daf72db",
            "correlationId": "8a10f5ca-9d5c-57aa-ae30-61bbfcf29022",
            "idempotencyKey": "62debb11-dd60-5dca-bbbe-e9b56bd50fc7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-206922"
            }
          }
        }
      },
      "OperationChanges": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "ID of the stakeholder associated with the changes.",
            "example": "stakeholder-5678"
          },
          "engagementId": {
            "type": "string",
            "description": "ID of the engagement that is being updated.",
            "example": "engagement-9101"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the operation changes.",
            "example": "Stakeholder feedback implementation"
          }
        },
        "description": "Schema representing the changes to be made in the operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests across multiple services.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of the same request.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system making the request.",
            "example": "Corporate CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual data for the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-abcdef"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., email, web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz123"
          }
        },
        "description": "Details regarding the communication channel of the request."
      },
      "UpdateCorporateCommunicationsByResourceIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on corporate communications.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "17228a14-86f1-5a54-a89f-1d5c65014c0e",
            "correlationId": "8a10f5ca-9d5c-57aa-ae30-61bbfcf29022",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata schema containing additional details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific API endpoint that processed the request, useful for debugging and tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-communications-update-corporate-communications"
        },
        "example": "corporate-communications-update-corporate-communications"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, allowing identification of the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication. A valid token must be provided in the 'Authorization' header. The token should be in JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}