{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Offers Retrieval API",
    "description": "The Account Offers Retrieval API allows consumers to access personalized offers related to a specific bank account. By providing the account identifier, users can quickly retrieve a list of available offers that can enhance their banking experience. This API is typically utilized by financial service providers, banking applications, and clients seeking to optimize account benefits. It facilitates informed decision-making by presenting tailored offers based on account activity and characteristics, ensuring that users have access to the most relevant opportunities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/offers": {
      "get": {
        "tags": [
          "Banking Offers"
        ],
        "summary": "Retrieve offers for a specific bank account.",
        "description": "This endpoint allows you to fetch available offers associated with a specific bank account identified by its unique account ID. You can use this information to explore potential benefits, promotions, or opportunities offered by financial institutions for the given account.",
        "operationId": "getOffersForAccountAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves the available offers for the specified account (ACC-200045). It is used to check the promotions or benefits that the account holder can avail at the present time.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOffersForAccountAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of offers for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOffersForAccountAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOffersForAccountAcc200045Request": {
        "type": "string",
        "description": "This schema represents the request body formatted as a JSON string for the GET operation on offers related to a specific account.",
        "example": "{}"
      },
      "GetOffersForAccountAcc200045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Offer": {
                "type": "array",
                "description": "List of offers available for the account.",
                "items": {
                  "$ref": "#/components/schemas/Offer"
                }
              }
            },
            "description": "Container for the offers data.",
            "example": {
              "Offer": [
                {
                  "AccountId": "ACC-355178",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Description": "Customer banking request processed successfully",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "Rate": "STANDARD",
                  "Value": 1,
                  "Term": "STANDARD",
                  "URL": "https://banking.northstar.example/callbacks/status",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "Fee": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "http://example.com/current"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of resources.",
                "example": "http://example.com/first"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of resources.",
                "example": "http://example.com/prev"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of resources.",
                "example": "http://example.com/next"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of resources.",
                "example": "http://example.com/last"
              }
            },
            "description": "Navigation links related to the offers.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of available pages.",
                "format": "int32",
                "example": 5
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "First available date and time of offers.",
                "example": "2023-01-01T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Last available date and time of offers.",
                "example": "2023-12-31T23:59:59Z"
              }
            },
            "description": "Metadata regarding the offer data.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique ID for the response.",
                "example": "response-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "ID for correlating requests and responses.",
                "example": "correlation-54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata details for the API response.",
            "example": {
              "responseId": "14c93a68-dcd0-53f5-a20d-00648552da30",
              "correlationId": "0639ebdb-e651-55dd-ba12-1eb63f67873d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for offers related to a specific account.",
        "example": {
          "Data": {
            "Offer": [
              {
                "AccountId": "ACC-355178",
                "id": "STANDARD",
                "type": "STANDARD",
                "Description": "Customer banking request processed successfully",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "Rate": "STANDARD",
                "Value": 1,
                "Term": "STANDARD",
                "URL": "https://banking.northstar.example/callbacks/status",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "Fee": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "14c93a68-dcd0-53f5-a20d-00648552da30",
            "correlationId": "0639ebdb-e651-55dd-ba12-1eb63f67873d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The ID of the account associated with this offer.",
            "example": "account-123"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the offer.",
            "example": "offer-456"
          },
          "type": {
            "type": "string",
            "description": "Type of the offer.",
            "example": "cashback"
          },
          "Description": {
            "type": "string",
            "description": "A brief description of the offer.",
            "example": "Get 10% cashback on your next purchase."
          },
          "StartDateTime": {
            "type": "string",
            "description": "Date and time when the offer starts.",
            "example": "2023-01-01T00:00:00Z"
          },
          "EndDateTime": {
            "type": "string",
            "description": "Date and time when the offer ends.",
            "example": "2023-12-31T23:59:59Z"
          },
          "Rate": {
            "type": "string",
            "description": "Applicable rate for the offer.",
            "example": "10%"
          },
          "Value": {
            "type": "integer",
            "description": "Value associated with the offer.",
            "format": "int32",
            "example": 100
          },
          "Term": {
            "type": "string",
            "description": "Terms associated with the offer.",
            "example": "Limited time offer."
          },
          "URL": {
            "type": "string",
            "description": "Link to the offer details.",
            "example": "http://example.com/offer-detail"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount stated in the offer.",
                "example": "50"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the amount is denominated.",
                "example": "USD"
              }
            },
            "description": "Amount details of the offer."
          },
          "Fee": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Fee amount.",
                "example": "5"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the fee is denominated.",
                "example": "USD"
              }
            },
            "description": "Fee details associated with the offer."
          }
        },
        "description": "Detailed information about a specific offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint associated with the response. This value helps track the specific endpoint that was used for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-offers"
        },
        "example": "accounts-api-get-accounts-account-id-offers"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header is useful for debugging and tracing the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses a bearer token in the HTTP Authorization header, typically formatted as a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}