{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Terminal Configuration Management API",
    "description": "The Terminal Configuration Management API allows businesses to update configurations for specific terminals using their unique identifiers. This endpoint is designed for application administrators or system operators who need to modify settings such as operational parameters or security configurations of the terminals. By leveraging this API, companies can ensure that terminal settings are always up-to-date and aligned with operational policies. Typical use cases include adjusting terminal parameters in response to changing business needs or compliance requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals/{terminalId}": {
      "put": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Update Terminal Details",
        "description": "This endpoint allows you to update the details of a specific terminal identified by its unique ID. Ensure that all required fields are provided in the request to successfully update the terminal.",
        "operationId": "updateTerminalRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/terminalId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the terminal with ID RES-100045. This body should contain the necessary fields to perform the update operation, represented in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTerminalRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed and resource updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTerminalRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTerminalRes100045Request": {
        "title": "Terminal Update Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-549929"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of the terminal (e.g., mobile, fixed).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "User-friendly label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "Unique serial number assigned to the terminal.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "Fingerprint used to uniquely identify the device.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Capability supported by the terminal.",
              "example": "string"
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating terminal information.",
        "example": {
          "merchantId": "MER-549929",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "d7ebfd31-179d-53b0-af18-afd483d7f1dc",
            "correlationId": "6bdaa83e-09e3-5f59-bd32-f0a071cbab9a",
            "idempotencyKey": "499a58c8-c585-5b38-a850-9dd36a565696",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-103120"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "UpdateTerminalRes100045Response_200": {
        "title": "Terminal Response Object",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant to which the terminal belongs.",
            "example": "MER-443058"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet associated with the terminal.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "The type of terminal (e.g., POS, kiosk).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "User-defined label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "The manufacturer provided serial number of the terminal.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "A unique fingerprint for the device, typically used for identification.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific capability that the terminal supports.",
              "example": "NFC"
            }
          },
          "status": {
            "type": "string",
            "description": "Current operational status of the terminal.",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of the last time the terminal was seen.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Information related to the audit trails of the terminal operations.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the terminal response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response object for terminal operations, including details about the terminal and audit information.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-443058",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "9fc1f9c0-c4ae-55d4-bd8c-e8c379b0f108",
            "correlationId": "6bdaa83e-09e3-5f59-bd32-f0a071cbab9a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the terminal was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the terminal.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the terminal was last updated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the terminal.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the terminal's data.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains details about the creation and modification of the terminal."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests and responses.",
            "example": "C123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the terminal request was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains additional information related to the response of the terminal."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "terminalId": {
        "name": "terminalId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-terminal"
        },
        "example": "banking-p2m-openapi-replace-terminal"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which this operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which is based on the JSON Web Token (JWT). Clients must include the JWT token in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}