{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Enterprise Services Legal Advisorys-v5-spec",
    "description": "The Banking Enterprise Services Legal Advisory API provides access to a comprehensive list of legal advisory services tailored for banking enterprises. This API allows users to retrieve detailed information about various legal advisory offerings, which is crucial for compliance and risk management in financial operations. Typical consumers include financial institutions seeking legal guidance and advisory firms looking to integrate legal service data into their platforms. This API supports informed decision-making by providing timely and accurate access to legal service options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-advisory": {
      "get": {
        "tags": [
          "Legal Advisory"
        ],
        "summary": "Retrieve legal advisory services.",
        "description": "This endpoint allows users to retrieve information about the available legal advisory services offered by the enterprise. It provides a detailed list of services, their availability, and relevant descriptions to assist users in making informed decisions.",
        "operationId": "listBankingEnterpriseServicesLegalAdvisorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving legal advisory information related to enterprise services. Ensure that the JSON object adheres to the predefined schema to successfully make the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingEnterpriseServicesLegalAdvisorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingEnterpriseServicesLegalAdvisorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingEnterpriseServicesLegalAdvisorysRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the application/json content type in the Legal Advisory Operations GET request.",
        "example": "{}"
      },
      "ListBankingEnterpriseServicesLegalAdvisorysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of engagement items related to legal advisory operations.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the legal advisory operations GET request, containing a list of items and pagination information.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3a044de2-9650-5ff5-ab77-810f2656d759",
            "correlationId": "4c6bee81-52f6-5076-bc7f-ed990120c048",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement."
          },
          "scope": {
            "type": "string",
            "description": "Scope of the engagement."
          },
          "framework": {
            "type": "string",
            "description": "Framework associated with the engagement."
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "ID of the owner responsible for the engagement."
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement in YYYY-MM-DD format."
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the engagement in YYYY-MM-DD format."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the engagement record."
          }
        },
        "description": "An individual engagement item in the legal advisory operations."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information about pagination for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was called. This header helps in tracking the specific endpoint invocation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-advisory-search-legal-advisory"
        },
        "example": "legal-advisory-search-legal-advisory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. Useful for identifying which service handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a bearer token for authentication. Users must include a valid JWT in the 'Authorization' header of their requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}