{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Card Transaction Switch Routing Decision-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Operational Services Card Transaction Switch Routing Decision-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/routing-decisions": {
      "post": {
        "operationId": "createBankingOperationalServicesCardTransactionSwitchRoutingDecision",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesCardTransactionSwitchRoutingDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesCardTransactionSwitchRoutingDecisionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesCardTransactionSwitchRoutingDecisionRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-320690"
          },
          "accountId": {
            "type": "string",
            "example": "ACC-932815"
          },
          "requestedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "example": "NORMAL"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "9a69655c-ad97-540d-8276-b37495df6489",
              "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
              "idempotencyKey": "8e0a7216-174d-51ad-b282-e8440bf7529b",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-687368"
              }
            }
          }
        },
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-320690",
          "accountId": "ACC-932815",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "9a69655c-ad97-540d-8276-b37495df6489",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "idempotencyKey": "8e0a7216-174d-51ad-b282-e8440bf7529b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-687368"
            }
          }
        }
      },
      "CreateBankingOperationalServicesCardTransactionSwitchRoutingDecisionResponse_202": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-941124"
          },
          "accountId": {
            "type": "string",
            "example": "ACC-731473"
          },
          "processingReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "ec939e2e-56b9-5724-a78f-120d56cf0305",
              "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-941124",
          "accountId": "ACC-731473",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ec939e2e-56b9-5724-a78f-120d56cf0305",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-route-card-transaction-switch"
        },
        "example": "card-transaction-switch-route-card-transaction-switch"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}