{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Operation By Param1-spec",
    "description": "The Market Operations Retrieval API allows users to access trade settlement information based on specific parameters. By utilizing the provided param1, this API endpoint facilitates the retrieval of market operations relevant to banking and financial transactions. Typically employed by financial institutions and trading platforms, it serves use cases such as monitoring settlement statuses and validating trade details. This API enhances operational transparency and decision-making in market-related activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-settlement/{param1}": {
      "get": {
        "tags": [
          "Trade Settlement"
        ],
        "summary": "Retrieve Trade Settlement Details",
        "description": "Fetches the details of a specific trade settlement based on its unique identifier. This endpoint provides comprehensive information about the trade, including relevant date, involved parties, and financial metrics.",
        "operationId": "getMarketOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the trade settlement information specific to the resource identified by RES-100045. It contains criteria that the server uses to filter and return the relevant trade settlement data in the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the trade settlement details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOperationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOperationByParam1Request": {
        "type": "string",
        "description": "The request body for retrieving trade settlement operations.",
        "example": "{}"
      },
      "GetMarketOperationByParam1Response_200": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the settlement is scheduled to occur.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units being settled.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement is processed.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Unique identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Unique identifier for the clearing house.",
            "example": "STANDARD"
          },
          "settlementMethod": {
            "type": "string",
            "description": "Indicates the method of settlement (e.g., cash, physical).",
            "example": "STANDARD"
          },
          "matchingStatus": {
            "type": "string",
            "description": "Current status of the trade match.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the trade settlement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking requests.",
                "example": "CORR98765"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-20T14:48:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "EU"
              }
            },
            "description": "Additional metadata related to the trade settlement response.",
            "example": {
              "responseId": "d3042549-5e0c-588a-9b05-d230b3a08106",
              "correlationId": "b39ee9b2-b344-50b0-893d-ee39002eaaea",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response schema for trade settlement operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "settlementMethod": "STANDARD",
          "matchingStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d3042549-5e0c-588a-9b05-d230b3a08106",
            "correlationId": "b39ee9b2-b344-50b0-893d-ee39002eaaea",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint which was requested.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-settlement-get-trade-settlement"
        },
        "example": "trade-settlement-get-trade-settlement"
      },
      "X-Runtime-App": {
        "description": "The application responsible for processing the request, represented by its name or identifier.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which includes a token (in JWT format) to authenticate requests. Clients must include this token in the Authorization header when making API calls.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}