{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Account Management By Param1-spec",
    "description": "The Account Management Retrieval API allows users to access detailed information about customer positions based on a specified parameter. This API is designed for banking applications where stakeholders can retrieve critical account management data. Typical consumers include financial analysts, account managers, and customer service representatives who need to derive insights or facilitate customer inquiries. By utilizing this endpoint, businesses can ensure they provide accurate and timely account information to enhance customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/customer-position/{param1}": {
      "get": {
        "tags": [
          "CustomerManagement"
        ],
        "summary": "Retrieve Customer Position Details",
        "description": "Fetches detailed information about the customer position with the specified identifier. This endpoint allows users to access important data related to customer standing in the system, including balances, transactions, and account status.",
        "operationId": "getAccountManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the customer position details for a specific customer identified by CUST-100045. Ensure the customer identifier is valid and active to receive accurate information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully completed and the customer position details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to customer position identified by CUST-100045.",
        "example": "{}"
      },
      "GetAccountManagementByParam1Response_200": {
        "title": "Customer Position Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-564880"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-558342"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the ledger balance is denominated.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The current balance of the ledger account.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, e.g., active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the record in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the customer position response for the account management system.",
        "example": {
          "accountId": "ACC-564880",
          "customerId": "CUST-558342",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "15739719-4242-5f2a-8262-dc3439326e7a",
            "correlationId": "3a798c09-9b56-5b5c-bf26-21656199d3be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to track the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated in ISO 8601 format.",
            "example": "2023-03-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-position-get-customer-position"
        },
        "example": "customer-position-get-customer-position"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP bearer authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header of requests. The server will validate the token to ensure the client's identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}