{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Order Retrieval API",
    "description": "The Servicing Order Retrieval API enables users to access and retrieve detailed information about servicing orders within the banking domain. It provides a streamlined way for banking professionals to query existing orders, facilitating order management and customer support operations. Typical consumers of this API include internal bank systems and customer service representatives who require immediate access to order statuses and details. This API plays a critical role in enhancing customer service efficiency and ensuring timely responses to client inquiries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-order": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve a servicing order.",
        "description": "This endpoint allows you to fetch details of a specific servicing order, providing all relevant information associated with it.",
        "operationId": "getServicingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving servicing order information. It should contain the necessary parameters to specify the servicing order to fetch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the servicing order data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingOrderResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingOrderRequest": {
        "title": "Servicing Order Request Body",
        "type": "string",
        "description": "A request body for retrieving servicing order details.",
        "example": "{}"
      },
      "GetServicingOrderResponse_200": {
        "title": "Service Order Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of service order items.",
            "example": [
              {
                "customerId": "CUST-821922",
                "caseId": "CASE-118069",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServiceOrderItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for retrieving service orders.",
        "example": {
          "items": [
            {
              "customerId": "CUST-821922",
              "caseId": "CASE-118069",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f739b3d0-880c-5cb6-834c-8b26d1674357",
            "correlationId": "838567bb-022f-57ff-8f85-54553be3f222",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceOrderItem": {
        "title": "Service Order Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the service order.",
            "example": "cust_12345"
          },
          "caseId": {
            "type": "string",
            "description": "Identifier for the case related to the service order.",
            "example": "case_54321"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the service order request.",
            "example": "Technical Support"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the service order.",
            "example": "High"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the service order was created.",
            "example": "Web"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the service order record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the service order was last updated.",
            "example": "2023-10-10T14:28:00Z"
          }
        },
        "description": "Schema representing an individual service order item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the list of service orders."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "corr_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T14:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-order-search-servicing-order"
        },
        "example": "servicing-order-search-servicing-order"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authorization method. It expects a JSON Web Token (JWT) to be provided in the Authorization header of requests to authenticate and authorize users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}