{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create External Agency Information Provider Administration-spec",
    "description": "This API facilitates the management and administration of external agency information providers within the banking sector. Businesses can create and manage comprehensive profiles for various external agencies, ensuring accurate data flow and compliance. Common use cases include onboarding new agencies, updating their information, and maintaining regulatory standards. It is particularly useful for finance and compliance teams looking to integrate external agency data into their systems efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/information-provider-administration": {
      "post": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Create a New Information Provider",
        "description": "This endpoint allows the creation of a new information provider associated with an external agency. It requires the relevant details of the information provider to be included in the request body.",
        "operationId": "createExternalAgencyInformationProviderAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an information provider within the external agency administration. It should include all relevant details required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencyInformationProviderAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the information provider administration.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencyInformationProviderAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencyInformationProviderAdministrationRequest": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-910402"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-910402",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "f92f223b-9f6b-54a5-b747-502ab16f8520",
            "correlationId": "adea974f-1c2d-524c-8cd7-f40b56f08dca",
            "idempotencyKey": "100447ff-dba2-5b0f-bfc6-efa4cfbcb143",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-928783"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel, e.g., web, mobile.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "string"
          }
        }
      },
      "CreateExternalAgencyInformationProviderAdministrationResponse_201": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-951989"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code associated with the institution.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-848074"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation of posting information provider administration for external agencies.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-951989",
          "countryCode": "US",
          "resourceId": "RES-848074",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "05c022c2-c220-58cf-b61f-499e92ef3399",
            "correlationId": "adea974f-1c2d-524c-8cd7-f40b56f08dca",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information that provides additional context about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "information-provider-administration-create-information-provider-administration"
        },
        "example": "information-provider-administration-create-information-provider-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically designed for JSON Web Tokens (JWT). Clients must include this token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}