{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Information Retrieval API",
    "description": "The Market Information Retrieval API enables users to access detailed market data relevant to banking operations. It allows consumers to efficiently retrieve information related to various financial instruments and market trends by providing specific parameters. This API is typically utilized by financial analysts, banking professionals, and developers integrating market insights into applications. By harnessing this endpoint, businesses can make informed decisions based on accurate and timely market information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-information-management/{param1}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve market information for a specific resource.",
        "description": "This endpoint allows users to fetch detailed market data related to the resource represented by ID RES-100045, providing insights into various market metrics and performance indicators.",
        "operationId": "getMarketDataForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving market data information. This body should include all necessary parameters to fetch the required market information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the market information is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataForRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body structure for the operation that retrieves market information.",
        "example": "{}"
      },
      "GetMarketDataForRes100045Response_200": {
        "title": "Market Information Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number (ISIN) of the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The identifier of the market where the instrument is traded.",
            "example": "CODE-658"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time for which the market data is relevant.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data was obtained.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating whether it is active, archived, or deleted.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the market information record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the market information response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for representing the market information response including details about the instrument and associated metadata.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-658",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4a1169ef-232a-57b0-ba51-b6f130432fc5",
            "correlationId": "f3dd81a1-73b6-50b2-8ff4-b8ebad747d70",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request and response.",
            "example": "abcde-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the data processing took place.",
            "example": "US"
          }
        },
        "description": "Schema representing metadata included in the market information response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-information-management-get-market-information-management"
        },
        "example": "market-information-management-get-market-information-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token as defined in the OAuth 2.0 specification. The token must be included in the Authorization header of requests that require authentication. The expected format is a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}