{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Service Directory Update API",
    "description": "The Service Directory Update API allows businesses to enhance and modify their service directory resources. This endpoint facilitates updates to existing services listed within the service directory, ensuring that the information remains accurate and up-to-date. Ideal for banking institutions seeking to manage their service offerings efficiently, this API supports integration with various systems. Typical consumers include system administrators and developers responsible for service management and optimization within cross-channel banking platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/service-directory/{param1}": {
      "put": {
        "tags": [
          "Cross Channel Management"
        ],
        "summary": "Update service directory resource.",
        "description": "This endpoint allows the user to update the details of the specified service directory resource identified by RES-100045. Provide the necessary data in the request body to modify the existing resource attributes effectively.",
        "operationId": "updateCrossChannelServiceDirectoryResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the service directory entry identified by RES-100045 in the cross-channel system. It requires a well-structured JSON object that adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCrossChannelServiceDirectoryResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCrossChannelServiceDirectoryResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCrossChannelServiceDirectoryResource100045Request": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the operation.",
            "example": "PARTY-579433"
          },
          "interactionId": {
            "type": "string",
            "description": "Identifier for the interaction, serving as a reference for tracking.",
            "example": "INT-372667"
          },
          "channel": {
            "type": "string",
            "description": "Identifier for the channel used for the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication required for the operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the PUT operation on the service directory, specifying the operations to be performed.",
        "example": {
          "partyId": "PARTY-579433",
          "interactionId": "INT-372667",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "634a4c0c-d1fb-52cf-929b-e2bf99defed9",
            "correlationId": "6ceb44f1-52be-56c7-834c-df693eb057b8",
            "idempotencyKey": "5f8fb2a6-71c8-5361-8d36-4f0b83e309c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-455487"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel used in the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details about the request being performed."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel being used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel used for interaction."
      },
      "UpdateCrossChannelServiceDirectoryResource100045Response_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-598777"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-375265"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response schema for a successful PUT operation in the service directory.",
        "example": {
          "partyId": "PARTY-598777",
          "interactionId": "INT-375265",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c48341ad-9120-53b9-93ce-ca934da4cce3",
            "correlationId": "6ceb44f1-52be-56c7-834c-df693eb057b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "service-directory-upsert-service-directory-record"
        },
        "example": "service-directory-upsert-service-directory-record"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically designed to support JSON Web Tokens (JWT). A Bearer token allows secure API access by validating the token provided in the request header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}