{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Wholesale Trading Market Makings-spec",
    "description": "The Wholesale Trading Market Makings API provides access to listing market making activities in the wholesale trading sector. It allows consumers, such as traders and financial analysts, to retrieve detailed information about market making operations, which facilitate liquidity and promote trading efficiency. Users can query for various parameters related to market making events, enabling informed decision-making in financial transactions. This API is essential for organizations looking to analyze market trends and performance in wholesale trading.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-making": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve market-making data for wholesale trading.",
        "description": "This endpoint allows users to access the latest market-making information related to wholesale trading activities, providing crucial insights for traders and investors.",
        "operationId": "listWholesaleTradingMarketMakings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET request for market-making operations within the wholesale trading context. The expected JSON payload should conform to the specified schema, which outlines the required parameters and their data types to successfully carry out the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWholesaleTradingMarketMakingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved market-making data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWholesaleTradingMarketMakingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListWholesaleTradingMarketMakingsRequest": {
        "type": "string",
        "description": "This schema represents the body of a request in the Wholesale Trading Market Making operations when using the GET method with an application/json content type.",
        "example": "{}"
      },
      "ListWholesaleTradingMarketMakingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trading items.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the market-making operations GET request in wholesale trading.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "42aa928d-6991-5f48-9151-88bcfff22682",
            "correlationId": "ef73dcf7-ebbd-5015-b5b6-ea7ec345d377",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingItem": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book."
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument."
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the operation is a buy or sell."
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument being traded.",
            "format": "int32"
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the item was last updated."
          }
        },
        "description": "Represents a trading item in the market-making operations."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the price is denominated."
          }
        },
        "description": "Represents the limit price for a trading operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-making-search-market-making"
        },
        "example": "market-making-search-market-making"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, utilizing JSON Web Tokens (JWTs) for user authentication and authorization. Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}