{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Relationship Management API",
    "description": "The Corporate Relationship Management API enables businesses to effectively update and manage their corporate relationships. This service allows authorized users to modify existing corporate relationship data, ensuring that customer records are current and accurate. Typical consumers include banking and finance professionals who require up-to-date relationship information for regulatory compliance and enhanced customer engagement. With this API, organizations can streamline their relationship management processes and improve overall operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-relationship/{param1}": {
      "patch": {
        "tags": [
          "Corporate Relationships"
        ],
        "summary": "Update a specific corporate relationship.",
        "description": "This operation allows updating the details of a specific corporate relationship identified by the resource ID. It is intended for users who need to modify existing relationship data based on business needs.",
        "operationId": "updateCorporateRelationshipRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the corporate relationship details. This object contains the necessary fields to modify existing data associated with the given corporate relationship identifier.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateRelationshipRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateRelationshipRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateRelationshipRes100045Request": {
        "required": [
          "changeReason",
          "changes",
          "effectiveAt",
          "requestContext",
          "requestedBy"
        ],
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the corporate relationship.",
            "$ref": "#/components/schemas/CorporateRelationshipChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing context about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Represents the request body for updating corporate relationship operations.",
        "example": {
          "changes": {
            "stakeholderId": "STANDARD",
            "engagementId": "STANDARD",
            "subject": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "6caa168c-d418-5de6-bf56-79e7be7ebbcb",
            "correlationId": "100d485a-4c7c-57e9-8211-fee3f465e243",
            "idempotencyKey": "b7a30cd3-eadf-590c-bbfd-67955b7edbb2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-779063"
            }
          }
        }
      },
      "CorporateRelationshipChanges": {
        "required": [
          "engagementId",
          "stakeholderId",
          "subject"
        ],
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "The unique identifier of the stakeholder.",
            "example": "stakeholder-123"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier of the engagement.",
            "example": "engagement-456"
          },
          "subject": {
            "type": "string",
            "description": "A brief subject of the change.",
            "example": "Update engagement terms"
          }
        },
        "description": "An object that details specific changes to a corporate relationship."
      },
      "RequestContext": {
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier used for tracing requests.",
            "example": "correlation-000"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate processing of requests.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "An object that provides context for the request."
      },
      "RequestChannel": {
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-abc"
          }
        },
        "description": "Describes the channel used for the request."
      },
      "UpdateCorporateRelationshipRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the response was last updated",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata containing additional information about the response",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the PATCH operation on corporate relationships",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7c3a9050-af97-5797-b0bd-c31af00f9f2a",
            "correlationId": "100d485a-4c7c-57e9-8211-fee3f465e243",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests and responses",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed",
            "example": "string"
          }
        },
        "description": "Metadata providing contextual information about the response"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-relationship-update-corporate-relationship"
        },
        "example": "corporate-relationship-update-corporate-relationship"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, wherein a token is provided in the authorization header. The token should be in the form of a JSON Web Token (JWT), which is a compact and self-contained way for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}