{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Acquiring Facility Management API",
    "description": "The Merchant Acquiring Facility Management API allows businesses to efficiently manage and update their merchant acquiring facilities. This API endpoint supports modifications to existing facility data, ensuring that organizations can maintain accurate and up-to-date records. Typical consumers include financial service providers and merchant operators who require real-time updates to their account details. Use cases may involve adjusting transaction details, revising terms of service, or enhancing service offerings to merchants.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-acquiring-facility/{param1}": {
      "patch": {
        "tags": [
          "Merchant Acquiring Facilities"
        ],
        "summary": "Update Merchant Acquiring Facility",
        "description": "This endpoint allows you to update the details of a specific merchant acquiring facility identified by its unique ID. You can modify various attributes associated with the facility based on the provided data.",
        "operationId": "patchMerchantAcquiringFacilityById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific merchant acquiring facility identified by the MER-800045 reference. Ensure that the payload adheres to the defined schema to process the update correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMerchantAcquiringFacilityByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resources updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMerchantAcquiringFacilityByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchMerchantAcquiringFacilityByIdRequest": {
        "title": "Merchant Acquiring Facility PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/MerchantChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating merchant acquiring facility operations. This schema includes changes to be made along with context of the request.",
        "example": {
          "changes": {
            "merchantId": "MER-472284",
            "legalName": "Olivia Bennett",
            "merchantCategoryCode": "5411"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e2174635-a90b-59bf-a621-2ec15a6baed5",
            "correlationId": "c9548004-58c0-5f3f-93d7-fc32578e001f",
            "idempotencyKey": "484f663a-7ccb-55ac-8455-eb803a3470ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-664699"
            }
          }
        }
      },
      "MerchantChanges": {
        "title": "Merchant Changes",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "M123456"
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the merchant.",
            "example": "Merchant Inc."
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant Category Code (MCC) representing the type of business.",
            "example": "5812"
          }
        },
        "description": "Schema representing changes to be applied to a merchant."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation across systems.",
            "example": "corr_4567"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are idempotent.",
            "example": "idempotency_abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-05T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System where the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application name that initiated the request.",
            "example": "MerchantApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "ch_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_abc123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "PatchMerchantAcquiringFacilityByIdResponse_200": {
        "title": "Merchant Acquiring Facility Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional context about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations related to the Merchant Acquiring Facility.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5e0ea2cb-dbd6-526e-89b3-364a9b9871d4",
            "correlationId": "c9548004-58c0-5f3f-93d7-fc32578e001f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace request and response correlation.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T14:00:00.000Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east"
          }
        },
        "description": "Metadata for tracking and context of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-acquiring-facility-update-merchant-acquiring-facility"
        },
        "example": "merchant-acquiring-facility-update-merchant-acquiring-facility"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must provide a valid JSON Web Token (JWT) in the Authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}