{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Open Item Management By Open Item Management Id-v5-spec",
    "description": "The Open Item Management Retrieval API provides access to detailed information about specific banking operational services linked to open item management by their unique identifiers. This service is essential for financial institutions and operational teams needing to track and manage open items effectively. Common use cases include managing transaction discrepancies or reviewing operational item statuses. By leveraging this API, developers can enhance the customer experience through timely information retrieval for operational banking processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/open-item-management/{openItemManagementId}": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve open item management details for a specific resource.",
        "description": "This API endpoint allows users to retrieve detailed information regarding the open item management status for a specific resource identified by its unique ID (RES-100045). It provides essential insights into the operational services related to this resource, enabling better decision-making and management.",
        "operationId": "getBankingOperationalServicesOpenItemManagementByOpenItemManagementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/openItemManagementId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving item management details related to the specified operational service. It includes the necessary parameters and data structure conforming to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesOpenItemManagementByOpenItemManagementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesOpenItemManagementByOpenItemManagementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesOpenItemManagementByOpenItemManagementIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to open item management operations.",
        "example": "{}"
      },
      "GetBankingOperationalServicesOpenItemManagementByOpenItemManagementIdResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the operation.",
            "example": "CUST-428317"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account related to the operation.",
            "example": "ACC-308151"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record related to the operation.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata regarding the operation, such as correlation and response IDs.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for the GET operation on open item management.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-428317",
          "accountId": "ACC-308151",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "86ddc7a4-e06a-5f36-9515-d4d5109649c4",
            "correlationId": "ab2c5d28-57fa-55ba-9b92-8ae23ede8669",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking requests across different systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata containing information about the operation's response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "openItemManagementId": {
        "name": "openItemManagementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-item-management-get-open-item-management"
        },
        "example": "open-item-management-get-open-item-management"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT) to securely transmit information between parties. The token should be included in the Authorization header of requests, prefixed with 'Bearer '. Ensure that your token is valid and correctly signed to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}