{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Banking Service Directory API",
    "description": "The Banking Service Directory API enables users to access a comprehensive list of cross-channel banking services. It provides detailed information about various services, which can help consumers and businesses identify suitable financial solutions. This API is particularly useful for developers integrating banking service offerings into applications, allowing for enhanced customer experiences and streamlined access to essential banking functionalities. Use cases include service discovery, comparison, and integration of banking services into third-party platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/service-directory/{param1}": {
      "get": {
        "tags": [
          "Service Directory"
        ],
        "summary": "Retrieve service directory entry.",
        "description": "This endpoint allows users to fetch detailed information related to the specified service directory entry identified by RES-100045. It provides essential data that can be utilized for various business processes or analysis.",
        "operationId": "getServiceDirectoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "A JSON object containing the request parameters for retrieving service directory information for the specified resource. This data will direct the service's response and structure the pertinent information needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServiceDirectoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully fetched the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServiceDirectoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServiceDirectoryRes100045Request": {
        "type": "string",
        "description": "Represents the request body for the operations conducted under the service directory. This schema is intended to be used in GET requests.",
        "example": "{}"
      },
      "GetServiceDirectoryRes100045Response_200": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-173203"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "INT-208242"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the interaction occurred.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the interaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation in the cross-channel service directory API.",
        "example": {
          "partyId": "PARTY-173203",
          "interactionId": "INT-208242",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c7acf26f-05b3-5ad8-b5e4-2dbf31b5506d",
            "correlationId": "c48a922a-138a-5261-bc5a-e8b671f08997",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request-response correlation.",
            "example": "correlation_xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "service-directory-get-service-directory"
        },
        "example": "service-directory-get-service-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, which can help in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This scheme expects a JSON Web Token (JWT) to be provided in the 'Authorization' header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}