{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Knowledge Asset By Param1-spec",
    "description": "This API enables the modification of specific knowledge assets within the intellectual property portfolio by using unique identifiers. The PATCH operation updates various attributes of a targeted knowledge asset, allowing organizations to refine and enhance their intellectual property management. Typical consumers include product managers and legal teams who require timely adjustments to asset details. This ensures that the knowledge base remains current and accurately reflects the organization's portfolio.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio/{param1}": {
      "patch": {
        "tags": [
          "Intellectual Property Management"
        ],
        "summary": "Update Intellectual Property Portfolio",
        "description": "This operation allows users to update the details of the specified intellectual property portfolio identified by RES-100045. Please ensure that the necessary data fields are included in the request body for a successful update.",
        "operationId": "updateKnowledgeAssetByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the intellectual property portfolio identified by RES-100045. It requires the new values for the fields that need modification.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeAssetByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, with the updated resource returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateKnowledgeAssetByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateKnowledgeAssetByParam1Request": {
        "title": "Intellectual Property Portfolio Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the intellectual property asset.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identity of the person or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an intellectual property portfolio.",
        "example": {
          "changes": {
            "ipAssetId": "STANDARD",
            "assetType": "STANDARD",
            "registrationNumber": "NY-4587219"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b5ed7a94-8a17-5949-8a91-2f66c06d8526",
            "correlationId": "5ab354f5-186a-5269-9c28-7b60b0ded3bb",
            "idempotencyKey": "a3ad1fb3-58f9-5cd4-83a4-3dc4bf45b6a8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946763"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes to Intellectual Property Asset",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "IP-123456"
          },
          "assetType": {
            "type": "string",
            "description": "The type of asset being modified.",
            "example": "Patent"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number associated with the intellectual property asset.",
            "example": "REG-7890"
          }
        },
        "description": "Schema representing the details of changes to be applied to the intellectual property asset."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track related requests.",
            "example": "CORR-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEM-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T11:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InventoryManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application initiating the request.",
            "example": "AssetManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information related to the request."
      },
      "Channel": {
        "title": "Request Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV-123"
          }
        },
        "description": "Schema representing details about the channel through which the request was made."
      },
      "UpdateKnowledgeAssetByParam1Response_200": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, usually indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for patching an intellectual property portfolio. This response includes versioning, status, updated timestamp, and metadata regarding the request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af99b879-489d-5e96-a5de-f7171bf24d96",
            "correlationId": "5ab354f5-186a-5269-9c28-7b60b0ded3bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T14:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata associated with the response.",
        "example": {
          "responseId": "12345",
          "correlationId": "67890",
          "generatedAt": "2023-10-01T14:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-update-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-update-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a JSON Web Token (JWT) to be included in the Authorization header when making requests for secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}