{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Model Financial Instrument Valuation Model-spec",
    "description": "This API facilitates the creation of financial instrument valuation models within the banking sector. It enables financial analysts and model managers to develop and define complex valuation models that are essential for evaluating various financial instruments. By utilizing this endpoint, users can efficiently submit model specifications, ensuring that the instruments are assessed accurately and in a timely manner. Typical consumers include banks, investment firms, and financial service providers looking to enhance their valuation processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/financial-instrument-valuation-models": {
      "post": {
        "tags": [
          "Financial Models"
        ],
        "summary": "Create a Financial Instrument Valuation Model",
        "description": "This endpoint allows users to create a new financial instrument valuation model for assessing the value of various financial instruments based on specific criteria. Make sure to provide all necessary details in the request body to ensure the model is created successfully.",
        "operationId": "createModelFinancialInstrumentValuationModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update financial instrument valuation models. Ensure that all required fields are provided for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelFinancialInstrumentValuationModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The financial instrument valuation model has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateModelFinancialInstrumentValuationModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateModelFinancialInstrumentValuationModelRequest": {
        "title": "Financial Instrument Valuation Model Request",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the financial model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the financial model being used.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the valuation.",
            "example": "PORT-215980"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date for which the valuation is being calculated, formatted as YYYY-MM-DD.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "A description of the scenario under which the valuation is performed.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level to be used in the valuation.",
            "example": 100.0
          },
          "instrumentType": {
            "type": "string",
            "description": "The type of financial instrument to be valued.",
            "example": "STANDARD"
          },
          "ticker": {
            "type": "string",
            "description": "The stock ticker symbol of the financial instrument.",
            "example": "STANDARD"
          },
          "issueCurrency": {
            "type": "string",
            "description": "The currency in which the instrument is issued.",
            "example": "USD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the financial instrument valuation model operations.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-215980",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "requestContext": {
            "requestId": "8adfbcd7-ae94-5d3b-a403-e478f9873351",
            "correlationId": "841ba16c-382c-58ea-9a17-2ec12ea62bfd",
            "idempotencyKey": "1b88cad7-fa5b-5993-be8d-d33c0cdce806",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-360021"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking related requests within the system.",
            "example": "corr-101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotent-key-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, formatted as ISO 8601 datetime.",
            "example": "2023-10-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "AppB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateModelFinancialInstrumentValuationModelResponse_201": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument valuation model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the valuation model.",
            "example": "PORT-220298"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the specific resource related to the valuation.",
            "example": "RES-290133"
          },
          "status": {
            "type": "string",
            "description": "Current status of the financial instrument valuation model.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the valuation model was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the financial instrument valuation model.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-220298",
          "resourceId": "RES-290133",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c3414c8b-2526-5a11-9e3d-d8584eb8408a",
            "correlationId": "841ba16c-382c-58ea-9a17-2ec12ea62bfd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the system.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the valuation model occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information related to the financial instrument valuation model."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-models-create-financial-instrument-valuation-models"
        },
        "example": "financial-instrument-valuation-models-create-financial-instrument-valuation-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme with JSON Web Tokens (JWT). Clients must provide a valid JWT in the 'Authorization' header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}