{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Hedge Fund Administration-spec",
    "description": "The Market Operations Management API enables users to initiate and manage market operations related to hedge fund administration. By utilizing this endpoint, consumers\u2014including hedge fund administrators and financial institutions\u2014can create operational requests that streamline the administration of their market activities. This API supports efficient processing of transactions and facilitates compliance with market regulations. Use cases typically involve transaction initiation, operational monitoring, and integration with broader financial service platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/hedge-fund-administration": {
      "post": {
        "tags": [
          "Hedge Fund Operations"
        ],
        "summary": "Creates a new hedge fund administration entry.",
        "description": "This operation allows you to create a new hedge fund administration record, enabling efficient tracking and management of hedge fund operations. Ensure that all required fields are provided for successful record creation.",
        "operationId": "createMarketOperationHedgeFundAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate hedge fund administration operations. It contains essential information required for processing hedge fund-related transactions and operations. Please ensure that all mandatory fields are populated correctly to avoid errors during the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationHedgeFundAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationHedgeFundAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationHedgeFundAdministrationRequest": {
        "title": "Hedge Fund Administration Operations Request",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Unique identifier of the hedge fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "Unique identifier for the share class associated with the fund.",
            "example": "STANDARD"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date for which the fund's net asset value is calculated.",
            "example": "2026-09-15"
          },
          "netAssetValue": {
            "description": "Details about the fund's net asset value.",
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "Total number of units outstanding for the fund.",
            "format": "int32",
            "example": 1
          },
          "administratorId": {
            "type": "string",
            "description": "Unique identifier for the fund administrator.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for hedge fund administration operations.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "valuationDate": "2026-09-15",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1,
          "administratorId": "STANDARD",
          "requestContext": {
            "requestId": "b7e34979-4e62-560e-9e8e-469a99ff6be2",
            "correlationId": "e6726253-5d9e-5976-bc5d-a304a627430e",
            "idempotencyKey": "d815dd05-b6cf-5b53-aaaf-01f4556da366",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-420304"
            }
          }
        }
      },
      "NetAssetValue": {
        "title": "Net Asset Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount of the net asset value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the net asset value is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the net asset value associated with a hedge fund."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure request idempotency.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application initiating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateMarketOperationHedgeFundAdministrationResponse_201": {
        "title": "Hedge Fund Administration Operations Response",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "The unique identifier for the share class associated with the fund.",
            "example": "STANDARD"
          },
          "administratorId": {
            "type": "string",
            "description": "The unique identifier for the administrator handling the fund.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the operation.",
            "example": "RES-104353"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the hedge fund administration operations POST request.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "administratorId": "STANDARD",
          "resourceId": "RES-104353",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "13d4e34a-a64e-5bb4-8a35-5c6f707ba34d",
            "correlationId": "e6726253-5d9e-5976-bc5d-a304a627430e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata related to the hedge fund administration operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "hedge-fund-administration-create-hedge-fund-administration"
        },
        "example": "hedge-fund-administration-create-hedge-fund-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication scheme, which requires a valid JSON Web Token (JWT) to be provided in the Authorization header of requests. The token must authenticate the user and grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}