{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Atm Network Operations-spec",
    "description": "The Channel-Specific ATM Network Operations API enables users to access detailed information regarding ATM network operations tailored for specific banking channels. This endpoint is particularly useful for financial institutions and developers seeking to analyze or monitor ATM performance metrics and connectivity. It provides insights into operational status, transaction volumes, and channel-specific performance. Typical consumers include banking analysts and application developers who require reliable data for reporting and system integration.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-operations": {
      "get": {
        "tags": [
          "ATM Operations"
        ],
        "summary": "Retrieve ATM Network Operations",
        "description": "This endpoint allows clients to fetch the current operational status and details of the ATM network, providing essential information for monitoring and management purposes.",
        "operationId": "listChannelSpecificAtmNetworkOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to specify parameters and data required to retrieve ATM network operations specific to a channel. It is formatted in JSON and adheres to the schema defined for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificAtmNetworkOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning current ATM network operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificAtmNetworkOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificAtmNetworkOperationsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body specific to ATM network operations in the context of the operation GET. It is expected to contain relevant information or specifications in string format.",
        "example": "{}"
      },
      "ListChannelSpecificAtmNetworkOperationsResponse_200": {
        "title": "ATM Network Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of ATM operation details.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "atmId": "STANDARD",
                "cashStatus": "AVAILABLE",
                "terminalHealth": "ONLINE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ATMOperation"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata contains additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the ATM network operations GET request, including details about operational channels, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "atmId": "STANDARD",
              "cashStatus": "AVAILABLE",
              "terminalHealth": "ONLINE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ac76fbb5-a091-5e97-ad2f-77682bfb3fc7",
            "correlationId": "7868279b-c5d9-5c2c-a3db-60ced7b92d2f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ATMOperation": {
        "title": "ATM Operation Status",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel."
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region of operation."
          },
          "serviceWindow": {
            "description": "Operational hours for the ATM.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Daily cash withdrawal capacity of the ATM.",
            "format": "int32"
          },
          "atmId": {
            "type": "string",
            "description": "Unique identifier for the ATM."
          },
          "cashStatus": {
            "type": "string",
            "description": "Current cash status of the ATM."
          },
          "terminalHealth": {
            "type": "string",
            "description": "Health status of the ATM terminal."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record in the system."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the ATM record."
          }
        },
        "description": "Schema representing the details of an individual ATM operation."
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time at which the ATM opens."
          },
          "closesAt": {
            "type": "string",
            "description": "Time at which the ATM closes."
          }
        },
        "description": "Schema representing the opening and closing times of an ATM."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema containing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed."
          }
        },
        "description": "Schema representing additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint being accessed, allowing for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-operations-search-atm-network-operations"
        },
        "example": "atm-network-operations-search-atm-network-operations"
      },
      "X-Runtime-App": {
        "description": "This header specifies the name of the application that is making the request, which is useful for identifying the source of the traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to authenticate successfully.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}