{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Business Risk Models-spec",
    "description": "The Business Risk Models Retrieval API allows users to access a curated list of business risk models. This endpoint provides essential insights into various risk parameters that organizations may face in their banking operations. Typical consumers include risk analysts, compliance officers, and financial institutions seeking to assess risk exposure and enhance decision-making. By aggregating relevant data, this API facilitates the evaluation of potential risks and benchmarks against industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/business-risk-models": {
      "get": {
        "tags": [
          "Business Risk Management"
        ],
        "summary": "Retrieve a list of business risk models.",
        "description": "This endpoint allows users to fetch all available business risk models. It provides insights into the various models utilized for assessing potential business risks, enabling informed decision-making.",
        "operationId": "listModelBusinessRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving business risk models. This includes parameters and filters that impact the response and allow for precise querying of available models.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelBusinessRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of business risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelBusinessRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelBusinessRiskModelsRequest": {
        "type": "string",
        "description": "Represents the request body for getting business risk models in the application in JSON format.",
        "example": "{}"
      },
      "ListModelBusinessRiskModelsResponse_200": {
        "title": "Business Risk Models Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of business risk model items.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-274288",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria for the items retrieved.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for a successful retrieval of business risk models.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-274288",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d17afb25-a907-575f-a004-80b24b5e67fd",
            "correlationId": "ca7e521f-c4cf-51c5-a0b7-021d129c9214",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessRiskModel": {
        "title": "Business Risk Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the business risk model.",
            "example": "model123"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the business risk model.",
            "example": "v1.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio linked to the business risk model.",
            "example": "portfolio456"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is applicable.",
            "example": "2023-01-01"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario relevant to the business risk model.",
            "example": "baseline"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the business risk assessment.",
            "example": 0.95
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for validation.",
            "example": "dataset789"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The number of months used for backtesting.",
            "format": "int32",
            "example": 12
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the model.",
            "example": "approved"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (active/inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated.",
            "example": "2023-01-02T12:00:00Z"
          }
        },
        "description": "Schema representing a business risk model item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination metadata for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs and requests.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east"
          }
        },
        "description": "Schema containing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-risk-models-search-business-risk-models"
        },
        "example": "business-risk-models-search-business-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token to authenticate requests. The token should be provided in the Authorization header as 'Bearer {token}', where {token} is the JSON Web Token (JWT) used to validate the user's identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}