{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Withdrawal API",
    "description": "The Loan Application Withdrawal API allows users to formally withdraw their loan applications. This endpoint is primarily used by applicants who wish to cancel their loan requests for any reason, effectively stopping any further processing of their application. By providing the specific application identifier, consumers can ensure their request is addressed promptly. This API is commonly utilized by loan applicants and financial service providers that manage loan processing workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/withdraw": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Withdraw a loan application",
        "description": "This endpoint allows users to withdraw a specific loan application identified by its unique resource ID. Once a loan application is withdrawn, it will no longer be processed or considered for approval.",
        "operationId": "withdrawLoanApplicationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to withdraw a loan application identified by the unique ID 'RES-100045'. It requires specific data to process the withdrawal effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawLoanApplicationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The withdrawal request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawLoanApplicationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "WithdrawLoanApplicationRes100045Request": {
        "title": "Withdraw Loan Application Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for withdrawal.",
            "example": "CODE-456"
          },
          "reasonDescription": {
            "type": "string",
            "description": "A detailed description of the reason for withdrawal.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for withdrawing a loan application.",
        "example": {
          "reasonCode": "CODE-456",
          "reasonDescription": "STANDARD",
          "requestContext": {
            "requestId": "0a53b6b6-a6ff-5636-8025-9dcd71b751b7",
            "correlationId": "82236302-23f6-5ab8-b720-dcc3d5d6af62",
            "idempotencyKey": "b70dbb5e-a0ba-5bc6-8e10-b52612f08ace",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-330330"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual details for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the specific channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "WithdrawLoanApplicationRes100045Response_200": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "PROD-806014"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier associated with the loan application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the loan application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested in the loan application.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The unique identifier for the primary customer associated with the loan application.",
            "example": "CUST-985183"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch handling the loan application.",
            "example": "CODE-141"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager responsible for the loan application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The code associated with the marketing campaign for the loan product.",
            "example": "CODE-398"
          },
          "customerConsent": {
            "description": "The consent details provided by the customer for processing their application and data.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "42259a43-e71d-0a34-f407-89f830d0a966"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned to the loan request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the loan application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when a decision was made on the loan application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier for the booked loan, if applicable.",
            "example": "LOAN-766153"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage of completion for the loan application process.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements for the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information regarding the loan application's lifecycle.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the loan application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan application withdrawal operation.",
        "example": {
          "productId": "PROD-806014",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-985183",
          "branchCode": "CODE-141",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-398",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "42259a43-e71d-0a34-f407-89f830d0a966",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-766153",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c8f454c5-4486-5264-8514-39f83e4db173",
            "correlationId": "82236302-23f6-5ab8-b720-dcc3d5d6af62",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the requested principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The requested principal amount.",
            "example": "10000"
          }
        },
        "description": "Schema representing the requested principal amount details."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer has given consent for credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer has consented to data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer has given consent for marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when consent was provided by the customer.",
            "example": "2023-10-01T12:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "A reference identifier for tracking customer consent.",
            "example": "consent-123456"
          }
        },
        "description": "Schema representing the customer's consent details."
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifying the outstanding requirement.",
            "example": "REQ-001"
          },
          "description": {
            "type": "string",
            "description": "A description of the outstanding requirement.",
            "example": "Proof of income"
          },
          "status": {
            "type": "string",
            "description": "The current status of the outstanding requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the outstanding requirement.",
            "example": "2023-10-15"
          }
        },
        "description": "Schema representing an outstanding requirement for the loan application."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the loan application was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the loan application.",
            "example": "user-12345"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the loan application was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the loan application.",
            "example": "user-67890"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan application.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the audit information for the loan application."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking request-response pairs.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the loan application was processed.",
            "example": "North America"
          }
        },
        "description": "Schema representing additional metadata related to the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-withdraw-loan-application"
        },
        "example": "banking-loans-openapi-withdraw-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where tokens are passed in the HTTP Authorization header as 'Bearer <token>'. The expected format for the token is JSON Web Token (JWT), which allows for secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}