{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Financial Gateway-spec",
    "description": "The Financial Gateway Payment Processing API enables businesses to securely initiate payment transactions through a robust financial gateway. This API supports the creation of payment requests, allowing users to connect their banking services seamlessly. Typical consumers include e-commerce platforms and financial service providers looking to streamline payment operations. By leveraging this API, developers can enhance their applications with reliable payment processing capabilities, ensuring efficient and secure transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-gateway": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate a payment through the financial gateway.",
        "description": "This endpoint allows you to initiate a payment transaction using the financial gateway. Provide the necessary payment details in the request body to execute the transaction successfully.",
        "operationId": "createPaymentFinancialGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This section allows the user to initiate a payment through the financial gateway. It requires the necessary details about the payment transaction to be sent in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentFinancialGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The payment was successfully created and processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentFinancialGatewayResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentFinancialGatewayRequest": {
        "title": "Financial Gateway Payment Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-750852"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-870641"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-514954"
          },
          "instructedAmount": {
            "description": "The amount that is being transferred along with its currency.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information accompanying the payment to describe its purpose.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the request for processing the payment.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to the financial gateway for processing a payment operation.",
        "example": {
          "paymentId": "PAY-750852",
          "debtorAccountId": "ACC-870641",
          "creditorAccountId": "ACC-514954",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "949268bb-2a02-5294-ae78-ca39ba7f6081",
            "correlationId": "5b26fe77-68e9-56c4-b2f3-ee52328d13dd",
            "idempotencyKey": "2a237065-1a85-5b42-ab3f-66c39121b99c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-263219"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount to be transferred.",
            "example": 150.75
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "EUR"
          }
        },
        "description": "Schema describing the instructed amount and currency for a payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific payment request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace related requests across systems.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests do not cause duplicate operations.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "Payment Processor"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the payment request originated.",
            "example": "Mobile Banking App"
          },
          "channel": {
            "description": "Information about the channel used for the payment request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that holds contextual information about the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the payment channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel through which the payment request is made."
      },
      "CreatePaymentFinancialGatewayResponse_201": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-851870"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The unique identifier for the debtor's account.",
            "example": "ACC-367519"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The unique identifier for the creditor's account.",
            "example": "ACC-866310"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the payment.",
            "example": "RES-785713"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment (e.g., pending, completed, failed).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the payment was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "resp_abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to track the request across multiple systems.",
                "example": "corr_xyz789"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the payment processing is taking place.",
                "example": "us-west"
              }
            },
            "description": "Additional information related to the payment.",
            "example": {
              "responseId": "33392d5f-31e7-576f-a50a-cde152552ba8",
              "correlationId": "5b26fe77-68e9-56c4-b2f3-ee52328d13dd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response of a financial gateway operation for a payment.",
        "example": {
          "paymentId": "PAY-851870",
          "debtorAccountId": "ACC-367519",
          "creditorAccountId": "ACC-866310",
          "resourceId": "RES-785713",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "33392d5f-31e7-576f-a50a-cde152552ba8",
            "correlationId": "5b26fe77-68e9-56c4-b2f3-ee52328d13dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-068"
        },
        "example": "WF-068"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "eea2074e-49c8-482a-af68-cbce7ff0c101"
        },
        "example": "eea2074e-49c8-482a-af68-cbce7ff0c101"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5"
        },
        "example": "5"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ed345606-cd2e-408f-b0ef-bacc7402c0dc"
        },
        "example": "ed345606-cd2e-408f-b0ef-bacc7402c0dc"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-gateway-create-financial-gateway"
        },
        "example": "financial-gateway-create-financial-gateway"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-068"
        },
        "example": "WF-068"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Payroll Service Setup and Execution"
        },
        "example": "Corporate Payroll Service Setup and Execution"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ed345606-cd2e-408f-b0ef-bacc7402c0dc"
        },
        "example": "ed345606-cd2e-408f-b0ef-bacc7402c0dc"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, where the token is a JSON Web Token (JWT). The client must include this token in the Authorization header of requests to authenticate with the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}