{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Delinquent Account Handling By Delinquent Account Handling Id-v5-spec",
    "description": "The Delinquent Account Handling Retrieval API provides access to detailed information regarding specific delinquent account handling processes based on unique identifiers. This endpoint allows users, such as financial institutions and account managers, to efficiently retrieve pertinent data related to delinquent accounts, facilitating better decision-making and operational efficiency. Key consumers include banking professionals and compliance teams who need to manage and address issues related to delinquent accounts effectively. By leveraging this API, users can ensure they are equipped with the latest operational data to improve account management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/delinquent-account-handling/{delinquentAccountHandlingId}": {
      "get": {
        "tags": [
          "Delinquent Account Handling"
        ],
        "summary": "Retrieve details for a specific delinquent account handling operation.",
        "description": "Fetches comprehensive information about the delinquent account handling procedure for the specified account number (ACC-200045). This includes current status, actions taken, and any relevant notifications regarding the account. Useful for consultation and tracking.",
        "operationId": "getBankingOperationalServicesDelinquentAccountHandlingByDelinquentAccountHandlingId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/delinquentAccountHandlingId"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve information about the delinquent account handling operations for the specified account. This should include any parameters or filters necessary for the operation to successfully retrieve the account details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesDelinquentAccountHandlingByDelinquentAccountHandlingIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesDelinquentAccountHandlingByDelinquentAccountHandlingIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesDelinquentAccountHandlingByDelinquentAccountHandlingIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operational services API related to delinquent account handling. It contains the necessary parameters in string format.",
        "example": "{}"
      },
      "GetBankingOperationalServicesDelinquentAccountHandlingByDelinquentAccountHandlingIdResponse_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "CUST-732859"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account being processed.",
            "example": "ACC-509424"
          },
          "requestedAt": {
            "type": "string",
            "description": "Date and time when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to handling delinquent accounts.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-732859",
          "accountId": "ACC-509424",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2e0e77a9-c761-5d0c-b1cd-a07cdcdb071b",
            "correlationId": "f5743556-ebbe-5c3c-95d8-24c283960869",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "correlation_002"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the metadata was generated.",
            "example": "2023-10-01T12:02:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request is being processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata containing additional information about the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "delinquentAccountHandlingId": {
        "name": "delinquentAccountHandlingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that was called, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "delinquent-account-handling-get-delinquent-account-handling"
        },
        "example": "delinquent-account-handling-get-delinquent-account-handling"
      },
      "x-runtime-app": {
        "description": "Name of the application that processed the request, providing context for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme based on Bearer tokens, specifically designed for use with JSON Web Tokens (JWT). This method allows secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}