{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Channel Specific By Param1-spec",
    "description": "The Channel-Specific Product Inventory API enables users to retrieve detailed product inventory information tailored to specific channels. By providing a unique parameter, this endpoint allows for efficient querying of inventory items based on channel requirements. Typical consumers of this API include retail systems, e-commerce platforms, and inventory management applications seeking to optimize product availability and streamline operations. Developers can leverage this API to enhance user experiences and ensure accurate inventory representation across different sales channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management/{param1}": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product inventory item details.",
        "description": "This endpoint allows you to fetch detailed information about a specific product inventory item associated with a given channel, identified by its unique ID. It provides insights into the item's availability, specifications, and current stock status.",
        "operationId": "getChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve information pertaining to the product inventory item identified by the specific product code 'PROD-700045'. It outlines the required structure for the request to ensure proper processing and response from the API.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested product inventory item details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificByParam1Request": {
        "type": "string",
        "description": "A sample string representation of the request body for the Product Inventory Item Management operation.",
        "example": "{}"
      },
      "GetChannelSpecificByParam1Response_200": {
        "title": "Product Inventory Item Management Response",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit identifier for the product.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the inventory item is located.",
            "example": "STANDARD"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "The current quantity of the inventory item available in stock.",
            "format": "int32",
            "example": 1
          },
          "reorderPoint": {
            "type": "integer",
            "description": "The minimum quantity of the inventory item before a reorder is triggered.",
            "format": "int32",
            "example": 1
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "The quantity of the item that should be distributed from the stock.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the inventory record, indicating its current state.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the inventory item record, used for optimistic concurrency control.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the inventory item record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-98765"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlating requests and responses within the system.",
                "example": "corr-54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Geographical region where the inventory item processing occurred.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata related to the inventory item response.",
            "example": {
              "responseId": "af4b7d60-215f-567c-a976-ef9222318b69",
              "correlationId": "001313fe-de57-581b-956c-7491fc44ff54",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for managing product inventory items, including details such as item ID, SKU, branch information, quantities, record status, and metadata.",
        "example": {
          "inventoryItemId": "STANDARD",
          "sku": "STANDARD",
          "branchId": "STANDARD",
          "quantityOnHand": 1,
          "reorderPoint": 1,
          "distributionQuantity": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af4b7d60-215f-567c-a976-ef9222318b69",
            "correlationId": "001313fe-de57-581b-956c-7491fc44ff54",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header indicates the unique identifier for the endpoint that processed the request. It helps in tracing the request through the system and ensuring proper logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-get-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-get-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "description": "This header specifies the name of the application that handled the request, providing context for debugging and application monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a JSON Web Token (JWT) to be included in the Authorization header of requests. Use this to secure API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}