{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List External Agency Interbank Relationship Managements-spec",
    "description": "This API provides access to external agency interbank relationship management data, facilitating the retrieval of critical information related to interbank dealings. Users can query various relationships and agreements established with external agencies to ensure compliance and optimize operational efficiency. Typical consumers of this API include financial institutions and regulatory bodies seeking to manage and review interbank partnerships. The API supports robust data retrieval capabilities to enhance decision-making processes in banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/interbank-relationship-management": {
      "get": {
        "tags": [
          "InterbankRelationships"
        ],
        "summary": "Retrieve interbank relationship information.",
        "description": "This endpoint allows you to access and retrieve detailed information about the interbank relationships managed by external agencies. Use this to understand the connections and collaborations between different banking institutions.",
        "operationId": "listExternalAgencyInterbankRelationshipManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to interbank relationships for external agencies. It is expected to be in JSON format as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListExternalAgencyInterbankRelationshipManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved interbank relationship data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExternalAgencyInterbankRelationshipManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListExternalAgencyInterbankRelationshipManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for the interbank relationship management operations, specifically for the GET operation.",
        "example": "{}"
      },
      "ListExternalAgencyInterbankRelationshipManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of interbank relationship items.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-385739",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InterbankRelationshipItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort field for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the interbank relationship management operations, including a list of items and pagination details.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-385739",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "36575e9b-63a1-5c11-ae27-869c6de81e04",
            "correlationId": "498e32c8-3b44-5246-a07d-6be715d5963c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InterbankRelationshipItem": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement related to the interbank relationship.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) of the institution.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the institution.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an interbank relationship item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the request response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interbank-relationship-management-search-interbank-relationship-management"
        },
        "example": "interbank-relationship-management-search-interbank-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that employs a JSON Web Token (JWT) as a bearer token. This is used to securely transmit information between the client and the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}