{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Submission Amendment-spec",
    "description": "The Submission Amendment Management API enables users to submit amendments for existing regulatory submissions, ensuring compliance with evolving regulatory requirements. This API allows financial institutions to maintain accurate records and adjust prior submissions as needed. Typical consumers include compliance officers and financial analysts who manage regulatory reporting and require flexibility in submitting amendments. By utilizing this API, organizations can streamline their regulatory processes and improve their response to changing compliance obligations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "Amend a regulatory submission.",
        "description": "This endpoint allows users to submit amendments for a specific regulatory submission identified by its ID. Ensure that all necessary fields are correctly provided in the request body to process the amendment successfully.",
        "operationId": "createSubmissionAmendment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit amendments for the specified regulatory reporting submission identified by RES-100045. The payload must adhere to the defined schema and should include all necessary fields for the amendment process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubmissionAmendmentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubmissionAmendmentResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSubmissionAmendmentRequest": {
        "title": "Regulatory Reporting Submission Amendment Request",
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "Reference identifier for the original submission.",
            "example": "STANDARD"
          },
          "changes": {
            "$ref": "#/components/schemas/SubmissionChanges"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for submitting an amendment to a regulatory reporting submission.",
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "submissionId": "STANDARD",
            "legalEntityId": "STANDARD",
            "jurisdiction": "STANDARD"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4af8b283-f803-5410-b9c9-d1f2565c4144",
            "correlationId": "ca9c9839-9e2c-5e50-bb45-0a2c8fd94cc6",
            "idempotencyKey": "a39549a6-fd20-59b9-ac68-f4a21de586e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-580925"
            }
          }
        }
      },
      "SubmissionChanges": {
        "title": "Submission Changes",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Identifier of the submission being amended.",
            "example": "SUB-123456"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier of the legal entity associated with the submission.",
            "example": "LE-7890"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction related to the submission.",
            "example": "US"
          }
        },
        "description": "Details of the changes being made to the submission."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "IDEMPOTENT-KEY-ABC"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp at which the request was made.",
            "example": "2023-10-02T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InternalSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "RegulatoryApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEVICE-456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateSubmissionAmendmentResponse_202": {
        "title": "Regulatory Reporting Submission Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed during the submission process.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the submission.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the submission was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/SubmissionMetadata"
          }
        },
        "description": "This schema represents the response for a regulatory reporting submission operation, including details about the action taken, its status, and metadata related to processing.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "dff4ebd5-f109-5322-929c-08d8e68396b1",
            "correlationId": "ca9c9839-9e2c-5e50-bb45-0a2c8fd94cc6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SubmissionMetadata": {
        "title": "Submission Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response of the submission.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses between systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the submission was processed.",
            "example": "string"
          }
        },
        "description": "Detailed information related to the submission processing, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "submissionId": {
        "name": "submissionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request, typically used for tracking and routing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-reporting-amend-regulatory-reporting"
        },
        "example": "regulatory-reporting-amend-regulatory-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that generated the request, useful for monitoring and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to authenticate requests. The JWT should be included in the 'Authorization' header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}