{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Data Switch Operation Routing Decision-spec",
    "description": "The Market Data Routing Decisions API facilitates the management of routing decisions for market data operations within the banking sector. This endpoint allows users to create new routing decision specifications that determine how market data is processed and directed. Typical consumers include financial institutions and application developers seeking to optimize their market data workflows. Through this API, organizations can enhance their decision-making capabilities, ensuring data flows efficiently and effectively to improve trading strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation/routing-decisions": {
      "post": {
        "tags": [
          "Market Data Management"
        ],
        "summary": "Create a new routing decision for market data operations.",
        "description": "This endpoint allows you to create a routing decision in the market data switch operation. You can specify various parameters to define the routing rules which will be used for processing incoming market data requests.",
        "operationId": "createMarketDataSwitchOperationRoutingDecision",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the routing decisions for the market data switch operation. The payload must adhere to the defined schema to ensure correct processing of the routing information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketDataSwitchOperationRoutingDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketDataSwitchOperationRoutingDecisionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketDataSwitchOperationRoutingDecisionRequest": {
        "title": "Market Data Switch Operation Request",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number (ISIN) for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "CODE-547"
          },
          "asOf": {
            "type": "string",
            "description": "Date and time for which the market data is requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the market data will be retrieved.",
            "example": "STANDARD"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed being used.",
            "example": "STANDARD"
          },
          "protocol": {
            "type": "string",
            "description": "Communication protocol to be used for the operation.",
            "example": "STANDARD"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "Rate of messages the system should process, measured in messages per second.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the market data switch operation, including details about the instrument, request context, and messaging parameters.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-547",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "feedId": "STANDARD",
          "protocol": "STANDARD",
          "messagesPerSecond": 1,
          "requestContext": {
            "requestId": "3005abe8-a56f-5a9c-ade8-2a0cc23084e3",
            "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
            "idempotencyKey": "8986949f-807b-55c3-a6a3-3697a5f5a1e2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-127001"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs with specific requests.",
            "example": "corr-xyz-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "idempotent-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that generated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains context-related information for processing the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, WebSocket).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device that is making the request.",
            "example": "device-xyz"
          }
        },
        "description": "This schema contains details about the channel used for the request."
      },
      "CreateMarketDataSwitchOperationRoutingDecisionResponse_202": {
        "title": "Market Data Switch Operation Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument involved in the operation.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The identifier for the market where the instrument is traded.",
            "example": "CODE-877"
          },
          "feedId": {
            "type": "string",
            "description": "The identifier for the data feed associated with the operation.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference used for tracking the processing of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the routing decision operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Meta information related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the Market Data Switch operation indicating routing decisions.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-877",
          "feedId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c0a97388-2067-5d92-aa39-cebe0f5ebdeb",
            "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-121314"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with the original request.",
            "example": "correlation-151617"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the operation took place.",
            "example": "US"
          }
        },
        "description": "Additional information about the response and the operation processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the routing decision operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-route-market-data-switch-operation"
        },
        "example": "market-data-switch-operation-route-market-data-switch-operation"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that performed the operation, indicating the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires the client to send a JSON Web Token (JWT) in the Authorization header of the request. The token is used to verify the identity of the client and to ensure that they have been granted the necessary permissions to access the requested resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}