{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Security Advisorys-spec",
    "description": "The Enterprise Service Security Advisory API provides access to a comprehensive list of security advisories relevant to enterprise banking services. Users can retrieve up-to-date information on potential security risks and suggested actions to mitigate them. This API is essential for compliance officers, security teams, and IT professionals who need to stay informed about vulnerabilities in banking services. It enables proactive security management and fosters a secure banking environment for all stakeholders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory": {
      "get": {
        "tags": [
          "Security Advisory"
        ],
        "summary": "Retrieve Security Advisory Information",
        "description": "This endpoint allows you to fetch detailed information about security advisories related to enterprise services. Use this to stay updated on vulnerabilities and recommendations for mitigating security risks.",
        "operationId": "listEnterpriseServiceSecurityAdvisorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body must include parameters necessary to retrieve security advisory information for enterprise services. Ensure that the JSON structure matches the defined schema to facilitate proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceSecurityAdvisorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning security advisory details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceSecurityAdvisorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceSecurityAdvisorysRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the security advisory service. It is expected to be a string format.",
        "example": "{}"
      },
      "ListEnterpriseServiceSecurityAdvisorysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of security engagement items.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecurityEngagement"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving security advisory operations including items and pagination information.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "38347fd2-0381-5f53-9652-72d2d534d075",
            "correlationId": "8a7418bb-b48a-5b84-9cb4-76c9a997c22b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecurityEngagement": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "ENG12345"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the engagement.",
            "example": "Annual security assessment"
          },
          "framework": {
            "type": "string",
            "description": "The framework being used for the engagement.",
            "example": "NIST Cybersecurity Framework"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "ID of the user or entity responsible for the engagement.",
            "example": "USER67890"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date of the engagement.",
            "example": "2023-01-01"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date of the engagement.",
            "example": "2023-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "In Progress"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the engagement.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a security engagement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to track the request.",
            "example": "CORR654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-search-security-advisory"
        },
        "example": "security-advisory-search-security-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, which requires clients to include a JSON Web Token (JWT) in the Authorization header when making requests. The JWT token is typically used to validate the identity and permissions of the user making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}