{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Fraud Evaluations-spec",
    "description": "The Account Management Fraud Evaluation Retrieval API provides seamless access to fraud evaluation reports related to account management. This endpoint enables authorized users to retrieve detailed insights on potential fraud cases, improving risk management and customer protection. Typical consumers include banking analysts and fraud prevention teams who need to assess account-related risks and take necessary actions. Enhance your fraud detection processes by leveraging this API for timely access to critical evaluation data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-evaluation": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Fraud Evaluation Details",
        "description": "This endpoint allows users to retrieve detailed information regarding fraud evaluations conducted for accounts. It provides insights into potential fraudulent activities, helping users make informed decisions.",
        "operationId": "listAccountManagementFraudEvaluations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for evaluating fraud in account management. This should include all necessary parameters to assess the fraud risk associated with an account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementFraudEvaluationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of fraud evaluation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementFraudEvaluationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementFraudEvaluationsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the fraud evaluation operation.",
        "example": "{}"
      },
      "ListAccountManagementFraudEvaluationsResponse_200": {
        "title": "Fraud Evaluation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of account evaluation entries.",
            "example": [
              {
                "accountId": "ACC-411368",
                "customerId": "CUST-315033",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "transactionId": "TXN-781352",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountEvaluationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for the fraud evaluation operation, containing a list of evaluated accounts and related metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-411368",
              "customerId": "CUST-315033",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "transactionId": "TXN-781352",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "bf8c5b4e-ab3a-5c97-a796-93d77230305f",
            "correlationId": "141dbd98-933b-56c3-b26a-c677da6d8479",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountEvaluationItem": {
        "title": "Account Evaluation Item",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "12345"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "54321"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date for which the ledger entry is relevant.",
            "example": "2023-10-01"
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the account balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The current balance of the account in the specified currency.",
            "example": 500.0
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction linked to the account.",
            "example": "trans_67890"
          },
          "riskScore": {
            "type": "number",
            "description": "The calculated risk score for this account.",
            "example": 0.7
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold for making a decision based on the risk score.",
            "example": 0.5
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level assigned to the device used for the transaction.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the account record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to this account record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual account evaluation entry."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the response.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple service calls.",
            "example": "corr_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-evaluation-search-fraud-evaluation"
        },
        "example": "fraud-evaluation-search-fraud-evaluation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. The token must be a valid JSON Web Token (JWT) that grants access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}