{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Domestic Standing Order Payment Details-spec",
    "description": "The Domestic Standing Order Payment Details API provides access to detailed payment information related to domestic standing orders. This endpoint enables users to retrieve specific payment details for a given standing order, facilitating effective financial management and reporting. Typical consumers include financial institutions, payment service providers, and developers building applications for managing recurring payments. This API supports use cases such as audit trails, reconciliation processes, and customer inquiries about funding schedules.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-orders/{param1}/payment-details": {
      "get": {
        "tags": [
          "Domestic Standing Orders"
        ],
        "summary": "Retrieve Payment Details",
        "description": "This endpoint allows you to retrieve the payment details for a specific domestic standing order identified by RES-100045. It provides all necessary information related to the standing order to facilitate better financial management.",
        "operationId": "listDomesticStandingOrderPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the payment details for the specified domestic standing order identified by RES-100045. It is important that the request conforms to the structure defined in the schema to ensure accurate data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDomesticStandingOrderPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDomesticStandingOrderPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDomesticStandingOrderPaymentDetailsRequest": {
        "title": "Payment Details Request Body",
        "type": "string",
        "description": "This schema represents the request body structure for retrieving payment details related to domestic standing orders.",
        "example": "{}"
      },
      "ListDomesticStandingOrderPaymentDetailsResponse_200": {
        "title": "Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "Array of payment transaction status objects.",
                "items": {
                  "$ref": "#/components/schemas/PaymentTransactionStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource.",
                    "example": "https://api.example.com/current"
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results.",
                    "example": "https://api.example.com/first"
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results.",
                    "example": "https://api.example.com/prev"
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results.",
                    "example": "https://api.example.com/next"
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results.",
                    "example": "https://api.example.com/last"
                  }
                },
                "description": "Links for pagination related to the payment data."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 5
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time when the first payment transaction is available.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time when the last payment transaction is available.",
                    "example": "2023-12-31T23:59:59Z"
                  }
                },
                "description": "Metadata about the response, including pagination information."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "resp-12345"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "ID for correlating requests and responses.",
                    "example": "corr-67890"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "2023-01-01T12:00:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Indicates the region where the processing took place.",
                    "example": "US-West"
                  }
                },
                "description": "Additional metadata related to the response."
              }
            },
            "description": "Contains the main data related to payment transactions.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-570230",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response object containing details about payment transactions, including their statuses, metadata, and links for navigation.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-570230",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "36db5c33-ec8b-5fb2-9971-55c11c2624e0",
            "correlationId": "0b164bd9-f0e9-5775-a86d-34d85cceb47c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentTransactionStatus": {
        "title": "Payment Transaction Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "txn-123456"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction.",
            "example": "Completed"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "2023-01-01T10:00:00Z"
          },
          "StatusDetail": {
            "$ref": "#/components/schemas/PaymentStatusDetail"
          }
        },
        "description": "Detail of the payment transaction status, providing information about the transaction's current state."
      },
      "PaymentStatusDetail": {
        "title": "Payment Status Detail",
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment transaction.",
            "example": "ACH"
          },
          "Status": {
            "type": "string",
            "description": "Detailed status of the payment.",
            "example": "Processed"
          },
          "StatusReason": {
            "type": "string",
            "description": "Reason for the current payment status.",
            "example": "Success"
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "Description providing further details about the status reason.",
            "example": "The transaction has been successfully processed."
          }
        },
        "description": "Detailed information about the payment status, including reasons for the current status."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-standing-order-details"
        },
        "example": "payment-initiation-openapi-get-domestic-standing-order-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be passed in the authorization header of HTTP requests for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}