{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Voepayroll-spec",
    "description": "The Customer Voepayroll Management API facilitates the creation and submission of payroll information for customers within the decisioning framework. It allows businesses to input essential payroll data associated with specific customers, identified by their unique customer ID. This API is particularly useful for payroll administrators and financial professionals who need to ensure accurate and timely payroll processing. By leveraging this endpoint, organizations can streamline their payroll operations and improve overall efficiency in customer financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voepayroll": {
      "post": {
        "tags": [
          "Customer Payroll Management"
        ],
        "summary": "Create a Voepayroll entry for a specific customer.",
        "description": "This endpoint allows you to create a new Voepayroll entry for the customer identified by CUST-100045. Use this operation to manage payroll-related information for the customer, ensuring that their payroll details are kept up to date.",
        "operationId": "createCustomerVoepayroll",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update payroll information for a specific customer identified by CUST-100045. Ensure that all required fields are populated according to the schema provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerVoepayrollRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and will be processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerVoepayrollResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerVoepayrollRequest": {
        "type": "object",
        "properties": {
          "payrollData": {
            "description": "Contains the payroll-related data for the request.",
            "$ref": "#/components/schemas/PayrollData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for the report with custom labels and values.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "payStatementsFromDate": {
            "type": "integer",
            "description": "The date from which pay statements are to be retrieved, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "The market segment related to the payroll request.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the payroll request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing payroll operations.",
        "example": {
          "payrollData": {
            "ssn": "STANDARD",
            "dob": 1,
            "reportId": "STANDARD",
            "payrollAccountIds": [
              "ACC-358986"
            ]
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "payStatementsFromDate": 1,
          "marketSegment": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "b1f50bfe-7b03-55cf-b812-5740e3aaeee5",
            "correlationId": "3d1896e2-01fa-5d35-afd3-010d2ada3f7e",
            "idempotencyKey": "5955a034-d889-59e4-8585-8fcb88fb4414",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-100062"
            }
          }
        }
      },
      "PayrollData": {
        "title": "Payroll Data",
        "type": "object",
        "properties": {
          "retrievalId": {
            "type": "string",
            "description": "Identifier for payroll data retrieval.",
            "example": "string"
          },
          "payrollAggregatorResponseId": {
            "type": "string",
            "description": "Identifier for the response from the payroll aggregator.",
            "example": "string"
          },
          "consentMethod": {
            "type": "string",
            "description": "Method of consent for processing payroll data.",
            "example": "string"
          },
          "employmentIds": {
            "type": "array",
            "description": "List of employment identifiers associated with the payroll data.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Contains details related to payroll processing."
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label associated with the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": false
          }
        },
        "description": "Schema representing a custom field within the report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request through systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateCustomerVoepayrollResponse_202": {
        "title": "Voepayroll Operation Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "dda58c34-f3f2-5039-89e4-21627c035cf1"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user associated with the operation.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the response was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the operation response.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social security number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement regarding any dispute.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Status of the operation response.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the payroll data processing.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response from the Voepayroll operation, containing customer and payroll information.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "dda58c34-f3f2-5039-89e4-21627c035cf1",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "payrollData": {
              "retrievalId": "STANDARD",
              "payrollAggregatorResponseId": "37dfb71a-ed49-5f9d-840d-9e3add819305",
              "consentMethod": "STANDARD",
              "employmentIds": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "e58aef6f-09b8-52c6-97ce-cfe4ba9ec591",
            "correlationId": "3d1896e2-01fa-5d35-afd3-010d2ada3f7e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the end user.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the end user.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "URL for additional information about the end user.",
            "example": "string"
          }
        },
        "description": "Contains details of the end user including personal information and contact details."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the consumer's residence.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact number for the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social security number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Detailed information regarding the consumer."
      },
      "Constraints": {
        "title": "Payroll Constraints",
        "type": "object",
        "properties": {
          "payrollData": {
            "description": "Details regarding payroll data specifics.",
            "$ref": "#/components/schemas/PayrollData"
          }
        },
        "description": "Contains specific constraints related to payroll data processing."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the response across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint. This helps to uniquely identify which endpoint was called in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voe-payroll-report"
        },
        "example": "open-finance-api-generate-voe-payroll-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header provides context for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token in the HTTP Authorization header, typically formatted as a JSON Web Token (JWT). This scheme should be used to authorize access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}