{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intents Retrieval API",
    "description": "The Payment Intents Retrieval API allows users to fetch the details of specific payment intents using a unique identifier. This endpoint serves businesses that need to display or manage payment intent information, such as transaction status or history. Typical consumers include payment processors and e-commerce platforms managing customer transactions. By providing critical data, this API helps streamline payment operations and enhance user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a payment intent by its unique identifier.",
        "description": "This endpoint allows you to fetch the details of a specific payment intent using its unique identifier (PAY-300045). It provides comprehensive information about the payment intent, including its status and related payment information.",
        "operationId": "getPaymentIntentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves details of a specific payment intent identified by the ID PAY-300045. The payload is structured in JSON format to request the relevant data from the payment processing service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentIntentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment intent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentIntentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentIntentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving payment intents in the specified operation.",
        "example": "{}"
      },
      "GetPaymentIntentByIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "The unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-175060"
          },
          "outletId": {
            "type": "string",
            "description": "The identifier for the outlet where the transaction occurred.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The identifier for the terminal used to process the payment.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount to be paid.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "The amount that has been authorized for this payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "The amount that has been captured.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "The amount that has been refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was processed.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "A list of payment methods that are allowed for this payment.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "selectedPaymentMethod": {
            "description": "The payment method that was selected for this transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "The customer associated with the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "The order details associated with the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Additional metadata related to the payment intent.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response of the payment intent operation.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-175060",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-836",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-877217",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "ae9486bd-c34e-512a-aef5-17270bfc94f6",
            "correlationId": "1296e5a9-5a25-50de-ba87-5855ccabac73",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount with currency information."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method.",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "The token representing the payment method.",
            "example": "tok_abc123"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The bank code of the issuer.",
            "example": "ABC Bank"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "A masked version of the payment identifier.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "The wallet provider for the payment.",
            "example": "Visa"
          }
        },
        "description": "Represents a payment method for the transaction."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "cus_12345"
          },
          "name": {
            "type": "string",
            "description": "The full name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "The risk segment classification of the customer.",
            "example": "low"
          }
        },
        "description": "Represents a customer involved in the transaction."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier of the merchant's order.",
            "example": "order_456"
          },
          "description": {
            "type": "string",
            "description": "A description of the order.",
            "example": "Order for electronics"
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "type": "object",
              "properties": {
                "itemId": {
                  "type": "string",
                  "description": "The unique identifier of the item.",
                  "example": "item_1"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the item.",
                  "example": "Laptop"
                },
                "description": {
                  "type": "string",
                  "description": "A description of the item.",
                  "example": "15-inch laptop"
                },
                "quantity": {
                  "type": "string",
                  "description": "The quantity of the item ordered.",
                  "example": "1"
                },
                "unitPrice": {
                  "$ref": "#/components/schemas/Amount"
                },
                "totalAmount": {
                  "$ref": "#/components/schemas/Amount"
                }
              },
              "example": {
                "itemId": "item_1",
                "name": "Laptop",
                "description": "15-inch laptop",
                "quantity": "1",
                "unitPrice": {
                  "currency": "USD",
                  "value": "1000.00"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "1000.00"
                }
              }
            }
          }
        },
        "description": "Represents the order associated with a payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-EAST"
          }
        },
        "description": "Contains additional metadata about the payment intent."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header holds the unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-payment-intent"
        },
        "example": "banking-p2m-openapi-get-payment-intent"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}