{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Risk Models Retrieval API",
    "description": "This API allows users to access and retrieve market risk models utilized in the banking sector. By providing specific parameters, consumers can obtain detailed information regarding these models, aiding in risk assessment and decision-making processes. Typical users include analysts, financial institutions, and risk managers who rely on these models for regulatory compliance and strategic planning. The API streamlines access to critical financial analytics to support businesses in managing their market risk exposure.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://risk-compliance-app:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/market-risk-models/{param1}": {
      "get": {
        "tags": [
          "Market Risk Models"
        ],
        "summary": "Retrieve Market Risk Model by ID",
        "description": "This endpoint allows you to fetch details of the market risk model identified by RES-100045. It provides comprehensive information about the model including its parameters, settings, and analytics.",
        "operationId": "getMarketRiskModelRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details for the market risk model with the specified identifier. It expects a JSON formatted request containing necessary parameters to fetch the model data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketRiskModelRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of market risk model data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketRiskModelRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketRiskModelRes100045Request": {
        "type": "string",
        "description": "This schema represents a request body payload for the market risk models operation GET request.",
        "example": "{}"
      },
      "GetMarketRiskModelRes100045Response_200": {
        "title": "Market Risk Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the market risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the market risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio associated with the model.",
            "example": "PORT-252133"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model is applicable.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario under which the model is evaluated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model's predictions.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Unique identifier for the validation dataset used.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Time window in months for backtesting the model.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the model.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the database.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response structure.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/MarketRiskModelMetadata"
          }
        },
        "description": "Schema representing the response for market risk model requests.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-252133",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4f3d3256-d701-567c-bddf-9c43dc9bba57",
            "correlationId": "2ee6c036-86d3-5045-a4c5-a2214f316935",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketRiskModelMetadata": {
        "title": "Market Risk Model Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for correlating requests and responses.",
            "example": "CORR_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-east"
          }
        },
        "description": "Metadata associated with the market risk model response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-053"
        },
        "example": "WF-053"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "08afb0a5-06ae-4101-8219-fee732510ecd"
        },
        "example": "08afb0a5-06ae-4101-8219-fee732510ecd"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3"
        },
        "example": "3"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8cec3004-d9d2-498b-b1ff-e9030e2239a6"
        },
        "example": "8cec3004-d9d2-498b-b1ff-e9030e2239a6"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that was called in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-risk-models-get-market-risk-models"
        },
        "example": "market-risk-models-get-market-risk-models"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-053"
        },
        "example": "WF-053"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Securities Trade Capture Clearing and Settlement"
        },
        "example": "Securities Trade Capture Clearing and Settlement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_PROCESSING"
        },
        "example": "ASYNC_PROCESSING"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8cec3004-d9d2-498b-b1ff-e9030e2239a6"
        },
        "example": "8cec3004-d9d2-498b-b1ff-e9030e2239a6"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires a valid JSON Web Token (JWT) to be sent in the `Authorization` header. The token should be formatted as 'Bearer {token}', where `{token}` represents the actual JWT.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}