{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Operational Risk Models-spec",
    "description": "The Operational Risk Models Retrieval API serves to provide users with a comprehensive list of operational risk models utilized within the banking sector. This endpoint allows stakeholders, such as regulatory compliance teams and risk management professionals, to effectively assess the available models and their specifications. By retrieving detailed information about various models, users can make informed decisions regarding risk management strategies. The API facilitates seamless integration into existing systems, enhancing operational efficiency and alignment with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/operational-risk-models": {
      "get": {
        "tags": [
          "Operational Risk"
        ],
        "summary": "Retrieve all operational risk models.",
        "description": "This endpoint allows you to fetch a list of all operational risk models currently available in the system. Use this to explore existing models and assess their details.",
        "operationId": "listModelOperationalRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Contains the request parameters for retrieving operational risk models. This payload allows you to specify the criteria for the models you wish to query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelOperationalRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of operational risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelOperationalRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelOperationalRiskModelsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation concerning operational risk models. It is expected to contain a string that may specify filter criteria or identifiers related to the operational risk models.",
        "example": "{}"
      },
      "ListModelOperationalRiskModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operational risk models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-640951",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationalRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the list of models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for retrieving operational risk models.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-640951",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "15610ed9-f8aa-53e9-acbe-8ab41996e739",
            "correlationId": "9fba91bc-755a-521e-bc78-8a232fea2185",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationalRiskModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the operational risk model.",
            "example": "string"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the operational risk model.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "The ID of the portfolio associated with the model.",
            "example": "string"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date for which the model is applicable.",
            "example": "string"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario used for the risk model.",
            "example": "string"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level of the model output.",
            "example": 0.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The ID of the validation dataset used for the model.",
            "example": "string"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The number of months used for backtesting the model.",
            "format": "int32",
            "example": 0
          },
          "approvalStatus": {
            "type": "string",
            "description": "The approval status of the model.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the model record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the model record was last updated.",
            "example": "string"
          }
        },
        "description": "Details of an operational risk model."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about pagination for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID to trace requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-risk-models-search-operational-risk-models"
        },
        "example": "operational-risk-models-search-operational-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization method using a Bearer token formatted as a JSON Web Token (JWT). This scheme is commonly used for securing APIs and transmitting claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}