{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ATM Network Operations Status API",
    "description": "The ATM Network Operations Status API provides real-time insights into the operational status of ATM services within specified banking channels. This endpoint enables users to access crucial information regarding the availability and functionality of ATMs, ensuring efficient access for customers. Typical consumers include banking institutions, financial service providers, and integration platforms that require up-to-date ATM status to enhance user experience and operational reliability. By leveraging this data, businesses can proactively manage ATM networks and promptly address issues affecting service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-operations/status": {
      "get": {
        "tags": [
          "ATM Network Operations"
        ],
        "summary": "Retrieve the status of ATM network operations.",
        "description": "This endpoint allows developers to fetch the current status of ATM network operations, providing insights into operational efficiency and any issues that may be affecting network performance.",
        "operationId": "getAtmNetworkOperationsStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the ATM network operations status. This body should contain the necessary parameters to specify the operation type and any filters or identifiers relevant to the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAtmNetworkOperationsStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the status of ATM network operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAtmNetworkOperationsStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAtmNetworkOperationsStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation status within the ATM network operations. It accepts a string value.",
        "example": "{}"
      },
      "GetAtmNetworkOperationsStatusResponse_200": {
        "title": "ATM Network Operations Status Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region where the ATM is located.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours of the ATM.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of transactions the ATM can handle in a day.",
            "format": "int32",
            "example": 1
          },
          "atmId": {
            "type": "string",
            "description": "The unique identifier of the ATM.",
            "example": "STANDARD"
          },
          "cashStatus": {
            "type": "string",
            "description": "The cash availability status at the ATM.",
            "example": "AVAILABLE"
          },
          "terminalHealth": {
            "type": "string",
            "description": "The health status of the ATM terminal.",
            "example": "ONLINE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the ATM status record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the ATM status was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the ATM status response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the status of ATM network operations for a specific channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "atmId": "STANDARD",
          "cashStatus": "AVAILABLE",
          "terminalHealth": "ONLINE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "455ec007-0f1c-505a-9a6a-ef3f794f2689",
            "correlationId": "9be193ca-6138-5d92-a491-dae701010354",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the ATM opens for service.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the ATM closes for service.",
            "example": "20:00"
          }
        },
        "description": "Represents the operational hours of an ATM."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking purposes.",
            "example": "correlation-987"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-WA"
          }
        },
        "description": "Contains additional metadata information for the ATM status response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-operations-get-atm-network-operations"
        },
        "example": "atm-network-operations-get-atm-network-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme utilizes a JSON Web Token (JWT) as a bearer token for securing API endpoints. Clients must include the token in the 'Authorization' header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}