{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Disbursement-spec",
    "description": "This API provides capabilities for managing operational service disbursements within banking services. It allows users to initiate disbursement requests, ensuring efficient processing and tracking of service funds. Common consumers include financial institutions and third-party service providers looking to integrate disbursement functionalities into their platforms. Use cases typically involve automating payment distributions to vendors, partners, or customers, streamlining financial operations, and enhancing service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement": {
      "post": {
        "tags": [
          "Disbursement Services"
        ],
        "summary": "Create a new disbursement.",
        "description": "This endpoint allows you to create a new disbursement within the operational services. You will need to provide the necessary details for the disbursement in the request body and upon successful creation, the system will return the details of the newly created disbursement.",
        "operationId": "createOperationalServiceDisbursement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the disbursement operational service. Provide all necessary details in the specified JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceDisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the disbursement has been processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceDisbursementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceDisbursementRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the disbursement.",
            "example": "CUST-459694"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account from which the disbursement is made.",
            "example": "ACC-661826"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the disbursement was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the disbursement request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for disbursement operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-459694",
          "accountId": "ACC-661826",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "df40b5e4-85d6-5c06-b774-19aeefd4b4db",
            "correlationId": "23a45bde-95cb-5daa-851f-24908f392e84",
            "idempotencyKey": "f39b0491-d2b1-533d-b0f7-53cb7e7ea9f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-828140"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-101"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "correlation-202"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotent-303"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request context was created.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "system-x"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application of the request.",
            "example": "app-y"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-404"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used for the request.",
            "example": "device-505"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateOperationalServiceDisbursementResponse_201": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation.",
            "example": "CUST-562568"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account linked to the operation.",
            "example": "ACC-812658"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the operation.",
            "example": "RES-906368"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the disbursement operation indicating the result of the created operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-562568",
          "accountId": "ACC-812658",
          "resourceId": "RES-906368",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "13af5afa-9e3d-5190-a5f1-f416bd457a36",
            "correlationId": "23a45bde-95cb-5daa-851f-24908f392e84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata schema containing additional information about the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-create-disbursement"
        },
        "example": "disbursement-create-disbursement"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method with JSON Web Tokens (JWT) for secure API access. Clients must include a valid JWT token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}