{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Agreement Retrieval API",
    "description": "The Customer Agreement Retrieval API enables businesses to access detailed information regarding customer agreements stored in the system. This endpoint is primarily utilized for retrieving specific agreements based on customer identifiers. Typical consumers include customer service representatives and banking personnel who need to view agreement specifics for customer inquiries or compliance checks. The API streamlines access to vital contract details, enhancing operational efficiency and customer interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-agreement/{param1}": {
      "get": {
        "tags": [
          "Customer Agreements"
        ],
        "summary": "Retrieve customer agreement details",
        "description": "This endpoint allows you to fetch the details of a specific customer agreement using its unique identifier. It provides all relevant information associated with the agreement, enabling effective management and review.",
        "operationId": "getCustomerAgreementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer agreement details for the specified customer ID. This body must comply with the schema for the correct data structure.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAgreementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAgreementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAgreementByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the customer agreement operation. It is expected to contain a string value.",
        "example": "{}"
      },
      "GetCustomerAgreementByIdResponse_200": {
        "title": "Customer Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-529931"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the agreement.",
            "example": "PARTY-854391"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the customer agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the customer's relationship.",
            "example": "GOLD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the agreement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the customer agreement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the agreement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the agreement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer agreement information.",
        "example": {
          "customerId": "CUST-529931",
          "partyId": "PARTY-854391",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "63c9de21-4823-56bb-814f-a1629847ae61",
            "correlationId": "78456b07-9ea8-532e-8ecb-0bf5f9cfa37a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate the request and response.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for the customer agreement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header provides the unique identifier for the endpoint being accessed, which can be used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-agreement-get-customer-agreement"
        },
        "example": "customer-agreement-get-customer-agreement"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that processed the request, useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, where the token is a JSON Web Token (JWT). This method is commonly used for securing APIs and facilitating single sign-on (SSO) protocols.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}