{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Prospect Campaign Execution Review-spec",
    "description": "This API facilitates the creation of reviews for prospect campaign executions within the banking sales domain. With this endpoint, users can submit detailed evaluations of specific campaign executions, contributing to enhanced performance analysis. Typical consumers include sales teams and marketing analysts who assess campaign outcomes to refine strategies. By providing structured feedback, organizations can better understand client engagement and improve future campaigns.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/prospect-campaign-execution/{param1}/reviews": {
      "post": {
        "tags": [
          "Prospect Campaign Review"
        ],
        "summary": "Create a new review for a prospect campaign execution.",
        "description": "This endpoint allows users to submit reviews for a specific prospect campaign execution identified by the resource ID. The review will provide feedback and insights that are essential for evaluating the campaign\u2019s performance.",
        "operationId": "createProspectCampaignExecutionReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for a specific prospect campaign execution identified by the resource ID 'RES-100045'. The review data should be provided in JSON format conforming to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProspectCampaignExecutionReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProspectCampaignExecutionReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProspectCampaignExecutionReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "List of areas or aspects the review should cover.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific aspect of the review scope.",
              "example": "Performance, Metrics"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier for the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date and time for completing the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for posting a new review for campaign execution.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "e643f08a-4862-5190-a34b-1c19035035da",
            "correlationId": "aded7acd-310d-5eb1-9af4-cbc7bc594bc8",
            "idempotencyKey": "31615b52-9d31-5b1f-91d6-af324849982f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-875781"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the same request.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-25T10:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "Sales Portal"
          },
          "channel": {
            "description": "The communication channel for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., email, SMS).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for communication.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateProspectCampaignExecutionReviewResponse_202": {
        "title": "Campaign Execution Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference ID for the action that was performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed in the campaign.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the action response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the campaign execution operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "45516476-1fa6-5480-8b8e-76b47b0f20c5",
            "correlationId": "aded7acd-310d-5eb1-9af4-cbc7bc594bc8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Action Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the action took place.",
            "example": "string"
          }
        },
        "description": "This schema represents the metadata associated with an action response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the identifier of the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-execution-review-prospect-campaign-execution-processing"
        },
        "example": "prospect-campaign-execution-review-prospect-campaign-execution-processing"
      },
      "X-Runtime-App": {
        "description": "This header specifies the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism. Clients should include a JSON Web Token (JWT) in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}