{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Quote Management API",
    "description": "The Wholesale Trading Quote Management API enables users to efficiently update existing quotes in the wholesale trading environment. This API provides the necessary operations to modify quote details, ensuring that pricing and terms remain current and accurate. Typical consumers include trading platforms and financial institutions that require real-time quote adjustments for market responsiveness. By utilizing this API, businesses can enhance their trading strategies and optimize client interactions without extensive manual intervention.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/quote-management/{param1}": {
      "patch": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Update Quote Management for Wholesale Trading",
        "description": "This operation allows users to update the details of a specific quote management entry identified by RES-100045 within the wholesale trading system. It enables modifications to various attributes of the quote, enhancing the management capabilities of trading quotes.",
        "operationId": "updateWholesaleTradingQuoteManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to update a quote in the wholesale trading system. It should include all relevant fields that need to be modified or added for the specified quote ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWholesaleTradingQuoteManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWholesaleTradingQuoteManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWholesaleTradingQuoteManagementRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains details of the changes to be made in the trading quote.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for PATCH operation on quote management in wholesale trading.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "75e85a6c-3b6d-5321-8ae6-1a6b9ddb0c3a",
            "correlationId": "c0ba770e-f358-5e04-81b7-993aa5571189",
            "idempotencyKey": "f0f47c87-2c6d-544b-832e-ae84dd39501d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714022"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier of the trading book associated with the changes.",
            "example": "book456"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier of the financial instrument being modified.",
            "example": "instrument789"
          },
          "side": {
            "type": "string",
            "description": "Side of the trade (e.g., buy or sell).",
            "example": "buy"
          }
        },
        "description": "Details of the specific changes being made to the trading quote."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs with a specific request.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations while processing this request.",
            "example": "idempotency-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that initiated the request.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "TradingApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request's origin and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to initiate the request.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel through which the request was submitted."
      },
      "UpdateWholesaleTradingQuoteManagementRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful PATCH operations in the quote management system.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b7906c70-aaca-53a0-a110-803d6bc26a2b",
            "correlationId": "c0ba770e-f358-5e04-81b7-993aa5571189",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This helps in tracking and auditing the usage of different endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quote-management-update-quote-management"
        },
        "example": "quote-management-update-quote-management"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application running the API. This provides context about the environment where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, where a JSON Web Token (JWT) is provided for authorizing API requests. Clients must include the JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}