{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Knowledge Assets Management Manual By Management Manual Id-v5-spec",
    "description": "This API endpoint allows users to access specific Banking Knowledge Asset Management Manuals by their unique identifier. The primary resource is the Management Manual, which consists of essential information and guidelines pertinent to banking knowledge assets. Typical consumers include banking professionals and developers seeking detailed documentation for compliance or training purposes. By leveraging this API, users can efficiently retrieve targeted management manuals to enhance their decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual/{managementManualId}": {
      "get": {
        "tags": [
          "Knowledge Asset Management"
        ],
        "summary": "Retrieve a specific knowledge asset management manual.",
        "description": "This endpoint allows you to retrieve detailed information about a specific knowledge asset management manual identified by its unique ID, providing valuable insights and guidelines related to the asset.",
        "operationId": "getBankingKnowledgeAssetsManagementManualByManagementManualId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/managementManualId"
          }
        ],
        "requestBody": {
          "description": "This request body must be sent in JSON format and contains the detailed specifications required for retrieving management manual information pertaining to the knowledge asset identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingKnowledgeAssetsManagementManualByManagementManualIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingKnowledgeAssetsManagementManualByManagementManualIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingKnowledgeAssetsManagementManualByManagementManualIdRequest": {
        "type": "string",
        "description": "This schema represents the content of a request body formatted as JSON for the GET operation on the specified management manual resource.",
        "example": "{}"
      },
      "GetBankingKnowledgeAssetsManagementManualByManagementManualIdResponse_200": {
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "The identifier for the management manual.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the management manual.",
            "example": "Banking operation completed"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the management manual.",
            "format": "int32",
            "example": 1
          },
          "ownerId": {
            "type": "string",
            "description": "The identifier of the owner of the management manual.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the management manual becomes effective.",
            "example": "2026-09-15"
          },
          "classification": {
            "type": "string",
            "description": "The classification level of the management manual.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record for the management manual.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the management manual.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the management manual.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response schema for retrieving a management manual.",
        "example": {
          "manualId": "STANDARD",
          "title": "Banking operation completed",
          "version": 1,
          "ownerId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "classification": "STANDARD",
          "recordStatus": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ee6e6735-141f-5ac6-a6b1-582ad8e72b54",
            "correlationId": "10c47dc9-abb4-5899-9024-cd1f9c6ad6b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the management manual."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "managementManualId": {
        "name": "managementManualId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-get-management-manual"
        },
        "example": "management-manual-get-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, helpful for monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically designed for JSON Web Tokens (JWT). This method is widely used for securing APIs, allowing clients to authenticate using a token obtained from a trusted authority.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}