{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Workbench API",
    "description": "The Customer Workbench API enables users to access a comprehensive view of customer-related data across multiple channels. This API provides endpoints for retrieving customer information, account details, and transaction history, allowing businesses to enhance customer interactions and support. Typical consumers include customer service representatives and account managers who need quick access to customer profiles and historical data. Use cases include customer inquiries, account management, and personalized service enhancements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/customer-workbench": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer workbench data across channels.",
        "description": "This endpoint fetches the customer workbench data that aggregates information across different channels. It allows developers to access a unified view of customer interactions, helping to improve customer experience and streamline operations.",
        "operationId": "getCustomerWorkbench",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is required for retrieving customer workbench information via the cross-channel API. It should contain all necessary data to filter and fetch the appropriate customer-related data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerWorkbenchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer workbench data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerWorkbenchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerWorkbenchRequest": {
        "type": "string",
        "description": "The request body for the GET operation of the cross-channel customer workbench.",
        "example": "{}"
      },
      "GetCustomerWorkbenchResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer interaction items.",
            "example": [
              {
                "partyId": "PARTY-712211",
                "interactionId": "INT-697663",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerInteractionItem"
            }
          },
          "pagination": {
            "description": "Information about pagination for the response.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving cross-channel customer information.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-712211",
              "interactionId": "INT-697663",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7a50c26f-b03f-54da-85a6-92e570b7be1f",
            "correlationId": "93b39d8a-7d91-54e1-96f6-0561467f7cda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerInteractionItem": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Identifier for the customer party.",
            "example": "12345"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "abcd-efgh-ijkl"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred.",
            "example": "web"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication for the interaction.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the interaction was last updated.",
            "format": "date-time",
            "example": 1696939200.0
          }
        },
        "description": "Represents a customer interaction item."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about the pagination of the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlation across services.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "format": "date-time",
            "example": 1696939200.0
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Meta information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-workbench-search-customer-workbench"
        },
        "example": "customer-workbench-search-customer-workbench"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. It requires the use of JSON Web Tokens (JWT) for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}