{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Product Deployment Deployment-spec",
    "description": "The Product Deployment Management API facilitates the seamless deployment of product specifications within the banking sector. This endpoint enables businesses to initiate and manage the deployment process for various products, ensuring that configurations are accurately applied and ready for use. Typical consumers include product managers and deployment engineers who require an efficient way to deploy updates and new product versions. This API streamlines the deployment workflow, enhancing productivity and enabling faster time-to-market for new offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-deployment/deployments": {
      "post": {
        "tags": [
          "Product Deployment"
        ],
        "summary": "Initiate a new product deployment",
        "description": "This endpoint allows users to initiate a new deployment for a specific product version. Ensure that all required parameters are included and that the product is properly configured before deployment.",
        "operationId": "createProductDeploymentDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a new product deployment. It must include all necessary parameters and data structures as defined in the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductDeploymentDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductDeploymentDeploymentResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductDeploymentDeploymentRequest": {
        "title": "Product Deployment Request",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product being deployed.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment for which the product is intended.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used for pricing the product.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product deployment takes effect.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for deploying a product.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "092a40bb-1b1c-510a-901a-4bd4fc0d7db9",
            "correlationId": "afbd44e4-0085-53e4-acb5-ae7f8d386d54",
            "idempotencyKey": "0b00d259-4acf-5a93-a42d-3a4def431a5b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-472346"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-56789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track related requests and responses.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be safely retried without side effects.",
            "example": "idempotent-key-7890"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InventorySystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request made for product deployment. This includes identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel details through which the request was made."
      },
      "CreateProductDeploymentDeploymentResponse_202": {
        "title": "Product Deployment Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product being deployed.",
            "example": "CHK-PREMIUM-US"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference used to track the processing of the deployment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the product deployment operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the deployment request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ProductDeploymentMetadata"
          }
        },
        "description": "Represents the response payload for a successful product deployment operation.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "418b5fc2-b0a6-570b-8a7e-f123035e4796",
            "correlationId": "afbd44e4-0085-53e4-acb5-ae7f8d386d54",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductDeploymentMetadata": {
        "title": "Product Deployment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple operations.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-10T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the deployment occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional metadata related to the product deployment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint which helps in tracing and managing the request/response lifecycle.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-deployment-deploy-product-deployment"
        },
        "example": "product-deployment-deploy-product-deployment"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, providing context for monitoring and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A JSON Web Token (JWT) should be provided as a bearer token in the authorization header. The JWT should be acquired through a secure login process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}