{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Facility By Param1-spec",
    "description": "The Facility Retrieval API allows users to access detailed information about facilities involved in building maintenance by specifying a unique identifier. This endpoint is designed to facilitate quick retrieval of relevant facility data for users such as contractors, facility managers, and administrative staff who need to monitor or assess maintenance operations. By providing the parameter in the URL, consumers can efficiently obtain specific details about a facility, helping streamline operational tasks. This API enhances the management and oversight of building maintenance activities within the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/building-maintenance/{param1}": {
      "get": {
        "tags": [
          "Building Maintenance"
        ],
        "summary": "Retrieve building maintenance details.",
        "description": "Fetches the maintenance information for the specified building, identified by the resource ID. This endpoint allows users to access key data related to the maintenance status, issues reported, and upcoming schedules for the building.",
        "operationId": "getFacilityByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the building maintenance operations for the specified facility. This body should contain the necessary parameters to filter the data you wish to retrieve.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFacilityByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the requested data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFacilityByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFacilityByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on building maintenance facilities.",
        "example": "{}"
      },
      "GetFacilityByParam1Response_200": {
        "title": "Building Maintenance Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The identifier of the asset associated with the maintenance work.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-585396"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The scheduled date for maintenance work in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The identifier for the vendor responsible for the maintenance.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where the maintenance is to take place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance work to be performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the maintenance work, in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the maintenance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the maintenance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the maintenance record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving building maintenance operations details.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-585396",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6b6146ab-82c1-55ee-b9e7-2af4e2d4909d",
            "correlationId": "ce3a5f33-9ec2-593f-8e49-3a879fc80d24",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was generated in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Detailed metadata for tracking and correlation purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "building-maintenance-get-building-maintenance"
        },
        "example": "building-maintenance-get-building-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request, providing context on where the response originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JSON Web Token (JWT) is used to securely transmit claims that can be verified and trusted. Provide the JWT in the Authorization header as 'Bearer {token}' to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}