{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Data Market Information Managements-spec",
    "description": "The Market Information Management API provides essential access to market data within the banking sector, enabling users to retrieve comprehensive market information. This API facilitates the extraction of key financial metrics and market trends that are critical for informed decision-making. Typical consumers of this API include financial analysts, banking professionals, and applications requiring up-to-date market insights. By leveraging this API, users can enhance their strategies and improve market competitiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-information-management": {
      "get": {
        "tags": [
          "Market Data Management"
        ],
        "summary": "Retrieve market information management data.",
        "description": "This endpoint allows users to access detailed information related to market data management. It provides insights and analytics essential for understanding market dynamics and making informed decisions.",
        "operationId": "listMarketDataMarketInformationManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving market information. This operation provides access to various market data points and insights that are essential for market analysis and decision-making.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketDataMarketInformationManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested market information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketDataMarketInformationManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketDataMarketInformationManagementsRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the market information management API.",
        "example": "{}"
      },
      "ListMarketDataMarketInformationManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of market information items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-435",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketInformationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the market information items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for market information management operations.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-435",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7c93ca40-ff5e-5db6-ac9d-6d5474055787",
            "correlationId": "e46d45e3-6901-5ba9-a2b6-49d3494c840b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketInformationItem": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument.",
            "example": "string"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "string"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code identifying the market where the instrument is traded.",
            "example": "string"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time for which the data is applicable.",
            "example": "string"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the data was retrieved.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the market information record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last time the market information was updated.",
            "example": "string"
          }
        },
        "description": "Represents an individual market information item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Represents pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate different requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Represents metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-information-management-search-market-information-management"
        },
        "example": "market-information-management-search-market-information-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a JSON Web Token (JWT) in the Authorization header when making requests to access secured endpoints. The token should be prefixed with 'Bearer '. This method is commonly used for API authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}