{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Microentry Verify-spec",
    "description": "The Microentry Verification API enables businesses to seamlessly generate verification entries for microservices. This endpoint simplifies the process of validating services and ensures accuracy in data transmission. Typical consumers include developers integrating verification processes into microservices architecture, as well as businesses seeking reliable and efficient data entry verification. Use this API to enhance data integrity and streamline operations in production environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/microentry/verify": {
      "post": {
        "tags": [
          "Microentry Management"
        ],
        "summary": "Verify a microentry.",
        "description": "This endpoint allows for the verification of a microentry, ensuring that the data conforms to the specified criteria and is valid for further processing.",
        "operationId": "createMicroentryVerify",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to verify a microentry. The client must provide the necessary data for the verification process in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMicroentryVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successfully processed; verification completed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMicroentryVerifyResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMicroentryVerifyRequest": {
        "title": "Microentry Verification Request Body",
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner making the request.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the verification request.",
            "example": "CUST-383188"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to which the user will be redirected after the verification process.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The webhook URL to receive asynchronous notifications related to the verification status.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type for the payload that will be sent to the webhook URL.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "The type of user experience expected during verification.",
            "example": "STANDARD"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account related to the verification request.",
            "example": "ACC-422529"
          },
          "requestContext": {
            "description": "Contextual information about the request, such as identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for the microentry verification operation. It includes various identifiers, URLs, and contextual data necessary for processing the verification request.",
        "example": {
          "partnerId": "STANDARD",
          "customerId": "CUST-383188",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "accountId": "ACC-422529",
          "requestContext": {
            "requestId": "202f8b21-6f6c-5431-978e-3cf58bdfe28b",
            "correlationId": "a82d7786-9987-5738-b457-27659d613c40",
            "idempotencyKey": "938399f0-c533-5ffc-b02e-3bad7a4b7f1c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-255975"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests or events.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the operation is idempotent, preventing duplicate processing.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "mobile_app"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the verification request was made.",
            "example": "user_app"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information related to the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel being used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device from which the request is made.",
            "example": "device-001"
          }
        },
        "description": "This schema contains information about the communication channel through which the verification request is made."
      },
      "CreateMicroentryVerifyResponse_200": {
        "title": "Verify Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A string representing the link or URL related to the verification result.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the verification process.",
            "$ref": "#/components/schemas/VerificationMetadata"
          }
        },
        "description": "Response schema for the verification operation in the microentry service.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "2c35e6cf-99fd-5331-b020-dc3c7a207843",
            "correlationId": "a82d7786-9987-5738-b457-27659d613c40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VerificationMetadata": {
        "title": "Verification Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "abcde-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the verification result was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Indicates the region where the processing was performed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for the verification process, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-verify-micro-entry-microdeposit"
        },
        "example": "open-finance-api-verify-micro-entry-microdeposit"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method where a JSON Web Token (JWT) must be included in the Authorization header of the HTTP request. The token should be prefixed with 'Bearer ' followed by a space.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}