{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Marketing Promotional Event-spec",
    "description": "The Marketing Promotional Event Management API enables businesses to create and manage promotional events to enhance customer engagement. This API facilitates the submission of event details, including special offers and event attributes, aimed at attracting consumers. Typical use cases include marketing teams uploading new promotions and event managers fine-tuning existing event information. Integration with this API allows for streamlined event creation, enabling more effective marketing strategies and improving customer outreach.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events": {
      "post": {
        "tags": [
          "Marketing"
        ],
        "summary": "Create a new promotional event.",
        "description": "This endpoint allows you to create a new promotional event in the marketing system. You can specify various details related to the event, which will be stored for further use in marketing campaigns.",
        "operationId": "createMarketingPromotionalEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new promotional event in the marketing system. It should include all necessary details such as event title, description, date, and any associated promotional materials.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketingPromotionalEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new promotional event.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketingPromotionalEventResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketingPromotionalEventRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The unique identifier for the target segment for the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "The list of channels to be used for the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific channel type being utilized.",
              "example": "email"
            }
          },
          "budget": {
            "description": "The budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the promotional event in ISO format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the promotional event in ISO format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Metadata about the request context for this campaign operation.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating promotional events in the marketing operations.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "d196bdbc-724d-5abf-b74b-962e7a7d7821",
            "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
            "idempotencyKey": "de9099ac-b683-529d-8e4b-8bc619c404c9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-948274"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount allocated for the campaign.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget amount is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details for a marketing campaign."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and events in tracing.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "key456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel used in this request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel being referenced.",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device related to the channel.",
            "example": "device456"
          }
        },
        "description": "Schema representing the channel specifics in the request context."
      },
      "CreateMarketingPromotionalEventResponse_201": {
        "title": "Promotional Event Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the promotional campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Unique identifier for the target segment associated with the campaign.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the event.",
            "example": "RES-604853"
          },
          "status": {
            "type": "string",
            "description": "Current status of the promotional event operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the promotional event was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/PromotionalEventMetadata"
          }
        },
        "description": "Response schema for a promotional event operation, containing details about the campaign, target segment, resource, status, creation date, and metadata.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-604853",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "77b42f60-2f7a-54a9-a1ca-5d3666b1fc95",
            "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PromotionalEventMetadata": {
        "title": "Promotional Event Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the operation.",
            "example": "response101"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for tracking the operation.",
            "example": "correlation202"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the promotional event took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the promotional event, including various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-create-promotional-events"
        },
        "example": "promotional-events-create-promotional-events"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing Bearer tokens in the HTTP Authorization header. This scheme is specifically designed to handle JSON Web Tokens (JWT) for securely transmitting information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}