{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Models Financial Instrument Valuation Model-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Models Financial Instrument Valuation Model-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/financial-instrument-valuation-models": {
      "post": {
        "operationId": "createBankingModelsFinancialInstrumentValuationModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingModelsFinancialInstrumentValuationModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingModelsFinancialInstrumentValuationModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingModelsFinancialInstrumentValuationModelRequest": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "example": "PORT-215980"
          },
          "asOfDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "example": 100.0
          },
          "instrumentType": {
            "type": "string",
            "example": "STANDARD"
          },
          "ticker": {
            "type": "string",
            "example": "STANDARD"
          },
          "issueCurrency": {
            "type": "string",
            "example": "USD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "8adfbcd7-ae94-5d3b-a403-e478f9873351",
              "correlationId": "841ba16c-382c-58ea-9a17-2ec12ea62bfd",
              "idempotencyKey": "1b88cad7-fa5b-5993-be8d-d33c0cdce806",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-360021"
              }
            }
          }
        },
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-215980",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "requestContext": {
            "requestId": "8adfbcd7-ae94-5d3b-a403-e478f9873351",
            "correlationId": "841ba16c-382c-58ea-9a17-2ec12ea62bfd",
            "idempotencyKey": "1b88cad7-fa5b-5993-be8d-d33c0cdce806",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-360021"
            }
          }
        }
      },
      "CreateBankingModelsFinancialInstrumentValuationModelResponse_201": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "example": "PORT-220298"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-290133"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c3414c8b-2526-5a11-9e3d-d8584eb8408a",
              "correlationId": "841ba16c-382c-58ea-9a17-2ec12ea62bfd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-220298",
          "resourceId": "RES-290133",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c3414c8b-2526-5a11-9e3d-d8584eb8408a",
            "correlationId": "841ba16c-382c-58ea-9a17-2ec12ea62bfd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-models-create-financial-instrument-valuation-models"
        },
        "example": "financial-instrument-valuation-models-create-financial-instrument-valuation-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}