{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Channel Specific By Param1-spec",
    "description": "This API allows users to retrieve channel-specific information related to ATM network management, identified by a unique parameter. It is designed for financial institutions and service providers who need to access detailed channel data for operational purposes. The primary resource is the ATM network details, and the operation supports enhanced decision-making and analytics. Use cases include optimizing ATM networks, managing service levels, and facilitating regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-management/{param1}": {
      "get": {
        "tags": [
          "ATM Network Management"
        ],
        "summary": "Retrieve ATM network management details.",
        "description": "This endpoint allows you to retrieve the details of ATM network management for a specific resource identified by its ID. It provides information necessary for network management and operational oversight.",
        "operationId": "getChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to retrieve information specific to the ATM network management operation identified by RES-100045. It should be formatted as JSON and include relevant data as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for a specific operation in the ATM network management system.",
        "example": "{}"
      },
      "GetChannelSpecificByParam1Response_200": {
        "title": "ATM Network Management Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operating hours of the ATM.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily transaction capacity of the ATM.",
            "format": "int32",
            "example": 1
          },
          "atmId": {
            "type": "string",
            "description": "The unique identifier for the ATM.",
            "example": "STANDARD"
          },
          "cashStatus": {
            "type": "string",
            "description": "The current cash availability status in the ATM.",
            "example": "AVAILABLE"
          },
          "terminalHealth": {
            "type": "string",
            "description": "The health status of the ATM terminal.",
            "example": "ONLINE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record associated with the ATM.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the ATM record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the ATM record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta information related to the ATM response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for ATM network management operations.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "atmId": "STANDARD",
          "cashStatus": "AVAILABLE",
          "terminalHealth": "ONLINE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "52ca32cf-9709-5b30-9f24-4ddd7e10e5fe",
            "correlationId": "ccc8a99a-f77c-5cf7-9dcd-d41675d17ef3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the ATM opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the ATM closes.",
            "example": "17:00"
          }
        },
        "description": "Represents the operational hours of the ATM."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID associated with the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata associated with the ATM response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-management-get-atm-network-management"
        },
        "example": "atm-network-management-get-atm-network-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT). Clients must include the JWT in the authorization header as a Bearer token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}