{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Enterprise Services Procurement-v5-spec",
    "description": "The Banking Enterprise Services Procurement API enables financial institutions to streamline the procurement process for banking enterprise services. It facilitates the submission of procurement requests, ensuring that organizations can efficiently manage their service acquisitions. Typical consumers of this API include banking administrators and procurement officers who require a structured way to handle service requests. This API provides essential functionality to enhance operational efficiency and supports the acquisition of vital banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement": {
      "post": {
        "tags": [
          "Procurement"
        ],
        "summary": "Initiate procurement for enterprise services.",
        "description": "This endpoint allows clients to initiate procurement processes for various enterprise services. It requires specific parameters to create procurement requests efficiently.",
        "operationId": "createBankingEnterpriseServicesProcurement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a procurement entry in the enterprise services. It should contain all necessary details required for the procurement operation in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingEnterpriseServicesProcurementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingEnterpriseServicesProcurementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingEnterpriseServicesProcurementRequest": {
        "title": "Procurement Request Body",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "52349b5a-2b7e-5ae1-b18e-96a75d02ca83"
          },
          "supplierId": {
            "type": "string",
            "description": "The identifier of the supplier involved in the procurement.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the procurement.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total financial amount related to the procurement.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person who requested the procurement.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The ID of the associated purchase order.",
            "example": "ORD-587134"
          },
          "categoryCode": {
            "type": "string",
            "description": "The category code for the procurement item.",
            "example": "CODE-583"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The approval level required for the procurement process.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating a new procurement operation.",
        "example": {
          "requestId": "52349b5a-2b7e-5ae1-b18e-96a75d02ca83",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-587134",
          "categoryCode": "CODE-583",
          "approvalLevel": "STANDARD",
          "requestContext": {
            "requestId": "4d99e617-d3aa-5b6e-bc4a-2bf758dad011",
            "correlationId": "fcd6025f-5c08-5276-8421-4d69fd98b961",
            "idempotencyKey": "2c2c043d-253d-5b6b-8675-cbeb1747de61",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-265297"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Represents a monetary value and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request context.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track related requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to handle idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual metadata related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Represents the channel details used for the request."
      },
      "CreateBankingEnterpriseServicesProcurementResponse_201": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "a1e36f94-3f25-54a4-964a-e76e650477a2"
          },
          "supplierId": {
            "type": "string",
            "description": "The identifier for the supplier associated with the procurement.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The identifier of the purchase order generated.",
            "example": "ORD-994817"
          },
          "categoryCode": {
            "type": "string",
            "description": "The code representing the category of the procurement.",
            "example": "CODE-559"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to the procurement.",
            "example": "RES-150204"
          },
          "status": {
            "type": "string",
            "description": "The current status of the procurement process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the procurement request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the procurement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful procurement operation.",
        "example": {
          "requestId": "a1e36f94-3f25-54a4-964a-e76e650477a2",
          "supplierId": "STANDARD",
          "purchaseOrderId": "ORD-994817",
          "categoryCode": "CODE-559",
          "resourceId": "RES-150204",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "458fd2a4-0765-53ea-a12a-93d0f436c204",
            "correlationId": "fcd6025f-5c08-5276-8421-4d69fd98b961",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the procurement process was executed.",
            "example": "string"
          }
        },
        "description": "Metadata information for the procurement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-create-procurement"
        },
        "example": "procurement-create-procurement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-084"
        },
        "example": "WF-084"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Supplier Procurement and Invoice Payment"
        },
        "example": "Supplier Procurement and Invoice Payment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "273d8d36-2fbb-4c8e-a2c9-f15a440f526f"
        },
        "example": "273d8d36-2fbb-4c8e-a2c9-f15a440f526f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of a bearer token to authenticate requests. A JSON Web Token (JWT) is expected to be provided as part of the Authorization header in the format 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}