{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Trade Banking By Param1-spec",
    "description": "This API allows the modification of trade banking parameters for notional pooling based on specified criteria. By utilizing the PATCH method, users can update individual attributes related to trade banking plans with a unique identifier represented by param1. Typical consumers of this API include financial institutions managing trade financing models and their applications requiring flexible updates to banking settings. This endpoint enhances operational efficiency by enabling targeted adjustments rather than broad changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling/{param1}": {
      "patch": {
        "tags": [
          "Notional Pooling"
        ],
        "summary": "Update Notional Pooling Resource",
        "description": "This endpoint allows you to update the details of the specified Notional Pooling resource identified by RES-100045. Make use of this operation to modify existing resource attributes, improving your trading operations.",
        "operationId": "updateTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request allows the client to update specific properties of the Notional Pooling resource identified by RES-100045. The request body should contain the updated values following the defined schema for PATCH operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTradeBankingByParam1Request": {
        "title": "Notional Pooling Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes requested for notional pooling.",
            "$ref": "#/components/schemas/NotionalPoolingChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a notional pooling operation.",
        "example": {
          "changes": {
            "poolId": "STANDARD",
            "headerAccountId": "ACC-396751",
            "participantAccountIds": [
              "ACC-875514"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e5ca2cbc-36d8-5a51-9ffe-a3e52365fb1b",
            "correlationId": "bb536f92-bdc0-56fc-a77d-8a71b7b0f59f",
            "idempotencyKey": "d3e1f72d-2cec-5932-b46e-245d1da48320",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-778880"
            }
          }
        }
      },
      "NotionalPoolingChanges": {
        "title": "Notional Pooling Changes",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Identifier of the notional pooling account.",
            "example": "pool123"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier of the header account associated with the pooling.",
            "example": "account456"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "Array of account identifiers that are participants in the notional pool.",
            "items": {
              "type": "string",
              "description": "List of participant account identifiers involved in the pooling.",
              "example": "account789"
            }
          }
        },
        "description": "Schema representing the changes to be made in notional pooling.",
        "example": {
          "poolId": "pool123",
          "headerAccountId": "account456",
          "participantAccountIds": [
            "account789",
            "account012"
          ]
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "corr67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "key123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "BankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application through which the request was made.",
            "example": "NotionalPoolingApp"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing contextual information related to the request.",
        "example": {
          "requestId": "req12345",
          "correlationId": "corr67890",
          "idempotencyKey": "key123456",
          "requestedAt": "2023-09-30T10:00:00Z",
          "sourceSystem": "BankingSystem",
          "sourceApplication": "NotionalPoolingApp",
          "channel": {
            "channelId": "channel123",
            "channelType": "API",
            "deviceId": "device12345"
          }
        }
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the transaction (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device12345"
          }
        },
        "description": "Schema that describes the channel through which the request was made.",
        "example": {
          "channelId": "channel123",
          "channelType": "API",
          "deviceId": "device12345"
        }
      },
      "UpdateTradeBankingByParam1Response_200": {
        "title": "Notional Pooling Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Notional Pooling Operation PATCH requests.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7886c465-e9f3-5325-99b1-6f5155ef063e",
            "correlationId": "bb536f92-bdc0-56fc-a77d-8a71b7b0f59f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-update-notional-pooling"
        },
        "example": "notional-pooling-update-notional-pooling"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which allows authorization via JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}