{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Generate Fix-spec",
    "description": "The Generate Fix Specification API allows users to create tailored fix specifications essential for their operational needs. This API enables the submission of specific parameters to generate fix specs which can streamline processes in trading or data management for businesses. Typical consumers of this API include financial institutions and software developers working on trading platforms. By leveraging this API, users can enhance their efficiency in handling complex data requirements for trades and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/fix": {
      "post": {
        "tags": [
          "Fix Generation"
        ],
        "summary": "Generate a fix for the given request.",
        "description": "This endpoint allows users to generate a fix based on the provided input. It processes the data and returns a suitable fix, facilitating efficient resolution of issues.",
        "operationId": "createGenerateFix",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for generating a fix operation. It includes the necessary data and parameters to execute the fix generation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenerateFixRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the generated fix.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGenerateFixResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateGenerateFixRequest": {
        "title": "Request Body for POST Operations",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference for the request.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-301596"
          },
          "institutionLoginId": {
            "type": "string",
            "description": "Login ID for the institution.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect after the operation.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URL for receiving notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook notifications.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "Description of the user experience.",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is a single-use URL.",
            "example": true
          },
          "isHostedInMobileApp": {
            "type": "boolean",
            "description": "Indicates if the operation is hosted in a mobile app.",
            "example": true
          },
          "isWebView": {
            "type": "boolean",
            "description": "Indicates if the operation is performed in a web view.",
            "example": true
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for POST operations.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-301596",
          "institutionLoginId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "singleUseUrl": true,
          "isHostedInMobileApp": true,
          "isWebView": true,
          "requestContext": {
            "requestId": "e0f784e6-c9f8-595c-95ab-89d6cd9ad72c",
            "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
            "idempotencyKey": "ca83fb80-fa9c-5dad-a3d3-d093588167ce",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-427595"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "correlation-xyz"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-20T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that made the request.",
            "example": "app-1"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request.",
        "example": {
          "requestId": "request-abc",
          "correlationId": "correlation-xyz",
          "idempotencyKey": "idempotency-123",
          "requestedAt": "2023-10-20T12:00:00Z",
          "sourceSystem": "system-1",
          "sourceApplication": "app-1",
          "channel": {
            "channelId": "channel-001",
            "channelType": "web",
            "deviceId": "device-123"
          }
        }
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel through which the request is made.",
        "example": {
          "channelId": "channel-001",
          "channelType": "web",
          "deviceId": "device-123"
        }
      },
      "CreateGenerateFixResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the generated data.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata containing additional information about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the successful generation operation.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "02b18d61-26ea-536b-b2ae-7c87ed2bc39b",
            "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata containing identifiers and timestamps relevant to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-fix-connect-url"
        },
        "example": "open-finance-api-generate-fix-connect-url"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime that handled the request. This helps in identifying the service responsible for processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token in the form of a JSON Web Token (JWT). This method allows secure transmission of claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}