{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Success Indicators API",
    "description": "The Payment Success Indicators API allows businesses to submit and track payment success metrics for specific customer accounts. Through this endpoint, users can provide valuable insights on payment performance, enabling informed decisions on payment strategies. It is particularly useful for financial analysts and account managers who need to monitor payment effectiveness. This API enhances operational efficiency by allowing users to proactively manage and improve payment outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/payment-success-indicators": {
      "post": {
        "tags": [
          "Accounts Management"
        ],
        "summary": "Create Payment Success Indicators for an Account",
        "description": "This endpoint allows developers to create and update payment success indicators related to a specific account, helping to track and analyze payment performance effectively.",
        "operationId": "postPaymentSuccessIndicatorsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit payment success indicators for a specific account of a customer. The information contained within helps analyze the payment statuses and outcomes for the indicated account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostPaymentSuccessIndicatorsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing is not complete.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostPaymentSuccessIndicatorsForAccountResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostPaymentSuccessIndicatorsForAccountRequest": {
        "title": "Payment Success Indicator Request Body",
        "type": "object",
        "properties": {
          "transaction": {
            "description": "Details of the transaction being processed.",
            "$ref": "#/components/schemas/Transaction"
          },
          "user": {
            "description": "Information about the user associated with the transaction.",
            "$ref": "#/components/schemas/User"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when posting payment success indicators.",
        "example": {
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "user": {
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "address": {
              "streetLine1": "STANDARD",
              "streetLine2": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            },
            "phone": {
              "countryHint": "STANDARD",
              "number": "STANDARD"
            }
          },
          "requestContext": {
            "requestId": "20d7af14-c38c-5235-a75b-987ea32ad95e",
            "correlationId": "4602ce7c-39b3-5f56-981f-93b8ffaa809c",
            "idempotencyKey": "58a3b882-2e8a-563f-8c0d-bca0506c8e76",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-644172"
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "Date by which the transaction is expected to settle.",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "Amount of the transaction.",
            "example": 0.0
          }
        }
      },
      "User": {
        "title": "User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the user.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the user.",
            "example": "john.doe@example.com"
          },
          "address": {
            "description": "The user's address.",
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "description": "The user's phone number.",
            "$ref": "#/components/schemas/Phone"
          }
        },
        "description": "Schema for user details."
      },
      "Address": {
        "title": "User Address",
        "type": "object",
        "properties": {
          "streetLine1": {
            "type": "string",
            "description": "First line of the street address.",
            "example": "123 Main St"
          },
          "streetLine2": {
            "type": "string",
            "description": "Second line of the street address.",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City name.",
            "example": "Los Angeles"
          },
          "state": {
            "type": "string",
            "description": "State or province name.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal or ZIP code.",
            "example": "90001"
          },
          "country": {
            "type": "string",
            "description": "Country name.",
            "example": "USA"
          }
        },
        "description": "Schema representing a user's address."
      },
      "Phone": {
        "title": "User Phone Number",
        "type": "object",
        "properties": {
          "countryHint": {
            "type": "string",
            "description": "Country code or hint for the phone number.",
            "example": "US"
          },
          "number": {
            "type": "string",
            "description": "The phone number.",
            "example": "+1234567890"
          }
        },
        "description": "Schema representing a user's phone number."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr-abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idemp-xyz789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual data related to the request."
      },
      "Channel": {
        "title": "Request Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel used to make the request."
      },
      "PostPaymentSuccessIndicatorsForAccountResponse_202": {
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "description": "Unique identifier for the payment request.",
            "example": "80f934fe-8e9e-51a0-b428-7b2562a1f1ea"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-862177"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the payment.",
            "example": "ACC-113763"
          },
          "requestDate": {
            "type": "string",
            "description": "Date and time when the payment request was made.",
            "example": "2026-09-15"
          },
          "transaction": {
            "description": "Details of the transaction associated with the payment.",
            "$ref": "#/components/schemas/Transaction"
          },
          "nsfReturnRisk": {
            "description": "Risk assessment related to non-sufficient funds (NSF).",
            "$ref": "#/components/schemas/NsfReturnRisk"
          },
          "unauthorizedReturnRisk": {
            "description": "Risk assessment related to unauthorized returns.",
            "$ref": "#/components/schemas/UnauthorizedReturnRisk"
          },
          "metadata": {
            "description": "Additional metadata related to the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "payRequestId": "80f934fe-8e9e-51a0-b428-7b2562a1f1ea",
          "status": "ACTIVE",
          "customerId": "CUST-862177",
          "accountId": "ACC-113763",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-276497",
              "externalTransactionId": "TXN-178448",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "35c5d88d-eb83-5876-9158-d0ae9c6762ca",
            "correlationId": "4602ce7c-39b3-5f56-981f-93b8ffaa809c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NsfReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "availableBalance": {
                "type": "number",
                "description": "Available balance in the account.",
                "example": 0.0
              },
              "dailyResults": {
                "type": "array",
                "description": "Array of daily risk assessment results.",
                "items": {
                  "$ref": "#/components/schemas/DailyRiskAssessment"
                }
              }
            }
          },
          "error": {
            "description": "Error details related to the NSF return risk.",
            "$ref": "#/components/schemas/ErrorDetails"
          }
        }
      },
      "DailyRiskAssessment": {
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "Potential date for settlement.",
            "example": "string"
          },
          "score": {
            "type": "integer",
            "description": "Risk score associated with the assessment.",
            "format": "int32",
            "example": 0
          },
          "indicator": {
            "type": "string",
            "description": "Indicator of risk assessment.",
            "example": "string"
          },
          "reasons": {
            "description": "Reasons for the risk assessment result.",
            "$ref": "#/components/schemas/RiskReasons"
          }
        }
      },
      "RiskReasons": {
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "Recent balance that may affect risk.",
            "format": "int32",
            "example": 0
          },
          "balanceHistory": {
            "type": "integer",
            "description": "History of account balance.",
            "format": "int32",
            "example": 0
          },
          "nsfHistory": {
            "type": "integer",
            "description": "History of non-sufficient funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Recent history of NSF occurrences.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Count of recurring NSF occurrences.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "History of spending behavior.",
            "format": "int32",
            "example": 0
          },
          "depositHistory": {
            "type": "integer",
            "description": "History of deposits into the account.",
            "format": "int32",
            "example": 0
          },
          "transactionAmount": {
            "type": "integer",
            "description": "Amount of the most recent transaction.",
            "format": "int32",
            "example": 0
          }
        }
      },
      "UnauthorizedReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer",
                "description": "Risk score for unauthorized return.",
                "format": "int32",
                "example": 0
              },
              "indicator": {
                "type": "string",
                "description": "Indicator of unauthorized return risk.",
                "example": "string"
              }
            }
          },
          "error": {
            "description": "Error details related to unauthorized return risk.",
            "$ref": "#/components/schemas/ErrorDetails"
          }
        }
      },
      "ErrorDetails": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Status of the error.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "Title of the error.",
            "example": "string"
          },
          "level": {
            "type": "string",
            "description": "Severity level of the error.",
            "example": "string"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message.",
            "example": "string"
          },
          "user_message": {
            "type": "string",
            "description": "Message intended for the user.",
            "example": "string"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the related asset.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the related account.",
            "example": "string"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "External transaction identifier.",
            "example": "string"
          },
          "tags": {
            "type": "string",
            "description": "Tags associated with the error.",
            "example": "string"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the payment. This value helps in tracking the specific API endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-payment-success-indicators"
        },
        "example": "open-finance-api-generate-payment-success-indicators"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that executed the service operation. This information is useful for identifying which application was responsible for the processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) to authenticate users. To access the secured endpoints, clients must include a valid token in the authorization header of the request, following the Bearer authentication scheme.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}