{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Unit Financial Analysi By Analys Id-spec",
    "description": "This API allows users to retrieve detailed financial analysis reports for specific business units using a unique analysis identifier. It is designed for financial analysts and business managers seeking insights into financial performance metrics. By accessing the analysis through its ID, consumers can obtain comprehensive data, facilitating informed decision-making and strategic planning. This endpoint is essential for organizations looking to evaluate and track financial outcomes effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-financial-analysis/analyses/{analysId}": {
      "get": {
        "tags": [
          "Financial Analysis"
        ],
        "summary": "Retrieve Financial Analysis Data",
        "description": "This endpoint allows users to fetch the financial analysis data associated with a specific business unit. By providing the unique analysis ID, users can view detailed financial insights and metrics relevant to their operations.",
        "operationId": "getBusinessUnitFinancialAnalysiByAnalysId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/analysId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data required to fetch financial analysis results for the specified business unit. Ensure that the format conforms to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessUnitFinancialAnalysiByAnalysIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessUnitFinancialAnalysiByAnalysIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessUnitFinancialAnalysiByAnalysIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations financial analysis endpoint.",
        "example": "{}"
      },
      "GetBusinessUnitFinancialAnalysiByAnalysIdResponse_200": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Date and time when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "An array of findings resulting from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/AnalysisMetadata"
          }
        },
        "description": "Schema representing the response structure for the financial analysis of a business unit.",
        "example": {
          "businessUnitId": "STANDARD",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "fed24cf8-5853-5332-8508-92eb0b6692f5",
            "correlationId": "98110713-eeda-5ea6-b177-ed5fdbf88539",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The metric associated with the finding.",
            "example": "Revenue Growth"
          },
          "value": {
            "type": "number",
            "description": "The numerical value of the finding.",
            "example": 15.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the value.",
            "example": "Percentage"
          }
        },
        "description": "Schema representing a finding from the financial analysis."
      },
      "AnalysisMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES-100000"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests across services.",
            "example": "CORR-200000"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "example": "2023-10-15T08:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata related to the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "analysId": {
        "name": "analysId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being accessed, which helps in tracking the API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-financial-analysis-analyze-business-unit-financial-analysis"
        },
        "example": "business-unit-financial-analysis-analyze-business-unit-financial-analysis"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is currently executing the request, useful for application performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request, aiding in tracking the process flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-089"
        },
        "example": "WF-089"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Financial Close Statements and Compliance"
        },
        "example": "Financial Close Statements and Compliance"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating whether it is running, completed, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "74fc82ec-23a0-45a5-8dca-cce627ae8ef0"
        },
        "example": "74fc82ec-23a0-45a5-8dca-cce627ae8ef0"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the `Authorization` header of their requests to access secured resources. Proper handling of tokens is required to ensure security.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}