{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Detail Payment Instructions-spec",
    "description": "The Payment Instructions Retrieval API allows users to access detailed payment instructions associated with specific customer accounts. This endpoint serves financial institutions and service providers seeking to streamline payment processing for their clients. By fetching the payment instructions using customer and account identifiers, businesses can ensure accurate and timely transactions. Typical consumers include banking applications and fintech solutions that require access to up-to-date payment method information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/details/payment-instructions": {
      "get": {
        "tags": [
          "CustomerAccounts"
        ],
        "summary": "Retrieve payment instructions for a specific account.",
        "description": "This endpoint allows you to fetch the payment instructions associated with a particular account under a specific customer. It provides detailed information necessary for processing payments.",
        "operationId": "listDetailPaymentInstructions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Retrieves payment instruction details for the specified account. This includes information such as payment methods and instructions associated with account ACC-200045 for customer CUST-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDetailPaymentInstructionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment instructions retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDetailPaymentInstructionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDetailPaymentInstructionsRequest": {
        "type": "string",
        "description": "A string representation of the payment instructions for the specified account.",
        "example": "{}"
      },
      "ListDetailPaymentInstructionsResponse_200": {
        "title": "Payment Instructions Response",
        "type": "object",
        "properties": {
          "paymentInstruction": {
            "type": "array",
            "description": "A list of payment instructions associated with the account.",
            "example": [
              {
                "type": "STANDARD",
                "accountNumber": "STANDARD",
                "tanEnabled": true,
                "descriptors": [
                  {
                    "type": "STANDARD",
                    "value": "STANDARD"
                  }
                ],
                "transferInEnabled": true,
                "transferOutEnabled": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentInstruction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for payment instructions associated with a specific account.",
        "example": {
          "paymentInstruction": [
            {
              "type": "STANDARD",
              "accountNumber": "STANDARD",
              "tanEnabled": true,
              "descriptors": [
                {
                  "type": "STANDARD",
                  "value": "STANDARD"
                }
              ],
              "transferInEnabled": true,
              "transferOutEnabled": true
            }
          ],
          "metadata": {
            "responseId": "f8897837-f63f-5a53-837c-2936584ed7a4",
            "correlationId": "1ea3317a-3a25-5710-ac49-9011b635055d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentInstruction": {
        "title": "Payment Instruction",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment instruction.",
            "example": "Standard"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the payment instruction.",
            "example": "123456789"
          },
          "tanEnabled": {
            "type": "boolean",
            "description": "Indicates whether TAN (Transaction Authentication Number) is enabled for this instruction.",
            "example": false
          },
          "descriptors": {
            "type": "array",
            "description": "A list of descriptors related to the payment instruction.",
            "items": {
              "$ref": "#/components/schemas/Descriptor"
            }
          },
          "transferInEnabled": {
            "type": "boolean",
            "description": "Indicates whether incoming transfers are enabled for the account.",
            "example": false
          },
          "transferOutEnabled": {
            "type": "boolean",
            "description": "Indicates whether outgoing transfers are enabled for the account.",
            "example": false
          }
        },
        "description": "Schema representing a single payment instruction detail."
      },
      "Descriptor": {
        "title": "Descriptor",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of descriptor.",
            "example": "Transaction"
          },
          "value": {
            "type": "string",
            "description": "The value of the descriptor.",
            "example": "Payment for invoice #1234"
          }
        },
        "description": "Schema representing a descriptor for a payment instruction."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "res-789xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "corr-456abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "2023-10-10T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Schema representing metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracing requests across services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-payment-instruction-details"
        },
        "example": "open-finance-api-get-account-payment-instruction-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context for the request's origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT token in the 'Authorization' header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}