{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Account Management Account Reconciliation-v5-spec",
    "description": "The Banking Account Reconciliation API enables financial institutions and businesses to efficiently manage and reconcile banking account transactions. By creating and tracking account reconciliation records, users can ensure that their financial data is accurate and up-to-date. This API primarily serves accountants, financial analysts, and software developers who integrate reconciliation processes into their applications. Typical use cases include aligning bank statements with internal records, identifying discrepancies, and streamlining financial auditing processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/account-reconciliation": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Initiates the account reconciliation process.",
        "description": "This endpoint allows users to start the reconciliation of their accounts, ensuring that all transactions are accurately accounted for and discrepancies are resolved.",
        "operationId": "createBankingAccountManagementAccountReconciliation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the account reconciliation process. It must contain the necessary information to accurately reconcile an account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingAccountManagementAccountReconciliationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and the reconciliation process initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingAccountManagementAccountReconciliationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingAccountManagementAccountReconciliationRequest": {
        "title": "Account Reconciliation Request",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-244892"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-159756"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the account balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the account in the specified currency.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting account reconciliation operations.",
        "example": {
          "accountId": "ACC-244892",
          "customerId": "CUST-159756",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "32568cd0-6f78-585b-9336-83854be37b3b",
            "correlationId": "6ad34070-4ad8-5b3c-932a-a1cdf0f72c00",
            "idempotencyKey": "20047056-68fc-574f-84b2-132ed8a4ba9c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-414844"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "corr_123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idemp_123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-03T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "InternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is sent.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used for the request.",
            "example": "device_123456"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "CreateBankingAccountManagementAccountReconciliationResponse_201": {
        "title": "Account Reconciliation Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-488874"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "CUST-441928"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the reconciliation.",
            "example": "RES-641516"
          },
          "status": {
            "type": "string",
            "description": "Current status of the account reconciliation process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the reconciliation operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for account reconciliation operation.",
        "example": {
          "accountId": "ACC-488874",
          "customerId": "CUST-441928",
          "resourceId": "RES-641516",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "dcc1e9c7-aa37-5d6d-bb79-0a09ba7c9092",
            "correlationId": "6ad34070-4ad8-5b3c-932a-a1cdf0f72c00",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the account reconciliation process."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d2a8b4ec-9971-4aa2-aede-5847c99305e3"
        },
        "example": "d2a8b4ec-9971-4aa2-aede-5847c99305e3"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "async-finalization"
        },
        "example": "async-finalization"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "40731f81-d886-4620-912d-22a212372729"
        },
        "example": "40731f81-d886-4620-912d-22a212372729"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint. It helps in tracking which endpoint initiated the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-reconciliation-create-account-reconciliation"
        },
        "example": "account-reconciliation-create-account-reconciliation"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application under which the request is processed, providing context to the environment of execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "This header holds the unique identifier for the workflow associated with the request, allowing for tracing and auditing of workflows.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "40731f81-d886-4620-912d-22a212372729"
        },
        "example": "40731f81-d886-4620-912d-22a212372729"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism as defined in RFC 6750. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}