{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Entity Directory Management API",
    "description": "This API provides functionality to manage records in the Legal Entity Directory, which is essential for maintaining accurate and current legal entity information. Users can update existing records associated with specific legal entities, ensuring compliance and data integrity. The primary consumers of this API include banking institutions and financial service providers who need to keep their legal entity information up-to-date. Typical use cases involve correcting or updating details as regulations or organizational data change.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/legal-entity-directory/{param1}": {
      "put": {
        "tags": [
          "Legal Entity Management"
        ],
        "summary": "Update legal entity directory entry.",
        "description": "This operation allows you to update the details of a specific entry in the legal entity directory based on the provided resource identifier. Ensure that the request body contains all necessary fields to successfully apply the update.",
        "operationId": "updateLegalEntityDirectoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the legal entity identified by the specified resource ID (RES-100045) in the legal entity directory. Ensure that the required fields for the legal entity are included in the payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLegalEntityDirectoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLegalEntityDirectoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLegalEntityDirectoryRes100045Request": {
        "title": "Legal Entity Update Request",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-835860"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the entity.",
            "example": "Olivia Bennett"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "Identifier for the legal entity.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code representing the entity's country.",
            "example": "US"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the entity in the relevant jurisdiction.",
            "example": "NY-4587219"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the entity was incorporated.",
            "example": "2026-09-15"
          },
          "entityStatus": {
            "type": "string",
            "description": "The current status of the entity.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating legal entity information in the legal entity directory.",
        "example": {
          "partyId": "PARTY-835860",
          "legalName": "Olivia Bennett",
          "legalEntityIdentifier": "STANDARD",
          "countryCode": "US",
          "registrationNumber": "NY-4587219",
          "incorporationDate": "2026-09-15",
          "entityStatus": "ACTIVE",
          "requestContext": {
            "requestId": "79a705f5-8ee4-5651-a073-8a9add6b27da",
            "correlationId": "e5653c9b-dfe1-5649-850c-2ddb3b96c08c",
            "idempotencyKey": "cb575778-a0d4-50aa-9c3d-422f173ff66d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-832367"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track related requests.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "idemp-abcdef12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "ApplicationX"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including tracking and identifying information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing details of the communication channel used in the request."
      },
      "UpdateLegalEntityDirectoryRes100045Response_200": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-836028"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the party.",
            "example": "US"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the party entity.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the party entity.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the party entity.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the party entity.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "partyId": "PARTY-836028",
          "countryCode": "US",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3b77d429-726b-52d6-9cc0-5678cee51807",
            "correlationId": "e5653c9b-dfe1-5649-850c-2ddb3b96c08c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information associated with the legal entity operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracing and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-entity-directory-upsert-legal-entity-directory-record"
        },
        "example": "legal-entity-directory-upsert-legal-entity-directory-record"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, which can help in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses a Bearer token, specifically in JSON Web Token (JWT) format, for secure communication. This allows clients to authenticate by including a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}