{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Factoring Details Retrieval API",
    "description": "The Factoring Details Retrieval API enables users to access detailed information about specific factoring transactions by providing a unique factoring ID. This API is designed for financial institutions, accounting professionals, and businesses engaged in trade financing, allowing them to efficiently manage and monitor their factoring agreements. Users can retrieve essential data such as transaction terms, account balances, and associated fees. This API facilitates informed decision-making and enhances transparency in trade banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/factoring/{factoringId}": {
      "get": {
        "tags": [
          "Factoring"
        ],
        "summary": "Retrieve details of factoring resource RES-100045",
        "description": "This endpoint allows developers to retrieve detailed information about the factoring resource identified by RES-100045 in the trade banking system. Use this API to gain insights into the specific factoring arrangement and its parameters.",
        "operationId": "getFactoringResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/factoringId"
          }
        ],
        "requestBody": {
          "description": "This request body should include the necessary parameters to retrieve factoring information for the specified resource. Ensure that the JSON structure adheres to the provided schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFactoringResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the requested data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFactoringResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFactoringResource100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the factoring operations in the trade banking API.",
        "example": "{}"
      },
      "GetFactoringResource100045Response_200": {
        "type": "object",
        "properties": {
          "sellerId": {
            "type": "string",
            "description": "Unique identifier for the seller.",
            "example": "STANDARD"
          },
          "debtorId": {
            "type": "string",
            "description": "Unique identifier for the debtor.",
            "example": "STANDARD"
          },
          "invoiceId": {
            "type": "string",
            "description": "Unique identifier for the invoice.",
            "example": "STANDARD"
          },
          "invoiceAmount": {
            "$ref": "#/components/schemas/InvoiceAmount"
          },
          "advanceRatePercent": {
            "type": "number",
            "description": "The percentage of the invoice amount that is advanced.",
            "example": 100.0
          },
          "invoiceDueDate": {
            "type": "string",
            "description": "The due date of the invoice in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the response object.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET operations related to trade banking factoring. This includes details about the seller, debtor, invoice, and additional metadata.",
        "example": {
          "sellerId": "STANDARD",
          "debtorId": "STANDARD",
          "invoiceId": "STANDARD",
          "invoiceAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "advanceRatePercent": 100.0,
          "invoiceDueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "561b7fdd-06de-5d1a-b9dc-9e180bc5143d",
            "correlationId": "bd4cbd8f-9b9d-5113-8021-c543090edc74",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvoiceAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of the invoice.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the invoice amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents the amount and currency details of the invoice."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response, including various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "factoringId": {
        "name": "factoringId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "factoring-get-factoring"
        },
        "example": "factoring-get-factoring"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, allowing users to access secure endpoints by providing a JSON Web Token (JWT) in the Authorization header. The token should be obtained through a secure login or authentication API prior to being used.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}