{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Transaction-spec",
    "description": "The Account Transaction Management API enables businesses to facilitate monetary transactions related to specific customer accounts. Through this API, users can initiate and process transactions for designated accounts, ensuring accurate record-keeping and financial operations. Common use cases include e-commerce platforms, financial services, and accounting applications managing customer accounts. This API streamlines transaction workflows and supports real-time financial tracking, allowing businesses to enhance customer service and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/transactions": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Create a new transaction for a specific account.",
        "description": "This endpoint allows users to create a new transaction associated with a specific account. It requires the account ID and transaction details in the request body.",
        "operationId": "createAccountTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new transaction for a specific account under a customer. Ensure all required fields are provided to successfully process the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountTransactionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountTransactionRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be transacted.",
            "example": 100.0
          },
          "description": {
            "type": "string",
            "description": "A description of the transaction.",
            "example": "Customer banking request processed successfully"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "ACTIVE"
          },
          "postedDate": {
            "type": "integer",
            "description": "The date when the transaction was posted.",
            "format": "int32",
            "example": 1
          },
          "transactionDate": {
            "type": "integer",
            "description": "The date when the transaction occurred.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a new transaction for a specific account.",
        "example": {
          "amount": 100.0,
          "description": "Customer banking request processed successfully",
          "status": "ACTIVE",
          "postedDate": 1,
          "transactionDate": 1,
          "requestContext": {
            "requestId": "e478ffcd-3fbe-5eb7-8984-8c443ff61e30",
            "correlationId": "d0f9021b-2792-57d3-92d5-a6e4d7dc7521",
            "idempotencyKey": "7c0dab5f-e940-511f-9742-e56d5cac5a10",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-214358"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the transaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about a specific request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to access the channel.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateAccountTransactionResponse_201": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the transaction.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "The timestamp of when the transaction was created, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Metadata related to the transaction, providing additional context.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "This schema represents the response structure for a transaction operation in the customer account context.",
        "example": {
          "id": 1,
          "createdDate": 1,
          "metadata": {
            "responseId": "99b9e07f-52bd-5572-95dc-a241cfa9e9a2",
            "correlationId": "d0f9021b-2792-57d3-92d5-a6e4d7dc7521",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the transaction was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata associated with a transaction, providing various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint that was called for the transaction. This value should correspond to the specific endpoint in the API for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-tx-push-test-transaction"
        },
        "example": "open-finance-api-create-tx-push-test-transaction"
      },
      "X-Runtime-App": {
        "description": "Specifies the application that processed the transaction, allowing for an audit trail of the call's origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients are required to send a valid JSON Web Token (JWT) as a bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}