{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payroll Benefits Retrieval API",
    "description": "The Payroll Benefits Retrieval API enables organizations to access and manage employee payroll benefit information efficiently. This API provides detailed insights into the various benefits associated with employee payroll, aiding HR professionals in decision-making and reporting. Typical consumers include human resource teams and payroll administrators who need real-time data to ensure compliance and optimize benefit offerings. By leveraging this API, businesses can enhance their payroll management systems and improve employee satisfaction through better insights into available benefits.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits": {
      "get": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Retrieve Payroll Benefits Information",
        "description": "This endpoint allows you to access information related to payroll benefits within the human resource management system. It provides necessary details that can assist in managing employee benefits effectively.",
        "operationId": "getPayrollBenefits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payroll and benefits information within the human resource management system. It requires data to be sent in JSON format, which will dictate the information returned regarding payroll and benefits for employees.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPayrollBenefitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payroll benefits information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPayrollBenefitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPayrollBenefitsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Payroll Benefits Operations GET request in the Human Resource Management context.",
        "example": "{}"
      },
      "GetPayrollBenefitsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of payroll benefit items.",
            "example": [
              {
                "payrollRunId": "STANDARD",
                "employeeId": "EMP-196351",
                "payPeriod": "STANDARD",
                "grossPay": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "deductions": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "paymentDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PayrollBenefitItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the payroll benefits operation.",
        "example": {
          "items": [
            {
              "payrollRunId": "STANDARD",
              "employeeId": "EMP-196351",
              "payPeriod": "STANDARD",
              "grossPay": {
                "amount": 100.0,
                "currency": "USD"
              },
              "deductions": {
                "amount": 100.0,
                "currency": "USD"
              },
              "paymentDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "39f3d773-043f-5aa0-b692-830c7417b65c",
            "correlationId": "e3569708-308a-5ec5-b13a-4fd1f0072130",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PayrollBenefitItem": {
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run."
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee."
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll information applies."
          },
          "grossPay": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "deductions": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "paymentDate": {
            "type": "string",
            "description": "Date when the payment was made."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the payroll record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the payroll record."
          }
        },
        "description": "Schema representing a single payroll benefit item."
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount."
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-search-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-search-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be provided in the Authorization header of the request as follows: 'Authorization: Bearer <token>'. The token is a JSON Web Token (JWT) which defines the user\u2019s authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}