{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Mutual Fund Administrations-spec",
    "description": "The Market Operations Mutual Fund Administration API provides access to detailed information about mutual fund administration processes within the financial services sector. This endpoint allows users to list all current mutual fund operations, enabling financial institutions and administrators to manage their mutual fund portfolios effectively. Typical consumers include business analysts, financial technology developers, and banking professionals. By utilizing this API, stakeholders can streamline operational workflows and enhance decision-making related to mutual fund management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/mutual-fund-administration": {
      "get": {
        "tags": [
          "Mutual Fund Administration"
        ],
        "summary": "Retrieve mutual fund administration details.",
        "description": "This endpoint allows users to retrieve detailed information about mutual fund administration operations, including key data and relevant insights necessary for managing and overseeing mutual funds effectively.",
        "operationId": "listMarketOperationMutualFundAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving mutual fund administration details. This body must adhere to the specified JSON schema, which defines the expected structure and data types needed for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationMutualFundAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the expected data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationMutualFundAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationMutualFundAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to mutual fund administration in market operations.",
        "example": "{}"
      },
      "ListMarketOperationMutualFundAdministrationsResponse_200": {
        "title": "Mutual Fund Administration Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of mutual fund items returned from the operation.",
            "example": [
              {
                "fundId": "STANDARD",
                "shareClassId": "STANDARD",
                "valuationDate": "2026-09-15",
                "netAssetValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "unitsOutstanding": 1,
                "administratorId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MutualFundItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response structure for the mutual fund administration operations GET request.",
        "example": {
          "items": [
            {
              "fundId": "STANDARD",
              "shareClassId": "STANDARD",
              "valuationDate": "2026-09-15",
              "netAssetValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "unitsOutstanding": 1,
              "administratorId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "20997171-6b65-5795-8ddd-79aa6969051a",
            "correlationId": "ae05fc7e-c28a-5d01-b4b3-ec65f5ea3928",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MutualFundItem": {
        "title": "Mutual Fund Item",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the mutual fund."
          },
          "shareClassId": {
            "type": "string",
            "description": "The identifier for the specific share class of the mutual fund."
          },
          "valuationDate": {
            "type": "string",
            "description": "The date at which the valuation is calculated."
          },
          "netAssetValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The numerical value of the net assets."
              },
              "currency": {
                "type": "string",
                "description": "The currency in which the net asset value is denominated."
              }
            },
            "description": "The net asset value of the mutual fund."
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "The total number of units outstanding for this mutual fund.",
            "format": "int32"
          },
          "administratorId": {
            "type": "string",
            "description": "The identifier of the mutual fund administrator."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., ACTIVE, INACTIVE)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The last date and time the object was updated."
          }
        },
        "description": "Represents a single mutual fund's data including its valuation.",
        "example": {
          "fundId": "example-fund-id",
          "shareClassId": "example-share-class-id",
          "valuationDate": "2023-10-01",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1000,
          "administratorId": "example-administrator-id",
          "recordStatus": "ACTIVE",
          "updatedAt": "2023-10-01T12:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page in the paginated response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Metadata related to the pagination of results in a list.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An ID for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place."
          }
        },
        "description": "Metadata providing additional information about the response.",
        "example": {
          "responseId": "example-response-id",
          "correlationId": "example-correlation-id",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "US"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mutual-fund-administration-search-mutual-fund-administration"
        },
        "example": "mutual-fund-administration-search-mutual-fund-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) for secure access. Clients should include the token in the 'Authorization' header as 'Bearer {token}' for authenticated API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}