{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Brand Management API",
    "description": "The Brand Management API provides essential tools for managing brand assets and strategies within the banking sector. This API allows users to create and manage brand profiles, ensuring that marketing efforts are aligned with business objectives. Typical consumers include marketers, product managers, and business analysts looking to enhance brand visibility and engagement. Key operations include submitting new brand initiatives and updating existing brand information, facilitating a cohesive marketing approach.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/brand-management": {
      "post": {
        "tags": [
          "Brand Management"
        ],
        "summary": "Create a new brand management entry.",
        "description": "This endpoint allows the user to create a new entry for brand management in the marketing system, facilitating the oversight and standardization of brand materials and strategies.",
        "operationId": "createBrandManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or manage brand-related operations in the marketing module. It should contain all necessary parameters for managing brand assets, including details such as brand name, description, and associated marketing strategies.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new brand management entry.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBrandManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBrandManagementRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels to be used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "social_media"
            }
          },
          "budget": {
            "description": "Budget details for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a marketing campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "e565fd78-4162-5583-bc64-ad0ec386a887",
            "correlationId": "15159d84-3bf2-5284-9351-607baf8e06a3",
            "idempotencyKey": "fdabeda1-7d4f-5e89-bc93-0066f0be9817",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-543595"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount allocated for the campaign.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details of a campaign."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "key131415"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system generating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application where the request originated.",
            "example": "MarketingApp"
          },
          "channel": {
            "description": "Details of the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel161718"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., email, social media).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel, if applicable.",
            "example": "device192021"
          }
        },
        "description": "Schema representing the channel details for a request."
      },
      "CreateBrandManagementResponse_201": {
        "title": "Brand Management Campaign Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier of the created campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The unique identifier of the target segment for the campaign.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource associated with the campaign.",
            "example": "RES-440715"
          },
          "status": {
            "type": "string",
            "description": "The current status of the campaign.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the campaign was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the campaign response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response received after creating a brand management campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-440715",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6cda1af3-9db7-5e35-b069-25f1496603c2",
            "correlationId": "15159d84-3bf2-5284-9351-607baf8e06a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier used to correlate requests and responses.",
            "example": "corr_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains additional metadata information related to the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brand-management-create-brand-management"
        },
        "example": "brand-management-create-brand-management"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which involves the use of a JSON Web Token (JWT) for secure and stateless authentication. Clients must include a valid JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}