{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Brand Overview API",
    "description": "The Brand Overview API provides access to detailed information on various brands managed within the system. Utilizing this API, users can retrieve insights and analytics related to brand performance, customer engagement, and marketing effectiveness. This resource is primarily aimed at marketing analysts and brand managers seeking to enhance their strategies based on comprehensive data. Ideal use cases include performance assessments, competitive analysis, and campaign evaluation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/brand-management/{param1}": {
      "get": {
        "tags": [
          "Brand Management"
        ],
        "summary": "Retrieve brand management resource details.",
        "description": "This endpoint allows you to fetch detailed information about a specific brand management resource identified by its unique identifier. It provides all relevant data necessary for understanding the brand's position and actions in the market.",
        "operationId": "getBrandManagementResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information specific to the brand management operation identified as RES-100045. Ensure that the request payload conforms to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBrandManagementResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the requested data is included in the response.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrandManagementResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBrandManagementResource100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in brand management. It is expected to be a string formatted in JSON.",
        "example": "{}"
      },
      "GetBrandManagementResource100045Response_200": {
        "title": "Campaign Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target audience segment for the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "An array representing the mix of channels used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single channel used in the campaign.",
              "example": "string"
            }
          },
          "budget": {
            "description": "The budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the campaign record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the campaign record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the campaign record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the campaign response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing details about a marketing campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "48ab3661-a164-5616-9ef5-e40ff4a01a80",
            "correlationId": "dbe9daf0-2992-574e-95ae-fa525556fc63",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount allocated for the campaign.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget is specified.",
            "example": "USD"
          }
        },
        "description": "Details about the budget of the campaign."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "North America"
          }
        },
        "description": "Metadata containing additional information about the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brand-management-get-brand-management"
        },
        "example": "brand-management-get-brand-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism as defined in RFC 6750. A JWT (JSON Web Token) is required to authenticate and authorize access to the API endpoints. Clients must provide the JWT in the Authorization header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}