{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Corporate Finance Mergers Acquisitions-spec",
    "description": "This API provides a comprehensive list of mergers and acquisitions within corporate finance. It allows users to access detailed information about various transactions, enabling analysts, financial planners, and corporate strategists to evaluate potential investments. The endpoint serves as a valuable resource for understanding market trends and informing decision-making processes. Ideal for financial institutions, advisory firms, and business analysts, this API supports efficient data retrieval for corporate finance analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/mergers-acquisitions": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve Mergers and Acquisitions Data",
        "description": "This endpoint allows users to retrieve comprehensive data regarding mergers and acquisitions within corporate finance. The response includes detailed information and insights that can assist in decision-making processes related to corporate strategy and investment.",
        "operationId": "listCorporateFinanceMergersAcquisitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to mergers and acquisitions in corporate finance. It allows for the specification of parameters that may filter or shape the response based on user requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCorporateFinanceMergersAcquisitionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of mergers and acquisitions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCorporateFinanceMergersAcquisitionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCorporateFinanceMergersAcquisitionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving information related to mergers and acquisitions operations in corporate finance.",
        "example": "{}"
      },
      "ListCorporateFinanceMergersAcquisitionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of merger and acquisition transaction items.",
            "example": [
              {
                "clientId": "STANDARD",
                "engagementId": "STANDARD",
                "transactionType": "STANDARD",
                "enterpriseValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "targetCloseDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "clientId": {
                  "type": "string",
                  "description": "Unique identifier for the client.",
                  "example": "client123"
                },
                "engagementId": {
                  "type": "string",
                  "description": "Unique identifier for the engagement.",
                  "example": "engagement456"
                },
                "transactionType": {
                  "type": "string",
                  "description": "Type of transaction (e.g., acquisition, merger).",
                  "example": "acquisition"
                },
                "enterpriseValue": {
                  "$ref": "#/components/schemas/EnterpriseValue"
                },
                "targetCloseDate": {
                  "type": "string",
                  "description": "Target date for closing the transaction.",
                  "example": "2023-12-31"
                },
                "recordStatus": {
                  "type": "string",
                  "description": "Current status of the record (e.g., active, closed).",
                  "example": "active"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Timestamp of the last update to the record.",
                  "example": "2023-10-01T12:00:00Z"
                }
              },
              "example": {
                "clientId": "client123",
                "engagementId": "engagement456",
                "transactionType": "acquisition",
                "enterpriseValue": {
                  "amount": 5000000.0,
                  "currency": "USD"
                },
                "targetCloseDate": "2023-12-31",
                "recordStatus": "active",
                "updatedAt": "2023-10-01T12:00:00Z"
              }
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "description": "Current page number.",
                "format": "int32",
                "example": 1
              },
              "pageSize": {
                "type": "integer",
                "description": "Number of items per page.",
                "format": "int32",
                "example": 20
              },
              "totalItems": {
                "type": "integer",
                "description": "Total number of items available.",
                "format": "int32",
                "example": 100
              }
            },
            "description": "Pagination information for the response.",
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response789"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "correlation101"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "e29ba072-4807-5b35-892e-223b5117056d",
              "correlationId": "699fde13-f62f-5b51-9a46-7ac902973af3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for corporate finance mergers and acquisitions operations.",
        "example": {
          "items": [
            {
              "clientId": "STANDARD",
              "engagementId": "STANDARD",
              "transactionType": "STANDARD",
              "enterpriseValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "targetCloseDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e29ba072-4807-5b35-892e-223b5117056d",
            "correlationId": "699fde13-f62f-5b51-9a46-7ac902973af3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EnterpriseValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the enterprise value.",
            "example": 5000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the enterprise value.",
            "example": "USD"
          }
        },
        "description": "Represents the enterprise value of a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mergers-and-acquisitions-advisory-search-mergers-and-acquisitions-advisory"
        },
        "example": "mergers-and-acquisitions-advisory-search-mergers-and-acquisitions-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). A valid JWT token must be included in the Authorization header of requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}