{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Asset Management API",
    "description": "The Collateral Asset Management API facilitates the retrieval of collateral asset information, enabling users to effectively manage and oversee their collateral assets. This API supports operations to access detailed data regarding various collateral types and their associated attributes, enhancing visibility and control. Typical consumers include financial institutions and asset managers who require up-to-date insights for decision-making and compliance. With a streamlined interface, this API empowers users to optimize their collateral management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-asset-administration": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve Collateral Asset Administration Data",
        "description": "This endpoint allows users to retrieve information regarding collateral asset administration, including relevant attributes and statuses for efficient management of collateral in administration processes.",
        "operationId": "getCollateralAssetAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information on collateral asset administration. It should contain the necessary parameters and identifiers to filter the collateral assets based on specific requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAssetAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the desired data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAssetAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAssetAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to collateral asset administration.",
        "example": "{}"
      },
      "GetCollateralAssetAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of collateral asset items.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-316796",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralAssetItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the collateral asset administration GET operation.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-316796",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "bdadee30-0012-5a41-bbe9-dea50c4193ef",
            "correlationId": "be226efe-e665-5973-b30f-c883f4cc0a0d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralAssetItem": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral.",
            "example": "string"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset.",
            "example": "string"
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date of the asset valuation.",
            "example": "2023-10-01"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure.",
            "example": "string"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the asset's value.",
            "example": 0.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien associated with the asset.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single collateral asset item."
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the market value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the market value is expressed.",
            "example": "USD"
          }
        },
        "description": "Represents the market value of an asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated result set.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-asset-administration-search-collateral-asset-administration"
        },
        "example": "collateral-asset-administration-search-collateral-asset-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, used for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a JSON Web Token (JWT) for authentication purposes. Clients must include a token in the 'Authorization' header of their requests, formatted as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}