{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Card By Param1-spec",
    "description": "The Card Authorization Retrieval API allows users to fetch card authorization details by a specified parameter. This endpoint is designed for financial institutions and developers who need to verify card transactions against particular criteria. By providing 'param1', consumers can gain insightful information regarding card usage and authorization status. Typical use cases include transaction monitoring, fraud detection, and compliance reporting. This API ensures secure and efficient retrieval of important financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-authorization/{param1}": {
      "get": {
        "tags": [
          "Card Authorization"
        ],
        "summary": "Retrieve card authorization details.",
        "description": "This endpoint allows you to fetch the authorization details for a specific card identified by its unique ID. Use this to check the current status and other related information pertaining to the authorization of the card.",
        "operationId": "getCardByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the authorization details for the specified card. Ensure that you provide the necessary parameters as outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested card authorization details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardByParam1Request": {
        "type": "string",
        "description": "A string type representing the request body for the GET operation related to card authorization.",
        "example": "{}"
      },
      "GetCardByParam1Response_200": {
        "title": "Card Authorization Response",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique token representing the card.",
            "example": "TOK-957699"
          },
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-674373"
          },
          "transactionAmount": {
            "description": "The amount and currency involved in the transaction.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code of the merchant.",
            "example": "5411"
          },
          "authorizationType": {
            "type": "string",
            "description": "The type of authorization performed.",
            "example": "STANDARD"
          },
          "terminalEntryMode": {
            "type": "string",
            "description": "The mode of entry at the terminal used for the transaction.",
            "example": "STANDARD"
          },
          "threeDSecureResult": {
            "type": "string",
            "description": "The result of the 3D Secure authentication.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record regarding the transaction.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a card authorization operation.",
        "example": {
          "cardToken": "TOK-957699",
          "cardholderId": "STANDARD",
          "merchantId": "MER-674373",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "authorizationType": "STANDARD",
          "terminalEntryMode": "STANDARD",
          "threeDSecureResult": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f104849d-59db-55cd-9879-25656970815b",
            "correlationId": "0ddd5dd1-a8eb-54eb-a1c8-d78cbcf5ad4c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the transaction amount.",
            "example": "string"
          }
        },
        "description": "This schema represents the amount and currency for a transaction."
      },
      "Metadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata related to the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being accessed. This value can be used for tracing requests or debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-get-card-authorization"
        },
        "example": "card-authorization-get-card-authorization"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application processing the request. This helps in identifying the software version and environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. The client must include the JWT in the Authorization header of the request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}