{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Card Collection-spec",
    "description": "This API facilitates the management of operational service card collections in the banking sector. It enables users to create collections that can be used for various transactional and service-related purposes. Typical consumers include banking applications and service management systems that require efficient organization of service cards. With this API, developers can initiate the creation of card collections to streamline operational processes and enhance service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections": {
      "post": {
        "tags": [
          "Card Collections"
        ],
        "summary": "Create a new card collection.",
        "description": "This endpoint allows you to create a new card collection within the operational services. You must provide the necessary details in the request body to successfully create the collection.",
        "operationId": "createOperationalServiceCardCollection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new card collection record. The supplied data must conform to the defined schema and contain all required fields for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceCardCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, confirming the card collection has been added.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceCardCollectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceCardCollectionRequest": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "The unique identifier for the card account.",
            "example": "ACC-654072"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the card account.",
            "example": "CUST-602441"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "The number of days the payment is past due.",
            "format": "int32",
            "example": 1
          },
          "outstandingBalance": {
            "description": "The outstanding balance details for the card account.",
            "$ref": "#/components/schemas/OutstandingBalance"
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy employed for collection.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request including identifiers and timestamp.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting card collection operations.",
        "example": {
          "cardAccountId": "ACC-654072",
          "customerId": "CUST-602441",
          "daysPastDue": 1,
          "outstandingBalance": {
            "amount": 100.0,
            "currency": "USD"
          },
          "collectionStrategy": "STANDARD",
          "requestContext": {
            "requestId": "d257bf68-f221-57c9-a3a0-a26479f9e897",
            "correlationId": "198c5c9a-2334-5b96-b358-f3c661af7e9f",
            "idempotencyKey": "6eee3f95-a94d-5ead-ac50-8bb42c156100",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-152083"
            }
          }
        }
      },
      "OutstandingBalance": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount due for payment.",
            "example": 150.75
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the outstanding balance details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-789123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing requests across services.",
            "example": "corr-456789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "idempotency-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system of the request.",
            "example": "system-A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application from which the request is originating.",
            "example": "app-B"
          },
          "channel": {
            "description": "The details of the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context for the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "A unique identifier for the device used in the request.",
            "example": "device-123456"
          }
        },
        "description": "Schema representing the details of the request channel."
      },
      "CreateOperationalServiceCardCollectionResponse_201": {
        "title": "Card Collection Response",
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "The unique identifier for the card account.",
            "example": "ACC-201454"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-533102"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the operation.",
            "example": "RES-618213"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the card collection operation.",
            "$ref": "#/components/schemas/CardCollectionMetadata"
          }
        },
        "description": "This schema represents the response for the card collection operation.",
        "example": {
          "cardAccountId": "ACC-201454",
          "customerId": "CUST-533102",
          "resourceId": "RES-618213",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1c8d8570-9a6d-5d4e-a5b5-249bf5044a35",
            "correlationId": "198c5c9a-2334-5b96-b358-f3c661af7e9f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCollectionMetadata": {
        "title": "Card Collection Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to track the request/response correlation.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata related to the card collection operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-create-card-collections"
        },
        "example": "card-collections-create-card-collections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT) in the Bearer format. Clients must include a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}