{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp Domestic Scheduled Payment Consent-spec",
    "description": "The Domestic Scheduled Payment Consent API enables service providers to initiate consent for domestic scheduled payments. This operation allows users to authorize a payment to be executed at specified intervals, ensuring convenient financial management. The API primarily supports payment service providers and can be utilized in applications that facilitate automatic bill payments or recurring transfers. By obtaining the necessary consent, the API streamlines the process of making scheduled payments securely and efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payment-consents": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a consent for a domestic scheduled payment.",
        "description": "This endpoint allows you to create a consent for initiating a domestic scheduled payment. A user must provide the necessary parameters to authorize this scheduled transaction, ensuring compliance with applicable financial regulations.",
        "operationId": "createPispDomesticScheduledPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a domestic scheduled payment consent. This includes the necessary details about the payment, such as the payer's information, payment amount, and scheduled execution date. Ensure all required fields are filled in according to the schema provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispDomesticScheduledPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Consent for the domestic scheduled payment has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispDomesticScheduledPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispDomesticScheduledPaymentConsentRequest": {
        "title": "Domestic Scheduled Payment Consent Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/DomesticScheduledPaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for domestic scheduled payment consent.",
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "43e16f1e-c601-51ed-84a5-cf54344edb11",
            "correlationId": "f66293c8-33ce-5668-9fb4-272d7cc26bf8",
            "idempotencyKey": "d00d2d44-f62e-557c-84c1-1b8de973406b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-288740"
            }
          }
        }
      },
      "DomesticScheduledPaymentData": {
        "title": "Domestic Scheduled Payment Data",
        "type": "object",
        "properties": {
          "Permission": {
            "type": "string",
            "description": "Permission granted for the transaction.",
            "example": "string"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicator whether the refund account can be read.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Data for domestic scheduled payment transactions including initiation and account details."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier for tracking purposes.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument used for the payment.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The requested date and time for execution.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details of the payment initiation process."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money to be transferred.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "The amount to be instructed for the payment."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number of the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification information for the account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyDetails"
          }
        },
        "description": "Details of the account involved in the transaction."
      },
      "ProxyDetails": {
        "title": "Proxy Details",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "A unique identifier for the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code representing the proxy type.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy information.",
            "example": "string"
          }
        },
        "description": "Proxy information for account identification."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to track related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Context of the request including metadata for tracking."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details of the channel through which the request was made."
      },
      "CreatePispDomesticScheduledPaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "123456789"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp of when the consent was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVATED"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last update made to the status.",
                "example": "2023-10-02T12:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons associated with the current status of the consent.",
                "example": [
                  {
                    "code": "1001",
                    "description": "Consent activated.",
                    "Path": "status/activated"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Permission": {
                "type": "string",
                "description": "Permission granted for the payment.",
                "example": "PAYMENT"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether the refund account can be read.",
                "example": "YES"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off time for the payment processing.",
                "example": "2023-10-01T15:00:00Z"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected execution time for the payment.",
                "example": "2023-10-03T12:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected settlement time for the payment.",
                "example": "2023-10-04T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment consent.",
                "example": [
                  {
                    "ChargeBearer": "SHARED",
                    "Type": "Fee",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "EUR"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "description": "Identifier for the payment instruction.",
                    "example": "INSTRUCTION123"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "description": "Unique identifier for the transaction for tracking purposes.",
                    "example": "ENDTOEND123"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "Local payment instrument used for the transaction.",
                    "example": "SEPA"
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "description": "Requested execution time for the payment.",
                    "example": "2023-10-03T12:00:00Z"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount of money to be transferred.",
                        "example": "100.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency of the instructed amount.",
                        "example": "EUR"
                      }
                    },
                    "description": "Amount to be instructed for the transaction."
                  },
                  "DebtorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "description": "Name of the account scheme.",
                        "example": "IBAN"
                      },
                      "Identification": {
                        "type": "string",
                        "description": "Identifier for the debtor account.",
                        "example": "DE89370400440532013000"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name of the account holder.",
                        "example": "John Doe"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "description": "Secondary identification for the account.",
                        "example": "12345"
                      },
                      "Proxy": {
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "type": "string",
                            "description": "Identification for the proxy.",
                            "example": "proxy_id_1"
                          },
                          "Code": {
                            "type": "string",
                            "description": "Code for the proxy identification.",
                            "example": "PROXY_CODE"
                          },
                          "Type": {
                            "type": "string",
                            "description": "Type of proxy used.",
                            "example": "EMAIL"
                          }
                        },
                        "description": "Proxy details for the debtor's account."
                      }
                    },
                    "description": "Details of the debtor's account."
                  },
                  "CreditorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "description": "Name of the account scheme.",
                        "example": "IBAN"
                      },
                      "Identification": {
                        "type": "string",
                        "description": "Identifier for the creditor account.",
                        "example": "DE89370400440532013001"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name of the account holder.",
                        "example": "Jane Smith"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "description": "Secondary identification for the account.",
                        "example": "67890"
                      },
                      "Proxy": {
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "type": "string",
                            "description": "Identification for the proxy.",
                            "example": "proxy_id_2"
                          },
                          "Code": {
                            "type": "string",
                            "description": "Code for the proxy identification.",
                            "example": "CRED_PROXY_CODE"
                          }
                        },
                        "description": "Proxy details for the creditor's account."
                      }
                    },
                    "description": "Details of the creditor's account."
                  }
                },
                "description": "Contains the initiation details for the transaction."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "response_123"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier used for tracing requests in the system.",
                    "example": "correlation_123"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "2023-10-01T12:00:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing of the payment consent occurred.",
                    "example": "EU"
                  }
                },
                "description": "Metadata containing additional information about the response."
              }
            },
            "description": "Contains the details regarding the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for the POST operation related to domestic scheduled payment consents.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "metadata": {
            "responseId": "ce472cfa-9fd9-5231-9055-b4e4c218cc6e",
            "correlationId": "f66293c8-33ce-5668-9fb4-272d7cc26bf8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "1001"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Consent activated."
          },
          "Path": {
            "type": "string",
            "description": "Path to the status reason in the response.",
            "example": "status/activated"
          }
        },
        "description": "Details of the status reason for a payment consent."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge (e.g., debtor, creditor, shared).",
            "example": "SHARED"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "Fee"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Value of the charge.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge amount.",
                "example": "EUR"
              }
            },
            "description": "Amount charged as part of the transaction."
          }
        },
        "description": "Details of the charges associated with a payment consent."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking and auditing the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-scheduled-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-scheduled-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This aids in identifying the application context within which the transaction occurred.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This requires the client to send a JSON Web Token (JWT) in the Authorization header for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}