{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Collateral Administration Collateral Asset Administration-spec",
    "description": "The Collateral Asset Administration API facilitates the management of collateral assets within the banking sector. This API allows users to create and manage collateral assets effectively, ensuring regulatory compliance and enhancing risk management practices. Typical consumers include financial institutions and asset managers who require streamlined processes for collateral tracking and administration. By leveraging this API, businesses can optimize their operational workflows and improve asset utilization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-asset-administration": {
      "post": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Create a new collateral asset",
        "description": "This endpoint allows users to create a new collateral asset within the collateral administration system. It involves submitting detailed information about the asset to be managed, ensuring that all necessary data is captured for proper handling and compliance.",
        "operationId": "createCollateralAdministrationCollateralAssetAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to perform operations related to collateral asset administration. It should contain all necessary details for the asset being managed, following the specifications outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollateralAdministrationCollateralAssetAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the collateral asset was added.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollateralAdministrationCollateralAssetAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCollateralAdministrationCollateralAssetAdministrationRequest": {
        "title": "Collateral Asset Administration Request",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "A unique identifier for the collateral asset.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "The identifier of the party responsible for the collateral.",
            "example": "PARTY-530531"
          },
          "assetType": {
            "type": "string",
            "description": "The type of asset being collateralized.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the collateral asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the asset's value was last appraised.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "The identifier for the secured exposure related to this collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "The percentage haircut applied to the asset value for collateral purposes.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "The status of the lien on the collateral asset.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A request schema for collateral asset administration operations, including details about the collateral asset, its market value, lien status, and request context.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-530531",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "1b9fb197-5058-5f44-b37e-d1608ed458ef",
            "correlationId": "dc6c3ca3-bc4c-5918-9423-7533bba7374a",
            "idempotencyKey": "33dbb54d-6614-5a61-9a3f-eaaba1efbeff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-727979"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value of the asset.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the market value.",
            "example": "USD"
          }
        },
        "description": "Schema representing the market value of a collateral asset, including the amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to track the request across systems.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be safely retried.",
            "example": "idempotentKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system that made the request.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "collateral-app"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g. web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to send the request.",
            "example": "device456"
          }
        },
        "description": "Schema representing the channel through which the request was sent, containing channel identification details."
      },
      "CreateCollateralAdministrationCollateralAssetAdministrationResponse_201": {
        "title": "Collateral Asset Administration Response",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the collateral.",
            "example": "PARTY-168721"
          },
          "securedExposureId": {
            "type": "string",
            "description": "The unique identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the collateral.",
            "example": "RES-582831"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the collateral was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for successful operations on collateral assets.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-168721",
          "securedExposureId": "STANDARD",
          "resourceId": "RES-582831",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cecb591f-78c0-5b7d-8370-22aed8a50880",
            "correlationId": "dc6c3ca3-bc4c-5918-9423-7533bba7374a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "Resp12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests and responses.",
            "example": "Corr56789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema holds metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-asset-administration-create-collateral-asset-administration"
        },
        "example": "collateral-asset-administration-create-collateral-asset-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where authentication is performed using a JSON Web Token (JWT). The client should include the JWT in the authorization header of requests, in the format: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}