{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan By Payment Id-spec",
    "description": "The Loan Payment Update API facilitates the modification of loan payment details using specific identifiers for both the loan and payment. This endpoint allows authorized users, such as financial analysts or customer service representatives, to update pertinent information regarding loan payments, ensuring that records are accurate and up to date. With features to adjust payment statuses or correct payment amounts, this API enhances financial transaction management. Integrating this functionality is essential for applications focused on loan servicing and customer account maintenance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a loan payment.",
        "description": "This endpoint allows you to update the details of a specific payment associated with a loan. You can modify various attributes of the payment based on your requirements, ensuring that the payment records are accurate and up-to-date.",
        "operationId": "updateLoanByPaymentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the payment details for the specified loan and payment. It requires a JSON object that contains the necessary fields to modify the payment information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanByPaymentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated payment information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanByPaymentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanByPaymentIdRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "Details of the payment amount including currency and amount value.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment value is recognized.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used to make the payment.",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference or identifier for the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "Strategy for allocation of the payment to installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of installment numbers that this payment is targeting.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "narrative": {
            "type": "string",
            "description": "Additional information or notes regarding the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for patching payment information related to a loan.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "ba86d290-d9b9-504a-866d-beed283f3e63",
            "correlationId": "d2206240-ee44-5b05-a770-9879fad385f7",
            "idempotencyKey": "484666da-09ce-5b15-a0e0-a0bf17aca1bc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872836"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual amount value.",
            "example": "100.00"
          }
        },
        "description": "Represents a monetary amount with its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request through the system.",
            "example": "corr-abc-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring the request is idempotent.",
            "example": "key-unique-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-03-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "payment-gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application initiating the payment request.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information regarding the request for tracking purposes."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to initiate the request.",
            "example": "device-1234"
          }
        },
        "description": "Describes the channel details used for the request."
      },
      "UpdateLoanByPaymentIdResponse_200": {
        "title": "Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount involved in the payment, along with its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date on which the payment was processed.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date to which the payment value is applied.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., credit card, bank transfer).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference associated with the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment across installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of installment numbers that the payment targets.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "An installment number to which a part of the payment is allocated.",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details about how the payment is manually allocated.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative description of the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "9fbf2929-1ccd-7c08-7a7f-4fbbe2a9a52c"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The payment number associated with this operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment.",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details about how the payment has been allocated.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for the transaction associated with this payment.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The timestamp when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response containing details of a payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "9fbf2929-1ccd-7c08-7a7f-4fbbe2a9a52c",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "67282050-edee-526e-a9a8-0a5157a23223",
            "correlationId": "d2206240-ee44-5b05-a770-9879fad385f7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocates part of the payment to the principal amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocates part of the payment to the interest amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocates part of the payment to applicable fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocates part of the payment to penalties, if applicable.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Allocates any excess amount after covering principal, interest, fees, and penalties.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Represents the details of how the payment is manually allocated to different components."
      },
      "Allocation": {
        "title": "Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocated amount for the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocated amount for the interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocated amount for fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocated amount for penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Allocated amount for excess payments.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Represents the details of how the payment has been allocated to different components."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking requests and responses.",
            "example": "CORR-2002"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the transaction was processed.",
            "example": "US-East"
          }
        },
        "description": "Represents additional metadata associated with the payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that processed the request, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-payment"
        },
        "example": "banking-loans-openapi-update-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for identifying the source of the request in distributed systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method. A Bearer token is typically used to authenticate requests made to the API, where the token is issued after a successful login and must be included in the Authorization header for subsequent requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}