{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Decision Retrieval API",
    "description": "The Loan Application Decision Retrieval API enables users to access specific decisions related to loan applications. This API allows financial institutions to retrieve the outcomes and details of decision processes for individual loan applications identified by their unique IDs. Typical consumers include loan officers, underwriting teams, and customer service representatives who need to evaluate or discuss loan application statuses with clients. By utilizing this API, organizations can streamline decision-making processes and enhance customer interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions/{decisionId}": {
      "get": {
        "tags": [
          "Loan Application"
        ],
        "summary": "Retrieve loan application decision.",
        "description": "Fetches the decision details for the specified loan application identified by the unique RES-100045 reference. This endpoint allows developers to access important decision metrics and details related to the loan application.",
        "operationId": "getLoanApplicationDecisionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/decisionId"
          }
        ],
        "requestBody": {
          "description": "The request body should be provided in JSON format, containing the necessary data to retrieve the decision for the specified loan application. Ensure that all required fields according to the schema are included.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationDecisionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the decision for the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationDecisionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationDecisionByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving loan application decisions.",
        "example": "{}"
      },
      "GetLoanApplicationDecisionByIdResponse_200": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made on the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source of the decision (e.g. automated system, manual review).",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the credit scorecard used in the decision.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score associated with the loan application.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the loan applicant.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The percentage probability of default based on the assessment.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio of the applicant expressed as a percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "Details of the approved principal amount for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The term of the loan approved in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate approved for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes for the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Low credit score"
            }
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions attached to the loan approval.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Comments regarding the loan decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "ID of the decision that this decision supersedes, if applicable.",
            "example": "a69b194d-e85a-299b-6856-c96ae2f3a73a"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan decision.",
            "example": "020fb13d-5b4f-77d6-5682-e1d8f161a580"
          },
          "decidedAt": {
            "type": "string",
            "description": "Timestamp of when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "Identifier of the user who made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the decision.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the decision response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan application decisions.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "a69b194d-e85a-299b-6856-c96ae2f3a73a",
          "id": "020fb13d-5b4f-77d6-5682-e1d8f161a580",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1869ef36-5dc9-5037-a1a2-b7d93f324675",
            "correlationId": "f41fa1ba-46b4-575c-8e9d-e9c53f75d9e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ApprovedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The principal amount approved for the loan.",
            "example": "10000"
          }
        },
        "description": "Schema representing the approved principal amount for the loan."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The condition code.",
            "example": "DOC_REQ"
          },
          "description": {
            "type": "string",
            "description": "Description of the condition.",
            "example": "Provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition must be fulfilled.",
            "example": "2023-11-01"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Schema representing the conditions attached to a loan decision."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the decision was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the decision.",
            "example": "creator@example.com"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the decision was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the decision.",
            "example": "updater@example.com"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the decision.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the audit trail of the loan decision."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests and responses.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the decision took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata associated with the decision response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "decisionId": {
        "name": "decisionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-credit-decision"
        },
        "example": "banking-loans-openapi-get-credit-decision"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer Authentication method in HTTP. Clients must include a 'Bearer' token in the Authorization header when making requests. The token should be a valid JSON Web Token (JWT) that grants access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}