{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Position Management API",
    "description": "The Position Management API enables financial institutions to efficiently manage and update their positions within various accounts. By leveraging this API, users can submit new position data, ensuring accurate and real-time tracking of asset allocations. Typical consumers include traders, portfolio managers, and compliance officers who require precise position information for decision-making and reporting purposes. This API plays a crucial role in streamlining operations within the context of banking and asset management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/position-keeping": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Create a new position keeping record.",
        "description": "This endpoint allows users to create and manage position keeping records related to their accounts in the system. It handles necessary validations and business logic to ensure data integrity and correctness.",
        "operationId": "createPositionKeeping",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update position keeping data in the account management system. It expects a JSON payload that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePositionKeepingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePositionKeepingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePositionKeepingRequest": {
        "title": "Position Keeping Request Body",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The ID of the account associated with the position keeping entry.",
            "example": "ACC-991124"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer related to the account.",
            "example": "CUST-605989"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the ledger balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance recorded in the ledger.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating or updating position keeping entries in the account management system.",
        "example": {
          "accountId": "ACC-991124",
          "customerId": "CUST-605989",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "ecc2653f-5aac-5f49-8052-6cf354eae5d3",
            "correlationId": "92e064f9-436e-502e-ac40-bf0a2b3a23b9",
            "idempotencyKey": "5238c7fc-9f99-51b3-868c-561cbfaaa3cd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-543728"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idemp-key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system making the request.",
            "example": "AccountManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device-67890"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreatePositionKeepingResponse_201": {
        "title": "Position Keeping Operation Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-482864"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-336438"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the transaction.",
            "example": "RES-575361"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation (e.g., success, error).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Position Keeping operation indicating the result of the operation performed.",
        "example": {
          "accountId": "ACC-482864",
          "customerId": "CUST-336438",
          "resourceId": "RES-575361",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e359397a-1e86-5def-98ff-79e689a0353c",
            "correlationId": "92e064f9-436e-502e-ac40-bf0a2b3a23b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate multiple requests and responses.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T14:48:05.000Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response, providing additional context about the operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "95e923d2-eee9-4f91-ab48-f0cde2e1754b"
        },
        "example": "95e923d2-eee9-4f91-ab48-f0cde2e1754b"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6"
        },
        "example": "6"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
        },
        "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "position-keeping-create-position-keeping"
        },
        "example": "position-keeping-create-position-keeping"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed as part of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Term Deposit Opening and Maturity Instruction"
        },
        "example": "Term Deposit Opening and Maturity Instruction"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating whether it is still in progress or has been completed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_FINALIZATION"
        },
        "example": "ASYNC_FINALIZATION"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for this specific execution of the workflow, used for tracking and tracing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
        },
        "example": "a2a308af-a007-4e46-ae18-20ae15cfecf4"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which requires a valid JSON Web Token (JWT) to be included in the `Authorization` header of requests. The JWT should be issued by a trusted authority and must not be expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}