{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Deposit Lending Fiduciary Agreement-spec",
    "description": "This API facilitates the creation of deposit lending fiduciary agreements, essential for managing client funds and ensuring compliant financial stewardship. It allows financial institutions to establish fiduciary relationships with clients, providing necessary documentation for deposit lending services. Typical users include banking professionals and compliance teams who require efficient means to draft and submit agreements. This service enhances operational efficiency and ensures adherence to regulatory requirements in fiduciary practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a new fiduciary agreement.",
        "description": "This endpoint allows users to create a new fiduciary agreement within the deposit lending service. Providing the necessary details in the request body will result in the establishment of this financial agreement, ensuring all involved parties are legally bound by its terms.",
        "operationId": "createDepositLendingFiduciaryAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a fiduciary agreement under the deposit lending operation. It includes all necessary information required to process the fiduciary agreement effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositLendingFiduciaryAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fiduciary agreement created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingFiduciaryAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositLendingFiduciaryAgreementRequest": {
        "title": "Fiduciary Agreement Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-317701"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the fiduciary agreement.",
            "example": "ACC-270608"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the financial product being requested.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Principal amount related to the fiduciary agreement.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the agreement in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a fiduciary agreement in deposit lending operations.",
        "example": {
          "customerId": "CUST-317701",
          "accountId": "ACC-270608",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "a43e6d4d-b29f-5b86-974d-474a1ddf6af9",
            "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
            "idempotencyKey": "07d66d4f-59b0-592d-9522-6200b629432f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-953429"
            }
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money involved in the agreement.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the principal amount is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency for the fiduciary agreement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests across systems.",
            "example": "corr-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is received only once.",
            "example": "idempotent-key-7890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application identifier from which the request originated.",
            "example": "AppB"
          },
          "channel": {
            "description": "Details regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing details about the request context."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the specific channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel through which the request was submitted."
      },
      "CreateDepositLendingFiduciaryAgreementResponse_201": {
        "title": "Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-409369"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the fiduciary agreement.",
            "example": "ACC-770499"
          },
          "productCode": {
            "type": "string",
            "description": "The product code related to the fiduciary agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique resource identifier for the operation.",
            "example": "RES-108668"
          },
          "status": {
            "type": "string",
            "description": "The current status of the fiduciary agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the fiduciary agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the fiduciary agreement operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response object for a fiduciary agreement operation in the deposit lending API.",
        "example": {
          "customerId": "CUST-409369",
          "accountId": "ACC-770499",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-108668",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fdadbd29-4636-5001-afd3-a9396c3e98ae",
            "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated by the system.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID used to track related requests and responses.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "US"
          }
        },
        "description": "This schema contains additional information regarding the request and response of the fiduciary agreements."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-create-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-create-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, indicating where the processing occurred.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses Bearer tokens, typically JSON Web Tokens (JWT), to validate user identity and grant access to secured routes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}