{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Correspondent Bank Operations-spec",
    "description": "The Payment Correspondent Bank Operations API provides access to detailed information regarding correspondent banking transactions. Users can retrieve operational data related to payments processed through correspondent banks, facilitating transparency and operational efficiency. This API is particularly useful for financial institutions and payment processors that need to monitor and analyze transaction flows, ensuring compliance and optimizing banking relationships. Typical consumers include banking operational teams, compliance officers, and financial analysts who require insights into correspondent banking activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/correspondent-bank-operations": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Correspondent Bank Operations",
        "description": "This endpoint allows you to fetch the details and status of various correspondent bank operations within the payment system. Utilize this operation to gain insights into transaction processing related to correspondent banks.",
        "operationId": "listPaymentCorrespondentBankOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve correspondent bank operations. It expects a JSON payload that conforms to the specified schema, allowing the system to process the request to list or query the operations associated with correspondent banks.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentCorrespondentBankOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of correspondent bank operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentCorrespondentBankOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentCorrespondentBankOperationsRequest": {
        "title": "Correspondent Bank Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the correspondent bank operations GET request.",
        "example": "{}"
      },
      "ListPaymentCorrespondentBankOperationsResponse_200": {
        "title": "Bank Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of bank operation items.",
            "example": [
              {
                "paymentId": "PAY-438913",
                "debtorAccountId": "ACC-520920",
                "creditorAccountId": "ACC-416898",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "nostroAccountId": "ACC-354950",
                "settlementCurrency": "USD",
                "relationshipStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BankOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the operation list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving correspondent bank operations.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-438913",
              "debtorAccountId": "ACC-520920",
              "creditorAccountId": "ACC-416898",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "nostroAccountId": "ACC-354950",
              "settlementCurrency": "USD",
              "relationshipStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "81cdf004-2fc9-5da6-8802-5ce10de6ccc6",
            "correlationId": "ce440979-b047-5ead-ab6d-265ce5459307",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BankOperation": {
        "title": "Bank Operation",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment operation."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account."
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment is requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information about the remittance."
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account."
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement."
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current status of the relationship for this operation."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record for the bank operation."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the operation was last updated."
          }
        },
        "description": "Details of a single bank operation."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value of the instructed amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the instructed amount is specified."
          }
        },
        "description": "Details of the instructed amount for the payment."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Details about pagination for the list of bank operations."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was performed."
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, useful for tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-operations-search-correspondent-bank-operations"
        },
        "example": "correspondent-bank-operations-search-correspondent-bank-operations"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime that processed the request, aiding in application-level diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A JSON Web Token (JWT) is expected to be provided in the Authorization header to authenticate requests. Please ensure the token is valid and not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}