{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Data By Param1-spec",
    "description": "The Market Data Retrieval API provides access to key market data through the specified quant model parameter. It allows users to obtain up-to-date financial market information filtered by specific parameters, which can aid in decision-making processes for investment strategies. This API is commonly utilized by financial analysts, traders, and developers seeking to integrate market insights into their applications. By leveraging this endpoint, consumers can enhance their analysis capabilities and streamline data-driven financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/quant-model/{param1}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve Quant Model Data",
        "description": "This endpoint allows users to fetch the quantitative model data for the specified resource. It's essential for analysis and decision-making processes within the market data framework.",
        "operationId": "getMarketDataByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve market data related to the quant model identified by RES-100045. The information provided in the body is crucial for tailoring the data retrieval to specific parameters and query requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested market data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataByParam1Request": {
        "title": "Market Data Quant Model Request Body",
        "type": "string",
        "description": "Request body schema for the Market Data Quant Model operations. This schema is used to transmit data in JSON format for a GET request.",
        "example": "{}"
      },
      "GetMarketDataByParam1Response_200": {
        "title": "Market Data Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number of the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "CODE-458"
          },
          "asOf": {
            "type": "string",
            "description": "Date and time snapshot of the market data.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from where the market data was retrieved.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the market data record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the market data was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the market data response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for retrieving market data for a specific financial instrument.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-458",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0a10925b-b6f4-54f2-84ee-0914bab7eff9",
            "correlationId": "b1722061-42d7-5f4f-a87b-88262b175b64",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request/response correlation.",
            "example": "abcde-12345-fghij-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the data was generated.",
            "example": "2023-10-01T12:31:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the data was processed.",
            "example": "US"
          }
        },
        "description": "Contains additional metadata related to the market data response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, which helps in tracing and logging responses specific to that endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quant-model-get-quant-model"
        },
        "example": "quant-model-get-quant-model"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, useful for identifying the source of the response and its operational context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method employs JSON Web Tokens (JWT) to securely transmit information between parties, ensuring that only authorized users can access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}