{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking It Management Systems Help Desk By Systems Help Desk Id-v5-spec",
    "description": "This API enables the modification of existing Banking IT Management Systems Help Desk records identified by their unique ID. It facilitates efficient updates to help desk information, ensuring that team members have access to the most current data. Common use cases include adjusting support ticket statuses, amending contact details, or enhancing service descriptions. Organizations that utilize this API typically include IT departments and customer support teams focused on improving their service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk/{systemsHelpDeskId}": {
      "patch": {
        "tags": [
          "Help Desk Management"
        ],
        "summary": "Update Help Desk System Resource",
        "description": "This endpoint allows you to update the details of a specific Help Desk System resource identified by its ID. The PATCH method can be used to modify only the fields that need to change while preserving other existing data.",
        "operationId": "updateBankingItManagementSystemsHelpDeskBySystemsHelpDeskId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/systemsHelpDeskId"
          }
        ],
        "requestBody": {
          "description": "Updates the specified help desk system information for the ticket with ID RES-100045. This request body should contain all necessary fields to modify the ticket's status, details, or other relevant attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdRequest": {
        "title": "Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be applied, including incident and affected system information.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The datetime at which the change will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identity of the person requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request, such as identifiers and source details.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the structure of the request body for updating operations in the help desk system.",
        "example": {
          "changes": {
            "incidentId": "STANDARD",
            "affectedSystemId": "STANDARD",
            "impact": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2d5d3eab-83f8-5a04-9da4-4c591ef95296",
            "correlationId": "89b83468-35e5-5309-9a36-0e8f11897e01",
            "idempotencyKey": "5512bc9e-3502-51e4-bfe7-ca63dc536417",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-325905"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "The unique identifier of the incident related to the changes.",
            "example": "INC-123456"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "The unique identifier of the system being affected by the changes.",
            "example": "SYS-78910"
          },
          "impact": {
            "type": "string",
            "description": "Description of the impact the changes will have.",
            "example": "High impact on users"
          }
        },
        "description": "Schema representing the details of changes to be applied in the operation."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-654321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems.",
            "example": "CORR-98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "IDEMP-111213"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HelpDesk"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "CHNL-1234"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEV-5678"
          }
        },
        "description": "Schema representing the channel details through which the request was made."
      },
      "UpdateBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on the help desk systems management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "11a501eb-65ae-5efa-9c99-9e9c3b36b000",
            "correlationId": "89b83468-35e5-5309-9a36-0e8f11897e01",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "systemsHelpDeskId": {
        "name": "systemsHelpDeskId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, useful for logging and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-update-systems-help-desk"
        },
        "example": "systems-help-desk-update-systems-help-desk"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context about the origin of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with a JSON Web Token (JWT). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}