{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Trade Banking By Factoring Id-spec",
    "description": "The Trade Banking Retrieval API facilitates the access and retrieval of trade banking information associated with a specific factoring ID. This endpoint is designed for financial institutions seeking to integrate trade finance solutions into their operations. Users, such as risk analysts and trade finance managers, can utilize this API to obtain detailed data regarding trade banking activities linked to particular transactions. By implementing this API, organizations can enhance their decision-making processes and improve the efficiency of their banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/factoring/{factoringId}": {
      "get": {
        "tags": [
          "Factoring"
        ],
        "summary": "Retrieve factoring details for a specific resource.",
        "description": "This endpoint allows you to fetch detailed information about a specific factoring resource identified by its unique ID. It provides all the necessary details to understand the status and attributes of the requested factoring item.",
        "operationId": "getTradeBankingByFactoringId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/factoringId"
          }
        ],
        "requestBody": {
          "description": "Request body for the RES-100045 operation in the factoring service. This operation retrieves information related to specific trade banking factoring requests based on the criteria defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingByFactoringIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingByFactoringIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingByFactoringIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the factoring operations GET request. It is expected to be a string value.",
        "example": "{}"
      },
      "GetTradeBankingByFactoringIdResponse_200": {
        "title": "Factoring Operations Response",
        "type": "object",
        "properties": {
          "sellerId": {
            "type": "string",
            "description": "The unique identifier for the seller.",
            "example": "STANDARD"
          },
          "debtorId": {
            "type": "string",
            "description": "The unique identifier for the debtor associated with the invoice.",
            "example": "STANDARD"
          },
          "invoiceId": {
            "type": "string",
            "description": "The unique identifier for the invoice.",
            "example": "STANDARD"
          },
          "invoiceAmount": {
            "description": "The amount of the invoice including currency information.",
            "$ref": "#/components/schemas/InvoiceAmount"
          },
          "advanceRatePercent": {
            "type": "number",
            "description": "The percentage of the invoice amount that is provided as an advance.",
            "example": 100.0
          },
          "invoiceDueDate": {
            "type": "string",
            "description": "The due date of the invoice in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to factoring in trade banking.",
        "example": {
          "sellerId": "STANDARD",
          "debtorId": "STANDARD",
          "invoiceId": "STANDARD",
          "invoiceAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "advanceRatePercent": 100.0,
          "invoiceDueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "561b7fdd-06de-5d1a-b9dc-9e180bc5143d",
            "correlationId": "bd4cbd8f-9b9d-5113-8021-c543090edc74",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvoiceAmount": {
        "title": "Invoice Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the invoice amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the invoice amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount due for an invoice along with currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "corr_abc123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated in ISO 8601 format.",
            "example": "2023-11-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "factoringId": {
        "name": "factoringId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "factoring-get-factoring"
        },
        "example": "factoring-get-factoring"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs a Bearer Authentication style using JSON Web Tokens (JWT). Clients must provide a valid JWT in the 'Authorization' header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}