{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Account Reconciliations-spec",
    "description": "The Account Reconciliation Management API enables businesses to efficiently retrieve account reconciliation records, facilitating financial oversight and ensuring compliance. This API allows users to access detailed information on reconciliations associated with banking accounts, streamlining audit processes and enhancing transaction accuracy. Typical consumers include financial analysts, compliance officers, and accounting teams who require timely access to reconciliation data for reporting or analysis. By consolidating pivotal reconciliation information, this API supports informed decision-making and enhances overall financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/account-reconciliation": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Account Reconciliation Data",
        "description": "This endpoint allows you to fetch detailed account reconciliation data related to a specific account. It provides insights into transaction discrepancies and balance checks for comprehensive financial management.",
        "operationId": "listAccountManagementAccountReconciliations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate account reconciliation operations. It contains necessary information in JSON format required for the process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementAccountReconciliationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning account reconciliation details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementAccountReconciliationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementAccountReconciliationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the account reconciliation management system.",
        "example": "{}"
      },
      "ListAccountManagementAccountReconciliationsResponse_200": {
        "title": "Account Reconciliation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of account reconciliation records.",
            "example": [
              {
                "accountId": "ACC-527572",
                "customerId": "CUST-226350",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountReconciliationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response structure for retrieving account reconciliation details.",
        "example": {
          "items": [
            {
              "accountId": "ACC-527572",
              "customerId": "CUST-226350",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "586264b6-bf4b-5b72-9a26-9bacd7683d87",
            "correlationId": "1b6343e9-dc7c-54c3-bff0-0f14d71caf6f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountReconciliationItem": {
        "title": "Account Reconciliation Item",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account."
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in ISO 8601 format."
          },
          "currency": {
            "type": "string",
            "description": "The currency type of the ledger balance."
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance recorded in the ledger."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated in ISO 8601 format."
          }
        },
        "description": "Represents a single account reconciliation entry."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Metadata for paginated responses."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking requests through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated in ISO 8601 format."
          },
          "processingRegion": {
            "type": "string",
            "description": "Information about the region where the processing occurred."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-reconciliation-search-account-reconciliation"
        },
        "example": "account-reconciliation-search-account-reconciliation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token format for secure API access. Tokens should be in JSON Web Token (JWT) format, which allows for compact and self-contained information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}