{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loans Loans-v5-spec",
    "description": "MICROSERVICE-PROD-List Loans Loans-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans": {
      "get": {
        "operationId": "listLoansLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoansLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoansLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoansLoansRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListLoansLoansResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "sourceApplicationId": "APP-926194",
                "productId": "PROD-206878",
                "primaryCustomerId": "CUST-203196",
                "borrowerCustomerIds": [
                  "CUST-854121"
                ],
                "principal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "termMonths": 1,
                "annualInterestRatePercent": "STANDARD",
                "interestRateType": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "bookingDate": "2026-09-15",
                "firstPaymentDate": "2026-09-15",
                "maturityDate": "2026-09-15",
                "repaymentAccountNumber": "STANDARD",
                "servicingBranchCode": "CODE-906",
                "relationshipManagerId": "STANDARD",
                "purpose": "STANDARD",
                "id": "e94ffb04-7afb-daf7-c26a-299b0e64143c",
                "accountNumber": "STANDARD",
                "status": "ACTIVE",
                "balance": {
                  "principalOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "accruedInterest": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "feesOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penaltiesOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "totalOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "availableToDraw": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                },
                "totalDisbursed": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalRepaid": {
                  "currency": "USD"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "sourceApplicationId": {
                  "type": "string",
                  "example": "string"
                },
                "productId": {
                  "type": "string",
                  "example": "string"
                },
                "primaryCustomerId": {
                  "type": "string",
                  "example": "string"
                },
                "borrowerCustomerIds": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "principal": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "termMonths": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "annualInterestRatePercent": {
                  "type": "string",
                  "example": "string"
                },
                "interestRateType": {
                  "type": "string",
                  "example": "string"
                },
                "repaymentFrequency": {
                  "type": "string",
                  "example": "string"
                },
                "bookingDate": {
                  "type": "string",
                  "example": "string"
                },
                "firstPaymentDate": {
                  "type": "string",
                  "example": "string"
                },
                "maturityDate": {
                  "type": "string",
                  "example": "string"
                },
                "repaymentAccountNumber": {
                  "type": "string",
                  "example": "string"
                },
                "servicingBranchCode": {
                  "type": "string",
                  "example": "string"
                },
                "relationshipManagerId": {
                  "type": "string",
                  "example": "string"
                },
                "purpose": {
                  "type": "string",
                  "example": "string"
                },
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "accountNumber": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "balance": {
                  "type": "object",
                  "properties": {
                    "principalOutstanding": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "amount": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "accruedInterest": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "amount": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "feesOutstanding": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "amount": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "penaltiesOutstanding": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "amount": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "totalOutstanding": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "amount": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "availableToDraw": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "amount": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "totalDisbursed": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "totalRepaid": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "7cbf7ea1-597a-5310-bf13-b6bacffc521c",
              "correlationId": "bcb866cd-0a87-53e8-a7f1-80e0989f5c4a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "sourceApplicationId": "APP-926194",
              "productId": "PROD-206878",
              "primaryCustomerId": "CUST-203196",
              "borrowerCustomerIds": [
                "CUST-854121"
              ],
              "principal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "termMonths": 1,
              "annualInterestRatePercent": "STANDARD",
              "interestRateType": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "bookingDate": "2026-09-15",
              "firstPaymentDate": "2026-09-15",
              "maturityDate": "2026-09-15",
              "repaymentAccountNumber": "STANDARD",
              "servicingBranchCode": "CODE-906",
              "relationshipManagerId": "STANDARD",
              "purpose": "STANDARD",
              "id": "e94ffb04-7afb-daf7-c26a-299b0e64143c",
              "accountNumber": "STANDARD",
              "status": "ACTIVE",
              "balance": {
                "principalOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "accruedInterest": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "availableToDraw": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              },
              "totalDisbursed": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalRepaid": {
                "currency": "USD"
              }
            }
          ],
          "metadata": {
            "responseId": "7cbf7ea1-597a-5310-bf13-b6bacffc521c",
            "correlationId": "bcb866cd-0a87-53e8-a7f1-80e0989f5c4a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loans"
        },
        "example": "banking-loans-openapi-list-loans"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}