{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Decisioning By Report Id-spec",
    "description": "The Decisioning Report Submission API allows users to submit decisioning data associated with a specific report ID. This API is essential for businesses that need to process and analyze decision-making outcomes based on various reports. Typical consumers include data analysts and business intelligence tools that require automated submission for operational efficiency. The API provides a streamlined method to input decisioning details, ensuring accurate tracking and reporting for decisioning processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/reports/{reportId}": {
      "post": {
        "tags": [
          "Reporting"
        ],
        "summary": "Generate Report for Resource RES-100045",
        "description": "This endpoint allows users to create a detailed report for the specified resource identified by RES-100045. Users can utilize this functionality to extract insights and data relevant to the resource, supporting better decision-making and analysis.",
        "operationId": "createDecisioningByReportId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/reportId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to create or update a report identified by RES-100045. The information must adhere to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDecisioningByReportIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the report was generated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDecisioningByReportIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDecisioningByReportIdRequest": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "description": "The purpose of the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the Operations POST operation.",
        "example": {
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "b08fc9d5-43e7-51ba-aedf-1bf0c28dbd17",
            "correlationId": "d71a19ad-d16c-5b7b-beb8-eb6fc5d91bab",
            "idempotencyKey": "7e6d4131-25f2-537b-856d-5e3f92a5a33a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-537703"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateDecisioningByReportIdResponse_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the operation response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer involved in the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with the operation.",
            "example": "d454ff9f-84c1-5113-84eb-1904c07c59c6"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person requesting the operation.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user involved in the operation.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp representing the creation date of the operation.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the operation.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier of the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details of the consumer involved in the operation.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any dispute associated with the operation.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of operation being reported.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the operation.",
            "$ref": "#/components/schemas/OperationConstraints"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the operation request.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "d454ff9f-84c1-5113-84eb-1904c07c59c6",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-117735"
            ]
          },
          "metadata": {
            "responseId": "a0722ee7-00c2-5b6d-85c5-327b52d77aad",
            "correlationId": "d71a19ad-d16c-5b7b-beb8-eb6fc5d91bab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing the end user associated with the operation."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the consumer."
      },
      "OperationConstraints": {
        "title": "Operation Constraints",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Analytics report data associated with the operation.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for an account associated with the operation."
            }
          }
        },
        "description": "Schema representing the constraints applied to the operation."
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purposes.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "List of time interval types.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "Type of time interval applicable."
            }
          }
        },
        "description": "Schema representing analytics report data."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the operation response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-031"
        },
        "example": "WF-031"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4e786305-be97-4338-86a3-ee29d4b9945a"
        },
        "example": "4e786305-be97-4338-86a3-ee29d4b9945a"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6232cc67-5da1-4731-b582-854f5c92248e"
        },
        "example": "6232cc67-5da1-4731-b582-854f5c92248e"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "reportId": {
        "name": "reportId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint related to the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-report-by-id"
        },
        "example": "open-finance-api-get-report-by-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently running the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-031"
        },
        "example": "WF-031"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Personal Loan Application and Disbursement"
        },
        "example": "Personal Loan Application and Disbursement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow (e.g., running, completed, failed).",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6232cc67-5da1-4731-b582-854f5c92248e"
        },
        "example": "6232cc67-5da1-4731-b582-854f5c92248e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, which is typically a JSON Web Token (JWT). This token is used to securely transmit information between parties and must be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}