{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Authorization Reversal-spec",
    "description": "The Authorization Reversal API allows businesses to reverse previously approved card authorizations efficiently. By providing the unique authorization ID, users can initiate a reversal process, ensuring that funds are released back to the customer's account. This API is particularly valuable for financial institutions and payment processors that need to manage and adjust authorizations due to cancellations or corrections. It facilitates smooth financial operations and enhances transaction management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-authorization/authorizations/{authorizationId}/reversals": {
      "post": {
        "tags": [
          "Card Authorizations"
        ],
        "summary": "Reverse a card authorization for a specific card.",
        "description": "This endpoint allows you to reverse a card authorization that has been previously made for a specific card. Ensure to provide the required details in the request body for the reversal to be processed successfully.",
        "operationId": "createAuthorizationReversal",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/authorizationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to reverse a card authorization for the specified transaction. It must include the relevant details to process the reversal correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthorizationReversalRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAuthorizationReversalResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAuthorizationReversalRequest": {
        "title": "Card Reversal Request",
        "type": "object",
        "properties": {
          "reversalReason": {
            "type": "string",
            "description": "The reason for the reversal.",
            "example": "STANDARD"
          },
          "originalReference": {
            "type": "string",
            "description": "The original transaction reference identifier.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The entity or person requesting the reversal.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the reversal was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for processing a card reversal request, including details about the reversal reason, original transaction reference, and request context.",
        "example": {
          "reversalReason": "STANDARD",
          "originalReference": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "61a30c18-e579-5c0b-ae5c-f566fc048444",
            "correlationId": "c27c8ec4-b4e5-5ad4-b50c-3505c176471c",
            "idempotencyKey": "4f2a09d5-e023-52fa-a340-96a85d5058ef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-166269"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-78910"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace a specific transaction across system boundaries.",
            "example": "CORR-98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "IDEMPOTENCY-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request context was created.",
            "example": "2023-10-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name or identifier of the system initiating the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for additional contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV-12345"
          }
        },
        "description": "Schema for details about the channel that made the request."
      },
      "CreateAuthorizationReversalResponse_202": {
        "title": "Card Reversal Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken during the reversal.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed (e.g., reversal).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the reversal operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The date and time when the reversal was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the reversal operation.",
            "$ref": "#/components/schemas/ReversalMetadata"
          }
        },
        "description": "This schema represents the response returned after a reversal operation on a card authorization.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "75e257ce-f689-5d8b-8124-51969e426228",
            "correlationId": "c27c8ec4-b4e5-5ad4-b50c-3505c176471c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReversalMetadata": {
        "title": "Reversal Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this request with other requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the reversal took place.",
            "example": "string"
          }
        },
        "description": "This schema encapsulates metadata information regarding the reversal operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "authorizationId": {
        "name": "authorizationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Uniquely identifies the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-reverse-card-authorization"
        },
        "example": "card-authorization-reverse-card-authorization"
      },
      "x-runtime-app": {
        "description": "Indicates the version of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism with JSON Web Tokens (JWT) for secure access to the API. It allows clients to authenticate using a token that grants access rights.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}