{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Aisp Account Statements-v5-spec",
    "description": "MICROSERVICE-PROD-List Open Banking Aisp Account Statements-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements": {
      "get": {
        "operationId": "listOpenBankingAispAccountStatements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingAispAccountStatementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingAispAccountStatementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingAispAccountStatementsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListOpenBankingAispAccountStatementsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Statement": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "AccountId": {
                      "type": "string",
                      "example": "string"
                    },
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "reference": {
                      "type": "string",
                      "example": "string"
                    },
                    "Type": {
                      "type": "string",
                      "example": "string"
                    },
                    "StartDateTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "EndDateTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "CreationDateTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "benefit": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Type": {
                            "type": "string",
                            "example": "string"
                          },
                          "Amount": {
                            "type": "object",
                            "properties": {
                              "Amount": {
                                "type": "string",
                                "example": "string"
                              },
                              "Currency": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "fee": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Description": {
                            "type": "string",
                            "example": "string"
                          },
                          "CreditDebitIndicator": {
                            "type": "string",
                            "example": "string"
                          },
                          "Type": {
                            "type": "string",
                            "example": "string"
                          },
                          "Rate": {
                            "type": "number",
                            "example": 0.0
                          },
                          "RateType": {
                            "type": "string",
                            "example": "string"
                          },
                          "Frequency": {
                            "type": "string",
                            "example": "string"
                          },
                          "Amount": {
                            "type": "object",
                            "properties": {
                              "Amount": {
                                "type": "string",
                                "example": "string"
                              },
                              "Currency": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "interest": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "Description": {
                            "type": "string",
                            "example": "string"
                          },
                          "CreditDebitIndicator": {
                            "type": "string",
                            "example": "string"
                          },
                          "Type": {
                            "type": "string",
                            "example": "string"
                          },
                          "Rate": {
                            "type": "number",
                            "example": 0.0
                          },
                          "RateType": {
                            "type": "string",
                            "example": "string"
                          },
                          "Frequency": {
                            "type": "string",
                            "example": "string"
                          },
                          "Amount": {
                            "type": "object",
                            "properties": {
                              "Amount": {
                                "type": "string",
                                "example": "string"
                              },
                              "Currency": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "amount": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "CreditDebitIndicator": {
                            "type": "string",
                            "example": "string"
                          },
                          "Type": {
                            "type": "string",
                            "example": "string"
                          },
                          "Amount": {
                            "type": "object",
                            "properties": {
                              "Amount": {
                                "type": "string",
                                "example": "string"
                              },
                              "Currency": {
                                "type": "string",
                                "example": "string"
                              },
                              "SubType": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "example": "string"
                          },
                          "LocalAmount": {
                            "type": "object",
                            "properties": {
                              "Amount": {
                                "type": "string",
                                "example": "string"
                              },
                              "Currency": {
                                "type": "string",
                                "example": "string"
                              },
                              "SubType": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "Statement": [
                {
                  "AccountId": "ACC-994897",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "Type": "STANDARD",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "CreationDateTime": "2026-09-15T14:30:00Z",
                  "description": [
                    "Customer banking request processed successfully"
                  ],
                  "benefit": [
                    {
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "fee": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "interest": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "amount": [
                    {
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      },
                      "LocalAmount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "b2e0b451-8672-5784-8f10-5861ab6ba531",
              "correlationId": "51a9e4e4-6fd2-5485-8d6e-9ee0db922bb5",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Statement": [
              {
                "AccountId": "ACC-994897",
                "id": "STANDARD",
                "reference": "STANDARD",
                "Type": "STANDARD",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "CreationDateTime": "2026-09-15T14:30:00Z",
                "description": [
                  "Customer banking request processed successfully"
                ],
                "benefit": [
                  {
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "fee": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "interest": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "amount": [
                  {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    },
                    "LocalAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "b2e0b451-8672-5784-8f10-5861ab6ba531",
            "correlationId": "51a9e4e4-6fd2-5485-8d6e-9ee0db922bb5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements"
        },
        "example": "accounts-api-get-accounts-account-id-statements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}