{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Opportunities API",
    "description": "The Sales Opportunities API facilitates the retrieval of sales opportunity data, enabling business analysts and sales teams to identify and track prospective revenues. This endpoint provides comprehensive access to current sales opportunities within the banking sector, empowering users to analyze trends, forecast financial performance, and make informed strategic decisions. Typical consumers include sales representatives, financial analysts, and CRM integration applications seeking to enhance visibility into sales pipelines. Utilize this API to drive sales optimization and improve customer engagement through data-driven insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-opportunities": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve a list of sales opportunities.",
        "description": "This endpoint allows users to fetch all available sales opportunities within the system. It provides a comprehensive overview of potential sales leads, enabling effective sales strategy development and tracking.",
        "operationId": "getSalesOpportunities",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of sales opportunities based on certain criteria. It expects a JSON object that adheres to the defined schema in the components section. The information provided in the request body will determine the filtering and sorting of the results returned by the API.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesOpportunitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved sales opportunities.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesOpportunitiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesOpportunitiesRequest": {
        "type": "string",
        "description": "This schema represents the request body as a JSON string for retrieving sales opportunities.",
        "example": "{}"
      },
      "GetSalesOpportunitiesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of sales opportunity objects.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesOpportunity"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Get Sales Opportunities operation including the items, pagination, sort details, and metadata.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9257db24-8dcc-5a91-a634-4ab1f17f496a",
            "correlationId": "aac9bd64-d918-5d49-8886-564f5301685e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesOpportunity": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect associated with the sales opportunity."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the sales opportunity."
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the opportunity is created."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager handling this opportunity."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the sales opportunity record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the sales opportunity was last updated."
          }
        },
        "description": "Represents a sales opportunity."
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount expected from the sales opportunity."
          },
          "currency": {
            "type": "string",
            "description": "Currency type of the expected amount."
          }
        },
        "description": "Expected monetary value of the sales opportunity."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed."
          }
        },
        "description": "Metadata details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lead-and-opportunity-management-search-lead-and-opportunity-management"
        },
        "example": "lead-and-opportunity-management-search-lead-and-opportunity-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme utilizing the Bearer authentication method with JSON Web Tokens (JWT). This allows clients to authenticate themselves in a secure manner by including a bearer token in the authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}