{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Channel Specific Atm Network Management By Atm Network Management Id-v5-spec",
    "description": "This API provides access to detailed information about ATM network management for specific banking channels based on a unique ATM network management ID. It serves as a critical resource for financial institutions and developers needing to manage ATM-related operations effectively. Typical use cases include retrieving configurations, monitoring performance, and ensuring compliance with network policies. This endpoint enhances transparency in ATM network management, aiding stakeholders in making informed decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-management/{atmNetworkManagementId}": {
      "get": {
        "tags": [
          "ATM Network Management"
        ],
        "summary": "Retrieve ATM network management details for a specific resource.",
        "description": "This endpoint allows you to retrieve detailed information about the ATM network management for a specified resource identified by its ID. Use this to gather necessary data for managing the ATM network effectively.",
        "operationId": "getBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/atmNetworkManagementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the ATM network management for a specific channel. It expects data in JSON format that conforms to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementIdRequest": {
        "title": "ATM Network Management GET Request Body",
        "type": "string",
        "description": "This schema represents the request body for the ATM Network Management GET operation, using JSON format.",
        "example": "{}"
      },
      "GetBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementIdResponse_200": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region in which the ATM is located.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours of the ATM.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of transactions or operations that can be performed daily.",
            "format": "int32",
            "example": 1
          },
          "atmId": {
            "type": "string",
            "description": "The unique identifier for the ATM.",
            "example": "STANDARD"
          },
          "cashStatus": {
            "type": "string",
            "description": "The status of the cash availability in the ATM.",
            "example": "AVAILABLE"
          },
          "terminalHealth": {
            "type": "string",
            "description": "The operational health status of the ATM.",
            "example": "ONLINE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record for this ATM (active, inactive, etc.).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the ATM's configuration or software.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the ATM's information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the ATM record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for ATM network management operations.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "atmId": "STANDARD",
          "cashStatus": "AVAILABLE",
          "terminalHealth": "ONLINE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "52ca32cf-9709-5b30-9f24-4ddd7e10e5fe",
            "correlationId": "ccc8a99a-f77c-5cf7-9dcd-d41675d17ef3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the ATM opens for service.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the ATM closes for service.",
            "example": "22:00"
          }
        },
        "description": "Schema representing the service window timings of an ATM."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate this response with a request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-18T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the ATM response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "atmNetworkManagementId": {
        "name": "atmNetworkManagementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-management-get-atm-network-management"
        },
        "example": "atm-network-management-get-atm-network-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. Typically, a JSON Web Token (JWT) is utilized as the token. Clients must include this token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}