{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Trade Banking By Param1-spec",
    "description": "The Corporate Payroll Services Retrieval API facilitates the retrieval of trade banking information specific to corporate payroll services. Consumers can use this API to access details pertaining to payroll-related banking activities by providing a unique parameter identifier. Typical users include corporate finance departments and HR divisions seeking insights into payroll transaction data. This API enhances decision-making by providing timely and relevant information about payroll banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/corporate-payroll-services/{param1}": {
      "get": {
        "tags": [
          "Corporate Payroll Services"
        ],
        "summary": "Retrieve Corporate Payroll Service Details",
        "description": "Fetches the detailed information of a specific corporate payroll service by its unique identifier. This endpoint allows users to access comprehensive data related to corporate payroll offerings.",
        "operationId": "getTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to retrieve details related to the corporate payroll services for the specified resource. Please ensure that the data provided adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the payroll service details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation for corporate payroll services in the trade banking context.",
        "example": "{}"
      },
      "GetTradeBankingByParam1Response_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-422367"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "The unique identifier for the payroll batch.",
            "example": "STANDARD"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll information is applicable.",
            "example": "STANDARD"
          },
          "employeeCount": {
            "type": "integer",
            "description": "The total number of employees processed in this payroll batch.",
            "format": "int32",
            "example": 1
          },
          "fundingAccountId": {
            "type": "string",
            "description": "The unique identifier for the funding account used for payroll payments.",
            "example": "ACC-904378"
          },
          "totalNetPay": {
            "description": "The total net pay amount to be disbursed, including currency information.",
            "$ref": "#/components/schemas/TotalNetPay"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the payroll record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the payroll record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payroll record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Corporate Payroll Services operations.",
        "example": {
          "corporateCustomerId": "CUST-422367",
          "payrollBatchId": "STANDARD",
          "payPeriod": "STANDARD",
          "employeeCount": 1,
          "fundingAccountId": "ACC-904378",
          "totalNetPay": {
            "amount": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6d09735b-4bc3-5646-9328-f60c264c7258",
            "correlationId": "5ba91f6b-6fe4-5ddd-8475-d0d09c3345de",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TotalNetPay": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of net pay.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the total net pay is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the total net pay amount and the currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the payroll response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This is used for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-payroll-services-get-corporate-payroll-services"
        },
        "example": "corporate-payroll-services-get-corporate-payroll-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for handling the request, useful for debugging and traceability.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer authentication method, which requires a JSON Web Token (JWT) for client authorization. The token should be included in the `Authorization` header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}