{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Channel Specific Contact Center Management-spec",
    "description": "The Channel-Specific Contact Center Management API enables businesses to efficiently manage contact center operations tailored to individual banking channels. This API allows for the creation and configuration of specific contact center resources that optimize customer interactions across various banking platforms. Typical users include customer service managers and IT administrators who seek to enhance customer support processes. By leveraging this API, organizations can streamline their contact center functionalities, ensuring a more responsive and personalized service experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-management": {
      "post": {
        "tags": [
          "Contact Center Management"
        ],
        "summary": "Create a contact center management configuration.",
        "description": "This endpoint allows you to create a new configuration for managing contact centers specific to a particular channel. It includes details necessary for setting up the contact center operations within the specified channel context.",
        "operationId": "createChannelSpecificContactCenterManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to manage contact center operations specific to a channel. It should include all relevant parameters and information as indicated in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelSpecificContactCenterManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, reflecting the newly established contact center management.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificContactCenterManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelSpecificContactCenterManagementRequest": {
        "title": "Contact Center Management Request Body",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel through which the contact center operates.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region of the contact center.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours for the contact center.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of requests the contact center can handle in a day.",
            "format": "int32",
            "example": 1
          },
          "queueId": {
            "type": "string",
            "description": "Identifier for the queue associated with this contact center operation.",
            "example": "STANDARD"
          },
          "skillGroup": {
            "type": "string",
            "description": "The skill group assigned to the contact center agents handling requests.",
            "example": "STANDARD"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "The target time in seconds for answering a customer request.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to manage contact center operations through a specific channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "queueId": "STANDARD",
          "skillGroup": "STANDARD",
          "targetAnswerSeconds": 1,
          "requestContext": {
            "requestId": "590a4e9e-f4fe-5362-8bf0-088de192de32",
            "correlationId": "3d586eb5-a1d3-5b97-b07d-323e4f6c949b",
            "idempotencyKey": "19f5db2b-9ce9-5b29-8a4a-690c60ad0f13",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-538484"
            }
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service window opens in ISO 8601 format.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service window closes in ISO 8601 format.",
            "example": "string"
          }
        },
        "description": "Schema representing the opening and closing times of the service window."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related transactions.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests do not cause duplicate actions.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing details about the request context."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., Phone, Email, Chat).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the specific device used in the communication channel.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateChannelSpecificContactCenterManagementResponse_201": {
        "title": "Channel-Specific Contact Center Management Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region associated with the channel.",
            "example": "US-EAST-1"
          },
          "queueId": {
            "type": "string",
            "description": "The unique identifier for the queue associated with the contact center.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the operation.",
            "example": "RES-350091"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for operations related to channel-specific contact center management.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "queueId": "STANDARD",
          "resourceId": "RES-350091",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "df1ffcdc-b87e-5922-a093-b156e1b46447",
            "correlationId": "3d586eb5-a1d3-5b97-b07d-323e4f6c949b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "This schema represents additional metadata details for the contact center management response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-management-create-contact-center-management"
        },
        "example": "contact-center-management-create-contact-center-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method in HTTP, allowing clients to authenticate requests by providing a JSON Web Token (JWT) in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}