{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management Production Releases-spec",
    "description": "The IT Management Production Releases API enables users to access and manage production releases for IT management within the banking sector. This endpoint provides detailed information on all current production releases, allowing teams to ensure optimal oversight and operational readiness. Typical consumers include IT managers and operations teams looking to track changes and updates in the production environment. By leveraging this API, organizations can enhance their release management processes and improve service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/production-release": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve production release information",
        "description": "This endpoint allows you to fetch details about the current production release, including its version, release date, and any associated notes. It is useful for tracking release statuses in the IT management workflow.",
        "operationId": "listItManagementProductionReleases",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching production release information. This should include any necessary parameters required by the endpoint in the specified schema format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementProductionReleasesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the production release data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementProductionReleasesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementProductionReleasesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to production releases in the IT management system.",
        "example": "{}"
      },
      "ListItManagementProductionReleasesResponse_200": {
        "title": "Production Release Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of production release items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductionReleaseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the production release operations request.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "22a4785e-e72d-5f0d-8baf-9aea65f4ec56",
            "correlationId": "8a3db309-5e0b-5b77-93d9-8535aeb12aaf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductionReleaseItem": {
        "title": "Production Release Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The identifier for the system associated with the release."
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the release is deployed (e.g., Production, Staging)."
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change associated with the release."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the production release."
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the release."
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The identifier for any leased asset associated with this release."
          },
          "residualValue": {
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The duration of the lease in months.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., Active, Inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the release record."
          }
        },
        "description": "Represents a single production release item."
      },
      "ResidualValue": {
        "title": "Residual Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the residual value."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the residual value is expressed."
          }
        },
        "description": "Represents the residual value of a leased asset."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Represents the pagination details of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate logs and requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-release-search-production-release"
        },
        "example": "production-release-search-production-release"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which is based on the usage of a bearer token, typically a JSON Web Token (JWT). Users must include this token in the Authorization header of their requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}