{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Deposit Lending Current Account-spec",
    "description": "This API facilitates the creation of deposit lending current accounts for users looking to manage their finances more effectively. It allows financial institutions to onboard new clients by providing all necessary account details during the creation process. Typical consumers include banking applications and financial services platforms aiming to enhance their product offerings. Developers can leverage this API to streamline account setups and improve customer experiences within their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/current-account": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a deposit in a current account for lending purposes.",
        "description": "This operation allows users to create a new deposit in their current account specifically for lending activities. It is essential for managing funds efficiently within the context of lending services.",
        "operationId": "createDepositLendingCurrentAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body must contain the necessary details for executing a deposit lending operation related to a current account. This includes information such as the amount to be deposited, account identification, and any additional parameters required for processing the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositLendingCurrentAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingCurrentAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositLendingCurrentAccountRequest": {
        "title": "Current Account Operations Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-286140"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "ACC-842086"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product related to the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency for the account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term length of the account in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments for the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose of the account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "The frequency of statements issued for the account.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether an overdraft is allowed on the account.",
            "example": true
          },
          "requestContext": {
            "description": "The context of the request including metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting operations on a current account, such as creating a new account.",
        "example": {
          "customerId": "CUST-286140",
          "accountId": "ACC-842086",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "requestContext": {
            "requestId": "909c1732-7d21-50de-84f7-50a5b8a8a1e4",
            "correlationId": "01e494cb-3502-5ab2-9644-a6394434d5ed",
            "idempotencyKey": "061a0d69-b2ca-5f54-ab27-fe5e2ce2f506",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-145136"
            }
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the principal amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateDepositLendingCurrentAccountResponse_201": {
        "title": "Current Account Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-998068"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the current account.",
            "example": "ACC-699252"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the current account.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource that was created or modified.",
            "example": "RES-424853"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "This schema represents the response structure for a successful operation related to current accounts in the deposit lending system.",
        "example": {
          "customerId": "CUST-998068",
          "accountId": "ACC-699252",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-424853",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "71c244b2-2349-5a59-b7ea-a8e0dc358fec",
            "correlationId": "01e494cb-3502-5ab2-9644-a6394434d5ed",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the process took place.",
            "example": "us-west-2"
          }
        },
        "description": "This schema contains metadata related to the operation performed."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-001"
        },
        "example": "WF-001"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "02b01fdf-85fd-40e1-8839-317713f7ebd0"
        },
        "example": "02b01fdf-85fd-40e1-8839-317713f7ebd0"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "031eb638-43a4-4258-b5b4-2c7572d30377"
        },
        "example": "031eb638-43a4-4258-b5b4-2c7572d30377"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "current-account-create-current-account"
        },
        "example": "current-account-create-current-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-001"
        },
        "example": "WF-001"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Digital Customer Onboarding and Current Account Opening"
        },
        "example": "Digital Customer Onboarding and Current Account Opening"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "031eb638-43a4-4258-b5b4-2c7572d30377"
        },
        "example": "031eb638-43a4-4258-b5b4-2c7572d30377"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer Authentication using JSON Web Tokens (JWT). This security scheme requires the use of a bearer token in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}