{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Relationship Retrieval API",
    "description": "The Corporate Relationship Retrieval API allows organizations to access detailed information about corporate relationships within their banking systems. By utilizing this API, users can retrieve specific corporate relationship data by providing the appropriate parameters. This functionality is essential for financial institutions and businesses that need to analyze or manage their corporate connections. Typical consumers include banking professionals and financial analysts monitoring corporate interactions and partnerships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-relationship/{param1}": {
      "get": {
        "tags": [
          "Corporate Relationships"
        ],
        "summary": "Retrieve Corporate Relationship Details",
        "description": "Fetches the details of a specific corporate relationship using its unique identifier. This operation allows users to access relevant information regarding the corporate relationship, making it easier to manage and analyze relationships with corporate entities.",
        "operationId": "getCorporateRelationshipById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to a specific corporate relationship identified by the unique resource ID 'RES-100045'.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateRelationshipByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the corporate relationship data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateRelationshipByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateRelationshipByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on corporate relationships. It provides a string input necessary for the request.",
        "example": "{}"
      },
      "GetCorporateRelationshipByIdResponse_200": {
        "title": "Corporate Relationship Response",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement related to the stakeholder.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the corporate relationship.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "The scheduled date and time for the engagement.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the corporate relationship record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for a corporate relationship query, including stakeholder details and engagement information.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "dfbd355c-1c2e-5342-8b3f-fefacf68303c",
            "correlationId": "0f0baa6c-0eb7-5bc6-a17f-ad8623be73c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests and responses.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was done.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata information related to the corporate relationship response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the specific endpoint that was invoked during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-relationship-get-corporate-relationship"
        },
        "example": "corporate-relationship-get-corporate-relationship"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}