{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Standing Orders Management API",
    "description": "The International Standing Orders Management API facilitates the creation and management of standing order transactions for international payments. This API allows financial institutions and payment service providers to set up, modify, and monitor recurring payment instructions efficiently. Typical consumers include banks, fintech applications, and accounting software that require seamless automation of cross-border payment processes. By utilizing this API, users can ensure compliance with relevant regulations and improve customer satisfaction through timely and reliable payment services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Create an international standing order.",
        "description": "This operation allows you to set up an international standing order, enabling the automated transfer of funds to a specified recipient on a scheduled basis. Ensure that all required details are provided for successful execution.",
        "operationId": "createInternationalStandingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new international standing order through the PISP (Payment Initiation Service Provider) API. It contains all the necessary details for the transaction, ensuring that the standing order is set up correctly across borders.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternationalStandingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternationalStandingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternationalStandingOrderRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/StandingOrderData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for initiating an international standing order operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "requestContext": {
            "requestId": "ada94368-2549-58f2-8044-c1ede3b2fc00",
            "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
            "idempotencyKey": "a53a5da4-88b9-59ee-af2b-e0eea1d3c71b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-531562"
            }
          }
        }
      },
      "StandingOrderData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent associated with the standing order.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Details of the standing order including initiation and additional payment information."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Total number of payments to be processed.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment beyond the standard description.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the transaction.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer will be made.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code of the destination for the standing order.",
            "example": "string"
          }
        },
        "description": "Information related to the initiation of the standing order."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Array of structured remittance information.",
            "example": [],
            "items": {
              "$ref": "#/components/schemas/StructuredRemittance"
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "Array of unstructured remittance information.",
            "example": [],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Remittance information associated with the payment."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents associated with the remittance.",
            "example": [],
            "items": {
              "$ref": "#/components/schemas/ReferredDocument"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Total amount related to the referred document.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "The party that issued the invoice.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "The party receiving the invoice.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax remittance information related to the payment.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional information regarding the remittance.",
            "example": [],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Structured details about the remittance information."
      },
      "ReferredDocument": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code identifying the referred document.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the referred document.",
            "example": "string"
          },
          "Number": {
            "type": "string",
            "description": "Document number of the referred document.",
            "example": "string"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the referred document.",
            "example": "string"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details related to items or lines in the referred document.",
            "example": [],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Details of a referred document in the remittance information."
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Creditor reference code.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the creditor reference.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "Specific reference associated with the creditor.",
            "example": "string"
          }
        },
        "description": "Information regarding the creditor reference."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key allowing safe retries of the request without duplication.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web)",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateInternationalStandingOrderResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string",
                "description": "Unique identifier for the order.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the order.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the order was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the order.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the order.",
                "example": [
                  {
                    "code": "SR01",
                    "description": "Order is pending approval.",
                    "Path": "/orders/1234"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetail"
                }
              },
              "Refund": {
                "$ref": "#/components/schemas/RefundDetails"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the order.",
                "example": [
                  {
                    "ChargeBearer": "Sender",
                    "Type": "ServiceCharge",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetail"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/InitiationDetails"
              },
              "NumberOfPayments": {
                "type": "string",
                "description": "Total number of payments included in the standing order.",
                "example": "5"
              },
              "ExtendedPurpose": {
                "type": "string",
                "description": "Extended purpose for the transfer.",
                "example": "Payment for services rendered"
              },
              "ChargeBearer": {
                "type": "string",
                "description": "Indicates who bears the charges for the transaction.",
                "example": "Sender"
              },
              "CurrencyOfTransfer": {
                "type": "string",
                "description": "Currency in which the transfer is made.",
                "example": "USD"
              },
              "DestinationCountryCode": {
                "type": "string",
                "description": "Country code of the transfer destination.",
                "example": "US"
              }
            },
            "description": "Detailed information about the standing order.",
            "example": {
              "orderId": "ORD-489270",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-1234"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "correlation-5678"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:10:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "EU"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "e9e467c3-88f3-5c8d-995c-b8f4b2379db9",
              "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for international standing orders operation.",
        "example": {
          "Data": {
            "orderId": "ORD-489270",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "metadata": {
            "responseId": "e9e467c3-88f3-5c8d-995c-b8f4b2379db9",
            "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "SR01"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "Order is pending approval."
          },
          "Path": {
            "type": "string",
            "description": "Path to more information related to the status.",
            "example": "/orders/1234"
          }
        },
        "description": "Details about the status reason of the order."
      },
      "RefundDetails": {
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details about the refund associated with the order."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme under which the account is classified.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification for the account, if any.",
            "example": "12345"
          }
        },
        "description": "Details about the account related to the refund."
      },
      "ChargeDetail": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the transaction.",
            "example": "Sender"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge applied.",
            "example": "ServiceCharge"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the charge.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the charge is denominated.",
                "example": "USD"
              }
            },
            "description": "Amount details of the charge."
          }
        },
        "description": "Details about charges associated with the order."
      },
      "InitiationDetails": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "$ref": "#/components/schemas/RemittanceInformationDetails"
          },
          "Unstructured": {
            "type": "array",
            "description": "Unstructured remittance information.",
            "example": [
              "Payment for services"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Details about the initiation of the standing order."
      },
      "RemittanceInformationDetails": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "List of structured remittance information.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittanceDetail"
            }
          }
        },
        "description": "Structured remittance information for the order."
      },
      "StructuredRemittanceDetail": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents.",
            "items": {
              "$ref": "#/components/schemas/DocumentInformationDetail"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount related to the referred document.",
            "example": "100.00"
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformationDetail"
          },
          "Invoicer": {
            "type": "string",
            "description": "Name of the invoicer.",
            "example": "John Doe"
          },
          "Invoicee": {
            "type": "string",
            "description": "Name of the invoicee.",
            "example": "Acme Corp"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax remittance information.",
            "example": "VAT"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional remittance information.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Details of each structured remittance."
      },
      "DocumentInformationDetail": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Document code.",
            "example": "DOC123"
          },
          "Issuer": {
            "type": "string",
            "description": "Entity that issued the document.",
            "example": "Government"
          },
          "Number": {
            "type": "string",
            "description": "Document number.",
            "example": "123456"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the document.",
            "example": "2023-01-01"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details about individual lines in the document.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Information about a referred document."
      },
      "CreditorReferenceInformationDetail": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Creditor reference code.",
            "example": "CR1234"
          },
          "Issuer": {
            "type": "string",
            "description": "Entity that issued the creditor reference.",
            "example": "Bank"
          },
          "Reference": {
            "type": "string",
            "description": "Reference number.",
            "example": "REF5678"
          }
        },
        "description": "Information about the creditor reference."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with this request, facilitating tracing and management of API interactions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-international-standing-order"
        },
        "example": "payment-initiation-openapi-submit-international-standing-order"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request, useful for debugging and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication in the form of a JSON Web Token (JWT). Clients must include a valid JWT token in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}