{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Prospect Campaign Management API",
    "description": "The Prospect Campaign Management API provides functionality for retrieving insights and details on marketing campaigns targeted at potential customers. With this API, users can access specific data related to campaigns by using unique identifiers. It's designed for marketing teams and analysts to analyze campaign effectiveness and tailor strategies accordingly. Typical use cases include fetching campaign performance metrics to inform decision-making processes and improving outreach efforts to prospects.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/prospect-campaign-management/{param1}": {
      "get": {
        "tags": [
          "Prospect Campaign Management"
        ],
        "summary": "Retrieve details of a specific prospect campaign.",
        "description": "Fetch the information for the prospect campaign identified by RES-100045. This endpoint allows users to access all relevant data related to the specified campaign, facilitating better decision-making and strategy formulation.",
        "operationId": "getMarketingProspectCampaignManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request payload for retrieving marketing prospect campaign management details for the specified campaign ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketingProspectCampaignManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation completed successfully; returns resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketingProspectCampaignManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketingProspectCampaignManagementRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body structure for the GET operation in the campaign management system.",
        "example": "{}"
      },
      "GetMarketingProspectCampaignManagementRes100045Response_200": {
        "title": "Campaign Management Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "Array of channels used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single channel type in the campaign.",
              "example": "string"
            }
          },
          "budget": {
            "description": "Budget details for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "campaignObjective": {
            "type": "string",
            "description": "The objective of the campaign.",
            "example": "STANDARD"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group in the campaign.",
            "format": "int32",
            "example": 1
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Maximum number of times a contact can be reached during the campaign.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the campaign.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the campaign was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the campaign response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving campaign management details, including campaign information and metadata.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "campaignObjective": "STANDARD",
          "controlGroupPercent": 1,
          "contactFrequencyCap": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c25f1ed6-3ade-5171-bcbe-55ea32b82e92",
            "correlationId": "6986eec3-5c71-57a5-96a4-a2c8bd0cd099",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount allocated for the campaign.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema defining the budget of a campaign."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate messages and responses.",
            "example": "corr012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata for the campaign response which includes identifying and timing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint to track requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-management-get-prospect-campaign-management"
        },
        "example": "prospect-campaign-management-get-prospect-campaign-management"
      },
      "X-Runtime-App": {
        "description": "The identifier for the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). The client must include an access token in the `Authorization` header of requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}