{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Analysi By Param1-spec",
    "description": "The Business Contribution Analysis API provides valuable insights into business contributions based on specific parameters. It allows users to retrieve detailed analysis reports by specifying a parameter, enabling organizations to make informed decisions. Typical consumers include analysts, financial teams, and business managers who require access to actionable data. This API streamlines the process of gathering critical business intelligence, ultimately enhancing strategic planning and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/contribution-analysis/{param1}": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve Contribution Analysis Data",
        "description": "Fetches detailed contribution analysis data for the specified resource ID (RES-100045), allowing users to understand key performance metrics and insights related to contributions.",
        "operationId": "getBusinessAnalysiByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data for the specific contribution analysis identified by RES-100045. It should include the necessary parameters to query the analysis data effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessAnalysiByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessAnalysiByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessAnalysiByParam1Request": {
        "title": "Contribution Analysis Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Contribution Analysis API. It is a simple string type that describes the request.",
        "example": "{}"
      },
      "GetBusinessAnalysiByParam1Response_200": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment associated with the analysis.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency used in the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario type for the analysis.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the analysis record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the analysis.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the analysis.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response schema for the contribution analysis in the business analysis operations.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9bc42474-3576-5882-93ef-8244c7c23b46",
            "correlationId": "9f87301f-b607-56ba-b637-1b75731d3f54",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of requests.",
            "example": "CORRELATION101"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata for the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint that was called during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-analysis-get-contribution-analysis"
        },
        "example": "contribution-analysis-get-contribution-analysis"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) to secure API requests. This method requires the client to send a valid JWT in the Authorization header to verify their identity and access permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}