{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Rewards-v5-spec",
    "description": "The Banking Operational Services Rewards API provides users with access to detailed information about various rewards associated with banking operational services. This endpoint allows clients to retrieve a list of available rewards, offering insights into customer incentives and benefits. Typical consumers of this API include banking partners, customer support teams, and financial analysts who aim to enhance customer engagement and retention strategies. The API is designed to support efficient exploration and integration of rewards, contributing to an enriched customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Retrieve rewards data",
        "description": "This endpoint allows users to fetch the latest rewards information available in the operational services. It provides insights into the current rewards structure and any applicable updates.",
        "operationId": "listBankingOperationalServicesRewards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the operational services rewards endpoint, which allows clients to retrieve information about rewards. Ensure that the JSON structure adheres to the defined schema to facilitate proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesRewardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of rewards data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesRewardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesRewardsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving operational rewards services.",
        "example": "{}"
      },
      "ListBankingOperationalServicesRewardsResponse_200": {
        "title": "Rewards Operation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of reward items associated with the loyalty accounts.",
            "example": [
              {
                "loyaltyAccountId": "ACC-555819",
                "customerId": "CUST-323340",
                "activityType": "STANDARD",
                "points": 1,
                "partnerCode": "CODE-168",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RewardItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The criteria used for sorting the reward items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response returned from the operations related to rewards. It includes an array of reward items, pagination details, sort criteria, and metadata.",
        "example": {
          "items": [
            {
              "loyaltyAccountId": "ACC-555819",
              "customerId": "CUST-323340",
              "activityType": "STANDARD",
              "points": 1,
              "partnerCode": "CODE-168",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "86e51ab8-8069-51f0-b5ed-d88247959456",
            "correlationId": "00e38edd-8462-5b9f-86c3-7df97434e7a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RewardItem": {
        "title": "Reward Item",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "The unique identifier for the loyalty account.",
            "example": "loyalty-123"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "customer-456"
          },
          "activityType": {
            "type": "string",
            "description": "The type of activity that this reward is related to.",
            "example": "purchase"
          },
          "points": {
            "type": "integer",
            "description": "The number of points earned from this activity.",
            "format": "int32",
            "example": 100
          },
          "partnerCode": {
            "type": "string",
            "description": "The code representing the partner associated with this reward.",
            "example": "partner-789"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the reward record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the reward record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "This schema represents an individual reward item associated with a loyalty account."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated result.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "This schema defines the pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-search-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-search-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "description": "The name and version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, specifically formatted as a JSON Web Token (JWT). Clients must include this token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}