{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Billing Information Retrieval API",
    "description": "The Billing Information Retrieval API enables users to access detailed billing information for specific resellers within the decisioning framework. By providing the partner ID, consumers can obtain insights on billing cycles, amounts due, and payment statuses. This API serves businesses such as finance teams and partnership managers who need to track and manage reseller billing processes effectively. It is essential for maintaining transparent financial relationships and ensuring timely payments in partnerships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/partners/{partnerId}/billing/reseller": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve billing information for a specific reseller partner.",
        "description": "This endpoint allows you to fetch billing details associated with a particular reseller partner identified by their unique ID, providing insights into billing activities and transactions.",
        "operationId": "getResellerBillingForPartner",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/partnerId"
          }
        ],
        "requestBody": {
          "description": "Request body containing the necessary parameters for billing information retrieval for the reseller associated with the specified partner ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetResellerBillingForPartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and billing details retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetResellerBillingForPartnerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetResellerBillingForPartnerRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for retrieving billing operational information related to a reseller.",
        "example": "{}"
      },
      "GetResellerBillingForPartnerResponse_200": {
        "title": "Billing Reseller Response",
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages in the response.",
            "format": "int32",
            "example": 1
          },
          "totalElements": {
            "type": "integer",
            "description": "Total number of elements across all pages.",
            "format": "int32",
            "example": 1
          },
          "numberOfElements": {
            "type": "integer",
            "description": "Number of elements present on the current page.",
            "format": "int32",
            "example": 1
          },
          "pageable": {
            "description": "Information about pagination.",
            "$ref": "#/components/schemas/Pageable"
          },
          "sort": {
            "description": "Sorting information for the elements.",
            "$ref": "#/components/schemas/Sort"
          },
          "number": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "first": {
            "type": "boolean",
            "description": "Indicates if this is the first page.",
            "example": true
          },
          "last": {
            "type": "boolean",
            "description": "Indicates if this is the last page.",
            "example": true
          },
          "size": {
            "type": "integer",
            "description": "Size of the current page.",
            "format": "int32",
            "example": 1
          },
          "content": {
            "type": "array",
            "description": "List of reseller information.",
            "example": [
              {
                "reseller": "STANDARD",
                "resellerProvider": "STANDARD",
                "platformProvider": "STANDARD",
                "customerId": 1,
                "consumerId": "STANDARD",
                "consumerSsn": "STANDARD",
                "consumerCustomId": "STANDARD",
                "firstName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "lastFourReportId": "STANDARD",
                "reportId": "STANDARD",
                "createdDate": 1,
                "reportType": "STANDARD",
                "status": "ACTIVE",
                "reportCustomFields": [
                  {
                    "label": "STANDARD",
                    "value": "STANDARD",
                    "shown": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ResellerContent"
            }
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving billing reseller information.",
        "example": {
          "totalPages": 1,
          "totalElements": 1,
          "numberOfElements": 1,
          "pageable": {
            "paged": true,
            "unpaged": true,
            "pageNumber": 1,
            "pageSize": 1,
            "sort": {
              "unsorted": true,
              "ed": true,
              "empty": true
            },
            "offset": 1
          },
          "sort": {
            "unsorted": true,
            "ed": true,
            "empty": true
          },
          "number": 1,
          "first": true,
          "last": true,
          "size": 1,
          "content": [
            {
              "reseller": "STANDARD",
              "resellerProvider": "STANDARD",
              "platformProvider": "STANDARD",
              "customerId": 1,
              "consumerId": "STANDARD",
              "consumerSsn": "STANDARD",
              "consumerCustomId": "STANDARD",
              "firstName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "lastFourReportId": "STANDARD",
              "reportId": "STANDARD",
              "createdDate": 1,
              "reportType": "STANDARD",
              "status": "ACTIVE",
              "reportCustomFields": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD",
                  "shown": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "b0dfe86a-406f-5567-9ec6-239820396e58",
            "correlationId": "259e19e4-81ac-5d8e-8e37-4e252a60c549",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Pageable": {
        "title": "Pageable Information",
        "type": "object",
        "properties": {
          "paged": {
            "type": "boolean",
            "description": "Indicates if the result is paged.",
            "example": false
          },
          "unpaged": {
            "type": "boolean",
            "description": "Indicates if the result is unpaged.",
            "example": false
          },
          "pageNumber": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "sort": {
            "description": "Sorting information.",
            "$ref": "#/components/schemas/Sort"
          },
          "offset": {
            "type": "integer",
            "description": "The offset from the start of the data.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about the pagination state."
      },
      "Sort": {
        "title": "Sorting Information",
        "type": "object",
        "properties": {
          "unsorted": {
            "type": "boolean",
            "description": "Indicates if the data is unsorted.",
            "example": false
          },
          "ed": {
            "type": "boolean",
            "description": "Additional sort indication.",
            "example": false
          },
          "empty": {
            "type": "boolean",
            "description": "Indicates if the sorting is empty.",
            "example": false
          }
        },
        "description": "Details about the sorting mechanism used in the response."
      },
      "ResellerContent": {
        "title": "Reseller Content Information",
        "type": "object",
        "properties": {
          "reseller": {
            "type": "string",
            "description": "Name of the reseller.",
            "example": "Example Reseller"
          },
          "resellerProvider": {
            "type": "string",
            "description": "Provider of the reseller.",
            "example": "Example Provider"
          },
          "platformProvider": {
            "type": "string",
            "description": "Provider of the platform.",
            "example": "Platform Provider"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 12345
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "C12345"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "consumerCustomId": {
            "type": "string",
            "description": "Custom identifier for the consumer.",
            "example": "CustomID123"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "lastFourReportId": {
            "type": "string",
            "description": "Last four digits of the report ID.",
            "example": "1234"
          },
          "reportId": {
            "type": "string",
            "description": "Identifier for the report.",
            "example": "ReportID123"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the report was created.",
            "format": "int32",
            "example": 1234567890
          },
          "reportType": {
            "type": "string",
            "description": "Type of the report.",
            "example": "Monthly"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "Completed"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields associated with the report.",
            "example": [
              {
                "label": "Field1",
                "value": "Value1",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Information pertaining to each reseller."
      },
      "ReportCustomField": {
        "title": "Report Custom Field Information",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field.",
            "example": "Field1"
          },
          "value": {
            "type": "string",
            "description": "Value of the custom field.",
            "example": "Value1"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if the custom field is shown.",
            "example": true
          }
        },
        "description": "Custom fields associated with the report content."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "Response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CorrelationID123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-02T14:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "partnerId": {
        "name": "partnerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-reseller-billing-report"
        },
        "example": "open-finance-api-get-reseller-billing-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}