{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Point of Service Information Retrieval API",
    "description": "The Point of Service Information Retrieval API enables users to access critical details about point-of-service banking transactions. This API provides insights into various banking operations across multiple channels, ensuring a seamless customer experience. It caters to banking professionals and developers aiming to integrate comprehensive point-of-service data into their applications. The API facilitates easy retrieval of transaction data, empowering businesses to enhance operational efficiency and inform decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service/{param1}": {
      "get": {
        "tags": [
          "Point of Service"
        ],
        "summary": "Retrieve Point of Service Details",
        "description": "This endpoint allows you to fetch detailed information about a specific point of service identified by its unique reservation ID. It provides crucial data necessary for operational oversight and management.",
        "operationId": "getPointOfServiceDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body containing the necessary parameters for retrieving information from the specified resource in the cross-channel point-of-service endpoint. Ensure that all required fields are included and properly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPointOfServiceDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPointOfServiceDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPointOfServiceDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the specified resource, formatted as a JSON string.",
        "example": "{}"
      },
      "GetPointOfServiceDetailsResponse_200": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction.",
            "example": "PARTY-230885"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "INT-465912"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction is conducted.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication required for the interaction.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal involved.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-195230"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Point of Service operations, providing details about the interaction and terminal.",
        "example": {
          "partyId": "PARTY-230885",
          "interactionId": "INT-465912",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "terminalId": "STANDARD",
          "merchantId": "MER-195230",
          "terminalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "94d77df6-c17a-52a3-a8fa-a2e3988945ac",
            "correlationId": "8b260d6a-fa48-59eb-a569-877b4684e12d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different parts of the transaction.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the interaction occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking the specific endpoint involved in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-get-point-of-service"
        },
        "example": "point-of-service-get-point-of-service"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This can be useful for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) as a bearer token for authentication. Clients must include the token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}