{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Security Assurance Assessments API",
    "description": "The Update Security Assurance Assessments API enables businesses to modify existing security assessments in the enterprise services banking module. This operation allows users to provide updated information for a specific assessment identified by its unique assessment ID. Typical consumers include risk management teams and compliance officers who need to ensure accuracy in assessment data. The API is essential for maintaining up-to-date security assurance measures and supporting effective risk assessment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-assurance/assessments/{assessmentId}": {
      "put": {
        "tags": [
          "Security Assurance"
        ],
        "summary": "Update an existing security assurance assessment.",
        "description": "This operation allows users to update the details of a specific security assurance assessment identified by its unique ID, RES-100045. It ensures that the assessment data remains current and relevant.",
        "operationId": "updateSecurityAssuranceAssessment100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/assessmentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the assessment with the specified ID (RES-100045). The payload should contain all necessary information related to the assessment, including any updates to the assessment details and status. Ensure that the data conforms to the defined schema to facilitate a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSecurityAssuranceAssessment100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSecurityAssuranceAssessment100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSecurityAssuranceAssessment100045Request": {
        "title": "Assessment Request Body",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement associated with the assessment.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the assessment.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework being applied for the assessment.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The identifier of the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date for the assessment.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the assessment.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating an assessment operation.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "requestContext": {
            "requestId": "87eeab80-f258-5aae-83e3-7c3a1d19bddc",
            "correlationId": "2f1ba87a-be24-5b7a-943a-82ae0e9f2a1f",
            "idempotencyKey": "4b3a2d2e-16d0-58f4-aa88-fd4b1fc4c27d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-698671"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "correlation-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the request.",
            "example": "idempotency-key-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-30T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "source-app-1"
          },
          "channel": {
            "description": "Information about the communication channel of the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the communication.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the communication channel information."
      },
      "UpdateSecurityAssuranceAssessment100045Response_200": {
        "title": "Assessment Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement associated with this assessment.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The identifier of the owner of the engagement.",
            "example": "STANDARD"
          },
          "assessmentId": {
            "type": "string",
            "description": "The unique identifier for the assessment.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The outcome of the assessment, indicating the result.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The score achieved in the assessment.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "The timestamp when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the assessment.",
            "$ref": "#/components/schemas/AssessmentMetadata"
          }
        },
        "description": "Represents the response of an assessment operation.",
        "example": {
          "engagementId": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "66b6b8b7-8a7e-5157-83bb-04305217ebc1",
            "correlationId": "2f1ba87a-be24-5b7a-943a-82ae0e9f2a1f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssessmentMetadata": {
        "title": "Assessment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this response with other operations.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the assessment occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata related to the assessment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "assessmentId": {
        "name": "assessmentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-assurance-assure-security-assurance"
        },
        "example": "security-assurance-assure-security-assurance"
      },
      "X-Runtime-App": {
        "description": "The name of the application executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the specific workflow being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-087"
        },
        "example": "WF-087"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Cybersecurity Assurance and Control Remediation"
        },
        "example": "Cybersecurity Assurance and Control Remediation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its execution status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "589b1163-2dfb-455a-a7ca-47dec772ae43"
        },
        "example": "589b1163-2dfb-455a-a7ca-47dec772ae43"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a bearer token, typically in JSON Web Token (JWT) format. This allows you to authenticate API requests by including a bearer token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}