{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operation Tion Create Party Authentications-spec",
    "description": "The Party Authentication Operations API enables users to access and retrieve details about specific operations related to party authentication within the banking domain. It serves as an essential resource for developers aiming to integrate authentication processes into applications. This API allows consumers, such as financial services providers and developers, to obtain the necessary operational data related to creating party authentications. Use cases include verifying authentication processes and enhancing security measures for banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/party-authentication/{param1}/operations/tion-create-party-authentication": {
      "get": {
        "tags": [
          "Party Authentication"
        ],
        "summary": "Create a new party authentication.",
        "description": "This endpoint allows you to create a new party authentication for the specified party. It handles the essential steps to initiate and secure the authentication process. Make sure to provide all required parameters to ensure successful operation.",
        "operationId": "listOperationTionCreatePartyAuthentications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the creation of a party authentication operation for the specified party ID (PARTY-600045). The operation expects a structured JSON payload that adheres to the schema defined in the reference.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationTionCreatePartyAuthenticationsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided party authentication details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationTionCreatePartyAuthenticationsResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationTionCreatePartyAuthenticationsRequest": {
        "title": "Party Authentication Request Body",
        "type": "string",
        "description": "Schema representing the request body for creating party authentication in a cross-channel operation.",
        "example": "{}"
      },
      "ListOperationTionCreatePartyAuthenticationsResponse_201": {
        "title": "Party Authentication Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-887496"
          },
          "interactionId": {
            "type": "string",
            "description": "Identifier for the interaction associated with the authentication.",
            "example": "INT-611214"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the party authentication.",
            "example": "RES-856690"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authentication process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the authentication was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AuthenticationMetadata"
          }
        },
        "description": "Response schema for a successful party authentication request.",
        "example": {
          "partyId": "PARTY-887496",
          "interactionId": "INT-611214",
          "resourceId": "RES-856690",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "27288888-b689-5c46-ab0c-e61dfbb00287",
            "correlationId": "92b7b6da-c5c3-5fa7-8113-e2c6d2750c52",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuthenticationMetadata": {
        "title": "Authentication Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the authentication was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the party authentication response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0d4550f7-0595-4eba-8cbd-6977d9e71dce"
        },
        "example": "0d4550f7-0595-4eba-8cbd-6977d9e71dce"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5"
        },
        "example": "5"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
        },
        "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-authentication-create-party-authentication"
        },
        "example": "party-authentication-create-party-authentication"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "An identifier associated with the workflow that is responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed to create the party authentication.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Enterprise Strategy Architecture and Business Unit Planning"
        },
        "example": "Enterprise Strategy Architecture and Business Unit Planning"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow; indicates whether the workflow has been completed, is in progress, or has failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the executed workflow instance, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
        },
        "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a bearer token, specifically formatted as a JSON Web Token (JWT). This allows secure authorization across the API, ensuring that only authenticated users can access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}