{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Card By Param1-spec",
    "description": "The Retrieve Card Details API allows consumers to obtain specific card information by providing a unique parameter. This endpoint is designed for banking applications that require access to card capture data for processing transactions or customer inquiries. Typical users include financial institutions, transaction processing systems, and mobile banking applications that need to display card details efficiently. By utilizing this API, developers can enhance user experience and operational efficiency in financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-capture/{param1}": {
      "get": {
        "tags": [
          "Card Operations"
        ],
        "summary": "Retrieve card capture details",
        "description": "Fetches the detailed information for a specific card capture identified by its unique ID, allowing developers to view attributes and status associated with that capture transaction.",
        "operationId": "getCardByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving card capture information for the specified card ID (CARD-400045). It should contain any necessary details needed to process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the card capture details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of the card capture, specifically for the card with ID 400045.",
        "example": "{}"
      },
      "GetCardByParam1Response_200": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique token associated with the card.",
            "example": "TOK-472177"
          },
          "cardholderId": {
            "type": "string",
            "description": "The identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant processing the transaction.",
            "example": "MER-617062"
          },
          "transactionAmount": {
            "description": "Details about the transaction amount including currency.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant's category code indicating the type of business.",
            "example": "5411"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation regarding card capture details.",
        "example": {
          "cardToken": "TOK-472177",
          "cardholderId": "STANDARD",
          "merchantId": "MER-617062",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "475ca7c5-c8a1-51c8-9700-5c9eb4588d82",
            "correlationId": "e90e0136-57c4-5384-a404-0ed02b7b58d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction is conducted.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency of a transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema for additional metadata regarding transactions."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific endpoint being accessed. This ID can be used for tracing requests and responses within the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-capture-get-card-capture"
        },
        "example": "card-capture-get-card-capture"
      },
      "x-runtime-app": {
        "description": "The name or identifier of the application executing this request. This header helps in identifying the source of the request during logging or troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This token is typically a JSON Web Token (JWT) that encapsulates user credentials and claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}