{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Institution Certifiedinstitutions Rssds-v5-spec",
    "description": "The Certified Institutions Retrieval API provides access to a list of certified institutions identified by their RSSD numbers. This endpoint is designed for financial institutions, regulators, and researchers who require up-to-date information on certified entities within the financial system. By leveraging this API, users can obtain detailed data regarding institutions' compliance status and operational metrics. Typical use cases include regulatory reporting, compliance checks, and financial analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/certifiedinstitutions/rssd": {
      "get": {
        "tags": [
          "Certified Institutions"
        ],
        "summary": "Retrieve Certified Institutions by RSSD",
        "description": "This endpoint allows users to retrieve information about certified institutions based on their RSSD numbers. The response provides detailed data to assist users in understanding the institutions' statuses and relevant attributes.",
        "operationId": "listInstitutionCertifiedinstitutionsRssds",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving information about certified institutions based on their RSSD identifiers. Ensure that the body adheres to the defined schema for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInstitutionCertifiedinstitutionsRssdsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of certified institutions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInstitutionCertifiedinstitutionsRssdsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInstitutionCertifiedinstitutionsRssdsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to certified institutions. It contains a string value necessary for the operation.",
        "example": "{}"
      },
      "ListInstitutionCertifiedinstitutionsRssdsResponse_200": {
        "title": "Certified Institutions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of certified institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of certified institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if there are more certified institutions available beyond the current display.",
            "example": true
          },
          "requestedDate": {
            "type": "integer",
            "description": "The date on which the request was made, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "A list of certified institutions.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "liabilityData": true,
                "billPayData": true,
                "oauthEnabled": true,
                "productionStatus": {
                  "overallStatus": "ACTIVE",
                  "transAgg": "STANDARD",
                  "stateAgg": "STANDARD",
                  "voa": "STANDARD",
                  "voi": "STANDARD",
                  "ach": "STANDARD",
                  "aha": "STANDARD"
                },
                "rssd": 1,
                "childInstitutions": [
                  {
                    "rssd": 1,
                    "parentRSSD": 1,
                    "name": "Northstar Banking Service",
                    "institutionId": 1
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving certified institutions.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "requestedDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "liabilityData": true,
              "billPayData": true,
              "oauthEnabled": true,
              "productionStatus": {
                "overallStatus": "ACTIVE",
                "transAgg": "STANDARD",
                "stateAgg": "STANDARD",
                "voa": "STANDARD",
                "voi": "STANDARD",
                "ach": "STANDARD",
                "aha": "STANDARD"
              },
              "rssd": 1,
              "childInstitutions": [
                {
                  "rssd": 1,
                  "parentRSSD": 1,
                  "name": "Northstar Banking Service",
                  "institutionId": 1
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "5bb877be-f20a-527d-a2c0-4f9546044e1b",
            "correlationId": "529a5973-3236-505f-a080-e95a3eb0c768",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is available.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH transactions are supported.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is available.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if voice interaction is enabled.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if value of assets is available.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if account holder analytics are available.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance information is available.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account ownership details are available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is available.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available.",
            "example": false
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": false
          },
          "productionStatus": {
            "description": "The production status of the institution.",
            "$ref": "#/components/schemas/ProductionStatus"
          },
          "rssd": {
            "type": "integer",
            "description": "The RSSD identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "childInstitutions": {
            "type": "array",
            "description": "A list of child institutions associated with the main institution.",
            "items": {
              "$ref": "#/components/schemas/ChildInstitution"
            }
          }
        },
        "description": "Details about a certified institution.",
        "example": {
          "id": 0,
          "name": "string",
          "transAgg": false,
          "ach": false,
          "stateAgg": false,
          "voi": false,
          "voa": false,
          "aha": false,
          "availBalance": false,
          "accountOwner": false,
          "studentLoanData": false,
          "loanPaymentDetails": false,
          "liabilityData": false,
          "billPayData": false,
          "oauthEnabled": false,
          "productionStatus": {
            "overallStatus": "string",
            "transAgg": "string",
            "stateAgg": "string",
            "voa": "string",
            "voi": "string",
            "ach": "string",
            "aha": "string"
          },
          "rssd": 0,
          "childInstitutions": []
        }
      },
      "ProductionStatus": {
        "title": "Production Status",
        "type": "object",
        "properties": {
          "overallStatus": {
            "type": "string",
            "description": "The overall production status of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "string",
            "description": "The transaction aggregation status of the institution.",
            "example": "string"
          },
          "stateAgg": {
            "type": "string",
            "description": "The state aggregation status of the institution.",
            "example": "string"
          },
          "voa": {
            "type": "string",
            "description": "The value of assets status of the institution.",
            "example": "string"
          },
          "voi": {
            "type": "string",
            "description": "The voice interaction status of the institution.",
            "example": "string"
          },
          "ach": {
            "type": "string",
            "description": "The ACH status of the institution.",
            "example": "string"
          },
          "aha": {
            "type": "string",
            "description": "The account holder analytics status of the institution.",
            "example": "string"
          }
        },
        "description": "The production status of an institution."
      },
      "ChildInstitution": {
        "title": "Child Institution",
        "type": "object",
        "properties": {
          "rssd": {
            "type": "integer",
            "description": "The RSSD identifier of the child institution.",
            "format": "int32",
            "example": 0
          },
          "parentRSSD": {
            "type": "integer",
            "description": "The RSSD identifier of the parent institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the child institution.",
            "example": "string"
          },
          "institutionId": {
            "type": "integer",
            "description": "The unique identifier of the child institution.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about a child institution of a certified institution."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was invoked. This ID can be useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-certified-institutions-with-rssd"
        },
        "example": "open-finance-api-get-certified-institutions-with-rssd"
      },
      "x-runtime-app": {
        "description": "Indicates the name of the application that handled the request, which can assist in debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method uses JSON Web Tokens (JWT) for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}