{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Letter of Credit Management API",
    "description": "The Letter of Credit Management API facilitates the creation and management of letters of credit within the banking ecosystem. It allows users to initiate new letters of credit, specifying critical details such as beneficiary information and payment terms. This API primarily serves financial institutions and trade businesses that require streamlined processing of trade finance documents. By leveraging this API, users can enhance their operational efficiency and ensure compliance with international trade regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/letter-of-credit": {
      "post": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Create a new Letter of Credit.",
        "description": "This endpoint allows users to create a new Letter of Credit in the trade banking system, providing necessary details and requirements for processing.",
        "operationId": "createLetterOfCredit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new letter of credit in the trade banking system. It requires detailed information regarding the transaction, parties involved, and any specific terms or conditions that need to be included in the letter of credit.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLetterOfCreditRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource for letter of credit created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLetterOfCreditResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLetterOfCreditRequest": {
        "title": "Letter of Credit Request Body",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-993445"
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier of the facility associated with the letter of credit.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-191636"
          },
          "amount": {
            "description": "The amount associated with the letter of credit.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the letter of credit matures.",
            "example": "2026-09-15"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier for the applicant of the letter of credit.",
            "example": "STANDARD"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The unique identifier for the beneficiary of the letter of credit.",
            "example": "STANDARD"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the letter of credit.",
            "example": "2026-09-15"
          },
          "incoterm": {
            "type": "string",
            "description": "The international commercial term that applies to this letter of credit.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating or managing a letter of credit in trade banking operations.",
        "example": {
          "corporateCustomerId": "CUST-993445",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-191636",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "applicantId": "STANDARD",
          "beneficiaryId": "STANDARD",
          "expiryDate": "2026-09-15",
          "incoterm": "STANDARD",
          "requestContext": {
            "requestId": "7cd9f986-e5f6-56aa-a4a7-d90ef58f3670",
            "correlationId": "aa285dae-c9c4-56bd-8b55-136cbab63462",
            "idempotencyKey": "851dea92-ea3f-59c3-a5d3-1a036f6f2d04",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-807767"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          }
        },
        "description": "This schema represents the amount and currency for a letter of credit."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-9876"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates multiple related requests.",
            "example": "CORR-5432"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "IDEM-1111"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "TradeSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application generating the request.",
            "example": "TradeApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides details about the context of the request."
      },
      "Channel": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "CHANNEL-2222"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., web, mobile).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "DEVICE-6666"
          }
        },
        "description": "This schema represents details related to the communication channel for the request."
      },
      "CreateLetterOfCreditResponse_201": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-796498"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility associated with the letter of credit.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the transaction.",
            "example": "PARTY-590585"
          },
          "applicantId": {
            "type": "string",
            "description": "Identifier for the applicant requesting the letter of credit.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to this operation.",
            "example": "RES-709789"
          },
          "status": {
            "type": "string",
            "description": "Current status of the letter of credit.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the letter of credit was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracing the request across systems.",
                "example": "correlation-xyz789"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "2023-10-01T15:30:05Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the request occurred.",
                "example": "EMEA"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "003822ee-8af4-5a19-85f2-b48d3f1552ff",
              "correlationId": "aa285dae-c9c4-56bd-8b55-136cbab63462",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response for the Letter of Credit operations.",
        "example": {
          "corporateCustomerId": "CUST-796498",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-590585",
          "applicantId": "STANDARD",
          "resourceId": "RES-709789",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "003822ee-8af4-5a19-85f2-b48d3f1552ff",
            "correlationId": "aa285dae-c9c4-56bd-8b55-136cbab63462",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called. This is useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "letter-of-credit-create-letter-of-credit"
        },
        "example": "letter-of-credit-create-letter-of-credit"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request. This helps in identifying which application is responsible for the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with this API request. This is essential for tracking the progress of related tasks or operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-061"
        },
        "example": "WF-061"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Letter of Credit Issuance and Amendment"
        },
        "example": "Letter of Credit Issuance and Amendment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, representing its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "66ef4ffc-f8e2-4cac-b9af-8e4a01310c09"
        },
        "example": "66ef4ffc-f8e2-4cac-b9af-8e4a01310c09"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method for API access. Clients must send a valid JSON Web Token (JWT) in the 'Authorization' header of the request to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}