{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Authorization Void-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Authorization Void-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}/void": {
      "post": {
        "operationId": "createP2mAuthorizationVoid",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/authorizationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mAuthorizationVoidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mAuthorizationVoidResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mAuthorizationVoidRequest": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "example": "CODE-662"
          },
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "01f5bc3a-fa55-53cc-a30a-72a4f913430c",
              "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
              "idempotencyKey": "960e8dc2-0d4c-52e5-a1eb-1df2d48644f3",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-506913"
              }
            }
          }
        },
        "example": {
          "reasonCode": "CODE-662",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "01f5bc3a-fa55-53cc-a30a-72a4f913430c",
            "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
            "idempotencyKey": "960e8dc2-0d4c-52e5-a1eb-1df2d48644f3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-506913"
            }
          }
        }
      },
      "CreateP2mAuthorizationVoidResponse_200": {
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "example": "PAY-627632"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-345800"
          },
          "authorizedAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "capturedAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "example": "CODE-102"
          },
          "expiresAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "065c5a39-dd84-5db5-b933-cd932e99c33a",
              "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-627632",
          "merchantId": "MER-345800",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-102",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "065c5a39-dd84-5db5-b933-cd932e99c33a",
            "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "authorizationId": {
        "name": "authorizationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-void-authorization"
        },
        "example": "banking-p2m-openapi-void-authorization"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}