{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Management Manual Knowledge Asset API",
    "description": "The Management Manual Knowledge Asset API provides access to essential documentation and guidelines for effective management within the banking domain. This API allows users to retrieve detailed information regarding management best practices, processes, and policies. It serves as a vital resource for professionals seeking to enhance their knowledge and improve operational efficiency. Typical consumers include bank managers, compliance officers, and training coordinators who utilize this information for training and operational decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Retrieve the management manual for knowledge assets.",
        "description": "This endpoint allows users to fetch the management manual associated with knowledge assets. It provides detailed guidelines and protocols for managing knowledge effectively within the organization.",
        "operationId": "getManagementManual",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body to retrieve the management manual for knowledge assets. This allows clients to specify the parameters needed to fetch the relevant information regarding the management manual.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetManagementManualRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the management manual.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetManagementManualResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetManagementManualRequest": {
        "type": "string",
        "description": "A string representation of the request body for retrieving the management manual.",
        "example": "{}"
      },
      "GetManagementManualResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of management manuals.",
            "example": [
              {
                "manualId": "STANDARD",
                "title": "Banking operation completed",
                "version": "STANDARD",
                "ownerId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "classification": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ManagementManual"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "description": "The current page number of the response.",
                "format": "int32",
                "example": 0
              },
              "pageSize": {
                "type": "integer",
                "description": "The number of items per page.",
                "format": "int32",
                "example": 0
              },
              "totalItems": {
                "type": "integer",
                "description": "The total number of items available.",
                "format": "int32",
                "example": 0
              }
            },
            "description": "Pagination details for the response.",
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Additional metadata for the response.",
            "example": {
              "responseId": "fd07aaae-675b-5ba0-a1e0-645645122947",
              "correlationId": "a2d0b53d-4b30-5da9-a353-c7f3ae0ba236",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for fetching knowledge asset management manuals.",
        "example": {
          "items": [
            {
              "manualId": "STANDARD",
              "title": "Banking operation completed",
              "version": "STANDARD",
              "ownerId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "classification": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fd07aaae-675b-5ba0-a1e0-645645122947",
            "correlationId": "a2d0b53d-4b30-5da9-a353-c7f3ae0ba236",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ManagementManual": {
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the manual.",
            "example": "manual-123"
          },
          "title": {
            "type": "string",
            "description": "Title of the manual.",
            "example": "Operations Manual"
          },
          "version": {
            "type": "string",
            "description": "Version of the manual.",
            "example": "1.0"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier for the owner of the manual.",
            "example": "owner-456"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the manual is effective.",
            "example": "2023-01-01"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the manual.",
            "example": "Public"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the manual's record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the manual.",
            "example": "2023-01-15T12:00:00Z"
          }
        },
        "description": "Details of a management manual."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-search-management-manual"
        },
        "example": "management-manual-search-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically JSON Web Tokens (JWT). This scheme allows users to securely access resources by including the token in API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}