{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Authorizations-v5-spec",
    "description": "MICROSERVICE-PROD-List P2m Authorizations-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations": {
      "get": {
        "operationId": "listP2mAuthorizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mAuthorizationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mAuthorizationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mAuthorizationsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListP2mAuthorizationsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "example": "string"
                },
                "href": {
                  "type": "string",
                  "example": "string"
                },
                "method": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "items": {
            "type": "array",
            "example": [
              {
                "authorizationId": "STANDARD",
                "paymentId": "PAY-781955",
                "merchantId": "MER-143606",
                "authorizedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "capturedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "status": "ACTIVE",
                "approvalCode": "CODE-262",
                "expiresAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "authorizationId": {
                  "type": "string",
                  "example": "string"
                },
                "paymentId": {
                  "type": "string",
                  "example": "string"
                },
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "authorizedAmount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "capturedAmount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "amount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "approvalCode": {
                  "type": "string",
                  "example": "string"
                },
                "expiresAt": {
                  "type": "string",
                  "example": "string"
                },
                "audit": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "createdBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "8edd6f9b-c5ea-55f5-a23f-5d2e056189b1",
              "correlationId": "97e67d46-1bb0-5d5c-948c-a814ee23903d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "authorizationId": "STANDARD",
              "paymentId": "PAY-781955",
              "merchantId": "MER-143606",
              "authorizedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "capturedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "status": "ACTIVE",
              "approvalCode": "CODE-262",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "8edd6f9b-c5ea-55f5-a23f-5d2e056189b1",
            "correlationId": "97e67d46-1bb0-5d5c-948c-a814ee23903d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-authorizations"
        },
        "example": "banking-p2m-openapi-list-authorizations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}