{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Campaign Execution Review-spec",
    "description": "This API facilitates the submission of reviews for customer campaign executions. It allows businesses to gather feedback on their marketing campaigns, enabling them to assess effectiveness and understand customer sentiment. Primary resources include customer campaign execution records and their associated reviews. This functionality is essential for marketing teams looking to enhance campaign performance based on real-time feedback. Typical consumers of this API are marketing analysts and campaign managers in finance or banking sectors.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/customer-campaign-execution/{param1}/reviews": {
      "post": {
        "tags": [
          "Customer Campaigns"
        ],
        "summary": "Submit a review for Customer Campaign Execution.",
        "description": "This endpoint allows users to submit a review related to a specific customer campaign execution identified by its ID. Providing valuable feedback helps improve future campaigns and enhances customer engagement.",
        "operationId": "createCustomerCampaignExecutionReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for a specific customer campaign execution. The payload should contain all necessary details about the reviews to be associated with the campaign, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCampaignExecutionReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and processing has begun.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCampaignExecutionReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCampaignExecutionReviewRequest": {
        "title": "Customer Campaign Review Request Body",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "A list of scopes that describe the review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single scope for the review.",
              "example": "Overall performance"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for submitting a review in the customer campaign execution process.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "416faed0-2b1d-5a45-bb4d-2c6a29c56ea0",
            "correlationId": "3db6bae6-3ab7-5114-86f6-9c6232347df0",
            "idempotencyKey": "c67f9a0d-3b4b-599e-8e13-9ad30e252258",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-125209"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_78910"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across systems.",
            "example": "corr_112233"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the operation.",
            "example": "idemp_45678"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-31T15:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Web App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema captures contextual information about the API request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_54321"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device_67890"
          }
        },
        "description": "This schema represents information about the channel used for the request."
      },
      "CreateCustomerCampaignExecutionReviewResponse_202": {
        "title": "Customer Campaign Execution Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference to the specific action being processed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action after execution.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Object containing additional processing metadata.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the response structure for the review operation in a customer campaign execution event.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "26d00fb0-a904-5c8d-b87b-cc51c14c47e2",
            "correlationId": "3db6bae6-3ab7-5114-86f6-9c6232347df0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Processing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated.",
            "example": "RESPONSE-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request across systems.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema encapsulates metadata related to the processing of the action."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the campaign execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-execution-review-customer-campaign-execution-processing"
        },
        "example": "customer-campaign-execution-review-customer-campaign-execution-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token in the HTTP authorization header. The token is expected to be in JWT (JSON Web Token) format, providing a secure way to transmit information about the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}