{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Campaign Execution Execution-spec",
    "description": "This API facilitates the execution of customer campaigns in the banking sector. It enables businesses to initiate and manage comprehensive campaigns aimed at engaging and retaining customers. With a focus on targeted marketing efforts, typical consumers include marketing teams and sales departments looking to enhance customer interactions. By leveraging this endpoint, users can efficiently implement new campaign strategies and analyze their effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/customer-campaign-execution/executions": {
      "post": {
        "tags": [
          "Customer Campaign Management"
        ],
        "summary": "Create a new customer campaign execution.",
        "description": "This endpoint allows users to initiate a new customer campaign execution by submitting the necessary information. It is designed to trigger the execution of marketing campaigns targeted at specific customers, facilitating effective customer engagement and tracking campaign performance.",
        "operationId": "createCustomerCampaignExecutionExecution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains information necessary for executing a customer campaign. Ensure that all required fields are filled out correctly to facilitate the successful execution of the campaign.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCampaignExecutionExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing and will be executed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCampaignExecutionExecutionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCampaignExecutionExecutionRequest": {
        "title": "Campaign Execution Request",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Identifier for the prospect associated with the campaign execution.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the campaign.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the campaign is executed.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the campaign.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected value related to the campaign execution.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "campaignObjective": {
            "type": "string",
            "description": "The objective of the campaign execution.",
            "example": "STANDARD"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group for the campaign.",
            "format": "int32",
            "example": 1
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Cap on the frequency of contact with prospects.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for initiating a campaign execution.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "campaignObjective": "STANDARD",
          "controlGroupPercent": 1,
          "contactFrequencyCap": 1,
          "requestContext": {
            "requestId": "2247f931-2088-50ab-8e1f-ee71f6339cb5",
            "correlationId": "dc4c61ca-abff-51fa-8a48-32a59c65a9c3",
            "idempotencyKey": "47b400e0-cbc3-5a08-be40-640735ded579",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-447079"
            }
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected from the campaign.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the expected amount.",
            "example": "USD"
          }
        },
        "description": "Contains the expected monetary value of the campaign execution."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to manage idempotency for the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Holds contextual information about the request made for the campaign execution."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., email, sms, etc.).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateCustomerCampaignExecutionExecutionResponse_202": {
        "title": "Campaign Execution Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product involved in the campaign.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The unique identifier for the relationship manager handling the campaign.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference ID for processing related to the campaign execution.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the campaign execution.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp indicating when the campaign was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/CampaignExecutionMetadata"
          }
        },
        "description": "This schema represents the response for a campaign execution, providing details about the prospect, product, relationship manager, and additional metadata related to the execution.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "a0f401db-eaca-56ed-8185-992a88906e58",
            "correlationId": "dc4c61ca-abff-51fa-8a48-32a59c65a9c3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CampaignExecutionMetadata": {
        "title": "Campaign Execution Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated from the campaign execution.",
            "example": "response-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates multiple related actions within the system.",
            "example": "correlation-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema holds additional metadata related to the campaign execution, including identifiers and timestamps relevant to the process.",
        "example": {
          "responseId": "response-11111",
          "correlationId": "correlation-22222",
          "generatedAt": "2023-10-01T12:01:00Z",
          "processingRegion": "us-west-1"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-076"
        },
        "example": "WF-076"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0f2fee06-6f3e-4011-98b0-1e01e0cbbb99"
        },
        "example": "0f2fee06-6f3e-4011-98b0-1e01e0cbbb99"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "431a83a2-f596-4aa3-ba64-7d10befee7c1"
        },
        "example": "431a83a2-f596-4aa3-ba64-7d10befee7c1"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-execution-execute-customer-campaign-execution"
        },
        "example": "customer-campaign-execution-execute-customer-campaign-execution"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow execution associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-076"
        },
        "example": "WF-076"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Campaign Design Execution and Offer Acceptance"
        },
        "example": "Customer Campaign Design Execution and Offer Acceptance"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "431a83a2-f596-4aa3-ba64-7d10befee7c1"
        },
        "example": "431a83a2-f596-4aa3-ba64-7d10befee7c1"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme which requires a bearer token to be included in the request headers. The token must follow the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}