{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Sale Underwriting-spec",
    "description": "The Sale Underwriting Management API enables users to initiate and manage underwriting processes for sales transactions. This endpoint serves as a vital tool for financial institutions and businesses to efficiently assess risk and compliance for sales activities. Developers can integrate this API to automate the submission of underwriting requests, streamline approval processes, and enhance overall operational efficiency. Typical consumers include insurance companies, banks, and business lenders looking to improve decision-making in their sale underwriting workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Create a new sales underwriting entry.",
        "description": "This endpoint allows users to create a new entry in the sales underwriting system, streamlining the process of managing underwriting records and improving overall efficiency.",
        "operationId": "createSaleUnderwriting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The payload required to initiate the underwriting process for a sale. This object contains necessary details, such as applicant information, property details, and financials needed for evaluating the underwriting application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSaleUnderwritingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created for underwriting.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSaleUnderwritingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSaleUnderwritingRequest": {
        "title": "Underwriting Request Body",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being requested.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager responsible for this prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "Expected loan value including amount and currency.",
            "$ref": "#/components/schemas/ExpectedLoanValue"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "APP-159378"
          },
          "requestedLimit": {
            "description": "Requested limit including amount and currency.",
            "$ref": "#/components/schemas/RequestedLoanLimit"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "Ratio indicating the coverage of debt services.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Context details of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the body of a request for underwriting operations.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "applicationId": "APP-159378",
          "requestedLimit": {
            "amount": 100.0,
            "currency": "USD"
          },
          "debtServiceCoverageRatio": 100.0,
          "requestContext": {
            "requestId": "3498ce63-5460-5012-8b45-d134aa678a3c",
            "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
            "idempotencyKey": "87406151-2ad6-5f7a-bf73-d1aac6f1fe42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-511365"
            }
          }
        }
      },
      "ExpectedLoanValue": {
        "title": "Expected Loan Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the expected loan.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the expected loan amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected loan value including amount and currency."
      },
      "RequestedLoanLimit": {
        "title": "Requested Loan Limit",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the requested loan limit.",
            "example": 15000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the requested loan limit amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the requested loan limit including amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-111"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "corr-222"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "key-333"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from where the request originates.",
            "example": "system-X"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from where the request originates.",
            "example": "app-Y"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Schema representing the context of the request including IDs and timestamps."
      },
      "ChannelInformation": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-444"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, offline).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-555"
          }
        },
        "description": "Schema representing information about the channel used in the request."
      },
      "CreateSaleUnderwritingResponse_201": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier of the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the application.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the account.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application submitted.",
            "example": "APP-826119"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with this application.",
            "example": "RES-783473"
          },
          "status": {
            "type": "string",
            "description": "The current status of the application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response generated.",
                "example": "RESP-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate requests and responses.",
                "example": "CORR-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the application is being processed.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the application processing.",
            "example": {
              "responseId": "7db7f50f-b225-53e0-b105-cb9370d17b5a",
              "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the underwriting operations POST request, containing details about the application and its processing.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "applicationId": "APP-826119",
          "resourceId": "RES-783473",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7db7f50f-b225-53e0-b105-cb9370d17b5a",
            "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-create-underwriting"
        },
        "example": "underwriting-create-underwriting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}