{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Quality Assurance Reviews API",
    "description": "The Product Quality Assurance Reviews API facilitates the submission of reviews for banking products, enhancing quality assurance processes. This endpoint allows businesses to gather customer feedback on product performance and quality, which is essential for ongoing product improvement. Typical consumers include product managers, quality assurance teams, and customer service representatives who rely on customer insights. By enabling detailed review submissions, this API supports data-driven enhancements in product offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-quality-assurance/{param1}/reviews": {
      "post": {
        "tags": [
          "Product Quality Assurance"
        ],
        "summary": "Submit a new review for the specified product quality assurance.",
        "description": "This endpoint allows users to create and submit a new review for the product quality assurance process associated with the product identified by PROD-700045. Make sure to include all necessary information in the request body for effective processing.",
        "operationId": "createProductQualityAssuranceReviewProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the product identified by PROD-700045. The review contains user feedback, ratings, and other relevant details that contribute to the product's quality assurance process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductQualityAssuranceReviewProd700045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductQualityAssuranceReviewProd700045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductQualityAssuranceReviewProd700045Request": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review being conducted.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, detailing which areas are being assessed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific area or element under review.",
              "example": "Product feature A"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier for the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The deadline for completing the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "830dfa58-d817-5bed-b85c-57c3fba603b8",
            "correlationId": "65260aff-9864-59c9-935c-f4c3cba07593",
            "idempotencyKey": "5c9a84d2-12e1-5195-8bb5-fc16c1c4f5a2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-547736"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "correlation-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the same request is not processed more than once.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-30T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InventorySystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for making the request.",
            "example": "ProductManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request that initiated the review."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateProductQualityAssuranceReviewProd700045Response_202": {
        "title": "Product Quality Assurance Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a product quality assurance review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "9a0189da-8178-5d3d-bc3b-3a147128004c",
            "correlationId": "65260aff-9864-59c9-935c-f4c3cba07593",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being accessed, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-quality-assurance-review-product-quality-assurance"
        },
        "example": "product-quality-assurance-review-product-quality-assurance"
      },
      "X-Runtime-App": {
        "description": "Version identifier for the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securing API endpoints. Clients must provide the token in the Authorization header as 'Bearer {token}' to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}