{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Finance Financial Control By Financial Control Id-v5-spec",
    "description": "The Banking Finance Financial Control Retrieval API enables users to access detailed financial control data using a specific financial control ID. This endpoint is essential for financial analysts and accountants who need to review and manage financial controls in banking operations. By providing a straightforward way to retrieve financial control information, this API supports better decision-making and compliance in finance management. Typical use cases include auditing financial controls and generating financial reports.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-control/{financialControlId}": {
      "get": {
        "tags": [
          "Financial Control"
        ],
        "summary": "Retrieve financial control data for a specific resource.",
        "description": "This endpoint allows users to access detailed financial control information for resource RES-100045. It provides insights into financial metrics and statuses, enabling stakeholders to make informed decisions based on the current financial standing of the resource.",
        "operationId": "getBankingFinanceFinancialControlByFinancialControlId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/financialControlId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial control details for the specified resource. Please ensure that all required parameters are included and formatted correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingFinanceFinancialControlByFinancialControlIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the financial control resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingFinanceFinancialControlByFinancialControlIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingFinanceFinancialControlByFinancialControlIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the financial control operations, indicating the necessary content type.",
        "example": "{}"
      },
      "GetBankingFinanceFinancialControlByFinancialControlIdResponse_200": {
        "title": "Financial Control Response",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier for the ledger.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the financial operation.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount associated with the financial record.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date the financial record was posted.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the financial record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the financial record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the financial record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representation of the response for financial control operations.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8306acb6-ca5b-5b8e-8966-fa48817f6bf4",
            "correlationId": "3a7f44e4-9f70-5841-9da9-a3a0072e85ec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the financial amount.",
            "example": 1000.5
          },
          "currency": {
            "type": "string",
            "description": "The currency code associated with the financial amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the financial amount and its currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "C123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-03-15T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "financialControlId": {
        "name": "financialControlId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-control-get-financial-control"
        },
        "example": "financial-control-get-financial-control"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. The client must send a valid JSON Web Token (JWT) in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}