{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Position Management API",
    "description": "The Credit Card Position Management API enables businesses to effectively track and manage the positions of credit cards within their financial systems. By facilitating the updating of card positions, this API supports seamless financial management and real-time visibility into card status. It serves financial institutions, payment processors, and businesses managing credit offerings to ensure accurate record-keeping and compliance. Typical use cases include adjustments during transactions, maintaining account accuracy, and integrating with broader banking software solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping": {
      "post": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Create a new credit card position keeping entry.",
        "description": "This endpoint allows you to create a new entry for keeping track of a credit card's position. It facilitates the management and tracking of credit card activities effectively.",
        "operationId": "createCreditCardPositionKeeping",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for keeping track of credit card positions. It includes necessary details required to update or manage credit card positions effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditCardPositionKeepingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the credit card position.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCreditCardPositionKeepingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCreditCardPositionKeepingRequest": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "A unique token representing the credit card.",
            "example": "TOK-883412"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder associated with the credit card.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction.",
            "example": "MER-794299"
          },
          "transactionAmount": {
            "description": "The amount and currency details for the transaction.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the merchant's category.",
            "example": "5411"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for credit card position keeping operation.",
        "example": {
          "cardToken": "TOK-883412",
          "cardholderId": "STANDARD",
          "merchantId": "MER-794299",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "requestContext": {
            "requestId": "3dccfc6c-931e-5ff5-8a43-a28049738401",
            "correlationId": "72f1e34b-f316-5900-b6ba-34567704e92a",
            "idempotencyKey": "e8552062-f392-5dd2-9c50-2df17fb173d2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-700854"
            }
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The transaction amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is specified.",
            "example": "USD"
          }
        },
        "description": "Represents the amount and currency for a transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "Represents the channel details of the request."
      },
      "CreateCreditCardPositionKeepingResponse_201": {
        "title": "Credit Card Position Keeping Response",
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-450924"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code of the merchant, indicating the kind of services they provide.",
            "example": "5411"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the transaction.",
            "example": "RES-290422"
          },
          "status": {
            "type": "string",
            "description": "Current status of the credit card position keeping operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-1234"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "corr-5678"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the transaction was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "82c1facf-3036-56e3-9a73-ee8a6286d0e4",
              "correlationId": "72f1e34b-f316-5900-b6ba-34567704e92a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the Credit Card Position Keeping operation, returning information about the transaction.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-450924",
          "merchantCategoryCode": "5411",
          "resourceId": "RES-290422",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "82c1facf-3036-56e3-9a73-ee8a6286d0e4",
            "correlationId": "72f1e34b-f316-5900-b6ba-34567704e92a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-create-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-create-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securely transmitting information between parties, allowing for user authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}