{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Generate Transfer Bill Pay Switch-v5-spec",
    "description": "MICROSERVICE-PROD-Create Connect Generate Transfer Bill Pay Switch-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/bill-pay-switch": {
      "post": {
        "operationId": "createConnectGenerateTransferBillPaySwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectGenerateTransferBillPaySwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectGenerateTransferBillPaySwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectGenerateTransferBillPaySwitchRequest": {
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "type": "object",
            "properties": {
              "language": {
                "type": "string",
                "example": "string"
              },
              "acceptedDate": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "language": "en",
              "acceptedDate": "2026-09-15"
            }
          },
          "accounts": {
            "type": "array",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "accountNumber": {
                  "type": "string",
                  "example": "string"
                },
                "bankIdentifier": {
                  "type": "string",
                  "example": "string"
                },
                "title": {
                  "type": "string",
                  "example": "string"
                },
                "type": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "partnerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-786921"
          },
          "experience": {
            "type": "string",
            "example": "STANDARD"
          },
          "language": {
            "type": "string",
            "example": "en"
          },
          "singleUseUrl": {
            "type": "boolean",
            "example": true
          },
          "redirectUri": {
            "type": "string",
            "example": "STANDARD"
          },
          "cards": {
            "type": "array",
            "example": [
              {
                "title": "Banking operation completed",
                "number": "STANDARD",
                "expiry": "STANDARD",
                "cvv": "STANDARD",
                "brand": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "example": "string"
                },
                "number": {
                  "type": "string",
                  "example": "string"
                },
                "expiry": {
                  "type": "string",
                  "example": "string"
                },
                "cvv": {
                  "type": "string",
                  "example": "string"
                },
                "brand": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "identity": {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string",
                "example": "string"
              },
              "lastName": {
                "type": "string",
                "example": "string"
              },
              "zipCode": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "firstName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "zipCode": "CODE-868"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "ddb91bab-517f-52fd-b18f-0471e9abecf5",
              "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
              "idempotencyKey": "a9575ded-64ad-569e-9823-10a68ac813cb",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-523301"
              }
            }
          }
        },
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-786921",
          "experience": "STANDARD",
          "language": "en",
          "singleUseUrl": true,
          "redirectUri": "STANDARD",
          "cards": [
            {
              "title": "Banking operation completed",
              "number": "STANDARD",
              "expiry": "STANDARD",
              "cvv": "STANDARD",
              "brand": "STANDARD"
            }
          ],
          "identity": {
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "zipCode": "CODE-868"
          },
          "requestContext": {
            "requestId": "ddb91bab-517f-52fd-b18f-0471e9abecf5",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "idempotencyKey": "a9575ded-64ad-569e-9823-10a68ac813cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-523301"
            }
          }
        }
      },
      "CreateConnectGenerateTransferBillPaySwitchResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "8b18d155-1c5a-5b57-8696-fc20001fb353",
              "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "8b18d155-1c5a-5b57-8696-fc20001fb353",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
        },
        "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}