{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Sbca-spec",
    "description": "The Customer Onboarding API facilitates the registration of new customers within the decisioning framework. This endpoint allows businesses to create a detailed profile for each customer by submitting necessary information. Typical use cases include onboarding customers for financial services and ensuring compliance with regulatory requirements. This API serves developers and integration teams looking to streamline customer acquisition workflows and enhance customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/sbca": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new SBCA for a specific customer.",
        "description": "This endpoint allows you to create a new Service-Based Charging Agreement (SBCA) for a customer identified by their unique ID. You'll need to provide specific details in the request body to successfully create the SBCA.",
        "operationId": "createCustomerSbca",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Submit a request to perform operations related to the SBCA for customer CUST-100045. This request body must contain the necessary data in JSON format as defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerSbcaRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the request and returned the result.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerSbcaResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerSbcaRequest": {
        "title": "Operations POST Request Body for Customer CUST-100045",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to analytics reporting for the operations.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operations related to customer CUST-100045. It includes analytics report data, business details, and request context.",
        "example": {
          "analyticsReportData": {
            "sbcaParams": {
              "hasConsent": true,
              "metricFrequency": "STANDARD",
              "metricType": "STANDARD",
              "locationId": "ab88a542-f122-281b-1d70-97e66b47d330"
            },
            "businessDetails": {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          },
          "requestContext": {
            "requestId": "aed010f9-6def-5032-8bf6-fb275468b0bb",
            "correlationId": "aa620c77-8aab-5fc9-8466-d94fb77d6c47",
            "idempotencyKey": "bd6a96c6-62fe-58fa-84d8-45e5a2fb9c59",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-510174"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "sbcaParams": {
            "description": "Parameters for SBCA analytics.",
            "$ref": "#/components/schemas/SbcaParams"
          },
          "businessDetails": {
            "description": "Details about the business involved in the transaction.",
            "$ref": "#/components/schemas/BusinessDetails"
          }
        },
        "description": "Schema containing data for analytics reporting including SBCA parameters and business details."
      },
      "SbcaParams": {
        "title": "SBCA Parameters",
        "type": "object",
        "properties": {
          "hasConsent": {
            "type": "boolean",
            "description": "Indicates if the user has granted consent for data use.",
            "example": false
          },
          "metricFrequency": {
            "type": "string",
            "description": "Frequency of the metrics being reported.",
            "example": "string"
          },
          "metricType": {
            "type": "string",
            "description": "Type of metric being reported.",
            "example": "string"
          },
          "locationId": {
            "type": "string",
            "description": "Identifier for the location relevant to the analytics.",
            "example": "string"
          }
        },
        "description": "Schema representing the parameters required for SBCA analytics."
      },
      "BusinessDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the business.",
            "example": "string"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the person is personally liable for the business.",
            "example": false
          },
          "phoneNumber": {
            "description": "Contact phone number details of the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "address": {
            "description": "Physical address of the business.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Details about the business associated with the customer."
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code of the phone number.",
            "example": "string"
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number.",
            "example": "string"
          }
        },
        "description": "Phone number details."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the address.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "string"
          }
        },
        "description": "Physical address structure."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated this request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the information about the channel used in the request."
      },
      "CreateCustomerSbcaResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identification number of the customer.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the customer was created in the system.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identification number for the request.",
            "example": "542439f7-621b-5501-98f3-d9bc5963ffc0"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person or entity making the request.",
            "example": "Northstar Banking Service"
          },
          "partnerName": {
            "type": "string",
            "description": "Name of the partner associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "type": {
            "type": "string",
            "description": "Type of operation performed.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "Title of the customer.",
            "example": "Banking operation completed"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer.",
            "example": "ACTIVE"
          },
          "constraints": {
            "type": "object",
            "properties": {
              "analyticsReportData": {
                "type": "object",
                "properties": {
                  "sbcaParams": {
                    "$ref": "#/components/schemas/SBCAParams"
                  },
                  "businessDetails": {
                    "$ref": "#/components/schemas/BusinessDetails"
                  }
                },
                "description": "Data related to analytics reports for the customer.",
                "example": "string"
              },
              "retailSalesAnalyticsMetrics": {
                "type": "array",
                "description": "Array of retail sales analytics metrics.",
                "example": "string",
                "items": {
                  "$ref": "#/components/schemas/RetailSalesAnalyticsMetric"
                }
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains constraints and requirements related to customer operations.",
            "example": {
              "analyticsReportData": {
                "sbcaParams": {
                  "hasConsent": true,
                  "metricFrequency": "STANDARD",
                  "metricType": "STANDARD",
                  "locationId": "07cedd74-f8e2-8c6a-5652-6af5a15b2371"
                },
                "businessDetails": {
                  "name": "Northstar Banking Service",
                  "personallyLiable": true,
                  "phoneNumber": {
                    "countryCode": "US",
                    "phoneNo": "+1-212-555-0147"
                  },
                  "address": {
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "city": "New York",
                    "state": "STANDARD",
                    "country": "STANDARD",
                    "postalCode": "10001"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for the customer operations POST request.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "createdDate": 1,
          "requestId": "542439f7-621b-5501-98f3-d9bc5963ffc0",
          "requesterName": "Northstar Banking Service",
          "partnerName": "Northstar Banking Service",
          "type": "STANDARD",
          "title": "Banking operation completed",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "sbcaParams": {
                "hasConsent": true,
                "metricFrequency": "STANDARD",
                "metricType": "STANDARD",
                "locationId": "07cedd74-f8e2-8c6a-5652-6af5a15b2371"
              },
              "businessDetails": {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            }
          },
          "retailSalesAnalyticsMetrics": [
            {
              "locationId": "63b36964-9333-5fec-1732-28df11375467",
              "merchantCategoryCode": 100.0,
              "naicsCode": 100.0,
              "industryName": "Northstar Banking Service",
              "firstSeenTxnDate": "2026-09-15",
              "lastSeenTxnDate": "2026-09-15",
              "metricsFrequency": "STANDARD",
              "metricsLists": [
                {
                  "periodStartDate": "2026-09-15",
                  "periodEndDate": "2026-09-15",
                  "year": 100.0,
                  "metrics": [
                    {
                      "name": "Northstar Banking Service"
                    }
                  ]
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "ae37a3b7-6492-5e31-bf93-d6ca65aed800",
            "correlationId": "aa620c77-8aab-5fc9-8466-d94fb77d6c47",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SBCAParams": {
        "type": "object",
        "properties": {
          "hasConsent": {
            "type": "boolean",
            "description": "Indicates if consent has been provided.",
            "example": false
          },
          "metricFrequency": {
            "type": "string",
            "description": "Frequency of the metrics.",
            "example": "string"
          },
          "metricType": {
            "type": "string",
            "description": "Type of the metrics being analyzed.",
            "example": "string"
          },
          "locationId": {
            "type": "string",
            "description": "Identifier for the location associated with the data.",
            "example": "string"
          }
        },
        "description": "Parameters related to SBCA analytics."
      },
      "RetailSalesAnalyticsMetric": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "Identifier for the retail location.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "number",
            "description": "Code representing the merchant category.",
            "example": 0.0
          },
          "naicsCode": {
            "type": "number",
            "description": "NAICS code for the industry.",
            "example": 0.0
          },
          "industryName": {
            "type": "string",
            "description": "Name of the industry.",
            "example": "string"
          },
          "firstSeenTxnDate": {
            "type": "string",
            "description": "Date of the first transaction seen.",
            "example": "string"
          },
          "lastSeenTxnDate": {
            "type": "string",
            "description": "Date of the last transaction seen.",
            "example": "string"
          },
          "metricsFrequency": {
            "type": "string",
            "description": "Frequency of the metrics collection.",
            "example": "string"
          },
          "metricsLists": {
            "type": "array",
            "description": "List of metrics for the retail sales analytics.",
            "example": "string",
            "items": {
              "$ref": "#/components/schemas/MetricsList"
            }
          }
        },
        "description": "Metrics related to retail sales analytics."
      },
      "MetricsList": {
        "type": "object",
        "properties": {
          "periodStartDate": {
            "type": "string",
            "description": "Start date of the metrics period.",
            "example": "string"
          },
          "periodEndDate": {
            "type": "string",
            "description": "End date of the metrics period.",
            "example": "string"
          },
          "year": {
            "type": "number",
            "description": "Year of the metrics data.",
            "example": 0.0
          },
          "metrics": {
            "type": "array",
            "description": "Array of metrics associated with the period.",
            "example": "string",
            "items": {
              "$ref": "#/components/schemas/Metric"
            }
          }
        },
        "description": "List of metrics over a specific period."
      },
      "Metric": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the metric.",
            "example": "string"
          }
        },
        "description": "Single metric detail."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking and managing API requests efficiently.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-sbca-metrics-report"
        },
        "example": "open-finance-api-generate-sbca-metrics-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently running the operation. This is useful for identifying the source of the request and for logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be provided in the Authorization header of the request as a 'Bearer <token>' format. The token should be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}