{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List External Agency Correspondent Bank Directorys-spec",
    "description": "This API provides access to the comprehensive directory of correspondent banks associated with external agencies. It enables users to retrieve detailed information about various correspondent banks, facilitating efficient banking operations and collaborations. Typical consumers include financial institutions and regulatory bodies looking to enhance their banking connections or verify banking affiliations. By leveraging this API, organizations can improve their transaction processes and ensure compliance with financial regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-directory": {
      "get": {
        "tags": [
          "External Agency Services"
        ],
        "summary": "Retrieve the correspondent bank directory.",
        "description": "This endpoint allows users to access the directory of correspondent banks associated with the external agency. It provides detailed information about each bank, facilitating financial transactions and partnerships.",
        "operationId": "listExternalAgencyCorrespondentBankDirectorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the correspondent bank directory. Ensure to provide the necessary parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListExternalAgencyCorrespondentBankDirectorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the correspondent bank directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListExternalAgencyCorrespondentBankDirectorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListExternalAgencyCorrespondentBankDirectorysRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the Correspondent Bank Directory of external agencies.",
        "example": "{}"
      },
      "ListExternalAgencyCorrespondentBankDirectorysResponse_200": {
        "title": "Correspondent Bank Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of correspondent bank information.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-927178",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "nostroAccountId": "ACC-218279",
                "settlementCurrency": "USD",
                "relationshipStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorrespondentBank"
            }
          },
          "pagination": {
            "description": "Information related to pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the GET operation on the external agency correspondent bank directory.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-927178",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "nostroAccountId": "ACC-218279",
              "settlementCurrency": "USD",
              "relationshipStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5c8b0590-a30c-5a4f-b0bc-caecfcfcb79f",
            "correlationId": "81eac5a7-60cb-5a21-8219-58c939e39d95",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorrespondentBank": {
        "title": "Correspondent Bank",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "institution_123"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement related to this correspondent bank.",
            "example": "agreement_456"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) of the correspondent bank.",
            "example": "BANKXYZ"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the correspondent bank.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The effective date of the agreement with the correspondent bank.",
            "example": "2023-01-01"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account associated with this correspondent bank.",
            "example": "account_789"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlements with the correspondent bank.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current status of the relationship with the correspondent bank.",
            "example": "active"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the directory.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when this record was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Schema representing a correspondent bank's information."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination information in the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier representing the endpoint associated with the request. This value is important for tracing and monitoring the interactions with the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-directory-search-correspondent-bank-directory"
        },
        "example": "correspondent-bank-directory-search-correspondent-bank-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request. It helps in identifying which application handled the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a JSON Web Token (JWT) for bearer authentication. Clients must include the JWT in the Authorization header as a 'Bearer' token when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}