{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Event-v5-spec",
    "description": "The Open Banking Event Creation API allows businesses to initiate the creation of open banking events seamlessly. This endpoint is designed to facilitate the efficient submission of event data, which may include transaction details, user authorizations, and financial institution interactions. Typical consumers of this API are financial service providers and application developers aiming to integrate open banking functionalities into their services. By utilizing this API, organizations can enhance their digital banking capabilities and ensure compliance with open banking standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/events": {
      "post": {
        "tags": [
          "Event Management"
        ],
        "summary": "Create a new event",
        "description": "This endpoint allows the user to create a new event in the system by providing the necessary event details in the request body.",
        "operationId": "createOpenBankingEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new event. It requires the event details and attributes specified in the schema to be included in the JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned expected results.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingEventResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingEventRequest": {
        "type": "object",
        "properties": {
          "maxEvents": {
            "type": "integer",
            "description": "The maximum number of events to process.",
            "format": "int32",
            "example": 1
          },
          "returnImmediately": {
            "type": "boolean",
            "description": "Indicates whether the response should be returned immediately.",
            "example": true
          },
          "ack": {
            "type": "array",
            "description": "An array of acknowledgments for the events.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Acknowledgment identifier."
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting events operations.",
        "example": {
          "maxEvents": 1,
          "returnImmediately": true,
          "ack": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "710c4742-56fe-5d96-8130-c38db9c470aa",
            "correlationId": "fca6e251-2b31-5234-8106-885851c335c7",
            "idempotencyKey": "33bdc3b1-8435-5cf7-aaf6-117030944f9f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-467443"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track related requests.",
            "example": "correlation-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "idempotency-key-1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-12T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that made the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that made the request.",
            "example": "source-app-1"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel details."
      },
      "CreateOpenBankingEventResponse_200": {
        "title": "Event Operations Response",
        "type": "object",
        "properties": {
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if there are more events available for retrieval.",
            "example": true
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the successful event operations POST request.",
        "example": {
          "moreAvailable": true,
          "metadata": {
            "responseId": "1e7540df-1efa-59ac-ab5a-1e9077a5c5d8",
            "correlationId": "fca6e251-2b31-5234-8106-885851c335c7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request/response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was invoked. This identifier can be used to track the specific request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-create-events"
        },
        "example": "events-api-create-events"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request. This helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JWT (JSON Web Tokens). To access protected resources, the JWT token must be included in the Authorization header prefixed with 'Bearer '. Ensure that the token is valid and not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}