{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Payment Intent-spec",
    "description": "The P2M Payment Intent Creation API facilitates the generation of payment intents for person-to-merchant transactions. This endpoint enables businesses to initiate payment processes securely and efficiently, ensuring a seamless experience for end-users. Typical consumers include e-commerce platforms and service providers looking to manage customer payments easily. By leveraging this API, companies can enhance their payment workflows and improve transaction management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a Payment Intent",
        "description": "This endpoint allows you to create a new Payment Intent to initiate a payment process. It requires the necessary payment details to be provided in the request body.",
        "operationId": "createP2mPaymentIntent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new payment intent. This object contains necessary details to process a payment, including the amount, currency, and payment method information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mPaymentIntentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment intent created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mPaymentIntentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mPaymentIntentRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant.",
            "example": "MER-260392"
          },
          "outletId": {
            "type": "string",
            "description": "The identifier for the outlet from which the payment is initiated.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The identifier for the terminal used to process the payment.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount to be charged including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment is initiated.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods allowed for the transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "customer": {
            "description": "Information regarding the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details regarding the order associated with the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating payment intents.",
        "example": {
          "merchantId": "MER-260392",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-702883",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "e5bcf18e-0801-5744-ba21-1287037d8786",
            "correlationId": "e9b0cfe6-187c-5736-b2f4-aa171e3609c0",
            "idempotencyKey": "d83f9255-a31a-5ccd-98ad-cc874980daa6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-272517"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Schema detailing the amount, including currency and value."
      },
      "Customer": {
        "title": "Customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust_001"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment assigned to the customer for fraud evaluation.",
            "example": "high"
          }
        },
        "description": "Information about the customer involved in the transaction."
      },
      "Order": {
        "title": "Order",
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the order from the merchant's perspective.",
            "example": "order_001"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Purchase of electronic items."
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Details regarding the order related to the payment transaction."
      },
      "OrderItem": {
        "title": "Order Item",
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier for the item.",
            "example": "item_001"
          },
          "name": {
            "type": "string",
            "description": "Name of the item.",
            "example": "Laptop"
          },
          "description": {
            "type": "string",
            "description": "Description of the item.",
            "example": "A high-performance laptop."
          },
          "quantity": {
            "type": "string",
            "description": "Quantity of the item ordered.",
            "example": "1"
          },
          "unitPrice": {
            "description": "Price per unit of the item.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "description": "Total amount for this item in the order.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of an item within an order."
      },
      "UnitPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the unit price.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the unit price.",
            "example": "500.00"
          }
        },
        "description": "Represents the unit price of an item including currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier of the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure idempotency of the request.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Represents the contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHAN123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used.",
            "example": "DEVICE123"
          }
        },
        "description": "Represents the details of the channel used for the request."
      },
      "CreateP2mPaymentIntentResponse_201": {
        "title": "Payment Intent Response",
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the payment.",
            "example": "MER-292211"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the transaction occurs.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used for processing the payment.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Total amount intended for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "Amount that has been authorized for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "Amount that has been captured from the authorized payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "Amount that has been refunded from the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment is being made.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "selectedPaymentMethod": {
            "description": "Details of the payment method selected by the customer.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details of the order related to the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Metadata related to the response, including IDs for tracking.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Payment Intent operation, detailing the status and associated data regarding the payment process.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-292211",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-356",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-540394",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "1c4ab927-6d32-5be1-8d49-f4a063d614f5",
            "correlationId": "e9b0cfe6-187c-5736-b2f4-aa171e3609c0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method used.",
            "example": "card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "abc123"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer.",
            "example": "bank123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method for security.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet if applicable.",
            "example": "PayPal"
          }
        },
        "description": "Details of the payment method chosen by the customer."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata related to the response, including identifiers for tracking."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint handling the payment intent operation. This identifier can be used for tracking purposes in logs and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-payment-intent"
        },
        "example": "banking-p2m-openapi-create-payment-intent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This helps in identifying which application instance is serving the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to verify user identity and permissions. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}