{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Application Documents-spec",
    "description": "The Loan Application Documents Retrieval API enables users to access documents associated with specific loan applications. This endpoint is designed for financial institutions and developers involved in loan processing, providing a streamlined way to retrieve necessary documentation. Users can obtain essential files for compliance and review purposes by specifying the loan application parameter. This functionality enhances efficiency in loan management and oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve documents for a specific loan application.",
        "description": "This endpoint allows you to fetch all documents associated with a particular loan application identified by its unique RES ID. Use this to gather necessary documents for review or processing.",
        "operationId": "listLoanApplicationDocuments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters and data for retrieving documents related to the specified loan application. Ensure that you provide the correct format as defined in the schema to successfully fetch the desired documents.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanApplicationDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the document details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanApplicationDocumentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanApplicationDocumentsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for retrieving loan application documents.",
        "example": "{}"
      },
      "ListLoanApplicationDocumentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of document objects related to the loan application.",
            "example": [
              {
                "documentType": "STANDARD",
                "applicantId": "fbab1f78-6cb5-ba8c-83ff-e2bd6ef6abbf",
                "collateralId": "6a14c3b5-91f6-fc1c-c1db-58b477058ffa",
                "fileName": "Northstar Banking Service",
                "mimeType": "STANDARD",
                "storageReference": "STANDARD",
                "sha256Checksum": "STANDARD",
                "issuedDate": "2026-09-15",
                "expiryDate": "2026-09-15",
                "id": "a58507b6-ba40-3d41-f1cf-188ae47710cd",
                "verificationStatus": "VERIFIED",
                "verificationComments": "STANDARD",
                "verifiedAt": "2026-09-15T14:30:00Z",
                "verifiedBy": "STANDARD",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for loan application documents.",
        "example": {
          "items": [
            {
              "documentType": "STANDARD",
              "applicantId": "fbab1f78-6cb5-ba8c-83ff-e2bd6ef6abbf",
              "collateralId": "6a14c3b5-91f6-fc1c-c1db-58b477058ffa",
              "fileName": "Northstar Banking Service",
              "mimeType": "STANDARD",
              "storageReference": "STANDARD",
              "sha256Checksum": "STANDARD",
              "issuedDate": "2026-09-15",
              "expiryDate": "2026-09-15",
              "id": "a58507b6-ba40-3d41-f1cf-188ae47710cd",
              "verificationStatus": "VERIFIED",
              "verificationComments": "STANDARD",
              "verifiedAt": "2026-09-15T14:30:00Z",
              "verifiedBy": "STANDARD",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "119b0ae2-11d3-521e-9622-05caeb71eae8",
            "correlationId": "88b2791c-3ee4-5261-ae22-783d1eb2a2c0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document (e.g., ID, proof of income)."
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier for the applicant."
          },
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral associated with the document."
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file representing the document."
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document file (e.g., application/pdf)."
          },
          "storageReference": {
            "type": "string",
            "description": "A reference to the location where the document is stored."
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA-256 checksum of the document file."
          },
          "issuedDate": {
            "type": "string",
            "description": "The date the document was issued."
          },
          "expiryDate": {
            "type": "string",
            "description": "The date the document expires."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the document."
          },
          "verificationStatus": {
            "type": "string",
            "description": "The status of verification for the document (e.g., verified, pending)."
          },
          "verificationComments": {
            "type": "string",
            "description": "Any comments related to the document verification."
          },
          "verifiedAt": {
            "type": "string",
            "description": "The timestamp when the document was verified."
          },
          "verifiedBy": {
            "type": "string",
            "description": "The identifier of the user who verified the document."
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Schema representing a document related to a loan application."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "The datetime when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Schema representing metadata for the API response."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The datetime when the document was created."
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the document."
          },
          "updatedAt": {
            "type": "string",
            "description": "The datetime when the document was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the document."
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32"
          }
        },
        "description": "Schema representing audit information for the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-application-documents"
        },
        "example": "banking-loans-openapi-list-application-documents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a bearer token, typically a JSON Web Token (JWT), for authorization. The token must be included in the Authorization header of the request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}