{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Partner Applications Aggregation API",
    "description": "The Partner Applications Aggregation API provides businesses with the capability to retrieve comprehensive application data associated with various partners. This API aggregates essential information, allowing users to analyze partner activities and application metrics effectively. Typical consumers include business analysts and integration teams who require insights to enhance decision-making and streamline operations. With its robust data retrieval capabilities, this API supports organizations in managing partnerships and optimizing application performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications": {
      "get": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Retrieve a list of partner applications.",
        "description": "This endpoint allows you to fetch all partner applications submitted. It provides details for each application, which can be used for review and processing.",
        "operationId": "getPartnersApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve applications related to partners. It allows the client to specify the criteria for the applications they wish to query. Ensure that all required parameters are included to receive the correct response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartnersApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of partner applications.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartnersApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartnersApplicationsRequest": {
        "type": "string",
        "description": "Request body for the GET operation on partner applications. This should contain a serialized string representing the request data.",
        "example": "{}"
      },
      "GetPartnersApplicationsResponse_200": {
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "description": "Total number of application records available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages of application records.",
            "format": "int32",
            "example": 1
          },
          "pageNumber": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "numberOfRecordsPerPage": {
            "type": "integer",
            "description": "Number of application records per page.",
            "format": "int32",
            "example": 1
          },
          "applications": {
            "type": "array",
            "description": "List of partner applications.",
            "example": [
              {
                "partnerId": "STANDARD",
                "preAppId": "STANDARD",
                "note": "STANDARD",
                "applicationId": "APP-312557",
                "appName": "Northstar Banking Service",
                "submittedDate": 1,
                "modifiedDate": 1,
                "status": "ACTIVE",
                "scopes": "STANDARD",
                "institutionDetails": [
                  {
                    "id": 1,
                    "abbrvName": "Northstar Banking Service",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "decryptionKeyActivated": true,
                    "createdDate": 1,
                    "lastModifiedDate": 1,
                    "status": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "ID to track the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "44563bdc-842d-5a57-a47c-db62305355c5",
              "correlationId": "f8e771c5-bf60-57a2-9d99-57dfe30688b3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving partner applications.",
        "example": {
          "totalRecords": 1,
          "totalPages": 1,
          "pageNumber": 1,
          "numberOfRecordsPerPage": 1,
          "applications": [
            {
              "partnerId": "STANDARD",
              "preAppId": "STANDARD",
              "note": "STANDARD",
              "applicationId": "APP-312557",
              "appName": "Northstar Banking Service",
              "submittedDate": 1,
              "modifiedDate": 1,
              "status": "ACTIVE",
              "scopes": "STANDARD",
              "institutionDetails": [
                {
                  "id": 1,
                  "abbrvName": "Northstar Banking Service",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "decryptionKeyActivated": true,
                  "createdDate": 1,
                  "lastModifiedDate": 1,
                  "status": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "44563bdc-842d-5a57-a47c-db62305355c5",
            "correlationId": "f8e771c5-bf60-57a2-9d99-57dfe30688b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Application": {
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner associated with the application.",
            "example": "string"
          },
          "preAppId": {
            "type": "string",
            "description": "Pre-application identifier.",
            "example": "string"
          },
          "note": {
            "type": "string",
            "description": "Additional notes regarding the application.",
            "example": "string"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application.",
            "example": "string"
          },
          "appName": {
            "type": "string",
            "description": "Name of the application.",
            "example": "string"
          },
          "submittedDate": {
            "type": "integer",
            "description": "Timestamp of when the application was submitted.",
            "format": "int32",
            "example": 0
          },
          "modifiedDate": {
            "type": "integer",
            "description": "Timestamp of the last modification to the application.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the application.",
            "example": "string"
          },
          "scopes": {
            "type": "string",
            "description": "Scopes related to the application's access.",
            "example": "string"
          },
          "institutionDetails": {
            "type": "array",
            "description": "Details of the institutions associated with the application.",
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          }
        },
        "description": "Schema representing a partner application."
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "abbrvName": {
            "type": "string",
            "description": "Abbreviated name of the institution.",
            "example": "string"
          },
          "logoUrl": {
            "type": "string",
            "description": "URL to the institution's logo.",
            "example": "string"
          },
          "decryptionKeyActivated": {
            "type": "boolean",
            "description": "Indicates if the decryption key is activated.",
            "example": false
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the institution was created.",
            "format": "int32",
            "example": 0
          },
          "lastModifiedDate": {
            "type": "integer",
            "description": "Timestamp of the last modification of the institution's details.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "boolean",
            "description": "Indicates the active status of the institution.",
            "example": false
          }
        },
        "description": "Schema representing institution details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-app-registration-status"
        },
        "example": "open-finance-api-get-app-registration-status"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses the Bearer token type where the JWT (JSON Web Token) must be provided in the authorization header for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}