{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_P2M Settlements Management API",
    "description": "The P2M Settlements Management API facilitates the seamless processing of peer-to-peer money transfers, enabling businesses to manage, initiate, and monitor settlement transactions efficiently. This API allows users to create settlement requests, ensuring timely and accurate payment transfers between parties. Typical consumers of this API include financial institutions and payment service providers, who require reliable settlement functionality in their applications. With comprehensive transaction management capabilities, this API supports use cases such as verifying transaction statuses and handling payment settlements effortlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements": {
      "post": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Create a new settlement",
        "description": "This endpoint allows users to create a new settlement by providing the necessary details. Ensure all required fields are included in the request body for successful settlement creation.",
        "operationId": "createSettlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new settlement. This body should contain all necessary details required for the settlement operation, formatted according to the provided schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettlementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSettlementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSettlementRequest": {
        "title": "Settlement Request Body",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-860612"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The unique identifier for the settlement account.",
            "example": "ACC-315973"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the period for which the settlement is requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the period for which the settlement is requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the settlement is requested.",
            "example": "USD"
          },
          "includePendingAdjustments": {
            "type": "boolean",
            "description": "Flag indicating whether to include pending adjustments in the settlement.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for initiating a settlement operation.",
        "example": {
          "merchantId": "MER-860612",
          "settlementAccountId": "ACC-315973",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "includePendingAdjustments": true,
          "requestContext": {
            "requestId": "e7eb448e-1909-5a25-837b-94df3fa46e5b",
            "correlationId": "6d0124ef-f71c-559e-adb7-a0cd5e5ed832",
            "idempotencyKey": "7c8d05c4-588f-55b2-8e55-5c818405b0a2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-759897"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests.",
            "example": "corr_101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are idempotent.",
            "example": "idempotency_key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "system_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "app_A"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_13"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request, e.g., web, mobile.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request.",
            "example": "device_14"
          }
        },
        "description": "Schema representing information related to the communication channel."
      },
      "CreateSettlementResponse_201": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "The unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the settlement.",
            "example": "MER-586105"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The unique identifier for the account to which the settlement is related.",
            "example": "ACC-452598"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the settlement is denominated.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "A summary of the settlement details including financial metrics.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "The number of lines in the settlement report.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference identifier for the bank payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "The expected date and time of the payout.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "The date and time at which the payout was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the creation and update of the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for the settlement operation indicating the details of the settlement process.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-586105",
          "settlementAccountId": "ACC-452598",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "f487dd27-7743-5236-91ae-33d6d1e3b6ab",
            "correlationId": "6d0124ef-f71c-559e-adb7-a0cd5e5ed832",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the gross payments.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the gross payments.",
                "example": "string"
              }
            }
          },
          "refunds": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the refunds.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the refunds.",
                "example": "string"
              }
            }
          },
          "reversals": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the reversals.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the reversals.",
                "example": "string"
              }
            }
          },
          "disputes": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the disputes.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the disputes.",
                "example": "string"
              }
            }
          },
          "fees": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the fees.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the fees.",
                "example": "string"
              }
            }
          },
          "taxes": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the taxes.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the taxes.",
                "example": "string"
              }
            }
          },
          "reserveHeld": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the held reserves.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the held reserves.",
                "example": "string"
              }
            }
          },
          "reserveReleased": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the released reserves.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the released reserves.",
                "example": "string"
              }
            }
          },
          "adjustments": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of adjustments made.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the adjustments.",
                "example": "string"
              }
            }
          },
          "netSettlement": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the net settlement.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The value of the net settlement.",
                "example": "string"
              }
            }
          }
        },
        "description": "Details of financial metrics related to the settlement."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the settlement was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user or system that created the settlement.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the settlement.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user or system that last updated the settlement.",
            "example": "string"
          }
        },
        "description": "Information regarding the creation and update history of the settlement."
      },
      "Metadata": {
        "title": "Settlement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata pertaining to the settlement, useful for tracking and processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-settlement"
        },
        "example": "banking-p2m-openapi-create-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-019"
        },
        "example": "WF-019"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Bulk Payment and Approval"
        },
        "example": "Corporate Bulk Payment and Approval"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e799fc4f-aff0-42f6-9394-013cdb3a4281"
        },
        "example": "e799fc4f-aff0-42f6-9394-013cdb3a4281"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication as defined in RFC 6750. It is typically used to transmit a JSON Web Token (JWT) which provides a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}