{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Usertype Business-spec",
    "description": "The Business Usertype Creation API allows for the efficient creation of user types specific to business entities within the system. By targeting customer payment history reports, this endpoint enables users to define and manage various business user types, enhancing data categorization and analysis. Typical consumers of this API include developers building financial applications and data analysts aiming to tailor customer insights. This operation is crucial for organizations looking to refine their user interactions based on distinct business profiles.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/payment-history/usertypes/business": {
      "post": {
        "tags": [
          "Customer Reports"
        ],
        "summary": "Create Payment History Report for Business User Type",
        "description": "This endpoint allows you to generate a payment history report specifically for business user types associated with a particular customer. By providing the necessary data, you can create a detailed report that outlines all payment transactions for the specified criteria.",
        "operationId": "createUsertypeBusiness",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for generating a payment history report for business user types associated with a particular customer. The request must include relevant data in the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUsertypeBusinessRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing. Check back for updates on the status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateUsertypeBusinessResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateUsertypeBusinessRequest": {
        "title": "Business Operations Payment History Request Body",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Contains data related to the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "A string representing account IDs associated with the request.",
            "example": "ACC-969291"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for the report represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for the Business Operations payment history analytics report.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "applicantIsPersonalGuarantor": true,
            "timeIntervalTypes": [
              "STANDARD"
            ]
          },
          "accountIds": "ACC-969291",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "requestContext": {
            "requestId": "771220da-5117-5bd4-a2a9-3eb7f8f7a7a2",
            "correlationId": "e3d9303c-28a5-5b79-bc67-5070f8b41324",
            "idempotencyKey": "9a7f5f71-9eea-55f0-8ea2-66e1d8c9161d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-130824"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA (Credit Reporting Agency) purposes.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "A list of time interval types for the report.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Data structure containing information for the analytics report."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": false
          }
        },
        "description": "Defines a custom field in the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Information related to the channel used for the request."
      },
      "CreateUsertypeBusinessResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., business or individual).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier assigned to the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the specific request made by the user.",
            "example": "50edb0a4-82c1-5ad7-946c-8556896681ad"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the user requesting the payment history.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information regarding the end user involved in the transaction.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the request was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the payment history request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer related to the transaction.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes present in the transaction.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the transaction requested.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment history request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Additional constraints related to the payment history request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the payment history request specific to business operations users.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "50edb0a4-82c1-5ad7-946c-8556896681ad",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-464745"
            ]
          },
          "metadata": {
            "responseId": "c74b0f3e-a389-5022-9685-237ff8bdb6c8",
            "correlationId": "e3d9303c-28a5-5b79-bc67-5070f8b41324",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(123) 456-7890"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "johndoe@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user, if any.",
            "example": "http://example.com"
          }
        },
        "description": "Details about the end user involved in the transaction."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if applicable.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the consumer's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "(123) 456-7890"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "consumer@example.com"
          }
        },
        "description": "Detailed information regarding the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "type": "object",
            "properties": {
              "forCraPurpose": {
                "type": "boolean",
                "description": "Indicates if the report is for CRA purposes.",
                "example": false
              },
              "applicantIsPersonalGuarantor": {
                "type": "boolean",
                "description": "Indicates if the applicant is a personal guarantor.",
                "example": false
              },
              "timeIntervalTypes": {
                "type": "array",
                "description": "Different time interval types for the analytics report.",
                "items": {
                  "type": "string",
                  "example": "monthly"
                }
              }
            },
            "description": "Data related to analytics reporting."
          },
          "accountIds": {
            "type": "array",
            "description": "List of account IDs associated with the constraints.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Defines any constraints related to the request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating transactions across different systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing context and traceability."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-payment-history-report"
        },
        "example": "open-finance-api-generate-payment-history-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, specifically utilizing JSON Web Tokens (JWT) as a method for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}