{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Credit Rating Retrieval API",
    "description": "The Customer Credit Rating Retrieval API allows businesses to assess the creditworthiness of their customers efficiently. By accessing customer credit ratings, organizations can make informed decisions regarding lending and financial services. This API is designed for financial institutions and credit departments needing real-time credit assessments. It enables seamless integration into customer management systems for improved risk management and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-credit-rating/{param1}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Customer Credit Rating",
        "description": "Fetches the credit rating details for the specified customer, allowing you to assess their creditworthiness and make informed decisions.",
        "operationId": "getCustomerCreditRatingCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the credit rating information for a specific customer identified by their unique ID. Ensure the customer ID is valid and formatted correctly to receive the appropriate credit rating response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCreditRatingCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer credit rating information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCreditRatingCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCreditRatingCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the customer credit rating operations.",
        "example": "{}"
      },
      "GetCustomerCreditRatingCUST100045Response_200": {
        "title": "Customer Credit Rating Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-673057"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party related to the customer.",
            "example": "PARTY-388135"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the credit rating.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the credit rating becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship with the customer.",
            "example": "GOLD"
          },
          "ratingScale": {
            "type": "string",
            "description": "The scale used for rating the customer.",
            "example": "STANDARD"
          },
          "currentRating": {
            "type": "string",
            "description": "The current credit rating assigned to the customer.",
            "example": "STANDARD"
          },
          "reviewReason": {
            "type": "string",
            "description": "Reason for the current credit rating review.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the credit rating record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a customer credit rating query.",
        "example": {
          "customerId": "CUST-673057",
          "partyId": "PARTY-388135",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "ratingScale": "STANDARD",
          "currentRating": "STANDARD",
          "reviewReason": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0edacdf4-33d2-5cd6-a37a-590683541c91",
            "correlationId": "411d431a-340f-58f7-b33c-6a5703829fc7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP09876"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "CORR54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "This schema captures additional metadata about the credit rating response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request. This value helps in tracing the specific endpoint that was hit during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-credit-rating-get-customer-credit-rating"
        },
        "example": "customer-credit-rating-get-customer-credit-rating"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the request was processed. This information is useful for understanding which application instance handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme. A valid JSON Web Token (JWT) must be included in the Authorization header as a bearer token to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}