{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Partner Applications-spec",
    "description": "The Partner Applications Retrieval API enables businesses to access a comprehensive list of partner applications aggregated from various sources. This endpoint is designed for stakeholders needing insights into current partner offerings and applications. Typical consumers include integration teams and data analysts seeking to evaluate partnership effectiveness or application performance. It streamlines access to essential information for strategic decision-making and enhances collaboration with partners.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications": {
      "get": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Retrieve a list of partner applications.",
        "description": "This endpoint allows users to fetch all partner applications available in the system. The response includes detailed information about each application, enabling easy management and assessment.",
        "operationId": "listPartnerApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving partner applications. This should contain the necessary criteria to filter or search for specific applications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPartnerApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the application data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPartnerApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPartnerApplicationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on applications for partners. It is expected to contain a string value indicating the application details.",
        "example": "{}"
      },
      "ListPartnerApplicationsResponse_200": {
        "title": "Applications Response",
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "description": "Total number of application records available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available for pagination.",
            "format": "int32",
            "example": 1
          },
          "pageNumber": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "numberOfRecordsPerPage": {
            "type": "integer",
            "description": "Number of application records per page.",
            "format": "int32",
            "example": 1
          },
          "applications": {
            "type": "array",
            "description": "List of application objects.",
            "example": [
              {
                "partnerId": "STANDARD",
                "preAppId": "STANDARD",
                "note": "STANDARD",
                "applicationId": "APP-312557",
                "appName": "Northstar Banking Service",
                "submittedDate": 1,
                "modifiedDate": 1,
                "status": "ACTIVE",
                "scopes": "STANDARD",
                "institutionDetails": [
                  {
                    "id": 1,
                    "abbrvName": "Northstar Banking Service",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "decryptionKeyActivated": true,
                    "createdDate": 1,
                    "lastModifiedDate": 1,
                    "status": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "ID for correlating requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "44563bdc-842d-5a57-a47c-db62305355c5",
              "correlationId": "f8e771c5-bf60-57a2-9d99-57dfe30688b3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving partner applications.",
        "example": {
          "totalRecords": 1,
          "totalPages": 1,
          "pageNumber": 1,
          "numberOfRecordsPerPage": 1,
          "applications": [
            {
              "partnerId": "STANDARD",
              "preAppId": "STANDARD",
              "note": "STANDARD",
              "applicationId": "APP-312557",
              "appName": "Northstar Banking Service",
              "submittedDate": 1,
              "modifiedDate": 1,
              "status": "ACTIVE",
              "scopes": "STANDARD",
              "institutionDetails": [
                {
                  "id": 1,
                  "abbrvName": "Northstar Banking Service",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "decryptionKeyActivated": true,
                  "createdDate": 1,
                  "lastModifiedDate": 1,
                  "status": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "44563bdc-842d-5a57-a47c-db62305355c5",
            "correlationId": "f8e771c5-bf60-57a2-9d99-57dfe30688b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Application": {
        "title": "Application",
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner associated with the application.",
            "example": "string"
          },
          "preAppId": {
            "type": "string",
            "description": "Pre-application identifier.",
            "example": "string"
          },
          "note": {
            "type": "string",
            "description": "Note or comments regarding the application.",
            "example": "string"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application.",
            "example": "string"
          },
          "appName": {
            "type": "string",
            "description": "Name of the application.",
            "example": "string"
          },
          "submittedDate": {
            "type": "integer",
            "description": "Timestamp when the application was submitted.",
            "format": "int32",
            "example": 0
          },
          "modifiedDate": {
            "type": "integer",
            "description": "Timestamp when the application was last modified.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the application.",
            "example": "string"
          },
          "scopes": {
            "type": "string",
            "description": "Scopes or permissions requested by the application.",
            "example": "string"
          },
          "institutionDetails": {
            "type": "array",
            "description": "List of institution details associated with the application.",
            "example": [],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          }
        },
        "description": "Schema for a single application object."
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "abbrvName": {
            "type": "string",
            "description": "Abbreviated name of the institution.",
            "example": "string"
          },
          "logoUrl": {
            "type": "string",
            "description": "URL of the institution's logo.",
            "example": "string"
          },
          "decryptionKeyActivated": {
            "type": "boolean",
            "description": "Indicates if the decryption key is activated for the institution.",
            "example": false
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp when the institution record was created.",
            "format": "int32",
            "example": 0
          },
          "lastModifiedDate": {
            "type": "integer",
            "description": "Timestamp when the institution record was last modified.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "boolean",
            "description": "Current status of the institution.",
            "example": false
          }
        },
        "description": "Schema for an institution associated with an application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. Used for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-app-registration-status"
        },
        "example": "open-finance-api-get-app-registration-status"
      },
      "X-Runtime-App": {
        "description": "The version and name of the application responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure bearer token authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}