{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Payments Card E Commerce Gateway By Card Ecommerce Gateway Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update Banking Payments Card E Commerce Gateway By Card Ecommerce Gateway Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway/{cardECommerceGatewayId}": {
      "patch": {
        "operationId": "updateBankingPaymentsCardECommerceGatewayByCardEcommerceGatewayId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/cardECommerceGatewayId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingPaymentsCardECommerceGatewayByCardEcommerceGatewayIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingPaymentsCardECommerceGatewayByCardEcommerceGatewayIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingPaymentsCardECommerceGatewayByCardEcommerceGatewayIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "paymentId": {
                "type": "string",
                "example": "string"
              },
              "debtorAccountId": {
                "type": "string",
                "example": "string"
              },
              "creditorAccountId": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "paymentId": "PAY-747845",
              "debtorAccountId": "ACC-503417",
              "creditorAccountId": "ACC-144769"
            }
          },
          "changeReason": {
            "type": "string",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "dc5a25d4-3ab7-5b43-a714-eb86689ed316",
              "correlationId": "73836828-9557-57f9-9f9d-64a9e1405f2a",
              "idempotencyKey": "9068a7dd-146b-5c30-ace0-f0f054a7f6e1",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-330736"
              }
            }
          }
        },
        "example": {
          "changes": {
            "paymentId": "PAY-747845",
            "debtorAccountId": "ACC-503417",
            "creditorAccountId": "ACC-144769"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "dc5a25d4-3ab7-5b43-a714-eb86689ed316",
            "correlationId": "73836828-9557-57f9-9f9d-64a9e1405f2a",
            "idempotencyKey": "9068a7dd-146b-5c30-ace0-f0f054a7f6e1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-330736"
            }
          }
        }
      },
      "UpdateBankingPaymentsCardECommerceGatewayByCardEcommerceGatewayIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "4a7347e5-9428-54ff-a598-9a0786cf739a",
              "correlationId": "73836828-9557-57f9-9f9d-64a9e1405f2a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4a7347e5-9428-54ff-a598-9a0786cf739a",
            "correlationId": "73836828-9557-57f9-9f9d-64a9e1405f2a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "cardECommerceGatewayId": {
        "name": "cardECommerceGatewayId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-update-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-update-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}