{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Servicing By Param1-spec",
    "description": "This API allows users to update servicing details for a specific card case identified by 'param1'. It serves banking service providers and financial institutions that need to manage and maintain accurate servicing records. The operation is crucial for ensuring compliance, improving service levels, and enhancing customer satisfaction. Typical consumers of this API include customer support systems and backend services seeking to modify card servicing attributes based on changing requirements or customer feedback.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/card-case/{param1}": {
      "put": {
        "tags": [
          "Card Case Management"
        ],
        "summary": "Update a specific card case.",
        "description": "This operation allows you to update the details of a specific card case identified by its ID. Ensure you provide all required information in the request body to successfully execute the update.",
        "operationId": "replaceServicingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body containing the updated information for the specified card case. Ensure that all required fields are filled according to the API specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceServicingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, returns location of the new resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceServicingByParam1Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceServicingByParam1Request": {
        "title": "Update Card Case Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-759728"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "CASE-994442"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request related to the case.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the request originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case submission.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Service level due date for the case.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preferred contact method.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to update a card case.",
        "example": {
          "customerId": "CUST-759728",
          "caseId": "CASE-994442",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "35fcab3a-4669-5003-9070-ce013c58c03a",
            "correlationId": "592238c9-f24b-5e1f-85aa-e5e486398405",
            "idempotencyKey": "83742040-e82f-5426-9918-23f4221f4268",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-183500"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "IDEM123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system from which the request originated.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "Customer Portal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHNL123456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Mobile, Web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "DEV123456"
          }
        },
        "description": "Information related to the channel used for the request."
      },
      "ReplaceServicingByParam1Response_201": {
        "title": "Card Case Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-820501"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case.",
            "example": "CASE-524334"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the case.",
            "example": "RES-590859"
          },
          "status": {
            "type": "string",
            "description": "The current status of the card case.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the card case was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the card case response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful Card Case operation.",
        "example": {
          "customerId": "CUST-820501",
          "caseId": "CASE-524334",
          "resourceId": "RES-590859",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "137a93a3-1172-51a4-a6ec-ba9ae8ab7cce",
            "correlationId": "592238c9-f24b-5e1f-85aa-e5e486398405",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Object",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the process.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata containing additional information about the card case process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This is useful for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-case-create-card-case"
        },
        "example": "card-case-create-card-case"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This helps identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request. This is essential for monitoring and troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-023"
        },
        "example": "WF-023"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card PIN Reset and Device Verification"
        },
        "example": "Card PIN Reset and Device Verification"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ab2e3905-818b-4f94-86ff-5474c15a905a"
        },
        "example": "ab2e3905-818b-4f94-86ff-5474c15a905a"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication mechanism, where clients must provide a valid JSON Web Token (JWT) as part of the authentication process to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}