{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Corporate Relation By Param1-spec",
    "description": "The Manage Corporate Relations API allows businesses to efficiently update details related to corporate relations with regulatory authorities. Utilizing this API, clients can modify specific attributes of their corporate relations associated with a given parameter. Key consumers include compliance departments and regulatory teams who require up-to-date information for accurate reporting and adherence to regulations. This endpoint supports seamless integration into existing workflows, ensuring that regulatory authority information remains current and operable.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://reference-product-app:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/regulatory-authorities/{param1}": {
      "patch": {
        "tags": [
          "Regulatory Authorities"
        ],
        "summary": "Update Regulatory Authority details",
        "description": "This operation allows you to update the details of a specific regulatory authority identified by the given ID. Ensure that you provide the necessary data fields in the request body to successfully modify the existing information.",
        "operationId": "updateCorporateRelationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a regulatory authority identified by RES-100045. It allows clients to modify specific attributes as part of the regulatory authority operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateRelationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateRelationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateRelationByParam1Request": {
        "title": "Regulatory Authorities Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for PATCH operations related to regulatory authorities in corporate relations.",
        "example": {
          "changes": {
            "stakeholderId": "STANDARD",
            "engagementId": "STANDARD",
            "subject": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "960ec7f8-311d-534f-b694-02661d590349",
            "correlationId": "c90796e6-f7b0-53eb-a123-0026527ce13c",
            "idempotencyKey": "a2751250-29cd-5408-a686-44fdd98c8256",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-944449"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Identifier for the stakeholder involved in the change.",
            "example": "stakeholder123"
          },
          "engagementId": {
            "type": "string",
            "description": "Identifier for the engagement that is being changed.",
            "example": "engagement456"
          },
          "subject": {
            "type": "string",
            "description": "The subject or title of the change.",
            "example": "Change in stakeholder engagement"
          }
        },
        "description": "Schema representing the individual changes in the request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "correlation101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "unique-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual data for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channelId123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "deviceId456"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateCorporateRelationByParam1Response_200": {
        "title": "Regulatory Authorities Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation on regulatory authorities.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1518c9b7-2a0c-5ffc-b297-2b12c30c6021",
            "correlationId": "c90796e6-f7b0-53eb-a123-0026527ce13c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information associated with the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-097"
        },
        "example": "WF-097"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5e4df198-47bf-4d1e-ba71-0f9eae6ad7a2"
        },
        "example": "5e4df198-47bf-4d1e-ba71-0f9eae6ad7a2"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "eb5c558c-adb9-42ae-9e3b-b94ced83419d"
        },
        "example": "eb5c558c-adb9-42ae-9e3b-b94ced83419d"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-and-legal-authority-update-regulatory-and-legal-authority"
        },
        "example": "regulatory-and-legal-authority-update-regulatory-and-legal-authority"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-097"
        },
        "example": "WF-097"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "M&A Advisory Engagement and Deal Execution"
        },
        "example": "M&A Advisory Engagement and Deal Execution"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow related to this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow tied to this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "eb5c558c-adb9-42ae-9e3b-b94ced83419d"
        },
        "example": "eb5c558c-adb9-42ae-9e3b-b94ced83419d"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, typically formatted as a JSON Web Token (JWT). This format allows secure transmission of claims between parties, ensuring the integrity and authenticity of the data.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}