{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Pisp By Param1-spec",
    "description": "The PISP Domestic Payment Consent Retrieval API allows clients to securely retrieve payment consent details using a specified parameter. This operation is vital for Payment Initiation Service Providers (PISPs) that need to access and manage payment consents effectively. Developers working on financial applications can utilize this API to ensure compliance with Open Banking standards while providing seamless user experiences. Typical consumers of this API include banks and fintech companies that integrate payment services into their platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents/{param1}": {
      "get": {
        "tags": [
          "Payment Consent"
        ],
        "summary": "Retrieve a specific domestic payment consent",
        "description": "This endpoint allows developers to retrieve details of a specific domestic payment consent using its unique identifier. It provides insights into the payment consent's status, created date, and other relevant information that assists in payment processing.",
        "operationId": "getPispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving a specific domestic payment consent based on the provided consent ID. This request should be formatted in JSON and must comply with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the details of the payment consent.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation to retrieve domestic payment consents.",
        "example": "{}"
      },
      "GetPispByParam1Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/DomesticPaymentConsentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for domestic payment consents operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "6033b0db-6e24-54c5-95e6-4e29c6673ad0",
            "correlationId": "f9eb10da-4fdc-5817-b5cc-7c008cb04517",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DomesticPaymentConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the consent was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the consent.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "string"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates whether the refund account can be read.",
            "example": "string"
          },
          "CutOffDateTime": {
            "type": "string",
            "description": "The date and time when the cutoff occurs.",
            "example": "string"
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected date and time of execution.",
            "example": "string"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected date and time of settlement.",
            "example": "string"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the consent.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Contains details about the domestic payment consent."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason.",
            "example": "string"
          }
        },
        "description": "Reason details for the status of the consent."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Details about the charge related to the consent."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identifier for tracking the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/Agent"
          }
        },
        "description": "Details about the initiation of the payment."
      },
      "Money": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code in ISO 4217 format.",
            "example": "EUR"
          }
        },
        "description": "Representation of monetary value and currency."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for the account identification.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification for the account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details of the account involved in the transaction."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Type of proxy code.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy.",
            "example": "email"
          }
        },
        "description": "Proxy details for account identification."
      },
      "Agent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for the agent identification.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the agent.",
            "example": "Bank of Example"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the agent involved in the transaction."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department associated with the address.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Subdepartment associated with the address.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "Main St"
          }
        },
        "description": "Postal address details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This allows for tracing and auditing of the specific endpoint utilized during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment-consent"
        },
        "example": "payment-initiation-openapi-get-domestic-payment-consent"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that processed the request. This information can be useful for diagnostics and performance tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. The client must include a bearer token in the Authorization header when making requests, where the token should be a valid JSON Web Token (JWT) that is used to authenticate and authorize the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}