{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Modification API",
    "description": "The Loan Application Modification API allows users to update the details of existing loan applications efficiently. This endpoint is vital for financial institutions and loan officers who need to make adjustments to loan application information based on new data or customer requests. Common use cases include modifying borrower details, changing loan terms, or updating application statuses. By utilizing this API, users can ensure that loan applications are kept up-to-date, reflecting accurate and current information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Application",
        "description": "This operation allows you to update the details of a specific loan application identified by its unique reference number. Use this endpoint to modify any information related to the loan application as needed.",
        "operationId": "updateLoanApplicationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit partial updates to the loan application identified by RES-100045. It contains the fields that need to be updated along with their new values.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The loan application was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationRes100045Request": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount being requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The day of the month preferred for loan repayments.",
            "format": "int32",
            "example": 1
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the application is being submitted.",
            "example": "CODE-470"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The ID of the relationship manager handling this application.",
            "example": "STANDARD"
          },
          "customerConsent": {
            "description": "The consent information provided by the customer.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "description": "The context in which the request was made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a loan application request.",
        "example": {
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "branchCode": "CODE-470",
          "relationshipManagerId": "STANDARD",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "44b48ee8-673b-5a28-85a7-11b3a559bace",
            "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
            "idempotencyKey": "73b0d217-1c1e-55d9-850e-bc22cc33cb1a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-529827"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount requested for the loan.",
            "example": "10000"
          }
        },
        "description": "Schema representing the requested principal amount for the loan."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer has consented to credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer has consented to data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer has consented to marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when the consent was given.",
            "example": "2021-01-01T12:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "A reference identifier for the consent.",
            "example": "CONS-123456"
          }
        },
        "description": "Schema representing the customer's consent information."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-78910"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate different requests.",
            "example": "CORR-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "KEY-09876"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "LoanAppSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application initiating the request.",
            "example": "ApplicationName"
          },
          "channel": {
            "description": "Details regarding the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel used.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Schema representing the details of the communication channel."
      },
      "UpdateLoanApplicationRes100045Response_200": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product.",
            "example": "PROD-908930"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference associated with the application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the purpose of the loan.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount that is being requested, including currency and amount details.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested term for the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer applying for the loan.",
            "example": "CUST-859975"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code where the application is being processed.",
            "example": "CODE-324"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling this application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The marketing campaign code associated with the application.",
            "example": "CODE-586"
          },
          "customerConsent": {
            "description": "The customer's consent details for data processing and credit checks.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "b97ad9c9-c0e8-cd9b-dadd-ea0351de1a58"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned by the system.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when the decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier for the loan that was booked against this application.",
            "example": "LOAN-246067"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The completion percentage of the application process.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "A list of outstanding requirements for the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "The audit details for the loan application including creation and update information.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata about the loan application including response and processing details.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for loan application operations.",
        "example": {
          "productId": "PROD-908930",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-859975",
          "branchCode": "CODE-324",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-586",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "b97ad9c9-c0e8-cd9b-dadd-ea0351de1a58",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-246067",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "04bc78aa-8ca8-50c6-a43d-78d2e8fd2e73",
            "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the outstanding requirement.",
            "example": "REQ-001"
          },
          "description": {
            "type": "string",
            "description": "A description of the outstanding requirement.",
            "example": "Document verification needed."
          },
          "status": {
            "type": "string",
            "description": "The status of the outstanding requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for fulfilling the outstanding requirement.",
            "example": "2021-02-01"
          }
        },
        "description": "Schema representing an outstanding requirement for the loan application."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the application was created.",
            "example": "2021-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the application.",
            "example": "USER-123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the application was last updated.",
            "example": "2021-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the application.",
            "example": "USER-456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the application.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit details related to the loan application."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "CORR-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2021-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata for the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-application"
        },
        "example": "banking-loans-openapi-update-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens in the form of JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}