{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Payment By Param1-spec",
    "description": "The Manage Payments API allows users to modify existing payment records within the banking system based on specific criteria identified by param1. This endpoint enables authorized consumers, such as financial institutions and payment processors, to efficiently update payment status or details. With its PATCH method, this API supports targeted updates, providing flexibility in handling various payment scenarios. Typical use cases include adjusting payment amounts, modifying recipient information, or correcting payment errors.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/central-cash-handling/{param1}": {
      "patch": {
        "tags": [
          "Payments"
        ],
        "summary": "Update Central Cash Handling Resource",
        "description": "This operation allows you to update the details of the central cash handling resource identified by RES-100045. Ensure that all required fields are included in the request to successfully make changes.",
        "operationId": "updatePaymentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body required to update the central cash handling payment details for the specified resource. Ensure that the provided data complies with the schema to update the necessary fields accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePaymentByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes to the payment.",
            "$ref": "#/components/schemas/PaymentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being made.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context under which the request is made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for processing a payment operation update.",
        "example": {
          "changes": {
            "paymentId": "PAY-787064",
            "debtorAccountId": "ACC-625741",
            "creditorAccountId": "ACC-339510"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "151385c5-9c2e-577c-bb1f-a13b4c051577",
            "correlationId": "f8686743-4ef0-5b43-9be5-aa11fba8d6df",
            "idempotencyKey": "7fd5b2e0-8124-5361-9b3f-068d11a280fd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-990053"
            }
          }
        }
      },
      "PaymentChanges": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-1001"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor.",
            "example": "ACC-2002"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor.",
            "example": "ACC-3003"
          }
        },
        "description": "Details of the payment changes."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-4004"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the complete transaction flow.",
            "example": "CORR-5005"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Unique key to ensure idempotency of the request.",
            "example": "IDEMP-6006"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "PaymentGatewaySystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Details about the request context."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-7007"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "DEV-8008"
          }
        },
        "description": "Information about the request channel."
      },
      "UpdatePaymentByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation related to central cash handling.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2f7fdc3a-0eb9-571b-bbbf-14959e7e82b0",
            "correlationId": "f8686743-4ef0-5b43-9be5-aa11fba8d6df",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This helps in tracking requests across different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "central-cash-handling-update-central-cash-handling"
        },
        "example": "central-cash-handling-update-central-cash-handling"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that is currently running and handling the request. Useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for secure access to the API. The bearer token must be included in the Authorization header of the request to authenticate and authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}