{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Open Item Management API",
    "description": "The Open Item Management API provides functionality for tracking and managing open items in banking operational services. This endpoint allows users to retrieve detailed information about unresolved transactions, outstanding items, and related account activities. Typical consumers include banking analysts and financial auditors who need insights into open items for compliance and reporting purposes. By utilizing this API, organizations can enhance operational efficiency and ensure timely resolution of outstanding banking matters.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/open-item-management": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve open item management details.",
        "description": "This endpoint allows you to fetch the current details related to open item management within the operational services framework. Use this to get insights into ongoing open items and their statuses.",
        "operationId": "getOpenItemManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operational services related to open item management. It should contain the necessary parameters to filter and fetch the relevant open items.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOpenItemManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOpenItemManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOpenItemManagementRequest": {
        "type": "string",
        "description": "Defines the request body format for the GET operation in the Open Item Management service. This schema is represented as a string.",
        "example": "{}"
      },
      "GetOpenItemManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of open items related to the operations.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-404721",
                "accountId": "ACC-309847",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OpenItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving open item management operations.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-404721",
              "accountId": "ACC-309847",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ceabbee4-3d77-5444-8d8b-05b42c860d8c",
            "correlationId": "3a1a7eb5-2cc2-5f09-ab5e-b2ca2fca7bab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OpenItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "12345"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "67890"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested.",
            "example": "2023-10-01T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "open"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated.",
            "example": "2023-10-02T12:00:00Z"
          }
        },
        "description": "Schema representing an open item in the operational services."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific endpoint request made, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-item-management-search-open-item-management"
        },
        "example": "open-item-management-search-open-item-management"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, allowing for identification of the application in multi-app environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which is commonly utilized in OAuth 2.0. Clients should include a JWT (JSON Web Token) in the `Authorization` header as a means of authenticating to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}