{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Application Offer-spec",
    "description": "The Loan Application Offer Submission API facilitates the creation of offers for loan applications. By submitting a loan application identifier, users can generate tailored loan offers, enhancing customer engagement and decision-making. This API is primarily aimed at financial institutions and loan processing platforms looking to streamline their lending processes. Typical consumer use cases include banks, credit unions, and loan service providers that require efficient offer generation based on specific application criteria.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Create a New Loan Application Offer",
        "description": "This endpoint allows you to create a new offer for a specific loan application identified by its unique resource number. Ensure all required details are provided for a successful offer creation.",
        "operationId": "createLoanApplicationOffer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new offer for a specific loan application identified by RES-100045. It contains all the necessary details that need to be provided to process the offer successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationOfferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new offer for the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationOfferResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationOfferRequest": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of the loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The approved principal amount for the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount that the borrower will pay.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "originationFee": {
            "description": "The fee charged for processing the loan application.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "insurancePremium": {
            "description": "The insurance premium associated with the loan.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the loan offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions that the borrower must meet to qualify for the loan.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "A list of important disclosures related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Disclosure text here."
            }
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a loan application offer.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "e443c207-637c-52dc-8fa9-6f56c59392a5",
            "correlationId": "7e791002-0b52-5157-9162-a541dc8f7ed1",
            "idempotencyKey": "f36eb89d-9dc0-5ae4-a2b9-c30652aa57ef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-904227"
            }
          }
        }
      },
      "CurrencyAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money being represented.",
            "example": "10000"
          }
        },
        "description": "Schema representing a currency amount, including its currency type and value."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifying the condition.",
            "example": "COND001"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the condition.",
            "example": "Must have a stable income."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition must be satisfied.",
            "example": "2023-12-01"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition (e.g., pending, fulfilled).",
            "example": "Pending"
          }
        },
        "description": "Schema representing a condition that must be satisfied for the loan offer."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track multiple related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "key-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "LoanAppV1"
          },
          "channel": {
            "description": "The communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing information related to the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., web, mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the communication channel details for the loan application request."
      },
      "CreateLoanApplicationOfferResponse_201": {
        "title": "Loan Offer Response",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of loan offer provided.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The details of the approved loan principal amount.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate associated with the loan offer.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate (APR) for the loan offer.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for this loan.",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount for the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "originationFee": {
            "description": "The origination fee required for processing the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "insurancePremium": {
            "description": "The insurance premium associated with the loan offer.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the loan offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions attached to the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConditionDetails"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "A list of disclosures that the customer needs to be aware of.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Disclosure text here"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "b8341408-ee2c-9c2f-875c-4f6abc430c73"
          },
          "offerNumber": {
            "type": "string",
            "description": "The unique offer number associated with the loan offer.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "The date and time when the loan offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The date and time when the loan offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "Identifier for the customer who accepted the loan offer.",
            "example": "CUST-857191"
          },
          "audit": {
            "description": "Audit information related to the loan offer.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Metadata related to the loan offer request.",
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "This schema represents a loan offer response containing various details regarding the financing offer provided to the customer.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "b8341408-ee2c-9c2f-875c-4f6abc430c73",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-857191",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "a6d2a712-1be1-5708-a3b0-7e0d16f307c7",
            "correlationId": "7e791002-0b52-5157-9162-a541dc8f7ed1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "15000"
          }
        },
        "description": "This schema contains information regarding monetary amounts and their associated currencies."
      },
      "ConditionDetails": {
        "title": "Loan Condition Details",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code representing the condition.",
            "example": "C1"
          },
          "description": {
            "type": "string",
            "description": "A description of the condition.",
            "example": "Condition description"
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition must be satisfied.",
            "example": "2023-11-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition.",
            "example": "Active"
          }
        },
        "description": "This schema describes conditions that may apply to a loan offer."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the loan offer was created.",
            "example": "2023-11-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user or system that created the loan offer.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the loan offer was last updated.",
            "example": "2023-11-05T15:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user or system that last updated the loan offer.",
            "example": "system"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan offer.",
            "format": "int32",
            "example": 2
          }
        },
        "description": "This schema captures the audit information for loan offers."
      },
      "MetadataDetails": {
        "title": "Metadata Details",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates with the request-response cycle.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-11-05T16:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "This schema holds metadata associated with the loan offer request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This header indicates which endpoint of the loan application service is being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-offer"
        },
        "example": "banking-loans-openapi-create-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that is handling the request. This header helps in identifying the source application that processed the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. A valid JWT (JSON Web Token) must be provided in the Authorization header of requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}