{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Analysi Branch Portfolios-spec",
    "description": "The Business Analysis Branch Portfolio API provides access to detailed information on branch portfolios related to business analysis within the banking sector. This endpoint allows users to retrieve lists of available branch portfolios, showcasing their respective attributes and analytical insights. Typical consumers include business analysts, banking strategists, and decision-makers who require comprehensive data to assess branch performance and strategic initiatives. By leveraging this API, organizations can enhance their analytical capabilities and drive informed business decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/branch-portfolio": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve branch portfolio details.",
        "description": "This endpoint allows users to retrieve detailed information about the branch portfolio, including performance metrics and strategic insights.",
        "operationId": "listBusinessAnalysiBranchPortfolios",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the branch portfolio data related to business analysis. The data requested may include various metrics and attributes that are important for analyzing the branch portfolio performance.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessAnalysiBranchPortfoliosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the branch portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessAnalysiBranchPortfoliosResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessAnalysiBranchPortfoliosRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation on the branch portfolio in business analysis. The request body is a simple string that may contain relevant information or parameters.",
        "example": "{}"
      },
      "ListBusinessAnalysiBranchPortfoliosResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of branch analysis items.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Get Branch Portfolio operation in Business Analysis, includes items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e9c1f205-f957-5c5f-9aef-1b776cb24795",
            "correlationId": "af48a0e5-2ef7-5195-9ba2-22072450c8fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchAnalysisItem": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "string"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment associated with the analysis.",
            "example": "string"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "string"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "string"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used as a base for the analysis.",
            "example": "string"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario name associated with the analysis.",
            "example": "string"
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "string"
          },
          "branchType": {
            "type": "string",
            "description": "Type of branch (e.g., retail, online).",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone in which the branch operates.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single branch analysis item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-portfolio-search-branch-portfolio"
        },
        "example": "branch-portfolio-search-branch-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication mechanism. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}