{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Settlement Reviews API",
    "description": "The Trade Settlement Reviews API enables users to submit reviews related to trade settlements within the banking industry. It streamlines the process of collecting feedback on trade operations, enhancing transparency and accountability. Typical consumers include financial institutions and compliance teams looking to improve their trade settlement processes based on real-time feedback. This API supports the integration of customer insights into operational workflows, facilitating better decision-making and regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-settlement/{param1}/reviews": {
      "post": {
        "tags": [
          "Trade Settlement"
        ],
        "summary": "Submit a review for trade settlement resource RES-100045.",
        "description": "This endpoint allows users to submit a review for the trade settlement resource identified by RES-100045. Provide relevant details in the request body, and expect a confirmation of submission in the response.",
        "operationId": "postTradeSettlementReviewRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the trade settlement operation identified by RES-100045. It requires specific data to be included in the JSON format, which will guide the handling of the review process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTradeSettlementReviewRES100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed soon.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTradeSettlementReviewRES100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostTradeSettlementReviewRES100045Request": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, specifying which aspects are being reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Specific element within the review scope.",
              "example": "Trade amount validation"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier of the reviewer to whom the review is assigned.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "Deadline by which the review should be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request object for creating a review related to trade settlement operations.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "26b1e94a-60e3-55d1-aa06-85b0b5844433",
            "correlationId": "30a5dd92-96e4-5289-bb50-450d26464596",
            "idempotencyKey": "a65d4438-c177-5792-97d5-b3599a9ec8e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-624001"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "cor123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idemp-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-15T08:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "TradeManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "TradeApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-456"
          }
        },
        "description": "Details related to the channel of the request."
      },
      "PostTradeSettlementReviewRES100045Response_202": {
        "title": "Trade Settlement Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Unique reference for the action performed during the trade settlement review.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action taken during the trade settlement review.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the trade settlement review operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the trade settlement review was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TradeSettlementReviewMetadata"
          }
        },
        "description": "Schema representing the response of the trade settlement review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "8bb4aeba-2505-52a6-90db-27f388d8258d",
            "correlationId": "30a5dd92-96e4-5289-bb50-450d26464596",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeSettlementReviewMetadata": {
        "title": "Trade Settlement Review Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the trade settlement review.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID associated with the trade settlement review operation for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the trade settlement review was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the trade settlement review response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that is being invoked, used for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-settlement-review-trade-settlement-processing"
        },
        "example": "trade-settlement-review-trade-settlement-processing"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is responsible for processing the request. This helps in monitoring and tracking application-specific performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens to authenticate users. A JWT (JSON Web Token) is required for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}