{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Cash Concentrations-spec",
    "description": "This API allows users to retrieve cash concentration details within trade banking, providing insights into cash flow management. It serves as a vital resource for financial analysts and banking professionals interested in optimizing liquidity across various accounts. Users can expect to access historical and current cash concentration data that aids in strategic financial planning. With this API, businesses can efficiently assess their cash positioning and align their trading activities accordingly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration": {
      "get": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Retrieve cash concentration details.",
        "description": "This endpoint allows you to fetch detailed information about cash concentration activities within trade banking. It provides essential data that assists in managing and optimizing cash flows effectively.",
        "operationId": "listTradeBankingCashConcentrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for cash concentration in trade banking. It allows the client to retrieve information related to the cash concentration process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingCashConcentrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved cash concentration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingCashConcentrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingCashConcentrationsRequest": {
        "title": "Cash Concentration Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for cash concentration operations in the Trade Banking API. It is expected to be a JSON string that includes relevant operational details.",
        "example": "{}"
      },
      "ListTradeBankingCashConcentrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of cash concentration pools.",
            "example": [
              {
                "poolId": "STANDARD",
                "headerAccountId": "ACC-830539",
                "participantAccountIds": [
                  "ACC-127188"
                ],
                "currency": "USD",
                "sweepFrequency": "STANDARD",
                "targetBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CashConcentrationPool"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for cash concentration operations.",
        "example": {
          "items": [
            {
              "poolId": "STANDARD",
              "headerAccountId": "ACC-830539",
              "participantAccountIds": [
                "ACC-127188"
              ],
              "currency": "USD",
              "sweepFrequency": "STANDARD",
              "targetBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "61952eb2-80cb-50cf-9582-b61cae10ad30",
            "correlationId": "c4884c20-0a3e-52df-bc09-17a800dc3333",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CashConcentrationPool": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the cash concentration pool."
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account."
          },
          "participantAccountIds": {
            "type": "array",
            "description": "List of participant account identifiers associated with the pool.",
            "items": {
              "type": "string",
              "description": "The identifier for a participant account."
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency used in the cash concentration pool."
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency at which funds are swept in the pool."
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance to maintain in the cash concentration pool."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the pool information was last updated."
          }
        },
        "description": "Represents a cash concentration pool."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the response.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-search-cash-concentration"
        },
        "example": "cash-concentration-search-cash-concentration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token. This schema supports JSON Web Tokens (JWT) as a means to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}