{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Interactive Helps-spec",
    "description": "The Cross Channel Interactive Help API enables businesses to access a comprehensive list of interactive help resources across multiple banking channels. This API is designed for developers aiming to integrate dynamic support content into their applications, enhancing user experience and engagement. Typical consumers include financial service providers and app developers looking to improve client assistance through contextual help. By leveraging this API, organizations can ensure that users receive timely and relevant support wherever they are navigating their banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/interactive-help": {
      "get": {
        "tags": [
          "User Support"
        ],
        "summary": "Retrieve interactive help content across channels.",
        "description": "This endpoint allows developers to fetch interactive help content that can be accessed through various channels, ensuring users have the support they need at their fingertips. Utilize this API to enhance user experience by providing contextual help in real-time.",
        "operationId": "listCrossChannelInteractiveHelps",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify parameters for the interactive help operation in the cross-channel interface. It allows clients to request specific information or assistance related to their query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelInteractiveHelpsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the requested data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelInteractiveHelpsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelInteractiveHelpsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the interactive help cross-channel functionality.",
        "example": "{}"
      },
      "ListCrossChannelInteractiveHelpsResponse_200": {
        "title": "Cross-Channel Interactive Help Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of interaction summaries.",
            "example": [
              {
                "partyId": "PARTY-586195",
                "interactionId": "INT-508619",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InteractionSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Cross-Channel Interactive Help GET operation, containing information about interactions and pagination metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-586195",
              "interactionId": "INT-508619",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4c068f89-5f99-5293-99af-7fc8a134a673",
            "correlationId": "b45288b7-5447-5818-8da3-06fdfe3b252e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InteractionSummary": {
        "title": "Interaction Summary",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication for the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the interaction record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the interaction was last updated."
          }
        },
        "description": "Detailed information about a specific interaction."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the result set.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interactive-help-search-interactive-help"
        },
        "example": "interactive-help-search-interactive-help"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication scheme specified in RFC 6750. Clients must include a valid JSON Web Token (JWT) in the Authorization header of requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}