{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Products Retrieval API",
    "description": "The Loan Products Retrieval API provides access to a comprehensive list of loan products offered by the organization. This API allows developers to retrieve detailed information about various loan options, including terms, rates, and eligibility requirements. Typical consumers include financial institutions, loan originators, and third-party application developers seeking to integrate loan product data into their platforms. By utilizing this API, users can enhance their applications with up-to-date and relevant loan offerings, facilitating better decision-making for end-users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve all loan products",
        "description": "This endpoint allows developers to fetch a list of all available loan products in the system. It provides detailed information about each product, helping users to make informed borrowing decisions.",
        "operationId": "getLoanProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving loan product details. This request does not require additional parameters in the body but defines a structure that can be utilized for future enhancements or filters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of loan products.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanProductsRequest": {
        "type": "string",
        "description": "A string schema representing the request body for loan products operations.",
        "example": "{}"
      },
      "GetLoanProductsResponse_200": {
        "title": "Loan Products Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of loan products.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "productType": "STANDARD",
                "currency": "USD",
                "minPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "maxPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "minTermMonths": 1,
                "maxTermMonths": 1,
                "interestRateType": "STANDARD",
                "annualInterestRatePercent": "STANDARD",
                "baseRateCode": "CODE-587",
                "marginPercent": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "secured": true,
                "maximumLoanToValuePercent": "STANDARD",
                "eligibility": {
                  "minApplicantAge": 1,
                  "maxApplicantAgeAtMaturity": 1,
                  "minMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "allowedEmploymentTypes": [
                    "STANDARD"
                  ],
                  "allowedResidencyCountries": [
                    "STANDARD"
                  ],
                  "minCreditScore": 1
                },
                "fees": [
                  {
                    "code": "SUCCESS",
                    "name": "Northstar Banking Service",
                    "calculationMethod": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "percent": "STANDARD",
                    "capitalized": true
                  }
                ],
                "status": "ACTIVE",
                "id": "dada9288-9d0b-bcc0-59d0-4b06cab71d92",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanProduct"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan products request.",
        "example": {
          "items": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "description": "Customer banking request processed successfully",
              "productType": "STANDARD",
              "currency": "USD",
              "minPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "maxPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "minTermMonths": 1,
              "maxTermMonths": 1,
              "interestRateType": "STANDARD",
              "annualInterestRatePercent": "STANDARD",
              "baseRateCode": "CODE-587",
              "marginPercent": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "secured": true,
              "maximumLoanToValuePercent": "STANDARD",
              "eligibility": {
                "minApplicantAge": 1,
                "maxApplicantAgeAtMaturity": 1,
                "minMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "allowedEmploymentTypes": [
                  "STANDARD"
                ],
                "allowedResidencyCountries": [
                  "STANDARD"
                ],
                "minCreditScore": 1
              },
              "fees": [
                {
                  "code": "SUCCESS",
                  "name": "Northstar Banking Service",
                  "calculationMethod": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "percent": "STANDARD",
                  "capitalized": true
                }
              ],
              "status": "ACTIVE",
              "id": "dada9288-9d0b-bcc0-59d0-4b06cab71d92",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "28e862cf-d585-5534-a562-41321f1f58d8",
            "correlationId": "db1d8c5b-5d7d-51c0-9245-4943b85f4eb2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanProduct": {
        "title": "Loan Product",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code for the loan product."
          },
          "name": {
            "type": "string",
            "description": "Name of the loan product."
          },
          "description": {
            "type": "string",
            "description": "Description of the loan product."
          },
          "productType": {
            "type": "string",
            "description": "Type of the loan product."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan is denominated."
          },
          "minPrincipal": {
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maxPrincipal": {
            "$ref": "#/components/schemas/LoanAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "Minimum loan term in months.",
            "format": "int32"
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "Maximum loan term in months.",
            "format": "int32"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applied to the loan."
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate as a percentage."
          },
          "baseRateCode": {
            "type": "string",
            "description": "Code of the base rate used."
          },
          "marginPercent": {
            "type": "string",
            "description": "Margin percentage added to the base rate."
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments."
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan is secured."
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "Maximum loan-to-value percentage."
          },
          "eligibility": {
            "$ref": "#/components/schemas/Eligibility"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the loan product.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan product."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan product."
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing a loan product detail."
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the loan amount."
          },
          "amount": {
            "type": "string",
            "description": "The amount of the loan."
          }
        },
        "description": "Schema representing amount details for a loan."
      },
      "Eligibility": {
        "title": "Loan Eligibility",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "Minimum age of the applicant.",
            "format": "int32"
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "Maximum age at loan maturity for the applicant.",
            "format": "int32"
          },
          "minMonthlyIncome": {
            "$ref": "#/components/schemas/LoanAmount"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "List of employment types allowed for applicants.",
            "items": {
              "type": "string",
              "description": "Type of employment."
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "List of residency countries allowed for applicants.",
            "items": {
              "type": "string",
              "description": "Country of residency."
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "Minimum credit score required for eligibility.",
            "format": "int32"
          }
        },
        "description": "Schema representing loan eligibility criteria."
      },
      "Fee": {
        "title": "Loan Fee",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code for the fee."
          },
          "name": {
            "type": "string",
            "description": "Name of the fee."
          },
          "calculationMethod": {
            "type": "string",
            "description": "Method for calculating the fee."
          },
          "amount": {
            "$ref": "#/components/schemas/LoanAmount"
          },
          "percent": {
            "type": "string",
            "description": "Percentage of the fee."
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates if the fee is capitalized."
          }
        },
        "description": "Schema representing a fee associated with a loan product."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the loan product was created."
          }
        },
        "description": "Schema representing audit information of the loan product."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs and requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema representing metadata of the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-products"
        },
        "example": "banking-loans-openapi-list-loan-products"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This scheme expects a JWT (JSON Web Token) which must be included in the Authorization header of requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}