{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Business Direction Continuity Planning By Continuity Planning Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update Banking Business Direction Continuity Planning By Continuity Planning Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/continuity-planning/{continuityPlanningId}": {
      "patch": {
        "operationId": "updateBankingBusinessDirectionContinuityPlanningByContinuityPlanningId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/continuityPlanningId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingBusinessDirectionContinuityPlanningByContinuityPlanningIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingBusinessDirectionContinuityPlanningByContinuityPlanningIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingBusinessDirectionContinuityPlanningByContinuityPlanningIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "initiativeId": {
                "type": "string",
                "example": "string"
              },
              "sponsorId": {
                "type": "string",
                "example": "string"
              },
              "planningHorizon": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "initiativeId": "STANDARD",
              "sponsorId": "STANDARD",
              "planningHorizon": "STANDARD"
            }
          },
          "changeReason": {
            "type": "string",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "68158371-2bb4-5a72-937f-19972e16a015",
              "correlationId": "147461ff-31dc-517f-84de-cb2c6416ea06",
              "idempotencyKey": "60acdb91-791f-5160-b086-e21984ac29ed",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-238640"
              }
            }
          }
        },
        "example": {
          "changes": {
            "initiativeId": "STANDARD",
            "sponsorId": "STANDARD",
            "planningHorizon": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "68158371-2bb4-5a72-937f-19972e16a015",
            "correlationId": "147461ff-31dc-517f-84de-cb2c6416ea06",
            "idempotencyKey": "60acdb91-791f-5160-b086-e21984ac29ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-238640"
            }
          }
        }
      },
      "UpdateBankingBusinessDirectionContinuityPlanningByContinuityPlanningIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "ccaacf99-ab15-5628-9333-216d1a2b57f5",
              "correlationId": "147461ff-31dc-517f-84de-cb2c6416ea06",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ccaacf99-ab15-5628-9333-216d1a2b57f5",
            "correlationId": "147461ff-31dc-517f-84de-cb2c6416ea06",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3c26080f-c788-4004-93ae-8437bea94c14"
        },
        "example": "3c26080f-c788-4004-93ae-8437bea94c14"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a10dd70-97e3-474f-958d-e5d729112100"
        },
        "example": "6a10dd70-97e3-474f-958d-e5d729112100"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "continuityPlanningId": {
        "name": "continuityPlanningId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "continuity-planning-update-continuity-planning"
        },
        "example": "continuity-planning-update-continuity-planning"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Enterprise Strategy Architecture and Business Unit Planning"
        },
        "example": "Enterprise Strategy Architecture and Business Unit Planning"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6a10dd70-97e3-474f-958d-e5d729112100"
        },
        "example": "6a10dd70-97e3-474f-958d-e5d729112100"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}