{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Operations Status API",
    "description": "The Correspondent Bank Operations Status API provides real-time insights into the status of payments processed through correspondent banks. This API allows users to monitor and track operations related to banking payments, ensuring timely updates and transparency for stakeholders. Typical consumers include banking institutions, financial service providers, and payment processing systems that require status updates for compliance and operational efficiency. By utilizing this API, organizations can proactively manage payment workflows and respond swiftly to any issues that may arise.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/correspondent-bank-operations/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve the status of correspondent bank operations.",
        "description": "This endpoint allows users to fetch the current status of correspondent bank operations, providing insights into their processing state and any relevant details related to the transaction status.",
        "operationId": "getCorrespondentBankOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the status of correspondent bank operations. This body includes information necessary to process the corresponding request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorrespondentBankOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status of correspondent bank operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorrespondentBankOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorrespondentBankOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on correspondent bank operations status.",
        "example": "{}"
      },
      "GetCorrespondentBankOperationStatusResponse_200": {
        "title": "Bank Operations Payment Status Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-261354"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account.",
            "example": "ACC-673970"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account.",
            "example": "ACC-874442"
          },
          "instructedAmount": {
            "description": "The amount instructed for the operation.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date requested for the execution of the payment.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the remittance.",
            "example": "STANDARD"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account used in the transaction.",
            "example": "ACC-639563"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement of the payment.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current status of the relationship regarding the payment.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current record status of the payment operation.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the GET request to retrieve the status of correspondent bank operations related to payments.",
        "example": {
          "paymentId": "PAY-261354",
          "debtorAccountId": "ACC-673970",
          "creditorAccountId": "ACC-874442",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "nostroAccountId": "ACC-639563",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45eae5eb-d103-5f4c-8dc0-e255180788fe",
            "correlationId": "61e50875-1ed3-5b0e-abff-7b82d9429c21",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the instructed amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the instructed amount is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the instructed amount for a payment operation."
      },
      "Metadata": {
        "title": "Metadata for Payment Operation",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-02T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Schema representing metadata for the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-operations-get-correspondent-bank-operations"
        },
        "example": "correspondent-bank-operations-get-correspondent-bank-operations"
      },
      "X-Runtime-App": {
        "description": "This header provides the name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication scheme with JWT (JSON Web Token) format to securely transmit user authentication information in HTTP headers.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}