{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Consumer Service Consumer Investments-spec",
    "description": "The Consumer Investments Retrieval API provides businesses with a means to access and view detailed information about consumer investment services. This endpoint allows authorized users to retrieve investment details, facilitating better financial decision-making for consumers. Typical consumers include financial advisors, banking personnel, or consumers looking to track their investment portfolios. By offering access to this valuable data, the API aids in enhancing client relations and service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/consumer-investments": {
      "get": {
        "tags": [
          "Consumer Services"
        ],
        "summary": "Retrieve Consumer Investments",
        "description": "This operation allows you to fetch the investment details for consumers, providing insights into their financial engagements and performance within consumer services.",
        "operationId": "listConsumerServiceConsumerInvestments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving consumer investment information. The body should adhere to the defined schema and include any required parameters for the query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsumerServiceConsumerInvestmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested consumer investments data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConsumerServiceConsumerInvestmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConsumerServiceConsumerInvestmentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the consumer investments GET operation in the consumer services API.",
        "example": "{}"
      },
      "ListConsumerServiceConsumerInvestmentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of consumer investment operations",
            "example": [
              {
                "customerId": "CUST-432492",
                "serviceRequestId": "6a12a834-60d8-588c-9433-44b446ffde24",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentOperation"
            }
          },
          "pagination": {
            "description": "Pagination information for the response",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving consumer investment operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-432492",
              "serviceRequestId": "6a12a834-60d8-588c-9433-44b446ffde24",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a9b27fa8-a2fc-582e-9694-419a330e46b7",
            "correlationId": "11b7c837-b8dd-5923-b8fb-e2c76026b4e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentOperation": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer",
            "example": "C12345"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request associated with the operation",
            "example": "SR67890"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product involved in the operation",
            "example": "P123"
          },
          "amount": {
            "description": "The amount related to the investment operation",
            "$ref": "#/components/schemas/AmountInfo"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the operation was requested",
            "example": "2023-10-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., 'completed', 'pending')",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the operation",
            "example": "2023-10-02T10:00:00Z"
          }
        },
        "description": "Details of an individual investment operation."
      },
      "AmountInfo": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the amount",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., 'USD', 'EUR')",
            "example": "USD"
          }
        },
        "description": "Information about the amount and its currency."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page (number of items per page)",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Information regarding the pagination of results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request/response journey",
            "example": "C123456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated",
            "example": "2023-10-02T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed",
            "example": "us-east-1"
          }
        },
        "description": "Metadata applied to the overall response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-investments-search-consumer-investments"
        },
        "example": "consumer-investments-search-consumer-investments"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication. Clients must include a JWT (JSON Web Token) in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}