{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Enrichment API",
    "description": "The Transaction Enrichment API enhances transaction data by integrating additional insights and information. This endpoint allows businesses to submit transaction details for enrichment, facilitating deeper analysis and improved decision-making. Typical users include financial institutions and analytics platforms seeking to leverage enriched data for better customer insights and fraud detection. By utilizing this API, organizations can transform basic transaction records into comprehensive datasets that support strategic initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/data-enrichment/transactions": {
      "post": {
        "tags": [
          "Transaction Management"
        ],
        "summary": "Create a new transaction",
        "description": "This endpoint allows users to initiate and create a new transaction in the system. It requires the necessary details of the transaction in the request body.",
        "operationId": "createTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new transaction. It must include the necessary details required by the transaction schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success! The transaction was processed successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTransactionRequest": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "A list of transactions to be processed.",
            "example": [
              {
                "externalCustomerId": "CUST-166933",
                "externalAccountId": "ACC-669678",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-452018",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100.0,
                "transactionFee": 100.0,
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service",
                  "line1": "350 Fifth Avenue",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating transactions.",
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-166933",
              "externalAccountId": "ACC-669678",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-452018",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100.0,
              "transactionFee": 100.0,
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service",
                "line1": "350 Fifth Avenue",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "requestContext": {
            "requestId": "9bd38ff1-fa08-5882-bfaa-d3e1464fdb56",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "idempotencyKey": "1ab9f562-3a0f-508d-ab3a-f8350b55a8e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-758843"
            }
          }
        }
      },
      "Transaction": {
        "title": "Transaction",
        "type": "object",
        "properties": {
          "externalCustomerId": {
            "type": "string",
            "description": "The ID of the external customer."
          },
          "externalAccountId": {
            "type": "string",
            "description": "The ID of the external account."
          },
          "accountType": {
            "type": "string",
            "description": "The type of the account."
          },
          "externalTransactionId": {
            "type": "string",
            "description": "The ID of the external transaction."
          },
          "postedTimestamp": {
            "type": "string",
            "description": "Timestamp when the transaction was posted."
          },
          "transactionTimestamp": {
            "type": "string",
            "description": "Timestamp when the transaction occurred."
          },
          "description": {
            "type": "string",
            "description": "Description of the transaction."
          },
          "memo": {
            "type": "string",
            "description": "Memo associated with the transaction."
          },
          "amount": {
            "type": "integer",
            "description": "Amount of the transaction.",
            "format": "int32"
          },
          "transactionFee": {
            "type": "integer",
            "description": "Fee associated with the transaction.",
            "format": "int32"
          },
          "transactionCategory": {
            "type": "string",
            "description": "Category of the transaction."
          },
          "transactionCategoryScore": {
            "type": "integer",
            "description": "Score rating of the transaction category.",
            "format": "int32"
          },
          "transactionCategoryGroup": {
            "type": "string",
            "description": "Group to which the transaction category belongs."
          },
          "type": {
            "type": "string",
            "description": "Type of transaction."
          },
          "directionIndicator": {
            "type": "string",
            "description": "Indicates the direction of the transaction."
          },
          "entities": {
            "type": "array",
            "description": "List of entities related to the transaction.",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "cardAcceptorId": {
            "type": "string",
            "description": "ID of the card acceptor."
          },
          "inputIsRecurringTransaction": {
            "type": "boolean",
            "description": "Indicates if the input is a recurring transaction."
          },
          "inputMerchantInformation": {
            "$ref": "#/components/schemas/MerchantInformation"
          }
        },
        "description": "Schema representing a single transaction."
      },
      "MerchantInformation": {
        "title": "Merchant Information",
        "type": "object",
        "properties": {
          "merchantDescriptor": {
            "type": "string",
            "description": "Descriptor for the merchant."
          },
          "name": {
            "type": "string",
            "description": "Name of the merchant."
          }
        },
        "description": "Schema representing information about the merchant related to the transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "corr-7890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T14:48:00.000Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "POS System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "Sales App"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "DEV-123456"
          }
        },
        "description": "Schema representing the channel information."
      },
      "CreateTransactionResponse_200": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "A list of transactions retrieved.",
            "example": [
              {
                "externalCustomerId": "CUST-434103",
                "externalAccountId": "ACC-314144",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-346225",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100,
                "transactionFee": 100,
                "transactionCategory": "STANDARD",
                "transactionCategoryScore": 100,
                "transactionCategoryGroup": "STANDARD",
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "entities": [
                  {
                    "id": "STANDARD",
                    "name": "Northstar Banking Service",
                    "group": "STANDARD",
                    "category": "STANDARD",
                    "website": "STANDARD",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "entityStandardizationConfidenceScore": 100
                  }
                ],
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD",
                  "latitude": 100,
                  "longitude": 100,
                  "phoneNumber": "+1-212-555-0147"
                },
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving transactions.",
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-434103",
              "externalAccountId": "ACC-314144",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-346225",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100,
              "transactionFee": 100,
              "transactionCategory": "STANDARD",
              "transactionCategoryScore": 100,
              "transactionCategoryGroup": "STANDARD",
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "entities": [
                {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "group": "STANDARD",
                  "category": "STANDARD",
                  "website": "STANDARD",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "entityStandardizationConfidenceScore": 100
                }
              ],
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD",
                "latitude": 100,
                "longitude": 100,
                "phoneNumber": "+1-212-555-0147"
              },
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service"
              }
            }
          ],
          "metadata": {
            "responseId": "e4c0a7be-1e91-5f0b-b61e-9435e42e4bcf",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Schema representing the metadata of the transaction response."
      },
      "Entity": {
        "title": "Entity",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the entity."
          },
          "name": {
            "type": "string",
            "description": "Name of the entity."
          },
          "group": {
            "type": "string",
            "description": "Group to which the entity belongs."
          },
          "category": {
            "type": "string",
            "description": "Category of the entity."
          },
          "website": {
            "type": "string",
            "description": "Website associated with the entity."
          },
          "logoUrl": {
            "type": "string",
            "description": "URL of the entity's logo."
          },
          "entityStandardizationConfidenceScore": {
            "type": "integer",
            "description": "Confidence score for standardizing the entity.",
            "format": "int32"
          }
        },
        "description": "Schema representing an entity involved in the transaction."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address, if applicable."
          },
          "city": {
            "type": "string",
            "description": "City of the address."
          },
          "state": {
            "type": "string",
            "description": "State of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "country": {
            "type": "string",
            "description": "Country of the address."
          },
          "latitude": {
            "type": "integer",
            "description": "Latitude coordinate of the address.",
            "format": "int32"
          },
          "longitude": {
            "type": "integer",
            "description": "Longitude coordinate of the address.",
            "format": "int32"
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number associated with the address."
          }
        },
        "description": "Schema representing an address associated with the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-enrich-transactions"
        },
        "example": "open-finance-api-enrich-transactions"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that executed the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via a JSON Web Token (JWT). Clients must provide a valid token in the 'Authorization' header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}