{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Billing Management API",
    "description": "The Corporate Billing Management API enables businesses to efficiently manage their corporate billing processes. This endpoint streamlines the submission of billing requests, automating invoicing and payment tracking. It is designed for financial teams and enterprise clients who need to manage multiple billing accounts and ensure timely payments. By leveraging this API, organizations can enhance their financial workflows, improve accuracy, and reduce processing times.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/corporate-billing": {
      "post": {
        "tags": [
          "Corporate Billing"
        ],
        "summary": "Create Corporate Billing Entry",
        "description": "This endpoint allows the user to create a new entry in the corporate billing system. It requires specific corporate information and billing details to process the request successfully.",
        "operationId": "createCorporateBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for processing corporate billing in the enterprise services. This payload contains all necessary information to initiate a corporate billing operation, ensuring all required fields are accurately filled to comply with the billing process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateBillingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateBillingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateBillingRequest": {
        "title": "Corporate Billing Request",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the billing request.",
            "example": "31e46401-de58-5d7c-a723-171235344a05"
          },
          "supplierId": {
            "type": "string",
            "description": "The unique identifier of the supplier associated with the billing request.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The identifier of the cost center to which this billing request is attributed.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount for the billing request, including value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who is requesting the billing.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request containing additional metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for the Corporate Billing POST operation, containing details about the billing request.",
        "example": {
          "requestId": "31e46401-de58-5d7c-a723-171235344a05",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "0500a2d4-9866-5a9a-a88b-5347c38946f2",
            "correlationId": "5fa2216e-6234-5f03-b059-affdc2460430",
            "idempotencyKey": "1a998966-9810-542a-81c7-a7522ffaacce",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-615389"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the billing amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the billing amount is denominated.",
            "example": "string"
          }
        },
        "description": "Details of the billing amount including value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request context.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the billing request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel used for the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., WEB, MOBILE).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details of the channel used for the request including identifiers and type."
      },
      "CreateCorporateBillingResponse_202": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "1529a338-dc80-5171-a93f-930240650e69"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier associated with the request.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference used for tracking the processing of the request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the processing request.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the request processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate billing operations POST request, containing details about the request processing.",
        "example": {
          "requestId": "1529a338-dc80-5171-a93f-930240650e69",
          "supplierId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "77364d81-7235-5d49-8581-0acddf7f447c",
            "correlationId": "5fa2216e-6234-5f03-b059-affdc2460430",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "correlation001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing additional metadata about the processing of a request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "company-billing-and-payments-process-company-billing-and-payments"
        },
        "example": "company-billing-and-payments-process-company-billing-and-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, allowing clients to authenticate by including a JSON Web Token (JWT) in the Authorization header. The JWT serves as a credential to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}