{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Reward By Reward Id-v5-spec",
    "description": "The Banking Operational Services Reward Retrieval API allows users to access detailed information about specific rewards using a unique reward identifier. This API is essential for financial institutions and service providers looking to manage and present rewards to their customers effectively. Typical use cases involve fetching reward details for customer inquiries, promotional campaigns, or reward program management. By integrating this API, developers can enhance user engagement through tailored reward offerings and insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards/{rewardId}": {
      "get": {
        "tags": [
          "Rewards Management"
        ],
        "summary": "Retrieve a specific reward by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific reward identified by its unique ID. This can include information such as the reward name, description, eligibility, and other relevant details.",
        "operationId": "getBankingOperationalServicesRewardByRewardId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/rewardId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the rewards for the specified operational service. It expects a JSON format with specific parameters that identify the service and any other relevant information. Ensure that you follow the schema structure outlined in the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesRewardByRewardIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the reward details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesRewardByRewardIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesRewardByRewardIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request, specified in application/json format.",
        "example": "{}"
      },
      "GetBankingOperationalServicesRewardByRewardIdResponse_200": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "ACC-959048"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-467208"
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity performed for the loyalty account.",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "description": "The number of loyalty points associated with the activity.",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "description": "Code identifying the partner associated with the activity.",
            "example": "CODE-861"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the loyalty account record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the loyalty account operations.",
        "example": {
          "loyaltyAccountId": "ACC-959048",
          "customerId": "CUST-467208",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-861",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a9d576f2-de49-5b50-8624-2f23a47da847",
            "correlationId": "c67143ea-9cc5-5257-ae53-8b13d9efe92f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata information related to the loyalty account response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "rewardId": {
        "name": "rewardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically designed to work with JSON Web Tokens (JWT). This allows for secure transmission of claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}