{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Servicing By Param1-spec",
    "description": "The Banking Servicing Order Retrieval API allows users to access specific servicing order details based on a unique identifier, Param1. This API is designed for banking institutions and financial services looking to streamline servicing operations and enhance customer support systems. Typical consumers include customer service representatives and integrated banking applications that require real-time data on servicing transactions. By leveraging this API, organizations can improve operational efficiency and customer satisfaction through timely servicing information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-order/{param1}": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve a servicing order by its ID.",
        "description": "This endpoint allows you to fetch the details of a specific servicing order using its unique identifier. It provides comprehensive information about the order's status, items, and related data, enabling effective management and tracing of servicing requests.",
        "operationId": "getServicingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Contains the necessary parameters for retrieving the servicing order identified by the specified resource ID. This request body must adhere to the defined JSON schema to ensure that the appropriate data structure is sent for a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the servicing order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on a servicing order.",
        "example": "{}"
      },
      "GetServicingByParam1Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-405118"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case associated with the servicing order.",
            "example": "CASE-867474"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request being serviced.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the servicing order.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the servicing order originated.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the order record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the servicing order.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the order was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the servicing order.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for retrieving servicing order details.",
        "example": {
          "customerId": "CUST-405118",
          "caseId": "CASE-867474",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fd87fe51-8d4a-5a09-8023-9dfc03eb35c0",
            "correlationId": "3043e0b5-b231-5af2-a4ad-e3ae8a49bfeb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs or messages across services.",
            "example": "correlation-43210"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the order took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the servicing order."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-order-get-servicing-order"
        },
        "example": "servicing-order-get-servicing-order"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is included in the HTTP headers. The JWT should be provided by the client to authenticate requests and gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}