{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Notification Subscriptions Webhook By Webhook Id-v5-spec",
    "description": "The Manage Notification Subscriptions API allows users to modify existing notification subscriptions by updating the configuration of a specific webhook identified by its unique ID. This functionality is essential for applications needing to adapt their notification preferences or integrations according to changing business requirements. Typical consumers of this API include developers working on notification management systems and integration solutions that require real-time updates. By enabling precise control over webhook configurations, this API supports seamless updates without disrupting service continuity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}": {
      "put": {
        "tags": [
          "Webhooks Management"
        ],
        "summary": "Update a webhook configuration.",
        "description": "This endpoint allows you to update the configuration of an existing webhook identified by its ID. Make sure to provide the necessary data in the request body to apply the updates effectively.",
        "operationId": "replaceNotificationSubscriptionsWebhookByWebhookId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "description": "This request modifies an existing webhook with the specified identifier. The body should provide the necessary details required to update the webhook's configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceNotificationSubscriptionsWebhookByWebhookIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the webhook configuration has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceNotificationSubscriptionsWebhookByWebhookIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceNotificationSubscriptionsWebhookByWebhookIdRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The endpoint URL to which webhook events are sent.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "A list of events to be subscribed for webhook notifications.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema used for updating webhook configurations.",
        "example": {
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "requestContext": {
            "requestId": "7abdae6a-5cd0-5a79-9156-b453155fa51c",
            "correlationId": "f9b78b60-bcd9-5be7-b71a-4accd52b4153",
            "idempotencyKey": "4ae3fd03-403d-5553-9852-00525442e0b9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-599433"
            }
          }
        }
      },
      "WebhookEvent": {
        "title": "Webhook Event",
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the specific webhook event.",
            "example": "event_12345"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "Order Created"
          },
          "url": {
            "type": "string",
            "description": "The URL endpoint for this specific webhook event.",
            "example": "https://example.com/order-created-webhook"
          },
          "status": {
            "type": "string",
            "description": "The status of the webhook event.",
            "example": "enabled"
          },
          "condition": {
            "$ref": "#/components/schemas/EventCondition"
          }
        },
        "description": "This schema represents an individual webhook event associated with the subscription."
      },
      "WebhookCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "Event status to subscribe for.",
            "example": "status.updated"
          },
          "includes": {
            "type": "array",
            "description": "A list of items to include in the subscription.",
            "items": {
              "type": "string",
              "example": "item1"
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of items to exclude from the subscription.",
            "items": {
              "type": "string",
              "example": "item2"
            }
          }
        },
        "description": "Schema defining the conditions for triggering a webhook event."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency in requests.",
            "example": "idempotency-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "webApp"
          },
          "channel": {
            "description": "Details regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context for the request made to update webhook settings."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, Email).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the specific device used in the channel.",
            "example": "device-12345"
          }
        },
        "description": "Schema defining the communication channel details."
      },
      "ReplaceNotificationSubscriptionsWebhookByWebhookIdResponse_200": {
        "title": "Webhook Response",
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the webhook subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook sends notifications.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "A list of events associated with the webhook subscription.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the webhook subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date and time when the webhook subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for updating a webhook subscription.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "89aa579f-d796-5aba-abbc-f46cd2a84cb8",
            "correlationId": "f9b78b60-bcd9-5be7-b71a-4accd52b4153",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventCondition": {
        "title": "Event Condition",
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The specific event type to subscribe for.",
            "example": "order.created"
          },
          "includes": {
            "type": "array",
            "description": "A list of conditions that must be included for triggering the event.",
            "items": {
              "type": "string",
              "example": "Order ID"
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of conditions that must be excluded for triggering the event.",
            "items": {
              "type": "string",
              "example": "Cancelled Orders"
            }
          }
        },
        "description": "This schema defines the conditions under which the webhook event should be triggered."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier that links related requests and responses.",
            "example": "corr_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the webhook is processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema provides additional metadata related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-webhook-subscription"
        },
        "example": "open-finance-api-update-webhook-subscription"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses bearer tokens, specifically JSON Web Tokens (JWT), to grant access to secured endpoints. Bearer tokens should be included in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}