{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Facility Property Portfolio-spec",
    "description": "This API enables the creation and management of facility property portfolios within the banking sector. Users can initiate the setup of new property portfolios, which serve as a grouping of facilities for effective management and tracking. Typical consumers include financial institutions and property managers who need to organize their property assets strategically. The API allows for streamlined portfolio creation to enhance operational efficiency and support decision-making processes in property management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/property-portfolio": {
      "post": {
        "tags": [
          "Property Management"
        ],
        "summary": "Create a new property portfolio within facilities.",
        "description": "This endpoint allows you to create a new property portfolio in the facilities management system. By providing the necessary details, you can manage your properties effectively, enhancing your portfolio's organization and accessibility.",
        "operationId": "createFacilityPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Contains the details for creating or updating a property portfolio within the facilities management system. The request should include all necessary information according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFacilityPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFacilityPropertyPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFacilityPropertyPortfolioRequest": {
        "title": "Operations Request Body",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-618854"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date and time when the operation is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where the operation will take place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance to be performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating or updating operations in the property portfolio.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-618854",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "requestContext": {
            "requestId": "5e4da40f-29af-520c-85ec-8a325f5c8bdc",
            "correlationId": "5208e878-749a-56d0-82ba-6276a723aad5",
            "idempotencyKey": "11f9d53d-f89a-515b-8c5d-96a75ede5197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-272032"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "This schema defines the communication channel used for the request."
      },
      "CreateFacilityPropertyPortfolioResponse_201": {
        "title": "Facility Operation Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset involved in the operation.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order associated with this operation.",
            "example": "ORD-113652"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor handling the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource being utilized in this operation.",
            "example": "RES-379689"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response_1617"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "correlation_1819"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the operation was processed.",
                "example": "US-West"
              }
            },
            "description": "Additional metadata information related to the operation.",
            "example": {
              "responseId": "6f654414-fccc-5658-a083-69c0db8580de",
              "correlationId": "5208e878-749a-56d0-82ba-6276a723aad5",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the operation of a facility, containing details about the operation's results.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-113652",
          "vendorId": "STANDARD",
          "resourceId": "RES-379689",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6f654414-fccc-5658-a083-69c0db8580de",
            "correlationId": "5208e878-749a-56d0-82ba-6276a723aad5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "property-portfolio-create-property-portfolio"
        },
        "example": "property-portfolio-create-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism with JSON Web Tokens (JWT). It is suitable for securing API endpoints and ensuring that the client provides a valid token for access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}