{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Direction Continuity Planning API",
    "description": "The Business Direction Continuity Planning API enables organizations to effectively manage and remove continuity plans aligned with their business strategy. This API allows users to delete specific continuity planning entries, helping maintain an up-to-date and relevant set of strategies. It is particularly useful for financial institutions and risk management teams as they adjust their operational plans. By streamlining this process, businesses can ensure that their continuity strategies reflect current goals and mitigate potential disruptions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/continuity-planning/{param1}": {
      "delete": {
        "tags": [
          "Business Continuity"
        ],
        "summary": "Remove a specific continuity planning resource.",
        "description": "This operation allows you to delete a specified continuity planning resource identified by its unique ID. Ensure that you want to permanently remove this resource as this action cannot be undone.",
        "operationId": "deleteContinuityPlanningResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to delete a specific continuity planning resource identified by RES-100045. It should contain the necessary parameters for the deletion operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteContinuityPlanningResource100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully deleted.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteContinuityPlanningResource100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "DeleteContinuityPlanningResource100045Request": {
        "type": "string",
        "description": "This schema represents a request body for the DELETE operation concerning continuity planning in business direction.",
        "example": "{}"
      },
      "DeleteContinuityPlanningResource100045Response_201": {
        "title": "Operation Delete Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative related to the operation.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The unique identifier for the sponsor associated with the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource that was operated on.",
            "example": "RES-543783"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation after deletion.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for a successful DELETE operation in the business continuity planning context.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "resourceId": "RES-543783",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a8c19b77-27fe-5b05-b8af-dfed7e9e5c96",
            "correlationId": "1d30ce68-3842-53c7-bffc-c493435253b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique ID to track the correlation between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the operation took place.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata associated with the response of the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "continuity-planning-create-continuity-planning"
        },
        "example": "continuity-planning-create-continuity-planning"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the current workflow being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-088"
        },
        "example": "WF-088"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow currently being executed. This identifier helps in tracking the specific workflow process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Business Continuity Activation and Recovery"
        },
        "example": "Business Continuity Activation and Recovery"
      },
      "X-Workflow-State": {
        "description": "Current state of the workflow execution. Possible values include 'running', 'completed', 'failed'. This helps in assessing the status of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow. This ID can be used to fetch specific execution details and results.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b54db759-b7fe-4978-b129-60dc78f11441"
        },
        "example": "b54db759-b7fe-4978-b129-60dc78f11441"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically formatted as a JSON Web Token (JWT), which is provided in the authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}