{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ACH Operations API",
    "description": "The ACH Operations API facilitates the management of Automated Clearing House (ACH) transactions, providing essential functionalities for checking the status and details of ACH payment operations. This API serves financial institutions and businesses seeking to enhance their payment processing capabilities. Users can retrieve information about various ACH transactions, ensuring smooth payment reconciliation and compliance. Typical consumers include payment processors, banks, and fintech applications that rely on efficient ACH transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/ach-operations": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve ACH Operations",
        "description": "This API endpoint allows users to retrieve a list of ACH operations, providing critical details for each transaction and ensuring effective tracking and management of operations within the payment system.",
        "operationId": "getAchOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for ACH payments. It contains the necessary parameters to retrieve ACH operation information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAchOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the expected data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAchOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAchOperationsRequest": {
        "type": "string",
        "description": "Represents the request body for the operations GET method in ACH payments.",
        "example": "{}"
      },
      "GetAchOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment operations.",
            "example": [
              {
                "paymentId": "PAY-624593",
                "debtorAccountId": "ACC-875037",
                "creditorAccountId": "ACC-647567",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for ACH operations GET request, including a list of payments and pagination details.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-624593",
              "debtorAccountId": "ACC-875037",
              "creditorAccountId": "ACC-647567",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "dac51e0e-6f95-5fd2-80f4-c3903ec6b254",
            "correlationId": "5177304c-ac75-5b36-b54a-b91f06934d78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentOperation": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account ID of the debtor."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account ID of the creditor."
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the payment record."
          }
        },
        "description": "Represents a single payment operation with relevant details."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount to be processed."
          },
          "currency": {
            "type": "string",
            "description": "Currency code in which the amount is specified."
          }
        },
        "description": "Holds the instructed amount and its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated result.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata of the response containing IDs and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ach-operations-search-ach-operations"
        },
        "example": "ach-operations-search-ach-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which requires a token to be sent in the Authorization header using the format 'Bearer {token}'. The token is expected to be a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}