{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Issued Device Status Update API",
    "description": "The Issued Device Status Update API allows businesses to modify the status or details of devices that have been issued to employees or clients. This endpoint is essential for organizations that need to maintain accurate records of device allocations and facilitate updates as circumstances change. Typical consumers include IT departments and asset management teams who manage device inventories. Through this API, users can perform essential updates efficiently to ensure that device tracking information remains current and reliable.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-tracking/{param1}": {
      "patch": {
        "tags": [
          "Device Management"
        ],
        "summary": "Update issued device tracking information.",
        "description": "This endpoint allows you to update the tracking information of an issued device identified by the specified resource ID. Use this operation to modify the current tracking status and additional details pertaining to the device.",
        "operationId": "patchIssuedDeviceTrackingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the issued device tracking information for the specified resource. Ensure that the payload adheres to the schema defined for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchIssuedDeviceTrackingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchIssuedDeviceTrackingRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchIssuedDeviceTrackingRes100045Request": {
        "title": "PATCH Request Body for Issued Device Tracking",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details about the changes being made to the device.",
            "$ref": "#/components/schemas/DeviceChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body structure for updating the issued device tracking information.",
        "example": {
          "changes": {
            "deviceId": "DEV-567363",
            "deviceType": "STANDARD",
            "assignedPartyId": "PARTY-301189"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2f456e13-8b1e-5108-8d65-07a76042bbc5",
            "correlationId": "c3c76640-82c3-5240-acae-0c8f6af23c8b",
            "idempotencyKey": "4cf92d62-e118-5da6-922b-af5a8810997e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-827079"
            }
          }
        }
      },
      "DeviceChangeDetails": {
        "title": "Device Change Details",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device.",
            "example": "device-456"
          },
          "deviceType": {
            "type": "string",
            "description": "Type of the device.",
            "example": "smartphone"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "Identifier of the party to whom the device is assigned.",
            "example": "party-789"
          }
        },
        "description": "Schema that describes the specific changes to a device."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency for the request.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-15T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "inventory-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "device-management-app"
          },
          "channel": {
            "description": "Information related to the channel from which the request was sent.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema that encapsulates metadata related to the API request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Device identifier associated with the channel.",
            "example": "device-456"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "PatchIssuedDeviceTrackingRes100045Response_200": {
        "title": "Device Tracking Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response, indicating the result of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the response structure for the PATCH operation in the issued device tracking service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cf011153-aabe-5b11-aaca-3b8f0ecff947",
            "correlationId": "c3c76640-82c3-5240-acae-0c8f6af23c8b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema representing the metadata information pertaining to the device tracking response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-tracking-update-issued-device-tracking"
        },
        "example": "issued-device-tracking-update-issued-device-tracking"
      },
      "x-runtime-app": {
        "description": "The name of the application that is responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer token authentication. The client must provide a valid JWT (JSON Web Token) as a token in the Authorization header when making requests to secure endpoints. This token is used to authenticate the user and ensure that they have the appropriate permissions to access the requested resource.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}