{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Aisp By Account Id-spec",
    "description": "The Retrieve AISP Account Details API allows users to access detailed information about an Account Information Service Provider (AISP) linked to a specific account ID. This endpoint is designed for financial institutions and third-party providers looking to enhance their services by retrieving up-to-date account information. By querying this API, developers can integrate account details into their applications, facilitating better financial management for end-users. Typical use cases include personal finance apps, budgeting tools, and financial data aggregation services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}": {
      "get": {
        "tags": [
          "Accounts Management"
        ],
        "summary": "Retrieve account details",
        "description": "This endpoint allows users to retrieve detailed information about a specific account identified by its unique account number. The data returned will include account balances, transactions, and other relevant details.",
        "operationId": "getAispByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving account details for the specified account ID (ACC-200045). This body should contain the necessary information to execute the request without featuring any parameters. It adheres to the application's data schema requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispByAccountIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the accounts endpoint for account number ACC-200045.",
        "example": "{}"
      },
      "GetAispByAccountIdResponse_200": {
        "title": "Account Operations Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "array",
                "description": "List of accounts associated with the user.",
                "items": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            },
            "description": "Container for account data returned by the operation.",
            "example": {
              "Account": [
                {
                  "id": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "Currency": "USD",
                  "category": "STANDARD",
                  "typeCode": "CODE-839",
                  "Description": "Customer banking request processed successfully",
                  "Nickname": "Northstar Banking Service",
                  "OpeningDate": "2026-09-15",
                  "MaturityDate": "2026-09-15",
                  "SwitchStatus": "ACTIVE",
                  "Account": [
                    {
                      "SchemeName": "Northstar Banking Service",
                      "Identification": "STANDARD",
                      "Name": "Northstar Banking Service",
                      "LEI": "STANDARD",
                      "SecondaryIdentification": "STANDARD"
                    }
                  ],
                  "StatementFrequencyAndFormat": [
                    {
                      "Frequency": "STANDARD",
                      "CommunicationMethod": "STANDARD",
                      "Format": "STANDARD",
                      "DeliveryAddress": {
                        "AddressType": "STANDARD",
                        "Department": "STANDARD",
                        "SubDepartment": "STANDARD",
                        "StreetName": "Northstar Banking Service",
                        "BuildingNumber": "STANDARD",
                        "BuildingName": "Northstar Banking Service",
                        "Floor": "STANDARD",
                        "UnitNumber": "STANDARD",
                        "Room": "STANDARD",
                        "PostBox": "STANDARD",
                        "TownLocationName": "Northstar Banking Service",
                        "DistrictName": "Northstar Banking Service",
                        "CareOf": "STANDARD",
                        "PostCode": "CODE-406",
                        "TownName": "Northstar Banking Service",
                        "CountrySubDivision": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracing the request."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place."
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "1a85185b-49ce-57b7-97fa-652198314be1",
              "correlationId": "c81f0fc5-4be5-5fbf-964f-f467755cf484",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for account operations.",
        "example": {
          "Data": {
            "Account": [
              {
                "id": "STANDARD",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "Currency": "USD",
                "category": "STANDARD",
                "typeCode": "CODE-839",
                "Description": "Customer banking request processed successfully",
                "Nickname": "Northstar Banking Service",
                "OpeningDate": "2026-09-15",
                "MaturityDate": "2026-09-15",
                "SwitchStatus": "ACTIVE",
                "Account": [
                  {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "LEI": "STANDARD",
                    "SecondaryIdentification": "STANDARD"
                  }
                ],
                "StatementFrequencyAndFormat": [
                  {
                    "Frequency": "STANDARD",
                    "CommunicationMethod": "STANDARD",
                    "Format": "STANDARD",
                    "DeliveryAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-406",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "1a85185b-49ce-57b7-97fa-652198314be1",
            "correlationId": "c81f0fc5-4be5-5fbf-964f-f467755cf484",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the account."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated."
          },
          "Currency": {
            "type": "string",
            "description": "The currency type of the account."
          },
          "category": {
            "type": "string",
            "description": "The category of the account."
          },
          "typeCode": {
            "type": "string",
            "description": "Code representing the type of account."
          },
          "Description": {
            "type": "string",
            "description": "Description of the account."
          },
          "Nickname": {
            "type": "string",
            "description": "User-defined nickname for the account."
          },
          "OpeningDate": {
            "type": "string",
            "description": "Date when the account was opened."
          },
          "MaturityDate": {
            "type": "string",
            "description": "Date when the account matures, if applicable."
          },
          "SwitchStatus": {
            "type": "string",
            "description": "The status of any switch services on the account."
          },
          "StatementFrequencyAndFormat": {
            "type": "array",
            "description": "List of preferences for statement frequency and format.",
            "items": {
              "$ref": "#/components/schemas/StatementPreference"
            }
          }
        },
        "description": "Detailed information about a specific account."
      },
      "StatementPreference": {
        "title": "Statement Preference",
        "type": "object",
        "properties": {
          "Frequency": {
            "type": "string",
            "description": "Frequency of the statements (e.g., monthly, quarterly)."
          },
          "CommunicationMethod": {
            "type": "string",
            "description": "Method of communication for statements (e.g., email, post)."
          },
          "Format": {
            "type": "string",
            "description": "Format in which statements are delivered (e.g., PDF, HTML)."
          },
          "DeliveryAddress": {
            "type": "object",
            "properties": {
              "AddressType": {
                "type": "string",
                "description": "Type of address (e.g., home, business)."
              },
              "Department": {
                "type": "string",
                "description": "Department for delivery, if applicable."
              },
              "SubDepartment": {
                "type": "string",
                "description": "Sub-department for delivery, if applicable."
              },
              "StreetName": {
                "type": "string",
                "description": "Name of the street for the delivery address."
              },
              "BuildingNumber": {
                "type": "string",
                "description": "Building number for the delivery address."
              },
              "BuildingName": {
                "type": "string",
                "description": "Name of the building for the delivery address."
              },
              "Floor": {
                "type": "string",
                "description": "Floor number for the delivery address."
              },
              "UnitNumber": {
                "type": "string",
                "description": "Unit number for the delivery address."
              },
              "Room": {
                "type": "string",
                "description": "Room number for the delivery address."
              },
              "PostBox": {
                "type": "string",
                "description": "Post box number for the delivery address."
              },
              "TownLocationName": {
                "type": "string",
                "description": "Name of the town location."
              },
              "DistrictName": {
                "type": "string",
                "description": "Name of the district."
              },
              "CareOf": {
                "type": "string",
                "description": "Care of name for delivery, if applicable."
              },
              "PostCode": {
                "type": "string",
                "description": "Postal code for the delivery address."
              },
              "TownName": {
                "type": "string",
                "description": "Name of the town."
              },
              "CountrySubDivision": {
                "type": "string",
                "description": "Sub-division of the country for delivery."
              }
            },
            "description": "Address where statements will be delivered."
          }
        },
        "description": "Preferences for how account statements should be delivered."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id"
        },
        "example": "accounts-api-get-accounts-account-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) via the Bearer authentication mechanism. Clients must include the JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}