{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Capture API",
    "description": "The Card Capture API enables businesses to seamlessly retrieve captured card data for processing and analysis. This endpoint provides access to vital information about card transactions, enabling users to verify transaction details and improve financial operations. It is particularly useful for banking institutions and payment processors that require quick access to card capture records. Developers can integrate this API to enhance transaction management within their applications and streamline reporting processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-capture": {
      "get": {
        "tags": [
          "Card Operations"
        ],
        "summary": "Retrieve card capture details",
        "description": "This endpoint allows you to fetch detailed information about a specific card capture, including its status and associated data.",
        "operationId": "getCardCapture",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating the card capture operation. This request expects a JSON payload that conforms to the specified schema, which includes necessary details for the card capture process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCaptureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the card capture details are returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCaptureResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCaptureRequest": {
        "type": "string",
        "description": "This schema represents the string payload for the GET request body in the card capture operation.",
        "example": "{}"
      },
      "GetCardCaptureResponse_200": {
        "title": "Card Capture Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of captured card details.",
            "example": [
              {
                "cardToken": "TOK-214323",
                "cardholderId": "STANDARD",
                "merchantId": "MER-961288",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardCaptureItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the card capture operation which includes the items captured, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-214323",
              "cardholderId": "STANDARD",
              "merchantId": "MER-961288",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "18f7757d-195c-5193-adb7-753831110149",
            "correlationId": "bb1f5706-9786-5f4b-bf07-6413d971db8a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCaptureItem": {
        "title": "Card Capture Item",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique token associated with the card.",
            "example": "string"
          },
          "cardholderId": {
            "type": "string",
            "description": "The ID of the cardholder.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "The ID of the merchant associated with the transaction.",
            "example": "string"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code for the merchant.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Details about a single card capture entry."
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The numerical value of the transaction amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is specified.",
            "example": "string"
          }
        },
        "description": "The amount involved in the transaction along with its currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of the page indicating how many results per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Provides pagination details for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate this response with a request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-capture-search-card-capture"
        },
        "example": "card-capture-search-card-capture"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication scheme using JSON Web Tokens (JWT). This method involves the use of tokens that are generated for a specific user and must be included in the Authorization header of each request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}