{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Deposit Switches API",
    "description": "The Deposit Switches API provides a mechanism for retrieving the status and settings of deposit switches associated with external transactions. By using this endpoint, businesses can check whether specific deposit options are enabled or disabled based on the provided external ID. This is particularly useful for financial institutions and payment service providers looking to integrate and offer diverse deposit functionalities to their clients. Typical use cases include verifying deposit switch settings prior to processing transactions or for auditing purposes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/externals/{externalId}/deposit-switches": {
      "get": {
        "tags": [
          "Deposit Management"
        ],
        "summary": "Retrieve deposit switches for a specific external resource.",
        "description": "This endpoint allows developers to fetch the deposit switches associated with the external resource identified by RES-100045. Use this to obtain detailed information about the deposit configurations.",
        "operationId": "getDepositSwitchesByExternalRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/externalId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving deposit switch information for the external service identified by RES-100045. The content type is application/json and should comply with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositSwitchesByExternalRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the deposit switches.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositSwitchesByExternalRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositSwitchesByExternalRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for the GET operation regarding deposit switches.",
        "example": "{}"
      },
      "GetDepositSwitchesByExternalRes100045Response_200": {
        "type": "object",
        "properties": {
          "externalId": {
            "type": "string",
            "description": "A unique identifier for the external resource.",
            "example": "STANDARD"
          },
          "switches": {
            "type": "array",
            "description": "A list of switches associated with the external resource.",
            "example": [
              {
                "id": "STANDARD",
                "status": "ACTIVE",
                "failureReason": "STANDARD",
                "createdDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Switch"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the deposit switches operation.",
        "example": {
          "externalId": "STANDARD",
          "switches": [
            {
              "id": "STANDARD",
              "status": "ACTIVE",
              "failureReason": "STANDARD",
              "createdDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "4020c73c-f1b6-5edb-96aa-48cc368246ee",
            "correlationId": "e16769ac-57da-5f17-bcee-b2dc6a8f2ed9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Switch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the switch.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the switch.",
            "example": "string"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for failure if the switch is not operational.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the switch was created.",
            "example": "string"
          }
        },
        "description": "Schema representing a switch with its attributes."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "externalId": {
        "name": "externalId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-external-deposit-switches"
        },
        "example": "open-finance-api-get-all-external-deposit-switches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format with JSON Web Tokens (JWT) for authentication. Clients should include this token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}