{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Balance Sheet Management API",
    "description": "The Balance Sheet Management API provides financial institutions with the capability to access and manage their balance sheet data efficiently. This API allows stakeholders to retrieve detailed information about assets and liabilities, ensuring informed decision-making for liquidity and risk management. Typical consumers include treasury analysts and financial managers who utilize this data for regulatory compliance and strategic planning. By leveraging this API, businesses can streamline financial reporting and enhance their overall financial oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/balance-sheet-management": {
      "get": {
        "tags": [
          "Treasury Operations"
        ],
        "summary": "Retrieve the balance sheet management details.",
        "description": "Fetch the current balance sheet management data, including assets, liabilities, and equity. This endpoint provides insights for financial analysis and decision-making.",
        "operationId": "getTreasuryBalanceSheetManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the balance sheet management information for the treasury. It should include all necessary parameters required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTreasuryBalanceSheetManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the balance sheet data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTreasuryBalanceSheetManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTreasuryBalanceSheetManagementRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the balance sheet management operations in the treasury module.",
        "example": "{}"
      },
      "GetTreasuryBalanceSheetManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of balance sheet items.",
            "example": [
              {
                "portfolioId": "PORT-121771",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-839934",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BalanceSheetItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of balance sheet management.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-121771",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-839934",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6c1a2de2-bb9d-551b-909b-2a77c115123a",
            "correlationId": "a0e40343-d9aa-560d-9b01-fc3630a39cc3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BalanceSheetItem": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "string"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the financial instrument matures.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Individual item in the balance sheet."
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Numerical value representing the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          }
        },
        "description": "Representation of a notional amount along with its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information regarding pagination of results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This helps in tracking which endpoint was used during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-and-liability-management-search-asset-and-liability-management"
        },
        "example": "asset-and-liability-management-search-asset-and-liability-management"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. Useful for identifying the application context of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, where the client must provide a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}