{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create External Agency Product Service Agency-spec",
    "description": "This API facilitates the creation and management of external agency product services within the banking domain. It allows users to define and upload new product service details for external agencies. Typical consumers include banking staff and system integrators who manage partnerships with external agencies. By using this API, developers can streamline the process of integrating and offering diverse product services to agency partners.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-service-agency": {
      "post": {
        "tags": [
          "Product Service Agency"
        ],
        "summary": "Create a new product service agency.",
        "description": "This endpoint allows users to create a new product service agency in the external agency system. Provide the necessary details in the request body to successfully create the agency.",
        "operationId": "createExternalAgencyProductServiceAgency",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new product service agency. This payload must adhere to the defined schema and include all necessary properties for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencyProductServiceAgencyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencyProductServiceAgencyResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencyProductServiceAgencyRequest": {
        "title": "Request Body for Product Service Agency Operations",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement related to the operation.",
            "example": "AGR-371520"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 code of the country.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the agreement is effective, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "The context of the request containing details about the transaction.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for initiating operations in the product service agency context.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-371520",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "6372e142-b45d-5cbf-8968-701a8312ede2",
            "correlationId": "ac10815b-78e6-566a-864d-1c091ae23b2f",
            "idempotencyKey": "b64f8e1c-5d89-5ea8-ab03-9a024ba57d48",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-481339"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace requests across systems.",
            "example": "correlation-321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent operations.",
            "example": "unique-key-654"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system from which the request originated.",
            "example": "ProductPortal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application name sending the request.",
            "example": "ProductApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context information for the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the transaction (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-abc"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateExternalAgencyProductServiceAgencyResponse_201": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-311348"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code associated with the operation.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-471506"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the external agency product service operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-311348",
          "countryCode": "US",
          "resourceId": "RES-471506",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af8698c5-e6a4-58d1-86ed-3fc89c98ba49",
            "correlationId": "ac10815b-78e6-566a-864d-1c091ae23b2f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing operational details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called, useful for logging and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-service-agency-create-product-service-agency"
        },
        "example": "product-service-agency-create-product-service-agency"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment that processed the request, helpful for identifying the source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where the client must provide a JWT (JSON Web Token) in the Authorization header for API access. The token should be preceded by the keyword 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}