{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Accounting Compliance API",
    "description": "The Financial Accounting Compliance API provides seamless access to critical financial accounting data necessary for compliance with regulatory standards. This endpoint allows users to retrieve detailed accounting information, ensuring that organizations maintain transparency and adhere to legal requirements. Typically utilized by compliance officers and financial analysts, this API supports audits, reporting, and risk assessment activities. By leveraging this service, businesses can enhance their compliance strategies and safeguard their financial integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-accounting/{param1}": {
      "get": {
        "tags": [
          "Financial Compliance"
        ],
        "summary": "Retrieve financial accounting details for ACC-200045",
        "description": "This endpoint allows users to access the financial accounting information associated with the specified account ID (ACC-200045). It provides detailed insights into the compliance status and relevant financial data, facilitating informed decision-making.",
        "operationId": "getComplianceFinancialAccountingAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial accounting information for the specified account. It contains necessary parameters to fetch the relevant data based on the unique identifier provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceFinancialAccountingAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved financial accounting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceFinancialAccountingAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceFinancialAccountingAcc200045Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for the ACC-200045 operation in a financial accounting context.",
        "example": "{}"
      },
      "GetComplianceFinancialAccountingAcc200045Response_200": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction associated with the submission.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the submission.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the submission is made.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for submission compliance.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the submission.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the submission was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the submission, including identifiers and timestamps.",
            "$ref": "#/components/schemas/SubmissionMetadata"
          }
        },
        "description": "Response schema for the financial accounting submission operations.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9cc35fe8-07ab-530a-8e47-7cfe78d3bf5a",
            "correlationId": "aebc61be-8892-5e0f-b6f7-46f6be1f890b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SubmissionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request through various systems.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-10T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the submission was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This header is crucial for tracing and auditing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-accounting-get-financial-accounting"
        },
        "example": "financial-accounting-get-financial-accounting"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request. This header helps in identifying the source of the response in a multi-service architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, which is typically a JSON Web Token (JWT). It is used to secure API endpoints by requiring a valid token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}