{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Business Control Organization Direction-v5-spec",
    "description": "This API enables the creation of organizational direction within banking business control frameworks. It provides endpoints for defining the strategic and operational positions of various business units, facilitating enhanced governance and risk management. Key users include financial institutions and corporate strategy teams seeking to align their operations with regulatory standards and internal policies. By leveraging this API, organizations can effectively manage and document their organizational directives, ensuring clarity and compliance in their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/organization-direction": {
      "post": {
        "tags": [
          "Business Management"
        ],
        "summary": "Create a new organization direction.",
        "description": "This endpoint allows you to create a new organization direction by providing the necessary details. Use this to effectively establish guidance and strategic direction for your organization.",
        "operationId": "createBankingBusinessControlOrganizationDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update the organizational direction within a business control system. It contains necessary details for the operation, adhering to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingBusinessControlOrganizationDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The organization direction resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingBusinessControlOrganizationDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingBusinessControlOrganizationDirectionRequest": {
        "title": "Organization Operations Request Body",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The ID of the business unit involved in the operation.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the operation.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for which the operation is being reported.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "The budget details for the operation.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "The version of the forecast that this operation is associated with.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for posting organization operations data.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "requestContext": {
            "requestId": "cefc7855-528c-5a8b-8729-ffb86aeeb621",
            "correlationId": "91006d1f-0888-51a4-9a8a-d5e7409d4839",
            "idempotencyKey": "1dea524f-c769-5db0-a5d3-080f9f63bc0b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-396508"
            }
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the budget.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema that represents the budget details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "CORR123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of requests.",
            "example": "IDEMP123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that provides context for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request was made.",
            "example": "DEV456"
          }
        },
        "description": "Schema that represents information about the request channel."
      },
      "CreateBankingBusinessControlOrganizationDirectionResponse_201": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the operation.",
            "example": "RES-994599"
          },
          "status": {
            "type": "string",
            "description": "Status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation related to organization direction in business control.",
        "example": {
          "businessUnitId": "STANDARD",
          "resourceId": "RES-994599",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "06d04de4-8bbf-5707-90c4-0419b30ecf0d",
            "correlationId": "91006d1f-0888-51a4-9a8a-d5e7409d4839",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the correlation between requests and responses.",
            "example": "corr-101"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-04T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response, containing additional contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "organization-direction-create-organization-direction"
        },
        "example": "organization-direction-create-organization-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a JSON Web Token (JWT) is provided in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}