{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Notional Poolings-spec",
    "description": "The Notional Pooling Listing API provides access to a comprehensive list of trade banking notional poolings, enabling users to view and analyze pooling arrangements across different accounts. This API is essential for financial institutions looking to optimize cash management and liquidity while facilitating inter-company financing solutions. Typical consumers include treasury departments and financial analysts who require insights into notional pooling arrangements for strategic decision-making. Through this endpoint, users can efficiently retrieve detailed information on available pooling options and their respective terms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve Notional Pooling Information",
        "description": "This endpoint allows users to retrieve detailed information regarding notional pooling services in trade banking. Notional pooling is a financing arrangement where multiple accounts are aggregated for interest calculations, improving cash management efficiency.",
        "operationId": "listTradeBankingNotionalPoolings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving notional pooling operations in trade banking. This request body contains parameters necessary for the API to process the request and return the relevant notional pooling information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingNotionalPoolingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingNotionalPoolingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingNotionalPoolingsRequest": {
        "type": "string",
        "description": "Represents the request body for the Notional Pooling Operations GET request in the Trade Banking service.",
        "example": "{}"
      },
      "ListTradeBankingNotionalPoolingsResponse_200": {
        "title": "Notional Pooling Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of notional pooling items.",
            "example": [
              {
                "poolId": "STANDARD",
                "headerAccountId": "ACC-414410",
                "participantAccountIds": [
                  "ACC-554861"
                ],
                "currency": "USD",
                "sweepFrequency": "STANDARD",
                "targetBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/NotionalPoolingItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Notional Pooling GET operations, containing an array of notional pooling items along with pagination and metadata details.",
        "example": {
          "items": [
            {
              "poolId": "STANDARD",
              "headerAccountId": "ACC-414410",
              "participantAccountIds": [
                "ACC-554861"
              ],
              "currency": "USD",
              "sweepFrequency": "STANDARD",
              "targetBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "67214387-307a-51d5-b099-0b2663c5fa0a",
            "correlationId": "050824ca-0000-5571-b37b-e7af51032f83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NotionalPoolingItem": {
        "title": "Notional Pooling Item",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Unique identifier for the notional pool."
          },
          "headerAccountId": {
            "type": "string",
            "description": "The ID of the header account associated with the notional pool."
          },
          "participantAccountIds": {
            "type": "array",
            "description": "List of participant account IDs in the notional pool.",
            "items": {
              "type": "string",
              "description": "ID of a participant account."
            }
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the notional pool."
          },
          "sweepFrequency": {
            "type": "string",
            "description": "Frequency at which balancing sweeps are conducted."
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance for the notional pool."
          },
          "recordStatus": {
            "type": "string",
            "description": "Indicates the current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          }
        },
        "description": "Schema representing a single notional pooling item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page - number of items on a single page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for responses containing lists."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier of the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-search-notional-pooling"
        },
        "example": "notional-pooling-search-notional-pooling"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}