{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Diagnosis Reviews API",
    "description": "The Fraud Diagnosis Reviews API enables the submission of reviews related to fraud diagnosis for banking accounts. This endpoint allows users to provide feedback or assessment on detected fraud cases, enhancing the overall fraud management process. Typical consumers include risk management teams and fraud analysts who require a streamlined way to document and analyze reviews on fraud incidents. Utilizing this API supports the goal of improving fraud detection and response strategies within financial institutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis/{param1}/reviews": {
      "post": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Submit a review for a fraud diagnosis.",
        "description": "This endpoint allows users to submit reviews regarding a specific fraud diagnosis associated with a given account. Reviews can help improve the quality of diagnosis and provide valuable feedback from users.",
        "operationId": "createFraudDiagnosisReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data for submitting a review for the fraud diagnosis of a specific account. It should include all required fields in the specified schema to ensure proper processing. Please refer to the schema definition for detailed structure and expected content.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudDiagnosisReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudDiagnosisReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFraudDiagnosisReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, represented as an array of strings.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An item representing a specific aspect or feature under review.",
              "example": "string"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review process.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Information regarding the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "0cfa8565-b81b-5a43-b1c5-f1b033f713f0",
            "correlationId": "7e6e2148-588c-51a0-8c0c-d9d06564bd2f",
            "idempotencyKey": "4a64ef03-559e-54ff-ad7e-27a310547092",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-685562"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g. web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        }
      },
      "CreateFraudDiagnosisReviewResponse_202": {
        "title": "Fraud Diagnosis Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken in the fraud diagnosis.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed during the fraud diagnosis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the fraud diagnosis operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp for when the processing was completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FraudDiagnosisMetadata"
          }
        },
        "description": "This schema represents the response structure for the fraud diagnosis operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6c358490-2895-59aa-81e2-3b2501e0d573",
            "correlationId": "7e6e2148-588c-51a0-8c0c-d9d06564bd2f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudDiagnosisMetadata": {
        "title": "Fraud Diagnosis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating this response with other related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was carried out.",
            "example": "string"
          }
        },
        "description": "This schema represents additional metadata related to the fraud diagnosis response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-047"
        },
        "example": "WF-047"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "085a841d-949a-4f3c-b50c-a3266c13f3e5"
        },
        "example": "085a841d-949a-4f3c-b50c-a3266c13f3e5"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "17b77457-c136-4597-b115-af36a3e8790b"
        },
        "example": "17b77457-c136-4597-b115-af36a3e8790b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-review-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-review-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow that was executed in processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-047"
        },
        "example": "WF-047"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow currently being executed, which can help in identifying the operation context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Fraud Investigation and Recovery"
        },
        "example": "Card Fraud Investigation and Recovery"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and tracing workflow instances.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "17b77457-c136-4597-b115-af36a3e8790b"
        },
        "example": "17b77457-c136-4597-b115-af36a3e8790b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is required to access protected resources. It's essential to send the token in the Authorization header of your requests, prefixed by 'Bearer '. Ensure the token is valid and has not expired for successful authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}