{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Business Control Organization Direction By Organization Direction Id-v5-spec",
    "description": "This API allows users to retrieve detailed information about a specific Banking Business Control Organization Direction using its unique identifier. It supports financial institutions and banking professionals in accessing crucial organizational data necessary for analysis and decision-making. Typical consumers include auditors, compliance officers, and business analysts seeking to ensure adherence to organizational policies and regulations. By providing targeted insights, this API enhances operational transparency and fosters compliance with industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/organization-direction/{organizationDirectionId}": {
      "get": {
        "tags": [
          "Organization Management"
        ],
        "summary": "Retrieve Organization Direction Details",
        "description": "This endpoint allows users to retrieve detailed information about a specific organization direction identified by RES-100045. It provides critical insights into the organization's strategic direction and management.",
        "operationId": "getBankingBusinessControlOrganizationDirectionByOrganizationDirectionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/organizationDirectionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving the organization direction information related to the specified resource ID. It should be formatted as a JSON object conforming to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingBusinessControlOrganizationDirectionByOrganizationDirectionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of organization direction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingBusinessControlOrganizationDirectionByOrganizationDirectionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingBusinessControlOrganizationDirectionByOrganizationDirectionIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request under the specified business control organization direction.",
        "example": "{}"
      },
      "GetBankingBusinessControlOrganizationDirectionByOrganizationDirectionIdResponse_200": {
        "title": "Operations Response Schema",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the operation.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The period for which the planning is applicable.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "Budget details associated with the operation.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast being used.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the Operations API call.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1f41ab27-3881-549b-88d2-cfddab42e3ad",
            "correlationId": "70aefad1-ce87-511a-8211-25f82b5e9a67",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget Schema",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount allocated in the budget.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget amount is expressed.",
            "example": "string"
          }
        },
        "description": "Schema for the budget details associated with an operation."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "organizationDirectionId": {
        "name": "organizationDirectionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This ID helps track the usage and performance of this specific endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "organization-direction-get-organization-direction"
        },
        "example": "organization-direction-get-organization-direction"
      },
      "X-Runtime-App": {
        "description": "This header indicates the specific runtime application that processed the request. It is useful for debugging and performance evaluation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method in which a valid JSON Web Token (JWT) is provided in the Authorization header for API access. The token should be prefixed with the keyword 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}