{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Enterprise Services Legal Compliance Status-v5-spec",
    "description": "The Banking Enterprise Services Legal Compliance Status API provides access to the current compliance status of various banking services within the enterprise context. This API serves financial institutions and regulatory entities by offering insights into legal compliance across services, ensuring adherence to industry standards and regulations. Consumers can utilize this API for monitoring, reporting, and ensuring readiness for audits or compliance checks. Developers can integrate this into compliance management systems or reporting tools for seamless oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-compliance/status": {
      "get": {
        "tags": [
          "Legal Compliance"
        ],
        "summary": "Retrieve the current legal compliance status.",
        "description": "This endpoint allows users to fetch the current status of legal compliance for the enterprise services. It provides insights into ongoing compliance measures and identifies any areas that may require attention.",
        "operationId": "listBankingEnterpriseServicesLegalComplianceStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the legal compliance status. This body should be constructed according to the specified schema to ensure accurate processing and response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingEnterpriseServicesLegalComplianceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the legal compliance status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingEnterpriseServicesLegalComplianceStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingEnterpriseServicesLegalComplianceStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on legal compliance status in the enterprise services. It is a string type that can include various statuses.",
        "example": "{}"
      },
      "ListBankingEnterpriseServicesLegalComplianceStatusResponse_200": {
        "title": "Legal Compliance Status Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The compliance framework being followed.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date for the engagement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the engagement in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the engagement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the engagement record in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-789"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking requests.",
                "example": "correlation-abc"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated in ISO 8601 format.",
                "example": "2023-09-15T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "6471ad7b-a39b-520e-af2f-2e883cf527d6",
              "correlationId": "ac41f806-baa7-5c2c-a8cb-4b659dc7f9be",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the legal compliance status retrieval operation.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6471ad7b-a39b-520e-af2f-2e883cf527d6",
            "correlationId": "ac41f806-baa7-5c2c-a8cb-4b659dc7f9be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This can be used for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-compliance-get-legal-compliance"
        },
        "example": "legal-compliance-get-legal-compliance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. Useful for identifying the service handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a JSON Web Token (JWT) as a bearer token. This token should be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}