{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Fiduciary Agreements-spec",
    "description": "The Deposit Lending Fiduciary Agreements API provides users with access to detailed information about fiduciary agreements related to deposit lending. This endpoint allows consumers, such as financial institutions and developers, to retrieve a comprehensive list of fiduciary agreements, facilitating compliance, record-keeping, and decision-making processes. Typical use cases include loan management, auditing, and regulatory reporting. With this API, users can efficiently gather essential data to support their banking and financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve a fiduciary agreement in deposit lending.",
        "description": "This endpoint allows users to retrieve details of a fiduciary agreement related to deposit lending. It provides the necessary information for understanding the terms and conditions associated with such agreements, ensuring that users can make informed decisions.",
        "operationId": "listDepositLendingFiduciaryAgreements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request for details regarding the fiduciary agreement associated with deposit lending. This request may include various parameters relating to the client's account or agreement specifics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingFiduciaryAgreementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the fiduciary agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingFiduciaryAgreementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingFiduciaryAgreementsRequest": {
        "title": "Fiduciary Agreement Operations Request Body",
        "type": "string",
        "description": "This schema describes the request body for the Fiduciary Agreement Operations GET request.",
        "example": "{}"
      },
      "ListDepositLendingFiduciaryAgreementsResponse_200": {
        "title": "Deposit Lending Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of deposit lending fiduciary agreement items.",
            "example": [
              {
                "customerId": "CUST-674052",
                "accountId": "ACC-882775",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FiduciaryAgreementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving deposit lending fiduciary agreements, which includes the list of items, pagination information, sorting criteria, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-674052",
              "accountId": "ACC-882775",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "20741c1f-a541-5e6a-acc3-1ac2059e68b3",
            "correlationId": "347a3970-ae6b-550a-8016-8bd4c099d76f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FiduciaryAgreementItem": {
        "title": "Fiduciary Agreement Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the fiduciary agreement.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the agreement in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, quarterly).",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the agreement item.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual fiduciary agreement item."
      },
      "Principal": {
        "title": "Principal Amount and Currency",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount and its currency."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema providing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being called. This helps track the specific request in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-search-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-search-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime environment of the application processing the request. Useful for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that utilizes Bearer tokens in HTTP headers. The tokens should be formatted as JSON Web Tokens (JWT), enabling secure access to resources by confirming the identity of the client.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}