{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Eligibility Lookup API",
    "description": "The Product Eligibility Lookup API allows businesses to determine the eligibility of customers for various banking products. By querying this API with customer-specific parameters, users can retrieve relevant product eligibility information quickly and efficiently. This service is essential for financial institutions and customer service representatives who need to assess product offerings for prospective customers. It supports customization of banking products based on individual customer profiles and enhances decision-making in customer management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/product-eligibilities/{param1}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Product Eligibility for a Customer",
        "description": "This endpoint allows you to fetch the product eligibility details for a specific customer identified by their unique ID. The response provides information on which products the customer is eligible for based on various criteria.",
        "operationId": "getProductEligibilityForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve product eligibility details for a specific customer identified by CUST-100045. The request body should conform to the defined schema and include any necessary identifiers or filters if applicable.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductEligibilityForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, returning the product eligibility details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductEligibilityForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductEligibilityForCustomerRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to product eligibility in the customer management context.",
        "example": "{}"
      },
      "GetProductEligibilityForCustomerResponse_200": {
        "title": "Product Eligibility Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-489005"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party associated with the customer.",
            "example": "PARTY-390962"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product for which eligibility is being checked.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product eligibility is effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship the customer has, which may affect product eligibility.",
            "example": "GOLD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating whether it is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the eligibility record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the eligibility record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the eligibility response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a product eligibility request, including customer details, product information, and metadata.",
        "example": {
          "customerId": "CUST-489005",
          "partyId": "PARTY-390962",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3a6db4f8-854a-517a-a285-21e29bd863d7",
            "correlationId": "ab742853-60c1-5761-bb9c-e959f298d5f2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request through the system.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the product eligibility response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked, useful for tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-product-and-service-eligibility-get-customer-product-and-service-eligibility"
        },
        "example": "customer-product-and-service-eligibility-get-customer-product-and-service-eligibility"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, helpful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, where a valid JSON Web Token (JWT) is required for authorized access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}