{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Credit Facility-spec",
    "description": "This API allows financial institutions to initiate credit facility agreements specifically designed for trade banking operations. By leveraging this endpoint, users can facilitate the creation of credit facilities that support their clients' international and domestic trade needs. Typical consumers include trade finance managers and banks looking to streamline credit provision processes. The API simplifies the management of trade financing arrangements, thereby enhancing operational efficiency and supporting client relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-facility": {
      "post": {
        "tags": [
          "Credit Facility"
        ],
        "summary": "Create a new credit facility.",
        "description": "This endpoint allows users to create a new credit facility in the trade banking system. It requires necessary financial details and conditions to be provided in the request body, and it will respond with the created facility's details upon successful execution.",
        "operationId": "createTradeBankingCreditFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a credit facility operation within the trade banking service. It requires specific information about the credit facility being requested, which is detailed in the schema. Please make sure to provide all necessary fields to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingCreditFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new credit facility.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingCreditFacilityResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingCreditFacilityRequest": {
        "title": "Credit Facility Request Body",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-279535"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the credit facility being requested.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-137172"
          },
          "amount": {
            "description": "The monetary amount for the credit facility request.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date for the credit facility.",
            "format": "date",
            "example": 1789430400000
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a credit facility.",
        "example": {
          "corporateCustomerId": "CUST-279535",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-137172",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "c8da0c42-4d91-56cc-bd67-85767d275f2a",
            "correlationId": "9b1884df-d55f-52c2-b908-d00bb4066eb2",
            "idempotencyKey": "6ca4b5f9-760e-503f-9e10-15f2a0635471",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-580542"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing an amount with value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used for ensuring idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "format": "date-time"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the source system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "CreateTradeBankingCreditFacilityResponse_201": {
        "title": "Credit Facility Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-931555"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the credit facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the facility.",
            "example": "PARTY-419516"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the facility.",
            "example": "RES-431704"
          },
          "status": {
            "type": "string",
            "description": "Current status of the credit facility (e.g., active, pending, closed).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the facility was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESPONSE0001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "CORRELATION0002"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T10:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata associated with the response.",
            "example": {
              "responseId": "655aa012-658d-5882-a749-aaf92064e197",
              "correlationId": "9b1884df-d55f-52c2-b908-d00bb4066eb2",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the creation of a credit facility in the trade banking operations.",
        "example": {
          "corporateCustomerId": "CUST-931555",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-419516",
          "resourceId": "RES-431704",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "655aa012-658d-5882-a749-aaf92064e197",
            "correlationId": "9b1884df-d55f-52c2-b908-d00bb4066eb2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint processing the request. This helps in tracing the request through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-facility-create-credit-facility"
        },
        "example": "credit-facility-create-credit-facility"
      },
      "X-Runtime-App": {
        "description": "The runtime application identifier that processed the request. Useful for identifying the specific application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication format, specifically designed for JSON Web Tokens (JWT). Clients must include the token in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}