{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Card E Commerce Gateway-spec",
    "description": "The Payment Card E-Commerce Gateway API enables businesses to securely facilitate online transactions via payment cards. This API allows merchants to initiate the process of capturing and processing payments efficiently, providing a seamless checkout experience for customers. Typical consumers include e-commerce platforms and retailers looking to integrate payment solutions into their websites. The API supports various payment types and ensures compliance with security standards to protect sensitive payment information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Process a card payment through the e-commerce gateway.",
        "description": "This endpoint allows you to process credit and debit card payments securely through the e-commerce payment gateway. Make sure to provide the necessary payment details in the request body for successful transaction processing.",
        "operationId": "createPaymentCardECommerceGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for processing card payments through the e-commerce gateway. This body must include all necessary payment information as outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentCardECommerceGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with payment processing initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentCardECommerceGatewayResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentCardECommerceGatewayRequest": {
        "title": "Card Payment Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment",
            "example": "PAY-535445"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account",
            "example": "ACC-277865"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account",
            "example": "ACC-886583"
          },
          "instructedAmount": {
            "description": "Amount that is instructed to be processed",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment execution is requested",
            "example": "2026-09-03"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the payment request",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for processing a card payment in an e-commerce gateway operation.",
        "example": {
          "paymentId": "PAY-535445",
          "debtorAccountId": "ACC-277865",
          "creditorAccountId": "ACC-886583",
          "instructedAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-03",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "7e941eac-7e78-4183-9d6b-f9fdb2628fc6",
            "correlationId": "e9cfb0a1-9591-48a8-9ae6-e1c6007ffa98",
            "idempotencyKey": "917b1049-a234-4b4f-9208-54c20e9d57ba",
            "requestedAt": "2026-08-27T23:00:43.030Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-770764"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount to be processed",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified",
            "example": "string"
          }
        },
        "description": "Schema representing the amount instructed to be processed along with its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system initiating the request",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the source application initiating the request",
            "example": "string"
          },
          "channel": {
            "description": "Channel through which the payment request is made",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information about the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information used in the payment request."
      },
      "CreatePaymentCardECommerceGatewayResponse_201": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "PAY-565280"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account involved in the transaction.",
            "example": "ACC-354743"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account receiving the payment.",
            "example": "ACC-981119"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the related resource associated with the payment.",
            "example": "RES-777394"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment transaction.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response generated by the payment processor.",
                "example": "resp12345"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier to correlate the payment with other requests.",
                "example": "corr67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the metadata was generated.",
                "example": "2023-10-05T14:50:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the payment processing took place.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the payment transaction.",
            "example": {
              "responseId": "ecc295fd-2966-5afa-8fa9-10c63a4b71b9",
              "correlationId": "232a8ba6-968b-5bf8-bae3-5c4cbeae7cad",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for successful processing of a payment via the e-commerce card gateway.",
        "example": {
          "paymentId": "PAY-565280",
          "debtorAccountId": "ACC-354743",
          "creditorAccountId": "ACC-981119",
          "resourceId": "RES-777394",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ecc295fd-2966-5afa-8fa9-10c63a4b71b9",
            "correlationId": "232a8ba6-968b-5bf8-bae3-5c4cbeae7cad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "709bcbd382c25c49"
        },
        "example": "709bcbd382c25c49"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "389cd388-c289-4e35-89f1-524466019a7a"
        },
        "example": "389cd388-c289-4e35-89f1-524466019a7a"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4b716f56-cea7-43f6-84fd-4dd69d88c73e"
        },
        "example": "4b716f56-cea7-43f6-84fd-4dd69d88c73e"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, providing traceability for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-create-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-create-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow instance that encompasses the entire process of handling the request, aiding in tracking the transaction flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed for processing payments through the e-commerce gateway.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card-not-present eCommerce Payment"
        },
        "example": "Card-not-present eCommerce Payment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating the processing status of the payment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cdc3f884-a4b0-494e-b614-55cbe7007e4b"
        },
        "example": "cdc3f884-a4b0-494e-b614-55cbe7007e4b"
      }
    }
  }
}