{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Consumer Service By Param1-spec",
    "description": "The Consumer Advisory Services Update API enables businesses to modify existing consumer advisory services by specifying a unique parameter. This functionality allows for tailored updates to advisory offerings, empowering financial institutions to better serve their clients with personalized recommendations. Typical users of this API include banking application developers and integrations that require dynamic adjustments to advisory content. By utilizing this API, organizations can efficiently manage and enhance consumer interactions, ensuring they meet evolving client needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/consumer-advisory-services/{param1}": {
      "patch": {
        "tags": [
          "Consumer Services"
        ],
        "summary": "Update a consumer advisory service",
        "description": "This operation allows for the modification of existing consumer advisory services identified by a specific resource reference. It provides the ability to make changes to various attributes, ensuring that the service remains up-to-date with current standards and consumer requirements.",
        "operationId": "updateConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to patch the specified consumer advisory service identified by RES-100045. It includes the fields that need to be updated for the consumer advisory service. Please ensure that all required fields are included in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerServiceByParam1Request": {
        "title": "Patch Request Body for Consumer Advisory Services",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made for the advisory services.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the person or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object that holds the context of the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the structure of the request body for patching consumer advisory services. It includes details about changes to be made, reasons for the changes, and the context of the request.",
        "example": {
          "changes": {
            "customerId": "CUST-173103",
            "serviceRequestId": "41f793ee-bb8d-5de8-bc1a-86970e03c2c6",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b50f746f-11e8-5996-82fc-8d0dda82fe81",
            "correlationId": "a5f2a813-0368-55bd-8357-a5a378cd73b0",
            "idempotencyKey": "8707cf12-ee40-5f94-a361-dd32553c4ce0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-725559"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer whose advisory services are being changed.",
            "example": "cust-001"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier for the service request associated with these changes.",
            "example": "req-1001"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product related to the advisory services.",
            "example": "prod-XYZ"
          }
        },
        "description": "This schema defines the specific changes to be made to customer advisory services."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace the request across different services.",
            "example": "corr-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent (can be safely retried without additional effects).",
            "example": "idemp-key-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-15T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "system-A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system that made the request.",
            "example": "app-B"
          },
          "channel": {
            "description": "An object representing the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema defines the context of the request, including various identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used to submit the request.",
            "example": "chan-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "device-xyz"
          }
        },
        "description": "This schema defines the properties related to the channel through which the request was made."
      },
      "UpdateConsumerServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful PATCH operation in consumer advisory services.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e6c70c36-e2f3-51b1-a982-bfc423a9e329",
            "correlationId": "a5f2a813-0368-55bd-8357-a5a378cd73b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata about the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-advisory-services-update-consumer-advisory-services"
        },
        "example": "consumer-advisory-services-update-consumer-advisory-services"
      },
      "x-runtime-app": {
        "description": "Name of the application that handled the request, indicating the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing a Bearer token format for secure access. This scheme employs JSON Web Tokens (JWT) to verify user identity and permissions for specific API operations.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}