{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Knowledge Assets Knowledge Exchange By Knowledge Exchange Id-v5-spec",
    "description": "The Banking Knowledge Asset Retrieval API provides access to specific knowledge assets related to banking through a unique knowledge exchange identifier. This endpoint allows users to retrieve detailed information about a particular knowledge asset, enabling financial institutions and businesses to leverage essential data for decision-making and improvements. Typical consumers include financial analysts, developers, and data scientists who require timely access to critical banking knowledge. By utilizing this API, organizations can enhance their knowledge management strategies and facilitate informed business operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange/{knowledgeExchangeId}": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Retrieve knowledge asset.",
        "description": "Fetches the details of a specific knowledge asset identified by the given reference ID. This operation provides all available information regarding the asset, enabling further processing and review.",
        "operationId": "getBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/knowledgeExchangeId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving knowledge asset details. Ensure that the required information is provided in the correct JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the knowledge exchange operation, specifically for the GET method of the specified resource. It is expected to be a string type containing relevant data for the request.",
        "example": "{}"
      },
      "GetBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeIdResponse_200": {
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "Unique identifier for the knowledge item.",
            "example": "STANDARD"
          },
          "topic": {
            "type": "string",
            "description": "The topic that the knowledge item is related to.",
            "example": "STANDARD"
          },
          "authorId": {
            "type": "string",
            "description": "Unique identifier for the author of the knowledge item.",
            "example": "STANDARD"
          },
          "audience": {
            "type": "string",
            "description": "Intended audience for the knowledge item.",
            "example": "STANDARD"
          },
          "publishedAt": {
            "type": "string",
            "description": "The date and time when the knowledge item was published.",
            "example": "2026-08-11T12:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the knowledge record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the knowledge item.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the knowledge item was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the knowledge item.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving a specific knowledge item.",
        "example": {
          "knowledgeItemId": "STANDARD",
          "topic": "STANDARD",
          "authorId": "STANDARD",
          "audience": "STANDARD",
          "publishedAt": "2026-08-11T12:00:00Z",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1ab0277e-0d97-570e-8133-bf0d456a5964",
            "correlationId": "6c17f367-3f27-51d2-93e6-8ea172241a14",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through systems.",
            "example": "correlation-101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata containing additional context about the knowledge item retrieval."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "knowledgeExchangeId": {
        "name": "knowledgeExchangeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-get-knowledge-exchange"
        },
        "example": "knowledge-exchange-get-knowledge-exchange"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication. A valid JSON Web Token (JWT) must be included in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}