{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fixed Asset Register Retrieval API",
    "description": "The Fixed Asset Register Retrieval API provides access to detailed information about fixed assets within an enterprise environment. This API allows users to retrieve asset records, including descriptions, valuations, and associated metadata, enabling effective asset management and financial reporting. Typical consumers include financial institutions, corporate finance teams, and asset management professionals who need comprehensive insights into an organization's fixed asset portfolio. By utilizing this endpoint, organizations can streamline their asset tracking and reporting processes, ensuring compliance and better financial oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register/{param1}": {
      "get": {
        "tags": [
          "Fixed Asset Management"
        ],
        "summary": "Retrieve details of a specific fixed asset register entry.",
        "description": "This endpoint allows users to fetch detailed information about a specific entry in the fixed asset register by providing the unique identifier of the register. It is useful for auditing and tracking the status and details of fixed assets within the enterprise.",
        "operationId": "getFixedAssetRegisterById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to a specific fixed asset identified by RES-100045. Ensure that the required parameters are included to receive the correct data in response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFixedAssetRegisterByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the fixed asset details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFixedAssetRegisterByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFixedAssetRegisterByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the Fixed Asset Register service in the Enterprise Services. It is expected to be a string value.",
        "example": "{}"
      },
      "GetFixedAssetRegisterByIdResponse_200": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the fixed asset.",
            "example": "STANDARD"
          },
          "assetClass": {
            "type": "string",
            "description": "Classification of the asset, which helps in categorizing it.",
            "example": "STANDARD"
          },
          "acquisitionDate": {
            "type": "string",
            "description": "Date when the asset was acquired.",
            "example": "2026-09-15"
          },
          "acquisitionCost": {
            "description": "Contains the details regarding the cost of acquiring the asset.",
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "Expected useful life of the asset in months.",
            "format": "int32",
            "example": 1
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the asset.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the asset record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta-information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for retrieving the fixed asset details from the asset register.",
        "example": {
          "assetId": "STANDARD",
          "assetClass": "STANDARD",
          "acquisitionDate": "2026-09-15",
          "acquisitionCost": {
            "amount": 100.0,
            "currency": "USD"
          },
          "usefulLifeMonths": 1,
          "costCenter": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ad7a1947-29b0-52ca-99af-6774dc8d6141",
            "correlationId": "7c5c1490-2cfd-5c7b-aca4-da6bf1008fab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AcquisitionCost": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary value representing the acquisition cost.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the acquisition cost is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the acquisition cost details of an asset."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata details for the asset response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-get-fixed-asset-register"
        },
        "example": "fixed-asset-register-get-fixed-asset-register"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method using JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header of their requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}