{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Decisioning Customer Transaction-v5-spec",
    "description": "MICROSERVICE-PROD-Create Decisioning Customer Transaction-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/transactions": {
      "post": {
        "operationId": "createDecisioningCustomerTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDecisioningCustomerTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDecisioningCustomerTransactionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDecisioningCustomerTransactionRequest": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "example": "ACC-770594"
          },
          "fromDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "toDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "string"
                },
                "value": {
                  "type": "string",
                  "example": "string"
                },
                "shown": {
                  "type": "boolean",
                  "example": false
                }
              },
              "example": "string"
            }
          },
          "findTransaction": {
            "type": "object",
            "properties": {
              "descriptionMemo": {
                "type": "string",
                "example": "string"
              },
              "amountFrom": {
                "type": "number",
                "example": 0.0
              },
              "amountTo": {
                "type": "number",
                "example": 0.0
              },
              "category": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "example": {
              "descriptionMemo": "STANDARD",
              "amountFrom": 100.0,
              "amountTo": 100.0,
              "category": [
                "STANDARD"
              ]
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "e6ef94b1-967b-5717-9418-7a6b20dfbca6",
              "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
              "idempotencyKey": "ca6a4525-22cc-5b12-9817-da34df51d182",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-905166"
              }
            }
          }
        },
        "example": {
          "accountIds": "ACC-770594",
          "fromDate": 1,
          "toDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "findTransaction": {
            "descriptionMemo": "STANDARD",
            "amountFrom": 100.0,
            "amountTo": 100.0,
            "category": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "e6ef94b1-967b-5717-9418-7a6b20dfbca6",
            "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
            "idempotencyKey": "ca6a4525-22cc-5b12-9817-da34df51d182",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-905166"
            }
          }
        }
      },
      "CreateDecisioningCustomerTransactionResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "example": "37e51670-b782-5bbb-a66a-eb5bbb1a47aa"
          },
          "requesterName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "state": {
                "type": "string",
                "example": "string"
              },
              "zip": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              },
              "url": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "name": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "url": "https://banking.northstar.example/callbacks/status"
            }
          },
          "createdDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "firstName": {
                "type": "string",
                "example": "string"
              },
              "middleName": {
                "type": "string",
                "example": "string"
              },
              "lastName": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "state": {
                "type": "string",
                "example": "string"
              },
              "zip": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "ssn": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "ssn": "STANDARD",
              "email": "olivia.bennett@northstar.example"
            }
          },
          "disputeStatement": {
            "type": "string",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "constraints": {
            "type": "object",
            "properties": {
              "accountIds": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "fromDate": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "toDate": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "includePending": {
                "type": "boolean",
                "example": false
              }
            },
            "example": {
              "accountIds": [
                "ACC-931972"
              ],
              "fromDate": 1,
              "toDate": 1,
              "includePending": true
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "e148112e-1a1f-5c26-abac-25eebcf65e93",
              "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "37e51670-b782-5bbb-a66a-eb5bbb1a47aa",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-931972"
            ],
            "fromDate": 1,
            "toDate": 1,
            "includePending": true
          },
          "metadata": {
            "responseId": "e148112e-1a1f-5c26-abac-25eebcf65e93",
            "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transactions-report"
        },
        "example": "open-finance-api-generate-transactions-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}