{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Public Offering Update API",
    "description": "The Public Offering Update API allows organizations to modify details of existing public offerings in the corporate finance sector. This functionality is crucial for finance professionals and corporate entities looking to manage their public offering data efficiently. With this API, users can update key elements such as pricing, terms, and timelines associated with public offerings. Typical consumers include investment banks, financial analysts, and corporate treasurers who need to keep their offering information current and accurate.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/public-offering/{param1}": {
      "patch": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Update a public offering resource.",
        "description": "This endpoint allows you to update the details of a specific public offering identified by its resource ID. Ensure that you provide the necessary details in the request body to successfully modify the existing information.",
        "operationId": "patchCorporateFinancePublicOfferingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the details of a public offering identified by RES-100045. This request expects a JSON payload containing the fields required to modify the public offering's attributes as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCorporateFinancePublicOfferingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCorporateFinancePublicOfferingRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCorporateFinancePublicOfferingRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing metadata about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "changes": {
            "clientId": "STANDARD",
            "engagementId": "STANDARD",
            "transactionType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e38d7a8b-aaaf-5968-bc1f-710dbb73f999",
            "correlationId": "98b316ce-93b1-5f22-95e9-2510cdfae35c",
            "idempotencyKey": "1e743bf6-924b-5fda-baaa-77907685a726",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-712718"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "string"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction being requested.",
            "example": "string"
          }
        },
        "description": "Contains the details of specific changes made to the request."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracing related requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that duplicate requests are not processed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "An object representing the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "PatchCorporateFinancePublicOfferingRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations PATCH request related to public offerings.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "34cf5045-76b9-56ab-a998-6584aba05c4d",
            "correlationId": "98b316ce-93b1-5f22-95e9-2510cdfae35c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "public-offering-update-public-offering"
        },
        "example": "public-offering-update-public-offering"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token authentication method. The token must be a valid JWT (JSON Web Token) that grants access to the API resources. To authenticate, include the token in the Authorization header as follows: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}