{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Open Banking Event Subscription By Event Subscription Id-v5-spec",
    "description": "MICROSERVICE-PROD-Replace Open Banking Event Subscription By Event Subscription Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions/{eventSubscriptionId}": {
      "put": {
        "operationId": "replaceOpenBankingEventSubscriptionByEventSubscriptionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/eventSubscriptionId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceOpenBankingEventSubscriptionByEventSubscriptionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceOpenBankingEventSubscriptionByEventSubscriptionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceOpenBankingEventSubscriptionByEventSubscriptionIdRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "EventSubscriptionId": {
                "type": "string",
                "example": "string"
              },
              "CallbackUrl": {
                "type": "string",
                "example": "string"
              },
              "Version": {
                "type": "string",
                "example": "string"
              },
              "EventTypes": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "example": {
              "EventSubscriptionId": "STANDARD",
              "CallbackUrl": "https://banking.northstar.example/callbacks/status",
              "Version": "STANDARD",
              "EventTypes": [
                "STANDARD"
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "example": "string"
              },
              "First": {
                "type": "string",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "example": "string"
              },
              "Next": {
                "type": "string",
                "example": "string"
              },
              "Last": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "example": "string"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "a82cba23-88fd-5d44-9ee3-1359d61949ab",
              "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
              "idempotencyKey": "8e43305a-d705-5228-a566-c8a65cf93228",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-837345"
              }
            }
          }
        },
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "a82cba23-88fd-5d44-9ee3-1359d61949ab",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "idempotencyKey": "8e43305a-d705-5228-a566-c8a65cf93228",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-837345"
            }
          }
        }
      },
      "ReplaceOpenBankingEventSubscriptionByEventSubscriptionIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "EventSubscriptionId": {
                "type": "string",
                "example": "string"
              },
              "CallbackUrl": {
                "type": "string",
                "example": "string"
              },
              "Version": {
                "type": "string",
                "example": "string"
              },
              "EventTypes": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "example": {
              "EventSubscriptionId": "STANDARD",
              "CallbackUrl": "https://banking.northstar.example/callbacks/status",
              "Version": "STANDARD",
              "EventTypes": [
                "STANDARD"
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "example": "string"
              },
              "First": {
                "type": "string",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "example": "string"
              },
              "Next": {
                "type": "string",
                "example": "string"
              },
              "Last": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "example": "string"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "bbfb94dd-31f5-5144-989d-2fcee46b3322",
              "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "bbfb94dd-31f5-5144-989d-2fcee46b3322",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "eventSubscriptionId": {
        "name": "eventSubscriptionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-change-event-subscriptions-event-subscription-id"
        },
        "example": "events-api-change-event-subscriptions-event-subscription-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}