{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Cbpii Funds Confirmation-spec",
    "description": "The Cbpii Funds Confirmation API allows financial institutions to submit confirmations of fund availability for open banking transactions. This API streamlines the verification process, providing essential feedback to payment initiators regarding the status of funds. It is particularly beneficial for banks and payment service providers engaged in instant payment processing. By ensuring that sufficient funds are available prior to transactions, this API enhances the customer experience and reduces transaction failures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/cbpii/funds-confirmations": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Confirm Funds for CBPII Transactions",
        "description": "This endpoint allows the user to confirm the availability of funds for a CBPII transaction, ensuring that funds are sufficient before proceeding with the transaction.",
        "operationId": "createCbpiiFundsConfirmation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit funds confirmation operations. It should contain the necessary details required for processing the funds confirmation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCbpiiFundsConfirmationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created with funds confirmation.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCbpiiFundsConfirmationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCbpiiFundsConfirmationRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FundConfirmationData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for confirming fund operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Reference": "STANDARD",
            "InstructedAmount": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "requestContext": {
            "requestId": "326e32b9-e49f-5f1b-9fd5-d98dd4480779",
            "correlationId": "f3ce570f-8002-5515-b973-a23125890f3e",
            "idempotencyKey": "22d2ab1f-afda-5fed-aabe-0a45dd706f91",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-113665"
            }
          }
        }
      },
      "FundConfirmationData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "Reference for the fund confirmation.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          }
        },
        "description": "Data related to fund confirmation."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money to be confirmed.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the instructed amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Amount and currency details for the instructed amount."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "sourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "sourceAppB"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., WEB, MOBILE).",
            "example": "MOBILE"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateCbpiiFundsConfirmationResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains detailed information about the funds confirmation.",
            "$ref": "#/components/schemas/FundsConfirmationData"
          },
          "Links": {
            "description": "Contains links for navigating through paged results.",
            "$ref": "#/components/schemas/PagingLinks"
          },
          "Meta": {
            "description": "Contains metadata about the pagination of the response.",
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "metadata": {
            "description": "Contains metadata related to the response processing.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Funds Confirmation operation.",
        "example": {
          "Data": {
            "FundsConfirmationId": "STANDARD",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "FundsAvailable": true,
            "Reference": "STANDARD",
            "InstructedAmount": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "a496ac11-e539-5595-b37d-1ee6804924e0",
            "correlationId": "f3ce570f-8002-5515-b973-a23125890f3e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsConfirmationData": {
        "type": "object",
        "properties": {
          "FundsConfirmationId": {
            "type": "string",
            "description": "Unique identifier for the funds confirmation.",
            "example": "FC123456789"
          },
          "ConsentId": {
            "type": "string",
            "description": "Identifier of the consent associated with this funds confirmation.",
            "example": "C123456789"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the funds confirmation was created.",
            "example": "2023-01-01T12:34:56Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether the funds are available.",
            "example": false
          },
          "Reference": {
            "type": "string",
            "description": "Reference information related to the funds confirmation.",
            "example": "Ref123456"
          },
          "InstructedAmount": {
            "description": "Amount that has been instructed for the funds confirmation.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Details regarding the funds confirmation."
      },
      "Money": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money, including its currency."
      },
      "PagingLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "https://api.example.com/confirmations?page=1"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page.",
            "example": "https://api.example.com/confirmations?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page.",
            "example": "https://api.example.com/confirmations?page=1"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page.",
            "example": "https://api.example.com/confirmations?page=2"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page.",
            "example": "https://api.example.com/confirmations?page=5"
          }
        },
        "description": "Links for pagination."
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time of the first available funds confirmation.",
            "example": "2023-01-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time of the last available funds confirmation.",
            "example": "2023-01-01T23:59:59Z"
          }
        },
        "description": "Meta information about pagination."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-1234567890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr-987654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Metadata related to the processing of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed. This can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "funds-api-create-funds-confirmations"
        },
        "example": "funds-api-create-funds-confirmations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context about the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. This method requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests, enabling secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}