{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Document By Param1-spec",
    "description": "The Retrieve Archived Banking Documents API enables users to access archived documents by providing a specific parameter. This API facilitates efficient retrieval of important banking records, allowing businesses to manage compliance, audits, or customer inquiries effectively. Typical consumers include financial institutions and customer service representatives who need to access past client documents quickly. This endpoint supports streamlined access to historical data necessary for informed decision-making and operational transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/archive-services/{param1}": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve archived document details.",
        "description": "This endpoint allows users to retrieve the details of a specific archived document by its resource ID. The operation returns comprehensive metadata and content for the document, facilitating easy access and review.",
        "operationId": "getDocumentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve archive service details for the specified RES-100045 document. Make sure to provide the necessary parameters in the schema to receive the appropriate response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The requested document details were retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentByParam1Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation on archive services, specifically for the resource with ID 100045.",
        "example": "{}"
      },
      "GetDocumentByParam1Response_200": {
        "title": "Document Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-620427"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document, e.g. invoice, report, etc.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the document, indicating its category.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class that defines how long the document should be retained.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of the document, e.g., application/pdf, image/jpeg.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum of the document file for verification purposes.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document, e.g., active, archived.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the document was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Represents the response structure for a document retrieved from the archive services.",
        "example": {
          "documentId": "DOC-620427",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c751b66e-77ce-5196-a623-d6b2ad7337eb",
            "correlationId": "7f2c7e7c-1202-5f0f-9689-42737ce13b7d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the document.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across services.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the document was generated.",
            "example": "2023-10-10T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Contains additional information about the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "archive-services-get-archive-services"
        },
        "example": "archive-services-get-archive-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to transmit a JSON Web Token (JWT) that provides access to secured resources. The token should be included in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}