{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Availablebalance Lives-spec",
    "description": "The Available Balance Lookup API allows consumers to obtain real-time available balance details for a specific account belonging to a customer. This API is essential for financial applications and services that require up-to-date account information. By providing a straightforward method to retrieve live balance data, it enables users to make informed decisions regarding their financial transactions. Typical consumers of this API include banking applications, personal finance tools, and any service that integrates banking functionalities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/availablebalance/live": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Live Available Balance",
        "description": "Fetches the current available balance for a specific account in real-time. Use this endpoint to obtain the most up-to-date financial information associated with the account.",
        "operationId": "listAvailablebalanceLives",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the live available balance for a specific account identified by the account ID within a given customer. Ensure that the customer and account IDs provided in the URL are valid before making this request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAvailablebalanceLivesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the current available balance.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAvailablebalanceLivesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAvailablebalanceLivesRequest": {
        "title": "Customer Account Available Balance",
        "type": "string",
        "description": "This schema represents the available balance for a specific customer account in the live context.",
        "example": "{}"
      },
      "ListAvailablebalanceLivesResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the account.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last 4 digits of the real account number.",
            "example": "STANDARD"
          },
          "availableBalance": {
            "type": "number",
            "description": "Current available balance of the account.",
            "example": 100.0
          },
          "availableBalanceDate": {
            "type": "integer",
            "description": "Date indicating when the available balance was last updated.",
            "format": "int32",
            "example": 1
          },
          "clearedBalance": {
            "type": "number",
            "description": "Total cleared balance of the account.",
            "example": 100.0
          },
          "clearedBalanceDate": {
            "type": "integer",
            "description": "Date indicating when the cleared balance was last updated.",
            "format": "int32",
            "example": 1
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code indicating the aggregation status of the account.",
            "format": "int32",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the account balance.",
            "example": "USD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "ID to correlate requests and responses.",
                "example": "corr-123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the processing occurred.",
                "example": "NA"
              }
            },
            "description": "Metadata providing additional information regarding the response.",
            "example": {
              "responseId": "874ffad4-cb6a-5d63-a6ff-99ba740cc462",
              "correlationId": "b76570f9-91f4-5a29-9d3a-a3cce750a91f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for available balance of a specific account.",
        "example": {
          "id": 1,
          "realAccountNumberLast4": "STANDARD",
          "availableBalance": 100.0,
          "availableBalanceDate": 1,
          "clearedBalance": 100.0,
          "clearedBalanceDate": 1,
          "aggregationStatusCode": 1,
          "currency": "USD",
          "metadata": {
            "responseId": "874ffad4-cb6a-5d63-a6ff-99ba740cc462",
            "correlationId": "b76570f9-91f4-5a29-9d3a-a3cce750a91f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, useful for tracing and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-available-balance-live"
        },
        "example": "open-finance-api-get-available-balance-live"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, assisting in identification of the context for debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication via a JSON Web Token (JWT). Clients must include the token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}