{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Standing Orders-spec",
    "description": "The Standing Orders Listing API provides access to a comprehensive list of standing orders associated with an account. This endpoint allows users to retrieve detailed information about each standing order, including amounts, frequencies, and statuses. It is particularly useful for financial institutions, account aggregators, and service providers looking to offer users insights into their recurring payments. By utilizing this API, developers can enhance the user experience by displaying essential payment data within their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/standing-orders": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve a list of standing orders.",
        "description": "This endpoint allows you to fetch all standing orders linked to a specific account. It serves as a comprehensive overview of scheduled payments that are set to recur, providing essential details for each standing order.",
        "operationId": "listAispStandingOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to retrieve information about standing orders. The client should include the necessary parameters to specify their query requirements in the JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispStandingOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and standing orders retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispStandingOrdersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispStandingOrdersRequest": {
        "type": "string",
        "description": "A placeholder for the JSON request body for the 'Get Standing Orders' operation. This string should contain valid JSON data.",
        "example": "{}"
      },
      "ListAispStandingOrdersResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "StandingOrder": {
                "type": "array",
                "description": "A list of standing orders associated with an account.",
                "items": {
                  "$ref": "#/components/schemas/StandingOrder"
                }
              }
            },
            "description": "Contains the data related to the standing orders.",
            "example": {
              "StandingOrder": [
                {
                  "AccountId": "ACC-131739",
                  "id": "STANDARD",
                  "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                  "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                  "NumberOfPayments": "STANDARD",
                  "statusCode": "CODE-261",
                  "FirstPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "NextPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "LastPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "FinalPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-775",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the standing orders retrieval operation.",
        "example": {
          "Data": {
            "StandingOrder": [
              {
                "AccountId": "ACC-131739",
                "id": "STANDARD",
                "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                "NumberOfPayments": "STANDARD",
                "statusCode": "CODE-261",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "NextPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "LastPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "FinalPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-775",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "8854f9ba-03bf-5059-9725-b1e02772840b",
            "correlationId": "dab6e2db-d4c3-5f38-aeac-5845bd696e07",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StandingOrder": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The ID of the account associated with the standing order."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the standing order."
          },
          "NextPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the next payment scheduled for this standing order."
          },
          "LastPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the last payment made for this standing order."
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "The total number of payments scheduled for this standing order."
          },
          "statusCode": {
            "type": "string",
            "description": "The current status code of the standing order."
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "NextPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "LastPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "FinalPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "A schema representing a single standing order."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money."
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount."
          }
        },
        "description": "A schema representing an amount of money associated with payments."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor's agent."
          },
          "Identification": {
            "type": "string",
            "description": "The unique identification of the creditor's agent."
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor's agent."
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Information about the creditor's agent."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address."
          },
          "Department": {
            "type": "string",
            "description": "Department name if applicable."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name if applicable."
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the address."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address."
          },
          "BuildingName": {
            "type": "string",
            "description": "Building name of the address."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number of the address."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number of the address."
          },
          "Room": {
            "type": "string",
            "description": "Room number of the address."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number if applicable."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location."
          },
          "DistrictName": {
            "type": "string",
            "description": "District name of the address."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of the address if applicable."
          },
          "PostCode": {
            "type": "string",
            "description": "Post code of the address."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country."
          },
          "Country": {
            "type": "string",
            "description": "Country of the address."
          },
          "AddressLine": {
            "type": "array",
            "description": "An array of additional address lines.",
            "items": {
              "type": "string",
              "description": "An additional line of address."
            }
          }
        },
        "description": "The postal address of the creditor's agent."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier of the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking purposes."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-standing-orders"
        },
        "example": "accounts-api-get-standing-orders"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The token format is JWT (JSON Web Token), which contains encoded claims and is typically used for stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}