{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Card Credit Card Position Keeping-spec",
    "description": "The Credit Card Position Management API enables financial institutions to maintain and update credit card position data efficiently. This API allows users to submit new credit card positions for tracking and management purposes, ensuring accuracy in financial reporting and customer account management. Typical consumers include banking applications, personal finance management tools, and accounting software that require integration with credit card position data. By leveraging this API, developers can streamline their workflows and improve user experiences for credit card holders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping": {
      "post": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Create Credit Card Position Keeping",
        "description": "This endpoint allows you to create a new credit card position keeping entry. It ensures that the specified parameters are validated and stored appropriately in the system, allowing for effective management of credit card positions.",
        "operationId": "createCardCreditCardPositionKeeping",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the credit card position keeping operation. It should contain the necessary details in JSON format to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardCreditCardPositionKeepingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing a new credit card position.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardCreditCardPositionKeepingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardCreditCardPositionKeepingRequest": {
        "title": "Credit Card Position Keeping Request",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Token representing the card.",
            "example": "TOK-883412"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-794299"
          },
          "transactionAmount": {
            "description": "Details of the transaction amount.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code of the merchant.",
            "example": "5411"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the Credit Card Position Keeping operation.",
        "example": {
          "cardToken": "TOK-883412",
          "cardholderId": "STANDARD",
          "merchantId": "MER-794299",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "requestContext": {
            "requestId": "3dccfc6c-931e-5ff5-8a43-a28049738401",
            "correlationId": "72f1e34b-f316-5900-b6ba-34567704e92a",
            "idempotencyKey": "e8552062-f392-5dd2-9c50-2df17fb173d2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-700854"
            }
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the transaction amount details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to avoid duplicate processing of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateCardCreditCardPositionKeepingResponse_201": {
        "title": "Credit Card Position Keeping Response",
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-450924"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code associated with the merchant.",
            "example": "5411"
          },
          "resourceId": {
            "type": "string",
            "description": "Resource identifier for the operation.",
            "example": "RES-290422"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata related to the operation.",
            "example": {
              "responseId": "82c1facf-3036-56e3-9a73-ee8a6286d0e4",
              "correlationId": "72f1e34b-f316-5900-b6ba-34567704e92a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response object for the operations related to credit card position keeping.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-450924",
          "merchantCategoryCode": "5411",
          "resourceId": "RES-290422",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "82c1facf-3036-56e3-9a73-ee8a6286d0e4",
            "correlationId": "72f1e34b-f316-5900-b6ba-34567704e92a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. Useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-create-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-create-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the request. Helps in identifying which application made the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests. This format ensures secure and stateless communication between a client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}