{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Configuration Retrieval API",
    "description": "The Product Configuration Retrieval API provides users with access to essential configuration data for microservices in a production environment. This API facilitates the retrieval of specific configuration settings for connect components, enabling integration and customizations based on user requirements. Typical consumers include developers and system integrators who need to ensure their applications are properly configured for optimal performance. By leveraging this API, users can efficiently manage and access configuration details critical to their service operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations": {
      "get": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Retrieve a list of configurations.",
        "description": "This endpoint allows the client to retrieve a comprehensive list of available configurations in the system. It can be used to fetch settings and parameters that can be modified or applied within various modules of the application.",
        "operationId": "getConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the configurations available in the system. Ensure that the payload adheres to the specified schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConfigurationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the configurations.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConfigurationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConfigurationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the application's API. It is expected to be a string that may contain JSON formatted data.",
        "example": "{}"
      },
      "GetConfigurationsResponse_200": {
        "title": "Configuration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of configuration items.",
            "example": [
              {
                "id": "535cc747-adcb-b3d8-4068-dbc4eb8a9494",
                "filterAccounts": [
                  "STANDARD"
                ],
                "accountClassificationType": [
                  "STANDARD"
                ],
                "aoRequired": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConfigurationItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful retrieval of configuration items.",
        "example": {
          "items": [
            {
              "id": "535cc747-adcb-b3d8-4068-dbc4eb8a9494",
              "filterAccounts": [
                "STANDARD"
              ],
              "accountClassificationType": [
                "STANDARD"
              ],
              "aoRequired": true
            }
          ],
          "metadata": {
            "responseId": "c1ea2f3d-d65a-5b60-885f-c092dfab8afb",
            "correlationId": "b6753cf6-0be0-57bb-9fa8-0ed41d067631",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConfigurationItem": {
        "title": "Configuration Item",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the configuration item.",
            "example": "string"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of accounts to be filtered.",
            "items": {
              "type": "string",
              "description": "Account identifier.",
              "example": "string"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "Types used for classifying accounts.",
            "items": {
              "type": "string",
              "description": "Classification type of the account.",
              "example": "string"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates if action is required.",
            "example": false
          }
        },
        "description": "Represents a single configuration item with its properties."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-configurations"
        },
        "example": "open-finance-api-get-configurations"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication to secure API endpoints. Clients must include a JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}