{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Customer Billings-spec",
    "description": "The Customer Billing Retrieval API allows users to access and retrieve detailed billing information related to customer accounts. This API supports operations involving the sourcing of billing records, allowing businesses to manage and monitor financial transactions effectively. Common use cases include financial reporting, customer inquiries, and account management. Typical consumers of this API include finance teams, customer support representatives, and accounting systems that require access to billing data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing": {
      "get": {
        "tags": [
          "Billing Services"
        ],
        "summary": "Retrieve Customer Billing Information",
        "description": "Fetches detailed billing information for a specific customer, including payment history and outstanding charges.",
        "operationId": "listOperationalServiceCustomerBillings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer billing information. Ensure that the payload adheres to the specified schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceCustomerBillingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning customer billing details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceCustomerBillingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceCustomerBillingsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the operational services customer billing operation.",
        "example": "{}"
      },
      "ListOperationalServiceCustomerBillingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of billing records associated with the customer.",
            "example": [
              {
                "billingAccountId": "ACC-860737",
                "customerId": "CUST-290019",
                "billingPeriod": "STANDARD",
                "charges": [
                  {
                    "chargeType": "SERVICE_FEE",
                    "amount": 100,
                    "currency": "USD"
                  }
                ],
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the customer billing operation.",
        "example": {
          "items": [
            {
              "billingAccountId": "ACC-860737",
              "customerId": "CUST-290019",
              "billingPeriod": "STANDARD",
              "charges": [
                {
                  "chargeType": "SERVICE_FEE",
                  "amount": 100,
                  "currency": "USD"
                }
              ],
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b03be820-e5d6-5ae5-9d50-9a415e2e546d",
            "correlationId": "e0f4463d-683f-5fe5-a85b-559932e141d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingRecord": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account associated with this record.",
            "example": "BAC123456"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with this billing record.",
            "example": "CUST789"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The period during which the services were billed.",
            "example": "2023-01"
          },
          "charges": {
            "type": "array",
            "description": "An array of charges associated with this billing record.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for payment of this billing record.",
            "example": "2023-02-28"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the billing record (e.g., paid, overdue).",
            "example": "paid"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when this billing record was last updated.",
            "example": "2023-01-15T12:00:00Z"
          }
        },
        "description": "Detailed information about a billing record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of records per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of billing records available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "The type of charge (e.g., service fee, tax).",
            "example": "service_fee"
          },
          "amount": {
            "type": "integer",
            "description": "The amount charged for this charge.",
            "format": "int32",
            "example": 1500
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the charge is made.",
            "example": "USD"
          }
        },
        "description": "Information about a charge on the billing record."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "CORR789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-15T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-search-customer-billing"
        },
        "example": "customer-billing-search-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be a valid JSON Web Token (JWT) that provides the necessary claims for user identity and access rights.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}