{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Card Transaction Switchs-spec",
    "description": "The Operational Service Card Transaction Switches API enables users to list and retrieve information about the card transaction switches available within the banking ecosystem. This endpoint provides valuable insights regarding the operational status, configurations, and capabilities of various transaction switches. It is primarily designed for banking institutions, developers, and financial service providers looking to integrate or monitor card transaction operations. By utilizing this API, consumers can enhance their service offerings and ensure seamless transaction processing across different platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch": {
      "get": {
        "tags": [
          "Card Transaction Operations"
        ],
        "summary": "Retrieve card transaction switch details",
        "description": "This endpoint allows you to retrieve information regarding the card transaction switch, including its status and configuration. Use this to check the operational parameters and performance metrics of the card transaction switch in real time.",
        "operationId": "listOperationalServiceCardTransactionSwitchs",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a card transaction switch operation. It expects details related to the transaction that needs to be processed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceCardTransactionSwitchsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning transaction switch data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceCardTransactionSwitchsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceCardTransactionSwitchsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of the card transaction switch service. It is expected to contain a string value.",
        "example": "{}"
      },
      "ListOperationalServiceCardTransactionSwitchsResponse_200": {
        "title": "Card Transaction Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of card transaction operation items.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-751844",
                "accountId": "ACC-282376",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardTransactionOperation"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the transactions.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for card transaction operations.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-751844",
              "accountId": "ACC-282376",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "685895f9-9d02-539d-8a59-9334933e2178",
            "correlationId": "772324f1-0419-51fa-9284-470153683841",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardTransactionOperation": {
        "title": "Card Transaction Operation",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "operation-123"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer-456"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "account-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested.",
            "example": "2023-10-05T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated.",
            "example": "2023-10-05T12:10:00Z"
          }
        },
        "description": "Schema representing an individual card transaction operation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests across systems.",
            "example": "correlation-def"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-search-card-transaction-switch"
        },
        "example": "card-transaction-switch-search-card-transaction-switch"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, where a valid JSON Web Token (JWT) is sent in the Authorization header. The JWT should be included in the format: 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}