{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Refund Cancellation API",
    "description": "The Refund Cancellation API allows businesses to effectively manage and cancel refund requests in real-time. By targeting specific refund transactions identified by their unique refund ID, this API provides a streamlined process for reversing refund operations. It is particularly useful for e-commerce platforms and financial service providers that require quick resolution of refund issues. Developers can integrate this functionality to enhance user experience by ensuring that refund cancellations can be executed promptly when necessary.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}/cancel": {
      "post": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Cancel a specific refund request.",
        "description": "This endpoint allows the user to cancel a refund request identified by the unique reservation ID. Ensure that the refund is eligible for cancellation before making this request.",
        "operationId": "cancelRefundRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to cancel a specific refund identified by its reference. Ensure that all mandatory fields are provided to successfully process the cancellation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRefundRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request to cancel the refund was successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRefundRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelRefundRes100045Request": {
        "title": "Cancel Refund Request",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for canceling the refund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for canceling a refund operation.",
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "57a7f60d-d841-5887-b6a7-7a282d5cfb19",
            "correlationId": "d181e97f-997f-51be-8691-1184036dcdec",
            "idempotencyKey": "f9feb8fc-7833-5578-826b-ece83c32c2fc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-914424"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-56789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123456"
          }
        },
        "description": "This schema contains details about the channel through which the request was made."
      },
      "CancelRefundRes100045Response_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the related payment.",
            "example": "PAY-848273"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant initiating the refund.",
            "example": "MER-686201"
          },
          "amount": {
            "description": "Details of the amount being refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-223"
          },
          "reason": {
            "type": "string",
            "description": "Textual explanation of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Merchant's internal reference for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund operation.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details about any failure encountered during the refund process.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "References and identifiers provided by the payment processor.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information related to the refund transaction.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the refund response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the details of a refund operation.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-848273",
          "merchantId": "MER-686201",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-223",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-342",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-593271",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-862"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "e703f34b-e107-50e9-8430-ba900ac14b87",
            "correlationId": "d181e97f-997f-51be-8691-1184036dcdec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The actual amount being refunded.",
            "example": "100.00"
          }
        },
        "description": "Represents the amount and currency of the refund."
      },
      "Failure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "PROCESSING_ERROR"
          },
          "code": {
            "type": "string",
            "description": "Specific error code returned by the processor.",
            "example": "E001"
          },
          "message": {
            "type": "string",
            "description": "Descriptive message regarding the failure.",
            "example": "Insufficient funds."
          },
          "declineCode": {
            "type": "string",
            "description": "Code indicating declined transaction reason, if any.",
            "example": "DECLINE"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the failure is retryable.",
            "example": false
          }
        },
        "description": "Represents failure details related to a refund operation."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "The payment network related to the transaction.",
            "example": "VISA"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID from the payment scheme.",
            "example": "TX123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "ACQ123456"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number from the issuer.",
            "example": "ISS123456"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Retrieval reference number for tracking the transaction.",
            "example": "RRN123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code returned by the processor.",
            "example": "APPROVED"
          }
        },
        "description": "Processor reference details for the refund transaction."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the refund was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the refund.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the refund.",
            "example": "2023-01-01T01:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the refund.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking changes to the refund."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests.",
            "example": "corr123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the refund response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-refund"
        },
        "example": "banking-p2m-openapi-cancel-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication, which is a token-based mechanism. Clients must include a valid JWT (JSON Web Token) in the 'Authorization' header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}