{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Detection Model API",
    "description": "The Fraud Detection Model API provides access to advanced algorithms designed to identify and assess potential fraudulent activities within banking transactions. This API allows users to retrieve models that analyze transaction data to detect anomalies that might indicate fraud. Typical consumers include financial institutions and risk management teams who aim to enhance their fraud prevention strategies using predictive analytics. By leveraging this API, organizations can better safeguard their operations against fraudulent activities, ensuring compliance and customer trust.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/fraud-model": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve the fraud model.",
        "description": "This endpoint allows you to retrieve the current fraud model used for processing. It provides details about the model parameters, performance metrics, and the algorithms employed to detect fraudulent activity.",
        "operationId": "getFraudModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the fraud model. This endpoint allows you to fetch specific information related to the fraud detection model's configuration and status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudModelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the fraud model information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudModelResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudModelRequest": {
        "type": "string",
        "description": "This schema represents the request body for the fraud model GET operation.",
        "example": "{}"
      },
      "GetFraudModelResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of fraud model items.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-967595",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "transactionId": "TXN-529468",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FraudModelItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on the fraud model, returning a list of models and associated metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-967595",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "transactionId": "TXN-529468",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f689aab9-118b-5a8c-8696-3df66fe96c80",
            "correlationId": "417d38cc-8ab7-506d-b943-28d28404d720",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudModelItem": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the fraud model."
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the fraud model."
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model."
          },
          "asOfDate": {
            "type": "string",
            "description": "Date indicating when the model is applicable."
          },
          "scenario": {
            "type": "string",
            "description": "The scenario for which the model is used."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model's prediction."
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction analyzed."
          },
          "riskScore": {
            "type": "number",
            "description": "Risk score assigned by the model based on the transaction."
          },
          "decisionThreshold": {
            "type": "number",
            "description": "Threshold for making a decision based on risk score."
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level of the device associated with the transaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the model item."
          }
        },
        "description": "Represents an individual fraud model item containing its details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response, detailing the current page and total items."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-model-search-fraud-model"
        },
        "example": "fraud-model-search-fraud-model"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token is typically a JSON Web Token (JWT) which provides a compact and self-contained way to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}