{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Loan-spec",
    "description": "The Loan Management API facilitates the creation and management of loan records within the system. This endpoint allows users to initiate new loan requests, providing essential details such as loan amounts, terms, and borrower information. Typical consumers include financial institutions, lending platforms, and developers integrating loan functionalities into their applications. With this API, businesses can effectively streamline their lending processes and enhance customer experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Initiate a new loan.",
        "description": "This endpoint allows you to create a new loan by providing the necessary details. Make sure to include all required information in the request body.",
        "operationId": "createLoanLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new loan. It requires the necessary loan details in JSON format. Ensure that all required fields are included for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loan resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanLoanRequest": {
        "title": "Loan Request Body",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier for the source application initiating the loan request.",
            "example": "APP-675178"
          },
          "productId": {
            "type": "string",
            "description": "Identifier for the loan product being requested.",
            "example": "PROD-329451"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer associated with the loan.",
            "example": "CUST-317783"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for all borrower customers associated with the loan.",
            "example": [
              "CUST-391663"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for a borrower customer.",
              "example": "borrower-customer-012"
            }
          },
          "principal": {
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Loan term duration in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate (e.g., fixed or variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date the loan is booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date of the first payment due for the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number to which loan repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Branch code for servicing the loan.",
            "example": "CODE-667"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for loan operations in the application.",
        "example": {
          "sourceApplicationId": "APP-675178",
          "productId": "PROD-329451",
          "primaryCustomerId": "CUST-317783",
          "borrowerCustomerIds": [
            "CUST-391663"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-667",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "c5bd98e1-1c3c-5ad7-b610-2de2ee1edd6d",
            "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
            "idempotencyKey": "eca69b19-b8ae-514b-a72a-198c305a7e36",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-116556"
            }
          }
        }
      },
      "LoanPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal borrowed.",
            "example": "1000"
          }
        },
        "description": "Schema representing the principal amount and currency of the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across services.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-09-30T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "LoanManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the loan request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateLoanLoanResponse_201": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The identifier for the application that sourced this loan.",
            "example": "APP-738601"
          },
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product associated with this loan.",
            "example": "PROD-206979"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer associated with this loan.",
            "example": "CUST-588715"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for borrowers associated with this loan.",
            "example": [
              "CUST-404459"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount and currency for this loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first loan payment.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the loan.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number used for loan repayments.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code for the branch servicing this loan.",
            "example": "CODE-305"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling this loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The intended purpose of the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "59e2dd26-2d29-a612-8ea5-803512888484"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with this loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "The current balance information of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "The total amount disbursed for this loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalRepaid": {
            "description": "The total amount repaid against this loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "metadata": {
            "description": "Additional metadata related to the loan operation.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Response schema for the operation of creating loans, providing details about the loan setup and associated metadata.",
        "example": {
          "sourceApplicationId": "APP-738601",
          "productId": "PROD-206979",
          "primaryCustomerId": "CUST-588715",
          "borrowerCustomerIds": [
            "CUST-404459"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-305",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "59e2dd26-2d29-a612-8ea5-803512888484",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "0abdd200-6bc3-5cea-b4d9-af15f69a15f8",
            "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "The outstanding principal balance.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "accruedInterest": {
            "description": "The accrued interest on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "feesOutstanding": {
            "description": "Outstanding fees related to the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalOutstanding": {
            "description": "Total amount outstanding including principal and interest.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "availableToDraw": {
            "description": "The amount available for the borrower to draw against.",
            "$ref": "#/components/schemas/LoanAmount"
          }
        },
        "description": "Schema representing the balance details of the loan."
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount value.",
            "example": "1000"
          }
        },
        "description": "Schema representing an amount and currency."
      },
      "LoanMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the loan processing took place.",
            "example": "string"
          }
        },
        "description": "Schema for metadata associated with the loan operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-create-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-create-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). When a request is made, a valid JWT token must be included in the Authorization header. The token is issued after successful authentication and must be provided for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}