{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Trade Reportings-spec",
    "description": "The Market Operation Trade Reporting API provides access to comprehensive trade reporting data related to market operations. Users can retrieve detailed reports on their trade activities, enhancing transparency and compliance across transactions. This API is primarily utilized by financial institutions and trading firms for monitoring trades, analyzing market behaviors, and ensuring regulatory adherence. By leveraging this API, organizations can streamline their reporting processes and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-reporting": {
      "get": {
        "tags": [
          "Market Operations"
        ],
        "summary": "Retrieve Trade Reports",
        "description": "Fetches a list of trade reports based on specified criteria, allowing users to monitor and analyze trading activities.",
        "operationId": "listMarketOperationTradeReportings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve trade reporting information from the market operations endpoint. Ensure that the structure of the request aligns with the defined schema to receive accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationTradeReportingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning trade report data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationTradeReportingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationTradeReportingsRequest": {
        "type": "string",
        "description": "Represents the request body for the trade reporting operation in the market operations API.",
        "example": "{}"
      },
      "ListMarketOperationTradeReportingsResponse_200": {
        "title": "Trade Reporting Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trade report items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeReportItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the trade reports.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the Trade Reporting operation. It includes a list of trade report items, pagination information, sorting details, and metadata about the response.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "640e2668-edc5-585e-8c4b-9c56f48e216c",
            "correlationId": "58d3dfc4-60d1-5928-86c3-f2b05df114a0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeReportItem": {
        "title": "Trade Report Item",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "123456"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument involved in the trade.",
            "example": "ABC123"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date the trade is set to settle.",
            "example": "2023-10-25"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument traded.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement is to be made.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "The identifier of the custodian managing the trade.",
            "example": "CUST001"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the trade record (e.g., COMPLETED, PENDING).",
            "example": "COMPLETED"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the trade record was last updated.",
            "example": "2023-10-25T12:00:00Z"
          }
        },
        "description": "This schema represents a single trade report item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "This schema provides pagination details for the results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "res-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-25T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US"
          }
        },
        "description": "This schema contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-and-price-reporting-search-trade-and-price-reporting"
        },
        "example": "trade-and-price-reporting-search-trade-and-price-reporting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JWT (JSON Web Tokens) as the format for the token. Clients must include the JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}