{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Reconciliation Management API",
    "description": "The Account Reconciliation Management API provides tools for updating and maintaining account reconciliation statuses in your banking system. Utilizing this API, financial institutions can effectively manage discrepancies and ensure accurate account balances. Key operations include adjusting reconciliation records based on new transactions or customer inputs. This API is particularly suited for banking analysts and financial operations teams who need real-time capabilities for precise account oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/account-reconciliation/{param1}": {
      "patch": {
        "tags": [
          "Account Management"
        ],
        "summary": "Update account reconciliation details.",
        "description": "This endpoint allows developers to update specific details of an account reconciliation identified by the unique ID (ACC-200045). Use this operation to modify relevant information and ensure accurate financial balancing.",
        "operationId": "patchAccountReconciliationAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the account reconciliation details for the specified account. It contains the necessary fields required to perform the update operation. Ensure all required fields are populated correctly to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAccountReconciliationAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, updates have been applied.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAccountReconciliationAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchAccountReconciliationAcc200045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes that need to be applied to the account reconciliation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes made to the account reconciliation.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the PATCH operation on account reconciliation.",
        "example": {
          "changes": {
            "accountId": "ACC-911740",
            "customerId": "CUST-121479",
            "ledgerDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1de69208-7998-5353-957c-1592c63ea495",
            "correlationId": "95fc17fc-332f-547a-bcd3-4bd7929b2101",
            "idempotencyKey": "cbb26877-f918-52f2-b682-e593cbbd46ea",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-464217"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-123456"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "CUST-7890"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger for which the changes are being applied.",
            "example": "2023-10-01"
          }
        },
        "description": "Schema representing the individual changes to be made."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating the request with its response.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request can be safely retried without causing duplication.",
            "example": "IDEMPOTENCY-KEY-987654"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated this request.",
            "example": "AccountManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Schema representing the channel information for a request."
      },
      "PatchAccountReconciliationAcc200045Response_200": {
        "title": "Account Reconciliation Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the account reconciliation operation after a PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aafe409d-9784-5aa9-b47e-4f2f02a412f7",
            "correlationId": "95fc17fc-332f-547a-bcd3-4bd7929b2101",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-reconciliation-update-account-reconciliation"
        },
        "example": "account-reconciliation-update-account-reconciliation"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This scheme expects a JWT (JSON Web Token) in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}