{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Evaluations API",
    "description": "The Employee Evaluations API facilitates the submission and management of employee performance evaluations within an organization. This API allows HR professionals to initiate the evaluation process, ensuring that employee performance is accurately assessed and documented. Typical consumers include HR departments and management teams who utilize the API to align performance reviews with company standards and improve workforce development. By streamlining the evaluation process, organizations can enhance employee engagement and support overall talent management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation/evaluations": {
      "post": {
        "tags": [
          "Employee Evaluation"
        ],
        "summary": "Create a new employee evaluation.",
        "description": "This endpoint allows the creation of a new evaluation for an employee, capturing relevant metrics and feedback to support performance assessments within the human resource management system.",
        "operationId": "createEmployeeEvaluation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit employee evaluation data for processing. It should contain relevant evaluation metrics along with employee identifiers to ensure accurate record-keeping and analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeEvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The employee evaluation was successfully submitted.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeEvaluationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeEvaluationRequest": {
        "title": "Employee Evaluation Request",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "EMP-917101"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment the employee is associated with.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department the employee belongs to.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The effective date for the evaluation.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment for the employee (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier of the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The physical location where the employee works.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information associated with the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the employee evaluation operation in the Human Resource Management system.",
        "example": {
          "employeeId": "EMP-917101",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "408bd52f-5534-5933-bb6e-6c4b4d9c0f91",
            "correlationId": "538345ca-8e81-571f-a7be-bbe02e5d86aa",
            "idempotencyKey": "ed33f016-f756-56cd-b6f9-48afc8221a3b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-408530"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-112233"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates multiple requests for tracking purposes.",
            "example": "corr-445566"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a repeated request has no adverse effects.",
            "example": "idemp-778899"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "HR Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "Employee Portal"
          },
          "channel": {
            "description": "Information about the channel used to submit the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the evaluation request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "device-456"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateEmployeeEvaluationResponse_200": {
        "title": "Employee Evaluation Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "EMP-763134"
          },
          "assignmentId": {
            "type": "string",
            "description": "The identifier for the specific assignment related to the evaluation.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier of the department to which the employee belongs.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code where the evaluation is conducted.",
            "example": "US"
          },
          "assessmentId": {
            "type": "string",
            "description": "The unique identifier for the assessment being evaluated.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The outcome of the evaluation.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The score assigned during the evaluation, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "The timestamp indicating when the evaluation was assessed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the evaluation response.",
            "$ref": "#/components/schemas/EvaluationMetadata"
          }
        },
        "description": "Schema representing the response for an employee evaluation.",
        "example": {
          "employeeId": "EMP-763134",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "858ec3e4-bd47-520e-989e-20bfbcd692ca",
            "correlationId": "538345ca-8e81-571f-a7be-bbe02e5d86aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EvaluationMetadata": {
        "title": "Evaluation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request/response throughout the system.",
            "example": "CORREL1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-05T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the evaluation took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata information related to the evaluation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-evaluate-employee-evaluation"
        },
        "example": "employee-evaluation-evaluate-employee-evaluation"
      },
      "X-Runtime-App": {
        "description": "The name of the application providing the runtime environment for this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a valid JSON Web Token (JWT) is required for authentication. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}