{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Relations Management API",
    "description": "The Merchant Relations Management API facilitates the establishment and maintenance of relationships between merchants and the banking system. This endpoint supports the creation of new merchant profiles, enabling businesses to efficiently manage their merchant data and enhance transaction processes. Typical consumers of this API include financial institutions and payment processing companies that require robust management of merchant relations for compliance and operational efficiency. By using this API, businesses can streamline their interactions with merchants and improve service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations": {
      "post": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Establish Merchant Relations",
        "description": "This endpoint allows you to create and establish relationships with merchants. It enables businesses to manage their interactions and agreements with various merchants effectively.",
        "operationId": "createMerchantRelations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate merchant relations operations. It contains payload that must conform to the expected schema for processing merchant-related requests.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantRelationsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The merchant relation was created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchantRelationsResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMerchantRelationsRequest": {
        "title": "Merchant Relations Request Body",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-465848"
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the merchant.",
            "example": "Olivia Bennett"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code representing the type of the merchant\u2019s business.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the merchant's settlement account.",
            "example": "ACC-603776"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settling transactions.",
            "example": "USD"
          },
          "pricingPlan": {
            "type": "string",
            "description": "Pricing plan selected by the merchant.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for merchant relations operations.",
        "example": {
          "merchantId": "MER-465848",
          "legalName": "Olivia Bennett",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-603776",
          "settlementCurrency": "USD",
          "pricingPlan": "STANDARD",
          "requestContext": {
            "requestId": "973d1822-7c04-5a94-9fd5-8df8e5692ec6",
            "correlationId": "16e2a1ab-a006-5dad-8876-f92c3d3e0ed2",
            "idempotencyKey": "3968fe5a-a3db-5b6c-a56d-bba4bba3dc5e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-805070"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-101"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-202"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests have the same effect.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "backendSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was sent.",
            "example": "merchantApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "CreateMerchantRelationsResponse_201": {
        "title": "Merchant Relations Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-797488"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code representing the merchant's business type.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the merchant's settlement account.",
            "example": "ACC-444697"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique resource identifier associated with the operation.",
            "example": "RES-332979"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant relation operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the merchant relation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the merchant relations POST operation, containing details about the merchant and the operation's metadata.",
        "example": {
          "merchantId": "MER-797488",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-444697",
          "resourceId": "RES-332979",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ff8ef6b4-b0ca-5284-825a-d7e8345226dc",
            "correlationId": "16e2a1ab-a006-5dad-8876-f92c3d3e0ed2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_abcde12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across systems.",
            "example": "corr_abcde12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the merchant relations response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier that uniquely represents the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-create-merchant-relations"
        },
        "example": "merchant-relations-create-merchant-relations"
      },
      "x-runtime-app": {
        "description": "The name of the application that is making the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme with JSON Web Tokens (JWT). Clients must include a valid bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}