{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Facilities Utilities Administrations-v5-spec",
    "description": "This API allows users to access a comprehensive list of banking facilities and their associated utilities management services. It provides essential information about various utilities offered under banking facilities, enabling clients to make informed decisions on resource utilization. Typical consumers of this API include financial institutions, banking service providers, and developers integrating banking functionalities into applications. The API enhances operational efficiency by streamlining access to utilities administration data for various banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/utilities-administration": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve utility administration information.",
        "description": "This endpoint allows users to fetch detailed information regarding the utility administration of facilities. It includes data on management practices, workflows, and resources related to utilities within the facility context.",
        "operationId": "listBankingFacilitiesUtilitiesAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving utility administration details of facilities. This should contain the required parameters to fetch relevant utility information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingFacilitiesUtilitiesAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of facility utilities information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingFacilitiesUtilitiesAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingFacilitiesUtilitiesAdministrationsRequest": {
        "type": "string",
        "description": "A JSON string representation for the Request Body of the GET operation related to Utilities Administration in Facilities.",
        "example": "{}"
      },
      "ListBankingFacilitiesUtilitiesAdministrationsResponse_200": {
        "title": "Utilities Administration Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of utility operation items.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-317582",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/UtilityOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the Utilities Administration Operations API for the GET request.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-317582",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "823602e7-f421-5eeb-9b64-a86eb5b76959",
            "correlationId": "cd446f08-dbd0-5229-96df-e7bba47f64c7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "UtilityOperationItem": {
        "title": "Utility Operation Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site where the operation occurs.",
            "example": "12345"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset associated with the operation.",
            "example": "67890"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the associated work order.",
            "example": "54321"
          },
          "scheduledDate": {
            "type": "string",
            "description": "Scheduled date for the operation.",
            "example": "2023-10-12T12:00:00Z"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor assigned to the operation.",
            "example": "vendor-123"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone of the facility where the operation takes place.",
            "example": "Zone A"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance to be performed.",
            "example": "Preventive"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 120
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the operation record.",
            "example": "Open"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-12T12:00:00Z"
          }
        },
        "description": "Schema representing a single utility operation item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests to a single response.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-12T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "utilities-administration-search-utilities-administration"
        },
        "example": "utilities-administration-search-utilities-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically in the JSON Web Token (JWT) format, to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}