{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Fraud Evaluation Review-spec",
    "description": "This API facilitates the creation of fraud evaluation reviews for banking accounts. It allows financial institutions to submit assessments based on fraud detection criteria, thereby enhancing their ability to investigate suspicious activities. By leveraging this endpoint, users can systematically document reviews related to fraud cases. Typical consumers include compliance officers and risk management teams who handle fraud prevention and response initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-evaluation/{param1}/reviews": {
      "post": {
        "tags": [
          "Fraud Evaluation"
        ],
        "summary": "Submit a review for fraud evaluation.",
        "description": "This endpoint allows you to submit a review related to a specific fraud evaluation case identified by its resource ID. Ensure to provide all necessary details in the request body for proper processing.",
        "operationId": "createFraudEvaluationReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the fraud evaluation process associated with a specific account. The provided data will be processed to determine the necessary actions regarding the account's status based on the review details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudEvaluationReviewRequest"
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "The request was well-formed but unable to be followed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudEvaluationReviewResponse_422"
                }
              }
            }
          },
          "202": {
            "description": "The request has been accepted and is being processed; the result will be available later.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudEvaluationReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFraudEvaluationReviewResponse_422": {
        "title": "Fraud Evaluation Response Error",
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for the request, useful for tracing and debugging.",
            "example": "829cdb33-8bee-4d06-863e-b68bc315c104"
          },
          "code": {
            "type": "string",
            "description": "A specific error code representing the type of error that occurred during the request.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow process that the request was attempting to execute.",
            "example": "WF-042"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing additional details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          }
        },
        "description": "This schema represents the error response returned when there is a validation error in the fraud evaluation review operation.",
        "example": {
          "correlationId": "829cdb33-8bee-4d06-863e-b68bc315c104",
          "code": "RISK_REVIEW_REJECTED",
          "workflow": "WF-042",
          "message": "Enhanced fraud/compliance review rejected the request"
        }
      },
      "CreateFraudEvaluationReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "Scope of the review containing identifiers or descriptions.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific scope related to the review.",
              "example": "TransactionID-12345"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date and time for completing the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information related to the review request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a review related to fraud evaluation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "a0686e6f-7ef9-5d09-aa45-cb6df841b4a6",
            "correlationId": "b9e892c8-cdf6-5877-9261-6e80a6b36353",
            "idempotencyKey": "a2d200a0-51d2-52a6-91e5-1b45ad83bf52",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-961233"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across services.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "FraudDetectionSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "FraudApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the review request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-0123"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateFraudEvaluationReviewResponse_202": {
        "title": "Fraud Evaluation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken during the fraud evaluation.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed in the context of fraud evaluation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the fraud evaluation process.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the fraud evaluation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FraudEvaluationMetadata"
          }
        },
        "description": "This schema represents the response structure for a fraud evaluation operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f326aea1-1f53-5b98-b5a5-d8513896f236",
            "correlationId": "b9e892c8-cdf6-5877-9261-6e80a6b36353",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudEvaluationMetadata": {
        "title": "Fraud Evaluation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response received from the fraud evaluation service.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the fraud evaluation was processed.",
            "example": "string"
          }
        },
        "description": "This schema encapsulates additional metadata related to the fraud evaluation process."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ed80028d-e6aa-4c4c-8c4c-de3119c18c60"
        },
        "example": "ed80028d-e6aa-4c4c-8c4c-de3119c18c60"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f0fdd7e5-6a6c-4355-8bd1-740d275ca013"
        },
        "example": "f0fdd7e5-6a6c-4355-8bd1-740d275ca013"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_422",
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this operation, used for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being accessed during this operation, allows tracking of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-evaluation-review-fraud-evaluation"
        },
        "example": "fraud-evaluation-review-fraud-evaluation"
      },
      "X-Runtime-App": {
        "description": "The name of the application within which this operation is executed, used for monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must include the JWT in the authorization header for authenticating requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}