{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Trade Banking Cheque Lock Boxs-spec",
    "description": "This API facilitates the retrieval of cheque lock box details within the trade banking sector. It provides users with insights into various cheque lock boxes, allowing for efficient management and oversight of cheque-related transactions. Financial institutions, banking personnel, and trade finance managers are typical consumers of this API, leveraging it to streamline banking operations. By accessing this endpoint, users can quickly obtain information crucial for decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve cheque lock box details.",
        "description": "Fetch detailed information about the cheque lock box service offerings, including features and availability. This endpoint allows users to understand the functionalities associated with the cheque lock box in the trade banking sector.",
        "operationId": "listTradeBankingChequeLockBoxs",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving cheque lock box information. Ensure that you provide the necessary parameters in the appropriate JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTradeBankingChequeLockBoxsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; details of the cheque lock box retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTradeBankingChequeLockBoxsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTradeBankingChequeLockBoxsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the cheque lock box in trade banking.",
        "example": "{}"
      },
      "ListTradeBankingChequeLockBoxsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of cheque batch operations.",
            "example": [
              {
                "chequeBatchId": "STANDARD",
                "depositAccountId": "ACC-179181",
                "chequeCount": 1,
                "batchAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "clearingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChequeBatch"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching cheque lock box operations.",
        "example": {
          "items": [
            {
              "chequeBatchId": "STANDARD",
              "depositAccountId": "ACC-179181",
              "chequeCount": 1,
              "batchAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "clearingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "62f67d0e-feda-50e9-9686-a72d806b2d1c",
            "correlationId": "c2c41476-3225-565f-8bb1-9e048c5c510d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChequeBatch": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch."
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier of the deposit account associated with the batch."
          },
          "chequeCount": {
            "type": "integer",
            "description": "Total number of cheques in this batch.",
            "format": "int32"
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "The date the cheques are cleared."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Represents a cheque batch operation."
      },
      "BatchAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount for the cheque batch."
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the batch amount."
          }
        },
        "description": "Amount details for the cheque batch."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-lock-box-search-cheque-lock-box"
        },
        "example": "cheque-lock-box-search-cheque-lock-box"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses bearer authentication with JSON Web Tokens (JWT). The client must send the token in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}