{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Corporate Payroll Service-spec",
    "description": "The Corporate Payroll Services Management API enables businesses to efficiently manage their corporate payroll services within the trade banking domain. This API allows users to initiate and configure new payroll services tailored for corporate needs, facilitating streamlined payment processing and compliance management. Typical consumers of this API include corporate finance teams and payroll administrators seeking to automate payroll operations and enhance service delivery. By integrating this API, organizations can improve operational efficiency and effectively manage employee compensation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/corporate-payroll-services": {
      "post": {
        "tags": [
          "Payroll Services"
        ],
        "summary": "Create a new corporate payroll service",
        "description": "This endpoint allows users to create a new corporate payroll service tailored to facilitate payroll processing for businesses. Users can submit the necessary details through the request body to initiate the service.",
        "operationId": "createTradeBankingCorporatePayrollService",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate payroll services within the corporate banking context. It captures all necessary information to process payroll-related transactions for employees.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingCorporatePayrollServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created for payroll service.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingCorporatePayrollServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingCorporatePayrollServiceRequest": {
        "title": "Corporate Payroll Services Request Body",
        "required": [
          "corporateCustomerId",
          "employeeCount",
          "fundingAccountId",
          "payPeriod",
          "payrollBatchId",
          "requestContext",
          "totalNetPay"
        ],
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-318408"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "Identifier for the payroll batch.",
            "example": "STANDARD"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which payroll is being processed.",
            "example": "STANDARD"
          },
          "employeeCount": {
            "type": "integer",
            "description": "The number of employees included in the payroll.",
            "format": "int32",
            "example": 1
          },
          "fundingAccountId": {
            "type": "string",
            "description": "Identifier for the funding account used for payroll.",
            "example": "ACC-591714"
          },
          "totalNetPay": {
            "description": "Total net pay details for the payroll.",
            "$ref": "#/components/schemas/TotalNetPay"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for processing corporate payroll services.",
        "example": {
          "corporateCustomerId": "CUST-318408",
          "payrollBatchId": "STANDARD",
          "payPeriod": "STANDARD",
          "employeeCount": 1,
          "fundingAccountId": "ACC-591714",
          "totalNetPay": {
            "amount": 100,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "4b25e5c7-dcd5-41ad-9781-7c18da261ec8",
            "correlationId": "f0b79bbf-d89c-4b48-ad2c-a8f2e90667ff",
            "idempotencyKey": "4bb1b6ed-40de-48f2-b780-33cf86218630",
            "requestedAt": "2026-08-27T23:01:17.367Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-939910"
            }
          }
        }
      },
      "TotalNetPay": {
        "title": "Total Net Pay",
        "required": [
          "amount",
          "currency"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount of total net pay.",
            "format": "int32",
            "example": 50000
          },
          "currency": {
            "type": "string",
            "description": "Currency of the total net pay amount.",
            "example": "USD"
          }
        },
        "description": "Represents the total net pay for the payroll."
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "CORR78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "IDEMPOTENTKEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp at which the request was made.",
            "example": "2023-09-30T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "PayrollSystemV1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "CorporatePayrollApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Information regarding the channel used in the request."
      },
      "CreateTradeBankingCorporatePayrollServiceResponse_201": {
        "title": "Corporate Payroll Services Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-951795"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "The unique identifier for the payroll batch.",
            "example": "STANDARD"
          },
          "fundingAccountId": {
            "type": "string",
            "description": "The identifier for the account used to fund the payroll.",
            "example": "ACC-991709"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the operation.",
            "example": "RES-213927"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payroll operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the payroll operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the payroll operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response returned when a corporate payroll service operation is successfully processed.",
        "example": {
          "corporateCustomerId": "CUST-951795",
          "payrollBatchId": "STANDARD",
          "fundingAccountId": "ACC-991709",
          "resourceId": "RES-213927",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d0acfe9e-4d6b-5583-9c5e-12ab13d1eb35",
            "correlationId": "53d28f86-5140-56d3-bdf8-1a14e8c7512d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated by the operation.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to trace the request across multiple systems.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payroll operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema represents the metadata related to a payroll operation."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1b5804bffa40a2aa"
        },
        "example": "1b5804bffa40a2aa"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "68428986-2249-4bc3-9648-078e360a7581"
        },
        "example": "68428986-2249-4bc3-9648-078e360a7581"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9574a9db-4c23-48bc-b1bc-314d629e0eee"
        },
        "example": "9574a9db-4c23-48bc-b1bc-314d629e0eee"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint to track or reference specific requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-payroll-services-create-corporate-payroll-services"
        },
        "example": "corporate-payroll-services-create-corporate-payroll-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, useful for diagnostics and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "An identifier that represents the current workflow, aiding in tracking and monitoring of processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-018"
        },
        "example": "WF-018"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Payroll Batch Payment Processing"
        },
        "example": "Payroll Batch Payment Processing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad689397-dbdc-4520-a8f1-5b6712115d2b"
        },
        "example": "ad689397-dbdc-4520-a8f1-5b6712115d2b"
      }
    }
  }
}