{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Card Financial Settlements-spec",
    "description": "The Payment Card Financial Settlements List API provides businesses with the ability to retrieve comprehensive summaries of financial settlements related to payment card transactions. This endpoint allows users to access detailed records that reflect the settlement amounts and dates, as well as any adjustments made. Financial institutions and payment processors can utilize this API to monitor transaction settlements and ensure accuracy in their accounting processes. Ideal for backend integration, it supports query functionalities that enhance operational reporting and analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-financial-settlement": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve card financial settlement information.",
        "description": "This endpoint allows you to retrieve detailed information about card financial settlements related to transactions. It provides insights into the processing of card payments and helps in reconciling financial entries.",
        "operationId": "listPaymentCardFinancialSettlements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for retrieving card financial settlement information. Please provide the required data in the format specified by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentCardFinancialSettlementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial settlement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentCardFinancialSettlementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentCardFinancialSettlementsRequest": {
        "type": "string",
        "description": "The request body for the GET operation on card financial settlements. It should contain a string representation of the payment request.",
        "example": "{}"
      },
      "ListPaymentCardFinancialSettlementsResponse_200": {
        "title": "Card Financial Settlement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of payment operations.",
            "example": [
              {
                "paymentId": "PAY-125759",
                "debtorAccountId": "ACC-332290",
                "creditorAccountId": "ACC-578362",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the payment operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving the card financial settlement operations.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-125759",
              "debtorAccountId": "ACC-332290",
              "creditorAccountId": "ACC-578362",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "368b9a10-76f7-582d-995e-688ad412d5ab",
            "correlationId": "27693fd2-1354-56df-9be3-f1c313eff47f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentOperation": {
        "title": "Payment Operation",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "P12345"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the account that is debiting funds.",
            "example": "D98765"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the account that is receiving funds.",
            "example": "C54321"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment is requested to be executed.",
            "example": "2023-10-10"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information about the payment.",
            "example": "Invoice #12345"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "Completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment record was last updated.",
            "example": "2023-10-11T12:34:56Z"
          }
        },
        "description": "Details of a single payment operation."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217) for the instructed amount.",
            "example": "EUR"
          }
        },
        "description": "Amount of money to be instructed for the payment."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details for paginating the results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "C123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-11T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-financial-settlement-search-card-financial-settlement"
        },
        "example": "card-financial-settlement-search-card-financial-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer Authentication scheme, which allows the use of a JWT (JSON Web Token) to verify the identity of the user by including it in the authorization header for requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}