{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loan By Param2-spec",
    "description": "The Loan Repayment Schedule Update API allows users to modify repayment schedules associated with existing loans using specified parameters. This endpoint is crucial for loan management systems where adjustments to payment timelines may be required based on client needs or changing circumstances. Typical consumers include financial institutions and loan servicers who need to maintain accurate repayment data. By providing a PATCH method, this API facilitates selective updates while ensuring the integrity and accuracy of loan repayment information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules/{param2}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Repayment Schedule",
        "description": "This operation allows you to update the repayment schedule for a specified loan. Provide the required information in the request body to modify the existing repayment details.",
        "operationId": "updateLoanByParam2",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "This request body allows the user to update the repayment schedule for a specific loan identified by 'LOAN-500045' and a specific schedule identified by 'RES-100045'. It contains the necessary fields required for making modifications to the existing repayment schedule.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanByParam2Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, updated repayment schedule returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanByParam2Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanByParam2Request": {
        "title": "Repayment Schedule Update Request",
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment schedule becomes effective.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the repayment schedule.",
            "example": "ACTIVE"
          },
          "installments": {
            "type": "array",
            "description": "List of installment details associated with the loan repayment schedule.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating repayment schedules of loans.",
        "example": {
          "effectiveDate": "2026-09-15",
          "status": "ACTIVE",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "requestContext": {
            "requestId": "58e8ee04-765d-596d-8e30-12cbe26e4ef4",
            "correlationId": "71a396c2-bb59-5b05-bd37-d7735d0976ac",
            "idempotencyKey": "0654ba95-f3b9-5b84-8e61-82bf10c6bed3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-223347"
            }
          }
        }
      },
      "Installment": {
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The number of the installment in the repayment schedule.",
            "format": "int32",
            "example": 1
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the installment payment.",
            "example": "2023-10-15"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "principalDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "interestDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "feesDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "totalDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the installment.",
            "example": "paid"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp indicating when the installment was paid, if applicable.",
            "example": "2023-10-14T12:00:00Z"
          }
        },
        "description": "Details of a single installment in the repayment schedule."
      },
      "MonetaryAmount": {
        "title": "Monetary Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the monetary amount (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money expressed as a string to allow for decimal values.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount of money with its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation between requests.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CentralBankSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "LoanManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-123"
          }
        },
        "description": "Schema representing details about the channel through which the request was made."
      },
      "UpdateLoanByParam2Response_200": {
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the repayment schedule is effective.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the repayment amounts.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the repayment schedule adjustment or query.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "List of installments in the repayment schedule.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "status": "ACTIVE",
                "paidAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedule.",
            "example": "f719de78-7adc-11a1-222e-ba134e4b77ed"
          },
          "status": {
            "type": "string",
            "description": "Current status of the repayment schedule.",
            "example": "ACTIVE"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the repayment schedule was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "Identifier of the schedule that this schedule supersedes, if applicable.",
            "example": "13a08bcc-5a2f-1bc2-e4d1-05ac58e56992"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving the repayment schedule details of a loan.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "status": "ACTIVE",
              "paidAt": "2026-08-11T12:00:00Z"
            }
          ],
          "id": "f719de78-7adc-11a1-222e-ba134e4b77ed",
          "status": "ACTIVE",
          "generatedAt": "2026-09-15T14:30:00Z",
          "supersedesScheduleId": "13a08bcc-5a2f-1bc2-e4d1-05ac58e56992",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "8f2b3bf8-b584-5403-8ef8-e9a29da1ca6e",
            "correlationId": "71a396c2-bb59-5b05-bd37-d7735d0976ac",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrencyAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency type (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount in the specified currency.",
            "example": "1000.00"
          }
        },
        "description": "Represents an amount of currency including its value and currency type."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-09-30T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "user-123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "user-456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details including creation and update information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across services.",
            "example": "corr-789xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response, including IDs and regions."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-repayment-schedule"
        },
        "example": "banking-loans-openapi-update-repayment-schedule"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, important for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a valid JSON Web Token (JWT) that must be included in the Authorization header of the request. The JWT should be signed and may include claims that allow the server to validate the user's identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}