{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Partner By Application Id-spec",
    "description": "The Partner Management API facilitates the updating of partner associations by application ID within a microservices architecture. This endpoint allows businesses to modify existing partner data associated with a specific application, enabling seamless integration and management of partner relationships. Typical consumers include application developers and system integrators looking to dynamically update partner configurations. This enhances operational flexibility and ensures that application partnerships are aligned with current business strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications/{applicationId}": {
      "put": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Update Partner Application",
        "description": "This operation updates the details of a specific partner application identified by its ID. Ensure that all required fields are provided in the request to successfully modify the application.",
        "operationId": "replacePartnerByApplicationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the application with the specified ID. It includes necessary attributes and fields required for a successful update of the application's status and details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePartnerByApplicationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePartnerByApplicationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplacePartnerByApplicationIdRequest": {
        "title": "Application Update Request",
        "type": "object",
        "properties": {
          "appDescription": {
            "type": "string",
            "description": "A brief description of the application.",
            "example": "STANDARD"
          },
          "appName": {
            "type": "string",
            "description": "The name of the application.",
            "example": "Northstar Banking Service"
          },
          "appUrl": {
            "type": "string",
            "description": "The URL where the application can be accessed.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "ownerAddressLine1": {
            "type": "string",
            "description": "The first line of the owner's address.",
            "example": "STANDARD"
          },
          "ownerAddressLine2": {
            "type": "string",
            "description": "The second line of the owner's address, if applicable.",
            "example": "STANDARD"
          },
          "ownerCity": {
            "type": "string",
            "description": "The city where the owner resides.",
            "example": "STANDARD"
          },
          "ownerCountry": {
            "type": "string",
            "description": "The country where the owner resides.",
            "example": "STANDARD"
          },
          "ownerName": {
            "type": "string",
            "description": "The full name of the owner of the application.",
            "example": "Northstar Banking Service"
          },
          "ownerPostalCode": {
            "type": "string",
            "description": "The postal code of the owner's address.",
            "example": "CODE-501"
          },
          "ownerState": {
            "type": "string",
            "description": "The state where the owner resides.",
            "example": "STANDARD"
          },
          "image": {
            "type": "string",
            "description": "A URL or path to an image representing the application.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an application.",
        "example": {
          "appDescription": "STANDARD",
          "appName": "Northstar Banking Service",
          "appUrl": "https://banking.northstar.example/callbacks/status",
          "ownerAddressLine1": "STANDARD",
          "ownerAddressLine2": "STANDARD",
          "ownerCity": "STANDARD",
          "ownerCountry": "STANDARD",
          "ownerName": "Northstar Banking Service",
          "ownerPostalCode": "CODE-501",
          "ownerState": "STANDARD",
          "image": "STANDARD",
          "requestContext": {
            "requestId": "c003d1b2-52f2-54ae-b2e1-bcc219c08305",
            "correlationId": "1c2da35f-bc84-522d-9b4e-deef211ec484",
            "idempotencyKey": "21bb9719-238c-5d77-9583-c32dea8169a0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-807937"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and requests.",
            "example": "corr-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used for ensuring idempotency in this operation.",
            "example": "ido-1122334455"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "User Interface"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Web App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel information of the request."
      },
      "ReplacePartnerByApplicationIdResponse_200": {
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "description": "The pre-application ID associated with the request.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the application, represented as a string.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Additional metadata related to the application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the PUT operation on applications.",
        "example": {
          "preAppId": 1,
          "status": "ACTIVE",
          "metadata": {
            "responseId": "ec41fdc2-f86b-5c6f-ae3a-2da90ac22293",
            "correlationId": "1c2da35f-bc84-522d-9b4e-deef211ec484",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information for the application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "applicationId": {
        "name": "applicationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This header helps in tracking requests and responses related to specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-modify-app-registration"
        },
        "example": "open-finance-api-modify-app-registration"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request is being processed. This header is useful for identifying the context of the service being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This scheme requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}