{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ATM Network Management API",
    "description": "The ATM Network Management API enables users to access and manage ATM network configurations and statuses. This API allows stakeholders, such as banking institutions and network operators, to retrieve detailed information about ATM locations, operational status, and specific channel settings. Typical use cases include monitoring ATM availability, analyzing network performance, and optimizing placement strategies. By providing real-time insights into ATM networks, this API supports data-driven decision-making to enhance customer service and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-management": {
      "get": {
        "tags": [
          "ATM Network Management"
        ],
        "summary": "Retrieve ATM network management details.",
        "description": "This endpoint allows users to access detailed information regarding ATM network management, including services, configuration, and operational status. It is designed for developers needing to monitor and manage ATM networks effectively.",
        "operationId": "getAtmNetworkManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve ATM network management information specific to a channel. It must comply with the defined schema to ensure proper data structure and integrity.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAtmNetworkManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of ATM network management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAtmNetworkManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAtmNetworkManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the ATM network management context, which is expected to be in the JSON format.",
        "example": "{}"
      },
      "GetAtmNetworkManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of ATM channel details.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "atmId": "STANDARD",
                "cashStatus": "AVAILABLE",
                "terminalHealth": "ONLINE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChannelATMDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort options applied to the ATM results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for GET operations on ATM network management providing channel-specific details.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "atmId": "STANDARD",
              "cashStatus": "AVAILABLE",
              "terminalHealth": "ONLINE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5755c669-b7fb-598b-88ad-d290369f887c",
            "correlationId": "f3e453d2-8004-5271-b4e4-bfde685c8a60",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChannelATMDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the ATM channel."
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region of the ATM."
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Maximum daily transaction capacity for the ATM.",
            "format": "int32"
          },
          "atmId": {
            "type": "string",
            "description": "Unique identifier for the ATM."
          },
          "cashStatus": {
            "type": "string",
            "description": "Current cash status of the ATM."
          },
          "terminalHealth": {
            "type": "string",
            "description": "Health status of the ATM terminal."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record for the ATM."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update for the ATM information."
          }
        },
        "description": "Detailed information for each ATM channel."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the service window."
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the service window."
          }
        },
        "description": "Service window hours for the ATM."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response data."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-management-search-atm-network-management"
        },
        "example": "atm-network-management-search-atm-network-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must include the token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}