{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Party By Param1-spec",
    "description": "The Party Information Retrieval API allows users to access detailed information about legal entities within the banking sector. By using the unique identifier provided as a parameter, consumers can retrieve specific data related to parties registered in the legal entity directory. This API is designed for financial institutions, developers, and third-party service providers seeking to integrate legal entity information into their applications. Typical use cases include compliance checks, customer due diligence, and data enrichment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/legal-entity-directory/{param1}": {
      "get": {
        "tags": [
          "Legal Entity"
        ],
        "summary": "Retrieve Legal Entity Details",
        "description": "Fetches detailed information about a specific legal entity represented by the unique identifier RES-100045. This endpoint allows developers to access comprehensive data regarding the legal entity, including its attributes and related information.",
        "operationId": "getPartyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information from the legal entity directory. It expects a specific structure based on the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested legal entity data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the legal entity directory.",
        "example": "{}"
      },
      "GetPartyByParam1Response_200": {
        "title": "Legal Entity Directory Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-734145"
          },
          "legalName": {
            "type": "string",
            "description": "Official legal name of the entity.",
            "example": "Olivia Bennett"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "Identifier of the legal entity.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the entity is registered.",
            "example": "US"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Registration number of the entity.",
            "example": "NY-4587219"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date of incorporation of the legal entity.",
            "example": "2026-09-15"
          },
          "entityStatus": {
            "type": "string",
            "description": "Current status of the legal entity.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Logical record status of the entity.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the entity record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the entity record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the legal entity directory GET operation.",
        "example": {
          "partyId": "PARTY-734145",
          "legalName": "Olivia Bennett",
          "legalEntityIdentifier": "STANDARD",
          "countryCode": "US",
          "registrationNumber": "NY-4587219",
          "incorporationDate": "2026-09-15",
          "entityStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cd19587f-a585-5b0e-8806-dbad0fe0f70a",
            "correlationId": "41f438c8-22fc-5f46-9f4d-18197fbd0ab4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata included in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-entity-directory-get-legal-entity-directory"
        },
        "example": "legal-entity-directory-get-legal-entity-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token formatted as a JSON Web Token (JWT). This method is commonly used for securing APIs, providing a simple and standardized way to transmit claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}