{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Card Transaction Switch Routing Decision-v5-spec",
    "description": "The Banking Operational Services Card Transaction Routing Decision API facilitates the effective routing of card transaction requests based on predefined criteria. This API handles the creation of routing decisions that determine how card transactions are processed within the banking operational services framework. It is primarily utilized by developers integrating financial solutions, enabling automated transaction handling and improving operational efficiency. This API ensures that transactions are processed smoothly, enhancing the overall customer experience in banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/routing-decisions": {
      "post": {
        "tags": [
          "Card Transaction Services"
        ],
        "summary": "Create a routing decision for card transactions.",
        "description": "This endpoint allows you to create a new routing decision for card transactions, specifying the parameters that influence the routing logic. Ensure that all necessary information is provided in the request body to successfully process the transaction routing.",
        "operationId": "createBankingOperationalServicesCardTransactionSwitchRoutingDecision",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send routing decision data for card transactions. It contains the necessary information to process the routing decisions effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesCardTransactionSwitchRoutingDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for asynchronous processing.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesCardTransactionSwitchRoutingDecisionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesCardTransactionSwitchRoutingDecisionRequest": {
        "title": "Card Transaction Switch Routing Decisions Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-320690"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-932815"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for card transaction switch routing decisions.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-320690",
          "accountId": "ACC-932815",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "9a69655c-ad97-540d-8276-b37495df6489",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "idempotencyKey": "8e0a7216-174d-51ad-b282-e8440bf7529b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-687368"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace logs across services.",
            "example": "correlation-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "idempotency-key-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request context was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "payment-processing-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "transaction-app"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used for the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing channel details for a request."
      },
      "CreateBankingOperationalServicesCardTransactionSwitchRoutingDecisionResponse_202": {
        "title": "Routing Decisions Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the specific operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-941124"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account involved in the transaction.",
            "example": "ACC-731473"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference used for processing the transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the routing decision.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp indicating when the routing decision was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional information related to the routing decision.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for routing decisions in card transaction operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-941124",
          "accountId": "ACC-731473",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ec939e2e-56b9-5724-a78f-120d56cf0305",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains additional details related to the routing decision."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-route-card-transaction-switch"
        },
        "example": "card-transaction-switch-route-card-transaction-switch"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, typically in the JSON Web Token (JWT) format. This mechanism allows secure transmission of information between parties as a JSON object, which is used for authorization purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}