{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Compliance By Param1-spec",
    "description": "The Fraud Resolution Compliance Retrieval API allows users to access compliance information related to fraud resolution by providing specific parameters. This endpoint supports developers in retrieving relevant compliance data necessary for completing fraud-related evaluations and assessments. It is typically used by risk management teams and compliance officers in financial institutions. By leveraging this API, consumers can enhance their decision-making processes and ensure adherence to regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/fraud-resolution/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve the details of a specific fraud resolution entry.",
        "description": "This endpoint allows you to fetch detailed information about a particular fraud resolution identified by the given ID. You can use this information for review, audit, or compliance purposes.",
        "operationId": "getComplianceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve fraud resolution information for a specific resolution identifier. Ensure the request is properly formatted to access the relevant compliance data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested fraud resolution details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceByParam1Request": {
        "title": "Fraud Resolution Request Body",
        "type": "string",
        "description": "This schema represents the request body structure for the fraud resolution operations under the specified context. It is currently defined as a string.",
        "example": "{}"
      },
      "GetComplianceByParam1Response_200": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity involved in the submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction under which the submission falls.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The period for which the report is submitted.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "Regulation that the submission is in compliance with.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for any actions required based on the submission.",
            "example": "2026-09-15"
          },
          "transactionId": {
            "type": "string",
            "description": "Identifier for the transaction related to this submission.",
            "example": "TXN-744722"
          },
          "riskScore": {
            "type": "number",
            "description": "Calculated risk score associated with the submission.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold score for decision-making.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level assigned to the device used for the submission.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the submitted record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the submission and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Fraud Resolution API, including detailed information about the submission and processing metadata.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "transactionId": "TXN-744722",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "708db9a1-2bb2-5edc-84da-f059a20f878d",
            "correlationId": "86932c8a-e1db-57e7-85dc-c86813426a96",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint related to the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-resolution-get-fraud-resolution"
        },
        "example": "fraud-resolution-get-fraud-resolution"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses the Bearer authentication method. This format allows clients to authenticate using a JSON Web Token (JWT) which is passed in the Authorization header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}