{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Application Applicants-spec",
    "description": "This API allows users to access a list of applicants associated with a specific loan application. By utilizing the unique loan application identifier, stakeholders can efficiently retrieve relevant applicant details for assessment and processing. Common consumers of this API include loan officers, underwriters, and financial analysts who require applicant information for decision-making purposes. The operation supports streamlining loan application reviews and enhances workflow efficiency within lending processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve Applicants for Loan Application",
        "description": "This endpoint allows you to fetch the list of applicants associated with a specific loan application identified by its unique ID (RES-100045).",
        "operationId": "listLoanApplicationApplicants",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch applicant details for a specific loan application identified by RES-100045. Ensure that the request is formatted correctly to retrieve the expected data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanApplicationApplicantsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of applicants.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanApplicationApplicantsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanApplicationApplicantsRequest": {
        "title": "Loan Application Applicants Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving loan application applicants. The data is formatted as a JSON string.",
        "example": "{}"
      },
      "ListLoanApplicationApplicantsResponse_200": {
        "title": "Loan Application Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of applicants in the loan application.",
            "example": [
              {
                "role": "PRIMARY_HOLDER",
                "customerId": "CUST-825050",
                "relationshipToPrimary": "STANDARD",
                "income": {
                  "employmentType": "STANDARD",
                  "employerName": "Northstar Banking Service",
                  "occupation": "STANDARD",
                  "employmentStartDate": "2026-09-15",
                  "businessRegistrationNumber": "STANDARD",
                  "grossMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "netMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "otherMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "verificationStatus": "VERIFIED"
                },
                "monthlyObligations": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "declaredAssets": [
                  {
                    "assetType": "STANDARD",
                    "description": "Customer banking request processed successfully",
                    "estimatedValue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "declaredLiabilities": [
                  {
                    "liabilityType": "STANDARD",
                    "lenderName": "Northstar Banking Service",
                    "outstandingBalance": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "monthlyPayment": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "id": "d4df9d2c-14aa-69e4-2142-cff2a02b050d",
                "creditBureauStatus": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Applicant"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema for the response containing loan application details including applicants and metadata.",
        "example": {
          "items": [
            {
              "role": "PRIMARY_HOLDER",
              "customerId": "CUST-825050",
              "relationshipToPrimary": "STANDARD",
              "income": {
                "employmentType": "STANDARD",
                "employerName": "Northstar Banking Service",
                "occupation": "STANDARD",
                "employmentStartDate": "2026-09-15",
                "businessRegistrationNumber": "STANDARD",
                "grossMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "netMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "otherMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "verificationStatus": "VERIFIED"
              },
              "monthlyObligations": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "declaredAssets": [
                {
                  "assetType": "STANDARD",
                  "description": "Customer banking request processed successfully",
                  "estimatedValue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "declaredLiabilities": [
                {
                  "liabilityType": "STANDARD",
                  "lenderName": "Northstar Banking Service",
                  "outstandingBalance": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "monthlyPayment": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "id": "d4df9d2c-14aa-69e4-2142-cff2a02b050d",
              "creditBureauStatus": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "ea10c6d8-742b-5b92-a50b-11ec89212f26",
            "correlationId": "a6422d64-9a6e-57b3-9a77-7e7cee1c742a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Applicant": {
        "title": "Applicant",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the applicant."
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "Relationship of the applicant to the primary applicant."
          },
          "income": {
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of declared assets by the applicant.",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of declared liabilities by the applicant.",
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant record."
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "Credit bureau status of the applicant."
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema that represents an individual applicant's details."
      },
      "Income": {
        "title": "Income",
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment of the applicant."
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer."
          },
          "occupation": {
            "type": "string",
            "description": "Applicant's occupation."
          },
          "employmentStartDate": {
            "type": "string",
            "description": "The start date of employment."
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if applicable."
          },
          "grossMonthlyIncome": {
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "netMonthlyIncome": {
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "otherMonthlyIncome": {
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Verification status of the income details."
          }
        },
        "description": "Schema that represents the income details of an applicant."
      },
      "FinancialDetail": {
        "title": "Financial Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the financial obligation."
          },
          "amount": {
            "type": "string",
            "description": "Amount of the financial obligation."
          }
        },
        "description": "Schema representing monthly obligations, such as loans or bills, specified by currency and amount."
      },
      "Asset": {
        "title": "Asset",
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset."
          },
          "description": {
            "type": "string",
            "description": "Description of the asset."
          },
          "estimatedValue": {
            "$ref": "#/components/schemas/MonetaryValue"
          }
        },
        "description": "Schema representing an asset declared by the applicant."
      },
      "Liability": {
        "title": "Liability",
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of the liability."
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender."
          },
          "outstandingBalance": {
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "monthlyPayment": {
            "$ref": "#/components/schemas/MonetaryValue"
          }
        },
        "description": "Schema representing a liability declared by the applicant."
      },
      "MonetaryValue": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the monetary value."
          },
          "amount": {
            "type": "string",
            "description": "Amount in the specified currency."
          }
        },
        "description": "Schema representing a monetary value consisting of currency and amount."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the application was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the application."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the application was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the application."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the applicant record.",
            "format": "int32"
          }
        },
        "description": "Schema containing audit information for an applicant record."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracing and debugging requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema containing metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request. This helps in tracking and monitoring the specific endpoint usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-applicants"
        },
        "example": "banking-loans-openapi-list-applicants"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate by including a JSON Web Token (JWT) in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}