{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Procurement Services API",
    "description": "The Enterprise Procurement Services API provides access to various procurement-related functionalities for businesses. This endpoint allows users to retrieve detailed information about procurement operations within the enterprise framework. Typical consumers include procurement managers, financial analysts, and application developers looking to integrate procurement data into their applications. This API streamlines procurement processes and enhances visibility into enterprise spending, enabling more informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement": {
      "get": {
        "tags": [],
        "summary": "Retrieve procurement services offered by the enterprise.",
        "description": "This endpoint allows users to access a comprehensive list of procurement services available within the enterprise. It retrieves all relevant information related to procurement, ensuring that users can easily navigate and utilize the services provided.",
        "operationId": "getProcurementServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve procurement information from the enterprise services. The payload should conform to the specified schema for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProcurementServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of procurement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProcurementServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProcurementServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation in the procurement service.",
        "example": "{}"
      },
      "GetProcurementServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of procurement items.",
            "example": [
              {
                "requestId": "51fbb978-684c-53ed-9ea5-8f8abf5aa1d3",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "purchaseOrderId": "ORD-374563",
                "categoryCode": "CODE-300",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProcurementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful retrieval of procurement operations.",
        "example": {
          "items": [
            {
              "requestId": "51fbb978-684c-53ed-9ea5-8f8abf5aa1d3",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "purchaseOrderId": "ORD-374563",
              "categoryCode": "CODE-300",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "19657d2a-a2fc-5d19-82bd-c6d490207e1e",
            "correlationId": "5148b7f5-99b8-5cdf-b5de-afaba5f722e4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcurementItem": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the procurement request."
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier associated with the procurement."
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with this procurement item."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Name or identifier of the person who requested the procurement."
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Unique identifier for the purchase order."
          },
          "categoryCode": {
            "type": "string",
            "description": "Code representing the category of the procurement."
          },
          "approvalLevel": {
            "type": "string",
            "description": "Approval level required for this procurement item."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the procurement record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to this procurement item."
          }
        },
        "description": "Details of an individual procurement item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Monetary value of the procurement item."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount."
          }
        },
        "description": "Amount details including value and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Details for paginating the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request and response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Meta information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-search-procurement"
        },
        "example": "procurement-search-procurement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a valid JSON Web Token (JWT) must be included in the Authorization header of the request. The token must comply with the specified 'bearerFormat' to ensure proper validation and authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}