{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Custody Management API",
    "description": "The Custody Management API enables financial institutions to efficiently manage custody administration operations related to market transactions. This endpoint facilitates the submission of custody transactions, ensuring accurate tracking and compliance with regulatory standards. Typically used by banks and asset managers, this API supports various custody-related workflows, allowing users to streamline their operations and enhance service delivery. With a focus on improving efficiency and reducing errors, the Custody Management API is essential for maintaining robust custody functionalities in financial applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/custody-administration": {
      "post": {
        "tags": [
          "Custody Operations"
        ],
        "summary": "Create a new custody administration operation.",
        "description": "This operation allows users to create a new custody administration entry in the market operations system, facilitating better management and tracking of custody-related activities. It returns a confirmation of the newly created entry along with any relevant details.",
        "operationId": "createCustodyAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating custody administration operations within the market operations context. This operation allows clients to submit necessary information for effective custody management.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustodyAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with details of the new entry.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustodyAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustodyAdministrationRequest": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date of settlement for the transaction in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units for the transaction.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement occurs.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian responsible for the custody of the asset.",
            "example": "STANDARD"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Identifier for the account used for safekeeping the asset.",
            "example": "ACC-342286"
          },
          "custodyLocation": {
            "type": "string",
            "description": "Geographical location of custody for the asset.",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "Quantity of assets currently held in the position.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-555"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses across systems.",
                "example": "corr-888"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure the request is idempotent.",
                "example": "idempotency-123"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-10-01T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Name of the system originating the request.",
                "example": "TradingSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Name of the application making the request.",
                "example": "PortfolioManager"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Unique identifier for the channel.",
                    "example": "channel-001"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of channel used for the request.",
                    "example": "API"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier for the device used to make the request.",
                    "example": "device-001"
                  }
                },
                "description": "Information regarding the channel through which the request was made."
              }
            },
            "description": "Contextual information regarding the request.",
            "example": {
              "requestId": "21b6443b-fc0f-52c3-b0ca-c10c6c32ecdf",
              "correlationId": "0dc5f36e-50ef-5d2d-9a8b-e4552b506ac7",
              "idempotencyKey": "c3e9df9b-eece-5965-b30e-1f45ddd6cae2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-756408"
              }
            }
          }
        },
        "description": "Request body for performing custody administration operations related to trading.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "safekeepingAccountId": "ACC-342286",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "requestContext": {
            "requestId": "21b6443b-fc0f-52c3-b0ca-c10c6c32ecdf",
            "correlationId": "0dc5f36e-50ef-5d2d-9a8b-e4552b506ac7",
            "idempotencyKey": "c3e9df9b-eece-5965-b30e-1f45ddd6cae2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-756408"
            }
          }
        }
      },
      "CreateCustodyAdministrationResponse_201": {
        "title": "Custody Administration Operation Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "Unique identifier for the custodian managing the asset.",
            "example": "STANDARD"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Unique identifier for the safekeeping account.",
            "example": "ACC-719388"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the operation.",
            "example": "RES-422971"
          },
          "status": {
            "type": "string",
            "description": "Status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to custody administration.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "safekeepingAccountId": "ACC-719388",
          "resourceId": "RES-422971",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a57288a6-cac1-56d3-8c11-f439c642cd81",
            "correlationId": "0dc5f36e-50ef-5d2d-9a8b-e4552b506ac7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-12T15:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the operation took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing additional metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "custody-administration-create-custody-administration"
        },
        "example": "custody-administration-create-custody-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the specific workflow instance related to the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-056"
        },
        "example": "WF-056"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Custody Asset Servicing and Reconciliation"
        },
        "example": "Custody Asset Servicing and Reconciliation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0178b92b-7101-41bd-8c1e-995f40a037eb"
        },
        "example": "0178b92b-7101-41bd-8c1e-995f40a037eb"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT) to authorize access to the API. Clients must include a valid JWT token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}