{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create System Development Initiative-spec",
    "description": "The System Development Initiative Management API enables organizations to efficiently initiate new system development projects within their IT management framework. With this API, users can submit detailed proposals for new initiatives, ensuring that all relevant information is captured and processed. It is designed for project managers and IT professionals who require a streamlined process for managing system development efforts. This API facilitates collaboration and timely decision-making, ensuring that resources are allocated effectively to support strategic business goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-development/initiatives": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new initiative for IT management.",
        "description": "This endpoint allows you to create a new initiative within the IT management system development framework. You can specify the details of the initiative in the request body, and successfully create a record that will be managed within the system.",
        "operationId": "createSystemDevelopmentInitiative",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate new system development initiatives within IT management. It should include all necessary information regarding the initiative to ensure proper processing and categorization. Make sure to adhere to the expected schema for accurate submission.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSystemDevelopmentInitiativeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Initiative successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSystemDevelopmentInitiativeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSystemDevelopmentInitiativeRequest": {
        "title": "System Development Initiative Request",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the initiative will be deployed.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with this initiative.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The name of the team responsible for this initiative.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the initiative.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier designated for this initiative.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the initiative.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The scheduled maintenance window for the initiative.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context details of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A schema representing the request body for creating a system development initiative operation.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "993ef5d1-0c64-56b2-931c-9df0612b568d",
            "correlationId": "4bef6aa0-9c52-59a8-891e-22609bbd74d8",
            "idempotencyKey": "e1207c66-8b69-50e6-a23d-fb02b063583d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-308662"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure idempotency in requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the source system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application within the source system.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "A schema representing the context details of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "A schema representing channel details through which the request was initiated."
      },
      "CreateSystemDevelopmentInitiativeResponse_201": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Unique identifier for the change request.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-205185"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful creation of system development initiatives.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "resourceId": "RES-205185",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "889fef0b-064e-5c7c-b9f7-28cfb59adc1e",
            "correlationId": "4bef6aa0-9c52-59a8-891e-22609bbd74d8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-development-develop-system-development"
        },
        "example": "system-development-develop-system-development"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a JSON Web Token (JWT) for authentication. Clients must include a valid bearer token in the 'Authorization' HTTP header to access protected resources. Make sure to obtain your token through the appropriate authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}