{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Knowledge Assets Knowledge Exchange By Knowledge Exchange Id-v5-spec",
    "description": "The Update Banking Knowledge Assets API allows users to modify existing knowledge exchange records identified by a unique knowledge exchange ID. This operation is essential for maintaining up-to-date banking information and ensuring that stakeholders access the latest resources. Typical users include banking professionals, data analysts, and content managers who require the ability to enhance knowledge assets regularly. By utilizing this API, organizations can streamline their knowledge management processes and improve collaboration on financial topics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange/{knowledgeExchangeId}": {
      "patch": {
        "tags": [
          "Knowledge Asset Management"
        ],
        "summary": "Update a specific knowledge asset exchange.",
        "description": "This operation allows you to update a specific knowledge asset exchange identified by its unique resource ID. You can modify various attributes of the knowledge asset exchange based on your requirements.",
        "operationId": "updateBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/knowledgeExchangeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the specified knowledge asset in the knowledge exchange system. It should contain the necessary fields that correspond to the attributes of the knowledge asset being modified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "A set of changes to be made to the knowledge item.",
            "$ref": "#/components/schemas/KnowledgeChange"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata about the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when updating knowledge assets in the knowledge exchange service.",
        "example": {
          "changes": {
            "knowledgeItemId": "STANDARD",
            "topic": "STANDARD",
            "authorId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5c7dedeb-82b9-50bf-9550-cc7d847469ea",
            "correlationId": "f33167ed-2c52-5cf2-abd1-db11bebf38c4",
            "idempotencyKey": "426a30d2-88fb-5e51-a74f-d866803a0e19",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-331795"
            }
          }
        }
      },
      "KnowledgeChange": {
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "The unique identifier of the knowledge item being changed.",
            "example": "knowledgeItem123"
          },
          "topic": {
            "type": "string",
            "description": "The topic associated with the knowledge item.",
            "example": "Artificial Intelligence"
          },
          "authorId": {
            "type": "string",
            "description": "The identifier of the author of the knowledge item.",
            "example": "author456"
          }
        },
        "description": "Schema representing the changes to be made to a knowledge item."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "correlation123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "idempotencyKey456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-18T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system from where the request originated.",
            "example": "sourceSystem789"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "sourceApp123"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device123"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "UpdateBankingKnowledgeAssetsKnowledgeExchangeByKnowledgeExchangeIdResponse_200": {
        "title": "Response Schema for PATCH Operation",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, providing additional context.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for a successful PATCH operation on the knowledge asset exchange.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bf59fac8-7c2e-5681-ad44-f8fbc5ce7ea8",
            "correlationId": "f33167ed-2c52-5cf2-abd1-db11bebf38c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking related requests and responses.",
            "example": "abcde-67890-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema describes the metadata associated with a response in the knowledge asset exchange."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "knowledgeExchangeId": {
        "name": "knowledgeExchangeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, allowing tracking and debugging of API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-update-knowledge-exchange"
        },
        "example": "knowledge-exchange-update-knowledge-exchange"
      },
      "X-Runtime-App": {
        "description": "Identifies the runtime application associated with the current request, providing context for processing and response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). Clients must include the JWT in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}