{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Statements Retrieval API",
    "description": "The Financial Statements Retrieval API provides access to detailed financial statements for banking services. This API allows users to retrieve comprehensive financial data which is essential for analysts, financial institutions, and business stakeholders. Common use cases include generating financial reports, performing audits, and conducting financial analysis. By leveraging this API, developers can integrate robust financial reporting capabilities into various applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-statements": {
      "get": {
        "tags": [
          "Finance Operations"
        ],
        "summary": "Retrieve financial statement data.",
        "description": "This endpoint allows users to fetch the financial statements for a given period, providing insights into the financial health of the organization. It returns detailed statements including balance sheets, income statements, and cash flow statements.",
        "operationId": "getFinancialStatements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch financial statements based on specified criteria. Please ensure the data adheres to the expected schema format to retrieve accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialStatementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of financial statements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialStatementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialStatementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to financial statements in the finance domain.",
        "example": "{}"
      },
      "GetFinancialStatementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of financial statement records.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialStatementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Response schema for the GET financial statements operation, detailing the financial record items and pagination information.",
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "46922fb3-a80b-5a34-986c-5cf9dc6078b9",
            "correlationId": "f6cfa93d-e722-57e6-9bf7-32c2706fdbd5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialStatementItem": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity."
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier of the ledger."
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the financial record."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date when the record was posted."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the record."
          }
        },
        "description": "Represents a single financial statement record."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified."
          }
        },
        "description": "Represents the amount and its currency."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information related to pagination of the response."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statements-search-financial-statements"
        },
        "example": "financial-statements-search-financial-statements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication (also known as token authentication). It requires a valid JSON Web Token (JWT) to be included in the Authorization header of each request for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}