{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Product Management Special Pricing Conditions-spec",
    "description": "This API provides access to special pricing conditions applicable to various products within the product management system. It allows users to retrieve a list of unique pricing conditions that can be leveraged for better customer deals and promotions. Typical consumers include sales teams and pricing analysts looking to optimize pricing strategies based on current offerings. This endpoint facilitates informed decision-making by providing comprehensive visibility into existing special pricing conditions, thus enhancing overall business operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/special-pricing-conditions": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve special pricing conditions for products.",
        "description": "This endpoint allows you to fetch the special pricing conditions associated with products in the system. You can use this information to understand pricing strategies and adjustments that are applicable to various products.",
        "operationId": "listProductManagementSpecialPricingConditions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving special pricing conditions within the product management system. Ensure that all necessary fields are populated correctly to facilitate accurate retrieval of the pricing data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductManagementSpecialPricingConditionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of special pricing conditions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductManagementSpecialPricingConditionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListProductManagementSpecialPricingConditionsRequest": {
        "type": "string",
        "description": "This schema represents a string input for the request body in the context of special pricing conditions operations in product management.",
        "example": "{}"
      },
      "ListProductManagementSpecialPricingConditionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of special pricing condition items.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SpecialPricingCondition"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the special pricing conditions retrieval operation, containing an array of items and pagination metadata.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "bbf70c08-380e-53b7-879c-a16e368b5af4",
            "correlationId": "04125896-92b8-57b8-b83d-d3d8e922ecf9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SpecialPricingCondition": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "P123"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Product Name 1"
          },
          "customerSegment": {
            "type": "string",
            "description": "Customer segment applicable for the pricing condition.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency for pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the pricing condition becomes effective.",
            "example": "2023-10-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-02T10:00:00Z"
          }
        },
        "description": "Schema representing an individual special pricing condition item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request-response correlation.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-02T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "special-pricing-conditions-search-special-pricing-conditions"
        },
        "example": "special-pricing-conditions-search-special-pricing-conditions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token formatted as a JSON Web Token (JWT). This scheme is commonly used for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}