{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Parties-spec",
    "description": "The Account Parties Retrieval API enables businesses to access information regarding parties associated with a specific account. This endpoint allows clients to retrieve detailed data about the parties linked to an account, which is essential for financial transparency and collaboration. Typical consumers of this API include banking applications, financial institutions, and third-party service providers looking to enhance their services through integrated account information. By leveraging this API, users can improve customer interactions and facilitate account management tasks efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/parties": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve parties associated with a specific account.",
        "description": "This endpoint allows you to retrieve detailed information about the parties associated with a specific account identified by its account number. It provides necessary insights for managing account relationships and ensuring compliance.",
        "operationId": "listAccountParties",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the details of parties associated with the specified account (ACC-200045). Ensure that the necessary permissions are granted to access this information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountPartiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account parties.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountPartiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountPartiesRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on the specified account parties.",
        "example": "{}"
      },
      "ListAccountPartiesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "type": "array",
                "description": "A list of party objects associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            },
            "description": "Contains party data.",
            "example": {
              "Party": [
                {
                  "id": "STANDARD",
                  "number": "STANDARD",
                  "type": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "FullLegalName": "Northstar Banking Service",
                  "LegalStructure": "STANDARD",
                  "LEI": "STANDARD",
                  "BeneficialOwnership": true,
                  "AccountRole": "DEBIT",
                  "EmailAddress": "olivia.bennett@northstar.example",
                  "Phone": "+1-212-555-0147",
                  "Mobile": "STANDARD",
                  "Relationships": {
                    "Account": {
                      "Related": "https://example.com/resource",
                      "Id": "STANDARD"
                    }
                  },
                  "Address": [
                    {
                      "type": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-981",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "line": [
                        "STANDARD"
                      ]
                    }
                  ]
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "A link to the current resource.",
                "example": "https://api.example.com/current"
              },
              "First": {
                "type": "string",
                "description": "A link to the first page of data.",
                "example": "https://api.example.com/first"
              },
              "Prev": {
                "type": "string",
                "description": "A link to the previous page of data.",
                "example": "https://api.example.com/prev"
              }
            },
            "description": "Links related to the response for navigation.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "A correlation identifier for tracking.",
                "example": "correlation-xyz"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-13T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "85a20e28-4c3d-5b95-869e-98c94084bbcd",
              "correlationId": "0ac331a3-90ad-5711-a5d4-718e9ff9c894",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving party information related to accounts.",
        "example": {
          "Data": {
            "Party": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-981",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "85a20e28-4c3d-5b95-869e-98c94084bbcd",
            "correlationId": "0ac331a3-90ad-5711-a5d4-718e9ff9c894",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "party-001"
          },
          "number": {
            "type": "string",
            "description": "Identifier number for the party.",
            "example": "123456789"
          },
          "type": {
            "type": "string",
            "description": "Type of the party (e.g., Individual, Organization).",
            "example": "Organization"
          },
          "Name": {
            "type": "string",
            "description": "The name of the party.",
            "example": "Example Corp"
          },
          "FullLegalName": {
            "type": "string",
            "description": "The full legal name of the party.",
            "example": "Example Corporation Limited"
          },
          "LegalStructure": {
            "type": "string",
            "description": "Legal structure of the party (e.g., LLC, Ltd).",
            "example": "Ltd"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier.",
            "example": "12345678901234567890"
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates if there is beneficial ownership.",
            "example": false
          },
          "AccountRole": {
            "type": "string",
            "description": "Role of the party with respect to the account.",
            "example": "Account Holder"
          },
          "EmailAddress": {
            "type": "string",
            "description": "Email address of the party.",
            "example": "contact@example.com"
          },
          "Phone": {
            "type": "string",
            "description": "Phone number of the party.",
            "example": "+1234567890"
          },
          "Mobile": {
            "type": "string",
            "description": "Mobile phone number of the party.",
            "example": "+0987654321"
          },
          "Relationships": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "object",
                "properties": {
                  "Related": {
                    "type": "string",
                    "description": "Details about related accounts.",
                    "example": "Related account details"
                  },
                  "Id": {
                    "type": "string",
                    "description": "Identifier for the related account.",
                    "example": "related-account-id"
                  }
                },
                "description": "Details about the party's account relationships."
              }
            },
            "description": "Relationships associated with the party."
          },
          "Address": {
            "type": "array",
            "description": "A list of addresses associated with the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Represents a party associated with an account."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of address (e.g., Residential, Business).",
            "example": "Residential"
          },
          "Department": {
            "type": "string",
            "description": "Department name for the address.",
            "example": "Sales"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name for the address.",
            "example": "International Sales"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "Main St"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number.",
            "example": "123"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "The Corporate Hub"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number (if applicable).",
            "example": "5"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number of the address.",
            "example": "5A"
          },
          "Room": {
            "type": "string",
            "description": "Room number (if applicable).",
            "example": "501"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number (if applicable).",
            "example": "PO Box 123"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location.",
            "example": "Springfield"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "Downtown"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name (if applicable).",
            "example": "c/o Jane Doe"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "12345"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "Springfield"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., State, Province).",
            "example": "CA"
          },
          "Country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "USA"
          },
          "line": {
            "type": "array",
            "description": "List of address lines (e.g., street address components).",
            "items": {
              "type": "string",
              "example": "123 Main St"
            }
          }
        },
        "description": "Represents an address associated with a party."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request, which can be used for tracking and audit purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-parties"
        },
        "example": "accounts-api-get-accounts-account-id-parties"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that executed the operation, aiding in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, which expects a bearer token (JWT) to be included in the Authorization header of the request for authentication purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}