{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp Domestic Payment Consent-spec",
    "description": "The Domestic Payment Consent Management API enables financial institutions to manage payment consents for domestic transactions. This endpoint allows authorized consumers to initiate the creation of payment consents, which are essential for processing payments securely and efficiently in compliance with regulatory standards. Typical users of this API include banks and fintech applications that facilitate domestic payments on behalf of their customers. By handling consent requests effectively, this API plays a crucial role in the payment initiation services landscape.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents": {
      "post": {
        "tags": [],
        "summary": "Create a domestic payment consent.",
        "description": "This endpoint allows you to create a consent for a domestic payment. Ensure all required details are provided in the request body to successfully generate the consent.",
        "operationId": "createPispDomesticPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create domestic payment consents. It should include all required information as per the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispDomesticPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment consent created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispDomesticPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispDomesticPaymentConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of a domestic payment consent operation.",
        "example": {
          "Data": {
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "fa5a5225-1cfa-5caf-8a08-9061878f2e19",
            "correlationId": "51eef664-8394-56c8-b328-df413048d628",
            "idempotencyKey": "a843adc1-ed54-56b2-949a-e6041711b974",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-214992"
            }
          }
        }
      },
      "PaymentConsentData": {
        "type": "object",
        "properties": {
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates whether the refund account is to be read.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Contains the data related to the payment consent initiation."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier for the end-to-end transaction.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument used for the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details regarding the payment initiation including amounts and account information."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount to be instructed for the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Denotes the amount and currency for the instructed payment."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme under which the debtor account operates.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the debtor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the debtor account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "An additional identifier for the debtor account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details of the account from which the payment will be debited."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme under which the creditor agent operates.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the agent receiving the payment."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identifier for the debtor account.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code associated with the proxy used for the account.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy used for the account.",
            "example": "string"
          }
        },
        "description": "Represents alternative identification methods for the debtor's account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department of the agent.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department of the agent.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Street address of the agent.",
            "example": "string"
          }
        },
        "description": "Represents the postal address of the agent."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through the system.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that made the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information regarding the request made for the payment consent."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used to make the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., online banking, mobile app).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel from which the request was made."
      },
      "CreatePispDomesticPaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp of when the consent was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether the refund account can be read.",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off time for the payment execution.",
                "example": "string"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time of payment execution.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time of settlement.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "Details of any charges associated with the consent.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/Initiation"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains details of the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for domestic payment consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "0de904af-e3ab-5f55-af03-a8c8feba27ef",
            "correlationId": "51eef664-8394-56c8-b328-df413048d628",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason.",
            "example": "string"
          }
        },
        "description": "Describes the reasons for the status."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of a charge associated with the payment consent."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount value.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Specifies the amount and currency."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identifier for the transaction.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/AgentDetails"
          }
        },
        "description": "Represents the initiation details of the payment."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyDetails"
          }
        },
        "description": "Details of the account involved in the payment."
      },
      "ProxyDetails": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification of the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code associated with the proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy.",
            "example": "string"
          }
        },
        "description": "Proxy details for the account."
      },
      "AgentDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name for the agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the agent conducting the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-012"
        },
        "example": "WF-012"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bd2d81fa-43be-43f5-bf5a-fed9c1f83997"
        },
        "example": "bd2d81fa-43be-43f5-bf5a-fed9c1f83997"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "437f1a5e-1cd8-41a6-8724-d8d832743ae4"
        },
        "example": "437f1a5e-1cd8-41a6-8724-d8d832743ae4"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-payment-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-payment-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this payment consent processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-012"
        },
        "example": "WF-012"
      },
      "X-Workflow-Name": {
        "description": "Specifies the name of the workflow that is being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Domestic Account-to-Account Transfer"
        },
        "example": "Domestic Account-to-Account Transfer"
      },
      "X-Workflow-State": {
        "description": "Indicates the current state of the workflow, such as Pending or Completed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "Unique identifier for the execution of the workflow, used for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "437f1a5e-1cd8-41a6-8724-d8d832743ae4"
        },
        "example": "437f1a5e-1cd8-41a6-8724-d8d832743ae4"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JWT (JSON Web Token) format. Clients must include a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}