{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Customer By Account Id-spec",
    "description": "The Customer Account Retrieval API enables users to access detailed information about a customer associated with a specific account. By providing both the customer ID and account ID, this endpoint retrieves comprehensive customer data, facilitating insights into customer relationships and account management. This API is typically utilized by financial institutions, CRM systems, and support teams to gather relevant customer information for reporting, analysis, or customer service. Ensure accurate inputs to effectively harness the full capabilities of this data retrieval service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve account details for customer CUST-100045.",
        "description": "This endpoint fetches the account information for a specific customer identified by CUST-100045. It provides detailed data regarding the account specified by ACC-200045, including balance, transaction history, and account status.",
        "operationId": "getCustomerByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the account details for a specific customer and account combination. It allows the client to specify parameters or filters to refine the response data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerByAccountIdRequest": {
        "type": "string",
        "description": "This schema represents a raw JSON string corresponding to the request body for the GET operation on a specific account of a customer identified by CUST-100045.",
        "example": "{}"
      },
      "GetCustomerByAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "STANDARD"
          },
          "number": {
            "type": "string",
            "description": "Account number as a string.",
            "example": "STANDARD"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display version of the account number.",
            "example": "STANDARD"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last 4 digits of the real account number.",
            "example": "STANDARD"
          },
          "name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "Northstar Banking Service"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 100.0
          },
          "type": {
            "type": "string",
            "description": "The type of the account.",
            "example": "STANDARD"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code representing the aggregation status.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "CUST-799284"
          },
          "institutionId": {
            "type": "string",
            "description": "Identifier for the institution managing the account.",
            "example": "STANDARD"
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date of the last balance update.",
            "format": "int32",
            "example": 1
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when aggregation was successful.",
            "format": "int32",
            "example": 1
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date of the last aggregation attempt.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32",
            "example": 1
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account was last updated.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment of the account.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the account is denominated.",
            "example": "USD"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the last transaction on the account.",
            "format": "int32",
            "example": 1
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction on the account.",
            "format": "int32",
            "example": 1
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Login ID for the institution.",
            "format": "int32",
            "example": 1
          },
          "detail": {
            "description": "Detailed information about the account.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "metadata": {
            "description": "Metadata related to the account response.",
            "$ref": "#/components/schemas/AccountMetadata"
          }
        },
        "description": "Response schema for retrieving account details.",
        "example": {
          "id": "STANDARD",
          "number": "STANDARD",
          "accountNumberDisplay": "STANDARD",
          "realAccountNumberLast4": "STANDARD",
          "name": "Northstar Banking Service",
          "balance": 100.0,
          "type": "STANDARD",
          "aggregationStatusCode": 1,
          "status": "ACTIVE",
          "customerId": "CUST-799284",
          "institutionId": "STANDARD",
          "balanceDate": 1,
          "aggregationSuccessDate": 1,
          "aggregationAttemptDate": 1,
          "createdDate": 1,
          "lastUpdatedDate": 1,
          "marketSegment": "STANDARD",
          "currency": "USD",
          "lastTransactionDate": 1,
          "oldestTransactionDate": 1,
          "institutionLoginId": 1,
          "detail": {
            "dateAsOf": 1,
            "availableBalanceAmount": 100.0,
            "openDate": 1,
            "periodStartDate": 1,
            "periodEndDate": 1,
            "periodInterestRate": 100.0,
            "periodDepositAmount": 100.0,
            "periodInterestAmount": 100.0,
            "interestYtdAmount": 100.0,
            "interestPriorYtdAmount": 100.0,
            "maturityDate": 1,
            "interestRate": "STANDARD",
            "creditAvailableAmount": 100.0,
            "creditMaxAmount": 100.0
          },
          "metadata": {
            "responseId": "d619f4db-4115-5189-9a59-76e2bda9696d",
            "correlationId": "4236390d-f2b8-54ab-9d70-f6e1bdd0a0b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "Date as of which the account details are provided.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "Available balance for the account.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "Opening date of the account.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "Start date of the current interest period.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "End date of the current interest period.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate applicable for the current period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Deposit amount for the current period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Interest amount accrued during the current period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Total interest earned year-to-date.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Total interest earned in the prior year.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "Maturity date of the account.",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "Current interest rate of the account.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "Amount of credit available on the account.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "Maximum credit limit for the account.",
            "example": 0.0
          }
        },
        "description": "Detailed information about the specific account."
      },
      "AccountMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the account response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account"
        },
        "example": "open-finance-api-get-customer-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}