{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Merchant Suspend-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Merchant Suspend-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}/suspend": {
      "post": {
        "operationId": "createP2mMerchantSuspend",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mMerchantSuspendRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mMerchantSuspendResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mMerchantSuspendRequest": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "example": "CODE-292"
          },
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "suspendPayments": {
            "type": "boolean",
            "example": true
          },
          "holdSettlements": {
            "type": "boolean",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "5521eaa7-39ef-51bc-84cb-13758f733f6b",
              "correlationId": "0fdcfe98-6b6c-525e-9d7d-ce0b4d5e1860",
              "idempotencyKey": "d9ebee7c-4e26-504c-8381-814ca19c4724",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-179880"
              }
            }
          }
        },
        "example": {
          "reasonCode": "CODE-292",
          "reason": "STANDARD",
          "suspendPayments": true,
          "holdSettlements": true,
          "requestContext": {
            "requestId": "5521eaa7-39ef-51bc-84cb-13758f733f6b",
            "correlationId": "0fdcfe98-6b6c-525e-9d7d-ce0b4d5e1860",
            "idempotencyKey": "d9ebee7c-4e26-504c-8381-814ca19c4724",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-179880"
            }
          }
        }
      },
      "CreateP2mMerchantSuspendResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "example": "MER-501526"
          },
          "business": {
            "type": "object",
            "properties": {
              "legalName": {
                "type": "string",
                "example": "string"
              },
              "tradingName": {
                "type": "string",
                "example": "string"
              },
              "registrationNumber": {
                "type": "string",
                "example": "string"
              },
              "taxIdentificationNumber": {
                "type": "string",
                "example": "string"
              },
              "incorporationCountry": {
                "type": "string",
                "example": "string"
              },
              "incorporationDate": {
                "type": "string",
                "example": "string"
              },
              "merchantType": {
                "type": "string",
                "example": "string"
              },
              "merchantCategoryCode": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "legalName": "Olivia Bennett",
              "tradingName": "Northstar Banking Service",
              "registrationNumber": "NY-4587219",
              "taxIdentificationNumber": "STANDARD",
              "incorporationCountry": "STANDARD",
              "incorporationDate": "2026-09-15",
              "merchantType": "STANDARD",
              "merchantCategoryCode": "5411"
            }
          },
          "registeredAddress": {
            "type": "object",
            "properties": {
              "line1": {
                "type": "string",
                "example": "string"
              },
              "line2": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "stateOrProvince": {
                "type": "string",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "example": "string"
              },
              "country": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "stateOrProvince": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "contact": {
            "type": "object",
            "properties": {
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "website": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "website": "https://example.com/resource"
            }
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "channels": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "paymentMethods": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "supportsPartialCapture": {
                "type": "boolean",
                "example": false
              },
              "supportsPartialRefund": {
                "type": "boolean",
                "example": false
              },
              "supportsTips": {
                "type": "boolean",
                "example": false
              },
              "supportsSplitPayments": {
                "type": "boolean",
                "example": false
              },
              "supportsRecurringPayments": {
                "type": "boolean",
                "example": false
              },
              "maximumTipPercentage": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "channels": [
                "STANDARD"
              ],
              "paymentMethods": [
                "STANDARD"
              ],
              "supportsPartialCapture": true,
              "supportsPartialRefund": true,
              "supportsTips": true,
              "supportsSplitPayments": true,
              "supportsRecurringPayments": true,
              "maximumTipPercentage": "STANDARD"
            }
          },
          "commercialTerms": {
            "type": "object",
            "properties": {
              "pricingPlanId": {
                "type": "string",
                "example": "string"
              },
              "feeBearer": {
                "type": "string",
                "example": "string"
              },
              "paymentFee": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "percentage": {
                    "type": "string",
                    "example": "string"
                  },
                  "fixedAmount": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "pricingPlanId": "STANDARD",
              "feeBearer": "STANDARD",
              "paymentFee": {
                "type": "STANDARD",
                "percentage": "STANDARD",
                "fixedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "5d9b2a97-23a8-5ea2-bdef-3b8024fe9025",
              "correlationId": "0fdcfe98-6b6c-525e-9d7d-ce0b4d5e1860",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "merchantId": "MER-501526",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5d9b2a97-23a8-5ea2-bdef-3b8024fe9025",
            "correlationId": "0fdcfe98-6b6c-525e-9d7d-ce0b4d5e1860",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ba84a442-d726-4093-9a4f-af27d8827ea9"
        },
        "example": "ba84a442-d726-4093-9a4f-af27d8827ea9"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "eee75bf5-9557-4715-915f-a1293eb14647"
        },
        "example": "eee75bf5-9557-4715-915f-a1293eb14647"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-suspend-merchant"
        },
        "example": "banking-p2m-openapi-suspend-merchant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Purchase Authorization and Clearing"
        },
        "example": "Card Purchase Authorization and Clearing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "eee75bf5-9557-4715-915f-a1293eb14647"
        },
        "example": "eee75bf5-9557-4715-915f-a1293eb14647"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}