{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Deposit Lending By Param1-spec",
    "description": "The Deposit Lending Retrieval API enables clients to access specific deposit lending information based on unique parameters. Utilizing unique identifiers, users can efficiently obtain details about current accounts and their associated lending products. This API is particularly useful for financial institutions and fintech applications where real-time data retrieval enhances customer service and operational efficiency. Typical consumers include banking apps, financial analysts, and customer service platforms looking to improve user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/current-account/{param1}": {
      "get": {
        "tags": [
          "Current Account Management"
        ],
        "summary": "Retrieve current account details",
        "description": "This endpoint allows you to fetch the details of a specific current account identified by its account number. It provides essential information such as account balance, transaction history, and account holder details.",
        "operationId": "getDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the current account information for deposit lending operations. This body should contain the necessary details to identify the requested account and ensure proper retrieval of the associated account data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of current account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingByParam1Request": {
        "title": "Request Body for Current Account Operations",
        "type": "string",
        "description": "This schema represents the request body for retrieving operations related to a specific current account.",
        "example": "{}"
      },
      "GetDepositLendingByParam1Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-304877"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-320259"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type of the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount associated with the account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments for the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of holding the account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency at which account statements are issued.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if overdraft is allowed on the account.",
            "example": true
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the account record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the account request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a GET request of current account operations.",
        "example": {
          "customerId": "CUST-304877",
          "accountId": "ACC-320259",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ebf6ccbe-3497-515f-93a3-cc8a39beebd9",
            "correlationId": "9d6e7e68-11f1-59c6-8193-a3d3198c113a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of principal held in the account.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "USD"
          }
        },
        "description": "The principal information of the account including amount and currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Metadata information regarding the transaction or request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint used in the current request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "current-account-get-current-account"
        },
        "example": "current-account-get-current-account"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that processed the request, useful for performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients should include a valid JWT token in the `Authorization` header using the Bearer schema.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}