{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Document By Correspondence Id-spec",
    "description": "The Document Retrieval API allows users to fetch specific documents based on their correspondence ID. This API is essential for clients requiring quick access to associated banking documents for auditing, compliance, or customer service purposes. By providing the unique correspondence ID, users can efficiently retrieve relevant documents, streamlining operations and enhancing customer interactions. Typical consumers of this API may include banking systems, customer support tools, and compliance monitoring applications seeking to improve information accessibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/correspondence/{correspondenceId}": {
      "get": {
        "tags": [
          "Correspondence Management"
        ],
        "summary": "Retrieve correspondence document details.",
        "description": "This endpoint allows you to fetch detailed information about the correspondence document identified by the unique ID 'RES-100045'. It retrieves relevant data that can be used for viewing or processing correspondence records.",
        "operationId": "getDocumentByCorrespondenceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/correspondenceId"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching correspondence document details. This request expects a JSON formatted payload containing necessary identifiers and parameters relevant to the document retrieval process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentByCorrespondenceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested correspondence document.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentByCorrespondenceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentByCorrespondenceIdRequest": {
        "title": "Correspondence Request Body",
        "type": "string",
        "description": "Schema representing the request body for retrieving correspondence documents.",
        "example": "{}"
      },
      "GetDocumentByCorrespondenceIdResponse_200": {
        "title": "Document Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-186624"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document such as report, invoice, etc.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the document, indicating its sensitivity level.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Class that defines the retention policy for the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "MIME type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the details of a document response from the API.",
        "example": {
          "documentId": "DOC-186624",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "20eaee38-cdb0-5f24-9113-437c4ab04fe7",
            "correlationId": "2d4aba34-a22c-5c87-83ab-41441f3e78d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response associated with the document.",
            "example": "resp-9876"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier to track the correlation of requests and responses.",
            "example": "corr-1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the document was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to a document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "correspondenceId": {
        "name": "correspondenceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint, typically used for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondence-get-correspondence"
        },
        "example": "correspondence-get-correspondence"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, typically in the form of a JSON Web Token (JWT). Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}