{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Certification Management API",
    "description": "The Employee Certification Management API streamlines the process of managing employee certifications within an organization. This API allows users to efficiently submit and register new certifications, ensuring that all employee qualifications are correctly documented. Typical consumers include HR professionals and compliance officers who need to maintain up-to-date certification records for their workforce. With this API, organizations can enhance their human resource management and ensure compliance with industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification": {
      "post": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Create Employee Certification",
        "description": "This endpoint allows you to create a new employee certification record in the human resource management system. It is essential for maintaining accurate employee certification details.",
        "operationId": "createEmployeeCertification",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit employee certification information. Ensure that all required fields are properly filled out to process the certification request accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeCertificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new employee certification.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeCertificationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeCertificationRequest": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "EMP-675026"
          },
          "assignmentId": {
            "type": "string",
            "description": "The identifier of the assignment related to the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier of the department where the employee works.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the certification becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country of the employee.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment of the employee (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The identifier of the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee performs their work.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for employee certification operations.",
        "example": {
          "employeeId": "EMP-675026",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "97ff4b92-3a2e-5f67-ab9a-b4956b07cc2d",
            "correlationId": "c90b0be7-34cf-5d44-8d22-4229cf6fd031",
            "idempotencyKey": "89ab6557-17b5-5d94-b8ed-3bf8c6ce42b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-105972"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for this request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier to track the request across systems.",
            "example": "CORR789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "IDEMO123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "CertificationApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "CH123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEV123456"
          }
        },
        "description": "Schema representing channel information."
      },
      "CreateEmployeeCertificationResponse_201": {
        "title": "Employee Certification Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-147250"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment associated with the certification.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code associated with the employee.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the certification.",
            "example": "RES-749799"
          },
          "status": {
            "type": "string",
            "description": "The current status of the employee certification.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the certification was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RSP001"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used to track the request-response correlation.",
                "example": "CORR002"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp of when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the certification response.",
            "example": {
              "responseId": "47f3f888-38ed-5419-8826-8142a822210e",
              "correlationId": "c90b0be7-34cf-5d44-8d22-4229cf6fd031",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for employee certification operations.",
        "example": {
          "employeeId": "EMP-147250",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-749799",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "47f3f888-38ed-5419-8826-8142a822210e",
            "correlationId": "c90b0be7-34cf-5d44-8d22-4229cf6fd031",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint associated with the operation.",
          "example": "employee-certification-create-employee-certification"
        },
        "example": "employee-certification-create-employee-certification"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that handled the request, providing context for the response.",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token must be a JSON Web Token (JWT) and is typically provided in the `Authorization` header of the request in the format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}