{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Virtual Account Information API",
    "description": "The Virtual Account Information API provides access to details about virtual accounts related to deposit lending. This endpoint allows users to retrieve important information about their virtual accounts, making it easier to manage finances and lending activities. It is typically used by banking backend systems and financial service applications that require account information for users. This helps businesses streamline their deposit lending operations while ensuring that clients have the necessary information at hand.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/virtual-account": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve Virtual Account Balance",
        "description": "This endpoint allows you to retrieve the current balance of a specific virtual account in the deposit lending system, providing necessary details for effective fund management.",
        "operationId": "getVirtualAccountBalance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to virtual accounts in the deposit lending context. Ensure that the necessary parameters are included to receive the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVirtualAccountBalanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of virtual account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVirtualAccountBalanceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetVirtualAccountBalanceRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to virtual account in deposit lending.",
        "example": "{}"
      },
      "GetVirtualAccountBalanceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of virtual account details.",
            "example": [
              {
                "customerId": "CUST-440442",
                "accountId": "ACC-598266",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "accountPurpose": "STANDARD",
                "statementFrequency": "STANDARD",
                "overdraftAllowed": true,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/VirtualAccountDetails"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the virtual account operations GET request, containing account details, pagination information, sort parameters, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-440442",
              "accountId": "ACC-598266",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "accountPurpose": "STANDARD",
              "statementFrequency": "STANDARD",
              "overdraftAllowed": true,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "702ed3a8-dd49-5e90-9152-798c38640ba1",
            "correlationId": "3b8ec46c-f7ef-5677-984b-483c23f2d0d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VirtualAccountDetails": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the account.",
            "example": "string"
          },
          "principal": {
            "description": "Principal amount associated with the account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the loan.",
            "example": "string"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of the account.",
            "example": "string"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency of statements provided for the account.",
            "example": "string"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Flag indicating whether overdraft is allowed on the account.",
            "example": false
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the account.",
            "example": "string"
          }
        },
        "description": "Details of a virtual account."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "string"
          }
        },
        "description": "Details regarding the principal amount associated with the virtual account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to pagination for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional context for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier representing the endpoint used for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "virtual-account-search-virtual-account"
        },
        "example": "virtual-account-search-virtual-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication mechanism, where a JSON Web Token (JWT) is required to access protected resources. The JWT should be included in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}