{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Operation By Param1-spec",
    "description": "The Market Operation Retrieval API allows consumers to access specific market operation data based on a unique parameter. This endpoint is typically used in the financial sector to retrieve detailed information about mutual fund administration operations, facilitating better decision-making and strategy formulation. Key users include financial analysts, portfolio managers, and banking systems looking to integrate market data effectively. The API provides essential insights into market activities, ensuring users have access to timely and relevant financial information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/mutual-fund-administration/{param1}": {
      "get": {
        "tags": [
          "Mutual Fund Operations"
        ],
        "summary": "Retrieve mutual fund administration details by ID.",
        "description": "This endpoint allows users to fetch detailed information about a specific mutual fund administration using its unique identifier. It helps in managing and tracking mutual fund operations efficiently.",
        "operationId": "getMarketOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving mutual fund administration data associated with the specified operation. Ensure that the required information is included in the request to obtain accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved mutual fund administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOperationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOperationByParam1Request": {
        "title": "Request Body for Operations GET Request",
        "type": "string",
        "description": "This schema represents the request body for the GET operations related to mutual fund administration.",
        "example": "{}"
      },
      "GetMarketOperationByParam1Response_200": {
        "title": "Mutual Fund Operations Response",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the mutual fund.",
            "example": "STANDARD"
          },
          "shareClassId": {
            "type": "string",
            "description": "The unique identifier for the specific share class of the mutual fund.",
            "example": "STANDARD"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the fund's valuation is computed.",
            "example": "2026-09-15"
          },
          "netAssetValue": {
            "description": "The net asset value of the mutual fund.",
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "The total number of units outstanding for the mutual fund.",
            "format": "int32",
            "example": 1
          },
          "administratorId": {
            "type": "string",
            "description": "The unique identifier of the administrator managing the mutual fund.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record, e.g., active, inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the mutual fund record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for mutual fund operations.",
        "example": {
          "fundId": "STANDARD",
          "shareClassId": "STANDARD",
          "valuationDate": "2026-09-15",
          "netAssetValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "unitsOutstanding": 1,
          "administratorId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ce352a4b-e286-5c53-9246-139916718aed",
            "correlationId": "3d93e62c-755d-5302-b546-0ca64e35565a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NetAssetValue": {
        "title": "Net Asset Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value representing the net asset value.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the net asset value is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents the net asset value of a mutual fund."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking related operations.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was called in this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mutual-fund-administration-get-mutual-fund-administration"
        },
        "example": "mutual-fund-administration-get-mutual-fund-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context on the service layer.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JWT (JSON Web Tokens). It allows clients to authenticate themselves by including a token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}