{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Offer Retrieval API",
    "description": "The Customer Offer Retrieval API allows businesses to access current offers available to customers within the banking sales context. It serves as a gateway for fetching promotional campaigns and incentives designed to enhance customer engagement and retention. This API is primarily utilized by sales teams and marketing professionals seeking to provide personalized experiences based on customer profiles. By leveraging this endpoint, businesses can ensure that their customers are always informed of the latest offers tailored to their needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/customer-offer": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve customer offers",
        "description": "This endpoint allows you to retrieve a list of offers available for customers. Use this to access promotional deals and special pricing tailored for customers.",
        "operationId": "getCustomerOffer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve customer offers. It contains the necessary parameters and conditions to successfully filter and fetch the desired offers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerOfferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer offer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerOfferResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerOfferRequest": {
        "type": "string",
        "description": "Represents a request body in JSON format for the customer offer operations GET request.",
        "example": "{}"
      },
      "GetCustomerOfferResponse_200": {
        "title": "Customer Offer Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer offer items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerOfferItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for customer offers retrieved via the GET operation.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "75aaba2f-d24f-515e-b0b8-fa482a8a6015",
            "correlationId": "eb849a9c-b5f6-5ab4-97e3-c3f43790d857",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerOfferItem": {
        "title": "Customer Offer Item",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Identifier for the prospect associated with the offer."
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product being offered."
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the offer is made."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling this offer."
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the offer record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the offer was last updated."
          }
        },
        "description": "Schema representing an individual customer offer item.",
        "example": {
          "prospectId": "string",
          "productCode": "string",
          "salesChannel": "string",
          "relationshipManagerId": "string",
          "expectedValue": {
            "amount": 0.0,
            "currency": "string"
          },
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount of the expected value."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the expected value."
          }
        },
        "description": "Schema representing the expected value of the customer offer.",
        "example": {
          "amount": 0.0,
          "currency": "string"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the list of items.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata associated with the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-offer-search-customer-offer"
        },
        "example": "customer-offer-search-customer-offer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This method utilizes JSON Web Tokens (JWT) to securely transmit information between parties. Ensure that the token is included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}