{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Economic Capital Model Retrieval API",
    "description": "The Economic Capital Model Retrieval API enables financial institutions to access detailed economic capital models. This endpoint provides insights into risk assessment frameworks, facilitating the evaluation of capital requirements under various market conditions. Typical consumers include risk managers, compliance officers, and financial analysts looking to optimize their capital allocation strategies. By utilizing this API, organizations can ensure they are equipped with up-to-date and accurate data relevant to their economic capital strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/economic-capital": {
      "get": {
        "tags": [
          "Economic Capital Models"
        ],
        "summary": "Retrieve a list of economic capital models.",
        "description": "This endpoint allows you to fetch a comprehensive list of available economic capital models, which are used for assessing financial risks and capital requirements.",
        "operationId": "getEconomicCapitalModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for the GET operation on economic capital models. This should contain the necessary parameters to retrieve the specific economic capital model data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEconomicCapitalModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the economic capital data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEconomicCapitalModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEconomicCapitalModelsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to economic capital.",
        "example": "{}"
      },
      "GetEconomicCapitalModelsResponse_200": {
        "title": "Economic Capital Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of economic capital model items.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-964621",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EconomicCapitalModelItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET request on Economic Capital Operations, which contains a list of items and pagination metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-964621",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "01ebe434-d92a-5f1c-8c1d-e16a2d8ab17e",
            "correlationId": "8b4b54c8-76ae-5c48-bfd2-04366cb43c87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EconomicCapitalModelItem": {
        "title": "Economic Capital Model Item",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the economic capital model.",
            "example": "string"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the economic capital model.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with this model.",
            "example": "string"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model data is relevant.",
            "example": "2023-10-10"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario associated with the economic capital model item.",
            "example": "string"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level applied to the model calculations.",
            "example": 0.95
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the model item was last updated.",
            "example": "2023-10-10T10:00:00Z"
          }
        },
        "description": "Schema representing an individual economic capital model item."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page (number of items per page).",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Metadata for paginated responses, providing information about the current page and total items."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "economic-capital-search-economic-capital"
        },
        "example": "economic-capital-search-economic-capital"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include the token in the authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}