{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Dispute Evidence-spec",
    "description": "The Dispute Evidence Submission API enables businesses to upload supporting documentation related to a specific dispute. This operation allows users to associate evidence with a designated dispute using its unique identifier. Typical consumers include customer service representatives and compliance teams who need to manage dispute resolution efficiently. By facilitating the timely submission of evidence, this API helps streamline the dispute management process and enhances overall customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}/evidence": {
      "post": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Submit evidence for dispute RES-100045.",
        "description": "This endpoint allows users to upload evidence related to dispute RES-100045. Ensure that all relevant information and files are included to support your claim. Proper documentation can aid in a swift resolution.",
        "operationId": "createDisputeEvidence",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disputeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit evidence for a specific dispute identified by RES-100045. It requires a JSON object that contains the necessary details and documents related to the dispute.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDisputeEvidenceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence submitted successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDisputeEvidenceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDisputeEvidenceRequest": {
        "title": "Dispute Evidence Request Body",
        "type": "object",
        "properties": {
          "merchantStatement": {
            "type": "string",
            "description": "A statement from the merchant related to the dispute.",
            "example": "STANDARD"
          },
          "evidence": {
            "type": "array",
            "description": "An array of evidence items related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for submitting evidence related to a dispute.",
        "example": {
          "merchantStatement": "STANDARD",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "requestContext": {
            "requestId": "99d52f7b-00dc-52c0-829f-a1e019c8f451",
            "correlationId": "025f2eab-997f-567b-9a52-ae3d4743a626",
            "idempotencyKey": "25883f6e-686f-56bc-8dbd-6b668f869384",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-443310"
            }
          }
        }
      },
      "EvidenceItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence item.",
            "example": "evidenceId123"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the evidence file.",
            "example": "receipt.jpg"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "image/jpeg"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the evidence file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to access the evidence file.",
            "example": "https://example.com/evidence/receipt.jpg"
          },
          "sha256": {
            "type": "string",
            "description": "SHA256 hash of the evidence file.",
            "example": "abc123def456..."
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp of when the evidence was uploaded.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a single piece of evidence related to the dispute."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across systems.",
            "example": "correlation-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Idempotency key for the request to prevent duplicate processing.",
            "example": "unique-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system originating the request.",
            "example": "PaymentSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateDisputeEvidenceResponse_200": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the associated payment.",
            "example": "PAY-283681"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant involved in the dispute.",
            "example": "MER-989066"
          },
          "reason": {
            "type": "string",
            "description": "The reason provided for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "Amount disputed by the customer.",
            "$ref": "#/components/schemas/Amount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Timestamp indicating when a response is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "Array of evidence files related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "financialImpact": {
            "description": "Financial impact of the dispute on the merchant.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details regarding the resolution of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit trail for the dispute actions.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata regarding the dispute.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for evidence related to a dispute. This includes various details about the dispute, the financial impact, resolution, audit trail, and metadata.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-283681",
          "merchantId": "MER-989066",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "05f6eb7f-d24d-5e12-8430-19c080585e68",
            "correlationId": "025f2eab-997f-567b-9a52-ae3d4743a626",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Currency and value representation for monetary amounts."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "Amount debited from the merchant as a result of the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "Array of fees incurred during the dispute process.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Amount held in reserve related to the dispute.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Financial consequences of the dispute."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee (e.g., processing fee).",
            "example": "processing_fee"
          },
          "amount": {
            "description": "The amount of the incurred fee.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "Entity responsible for the fee (e.g., merchant or customer).",
            "example": "merchant"
          }
        },
        "description": "Details of a fee incurred during the dispute process."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The outcome of the resolution process.",
            "example": "resolved"
          },
          "resolvedAmount": {
            "description": "Amount that was resolved in favor of the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "reason": {
            "type": "string",
            "description": "Explanation of the reason for the resolution outcome.",
            "example": "evidence provided was sufficient."
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp of when the dispute was resolved.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details regarding the resolution of the dispute."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the dispute was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of who created the dispute.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the dispute was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of who last updated the dispute.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information showing the changes made to the dispute."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata related to the dispute."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disputeId": {
        "name": "disputeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed. This helps in tracking the request to a specific service or function.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-submit-dispute-evidence"
        },
        "example": "banking-p2m-openapi-submit-dispute-evidence"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request. This can be useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication method using Bearer tokens. This scheme uses JSON Web Tokens (JWT) to provide a secure means of authenticating API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}