{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Case Management API",
    "description": "The Customer Case Management API allows businesses to streamline the creation and management of customer cases within their banking services. This API facilitates the submission of new customer inquiries or issues, enabling organizations to track resolutions effectively. Targeted at customer service teams and support personnel, it empowers them to respond promptly to client needs and enhances customer satisfaction. By leveraging this API, businesses can ensure that all customer interactions are documented and addressed efficiently, promoting better service management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case-management": {
      "post": {
        "tags": [
          "CustomerService"
        ],
        "summary": "Create a new customer case.",
        "description": "This operation allows you to create a new customer case in the system. You can specify the details of the case, which will be stored and managed through our customer case management platform.",
        "operationId": "createCustomerCase",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update customer case management records. It expects a JSON payload that includes all necessary details for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the customer case management system.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCaseRequest": {
        "title": "Customer Case Management Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-492902"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "CASE-564335"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request being made.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case (e.g., high, medium, low).",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case creation.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The due date and time for service level adherence.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The preferred method of contact for the customer.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating a customer case in the case management system.",
        "example": {
          "customerId": "CUST-492902",
          "caseId": "CASE-564335",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "0775e1f4-e9d4-585f-a5eb-cf0c777a4642",
            "correlationId": "24d76ec2-3ad0-54f8-a2dd-80eb0f2d367a",
            "idempotencyKey": "740857f6-ddfb-5a05-a1ae-b4d5e9dbbef5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-288835"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking related requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idle-key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was sent.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including correlation and tracking information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel used for the request, including device identifiers."
      },
      "CreateCustomerCaseResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the case.",
            "example": "CUST-769253"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case created as part of the operation.",
            "example": "CASE-591109"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the case management operation.",
            "example": "RES-888286"
          },
          "status": {
            "type": "string",
            "description": "Current status of the case management operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the case was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the case management operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful creation of a customer case management operation.",
        "example": {
          "customerId": "CUST-769253",
          "caseId": "CASE-591109",
          "resourceId": "RES-888286",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1b6bdd40-d077-514f-ab07-1648f691fad8",
            "correlationId": "24d76ec2-3ad0-54f8-a2dd-80eb0f2d367a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the operation.",
            "example": "res-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses in the system.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the case management operation took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata providing additional context about the case management operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "057c97ef-4866-4d65-ab99-2d1e640bc58d"
        },
        "example": "057c97ef-4866-4d65-ab99-2d1e640bc58d"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6"
        },
        "example": "6"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-management-create-customer-case-management"
        },
        "example": "customer-case-management-create-customer-case-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow that was executed during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_FINALIZATION"
        },
        "example": "ASYNC_FINALIZATION"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method utilizes a Bearer token, specifically in the JSON Web Token (JWT) format, to securely identify the user during API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}