{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Candidate Submission API",
    "description": "The Loan Application Candidate Submission API allows users to submit applicant details for a specified loan application. This API is designed for loan officers and financial institutions looking to manage applicant data efficiently within their loan processing workflows. It supports the integration of applicant information necessary for loan assessment and decision-making. By utilizing this endpoint, organizations can streamline their applicant intake process, ensuring that all required data is captured and stored appropriately.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants": {
      "post": {
        "tags": [
          "Loan Application"
        ],
        "summary": "Create a new applicant for a loan application.",
        "description": "This endpoint allows you to add a new applicant to an existing loan application. The applicant's details must be provided in the request body, and they will be associated with the specified loan application ID.",
        "operationId": "createLoanApplicationApplicant",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new applicant for the specified loan application. It requires the applicant's details to be provided in the JSON format as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationApplicantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A new applicant resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationApplicantResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationApplicantRequest": {
        "title": "Loan Application Applicant Request",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application process.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-808605"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "The income details of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "Details of the applicant's monthly obligations.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the details of an applicant in a loan application.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-808605",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "requestContext": {
            "requestId": "cb6fbdc0-23db-522b-844b-b9bbd5216a0a",
            "correlationId": "41cb7605-aa8b-55bc-812c-5fae19e78fbd",
            "idempotencyKey": "35fca5a1-b60c-58a6-bc82-b9521133a813",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-870058"
            }
          }
        }
      },
      "Income": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "The type of employment of the applicant.",
            "example": "Full-Time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "The date the applicant started their current employment.",
            "example": "2021-01-01"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number for self-employed applicants.",
            "example": "BRN123456"
          },
          "grossMonthlyIncome": {
            "description": "The gross monthly income of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "netMonthlyIncome": {
            "description": "The net monthly income after deductions of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "otherMonthlyIncome": {
            "description": "Any other monthly income sources of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The status of the income verification.",
            "example": "Verified"
          }
        }
      },
      "CurrencyAmount": {
        "title": "Currency and Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount in the specified currency.",
            "example": "5000"
          }
        },
        "description": "Schema representing a currency and its corresponding amount."
      },
      "FinancialDetail": {
        "title": "Monthly Obligation",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The total amount of monthly obligations in the specified currency.",
            "example": "1500"
          }
        },
        "description": "Schema representing monthly financial obligations."
      },
      "Asset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "The type of the asset.",
            "example": "Property"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "2 Bedroom Apartment"
          },
          "estimatedValue": {
            "description": "Estimated value of the asset.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "REQ12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across multiple systems.",
            "example": "CORR12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key that ensures idempotence of the request.",
            "example": "IDEMPOTENCY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "Web Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "Loan Management System"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Mobile, Web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateLoanApplicationApplicantResponse_201": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application process.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-803828"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "Describes the relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "The income details of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "The monthly financial obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "19a7cd96-3d26-51cd-2465-ebb96e6913de"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "The status of the applicant's credit report.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for tracking changes made to the applicant's details.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata regarding the loan application.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-803828",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "19a7cd96-3d26-51cd-2465-ebb96e6913de",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "fbf4edde-7cc5-56ed-b552-bce2ace861ec",
            "correlationId": "41cb7605-aa8b-55bc-812c-5fae19e78fbd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount in the specified currency.",
            "example": "5000"
          }
        }
      },
      "Liability": {
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "The type of the liability.",
            "example": "Mortgage"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender.",
            "example": "Bank A"
          },
          "outstandingBalance": {
            "description": "The outstanding balance for the liability.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "monthlyPayment": {
            "description": "The monthly payment due for the liability.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the applicant record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the applicant record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the applicant record was last updated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who last updated the applicant record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the applicant record.",
            "format": "int32",
            "example": 1
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "C123456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the loan application request. This header helps in tracking and logging API interactions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-applicant"
        },
        "example": "banking-loans-openapi-create-applicant"
      },
      "X-Runtime-App": {
        "description": "Indicates the application name that executed the request. This is useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token mechanism where a JSON Web Token (JWT) is required. Clients must include the token in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}