{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Intellectual Property Portfolio Management API",
    "description": "This API facilitates the management of intellectual property portfolios, allowing organizations to efficiently create and organize their knowledge assets. The service provides capabilities to submit new intellectual property entries and manage existing records, which can benefit businesses engaged in innovation and technology. Typical consumers include legal teams and product development departments that require robust asset tracking and reporting functionalities. By utilizing this API, users can streamline their intellectual property processes and enhance their competitive edge.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio": {
      "post": {
        "tags": [
          "Intellectual Property Management"
        ],
        "summary": "Create a new intellectual property portfolio.",
        "description": "This endpoint allows users to create a new intellectual property portfolio, enabling them to manage various IP assets efficiently. The portfolio can contain multiple types of intellectual properties, such as patents, trademarks, and copyrights, consolidating them in one place for better oversight and strategic planning.",
        "operationId": "createIntellectualPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an intellectual property portfolio. It should include necessary details such as asset descriptions and ownership information to ensure the portfolio is comprehensive and accurate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntellectualPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the intellectual property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateIntellectualPropertyPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateIntellectualPropertyPortfolioRequest": {
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the intellectual property asset, e.g., patent, trademark.",
            "example": "STANDARD"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Official registration number of the intellectual property asset.",
            "example": "NY-4587219"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The legal jurisdiction under which the intellectual property is registered.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Identifier of the legal entity that owns the intellectual property asset.",
            "example": "STANDARD"
          },
          "renewalDate": {
            "type": "string",
            "description": "The date by which the asset must be renewed to maintain its registration.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for creating or updating an intellectual property portfolio asset.",
        "example": {
          "ipAssetId": "STANDARD",
          "assetType": "STANDARD",
          "registrationNumber": "NY-4587219",
          "jurisdiction": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "renewalDate": "2026-09-15",
          "requestContext": {
            "requestId": "dc143a17-66dd-5ee8-8f93-37f614150f18",
            "correlationId": "c0b514b8-41c8-574f-b938-03195fe6ba79",
            "idempotencyKey": "136016af-375d-5acd-a951-ba457c9642ba",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-247362"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests or operations.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring that a specific request is only processed once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identification and source information."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used, e.g., web, mobile.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel through which the request was made."
      },
      "CreateIntellectualPropertyPortfolioResponse_201": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "The unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity that owns the intellectual property.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier of the resource associated with the intellectual property.",
            "example": "RES-688955"
          },
          "status": {
            "type": "string",
            "description": "The current status of the intellectual property asset.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the intellectual property asset was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for creating an intellectual property portfolio asset.",
        "example": {
          "ipAssetId": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "resourceId": "RES-688955",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c5a0c5a2-f1c2-50ab-a7ff-9c6fe18801bc",
            "correlationId": "c0b514b8-41c8-574f-b938-03195fe6ba79",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RSP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the correlation between requests and responses.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Contains additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-create-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-create-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, where a JSON Web Token (JWT) is provided in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}