{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intents Management API",
    "description": "The Payment Intents Management API allows businesses to modify payment intent details efficiently. This endpoint enables the update of various aspects of existing payment intents, facilitating better control over payment processes. It is particularly beneficial for developers working on e-commerce platforms or financial services applications where payment modifications are routine. Typical consumers include fintech developers and application integrators looking to enhance user payment experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}": {
      "patch": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Update a specific payment intent.",
        "description": "This operation allows you to update the details of a specific payment intent identified by its ID. Use this endpoint to modify attributes such as amount, currency, or metadata associated with the payment intent.",
        "operationId": "updatePaymentIntentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update a specific payment intent identified by its ID PAY-300045. It allows clients to modify various properties of the payment intent as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentIntentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment intent was updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentIntentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePaymentIntentPay300045Request": {
        "title": "Payment Intent Update Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount related to the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "customer": {
            "description": "Information about the customer associated with the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details of the order linked to the payment intent.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a payment intent.",
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-988752",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "category": "STANDARD"
              }
            ]
          },
          "requestContext": {
            "requestId": "c6a8a9f3-af11-505f-b726-c87d682e86fc",
            "correlationId": "9d7b6518-da9e-540a-a816-572903e57292",
            "idempotencyKey": "304d4758-01c3-57ce-9ab1-222ffbca27ac",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-823113"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount with currency and value."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer_001"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment assigned to the customer.",
            "example": "high"
          }
        },
        "description": "Details about the customer making the payment."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant order.",
            "example": "order_001"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Order for electronic goods"
          },
          "items": {
            "type": "array",
            "description": "List of items included in the order.",
            "items": {
              "type": "object",
              "properties": {
                "itemId": {
                  "type": "string",
                  "description": "Unique identifier for the item.",
                  "example": "item_001"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item.",
                  "example": "Laptop"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the item.",
                  "example": "High-performance laptop"
                },
                "quantity": {
                  "type": "string",
                  "description": "Quantity of the item ordered.",
                  "example": "1"
                },
                "unitPrice": {
                  "$ref": "#/components/schemas/Amount"
                },
                "totalAmount": {
                  "$ref": "#/components/schemas/Amount"
                }
              }
            }
          }
        },
        "description": "Details about the order associated with the payment."
      },
      "OrderItem": {
        "title": "Order Item",
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier for the item.",
            "example": "item_1234"
          },
          "name": {
            "type": "string",
            "description": "Name of the item.",
            "example": "Smartphone"
          },
          "description": {
            "type": "string",
            "description": "Description of the item.",
            "example": "Latest model smartphone with advanced features"
          },
          "quantity": {
            "type": "string",
            "description": "Quantity of the item ordered.",
            "example": "2"
          },
          "unitPrice": {
            "description": "Price per unit of the item.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "description": "Total amount for the item after multiplying by quantity.",
            "$ref": "#/components/schemas/Amount"
          },
          "taxAmount": {
            "description": "Tax amount applicable to the item.",
            "$ref": "#/components/schemas/Amount"
          },
          "category": {
            "type": "string",
            "description": "Category of the item.",
            "example": "Electronics"
          }
        },
        "description": "Information about an individual item in the order."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_abcdef"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr_123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "payment-gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application name that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device_001"
          }
        },
        "description": "Information about the request channel."
      },
      "UpdatePaymentIntentPay300045Response_200": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-566577"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Total amount of the payment including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "Amount that has been authorized for the payment transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "Amount that has been captured from the authorized payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "Amount that has been refunded from the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method of capturing the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "Transaction channel used for the payment.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods that are allowed for this payment.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "selectedPaymentMethod": {
            "description": "Details of the payment method selected by the customer.",
            "$ref": "#/components/schemas/SelectedPaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details of the order associated with the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Metadata information associated with the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on payment intents.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-566577",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-303",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-534139",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "f8e1084e-e761-5323-b65d-990c6596a7b3",
            "correlationId": "9d7b6518-da9e-540a-a816-572903e57292",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SelectedPaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the selected payment method.",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "token_123456"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer for the payment method.",
            "example": "bank_001"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., card number).",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet used.",
            "example": "paypal"
          }
        },
        "description": "Information about the selected payment method used in the transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint processing the request. This value helps in tracking and logging the requests for better monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-payment-intent"
        },
        "example": "banking-p2m-openapi-update-payment-intent"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application that handled the request. This information can assist in debugging and ensuring compatibility.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}