{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Param1-spec",
    "description": "This API allows the modification of settlement account parameters, specifically targeting the replacement of P2m configurations with the specified parameter. The primary resource, settlement accounts, plays a crucial role in processing financial transactions and ensuring accurate account management. Typical consumers include financial institutions and businesses that require seamless adjustments to their account settings for compliance or operational efficiency. This endpoint supports the updating of specific parameters, making it essential for maintaining up-to-date account configurations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{param1}": {
      "put": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Update Settlement Account",
        "description": "This endpoint allows you to update the details of a specific settlement account identified by its unique account number. Ensure that you have the correct account number and the necessary information to perform the update.",
        "operationId": "replaceP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the details of a specific settlement account identified by ACC-200045. This should contain the necessary information such as account name, type, status, and any relevant attributes required for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByParam1Request": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-272013"
          },
          "bankAccountToken": {
            "type": "string",
            "description": "Token that securely identifies the bank account.",
            "example": "STANDARD"
          },
          "account": {
            "description": "Details about the bank account.",
            "$ref": "#/components/schemas/Account"
          },
          "schedule": {
            "description": "Schedule for settlement operations.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this account is the default for the merchant.",
            "example": true
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "merchantId": "MER-272013",
          "bankAccountToken": "STANDARD",
          "account": {
            "bankCode": "CODE-539",
            "branchCode": "CODE-315",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "requestContext": {
            "requestId": "87faae8b-9c55-5c6a-8ed4-2a8d9a24287c",
            "correlationId": "c803fa1f-0e5a-5fe6-a889-73c8342099aa",
            "idempotencyKey": "9fbfeb3e-d772-50b3-9d70-5e5258ccbcdc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-862990"
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "Bank code associated with the account.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "Branch code associated with the account.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "Masked account number for security.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of bank account.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the bank account.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of a bank account."
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "Frequency of the settlement schedule (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "Cutoff time for processing settlements.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone for the settlement schedule.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "Number of business days before the settlement is processed.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "The minimum payout amount required for the settlement.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Schema representing the settlement schedule details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "MinimumPayoutAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the minimum payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum amount value required for payouts.",
            "example": "string"
          }
        },
        "description": "Represents the minimum payout amount and its currency."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel used in the request."
      },
      "ReplaceP2mByParam1Response_200": {
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "The unique identifier of the settlement account.",
            "example": "ACC-841950"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant associated with the account.",
            "example": "MER-310557"
          },
          "account": {
            "description": "Details of the bank account associated with the settlement account.",
            "$ref": "#/components/schemas/SettlementAccountDetails"
          },
          "schedule": {
            "description": "Information about the schedule for settlements.",
            "$ref": "#/components/schemas/SettlementSchedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "The status of the verification for the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information concerning the creation and update of the settlement account.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for settlement account operations.",
        "example": {
          "settlementAccountId": "ACC-841950",
          "merchantId": "MER-310557",
          "account": {
            "bankCode": "CODE-201",
            "branchCode": "CODE-526",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c3d4404a-2646-5d44-a69f-80d5184bcaf0",
            "correlationId": "c803fa1f-0e5a-5fe6-a889-73c8342099aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SettlementAccountDetails": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The code of the bank associated with the account.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code for the bank.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "The masked account number for security purposes.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the bank account.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the account.",
            "example": "string"
          }
        },
        "description": "Contains details about the bank account linked to the settlement account."
      },
      "SettlementSchedule": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency of the settlement transactions.",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for settlement processing.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone in which the settlement processing occurs.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days for settlement delays.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "The minimum payout amount required for processing.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Details about the settlement frequency, cutoff time, and payout requirements."
      },
      "AuditDetails": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the settlement account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the settlement account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the settlement account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the settlement account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the settlement account record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains audit details for tracking creation and updates of the settlement account."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called, useful for tracking and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-settlement-account"
        },
        "example": "banking-p2m-openapi-replace-settlement-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This can help in identifying the source of the response from different applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) to authenticate users. It expects a valid JWT token to be provided in the request for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}