{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Data Update API",
    "description": "The Employee Data Update API enables businesses to efficiently modify existing employee records within the human resource management system. This API allows users to update various attributes of an employee's profile, such as personal details, job information, and contact data. Ideal for HR professionals and system integrators, it streamlines the process of maintaining accurate and up-to-date employee information. By utilizing this API, organizations can ensure that their HR data remains reliable and aligned with current employee statuses.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-data-management/{param1}": {
      "patch": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Update employee data by ID.",
        "description": "This operation allows you to update the details of an employee in the Human Resource Management system using their unique employee ID. Make sure to provide the necessary fields to be updated in the request body.",
        "operationId": "patchEmployeeDataById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the employee data associated with the specified employee ID (EMP-900045) in the human resource management system. The submitted data should adhere to the defined schema which outlines the necessary fields and their respective types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchEmployeeDataByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the employee data has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchEmployeeDataByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchEmployeeDataByIdRequest": {
        "title": "Employee Data Management Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains details about the changes being requested for the employee.",
            "$ref": "#/components/schemas/EmployeeChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating employee data in the system.",
        "example": {
          "changes": {
            "employeeId": "EMP-438619",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "7d7c003f-3413-56f4-9935-72b26065a7bc",
            "correlationId": "223c0fa5-859a-525c-9299-c6b5beb72264",
            "idempotencyKey": "c65c8fa8-9e56-5bb9-a18c-2c0236a0d1c6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-145778"
            }
          }
        }
      },
      "EmployeeChanges": {
        "title": "Employee Changes",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier of the employee whose data is being changed.",
            "example": "EMP-1234"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment related to the employee.",
            "example": "ASSIGN-5678"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department to which the employee is being assigned.",
            "example": "DEP-91011"
          }
        },
        "description": "Details of the changes requested for an employee."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request with other related requests.",
            "example": "CORR-7890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is processed only once.",
            "example": "IDEMP-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "HRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was generated.",
            "example": "Employee Management Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request made to the system."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used to submit the request.",
            "example": "CHAN-1011"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in this request.",
            "example": "DEV-1213"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PatchEmployeeDataByIdResponse_200": {
        "title": "Employee Data Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the data was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for updating employee data in the employee data management system.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "289d1a95-1035-5906-96ba-af3fa3cf9101",
            "correlationId": "223c0fa5-859a-525c-9299-c6b5beb72264",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through the system.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-data-management-update-employee-data-management"
        },
        "example": "employee-data-management-update-employee-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token must be in the JWT (JSON Web Token) format, which is commonly used for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}