{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Atm Network Operation Status-spec",
    "description": "The ATM Network Operation Status API provides valuable insights into the real-time operational status of ATM networks. This endpoint allows users to retrieve detailed information about the current state of various ATM network operations, ensuring banking institutions can monitor and manage their services efficiently. Typical consumers of this API include banking application developers and operations teams who need to ensure uptime and service availability for customer transactions. By utilizing this API, stakeholders can proactively address issues and enhance the customer experience in ATM banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-operations/status": {
      "get": {
        "tags": [
          "ATM Operations"
        ],
        "summary": "Retrieve ATN Network Operation Status",
        "description": "This endpoint allows you to retrieve the current status of the ATM network operations, providing essential information on its availability and performance metrics.",
        "operationId": "listAtmNetworkOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of ATM network operations specific to a channel. It requires a JSON payload that conforms to the specified schema, which defines the structure and expected data types for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAtmNetworkOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, providing the current status of the ATM network operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAtmNetworkOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAtmNetworkOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for a specific GET operation related to ATM network operations. It is expected to be a string type.",
        "example": "{}"
      },
      "ListAtmNetworkOperationStatusResponse_200": {
        "title": "Channel Specific ATM Network Operations Status Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the ATM.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "An object containing information about the operating hours of the ATM.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The total number of transactions that the ATM can process in a day.",
            "format": "int32",
            "example": 1
          },
          "atmId": {
            "type": "string",
            "description": "The unique identifier for the ATM.",
            "example": "STANDARD"
          },
          "cashStatus": {
            "type": "string",
            "description": "The current cash status of the ATM (e.g., sufficient, low, out of cash).",
            "example": "AVAILABLE"
          },
          "terminalHealth": {
            "type": "string",
            "description": "The health status of the ATM terminal (e.g., operational, malfunctioning).",
            "example": "ONLINE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating whether it is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "An object containing additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the GET operation on channel-specific ATM network status. It includes details about the ATM's channel ID, region, service availability, capacity, health status, and metadata related to the response.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "atmId": "STANDARD",
          "cashStatus": "AVAILABLE",
          "terminalHealth": "ONLINE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "455ec007-0f1c-505a-9a6a-ef3f794f2689",
            "correlationId": "9be193ca-6138-5d92-a491-dae701010354",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the ATM opens for service.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the ATM closes for service.",
            "example": "20:00"
          }
        },
        "description": "This schema represents the operating hours of an ATM, specifying when it opens and closes."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-NY"
          }
        },
        "description": "This schema contains metadata related to the API response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-operations-get-atm-network-operations"
        },
        "example": "atm-network-operations-get-atm-network-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. A bearer token is issued, typically as a JSON Web Token (JWT), which must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}