{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan By Param1-spec",
    "description": "The Loan Replacement API provides the functionality to replace existing loan product details specified by a unique parameter. This endpoint allows users to update attributes of a loan product effectively, addressing various business requirements for financial institutions. Typical consumers of this API include loan management systems and financial service providers looking to maintain up-to-date product offerings. Ensuring aligned loan specifications with market demands can enhance customer satisfaction and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products/{param1}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a loan product by its ID.",
        "description": "This endpoint allows you to update the details of a specific loan product identified by its unique ID. Ensure that you provide the necessary data in the request body, and the changes will be applied accordingly.",
        "operationId": "replaceLoanByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Update the details of the specified loan product (LOAN-500045). This request body must contain all necessary information to successfully update the loan product, including any required fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the loan product was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanByParam1Request": {
        "title": "Loan Product Update Request",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code assigned to the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type of loan product, e.g., personal, mortgage, etc.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amounts are specified.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term in months for the loan.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term in months for the loan.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The base rate code associated with the loan.",
            "example": "CODE-915"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin percentage added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the loan.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured by collateral.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio as a percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "The eligibility criteria for the loan product.",
            "$ref": "#/components/schemas/EligibilityCriteria"
          },
          "requestContext": {
            "description": "The context of the request associated with the loan product update.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a loan product.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-915",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1
          },
          "requestContext": {
            "requestId": "585bb3b9-4c10-57c4-a1e4-7378b045b38d",
            "correlationId": "7102d0f8-3ab4-5324-ba5f-4331800a3bcc",
            "idempotencyKey": "b1946aaf-6a61-5a38-b42c-52e4a7391c15",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-444987"
            }
          }
        }
      },
      "LoanPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The principal amount that can be borrowed.",
            "example": "10000"
          }
        },
        "description": "Represents a principal amount for a loan, including its currency."
      },
      "EligibilityCriteria": {
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "Minimum age of the applicant to be eligible for the loan.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "Maximum age of the applicant at the time the loan matures.",
            "format": "int32",
            "example": 65
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income required to qualify for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "List of employment types accepted for loan eligibility.",
            "items": {
              "type": "string",
              "description": "Type of employment allowed (e.g., salaried, self-employed).",
              "example": "salaried"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "List of countries where applicants must reside to qualify for the loan.",
            "items": {
              "type": "string",
              "description": "Country name allowed for residency.",
              "example": "USA"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "Minimum credit score required for loan eligibility.",
            "format": "int32",
            "example": 650
          }
        },
        "description": "Criteria for loan eligibility, including age, income, and credit score requirements."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking related requests.",
            "example": "CORR-345678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The idempotency key to ensure safe retry of requests.",
            "example": "IDEM-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-05T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request was initiated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "LoanManager"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing the context of the request for loan product operations."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel, e.g., mobile, web, etc.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier from which the request was made.",
            "example": "DEVICE-001"
          }
        },
        "description": "Schema representing information about the channel of the request."
      },
      "ReplaceLoanByParam1Response_200": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code identifying the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "Name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type of the loan product (e.g., personal, mortgage, etc.).",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan product is denominated.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount that can be borrowed.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount that can be borrowed.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "Minimum loan term in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "Maximum loan term in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applied to the loan (fixed or variable).",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate percentage of the loan.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "Code for the base interest rate used for this loan product.",
            "example": "CODE-806"
          },
          "marginPercent": {
            "type": "string",
            "description": "Margin percentage added to the base rate to compute the interest rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments (monthly, bi-weekly, etc.).",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured by collateral.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "Maximum loan-to-value ratio allowed for the loan product.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "Criteria that borrowers must meet to qualify for the loan.",
            "$ref": "#/components/schemas/EligibilityCriteria"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the loan product.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanFee"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan product.",
            "example": "cc22492a-1b2d-b44e-9080-4f974ecafefd"
          },
          "audit": {
            "description": "Audit information related to the creation of the loan product.",
            "$ref": "#/components/schemas/AuditInformation"
          },
          "metadata": {
            "description": "Metadata regarding the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for loan product operations, providing detailed information about the loan product including its terms, eligibility criteria, and associated fees.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-806",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "cc22492a-1b2d-b44e-9080-4f974ecafefd",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "ca3d7cf0-806b-566b-aead-8a45af1825c3",
            "correlationId": "7102d0f8-3ab4-5324-ba5f-4331800a3bcc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanFee": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code identifying the fee.",
            "example": "FEE001"
          },
          "name": {
            "type": "string",
            "description": "Name of the fee.",
            "example": "Processing Fee"
          },
          "calculationMethod": {
            "type": "string",
            "description": "Method used to calculate the fee (e.g., flat, percentage).",
            "example": "percentage"
          },
          "amount": {
            "description": "Amount of the fee in the specified currency.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "percent": {
            "type": "string",
            "description": "Percentage representation of the fee, if applicable.",
            "example": "2.5"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates whether the fee is capitalized into the loan.",
            "example": false
          }
        },
        "description": "Represents a fee related to a loan product, including its calculation method and amount."
      },
      "AuditInformation": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the loan product was created.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Information related to the audit of the loan product creation."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the loan product was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata about the response, such as correlation and generation details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-product"
        },
        "example": "banking-loans-openapi-replace-loan-product"
      },
      "X-Runtime-App": {
        "description": "Indicates the application name that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication scheme with JSON Web Tokens (JWT). Clients must include a JWT in the Authorization header of the request. The token provides access control based on the encoded claims and is generated by an authentication server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}