{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Loan Products-spec",
    "description": "The Loan Products Listing API provides access to a comprehensive catalog of loan products available for borrowers. This endpoint allows users to retrieve detailed information about various loans, including terms, interest rates, and eligibility criteria. Typical consumers include financial institutions, loan officers, and application developers looking to integrate loan offerings into their systems. With this resource, users can make informed decisions based on the latest loan offerings tailored to meet different financial needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve a list of loan products.",
        "description": "This endpoint allows users to obtain a comprehensive list of all available loan products along with their details. It can be used to evaluate options and make informed financial decisions.",
        "operationId": "listLoanLoanProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving loan products. It includes information such as product type, interest rates, and other relevant criteria to filter the loan offerings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanLoanProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of loan products.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanLoanProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanLoanProductsRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching loan product operations.",
        "example": "{}"
      },
      "ListLoanLoanProductsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of loan products.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "productType": "STANDARD",
                "currency": "USD",
                "minPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "maxPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "minTermMonths": 1,
                "maxTermMonths": 1,
                "interestRateType": "STANDARD",
                "annualInterestRatePercent": "STANDARD",
                "baseRateCode": "CODE-587",
                "marginPercent": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "secured": true,
                "maximumLoanToValuePercent": "STANDARD",
                "eligibility": {
                  "minApplicantAge": 1,
                  "maxApplicantAgeAtMaturity": 1,
                  "minMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "allowedEmploymentTypes": [
                    "STANDARD"
                  ],
                  "allowedResidencyCountries": [
                    "STANDARD"
                  ],
                  "minCreditScore": 1
                },
                "fees": [
                  {
                    "code": "SUCCESS",
                    "name": "Northstar Banking Service",
                    "calculationMethod": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "percent": "STANDARD",
                    "capitalized": true
                  }
                ],
                "status": "ACTIVE",
                "id": "dada9288-9d0b-bcc0-59d0-4b06cab71d92",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanProduct"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving loan products.",
        "example": {
          "items": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "description": "Customer banking request processed successfully",
              "productType": "STANDARD",
              "currency": "USD",
              "minPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "maxPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "minTermMonths": 1,
              "maxTermMonths": 1,
              "interestRateType": "STANDARD",
              "annualInterestRatePercent": "STANDARD",
              "baseRateCode": "CODE-587",
              "marginPercent": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "secured": true,
              "maximumLoanToValuePercent": "STANDARD",
              "eligibility": {
                "minApplicantAge": 1,
                "maxApplicantAgeAtMaturity": 1,
                "minMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "allowedEmploymentTypes": [
                  "STANDARD"
                ],
                "allowedResidencyCountries": [
                  "STANDARD"
                ],
                "minCreditScore": 1
              },
              "fees": [
                {
                  "code": "SUCCESS",
                  "name": "Northstar Banking Service",
                  "calculationMethod": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "percent": "STANDARD",
                  "capitalized": true
                }
              ],
              "status": "ACTIVE",
              "id": "dada9288-9d0b-bcc0-59d0-4b06cab71d92",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "28e862cf-d585-5534-a562-41321f1f58d8",
            "correlationId": "db1d8c5b-5d7d-51c0-9245-4943b85f4eb2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanProduct": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique identifier for the loan product."
          },
          "name": {
            "type": "string",
            "description": "Name of the loan product."
          },
          "description": {
            "type": "string",
            "description": "Description of the loan product."
          },
          "productType": {
            "type": "string",
            "description": "Type of product (e.g., personal, mortgage, etc.)."
          },
          "currency": {
            "type": "string",
            "description": "Currency for loan amounts."
          },
          "minPrincipal": {
            "description": "Minimum principal amount for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "maxPrincipal": {
            "description": "Maximum principal amount for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "Minimum loan term in months.",
            "format": "int32"
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "Maximum loan term in months.",
            "format": "int32"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate (e.g., fixed or variable)."
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate as a percentage."
          },
          "baseRateCode": {
            "type": "string",
            "description": "Code for the base interest rate."
          },
          "marginPercent": {
            "type": "string",
            "description": "Margin percentage added to the base rate."
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g., monthly, bi-weekly)."
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan is secured."
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "Maximum loan-to-value ratio expressed as a percentage."
          },
          "eligibility": {
            "description": "Eligibility criteria for the loan.",
            "$ref": "#/components/schemas/Eligibility"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the loan.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan product."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan product."
          },
          "audit": {
            "description": "Audit information regarding the loan product.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing a loan product."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount."
          },
          "amount": {
            "type": "string",
            "description": "Amount in specified currency."
          }
        },
        "description": "Schema representing a monetary amount."
      },
      "Eligibility": {
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "Minimum age of the applicant.",
            "format": "int32"
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "Maximum age of the applicant at loan maturity.",
            "format": "int32"
          },
          "minMonthlyIncome": {
            "description": "Minimum monthly income requirement.",
            "$ref": "#/components/schemas/Money"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "List of employment types allowed.",
            "items": {
              "type": "string",
              "description": "Type of employment."
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "List of countries where residency is allowed.",
            "items": {
              "type": "string",
              "description": "Country of residency."
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "Minimum credit score required for eligibility.",
            "format": "int32"
          }
        },
        "description": "Eligibility criteria for a loan."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code for the fee."
          },
          "name": {
            "type": "string",
            "description": "Name of the fee."
          },
          "calculationMethod": {
            "type": "string",
            "description": "Method used to calculate the fee."
          },
          "amount": {
            "description": "Monetary amount of the fee.",
            "$ref": "#/components/schemas/Money"
          },
          "percent": {
            "type": "string",
            "description": "Percentage of the fee, if applicable."
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates if the fee is capitalized."
          }
        },
        "description": "Schema representing a fee associated with a loan product."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan product was created."
          }
        },
        "description": "Audit information regarding the loan product."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-products"
        },
        "example": "banking-loans-openapi-list-loan-products"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token in the HTTP Authorization header. The token is usually a JSON Web Token (JWT) that enables secure access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}