{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Payment By Param1-spec",
    "description": "The Financial Message Analysis API enables users to access detailed payment insights based on specific parameters. This endpoint allows businesses to retrieve financial message data associated with payments, providing critical information for transaction analysis and reporting. Typical consumers include financial analysts and compliance officers who require visibility into payment transactions for auditing and reconciliation purposes. By leveraging this API, organizations can enhance their decision-making processes and improve their financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-message-analysis/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Financial Message Analysis for a Specific Payment",
        "description": "This endpoint allows users to obtain the detailed financial message analysis related to a specific payment identified by its unique resource ID (RES-100045). It provides insights and relevant data for further financial processing and assessment.",
        "operationId": "getPaymentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a financial message analysis for the specified resource RES-100045. Ensure that the payload adheres to the required schema for successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the financial message analysis details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentByParam1Request": {
        "type": "string",
        "description": "This schema represents the payload structure for the financial message analysis request body.",
        "example": "{}"
      },
      "GetPaymentByParam1Response_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-724691"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-827084"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-406996"
          },
          "instructedAmount": {
            "description": "Amount and currency details for the instructed payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date requested for payment execution.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information regarding the payment.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the financial message analysis operation which contains payment details.",
        "example": {
          "paymentId": "PAY-724691",
          "debtorAccountId": "ACC-827084",
          "creditorAccountId": "ACC-406996",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6d4ec1b4-d4c0-5693-a539-575905251423",
            "correlationId": "45fee823-bf43-5661-9784-c59fc128e145",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the payment.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the instructed amount.",
            "example": "string"
          }
        },
        "description": "Object representing the instructed amount and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the payment response providing contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint to help trace requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-message-analysis-get-financial-message-analysis"
        },
        "example": "financial-message-analysis-get-financial-message-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the token is included in the Authorization header as a 'Bearer <token>'. JWT (JSON Web Token) format is recommended for token generation, ensuring secure and efficient communication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}