{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operation Omer Product Service Eligibilitys-spec",
    "description": "The Omer Product Service Eligibility API enables financial institutions to assess customer eligibility for products efficiently. This API provides access to detailed product eligibility information based on specific customer parameters. Users typically include bank representatives and customer service agents looking to determine product options for clients. The endpoint supports rapid retrieval of eligibility data, enhancing decision-making and services tailored to customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/product-eligibilities/{param1}/operations/omer-product-service-eligibility": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve product eligibility for a specific customer.",
        "description": "This endpoint allows you to fetch the product eligibility status for the customer represented by the identifier CUST-100045. It provides essential information related to the products and services the customer qualifies for, aiding in personalized service offerings.",
        "operationId": "listOperationOmerProductServiceEligibilitys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the eligibility of the product service for a specific customer. This input provides necessary parameters to ascertain the eligibility status and any associated details for customer CUST-100045 under the specified operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationOmerProductServiceEligibilitysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning product eligibility data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationOmerProductServiceEligibilitysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationOmerProductServiceEligibilitysRequest": {
        "type": "string",
        "description": "Request body for the GET operation to check product service eligibility for a customer.",
        "example": "{}"
      },
      "ListOperationOmerProductServiceEligibilitysResponse_200": {
        "title": "Product Service Eligibility Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Indicates the eligibility status of the product.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the eligibility information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response format for the operations related to product service eligibility.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2992a31a-f4d6-5530-a88b-c83c4dd2065f",
            "correlationId": "55abb8bd-a5e7-5af4-99d2-56e067d3af9b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-product-and-service-eligibility-update-customer-product-and-service-eligibility"
        },
        "example": "customer-product-and-service-eligibility-update-customer-product-and-service-eligibility"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-009"
        },
        "example": "WF-009"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Product Eligibility and Offer Fulfillment"
        },
        "example": "Customer Product Eligibility and Offer Fulfillment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "38edf1cf-f25d-47d1-96cd-13278e8e91d7"
        },
        "example": "38edf1cf-f25d-47d1-96cd-13278e8e91d7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JWT (JSON Web Token) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}