{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Pisp By Param1-spec",
    "description": "The PISP International Payments Retrieval API enables users to access information about international payment services based on a specific parameter. This API is designed for financial institutions and payment service providers seeking to retrieve details about payment initiation service providers (PISPs) for international transactions. By utilizing this endpoint, developers can effortlessly integrate international payment capabilities into their applications, enhancing user experience and enabling seamless transaction processing. Typical consumers include fintech applications, banking platforms, and other services requiring access to PISP data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments/{param1}": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve details of a specific international payment.",
        "description": "This endpoint allows you to fetch the information pertaining to a specific international payment by providing its unique identifier. This is useful for tracking or managing payment statuses.",
        "operationId": "getPispByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to retrieve details for the international payment identified by PAY-300045. Include the appropriate parameters to specify the desired data in the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on international payment APIs. It expects a JSON string as input.",
        "example": "{}"
      },
      "GetPispByParam1Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/InternationalPaymentData"
          }
        },
        "description": "Response schema for the International Payments GET operation.",
        "example": {
          "Data": {
            "InternationalPaymentId": "PAY-242089",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0
              }
            }
          },
          "metadata": {
            "responseId": "24d0d508-3741-53ab-bfcf-f928d2296cfa",
            "correlationId": "2e46cccb-2600-51ea-8e66-e675d56ef411",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InternationalPaymentData": {
        "type": "object",
        "properties": {
          "InternationalPaymentId": {
            "type": "string",
            "description": "Unique identifier for the international payment.",
            "example": "string"
          },
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent related to the payment.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the payment was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "string"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the payment status was last updated.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the payment.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected date and time when the payment will be executed.",
            "example": "string"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected date and time when the payment will be settled.",
            "example": "string"
          },
          "Refund": {
            "$ref": "#/components/schemas/RefundDetails"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Additional path information related to the status reason.",
            "example": "string"
          }
        },
        "description": "Details of the status reason for the payment."
      },
      "RefundDetails": {
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details regarding the refund of the international payment."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the account.",
            "example": "string"
          }
        },
        "description": "Details of the account to which the refund is directed."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for bearing the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details of each charge associated with the payment."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of the charge.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the charge amount.",
            "example": "string"
          }
        },
        "description": "Details of the amount related to charges and instructed amounts."
      },
      "ExchangeRateInformation": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency unit for the exchange rate.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "Type of the exchange rate.",
            "example": "string"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the exchange rate contract.",
            "example": "string"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Expiration date and time of the exchange rate.",
            "example": "string"
          }
        },
        "description": "Information regarding the exchange rate used for the payment."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier to track the payment end to end.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority level of the payment instruction.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose for the payment.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Entity bearing the payment charge.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency used for the transfer.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the payment destination.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Details regarding the initiation of the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment"
        },
        "example": "payment-initiation-openapi-get-international-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. The client must include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}