{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking It Management Production Release By Production Release Id-v5-spec",
    "description": "The Production Release Management API enables users to efficiently access detailed information about individual production releases in the banking IT management system. By utilizing the production release ID, consumers can retrieve specific release data, including key attributes and status updates. Typical users of this API include developers, business analysts, and operations teams involved in monitoring and managing banking software deployments. This API is essential for ensuring timely access to release information, facilitating faster decision-making and enhanced operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/production-release/{productionReleaseId}": {
      "get": {
        "tags": [
          "Production Release Management"
        ],
        "summary": "Retrieve a specific production release by its ID.",
        "description": "This endpoint allows you to fetch the detailed information of a production release identified by a unique ID (PROD-700045). You can use this data to verify release details or for documentation purposes.",
        "operationId": "getBankingItManagementProductionReleaseByProductionReleaseId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/productionReleaseId"
          }
        ],
        "requestBody": {
          "description": "This request body carries the necessary parameters to retrieve information regarding the production release identified by PROD-700045. Ensure that the JSON structure adheres to the defined schema to facilitate accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingItManagementProductionReleaseByProductionReleaseIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingItManagementProductionReleaseByProductionReleaseIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingItManagementProductionReleaseByProductionReleaseIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the context of IT management for a specific production release.",
        "example": "{}"
      },
      "GetBankingItManagementProductionReleaseByProductionReleaseIdResponse_200": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment of the system (e.g., development, staging, production).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the specific change related to this release.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for managing this release.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the release.",
            "example": "2026-08-11T12:00:00Z"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Identifier for any assets leased as part of this release.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value associated with the asset.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the release record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the release.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to this record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a production release operation.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af1d2f1f-4a67-50bd-b39f-473d7e645317",
            "correlationId": "179a2c3d-0024-5afc-9116-10cf291f5ccd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResidualValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value of the asset remaining after depreciation.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the residual value is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the residual value of an asset."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of this response occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "productionReleaseId": {
        "name": "productionReleaseId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, allowing for tracking and logging of API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-release-get-production-release"
        },
        "example": "production-release-get-production-release"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that executed the request, providing context about the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method in which a JSON Web Token (JWT) is included in the request header. The token is used to verify the identity of the user or application making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}