{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Channel Activity Analysis Analyse-v5-spec",
    "description": "The Banking Operational Services Channel Activity Analysis API provides tools for creating and managing detailed analyses of banking channel activities. This API allows financial institutions to gain insights into operational performance, customer interactions, and service usage across various banking channels. Typical consumers include data analysts and operational managers looking to optimize service delivery and enhance customer experiences. By utilizing this API, organizations can effectively drive data-informed decision-making and efficiency improvements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis/analyses": {
      "post": {
        "tags": [
          "Channel Activity Analysis"
        ],
        "summary": "Create a new channel activity analysis.",
        "description": "This endpoint allows you to create a new analysis of channel activity. It processes the provided data to generate insights that can help optimize operational strategies.",
        "operationId": "createBankingOperationalServicesChannelActivityAnalysisAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate an analysis of channel activity. It should contain all necessary parameters and data formatted as per the specified schema. Be sure to adhere to the schema definition to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesChannelActivityAnalysisAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the analysis data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesChannelActivityAnalysisAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesChannelActivityAnalysisAnalyseRequest": {
        "title": "Channel Activity Analysis Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation being requested.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer making the request.",
            "example": "CUST-308061"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the associated account.",
            "example": "ACC-767841"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for channel activity analysis operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-308061",
          "accountId": "ACC-767841",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "94e3f6b7-c38d-59cf-9301-95ac99140820",
            "correlationId": "69070c78-260e-5060-ac38-f8128b532770",
            "idempotencyKey": "35662520-69fc-5ea9-aeff-3b6c39e7912d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714020"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the context was logged.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "CreateBankingOperationalServicesChannelActivityAnalysisAnalyseResponse_200": {
        "title": "Channel Activity Analysis Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-166402"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-324553"
          },
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "List of findings resulting from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the channel activity analysis operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-166402",
          "accountId": "ACC-324553",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "f8089174-a0b5-50e2-8d8a-42108e4d53c9",
            "correlationId": "69070c78-260e-5060-ac38-f8128b532770",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "title": "Finding",
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The metric that was analyzed.",
            "example": "string"
          },
          "value": {
            "type": "integer",
            "description": "The value of the analyzed metric.",
            "format": "int32",
            "example": 0
          },
          "unit": {
            "type": "string",
            "description": "The unit of the metric.",
            "example": "string"
          }
        },
        "description": "Schema representing a single finding from the analysis."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-analyze-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-analyze-channel-activity-analysis"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) as a bearer token for authentication. The client must include this token as a part of the authorization header in the requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}