{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Employee Assignments-spec",
    "description": "The Employee Assignment Management API provides a comprehensive solution for retrieving details about employee assignments within an organization. It enables users to access information related to each employee's roles and responsibilities, supporting effective workforce management. This API is typically utilized by HR departments and management systems to track assignments, analyze staffing structures, and ensure proper resource allocation. With seamless integration capabilities, it enhances the visibility and organization of employee data for optimizing human resource operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-assignment": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve employee assignment information.",
        "description": "This endpoint allows you to fetch details about employee assignments within the human resource management system. It provides insights into current assignments and their statuses.",
        "operationId": "listHumanResourceManagementEmployeeAssignments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for retrieving employee assignment details in the human resource management system. It requires a structured JSON representation to specify the required parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeAssignmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the employee assignments were retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeAssignmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementEmployeeAssignmentsRequest": {
        "type": "string",
        "description": "A request body for retrieving employee assignment data in human resource management operations.",
        "example": "{}"
      },
      "ListHumanResourceManagementEmployeeAssignmentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of employee assignment records.",
            "example": [
              {
                "employeeId": "EMP-713715",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeAssignment"
            }
          },
          "pagination": {
            "description": "Pagination information related to the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field name used for sorting the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response generated by the system.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET Employee Assignment operation in Human Resource Management. Contains a list of employee assignments along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-713715",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cc03cb71-0157-5469-91ce-fe94ec2a33c7",
            "correlationId": "fda5d900-ff91-5c48-b16f-ab17f68ead1d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeAssignment": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "E12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment.",
            "example": "A67890"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department associated with the assignment.",
            "example": "D001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the assignment becomes effective.",
            "example": "2022-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., FULL_TIME, PART_TIME).",
            "example": "FULL_TIME"
          },
          "managerId": {
            "type": "string",
            "description": "Identifier of the manager assigned to the employee.",
            "example": "M001"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee is working.",
            "example": "New York"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., ACTIVE, INACTIVE).",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "Schema representing an individual employee assignment record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for the request to trace logs.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked. This helps in tracking and monitoring requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-assignment-search-employee-assignment"
        },
        "example": "employee-assignment-search-employee-assignment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This facilitates better debugging and performance tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate by including a JSON Web Token (JWT) in the `Authorization` header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}