{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Customer Case Managements-spec",
    "description": "The Servicing Customer Case Managements API enables users to retrieve information about customer case management activities related to banking services. By utilizing this endpoint, developers can access detailed data regarding ongoing and resolved customer cases, ensuring efficient handling of customer inquiries and issues. Typical consumers include customer service representatives and banking application developers who need to integrate case management functionalities into their systems. This API supports the operational needs of customer support teams by streamlining access to essential case data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case-management": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer case management details.",
        "description": "This endpoint allows you to retrieve details of customer cases managed within the servicing system, providing insights into the current status and relevant information associated with each case.",
        "operationId": "listServicingCustomerCaseManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving customer case management operations. It contains specific parameters required to filter or paginate through customer case management entries.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingCustomerCaseManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer case management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingCustomerCaseManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingCustomerCaseManagementsRequest": {
        "type": "string",
        "description": "A JSON-formatted string that represents the request body for the customer case management operations under the servicing system.",
        "example": "{}"
      },
      "ListServicingCustomerCaseManagementsResponse_200": {
        "title": "Customer Case Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer cases.",
            "example": [
              {
                "customerId": "CUST-645121",
                "caseId": "CASE-609074",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerCase"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The current sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response object for retrieving customer case management data.",
        "example": {
          "items": [
            {
              "customerId": "CUST-645121",
              "caseId": "CASE-609074",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d0369709-2d40-5a91-9dd4-15341da3febc",
            "correlationId": "76c9638f-8227-599a-83d9-e146177103a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerCase": {
        "title": "Customer Case",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "string"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier of the case.",
            "example": "string"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request for this case.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the case.",
            "example": "string"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the case originated.",
            "example": "string"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case.",
            "example": "string"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The due date for the service level agreement.",
            "example": "string"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The preferred contact method of the customer.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the case record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the case was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a case associated with a customer."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination details for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-management-search-customer-case-management"
        },
        "example": "customer-case-management-search-customer-case-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for debugging and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to authenticate API requests. It is a widely used method for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}