{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Components Configuration-v5-spec",
    "description": "The Connect Components Configuration API allows users to efficiently set up and manage the configurations for different connect components within the microservices ecosystem. This endpoint is designed for developers looking to automate the deployment and configuration processes, ensuring a seamless integration of various components. Typical consumers include system architects and DevOps teams who require a reliable method to configure and optimize component interactions. By utilizing this API, teams can enhance operational efficiency and maintain consistency across their deployment environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations": {
      "post": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Create a new configuration.",
        "description": "This endpoint allows users to create a new configuration by providing the necessary details in the request body. Ensure all required fields are filled out accurately to successfully create the configuration.",
        "operationId": "createConnectComponentsConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update configuration settings. It must adhere to the specified JSON schema, including all required fields and valid data types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectComponentsConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the specified configuration.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectComponentsConfigurationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectComponentsConfigurationRequest": {
        "title": "Post Request Body for Operations Configuration",
        "type": "object",
        "properties": {
          "filterAccounts": {
            "type": "array",
            "description": "List of account identifiers to filter on.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual account identifier.",
              "example": "string"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "Categories for classifying accounts.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An account classification type.",
              "example": "string"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether the Action Object is required.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for POST operations configuration, containing various properties related to account filtration and request context.",
        "example": {
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "requestContext": {
            "requestId": "0ec924f2-1d15-5cf6-bca4-91ff0aeac959",
            "correlationId": "a8e14e7b-44d3-5ece-b677-7a4a94ce7ee0",
            "idempotencyKey": "449dbfb8-2d55-5c1f-b878-2e74c456ccc7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-378918"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "requestIdExample"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlationIdExample"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify requests to ensure they are processed only once.",
            "example": "idempotencyKeyExample"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was initiated.",
            "example": "2023-10-10T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "sourceSystemExample"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "sourceApplicationExample"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channelIdExample"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., web, mobile, etc.).",
            "example": "channelTypeExample"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "deviceIdExample"
          }
        },
        "description": "Schema representing details about the channel used in the request."
      },
      "CreateConnectComponentsConfigurationResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the configuration.",
            "example": "fe640ebb-cfbb-997b-3ba7-754d9e7d4f78"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of account filters associated with the configuration.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An account filter string."
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "List of account classification types associated with the configuration.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An account classification type string."
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether an account owner is required.",
            "example": true
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful creation of configurations.",
        "example": {
          "id": "fe640ebb-cfbb-997b-3ba7-754d9e7d4f78",
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "metadata": {
            "responseId": "2552c6af-ab9f-5632-bc7d-005b48c268c9",
            "correlationId": "a8e14e7b-44d3-5ece-b677-7a4a94ce7ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-configurations"
        },
        "example": "open-finance-api-post-configurations"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method where the client must include a JSON Web Token (JWT) in the Authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}