{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Service By Business Id-spec",
    "description": "The Business Service Retrieval API enables users to access detailed information about specific business services by their unique business ID. This API is essential for developers building applications that require business service insights or management capabilities. Typical consumers include internal applications, business analysts, and third-party integrations that need real-time access to business service data. By using this endpoint, users can streamline their operations and enhance service offerings based on accurate business information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/businesses/{businessId}": {
      "get": {
        "tags": [
          "Business Operations"
        ],
        "summary": "Retrieve a specific business by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a business using its unique identifier. It can be used to access various attributes and metadata associated with the specified business.",
        "operationId": "getBusinessServiceByBusinessId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/businessId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving business operations associated with the specified business ID. Ensure to provide the necessary data in a valid JSON format as per the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessServiceByBusinessIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the requested business information is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessServiceByBusinessIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessServiceByBusinessIdRequest": {
        "type": "string",
        "description": "A JSON string representation of the request body for operations GET request on businesses.",
        "example": "{}"
      },
      "GetBusinessServiceByBusinessIdResponse_200": {
        "title": "Businesses Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of business items.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the businesses operations GET request.",
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "777788b9-0ac3-533c-8ce5-8a8e265dbec2",
            "correlationId": "015432fb-d821-598c-9e39-614b36219b65",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessItem": {
        "title": "Business Item",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business."
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the owner is personally liable."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business."
          },
          "email": {
            "type": "string",
            "description": "The contact email address of the business."
          },
          "type": {
            "type": "string",
            "description": "The type of the business."
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business."
          },
          "businessId": {
            "type": "string",
            "description": "The unique identifier for the business."
          },
          "createdDate": {
            "type": "string",
            "description": "The creation date of the business record."
          },
          "modifiedDate": {
            "type": "string",
            "description": "The last modified date of the business record."
          }
        },
        "description": "Schema representing a single business item."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address."
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (optional)."
          },
          "city": {
            "type": "string",
            "description": "The city of the business address."
          },
          "state": {
            "type": "string",
            "description": "The state of the business address."
          },
          "country": {
            "type": "string",
            "description": "The country of the business address."
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the business address."
          }
        },
        "description": "Schema representing the address details of a business."
      },
      "PhoneNumber": {
        "title": "Phone Number",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "The country code for the phone number."
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number."
          }
        },
        "description": "Schema representing the phone number details of a business."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across multiple services."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "businessId": {
        "name": "businessId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-id"
        },
        "example": "open-finance-api-get-business-by-id"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the operation. This helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication, which allows clients to authenticate by passing a JWT (JSON Web Token) in the Authorization header. The token is typically provided as a result of a previous authentication process, ensuring secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}