{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Compliance API",
    "description": "The Regulatory Compliance API provides banking institutions with essential tools to access and manage compliance data related to regulations. Through this API, users can retrieve up-to-date information on compliance requirements, ensuring adherence to industry standards and legal obligations. Typical consumers include compliance officers, auditors, and risk management teams who rely on accurate data for reporting and assessment. This API plays a crucial role in streamlining compliance processes, facilitating improved decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-compliance": {
      "get": {
        "tags": [
          "Regulatory Compliance"
        ],
        "summary": "Retrieve regulatory compliance information.",
        "description": "This endpoint allows users to fetch the current regulatory compliance status and details applicable to their operations, ensuring adherence to relevant laws and regulations.",
        "operationId": "getRegulatoryCompliance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving regulatory compliance information. This should contain the necessary parameters to fetch compliance details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegulatoryComplianceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved regulatory compliance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRegulatoryComplianceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRegulatoryComplianceRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to regulatory compliance. It is expected to be a string.",
        "example": "{}"
      },
      "GetRegulatoryComplianceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of compliance items.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ComplianceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for regulatory compliance operations.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "26e8fc55-c185-583d-80f8-258ad8f1d422",
            "correlationId": "0ce3d239-cc1c-55c4-88a8-a916f772dcb9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceItem": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "abc123"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity responsible for the submission.",
            "example": "entity456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Geographic jurisdiction where the regulation applies.",
            "example": "US"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the compliance submission.",
            "example": "2023-Q1"
          },
          "regulation": {
            "type": "string",
            "description": "The specific regulation under which the compliance submission is made.",
            "example": "Regulation A"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the compliance submission.",
            "example": "2023-04-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the submission record.",
            "example": "Submitted"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the submission.",
            "example": "2023-03-01T12:00:00Z"
          }
        },
        "description": "Details about a compliance submission."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information related to the pagination of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-03-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata information pertaining to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-compliance-search-regulatory-compliance"
        },
        "example": "regulatory-compliance-search-regulatory-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a JWT (JSON Web Token) as a bearer token. Clients must include the token in the 'Authorization' header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}