{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Investment Management E Trading Workbenchs-spec",
    "description": "The Investment Management E-Trading Workbench API provides access to a comprehensive list of e-trading workbench tools designed for investment management. Users can retrieve detailed information about various trading workbench configurations, helping them to optimize their trading strategies and manage investments effectively. This API is ideal for financial analysts, traders, and portfolio managers who require data-driven insights to enhance their trading activities. By integrating this API, organizations can streamline their e-trading operations and improve overall investment management efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/e-trading-workbench": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve the e-trading workbench information.",
        "description": "This endpoint allows you to obtain the latest information and functionalities available in the e-trading workbench for investment management. Use this to get an overview of trading options, market data, and trading tools.",
        "operationId": "listInvestmentManagementETradingWorkbenchs",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving data from the E-Trading Workbench in the investment management system. This body must be formatted as JSON and comply with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInvestmentManagementETradingWorkbenchsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvestmentManagementETradingWorkbenchsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInvestmentManagementETradingWorkbenchsRequest": {
        "title": "Investment Management Trading Workbench Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for GET operations on the E-Trading Workbench within Investment Management.",
        "example": "{}"
      },
      "ListInvestmentManagementETradingWorkbenchsResponse_200": {
        "title": "Investment Management Trading Workbench Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of investment portfolios.",
            "example": [
              {
                "portfolioId": "PORT-819583",
                "investmentAccountId": "ACC-260642",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentPortfolio"
            }
          },
          "pagination": {
            "description": "Information about pagination for the result set.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the investment management trading workbench GET operation. This schema includes portfolio details, pagination information, sorting options, and response metadata.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-819583",
              "investmentAccountId": "ACC-260642",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5a07e764-11c1-584c-a86e-5a54f3c44e4f",
            "correlationId": "49d695ae-fd49-50bf-8781-cd64d15ce62e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentPortfolio": {
        "title": "Investment Portfolio",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio."
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Identifier for the associated investment account."
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment goal of the portfolio."
          },
          "riskProfile": {
            "type": "string",
            "description": "Risk tolerance level of the portfolio."
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency used for the portfolio."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the portfolio record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update of the portfolio."
          }
        },
        "description": "Represents an investment portfolio with relevant details."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Contains information regarding the pagination of the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Contains metadata details related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-trading-workbench-search-e-trading-workbench"
        },
        "example": "e-trading-workbench-search-e-trading-workbench"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication, where the client sends a security token as part of the request. The token is a JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties. It allows for the authentication of users and the exchange of information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}