{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Factoring-spec",
    "description": "The Trade Banking Factoring API facilitates the initiation of factoring transactions within trade banking operations. This endpoint allows clients to submit requests for financial services that enable businesses to improve cash flow by selling their receivables. Primary consumers include financial institutions and corporate clients seeking to optimize their working capital. Utilizing this API helps streamline the factoring process, ensuring timely approvals and comprehensive transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/factoring": {
      "post": {
        "tags": [
          "Factoring"
        ],
        "summary": "Initiate a factoring trade.",
        "description": "This endpoint allows users to initiate a factoring trade in the trade banking domain. The operation involves submitting necessary trade details to create a factoring agreement.",
        "operationId": "createTradeBankingFactoring",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a factoring operation in trade banking. It should include detailed information about the transaction and parties involved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingFactoringRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource has been created successfully, returning the newly created entity.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingFactoringResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingFactoringRequest": {
        "title": "Factoring Request Body",
        "type": "object",
        "properties": {
          "sellerId": {
            "type": "string",
            "description": "The unique identifier for the seller.",
            "example": "STANDARD"
          },
          "debtorId": {
            "type": "string",
            "description": "The unique identifier for the debtor.",
            "example": "STANDARD"
          },
          "invoiceId": {
            "type": "string",
            "description": "The unique identifier for the invoice.",
            "example": "STANDARD"
          },
          "invoiceAmount": {
            "description": "The total amount of the invoice including currency.",
            "$ref": "#/components/schemas/InvoiceAmount"
          },
          "advanceRatePercent": {
            "type": "integer",
            "description": "The percentage of the invoice amount that will be advanced.",
            "format": "int32",
            "example": 100
          },
          "invoiceDueDate": {
            "type": "string",
            "description": "The due date of the invoice in ISO 8601 format.",
            "example": "2026-09-03"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for a factoring operation in trade banking.",
        "example": {
          "sellerId": "STANDARD",
          "debtorId": "STANDARD",
          "invoiceId": "STANDARD",
          "invoiceAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "advanceRatePercent": 100,
          "invoiceDueDate": "2026-09-03",
          "requestContext": {
            "requestId": "749cadda-b1bd-4159-9643-7dd40a0eba8c",
            "correlationId": "6ab88768-6110-4ceb-8e5c-9a95a2a0c7ea",
            "idempotencyKey": "5f64c900-239b-447f-ae8e-c98bc7afcd38",
            "requestedAt": "2026-08-27T23:01:16.511Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-533960"
            }
          }
        }
      },
      "InvoiceAmount": {
        "title": "Invoice Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The numeric value of the invoice amount.",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the invoice is issued.",
            "example": "USD"
          }
        },
        "description": "This schema represents the amount details of an invoice."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-2345"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracing requests across systems.",
            "example": "corr-6789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-03T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "FinanceSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "FactoringApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains information about the request context, beneficial for tracking and logging."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "This schema provides information about the channel used for the request."
      },
      "CreateTradeBankingFactoringResponse_201": {
        "title": "Factoring Operation Response",
        "type": "object",
        "properties": {
          "sellerId": {
            "type": "string",
            "description": "The unique identifier of the seller involved in the transaction.",
            "example": "STANDARD"
          },
          "debtorId": {
            "type": "string",
            "description": "The unique identifier of the debtor associated with the invoice.",
            "example": "STANDARD"
          },
          "invoiceId": {
            "type": "string",
            "description": "The unique identifier of the invoice related to the factoring operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource generated from the operation.",
            "example": "RES-749299"
          },
          "status": {
            "type": "string",
            "description": "The current status of the factoring operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FactoringOperationMetadata"
          }
        },
        "description": "This schema represents the response structure for a successful factoring operation request.",
        "example": {
          "sellerId": "STANDARD",
          "debtorId": "STANDARD",
          "invoiceId": "STANDARD",
          "resourceId": "RES-749299",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "59f6ce04-6b0c-52b0-843c-6ae1e5505a94",
            "correlationId": "dea2250c-387c-5e58-b2c3-4eceb7b4a6c6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FactoringOperationMetadata": {
        "title": "Factoring Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier of the response associated with the operation.",
            "example": "response999"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses between systems.",
            "example": "correlation888"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the operation took place.",
            "example": "us-west"
          }
        },
        "description": "This schema provides additional information about the factoring operation."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "98fde542dc2a5467"
        },
        "example": "98fde542dc2a5467"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ec9da99-dd92-48b0-8df7-ceee1e472847"
        },
        "example": "0ec9da99-dd92-48b0-8df7-ceee1e472847"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dcf4487a-a086-4950-9ab3-46a7c64d58c5"
        },
        "example": "dcf4487a-a086-4950-9ab3-46a7c64d58c5"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "factoring-create-factoring"
        },
        "example": "factoring-create-factoring"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request, useful for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this operation, aiding in tracing the flow of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-066"
        },
        "example": "WF-066"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Factoring and Receivables Financing"
        },
        "example": "Factoring and Receivables Financing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5afa39f5-eea6-4c3e-881f-b817683597a6"
        },
        "example": "5afa39f5-eea6-4c3e-881f-b817683597a6"
      }
    }
  }
}