{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Draft Management API",
    "description": "The Bank Draft Management API allows financial institutions to efficiently manage bank drafts for consumer services. This API supports operations for creating and processing draft transactions, enabling clients to facilitate smooth payment procedures. Typical consumers include banking applications and financial service providers that require seamless integration with draft handling. By using this API, businesses can enhance their payment offerings while ensuring compliance and security in transaction processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/bank-drafts": {
      "post": {
        "tags": [
          "Bank Draft Management"
        ],
        "summary": "Create a new bank draft.",
        "description": "This endpoint allows you to create a new bank draft in the system. Provide all the required information in the request body to initiate the bank draft creation process.",
        "operationId": "createBankDraft",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new bank draft within the consumer services. The provided data should adhere to the specified schema to ensure proper processing of the bank draft request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankDraftRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided bank draft details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankDraftResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankDraftRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-272004"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "1571fc96-c54e-51b2-9bd2-f61914fcab46"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product to be used for the bank draft.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount of money associated with the bank draft.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the bank draft is requested.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Metadata about the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating bank drafts in the consumer services API.",
        "example": {
          "customerId": "CUST-272004",
          "serviceRequestId": "1571fc96-c54e-51b2-9bd2-f61914fcab46",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "77512d24-ac1d-5988-bd23-8d511cef3eb6",
            "correlationId": "4a604dfa-5dde-57fb-b4d2-33018b8d75bf",
            "idempotencyKey": "d1534c82-c432-52a9-bf6b-a576c0e552a8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-658874"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric amount, indicating how much money is involved.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The three-letter currency code (ISO 4217) for the amount.",
            "example": "USD"
          }
        },
        "description": "Represents the monetary value and currency for transactions."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "cor-xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request can be made multiple times without effects.",
            "example": "idempotent-key-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-23T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the context in which the request was made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g. web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateBankDraftResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-167104"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "48585227-b2d5-5c33-a3a7-a3835b599cd5"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the request.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-216215"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the bank drafts operation.",
        "example": {
          "customerId": "CUST-167104",
          "serviceRequestId": "48585227-b2d5-5c33-a3a7-a3835b599cd5",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-216215",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b18bc64c-e6cf-5b7f-afa6-d6bcba45c4a0",
            "correlationId": "4a604dfa-5dde-57fb-b4d2-33018b8d75bf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the original request.",
            "example": "cor-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-drafts-create-bank-drafts"
        },
        "example": "bank-drafts-create-bank-drafts"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}