{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cheque Lock Box Retrieval API",
    "description": "The Cheque Lock Box Retrieval API provides developers with access to cheque lock box details for specific banking transactions. This endpoint allows users to retrieve information related to cheque management and storage, enhancing visibility into trade banking operations. Typical consumers include financial institutions and banking professionals who need to manage and oversee cheque deposits effectively. With this API, developers can streamline their cheque processing workflows and improve customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box/{param1}": {
      "get": {
        "tags": [
          "Cheque Lock Box Management"
        ],
        "summary": "Retrieve Cheque Lock Box Information",
        "description": "This operation allows you to retrieve detailed information about a specific cheque lock box identified by its resource ID. Use this endpoint to access the locks, cheques, and related details pertaining to the cheque lock box.",
        "operationId": "getChequeLockBoxById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body contains the necessary parameters to retrieve details about a specific cheque lock box under the Trade Banking service. Ensure that the JSON structure adheres to the defined schema to receive the appropriate response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChequeLockBoxByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChequeLockBoxByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChequeLockBoxByIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the cheque lock box operation in the trade banking API.",
        "example": "{}"
      },
      "GetChequeLockBoxByIdResponse_200": {
        "title": "Cheque Lock Box Response",
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch.",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier for the deposit account associated with the cheque batch.",
            "example": "ACC-694305"
          },
          "chequeCount": {
            "type": "integer",
            "description": "Total number of cheques in the batch.",
            "format": "int32",
            "example": 1
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "The date when the cheque batch is scheduled to clear.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the cheque batch.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the cheque batch record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema that represents the response for retrieving cheque lock box information.",
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-694305",
          "chequeCount": 1,
          "batchAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "clearingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9777d654-902f-55eb-8624-3706c38f6b89",
            "correlationId": "808b7397-b09a-5aba-9121-b23819c95aca",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BatchAmount": {
        "title": "Batch Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount of the cheque batch.",
            "example": 2500.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the total amount is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount details of a cheque batch."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RSP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across services.",
            "example": "CORR789101"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-12T14:50:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the cheque batch was processed.",
            "example": "North America"
          }
        },
        "description": "Schema containing additional metadata about the cheque batch operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-lock-box-get-cheque-lock-box"
        },
        "example": "cheque-lock-box-get-cheque-lock-box"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication with JSON Web Tokens (JWT). Clients are required to provide a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}