{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Establish Corporate Partnerships API",
    "description": "The Establish Corporate Partnerships API facilitates the creation of strategic relationships between the organization and corporate partners. This API allows users to submit partnership proposals, including necessary details such as partnership terms and benefits. Typical consumers include business development teams and partnership managers who aim to enhance organizational growth through collaborations. By utilizing this API, businesses can streamline their partnership processes and foster significant alliances in a structured manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-partnerships": {
      "post": {
        "tags": [
          "Corporate Partnerships"
        ],
        "summary": "Create a new corporate partnership.",
        "description": "This endpoint allows you to create a new partnership between corporations, facilitating collaboration and mutual benefits. Make sure to provide all required details in the request body to successfully establish the partnership.",
        "operationId": "createCorporatePartnership",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new corporate partnership. It contains information regarding the partnership details, including the involved corporate entities, partnership terms, and any specific conditions or requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporatePartnershipRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new corporate partnership.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporatePartnershipResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporatePartnershipRequest": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "The unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the corporate partnership request.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "The date and time when the engagement is scheduled.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "The unique identifier for the relationship owner.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when creating or updating corporate partnerships.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "requestContext": {
            "requestId": "0cafe121-8e12-5416-9ad3-0eb9d8d4212b",
            "correlationId": "5115243e-910c-5d45-99be-6a8008feb531",
            "idempotencyKey": "6844056b-5e51-5474-a4ce-cb0434b76dc6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-585861"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information through which the request was made."
      },
      "CreateCorporatePartnershipResponse_201": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement associated with the stakeholder.",
            "example": "STANDARD"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Identifier of the owner managing the relationship.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource linked to this relationship.",
            "example": "RES-825523"
          },
          "status": {
            "type": "string",
            "description": "Current status of the relationship.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the relationship was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the partnership response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate partnerships operation indicating details of stakeholder relationships.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "relationshipOwnerId": "STANDARD",
          "resourceId": "RES-825523",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2ca1a504-b471-5816-919a-c58646f585a6",
            "correlationId": "5115243e-910c-5d45-99be-6a8008feb531",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata object containing additional information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-alliance-and-stake-holder-create-corporate-alliance-and-stake-holder"
        },
        "example": "corporate-alliance-and-stake-holder-create-corporate-alliance-and-stake-holder"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. It requires a JSON Web Token (JWT) to be included in the Authorization header for secure access to endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}