{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Assurance Insights API",
    "description": "The Systems Assurance Insights API provides vital information and analytics regarding IT management systems within the banking sector. Users can access comprehensive data related to system performance, compliance, and risk management by querying specific parameters. This API serves IT administrators and banking professionals looking to optimize operational effectiveness and ensure regulatory adherence. By leveraging the insights offered, stakeholders can enhance their decision-making processes and bolster their systems' overall assurance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-assurance/{param1}": {
      "get": {
        "tags": [
          "System Assurance"
        ],
        "summary": "Retrieve system assurance details by ID.",
        "description": "This endpoint allows users to retrieve detailed information about a specific system assurance record using its unique ID. It provides all relevant data to help understand the system's assurance status and compliance metrics.",
        "operationId": "getSystemsAssuranceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information related to the IT Management Systems Assurance for the specified resource. This body should adhere to the defined schema and contain any necessary parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSystemsAssuranceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSystemsAssuranceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSystemsAssuranceByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request related to system assurance.",
        "example": "{}"
      },
      "GetSystemsAssuranceByIdResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "A unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the specific change associated with this operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Timestamp of when the operation is planned to take place.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier level allocated to the system.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target percentage for system availability.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window of the system.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the system.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the system record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RES-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to track the request across systems.",
                "example": "CORR-20231025-001"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-25T14:31:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata related to the operation response.",
            "example": {
              "responseId": "5d6307a3-7b29-500c-b4f2-f0c0bc17a0d9",
              "correlationId": "3f445a09-6441-568b-907b-4825054aeadd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response for the Operations GET request, detailing various attributes of the system's operation status.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5d6307a3-7b29-500c-b4f2-f0c0bc17a0d9",
            "correlationId": "3f445a09-6441-568b-907b-4825054aeadd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint being accessed. This helps in tracking and logging API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-assurance-get-systems-assurance"
        },
        "example": "systems-assurance-get-systems-assurance"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is making the request. Useful for application-level monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which involves issuing a JSON Web Token (JWT) as a means of authentication to securely authorize access to a resource.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}