{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Direct Debits-spec",
    "description": "The Account Direct Debits Retrieval API provides financial institutions and third-party providers access to a list of direct debits associated with a specified account. This API allows users to fetch detailed information about ongoing and past direct debit transactions, thereby enabling better financial management for consumers. Typical use cases include personal finance applications, banking dashboards, and budgeting tools where users need to monitor their direct debits. By integrating this API, developers can enhance their applications with transparent insights into account activities related to direct debits.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/direct-debits": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Direct Debits for a Specific Account",
        "description": "This endpoint allows you to fetch all direct debit transactions associated with the specified account (ACC-200045). This includes details such as amounts, dates, and transaction references, enabling users to manage their direct debits effectively.",
        "operationId": "listAccountDirectDebits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving direct debit information related to the specified account. This structure ensures that all required parameters are included for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountDirectDebitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; direct debit details retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountDirectDebitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountDirectDebitsRequest": {
        "title": "Direct Debits Request Body",
        "type": "string",
        "description": "This schema defines the request body for retrieving direct debit information associated with an account.",
        "example": "{}"
      },
      "ListAccountDirectDebitsResponse_200": {
        "title": "Direct Debits Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DirectDebit": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              }
            },
            "example": {
              "DirectDebit": [
                {
                  "AccountId": "ACC-113753",
                  "id": "STANDARD",
                  "statusCode": "CODE-966",
                  "MandateRelatedInformation": {
                    "MandateIdentification": "2026-09-15",
                    "Classification": "STANDARD",
                    "CategoryPurposeCode": "CODE-224",
                    "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                    "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                    "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                    "Frequency": {
                      "Type": "STANDARD",
                      "CountPerPeriod": 1,
                      "PointInTime": "STANDARD"
                    },
                    "Reason": "STANDARD"
                  },
                  "Name": "Northstar Banking Service",
                  "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                  "PreviousPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          },
          "Links": {
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for direct debit operations.",
        "example": {
          "Data": {
            "DirectDebit": [
              {
                "AccountId": "ACC-113753",
                "id": "STANDARD",
                "statusCode": "CODE-966",
                "MandateRelatedInformation": {
                  "MandateIdentification": "2026-09-15",
                  "Classification": "STANDARD",
                  "CategoryPurposeCode": "CODE-224",
                  "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                  "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                  "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                  "Frequency": {
                    "Type": "STANDARD",
                    "CountPerPeriod": 1,
                    "PointInTime": "STANDARD"
                  },
                  "Reason": "STANDARD"
                },
                "Name": "Northstar Banking Service",
                "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                "PreviousPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "15ede050-1f10-57bd-a96d-9af0b7cca6ba",
            "correlationId": "52f0b2f9-87bf-50fe-bc99-8b8947995495",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebit": {
        "title": "Direct Debit",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The identifier for the account associated with the direct debit."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the direct debit."
          },
          "statusCode": {
            "type": "string",
            "description": "The status code of the direct debit operation."
          },
          "MandateRelatedInformation": {
            "$ref": "#/components/schemas/MandateRelatedInformation"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the direct debit."
          },
          "PreviousPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the previous payment."
          },
          "PreviousPaymentAmount": {
            "$ref": "#/components/schemas/PreviousPaymentAmount"
          }
        },
        "description": "Schema representing a direct debit entry."
      },
      "MandateRelatedInformation": {
        "title": "Mandate Related Information",
        "type": "object",
        "properties": {
          "MandateIdentification": {
            "type": "string",
            "description": "The unique identifier for the mandate."
          },
          "Classification": {
            "type": "string",
            "description": "The classification of the mandate."
          },
          "CategoryPurposeCode": {
            "type": "string",
            "description": "The purpose code for the category of the mandate."
          },
          "FirstPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the first payment."
          },
          "RecurringPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the recurring payment."
          },
          "FinalPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the final payment."
          },
          "Frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "Reason": {
            "type": "string",
            "description": "The reason for the mandate."
          }
        },
        "description": "Schema containing information related to the mandate of a direct debit."
      },
      "Frequency": {
        "title": "Frequency",
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "The type of frequency (e.g., weekly, monthly)."
          },
          "CountPerPeriod": {
            "type": "integer",
            "description": "The number of payments per period.",
            "format": "int32"
          },
          "PointInTime": {
            "type": "string",
            "description": "A specific point in time related to the frequency."
          }
        },
        "description": "Schema representing the frequency of payments for a mandate."
      },
      "PreviousPaymentAmount": {
        "title": "Previous Payment Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the previous payment."
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the previous payment amount."
          }
        },
        "description": "Schema representing the amount of the previous payment."
      },
      "Links": {
        "title": "Links",
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page."
          }
        },
        "description": "Schema representing the pagination links for the response."
      },
      "Meta": {
        "title": "Meta",
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages in the response.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time."
          }
        },
        "description": "Schema representing metadata information about the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-direct-debits"
        },
        "example": "accounts-api-get-accounts-account-id-direct-debits"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing clients to authenticate via a JSON Web Token (JWT). The token must be included in the `Authorization` header of each request in the format: `Authorization: Bearer {token}`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}