{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Procurement Detail Retrieval API",
    "description": "This API enables users to obtain detailed information about a specific procurement process identified by its unique ID. The endpoint serves as a crucial resource for stakeholders looking to track procurement activities, review status, and access associated documentation. Typical consumers include procurement managers, financial analysts, and compliance officers who rely on this data for informed decision-making and reporting. By leveraging this API, organizations can enhance visibility into procurement workflows and streamline related operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement/{procurementId}": {
      "get": {
        "tags": [
          "Procurement"
        ],
        "summary": "Retrieve Procurement Resource Details",
        "description": "This endpoint allows you to fetch the details of a specific procurement resource identified by RES-100045. It provides comprehensive information related to the procurement activities associated with this resource.",
        "operationId": "getProcurementResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/procurementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve procurement details related to the specific identifier RES-100045. It should conform to the defined schema structure for correct processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProcurementResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProcurementResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProcurementResource100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the procurement service operations.",
        "example": "{}"
      },
      "GetProcurementResource100045Response_200": {
        "title": "Procurement Operation Response",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "8eb4a181-3efe-5351-80c4-df8699cf906f"
          },
          "supplierId": {
            "type": "string",
            "description": "The identifier of the supplier involved in the procurement.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the procurement.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount details for the procurement including value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person who requested the procurement.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The identifier of the purchase order related to the procurement.",
            "example": "ORD-743285"
          },
          "categoryCode": {
            "type": "string",
            "description": "The category code for the type of procurement.",
            "example": "CODE-330"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The approval level required for the procurement.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record in the procurement process.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the procurement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the procurement record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the procurement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a successful procurement operation.",
        "example": {
          "requestId": "8eb4a181-3efe-5351-80c4-df8699cf906f",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-743285",
          "categoryCode": "CODE-330",
          "approvalLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f8985de2-65bb-5e0a-a78d-ec3272626586",
            "correlationId": "a6c84edc-9b81-5f25-bf38-3ba0b7469f55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "string"
          }
        },
        "description": "This schema represents the detailed information regarding the amount of the procurement."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the procurement was processed.",
            "example": "string"
          }
        },
        "description": "This schema represents the metadata associated with the procurement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "procurementId": {
        "name": "procurementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-get-procurement"
        },
        "example": "procurement-get-procurement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JWT (JSON Web Tokens) as the token format. Include the token in the Authorization header of your requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}