{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Loan Details API",
    "description": "The Consumer Loan Details API provides access to detailed information regarding consumer loans available through the banking service. This endpoint allows users to retrieve specific loan offerings, including terms, rates, and eligibility criteria. It is designed for financial advisors, lending professionals, and customers seeking to compare loan options. By leveraging this API, developers can integrate comprehensive lending information into applications, enhancing the user experience and facilitating informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/consumer-loan": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve consumer loan deposit information.",
        "description": "This endpoint allows you to access detailed information regarding consumer loan deposits, including rates, terms, and eligibility criteria. It provides financial data essential for clients looking to understand their options for consumer lending.",
        "operationId": "getConsumerLoanDeposits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify parameters for retrieving consumer loan information in the deposit lending context. The body must be formatted as a JSON object containing the necessary fields to execute the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerLoanDepositsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved consumer loan data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerLoanDepositsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerLoanDepositsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation concerning consumer loans in the deposit lending context.",
        "example": "{}"
      },
      "GetConsumerLoanDepositsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of consumer loan items.",
            "example": [
              {
                "customerId": "CUST-889074",
                "accountId": "ACC-879109",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConsumerLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET operation related to consumer loan operations in the deposit lending context.",
        "example": {
          "items": [
            {
              "customerId": "CUST-889074",
              "accountId": "ACC-879109",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "20dd286e-cead-5d38-b1bd-2c0192ff288a",
            "correlationId": "f1896d18-bb5c-56ef-8734-67f674f4a14d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConsumerLoanItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the loan."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the type of loan product."
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The total term of the loan in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment (e.g., monthly, bi-weekly)."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Represents a consumer loan item with various details."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount (e.g., USD)."
          }
        },
        "description": "Represents the principal amount details of a loan."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Represents pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request with the response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata providing additional context for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-search-consumer-loan"
        },
        "example": "consumer-loan-search-consumer-loan"
      },
      "X-Runtime-App": {
        "description": "The identifier of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This method is commonly used for securing API endpoints and managing user sessions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}