{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Service Disbursements-spec",
    "description": "The Operational Service Disbursement Retrieval API provides a comprehensive mechanism for retrieving details about various operational service disbursements. This endpoint allows authorized users to access data related to disbursements, making it essential for financial analysts and operational managers. Typical use cases include auditing financial transactions, generating reports, and understanding service costs. Developers can leverage this API to integrate disbursement information into their applications for enhanced financial transparency and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement": {
      "get": {
        "tags": [
          "Disbursement Services"
        ],
        "summary": "Retrieve disbursement details.",
        "description": "This endpoint allows you to fetch the details of disbursement operational services. It provides relevant information including status and amount for the requested disbursement.",
        "operationId": "listOperationalServiceDisbursements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to disbursement operations. It requires a JSON payload that adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalServiceDisbursementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the disbursement data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalServiceDisbursementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalServiceDisbursementsRequest": {
        "type": "string",
        "description": "A string representation of the request body expected for the disbursement operations GET request.",
        "example": "{}"
      },
      "ListOperationalServiceDisbursementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of operation items containing details of each disbursement operation.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-581845",
                "accountId": "ACC-439978",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DisbursementOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting parameter used in the request.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of the disbursement service. This response contains a list of operational items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-581845",
              "accountId": "ACC-439978",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0c83632f-d6a3-5f06-aef6-ee6d5bba37c3",
            "correlationId": "6ae96ce5-b6ad-53de-b328-f8e07743b374",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisbursementOperation": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the disbursement operation.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier of the customer associated with the operation.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "The account identifier linked to the disbursement.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the disbursement was requested.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the disbursement operation.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the operation record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single disbursement operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the operation results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking requests across multiple services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-search-disbursement"
        },
        "example": "disbursement-search-disbursement"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}