{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Sale By Param1-spec",
    "description": "The Product Expert Sales Support API enables businesses to modify specific sale records identified by a unique parameter. This API allows for patch updates, facilitating the adjustment of sale details such as pricing, promotions, or other relevant attributes. It's designed for financial institutions and retail platforms seeking to streamline their sales management processes. Typical consumers include developers integrating sales features into applications, enhancing user engagement through up-to-date sales information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-expert-sales-support/{param1}": {
      "patch": {
        "tags": [
          "Sales Support"
        ],
        "summary": "Update product expert sales support details.",
        "description": "This endpoint allows you to update the details for the product expert sales support associated with the given product ID. Ensure all required fields are included in the request to successfully update the resource.",
        "operationId": "updateSaleByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows for the partial update of the product expert sales support details for a specific product identified by PROD-700045. Include only the fields that need to be updated, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSaleByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the product details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSaleByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSaleByParam1Request": {
        "title": "Product Expert Sales Support Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The ID or name of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating sales product information in the system.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5de4a101-ab7a-5c69-8996-8473d7355dbf",
            "correlationId": "632810c5-adce-5040-8f8c-1dd3456111ac",
            "idempotencyKey": "73483d72-bbbd-584a-a567-485d5e4369cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-656944"
            }
          }
        }
      },
      "ProductChanges": {
        "title": "Product Changes",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "ID of the prospect associated with the changes.",
            "example": "prospect123"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product being modified.",
            "example": "PROD-123"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product is sold.",
            "example": "online"
          }
        },
        "description": "Schema representing the changes being made to the product."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to avoid duplicate requests.",
            "example": "idemp-101"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-09-30T15:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "SalesApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request being made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "ID of the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., WEB, APP).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "ID of the device used to make the request.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing the channel details through which the request is made."
      },
      "UpdateSaleByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for patching product expert sales support in operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "16771cb0-9f99-5271-bca5-88b6d62e24cc",
            "correlationId": "632810c5-adce-5040-8f8c-1dd3456111ac",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-expert-sales-support-update-product-expert-sales-support"
        },
        "example": "product-expert-sales-support-update-product-expert-sales-support"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the current request, providing context about the environment in which the service operates.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT). Clients must include the 'Authorization' header with the token in requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}