{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Retrieve Correspondence Details API",
    "description": "The Retrieve Correspondence Details API allows users to access detailed information about specific correspondence documents in the banking system. By providing a unique correspondence ID, consumers can fetch relevant metadata and content associated with the document. This API is essential for banking professionals, compliance officers, and application developers looking to integrate or audit correspondence records effectively. Typical use cases include verifying document details, retrieving client communications, and ensuring adherence to regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/correspondence/{correspondenceId}": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve correspondence document details.",
        "description": "This endpoint allows you to fetch the details of a specific correspondence document identified by its unique ID. It provides comprehensive information to assist users in understanding the content and context of the document.",
        "operationId": "getDocumentCorrespondenceRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/correspondenceId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving correspondence document with identifier RES-100045. This request should specify the necessary parameters to filter or customize the response based on the document's details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentCorrespondenceRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested correspondence document.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentCorrespondenceRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentCorrespondenceRes100045Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation related to correspondence documents. The request body should contain a JSON string that represents the necessary data for processing the correspondence request.",
        "example": "{}"
      },
      "GetDocumentCorrespondenceRes100045Response_200": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-186624"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g. report, invoice).",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification category of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class indicating how long the document should be retained.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "MIME type of the document (e.g. application/pdf, image/jpeg).",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the response for a successful retrieval of correspondence document details.",
        "example": {
          "documentId": "DOC-186624",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "20eaee38-cdb0-5f24-9113-437c4ab04fe7",
            "correlationId": "2d4aba34-a22c-5c87-83ab-41441f3e78d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response associated with the document.",
            "example": "response-987654321"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to track the document across systems.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the document was generated.",
            "example": "2023-10-01T14:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document is processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata for the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "correspondenceId": {
        "name": "correspondenceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondence-get-correspondence"
        },
        "example": "correspondence-get-correspondence"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Token authentication. It's suitable for scenarios where access tokens are issued, allowing clients to authenticate with a JWT (JSON Web Token).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}