{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking It Management Systems Help Desk By Systems Help Desk Id-v5-spec",
    "description": "This API allows users to retrieve detailed information about specific Banking IT Management Systems Help Desk entries using their unique identifiers. It's designed to facilitate quick access to help desk resources, enabling IT support teams and managers to efficiently resolve issues and streamline operations. Typical consumers include IT professionals and systems administrators who require up-to-date information on help desk status and details. By accessing this API, users can enhance their service efficiency and support capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk/{systemsHelpDeskId}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve Help Desk System Details",
        "description": "Fetches the detailed information about the Help Desk system identified by the specific resource ID. This endpoint allows users to view essential attributes and status linked to the Help Desk resource, aiding in effective IT management.",
        "operationId": "getBankingItManagementSystemsHelpDeskBySystemsHelpDeskId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/systemsHelpDeskId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information for the specified help desk system operation. It should contain the necessary parameters formatted as per the schema to successfully query the help desk system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdRequest": {
        "type": "string",
        "description": "Request body for the operations GET request in the IT management systems help desk. This is expected to be in JSON format.",
        "example": "{}"
      },
      "GetBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdResponse_200": {
        "title": "Incident Report Response",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "The unique identifier for the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "The identifier of the system that is affected by the incident.",
            "example": "STANDARD"
          },
          "impact": {
            "type": "string",
            "description": "Description of the impact level of the incident.",
            "example": "STANDARD"
          },
          "urgency": {
            "type": "string",
            "description": "Urgency level of the incident.",
            "example": "STANDARD"
          },
          "summary": {
            "type": "string",
            "description": "A brief summary of the incident.",
            "example": "STANDARD"
          },
          "reportedBy": {
            "type": "string",
            "description": "The name or identifier of the person who reported the incident.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the incident record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the incident record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the incident record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/IncidentMetadata"
          }
        },
        "description": "Schema representing the response for an incident report request, including details about the incident and its current status.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "impact": "STANDARD",
          "urgency": "STANDARD",
          "summary": "STANDARD",
          "reportedBy": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "918b6208-35cb-5386-9e8a-26f98d9747a3",
            "correlationId": "d5fa353e-feee-5fc4-b32a-b60e60c02541",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IncidentMetadata": {
        "title": "Incident Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier of the response associated with the incident.",
            "example": "RESP456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses in the system.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:15:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the incident is being processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the incident, providing additional context and tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "systemsHelpDeskId": {
        "name": "systemsHelpDeskId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-get-systems-help-desk"
        },
        "example": "systems-help-desk-get-systems-help-desk"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens, typically in the form of JSON Web Tokens (JWT), to secure your API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}