{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payroll Benefits Retrieval API",
    "description": "The Payroll Benefits Retrieval API provides access to detailed information about employee payroll benefits within the human resource management system. Users can retrieve specific benefits associated with an employee or a department by utilizing unique parameters. This API is particularly useful for HR professionals and payroll administrators who need to manage and oversee employee benefits. By integrating this API, organizations can streamline their payroll processes and ensure accurate benefits management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits/{param1}": {
      "get": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Retrieve payroll and benefits information for a specific employee.",
        "description": "This endpoint allows you to fetch detailed payroll and benefits data associated with a specific employee identified by their unique employment number. Use this to ensure accurate financial and benefits management for your employees.",
        "operationId": "getPayrollBenefitsForEmployee",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payroll and benefits information for a specific employee identified by their employee number. The data returned will include various attributes related to the employee\u2019s payroll and benefit details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPayrollBenefitsForEmployeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payroll benefits information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPayrollBenefitsForEmployeeResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPayrollBenefitsForEmployeeRequest": {
        "type": "string",
        "description": "A request body schema used for the GET operation in the human resource management payroll benefits system.",
        "example": "{}"
      },
      "GetPayrollBenefitsForEmployeeResponse_200": {
        "title": "Payroll Benefits Response",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-659650"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll run is applicable.",
            "example": "STANDARD"
          },
          "grossPay": {
            "description": "Details of the gross pay for the employee.",
            "$ref": "#/components/schemas/GrossPay"
          },
          "deductions": {
            "description": "Details of the deductions from the gross pay.",
            "$ref": "#/components/schemas/Deductions"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date on which the payment is made.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payroll record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payroll record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the payroll record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payroll response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for managing payroll benefits information.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-659650",
          "payPeriod": "STANDARD",
          "grossPay": {
            "amount": 100.0,
            "currency": "USD"
          },
          "deductions": {
            "amount": 100.0,
            "currency": "USD"
          },
          "paymentDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ae8398df-cf0e-5d57-8a1d-7429d397df33",
            "correlationId": "04c48727-e08a-5dc7-8725-a08c772aebc3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "GrossPay": {
        "title": "Gross Pay",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The gross pay amount before deductions.",
            "example": 2500.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the gross pay amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the gross pay amount and currency."
      },
      "Deductions": {
        "title": "Deductions",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total deductions amount.",
            "example": 500.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the deductions amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the deductions from gross pay."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "CORR-1234-56789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-09-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payroll data was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata information related to the payroll response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-get-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-get-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application runtime environment for the service, providing context on the operational environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which requires the client to include a Bearer token (JWT) in the authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}