{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Issued Device Administration By Issued Device Administration Id-v5-spec",
    "description": "This API allows users to retrieve detailed information about a specific issued device administration record using the unique issued device administration ID. It is crucial for financial institutions and service providers to manage and track device administration effectively. Typical consumers include operational teams, compliance officers, and system integrators who need to access device data for audits, reporting, or troubleshooting. The API streamlines the retrieval process, enhancing operational efficiency and supporting regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/issued-device-administration/{issuedDeviceAdministrationId}": {
      "get": {
        "tags": [
          "Issued Device Management"
        ],
        "summary": "Retrieve the details of an issued device by its ID.",
        "description": "This endpoint allows you to fetch comprehensive information about a specific issued device identified by its unique ID. The details returned may include the device type, status, and associated user information.",
        "operationId": "getBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/issuedDeviceAdministrationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the operational data for the issued device administration associated with the specified RES-100045 identifier. Ensure that the request adheres to the defined schema to successfully obtain the desired information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationIdRequest": {
        "type": "string",
        "description": "This schema represents the payload for the GET request body for issued device administration operations.",
        "example": "{}"
      },
      "GetBankingOperationalServicesIssuedDeviceAdministrationByIssuedDeviceAdministrationIdResponse_200": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device.",
            "example": "DEV-921764"
          },
          "deviceType": {
            "type": "string",
            "description": "The type of the device, such as smartphone, tablet, etc.",
            "example": "STANDARD"
          },
          "assignedPartyId": {
            "type": "string",
            "description": "The identifier of the party to whom the device is assigned.",
            "example": "PARTY-598814"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the device.",
            "example": "STANDARD"
          },
          "deviceStatus": {
            "type": "string",
            "description": "The current status of the device, e.g., active, inactive.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The record status indicating the persistence of the device record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the device information.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the device information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DeviceMetadata"
          }
        },
        "description": "A schema representing the response for issued device administration including essential device parameters.",
        "example": {
          "deviceId": "DEV-921764",
          "deviceType": "STANDARD",
          "assignedPartyId": "PARTY-598814",
          "serialNumber": "STANDARD",
          "deviceStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0fb3382e-8994-554f-870e-48d8d1991062",
            "correlationId": "f47bd5b1-9712-51d3-a4c8-c635ef02bcdc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DeviceMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate this request with other related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the device response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "issuedDeviceAdministrationId": {
        "name": "issuedDeviceAdministrationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "issued-device-administration-get-issued-device-administration"
        },
        "example": "issued-device-administration-get-issued-device-administration"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT) to securely transmit information between parties. Clients must provide a valid JWT token in the Authorization header for requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}