{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Event Subscription-v5-spec",
    "description": "The Open Banking Event Subscription API enables financial service providers to register for real-time notifications regarding specific events in the open banking ecosystem. Businesses can utilize this API to manage their subscriptions efficiently, ensuring they receive timely updates about events that matter to them. Typical consumers include banks, fintech companies, and developers seeking to enhance their applications with event-driven functionalities. By leveraging this API, organizations can improve customer engagement and ensure compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions": {
      "post": {
        "tags": [
          "Event Subscription"
        ],
        "summary": "Create a new event subscription.",
        "description": "This endpoint allows clients to create a new event subscription, enabling them to receive notifications for specific events. Ensure that the necessary parameters are provided in the request body to set up the subscription correctly.",
        "operationId": "createOpenBankingEventSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new event subscription. It must include the necessary parameters such as the event type and subscriber details to successfully register for the specified events.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingEventSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The event subscription was successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingEventSubscriptionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingEventSubscriptionRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the data related to the event subscription.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "Data": {
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "2ef9c440-8394-573b-b146-b52f8223e41a",
            "correlationId": "ca1de441-e2b6-520e-b255-592516910686",
            "idempotencyKey": "0f6e9542-af28-5ded-8bf6-4b802c519c7e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-792048"
            }
          }
        }
      },
      "EventSubscriptionData": {
        "type": "object",
        "properties": {
          "EventSubscriptionId": {
            "type": "string",
            "description": "Unique identifier for the event subscription.",
            "example": "string"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "URL to which the event notifications will be sent.",
            "example": "string"
          },
          "Version": {
            "type": "string",
            "description": "Version of the event subscription.",
            "example": "string"
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types that the subscription is interested in.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Data related to an event subscription."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing the request through the system.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed only once.",
            "example": "key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "A timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the source system making the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application making the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The context of the request including identification and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "ch-101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used.",
            "example": "webhook"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device associated with the channel.",
            "example": "device-202"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateOpenBankingEventSubscriptionResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains information about the event subscription created.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Contains links for navigating through event subscription resources.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for creating an event subscription.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "23299ba5-f29e-511b-8beb-03d4215f1374",
            "correlationId": "ca1de441-e2b6-520e-b255-592516910686",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page.",
            "example": "string"
          }
        },
        "description": "Links for pagination in the API response."
      },
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for subscription events.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for subscription events.",
            "example": "string"
          }
        },
        "description": "Metadata about the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs for a request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-create-event-subscriptions"
        },
        "example": "events-api-create-event-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer token for authorization, allowing access to secured resources. The token must be provided in the HTTP Authorization header in the format: `Authorization: Bearer <token>`. The token is expected to be a JSON Web Token (JWT), which encodes claims about the user or the application.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}