{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Collections Management API",
    "description": "The Card Collections Management API provides financial institutions with access to real-time information on card collections. It allows users to monitor and manage outstanding card receivables effectively. Typical consumers include banking professionals and financial analysts who require insights into collection statuses, trends, and analytics. This API supports integration with operational services, facilitating streamlined operations and informed decision-making in card financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections": {
      "get": {
        "tags": [
          "Card Collections"
        ],
        "summary": "Retrieve card collection information.",
        "description": "This endpoint allows you to fetch the details of card collections available within the operational services. It provides a comprehensive view of the card collections, enabling users to easily access and utilize this important data.",
        "operationId": "getCardCollections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary parameters for the API to successfully retrieve card collection data associated with the operational services. Ensure that the structure adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCollectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of card collections.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCollectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCollectionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to card collections in the operational services.",
        "example": "{}"
      },
      "GetCardCollectionsResponse_200": {
        "title": "Card Collection Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of card collection items.",
            "example": [
              {
                "cardAccountId": "ACC-750943",
                "customerId": "CUST-271097",
                "daysPastDue": 1,
                "outstandingBalance": {
                  "amount": 100,
                  "currency": "USD"
                },
                "collectionStrategy": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardCollectionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order applied to the card collection items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response object for card collection operations in the system, containing a list of items and pagination information.",
        "example": {
          "items": [
            {
              "cardAccountId": "ACC-750943",
              "customerId": "CUST-271097",
              "daysPastDue": 1,
              "outstandingBalance": {
                "amount": 100,
                "currency": "USD"
              },
              "collectionStrategy": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "62acb9be-c6ed-5b88-b2a4-e814d9596776",
            "correlationId": "a77a5a0a-e69e-59ce-b3cf-57ca6467a594",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCollectionItem": {
        "title": "Card Collection Item",
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "The unique identifier for the card account associated with the collection item.",
            "example": "acc-12345"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the collection item.",
            "example": "cust-12345"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "Number of days the payment is past due.",
            "format": "int32",
            "example": 0
          },
          "outstandingBalance": {
            "$ref": "#/components/schemas/OutstandingBalance"
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy used for collection of this item.",
            "example": "aggressive"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, closed).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single card collection item with related information."
      },
      "OutstandingBalance": {
        "title": "Outstanding Balance",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the outstanding balance.",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "The currency of the outstanding balance.",
            "example": "USD"
          }
        },
        "description": "The outstanding balance details for a card collection item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response, including current page and total items."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the processing of the request.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-search-card-collections"
        },
        "example": "card-collections-search-card-collections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically a JSON Web Token (JWT), to securely transmit credentials across the network. This approach enhances security by allowing stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}