{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Collateral Administration Collateral Asset Administrations-spec",
    "description": "The Collateral Asset Administration Listing API enables financial institutions to retrieve comprehensive details regarding collateral asset administrations. This endpoint facilitates access to various collateral management records, allowing users to view information associated with specific collateral assets. Ideal for banking professionals and collateral managers, this API supports use cases such as compliance reporting, asset tracking, and portfolio analysis. With this service, institutions can streamline their collateral administration processes and enhance decision-making based on real-time data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-asset-administration": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve collateral asset administration details.",
        "description": "This endpoint allows users to fetch the information related to collateral asset administration, including various attributes and settings associated with collateral assets.",
        "operationId": "listCollateralAdministrationCollateralAssetAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information related to collateral asset administration. This body should include all necessary parameters defined in the schema to ensure successful retrieval of the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCollateralAdministrationCollateralAssetAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the collateral asset information is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollateralAdministrationCollateralAssetAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCollateralAdministrationCollateralAssetAdministrationsRequest": {
        "title": "Collateral Asset Administration Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Collateral Asset Administration operation in the Collateral Management system. It is used for the GET operation to retrieve details related to collateral assets.",
        "example": "{}"
      },
      "ListCollateralAdministrationCollateralAssetAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of collateral asset items.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-316796",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralAsset"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving collateral asset administration.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-316796",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "bdadee30-0012-5a41-bbe9-dea50c4193ef",
            "correlationId": "be226efe-e665-5973-b30f-c883f4cc0a0d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralAsset": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral asset."
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the associated party."
          },
          "assetType": {
            "type": "string",
            "description": "The type of the asset (e.g., Real Estate, Equipment)."
          },
          "marketValue": {
            "description": "The current market value of the asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date of the asset valuation."
          },
          "securedExposureId": {
            "type": "string",
            "description": "Unique identifier for the secured exposure."
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage value representing the collateral haircut."
          },
          "lienStatus": {
            "type": "string",
            "description": "Liens associated with the asset."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the asset record was last updated."
          }
        },
        "description": "Schema representing a collateral asset."
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the market price."
          },
          "currency": {
            "type": "string",
            "description": "Currency code representing the currency of the market value."
          }
        },
        "description": "Schema representing the market value of a collateral asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items on each page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, intended to help track and reference API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-asset-administration-search-collateral-asset-administration"
        },
        "example": "collateral-asset-administration-search-collateral-asset-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the API request was processed, useful for identifying the application context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically formatted as a JSON Web Token (JWT), to grant access to secured resources. This requires clients to include the token in the Authorization header with 'Bearer' followed by the token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}