{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Settlement Account-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Settlement Account-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts": {
      "post": {
        "operationId": "createP2mSettlementAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mSettlementAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mSettlementAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mSettlementAccountRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "example": "MER-720692"
          },
          "bankAccountToken": {
            "type": "string",
            "example": "STANDARD"
          },
          "account": {
            "type": "object",
            "properties": {
              "bankCode": {
                "type": "string",
                "example": "string"
              },
              "branchCode": {
                "type": "string",
                "example": "string"
              },
              "numberMasked": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              },
              "type": {
                "type": "string",
                "example": "string"
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "bankCode": "CODE-820",
              "branchCode": "CODE-268",
              "numberMasked": "STANDARD",
              "name": "Northstar Banking Service",
              "type": "STANDARD",
              "currency": "USD"
            }
          },
          "schedule": {
            "type": "object",
            "properties": {
              "frequency": {
                "type": "string",
                "example": "string"
              },
              "cutoffTime": {
                "type": "string",
                "example": "string"
              },
              "timezone": {
                "type": "string",
                "example": "string"
              },
              "settlementDelayBusinessDays": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "minimumPayoutAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "frequency": "STANDARD",
              "cutoffTime": "STANDARD",
              "timezone": "America/New_York",
              "settlementDelayBusinessDays": 1,
              "minimumPayoutAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "isDefault": {
            "type": "boolean",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "805bc0c8-076b-5ce1-b56a-513e4853c223",
              "correlationId": "3e8ee308-e82b-543f-8cc4-97bf61eed135",
              "idempotencyKey": "83a2c8a8-83f0-5bc6-8ddb-b89caf19152f",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-812603"
              }
            }
          }
        },
        "example": {
          "merchantId": "MER-720692",
          "bankAccountToken": "STANDARD",
          "account": {
            "bankCode": "CODE-820",
            "branchCode": "CODE-268",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "requestContext": {
            "requestId": "805bc0c8-076b-5ce1-b56a-513e4853c223",
            "correlationId": "3e8ee308-e82b-543f-8cc4-97bf61eed135",
            "idempotencyKey": "83a2c8a8-83f0-5bc6-8ddb-b89caf19152f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-812603"
            }
          }
        }
      },
      "CreateP2mSettlementAccountResponse_201": {
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "example": "ACC-344239"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-278936"
          },
          "account": {
            "type": "object",
            "properties": {
              "bankCode": {
                "type": "string",
                "example": "string"
              },
              "branchCode": {
                "type": "string",
                "example": "string"
              },
              "numberMasked": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              },
              "type": {
                "type": "string",
                "example": "string"
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "bankCode": "CODE-618",
              "branchCode": "CODE-506",
              "numberMasked": "STANDARD",
              "name": "Northstar Banking Service",
              "type": "STANDARD",
              "currency": "USD"
            }
          },
          "schedule": {
            "type": "object",
            "properties": {
              "frequency": {
                "type": "string",
                "example": "string"
              },
              "cutoffTime": {
                "type": "string",
                "example": "string"
              },
              "timezone": {
                "type": "string",
                "example": "string"
              },
              "settlementDelayBusinessDays": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "minimumPayoutAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "frequency": "STANDARD",
              "cutoffTime": "STANDARD",
              "timezone": "America/New_York",
              "settlementDelayBusinessDays": 1,
              "minimumPayoutAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "isDefault": {
            "type": "boolean",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "2d4f3211-87a0-5d1e-8951-0e4dbf5d166a",
              "correlationId": "3e8ee308-e82b-543f-8cc4-97bf61eed135",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "settlementAccountId": "ACC-344239",
          "merchantId": "MER-278936",
          "account": {
            "bankCode": "CODE-618",
            "branchCode": "CODE-506",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2d4f3211-87a0-5d1e-8951-0e4dbf5d166a",
            "correlationId": "3e8ee308-e82b-543f-8cc4-97bf61eed135",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-settlement-account"
        },
        "example": "banking-p2m-openapi-create-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}