{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel-Specific Contact Center Operations Status API",
    "description": "The Channel-Specific Contact Center Operations Status API allows businesses to monitor the status of contact center operations across various banking channels. This API provides real-time updates on the operational health and performance of these services, facilitating proactive management of customer support resources. Typical consumers include customer service managers and operations teams who rely on up-to-date information to ensure seamless customer interactions. Use cases may involve assessing system uptime, response times, and any ongoing issues that could affect service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-operations/status": {
      "get": {
        "tags": [
          "Contact Center Operations"
        ],
        "summary": "Retrieve the status of contact center operations for a specific channel.",
        "description": "This endpoint allows you to obtain the current operational status of the contact center for a designated communication channel. Use this to monitor and manage contact center performance effectively.",
        "operationId": "getChannelSpecificContactCenterOperationsStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the status of specific contact center operations based on the channel. Ensure that the request body is correctly structured as per the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificContactCenterOperationsStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status of contact center operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificContactCenterOperationsStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificContactCenterOperationsStatusRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operations related to the contact center's status.",
        "example": "{}"
      },
      "GetChannelSpecificContactCenterOperationsStatusResponse_200": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours of the service.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of requests that can be handled in a day.",
            "format": "int32",
            "example": 1
          },
          "queueId": {
            "type": "string",
            "description": "The unique identifier for the queue.",
            "example": "STANDARD"
          },
          "skillGroup": {
            "type": "string",
            "description": "The group of skills associated with the operations.",
            "example": "STANDARD"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "The target response time in seconds.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the status response for operations in a contact center.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "queueId": "STANDARD",
          "skillGroup": "STANDARD",
          "targetAnswerSeconds": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d693df1b-c77d-514f-908b-049aca41f8e3",
            "correlationId": "f957561b-0f0d-5a80-ab3d-1cc08409923d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time when the service opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "The time when the service closes.",
            "example": "string"
          }
        },
        "description": "Represents the service window for operational hours."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for tracking the request through systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The time when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-operations-get-contact-center-operations"
        },
        "example": "contact-center-operations-get-contact-center-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, which involves using a JSON Web Token (JWT) to authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}