{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Trade Banking By Param1-spec",
    "description": "The Retrieve Direct Debit Mandate Details API allows consumers to access specific information related to trade banking mandates using a unique identifier (param1). This endpoint is particularly valuable for financial institutions and businesses looking to verify or analyze direct debit transactions. By using this API, clients can seamlessly retrieve mandate details to support decision-making processes and enhance customer service. Common use cases include auditing financial records or confirming payment arrangements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit-mandate/{param1}": {
      "get": {
        "tags": [
          "Direct Debit Mandate"
        ],
        "summary": "Retrieve Direct Debit Mandate",
        "description": "This endpoint allows you to fetch the details of a specific direct debit mandate using its unique identifier. It provides essential information regarding the mandate's status, participant details, and transaction history, making it a crucial part of trade banking operations.",
        "operationId": "getTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the direct debit mandate details for a specified resource. Ensure to provide all necessary information as per the defined schema to successfully fetch the mandate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the direct debit mandate details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingByParam1Request": {
        "type": "string",
        "description": "Represents the request body for retrieving direct debit mandate details in Trade Banking operations.",
        "example": "{}"
      },
      "GetTradeBankingByParam1Response_200": {
        "title": "Direct Debit Mandate Response",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "The unique identifier for the direct debit mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor.",
            "example": "ACC-363934"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "The scheme identifier for the creditor.",
            "example": "STANDARD"
          },
          "collectionAmount": {
            "description": "The amount to be collected in the direct debit transaction.",
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "The date on which the collection will occur.",
            "example": "2026-09-15"
          },
          "frequency": {
            "type": "string",
            "description": "The frequency of collection for the direct debit.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the mandate.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the mandate was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing details of a direct debit mandate.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-363934",
          "creditorSchemeId": "STANDARD",
          "collectionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "collectionDate": "2026-09-15",
          "frequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e2566a55-c5fd-5fcb-9ad0-b31f0b2b0294",
            "correlationId": "7a3193ae-7c06-5bab-bc92-a138335bdf3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollectionAmount": {
        "title": "Collection Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount to be collected.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "The amount and currency details for a direct debit collection."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that is being called. This identifier helps track requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-mandate-get-direct-debit-mandate"
        },
        "example": "direct-debit-mandate-get-direct-debit-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the current request. This can be useful for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A JWT (JSON Web Token) should be provided in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}