{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Aggregation Partners Accesskey-v5-spec",
    "description": "MICROSERVICE-PROD-Create Aggregation Partners Accesskey-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/accesskey": {
      "post": {
        "operationId": "createAggregationPartnersAccesskey",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAggregationPartnersAccesskeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAggregationPartnersAccesskeyResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAggregationPartnersAccesskeyRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "CUST-611286"
          },
          "partnerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "thirdPartyPartnerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "provenance": {
            "type": "object",
            "properties": {
              "clientFingerprint": {
                "type": "string",
                "example": "string"
              },
              "ipAddress": {
                "type": "string",
                "example": "string"
              },
              "token": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "clientFingerprint": "STANDARD",
              "ipAddress": "STANDARD",
              "token": "STANDARD"
            }
          },
          "products": {
            "type": "array",
            "example": [
              {
                "product": "STANDARD",
                "payorId": "STANDARD",
                "maxCalls": 1,
                "accountId": "ACC-558587",
                "accessPeriod": {
                  "type": "STANDARD",
                  "startTime": "2026-08-11T12:00:00Z",
                  "endTime": "2026-08-11T12:00:00Z"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "product": {
                  "type": "string",
                  "example": "string"
                },
                "payorId": {
                  "type": "string",
                  "example": "string"
                },
                "maxCalls": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "accountId": {
                  "type": "string",
                  "example": "string"
                },
                "accessPeriod": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "example": "string"
                    },
                    "startTime": {
                      "type": "string",
                      "example": "string"
                    },
                    "endTime": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "8ffa9d30-71e2-5e73-95bc-c6508c45bd8b",
              "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
              "idempotencyKey": "8073fff2-2c9e-5bd1-8d94-62a2ef4e3868",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-228533"
              }
            }
          }
        },
        "example": {
          "customerId": "CUST-611286",
          "partnerId": "STANDARD",
          "thirdPartyPartnerId": "STANDARD",
          "provenance": {
            "clientFingerprint": "STANDARD",
            "ipAddress": "STANDARD",
            "token": "STANDARD"
          },
          "products": [
            {
              "product": "STANDARD",
              "payorId": "STANDARD",
              "maxCalls": 1,
              "accountId": "ACC-558587",
              "accessPeriod": {
                "type": "STANDARD",
                "startTime": "2026-08-11T12:00:00Z",
                "endTime": "2026-08-11T12:00:00Z"
              }
            }
          ],
          "requestContext": {
            "requestId": "8ffa9d30-71e2-5e73-95bc-c6508c45bd8b",
            "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
            "idempotencyKey": "8073fff2-2c9e-5bd1-8d94-62a2ef4e3868",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-228533"
            }
          }
        }
      },
      "CreateAggregationPartnersAccesskeyResponse_200": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "example": [
              {
                "receipt": {
                  "profile": 1,
                  "version": "STANDARD",
                  "id": "STANDARD",
                  "customerId": "CUST-469489",
                  "partnerId": "STANDARD",
                  "products": [
                    {
                      "product": "STANDARD",
                      "payorId": "STANDARD",
                      "maxCalls": 1,
                      "accountId": "ACC-633031",
                      "accessPeriod": {
                        "type": "STANDARD",
                        "startTime": "2026-08-11T12:00:00Z",
                        "endTime": "2026-08-11T12:00:00Z"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "STANDARD",
                    "ipAddress": "STANDARD",
                    "token": "STANDARD"
                  },
                  "timestamp": "2026-09-15T14:30:00Z"
                },
                "proof": {
                  "signature": "STANDARD",
                  "keyId": "STANDARD",
                  "timestamp": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "receipt": {
                  "type": "object",
                  "properties": {
                    "profile": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "version": {
                      "type": "string",
                      "example": "string"
                    },
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "customerId": {
                      "type": "string",
                      "example": "string"
                    },
                    "partnerId": {
                      "type": "string",
                      "example": "string"
                    },
                    "products": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product": {
                            "type": "string",
                            "example": "string"
                          },
                          "payorId": {
                            "type": "string",
                            "example": "string"
                          },
                          "maxCalls": {
                            "type": "integer",
                            "format": "int32",
                            "example": 0
                          },
                          "accountId": {
                            "type": "string",
                            "example": "string"
                          },
                          "accessPeriod": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              },
                              "startTime": {
                                "type": "string",
                                "example": "string"
                              },
                              "endTime": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "provenance": {
                      "type": "object",
                      "properties": {
                        "clientFingerprint": {
                          "type": "string",
                          "example": "string"
                        },
                        "ipAddress": {
                          "type": "string",
                          "example": "string"
                        },
                        "token": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "proof": {
                  "type": "object",
                  "properties": {
                    "signature": {
                      "type": "string",
                      "example": "string"
                    },
                    "keyId": {
                      "type": "string",
                      "example": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "21277188-b8cb-5c24-85cc-e67d768605d5",
              "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "data": [
            {
              "receipt": {
                "profile": 1,
                "version": "STANDARD",
                "id": "STANDARD",
                "customerId": "CUST-469489",
                "partnerId": "STANDARD",
                "products": [
                  {
                    "product": "STANDARD",
                    "payorId": "STANDARD",
                    "maxCalls": 1,
                    "accountId": "ACC-633031",
                    "accessPeriod": {
                      "type": "STANDARD",
                      "startTime": "2026-08-11T12:00:00Z",
                      "endTime": "2026-08-11T12:00:00Z"
                    }
                  }
                ],
                "provenance": {
                  "clientFingerprint": "STANDARD",
                  "ipAddress": "STANDARD",
                  "token": "STANDARD"
                },
                "timestamp": "2026-09-15T14:30:00Z"
              },
              "proof": {
                "signature": "STANDARD",
                "keyId": "STANDARD",
                "timestamp": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "21277188-b8cb-5c24-85cc-e67d768605d5",
            "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-third-party-access-key"
        },
        "example": "open-finance-api-generate-third-party-access-key"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}