{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Risk Models Retrieval API",
    "description": "The Operational Risk Models Retrieval API enables users to access detailed information about various operational risk models used in banking. This endpoint allows consumers, such as risk management teams or financial analysts, to fetch specific models by providing relevant parameters. By integrating this API, organizations can enhance their risk assessment processes and ensure compliance with regulatory standards. The API supports improved decision-making and provides insights into operational risk management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/operational-risk-models/{param1}": {
      "get": {
        "tags": [
          "Operational Risk Management"
        ],
        "summary": "Retrieve Operational Risk Model",
        "description": "Fetch the details of the specific operational risk model identified by RES-100045. This endpoint allows users to access all relevant information about the model for analysis and reporting purposes.",
        "operationId": "getOperationalRiskModelRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of the operational risk model identified by RES-100045. Ensure to send the required data in JSON format as specified below.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalRiskModelRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the operational risk model.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalRiskModelRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalRiskModelRes100045Request": {
        "type": "string",
        "description": "Represents the payload format for the operational risk model request body.",
        "example": "{}"
      },
      "GetOperationalRiskModelRes100045Response_200": {
        "title": "Operational Risk Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the operational risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the operational risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "PORT-108197"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the operational risk model is relevant.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario for which the operational risk model is applied.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the risk model output.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for model validation.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months used for backtesting the model.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the operational risk model.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the model record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the model record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operational risk model response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for operational risk model data.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-108197",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3d4a4097-631c-519d-ac3f-e51a59a839e1",
            "correlationId": "106c5db1-938c-5aa2-b35c-53f10cd31162",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the model occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information for the operational risk model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed. This can help in tracking the specific endpoint usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-risk-models-get-operational-risk-models"
        },
        "example": "operational-risk-models-get-operational-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the API is running. This header provides context about the environment executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a token that conforms to the JSON Web Token (JWT) standard. This token must be provided as part of the Authorization header in the requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}