{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Product Management API",
    "description": "The Customer Product Management API allows financial institutions to efficiently manage customer product offerings. This API facilitates the onboarding of new products for customers, ensuring seamless integration into the existing customer management systems. Typical consumers include banking applications and customer relationship management tools that require real-time updates on customer products. With this endpoint, organizations can enhance their customer engagement strategies by tailoring offerings to individual needs, driving better customer satisfaction and retention.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-products": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer product.",
        "description": "This endpoint allows for the creation of a new product associated with a specific customer. It requires the necessary product details in the request body to successfully add the product to the customer's profile.",
        "operationId": "createCustomerProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body expects a JSON object that contains the details necessary for managing customer products. The payload should adhere to the specified schema, ensuring all required fields are provided to successfully create or update customer product information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created. The new customer product is now available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerProductResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerProductRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-396632"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-124927"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the relationship becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating or updating customer products.",
        "example": {
          "customerId": "CUST-396632",
          "partyId": "PARTY-124927",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "4d5fb44f-4b48-5363-b6e4-647127a0d16d",
            "correlationId": "3ec47cee-b84c-5079-87c5-9f8f43384cda",
            "idempotencyKey": "31f99a73-66f3-5c62-b970-ea91293f7778",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-474970"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for this request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent operations.",
            "example": "idempotent-01"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "CustomerApp"
          },
          "channel": {
            "description": "The communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-01"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the channel.",
            "example": "device-01"
          }
        },
        "description": "Details about the communication channel from which the request was made."
      },
      "CreateCustomerProductResponse_201": {
        "title": "Customer Product Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-432483"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY-116852"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the customer.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the product.",
            "example": "RES-523266"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer product.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the product was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the customer product.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of a customer product.",
        "example": {
          "customerId": "CUST-432483",
          "partyId": "PARTY-116852",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-523266",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f73b601b-fbf4-536b-8a63-f1af88bfee01",
            "correlationId": "3ec47cee-b84c-5079-87c5-9f8f43384cda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the customer product operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-products-and-services-create-customer-products-and-services"
        },
        "example": "customer-products-and-services-create-customer-products-and-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication to secure API endpoints. The client must include a valid JSON Web Token (JWT) in the Authorization header of each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}