{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Intellectual Property Portfolio Retrieval API",
    "description": "The Intellectual Property Portfolio Retrieval API provides users with access to detailed information about an organization's intellectual property assets. This endpoint allows consumers to retrieve specific data regarding patents, trademarks, and copyrights, facilitating informed decision-making in asset management and strategy. Common users include legal teams, innovation managers, and business analysts looking to gain insights into the intellectual property landscape. By leveraging this API, stakeholders can efficiently assess the value and status of their IP portfolio.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio/{param1}": {
      "get": {
        "tags": [
          "Intellectual Property"
        ],
        "summary": "Retrieve Intellectual Property Portfolio by ID",
        "description": "This endpoint allows users to obtain detailed information about a specific intellectual property portfolio, identified by its unique ID. The returned data includes all relevant attributes and metadata pertaining to the portfolio, enabling users to make informed decisions based on the ip's content and status.",
        "operationId": "getIntellectualPropertyPortfolioById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about a specific intellectual property asset within the portfolio. The expected input is a JSON object containing the necessary parameters for the query. Ensure that you provide all required fields to get accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIntellectualPropertyPortfolioByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested intellectual property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIntellectualPropertyPortfolioByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetIntellectualPropertyPortfolioByIdRequest": {
        "title": "Intellectual Property Portfolio Request Body",
        "type": "string",
        "description": "A string representing the request body for retrieving information about an intellectual property portfolio.",
        "example": "{}"
      },
      "GetIntellectualPropertyPortfolioByIdResponse_200": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset, e.g., patent, trademark, etc.",
            "example": "STANDARD"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Registration number assigned to the intellectual property asset.",
            "example": "NY-4587219"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Legal jurisdiction under which the asset is registered.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity that owns the asset.",
            "example": "STANDARD"
          },
          "renewalDate": {
            "type": "string",
            "description": "Date when the asset's registration is up for renewal.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the asset record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the intellectual property portfolio operation.",
        "example": {
          "ipAssetId": "STANDARD",
          "assetType": "STANDARD",
          "registrationNumber": "NY-4587219",
          "jurisdiction": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "renewalDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45d07e91-2841-5ed5-94f1-bcd1c23a2c34",
            "correlationId": "b8fe42b3-5bc7-58cb-af2d-bab6a6e879c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed, used for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-get-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-get-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, helpful for identifying the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing a Bearer token, specifically formatted as a JSON Web Token (JWT). This mechanism allows clients to securely access resources by providing the token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}