{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Model By Param1-spec",
    "description": "The Economic Capital Model Retrieval API allows users to access specific economic capital model data by providing a parameter. This endpoint serves financial analysts and risk managers who require detailed insights into economic capital models for assessment and reporting purposes. By retrieving model information based on a unique identifier, users can make informed decisions related to risk management and financial strategy. Typical use cases include performance analysis and regulatory compliance documentation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/economic-capital/{param1}": {
      "get": {
        "tags": [
          "Economic Capital"
        ],
        "summary": "Retrieve Economic Capital Model by ID",
        "description": "This endpoint allows you to fetch the details of a specific Economic Capital model identified by its unique ID. Use this to obtain essential information and attributes related to the model, facilitating further analysis or reporting.",
        "operationId": "getModelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data regarding the economic capital model identified by RES-100045. It specifies parameters for filtering or customizing the response data, allowing users to tailor the query results to their needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetModelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource data has been returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetModelByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to economic capital. The expected input is a string.",
        "example": "{}"
      },
      "GetModelByParam1Response_200": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the economic capital model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the economic capital model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the model.",
            "example": "PORT-854469"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model data is relevant.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the model is evaluated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level of the model results, expressed as a decimal.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the model data was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response providing additional context.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the economic capital operations model.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-854469",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "97073fde-0208-5a5c-b023-9b4cd4e6a1ff",
            "correlationId": "a8d9e11a-27da-5736-9e4a-0a3c4cd72683",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata providing context and tracking information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "economic-capital-get-economic-capital"
        },
        "example": "economic-capital-get-economic-capital"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method which requires a JSON Web Token (JWT) to be included in the HTTP Authorization header for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}