{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Institution Details Retrieval API",
    "description": "The Institution Details Retrieval API allows users to obtain specific information about a given institution by its unique identifier. This endpoint provides vital data such as institution name, location, and accreditation status, which are critical for users making informed decisions regarding educational options. Typical consumers of this API include educational institutions, regulatory bodies, and students seeking detailed insights into various institutions. Utilize this endpoint to seamlessly integrate comprehensive institution information into your applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/{institutionId}": {
      "get": {
        "tags": [
          "institutions"
        ],
        "summary": "Retrieve Institution Details",
        "description": "Fetches the details of a specific institution identified by its unique identifier. This endpoint provides comprehensive information related to the institution, including its name, address, and associated attributes.",
        "operationId": "getInstitutionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about a specific institution identified by the resource ID 'RES-100045'. The request should adhere to the specified JSON schema for proper structure and data types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the institution details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the institutions resource. It is expected to be a JSON string containing relevant request data.",
        "example": "{}"
      },
      "GetInstitutionByIdResponse_200": {
        "type": "object",
        "properties": {
          "institution": {
            "$ref": "#/components/schemas/Institution"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response for the GET request to fetch institution details.",
        "example": {
          "institution": {
            "id": 1,
            "name": "Northstar Banking Service",
            "transAgg": true,
            "ach": true,
            "stateAgg": true,
            "voi": true,
            "voa": true,
            "aha": true,
            "availBalance": true,
            "accountOwner": true,
            "studentLoanData": true,
            "loanPaymentDetails": true,
            "displayName": "Northstar Banking Service",
            "liabilityData": true,
            "billPayData": true,
            "accountTypeDescription": "STANDARD",
            "phone": "+1-212-555-0147",
            "urlHomeApp": "STANDARD",
            "urlLogonApp": "STANDARD",
            "oauthEnabled": true,
            "urlForgotPassword": "STANDARD",
            "urlOnlineRegistration": "STANDARD",
            "class": "STANDARD",
            "specialText": "STANDARD",
            "timeZone": "America/New_York",
            "specialInstructions": [
              "STANDARD"
            ],
            "title": "Banking operation completed",
            "address": {
              "city": "New York",
              "state": "STANDARD",
              "country": "STANDARD",
              "postalCode": "10001",
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200"
            },
            "currency": "USD",
            "email": "olivia.bennett@northstar.example"
          },
          "metadata": {
            "responseId": "56518af5-2744-51c4-97fe-d3d7bdb830be",
            "correlationId": "4b053ec3-75be-5ca1-bfa9-7943b2d5f7a9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the institution.",
            "format": "int32",
            "example": 1
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "Institution Name"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled.",
            "example": true
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH payments are supported.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled.",
            "example": true
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if VOI service is provided.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if VOA service is provided.",
            "example": true
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if AHA service is provided.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance is shown.",
            "example": true
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account ownership information is available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is provided.",
            "example": true
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available.",
            "example": false
          },
          "displayName": {
            "type": "string",
            "description": "Display name for the institution.",
            "example": "Instance Display Name"
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": true
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the institution's account types.",
            "example": "Checking"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the institution.",
            "example": "123-456-7890"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL for the home application of the institution.",
            "example": "http://home.app"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL for the login application of the institution.",
            "example": "http://login.app"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": true
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the forgot password page.",
            "example": "http://forgot.password"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for the online registration page.",
            "example": "http://register.online"
          },
          "class": {
            "type": "string",
            "description": "Classification of the institution.",
            "example": "finance"
          },
          "specialText": {
            "type": "string",
            "description": "Any special notes or information about the institution.",
            "example": "Special note here."
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the institution's operations.",
            "example": "UTC-05:00"
          },
          "specialInstructions": {
            "type": "array",
            "description": "Special instructions related to the institution.",
            "example": [
              "Instruction 1",
              "Instruction 2"
            ],
            "items": {
              "type": "string"
            }
          },
          "title": {
            "type": "string",
            "description": "Title for the institution.",
            "example": "Institution Title"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "currency": {
            "type": "string",
            "description": "Currency used by the institution.",
            "example": "USD"
          },
          "email": {
            "type": "string",
            "description": "Contact email for the institution.",
            "example": "contact@institution.com"
          }
        },
        "description": "Details of a financial institution."
      },
      "Address": {
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City where the institution is located.",
            "example": "City Name"
          },
          "state": {
            "type": "string",
            "description": "State where the institution is located.",
            "example": "State Name"
          },
          "country": {
            "type": "string",
            "description": "Country where the institution is located.",
            "example": "Country Name"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the institution's address.",
            "example": "12345"
          },
          "line1": {
            "type": "string",
            "description": "First line of the institution's address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the institution's address (optional).",
            "example": "Suite 100"
          }
        },
        "description": "Postal address of the institution."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique ID for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for the processing request.",
            "example": "correlation-abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called, helping to track requests across the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institution"
        },
        "example": "open-finance-api-get-institution"
      },
      "x-runtime-app": {
        "description": "The name of the application in which this request was processed, useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses bearer tokens, specifically in JSON Web Token (JWT) format, to authorize access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}