{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer SBCA Decisioning API",
    "description": "The Customer SBCA Decisioning API enables businesses to efficiently handle and process subjective behavioral credit assessments for customers. By submitting customer-specific data via this endpoint, organizations can receive real-time evaluation results that inform credit decisions. This API is particularly valuable for financial institutions and lending platforms that require quick and reliable credit analysis. Typical users include loan officers, credit analysts, and automated underwriting systems looking to enhance decision accuracy and customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/sbca": {
      "post": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Create SBCA for a Customer",
        "description": "This operation allows you to create a new SBCA (Specific Business Customer Account) for the given customer identified by CUST-100045. Ensure to provide the necessary data in the request body to successfully create the SBCA.",
        "operationId": "createSbcaForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating the SBCA information for the customer with ID CUST-100045. This operation allows the client to specify details regarding the service being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSbcaForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the expected result.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSbcaForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSbcaForCustomerRequest": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used in the SBCA Operations POST request.",
        "example": {
          "analyticsReportData": {
            "sbcaParams": {
              "hasConsent": true,
              "metricFrequency": "STANDARD",
              "metricType": "STANDARD",
              "locationId": "ab88a542-f122-281b-1d70-97e66b47d330"
            },
            "businessDetails": {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          },
          "requestContext": {
            "requestId": "aed010f9-6def-5032-8bf6-fb275468b0bb",
            "correlationId": "aa620c77-8aab-5fc9-8466-d94fb77d6c47",
            "idempotencyKey": "bd6a96c6-62fe-58fa-84d8-45e5a2fb9c59",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-510174"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data Schema",
        "type": "object",
        "properties": {
          "sbcaParams": {
            "description": "Parameters for analytics related to SBCA.",
            "$ref": "#/components/schemas/SBCAParams"
          },
          "businessDetails": {
            "description": "Details regarding the business associated with the customer.",
            "$ref": "#/components/schemas/BusinessDetails"
          }
        },
        "description": "Contains analytics report parameters and business details."
      },
      "SBCAParams": {
        "title": "SBCA Parameters Schema",
        "type": "object",
        "properties": {
          "hasConsent": {
            "type": "boolean",
            "description": "Indicates whether the customer has given consent.",
            "example": false
          },
          "metricFrequency": {
            "type": "string",
            "description": "Frequency of the metrics to be reported.",
            "example": "Monthly"
          },
          "metricType": {
            "type": "string",
            "description": "Type of metric to be reported.",
            "example": "Sales"
          },
          "locationId": {
            "type": "string",
            "description": "Identifier for the location associated with metrics.",
            "example": "LOC-001"
          }
        },
        "description": "Parameters used for analytics reporting."
      },
      "BusinessDetails": {
        "title": "Business Details Schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the business.",
            "example": "Business Corp"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the individual is personally liable.",
            "example": false
          },
          "phoneNumber": {
            "description": "Phone number details of the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "address": {
            "description": "Address details of the business.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Details of the business entity associated with the customer."
      },
      "PhoneNumber": {
        "title": "Phone Number Schema",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code for the phone number.",
            "example": "+1"
          },
          "phoneNo": {
            "type": "string",
            "description": "Actual phone number.",
            "example": "123-456-7890"
          }
        },
        "description": "Contains the phone number details including country code."
      },
      "Address": {
        "title": "Address Schema",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City of the address.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State of the address.",
            "example": "NY"
          },
          "country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "12345"
          }
        },
        "description": "Contains address details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel being used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "CreateSbcaForCustomerResponse_200": {
        "title": "Customer Response Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The ID assigned to the customer.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp representing when the customer was created.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "ID for the request made.",
            "example": "542439f7-621b-5501-98f3-d9bc5963ffc0"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "partnerName": {
            "type": "string",
            "description": "Name of the partner associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "type": {
            "type": "string",
            "description": "Type of operation or request.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "Title of the customer record.",
            "example": "Banking operation completed"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the customer.",
            "$ref": "#/components/schemas/Constraints"
          },
          "retailSalesAnalyticsMetrics": {
            "type": "array",
            "description": "Metrics related to retail sales analytics for the customer.",
            "example": [
              {
                "locationId": "63b36964-9333-5fec-1732-28df11375467",
                "merchantCategoryCode": 100.0,
                "naicsCode": 100.0,
                "industryName": "Northstar Banking Service",
                "firstSeenTxnDate": "2026-09-15",
                "lastSeenTxnDate": "2026-09-15",
                "metricsFrequency": "STANDARD",
                "metricsLists": [
                  {
                    "periodStartDate": "2026-09-15",
                    "periodEndDate": "2026-09-15",
                    "year": 100.0,
                    "metrics": [
                      {
                        "name": "Northstar Banking Service"
                      }
                    ]
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RetailSalesAnalyticsMetric"
            }
          },
          "metadata": {
            "description": "Metadata associated with the customer response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure when retrieving customer data through the specified operations.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "createdDate": 1,
          "requestId": "542439f7-621b-5501-98f3-d9bc5963ffc0",
          "requesterName": "Northstar Banking Service",
          "partnerName": "Northstar Banking Service",
          "type": "STANDARD",
          "title": "Banking operation completed",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "sbcaParams": {
                "hasConsent": true,
                "metricFrequency": "STANDARD",
                "metricType": "STANDARD",
                "locationId": "07cedd74-f8e2-8c6a-5652-6af5a15b2371"
              },
              "businessDetails": {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            }
          },
          "retailSalesAnalyticsMetrics": [
            {
              "locationId": "63b36964-9333-5fec-1732-28df11375467",
              "merchantCategoryCode": 100.0,
              "naicsCode": 100.0,
              "industryName": "Northstar Banking Service",
              "firstSeenTxnDate": "2026-09-15",
              "lastSeenTxnDate": "2026-09-15",
              "metricsFrequency": "STANDARD",
              "metricsLists": [
                {
                  "periodStartDate": "2026-09-15",
                  "periodEndDate": "2026-09-15",
                  "year": 100.0,
                  "metrics": [
                    {
                      "name": "Northstar Banking Service"
                    }
                  ]
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "ae37a3b7-6492-5e31-bf93-d6ca65aed800",
            "correlationId": "aa620c77-8aab-5fc9-8466-d94fb77d6c47",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Constraints": {
        "title": "Constraints Schema",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data relating to analytics report for the customer.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          }
        },
        "description": "Contains various constraints related to the customer and their data."
      },
      "RetailSalesAnalyticsMetric": {
        "title": "Retail Sales Analytics Metric Schema",
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "Identifier for the retail location.",
            "example": "LOC-001"
          },
          "merchantCategoryCode": {
            "type": "number",
            "description": "Merchant category code for classification.",
            "example": 1234.0
          },
          "naicsCode": {
            "type": "number",
            "description": "NAICS code for the business classification.",
            "example": 5678.0
          },
          "industryName": {
            "type": "string",
            "description": "Name of the industry associated with this metric.",
            "example": "Retail"
          },
          "firstSeenTxnDate": {
            "type": "string",
            "description": "Date when the first transaction was observed.",
            "example": "2021-01-01"
          },
          "lastSeenTxnDate": {
            "type": "string",
            "description": "Date when the last transaction was observed.",
            "example": "2021-12-31"
          },
          "metricsFrequency": {
            "type": "string",
            "description": "Frequency at which metrics are recorded.",
            "example": "Weekly"
          },
          "metricsLists": {
            "type": "array",
            "description": "List of different metrics recorded.",
            "items": {
              "$ref": "#/components/schemas/MetricsList"
            }
          }
        },
        "description": "Contains metrics related to retail sales for specific locations."
      },
      "MetricsList": {
        "title": "Metrics List Schema",
        "type": "object",
        "properties": {
          "periodStartDate": {
            "type": "string",
            "description": "Start date of the metrics reporting period.",
            "example": "2021-01-01"
          },
          "periodEndDate": {
            "type": "string",
            "description": "End date of the metrics reporting period.",
            "example": "2021-01-31"
          },
          "year": {
            "type": "number",
            "description": "Year of the metrics reporting.",
            "example": 2021.0
          },
          "metrics": {
            "type": "array",
            "description": "Array of metrics for this period.",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Name of the metric.",
                  "example": "Total Sales"
                }
              }
            }
          }
        },
        "description": "Contains a list of metrics related to sales."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value helps to track and reference the specific endpoint in logs and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-sbca-metrics-report"
        },
        "example": "open-finance-api-generate-sbca-metrics-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request. This header is useful for identifying which application instance is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for bearer authentication. Clients must include the JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}