{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Consumer Service By Param1-spec",
    "description": "The Corporate Trust Services Retrieval API enables users to access detailed information about specific corporate trust services based on a given parameter. This API supports retrieval of critical service attributes and client data, which is essential for clients seeking trust solutions for their banking needs. Typical consumers include financial institutions, corporate legal teams, and compliance officers needing timely access to trust service offerings. By utilizing this endpoint, organizations can streamline their decision-making processes related to corporate trust services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/corporate-trust-services/{param1}": {
      "get": {
        "tags": [
          "Corporate Trust Services"
        ],
        "summary": "Retrieve Corporate Trust Service data by ID.",
        "description": "This endpoint allows users to fetch details of a specific Corporate Trust Service using its unique ID. It provides comprehensive information about the service, enabling users to understand its features and offerings.",
        "operationId": "getConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding Corporate Trust Services for a specific resource identified by RES-100045. Ensure that the request adheres to the schema to retrieve accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the resource data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerServiceByParam1Request": {
        "type": "string",
        "description": "Request body for the corporate trust services operations GET request.",
        "example": "{}"
      },
      "GetConsumerServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-767575"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "26eee27a-8944-5298-87ab-dad78b0be356"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific product associated with the service request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The financial amount associated with the service request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the service request.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the service request.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the service request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate trust service operations, detailing the service request information.",
        "example": {
          "customerId": "CUST-767575",
          "serviceRequestId": "26eee27a-8944-5298-87ab-dad78b0be356",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0dd3e16a-a2b6-56e0-a99d-218d1799ed0d",
            "correlationId": "86e652c0-590e-53e4-bf0b-a6ab4e3fa7e5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Represents the monetary amount and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata relevant to the service request, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the API endpoint that was called, used for tracking and analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-trust-services-get-corporate-trust-services"
        },
        "example": "corporate-trust-services-get-corporate-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, useful for identifying service interactions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JWT (JSON Web Token) format. It is designed for easy and secure authentication of API requests by including a token in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}