{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Liquidity Risk Models Retrieval API",
    "description": "The Liquidity Risk Models Retrieval API provides users access to liquidity risk models utilized for assessing financial risk within banking operations. This API allows financial analysts and risk managers to retrieve detailed models by specifying a unique identifier. Use cases include analyzing model parameters, performing risk assessments, and ensuring compliance with regulatory requirements. By offering this service, organizations can maintain robust risk management practices and make informed decisions based on comprehensive liquidity analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/liquidity-risk-models/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve a specific liquidity risk model by its ID.",
        "description": "This endpoint allows you to fetch details of a specific liquidity risk model identified by its unique ID. It provides comprehensive information that can be used for further analysis or decision-making.",
        "operationId": "getLiquidityRiskModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the specific liquidity risk model identified by RES-100045. This body must adhere to the defined schema to ensure successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLiquidityRiskModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested liquidity risk model data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLiquidityRiskModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLiquidityRiskModelByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of liquidity risk models. It is expected to be a JSON string containing relevant data.",
        "example": "{}"
      },
      "GetLiquidityRiskModelByIdResponse_200": {
        "title": "Liquidity Risk Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the liquidity risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the liquidity risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio to which the model is associated.",
            "example": "PORT-160820"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is applicable.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Describes the scenario under which the risk model is evaluated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level used in the risk assessment.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for model validation.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months for the backtest window.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the model.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record for the model.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the model information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata related to the model response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response structure for a liquidity risk model operation.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-160820",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2a54a99d-6357-57a3-8f33-6710144131d7",
            "correlationId": "76f0e9c3-d670-5d4f-ab91-0d5d7ecf15a9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "liquidity-risk-models-get-liquidity-risk-models"
        },
        "example": "liquidity-risk-models-get-liquidity-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a valid JSON Web Token (JWT) must be included in the request's authorization header. The token is issued upon successful authentication and should be included in all subsequent requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}