{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Services Businesse By Business Id-v5-spec",
    "description": "The Business Services Retrieval API enables users to access detailed information about specific business services associated with a given business ID. This endpoint is essential for consumers who need to retrieve service data for analytics, reporting, or operational purposes. Typical use cases include service management systems, business dashboards, and client applications that require up-to-date service information. By utilizing this API, developers can efficiently integrate business service data into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/businesses/{businessId}": {
      "get": {
        "tags": [
          "Business Operations"
        ],
        "summary": "Retrieve details for a specific business.",
        "description": "This endpoint allows you to fetch detailed information about a business identified by its unique resource ID. Utilize this to gather insights regarding the business's profile, offerings, and operational status.",
        "operationId": "getBusinessServicesBusinesseByBusinessId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/businessId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving business details for the specified resource, including any necessary filters or criteria to specify which data is required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessServicesBusinesseByBusinessIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the business details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessServicesBusinesseByBusinessIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessServicesBusinesseByBusinessIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to businesses. It is expected to be a string format.",
        "example": "{}"
      },
      "GetBusinessServicesBusinesseByBusinessIdResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of business items.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving businesses.",
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "777788b9-0ac3-533c-8ce5-8a8e265dbec2",
            "correlationId": "015432fb-d821-598c-9e39-614b36219b65",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business."
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the person is personally liable."
          },
          "address": {
            "$ref": "#/components/schemas/BusinessAddress"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "URL of the business."
          },
          "email": {
            "type": "string",
            "description": "Email address of the business."
          },
          "type": {
            "type": "string",
            "description": "Type of business."
          },
          "taxId": {
            "type": "string",
            "description": "Tax ID of the business."
          },
          "businessId": {
            "type": "string",
            "description": "Unique identifier for the business."
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the business was created."
          },
          "modifiedDate": {
            "type": "string",
            "description": "Date when the business was last modified."
          }
        },
        "description": "Schema representing a single business item."
      },
      "BusinessAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address."
          },
          "city": {
            "type": "string",
            "description": "City where the business is located."
          },
          "state": {
            "type": "string",
            "description": "State where the business is located."
          },
          "country": {
            "type": "string",
            "description": "Country where the business is located."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the business address."
          }
        },
        "description": "Schema representing the address of a business."
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code of the phone number."
          },
          "phoneNo": {
            "type": "string",
            "description": "The phone number itself."
          }
        },
        "description": "Schema representing the phone number of a business."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "businessId": {
        "name": "businessId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-id"
        },
        "example": "open-finance-api-get-business-by-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) to securely transmit claims between a client and a server. The client includes the token in the HTTP Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}