{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Document Document Directorys-spec",
    "description": "The Document Directory Retrieval API allows users to access a comprehensive list of document directories associated with banking documents. By leveraging this endpoint, clients such as banking institutions or financial applications can easily retrieve organized information about available document categories. This functionality supports various use cases including document management, compliance checks, and customer service operations. It empowers developers to seamlessly integrate document directory data into their financial systems and enhance user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-directory": {
      "get": {
        "tags": [
          "documentManagement"
        ],
        "summary": "Retrieve the list of documents in the directory.",
        "description": "This endpoint allows users to fetch all documents available in the specified document directory. It can be used to browse through the documents for viewing or further processing.",
        "operationId": "listDocumentDocumentDirectorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a document directory, encapsulating parameters that define the query and filters for the documents included in the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDocumentDocumentDirectorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the document directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDocumentDocumentDirectorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDocumentDocumentDirectorysRequest": {
        "type": "string",
        "description": "The request body for the GET operation on the document directory.",
        "example": "{}"
      },
      "ListDocumentDocumentDirectorysResponse_200": {
        "title": "Document Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of documents in the directory.",
            "example": [
              {
                "documentId": "DOC-365393",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the documents.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving a directory of documents.",
        "example": {
          "items": [
            {
              "documentId": "DOC-365393",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "844f39f7-5eb1-5971-a03d-0b111f8fecbb",
            "correlationId": "70bfc204-f0f9-5d5b-9eda-e15d24d8a1ed",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "title": "Document",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document."
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document."
          },
          "classification": {
            "type": "string",
            "description": "Classification of the document."
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class of the document."
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document."
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document."
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of the document."
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum of the document."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the document was last updated."
          }
        },
        "description": "Represents a document in the directory."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the API response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this specific response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-directory-search-document-directory"
        },
        "example": "document-directory-search-document-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method as defined in RFC 6750. It enables the use of JSON Web Tokens (JWT) for securely transmitting information between parties. The bearer token should be included in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}