{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Wholesale Trading By Param1-spec",
    "description": "This API allows users to retrieve specific market order execution details for wholesale trading based on a provided parameter. It serves as a vital resource for traders and financial analysts who seek to access time-sensitive market data. Utilizing the parameter provided in the request, users can obtain precise insights into wholesale trade executions, enabling informed decision-making. Typical consumers include traders, market analysts, and financial institutions needing real-time execution information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order-execution/{param1}": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve market order execution details for a specific resource.",
        "description": "This endpoint allows users to fetch the execution details of a market order identified by the resource ID. It provides vital information related to the order execution, helping traders analyze their trades effectively.",
        "operationId": "getWholesaleTradingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the market order execution process for a specific wholesale trading operation. It must adhere to the specified schema to ensure all necessary parameters are provided correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWholesaleTradingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved market order execution details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWholesaleTradingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWholesaleTradingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the market order execution operations in the wholesale trading system.",
        "example": "{}"
      },
      "GetWholesaleTradingByParam1Response_200": {
        "title": "Market Order Execution Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The ID of the trading book associated with the order.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The ID of the financial instrument for which the order is placed.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the order (e.g., buy or sell).",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to buy or sell.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price for the order, if applicable.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "The type of order (e.g., market, limit).",
            "example": "STANDARD"
          },
          "timeInForce": {
            "type": "string",
            "description": "The time in force for the order (e.g., GTC, IOC).",
            "example": "STANDARD"
          },
          "venue": {
            "type": "string",
            "description": "The trading venue where the order is executed.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the order record (e.g., active, completed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the order record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the order record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the order execution response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a market order execution request.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "orderType": "STANDARD",
          "timeInForce": "STANDARD",
          "venue": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "eeb5dd97-512b-5e72-8067-a5b25ed70c2b",
            "correlationId": "a842df07-7445-500b-97cd-b26cd8b0730c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value of the order.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price of an order."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The ID of the response generated for the order execution.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the order execution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-execution-get-market-order-execution"
        },
        "example": "market-order-execution-get-market-order-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method. Clients must include a JWT (JSON Web Token) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}