{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Reward By Reward Id-v5-spec",
    "description": "This API allows users to access detailed information about specific banking operational services rewards using a unique reward identifier. It provides insights into the rewards offered, including eligibility criteria, redemption options, and associated benefits. Typical consumers of this API include banking institutions, third-party financial service providers, and mobile banking applications looking to enhance user engagement through rewards programs. The endpoint is instrumental for applications that aim to provide customers with personalized offers based on their banking activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards/{rewardId}": {
      "get": {
        "tags": [
          "Rewards Management"
        ],
        "summary": "Retrieve detailed information about reward RES-100045",
        "description": "This endpoint allows users to retrieve comprehensive details for the reward with the identifier RES-100045, including its eligibility, value, and associated benefits. Utilize this to effectively manage and evaluate reward offerings.",
        "operationId": "getBankingOperationalServicesRewardByRewardId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/rewardId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch operational service rewards based on the specified criteria for the resource RES-100045. The body must be formatted as JSON and adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesRewardByRewardIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesRewardByRewardIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesRewardByRewardIdRequest": {
        "type": "string",
        "description": "A JSON string representation for the operations request body.",
        "example": "{}"
      },
      "GetBankingOperationalServicesRewardByRewardIdResponse_200": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "The unique identifier for the loyalty account.",
            "example": "ACC-959048"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the loyalty account.",
            "example": "CUST-467208"
          },
          "activityType": {
            "type": "string",
            "description": "The type of activity that has occurred, such as 'earn' or 'redeem'.",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "description": "The number of loyalty points associated with the activity.",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "description": "A code representing the partner associated with the activity.",
            "example": "CODE-861"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating if it is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the record, for tracking changes.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "loyaltyAccountId": "ACC-959048",
          "customerId": "CUST-467208",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-861",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a9d576f2-de49-5b50-8624-2f23a47da847",
            "correlationId": "c67143ea-9cc5-5257-ae53-8b13d9efe92f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace requests through the system.",
            "example": "CORR987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "US"
          }
        },
        "description": "Metadata containing additional information relevant to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "rewardId": {
        "name": "rewardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being called. This value helps in tracing the requests across services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "description": "The name of the application that is handling the request. This helps to identify which application is being interacted with.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) for securely transmitting information between parties. This scheme requires a bearer token to be included in the request headers for authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}