{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Compliance Financial Accountings-spec",
    "description": "The Compliance Financial Accounting Retrieval API facilitates the access of financial accounting data pertinent to banking compliance. It allows users to efficiently retrieve detailed records and insights on financial account compliance statuses, ensuring adherence to regulatory standards. This API primarily serves compliance officers, auditors, and financial analysts who require timely and accurate information to support their decision-making processes. With this endpoint, organizations can streamline their compliance workflows and maintain robust financial governance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-accounting": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve financial accounting compliance data.",
        "description": "This endpoint allows users to access detailed financial accounting compliance information, enabling organizations to ensure adherence to regulatory standards and improve financial reporting accuracy.",
        "operationId": "listComplianceFinancialAccountings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving financial accounting compliance information. This should contain relevant parameters and options to filter and customize the response based on user specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListComplianceFinancialAccountingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested financial accounting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListComplianceFinancialAccountingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListComplianceFinancialAccountingsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request in the compliance financial accounting context.",
        "example": "{}"
      },
      "ListComplianceFinancialAccountingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial accounting submissions.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialAccountingSubmission"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of submissions.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Financial Accounting operations GET request, containing a list of items along with pagination and metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4aa71316-2d0e-548c-9b58-6e8bb7bbf7de",
            "correlationId": "9798b755-2d06-575a-b03b-29798c586171",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAccountingSubmission": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission."
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission."
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction under which the submission is reported."
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for which the submission is made."
          },
          "regulation": {
            "type": "string",
            "description": "The regulation that governs this submission."
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for submitting the financial report."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the submission record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the submission."
          }
        },
        "description": "Represents a financial accounting submission."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-accounting-search-financial-accounting"
        },
        "example": "financial-accounting-search-financial-accounting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses JSON Web Tokens (JWTs) as bearer tokens. This allows clients to authenticate themselves by including the token in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}