{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Cross Channel By Param1-spec",
    "description": "The Cross Channel Authentication API facilitates secure access to banking services by retrieving authentication information for a specific party based on a unique parameter. This endpoint is essential for applications requiring user validation across multiple channels. Typically used by financial institutions and third-party developers, it ensures that only authorized entities can engage in transactions. The API enhances user experience by streamlining the authentication process across various banking platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/party-authentication/{param1}": {
      "get": {
        "tags": [
          "Party Management"
        ],
        "summary": "Retrieve party authentication details.",
        "description": "This endpoint retrieves the authentication details for a specific party identified by PARTY-600045. It allows developers to access information related to the party's authentication status, facilitating integrations with external systems and user verification processes.",
        "operationId": "getCrossChannelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving authentication details related to a specific party identified by PARTY-600045. This should contain necessary authentication details in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful and the resource was retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelByParam1Request": {
        "title": "Cross-Channel Party Authentication Request Body",
        "type": "string",
        "description": "This schema represents the request body for party authentication in a cross-channel operation.",
        "example": "{}"
      },
      "GetCrossChannelByParam1Response_200": {
        "title": "Party Authentication Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-715624"
          },
          "interactionId": {
            "type": "string",
            "description": "The identifier for the interaction associated with the authentication.",
            "example": "INT-155101"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the authentication.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication that has been performed.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the authentication record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request/response correlation.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata associated with the authentication response.",
            "example": {
              "responseId": "f72bf2bc-a1aa-5988-b442-afe3b6322ec5",
              "correlationId": "6f341b11-8510-503c-88be-c6b92144ab48",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the party authentication operation, containing the details about the party's authentication state.",
        "example": {
          "partyId": "PARTY-715624",
          "interactionId": "INT-155101",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f72bf2bc-a1aa-5988-b442-afe3b6322ec5",
            "correlationId": "6f341b11-8510-503c-88be-c6b92144ab48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-authentication-get-party-authentication"
        },
        "example": "party-authentication-get-party-authentication"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens with JSON Web Tokens (JWT). This method allows clients to authenticate by including a token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}