{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Customer Relationship Managements-spec",
    "description": "The Customer Relationship Management API provides access to customer-related data and insights essential for managing relationships effectively. This API allows businesses to retrieve detailed information about customers, enabling better engagement and service personalization. Designed for banking institutions, the API caters to developers creating applications that require seamless access to customer relationship information. Typical consumers include CRM solution developers, banking analysts, and customer service representatives seeking to enhance customer interaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-relationship-management": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer relationship management data.",
        "description": "This endpoint allows users to fetch detailed data regarding customer relationships. It provides insights and analytics that enable businesses to manage their customer interactions more effectively.",
        "operationId": "listCustomerManagementCustomerRelationshipManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch customer relationship management data. It must conform to the specified schema to ensure proper processing and response from the server.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementCustomerRelationshipManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning customer relationship data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementCustomerRelationshipManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementCustomerRelationshipManagementsRequest": {
        "type": "string",
        "description": "A JSON representation of the request body for the customer relationship management operations.",
        "example": "{}"
      },
      "ListCustomerManagementCustomerRelationshipManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer relationships.",
            "example": [
              {
                "customerId": "CUST-544938",
                "partyId": "PARTY-325428",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerRelationship"
            }
          },
          "pagination": {
            "description": "Pagination information for the results.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Customer Relationship Management GET operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-544938",
              "partyId": "PARTY-325428",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4dff430f-5404-5e62-b3ac-b744a873d805",
            "correlationId": "26d60a6c-f203-5db2-b3e4-1d8d3a1d6a46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerRelationship": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "12345"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the relationship.",
            "example": "abcde"
          },
          "productCode": {
            "type": "string",
            "description": "Code for the product associated with the relationship.",
            "example": "prod123"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the relationship became effective.",
            "example": "2023-01-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the relationship, such as Gold, Silver, or Bronze.",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-01-10"
          }
        },
        "description": "Details of a customer relationship."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Information about the pagination of results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "cor-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing happened.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-relationship-management-search-customer-relationship-management"
        },
        "example": "customer-relationship-management-search-customer-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs the Bearer authentication mechanism, used for passing a JSON Web Token (JWT) in an HTTP request header. The token must be included in the `Authorization` header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}