{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Documents Correspondence-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Documents Correspondence-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/correspondence": {
      "post": {
        "operationId": "createBankingDocumentsCorrespondence",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingDocumentsCorrespondenceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingDocumentsCorrespondenceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingDocumentsCorrespondenceRequest": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "example": "DOC-242832"
          },
          "documentType": {
            "type": "string",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "24cf9c51-bde3-598f-8091-acb46b8451d3",
              "correlationId": "4b507948-d9e7-58cf-8611-50684b77c277",
              "idempotencyKey": "37a9095b-dc93-5fba-a018-5d0fb56465c0",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-677576"
              }
            }
          }
        },
        "example": {
          "documentId": "DOC-242832",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "requestContext": {
            "requestId": "24cf9c51-bde3-598f-8091-acb46b8451d3",
            "correlationId": "4b507948-d9e7-58cf-8611-50684b77c277",
            "idempotencyKey": "37a9095b-dc93-5fba-a018-5d0fb56465c0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-677576"
            }
          }
        }
      },
      "CreateBankingDocumentsCorrespondenceResponse_201": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "example": "DOC-140463"
          },
          "ownerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-852949"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "8850d209-0487-5fd6-bf0f-ff0510bbc5b5",
              "correlationId": "4b507948-d9e7-58cf-8611-50684b77c277",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "documentId": "DOC-140463",
          "ownerId": "STANDARD",
          "resourceId": "RES-852949",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8850d209-0487-5fd6-bf0f-ff0510bbc5b5",
            "correlationId": "4b507948-d9e7-58cf-8611-50684b77c277",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-099"
        },
        "example": "WF-099"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "110a923c-89fb-405c-b63d-f03222fee9f7"
        },
        "example": "110a923c-89fb-405c-b63d-f03222fee9f7"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6"
        },
        "example": "6"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "09c499a4-94e7-4cde-b558-e1da122b969d"
        },
        "example": "09c499a4-94e7-4cde-b558-e1da122b969d"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondence-create-correspondence"
        },
        "example": "correspondence-create-correspondence"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-099"
        },
        "example": "WF-099"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Property Facility and Equipment Maintenance"
        },
        "example": "Property Facility and Equipment Maintenance"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_FINALIZATION"
        },
        "example": "ASYNC_FINALIZATION"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "09c499a4-94e7-4cde-b558-e1da122b969d"
        },
        "example": "09c499a4-94e7-4cde-b558-e1da122b969d"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}