{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Terminals-spec",
    "description": "The P2M Terminals Listing API allows users to retrieve a comprehensive list of P2M terminals available within the system. This endpoint provides vital information about each terminal, including its status, location, and functionalities. Key consumers of this API typically include application developers, business analysts, and operations teams who require insights into terminal availability and management. Use this API to efficiently monitor and manage P2M terminal resources for improved service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals": {
      "get": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Retrieve a list of all terminals",
        "description": "This endpoint allows you to fetch a comprehensive list of all terminals available in the system, providing access to their details for further operations or management purposes.",
        "operationId": "listP2mTerminals",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving terminal information. The body should contain any specific parameters needed for the GET operation, formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mTerminalsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of terminals.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mTerminalsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mTerminalsRequest": {
        "type": "string",
        "description": "A string representation of the request body for retrieving terminal operations.",
        "example": "{}"
      },
      "ListP2mTerminalsResponse_200": {
        "title": "Terminal Operations Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Links related to the paginated response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "The list of terminal items.",
            "example": [
              {
                "terminalId": "STANDARD",
                "merchantId": "MER-288826",
                "outletId": "STANDARD",
                "terminalType": "STANDARD",
                "label": "STANDARD",
                "serialNumber": "STANDARD",
                "deviceFingerprint": "STANDARD",
                "capabilities": [
                  "STANDARD"
                ],
                "status": "ACTIVE",
                "lastSeenAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Terminal"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on terminals, providing pagination details and a list of terminal items.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "terminalId": "STANDARD",
              "merchantId": "MER-288826",
              "outletId": "STANDARD",
              "terminalType": "STANDARD",
              "label": "STANDARD",
              "serialNumber": "STANDARD",
              "deviceFingerprint": "STANDARD",
              "capabilities": [
                "STANDARD"
              ],
              "status": "ACTIVE",
              "lastSeenAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "c1f40183-01ef-5776-b7b3-1282698acf34",
            "correlationId": "d3e5e242-34cc-5eb2-b8bf-780c8a9ca51d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link Object",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "https://api.example.com/terminals?page=1"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used with the link.",
            "example": "GET"
          }
        },
        "description": "Represents a hyperlink related to the paginated response."
      },
      "Terminal": {
        "title": "Terminal Object",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "T12345"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the associated merchant.",
            "example": "M67890"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the associated outlet.",
            "example": "OABCDE"
          },
          "terminalType": {
            "type": "string",
            "description": "The type of terminal.",
            "example": "POS"
          },
          "label": {
            "type": "string",
            "description": "User-defined label for the terminal.",
            "example": "Main Entrance Terminal"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the terminal.",
            "example": "SN2023-0578"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "A fingerprint of the device for identification.",
            "example": "fingerprintDataSample"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "items": {
              "type": "string",
              "example": "contactless"
            }
          },
          "status": {
            "type": "string",
            "description": "Current operational status of the terminal.",
            "example": "active"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of when the terminal was last seen.",
            "example": "2023-10-01T12:00:00Z"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Represents a terminal with its associated details."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the terminal was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the terminal.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the terminal was last updated.",
            "example": "2023-09-30T08:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the terminal.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the terminal record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Records audit information for a terminal."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request.",
            "example": "correlation67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-terminals"
        },
        "example": "banking-p2m-openapi-list-terminals"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where the client token is provided in the Authorization header as a JSON Web Token (JWT). This allows for secure access and transmission of information between the client and the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}