{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Leasing Item Administration-spec",
    "description": "The Operational Service Leasing Item Administration API facilitates the creation and management of leasing items within the operational services framework. This API allows users to add new leasing items, capturing essential details and specifications necessary for effective inventory management. Typical consumers of this API include financial institutions and operational managers who need to streamline the leasing process. Through this endpoint, businesses can ensure efficient tracking and administration of their leasing assets.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://operations-openfinance-app:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/leasing-item-administration": {
      "post": {
        "tags": [
          "Leasing Management"
        ],
        "summary": "Create a new leasing item administration entry.",
        "description": "This endpoint allows users to create a new entry in the leasing item administration system. It requires the necessary details about the leasing item, which will be stored in the database for further processing.",
        "operationId": "createOperationalServiceLeasingItemAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an item in the leasing administration system. It requires specific parameters structured according to the defined schema to ensure successful processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceLeasingItemAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully as a result of the request.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceLeasingItemAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceLeasingItemAdministrationRequest": {
        "title": "Leasing Item Administration Request Body",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-839909"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-590803"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the leased asset.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value of the leased asset.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Duration of the lease term in months.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for leasing item administration operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-839909",
          "accountId": "ACC-590803",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "9468f0a3-297b-5514-a528-cee994a230d5",
            "correlationId": "6744eda3-4147-5150-acbb-7d9dd2f57de4",
            "idempotencyKey": "fec9a4ec-5018-5edc-8ce4-bb783ebb0a4c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-528650"
            }
          }
        }
      },
      "ResidualValue": {
        "title": "Residual Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the residual value.",
            "example": 15000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the monetary amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the residual value of a leased asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests.",
            "example": "corr-22222"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed once.",
            "example": "idempotent-33333"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request context was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system generating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context details for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-44444"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-55555"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateOperationalServiceLeasingItemAdministrationResponse_201": {
        "title": "Leasing Item Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer involved in the operation.",
            "example": "CUST-557411"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the operation.",
            "example": "ACC-227306"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the asset that is being leased.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the operation.",
            "example": "RES-130211"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlating multiple requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the processing took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "b07894a7-31b1-5dc6-92aa-dc6045078702",
              "correlationId": "6744eda3-4147-5150-acbb-7d9dd2f57de4",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response structure for the leasing item operation POST request. Contains details about the operation performed.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-557411",
          "accountId": "ACC-227306",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-130211",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b07894a7-31b1-5dc6-92aa-dc6045078702",
            "correlationId": "6744eda3-4147-5150-acbb-7d9dd2f57de4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-039"
        },
        "example": "WF-039"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "af2e1ea6-1962-45aa-9d91-b0ef0240e00c"
        },
        "example": "af2e1ea6-1962-45aa-9d91-b0ef0240e00c"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ee5edff3-d19e-46de-8f2a-e91d44fa15f4"
        },
        "example": "ee5edff3-d19e-46de-8f2a-e91d44fa15f4"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the specific endpoint that was called, allowing for tracking and logging of API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-item-administration-create-leasing-item-administration"
        },
        "example": "leasing-item-administration-create-leasing-item-administration"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the API call, which is useful for monitoring application performance and usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      },
      "x-workflow-id": {
        "description": "A unique identifier for the workflow associated with the request, enabling better tracing of processes within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-039"
        },
        "example": "WF-039"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Leasing Application and Asset Administration"
        },
        "example": "Leasing Application and Asset Administration"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ee5edff3-d19e-46de-8f2a-e91d44fa15f4"
        },
        "example": "ee5edff3-d19e-46de-8f2a-e91d44fa15f4"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses the Bearer token format, specifically utilizing JSON Web Tokens (JWT) for secure API access. Clients must include a valid Bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}