{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Corporate Relation By Param1-spec",
    "description": "The Corporate Relations Retrieval API provides easy access to corporate relationship data based on specific parameters. This endpoint allows users to retrieve detailed information about a corporate relationship identified by 'param1'. Ideal for banking and finance applications, this API is often utilized by developers looking to display or analyze corporate connections. Typical consumers include financial analysts, customer relationship managers, and application developers dealing with corporate account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-relationship/{param1}": {
      "get": {
        "tags": [
          "Corporate Relationships"
        ],
        "summary": "Retrieve Corporate Relationship Details",
        "description": "Fetches the details of a specific corporate relationship identified by its unique ID. This operation allows users to access relevant information associated with the corporate entity, which can be used for further analysis or record-keeping.",
        "operationId": "getCorporateRelationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for the retrieval of corporate relationship data associated with the specified resource identifier. It should contain the necessary parameters in JSON format to successfully execute the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateRelationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the corporate relationship details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateRelationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateRelationByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body used for the Operations GET request in the Corporate Relationships API. It is a placeholder for the string data that may be required to send in the request.",
        "example": "{}"
      },
      "GetCorporateRelationByParam1Response_200": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement related to the corporate relationship.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the corporate relationship.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "Date and time when the engagement is scheduled.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the relationship record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the relationship record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the relationship record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the corporate relationship.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the detailed response for a corporate relationship operation.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "dfbd355c-1c2e-5342-8b3f-fefacf68303c",
            "correlationId": "0f0baa6c-0eb7-5bc6-a17f-ad8623be73c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_321"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses across systems.",
            "example": "correlation_654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-2"
          }
        },
        "description": "Contains additional metadata attributes related to the corporate relationship response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was invoked. This value helps in tracking the API requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-relationship-get-corporate-relationship"
        },
        "example": "corporate-relationship-get-corporate-relationship"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment that processed the request. This header provides insights into the application context for better debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication format, which involves the inclusion of a JSON Web Token (JWT) in the Authorization header of HTTP requests. The token provides a method to authenticate and authorize the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}