{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Partner Accesskey-spec",
    "description": "The Partner Access Key Management API enables businesses to facilitate secure access for their partners by generating access keys. This endpoint allows authorized users to create new access keys that can be used for authentication and interaction with partner services. Typical consumers include integration developers and system administrators who require streamlined access management for third-party integrations. This API plays a crucial role in ensuring secure and efficient connectivity within a broader ecosystem, enhancing collaboration and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/accesskey": {
      "post": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Create a new access key for a partner.",
        "description": "This endpoint allows you to create a new access key for a specific partner, enabling them to integrate with our services securely. Ensure that the necessary partner information is provided in the request body to facilitate the key generation process.",
        "operationId": "createPartnerAccesskey",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing the necessary information for generating an access key for partners. This includes authentication and any specific parameters required for the access key creation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnerAccesskeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated access key.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartnerAccesskeyResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartnerAccesskeyRequest": {
        "title": "Access Key Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-611286"
          },
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner entity.",
            "example": "STANDARD"
          },
          "thirdPartyPartnerId": {
            "type": "string",
            "description": "Identifier for the third-party partner.",
            "example": "STANDARD"
          },
          "provenance": {
            "description": "Information about the provenance of the request.",
            "$ref": "#/components/schemas/Provenance"
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the request.",
            "example": [
              {
                "product": "STANDARD",
                "payorId": "STANDARD",
                "maxCalls": 1,
                "accountId": "ACC-558587",
                "accessPeriod": {
                  "type": "STANDARD",
                  "startTime": "2026-08-11T12:00:00Z",
                  "endTime": "2026-08-11T12:00:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for Access Key operations.",
        "example": {
          "customerId": "CUST-611286",
          "partnerId": "STANDARD",
          "thirdPartyPartnerId": "STANDARD",
          "provenance": {
            "clientFingerprint": "STANDARD",
            "ipAddress": "STANDARD",
            "token": "STANDARD"
          },
          "products": [
            {
              "product": "STANDARD",
              "payorId": "STANDARD",
              "maxCalls": 1,
              "accountId": "ACC-558587",
              "accessPeriod": {
                "type": "STANDARD",
                "startTime": "2026-08-11T12:00:00Z",
                "endTime": "2026-08-11T12:00:00Z"
              }
            }
          ],
          "requestContext": {
            "requestId": "8ffa9d30-71e2-5e73-95bc-c6508c45bd8b",
            "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
            "idempotencyKey": "8073fff2-2c9e-5bd1-8d94-62a2ef4e3868",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-228533"
            }
          }
        }
      },
      "Provenance": {
        "required": [
          "clientFingerprint",
          "ipAddress",
          "token"
        ],
        "type": "object",
        "properties": {
          "clientFingerprint": {
            "type": "string",
            "description": "Fingerprint of the client making the request."
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the client."
          },
          "token": {
            "type": "string",
            "description": "Token used for verification."
          }
        },
        "description": "Information regarding the provenance of the access key."
      },
      "Product": {
        "required": [
          "accessPeriod",
          "accountId",
          "maxCalls",
          "payorId",
          "product"
        ],
        "type": "object",
        "properties": {
          "product": {
            "type": "string",
            "description": "Name or identifier of the product."
          },
          "payorId": {
            "type": "string",
            "description": "Identifier for the payor."
          },
          "maxCalls": {
            "type": "integer",
            "description": "Maximum number of calls allowed.",
            "format": "int32"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account."
          },
          "accessPeriod": {
            "required": [
              "endTime",
              "startTime",
              "type"
            ],
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of access period."
              },
              "startTime": {
                "type": "string",
                "description": "Start time of the access period."
              },
              "endTime": {
                "type": "string",
                "description": "End time of the access period."
              }
            },
            "description": "Access period details of the product."
          }
        },
        "description": "Details about a product associated with the receipt."
      },
      "AccessPeriod": {
        "title": "Access Period Information",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the access period (e.g., temporary, permanent).",
            "example": "string"
          },
          "startTime": {
            "type": "string",
            "description": "Start time for the access period in ISO 8601 format.",
            "example": "string"
          },
          "endTime": {
            "type": "string",
            "description": "End time for the access period in ISO 8601 format.",
            "example": "string"
          }
        },
        "description": "Schema for defining the access period of a product."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs to this request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency for the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "string"
          }
        },
        "description": "Schema for representing information about the channel used to make the request."
      },
      "CreatePartnerAccesskeyResponse_200": {
        "required": [
          "data",
          "metadata"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of access key records.",
            "example": [
              {
                "receipt": {
                  "profile": 1,
                  "version": "STANDARD",
                  "id": "STANDARD",
                  "customerId": "CUST-469489",
                  "partnerId": "STANDARD",
                  "products": [
                    {
                      "product": "STANDARD",
                      "payorId": "STANDARD",
                      "maxCalls": 1,
                      "accountId": "ACC-633031",
                      "accessPeriod": {
                        "type": "STANDARD",
                        "startTime": "2026-08-11T12:00:00Z",
                        "endTime": "2026-08-11T12:00:00Z"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "STANDARD",
                    "ipAddress": "STANDARD",
                    "token": "STANDARD"
                  },
                  "timestamp": "2026-09-15T14:30:00Z"
                },
                "proof": {
                  "signature": "STANDARD",
                  "keyId": "STANDARD",
                  "timestamp": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "required": [
                "proof",
                "receipt"
              ],
              "type": "object",
              "properties": {
                "receipt": {
                  "$ref": "#/components/schemas/Receipt"
                },
                "proof": {
                  "$ref": "#/components/schemas/Proof"
                }
              },
              "example": {
                "receipt": {
                  "profile": 0,
                  "version": "string",
                  "id": "string",
                  "customerId": "string",
                  "partnerId": "string",
                  "products": [
                    {
                      "product": "string",
                      "payorId": "string",
                      "maxCalls": 0,
                      "accountId": "string",
                      "accessPeriod": {
                        "type": "string",
                        "startTime": "string",
                        "endTime": "string"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "string",
                    "ipAddress": "string",
                    "token": "string"
                  },
                  "timestamp": "string"
                },
                "proof": {
                  "signature": "string",
                  "keyId": "string",
                  "timestamp": "string"
                }
              }
            }
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the POST operation on the access key for partners.",
        "example": {
          "data": [
            {
              "receipt": {
                "profile": 1,
                "version": "STANDARD",
                "id": "STANDARD",
                "customerId": "CUST-469489",
                "partnerId": "STANDARD",
                "products": [
                  {
                    "product": "STANDARD",
                    "payorId": "STANDARD",
                    "maxCalls": 1,
                    "accountId": "ACC-633031",
                    "accessPeriod": {
                      "type": "STANDARD",
                      "startTime": "2026-08-11T12:00:00Z",
                      "endTime": "2026-08-11T12:00:00Z"
                    }
                  }
                ],
                "provenance": {
                  "clientFingerprint": "STANDARD",
                  "ipAddress": "STANDARD",
                  "token": "STANDARD"
                },
                "timestamp": "2026-09-15T14:30:00Z"
              },
              "proof": {
                "signature": "STANDARD",
                "keyId": "STANDARD",
                "timestamp": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "21277188-b8cb-5c24-85cc-e67d768605d5",
            "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Receipt": {
        "required": [
          "customerId",
          "id",
          "partnerId",
          "products",
          "profile",
          "provenance",
          "timestamp",
          "version"
        ],
        "type": "object",
        "properties": {
          "profile": {
            "type": "integer",
            "description": "Profile identifier.",
            "format": "int32"
          },
          "version": {
            "type": "string",
            "description": "Version of the receipt."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the receipt."
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer."
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner."
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the receipt.",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "provenance": {
            "description": "Information regarding the provenance of the receipt.",
            "$ref": "#/components/schemas/Provenance"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp of when the receipt was generated."
          }
        },
        "description": "Contains details related to the receipt."
      },
      "Proof": {
        "required": [
          "keyId",
          "signature",
          "timestamp"
        ],
        "type": "object",
        "properties": {
          "signature": {
            "type": "string",
            "description": "Digital signature for verification."
          },
          "keyId": {
            "type": "string",
            "description": "Identifier for the key used to generate the signature."
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp when the proof was generated."
          }
        },
        "description": "Contains cryptographic proof elements."
      },
      "Metadata": {
        "required": [
          "correlationId",
          "generatedAt",
          "processingRegion",
          "responseId"
        ],
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata that provides additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request, aiding in tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-third-party-access-key"
        },
        "example": "open-finance-api-generate-third-party-access-key"
      },
      "X-Runtime-App": {
        "description": "The name of the application invoking the API, which helps to identify the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses JSON Web Tokens (JWT) as a bearer token. Client applications must include this token in the Authorization header of their HTTP requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}