{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m Settlement Account By Settlement Account Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update P2m Settlement Account By Settlement Account Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{settlementAccountId}": {
      "patch": {
        "operationId": "updateP2mSettlementAccountBySettlementAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementAccountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mSettlementAccountBySettlementAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mSettlementAccountBySettlementAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mSettlementAccountBySettlementAccountIdRequest": {
        "type": "object",
        "properties": {
          "schedule": {
            "type": "object",
            "properties": {
              "frequency": {
                "type": "string",
                "example": "string"
              },
              "cutoffTime": {
                "type": "string",
                "example": "string"
              },
              "timezone": {
                "type": "string",
                "example": "string"
              },
              "settlementDelayBusinessDays": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "minimumPayoutAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "frequency": "STANDARD",
              "cutoffTime": "STANDARD",
              "timezone": "America/New_York",
              "settlementDelayBusinessDays": 1,
              "minimumPayoutAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "isDefault": {
            "type": "boolean",
            "example": true
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "315ddf4e-f5a6-5593-9665-bf3ad019089a",
              "correlationId": "c77de93f-998b-5ed7-a5a3-0c874e87cd0d",
              "idempotencyKey": "401f36a4-57b7-5d73-8048-1c0162d95afd",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-694447"
              }
            }
          }
        },
        "example": {
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "315ddf4e-f5a6-5593-9665-bf3ad019089a",
            "correlationId": "c77de93f-998b-5ed7-a5a3-0c874e87cd0d",
            "idempotencyKey": "401f36a4-57b7-5d73-8048-1c0162d95afd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-694447"
            }
          }
        }
      },
      "UpdateP2mSettlementAccountBySettlementAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "example": "ACC-845566"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-740084"
          },
          "account": {
            "type": "object",
            "properties": {
              "bankCode": {
                "type": "string",
                "example": "string"
              },
              "branchCode": {
                "type": "string",
                "example": "string"
              },
              "numberMasked": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              },
              "type": {
                "type": "string",
                "example": "string"
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "bankCode": "CODE-273",
              "branchCode": "CODE-570",
              "numberMasked": "STANDARD",
              "name": "Northstar Banking Service",
              "type": "STANDARD",
              "currency": "USD"
            }
          },
          "schedule": {
            "type": "object",
            "properties": {
              "frequency": {
                "type": "string",
                "example": "string"
              },
              "cutoffTime": {
                "type": "string",
                "example": "string"
              },
              "timezone": {
                "type": "string",
                "example": "string"
              },
              "settlementDelayBusinessDays": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "minimumPayoutAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "frequency": "STANDARD",
              "cutoffTime": "STANDARD",
              "timezone": "America/New_York",
              "settlementDelayBusinessDays": 1,
              "minimumPayoutAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "isDefault": {
            "type": "boolean",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "567516c6-8c31-584c-85c0-1a160151c3a2",
              "correlationId": "c77de93f-998b-5ed7-a5a3-0c874e87cd0d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "settlementAccountId": "ACC-845566",
          "merchantId": "MER-740084",
          "account": {
            "bankCode": "CODE-273",
            "branchCode": "CODE-570",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "567516c6-8c31-584c-85c0-1a160151c3a2",
            "correlationId": "c77de93f-998b-5ed7-a5a3-0c874e87cd0d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementAccountId": {
        "name": "settlementAccountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-settlement-account"
        },
        "example": "banking-p2m-openapi-update-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}