{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Human Resource Management Employee Assignment-spec",
    "description": "The Employee Assignment Management API facilitates the effective allocation of personnel within organizational roles. This API allows businesses to create and manage employee assignments efficiently, ensuring optimal resource utilization. Typical consumers include HR departments and management systems that require integration to streamline workforce management processes. The API supports operations related to assignment creation, modification, and organizational mapping, ultimately contributing to enhanced productivity and operational coherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-assignment": {
      "post": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Assign an employee to a specific task.",
        "description": "This endpoint allows you to assign an employee to a designated task within the human resource management system. It ensures that employee workload is managed efficiently and that tasks are allocated accordingly to enhance productivity.",
        "operationId": "createHumanResourceManagementEmployeeAssignment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to assign employees to specific tasks or roles within the human resource management system. It includes all necessary information and parameters required for the assignment process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHumanResourceManagementEmployeeAssignmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Indicates that the employee assignment was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateHumanResourceManagementEmployeeAssignmentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateHumanResourceManagementEmployeeAssignmentRequest": {
        "title": "Employee Assignment Request",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-263893"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the assignment becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "Two-letter country code where the employee is assigned.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., Full-time, Part-time, Contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee will be working.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to track the request across multiple services.",
                "example": "CORR789"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure that the request is processed only once.",
                "example": "IDEMP123456"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T12:34:56Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that originated the request.",
                "example": "HRMSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request was made.",
                "example": "Employee Portal"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Unique identifier for the channel.",
                    "example": "CHANNEL123"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of channel (e.g., Web, Mobile).",
                    "example": "Web"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier for the device used to make the request.",
                    "example": "DEVICE456"
                  }
                },
                "description": "Information about the channel through which the request was made."
              }
            },
            "description": "Contextual information surrounding the request.",
            "example": {
              "requestId": "d409ea95-7a0d-59a0-92df-12239749a356",
              "correlationId": "196b3fc9-874d-5d8a-97f7-636ed190dff7",
              "idempotencyKey": "7e61ac3d-4a59-5f9e-a648-96558ab3b999",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-119302"
              }
            }
          }
        },
        "description": "Schema representing the request body for assigning an employee in the human resource management system.",
        "example": {
          "employeeId": "EMP-263893",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "d409ea95-7a0d-59a0-92df-12239749a356",
            "correlationId": "196b3fc9-874d-5d8a-97f7-636ed190dff7",
            "idempotencyKey": "7e61ac3d-4a59-5f9e-a648-96558ab3b999",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-119302"
            }
          }
        }
      },
      "CreateHumanResourceManagementEmployeeAssignmentResponse_201": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-646897"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department associated with the assignment.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country where the assignment takes place.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the assignment.",
            "example": "RES-677221"
          },
          "status": {
            "type": "string",
            "description": "The current status of the assignment.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the assignment was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP56789"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of this assignment takes place.",
                "example": "NA"
              }
            },
            "description": "Metadata related to the assignment response.",
            "example": {
              "responseId": "75b70f71-0c72-5990-b61a-3ab112cb09ef",
              "correlationId": "196b3fc9-874d-5d8a-97f7-636ed190dff7",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for employee assignment operations in the human resource management system.",
        "example": {
          "employeeId": "EMP-646897",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-677221",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "75b70f71-0c72-5990-b61a-3ab112cb09ef",
            "correlationId": "196b3fc9-874d-5d8a-97f7-636ed190dff7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-assignment-create-employee-assignment"
        },
        "example": "employee-assignment-create-employee-assignment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer Authentication scheme, which requires a valid JSON Web Token (JWT) to be sent in the Authorization header. A valid token must be included in API requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}