{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Human Resource Management By Param1-spec",
    "description": "The Workforce Contracts Management API provides mechanisms to update workforce contracts within the HR management system. This API allows organizations to adjust contract parameters dynamically, enabling them to accommodate changes in workforce needs and compliance requirements. Typical consumers of this API include HR managers and software developers integrating human resource functionalities into their applications. The API supports targeted updates using unique identifiers, ensuring precision and efficiency in contract management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-contracts/{param1}": {
      "patch": {
        "tags": [
          "Human Resources"
        ],
        "summary": "Update workforce contract details for a specific employee.",
        "description": "This endpoint allows you to update the details of a specific workforce contract associated with employee EMP-900045. It is designed for HR management to modify contract terms, conditions, or other relevant information as required.",
        "operationId": "updateHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request is used to update the details of the workforce contract identified by the specified employee ID (EMP-900045). Ensure that the data provided in the request body adheres to the defined schema for successful updates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateHumanResourceManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateHumanResourceManagementByParam1Request": {
        "title": "Workforce Contract Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the workforce contract.",
            "$ref": "#/components/schemas/WorkforceContractChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in the workforce contract.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date for the changes to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the individual or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating a workforce contract in the operations context.",
        "example": {
          "changes": {
            "employeeId": "EMP-336735",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "bd5e093f-1701-5252-a1a3-aecf643c59f6",
            "correlationId": "96749eda-56f3-521a-9aa9-b47d6b3999c1",
            "idempotencyKey": "c2676843-f528-580c-92f4-de364233e0b8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-513025"
            }
          }
        }
      },
      "WorkforceContractChanges": {
        "title": "Workforce Contract Changes",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee whose contract is being updated.",
            "example": "12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment associated with the employee.",
            "example": "67890"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department the employee is being assigned to.",
            "example": "IT"
          }
        },
        "description": "This schema outlines the specific changes being made to a workforce contract."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to prevent duplicate processing of the request.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "HR Portal"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains context-related information pertaining to the request being made."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for making the request.",
            "example": "device-abc"
          }
        },
        "description": "This schema describes the channel through which the request was initiated."
      },
      "UpdateHumanResourceManagementByParam1Response_200": {
        "title": "Workforce Contract Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the contract was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the PATCH request on workforce contracts.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0afda7c4-d7e2-553d-9af5-fcc01762e77f",
            "correlationId": "96749eda-56f3-521a-9aa9-b47d6b3999c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and requests.",
            "example": "abcde-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp representing when the response was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being called in this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-and-contractor-contract-update-employee-and-contractor-contract"
        },
        "example": "employee-and-contractor-contract-update-employee-and-contractor-contract"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request for reference and tracing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication protocol. Clients must include a JWT (JSON Web Token) as a bearer token in the Authorization header when making requests. This token validates the client's identity and permissions for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}