{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Site Operations Management API",
    "description": "The Site Operations Management API facilitates the retrieval of critical information regarding various banking facilities and site operations. This API allows users to access data related to site statuses, performance metrics, and operational insights. It is essential for stakeholders such as facility managers and financial analysts who need to monitor and optimize site functionality. With this API, consumers can enhance operational efficiency and enhance decision-making processes based on real-time data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/site-operations": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve site operations information.",
        "description": "This endpoint allows you to fetch detailed information about site operations within the facilities. It provides insights into operational status, activities, and other relevant data related to site management.",
        "operationId": "getSiteOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving site operations at facilities. This body allows the client to specify parameters that guide the operation retrieval process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested site operation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSiteOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the site operations GET request.",
        "example": "{}"
      },
      "GetSiteOperationsResponse_200": {
        "title": "Site Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of site operations.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-381072",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SiteOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the operations site retrieval endpoint.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-381072",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7d829ab9-49dd-59fa-81f2-9a12c377966f",
            "correlationId": "15813e27-8b3b-5d5e-8957-6670b2e1e293",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SiteOperation": {
        "title": "Site Operation",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "string"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset associated with the operation.",
            "example": "string"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order.",
            "example": "string"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the operation is scheduled.",
            "example": "string"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor responsible for the operation.",
            "example": "string"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the operation is taking place.",
            "example": "string"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed.",
            "example": "string"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the operation record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single site operation entity."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination details for the list of items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs across system components.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "site-operations-search-site-operations"
        },
        "example": "site-operations-search-site-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing bearer tokens. This scheme employs JSON Web Tokens (JWT) to securely transmit information between parties, ensuring that the client is authorized to access the resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}