{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management Systems Help Desks-spec",
    "description": "The IT Management Systems Help Desk Listing API enables users to retrieve a list of help desk systems used in IT management. This API serves as a valuable resource for organizations seeking to streamline their support processes by accessing pertinent information about existing help desks. Typical consumers include IT administrators and system managers looking to evaluate, integrate, or optimize their help desk solutions. With this API, users can ensure they have the most up-to-date insights into available IT management support systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve the list of systems used in the help desk.",
        "description": "This endpoint allows you to retrieve a comprehensive list of systems utilized within the help desk management framework. It includes relevant details such as system name, status, and functionality to help manage and support IT operations effectively.",
        "operationId": "listItManagementSystemsHelpDesks",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information from the systems help desk. It should contain the necessary parameters for querying the help desk operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementSystemsHelpDesksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the help desk system data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementSystemsHelpDesksResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementSystemsHelpDesksRequest": {
        "title": "Help Desk Request Body",
        "type": "string",
        "description": "A string representation of the request body for retrieving help desk operations.",
        "example": "{}"
      },
      "ListItManagementSystemsHelpDesksResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of incident objects related to the help desk.",
            "example": [
              {
                "incidentId": "STANDARD",
                "affectedSystemId": "STANDARD",
                "impact": "STANDARD",
                "urgency": "STANDARD",
                "summary": "STANDARD",
                "reportedBy": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Incident"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the incident list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the IT management systems help desk operation, which includes a list of incidents and pagination details.",
        "example": {
          "items": [
            {
              "incidentId": "STANDARD",
              "affectedSystemId": "STANDARD",
              "impact": "STANDARD",
              "urgency": "STANDARD",
              "summary": "STANDARD",
              "reportedBy": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "133a08c7-3630-5974-a5ac-cdb0bedec501",
            "correlationId": "659e53c0-c190-5486-b348-da9ce258c0e1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Incident": {
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "Unique identifier for the incident."
          },
          "affectedSystemId": {
            "type": "string",
            "description": "Identifier of the system affected by the incident."
          },
          "impact": {
            "type": "string",
            "description": "Impact level of the incident (e.g., High, Medium, Low)."
          },
          "urgency": {
            "type": "string",
            "description": "Urgency level of the incident (e.g., Critical, High, Medium, Low)."
          },
          "summary": {
            "type": "string",
            "description": "Brief summary describing the incident."
          },
          "reportedBy": {
            "type": "string",
            "description": "Email address or identifier of the user who reported the incident."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the incident record (e.g., Open, In Progress, Resolved)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made on the incident."
          }
        },
        "description": "Details about a specific incident in the help desk system."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for navigating through a list of incidents."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-search-systems-help-desk"
        },
        "example": "systems-help-desk-search-systems-help-desk"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}