{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Deposit Lending Virtual Account API",
    "description": "The Deposit Lending Virtual Account API provides access to detailed information about virtual accounts associated with deposit lending services. This API allows users to retrieve account balances, transaction histories, and other relevant account details. Common use cases include monitoring account activity, managing customer deposits, and integrating with financial management systems. Financial institutions and developers building applications in the banking and lending space will find this API essential for enhancing customer services and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/virtual-account/{param1}": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve details for a specific virtual account.",
        "description": "This endpoint allows users to fetch detailed information about a specific virtual account identified by its unique account number. The information returned will aid in managing financial transactions associated with the virtual account.",
        "operationId": "getDepositLendingVirtualAccountAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details regarding the virtual account with the specified account number ACC-200045. The information returned will include the current status, available balance, and other relevant account details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingVirtualAccountAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the virtual account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingVirtualAccountAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingVirtualAccountAcc200045Request": {
        "type": "string",
        "description": "Represents a request body for the GET operations related to the virtual account identified by ACC-200045 in the deposit lending service.",
        "example": "{}"
      },
      "GetDepositLendingVirtualAccountAcc200045Response_200": {
        "title": "Virtual Account Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-503046"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the virtual account.",
            "example": "ACC-262551"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency of the virtual account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term length of the account in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose for which the account is opened.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency at which statements are generated for the account.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether overdraft is allowed on the account.",
            "example": true
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the account record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the account response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving details of a virtual account associated with deposit lending.",
        "example": {
          "customerId": "CUST-503046",
          "accountId": "ACC-262551",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "11a8e92e-5b9f-5cea-9161-a47f86b88bac",
            "correlationId": "dd7611eb-13df-5523-a1ea-e6742ce51dda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the principal.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the principal amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency associated with a virtual account."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata information about the account response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "virtual-account-get-virtual-account"
        },
        "example": "virtual-account-get-virtual-account"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application processing the request, which can be useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT). Clients must include a valid bearer token in the Authorization header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}