{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Corporate Actions-spec",
    "description": "The Corporate Actions Retrieval API provides access to detailed information on corporate actions related to market operations. This endpoint allows users to retrieve a list of corporate actions, including dividends, stock splits, and mergers, affecting various securities. It is designed for financial analysts, investment professionals, and portfolio managers who need to stay informed about corporate events impacting their investments. By leveraging this API, users can enhance decision-making processes and strategize accordingly based on upcoming corporate actions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/corporate-action": {
      "get": {
        "tags": [
          "Corporate Actions"
        ],
        "summary": "Retrieve a list of corporate actions.",
        "description": "This endpoint allows you to fetch all corporate actions related to market operations. It provides comprehensive details necessary for understanding the current corporate actions affecting securities in the market.",
        "operationId": "listMarketOperationCorporateActions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about corporate actions in the market operations. It expects a JSON payload that conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationCorporateActionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested corporate action details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationCorporateActionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationCorporateActionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to corporate actions in market operations.",
        "example": "{}"
      },
      "ListMarketOperationCorporateActionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of corporate action items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporateActionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Corporate Action operations GET request at market operations endpoint.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1b198df9-6305-5b9b-a001-a38d141e7a46",
            "correlationId": "12a2d27d-69d5-5f5c-9092-abbf3aa2896c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporateActionItem": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument associated with the trade.",
            "example": "string"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which settlement is to occur.",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity involved in the trade.",
            "format": "int32",
            "example": 0
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlement.",
            "example": "string"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "string"
          }
        },
        "description": "Represents a corporate action item.",
        "example": {
          "tradeId": "string",
          "instrumentId": "string",
          "settlementDate": "string",
          "quantity": 0,
          "settlementCurrency": "string",
          "custodianId": "string",
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Metadata for pagination of the response.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing through systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata about the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-action-search-corporate-action"
        },
        "example": "corporate-action-search-corporate-action"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for identifying the backend service in multi-service architectures.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token is a JSON Web Token (JWT) that is typically included in the Authorization header of the HTTP request to securely identify the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}