{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Statement Transactions-spec",
    "description": "The Statement Transactions Retrieval API allows users to access detailed transaction information associated with a specific bank statement. By providing the account ID and statement ID, consumers can retrieve a comprehensive list of transactions for a given statement, facilitating activities such as financial analysis and reporting. This API is especially beneficial for financial institutions and third-party developers integrating with banking services. Typical use cases include auditing, customer inquiries, and transaction categorization, ensuring users have access to accurate financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements/{statementId}/transactions": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve transactions for a specific account statement.",
        "description": "Fetches the list of transactions associated with a specific account statement identified by the resource ID. This endpoint allows developers to obtain detailed transaction information, enabling better financial insights for the user.",
        "operationId": "listStatementTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/statementId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving transactions associated with a specific account statement. This request allows the client to specify parameters that define the desired transaction data to be returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListStatementTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of transactions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStatementTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListStatementTransactionsRequest": {
        "title": "Transaction Request Body",
        "type": "string",
        "description": "A placeholder schema representing the request body for retrieving transaction operations.",
        "example": "{}"
      },
      "ListStatementTransactionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "description": "A list of transactions associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            },
            "description": "Contains transaction data related to the account statements.",
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-167234",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-310"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "ID used for correlating multiple requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "6161c50a-7189-5a65-92ab-768a670e137d",
              "correlationId": "dfc76468-8dea-5134-8ee2-773947e0946d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-167234",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-310"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "6161c50a-7189-5a65-92ab-768a670e137d",
            "correlationId": "dfc76468-8dea-5134-8ee2-773947e0946d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the transaction.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "string"
          },
          "reference": {
            "type": "string",
            "description": "Reference number for the transaction.",
            "example": "string"
          },
          "StatementReference": {
            "type": "array",
            "description": "References tied to the statement that includes this transaction.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the transaction is a credit or debit.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "string"
          },
          "mutability": {
            "type": "string",
            "description": "Indicates if the transaction can be altered.",
            "example": "string"
          },
          "BookingDateTime": {
            "type": "string",
            "description": "Date and time when the transaction was booked.",
            "example": "string"
          },
          "ValueDateTime": {
            "type": "string",
            "description": "Date and time when the transaction value applies.",
            "example": "string"
          },
          "information": {
            "type": "string",
            "description": "Additional information about the transaction.",
            "example": "string"
          },
          "AddressLine": {
            "type": "string",
            "description": "Address associated with the transaction, if applicable.",
            "example": "string"
          },
          "Amount": {
            "description": "The amount involved in the transaction.",
            "$ref": "#/components/schemas/Money"
          },
          "ChargeAmount": {
            "description": "Any charges associated with the transaction.",
            "$ref": "#/components/schemas/Money"
          },
          "CurrencyExchange": {
            "type": "object",
            "properties": {
              "SourceCurrency": {
                "type": "string",
                "description": "The currency from which the conversion originates.",
                "example": "string"
              },
              "TargetCurrency": {
                "type": "string",
                "description": "The currency to which the conversion occurs.",
                "example": "string"
              },
              "UnitCurrency": {
                "type": "string",
                "description": "Currency used as the base for specific units of exchange.",
                "example": "string"
              },
              "ExchangeRate": {
                "type": "number",
                "description": "Rate of exchange between the source and target currencies.",
                "example": 0.0
              },
              "ContractIdentification": {
                "type": "string",
                "description": "Identification number for the currency exchange contract.",
                "example": "string"
              },
              "QuotationDate": {
                "type": "string",
                "description": "Date of the quoted exchange rate.",
                "example": "string"
              },
              "InstructedAmount": {
                "$ref": "#/components/schemas/Money"
              }
            },
            "description": "Details regarding currency exchange for the transaction."
          },
          "BankTransactionCode": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Main code for the bank transaction.",
                "example": "string"
              },
              "SubCode": {
                "type": "string",
                "description": "Sub-code for the bank transaction for further specification.",
                "example": "string"
              }
            },
            "description": "Code provided by the bank representing the transaction."
          },
          "code": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "The proprietary code itself.",
                "example": "string"
              },
              "Issuer": {
                "type": "string",
                "description": "Entity that issued the proprietary code.",
                "example": "string"
              }
            },
            "description": "Proprietary code related to the transaction."
          },
          "ExtendedProprietaryBankTransactionCodes": {
            "type": "array",
            "description": "Extended proprietary codes associated with the transaction.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Extended code for the transaction.",
                  "example": "string"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the extended code.",
                  "example": "string"
                },
                "Description": {
                  "type": "string",
                  "description": "Description of the extended code.",
                  "example": "string"
                }
              }
            }
          },
          "Balance": {
            "type": "object",
            "properties": {
              "CreditDebitIndicator": {
                "type": "string",
                "description": "Indicates whether the balance is a credit or a debit.",
                "example": "string"
              },
              "Type": {
                "type": "string",
                "description": "Type of balance (available, actual, etc.).",
                "example": "string"
              },
              "Amount": {
                "$ref": "#/components/schemas/Money"
              }
            },
            "description": "Balance information related to the transaction."
          },
          "MerchantDetails": {
            "type": "object",
            "properties": {
              "MerchantName": {
                "type": "string",
                "description": "Name of the merchant.",
                "example": "string"
              }
            },
            "description": "Information about the merchant involved in the transaction."
          }
        },
        "description": "Represents a single financial transaction."
      },
      "Money": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numerical value of the money.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money with associated currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "statementId": {
        "name": "statementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, allowing clients to trace requests to specific services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements-statement-id-transactions"
        },
        "example": "accounts-api-get-accounts-account-id-statements-statement-id-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that employs JSON Web Tokens (JWT) for bearer authentication. Clients must include a valid JWT in the 'Authorization' header as a Bearer token to access protected routes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}