{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Terminal Management API",
    "description": "The Card Terminal Management API facilitates the administration of card terminals within specific banking channels. This endpoint enables users to retrieve configuration details and operational status of card terminals identified by unique parameters. Typically utilized by bank administrators and IT personnel, it supports effective monitoring and management of terminal capabilities. By providing essential operational data, this API ensures that banking institutions can maintain seamless card transaction services and improve customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-administration/{param1}": {
      "get": {
        "tags": [
          "Card Terminal Administration"
        ],
        "summary": "Retrieve card terminal administration details.",
        "description": "Fetches the detailed information for the specified card terminal administration identified by the given ID. This operation helps in managing and viewing the specific settings and status of the card terminal.",
        "operationId": "getCardTerminalAdministrationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a specific card terminal administration operation identified by CARD-400045. It contains the necessary parameters to execute the operation and should be formatted in JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardTerminalAdministrationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the specified card terminal data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardTerminalAdministrationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardTerminalAdministrationByIdRequest": {
        "type": "string",
        "description": "A request body for the GET operation related to the card terminal administration, specifically for card operations with identifier CARD-400045.",
        "example": "{}"
      },
      "GetCardTerminalAdministrationByIdResponse_200": {
        "title": "Card Terminal Administration Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region of the terminal.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Operating hours for the terminal.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Maximum number of transactions that can be processed daily.",
            "format": "int32",
            "example": 1
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant owning the terminal.",
            "example": "MER-591852"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the terminal's configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the terminal record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the terminal.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for card terminal administration operations, providing detailed information about a specific terminal's configuration and status.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "terminalId": "STANDARD",
          "merchantId": "MER-591852",
          "terminalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "060896d7-a8c4-505a-89c7-07c215a4b4e8",
            "correlationId": "1afbb061-0a22-58b3-b627-f89589e63137",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the service window.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the service window.",
            "example": "20:00"
          }
        },
        "description": "Represents the operating hours of a terminal."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across different systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2021-09-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Represents additional metadata regarding the terminal response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-administration-get-card-terminal-administration"
        },
        "example": "card-terminal-administration-get-card-terminal-administration"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format. Clients must provide a valid JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}