{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Data Switch Configuration API",
    "description": "The Market Data Switch Configuration API enables users to manage and update configurations related to market data switches within the banking environment. By utilizing this API, financial institutions can efficiently adapt their data flow settings in response to changing market conditions. Typical consumers include system administrators and application developers who require dynamic data management solutions. This API supports operations that ensure optimal performance and reliability of market data streams, promoting effective decision-making and data utilization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-administration/{param1}": {
      "patch": {
        "tags": [
          "Market Data Management"
        ],
        "summary": "Update Market Data Switch Administration",
        "description": "This endpoint allows for the modification of the market data switch administration settings for the specified resource. Use this operation to ensure that the settings are up to date and configured correctly.",
        "operationId": "patchMarketDataSwitchAdministrationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This PATCH request updates the configuration of the market data switch identified by RES-100045. The request body must contain the necessary fields to modify the current settings, structured as per the defined schema. Ensure that any required fields are included and that the data types match the specifications to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMarketDataSwitchAdministrationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMarketDataSwitchAdministrationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchMarketDataSwitchAdministrationRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be applied in the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Description of the reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation in market data switch administration.",
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-188"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "a5884059-12b7-5455-9033-975823468f14",
            "correlationId": "89e16713-67ed-5f2a-81a1-2889c5434a71",
            "idempotencyKey": "ccee05c0-7da7-5ac7-a9ac-e85a2208b7a1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-760199"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "string"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number for the instrument.",
            "example": "string"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "string"
          }
        },
        "description": "Schema representing the individual changes applied to market data."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information used for the request."
      },
      "PatchMarketDataSwitchAdministrationRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation in the market data switch administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d695dbe5-32c8-5a6b-b4de-77d3f144404f",
            "correlationId": "89e16713-67ed-5f2a-81a1-2889c5434a71",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-administration-update-market-data-switch-administration"
        },
        "example": "market-data-switch-administration-update-market-data-switch-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme utilizes JSON Web Tokens (JWT) for securely transmitting information between parties. The bearer token should be included in the authorization header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}