{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Syndication Management API",
    "description": "The Loan Syndication Management API facilitates the orchestration of loan syndication processes, enabling financial institutions to collaborate in the distribution of large loans. This API supports operations involved in initiating and managing syndications, helping users streamline partnerships with multiple lenders. Typical consumers include banks, financial service providers, and loan syndication platforms looking to enhance their operational efficiency. With this API, users can expect a robust solution for managing intricate lending arrangements and improving capital distribution strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/loan-syndication": {
      "post": {
        "tags": [
          "Loan Syndication"
        ],
        "summary": "Initiate loan syndication process.",
        "description": "This endpoint initiates the process of loan syndication, allowing multiple lenders to collaborate on a single loan for better risk distribution. It handles all necessary data to structure and submit a loan syndication request.",
        "operationId": "createLoanSyndication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a loan syndication operation. It should include all necessary data required for processing the loan syndication request, in accordance with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanSyndicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The loan syndication request was successfully processed, and a new resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanSyndicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanSyndicationRequest": {
        "title": "Loan Syndication Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-304715"
          },
          "caseId": {
            "type": "string",
            "description": "The identifier for the specific case related to the loan syndication.",
            "example": "CASE-475344"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request, indicating the type of operation being performed.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request, such as 'high', 'medium', or 'low'.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated, such as 'web', 'mobile', etc.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata related to the request, providing context for its processing.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for loan syndication operations. It includes customer details, request metadata, and context for processing the request.",
        "example": {
          "customerId": "CUST-304715",
          "caseId": "CASE-475344",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "cc93d823-57ba-5003-b744-fc06c0f912a9",
            "correlationId": "fcd754ae-9f59-5921-a9ec-64cf1ae043bb",
            "idempotencyKey": "4573a31a-1889-59b6-8d39-9e7120bfaa10",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872646"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests can be identified and handled appropriately.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was initiated.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates metadata about the request, such as identifiers and timestamps to aid in processing."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel, such as 'web', 'mobile', etc.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "This schema provides information about the channel used for the request, including identifiers and types."
      },
      "CreateLoanSyndicationResponse_201": {
        "title": "Loan Syndication Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the loan syndication.",
            "example": "CUST-125284"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case related to the loan syndication.",
            "example": "CASE-827569"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource created or affected by the loan syndication operation.",
            "example": "RES-335833"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan syndication operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the loan syndication was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the loan syndication operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object indicating the result of a loan syndication operation.",
        "example": {
          "customerId": "CUST-125284",
          "caseId": "CASE-827569",
          "resourceId": "RES-335833",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3defc702-d31d-5e30-8643-e9d1475fd0b3",
            "correlationId": "fcd754ae-9f59-5921-a9ec-64cf1ae043bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the operation.",
            "example": "resp-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "corr-321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the operation occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the loan syndication operation, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-syndication-create-loan-syndication"
        },
        "example": "loan-syndication-create-loan-syndication"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token, typically in the form of a JSON Web Token (JWT). Clients must include the token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}