{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Securities Fails Processing-spec",
    "description": "This API facilitates the intricate handling of securities fails within market operations. By utilizing this endpoint, financial institutions can efficiently identify, manage, and rectify instances of securities processing failures. Typical consumers of this API are trading platforms, financial service providers, and regulatory authorities who require a streamlined approach to maintain compliance and operational integrity. It allows organizations to enhance their workflows and ensure accuracy in securities transactions, ultimately improving the overall transaction lifecycle.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/securities-fails-processing": {
      "post": {
        "tags": [
          "Securities Operations"
        ],
        "summary": "Process securities fails.",
        "description": "This operation handles the processing of securities fails, ensuring that all necessary steps are taken to resolve any issues that arise in the transaction lifecycle. It involves validating the fails, taking corrective actions, and updating the relevant records accordingly.",
        "operationId": "createMarketOperationSecuritiesFailsProcessing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the processing of securities fails operations. It allows the submission of necessary data to resolve issues related to failed securities transactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationSecuritiesFailsProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationSecuritiesFailsProcessingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationSecuritiesFailsProcessingRequest": {
        "title": "Securities Fail Processing Request",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "A unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the settlement is expected to occur.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units to be settled.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement is to be made.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "A unique identifier for the custodian responsible for the securities.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for processing securities fails in market operations. This represents the body of the request to handle a failure during securities settlement.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "requestContext": {
            "requestId": "3f985556-f597-5c47-8f95-8ad1c70d3e1f",
            "correlationId": "ce04375f-e837-5fcc-87f9-dc8c41f85211",
            "idempotencyKey": "da4993e9-b7e8-506e-be1e-50a5dc46c0c7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-315457"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual metadata associated with the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request is made.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which a request is made."
      },
      "CreateMarketOperationSecuritiesFailsProcessingResponse_202": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "A unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "A unique identifier for the custodian managing the asset.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference number for tracking the processing of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the processing operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the operation was accepted for processing.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response associated with the processing operation.",
                "example": "response-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier for correlating multiple operations or requests.",
                "example": "correlation-12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographical region where the processing was executed.",
                "example": "EU"
              }
            },
            "description": "Additional information regarding the processing operation.",
            "example": {
              "responseId": "1ac9922f-94ea-592a-ad6f-9e28de024f9c",
              "correlationId": "ce04375f-e837-5fcc-87f9-dc8c41f85211",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "1ac9922f-94ea-592a-ad6f-9e28de024f9c",
            "correlationId": "ce04375f-e837-5fcc-87f9-dc8c41f85211",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-fails-processing-process-securities-fails-processing"
        },
        "example": "securities-fails-processing-process-securities-fails-processing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to securely transmit user credentials. Clients must include a valid JWT token in the Authorization header when making requests to endpoints that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}