{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Campaign Execution API",
    "description": "The Customer Campaign Execution API enables businesses to execute and monitor customer engagement campaigns effectively. It allows users to retrieve detailed information about the performance of ongoing and past marketing campaigns targeted at customers. This API is particularly useful for marketing teams and sales analysts who need to assess campaign success and optimize future initiatives. By leveraging this API, organizations can enhance their customer interaction strategies and drive sales growth.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/customer-campaign-execution": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve customer campaign execution details.",
        "description": "This endpoint allows you to fetch detailed information about the execution of customer campaigns, including outcomes and metrics to evaluate effectiveness.",
        "operationId": "getCustomerCampaignExecution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint retrieves the execution details of a customer campaign. Ensure that all required parameters are properly populated in the request body to successfully fetch the desired information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCampaignExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer campaign execution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCampaignExecutionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCampaignExecutionRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to customer campaign execution. The value should be a string that contains the relevant data for the operation.",
        "example": "{}"
      },
      "GetCustomerCampaignExecutionResponse_200": {
        "title": "Campaign Execution Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of campaign items, each containing specific details related to campaign execution.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "campaignObjective": "STANDARD",
                "controlGroupPercent": 1,
                "contactFrequencyCap": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "prospectId": {
                  "type": "string",
                  "description": "Unique identifier for the prospect.",
                  "example": "string"
                },
                "productCode": {
                  "type": "string",
                  "description": "Code representing the product associated with the campaign.",
                  "example": "string"
                },
                "salesChannel": {
                  "type": "string",
                  "description": "Channel through which the sale is made.",
                  "example": "string"
                },
                "relationshipManagerId": {
                  "type": "string",
                  "description": "Identifier of the relationship manager handling the prospect.",
                  "example": "string"
                },
                "expectedValue": {
                  "$ref": "#/components/schemas/ExpectedValue"
                },
                "campaignObjective": {
                  "type": "string",
                  "description": "Objective of the campaign.",
                  "example": "string"
                },
                "controlGroupPercent": {
                  "type": "integer",
                  "description": "Percentage of control group included in the campaign.",
                  "format": "int32",
                  "example": 0
                },
                "contactFrequencyCap": {
                  "type": "integer",
                  "description": "Limit on how frequently the prospect can be contacted.",
                  "format": "int32",
                  "example": 0
                },
                "recordStatus": {
                  "type": "string",
                  "description": "Status of the campaign record.",
                  "example": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Timestamp of when the campaign item was last updated.",
                  "example": "string"
                }
              },
              "description": "Details of an individual campaign item."
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response for the campaign execution operations, including the details of the campaign items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "campaignObjective": "STANDARD",
              "controlGroupPercent": 1,
              "contactFrequencyCap": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "87640f3e-1a23-59c2-acba-c7c808d49013",
            "correlationId": "7491d45c-8691-5772-bc11-dcfe74e03507",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount of the expected value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the expected value amount.",
            "example": "USD"
          }
        },
        "description": "Represents the expected monetary value of a campaign item."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information related to the pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Meta-information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-execution-search-customer-campaign-execution"
        },
        "example": "customer-campaign-execution-search-customer-campaign-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens. The token is expected to be a JSON Web Token (JWT). This method allows clients to authenticate by including the token in the 'Authorization' header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}