{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m By Settlement Id-spec",
    "description": "The P2M Settlement Update API allows clients to modify existing payment-to-merchant (P2M) settlement records using a specific settlement ID. This operation is essential for businesses needing to correct or update settlement details to ensure accurate financial reporting and transaction management. Typical consumers include financial institutions, accounting systems, and merchant platforms that require real-time updates to settlement data. This API provides the flexibility to maintain accurate records and support compliance with financial regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}": {
      "patch": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Update a settlement by its unique identifier.",
        "description": "This operation allows users to modify the details of an existing settlement using its unique identifier. Provide the necessary fields in the request body to update specific attributes of the settlement.",
        "operationId": "updateP2mBySettlementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "Allows the partial update of settlement details for the specified resource identified by RES-100045. This request body should contain only the fields that need to be changed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mBySettlementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the settlement has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mBySettlementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mBySettlementIdRequest": {
        "title": "Patch Settlement Request Body",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the settlement to be updated.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching a settlement operation.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "95e859c9-c487-56e7-b0df-1ae848a4ab06",
            "correlationId": "85c1909a-84ac-55b1-9098-1fe2267c978a",
            "idempotencyKey": "18aa9190-ee95-5b24-bc3d-1c4f0b0d11c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-569920"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate different requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "AppA"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, Email).",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "device-123"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "UpdateP2mBySettlementIdResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement.",
            "example": "MER-738263"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "ACC-952028"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the settlement is conducted.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of the settlement details.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "Total number of lines in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference identifier used by the bank for payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "Expected date for payout.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "Date when the payout was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the settlement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-738263",
          "settlementAccountId": "ACC-952028",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "e712e9f2-b8c9-5d66-bf4a-2e512805f125",
            "correlationId": "85c1909a-84ac-55b1-9098-1fe2267c978a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments during the settlement period.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "refunds": {
            "description": "Total refunds processed during the settlement period.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reversals": {
            "description": "Total reversals during the settlement period.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "disputes": {
            "description": "Total disputes occurring during the settlement period.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "fees": {
            "description": "Total fees incurred as part of the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "taxes": {
            "description": "Total taxes applicable during the settlement period.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reserveHeld": {
            "description": "Total reserve amount held during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reserveReleased": {
            "description": "Total reserve amount released during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "adjustments": {
            "description": "Total adjustments made during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "netSettlement": {
            "description": "Net amount of the settlement after all adjustments.",
            "$ref": "#/components/schemas/FinancialDetail"
          }
        },
        "description": "Summary containing various financial details of the settlement."
      },
      "FinancialDetail": {
        "title": "Financial Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the value is expressed.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Numeric value of the financial detail.",
            "example": "1000.00"
          }
        },
        "description": "Detail of a financial concept including currency and value."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the settlement was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the settlement.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the settlement was last updated.",
            "example": "2023-01-15T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the settlement.",
            "example": "admin"
          }
        },
        "description": "Information relevant to the audit of the settlement process."
      },
      "Metadata": {
        "title": "Settlement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-31T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the settlement is processed.",
            "example": "US"
          }
        },
        "description": "Additional metadata related to the settlement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that has been called, useful for tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-settlement"
        },
        "example": "banking-p2m-openapi-update-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, allowing for easier identification of source services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). JWTs are commonly used to securely transmit information between parties as a JSON object. This information can be verified and trusted because it is digitally signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}