{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Trade Banking Credit Facility-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Trade Banking Credit Facility-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-facility": {
      "post": {
        "operationId": "createBankingTradeBankingCreditFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingTradeBankingCreditFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingTradeBankingCreditFacilityResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingTradeBankingCreditFacilityRequest": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "example": "CUST-279535"
          },
          "facilityId": {
            "type": "string",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "example": "PARTY-137172"
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "value": 100.0,
              "currency": "USD"
            }
          },
          "maturityDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "c8da0c42-4d91-56cc-bd67-85767d275f2a",
              "correlationId": "9b1884df-d55f-52c2-b908-d00bb4066eb2",
              "idempotencyKey": "6ca4b5f9-760e-503f-9e10-15f2a0635471",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-580542"
              }
            }
          }
        },
        "example": {
          "corporateCustomerId": "CUST-279535",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-137172",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "c8da0c42-4d91-56cc-bd67-85767d275f2a",
            "correlationId": "9b1884df-d55f-52c2-b908-d00bb4066eb2",
            "idempotencyKey": "6ca4b5f9-760e-503f-9e10-15f2a0635471",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-580542"
            }
          }
        }
      },
      "CreateBankingTradeBankingCreditFacilityResponse_201": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "example": "CUST-931555"
          },
          "facilityId": {
            "type": "string",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "example": "PARTY-419516"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-431704"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "655aa012-658d-5882-a749-aaf92064e197",
              "correlationId": "9b1884df-d55f-52c2-b908-d00bb4066eb2",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "corporateCustomerId": "CUST-931555",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-419516",
          "resourceId": "RES-431704",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "655aa012-658d-5882-a749-aaf92064e197",
            "correlationId": "9b1884df-d55f-52c2-b908-d00bb4066eb2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-facility-create-credit-facility"
        },
        "example": "credit-facility-create-credit-facility"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}