{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Business Direction Corporate Policy-spec",
    "description": "The Corporate Policy Management API facilitates the creation and management of corporate policies within the business direction domain. This endpoint allows users to set up new policies that align with organizational goals and compliance standards. Typical consumers of this API include corporate governance teams and compliance officers who need to ensure that corporate policies are documented and updated efficiently. The API streamlines the process of policy creation, enabling businesses to respond swiftly to regulatory changes and internal requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/corporate-policies": {
      "post": {
        "tags": [
          "Corporate Policy Management"
        ],
        "summary": "Create a new corporate policy.",
        "description": "This endpoint allows the user to create and manage corporate policies within the business direction framework. Utilize this feature to establish new guidelines and regulations that govern corporate behavior and decision-making.",
        "operationId": "createBusinessDirectionCorporatePolicy",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for creating new corporate policies within the business direction context. It should contain all necessary information adhering to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessDirectionCorporatePolicyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the system.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessDirectionCorporatePolicyResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessDirectionCorporatePolicyRequest": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The identifier of the sponsor associated with the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative, specifying the time frame.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target completion date for the initiative.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "fff354ae-a25d-5e9f-bdb7-f4d952d0381a",
            "correlationId": "1273f276-bf1e-59bf-9cc0-ec95f1b533fc",
            "idempotencyKey": "ff8dc5b0-1eed-59d0-9ad9-844c00662a5f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-641350"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate logs and events for this request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        }
      },
      "CreateBusinessDirectionCorporatePolicyResponse_201": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-311153"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the item was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Corporate Policies Operations POST request.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "resourceId": "RES-311153",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "383c6c43-33dc-57ae-a339-fe824d8ebf3b",
            "correlationId": "1273f276-bf1e-59bf-9cc0-ec95f1b533fc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request and the response.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This helps in tracking requests and monitoring the usage of specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-policies-create-corporate-policies"
        },
        "example": "corporate-policies-create-corporate-policies"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which this request was processed. Useful for identifying the source of the request during debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}