{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Management API",
    "description": "The Investment Portfolio Management API enables businesses to efficiently manage and optimize their investment portfolios. By utilizing this API, users can create and modify investment portfolios, track performance metrics, and implement strategic asset allocation strategies. This service is designed for financial advisors, asset managers, and investment firms looking to enhance their portfolio management capabilities. Streamlining investment processes, it supports operations such as portfolio creation, updates, and performance evaluation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-management": {
      "post": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Create a new investment portfolio.",
        "description": "This endpoint allows users to create a new investment portfolio by providing the necessary details. Users can specify various attributes related to their investment strategy which will be stored for future management and analysis.",
        "operationId": "createInvestmentPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating an investment portfolio. This should include all the necessary details regarding the investment strategies, asset allocations, and any specific instructions related to portfolio management.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvestmentPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Investment portfolio created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvestmentPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInvestmentPortfolioRequest": {
        "title": "Investment Portfolio Management Request",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the investment portfolio.",
            "example": "PORT-434027"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account associated with the portfolio.",
            "example": "ACC-864546"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective defined for the portfolio.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the investment strategy.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the investment portfolio.",
            "example": "USD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the investment portfolio management operation.",
        "example": {
          "portfolioId": "PORT-434027",
          "investmentAccountId": "ACC-864546",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "560ffc4e-1376-592d-9929-4f7168b9dc43",
            "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
            "idempotencyKey": "769d1398-9b0d-5709-b1f4-fd1476696839",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-890236"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests across systems.",
            "example": "corr-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to uniquely identify the request for idempotency.",
            "example": "idempotent-key-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "InvestmentApp"
          },
          "channel": {
            "description": "Details regarding the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-999"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device making the request.",
            "example": "device-888"
          }
        },
        "description": "Schema representing information about the channel used in the request."
      },
      "CreateInvestmentPortfolioResponse_201": {
        "title": "Investment Portfolio Management Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "A unique identifier for the investment portfolio.",
            "example": "PORT-485210"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "A unique identifier for the investment account associated with the portfolio.",
            "example": "ACC-969087"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource linked to this portfolio management action.",
            "example": "RES-963975"
          },
          "status": {
            "type": "string",
            "description": "The current status of the portfolio operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the portfolio was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object that represents the details of an investment portfolio management action.",
        "example": {
          "portfolioId": "PORT-485210",
          "investmentAccountId": "ACC-969087",
          "resourceId": "RES-963975",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c6d019c5-feff-5a4d-9825-5d55a9239a00",
            "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace requests and responses for a specific user action or transaction.",
            "example": "correlation-abc-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata for tracking and verifying the processing of the portfolio management operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being invoked. This helps in tracking and logging the requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-management-create-investment-portfolio-management"
        },
        "example": "investment-portfolio-management-create-investment-portfolio-management"
      },
      "X-Runtime-App": {
        "description": "The version of the application runtime that processed the request. This is valuable for debugging and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to verify the identity of users. Clients must include a valid JWT in the Authorization header prefixed by 'Bearer '.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}