{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Framework Agreement API",
    "description": "The Term Deposit Framework Agreement API allows users to access critical information regarding term deposit agreements within the banking system. By utilizing this API, consumers can retrieve detailed specifications and terms related to various term deposit offerings. It is particularly useful for financial institutions and clients looking to evaluate deposit options. This API streamlines the process of information retrieval, ensuring that users can make informed decisions regarding their deposit investments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit-framework-agreement": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve the term deposit framework agreement.",
        "description": "This endpoint allows you to retrieve the details of the term deposit framework agreement, providing you with all the necessary information about the agreement structure and terms.",
        "operationId": "getTermDepositFrameworkAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for the Term Deposit Framework Agreement within the deposit lending context. It should include the necessary parameters and data as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTermDepositFrameworkAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the term deposit framework agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTermDepositFrameworkAgreementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTermDepositFrameworkAgreementRequest": {
        "type": "string",
        "description": "A JSON string representation of the request body for the Get Operations on the Term Deposit Framework Agreement.",
        "example": "{}"
      },
      "GetTermDepositFrameworkAgreementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of term deposit accounts.",
            "example": [
              {
                "customerId": "CUST-860284",
                "accountId": "ACC-234123",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "depositAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "tenorDays": 1,
                "maturityInstruction": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TermDepositAccount"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Term Deposit Framework Agreement Operations GET request.",
        "example": {
          "items": [
            {
              "customerId": "CUST-860284",
              "accountId": "ACC-234123",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "depositAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "tenorDays": 1,
              "maturityInstruction": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cf0b263f-9942-5841-8089-02a55444f295",
            "correlationId": "db972517-700b-57cf-912f-2fce9910be04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TermDepositAccount": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product associated with the deposit.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "Length of the deposit term in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the deposit.",
            "example": "string"
          },
          "depositAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "tenorDays": {
            "type": "integer",
            "description": "Duration of the deposit in days.",
            "format": "int32",
            "example": 0
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions regarding the maturity of the deposit.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record for the deposit account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a term deposit account."
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the monetary amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount of money defined by its value and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination metadata for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking request correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific API endpoint that was accessed. This value helps in tracking and debugging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-search-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-search-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "Name of the application or service that handled the request. Useful for monitoring and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. Tokens must be provided in the Authorization header as a 'Bearer {token}' format. The security specification follows the JSON Web Token (JWT) standard, enabling robust authentication for API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}