{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Sale Commission Agreements-spec",
    "description": "The Sale Commission Agreements Retrieval API enables users to access detailed information regarding sale commission agreements within the banking system. This endpoint provides a comprehensive list of existing agreements, facilitating transparency and management of commission structures. Typical consumers include banking personnel and financial analysts who utilize this information for reporting and analysis purposes. By retrieving the commission agreements, users can ensure they remain informed about terms and conditions impacting sales performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement": {
      "get": {
        "tags": [
          "Sales"
        ],
        "summary": "Retrieve commission agreement details.",
        "description": "This endpoint allows clients to fetch the details of commission agreements, including terms and applicable rates. Use this information to understand how commissions are structured for sales representatives.",
        "operationId": "listSaleCommissionAgreements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve the commission agreement details, including sales representatives and applicable commission rates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSaleCommissionAgreementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the commission agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSaleCommissionAgreementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListSaleCommissionAgreementsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the sales commission agreement operation. It is expected to be a string.",
        "example": "{}"
      },
      "ListSaleCommissionAgreementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of commission agreement items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "salesPersonId": "STANDARD",
                "commissionPlanId": "STANDARD",
                "eligibleRevenue": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CommissionAgreementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the sales commission agreement operations, containing the list of items and pagination details.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "salesPersonId": "STANDARD",
              "commissionPlanId": "STANDARD",
              "eligibleRevenue": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6beb54e1-003c-5240-8fa8-234d52e56f2f",
            "correlationId": "45f91e44-78ab-5ac7-b619-3f5de4402010",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CommissionAgreementItem": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product associated with the agreement.",
            "example": "string"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the product is sold.",
            "example": "string"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the account.",
            "example": "string"
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson involved in the transaction.",
            "example": "string"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan tied to this agreement.",
            "example": "string"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "The total eligible revenue for the commission.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the agreement record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single commission agreement item."
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The expected amount in the specified currency.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the expected amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the expected financial value of the commission agreement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of the page (number of items per page).",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema containing pagination details for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to track the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking the specific endpoint usage within the application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-search-commission-agreement"
        },
        "example": "commission-agreement-search-commission-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request. This provides context on which app is processing the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token to authenticate requests. The token should be a valid JSON Web Token (JWT) providing access to the API's resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}