{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Contact Routings-spec",
    "description": "The Cross Channel Contact Routing API provides a comprehensive overview of the contact routing strategies deployed across various communication channels within the banking system. This endpoint allows users to query and retrieve accurate contact routing configurations, enabling businesses to enhance customer interactions. Typical consumers of this API include customer service teams and integration developers who need to optimize routing capabilities for improved service delivery. It serves as a critical tool for ensuring that customer inquiries are directed to the appropriate channels efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-routing": {
      "get": {
        "tags": [
          "Contact Management"
        ],
        "summary": "Retrieve contact routing information across channels.",
        "description": "This endpoint allows you to fetch the routing details for contacts across various channels, ensuring optimal engagement based on user preferences and behaviors.",
        "operationId": "listCrossChannelContactRoutings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters needed for the GET operation on the contact routing functionality in the cross-channel context. It provides necessary inputs to tailor the response based on user requests.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelContactRoutingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of contact routing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelContactRoutingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelContactRoutingsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to contact routing via Cross-Channel.",
        "example": "{}"
      },
      "ListCrossChannelContactRoutingsResponse_200": {
        "title": "Cross-Channel Contact Routing Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of contact routing items.",
            "example": [
              {
                "partyId": "PARTY-869249",
                "interactionId": "INT-565431",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContactRoutingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationDetails"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Schema representing the response structure for the cross-channel contact routing GET operation.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-869249",
              "interactionId": "INT-565431",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2e05233b-2d33-5b08-ac9a-f72379e28935",
            "correlationId": "96711cdb-38b7-5861-8180-433849e0feb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContactRoutingItem": {
        "title": "Contact Routing Item",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication for the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated."
          }
        },
        "description": "Schema representing a single item in the contact routing list."
      },
      "PaginationDetails": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema providing details about pagination in the response."
      },
      "MetadataDetails": {
        "title": "Metadata Details",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Schema providing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the API endpoint that generated this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-routing-search-contact-routing"
        },
        "example": "contact-routing-search-contact-routing"
      },
      "X-Runtime-App": {
        "description": "The application that processed the request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Token authentication method where a valid JWT (JSON Web Token) is provided in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}