{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Wholesale Trading Credit Risk Operations-spec",
    "description": "The Wholesale Trading Credit Risk Operations API provides stakeholders with access to credit risk information specific to wholesale trading activities. It enables users to query and retrieve comprehensive data on credit risk operations, facilitating informed decision-making and risk assessments. This API is particularly beneficial for traders, risk analysts, and compliance officers who need to evaluate credit exposures and manage financial risks. By leveraging this API, organizations can enhance their risk management strategies and ensure regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/credit-risk-operations": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve credit risk operations data for wholesale trading.",
        "description": "This endpoint allows you to fetch the current credit risk operations data related to wholesale trading activities. It provides insights into the performance and risk exposure inherent in the wholesale trading sector.",
        "operationId": "listWholesaleTradingCreditRiskOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve credit risk operations related to wholesale trading. It is essential for accessing specific data points required for assessing credit risks effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWholesaleTradingCreditRiskOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved credit risk operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWholesaleTradingCreditRiskOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListWholesaleTradingCreditRiskOperationsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for credit risk operations in wholesale trading.",
        "example": "{}"
      },
      "ListWholesaleTradingCreditRiskOperationsResponse_200": {
        "title": "Credit Risk Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trading operation items.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the trading operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Credit Risk Operations GET request, containing the list of trading operations and associated metadata.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ad3659a6-0f05-5442-8d1e-4c90141099bd",
            "correlationId": "174248ca-c1a0-5087-8028-ca1c60eae8ba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingOperation": {
        "title": "Trading Operation",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "Indicates the side of the trade (e.g., buy or sell).",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "Amount of the financial instrument being traded.",
            "format": "int32",
            "example": 0
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the trade record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the trading operation.",
            "example": "string"
          }
        },
        "description": "Schema representing a single trading operation within the credit risk operations.",
        "example": {
          "tradingBookId": "string",
          "instrumentId": "string",
          "side": "string",
          "quantity": 0,
          "limitPrice": {
            "value": 0.0,
            "currency": "string"
          },
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the limit price.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price details for a trading operation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the list of trading operations."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response for tracking and information purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-risk-operations-search-credit-risk-operations"
        },
        "example": "credit-risk-operations-search-credit-risk-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be a valid JSON Web Token (JWT) that allows access to the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}