{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Business Control Organization Direction-spec",
    "description": "The Business Control Organization Direction Management API facilitates the establishment and management of organizational directives within the banking domain. This API allows users to create new organizational direction specifications that guide business control processes. Common use cases include banking institutions looking to optimize their organizational structure and strategic direction. Typical consumers include business analysts, operations managers, and strategic planners who require a streamlined approach to define and manage organizational directives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/organization-direction": {
      "post": {
        "tags": [
          "Business Control"
        ],
        "summary": "Create a new organization direction.",
        "description": "This endpoint allows users to create a new organization direction within the business control system. It requires specific details regarding the direction to be set, ensuring that the new entry meets the business requirements and aligns with existing organizational standards.",
        "operationId": "createBusinessControlOrganizationDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or modify the organization direction in the business control system. It requires a valid JSON object that adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessControlOrganizationDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessControlOrganizationDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessControlOrganizationDirectionRequest": {
        "title": "Operations POST Request Body",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Identifier of the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier of the cost center.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for the budget.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "Details of the budget including amount and currency.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Operations POST operation pertaining to business control and organization direction.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "requestContext": {
            "requestId": "cefc7855-528c-5a8b-8729-ffb86aeeb621",
            "correlationId": "91006d1f-0888-51a4-9a8a-d5e7409d4839",
            "idempotencyKey": "1dea524f-c769-5db0-a5d3-080f9f63bc0b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-396508"
            }
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the budget.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the budget amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the budget details including amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device through which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel through which the request was made."
      },
      "CreateBusinessControlOrganizationDirectionResponse_201": {
        "title": "Business Control Organization Direction Response",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the operation.",
            "example": "RES-994599"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created, formatted as an ISO 8601 string.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation's response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Business Control Organization Direction operations.",
        "example": {
          "businessUnitId": "STANDARD",
          "resourceId": "RES-994599",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "06d04de4-8bbf-5707-90c4-0419b30ecf0d",
            "correlationId": "91006d1f-0888-51a4-9a8a-d5e7409d4839",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates multiple requests and responses.",
            "example": "CORR7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated, formatted as an ISO 8601 string.",
            "example": "2023-10-25T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata associated with the operation's response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-088"
        },
        "example": "WF-088"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4296bb17-50a0-4fb9-bfa3-04584acb1d51"
        },
        "example": "4296bb17-50a0-4fb9-bfa3-04584acb1d51"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4edc3888-fbf3-47b3-bbc6-a65b91f5df07"
        },
        "example": "4edc3888-fbf3-47b3-bbc6-a65b91f5df07"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint related to the request being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "organization-direction-create-organization-direction"
        },
        "example": "organization-direction-create-organization-direction"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is currently being executed and handling this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow instance managing the operations associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-088"
        },
        "example": "WF-088"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed, providing context for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Business Continuity Activation and Recovery"
        },
        "example": "Business Continuity Activation and Recovery"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, used for tracking and reference.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4edc3888-fbf3-47b3-bbc6-a65b91f5df07"
        },
        "example": "4edc3888-fbf3-47b3-bbc6-a65b91f5df07"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication, allowing clients to access secured endpoints by providing a valid token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}