{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Decisions API",
    "description": "The Loan Application Decisions API allows businesses to update the decision status of specific loan applications. By using a decision ID, consumers can effectively manage and track loan approvals, rejections, or further actions needed on each application. This API is crucial for financial institutions and businesses that process loan applications and need to maintain accurate records of decision-making. Typical users include loan officers and administrative staff who require real-time updates and adjustments to the loan application process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions/{decisionId}": {
      "put": {
        "tags": [
          "Loan Application Management"
        ],
        "summary": "Update the decision for a specific loan application.",
        "description": "This operation allows the user to update the decision associated with the loan application identified by 'RES-100045'. It is essential for managing the status and outcome of loan applications effectively.",
        "operationId": "updateLoanApplicationDecision_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/decisionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the decision for the specified loan application. The expected input must conform to the structure defined in the associated schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationDecision_res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and decision updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationDecision_res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationDecision_res100045Request": {
        "title": "Loan Decision Request",
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made regarding the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source from which the decision was derived.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used in the decision-making process.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The estimated probability of default as a percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio as a percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The approved principal amount for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The approved annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes associated with the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A reason code for the decision.",
              "example": "R1"
            }
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions that must be met for the decision.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Comments related to the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "ID of the decision that this request supersedes, if applicable.",
            "example": "b281f07f-36ee-1c6c-8817-ef57aca98009"
          },
          "requestContext": {
            "description": "The context in which the request was made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a loan decision request, including various decision parameters and context.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "b281f07f-36ee-1c6c-8817-ef57aca98009",
          "requestContext": {
            "requestId": "0e94e5e6-6296-5511-a98d-167e821e53c9",
            "correlationId": "d5cac494-0f6c-5e79-9fc1-500c3b3a774d",
            "idempotencyKey": "bf29cc52-4b24-54f6-b776-1af89a62d9e4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-858630"
            }
          }
        }
      },
      "ApprovedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the approved principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the approved principal.",
            "example": "10000"
          }
        },
        "description": "Schema representing the approved principal amount and its currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the condition.",
            "example": "COND001"
          },
          "description": {
            "type": "string",
            "description": "Description of the condition.",
            "example": "Submit additional documentation."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date before which the condition must be fulfilled.",
            "example": "2023-10-15"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Schema representing a condition associated with a loan decision."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through the system.",
            "example": "corr_78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests have the same effect.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "CreditScoringSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "LoanManagementApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used to make the request.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request is made.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_123456"
          }
        },
        "description": "Schema representing the channel through which the request is made, including channel ID, type, and device ID."
      },
      "UpdateLoanApplicationDecision_res100045Response_200": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made regarding the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source from which the decision was made.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used for decision making.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The probability of default percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount that has been approved for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The approved term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate percentage approved.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes associated with the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Code A"
            }
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions that must be met as part of the decision.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Any additional comments regarding the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "ID of any previous decision that this decision supersedes.",
            "example": "1e3c9614-db0d-2413-3e37-e895728b62d2"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the decision.",
            "example": "b50df68f-1958-9dc7-d4c8-f65d5a1f556c"
          },
          "decidedAt": {
            "type": "string",
            "description": "Timestamp when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "Identifier of the person or system that made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the decision.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the decision.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan application decisions.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "1e3c9614-db0d-2413-3e37-e895728b62d2",
          "id": "b50df68f-1958-9dc7-d4c8-f65d5a1f556c",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "d8b4ac4b-a263-5e0b-af78-08b2d480647a",
            "correlationId": "d5cac494-0f6c-5e79-9fc1-500c3b3a774d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the decision was created.",
            "example": "2023-09-30T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the decision.",
            "example": "User123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the decision was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the decision.",
            "example": "User456"
          },
          "version": {
            "type": "integer",
            "description": "Version of the decision record, indicating changes made.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema providing audit information for the loan decision."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the response across systems.",
            "example": "C123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the decision was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata related to the decision response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "decisionId": {
        "name": "decisionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-credit-decision"
        },
        "example": "banking-loans-openapi-replace-credit-decision"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme via HTTP. A valid JSON Web Token (JWT) must be provided in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}