{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Fraud Diagnosi By Diagnos Id-spec",
    "description": "The Fraud Diagnosis Update API enables businesses to modify existing fraud diagnosis records based on a specific diagnosis ID. This operation allows financial institutions to maintain accurate records and ensure up-to-date fraud management strategies. Typical consumers of this API may include internal banking systems and fraud detection tools that require timely updates to diagnosis information. By streamlining the management of fraud diagnoses, organizations can enhance their customer service and risk mitigation capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis/diagnoses/{diagnosId}": {
      "put": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Update the fraud diagnosis for a specific account.",
        "description": "This endpoint allows you to update the fraud diagnosis for a specified account. Make sure to provide the necessary details in your request body to reflect the updates needed for the diagnosis.",
        "operationId": "replaceFraudDiagnosiByDiagnosId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/diagnosId"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to update the fraud diagnosis record for the specified account. Ensure that the payload conforms to the schema defined for the diagnosis update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceFraudDiagnosiByDiagnosIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceFraudDiagnosiByDiagnosIdResponse_200"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed due to semantic errors.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceFraudDiagnosiByDiagnosIdResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceFraudDiagnosiByDiagnosIdResponse_200": {
        "title": "Fraud Diagnosis Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account involved in the diagnosis.",
            "example": "ACC-705081"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-565520"
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction that was assessed.",
            "example": "TXN-514610"
          },
          "assessmentId": {
            "type": "string",
            "description": "The unique identifier for the assessment conducted.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The result of the fraud assessment (e.g., fraudulent, legitimate).",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The score given to the transaction based on the fraud assessment.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "The timestamp when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the fraud diagnosis process.",
            "$ref": "#/components/schemas/FraudDiagnosisMetadata"
          }
        },
        "description": "Schema representing the response for a fraud diagnosis operation.",
        "example": {
          "accountId": "ACC-705081",
          "customerId": "CUST-565520",
          "transactionId": "TXN-514610",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ca8f85ee-9e95-5680-a25d-1b89bd05da67",
            "correlationId": "9e8c73dc-c04c-596d-afcd-e7791c4a0d38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudDiagnosisMetadata": {
        "title": "Fraud Diagnosis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple related events or actions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the fraud assessment was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the fraud diagnosis."
      },
      "ReplaceFraudDiagnosiByDiagnosIdRequest": {
        "title": "Fraud Diagnosis Request Body",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-243873"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-163946"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger being referenced.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the ledger balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance present in the ledger.",
            "example": 100.0
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "TXN-732888"
          },
          "riskScore": {
            "type": "number",
            "description": "Risk score associated with the transaction.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "Threshold value for decision making.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level of the device used for the transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the fraud diagnosis operation.",
        "example": {
          "accountId": "ACC-243873",
          "customerId": "CUST-163946",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "transactionId": "TXN-732888",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "requestContext": {
            "requestId": "1595a3d7-7730-547d-aebd-3617c133d979",
            "correlationId": "9e8c73dc-c04c-596d-afcd-e7791c4a0d38",
            "idempotencyKey": "1c3679d3-0026-5550-93e1-35fc7a597a22",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-153722"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to maintain idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema containing details about the channel used in the request."
      },
      "ReplaceFraudDiagnosiByDiagnosIdResponse_422": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code indicating the type of error.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for the request, used for tracing and debugging.",
            "example": "518ace8b-7ace-4222-949d-d06ad2dd024b"
          },
          "message": {
            "type": "string",
            "description": "A description of the error that occurred.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Details about the workflow or process that encountered an error.",
            "example": "WF-043"
          }
        },
        "description": "Schema representing the error response for fraud diagnosis operations.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "518ace8b-7ace-4222-949d-d06ad2dd024b",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-043"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d86376f6-616c-4b94-8f7f-e4e6ec3a3754"
        },
        "example": "d86376f6-616c-4b94-8f7f-e4e6ec3a3754"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bec677d1-0a7c-4696-9ab3-2ecf6aa2169b"
        },
        "example": "bec677d1-0a7c-4696-9ab3-2ecf6aa2169b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200",
            "MICROSERVICE_PROD_422"
          ]
        }
      },
      "diagnosId": {
        "name": "diagnosId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-diagnose-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-diagnose-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed, providing context for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "AML Transaction Monitoring and Case Escalation"
        },
        "example": "AML Transaction Monitoring and Case Escalation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating the progress or stage of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "REJECTED"
        },
        "example": "REJECTED"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bec677d1-0a7c-4696-9ab3-2ecf6aa2169b"
        },
        "example": "bec677d1-0a7c-4696-9ab3-2ecf6aa2169b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT). Clients must include a bearer token in the Authorization header to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}