{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Enterprise Service By Param1-spec",
    "description": "The Corporate Billing Service Retrieval API enables users to fetch detailed information about corporate billing services based on a specified parameter. This endpoint primarily returns data pertaining to corporate clients' billing arrangements, facilitating insights and management of financial interactions. Ideal for financial institutions or enterprise clients, it supports use cases such as auditing billing records and reconciling transactions. Developers can leverage this API to integrate corporate billing data into their applications or reporting systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/corporate-billing/{param1}": {
      "get": {
        "tags": [
          "Corporate Billing"
        ],
        "summary": "Retrieve corporate billing details by ID.",
        "description": "This endpoint allows users to fetch the corporate billing information associated with a specific ID. It returns detailed data relevant to the billing instance, enabling better visibility and management of financial records.",
        "operationId": "getEnterpriseServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body expects a JSON object containing the required parameters for the corporate billing operation. Ensure that the input adheres to the defined schema to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved corporate billing details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to corporate billing.",
        "example": "{}"
      },
      "GetEnterpriseServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "965d515a-96e8-5d4b-b438-19c85f3f1360"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier associated with the billing.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the billing operation.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Details of the amount billed, including value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Name or identifier of the person who requested the billing.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the billing record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the billing response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate billing API operation, providing details about the request and related metadata.",
        "example": {
          "requestId": "965d515a-96e8-5d4b-b438-19c85f3f1360",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9c8a6532-3ba2-57d4-9111-a145e36c129c",
            "correlationId": "461fb2f3-b2bf-5eb2-bc46-9bfd2e5ee46d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount being billed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "string"
          }
        },
        "description": "Contains the amount details for billing, including value and currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata for billing responses, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that the request is processed against.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "company-billing-and-payments-get-company-billing-and-payments"
        },
        "example": "company-billing-and-payments-get-company-billing-and-payments"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method to secure API endpoints. It requires a bearer token, typically presented in the Authorization header of the HTTP request, which is formatted as a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}