{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Statements-spec",
    "description": "The AISP Statements Retrieval API allows users to access and retrieve account statements from authorized financial institutions. This endpoint provides a streamlined method for aggregating and consolidating financial data, facilitating the analysis of user spending and saving behaviors. Typical consumers of this API include fintech applications, personal finance management tools, and banks seeking to enhance their customer offerings. By using this API, developers can integrate comprehensive financial insights into their applications, improving user engagement and satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/statements": {
      "get": {
        "tags": [
          "Financial Data"
        ],
        "summary": "Retrieve AISP statements",
        "description": "Fetches the available statements from the AISP endpoint, allowing users to view their financial data and transaction history.",
        "operationId": "listAispStatements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving statements associated with the account. This request provides necessary parameters and filters to fetch the required statement data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispStatementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of account statements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispStatementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispStatementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to statements in the AISP (Account Information Service Provider) context.",
        "example": "{}"
      },
      "ListAispStatementsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Statement": {
                "type": "array",
                "description": "List of account statements.",
                "items": {
                  "$ref": "#/components/schemas/Statement"
                }
              }
            },
            "description": "Container for the statement data.",
            "example": {
              "Statement": [
                {
                  "AccountId": "ACC-840423",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "Type": "STANDARD",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "CreationDateTime": "2026-09-15T14:30:00Z",
                  "description": [
                    "Customer banking request processed successfully"
                  ],
                  "benefit": [
                    {
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "fee": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "interest": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "amount": [
                    {
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      },
                      "LocalAmount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "example-response-id"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate the request and response.",
                "example": "example-correlation-id"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-10T14:48:00.000Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "d30a1322-17aa-5202-ba3f-1f54c95015f0",
              "correlationId": "265b7b23-e310-5dee-ad8a-d1f769d6844a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "The response schema for retrieving account statements.",
        "example": {
          "Data": {
            "Statement": [
              {
                "AccountId": "ACC-840423",
                "id": "STANDARD",
                "reference": "STANDARD",
                "Type": "STANDARD",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "CreationDateTime": "2026-09-15T14:30:00Z",
                "description": [
                  "Customer banking request processed successfully"
                ],
                "benefit": [
                  {
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "fee": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "interest": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "amount": [
                  {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    },
                    "LocalAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "d30a1322-17aa-5202-ba3f-1f54c95015f0",
            "correlationId": "265b7b23-e310-5dee-ad8a-d1f769d6844a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Statement": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "example-account-id"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the statement.",
            "example": "example-statement-id"
          },
          "reference": {
            "type": "string",
            "description": "A reference associated with the statement.",
            "example": "example-reference"
          },
          "Type": {
            "type": "string",
            "description": "The type of statement.",
            "example": "transaction"
          },
          "StartDateTime": {
            "type": "string",
            "description": "The start date and time of the statement period.",
            "example": "2023-01-01T00:00:00Z"
          },
          "EndDateTime": {
            "type": "string",
            "description": "The end date and time of the statement period.",
            "example": "2023-01-31T23:59:59Z"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the statement was created.",
            "example": "2023-01-10T10:00:00Z"
          },
          "description": {
            "type": "array",
            "description": "A list of descriptions associated with the statement.",
            "items": {
              "type": "string",
              "example": "Monthly account statement"
            }
          },
          "benefit": {
            "type": "array",
            "description": "List of benefits associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Benefit"
            }
          },
          "fee": {
            "type": "array",
            "description": "List of fees associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "interest": {
            "type": "array",
            "description": "List of interest entries associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Interest"
            }
          },
          "amount": {
            "type": "array",
            "description": "List of amounts involved in the statement.",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          }
        },
        "description": "Representation of an account statement."
      },
      "Benefit": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of the benefit.",
            "example": "cashback"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The value of the benefit.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the benefit amount.",
                "example": "USD"
              }
            },
            "description": "Details of the benefit amount."
          }
        },
        "description": "Representation of a financial benefit."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description of the fee.",
            "example": "Monthly maintenance fee"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator if the fee is a credit or debit.",
            "example": "debit"
          },
          "Type": {
            "type": "string",
            "description": "Type of the fee.",
            "example": "service fee"
          },
          "Rate": {
            "type": "number",
            "description": "The rate applied for this fee.",
            "example": 10.0
          },
          "RateType": {
            "type": "string",
            "description": "Type of the rate.",
            "example": "percent"
          },
          "Frequency": {
            "type": "string",
            "description": "Frequency of the fee charge.",
            "example": "monthly"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the fee.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the fee amount.",
                "example": "USD"
              }
            },
            "description": "Details of the fee amount."
          }
        },
        "description": "Representation of a fee associated with a statement."
      },
      "Interest": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description of the interest.",
            "example": "Annual percentage yield"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator if the interest is a credit or debit.",
            "example": "credit"
          },
          "Type": {
            "type": "string",
            "description": "Type of the interest.",
            "example": "interest earnings"
          },
          "Rate": {
            "type": "number",
            "description": "The rate applied for this interest.",
            "example": 2.5
          },
          "RateType": {
            "type": "string",
            "description": "Type of the rate.",
            "example": "percent"
          },
          "Frequency": {
            "type": "string",
            "description": "Frequency of the interest calculation.",
            "example": "monthly"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of interest.",
                "example": "2.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the interest amount.",
                "example": "USD"
              }
            },
            "description": "Details of the interest amount."
          }
        },
        "description": "Representation of interest charged or earned."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator if the amount is a credit or debit.",
            "example": "credit"
          },
          "Type": {
            "type": "string",
            "description": "Type of the amount.",
            "example": "principal"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The value of the amount.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the amount.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-category of the amount if applicable.",
                "example": "loan"
              }
            },
            "description": "Details of the amount."
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The local amount value.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the local amount.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-category of the local amount if applicable.",
                "example": "local currency"
              }
            },
            "description": "Details of the local amount if applicable."
          }
        },
        "description": "Representation of an amount involved in the statement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-statements"
        },
        "example": "accounts-api-get-statements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authorization. Clients must include a valid bearer token in the 'Authorization' header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}