{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Operational Service By Param1-spec",
    "description": "The Operational Service Retrieval API allows authorized users to fetch detailed information about specific operational services related to leasing item administration. By providing an identifier as 'param1', users can access relevant data for a designated service, facilitating efficient management and decision-making. This API is particularly useful for banking professionals who require real-time access to operational service details for reporting, compliance, or system integration purposes. Typical consumers include application developers, banking analysts, and operational managers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/leasing-item-administration/{param1}": {
      "get": {
        "tags": [
          "Leasing Management"
        ],
        "summary": "Retrieve Leasing Item Details",
        "description": "Fetches detailed information about a specific leasing item identified by the given resource ID. This endpoint provides all relevant attributes associated with the leasing item, enabling clients to understand its specifications and status.",
        "operationId": "getOperationalServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific information regarding leasing item administration for the service identified by RES-100045. Ensure that the required parameters and data formatting are strictly followed according to the schema provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the relevant data has been returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the JSON body of a request for the GET operation on leasing item administration services.",
        "example": "{}"
      },
      "GetOperationalServiceByParam1Response_200": {
        "title": "Operational Services Lease Item Administration Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation.",
            "example": "CUST-193831"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the operation.",
            "example": "ACC-494311"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Identifier for the leased asset involved in the operation.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "Object representing the residual value of the leased asset.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Duration of the lease term expressed in months.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Object containing additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for lease item administration operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-193831",
          "accountId": "ACC-494311",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a18ef174-67ad-5ff0-bfa5-77528920ef4d",
            "correlationId": "9dccd774-7c0b-577f-8c96-be13b1346127",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResidualValue": {
        "title": "Residual Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Numeric value representing the amount of the residual value.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the residual value is denoted.",
            "example": "USD"
          }
        },
        "description": "Schema representing the residual value of a leased asset."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the operation across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing additional metadata information for the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking the specific operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-item-administration-get-leasing-item-administration"
        },
        "example": "leasing-item-administration-get-leasing-item-administration"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, helpful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) through a Bearer authentication mechanism. Clients include the JWT in the Authorization header when making API requests to authenticate themselves.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}