{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Market Operation Trade Settlement-spec",
    "description": "The Market Operation Trade Settlement API facilitates the processing and settlement of trade transactions within the banking ecosystem. It enables users to initiate trade settlements efficiently, ensuring accurate and timely operations in line with market conditions. Financial institutions, trading platforms, and regulatory bodies can utilize this API to manage their trade settlements and compliance. With its streamlined approach, users can enhance their operational workflows and maintain robust financial records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://treasury-markets-app:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-settlement": {
      "post": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Initiates a trade settlement process.",
        "description": "This endpoint allows the user to initiate the settlement of a trade. It processes the necessary information to complete the settlement and response will include the status of the trade settlement operation.",
        "operationId": "createMarketOperationTradeSettlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a trade settlement operation. This contains all necessary data required for processing the trade settlement, including details about the trades, parties involved, and settlement instructions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOperationTradeSettlementRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing; the trade settlement will be completed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOperationTradeSettlementResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOperationTradeSettlementRequest": {
        "title": "Trade Settlement Request",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the settlement will occur.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument being settled.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "The identifier for the custodian managing the settlement.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "The identifier for the clearing house involved in the settlement.",
            "example": "STANDARD"
          },
          "settlementMethod": {
            "type": "string",
            "description": "The method by which the settlement will be processed.",
            "example": "STANDARD"
          },
          "matchingStatus": {
            "type": "string",
            "description": "The status of the trade matching process.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information pertaining to the settlement request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the structure of a trade settlement request in the market operations. It includes essential details such as trade identification, instrument details, settlement date, quantity, and request context.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "settlementMethod": "STANDARD",
          "matchingStatus": "ACTIVE",
          "requestContext": {
            "requestId": "1e56b97a-2e75-5251-b1bb-098b583261be",
            "correlationId": "5bf476b8-9a55-56ff-8d8c-2c524a622011",
            "idempotencyKey": "2d1fdcd0-16d3-5879-818f-47ae9a4b4bf3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-594563"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace related requests and responses.",
            "example": "CORR987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is processed only once.",
            "example": "IDEMPOTENCYKEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "TRADING_SYSTEM_1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is made.",
            "example": "TRADING_APP"
          },
          "channel": {
            "description": "Details about the channel through which the request was submitted.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the contextual information for the settlement request, including identifiers and metadata for tracking the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "This schema represents the details of the channel used in the request context."
      },
      "CreateMarketOperationTradeSettlementResponse_202": {
        "title": "Trade Settlement Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the instrument involved in the trade.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian responsible for managing the asset.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house facilitating the trade settlement.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference number for tracking the processing of the trade.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the trade settlement.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the settlement was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TradeSettlementMetadata"
          }
        },
        "description": "This schema represents the response data structure for a trade settlement operation.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cd19d2d1-ca0b-5f39-bc3e-578ee2091187",
            "correlationId": "5bf476b8-9a55-56ff-8d8c-2c524a622011",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeSettlementMetadata": {
        "title": "Trade Settlement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "C78901"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T10:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the trade processing took place.",
            "example": "US-East"
          }
        },
        "description": "This schema contains additional metadata related to the trade settlement."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-059"
        },
        "example": "WF-059"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "14e1c1a1-1cf5-4d07-87d5-cdaa8f8ec6fc"
        },
        "example": "14e1c1a1-1cf5-4d07-87d5-cdaa8f8ec6fc"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5"
        },
        "example": "5"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1591f80f-b9d2-4bc9-ab15-5eeea92fd763"
        },
        "example": "1591f80f-b9d2-4bc9-ab15-5eeea92fd763"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-settlement-process-trade-settlement"
        },
        "example": "trade-settlement-process-trade-settlement"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime environment that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow process associated with the trade settlement request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-059"
        },
        "example": "WF-059"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Repo and Securities Lending Lifecycle"
        },
        "example": "Repo and Securities Lending Lifecycle"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1591f80f-b9d2-4bc9-ab15-5eeea92fd763"
        },
        "example": "1591f80f-b9d2-4bc9-ab15-5eeea92fd763"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where a JSON Web Token (JWT) is required to access secured endpoints. The client must include this token in the 'Authorization' header of HTTP requests, formatted as: 'Authorization: Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}