{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Corporate Billings-spec",
    "description": "The Corporate Billing Retrieval API enables clients to access detailed billing information for enterprise services. This endpoint serves as a critical resource for organizations seeking to manage their billing data effectively. Typical consumers include finance teams and billing administrators who require insights into corporate billing activities. By leveraging this API, users can streamline their billing processes and ensure accurate financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/corporate-billing": {
      "get": {
        "tags": [
          "Corporate Billing"
        ],
        "summary": "Retrieve Corporate Billing Information",
        "description": "This endpoint allows users to access detailed information about corporate billing within the enterprise services. It includes data such as billing history, outstanding payments, and invoice details.",
        "operationId": "listEnterpriseServiceCorporateBillings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve billing information for corporate accounts within the enterprise services. It is essential to provide the appropriate data structure as defined in the schema to ensure the successful retrieval of the desired billing details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceCorporateBillingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved corporate billing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceCorporateBillingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceCorporateBillingsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the corporate billing operations.",
        "example": "{}"
      },
      "ListEnterpriseServiceCorporateBillingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of billing items retrieved from the corporate billing service.",
            "example": [
              {
                "requestId": "6f2d4f51-2e0f-5377-8e63-0e213e418c7c",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the billing items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate billing GET operation, which includes a list of billing items, pagination details, sorting information, and metadata about the response.",
        "example": {
          "items": [
            {
              "requestId": "6f2d4f51-2e0f-5377-8e63-0e213e418c7c",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "269173bf-8d4d-5f99-ab94-fba8bdc5aa74",
            "correlationId": "f6a1a8e0-6fbb-517a-8b21-bbf2b0cd20a5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingItem": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the billing request.",
            "example": "example-request-id"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier associated with the billing item.",
            "example": "example-supplier-id"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the billing item.",
            "example": "example-cost-center"
          },
          "amount": {
            "description": "Monetary amount for the billing item.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user who requested the billing.",
            "example": "example-requested-by"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the billing item.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the billing item was last updated.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Represents an individual billing item in the corporate billing system."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount, usually in ISO 4217 format.",
            "example": "USD"
          }
        },
        "description": "Represents the amount of money associated with a billing item, including its value and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the paginated result.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "example-response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with other requests.",
            "example": "example-correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata about the response, providing additional context such as identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "company-billing-and-payments-search-company-billing-and-payments"
        },
        "example": "company-billing-and-payments-search-company-billing-and-payments"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context for the request origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication based on JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}