{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Refunds-v5-spec",
    "description": "MICROSERVICE-PROD-List P2m Refunds-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds": {
      "get": {
        "operationId": "listP2mRefunds",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mRefundsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mRefundsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mRefundsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListP2mRefundsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "example": "string"
                },
                "href": {
                  "type": "string",
                  "example": "string"
                },
                "method": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "items": {
            "type": "array",
            "example": [
              {
                "refundId": "STANDARD",
                "paymentId": "PAY-827728",
                "merchantId": "MER-416183",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reasonCode": "CODE-330",
                "reason": "STANDARD",
                "merchantRefundReference": "STANDARD",
                "status": "ACTIVE",
                "failure": {
                  "category": "STANDARD",
                  "code": "SUCCESS",
                  "message": "STANDARD",
                  "declineCode": "CODE-765",
                  "retryable": true
                },
                "processorReference": {
                  "network": "STANDARD",
                  "schemeTransactionId": "TXN-453774",
                  "acquirerReferenceNumber": "STANDARD",
                  "issuerReference": "STANDARD",
                  "retrievalReferenceNumber": "STANDARD",
                  "approvalCode": "CODE-614"
                },
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "refundId": {
                  "type": "string",
                  "example": "string"
                },
                "paymentId": {
                  "type": "string",
                  "example": "string"
                },
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "amount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "reasonCode": {
                  "type": "string",
                  "example": "string"
                },
                "reason": {
                  "type": "string",
                  "example": "string"
                },
                "merchantRefundReference": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "failure": {
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string",
                      "example": "string"
                    },
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "message": {
                      "type": "string",
                      "example": "string"
                    },
                    "declineCode": {
                      "type": "string",
                      "example": "string"
                    },
                    "retryable": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "example": "string"
                },
                "processorReference": {
                  "type": "object",
                  "properties": {
                    "network": {
                      "type": "string",
                      "example": "string"
                    },
                    "schemeTransactionId": {
                      "type": "string",
                      "example": "string"
                    },
                    "acquirerReferenceNumber": {
                      "type": "string",
                      "example": "string"
                    },
                    "issuerReference": {
                      "type": "string",
                      "example": "string"
                    },
                    "retrievalReferenceNumber": {
                      "type": "string",
                      "example": "string"
                    },
                    "approvalCode": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "audit": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "createdBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "2571729e-2ba8-53f8-b2c6-aca13c103194",
              "correlationId": "6cbf6577-3db5-508d-a99c-4ae5f8503543",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "refundId": "STANDARD",
              "paymentId": "PAY-827728",
              "merchantId": "MER-416183",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reasonCode": "CODE-330",
              "reason": "STANDARD",
              "merchantRefundReference": "STANDARD",
              "status": "ACTIVE",
              "failure": {
                "category": "STANDARD",
                "code": "SUCCESS",
                "message": "STANDARD",
                "declineCode": "CODE-765",
                "retryable": true
              },
              "processorReference": {
                "network": "STANDARD",
                "schemeTransactionId": "TXN-453774",
                "acquirerReferenceNumber": "STANDARD",
                "issuerReference": "STANDARD",
                "retrievalReferenceNumber": "STANDARD",
                "approvalCode": "CODE-614"
              },
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "2571729e-2ba8-53f8-b2c6-aca13c103194",
            "correlationId": "6cbf6577-3db5-508d-a99c-4ae5f8503543",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-refunds"
        },
        "example": "banking-p2m-openapi-list-refunds"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}