{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Open Banking Pisp Domestic Scheduled Payment Consent By Domestic Scheduled Payment Consent Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Open Banking Pisp Domestic Scheduled Payment Consent By Domestic Scheduled Payment Consent Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payment-consents/{domesticScheduledPaymentConsentId}": {
      "get": {
        "operationId": "getOpenBankingPispDomesticScheduledPaymentConsentByDomesticScheduledPaymentConsentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/domesticScheduledPaymentConsentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOpenBankingPispDomesticScheduledPaymentConsentByDomesticScheduledPaymentConsentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOpenBankingPispDomesticScheduledPaymentConsentByDomesticScheduledPaymentConsentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOpenBankingPispDomesticScheduledPaymentConsentByDomesticScheduledPaymentConsentIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetOpenBankingPispDomesticScheduledPaymentConsentByDomesticScheduledPaymentConsentIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "Path": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "Permission": {
                "type": "string",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "example": "string"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "ChargeBearer": {
                      "type": "string",
                      "example": "string"
                    },
                    "Type": {
                      "type": "string",
                      "example": "string"
                    },
                    "Amount": {
                      "type": "object",
                      "properties": {
                        "Amount": {
                          "type": "string",
                          "example": "string"
                        },
                        "Currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "example": "string"
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "example": "string"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "example": "string"
                      },
                      "Currency": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "DebtorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "example": "string"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Proxy": {
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "type": "string",
                            "example": "string"
                          },
                          "Code": {
                            "type": "string",
                            "example": "string"
                          },
                          "Type": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "CreditorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "example": "string"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Proxy": {
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "type": "string",
                            "example": "string"
                          },
                          "Code": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS"
                  }
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "3a7eb77f-f94d-5faa-97bd-f940f732e170",
              "correlationId": "c4d38500-2c4c-5925-9251-9f5a7dc5131e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "metadata": {
            "responseId": "3a7eb77f-f94d-5faa-97bd-f940f732e170",
            "correlationId": "c4d38500-2c4c-5925-9251-9f5a7dc5131e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "domesticScheduledPaymentConsentId": {
        "name": "domesticScheduledPaymentConsentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-consent"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}