{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Processing API",
    "description": "The Settlement Processing API enables businesses to efficiently manage settlement workflows by processing specific settlements identified by their settlement ID. This endpoint allows authorized clients to trigger the processing of settlements, facilitating essential financial activities such as reconciliation or dispute resolution. Typical consumers include financial institutions and payment processors that require reliable and swift processing of transactions. By leveraging this API, organizations can enhance their operational efficiency and improve response times to financial activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/process": {
      "post": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Process a specific settlement.",
        "description": "This operation allows you to process a settlement identified by a unique resource ID (RES-100045). It performs the necessary actions to complete the settlement process, ensuring that all relevant data is updated accordingly.",
        "operationId": "processSettlementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the processing of the specified settlement with ID RES-100045. Ensure that all relevant data fields are populated according to the schema to facilitate a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessSettlementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the process was executed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessSettlementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ProcessSettlementByIdRequest": {
        "type": "object",
        "properties": {
          "payoutDate": {
            "type": "string",
            "description": "The date when the payout is scheduled to occur.",
            "example": "2026-09-15"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the payout request.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the payout request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the payload for the payout operation.",
        "example": {
          "payoutDate": "2026-09-15",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "afca0e04-195c-5091-b86f-4f2adddb9b56",
            "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
            "idempotencyKey": "1af264f9-ca22-5808-a8ce-dbcdaf13bf2d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-292121"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs across different services.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "idempotent-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-31T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System where the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "EcommerceApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides contextual details for the payout request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., WEB, MOBILE).",
            "example": "MOBILE"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Contains information about the channel and device used in the request."
      },
      "ProcessSettlementByIdResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "The unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the settlement.",
            "example": "MER-151605"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The account ID associated with the settlement.",
            "example": "ACC-518302"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date and time of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date and time of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the settlement is denominated.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "A summary of the financial transactions included in the settlement.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "The number of lines or individual transactions included in the settlement summary.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "The reference number from the bank for the payout associated with the settlement.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "The expected date and time when the payout will be processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "The date and time when the settlement amount was actually paid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information regarding the creation and updating of the settlement record.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a settlement operation, containing details about the settlement including identifiers, periods, currency handling, status, and a summary of financial transactions.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-151605",
          "settlementAccountId": "ACC-518302",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "6a2e9aba-0f74-5762-8b2a-36e401db3f55",
            "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "The total amount of gross payments included in the settlement.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "refunds": {
            "description": "The total amount of refunds processed during the settlement period.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "reversals": {
            "description": "The total amount of reversals applied during the settlement period.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "disputes": {
            "description": "The total amount of disputed transactions during the settlement period.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "fees": {
            "description": "The total amount of fees charged during the settlement period.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "taxes": {
            "description": "The total amount of taxes applied during the settlement period.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "reserveHeld": {
            "description": "The total amount of reserves held for the settlement.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "reserveReleased": {
            "description": "The total amount of reserves released during the settlement.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "adjustments": {
            "description": "The total amount of adjustments made in the settlement.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "netSettlement": {
            "description": "The net amount settled after all adjustments, fees, and taxes.",
            "$ref": "#/components/schemas/TransactionAmount"
          }
        },
        "description": "This schema represents a summary of financial transactions related to a settlement, including payment details, fees, and adjustments."
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is denominated.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the transaction amount, represented as a string.",
            "example": "1000.00"
          }
        },
        "description": "This schema represents an amount for a transaction, including its currency and value."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the settlement record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identity of the user or system that created the settlement record.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the settlement record was last updated.",
            "example": "2023-01-31T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identity of the user or system that last updated the settlement record.",
            "example": "admin"
          }
        },
        "description": "This schema captures audit details for the settlement, including timestamps and user identifiers related to the creation and updates of the settlement record."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier of the response.",
            "example": "response_34567"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate various requests and responses.",
            "example": "correlation_89012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-01-31T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the settlement occurred.",
            "example": "us-east"
          }
        },
        "description": "This schema provides additional metadata information regarding the settlement response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, allowing tracking and monitoring of the specific operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-process-settlement"
        },
        "example": "banking-p2m-openapi-process-settlement"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses JSON Web Tokens (JWT) for secure transmission of claims. Clients must include a valid JWT in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}