{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Custody Administrations-spec",
    "description": "The Market Operation Custody Administration API provides access to manage and view custody administration data related to market operations. This endpoint enables users to retrieve detailed information about various custody operations, fostering better oversight and management of financial assets. It is particularly useful for banking professionals and compliance officers who need to monitor custody practices and ensure adherence to regulatory standards. By leveraging this API, organizations can enhance their operational efficiency and maintain robust records in market operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/custody-administration": {
      "get": {
        "tags": [
          "Custody Operations"
        ],
        "summary": "Retrieve custody administration details.",
        "description": "This endpoint allows users to retrieve detailed information related to custody administration operations within the market sector. Utilize this to understand various aspects of custody management.",
        "operationId": "listMarketOperationCustodyAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for custody administration in market operations. It should contain the necessary parameters to retrieve the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationCustodyAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved custody administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationCustodyAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationCustodyAdministrationsRequest": {
        "title": "Market Operations Custody Administration Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the custody administration market operations API. It is currently defined as a simple string.",
        "example": "{}"
      },
      "ListMarketOperationCustodyAdministrationsResponse_200": {
        "title": "Market Operations - Custody Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of custody operation items.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "safekeepingAccountId": "ACC-783404",
                "custodyLocation": "STANDARD",
                "positionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustodyOperationItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Market Operations custody administration GET request, including items related to custody operations, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "safekeepingAccountId": "ACC-783404",
              "custodyLocation": "STANDARD",
              "positionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5f47ee6b-2a1a-58be-936c-7718788d59c7",
            "correlationId": "c07904fd-fda5-5175-b0cb-7d68a0dda109",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustodyOperationItem": {
        "title": "Custody Operation Item",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade."
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument."
          },
          "settlementDate": {
            "type": "string",
            "description": "The date when the settlement occurs."
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument being settled.",
            "format": "int32"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement."
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the assets."
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Identifier for the safekeeping account."
          },
          "custodyLocation": {
            "type": "string",
            "description": "Location where the custody is held."
          },
          "positionQuantity": {
            "type": "integer",
            "description": "Quantity of the position held.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., Active, Inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record."
          }
        },
        "description": "Details of a single custody operation item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32"
          }
        },
        "description": "Information about pagination for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint involved in the request. This allows for tracking and auditing of API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "custody-administration-search-custody-administration"
        },
        "example": "custody-administration-search-custody-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This helps in identifying the application context of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a mechanism for authentication. Clients should include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}