{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Concentration Management API",
    "description": "The Cash Concentration Management API facilitates the optimization of cash flows within an organization by enabling adjustments to cash concentration strategies. Through this API, financial institutions can modify parameters related to cash pooling and fund allocation across accounts to enhance liquidity management. Typical consumers include treasury managers and finance teams looking to streamline cash operations and improve cash visibility. This operation is essential for maintaining effective cash positioning and ensuring financial health.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration/{param1}": {
      "patch": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Update Cash Concentration Resource",
        "description": "This endpoint allows clients to update the attributes of a specific cash concentration resource identified by RES-100045. Ensure you provide all required fields for a successful update.",
        "operationId": "patchCashConcentrationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the cash concentration details for the specified resource. It contains the necessary fields required for the partial update of a cash concentration operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCashConcentrationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCashConcentrationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCashConcentrationRes100045Request": {
        "title": "Cash Concentration Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the cash concentration operation.",
            "$ref": "#/components/schemas/CashConcentrationChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes are to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching cash concentration operations.",
        "example": {
          "changes": {
            "poolId": "STANDARD",
            "headerAccountId": "ACC-984005",
            "participantAccountIds": [
              "ACC-976338"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "013c80b7-0529-539d-9376-84170419809a",
            "correlationId": "9295d224-aab8-56fb-8f45-14a7994c403b",
            "idempotencyKey": "e4941c2d-a3c5-54b4-b865-9246e19a36a9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-542785"
            }
          }
        }
      },
      "CashConcentrationChanges": {
        "title": "Cash Concentration Changes",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The identifier for the pool.",
            "example": "pool-id-123"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account.",
            "example": "account-id-456"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "List of participant account identifiers.",
            "items": {
              "type": "string",
              "description": "An identifier for a participant account.",
              "example": "account-id-789"
            }
          }
        },
        "description": "Schema representing the changes for a cash concentration operation."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the idempotency of the request.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-25T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "source-system-xyz"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application that initiated the request.",
            "example": "source-app-abc"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request originated.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the details of the channel used in the request."
      },
      "PatchCashConcentrationRes100045Response_200": {
        "title": "Cash Concentration Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata detailing the operation's context and identifiers.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation of cash concentration in trade banking. This schema provides information about the operation status and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "04c4dbb1-5fe3-5ef9-a8be-460b879f5077",
            "correlationId": "9295d224-aab8-56fb-8f45-14a7994c403b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Basic metadata about the operation including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that handles this request. It is used to trace requests and responses throughout the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-update-cash-concentration"
        },
        "example": "cash-concentration-update-cash-concentration"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the runtime application associated with this response, allowing users to identify the source of the request handling.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically adhering to the JSON Web Token (JWT) standard. Clients must include the token in the `Authorization` header as `Bearer <token>` to gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}