{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Concentration Management API",
    "description": "The Cash Concentration Management API supports businesses in optimizing their cash flow by enabling the efficient concentration of funds from multiple accounts. This endpoint facilitates the submission of cash concentration requests, allowing organizations to consolidate their cash reserves for better liquidity management. Typical consumers include finance teams and treasury management systems that require seamless cash transfers. By utilizing this API, businesses can enhance their cash management strategies and maximize operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration": {
      "post": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Create a cash concentration entry.",
        "description": "This endpoint allows users to create a new cash concentration entry within the trade banking system, providing a streamlined way to manage and centralize cash across different accounts.",
        "operationId": "createCashConcentration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for initiating a cash concentration operation in the trade banking service. It should contain all necessary parameters to successfully process the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCashConcentrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and operation completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCashConcentrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCashConcentrationRequest": {
        "title": "Cash Concentration Request",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Identifier for the cash concentration pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the header account in the pool.",
            "example": "ACC-720784"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "List of participant account identifiers.",
            "example": [
              "ACC-214422"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for a participant account.",
              "example": "account1"
            }
          },
          "currency": {
            "type": "string",
            "description": "Currency code used in the cash concentration.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "Frequency at which sweeps occur.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "Desired target balance for the accounts in the pool.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the cash concentration request body in trading banking operations.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-720784",
          "participantAccountIds": [
            "ACC-214422"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "requestContext": {
            "requestId": "a257d3d2-0081-58f6-9ca5-c68ab265751d",
            "correlationId": "30882513-f10e-5a35-8282-2541ed5ac44f",
            "idempotencyKey": "2c01ed76-9b5d-5055-9da7-5242163a396a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-733552"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotent789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual information associated with a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel being used.",
            "example": "channel1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device123"
          }
        },
        "description": "Schema for information related to the channel of the request."
      },
      "CreateCashConcentrationResponse_201": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Unique identifier for the cash concentration pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the header account associated with the cash concentration.",
            "example": "ACC-611619"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource created or modified by the operation.",
            "example": "RES-398014"
          },
          "status": {
            "type": "string",
            "description": "Current status of the cash concentration operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-1112"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracing the operation in logs.",
                "example": "correlation-1314"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:05Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "us-west-2"
              }
            },
            "description": "Additional metadata related to the cash concentration operation.",
            "example": {
              "responseId": "99d2f1ab-df55-5b66-8cfd-684f400e6aa1",
              "correlationId": "30882513-f10e-5a35-8282-2541ed5ac44f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for cash concentration operation in trade banking.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-611619",
          "resourceId": "RES-398014",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "99d2f1ab-df55-5b66-8cfd-684f400e6aa1",
            "correlationId": "30882513-f10e-5a35-8282-2541ed5ac44f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-064"
        },
        "example": "WF-064"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3ee89a68-9f20-4721-901a-9737af19251f"
        },
        "example": "3ee89a68-9f20-4721-901a-9737af19251f"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1171e1ba-abf2-4960-8a39-0dff40ce8329"
        },
        "example": "1171e1ba-abf2-4960-8a39-0dff40ce8329"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that is being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-create-cash-concentration"
        },
        "example": "cash-concentration-create-cash-concentration"
      },
      "X-Runtime-App": {
        "description": "Name of the application or service that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-064"
        },
        "example": "WF-064"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this request, providing context for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Cash Concentration and Notional Pooling"
        },
        "example": "Cash Concentration and Notional Pooling"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1171e1ba-abf2-4960-8a39-0dff40ce8329"
        },
        "example": "1171e1ba-abf2-4960-8a39-0dff40ce8329"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a JSON Web Token (JWT) in the 'Authorization' header of the request to verify their identity and access level.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}