{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Recruitments-spec",
    "description": "This API provides access to a comprehensive list of recruitment activities within the Human Resource Management framework. It allows users to retrieve vital information about ongoing and past recruitment efforts, ensuring visibility into HR operations. Typical consumers include HR professionals, recruitment agencies, and analytics teams who aim to monitor recruitment metrics or enhance their hiring strategies. By integrating this API, organizations can streamline their recruitment processes and make informed decisions based on real-time data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment": {
      "get": {
        "tags": [
          "Recruitment"
        ],
        "summary": "Retrieve recruitment information.",
        "description": "This endpoint allows users to access detailed information regarding recruitment processes within the human resource management system, including available positions and application statuses.",
        "operationId": "listHumanResourceManagementRecruitments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving recruitment information within the Human Resource Management system. This request may include various parameters to filter and specify the recruitment data that is desired.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementRecruitmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was executed successfully, and the recruitment data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementRecruitmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementRecruitmentsRequest": {
        "type": "string",
        "description": "Represents the request body for retrieving human resource management recruitment operations.",
        "example": "{}"
      },
      "ListHumanResourceManagementRecruitmentsResponse_200": {
        "title": "Recruitment Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of job requisitions.",
            "example": [
              {
                "requisitionId": "STANDARD",
                "positionTitle": "STANDARD",
                "departmentId": "STANDARD",
                "employmentType": "STANDARD",
                "location": "STANDARD",
                "targetStartDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Requisition"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the requisitions.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for the recruitment operations GET endpoint, containing details about available requisitions and pagination metadata.",
        "example": {
          "items": [
            {
              "requisitionId": "STANDARD",
              "positionTitle": "STANDARD",
              "departmentId": "STANDARD",
              "employmentType": "STANDARD",
              "location": "STANDARD",
              "targetStartDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "72e6713a-ebeb-58d3-ad06-2a02c4a1c9a3",
            "correlationId": "ae29f071-0a20-5b8b-8996-815022ac0b9e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Requisition": {
        "title": "Job Requisition",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the job requisition."
          },
          "positionTitle": {
            "type": "string",
            "description": "The title of the position for the job requisition."
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department related to the job requisition."
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., Full-time, Part-time, Contract)."
          },
          "location": {
            "type": "string",
            "description": "The location where the job will be performed."
          },
          "targetStartDate": {
            "type": "string",
            "description": "The date when the job is expected to start.",
            "format": "date"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the job requisition (e.g., Active, Inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the requisition was last updated.",
            "format": "date-time"
          }
        },
        "description": "Represents a job requisition in the recruitment system.",
        "example": {
          "requisitionId": "req-123",
          "positionTitle": "Software Engineer",
          "departmentId": "dept-456",
          "employmentType": "Full-time",
          "location": "New York",
          "targetStartDate": "2023-12-01",
          "recordStatus": "Active",
          "updatedAt": "2023-10-10T10:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Metadata for managing pagination in responses.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to track the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "format": "date-time"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Additional metadata for the response.",
        "example": {
          "responseId": "resp-789",
          "correlationId": "corr-101",
          "generatedAt": "2023-10-10T10:00:00Z",
          "processingRegion": "us-west"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-search-recruitment"
        },
        "example": "recruitment-search-recruitment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which is a commonly used method allowing the client to send a JSON Web Token (JWT) in the HTTP Authorization header. The JWT must be generated and provided by a trusted authorization server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}