{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Evidence Submission API",
    "description": "The Dispute Evidence Submission API enables users to submit evidence related to specific disputes, identified by their unique dispute ID. This functionality is crucial for businesses that need to manage and resolve disputes efficiently by presenting supporting documentation or proof. Typical consumers include customer service teams, dispute resolution specialists, and platform partners who handle dispute cases. By leveraging this API, organizations can streamline the process of gathering evidence, ensuring disputes are handled with appropriate context and information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}/evidence": {
      "post": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Submit evidence for a specific dispute.",
        "description": "This operation allows you to submit evidence related to the dispute identified by the provided reference number RES-100045. Ensure that all required evidence files are included in the request to facilitate the review process.",
        "operationId": "submitEvidenceForDisputeRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disputeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit evidence for a specific dispute identified by RES-100045. Please ensure that all required fields specified in the schema are included to successfully process the evidence submission.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitEvidenceForDisputeRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence submitted successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitEvidenceForDisputeRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SubmitEvidenceForDisputeRES100045Request": {
        "type": "object",
        "properties": {
          "merchantStatement": {
            "type": "string",
            "description": "The merchant statement associated with the evidence submission.",
            "example": "STANDARD"
          },
          "evidence": {
            "type": "array",
            "description": "A list of evidence items related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "requestContext": {
            "description": "Contextual data for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting evidence related to disputes.",
        "example": {
          "merchantStatement": "STANDARD",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "requestContext": {
            "requestId": "99d52f7b-00dc-52c0-829f-a1e019c8f451",
            "correlationId": "025f2eab-997f-567b-9a52-ae3d4743a626",
            "idempotencyKey": "25883f6e-686f-56bc-8dbd-6b668f869384",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-443310"
            }
          }
        }
      },
      "EvidenceItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence item.",
            "example": "string"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the evidence file.",
            "example": "receipt.jpg"
          },
          "contentType": {
            "type": "string",
            "description": "The MIME type of the evidence file.",
            "example": "image/jpeg"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL where the evidence file can be accessed.",
            "example": "http://example.com/evidence/receipt.jpg"
          },
          "sha256": {
            "type": "string",
            "description": "SHA-256 hash of the evidence file.",
            "example": "abcdef1234567890..."
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing an item of evidence related to a dispute."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to link related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request making it easier to trace."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "SubmitEvidenceForDisputeRES100045Response_200": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the dispute.",
            "example": "PAY-283681"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-989066"
          },
          "reason": {
            "type": "string",
            "description": "The reason provided for disputing the transaction.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "Amount that is being disputed, including currency and value.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Timestamp for when a response is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence items related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "financialImpact": {
            "description": "Details about the financial impact related to the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details regarding the resolution of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information for tracking changes to the dispute.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Dispute Evidence operation.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-283681",
          "merchantId": "MER-989066",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "05f6eb7f-d24d-5e12-8430-19c080585e68",
            "correlationId": "025f2eab-997f-567b-9a52-ae3d4743a626",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisputedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the disputed amount is expressed.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the disputed amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the disputed amount with currency and value."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "Amount that was debited from the merchant.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees incurred due to the dispute.",
            "items": {
              "$ref": "#/components/schemas/FeeDetails"
            }
          },
          "reserveHeld": {
            "description": "Amount held in reserve related to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          }
        },
        "description": "Schema representing the financial impact related to the dispute."
      },
      "FeeDetails": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee that was incurred.",
            "example": "chargeback"
          },
          "amount": {
            "description": "Amount of the fee, including currency and value.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "bearer": {
            "type": "string",
            "description": "Entity responsible for the fee.",
            "example": "merchant"
          }
        },
        "description": "Schema representing details about a fee incurred due to a dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution process.",
            "example": "resolved"
          },
          "resolvedAmount": {
            "description": "Amount that was resolved in this dispute, including currency and value.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the outcome of the dispute.",
            "example": "valid claim"
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was resolved.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing the resolution details of a dispute."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the dispute was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the dispute.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the dispute.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the dispute.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit information for tracking changes."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata associated with the dispute response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disputeId": {
        "name": "disputeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-submit-dispute-evidence"
        },
        "example": "banking-p2m-openapi-submit-dispute-evidence"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens via JWT (JSON Web Tokens). This security scheme requires a valid token for accessing protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}