{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Correspondence Details API",
    "description": "This API is designed to update the details of existing correspondence documents within the banking system. Users can modify attributes associated with a specific correspondence identified by its ID. Typical consumers of this API include bank staff and system administrators who manage customer communications and documentation. Enhancing correspondence entries ensures that the information remains accurate and relevant, ultimately improving customer service and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/correspondence/{correspondenceId}": {
      "patch": {
        "tags": [
          "Correspondence Management"
        ],
        "summary": "Update the correspondence document with the specified ID.",
        "description": "This operation allows you to update details of a specific correspondence document identified by its ID. Make sure to provide the necessary fields in the request body to reflect the changes you want to apply.",
        "operationId": "updateCorrespondenceDocumentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/correspondenceId"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to update specific fields of the correspondence document identified by RES-100045. The content must be formatted as a JSON object that includes the fields to be updated, adhering to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorrespondenceDocumentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorrespondenceDocumentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorrespondenceDocumentByIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/DocumentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation on documents.",
        "example": {
          "changes": {
            "documentId": "DOC-669948",
            "documentType": "STANDARD",
            "classification": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "a68a34cc-4cf3-554e-afcb-cd85fda60b51",
            "correlationId": "7b3c6707-6dec-5f79-8eb5-184142e6cec2",
            "idempotencyKey": "8a416652-3703-5a25-a65e-c4c84fe6978a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-616029"
            }
          }
        }
      },
      "DocumentChanges": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document being changed.",
            "example": "doc-001"
          },
          "documentType": {
            "type": "string",
            "description": "The type of the document, e.g., 'report', 'invoice'.",
            "example": "report"
          },
          "classification": {
            "type": "string",
            "description": "The classification type to assign to the document.",
            "example": "confidential"
          }
        },
        "description": "Schema representing the changes to be made to a document."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate logs and events between systems.",
            "example": "corr-abc-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request can be retried safely.",
            "example": "idemp-unique-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-08T11:50:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request is initiated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is initiated.",
            "example": "AppB"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request, e.g., 'email', 'api'.",
            "example": "api"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "UpdateCorrespondenceDocumentByIdResponse_200": {
        "title": "Response for Correspondence Operations",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a correspondence operation API, specifically for PATCH requests.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fb89e2ab-a25e-5dc3-b3f7-00d3eaa89caf",
            "correlationId": "7b3c6707-6dec-5f79-8eb5-184142e6cec2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "correspondenceId": {
        "name": "correspondenceId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint related to the operation. This value helps in tracking the specific endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondence-update-correspondence"
        },
        "example": "correspondence-update-correspondence"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request. This header provides information about the application in use for the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using the Bearer Token structure. This scheme requires a JWT (JSON Web Token) to be included in the Authorization header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}