{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan By Disbursement Id-spec",
    "description": "The Loan Disbursement Retrieval API allows users to access detailed information about a specific loan by its disbursement ID. This endpoint is designed for financial institutions and loan management systems that need to track loan disbursement details efficiently. By providing the unique identifiers for both the loan and disbursement, consumers can quickly obtain relevant data for reporting, auditing, or customer inquiries. Typical use cases include verifying disbursement status or retrieving loan transaction history for compliance purposes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements/{disbursementId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve a specific disbursement of a loan.",
        "description": "Fetch the details of a specific loan disbursement using its unique resource ID. This endpoint allows developers to access comprehensive information about a disbursement associated with a particular loan, enabling better understanding and management of financial transactions.",
        "operationId": "getLoanByDisbursementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/disbursementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the disbursement details for a specific loan. The request should include all necessary parameters to ensure accurate data retrieval regarding the disbursement referenced by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanByDisbursementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the disbursement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanByDisbursementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanByDisbursementIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching disbursement details of a specific loan operation.",
        "example": "{}"
      },
      "GetLoanByDisbursementIdResponse_200": {
        "title": "Disbursement Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "Details of the disbursement amount including currency and amount.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method used for disbursement.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement is valued.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details of the beneficiary receiving the disbursement.",
            "$ref": "#/components/schemas/BeneficiaryDetails"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeductionDetails"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Narrative or comments related to the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for this disbursement.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement.",
            "example": "ad20c8fb-690c-b224-5dab-c20720b1cafc"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "Disbursement number for tracking.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement.",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "description": "Gross amount before deductions.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "netAmount": {
            "description": "Net amount after deductions.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for the transaction.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Code indicating the reason for a failure (if applicable).",
            "example": "CODE-799"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message providing additional details regarding a failure (if applicable).",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information for tracking changes to the disbursement.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Metadata related to the disbursement response.",
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Schema representing the response containing disbursement details.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-662",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "ad20c8fb-690c-b224-5dab-c20720b1cafc",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-799",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "971644ce-2acb-573a-994c-05404a078320",
            "correlationId": "4a4d391c-ed9e-5643-9bbc-1e7a1e88e9f5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is represented."
          },
          "amount": {
            "type": "string",
            "description": "The actual amount as a string."
          }
        },
        "description": "Schema representing details of an amount including currency and amount."
      },
      "BeneficiaryDetails": {
        "title": "Beneficiary Details",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number of the beneficiary."
          },
          "bankCode": {
            "type": "string",
            "description": "Code of the bank holding the beneficiary's account."
          },
          "bankName": {
            "type": "string",
            "description": "Name of the bank where the account is held."
          },
          "address": {
            "description": "Address details of the beneficiary.",
            "$ref": "#/components/schemas/AddressDetails"
          }
        },
        "description": "Schema representing details of the beneficiary receiving a disbursement."
      },
      "AddressDetails": {
        "title": "Address Details",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional)."
          },
          "city": {
            "type": "string",
            "description": "City of the beneficiary."
          },
          "state": {
            "type": "string",
            "description": "State of the beneficiary."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the beneficiary's address."
          },
          "country": {
            "type": "string",
            "description": "Country of the beneficiary."
          }
        },
        "description": "Schema representing the address of the beneficiary."
      },
      "DeductionDetails": {
        "title": "Deduction Details",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type or category of the deduction."
          },
          "amount": {
            "description": "Details of the deducted amount.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Schema representing a deduction applied to a disbursement."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier or name of the user who created the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier or name of the user who last updated the record."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32"
          }
        },
        "description": "Schema representing audit information for the disbursement."
      },
      "MetadataDetails": {
        "title": "Metadata Details",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema representing metadata related to the disbursement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "disbursementId": {
        "name": "disbursementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-get-disbursement"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-get-disbursement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token for authorization. This token should be included in the 'Authorization' header of requests. Typically, a JSON Web Token (JWT) format is used for the bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}