{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Finance Financial Compliances-spec",
    "description": "The Financial Compliance Information API provides access to crucial financial compliance data necessary for banking operations. This endpoint allows consumers to retrieve detailed insights on financial compliance requirements and statuses. Typical users include financial analysts, compliance officers, and software developers integrating compliance checks into their systems. By accessing this data, organizations can ensure adherence to regulatory standards and support informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-compliance": {
      "get": {
        "tags": [
          "Financial Compliance"
        ],
        "summary": "Retrieve financial compliance information.",
        "description": "This endpoint allows users to access the financial compliance data relevant to their requests. It encompasses various regulations and standards that ensure financial accountability and transparency.",
        "operationId": "listFinanceFinancialCompliances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for retrieving financial compliance data. It requires specific parameters in the JSON format, adhering to the schema defined in the components section. Ensure that all required fields are provided to fetch the necessary information accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFinanceFinancialCompliancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved financial compliance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFinanceFinancialCompliancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFinanceFinancialCompliancesRequest": {
        "type": "string",
        "description": "A request body for GET operations related to financial compliance in the financial sector.",
        "example": "{}"
      },
      "ListFinanceFinancialCompliancesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of financial record items.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialRecord"
            }
          },
          "pagination": {
            "description": "Metadata regarding the pagination of the retrieved items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the API response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the financial compliance operations GET request, providing details of financial records and pagination metadata.",
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ce3c723a-220f-5b1d-b14d-65c4aef2d1e4",
            "correlationId": "b6351ae8-91ca-5169-bb8b-f8464218766f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialRecord": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the financial record."
          },
          "ledgerId": {
            "type": "string",
            "description": "Identifier for the ledger related to the financial record."
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for which the financial record is applicable."
          },
          "amount": {
            "description": "The monetary value of the financial record.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date when the financial record was posted."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the financial record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the financial record was last updated."
          }
        },
        "description": "Represents a financial record with pertinent details."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified."
          }
        },
        "description": "Denotes the amount and associated currency for a financial record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the result set.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Details related to the pagination of the API response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the API request was processed."
          }
        },
        "description": "Metadata related to the response of the API call."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-compliance-search-financial-compliance"
        },
        "example": "financial-compliance-search-financial-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, specifically designed to work with JSON Web Tokens (JWT). Clients must provide a token in the 'Authorization' header when making requests. Make sure to obtain the JWT from a reliable authentication provider.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}