{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Facilities Equipment Maintenances-v5-spec",
    "description": "The Banking Facilities Equipment Maintenance API provides a comprehensive overview of maintenance records for banking facilities' equipment. This API allows users to retrieve detailed information on equipment maintenance activities, ensuring optimal performance and compliance. Typical consumers include facility managers and maintenance coordinators seeking to monitor and manage equipment upkeep efficiently. Utilize this API to access historical and current maintenance data, facilitating better decision-making and resource allocation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance": {
      "get": {
        "tags": [
          "Equipment Management"
        ],
        "summary": "Retrieve a list of equipment maintenance records for facilities.",
        "description": "This endpoint allows users to fetch detailed records of maintenance activities performed on equipment within facilities. It aids in tracking the maintenance history and planning future upkeep for improved operational efficiency.",
        "operationId": "listBankingFacilitiesEquipmentMaintenances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Retrieve details about the maintenance operations for facilities' equipment. The request body must conform to the specified schema, which defines the structure and data types for the operation. Ensure that the JSON provided adheres to the required format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingFacilitiesEquipmentMaintenancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved equipment maintenance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingFacilitiesEquipmentMaintenancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingFacilitiesEquipmentMaintenancesRequest": {
        "type": "string",
        "description": "A request body that is a string representation for the operations in equipment maintenance.",
        "example": "{}"
      },
      "ListBankingFacilitiesEquipmentMaintenancesResponse_200": {
        "title": "Equipment Maintenance Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of maintenance items related to equipment.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-328456",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MaintenanceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Equipment Maintenance operations. It contains a list of maintenance items, pagination information, sort criteria, and metadata.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-328456",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "435dee84-37c4-507d-9b08-08a789df7bed",
            "correlationId": "bd665298-6773-54b5-942e-4b12f6e43219",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MaintenanceItem": {
        "title": "Maintenance Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site where the equipment is located."
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset being maintained."
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order associated with this maintenance."
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date on which maintenance is scheduled."
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the maintenance."
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the maintenance will take place."
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the maintenance task in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the maintenance item was last updated."
          }
        },
        "description": "Represents a single maintenance item associated with equipment.",
        "example": {
          "siteId": "string",
          "assetId": "string",
          "workOrderId": "string",
          "scheduledDate": "string",
          "vendorId": "string",
          "facilityZone": "string",
          "maintenanceType": "string",
          "estimatedDurationMinutes": 0,
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32"
          }
        },
        "description": "Information regarding the pagination of the response data.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Additional metadata information about the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-search-equipment-maintenance"
        },
        "example": "equipment-maintenance-search-equipment-maintenance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) to authenticate requests. Clients must include an 'Authorization' header with the format 'Bearer <token>' to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}