{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Message Analysis API",
    "description": "The Financial Message Analysis API facilitates the evaluation and processing of financial messages in banking transactions. This API allows businesses to submit financial message data for analysis, providing insights into transaction patterns, anomalies, and compliance checks. Typical consumers include financial institutions and compliance teams looking to enhance their transaction oversight. The results can help drive decision-making and improve risk management strategies within banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-message-analysis/analyses": {
      "post": {
        "tags": [],
        "summary": "Initiate financial message analysis for payments.",
        "description": "This endpoint allows users to create an analysis for financial messages related to payments. By providing the necessary data, users can leverage this feature to evaluate and extract insights from financial transactions efficiently.",
        "operationId": "createFinancialMessageAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary parameters for initiating a financial message analysis. Ensure that all required fields are properly populated to facilitate accurate processing of the financial message.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinancialMessageAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful analysis of the financial message.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinancialMessageAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFinancialMessageAnalysisRequest": {
        "title": "Financial Message Analysis Request Body",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-491942"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor in the transaction.",
            "example": "ACC-283698"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor in the transaction.",
            "example": "ACC-387617"
          },
          "instructedAmount": {
            "description": "The amount and currency to be instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The requested date for the execution of the payment.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information regarding the remittance.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for analyzing financial messages related to payments.",
        "example": {
          "paymentId": "PAY-491942",
          "debtorAccountId": "ACC-283698",
          "creditorAccountId": "ACC-387617",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "4603864c-2d77-54fa-a078-b21dc5f47df6",
            "correlationId": "67586c92-0f21-5339-9599-15e6e65d2cff",
            "idempotencyKey": "7c3050fb-6fd1-545f-8746-d40d21c3e407",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-300649"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be instructed for payment.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the instructed amount.",
            "example": "string"
          }
        },
        "description": "This schema represents the instructed amount for a payment, including the amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information for the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in this channel.",
            "example": "string"
          }
        },
        "description": "This schema represents the communication channel information for the request."
      },
      "CreateFinancialMessageAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-394553"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The unique identifier for the debtor's account.",
            "example": "ACC-280278"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The unique identifier for the creditor's account.",
            "example": "ACC-360243"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis conducted.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "List of findings resulting from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial message analysis operation, providing details about the payment analysis results.",
        "example": {
          "paymentId": "PAY-394553",
          "debtorAccountId": "ACC-280278",
          "creditorAccountId": "ACC-360243",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "d93edc61-c8d9-598f-b6bf-3fac4a05a882",
            "correlationId": "67586c92-0f21-5339-9599-15e6e65d2cff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric being measured.",
            "example": "transaction_value"
          },
          "value": {
            "type": "number",
            "description": "The value associated with the metric.",
            "example": 100.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the value.",
            "example": "USD"
          }
        },
        "description": "Represents an individual finding from the analysis, detailing a specific metric and its value."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_654321"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "correlation_321456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the analysis was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata related to the analysis response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-message-analysis-analyze-financial-message-analysis"
        },
        "example": "financial-message-analysis-analyze-financial-message-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token in the form of a JSON Web Token (JWT). This method enables secure RESTful authentication for API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}