{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Institution Login Form Submission API",
    "description": "The Institution Login Form Submission API allows authorized users to securely submit login forms associated with specific institutions. This endpoint facilitates the creation of login sessions by accepting user credentials and validating them against the institution's authentication mechanism. Typical consumers of this API include application developers and IT teams managing user access for educational or financial platforms. It streamlines the login process, enhancing user experience while ensuring robust security protocols are followed.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/login-forms": {
      "post": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Create a login form for a specific institution.",
        "description": "This endpoint allows you to create a new login form for the specified institution identified by RES-100045. Ensure that you provide the necessary data in the request body to successfully create the login form.",
        "operationId": "createLoginFormForInstitution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to authenticate a user for the RES-100045 institution by submitting the necessary login details. The provided JSON object should contain the user's credentials in the required format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoginFormForInstitutionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoginFormForInstitutionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoginFormForInstitutionRequest": {
        "title": "Login Form Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language used for the request.",
            "example": "en"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-848116"
          },
          "configurationId": {
            "type": "string",
            "description": "Identifier for the configuration specific to the login form.",
            "example": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80"
          },
          "serviceAgreement": {
            "description": "Details about the service agreement accepted by the customer.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a login form operation.",
        "example": {
          "language": "en",
          "customerId": "CUST-848116",
          "configurationId": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "a5dde256-5b3b-5ce3-b2ab-4aaf51754ee7",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "idempotencyKey": "ddf7900d-468f-558b-abe9-2fa779ad1e4d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-628826"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language of the service agreement.",
            "example": "string"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted.",
            "example": "string"
          }
        },
        "description": "Schema representing the service agreement details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "CreateLoginFormForInstitutionResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "b7219723-da31-e581-f6cf-5c5c634fc54d"
          },
          "eventStreamId": {
            "type": "string",
            "description": "The ID of the event stream associated with this response.",
            "example": "b0f87741-3c74-58c5-be51-97d06515c7a5"
          },
          "elements": {
            "type": "array",
            "description": "An array of form elements returned in the response.",
            "example": [
              {
                "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FormElement"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the login forms operation.",
        "example": {
          "id": "b7219723-da31-e581-f6cf-5c5c634fc54d",
          "eventStreamId": "b0f87741-3c74-58c5-be51-97d06515c7a5",
          "elements": [
            {
              "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "fb936efe-cf93-5f04-a32d-6a93564c0b28",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FormElement": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the form element."
          },
          "label": {
            "type": "string",
            "description": "The display label of the form element."
          },
          "sortOrder": {
            "type": "integer",
            "description": "The order in which the form element appears in the form.",
            "format": "int32"
          }
        },
        "description": "Defines an individual form element."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this request with other related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-login-forms"
        },
        "example": "open-finance-api-post-institutions-institution-id-login-forms"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This mechanism is commonly used for stateless authentication, enabling secure interactions between a client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}