{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Cross Channel Servicing Event History-spec",
    "description": "The Cross Channel Servicing Event History API enables businesses to create and manage records of servicing events across multiple channels. This API is essential for organizations aiming to track customer interactions and improve service delivery. Users can submit detailed event data to capture interactions, ensuring a comprehensive history is maintained for analytics and reporting. Typical consumers include customer service platforms and banking applications that rely on accurate event tracking for enhanced customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-event-history": {
      "post": {
        "tags": [
          "Cross-Channel Servicing"
        ],
        "summary": "Create a new servicing event history entry.",
        "description": "This endpoint allows you to create a new entry in the servicing event history for cross-channel interactions. Use this to log and track servicing events that occur across different channels, ensuring a comprehensive history for analytics and record-keeping.",
        "operationId": "createCrossChannelServicingEventHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the input data needed to create a new servicing event history entry. Please ensure that all required fields are populated according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelServicingEventHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelServicingEventHistoryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelServicingEventHistoryRequest": {
        "title": "Servicing Event History Request Body",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the servicing event.",
            "example": "PARTY-831676"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-317736"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the interaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for creating a servicing event history via the POST operation.",
        "example": {
          "partyId": "PARTY-831676",
          "interactionId": "INT-317736",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "8f90f3db-6fb0-57ab-9fff-fdf20c67d695",
            "correlationId": "911b07fb-94cc-5a0c-b6c8-73ebf3c572c0",
            "idempotencyKey": "e1e0188e-8970-5473-b402-43eb00d29dfd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-645121"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating the request with other related requests.",
            "example": "correlation-abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is processed only once.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "source-app-1"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the interaction.",
            "example": "device-12345"
          }
        },
        "description": "Information about the channel used for the interaction."
      },
      "CreateCrossChannelServicingEventHistoryResponse_201": {
        "title": "Servicing Event History Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "A unique identifier for the party involved in the event.",
            "example": "PARTY-747976"
          },
          "interactionId": {
            "type": "string",
            "description": "A unique identifier for the interaction.",
            "example": "INT-127819"
          },
          "resourceId": {
            "type": "string",
            "description": "A unique identifier for the resource related to the event.",
            "example": "RES-352715"
          },
          "status": {
            "type": "string",
            "description": "The current status of the servicing event.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the event was created, formatted as an ISO 8601 string.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the servicing event.",
            "$ref": "#/components/schemas/EventMetadata"
          }
        },
        "description": "This schema represents the response for the servicing event history operation.",
        "example": {
          "partyId": "PARTY-747976",
          "interactionId": "INT-127819",
          "resourceId": "RES-352715",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "99e9c1ca-db13-58ea-a9e9-076fe9488213",
            "correlationId": "911b07fb-94cc-5a0c-b6c8-73ebf3c572c0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventMetadata": {
        "title": "Event Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-xyz123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate multiple events.",
            "example": "corr-45678"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated, formatted as an ISO 8601 string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the servicing event."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-event-history-create-servicing-event-history"
        },
        "example": "servicing-event-history-create-servicing-event-history"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows secure access to API endpoints using JSON Web Tokens (JWT) as credentials. Ensure the token is provided in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}