{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Program Trading API",
    "description": "The Program Trading API allows for the automated execution of buy and sell orders on behalf of wholesale trading clients. It facilitates complex trading strategies that require precise timing and market conditions, making it essential for financial institutions and asset managers looking to optimize their trading operations. Users can submit, manage, and track multiple program trades effectively. Ideal consumers include traders and financial analysts involved in high-frequency trading or programmatic transaction execution.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/program-trading": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Create a new program trading entry.",
        "description": "This endpoint allows users to create a new entry for program trading within the wholesale trading system. Ensure that all required fields are properly filled to avoid validation errors.",
        "operationId": "createProgramTrading",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a program trading operation within the wholesale trading context. It contains all necessary parameters and data structures required to successfully create or modify a trading program.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProgramTradingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProgramTradingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProgramTradingRequest": {
        "title": "Program Trading Request Body",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the trading instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, either 'buy' or 'sell'.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to be traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price details for the trade.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "requestContext": {
            "description": "The context under which the request is made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for program trading operations in wholesale trading.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "6bc0cf45-dce7-5857-90a7-b70365a62e02",
            "correlationId": "4b166ff5-780f-5699-8e43-a112a75e98ab",
            "idempotencyKey": "0d02ca33-adc3-554f-b723-2a1e0c6fbe41",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-221805"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value of the trade.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price information for a trading request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information used for the request."
      },
      "CreateProgramTradingResponse_201": {
        "title": "Program Trading Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument involved in the trading.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the trading.",
            "example": "RES-879229"
          },
          "status": {
            "type": "string",
            "description": "Current status of the trading operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the trading operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the trading operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the program trading operation, containing details about the trading book and associated metadata.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-879229",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1592b4cb-f985-582b-8f9e-4b764991def0",
            "correlationId": "4b166ff5-780f-5699-8e43-a112a75e98ab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Object",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response101"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this operation with other operations.",
            "example": "correlation202"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the trading took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the trading operation, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, providing context for the operation performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "program-trading-create-program-trading"
        },
        "example": "program-trading-create-program-trading"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, where a JSON Web Token (JWT) is provided as a means of verifying the user's identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}