{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ATM Reference Information API",
    "description": "The ATM Reference Information API provides access to a comprehensive directory of ATMs within the open banking framework. This API allows financial institutions and developers to query detailed information about available ATMs, including their locations, services offered, and accessibility features. Typical consumers of this API include mobile banking applications and financial service providers seeking to enhance their user experience by integrating reliable ATM data. By leveraging this API, developers can optimize routing and service offerings for end-users, ensuring easy access to cash withdrawal services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/atms": {
      "get": {
        "tags": [
          "ATM Services"
        ],
        "summary": "Retrieve a list of ATMs",
        "description": "This endpoint allows you to fetch a comprehensive list of ATMs available within the open banking network. You can use this information to locate ATMs, check their availability, and provide users with convenient access to cash.",
        "operationId": "getAtms",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about ATMs in the Open Banking system. It may contain filters or specifications that determine which ATMs to return based on user input or system parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAtmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved ATM data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAtmsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAtmsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to ATMs in the Open Banking specification.",
        "example": "{}"
      },
      "GetAtmsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaInformation"
          },
          "data": {
            "type": "array",
            "description": "List of ATM data results.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-930",
                    "TrademarkID": "STANDARD"
                  }
                },
                "BranchIdentification": "STANDARD",
                "ATMID": "STANDARD",
                "LocationCategory": "STANDARD",
                "SiteID": "STANDARD",
                "SiteName": "Northstar Banking Service",
                "Address": {
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumberOrName": "Northstar Banking Service",
                  "PostCode": "CODE-400",
                  "OptionalAddressField": "STANDARD",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD"
                },
                "GeographicLocation": {
                  "Latitude": "STANDARD",
                  "Longitude": "STANDARD"
                },
                "AccessibilityTypes": [
                  "STANDARD"
                ],
                "SupportedLanguages": [
                  "STANDARD"
                ],
                "ATMServices": [
                  "STANDARD"
                ],
                "AdditionalATMServices": [
                  "STANDARD"
                ],
                "Currency": [
                  "USD"
                ],
                "MinimumValueDispensed": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ATMData"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET ATM operations in Open Banking, providing metadata and ATM data details.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-930",
                  "TrademarkID": "STANDARD"
                }
              },
              "BranchIdentification": "STANDARD",
              "ATMID": "STANDARD",
              "LocationCategory": "STANDARD",
              "SiteID": "STANDARD",
              "SiteName": "Northstar Banking Service",
              "Address": {
                "StreetName": "Northstar Banking Service",
                "BuildingNumberOrName": "Northstar Banking Service",
                "PostCode": "CODE-400",
                "OptionalAddressField": "STANDARD",
                "TownName": "Northstar Banking Service",
                "CountrySubDivision": "STANDARD",
                "Country": "STANDARD"
              },
              "GeographicLocation": {
                "Latitude": "STANDARD",
                "Longitude": "STANDARD"
              },
              "AccessibilityTypes": [
                "STANDARD"
              ],
              "SupportedLanguages": [
                "STANDARD"
              ],
              "ATMServices": [
                "STANDARD"
              ],
              "AdditionalATMServices": [
                "STANDARD"
              ],
              "Currency": [
                "USD"
              ],
              "MinimumValueDispensed": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "cbb0884c-b573-5b43-b549-495ce0ab8f5c",
            "correlationId": "622e3e27-b649-537f-8e2a-e4d030ddf003",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaInformation": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The date and time when the data was last updated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "The total number of results returned.",
            "format": "int32",
            "example": 0
          },
          "Agreement": {
            "type": "string",
            "description": "The agreement under which this data is shared.",
            "example": "Agreement details"
          },
          "License": {
            "type": "string",
            "description": "Information about the licensing of the data.",
            "example": "License details"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "The terms under which data can be used.",
            "example": "Terms of use details"
          }
        },
        "description": "Metadata about the ATM data response."
      },
      "ATMData": {
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/OrganisationDetails"
          },
          "BranchIdentification": {
            "type": "string",
            "description": "Unique identifier for the branch of the ATM.",
            "example": "Branch123"
          },
          "ATMID": {
            "type": "string",
            "description": "The unique identifier for the ATM.",
            "example": "ATM123456"
          },
          "LocationCategory": {
            "type": "string",
            "description": "Category of the location where the ATM is situated.",
            "example": "Urban"
          },
          "SiteID": {
            "type": "string",
            "description": "Unique identifier for the site hosting the ATM.",
            "example": "Site123"
          },
          "SiteName": {
            "type": "string",
            "description": "The name of the site where the ATM is located.",
            "example": "City Center Mall"
          },
          "Address": {
            "$ref": "#/components/schemas/AddressDetails"
          },
          "GeographicLocation": {
            "$ref": "#/components/schemas/GeographicLocationDetails"
          },
          "AccessibilityTypes": {
            "type": "array",
            "description": "List of accessibility types available at the ATM.",
            "items": {
              "type": "string",
              "example": "Wheelchair Access"
            }
          },
          "SupportedLanguages": {
            "type": "array",
            "description": "Languages supported by the ATM for user interaction.",
            "items": {
              "type": "string",
              "example": "English"
            }
          },
          "ATMServices": {
            "type": "array",
            "description": "List of services offered by the ATM.",
            "items": {
              "type": "string",
              "example": "Cash Withdrawal"
            }
          },
          "AdditionalATMServices": {
            "type": "array",
            "description": "List of additional services provided by the ATM.",
            "items": {
              "type": "string",
              "example": "Balance Check"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Currencies supported by the ATM.",
            "items": {
              "type": "string",
              "example": "USD"
            }
          },
          "MinimumValueDispensed": {
            "type": "string",
            "description": "The minimum amount of currency that can be dispensed at this ATM.",
            "example": "20.00"
          }
        },
        "description": "Details of an individual ATM."
      },
      "OrganisationDetails": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisationDetails"
          },
          "Brand": {
            "$ref": "#/components/schemas/BrandDetails"
          }
        },
        "description": "Details of the organization that owns the ATM."
      },
      "ParentOrganisationDetails": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the organization.",
            "example": "123456789"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code of the organization.",
            "example": "BANKUSXX"
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationNameDetails"
          }
        },
        "description": "Details about the parent organization of the ATM."
      },
      "OrganisationNameDetails": {
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legally registered name of the organization.",
            "example": "Bank of Example"
          }
        },
        "description": "The organization name details."
      },
      "BrandDetails": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark IPO code associated with the brand.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "ID of the trademark for the brand.",
            "example": "TID123456"
          }
        },
        "description": "Brand information associated with the ATM."
      },
      "AddressDetails": {
        "type": "object",
        "properties": {
          "StreetName": {
            "type": "string",
            "description": "Name of the street where the ATM is located.",
            "example": "Main St"
          },
          "BuildingNumberOrName": {
            "type": "string",
            "description": "Building number or name where the ATM is located.",
            "example": "Building 1"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code of the ATM location.",
            "example": "12345"
          },
          "OptionalAddressField": {
            "type": "string",
            "description": "Any additional address information.",
            "example": "Near the park"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town where the ATM is located.",
            "example": "Exampletown"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country such as a state or region.",
            "example": "California"
          },
          "Country": {
            "type": "string",
            "description": "Country where the ATM is located.",
            "example": "USA"
          }
        },
        "description": "Address details of the ATM location."
      },
      "GeographicLocationDetails": {
        "type": "object",
        "properties": {
          "Latitude": {
            "type": "string",
            "description": "Geographical latitude of the ATM location.",
            "example": "34.0522"
          },
          "Longitude": {
            "type": "string",
            "description": "Geographical longitude of the ATM location.",
            "example": "-118.2437"
          }
        },
        "description": "Geographic location details of the ATM."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests and responses.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Metadata related to the response for debugging and tracing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint being accessed, useful for tracing requests in a distributed system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-atms"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-atms"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, aiding in monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. A Bearer token is used to authorize requests and should be included in the Authorization header as 'Bearer {token}'. The token follows the JWT standard, which allows you to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}