{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Applicants Retrieval API",
    "description": "The Loan Applicants Retrieval API allows users to access detailed information about applicants associated with specific loan applications. This endpoint is designed for financial institutions and service providers who need to retrieve applicant data for review, processing, or reporting purposes. By specifying a loan application identifier, users can efficiently fetch relevant applicant details. Typical consumers include loan officers, application processors, and data analysts who require quick access to applicant information for decision-making and compliance processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve applicants for a specific loan application.",
        "description": "This endpoint allows developers to fetch the details of applicants associated with a particular loan application identified by its resource ID. It can be used to assess the applicants' information and progress in the loan application process.",
        "operationId": "getLoanApplicationsApplicantsRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Retrieve the loan application applicants for the specified loan application ID. This request body contains the necessary details to obtain relevant applicant information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsApplicantsRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of applicants for the specified loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsApplicantsRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsApplicantsRes100045Request": {
        "type": "string",
        "description": "This schema represents the JSON string that encapsulates loan application data for applicants in the loan application system.",
        "example": "{}"
      },
      "GetLoanApplicationsApplicantsRes100045Response_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of applicants for the loan application.",
            "example": [
              {
                "role": "PRIMARY_HOLDER",
                "customerId": "CUST-825050",
                "relationshipToPrimary": "STANDARD",
                "income": {
                  "employmentType": "STANDARD",
                  "employerName": "Northstar Banking Service",
                  "occupation": "STANDARD",
                  "employmentStartDate": "2026-09-15",
                  "businessRegistrationNumber": "STANDARD",
                  "grossMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "netMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "otherMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "verificationStatus": "VERIFIED"
                },
                "monthlyObligations": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "declaredAssets": [
                  {
                    "assetType": "STANDARD",
                    "description": "Customer banking request processed successfully",
                    "estimatedValue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "declaredLiabilities": [
                  {
                    "liabilityType": "STANDARD",
                    "lenderName": "Northstar Banking Service",
                    "outstandingBalance": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "monthlyPayment": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "id": "d4df9d2c-14aa-69e4-2142-cff2a02b050d",
                "creditBureauStatus": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Applicant"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan application applicants.",
        "example": {
          "items": [
            {
              "role": "PRIMARY_HOLDER",
              "customerId": "CUST-825050",
              "relationshipToPrimary": "STANDARD",
              "income": {
                "employmentType": "STANDARD",
                "employerName": "Northstar Banking Service",
                "occupation": "STANDARD",
                "employmentStartDate": "2026-09-15",
                "businessRegistrationNumber": "STANDARD",
                "grossMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "netMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "otherMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "verificationStatus": "VERIFIED"
              },
              "monthlyObligations": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "declaredAssets": [
                {
                  "assetType": "STANDARD",
                  "description": "Customer banking request processed successfully",
                  "estimatedValue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "declaredLiabilities": [
                {
                  "liabilityType": "STANDARD",
                  "lenderName": "Northstar Banking Service",
                  "outstandingBalance": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "monthlyPayment": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "id": "d4df9d2c-14aa-69e4-2142-cff2a02b050d",
              "creditBureauStatus": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "ea10c6d8-742b-5b92-a50b-11ec89212f26",
            "correlationId": "a6422d64-9a6e-57b3-9a77-7e7cee1c742a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Applicant": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application process."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary borrower."
          },
          "income": {
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "$ref": "#/components/schemas/Money"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant."
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "Status of the applicant's credit report."
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing an applicant's details."
      },
      "Income": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment of the applicant."
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer."
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant."
          },
          "employmentStartDate": {
            "type": "string",
            "description": "Start date of the employment."
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if self-employed."
          },
          "grossMonthlyIncome": {
            "$ref": "#/components/schemas/Money"
          },
          "netMonthlyIncome": {
            "$ref": "#/components/schemas/Money"
          },
          "otherMonthlyIncome": {
            "$ref": "#/components/schemas/Money"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Status of the income verification."
          }
        },
        "description": "Schema representing the income details of an applicant."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount."
          },
          "amount": {
            "type": "string",
            "description": "The amount of money."
          }
        },
        "description": "Schema representing a monetary value with currency."
      },
      "Asset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset."
          },
          "description": {
            "type": "string",
            "description": "Description of the asset."
          },
          "estimatedValue": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing an asset declared by the applicant."
      },
      "Liability": {
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of the liability."
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender for the liability."
          },
          "outstandingBalance": {
            "$ref": "#/components/schemas/Money"
          },
          "monthlyPayment": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing a liability declared by the applicant."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32"
          }
        },
        "description": "Schema representing audit details of an applicant's information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema representing additional metadata for the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint, which helps in tracing requests through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-applicants"
        },
        "example": "banking-loans-openapi-list-applicants"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name or ID of the application that processed the request, useful for debugging performance issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer token authentication via the HTTP Authorization header. A valid JWT (JSON Web Token) must be provided to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}