{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Contribution Analysi Review-spec",
    "description": "This API enables businesses to submit and manage reviews for contribution analysis reports. It allows users to provide feedback and insights on specific analyses, facilitating better decision-making and refinement of business strategies. Common consumers include analysts, business managers, and operational teams who rely on comprehensive reviews to enhance the accuracy of their contributions. Through this API, organizations can streamline the review process, ensuring timely and thorough evaluations while fostering collaboration and continuous improvement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/contribution-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Contribution Analysis"
        ],
        "summary": "Create a new review for the contribution analysis.",
        "description": "This endpoint allows users to submit a review related to a specific contribution analysis identified by RES-100045. The review can provide insights and feedback that contribute to the overall assessment of the analysis.",
        "operationId": "createContributionAnalysiReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Provides the data necessary to create a new review for the specified contribution analysis resource. This includes detailed information that characterizes the review being submitted, ensuring proper integration with the system's existing analyses.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContributionAnalysiReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContributionAnalysiReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateContributionAnalysiReviewRequest": {
        "title": "Request Body for Contribution Analysis Review",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, specifying the areas or items covered.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The unique identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date and time for the review to be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for submitting a review in the contribution analysis operation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "8b5ee1cd-2135-524b-ac36-3c6244a28273",
            "correlationId": "f751dbb5-8753-50d4-b468-e9d4922e0ed3",
            "idempotencyKey": "90548ec7-6a80-580a-b9e3-ef26b3bedbd7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-603459"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for this request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to track the related operations across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "A schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Schema providing details about the channel used for the request."
      },
      "CreateContributionAnalysiReviewResponse_202": {
        "title": "Contribution Analysis Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the contribution analysis operation, including action details and metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f0714021-def9-527d-905d-2c7270d19ff4",
            "correlationId": "f751dbb5-8753-50d4-b468-e9d4922e0ed3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint related to this request, ensuring that tracking for specific operations can be accurately maintained.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-analysis-review-contribution-analysis"
        },
        "example": "contribution-analysis-review-contribution-analysis"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application running the process, helping in debugging and monitoring performance across different environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme supports the use of Bearer Tokens in HTTP authentication, specifically utilizing JSON Web Tokens (JWT) for secure access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}