{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Retrieval API",
    "description": "The Loan Application Retrieval API enables users to access detailed information about specific loan applications based on their unique identifiers. This endpoint is primarily aimed at financial institutions and loan officers who need to verify application statuses or review application details. By calling this API with the relevant application ID, users can obtain pertinent data, streamlining the loan review process. This enhances operational efficiency by allowing quick access to critical application insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve Loan Application Details",
        "description": "This endpoint allows developers to fetch the details of a specific loan application using its unique identifier. It provides all relevant information regarding the application status, applicant details, and financial information.",
        "operationId": "getLoanApplicationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request payload for retrieving loan application details associated with a specific identifier. This allows clients to fetch relevant information regarding the loan application specified by the ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan application details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for loan application operations in JSON format.",
        "example": "{}"
      },
      "GetLoanApplicationByIdResponse_200": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product.",
            "example": "PROD-835519"
          },
          "externalReference": {
            "type": "string",
            "description": "The external reference associated with the application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer for the application.",
            "example": "CUST-941496"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the loan application was initiated.",
            "example": "CODE-765"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The promotional campaign code associated with the application.",
            "example": "CODE-374"
          },
          "customerConsent": {
            "description": "The consents provided by the customer related to the application.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "11aa6459-7ddb-1c66-12a8-f399d3da0026"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned to the loan application.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The date and time when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The date and time when a decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The booked loan identifier if the application is approved.",
            "example": "LOAN-267023"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percent completion of the loan application process.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "A list of outstanding requirements for the application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information related to the application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata about the application.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a loan application retrieval request.",
        "example": {
          "productId": "PROD-835519",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-941496",
          "branchCode": "CODE-765",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-374",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "11aa6459-7ddb-1c66-12a8-f399d3da0026",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-267023",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "313037ee-89ec-5015-a141-a59f6821acaf",
            "correlationId": "5527df2b-004a-5e39-9f7d-108774d04613",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the requested principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the principal requested by the applicant.",
            "example": "10000"
          }
        },
        "description": "Represents the requested loan amount details."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consented to credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consented to data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consented to marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when the consents were granted.",
            "example": "2023-10-01T12:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "A unique reference for the consent.",
            "example": "CONSENT-001"
          }
        },
        "description": "Contains the consent details provided by the customer."
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code assigned to the requirement.",
            "example": "REQ-001"
          },
          "description": {
            "type": "string",
            "description": "A description of the outstanding requirement.",
            "example": "Proof of income"
          },
          "status": {
            "type": "string",
            "description": "The current status of the requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for submitting the requirement.",
            "example": "2023-10-10"
          }
        },
        "description": "Details of an outstanding requirement for the loan application."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the application was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the application.",
            "example": "USER-001"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the application was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the application.",
            "example": "USER-002"
          },
          "version": {
            "type": "integer",
            "description": "The version of the application record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains audit information for the loan application."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking purposes.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the application was processed.",
            "example": "US-West"
          }
        },
        "description": "Contains metadata information for the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-application"
        },
        "example": "banking-loans-openapi-get-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, allowing identification of the service handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme defines an HTTP Bearer authentication method using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}