{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Settlement Id-spec",
    "description": "The P2M Settlement Retrieval API enables users to access detailed information about Payment to Merchant (P2M) transactions using a unique settlement ID. This endpoint is designed for financial institutions, payment processors, and developers who need to obtain transaction summaries and statuses. By querying the API with the specific settlement ID, clients can retrieve relevant data including transaction amounts, dates, and related merchant information. Use cases include reconciliation processes, auditing, and providing insights for financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}": {
      "get": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Retrieve settlement details",
        "description": "This endpoint allows you to retrieve detailed information about a specific settlement identified by its ID. You can use this to check the status, involved parties, and financial records associated with the settlement.",
        "operationId": "getP2mBySettlementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve settlements for the specified RES-100045 identifier. It requires the necessary parameters to filter and return the specific data related to operations for the given resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mBySettlementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the settlement details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mBySettlementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mBySettlementIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operations related to settlements.",
        "example": "{}"
      },
      "GetP2mBySettlementIdResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement.",
            "example": "MER-659057"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Account identifier used for the settlement.",
            "example": "ACC-970614"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the settlement.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of the settlement that includes gross payments, refunds, and other financial details.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "Count of lines/items in the settlement report.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference number for the bank payout associated with the settlement.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "Expected date and time for the payout to occur.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "Date and time when the payout was actually made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for the settlement record.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the settlement details retrieved from the GET operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-659057",
          "settlementAccountId": "ACC-970614",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "1a2afc83-c0e7-5a5f-abb6-bafbbe982278",
            "correlationId": "65a4be0a-fc2a-5594-89ed-349dde934d22",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments processed during the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "refunds": {
            "description": "Total refunds processed during the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "reversals": {
            "description": "Total reversals processed during the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "disputes": {
            "description": "Total disputes associated with the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "fees": {
            "description": "Total fees deducted during the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "taxes": {
            "description": "Total taxes applied during the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "reserveHeld": {
            "description": "Total reserve amounts held during the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "reserveReleased": {
            "description": "Total amounts released from reserves during the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "adjustments": {
            "description": "Total adjustments made during the settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          },
          "netSettlement": {
            "description": "Total amount of the net settlement.",
            "$ref": "#/components/schemas/PaymentDetail"
          }
        },
        "description": "Summary of financial details for the settlement.",
        "example": "string"
      },
      "PaymentDetail": {
        "title": "Payment Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency used for the transaction.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Monetary value of the transaction, presented as a string.",
            "example": "100.00"
          }
        },
        "description": "Details about a monetary transaction."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the settlement record was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the settlement record.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the settlement record was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the settlement record.",
            "example": "user456"
          }
        },
        "description": "Schema containing audit details for the settlement."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the API response related to the settlement.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across systems.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the settlement metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the settlement was processed.",
            "example": "US-WEST"
          }
        },
        "description": "Schema containing additional metadata for the settlement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-settlement"
        },
        "example": "banking-p2m-openapi-get-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with a JSON Web Token (JWT). It is typically utilized for API authentication, allowing secure access to resources by passing the token in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}