{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Analysi By Param1-spec",
    "description": "The Business Analysis Retrieval API provides access to market analysis data based on a specified parameter. By utilizing this endpoint, users can retrieve comprehensive insights and assessments relevant to their business strategies. This API is particularly useful for financial analysts, market researchers, and decision-makers seeking to inform their strategies with data-driven insights. It allows for querying specific market conditions based on the given parameter, empowering organizations to adapt and thrive in a competitive landscape.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-analysis/{param1}": {
      "get": {
        "tags": [
          "Market Analysis"
        ],
        "summary": "Retrieve Market Analysis Data",
        "description": "Fetch detailed information related to the market analysis identified by the resource ID RES-100045. This endpoint provides insights essential for decision-making and strategic planning.",
        "operationId": "getBusinessAnalysiByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for executing a market analysis operation. The body should contain all necessary parameters required for the analysis. Ensure that the request meets the expected schema format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessAnalysiByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested market analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessAnalysiByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessAnalysiByParam1Request": {
        "type": "string",
        "description": "Request body for the market analysis operation in the business analysis service.",
        "example": "{}"
      },
      "GetBusinessAnalysiByParam1Response_200": {
        "title": "Market Analysis Response",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the market analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "The identifier for the market segment being analyzed.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the analysis results.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the analysis was conducted.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the analysis record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the analysis result.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update of the analysis record in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the analysis response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the market analysis operations.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f4d45f4e-4902-5407-9a8d-015c2de3b2c8",
            "correlationId": "7b88f6ba-6392-5648-a483-cf25217a225c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated, in ISO 8601 format.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the analysis was processed.",
            "example": "string"
          }
        },
        "description": "This schema represents the metadata information associated with a market analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being used, allowing for tracking and monitoring of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-analysis-get-market-analysis"
        },
        "example": "market-analysis-get-market-analysis"
      },
      "X-Runtime-App": {
        "description": "The application context in which the operation is executed, useful for identifying the backend service handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication, where the client sends a token in the authorization header. The token is expected to be in JSON Web Token (JWT) format, which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}