{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Model Liquidity Risk Models-spec",
    "description": "The Liquidity Risk Models Retrieval API allows users to access a comprehensive list of liquidity risk models utilized within the banking sector. This API serves financial analysts and risk managers who require up-to-date model information to assess liquidity exposure and ensure compliance with regulatory requirements. By leveraging this API, stakeholders can efficiently retrieve model specifications and associated data to inform decision-making processes. It supports a seamless integration for applications focused on risk assessment and management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/liquidity-risk-models": {
      "get": {
        "tags": [
          "Liquidity Risk Models"
        ],
        "summary": "Retrieve all liquidity risk models.",
        "description": "This endpoint allows you to fetch a comprehensive list of all available liquidity risk models, providing insights into their characteristics and performance metrics.",
        "operationId": "listModelLiquidityRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body specifies the parameters for retrieving liquidity risk models. It should include all necessary fields and adhere to the schema defined for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListModelLiquidityRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of liquidity risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelLiquidityRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListModelLiquidityRiskModelsRequest": {
        "type": "string",
        "description": "Represents the JSON request body for the liquidity risk models operations GET request. It is expected to be a string representation of the request data.",
        "example": "{}"
      },
      "ListModelLiquidityRiskModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of liquidity risk model objects.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-794341",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LiquidityRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order applied to the models returned.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the liquidity risk models operations GET request.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-794341",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9d893e8c-af6c-5e1d-b058-39312d9dcce8",
            "correlationId": "a9f3b457-fb4e-5977-bfa3-0b94ab435f1c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LiquidityRiskModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the liquidity risk model."
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the liquidity risk model."
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio related to the liquidity risk model."
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is valid."
          },
          "scenario": {
            "type": "string",
            "description": "The scenario for which the liquidity risk model is being applied."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level associated with the model's predictions."
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for validation of the model."
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The window of months used for backtesting the model.",
            "format": "int32"
          },
          "approvalStatus": {
            "type": "string",
            "description": "The approval status of the liquidity risk model."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current record status of the model in the system."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated."
          }
        },
        "description": "Represents an individual liquidity risk model."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Metadata for pagination of the returned results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing requests across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "liquidity-risk-models-search-liquidity-risk-models"
        },
        "example": "liquidity-risk-models-search-liquidity-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a JSON Web Token (JWT) to be included in the request headers for authorization. The token should be prefixed with the word 'Bearer', followed by a space.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}