{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Unit Accounting Retrieval API",
    "description": "The Business Unit Accounting Retrieval API provides a comprehensive way to access and manage accounting data related to specific business units. This API allows users to retrieve detailed financial information, including expenses, revenues, and budgets associated with each business unit. Typical consumers include financial analysts and business managers who need accurate accounting insights for reporting and decision-making. By leveraging this API, organizations can streamline financial operations and enhance their strategic planning processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-accounting": {
      "get": {
        "tags": [
          "Business Unit Management"
        ],
        "summary": "Retrieve business unit accounting details",
        "description": "This endpoint allows users to fetch details related to the accounting of a specific business unit, providing essential financial information necessary for decision-making.",
        "operationId": "getBusinessUnitAccounting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve accounting information for a business unit. It should contain the necessary parameters that specify which business unit's data is being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessUnitAccountingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the business unit accounting information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessUnitAccountingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessUnitAccountingRequest": {
        "type": "string",
        "description": "A placeholder for the JSON request body for the GET operation related to business unit accounting operations.",
        "example": "{}"
      },
      "GetBusinessUnitAccountingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of business unit accounting items.",
            "example": [
              {
                "businessUnitId": "STANDARD",
                "costCenter": "STANDARD",
                "planningPeriod": "STANDARD",
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "forecastVersion": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessUnitAccountingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on business unit accounting operations.",
        "example": {
          "items": [
            {
              "businessUnitId": "STANDARD",
              "costCenter": "STANDARD",
              "planningPeriod": "STANDARD",
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "forecastVersion": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f33c8ed1-83c2-5f9c-90ab-bf84f5213f1c",
            "correlationId": "fb3ff298-e550-511e-80c5-d427a1c752e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessUnitAccountingItem": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "BU123"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the business unit.",
            "example": "CC456"
          },
          "planningPeriod": {
            "type": "string",
            "description": "Planning period for the budget.",
            "example": "2023-Q1"
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast used."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2023-10-10T10:00:00Z"
          }
        },
        "description": "Schema representing a business unit accounting item."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The budget amount.",
            "example": 15000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget for a business unit."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-accounting-search-business-unit-accounting"
        },
        "example": "business-unit-accounting-search-business-unit-accounting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism where a token is sent in the Authorization header. The token must be a valid JSON Web Token (JWT) that grants access to the secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}