{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Network Participant Facility API",
    "description": "The Card Network Participant Facility API provides crucial data regarding participants in the card network ecosystem. It enables businesses to access comprehensive information about various facilities associated with card network participants, such as banks and financial institutions. This API is typically used by developers in the fintech sector, who require real-time access to participant data for integrations and analytics. Utilize this endpoint to enhance your applications with up-to-date participant facility information for informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-network-participant-facility": {
      "get": {
        "tags": [
          "Card Network Management"
        ],
        "summary": "Retrieve card network participant facility information",
        "description": "Fetches detailed information about a specific card network participant facility. This endpoint provides essential data for understanding the roles and capabilities of facility participants within the card network, facilitating better decision-making for stakeholders.",
        "operationId": "getCardNetworkParticipantFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the card network participant facility. Ensure that the required parameters are included in the JSON format as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardNetworkParticipantFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of card network participant facility details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardNetworkParticipantFacilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardNetworkParticipantFacilityRequest": {
        "type": "string",
        "description": "A request body that typically carries a string representation of data for the specified operation.",
        "example": "{}"
      },
      "GetCardNetworkParticipantFacilityResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of card network participant facilities.",
            "example": [
              {
                "cardToken": "TOK-586303",
                "cardholderId": "STANDARD",
                "merchantId": "MER-781606",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardNetworkParticipantFacility"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for querying card network participant facilities.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-586303",
              "cardholderId": "STANDARD",
              "merchantId": "MER-781606",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a525f052-2a22-5f9f-8154-e2872109e759",
            "correlationId": "8e187c33-d253-5d14-8963-f3009b10bd2e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardNetworkParticipantFacility": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique identifier for the card.",
            "example": "string"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "string"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code denoting the type of services offered.",
            "example": "string"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier the facility belongs to.",
            "example": "string"
          },
          "availabilityTargetPercent": {
            "type": "integer",
            "description": "Target percentage for availability.",
            "format": "int32",
            "example": 0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a card network participant facility."
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency for the transaction amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount for a transaction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema for pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema providing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracing and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-network-participant-facility-search-card-network-participant-facility"
        },
        "example": "card-network-participant-facility-search-card-network-participant-facility"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, aiding in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Token format, specifically using JSON Web Tokens (JWT). Clients must include this token in the Authorization header of their requests to authenticate and gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}