{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Authorization Void-spec",
    "description": "The Authorization Void API allows users to cancel or void an existing authorization, helping to manage transaction states effectively. This endpoint is useful for merchants and payment processors who need to reverse authorizations that are no longer required. By providing the specific authorization ID, users can ensure the transaction is properly handled without incurring unnecessary charges. Typical consumers include financial institutions and businesses involved in online transactions, aiming to enhance operational accuracy and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}/void": {
      "post": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Void a specific authorization request.",
        "description": "This endpoint allows you to void an existing authorization request identified by a specific reference number. Upon successfully voiding the authorization, a confirmation of the action will be returned.",
        "operationId": "createAuthorizationVoid",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/authorizationId"
          }
        ],
        "requestBody": {
          "description": "This endpoint is used to void a specific authorization identified by the unique identifier RES-100045. The request must include all necessary information in JSON format to accurately process the void operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAuthorizationVoidRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The voiding request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAuthorizationVoidResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAuthorizationVoidRequest": {
        "title": "Void Operation Request Body",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Code indicating the reason for voiding the operation.",
            "example": "CODE-662"
          },
          "reason": {
            "type": "string",
            "description": "Detailed explanation of why the operation is being voided.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for void operations.",
        "example": {
          "reasonCode": "CODE-662",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "01f5bc3a-fa55-53cc-a30a-72a4f913430c",
            "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
            "idempotencyKey": "960e8dc2-0d4c-52e5-a1eb-1df2d48644f3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-506913"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs related to this request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request was made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema containing information about the channel used in the request."
      },
      "CreateAuthorizationVoidResponse_200": {
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment associated with the authorization.",
            "example": "PAY-627632"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant performing the operation.",
            "example": "MER-345800"
          },
          "authorizedAmount": {
            "description": "The amount that was authorized.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "The amount that was captured.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "The total amount involved in the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization process.",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "description": "Code indicating approval of the authorization.",
            "example": "CODE-102"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the authorization will expire.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information regarding the authorization.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional information related to the authorization.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a void operation for authorizations.",
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-627632",
          "merchantId": "MER-345800",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-102",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "065c5a39-dd84-5db5-b933-cd932e99c33a",
            "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217) representing the currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the transaction amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount associated with a transaction."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user or system that created the record.",
            "example": "system_user"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user or system that last updated the record.",
            "example": "system_user"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the authorization."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request and response through various services.",
            "example": "corr_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata associated with the authorization."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "authorizationId": {
        "name": "authorizationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the API endpoint that was invoked during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-void-authorization"
        },
        "example": "banking-p2m-openapi-void-authorization"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application runtime in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses a bearer token in the HTTP Authorization header. This token is typically a JSON Web Token (JWT) that contains user authentication and authorization information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}