{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Expense Claims Management API",
    "description": "The Expense Claims Management API provides functionality for updating the expense claims of employees within an organization. This enables managers and administrators to efficiently manage, amend, and track employee expenses in a streamlined manner. Typical users include finance teams and HR personnel who need to ensure compliance with company policies while facilitating accurate reimbursements. The API allows for integration with banking systems and internal financial platforms to enhance operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/employees/{employeeId}/expense-claims/{param2}": {
      "put": {
        "tags": [
          "Expense Claims Management"
        ],
        "summary": "Update an expense claim for a specific employee.",
        "description": "This endpoint allows you to update the details of an expense claim associated with a specific employee. Make sure to provide the necessary information in the request body to successfully update the expense claim.",
        "operationId": "updateEmployeeExpenseClaimEmp900045Res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/employeeId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the expense claim associated with the specified employee. It includes details such as claim amounts, dates, and descriptions necessary for processing the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployeeExpenseClaimEmp900045Res100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Expense claim successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEmployeeExpenseClaimEmp900045Res100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEmployeeExpenseClaimEmp900045Res100045Request": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "The unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee submitting the expense claim.",
            "example": "EMP-397951"
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip for which the expenses are being claimed.",
            "example": "STANDARD"
          },
          "expensePeriod": {
            "description": "The period during which the expenses were incurred.",
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "description": "The amount being claimed in the expense report.",
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the expense claim.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata related to the request for processing the expense claim.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for submitting an expense claim by an employee.",
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-397951",
          "tripPurpose": "STANDARD",
          "expensePeriod": {
            "from": "2026-08-11",
            "to": "2026-08-11"
          },
          "claimedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "costCenter": "STANDARD",
          "requestContext": {
            "requestId": "c75a83d3-9db3-5a9b-8508-0c152e91e212",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "idempotencyKey": "e6b8d22d-c06a-5d70-8b23-d5f3d4dd9c1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-423278"
            }
          }
        }
      },
      "ExpensePeriod": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "The starting date of the expense period.",
            "example": "2023-01-01"
          },
          "to": {
            "type": "string",
            "description": "The ending date of the expense period.",
            "example": "2023-01-05"
          }
        },
        "description": "This schema represents the period for which expenses are being claimed."
      },
      "ClaimedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount being claimed.",
            "example": 150.0
          },
          "currency": {
            "type": "string",
            "description": "The currency for the claimed amount, in ISO 4217 format.",
            "example": "USD"
          }
        },
        "description": "This schema represents the amount being claimed, including the currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing the request through multiple systems.",
            "example": "CORR-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the same request is not processed multiple times.",
            "example": "IDEMP-78910"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRIS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Expense Tracker"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request was made.",
            "example": "DEVICE-456"
          }
        },
        "description": "This schema represents the channel through which the request was made."
      },
      "UpdateEmployeeExpenseClaimEmp900045Res100045Response_201": {
        "title": "Expense Claim Response",
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee submitting the expense claim.",
            "example": "EMP-200976"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the expense claim.",
            "example": "RES-557358"
          },
          "status": {
            "type": "string",
            "description": "Current status of the expense claim (e.g., 'Pending', 'Approved', 'Rejected').",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the expense claim was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response to the expense claim request.",
                "example": "RESP-987654"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses in a distributed system.",
                "example": "CORR-321098"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-05T14:50:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the expense claim was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the processing of the expense claim.",
            "example": {
              "responseId": "b18ccaed-6d3f-55b4-9d92-7492b39f0d32",
              "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for an expense claim operation, containing details about the processed expense report.",
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-200976",
          "resourceId": "RES-557358",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b18ccaed-6d3f-55b4-9d92-7492b39f0d32",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "employeeId": {
        "name": "employeeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-create-travel-and-expenses"
        },
        "example": "travel-and-expenses-create-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow at the time of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
        },
        "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, typically implemented as a JSON Web Token (JWT). The client must include this token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}