{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Decisioning Customer Assetsummary-v5-spec",
    "description": "MICROSERVICE-PROD-Create Decisioning Customer Assetsummary-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/assetsummary": {
      "post": {
        "operationId": "createDecisioningCustomerAssetsummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDecisioningCustomerAssetsummaryRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDecisioningCustomerAssetsummaryResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDecisioningCustomerAssetsummaryRequest": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "example": "ACC-572347"
          },
          "reportCustomFields": {
            "type": "array",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "string"
                },
                "value": {
                  "type": "string",
                  "example": "string"
                },
                "shown": {
                  "type": "boolean",
                  "example": false
                }
              },
              "example": "string"
            }
          },
          "showNsf": {
            "type": "boolean",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "0fda48c5-d955-51e5-8696-72bf1499f7d1",
              "correlationId": "86694182-fef6-569b-8ebd-0e74ac8429d7",
              "idempotencyKey": "40266528-4244-5ea4-9284-6f90db741b8a",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-687584"
              }
            }
          }
        },
        "example": {
          "accountIds": "ACC-572347",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "requestContext": {
            "requestId": "0fda48c5-d955-51e5-8696-72bf1499f7d1",
            "correlationId": "86694182-fef6-569b-8ebd-0e74ac8429d7",
            "idempotencyKey": "40266528-4244-5ea4-9284-6f90db741b8a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-687584"
            }
          }
        }
      },
      "CreateDecisioningCustomerAssetsummaryResponse_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "example": "f02a5407-fee7-5ec9-b456-b0087bc344f0"
          },
          "requesterName": {
            "type": "string",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "state": {
                "type": "string",
                "example": "string"
              },
              "zip": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              },
              "url": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "name": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "url": "https://banking.northstar.example/callbacks/status"
            }
          },
          "createdDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "firstName": {
                "type": "string",
                "example": "string"
              },
              "middleName": {
                "type": "string",
                "example": "string"
              },
              "lastName": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "string",
                "example": "string"
              },
              "city": {
                "type": "string",
                "example": "string"
              },
              "state": {
                "type": "string",
                "example": "string"
              },
              "zip": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "ssn": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "ssn": "STANDARD",
              "email": "olivia.bennett@northstar.example"
            }
          },
          "disputeStatement": {
            "type": "string",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "constraints": {
            "type": "object",
            "properties": {
              "accountIds": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "reportCustomFields": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    },
                    "shown": {
                      "type": "boolean",
                      "example": false
                    }
                  },
                  "example": "string"
                }
              }
            },
            "example": {
              "accountIds": [
                "ACC-626799"
              ],
              "reportCustomFields": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD",
                  "shown": true
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "5081b794-ac0a-5d25-bb08-9e0c0f41cee2",
              "correlationId": "86694182-fef6-569b-8ebd-0e74ac8429d7",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "f02a5407-fee7-5ec9-b456-b0087bc344f0",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-626799"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "5081b794-ac0a-5d25-bb08-9e0c0f41cee2",
            "correlationId": "86694182-fef6-569b-8ebd-0e74ac8429d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-prequalification-non-cra-report"
        },
        "example": "open-finance-api-generate-prequalification-non-cra-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}