{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Cross Channel Transaction Authorization-spec",
    "description": "The Cross Channel Transaction Authorization API facilitates the authorization of transactions across various banking channels. This API enables financial institutions to manage and verify authorization requests efficiently, ensuring secure and prompt processing. Typical consumers include banking applications and financial services providers seeking to enhance transaction security for their users. The API supports operations that allow for seamless integration and validation, thus improving overall transaction handling and customer trust.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/transaction-authorization": {
      "post": {
        "tags": [
          "Transaction Management"
        ],
        "summary": "Authorize a cross-channel transaction.",
        "description": "This endpoint allows the user to authorize a transaction that affects multiple channels, ensuring that the transaction is validated and approved before processing. It facilitates secure and seamless transactions across different platforms.",
        "operationId": "createCrossChannelTransactionAuthorization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to authorize a cross-channel transaction. It must adhere to the structure defined in the schema, which includes all necessary parameters and data types required for transaction authorization.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelTransactionAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and transaction authorized.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelTransactionAuthorizationResponse_201"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity; validation errors occurred.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelTransactionAuthorizationResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelTransactionAuthorizationResponse_201": {
        "title": "Transaction Authorization Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the transaction.",
            "example": "PARTY-754293"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction related to the transaction.",
            "example": "INT-247324"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the transaction.",
            "example": "RES-872942"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction authorization.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the transaction authorization was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "This schema represents the response for a transaction authorization operation.",
        "example": {
          "partyId": "PARTY-754293",
          "interactionId": "INT-247324",
          "resourceId": "RES-872942",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e5d64c21-1103-59d9-a73a-1793d2895cb5",
            "correlationId": "9cdf8336-474f-5853-8b0b-285b6c5f2c1c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response of the transaction.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate the request and response of the transaction.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata associated with the transaction authorization."
      },
      "CreateCrossChannelTransactionAuthorizationRequest": {
        "title": "Transaction Authorization Request Body",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the transaction.",
            "example": "PARTY-588389"
          },
          "interactionId": {
            "type": "string",
            "description": "A unique identifier for the interaction associated with the transaction.",
            "example": "INT-456144"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the transaction is initiated.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the transaction authorization operation in the cross-channel system.",
        "example": {
          "partyId": "PARTY-588389",
          "interactionId": "INT-456144",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "3d1e1c22-e9a5-5af1-87cf-fd037daf1ad5",
            "correlationId": "9cdf8336-474f-5853-8b0b-285b6c5f2c1c",
            "idempotencyKey": "22cd00f2-84de-5604-83fe-a984294842c8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-123760"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is not processed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema defines the context for the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the specific channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel being used (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "This schema represents information about the channel involved in the request."
      },
      "CreateCrossChannelTransactionAuthorizationResponse_422": {
        "title": "Transaction Authorization Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "518ace8b-7ace-4222-949d-d06ad2dd024b"
          },
          "message": {
            "type": "string",
            "description": "A human-readable error message providing more details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow context in which the error occurred.",
            "example": "WF-043"
          }
        },
        "description": "Schema representing an error response for transaction authorization operations.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "518ace8b-7ace-4222-949d-d06ad2dd024b",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-043"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "21623a91-448f-4023-9489-5a8b120f4321"
        },
        "example": "21623a91-448f-4023-9489-5a8b120f4321"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bec677d1-0a7c-4696-9ab3-2ecf6aa2169b"
        },
        "example": "bec677d1-0a7c-4696-9ab3-2ecf6aa2169b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the transaction. It helps in tracking and auditing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-authorization-create-transaction-authorization"
        },
        "example": "transaction-authorization-create-transaction-authorization"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the transaction request. Useful for identifying the source application in multi-app environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the workflow associated with the transaction. This value helps in tracking and debugging the workflow process.",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed for this transaction authorization.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Product Launch Pricing and Channel Deployment"
        },
        "example": "Product Launch Pricing and Channel Deployment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow related to this transaction authorization.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_PROCESSING"
        },
        "example": "ASYNC_PROCESSING"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow associated with this transaction authorization.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
        },
        "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, specifically designed for JSON Web Tokens (JWT). Clients are expected to include a JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}