{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Suspension Management API",
    "description": "The Merchant Suspension Management API allows businesses to suspend merchant accounts on demand. This functionality is essential for managing compliance and risk by temporarily halting merchant activities due to various reasons such as policy violations or suspected fraud. Typical consumers of this API include compliance officers and fraud prevention teams who need to enforce account status changes swiftly. By utilizing this endpoint, organizations can maintain a responsible merchant ecosystem while ensuring rapid response to potential issues.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}/suspend": {
      "post": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Suspend a specific merchant.",
        "description": "This endpoint allows you to suspend a merchant identified by their unique ID. Once suspended, the merchant will not be able to perform transactions until they are reactivated. This is useful for managing merchants that are in breach of terms or under review.",
        "operationId": "suspendMerchant",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "Suspends the specified merchant account temporarily. The request body must contain the necessary details to process the suspension.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuspendMerchantRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The merchant has been suspended successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuspendMerchantResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SuspendMerchantRequest": {
        "title": "Suspend Merchant Operations Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code for the reason for suspension.",
            "example": "CODE-292"
          },
          "reason": {
            "type": "string",
            "description": "Detailed explanation of the reason for suspension.",
            "example": "STANDARD"
          },
          "suspendPayments": {
            "type": "boolean",
            "description": "Flag indicating whether to suspend payments.",
            "example": true
          },
          "holdSettlements": {
            "type": "boolean",
            "description": "Flag indicating whether to hold settlements.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for suspending merchant operations.",
        "example": {
          "reasonCode": "CODE-292",
          "reason": "STANDARD",
          "suspendPayments": true,
          "holdSettlements": true,
          "requestContext": {
            "requestId": "5521eaa7-39ef-51bc-84cb-13758f733f6b",
            "correlationId": "0fdcfe98-6b6c-525e-9d7d-ce0b4d5e1860",
            "idempotencyKey": "d9ebee7c-4e26-504c-8381-814ca19c4724",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-179880"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system making the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing information about the channel through which the request was made."
      },
      "SuspendMerchantResponse_200": {
        "title": "Merchant Suspension Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-501526"
          },
          "business": {
            "description": "Information about the merchant's business.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "Capabilities available for the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms agreed with the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for suspending a merchant's operations.",
        "example": {
          "merchantId": "MER-501526",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5d9b2a97-23a8-5ea2-bdef-3b8024fe9025",
            "correlationId": "0fdcfe98-6b6c-525e-9d7d-ce0b4d5e1860",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "title": "Business Information",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "Global Tech Innovations LLC"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "Global Tech"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the business.",
            "example": "123456789"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "TIN-987654321"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "The country where the business is incorporated.",
            "example": "United States"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the business was incorporated.",
            "example": "2020-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "retailer"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code associated with the merchant.",
            "example": "5732"
          }
        },
        "description": "Information regarding the merchant's business."
      },
      "RegisteredAddress": {
        "title": "Registered Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Tech Park"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "San Francisco"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "94105"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "United States"
          }
        },
        "description": "The registered address of the merchant."
      },
      "Contact": {
        "title": "Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address of the merchant.",
            "example": "contact@globaltech.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the merchant.",
            "example": "+1-555-555-5555"
          },
          "website": {
            "type": "string",
            "description": "The website URL of the merchant.",
            "example": "https://www.globaltech.com"
          }
        },
        "description": "Contact details for the merchant."
      },
      "Capabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels supported by the merchant.",
            "items": {
              "type": "string",
              "example": "online"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods accepted by the merchant.",
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial capture of payments.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refunds.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports recurring payments.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "The maximum percentage of tips the merchant allows.",
            "example": "20%"
          }
        },
        "description": "Capabilities available for the merchant."
      },
      "CommercialTerms": {
        "title": "Commercial Terms",
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "The identifier for the pricing plan.",
            "example": "PLAN-123"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees.",
            "example": "merchant"
          },
          "paymentFee": {
            "description": "The fee structure associated with payment transactions.",
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Commercial terms agreed with the merchant."
      },
      "PaymentFee": {
        "title": "Payment Fee Structure",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment fee.",
            "example": "percentage"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee charged on the transactions.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "description": "Fixed amount charged, if applicable.",
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Details of the payment fee structure."
      },
      "FixedAmount": {
        "title": "Fixed Amount Fee",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the fixed amount is denominated.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The fixed amount value.",
            "example": "0.50"
          }
        },
        "description": "Fixed amount charged for payment transactions."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ab7d2859-3711-4668-95c5-dce86716c7e7"
        },
        "example": "ab7d2859-3711-4668-95c5-dce86716c7e7"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a7f05082-b6d3-45fa-a142-a4a9efce2391"
        },
        "example": "a7f05082-b6d3-45fa-a142-a4a9efce2391"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-suspend-merchant"
        },
        "example": "banking-p2m-openapi-suspend-merchant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Purchase Authorization and Clearing"
        },
        "example": "Card Purchase Authorization and Clearing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a7f05082-b6d3-45fa-a142-a4a9efce2391"
        },
        "example": "a7f05082-b6d3-45fa-a142-a4a9efce2391"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method. To access protected resources, a valid JSON Web Token (JWT) must be included in the request header as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}