{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Trade Banking By Param1-spec",
    "description": "The Trade Banking Parameter Update API allows authorized users to modify specific cash concentration settings based on the given parameter. This endpoint facilitates dynamic adjustments and ensures that trade banking operations are optimized for current financial conditions. Typical consumers include financial institutions and trade departments that require real-time updates to their banking configurations. By leveraging this API, users can streamline their trade banking processes, enhancing operational efficiency and responsiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration/{param1}": {
      "patch": {
        "tags": [
          "Cash Concentration Management"
        ],
        "summary": "Update cash concentration resource details",
        "description": "This operation allows users to update the details of a specific cash concentration resource by providing the necessary data in the request body. Ensure all required fields are included to complete the update successfully.",
        "operationId": "updateTradeBankingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates cash concentration details for the specified resource. Provide the necessary changes in the request body to modify the resource attributes as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTradeBankingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTradeBankingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTradeBankingByParam1Request": {
        "title": "Cash Concentration Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "poolId": {
                "type": "string",
                "description": "Identifier for the cash pool.",
                "example": "CASH_POOL_123"
              },
              "headerAccountId": {
                "type": "string",
                "description": "Identifier for the header account associated with the cash concentration.",
                "example": "HEADER_ACCOUNT_456"
              },
              "participantAccountIds": {
                "type": "array",
                "description": "List of participant account identifiers that are included in the cash concentration pool.",
                "items": {
                  "type": "string",
                  "description": "Identifier for a participant account.",
                  "example": "PARTICIPANT_ACCOUNT_789"
                }
              }
            },
            "description": "Changes to be applied to current cash concentration settings.",
            "example": {
              "poolId": "STANDARD",
              "headerAccountId": "ACC-984005",
              "participantAccountIds": [
                "ACC-976338"
              ]
            }
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "request_1234"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracing the request across systems.",
                "example": "correlation_5678"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure the request is processed only once.",
                "example": "idempotency_91011"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-10T09:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "System from which the request originated.",
                "example": "banking_system"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application from which the request originated.",
                "example": "cash_management_app"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Identifier for the communication channel used.",
                    "example": "channel_123"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of communication channel (e.g., API, web, mobile).",
                    "example": "API"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier for the device from which the request originated.",
                    "example": "device_456"
                  }
                },
                "description": "Information about the channel through which the request was made.",
                "example": {
                  "channelId": "channel_123",
                  "channelType": "API",
                  "deviceId": "device_456"
                }
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "013c80b7-0529-539d-9376-84170419809a",
              "correlationId": "9295d224-aab8-56fb-8f45-14a7994c403b",
              "idempotencyKey": "e4941c2d-a3c5-54b4-b865-9246e19a36a9",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-542785"
              }
            }
          }
        },
        "description": "Schema representing the body of a PATCH request to modify operations related to cash concentration.",
        "example": {
          "changes": {
            "poolId": "STANDARD",
            "headerAccountId": "ACC-984005",
            "participantAccountIds": [
              "ACC-976338"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "013c80b7-0529-539d-9376-84170419809a",
            "correlationId": "9295d224-aab8-56fb-8f45-14a7994c403b",
            "idempotencyKey": "e4941c2d-a3c5-54b4-b865-9246e19a36a9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-542785"
            }
          }
        }
      },
      "UpdateTradeBankingByParam1Response_200": {
        "title": "Cash Concentration Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the PATCH operation on cash concentration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "04c4dbb1-5fe3-5ef9-a8be-460b879f5077",
            "correlationId": "9295d224-aab8-56fb-8f45-14a7994c403b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-update-cash-concentration"
        },
        "example": "cash-concentration-update-cash-concentration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a JWT (JSON Web Token) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}