{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Routing Profile Management API",
    "description": "This API enables the dynamic management of party routing profiles, allowing businesses to adjust routing parameters based on evolving needs. Users can modify existing profiles to enhance transaction processing, improve operational efficiency, and ensure compliance with regulatory requirements. Typical consumers include financial institutions and service providers who need to tailor routing strategies for different party interactions. The endpoint supports updates to specified routing profiles identified by unique parameters, facilitating quick adjustments in a fast-paced environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/party-routing-profile/{param1}": {
      "patch": {
        "tags": [
          "Party Management"
        ],
        "summary": "Update Party Routing Profile",
        "description": "Allows for the modification of an existing party routing profile identified by its unique ID. This operation enables you to update various attributes of the routing profile to meet evolving business requirements.",
        "operationId": "patchPartyRoutingProfileParty600045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the routing profile of a specific party identified by PARTY-600045. It requires details of the attributes that need to be modified, ensuring the current configurations are updated accordingly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchPartyRoutingProfileParty600045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchPartyRoutingProfileParty600045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchPartyRoutingProfileParty600045Request": {
        "title": "PatchPartyRequest",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the party's information.",
            "$ref": "#/components/schemas/PartyChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the changes should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating party information via a PATCH operation.",
        "example": {
          "changes": {
            "partyId": "PARTY-724892",
            "legalName": "Olivia Bennett",
            "legalEntityIdentifier": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "407cbb80-3664-51d8-a5b5-6f16c898098c",
            "correlationId": "2ecd97dd-81a5-5aa9-a2db-4bf49705337d",
            "idempotencyKey": "fa8ce508-7d72-56bd-8d75-eb7b225e9667",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-891929"
            }
          }
        }
      },
      "PartyChanges": {
        "title": "PartyChanges",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "party-12345"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the party.",
            "example": "Example Company Inc."
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The legal entity identifier for the party, if applicable.",
            "example": "LEI-123456789"
          }
        },
        "description": "Details of the changes being made to the party."
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation-xyz-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to enforce idempotency of the request.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T09:55:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual data for the request which is useful for tracking and troubleshooting."
      },
      "RequestChannel": {
        "title": "RequestChannel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PatchPartyRoutingProfileParty600045Response_200": {
        "title": "Operation Response Schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version of the response object.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the PATCH operation on the party routing profile.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2cb97ead-3e81-58a0-8ac7-09707762e459",
            "correlationId": "2ecd97dd-81a5-5aa9-a2db-4bf49705337d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata details for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-routing-profile-update-party-routing-profile"
        },
        "example": "party-routing-profile-update-party-routing-profile"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using JSON Web Tokens (JWT). Clients must include the bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}