{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Channel Specific By Param1-spec",
    "description": "The Channel Location Management API enables clients to update specific branch locations within a banking channel by using designated parameters. This functionality is crucial for maintaining accurate and up-to-date location data in response to changing operational needs. Typical consumers of this API include banking applications and internal management systems that require real-time updates to branch information. By ensuring that branch locations reflect current business operations, organizations can enhance customer service and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-location-management/{param1}": {
      "patch": {
        "tags": [
          "Branch Location Management"
        ],
        "summary": "Update a specific branch location.",
        "description": "This operation allows you to modify the details of a specific branch location identified by its unique ID. You can change various attributes of the branch as per the requirements.",
        "operationId": "updateChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the details of a specific branch location. This request modifies existing information based on the provided data structure.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and updates applied.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateChannelSpecificByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object that provides context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation on the branch location management.",
        "example": {
          "changes": {
            "channelId": "MOBILE-US",
            "regionCode": "US-EAST-1",
            "serviceWindow": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "fcc17f89-938f-546c-a14c-b59f73285f64",
            "correlationId": "e6af5087-e09c-54f9-8f0a-432878c6f7f1",
            "idempotencyKey": "e6f02ca4-7a57-510a-aec9-670269940107",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-156767"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel being modified.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region associated with the channel.",
            "example": "string"
          },
          "serviceWindow": {
            "description": "An object that defines the service window hours for the channel.",
            "$ref": "#/components/schemas/ServiceWindow"
          }
        },
        "description": "Schema defining the specific changes to be applied."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time the service opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "The time the service closes.",
            "example": "string"
          }
        },
        "description": "Schema representing the service window hours for a channel."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is initiated.",
            "example": "string"
          },
          "channel": {
            "description": "An object representing channel information related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "An object providing context for the request, containing various identifiers."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel being referred to.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request context."
      },
      "UpdateChannelSpecificByParam1Response_200": {
        "title": "Branch Location Management Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful PATCH operation on branch location management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e84246e8-fe15-5640-aef8-5891c584e90e",
            "correlationId": "e6af5087-e09c-54f9-8f0a-432878c6f7f1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses across systems.",
            "example": "xyz-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response, providing additional information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that is being invoked, ensuring that the request is correctly routed to the appropriate service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-location-management-update-branch-location-management"
        },
        "example": "branch-location-management-update-branch-location-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the application environment in which the request is executed. This helps in tracking and optimizing application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This scheme uses JSON Web Tokens (JWT) for securely transmitting information between parties as a JSON object. The information can be verified and trusted because it is digitally signed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}