{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Market Analysis Reviews API",
    "description": "The Financial Market Analysis Reviews API allows users to submit and contribute reviews related to market performance and financial products. This API is essential for financial analysts and market researchers who need to gather insights and opinions to enhance investment strategies. By providing a platform to share experiences and assessments, the API facilitates better decision-making in financial markets. Businesses can leverage this data to improve their offerings and tailor their services based on client feedback.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-market-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Financial Market Analysis"
        ],
        "summary": "Create a review for financial market analysis.",
        "description": "This endpoint allows users to submit a review for the specified financial market analysis resource (RES-100045). It is intended to gather user feedback and insights that can enhance the quality and applicability of the analysis provided.",
        "operationId": "createReviewForFinancialMarketAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for the financial market analysis resource identified by RES-100045. It must contain structured data that aligns with the defined schema for reviews, allowing users to provide feedback and opinions that can be processed and analyzed. Ensure that all required fields are present and properly formatted according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForFinancialMarketAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and will be processed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForFinancialMarketAnalysisResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForFinancialMarketAnalysisRequest": {
        "title": "Financial Market Analysis Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "A list of scopes the review pertains to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual scope of the review.",
              "example": "Scope A"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a review in the financial market analysis operations.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "d1351977-5f87-524a-9a41-67e2177c591d",
            "correlationId": "9c72504a-1753-5be7-9617-de2641c14f0f",
            "idempotencyKey": "fb0669d8-1e4c-5915-8553-1ef03d8d932c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-225671"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs or transactions.",
            "example": "corr_ABC123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp_56789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-20T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "FinancialAnalysisSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MarketReviewApp"
          },
          "channel": {
            "description": "The communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_98765"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request.",
            "example": "device_54321"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateReviewForFinancialMarketAnalysisResponse_202": {
        "title": "Financial Market Analysis Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Unique reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Status of the action performed.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the financial market analysis operation, providing details on the action performed and its status.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "2c481c53-390e-503a-9e1c-1d53c6722dbc",
            "correlationId": "9c72504a-1753-5be7-9617-de2641c14f0f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being accessed in the financial market analysis service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-market-analysis-review-financial-market-analysis"
        },
        "example": "financial-market-analysis-review-financial-market-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, allowing identification of the processing environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a JSON Web Token (JWT) in the Bearer authentication scheme. Clients must include a valid JWT in the Authorization header of their requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}