{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Currency Management API",
    "description": "The Branch Currency Management API facilitates the handling of various currencies within bank branches. This API allows users to efficiently manage currency exchanges, updates, and allocations specific to each branch, ensuring compliance with financial regulations and enhancing customer service. Typical consumers include banking applications and internal operations teams tasked with maintaining accurate financial records. By streamlining currency management processes, this API supports seamless banking operations and improves the overall client experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-currency-management": {
      "post": {
        "tags": [
          "Branch Currency Management"
        ],
        "summary": "Create a new branch currency management entry.",
        "description": "This endpoint allows users to create a new entry for branch currency management. It facilitates the setup and management of currency specifications specific to each branch, ensuring that currency transactions are handled appropriately based on branch requirements.",
        "operationId": "createBranchCurrencyManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to manage branch currency operations specific to a given channel. It encapsulates all necessary data required to perform the operation successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBranchCurrencyManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBranchCurrencyManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBranchCurrencyManagementRequest": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operating hours of the service window.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of operations that can be processed in a day.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "The type of the branch (e.g., retail, online).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone of the branch.",
            "example": "America/New_York"
          },
          "requestContext": {
            "description": "Metadata about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "requestContext": {
            "requestId": "8b9fa7e8-1873-519b-8b2d-9e044b814390",
            "correlationId": "d6decd2e-5a33-5d64-a408-3fc495bad776",
            "idempotencyKey": "420218a7-3a77-5cae-b08b-a3490d62de3d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-874372"
            }
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The opening time of the service window in ISO 8601 format.",
            "example": "2023-01-01T09:00:00Z"
          },
          "closesAt": {
            "type": "string",
            "description": "The closing time of the service window in ISO 8601 format.",
            "example": "2023-01-01T17:00:00Z"
          }
        },
        "description": "Operating hours for the service."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs and requests.",
            "example": "correlation-012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idempotency-key-345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "system123"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "app456"
          },
          "channel": {
            "description": "Details of the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, offline).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier used for the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel involved in the request."
      },
      "CreateBranchCurrencyManagementResponse_201": {
        "title": "Channel-Specific Branch Currency Management Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the branch.",
            "example": "US-EAST-1"
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the operation.",
            "example": "RES-200828"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "response_12345"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate requests and responses.",
                "example": "correlation_abcde"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:34:57Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "US"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "b8e830f9-b898-5940-97f0-e885685e1d3b",
              "correlationId": "d6decd2e-5a33-5d64-a408-3fc495bad776",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the POST operation related to branch currency management in a specific channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "branchId": "STANDARD",
          "resourceId": "RES-200828",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b8e830f9-b898-5940-97f0-e885685e1d3b",
            "correlationId": "d6decd2e-5a33-5d64-a408-3fc495bad776",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This header helps trace the specific endpoint involved in the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-currency-management-create-branch-currency-management"
        },
        "example": "branch-currency-management-create-branch-currency-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that handled the request. This header provides context on the application's environment and can assist in troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, following the JSON Web Token (JWT) format. It allows clients to authenticate securely by including the token in the 'Authorization' header of the requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}