{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Marketing Promotional Event-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Marketing Promotional Event-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events": {
      "post": {
        "operationId": "createBankingMarketingPromotionalEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingMarketingPromotionalEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingMarketingPromotionalEventResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingMarketingPromotionalEventRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "budget": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "startDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "d196bdbc-724d-5abf-b74b-962e7a7d7821",
              "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
              "idempotencyKey": "de9099ac-b683-529d-8e4b-8bc619c404c9",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-948274"
              }
            }
          }
        },
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "d196bdbc-724d-5abf-b74b-962e7a7d7821",
            "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
            "idempotencyKey": "de9099ac-b683-529d-8e4b-8bc619c404c9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-948274"
            }
          }
        }
      },
      "CreateBankingMarketingPromotionalEventResponse_201": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-604853"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "77b42f60-2f7a-54a9-a1ca-5d3666b1fc95",
              "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-604853",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "77b42f60-2f7a-54a9-a1ca-5d3666b1fc95",
            "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-create-promotional-events"
        },
        "example": "promotional-events-create-promotional-events"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}