{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking Operational Services Channel Activity History By Channel Activity History Id-v5-spec",
    "description": "The Channel Activity History Retrieval API provides access to the detailed history of banking operational services associated with a specific channel activity through its unique identifier. This endpoint allows users to retrieve past activities logged for various banking channels, aiding in audits, compliance, and service improvement initiatives. Typical consumers of this API include banking operations teams, compliance officers, and data analysts who require insights into transactional history. By leveraging this API, financial institutions can enhance transparency and accountability within their operational frameworks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-history/{channelActivityHistoryId}": {
      "get": {
        "tags": [
          "Channel Management"
        ],
        "summary": "Retrieve Channel Activity History",
        "description": "This endpoint allows you to fetch the channel activity history for a specific resource identified by its unique ID. It provides detailed logs and insights into the activities that have taken place over the specified channel.",
        "operationId": "getBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/channelActivityHistoryId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the channel activity history for a specific resource identified by RES-100045. This request expects the parameters to be provided in JSON format, ensuring that the necessary criteria for filtering the history are adequately included.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved channel activity history.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for channel activity history in the operational services API.",
        "example": "{}"
      },
      "GetBankingOperationalServicesChannelActivityHistoryByChannelActivityHistoryIdResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-870415"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the operation.",
            "example": "ACC-923905"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate related requests and responses.",
                "example": "corr-001"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-10T11:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "6f75982f-3999-5ba8-a219-6d038cd40c6d",
              "correlationId": "eb939165-2f01-5cb0-9139-91eb1361c142",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for the operational services channel activity history.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-870415",
          "accountId": "ACC-923905",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6f75982f-3999-5ba8-a219-6d038cd40c6d",
            "correlationId": "eb939165-2f01-5cb0-9139-91eb1361c142",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "channelActivityHistoryId": {
        "name": "channelActivityHistoryId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-history-get-channel-activity-history"
        },
        "example": "channel-activity-history-get-channel-activity-history"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request, indicating the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token is typically a JSON Web Token (JWT) that is issued to the client upon successful login and must be included in the Authorization header of each request to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}