{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Qr Payment Request-spec",
    "description": "The P2M QR Payment Request API enables businesses to generate QR codes for person-to-merchant payments. By utilizing this API, merchants can easily create unique QR payment requests that facilitate cashless transactions, enhancing customer satisfaction and streamlining payment processes. Typical consumers include retail businesses looking to offer modern payment options and service providers aiming to simplify billing. This API plays a vital role in promoting efficiency and innovation within payment ecosystems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests": {
      "post": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Create a new QR payment request.",
        "description": "This endpoint allows users to generate a new QR payment request. Upon successful creation, it returns the details of the generated QR payment request that can be used for processing payments.",
        "operationId": "createP2mQrPaymentRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a QR payment request. The client must provide the necessary data in JSON format to successfully create a payment request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mQrPaymentRequestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment request created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mQrPaymentRequestResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mQrPaymentRequestRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-664059"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the specific outlet associated with the merchant.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal processing the payment.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the transaction, such as 'test' or 'live'.",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "Standard used for payment processing.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount of money to be charged for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the order from the merchant's perspective.",
            "example": "ORD-934082"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment transaction.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tips that may be added to the transaction.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "expiresAt": {
            "type": "string",
            "description": "Date and time when the payment request expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates whether the payment request can be used only once.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for initiating a QR payment transaction.",
        "example": {
          "merchantId": "MER-664059",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-934082",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "expiresAt": "2026-08-11T12:00:00Z",
          "singleUse": true,
          "requestContext": {
            "requestId": "2fb590b5-806f-5e9e-b4be-09247eac1b2e",
            "correlationId": "2b070c33-c5d7-50db-acc3-087adce46e1c",
            "idempotencyKey": "2a2c720f-5523-5fbb-a859-5f21c76a7f12",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-956700"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is displayed.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the amount.",
            "example": "string"
          }
        },
        "description": "The amount structure containing currency and value."
      },
      "TipOptions": {
        "title": "Tip Options",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "The mode for tips, either fixed amounts or percentages.",
            "example": "string"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "An array of fixed tip amounts in various currencies.",
            "example": [
              {
                "currency": "string",
                "value": "string"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "An array of percentage values for tips.",
            "items": {
              "type": "string",
              "description": "Each percentage value expressed as a string.",
              "example": "string"
            }
          },
          "maximumTip": {
            "description": "The maximum allowable tip amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options for adding tips to transactions."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs and events.",
            "example": "corr_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "idempotency_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system making the request.",
            "example": "system_xyz"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "app_abc"
          },
          "channel": {
            "description": "Information about the channel used for the transaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the payment request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel, e.g., 'mobile', 'web'.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_456"
          }
        },
        "description": "Details about the channel through which the payment request is made."
      },
      "CreateP2mQrPaymentRequestResponse_201": {
        "title": "QR Payment Request Response",
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "The unique identifier for the QR payment request.",
            "example": "0a9a06a4-72fe-56b8-8eab-e85f1b5a4952"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant initiating the payment request.",
            "example": "MER-250007"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet where the transaction is occurring.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal processing the payment.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "The mode of the transaction (e.g., sale, refund).",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "The standard of the transaction (e.g., ISO, custom).",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount involved in the transaction, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "A unique identifier for the associated merchant order.",
            "example": "ORD-600418"
          },
          "description": {
            "type": "string",
            "description": "A description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tipping, including fixed amounts and percentages.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "The payload encoded within the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "The URL where the QR code image can be accessed.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment request (e.g., pending, completed).",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the QR payment request can be used only once.",
            "example": true
          },
          "paidAmount": {
            "description": "The amount that has been paid in this transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment transaction.",
            "example": "PAY-976582"
          },
          "expiresAt": {
            "type": "string",
            "description": "The expiration date and time of the payment request.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the creation and updates of the payment request.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the payment request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for a QR payment request operation, detailing transaction and payment information.",
        "example": {
          "qrPaymentRequestId": "0a9a06a4-72fe-56b8-8eab-e85f1b5a4952",
          "merchantId": "MER-250007",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-600418",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-976582",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "44aae83f-6060-5df0-987e-49e00ea1f2e0",
            "correlationId": "2b070c33-c5d7-50db-acc3-087adce46e1c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the entity was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the entity.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the entity was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the entity.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version of the entity record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information tracking the creation and updates of the entity."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response generated.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier to correlate events across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information for the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-qr-payment-request"
        },
        "example": "banking-p2m-openapi-create-qr-payment-request"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a Bearer Token, specifically in the JSON Web Token (JWT) format, for authorizing users and granting access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}