{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Sale By Commission Id-spec",
    "description": "This API allows for the modification of sale details associated with a specific commission ID. Designed for financial institutions and banking services, it streamlines the process of updating sale transactions as needed for accuracy and compliance. Typical consumers include developers working on sales management systems and those responsible for financial reporting. The endpoint supports the PATCH method, enabling targeted updates while preserving untouched fields within the sale record.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commissions/{commissionId}": {
      "patch": {
        "tags": [
          "Sales"
        ],
        "summary": "Update commission details for a specific resource.",
        "description": "This endpoint allows you to update the commission information for the resource identified by RES-100045. You can modify various attributes of the commission based on your requirements.",
        "operationId": "updateSaleByCommissionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/commissionId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the commission details for the specified resource RES-100045. The provided JSON should adhere to the predefined schema for PATCH operations, detailing the fields to be modified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSaleByCommissionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSaleByCommissionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSaleByCommissionIdRequest": {
        "title": "Patch Request Body for Sales Commissions Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be applied in the sales commissions.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being made.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request including relevant identifiers.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a PATCH operation on sales commissions.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3a70c736-d40e-506f-b1ad-069824ecc6a9",
            "correlationId": "1c8a2b02-8a47-56f7-8653-2804b815720b",
            "idempotencyKey": "db7f7c68-0406-5693-905b-2e281c2cb505",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-102788"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes to Sales Commissions",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "prospect-123"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product being sold.",
            "example": "PROD-456"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale was made.",
            "example": "online"
          }
        },
        "description": "Schema containing the specific changes for a sales commission."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Id that correlates multiple requests for tracking.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing additional context about the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema detailing the communication channel for the request."
      },
      "UpdateSaleByCommissionIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on sales commissions.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e278597d-7fe3-5823-aa91-ce0b73b92913",
            "correlationId": "1c8a2b02-8a47-56f7-8653-2804b815720b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "commissionId": {
        "name": "commissionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commissions-update-commissions"
        },
        "example": "commissions-update-commissions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, helpful for identifying which application is being used in multi-app environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer Token scheme. The token should be a JSON Web Token (JWT) that provides information about the user or application making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}