{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Operational Services Customer Billings-v5-spec",
    "description": "The Customer Billings Information API enables users to access detailed billing records associated with banking operational services. It provides a streamlined way to retrieve billing data for customers, facilitating easier financial tracking and management. This API is ideal for financial institutions, billing departments, and accounting software integrations that require access to customer billing information. By utilizing this endpoint, developers can enhance their applications' capabilities to efficiently manage and analyze customer billing data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing": {
      "get": {
        "tags": [
          "Customer Billing"
        ],
        "summary": "Retrieve customer billing information.",
        "description": "This endpoint allows you to obtain detailed billing information for a specified customer. You can use this to track payments, invoices, and other related billing data.",
        "operationId": "listBankingOperationalServicesCustomerBillings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve customer billing information from the operational services. Ensure that the request adheres to the expected structure defined in the schema to facilitate accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingOperationalServicesCustomerBillingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer billing information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingOperationalServicesCustomerBillingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingOperationalServicesCustomerBillingsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the customer billing operations GET request in JSON format.",
        "example": "{}"
      },
      "ListBankingOperationalServicesCustomerBillingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of billing item objects.",
            "example": [
              {
                "billingAccountId": "ACC-860737",
                "customerId": "CUST-290019",
                "billingPeriod": "STANDARD",
                "charges": [
                  {
                    "chargeType": "SERVICE_FEE",
                    "amount": 100,
                    "currency": "USD"
                  }
                ],
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer billing operations including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "billingAccountId": "ACC-860737",
              "customerId": "CUST-290019",
              "billingPeriod": "STANDARD",
              "charges": [
                {
                  "chargeType": "SERVICE_FEE",
                  "amount": 100,
                  "currency": "USD"
                }
              ],
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b03be820-e5d6-5ae5-9d50-9a415e2e546d",
            "correlationId": "e0f4463d-683f-5fe5-a85b-559932e141d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingItem": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer."
          },
          "billingPeriod": {
            "type": "string",
            "description": "The period for which the billing is applicable."
          },
          "charges": {
            "type": "array",
            "description": "List of charges associated with the billing item.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the payment."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the billing record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the billing item was last updated."
          }
        },
        "description": "Schema representing a single billing item."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "The type of charge (e.g., service, tax)."
          },
          "amount": {
            "type": "integer",
            "description": "The amount of the charge.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the charge amount."
          }
        },
        "description": "Schema representing a charge associated with a billing item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-search-customer-billing"
        },
        "example": "customer-billing-search-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT). Clients must include a bearer token in the Authorization header to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}