{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Payment-spec",
    "description": "The Loan Payment Processing API facilitates the seamless submission of payment requests for various loan products. This endpoint allows authorized users to initiate payment transactions, ensuring timely and accurate processing of funds. Common consumers of this API include financial institutions, lending platforms, and third-party payment service providers that require integration with loan management systems. By utilizing this API, businesses can enhance their customer service and streamline payment operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/loans/*/payments": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new payment for a loan.",
        "description": "This endpoint allows you to submit a new payment for an existing loan. Ensure that you provide the necessary payment details in the request body to successfully process the payment.",
        "operationId": "create*Payment",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit payment information for a loan. It is important to provide accurate and complete information to ensure that the payment is processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment processed successfully and resource created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*PaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*PaymentRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount of the payment, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is made.",
            "example": "2026-09-03"
          },
          "valueDate": {
            "type": "string",
            "description": "The date on which the payment value is recognized.",
            "example": "2026-09-03"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is sourced.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate the payment across installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of installment numbers that the payment is being allocated to.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details about the manual allocation of the payment.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or note regarding the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for processing loan payment operations.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-03",
          "valueDate": "2026-09-03",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "05de82f3-ea33-4687-b4ce-211e9f5e0656",
            "correlationId": "0747710a-42ef-4374-8d47-3ac00f0a0298",
            "idempotencyKey": "27c4bac9-85b7-48e8-9efd-eaa3acc7754c",
            "requestedAt": "2026-08-27T23:00:52.089Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-477439"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "1500.00"
          }
        },
        "description": "Represents an amount of money, including its currency and value."
      },
      "ManualAllocation": {
        "type": "object",
        "properties": {
          "principal": {
            "description": "Manual allocation for the principal component.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Manual allocation for the interest component.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Manual allocation for any fees associated with the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Manual allocation for any penalties associated with the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Manual allocation for any excess payment.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of manual allocation items included in the payment."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotency of the request.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from where the request originated.",
            "example": "external_system_1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from where the request originated.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the request's context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          }
        },
        "description": "Details about the channel through which the transaction is processed."
      },
      "Create*PaymentResponse_201": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount involved in the payment, including currency information.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date on which the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The effective date of the payment.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used to make the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference associated with the payment for tracking purposes.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate payment against multiple debts.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "A list of installment numbers to which the payment is applied.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details regarding the manual allocation of the payment.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A description or narrative of the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "9f0a69c9-6290-05d2-955b-622a00ca4467"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The payment number assigned by the system.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment (e.g., completed, pending).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details regarding how the payment has been allocated among different components.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "A reference for the transaction associated with the payment.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The date and time when the payment was posted to the system.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of loan payments. This schema contains all relevant details about the payment made, such as amounts, dates, methods, and allocation strategies.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "9f0a69c9-6290-05d2-955b-622a00ca4467",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "b86f6b7f-8607-59cb-b6ea-3265d076df23",
            "correlationId": "35a3c46f-14e3-5e9e-8d11-d11cb9e09c15",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Allocation": {
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocated amount towards the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Allocated amount towards interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Allocated amount for fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Allocated amount for penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Allocated amount for excess payments.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Represents how the payment amount was allocated across different components."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this payment with other transactions.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-02T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the payment, including tracking information."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f888b426b9e8dfd4"
        },
        "example": "f888b426b9e8dfd4"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f9d73ef8-06b4-4f92-bfdb-19737a16af1f"
        },
        "example": "f9d73ef8-06b4-4f92-bfdb-19737a16af1f"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d65e289b-93ca-4832-9b6e-ec1865163113"
        },
        "example": "d65e289b-93ca-4832-9b6e-ec1865163113"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-payment"
        },
        "example": "banking-loans-openapi-create-loan-payment"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-036"
        },
        "example": "WF-036"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Loan Repayment and Delinquency Handling"
        },
        "example": "Loan Repayment and Delinquency Handling"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c02d2e0b-a39d-461e-9599-3a13db7b7bdc"
        },
        "example": "c02d2e0b-a39d-461e-9599-3a13db7b7bdc"
      }
    }
  }
}