{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Servicing Servicing Issues-spec",
    "description": "The Servicing Issues Retrieval API allows users to access and retrieve a comprehensive list of servicing issues related to banking services. This API is designed for support teams and application developers who need to monitor, troubleshoot, or report on servicing issues. By providing detailed insights into each issue, it enables timely resolution and enhances the overall customer experience. Typical consumers include customer service representatives and technical support staff who rely on accurate data to assist clients effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-issue": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve a servicing issue.",
        "description": "This endpoint allows you to fetch detailed information about a specific servicing issue identified by its unique identifier. Use this to troubleshoot and resolve ongoing servicing concerns.",
        "operationId": "listServicingServicingIssues",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve servicing issue information. It must adhere to the structure outlined in the schema provided below.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListServicingServicingIssuesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved servicing issue details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListServicingServicingIssuesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListServicingServicingIssuesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to servicing issues.",
        "example": "{}"
      },
      "ListServicingServicingIssuesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of servicing issues.",
            "example": [
              {
                "customerId": "CUST-473753",
                "caseId": "CASE-328195",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingIssue"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the servicing issue items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for servicing issue operations GET request.",
        "example": {
          "items": [
            {
              "customerId": "CUST-473753",
              "caseId": "CASE-328195",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5c4b0ae9-08f2-5a0e-a07b-ca7ef347cc47",
            "correlationId": "c562bc1e-cacd-5a60-b2d9-dc59f9b13393",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingIssue": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "string"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier of the case.",
            "example": "string"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the servicing issue.",
            "example": "string"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the case originated.",
            "example": "string"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case.",
            "example": "string"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Timestamp indicating when the service level is due.",
            "example": "string"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The customer's preferred contact method.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the servicing issue.",
            "example": "string"
          }
        },
        "description": "Details of a servicing issue."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Metadata for pagination of the response data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This value can be used for logging and tracing purpose.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-issue-search-servicing-issue"
        },
        "example": "servicing-issue-search-servicing-issue"
      },
      "X-Runtime-App": {
        "description": "Identifies the application that handled the request. Useful for monitoring and analytics related to application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT (JSON Web Token) authentication scheme for securely transmitting information between parties. It is used to verify the identity of users and ensure the integrity of the requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}