{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Transaction Authorizations-spec",
    "description": "The Cross Channel Transaction Authorizations API provides functionality to retrieve transaction authorizations across multiple banking channels. This endpoint allows users to access comprehensive authorization data, ensuring transparency and compliance in financial transactions. Typical consumers include banking institutions and financial service providers who rely on real-time authorization details for enhanced decision-making and fraud prevention. By leveraging this API, organizations can consolidate their transaction authorization processes, enabling efficient cross-channel operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/transaction-authorization": {
      "get": {
        "tags": [
          "Transaction Management"
        ],
        "summary": "Fetch transaction authorization details.",
        "description": "This endpoint retrieves the details of transaction authorization for cross-channel operations, allowing developers to access and validate authorization data effectively.",
        "operationId": "listCrossChannelTransactionAuthorizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the transaction authorization process via cross-channel integration. It expects a JSON payload that provides all necessary details to authorize a transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelTransactionAuthorizationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and relevant data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelTransactionAuthorizationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelTransactionAuthorizationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the cross-channel transaction authorization operation when using the GET method. It is expected to be a string that contains relevant data for the authorization process.",
        "example": "{}"
      },
      "ListCrossChannelTransactionAuthorizationsResponse_200": {
        "title": "Transaction Authorization Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of transaction authorization items.",
            "example": [
              {
                "partyId": "PARTY-344689",
                "interactionId": "INT-818896",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TransactionAuthorizationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Current sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the transaction authorization operation, containing details about items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-344689",
              "interactionId": "INT-818896",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "732f9815-e3d4-593c-925d-a50fcab05014",
            "correlationId": "ce66eca2-0c19-59c3-8cb6-f63f64a6f096",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAuthorizationItem": {
        "title": "Transaction Authorization Item",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Identifier for the party involved in the transaction."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for this interaction."
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the transaction was authorized."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication used for the transaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Represents a single transaction authorization record."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier of the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate the transaction with other processes."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This ID can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-authorization-search-transaction-authorization"
        },
        "example": "transaction-authorization-search-transaction-authorization"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. Useful for identifying the source application in multi-application environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication, specifically using JSON Web Tokens (JWT). Clients must include the JWT token in the `Authorization` header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}