{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Market Data Market Data Switch Operation Routing Decision-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Market Data Market Data Switch Operation Routing Decision-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation/routing-decisions": {
      "post": {
        "operationId": "createBankingMarketDataMarketDataSwitchOperationRoutingDecision",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingMarketDataMarketDataSwitchOperationRoutingDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingMarketDataMarketDataSwitchOperationRoutingDecisionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingMarketDataMarketDataSwitchOperationRoutingDecisionRequest": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "example": "CODE-547"
          },
          "asOf": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "example": "STANDARD"
          },
          "feedId": {
            "type": "string",
            "example": "STANDARD"
          },
          "protocol": {
            "type": "string",
            "example": "STANDARD"
          },
          "messagesPerSecond": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "3005abe8-a56f-5a9c-ade8-2a0cc23084e3",
              "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
              "idempotencyKey": "8986949f-807b-55c3-a6a3-3697a5f5a1e2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-127001"
              }
            }
          }
        },
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-547",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "feedId": "STANDARD",
          "protocol": "STANDARD",
          "messagesPerSecond": 1,
          "requestContext": {
            "requestId": "3005abe8-a56f-5a9c-ade8-2a0cc23084e3",
            "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
            "idempotencyKey": "8986949f-807b-55c3-a6a3-3697a5f5a1e2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-127001"
            }
          }
        }
      },
      "CreateBankingMarketDataMarketDataSwitchOperationRoutingDecisionResponse_202": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "example": "CODE-877"
          },
          "feedId": {
            "type": "string",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c0a97388-2067-5d92-aa39-cebe0f5ebdeb",
              "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-877",
          "feedId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c0a97388-2067-5d92-aa39-cebe0f5ebdeb",
            "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-route-market-data-switch-operation"
        },
        "example": "market-data-switch-operation-route-market-data-switch-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}