{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Event History Management API",
    "description": "The Servicing Event History Management API enables businesses to update and manage the historical servicing events for banking interactions across different channels. This API allows for patching of specific event records, ensuring all relevant details are current and aligned with operational requirements. Typical consumers include financial institutions looking to maintain accurate records of customer service interactions and ensure compliance. Use cases might involve correcting records after customer inquiries or updates following service interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-event-history/{param1}": {
      "patch": {
        "tags": [
          "Servicing Operations"
        ],
        "summary": "Update servicing event history for a specific resource.",
        "description": "This operation allows you to update the servicing event history associated with the specified resource. Ensure to provide the necessary details in the request to successfully apply the changes.",
        "operationId": "patchCrossChannelServicingEventHistoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the servicing event history for a specific resource identified by RES-100045. It should contain the necessary fields that reflect the updates to be made. Ensure that all required properties are included for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCrossChannelServicingEventHistoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCrossChannelServicingEventHistoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCrossChannelServicingEventHistoryRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes being made.",
            "$ref": "#/components/schemas/ChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the change takes effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object providing context about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the PATCH operation related to cross-channel servicing event history.",
        "example": {
          "changes": {
            "partyId": "PARTY-435267",
            "interactionId": "INT-932360",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "d5020ac0-1f0e-5fef-bf53-ee1e8298bc6e",
            "correlationId": "843890c6-48f8-574d-a0f3-2779b2c534eb",
            "idempotencyKey": "d53e7a64-ac19-5165-929e-7fe81feb483f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-519419"
            }
          }
        }
      },
      "ChangeDetails": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The identifier for the party involved in the change.",
            "example": "string"
          },
          "interactionId": {
            "type": "string",
            "description": "The identifier for the interaction associated with the change.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the change is being processed.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the specific changes being made."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Detailing information regarding the channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Information about the channel used in request or event."
      },
      "PatchCrossChannelServicingEventHistoryRes100045Response_200": {
        "title": "Servicing Event History Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a servicing event history operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "96f66c52-f15b-59f1-a1aa-f649e2b18b55",
            "correlationId": "843890c6-48f8-574d-a0f3-2779b2c534eb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-event-history-update-servicing-event-history"
        },
        "example": "servicing-event-history-update-servicing-event-history"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token for security. The token is a JSON Web Token (JWT) which encodes authentication data. This method is commonly used for API security to grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}