{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Management Accounts Receivable-spec",
    "description": "The Accounts Receivable Management API facilitates the creation and management of customer accounts ensuring efficient tracking of receivables. This API enables businesses to initiate new accounts, link them with payment records, and maintain up-to-date information on outstanding invoices. Typically used by finance and accounting teams, the API streamlines the process of managing customer debts, improving cash flow and financial reporting. Integration with existing banking systems enables seamless transaction processing and reconciliation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/accounts-receivable": {
      "post": {
        "tags": [
          "Accounts Receivable"
        ],
        "summary": "Create a new accounts receivable entry.",
        "description": "This endpoint allows the creation of a new accounts receivable record for tracking outstanding payments. Provide the necessary details in the request body to create the entry successfully.",
        "operationId": "createAccountManagementAccountsReceivable",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new accounts receivable entry. This should include all necessary details required for processing the accounts receivable.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountManagementAccountsReceivableRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the account receivable has been added.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountManagementAccountsReceivableResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountManagementAccountsReceivableRequest": {
        "title": "Accounts Receivable Request Body",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-154461"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "CUST-547528"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry, formatted as a string.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the transaction.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The current balance of the ledger.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating accounts receivable records.",
        "example": {
          "accountId": "ACC-154461",
          "customerId": "CUST-547528",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "d6632ae9-240b-50ba-a424-7860fefe8fe7",
            "correlationId": "d41595f5-ce7a-5973-8dcb-caeaf4cf397d",
            "idempotencyKey": "10a7a871-131c-59c9-9b8e-c431c05bb706",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-464385"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "CORR78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "IDEMP1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that made the request.",
            "example": "AccountingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is the source of the request.",
            "example": "InvoiceApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Request Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Schema representing details of the channel used for the request."
      },
      "CreateAccountManagementAccountsReceivableResponse_201": {
        "title": "Account Receivable Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-630325"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-492002"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource linked to the account.",
            "example": "RES-194581"
          },
          "status": {
            "type": "string",
            "description": "The current status of the account receivable.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the account receivable was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the account receivable response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response object returned after creating an account receivable.",
        "example": {
          "accountId": "ACC-630325",
          "customerId": "CUST-492002",
          "resourceId": "RES-194581",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e6e93eca-5bc6-5e81-954b-743b813131df",
            "correlationId": "d41595f5-ce7a-5973-8dcb-caeaf4cf397d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier that correlates requests and responses.",
            "example": "CORR-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-west-2"
          }
        },
        "description": "This schema contains metadata attributes related to the account receivable response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-receivable-create-accounts-receivable"
        },
        "example": "accounts-receivable-create-accounts-receivable"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the authorization header of requests. The token must be acquired through authentication and should be included in requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}