{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Payment By Param1-spec",
    "description": "The Payment Retrieval API enables users to conveniently access payment information by a unique parameter. This endpoint allows developers to retrieve details related to e-commerce card payments, facilitating reconciliation and reporting tasks. Typical consumers of this API include financial institutions and e-commerce platforms that require seamless integration for payment tracking and management. By using the provided parameter, users can efficiently obtain specific payment records for further analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Card E-commerce Payment Status",
        "description": "This endpoint allows you to retrieve the current status of a specific card payment made through the e-commerce gateway. Use this to check whether the payment has been processed, is pending, or has failed.",
        "operationId": "getPaymentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment information for the specified card in the e-commerce gateway. Ensure that you provide the correct JSON structure as defined in the schema to receive the desired payment details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentByParam1Request": {
        "type": "string",
        "description": "This schema represents the JSON body of a request to the e-commerce payment gateway operation for a specific card transaction.",
        "example": "{}"
      },
      "GetPaymentByParam1Response_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-223351"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-233678"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-381527"
          },
          "instructedAmount": {
            "description": "The amount that has been instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information provided to the creditor related to the payment.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the e-commerce gateway card payment operation.",
        "example": {
          "paymentId": "PAY-223351",
          "debtorAccountId": "ACC-233678",
          "creditorAccountId": "ACC-381527",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7398eda9-b7cc-58f0-9076-f1c393c54f0d",
            "correlationId": "4b03f76b-d704-5dbb-9561-0d7adc5dfe46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money instructed for the payment.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the instructed amount for the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "COR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment was processed.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata related to the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called. This value helps in tracking the endpoint usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-get-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-get-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This is useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. Clients must include a valid JWT (JSON Web Token) in the 'Authorization' header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}