{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Consumer Service Currency Exchanges-spec",
    "description": "The Currency Exchange Retrieval API provides access to real-time currency exchange rates for consumer banking services. This endpoint allows users to retrieve current exchange rates, facilitating informed financial decisions for consumers engaged in international transactions. Typical consumers include individuals and businesses needing accurate currency conversion information. Use cases encompass online banking applications, mobile wallet services, and any platforms involving foreign currency exchange operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/currency-exchange": {
      "get": {
        "tags": [
          "Currency Exchange Services"
        ],
        "summary": "Retrieve currency exchange information.",
        "description": "This endpoint allows you to fetch information about currency exchanges, including current rates and available currencies. It is designed for consumers looking to get up-to-date exchange rates for their transactions.",
        "operationId": "listConsumerServiceCurrencyExchanges",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify parameters for fetching currency exchange rates. It allows users to define various options related to the currency exchange operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsumerServiceCurrencyExchangesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved currency exchange information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConsumerServiceCurrencyExchangesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConsumerServiceCurrencyExchangesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the currency exchange operation using the GET method. It is expected to contain a string, such as the currency code.",
        "example": "{}"
      },
      "ListConsumerServiceCurrencyExchangesResponse_200": {
        "title": "Currency Exchange Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of currency exchange operation details.",
            "example": [
              {
                "customerId": "CUST-414610",
                "serviceRequestId": "2f9312b3-a9dc-5c43-a0aa-e8770c4fc3ed",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "sourceCurrency": "USD",
                "targetCurrency": "USD",
                "quotedRate": 100,
                "cashDenominations": [
                  1
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CurrencyExchangeOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing information about currency exchange operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-414610",
              "serviceRequestId": "2f9312b3-a9dc-5c43-a0aa-e8770c4fc3ed",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "sourceCurrency": "USD",
              "targetCurrency": "USD",
              "quotedRate": 100,
              "cashDenominations": [
                1
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "10017cc4-a533-593b-9aa0-6ec16efaed6b",
            "correlationId": "1bac1281-1d51-5d96-85a2-28a62313cad3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrencyExchangeOperation": {
        "title": "Currency Exchange Operation",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer-id-example"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "service-request-id-example"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the exchange.",
            "example": "product-code-example"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date and time when the exchange was requested.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "The currency from which the amount is exchanged.",
            "example": "USD"
          },
          "targetCurrency": {
            "type": "string",
            "description": "The currency to which the amount is exchanged.",
            "example": "EUR"
          },
          "quotedRate": {
            "type": "integer",
            "description": "The rate quoted for the currency exchange.",
            "format": "int32",
            "example": 1
          },
          "cashDenominations": {
            "type": "array",
            "description": "The denominations of cash involved in the exchange.",
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 10
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2023-10-01T13:00:00Z"
          }
        },
        "description": "Details of an individual currency exchange operation.",
        "example": {
          "customerId": "customer-id-example",
          "serviceRequestId": "service-request-id-example",
          "productCode": "product-code-example",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2023-10-01T12:00:00Z",
          "sourceCurrency": "USD",
          "targetCurrency": "EUR",
          "quotedRate": 1,
          "cashDenominations": [
            10,
            20
          ],
          "recordStatus": "completed",
          "updatedAt": "2023-10-01T13:00:00Z"
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The amount of currency being exchanged.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "Currency code representing the currency of the amount.",
            "example": "USD"
          }
        },
        "description": "Details regarding the monetary value and its currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details regarding the pagination of the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-id-example"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple requests.",
            "example": "correlation-id-example"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west"
          }
        },
        "description": "Meta information pertaining to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-search-currency-exchange"
        },
        "example": "currency-exchange-search-currency-exchange"
      },
      "x-runtime-app": {
        "description": "Name of the application that handled the request, useful for tracing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of the request. The JWT should be formatted as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}