{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Management Transaction Engine-spec",
    "description": "The Account Management Transaction Engine API facilitates the creation and management of banking transactions for customer accounts. This API allows financial institutions to initiate various account-related operations, streamlining transaction processes for improved efficiency. Typical consumers include banking software developers and financial service providers who need to implement transaction workflows. Utilizing this API, businesses can enhance their account management capabilities and deliver seamless transactional experiences to their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/transaction-engine": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Create a new transaction in the account management system.",
        "description": "This endpoint allows users to create new transactions related to their accounts. Ensure that all necessary fields are provided in the request body for successful transaction creation.",
        "operationId": "createAccountManagementTransactionEngine",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a transaction in the account management system. It should contain all necessary details for processing the transaction, including account identifiers, transaction type, amount, and any additional metadata required by the transaction engine.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountManagementTransactionEngineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with transaction details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountManagementTransactionEngineResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountManagementTransactionEngineRequest": {
        "title": "Transaction Request Body",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-189337"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-840710"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the ledger entry.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the transaction is conducted.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Current balance in the ledger.",
            "example": 100.0
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for transaction operations.",
        "example": {
          "accountId": "ACC-189337",
          "customerId": "CUST-840710",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "a02dce48-740b-59a4-8633-ef06112cb6bb",
            "correlationId": "ceb98128-c5f7-58c8-9d57-a251e3e968f6",
            "idempotencyKey": "da409b87-c324-580e-8c92-3eefdc3c6e7a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-995801"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device used for the transaction.",
            "example": "string"
          }
        },
        "description": "Schema containing information about the channel through which the request was made."
      },
      "CreateAccountManagementTransactionEngineResponse_201": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the transaction.",
            "example": "ACC-759175"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with this transaction.",
            "example": "CUST-346784"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the transaction.",
            "example": "RES-440294"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the transaction was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the transaction response.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "This schema represents the response structure for a transaction operation in the account management system.",
        "example": {
          "accountId": "ACC-759175",
          "customerId": "CUST-346784",
          "resourceId": "RES-440294",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "60562d7c-85f9-50a9-8d98-71b5f757d380",
            "correlationId": "ceb98128-c5f7-58c8-9d57-a251e3e968f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response of this transaction.",
            "example": "resp001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this transaction with potentially related requests.",
            "example": "corr001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when this metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the transaction occurred.",
            "example": "us-east"
          }
        },
        "description": "This schema represents the metadata associated with a transaction response.",
        "example": {
          "responseId": "resp001",
          "correlationId": "corr001",
          "generatedAt": "2023-10-01T12:01:00Z",
          "processingRegion": "us-east"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This value helps to trace requests and monitor the performance of specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-engine-create-transaction-engine"
        },
        "example": "transaction-engine-create-transaction-engine"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the transaction. This header indicates which microservice was responsible for processing the request, useful for debugging and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}