{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Aggregation Paysuite Customer Account By Account Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Aggregation Paysuite Customer Account By Account Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/paysuite/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "operationId": "getAggregationPaysuiteCustomerAccountByAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAggregationPaysuiteCustomerAccountByAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAggregationPaysuiteCustomerAccountByAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAggregationPaysuiteCustomerAccountByAccountIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetAggregationPaysuiteCustomerAccountByAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "CUST-434581"
          },
          "errorCount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "accountCount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "accountIdentitySuccessCount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "balanceDetailsSuccessCount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "paymentInstructionSuccessCount": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "accounts": {
            "type": "array",
            "example": [
              {
                "id": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "institutionId": "STANDARD",
                "institutionName": "Northstar Banking Service",
                "institutionLoginId": 1,
                "accountDetails": {
                  "id": "STANDARD",
                  "accountNumberDisplay": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "aggregationStatusCode": 1,
                  "status": "ACTIVE",
                  "aggregationSuccessDate": "2026-09-15",
                  "aggregationAttemptDate": "2026-09-15",
                  "createdDate": "2026-09-15",
                  "currency": "USD",
                  "displayPosition": 1,
                  "parentAccount": "STANDARD"
                },
                "balanceDetails": {
                  "id": 1,
                  "realAccountNumberLast4": "STANDARD",
                  "availableBalance": 100.0,
                  "availableBalanceDate": "2026-09-15",
                  "clearedBalance": 100.0,
                  "clearedBalanceDate": "2026-09-15",
                  "aggregationStatusCode": 1,
                  "currency": "USD"
                },
                "accountIdentity": {
                  "holders": [
                    {
                      "relationship": "STANDARD",
                      "ownerName": "Northstar Banking Service",
                      "firstName": "Northstar Banking Service",
                      "middleName": "Northstar Banking Service"
                    }
                  ]
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "realAccountNumberLast4": {
                  "type": "string",
                  "example": "string"
                },
                "institutionId": {
                  "type": "string",
                  "example": "string"
                },
                "institutionName": {
                  "type": "string",
                  "example": "string"
                },
                "institutionLoginId": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "accountDetails": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "string"
                    },
                    "accountNumberDisplay": {
                      "type": "string",
                      "example": "string"
                    },
                    "name": {
                      "type": "string",
                      "example": "string"
                    },
                    "type": {
                      "type": "string",
                      "example": "string"
                    },
                    "aggregationStatusCode": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "string"
                    },
                    "aggregationSuccessDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "aggregationAttemptDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "createdDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "displayPosition": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "parentAccount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "balanceDetails": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "realAccountNumberLast4": {
                      "type": "string",
                      "example": "string"
                    },
                    "availableBalance": {
                      "type": "number",
                      "example": 0.0
                    },
                    "availableBalanceDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "clearedBalance": {
                      "type": "number",
                      "example": 0.0
                    },
                    "clearedBalanceDate": {
                      "type": "string",
                      "example": "string"
                    },
                    "aggregationStatusCode": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    },
                    "currency": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "accountIdentity": {
                  "type": "object",
                  "properties": {
                    "holders": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "relationship": {
                            "type": "string",
                            "example": "string"
                          },
                          "ownerName": {
                            "type": "string",
                            "example": "string"
                          },
                          "firstName": {
                            "type": "string",
                            "example": "string"
                          },
                          "middleName": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "8ddf980a-84f2-59ca-b089-9af3205eac2b",
              "correlationId": "eb3cb43b-d73e-53a7-a95e-c90398bbc3fd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "customerId": "CUST-434581",
          "errorCount": 1,
          "accountCount": 1,
          "accountIdentitySuccessCount": 1,
          "balanceDetailsSuccessCount": 1,
          "paymentInstructionSuccessCount": 1,
          "accounts": [
            {
              "id": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "institutionId": "STANDARD",
              "institutionName": "Northstar Banking Service",
              "institutionLoginId": 1,
              "accountDetails": {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "aggregationSuccessDate": "2026-09-15",
                "aggregationAttemptDate": "2026-09-15",
                "createdDate": "2026-09-15",
                "currency": "USD",
                "displayPosition": 1,
                "parentAccount": "STANDARD"
              },
              "balanceDetails": {
                "id": 1,
                "realAccountNumberLast4": "STANDARD",
                "availableBalance": 100.0,
                "availableBalanceDate": "2026-09-15",
                "clearedBalance": 100.0,
                "clearedBalanceDate": "2026-09-15",
                "aggregationStatusCode": 1,
                "currency": "USD"
              },
              "accountIdentity": {
                "holders": [
                  {
                    "relationship": "STANDARD",
                    "ownerName": "Northstar Banking Service",
                    "firstName": "Northstar Banking Service",
                    "middleName": "Northstar Banking Service"
                  }
                ]
              }
            }
          ],
          "metadata": {
            "responseId": "8ddf980a-84f2-59ca-b089-9af3205eac2b",
            "correlationId": "eb3cb43b-d73e-53a7-a95e-c90398bbc3fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-details-by-account-id"
        },
        "example": "open-finance-api-get-account-details-by-account-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}