{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payments API",
    "description": "The Domestic Scheduled Payments API facilitates seamless scheduling and management of domestic payment transactions. This API allows businesses to create and configure recurring payments, ensuring timely fund transfers while enhancing cash flow management. Typical consumers of this API include financial institutions, payment service providers, and merchants looking to automate payment processes, thereby improving customer experience. By leveraging this API, users can streamline their payment operations and maintain better control over their financial activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate a domestic scheduled payment.",
        "description": "This operation allows you to create a scheduled payment to a domestic recipient. You can specify the amount, currency, recipient details, and the date for when the payment should be executed.",
        "operationId": "createDomesticScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a domestic scheduled payment. This should contain all necessary details required for processing the payment, such as payer information, payee details, and the amount to be transferred.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created and payment scheduled.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticScheduledPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticScheduledPaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the main data elements for the payment request.",
            "$ref": "#/components/schemas/Data"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for domestic scheduled payments operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "ee9fe29a-56c1-58a7-b4a5-4b3f7c76746b",
            "correlationId": "10c45560-debc-54f7-b787-4fb53bedb98d",
            "idempotencyKey": "8e3b6704-e53b-5b1a-ac94-c29949e1f122",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-584705"
            }
          }
        }
      },
      "Data": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent associated with the payment.",
            "example": "string"
          },
          "Initiation": {
            "description": "Details about the payment initiation.",
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Schema representing the payment data details."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identification for the instructions.",
            "example": "INS12345"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier used for the transaction tracking from end to end.",
            "example": "E2E123456"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument used for the payment.",
            "example": "Immediate Payment"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The requested date and time for the execution of the payment.",
            "example": "2023-10-13T09:00:00Z"
          },
          "InstructedAmount": {
            "type": "object",
            "description": "Amount instructed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "type": "object",
            "description": "Account details of the debtor.",
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAccount": {
            "type": "object",
            "description": "Account details of the creditor.",
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Initiation details of the scheduled payment."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount to be transferred.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code of the instructed amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the instructed amount and its currency."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme.",
            "example": "Bank Account"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Optional secondary identification for the account.",
            "example": "JD123"
          }
        },
        "description": "Details about a payment account."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Proxy code.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy information.",
            "example": "string"
          }
        },
        "description": "Schema representing proxy details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to handle idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the API request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing channel details."
      },
      "CreateDomesticScheduledPaymentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticScheduledPaymentId": {
                "type": "string",
                "description": "Unique identifier for the domestic scheduled payment.",
                "example": "DS123456"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the user consent related to this payment.",
                "example": "C456789"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the payment was created.",
                "example": "2023-10-12T09:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the scheduled payment.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "2023-10-12T09:30:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons related to the payment status.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "The expected date and time for the execution of the payment.",
                "example": "2023-10-13T09:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "The expected date and time for the settlement of the payment.",
                "example": "2023-10-14T09:00:00Z"
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/Refund"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges applicable to the payment.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/Initiation"
              },
              "metadata": {
                "type": "object",
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Data containing the details of the domestic scheduled payment.",
            "example": {
              "DomesticScheduledPaymentId": "PAY-106724",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              }
            }
          }
        },
        "description": "Response schema for the creation of domestic scheduled payments.",
        "example": {
          "Data": {
            "DomesticScheduledPaymentId": "PAY-106724",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "2727ae7c-0300-5525-add2-3871d59618d4",
            "correlationId": "10c45560-debc-54f7-b787-4fb53bedb98d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "SR001"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the status reason.",
            "example": "Payment is pending approval."
          },
          "Path": {
            "type": "string",
            "description": "Path indicating where in the process the status reason applies.",
            "example": "/payments/status/"
          }
        },
        "description": "Represents a reason associated with the status of the payment."
      },
      "Refund": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "description": "Account details associated with the refund.",
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Information related to the refund for the scheduled payment."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who is responsible for the charge (e.g., debtor or creditor).",
            "example": "Debtor"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge (e.g., transaction fee).",
            "example": "Transaction Fee"
          },
          "Amount": {
            "type": "object",
            "description": "Amount details of the charge.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of a charge associated with the scheduled payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency code associated with the amount.",
            "example": "GBP"
          }
        },
        "description": "Represents an amount of money with its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RSP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation id for tracing the request.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "example": "2023-10-12T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-018"
        },
        "example": "WF-018"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6392c500-fa3c-4b15-85c2-cccd09095b2a"
        },
        "example": "6392c500-fa3c-4b15-85c2-cccd09095b2a"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2d07c27e-f628-4bbc-8bdb-bca82ab6b0ba"
        },
        "example": "2d07c27e-f628-4bbc-8bdb-bca82ab6b0ba"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-domestic-scheduled-payment"
        },
        "example": "payment-initiation-openapi-initiate-domestic-scheduled-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the request execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-018"
        },
        "example": "WF-018"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Payroll Batch Payment Processing"
        },
        "example": "Payroll Batch Payment Processing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2d07c27e-f628-4bbc-8bdb-bca82ab6b0ba"
        },
        "example": "2d07c27e-f628-4bbc-8bdb-bca82ab6b0ba"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be sent in the HTTP Authorization header. It is essential for authenticating users and authorizing access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}