{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Account Management By Param1-spec",
    "description": "The Account Management Update API enables businesses to modify customer position details within the banking system. This API primarily focuses on updating specific account information based on a designated parameter, enhancing customer relationship management. Typical consumers of this API include application developers and financial institutions seeking to maintain accurate and up-to-date customer account data. This capability supports use cases such as adjusting account settings, correcting data entries, and optimizing customer service interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/customer-position/{param1}": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Customer Position",
        "description": "This endpoint allows the user to update the details of a specific customer position identified by a unique customer ID. Ensure that all required fields are provided for a successful update.",
        "operationId": "replaceAccountManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Update the customer position details for the specified customer. The request body should contain the necessary fields to modify the existing customer position data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceAccountManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the customer position has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceAccountManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceAccountManagementByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details about the changes to be made to the customer position.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time of the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating customer positions in the account management system.",
        "example": {
          "changes": {
            "accountId": "ACC-410479",
            "customerId": "CUST-158289",
            "ledgerDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "7a37f8bb-ce46-5594-b95c-2e96ddc2a64f",
            "correlationId": "fe91d40b-67d0-5894-8268-9d798a19b2ba",
            "idempotencyKey": "7c4cb617-54fc-5882-a0d0-a8781178c1f6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-850111"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The account identifier to which the changes will apply.",
            "example": "account123"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "customer456"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry to be used for the change.",
            "example": "2023-10-10"
          }
        },
        "description": "Schema representing the changes to be applied to the customer's account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the request.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to guarantee the request is idempotent.",
            "example": "idemp456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "sourceSystem1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "sourceApp1"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information provided with the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used to submit the request.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request was made.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "ReplaceAccountManagementByParam1Response_200": {
        "title": "Customer Position Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the customer position was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for updating customer position.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ece9fa37-98d4-5e79-b872-60a96cc13ad6",
            "correlationId": "fe91d40b-67d0-5894-8268-9d798a19b2ba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abcd1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate with other requests or responses.",
            "example": "xyz5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-03T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-position-update-customer-position"
        },
        "example": "customer-position-update-customer-position"
      },
      "X-Runtime-App": {
        "description": "The name of the application that ran the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-007"
        },
        "example": "WF-007"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Dormant Account Reactivation"
        },
        "example": "Dormant Account Reactivation"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5c6dd43f-921e-4b5f-8bca-d22dac42ce3e"
        },
        "example": "5c6dd43f-921e-4b5f-8bca-d22dac42ce3e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This is an authentication scheme that uses a Bearer token, typically a JSON Web Token (JWT), to grant access to secured resources. Clients must include this token in the authorization header of requests to access protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}