{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Aggregation API",
    "description": "The Customer Aggregation API facilitates the retrieval of comprehensive customer data for a specified customer ID. This API is essential for businesses aiming to gather insights about their customers, such as purchase history, preferences, and engagement metrics. Typical consumers of this API include data analysts, marketing teams, and customer support organizations that need to enhance customer understanding and tailor services accordingly. By leveraging this endpoint, users can readily access aggregated information to drive strategic decisions and improve customer relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer details by ID",
        "description": "Fetches the complete details of a customer identified by the specified ID. This endpoint is useful for retrieving customer information for support, management, and analytical purposes.",
        "operationId": "getCustomerById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information related to the customer with ID CUST-100045. This body may contain details about the request context or any filters to apply while fetching customer data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerByIdRequest": {
        "type": "string",
        "description": "A representation of the request body for a GET operation related to customer CUST-100045.",
        "example": "{}"
      },
      "GetCustomerByIdResponse_200": {
        "title": "Customer Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "Username of the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "Type of the customer (e.g., individual or business).",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the customer was created.",
            "example": "2026-09-15"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "Date when the customer was last modified.",
            "example": "2026-09-15"
          },
          "applicationId": {
            "type": "string",
            "description": "Identifier for the application that the customer is associated with.",
            "example": "APP-413346"
          },
          "metadata": {
            "description": "Metadata associated with the customer response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the customer response from the GET operation.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "createdDate": "2026-09-15",
          "lastModifiedDate": "2026-09-15",
          "applicationId": "APP-413346",
          "metadata": {
            "responseId": "e0e2cc4d-30c1-5dc9-abba-6455f146d223",
            "correlationId": "336e6c8e-e725-50b7-a984-c169d55bd47d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests and responses.",
            "example": "CORR-4567"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of this response took place.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing additional metadata related to the customer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer"
        },
        "example": "open-finance-api-get-customer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, aiding in identifying which service processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access secured resources. The token should follow the standard JWT format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}