{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Notification Subscriptions Webhook Statu-v5-spec",
    "description": "This API endpoint allows users to manage the status of notification subscriptions for webhooks efficiently. By updating the status of a specific webhook subscription, clients can control the flow of notifications sent to their systems. This operation is primarily aimed at developers integrating with the notification system, ensuring they can respond to changes in subscription needs dynamically. Typical use cases include enabling or disabling webhook notifications based on user preferences or application status updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/status": {
      "put": {
        "tags": [
          "Webhooks Management"
        ],
        "summary": "Update the status of a specific webhook.",
        "description": "This operation allows you to update the status of the webhook identified by RES-100045. It enables you to make necessary modifications to the webhook's current state effectively.",
        "operationId": "replaceNotificationSubscriptionsWebhookStatu",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the status of the specified webhook identified by RES-100045. It contains the necessary information required to process the status update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceNotificationSubscriptionsWebhookStatuRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The status update was processed successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceNotificationSubscriptionsWebhookStatuResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceNotificationSubscriptionsWebhookStatuRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status to set for the webhook operation.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating the status of a webhook operation.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "1365e11a-a89b-5627-902b-16c572097ed7",
            "correlationId": "2b438a5f-a372-55fc-9907-a23a208cc164",
            "idempotencyKey": "99eae8bc-8f8c-5c36-9617-17b76721fd01",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-791267"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "ReplaceNotificationSubscriptionsWebhookStatuResponse_200": {
        "title": "Webhook Status Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The current status of the webhook operation.",
            "example": "ACTIVE"
          },
          "metadata": {
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Schema representing the response structure for the webhook status operation.",
        "example": {
          "status": "ACTIVE",
          "metadata": {
            "responseId": "8ded8b81-85d7-5004-893c-d41d0d0169a2",
            "correlationId": "2b438a5f-a372-55fc-9907-a23a208cc164",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the correlation of events.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the webhook took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-change-webhook-subscription-status"
        },
        "example": "open-finance-api-change-webhook-subscription-status"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token. This scheme requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests for secure access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}