{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Guarantees Management API",
    "description": "The Bank Guarantees Management API enables financial institutions to facilitate the issuance of bank guarantees for their customers. This endpoint allows authorized users to submit new bank guarantee requests associated with specific customer profiles. Typical consumers include bank employees and financial advisors, who utilize this API to streamline the guarantee process, enhance customer service, and ensure compliance with banking regulations. By providing quick and efficient access to guarantee services, this API supports improved financial operations and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/bank-guarantees": {
      "post": {
        "tags": [
          "Bank Guarantees"
        ],
        "summary": "Create a bank guarantee for a specific customer.",
        "description": "This endpoint allows you to create a bank guarantee associated with a particular customer identified by their unique ID. The request should include all necessary details regarding the bank guarantee being created.",
        "operationId": "createBankGuaranteeForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new bank guarantee for the specified customer. It must include all required fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankGuaranteeForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing the newly added bank guarantee.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankGuaranteeForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankGuaranteeForCustomerCUST100045Request": {
        "title": "Bank Guarantee Request",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-851505"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility related to the bank guarantee.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the transaction.",
            "example": "PARTY-814300"
          },
          "amount": {
            "description": "The amount to be guaranteed, specified as an object.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the guarantee matures.",
            "example": "2026-09-15"
          },
          "guaranteeType": {
            "type": "string",
            "description": "Type of the bank guarantee.",
            "example": "STANDARD"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "Identifier for the beneficiary of the guarantee.",
            "example": "STANDARD"
          },
          "claimExpiryDate": {
            "type": "string",
            "description": "The date after which claims on the guarantee cannot be made.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to create a bank guarantee for a corporate customer.",
        "example": {
          "corporateCustomerId": "CUST-851505",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-814300",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "guaranteeType": "STANDARD",
          "beneficiaryId": "STANDARD",
          "claimExpiryDate": "2026-09-15",
          "requestContext": {
            "requestId": "cf11b519-65b4-57ec-822c-c649ba1af618",
            "correlationId": "2b8ebde3-8ca3-59ac-88b7-dc7d94d9739d",
            "idempotencyKey": "c13bb66c-6574-5d53-9aed-75f388e13dc7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-614259"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount with currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "CORR-987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for ensuring idempotency of requests.",
            "example": "IDEMP-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Core Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "Online Banking"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-3001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Schema representing the channel information through which the request was made."
      },
      "CreateBankGuaranteeForCustomerCUST100045Response_201": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier of the corporate customer.",
            "example": "CUST-304899"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the facility associated with the bank guarantee.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier of the counterparty involved in the transaction.",
            "example": "PARTY-967628"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The unique identifier of the beneficiary of the bank guarantee.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique resource identifier related to the bank guarantee operation.",
            "example": "RES-315210"
          },
          "status": {
            "type": "string",
            "description": "The current status of the bank guarantee operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the bank guarantee operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP-111222"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used for correlating related requests and responses.",
                "example": "CORR-333444"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-10-01T10:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the request occurred.",
                "example": "EU-West"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "32886850-dee9-50d1-9cee-ced87c2a2d7a",
              "correlationId": "2b8ebde3-8ca3-59ac-88b7-dc7d94d9739d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the creation of a bank guarantee operation for a corporate customer.",
        "example": {
          "corporateCustomerId": "CUST-304899",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-967628",
          "beneficiaryId": "STANDARD",
          "resourceId": "RES-315210",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "32886850-dee9-50d1-9cee-ced87c2a2d7a",
            "correlationId": "2b8ebde3-8ca3-59ac-88b7-dc7d94d9739d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with the current request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-guarantee-create-bank-guarantee"
        },
        "example": "bank-guarantee-create-bank-guarantee"
      },
      "X-Runtime-App": {
        "description": "Indicates the application environment where the request is processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the specific workflow that initiated the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-062"
        },
        "example": "WF-062"
      },
      "X-Workflow-Name": {
        "description": "This header provides the name of the workflow associated with the operation. It helps in identifying the specific workflow in use.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Bank Guarantee Issuance and Claim"
        },
        "example": "Bank Guarantee Issuance and Claim"
      },
      "X-Workflow-State": {
        "description": "This header indicates the current state of the workflow. Possible values could include RUNNING, COMPLETED, or FAILED.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "This header carries a unique identifier for the execution instance of the workflow. It is useful for tracking the specific execution details.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b4f0041c-91f3-42a3-a394-d54c9272c8cb"
        },
        "example": "b4f0041c-91f3-42a3-a394-d54c9272c8cb"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. The token should be a JSON Web Token (JWT) used for authorization, allowing access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}