{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Investment Management Investment Accounts-spec",
    "description": "The Investment Accounts Lookup API enables users to access a comprehensive list of investment accounts within the investment management system. This endpoint provides valuable information on different investment accounts, facilitating management and analysis of financial portfolios. It is primarily intended for financial advisors, portfolio managers, and clients looking to monitor their investments. By integrating this API, developers can enhance applications that require real-time investment account data and improve user financial decision-making capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-account": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve investment account details.",
        "description": "This endpoint allows you to retrieve detailed information about an investment account, including account balances, transaction history, and investment performance metrics.",
        "operationId": "listInvestmentManagementInvestmentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching investment account details. This request requires the client to provide necessary details in the JSON format to retrieve the corresponding investment account information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInvestmentManagementInvestmentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the investment account data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInvestmentManagementInvestmentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInvestmentManagementInvestmentAccountsRequest": {
        "type": "string",
        "description": "This schema defines the structure of the request body for the investment account operations GET request.",
        "example": "{}"
      },
      "ListInvestmentManagementInvestmentAccountsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of investment accounts with their operational details.",
            "example": [
              {
                "portfolioId": "PORT-887785",
                "investmentAccountId": "ACC-360586",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentAccount"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving investment account operations.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-887785",
              "investmentAccountId": "ACC-360586",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "02f253ec-6c6a-5be6-bb78-fed5828d6d61",
            "correlationId": "87fd2a9e-57a7-5c47-889c-b62940e0a8fc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentAccount": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio associated with the investment account.",
            "example": "string"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account.",
            "example": "string"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective of the account.",
            "example": "string"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the investment account.",
            "example": "string"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used for the investment account.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the investment account record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the investment account was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of an investment account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-account-search-investment-account"
        },
        "example": "investment-account-search-investment-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, allowing clients to authenticate by including a JSON Web Token (JWT) in the authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}