{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Operational Service By Reward Id-spec",
    "description": "This API allows you to update specific operational services associated with a given reward ID. By using this endpoint, businesses can modify the details of the operational services to reflect changes or improvements. Typical users include developers and system integrators who manage operational workflows or require updates based on user feedback or organizational changes. The endpoint ensures that operational data stays current and relevant, facilitating better service management and user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards/{rewardId}": {
      "patch": {
        "tags": [
          "Rewards Management"
        ],
        "summary": "Update the rewards information for a specific resource.",
        "description": "This endpoint allows you to update the details of the rewards associated with the specified resource identifier. Ensure that you provide the necessary fields in the request body to successfully update the rewards information. This operation is essential for maintaining up-to-date reward data.",
        "operationId": "updateOperationalServiceByRewardId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/rewardId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the operational service rewards for a specific resource. This operation allows the modification of existing reward data associated with the resource identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOperationalServiceByRewardIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully and resource updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOperationalServiceByRewardIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateOperationalServiceByRewardIdRequest": {
        "title": "Operation Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the details of the changes to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change being made.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the change should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the requester making the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the structure of the request body for patching operational services rewards.",
        "example": {
          "changes": {
            "loyaltyAccountId": "ACC-411260",
            "customerId": "CUST-277988",
            "activityType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "af589cd2-2a72-541c-8238-1eb04ef090fe",
            "correlationId": "6e08197d-fd90-56e9-a705-67c24a922e63",
            "idempotencyKey": "8017d1a2-612d-5511-889e-4dc18692f703",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-145279"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Identifier for the loyalty account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer.",
            "example": "string"
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity associated with the change.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes to be made in the operational services rewards."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that made the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information associated with the request."
      },
      "UpdateOperationalServiceByRewardIdResponse_200": {
        "title": "Operations Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on rewards service, indicating the outcome of the operation requested.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "00b04b40-7f04-5cab-92e1-79ed399f4567",
            "correlationId": "6e08197d-fd90-56e9-a705-67c24a922e63",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "rewardId": {
        "name": "rewardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-update-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-update-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "description": "Indicates the runtime environment or application context in which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token. This scheme is primarily used for authorizing API requests with a JSON Web Token (JWT). The token should be included in the Authorization header of the request as `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}