{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Securities Fails Processing Review-spec",
    "description": "The Securities Fails Processing Review API allows financial institutions to submit reviews for securities failures within market operations. This endpoint facilitates the documentation and assessment of issues related to securities transactions, ensuring compliance and operational integrity. Typical consumers include risk management teams and compliance officers who need to review and address securities fails. By utilizing this API, organizations can streamline their review processes and enhance their operational responsiveness to market discrepancies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/securities-fails-processing/{param1}/reviews": {
      "post": {
        "tags": [
          "Securities Operations"
        ],
        "summary": "Create a review for securities fail processing.",
        "description": "This endpoint allows users to submit reviews related to the processing of securities fails for the specified resource. It provides a way to add feedback and insights that may assist in improving the operational procedures.",
        "operationId": "createSecuritiesFailsProcessingReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for a securities fails processing operation. It contains detailed information relevant to the review being provided, including specific metrics and feedback. Please ensure that all required fields are filled out accurately to facilitate proper processing of the review.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSecuritiesFailsProcessingReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSecuritiesFailsProcessingReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSecuritiesFailsProcessingReviewRequest": {
        "title": "Review Request Body",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review being conducted.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, which may include multiple areas of assessment.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific area or topic included in the review scope.",
              "example": "Transaction accuracy"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer who is assigned to conduct the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for completing the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the review request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a review in the market operations securities fail processing.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "a0d612c9-894a-5e87-a159-7200a73dee41",
            "correlationId": "fc42987e-3203-51e2-9800-200d28917aa7",
            "idempotencyKey": "ea5b691f-eae4-56a8-8f3e-2fd2d6ffbebd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-997200"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across various services.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be safely retried without unintended effects.",
            "example": "idempotent789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the review request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "AccountingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "PaymentProcessor"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information for the specific request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "An identifier for the channel being used.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used to make the request.",
            "example": "deviceXYZ"
          }
        },
        "description": "Schema describing the channel information used for the request."
      },
      "CreateSecuritiesFailsProcessingReviewResponse_202": {
        "title": "Securities Fails Processing Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier associated with the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the processing action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the processing was completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing action, such as identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for processing securities fails.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "26477153-668f-5762-85b2-4fccf669e1f6",
            "correlationId": "fc42987e-3203-51e2-9800-200d28917aa7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint handling the request, used for tracing and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-fails-processing-review-securities-fails-processing-processing"
        },
        "example": "securities-fails-processing-review-securities-fails-processing-processing"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that processed the request, helpful for identifying the service in a multi-application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens that follow the JSON Web Token (JWT) format. This is used to verify the identity of the user or application making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}