{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Relationship Management API",
    "description": "The Customer Relationship Management API enables businesses to manage and analyze customer interactions effectively. This API provides access to vital customer data, allowing organizations to enhance their engagement strategies and improve customer satisfaction. It serves as a central hub for fetching detailed customer profiles, tracking interactions, and analyzing customer behavior. Ideal for marketing teams, customer service departments, and sales professionals, this API streamlines customer management processes and facilitates informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-relationship-management": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer relationship management data.",
        "description": "This endpoint allows you to fetch the customer relationship management data, including relevant details and metrics that facilitate effective customer engagement and management.",
        "operationId": "getCustomerRelationshipManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer relationship management data. This should include parameters that define the criteria for fetching the data, such as customer ID or filters related to customer interactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerRelationshipManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer relationship data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerRelationshipManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerRelationshipManagementRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the Customer Relationship Management service.",
        "example": "{}"
      },
      "GetCustomerRelationshipManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of customer relationship management records.",
            "example": [
              {
                "customerId": "CUST-544938",
                "partyId": "PARTY-325428",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerRelationship"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving customer relationship management data.",
        "example": {
          "items": [
            {
              "customerId": "CUST-544938",
              "partyId": "PARTY-325428",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4dff430f-5404-5e62-b3ac-b744a873d805",
            "correlationId": "26d60a6c-f203-5db2-b3e4-1d8d3a1d6a46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerRelationship": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST12345"
          },
          "partyId": {
            "type": "string",
            "description": "The identifier for the associated party.",
            "example": "PARTY67890"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the relationship.",
            "example": "PROD001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the relationship is effective.",
            "example": "2023-01-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier classification of the relationship.",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the relationship record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last date and time the relationship record was updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single customer relationship record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of the page, indicating the number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing related requests.",
            "example": "CORR7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing was done.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-relationship-management-search-customer-relationship-management"
        },
        "example": "customer-relationship-management-search-customer-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, with tokens formatted as JSON Web Tokens (JWT). It is a commonly used mechanism for securely transmitting information between parties, ensuring that authorized users can access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}