{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sub Custodian Agreement Retrieval API",
    "description": "The Sub Custodian Agreement Retrieval API allows users to access detailed information about sub custodian agreements managed by external agencies. This API serves as a vital resource for financial institutions and legal teams needing to review or audit existing agreements. Consumers include compliance officers and legal analysts who require up-to-date documentation for regulatory purposes. By leveraging this API, users can efficiently retrieve agreement data linked to specific parameters, thereby streamlining their operational workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/sub-custodian-agreement/{param1}": {
      "get": {
        "tags": [
          "Sub-Custodian Agreements"
        ],
        "summary": "Retrieve a specific sub-custodian agreement by its ID.",
        "description": "This endpoint allows developers to fetch details for a specific sub-custodian agreement identified by its unique ID. It provides all relevant information related to the agreement, which can be utilized in both reporting and compliance checks.",
        "operationId": "getSubCustodianAgreementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the sub-custodian agreement details for the specified resource identifier RES-100045. It expects the input in JSON format and adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSubCustodianAgreementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested sub-custodian agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSubCustodianAgreementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSubCustodianAgreementByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to the external agency sub-custodian agreement, conforming to the application/json media type.",
        "example": "{}"
      },
      "GetSubCustodianAgreementByIdResponse_200": {
        "title": "Sub Custodian Agreement Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "AGR-106986"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code associated with the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the agreement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the agreement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the agreement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for sub custodian agreement retrieval.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-106986",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "60757a20-4955-5a37-8c5f-273a72b83627",
            "correlationId": "41a83c5f-17b3-566b-ad79-2ce77ecdc073",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "CORR-78910"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sub-custodian-agreement-get-sub-custodian-agreement"
        },
        "example": "sub-custodian-agreement-get-sub-custodian-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where the client must include a JSON Web Token (JWT) in the Authorization header of their requests. The JWT represents the user's identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}