{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Investment Management Investment Account-spec",
    "description": "The Investment Account Management API enables financial institutions to seamlessly create and manage investment accounts for their clients. Through this endpoint, users can initiate the process of establishing new investment accounts tailored to individual investment goals and preferences. Ideal for financial service providers, this API ensures a streamlined onboarding experience for new customers, allowing them to engage with various investment opportunities. Additionally, it supports compliance with regulatory requirements by facilitating accurate account setup and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://treasury-markets-app:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-account": {
      "post": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Create a new investment account.",
        "description": "This endpoint allows you to create a new investment account by providing the required account details. Ensure that all necessary information is included in the request to successfully create the account.",
        "operationId": "createInvestmentManagementInvestmentAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new investment account. This should contain the necessary details to initiate an investment account creation process, including investment strategy, account holders' information, and any applicable settings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvestmentManagementInvestmentAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The investment account has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvestmentManagementInvestmentAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInvestmentManagementInvestmentAccountRequest": {
        "title": "Investment Account Operations Request",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-779496"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account.",
            "example": "ACC-915054"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The objective of the investment.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the investment.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the investment account.",
            "example": "USD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of operations related to an investment account.",
        "example": {
          "portfolioId": "PORT-779496",
          "investmentAccountId": "ACC-915054",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "a8b450df-4fb7-599c-afd2-38c68d0c1471",
            "correlationId": "fb3ea855-e06e-5c39-a660-178144de4363",
            "idempotencyKey": "607acf2c-0395-591a-a997-13a81bea1a81",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-657325"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple related requests.",
            "example": "corr-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the operation.",
            "example": "idemp-202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "InvestmentApp"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-303"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device-404"
          }
        },
        "description": "Schema for the channel information related to the request."
      },
      "CreateInvestmentManagementInvestmentAccountResponse_201": {
        "title": "Investment Account Creation Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio associated with the investment account.",
            "example": "PORT-197805"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account that was created.",
            "example": "ACC-221625"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the investment account creation.",
            "example": "RES-617618"
          },
          "status": {
            "type": "string",
            "description": "Current status of the investment account creation process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the investment account was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation of creating the investment account.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Schema representing the response returned after successfully creating an investment account.",
        "example": {
          "portfolioId": "PORT-197805",
          "investmentAccountId": "ACC-221625",
          "resourceId": "RES-617618",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "76d9ce52-18f2-5381-a778-c376dca939d7",
            "correlationId": "fb3ea855-e06e-5c39-a660-178144de4363",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the operation.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses within the system.",
            "example": "correlation-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata for the operation related to investment account creation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-059"
        },
        "example": "WF-059"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0535fb35-e2df-425d-90a1-24d6122f4c92"
        },
        "example": "0535fb35-e2df-425d-90a1-24d6122f4c92"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1591f80f-b9d2-4bc9-ab15-5eeea92fd763"
        },
        "example": "1591f80f-b9d2-4bc9-ab15-5eeea92fd763"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-account-create-investment-account"
        },
        "example": "investment-account-create-investment-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow that initiated the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-059"
        },
        "example": "WF-059"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the investment account operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Repo and Securities Lending Lifecycle"
        },
        "example": "Repo and Securities Lending Lifecycle"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, used for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1591f80f-b9d2-4bc9-ab15-5eeea92fd763"
        },
        "example": "1591f80f-b9d2-4bc9-ab15-5eeea92fd763"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests. This allows for secure access control and user authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}