{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Product Inventory Distribution Distribution-spec",
    "description": "The Product Inventory Distribution API enables businesses to manage and distribute product inventory across various channels effectively. This endpoint allows users to initiate the creation of distribution records, ensuring accurate tracking and allocation of inventory. Typical consumers include inventory managers and retail coordinators, who rely on this functionality to streamline operations and enhance product availability. By leveraging this API, organizations can improve their distribution strategies and respond agilely to market demands.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-distribution/distributions": {
      "post": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Create a distribution for channel-specific product inventory.",
        "description": "This endpoint allows you to create a new distribution for channel-specific product inventory. You can specify the details of the distribution in the request body. This is essential for managing how products are distributed across different channels.",
        "operationId": "createProductInventoryDistributionDistribution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update product inventory distributions specific to a channel. It expects a JSON object describing the distribution details, including relevant identifiers, quantities, and any other necessary metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductInventoryDistributionDistributionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request is accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductInventoryDistributionDistributionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductInventoryDistributionDistributionRequest": {
        "title": "Product Inventory Distribution Request",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit of the item.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the inventory is held.",
            "example": "STANDARD"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "Current quantity of the item on hand.",
            "format": "int32",
            "example": 1
          },
          "reorderPoint": {
            "type": "integer",
            "description": "Quantity at which a reorder should be triggered.",
            "format": "int32",
            "example": 1
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "Quantity of the item to be distributed.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for product inventory distribution operations.",
        "example": {
          "inventoryItemId": "STANDARD",
          "sku": "STANDARD",
          "branchId": "STANDARD",
          "quantityOnHand": 1,
          "reorderPoint": 1,
          "distributionQuantity": 1,
          "requestContext": {
            "requestId": "dba2c870-f54f-569d-b73a-38d0f0fe1b3b",
            "correlationId": "eb8155bc-4eca-58eb-a8eb-c616bc0be9b8",
            "idempotencyKey": "a47b5822-9b21-5bfc-9035-5c4a000c41ad",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-606200"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across system boundaries.",
            "example": "correlation-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "idempotentKey-202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system that originated the request.",
            "example": "InventorySystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "InventoryApp"
          },
          "channel": {
            "description": "Information about the channel from which the request was initiated.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contextual information about the request for tracking and identification purposes."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-007"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateProductInventoryDistributionDistributionResponse_202": {
        "title": "Product Inventory Distribution Response",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the inventory item is located.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference used to track the processing of the distribution request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the distribution operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the distribution request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the distribution operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product inventory distribution operation, containing details about the inventory item distribution.",
        "example": {
          "inventoryItemId": "STANDARD",
          "branchId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "fac9b4ed-a2f4-5196-8282-42b29de7436c",
            "correlationId": "eb8155bc-4eca-58eb-a8eb-c616bc0be9b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T08:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the distribution occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata related to the inventory distribution request."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-080"
        },
        "example": "WF-080"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "94452807-01a3-4f37-9aff-975d279ef846"
        },
        "example": "94452807-01a3-4f37-9aff-975d279ef846"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
        },
        "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed. This helps in tracing the requests made to specific service endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-distribution-distribute-product-inventory-distribution"
        },
        "example": "product-inventory-distribution-distribute-product-inventory-distribution"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request. This can be useful for debugging and monitoring the application's performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow instance handling the request, providing insight into the internal processes involved.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-080"
        },
        "example": "WF-080"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is currently being executed for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Product Launch Pricing and Channel Deployment"
        },
        "example": "Product Launch Pricing and Channel Deployment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating whether it is pending, in progress, or completed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, allowing tracking of the specific instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
        },
        "example": "fa53562f-a6d8-4b92-a4e0-6543942ca581"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This scheme utilizes the Bearer authentication method. Clients must include a valid JWT (JSON Web Token) in the Authorization header when making requests to secure endpoints. The token must be prefixed with 'Bearer ' to indicate the authentication type.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}