{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Employee Access-spec",
    "description": "The Employee Access Management API facilitates the retrieval of employee access information within the Human Resource Management system. This endpoint empowers HR professionals to efficiently list employee access levels, ensuring appropriate permissions and roles are assigned. Typical consumers include HR managers and system administrators who require insights into employee access for compliance and auditing purposes. By utilizing this API, organizations can streamline access management processes and enhance operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-access": {
      "get": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Retrieve employee access information.",
        "description": "This endpoint allows you to fetch detailed information about employee access rights and permissions in the human resource management system.",
        "operationId": "listHumanResourceManagementEmployeeAccess",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body required for the employee access operation in the human resource management system. This body should contain the necessary parameters and data structures defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeAccessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee access information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementEmployeeAccessResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementEmployeeAccessRequest": {
        "type": "string",
        "description": "The request body for accessing employee-related operations in the Human Resource Management system.",
        "example": "{}"
      },
      "ListHumanResourceManagementEmployeeAccessResponse_200": {
        "title": "Employee Access Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee records.",
            "example": [
              {
                "employeeId": "EMP-957439",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeRecord"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the response.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "This schema represents the response structure for employee access operations, including a list of employees and pagination metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-957439",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "89f20275-ecfa-5583-a566-d9d89cf1d572",
            "correlationId": "754b5e01-4b22-5a60-88ab-b43a0ed9bc55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeRecord": {
        "title": "Employee Record",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "e001"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment.",
            "example": "a001"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department the employee belongs to.",
            "example": "d001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date on which the record is effective.",
            "example": "2023-10-01"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (full-time, part-time, etc.).",
            "example": "full-time"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "m001"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "Remote"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the employee record.",
            "example": "2023-10-15"
          }
        },
        "description": "Represents an individual employee's information."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Provides pagination details for the response."
      },
      "MetadataInfo": {
        "title": "Response Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "r001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "c001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-15T08:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The AWS region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-access-search-employee-access"
        },
        "example": "employee-access-search-employee-access"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JWT (JSON Web Token). It is employed for secure communication by passing a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}