{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Clearing Management API",
    "description": "The Card Clearing Management API seamlessly processes and clears card payment transactions for banking and financial institutions. This endpoint provides access to retrieve real-time data associated with card payment clearing activities, enabling consumers to monitor transaction statuses, validate results, and manage reconciliations. Ideal for payment processors and banks, this API supports use cases such as tracking cleared transactions and providing insights into payment efficiency. By leveraging this API, developers can enhance their financial services with up-to-date clearing information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-clearing": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Card Clearing Payment Information",
        "description": "This endpoint allows you to retrieve detailed information about card clearing payments. You can use it to check the status and details of various transactions processed through card clearing.",
        "operationId": "getCardClearingPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a card clearing operation. It should contain all the necessary details for processing the card transaction, including payment information and card details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardClearingPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardClearingPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardClearingPaymentsRequest": {
        "type": "string",
        "description": "Request body for the GET operation related to card clearing payments.",
        "example": "{}"
      },
      "GetCardClearingPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of payment records.",
            "example": [
              {
                "paymentId": "PAY-748245",
                "debtorAccountId": "ACC-878384",
                "creditorAccountId": "ACC-218292",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the payment records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for card clearing operations, containing detailed information about payments and pagination.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-748245",
              "debtorAccountId": "ACC-878384",
              "creditorAccountId": "ACC-218292",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "249a1222-2297-54a6-8bc8-fef404a6113e",
            "correlationId": "70549e1a-9e25-53fb-8437-f9f005856ac9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentRecord": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor account.",
            "example": "string"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor account.",
            "example": "string"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment is requested to be executed.",
            "example": "string"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information regarding the payment.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the payment record.",
            "example": "string"
          }
        },
        "description": "Detailed information about a single payment record."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be paid.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the instructed amount.",
            "example": "string"
          }
        },
        "description": "Amount and currency information for the instructed payment."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the payment records."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-clearing-search-card-clearing"
        },
        "example": "card-clearing-search-card-clearing"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authorization, specifically a JSON Web Token (JWT). Clients must include the JWT in the Authorization header of their requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}