{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Assignment Management API",
    "description": "The Employee Assignment Management API facilitates the retrieval of employee assignment details within an organization. This API serves as a resource for human resources and management teams to access current assignments, track employee roles, and assess workforce allocation. Typical use cases involve querying employee status or monitoring changes in assignments. By providing quick access to pertinent employee data, organizations can enhance efficiency and make informed decisions regarding personnel management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-assignment": {
      "get": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Retrieve employee assignments.",
        "description": "This endpoint allows you to fetch a list of current employee assignments within the human resource management system, enabling effective resource allocation and management.",
        "operationId": "getEmployeeAssignments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body containing parameters for fetching employee assignment data within the human resource management system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeAssignmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the employee assignment data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeAssignmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeAssignmentsRequest": {
        "type": "string",
        "description": "Represents the request body for the employee assignment operations in the Human Resource Management API.",
        "example": "{}"
      },
      "GetEmployeeAssignmentsResponse_200": {
        "title": "Employee Assignment Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee assignments.",
            "example": [
              {
                "employeeId": "EMP-713715",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeAssignment"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the retrieved employee assignments.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for retrieving employee assignments.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-713715",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cc03cb71-0157-5469-91ce-fe94ec2a33c7",
            "correlationId": "fda5d900-ff91-5c48-b16f-ab17f68ead1d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeAssignment": {
        "title": "Employee Assignment",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee.",
            "example": "e123"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier of the assignment.",
            "example": "a456"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier of the department.",
            "example": "d789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date the assignment is effective from.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code of the work location.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time).",
            "example": "full-time"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier of the employee's manager.",
            "example": "m001"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "Remote"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the employee record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2023-01-02T12:00:00Z"
          }
        },
        "description": "Details of a specific employee's assignment."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination for the list of employee assignments."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "r123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking a request across systems.",
            "example": "c456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This helps in tracking API requests and understanding usage patterns.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-assignment-search-employee-assignment"
        },
        "example": "employee-assignment-search-employee-assignment"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application instance that processed the request. Useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication, where the token is expected to be a JSON Web Token (JWT). Include the token in the Authorization header as follows: `Authorization: Bearer {token}`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}