{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Underwriting Details API",
    "description": "The Underwriting Details API provides comprehensive access to underwriting records based on unique underwriting IDs. Users can retrieve detailed information regarding insurance applications, including risk assessments, coverage options, and individual client profiles. This API is essential for actuaries, risk analysts, and customer service representatives seeking to review or verify underwriting decisions. It facilitates transparency and efficiency in managing underwriting data within the financial services sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting/{underwritingId}": {
      "get": {
        "tags": [
          "Sales Operations"
        ],
        "summary": "Retrieve underwriting details for a specific sale.",
        "description": "Fetch comprehensive underwriting information related to the specified sale resource with ID RES-100045. This operation allows users to access crucial underwriting data, facilitating informed decision-making and efficient management of sale processes.",
        "operationId": "getSalesUnderwritingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/underwritingId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve underwriting information for the specified sales resource identified as RES-100045. Ensure that any necessary parameters or identifiers are included in the schema to facilitate accurate data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesUnderwritingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesUnderwritingRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesUnderwritingRes100045Request": {
        "title": "Request Body for Sales Underwriting Operations",
        "type": "string",
        "description": "This schema represents the request body structure for the sales underwriting operation with a specific context.",
        "example": "{}"
      },
      "GetSalesUnderwritingRes100045Response_200": {
        "title": "Underwriting Operation Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the prospect.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale is made (e.g., online, in-person).",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "Expected financial value associated with the prospect.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application associated with the prospect.",
            "example": "APP-760171"
          },
          "requestedLimit": {
            "description": "Financial limit requested by the prospect.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "Ratio indicating the prospect's ability to cover debt service obligations.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response object.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to this record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response object for underwriting operations in the sales system.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "applicationId": "APP-760171",
          "requestedLimit": {
            "amount": 100.0,
            "currency": "USD"
          },
          "debtServiceCoverageRatio": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "352ad225-4c0a-5611-8b90-220343ca3e40",
            "correlationId": "9d51ac62-271a-55f1-84de-241a98499c26",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MonetaryValue": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical amount of money.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Structure representing a monetary value and its currency."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request/response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata for the response including identifiers and timestamp."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "underwritingId": {
        "name": "underwritingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-get-underwriting"
        },
        "example": "underwriting-get-underwriting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication, commonly formatted as JSON Web Tokens (JWT). Clients must include the bearer token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}