{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Deposit Lending By Param1-spec",
    "description": "The Deposit Lending Query API enables users to retrieve detailed information about consumer loans using specific parameters. This functionality is essential for financial institutions and stakeholders seeking to access loan data efficiently. By using the unique identifier, 'param1', consumers can obtain pertinent details regarding deposit lending products tailored to their needs. Typical users include banking personnel, financial analysts, and application developers integrating with lending systems. This API supports informed decision-making by providing stakeholders with timely and precise loan information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/consumer-loan/{param1}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve Consumer Loan Details",
        "description": "Fetches the detailed information for a specific consumer loan identified by its unique ID. This endpoint allows you to view loan-specific data including terms, amounts, and applicable rates.",
        "operationId": "getDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about the specified consumer loan. This body must conform to the defined schema, which encompasses all required fields and data types necessary for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingByParam1Request": {
        "type": "string",
        "description": "Request body schema for GET operation related to consumer loan operations.",
        "example": "{}"
      },
      "GetDepositLendingByParam1Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer",
            "example": "CUST-729561"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan",
            "example": "ACC-970564"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details of the principal amount borrowed",
            "$ref": "#/components/schemas/PrincipalDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment (e.g., monthly, bi-weekly)",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the loan record",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the loan record",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the loan response",
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Response schema for fetching consumer loan details.",
        "example": {
          "customerId": "CUST-729561",
          "accountId": "ACC-970564",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1897a851-0476-5115-8cff-c2cd1c8195b9",
            "correlationId": "bc24f98e-a242-56d4-8a4f-a8141555aa8d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PrincipalDetails": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan amount is denominated",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount borrowed"
      },
      "MetadataDetails": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed",
            "example": "string"
          }
        },
        "description": "Schema representing metadata details related to the loan response"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-get-consumer-loan"
        },
        "example": "consumer-loan-get-consumer-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where the client must include a valid JWT (JSON Web Token) in the Authorization header of the request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}