{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Leasings-spec",
    "description": "The Deposit Lending Leasing Listing API provides a comprehensive view of available deposit lending leasing products. This endpoint allows users to retrieve a listing of leasing options designed to enhance financial management for both individuals and businesses. Typical consumers include financial institutions, developers building banking applications, and analytics teams seeking insights into leasing offerings. By utilizing this API, users can easily access important product details and compare various leasing options to make informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/leasing": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve leasing options for deposit lending.",
        "description": "This endpoint allows users to retrieve a list of leasing options available under deposit lending. It provides crucial information on various leases that can be availed.",
        "operationId": "listDepositLendingLeasings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve leasing information related to deposit lending. The information can be tailored using the appropriate schema definitions, ensuring proper formatting and parameters as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingLeasingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the leasing details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingLeasingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingLeasingsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation in the deposit lending leasing service.",
        "example": "{}"
      },
      "ListDepositLendingLeasingsResponse_200": {
        "title": "Leasing Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of leasing items returned in the response.",
            "example": [
              {
                "customerId": "CUST-786465",
                "accountId": "ACC-410426",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LeasingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the listed items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the leasing operations GET request, containing details of leasing items along with pagination and metadata information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-786465",
              "accountId": "ACC-410426",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "85b78d92-4f24-592b-b161-8f2297a86713",
            "correlationId": "f906bcf6-8f3a-52d0-afca-6284c0f0eb8e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LeasingItem": {
        "title": "Leasing Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer's account."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the lease."
          },
          "principal": {
            "description": "The principal amount and currency for the lease.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the lease in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the lease."
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the leased asset."
          },
          "residualValue": {
            "description": "The residual value of the leased asset at the end of the lease.",
            "$ref": "#/components/schemas/Money"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Term of the lease in months.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the leasing record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Details of a single leasing item."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the monetary amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the monetary amount."
          }
        },
        "description": "A monetary value consisting of an amount and a currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information related to pagination in the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Additional metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-search-leasing"
        },
        "example": "leasing-search-leasing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the authorization header as a Bearer token to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}