{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Facilities Property Portfolios-v5-spec",
    "description": "The Banking Facilities Property Portfolios API provides access to a comprehensive list of available property portfolios associated with banking facilities. This endpoint allows users to retrieve detailed information on various property portfolios that can be leveraged for banking operations. Typical consumers of this API include financial institutions, property management systems, and real estate analysts looking to assess the offerings of banking facilities. By utilizing this API, users can enhance their decision-making processes related to property investments and portfolio management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/property-portfolio": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve the property portfolio of facilities.",
        "description": "This endpoint allows users to fetch the complete list of properties in the facility portfolio. It provides detailed information about each property, enabling effective management and analysis of all properties under the facility operations.",
        "operationId": "listBankingFacilitiesPropertyPortfolios",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the property portfolio details. It should contain the necessary parameters to filter or sort the properties as required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingFacilitiesPropertyPortfoliosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the property portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingFacilitiesPropertyPortfoliosResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingFacilitiesPropertyPortfoliosRequest": {
        "type": "string",
        "description": "A request body string representing the JSON payload for the Operations GET request concerning property portfolios.",
        "example": "{}"
      },
      "ListBankingFacilitiesPropertyPortfoliosResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operation items containing details of each operation.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-473119",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order for the operations list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for the operations retrieval request, containing details about items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-473119",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "41899292-157d-5547-90c0-bf0842bf070e",
            "correlationId": "49360c74-5e1c-5d3e-a7ba-a5c054f27854",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "title": "Operation Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "site-123"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset.",
            "example": "asset-456"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order.",
            "example": "workorder-789"
          },
          "scheduledDate": {
            "type": "string",
            "description": "Date scheduled for the operation in ISO 8601 format.",
            "example": "2023-10-01"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor handling the operation.",
            "example": "vendor-abc"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone of the facility where the operation takes place.",
            "example": "Zone A"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance associated with the operation.",
            "example": "Preventive"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 120
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Time when the operation record was last updated in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a single operation including identifiers and attributes associated with it."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details regarding pagination of the items list."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different API calls.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the API response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "property-portfolio-search-property-portfolio"
        },
        "example": "property-portfolio-search-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token is a JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties. It is encoded and signed to ensure data integrity and can be used to verify the identity of the user making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}