{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Financial Instrument Reference Data Management Validation-spec",
    "description": "This API facilitates the validation of financial instrument reference data within the banking sector. It allows users to submit and manage validation requests for various financial instruments, ensuring data accuracy and compliance. Typical consumers of this API include financial institutions and data management teams focused on maintaining high-quality market data. Through this API, organizations can streamline their validation processes, enabling more informed decision-making based on reliable data inputs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-instrument-reference-data-management/{param1}/validations": {
      "post": {
        "tags": [
          "Financial Instrument Management"
        ],
        "summary": "Create a validation for a specific financial instrument.",
        "description": "This endpoint allows you to create a validation for the specified financial instrument reference data. Ensure that you provide the necessary details in the request body to successfully validate the data associated with the financial instrument.",
        "operationId": "createFinancialInstrumentReferenceDataManagementValidation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate financial instrument reference data for RES-100045. It includes the necessary attributes and values that must be provided to ensure the correctness and completeness of the information being submitted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinancialInstrumentReferenceDataManagementValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, returning validation results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinancialInstrumentReferenceDataManagementValidationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFinancialInstrumentReferenceDataManagementValidationRequest": {
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "A list of validation scopes applied to the request.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "The scope of validation as a string."
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validation is requested, formatted as an ISO 8601 string.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "The entity or individual requesting the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1472bead-cc93-5df3-8354-a3c18fe521ba",
            "correlationId": "7a9de2e1-cbb4-5258-bd6f-e22fef08f7b8",
            "idempotencyKey": "754a266c-9949-52a0-b9a8-c9f9ec3efacb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-710906"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request across systems."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotent operations."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made, formatted as an ISO 8601 string."
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated."
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request."
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel."
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request."
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateFinancialInstrumentReferenceDataManagementValidationResponse_200": {
        "title": "Response for Financial Instrument Validation Operations",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation (e.g., success, failure).",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the processing was completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional information about the request processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the validation operations performed on financial instrument reference data.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7d69663e-58be-5223-8c88-6dd55e75e0c1",
            "correlationId": "7a9de2e1-cbb4-5258-bd6f-e22fef08f7b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional details about the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-reference-data-management-validate-financial-instrument-reference-data-management"
        },
        "example": "financial-instrument-reference-data-management-validate-financial-instrument-reference-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token, typically formatted as a JSON Web Token (JWT), to verify the identity of the client making the request. This token must be included in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}