{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Beneficiaries-spec",
    "description": "The Account Beneficiaries Retrieval API allows users to access and view the beneficiaries associated with a specific bank account. This endpoint provides crucial insights into account management by detailing individuals or entities designated to receive funds from the account. Typical consumers include financial institutions, banking applications, and third-party payment platforms that require beneficiary information for transaction processing. By utilizing this API, developers can enhance user experiences through comprehensive account management features.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/beneficiaries": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve the beneficiaries of a specific account.",
        "description": "This endpoint allows you to retrieve the list of beneficiaries associated with a specific account identified by its account number. Useful for managing and viewing account-related beneficiaries.",
        "operationId": "listAccountBeneficiaries",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving the beneficiaries associated with a specific account. Ensure that the correct account identifier is provided to obtain the relevant beneficiary information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountBeneficiariesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the beneficiaries of the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountBeneficiariesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountBeneficiariesRequest": {
        "type": "string",
        "description": "The request body for the GET operation to retrieve beneficiaries for the specified account.",
        "example": "{}"
      },
      "ListAccountBeneficiariesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Beneficiary": {
                "type": "array",
                "description": "List of beneficiaries associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            },
            "description": "Container for the main data related to beneficiaries.",
            "example": {
              "Beneficiary": [
                {
                  "AccountId": "ACC-413831",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Reference": "STANDARD",
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-266",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD",
                      "Code": "SUCCESS",
                      "Type": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Self-referential URL for the beneficiary resource."
              },
              "First": {
                "type": "string",
                "description": "URL for the first page of beneficiaries."
              }
            },
            "description": "Links related to the resource.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracking requests across services."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed."
              }
            },
            "description": "Metadata for the response, providing context and tracking information.",
            "example": {
              "responseId": "04f8c591-7e71-532e-b2e6-3d09c4968079",
              "correlationId": "b12a7118-82f2-5b38-a247-2d764fbb6a7a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for retrieving beneficiaries associated with an account.",
        "example": {
          "Data": {
            "Beneficiary": [
              {
                "AccountId": "ACC-413831",
                "id": "STANDARD",
                "type": "STANDARD",
                "Reference": "STANDARD",
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-266",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "04f8c591-7e71-532e-b2e6-3d09c4968079",
            "correlationId": "b12a7118-82f2-5b38-a247-2d764fbb6a7a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account related to this beneficiary."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the beneficiary."
          },
          "type": {
            "type": "string",
            "description": "Type of the beneficiary."
          },
          "Reference": {
            "type": "string",
            "description": "Reference information for the beneficiary."
          },
          "CreditorAgent": {
            "description": "Information about the creditor agent managing the beneficiary.",
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "description": "Information about the account associated with the creditor.",
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Schema representing a beneficiary associated with an account."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name under which the creditor agent operates."
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent."
          },
          "PostalAddress": {
            "description": "Postal address of the creditor agent.",
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) of the creditor agent."
          }
        },
        "description": "Schema representing a creditor agent's details."
      },
      "CreditorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name under which the creditor account operates."
          },
          "Identification": {
            "type": "string",
            "description": "Identification number assigned to the creditor account."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor account holder."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the creditor account."
          },
          "Proxy": {
            "description": "Proxy information for the creditor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema representing the details of a creditor account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization (if applicable)."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization (if applicable)."
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number in the address."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building (if applicable)."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number where the address is located."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building (if applicable)."
          },
          "Room": {
            "type": "string",
            "description": "Room number (if applicable)."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number (if applicable)."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of details (if applicable)."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code for the address."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., state, province)."
          },
          "Country": {
            "type": "string",
            "description": "Country of the address."
          },
          "AddressLine": {
            "type": "array",
            "description": "Additional address lines.",
            "items": {
              "type": "string",
              "description": "Individual address line."
            }
          }
        },
        "description": "Schema representing a postal address."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification number."
          },
          "Code": {
            "type": "string",
            "description": "Proxy code used for transaction."
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy used."
          }
        },
        "description": "Schema representing proxy details of a creditor account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-beneficiaries"
        },
        "example": "accounts-api-get-accounts-account-id-beneficiaries"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, useful for performance monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}