{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Business Services Customer Businesse-v5-spec",
    "description": "This API enables businesses to manage customer-specific entities by allowing users to associate multiple businesses with a given customer. Ideal for systems requiring the tracking of customer relationships and their associated business entities, it supports operations for creating new business entries linked to a customer. Typical consumers include CRM systems, e-commerce platforms, and financial management tools that require detailed customer-business interaction records. The endpoint enhances the ability to manage customer data efficiently while fostering better service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/customers/{customerId}/businesses": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new business for a specific customer.",
        "description": "This endpoint allows the creation of a new business associated with the customer identified by the customer ID 'CUST-100045'. Provide the necessary business details in the request body to successfully create the business.",
        "operationId": "createBusinessServicesCustomerBusinesse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new business under the customer with ID CUST-100045. The provided information should include all required fields as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessServicesCustomerBusinesseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, business resource returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessServicesCustomerBusinesseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessServicesCustomerBusinesseRequest": {
        "title": "Customer Business Request",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the customer is personally liable for the business debts.",
            "example": true
          },
          "address": {
            "description": "The address of the business.",
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "description": "The contact phone number for the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The email address associated with the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating a business associated with a customer.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "requestContext": {
            "requestId": "62cc3c24-8d8b-5e9d-bc0c-30c249e4946d",
            "correlationId": "1703f649-9509-5fce-89c0-d54de31dbcf9",
            "idempotencyKey": "290bcfa6-294c-5637-bff5-06445997bd44",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-917746"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City of the address.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State of the address.",
            "example": "CA"
          },
          "country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "12345"
          }
        },
        "description": "Schema representing a postal address."
      },
      "PhoneNumber": {
        "title": "Phone Number",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "The country code for the phone number.",
            "example": "+1"
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number.",
            "example": "555-0123"
          }
        },
        "description": "Schema representing the phone number details for a business."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of operations.",
            "example": "idempotency-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp representing when the request was made.",
            "example": "2023-10-10T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context surrounding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateBusinessServicesCustomerBusinesseResponse_200": {
        "title": "Business Response",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates whether the individual is personally liable for the business.",
            "example": true
          },
          "address": {
            "description": "The physical address of the business.",
            "$ref": "#/components/schemas/BusinessAddress"
          },
          "phoneNumber": {
            "description": "The contact phone number for the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The contact email address for the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business entity.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "STANDARD"
          },
          "businessId": {
            "type": "string",
            "description": "The unique identifier for the business.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the business was created.",
            "example": "2026-09-15"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the business details were last modified.",
            "example": "2026-09-15"
          },
          "metadata": {
            "description": "Additional metadata related to the business response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a business operation that includes various details about the business.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "businessId": "STANDARD",
          "createdDate": "2026-09-15",
          "modifiedDate": "2026-09-15",
          "metadata": {
            "responseId": "3d54756b-e164-50c8-bbce-f605873e74c1",
            "correlationId": "1703f649-9509-5fce-89c0-d54de31dbcf9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessAddress": {
        "title": "Business Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address, if applicable.",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "The city where the business is located.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "The state where the business is located.",
            "example": "IL"
          },
          "country": {
            "type": "string",
            "description": "The country where the business is located.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code for the address.",
            "example": "62701"
          }
        },
        "description": "Schema representing the physical address of a business."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique ID for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata associated with the business response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking the specific execution path taken during the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-add-business-details"
        },
        "example": "open-finance-api-add-business-details"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the request. This is useful for understanding which application instance was responsible for handling the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a token to be included in the Authorization header in the format: 'Authorization: Bearer <token>'. The token should be a valid JSON Web Token (JWT) that grants access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}