{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Enterprise Service By Param1-spec",
    "description": "The Enterprise Security Advisory Retrieval API allows users to obtain specific security advisory details related to enterprise services based on a unique parameter. This endpoint is crucial for organizations seeking targeted security advisory information to inform their operational strategies. Typical consumers include compliance officers and IT security teams who need to access this data for risk assessment and mitigation purposes. By providing these resources, the API enhances risk management and security posture within enterprises.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory/{param1}": {
      "get": {
        "tags": [
          "Security Advisory"
        ],
        "summary": "Retrieve security advisory details.",
        "description": "Fetches the complete details of the specified security advisory identified by the given resource ID. This endpoint provides essential information regarding threats, vulnerabilities, and applicable mitigations.",
        "operationId": "getEnterpriseServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to provide the required parameters and data necessary to retrieve security advisory details for the specified resource. Ensure that the JSON structure adheres to the defined schema to facilitate successful API interactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the advisory details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseServiceByParam1Request": {
        "type": "string",
        "description": "Request body for the security advisory operation. This should be a JSON string that contains the necessary information for the advisory service.",
        "example": "{}"
      },
      "GetEnterpriseServiceByParam1Response_200": {
        "title": "Security Advisory Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The framework used for the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The unique identifier of the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date of the engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date of the engagement.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the engagement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the engagement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the engagement.",
            "$ref": "#/components/schemas/EngagementMetadata"
          }
        },
        "description": "A schema representing the response for a security advisory engagement, detailing its key attributes and metadata.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2e99672c-1cd5-56c4-afb3-e84a52d10fec",
            "correlationId": "568ed843-bfc8-59b5-99bd-ece308fc3ad8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementMetadata": {
        "title": "Engagement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking requests across systems.",
            "example": "correlation-101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "2023-05-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the engagement, providing additional context and tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-get-security-advisory"
        },
        "example": "security-advisory-get-security-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically JWT (JSON Web Tokens). This method allows clients to authenticate by including a token in the authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}