{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Transactions API",
    "description": "The Customer Account Transactions API enables businesses to record and manage transaction data associated with specific customer accounts. This API facilitates the submission of transaction details, allowing financial institutions and service providers to efficiently track and analyze customer spending behaviors. Users such as financial analysts and account managers can utilize this endpoint to input transaction information seamlessly. By leveraging this API, organizations can ensure accurate record-keeping and enhanced financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/transactions": {
      "post": {
        "tags": [
          "Account Transactions"
        ],
        "summary": "Create a new transaction for a specific account.",
        "description": "This endpoint allows you to create a new transaction associated with a specific account belonging to a customer. Ensure you provide all required transaction details in the request body to successfully create the transaction.",
        "operationId": "createTransactionForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new transaction for the specified account. Ensure that all required fields are correctly filled out according to the transaction schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionForAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTransactionForAccountRequest": {
        "title": "TransactionRequest",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the transaction.",
            "example": 100.0
          },
          "description": {
            "type": "string",
            "description": "A brief description of the transaction.",
            "example": "Customer banking request processed successfully"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "ACTIVE"
          },
          "postedDate": {
            "type": "integer",
            "description": "The date the transaction was posted, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "transactionDate": {
            "type": "integer",
            "description": "The date the transaction occurred, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a transaction.",
        "example": {
          "amount": 100.0,
          "description": "Customer banking request processed successfully",
          "status": "ACTIVE",
          "postedDate": 1,
          "transactionDate": 1,
          "requestContext": {
            "requestId": "e478ffcd-3fbe-5eb7-8984-8c443ff61e30",
            "correlationId": "d0f9021b-2792-57d3-92d5-a6e4d7dc7521",
            "idempotencyKey": "7c0dab5f-e940-511f-9742-e56d5cac5a10",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-214358"
            }
          }
        }
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-key-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2021-03-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-67890"
          }
        },
        "description": "Schema representing the channel details through which the request was made."
      },
      "CreateTransactionForAccountResponse_201": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the transaction.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp for when the transaction was created.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Schema representing the response for a transaction operation.",
        "example": {
          "id": 1,
          "createdDate": 1,
          "metadata": {
            "responseId": "99b9e07f-52bd-5572-95dc-a241cfa9e9a2",
            "correlationId": "d0f9021b-2792-57d3-92d5-a6e4d7dc7521",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response received.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header identifies the specific endpoint that was called, providing a unique identifier for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-tx-push-test-transaction"
        },
        "example": "open-finance-api-create-tx-push-test-transaction"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application context under which the transaction was executed, helping to audit and troubleshoot application behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The tokens should be formatted as JSON Web Tokens (JWT) which provide a compact and self-contained way for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}