{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Investment Management Investment Portfolio Management-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Investment Management Investment Portfolio Management-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-management": {
      "post": {
        "operationId": "createBankingInvestmentManagementInvestmentPortfolioManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingInvestmentManagementInvestmentPortfolioManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingInvestmentManagementInvestmentPortfolioManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingInvestmentManagementInvestmentPortfolioManagementRequest": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "example": "PORT-434027"
          },
          "investmentAccountId": {
            "type": "string",
            "example": "ACC-864546"
          },
          "investmentObjective": {
            "type": "string",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "example": "USD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "560ffc4e-1376-592d-9929-4f7168b9dc43",
              "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
              "idempotencyKey": "769d1398-9b0d-5709-b1f4-fd1476696839",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-890236"
              }
            }
          }
        },
        "example": {
          "portfolioId": "PORT-434027",
          "investmentAccountId": "ACC-864546",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "560ffc4e-1376-592d-9929-4f7168b9dc43",
            "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
            "idempotencyKey": "769d1398-9b0d-5709-b1f4-fd1476696839",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-890236"
            }
          }
        }
      },
      "CreateBankingInvestmentManagementInvestmentPortfolioManagementResponse_201": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "example": "PORT-485210"
          },
          "investmentAccountId": {
            "type": "string",
            "example": "ACC-969087"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-963975"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c6d019c5-feff-5a4d-9825-5d55a9239a00",
              "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "portfolioId": "PORT-485210",
          "investmentAccountId": "ACC-969087",
          "resourceId": "RES-963975",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c6d019c5-feff-5a4d-9825-5d55a9239a00",
            "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-management-create-investment-portfolio-management"
        },
        "example": "investment-portfolio-management-create-investment-portfolio-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}