{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Position Keeping API",
    "description": "The Credit Card Position Keeping API provides an interface for tracking and managing the status of credit card positions in real-time. This endpoint allows users to retrieve detailed information about specific credit card positions using unique identifiers. Typical consumers of this API include financial institutions, customer service representatives, and accounting systems that require up-to-date position information for operational or reporting purposes. By leveraging this API, businesses can streamline their financial processes and enhance their customer service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping/{param1}": {
      "get": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Retrieve the position of a specific credit card.",
        "description": "This endpoint allows clients to fetch the current position of a specified credit card identified by its unique card number. Use this endpoint to check the status and position details relevant to the credit card, which can be useful for balance inquiries or transaction tracking.",
        "operationId": "getCreditCardPositionKeepingByCardNumber",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the current position of credit card with the specified ID. This operation accesses the card's status and details, enabling users to manage their credit effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditCardPositionKeepingByCardNumberRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the credit card position details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditCardPositionKeepingByCardNumberResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditCardPositionKeepingByCardNumberRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the credit card position keeping API.",
        "example": "{}"
      },
      "GetCreditCardPositionKeepingByCardNumberResponse_200": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique identifier for the card.",
            "example": "TOK-298633"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder associated with the card.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-585901"
          },
          "transactionAmount": {
            "description": "Details about the transaction amount.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the category of the merchant.",
            "example": "5411"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the card operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the card record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for credit card position keeping operations.",
        "example": {
          "cardToken": "TOK-298633",
          "cardholderId": "STANDARD",
          "merchantId": "MER-585901",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f22d6028-061f-556d-9061-a0682957d75b",
            "correlationId": "ab96be94-713e-5f25-ab39-46e671c0f1e4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The monetary amount of the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the transaction.",
            "example": "string"
          }
        },
        "description": "Contains details about the transaction amount."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique ID for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the transaction response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-get-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-get-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication via a JSON Web Token (JWT). Clients must include the JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}