{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Aggregation Customer Account Txpush-v5-spec",
    "description": "MICROSERVICE-PROD-Create Aggregation Customer Account Txpush-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/txpush": {
      "post": {
        "operationId": "createAggregationCustomerAccountTxpush",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAggregationCustomerAccountTxpushRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAggregationCustomerAccountTxpushResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAggregationCustomerAccountTxpushRequest": {
        "type": "object",
        "properties": {
          "callbackUrl": {
            "type": "string",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "aba19f97-9ef9-52ab-ae44-16ba5cbb372a",
              "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
              "idempotencyKey": "5328559c-451f-595e-b1f1-860712c6149c",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-676570"
              }
            }
          }
        },
        "example": {
          "callbackUrl": "https://banking.northstar.example/callbacks/status",
          "requestContext": {
            "requestId": "aba19f97-9ef9-52ab-ae44-16ba5cbb372a",
            "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
            "idempotencyKey": "5328559c-451f-595e-b1f1-860712c6149c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-676570"
            }
          }
        }
      },
      "CreateAggregationCustomerAccountTxpushResponse_201": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "type": "array",
            "example": [
              {
                "id": 1,
                "accountId": 1,
                "type": "STANDARD",
                "callbackUrl": "https://banking.northstar.example/callbacks/status",
                "signingKey": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "accountId": {
                  "type": "integer",
                  "format": "int32",
                  "example": 0
                },
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "callbackUrl": {
                  "type": "string",
                  "example": "string"
                },
                "signingKey": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "a21ca7c6-a813-5696-b64b-b81200c20959",
              "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "subscriptions": [
            {
              "id": 1,
              "accountId": 1,
              "type": "STANDARD",
              "callbackUrl": "https://banking.northstar.example/callbacks/status",
              "signingKey": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "a21ca7c6-a813-5696-b64b-b81200c20959",
            "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-subscribe-to-tx-push-notifications"
        },
        "example": "open-finance-api-subscribe-to-tx-push-notifications"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}