{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Treasury Corporate Treasury Analysis-spec",
    "description": "The Corporate Treasury Analysis API provides insights and data related to corporate treasury management. This endpoint allows users to retrieve comprehensive analysis reports, enhancing decision-making for financial managers and corporate treasurers. It is particularly beneficial for enterprises looking to optimize liquidity, manage risks, and improve funding strategies. Typical consumers of this API include financial analysts and treasury departments seeking to analyze cash flow movements and financial forecasts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/corporate-treasury-analysis": {
      "get": {
        "tags": [
          "Treasury"
        ],
        "summary": "Retrieve corporate treasury analysis data.",
        "description": "This endpoint allows users to access detailed reports and insights related to corporate treasury analysis, enabling informed decision-making and strategic financial planning.",
        "operationId": "listTreasuryCorporateTreasuryAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving corporate treasury analysis. This body must contain the necessary parameters defined by the schema to ensure a valid request is made for analysis data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTreasuryCorporateTreasuryAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the corporate treasury analysis data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTreasuryCorporateTreasuryAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTreasuryCorporateTreasuryAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the corporate treasury analysis operation in the GET method.",
        "example": "{}"
      },
      "ListTreasuryCorporateTreasuryAnalysisResponse_200": {
        "title": "Corporate Treasury Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of treasury analysis items.",
            "example": [
              {
                "portfolioId": "PORT-472969",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-133752",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TreasuryAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a corporate treasury analysis operation, including paged items, sorting information, and metadata regarding the response.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-472969",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-133752",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c4597d3b-83d5-55f9-9ad4-3b5c05931c42",
            "correlationId": "1d1cdab4-3eee-568d-839a-c244ba1e7092",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TreasuryAnalysisItem": {
        "title": "Treasury Analysis Item",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "string"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the instrument.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the item was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an individual treasury analysis item containing specific portfolio and instrument details."
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Numerical value of the notional amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the notional amount.",
            "example": "string"
          }
        },
        "description": "Represents the notional amount of a financial instrument including the currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the entire dataset.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination details of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracking and correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-treasury-analysis-search-corporate-treasury-analysis"
        },
        "example": "corporate-treasury-analysis-search-corporate-treasury-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) for secure access. Clients must include a valid JWT in the `Authorization` header to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}