{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Qr Payment Request Cancel-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Qr Payment Request Cancel-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{qrPaymentRequestId}/cancel": {
      "post": {
        "operationId": "createP2mQrPaymentRequestCancel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/qrPaymentRequestId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mQrPaymentRequestCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mQrPaymentRequestCancelResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mQrPaymentRequestCancelRequest": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "example": "CODE-564"
          },
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "2cc02fb4-d93e-5510-94ab-6e60a26c5644",
              "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
              "idempotencyKey": "adb89a37-6665-5f35-87c7-91b8eed3fd34",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-619282"
              }
            }
          }
        },
        "example": {
          "reasonCode": "CODE-564",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "2cc02fb4-d93e-5510-94ab-6e60a26c5644",
            "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
            "idempotencyKey": "adb89a37-6665-5f35-87c7-91b8eed3fd34",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-619282"
            }
          }
        }
      },
      "CreateP2mQrPaymentRequestCancelResponse_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "example": "275b7793-c03f-5fb9-8092-517e859703d4"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-269919"
          },
          "outletId": {
            "type": "string",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "example": "STANDARD"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "merchantOrderId": {
            "type": "string",
            "example": "ORD-972187"
          },
          "description": {
            "type": "string",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "type": "object",
            "properties": {
              "mode": {
                "type": "string",
                "example": "string"
              },
              "fixedAmounts": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "percentages": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "maximumTip": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "mode": "STANDARD",
              "fixedAmounts": [
                {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              ],
              "percentages": [
                "STANDARD"
              ],
              "maximumTip": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "qrPayload": {
            "type": "string",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "example": true
          },
          "paidAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "paymentId": {
            "type": "string",
            "example": "PAY-539959"
          },
          "expiresAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "ee34b2b9-9e5b-5297-8f06-b2208afa2dba",
              "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "qrPaymentRequestId": "275b7793-c03f-5fb9-8092-517e859703d4",
          "merchantId": "MER-269919",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-972187",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-539959",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "ee34b2b9-9e5b-5297-8f06-b2208afa2dba",
            "correlationId": "61ee7256-af7c-57b4-b4f8-a49d4dca3501",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "qrPaymentRequestId": {
        "name": "qrPaymentRequestId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-qr-payment-request"
        },
        "example": "banking-p2m-openapi-cancel-qr-payment-request"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}