{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Market Operation Unit Trust Administrations-spec",
    "description": "The Unit Trust Administration Retrieval API facilitates the retrieval of information related to market operations for unit trust administration. This API serves financial institutions and asset managers looking to access detailed operational data regarding unit trusts. Typical use cases include reporting, auditing, and analysis of unit trust performance and administration processes. Developers can integrate this API into their financial platforms to enhance visibility and manage operational tasks efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/unit-trust-administration": {
      "get": {
        "tags": [
          "Unit Trust Management"
        ],
        "summary": "Retrieve unit trust administration details.",
        "description": "This endpoint allows users to fetch detailed information regarding unit trust administration operations. Users can obtain insights into the various administrative aspects and functionalities associated with managing unit trusts.",
        "operationId": "listMarketOperationUnitTrustAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for retrieving unit trust administration details. The information returned will be specific to the unit trusts managed under the operations context.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketOperationUnitTrustAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested unit trust administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketOperationUnitTrustAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketOperationUnitTrustAdministrationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to unit trust administration operations in the market operations service.",
        "example": "{}"
      },
      "ListMarketOperationUnitTrustAdministrationsResponse_200": {
        "title": "Unit Trust Administration Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of unit trust information records.",
            "example": [
              {
                "fundId": "STANDARD",
                "shareClassId": "STANDARD",
                "valuationDate": "2026-09-15",
                "netAssetValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "unitsOutstanding": 1,
                "administratorId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/UnitTrustRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the Unit Trust Administration operations GET request.",
        "example": {
          "items": [
            {
              "fundId": "STANDARD",
              "shareClassId": "STANDARD",
              "valuationDate": "2026-09-15",
              "netAssetValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "unitsOutstanding": 1,
              "administratorId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "58e88e03-04f0-5533-96b2-dd3bd3e3e13e",
            "correlationId": "d53f65b6-9c7b-583c-9ca9-cbed528ddae5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "UnitTrustRecord": {
        "title": "Unit Trust Record",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The identifier for the fund.",
            "example": "fund-123"
          },
          "shareClassId": {
            "type": "string",
            "description": "The identifier for the share class.",
            "example": "class-456"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the valuation is made.",
            "example": "2023-10-13"
          },
          "netAssetValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The amount of net asset value.",
                "example": 100.0
              },
              "currency": {
                "type": "string",
                "description": "The currency of the net asset value.",
                "example": "USD"
              }
            },
            "description": "The net asset value details."
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "The number of units outstanding.",
            "format": "int32",
            "example": 1000
          },
          "administratorId": {
            "type": "string",
            "description": "The identifier for the administrator.",
            "example": "admin-789"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2023-10-13T12:00:00Z"
          }
        },
        "description": "Schema for a single unit trust record."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination details in the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracking the request across systems.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-13T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing happened.",
            "example": "US"
          }
        },
        "description": "Schema for metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "unit-trust-administration-search-unit-trust-administration"
        },
        "example": "unit-trust-administration-search-unit-trust-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of Bearer Token authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}