{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Analysis Customer Portfolio API",
    "description": "The Business Analysis Customer Portfolio API provides insights and analytics for customer portfolios within the banking sector. This API allows businesses to retrieve detailed information on customer portfolios based on specified parameters. Typical consumers include bank analysts and financial advisors seeking to assess client holdings and behavior. By leveraging this API, users can enhance their decision-making and tailor financial strategies to individual customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/customer-portfolio/{param1}": {
      "get": {
        "tags": [
          "Customer Portfolio"
        ],
        "summary": "Retrieve customer portfolio details.",
        "description": "This endpoint retrieves comprehensive details about a specific customer portfolio identified by the given ID. It allows users to assess customer assets, investments, and overall financial data.",
        "operationId": "getCustomerPortfolioById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the customer portfolio information for the specified customer ID. Ensure that the ID is correctly formatted to obtain the accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerPortfolioByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the customer portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerPortfolioByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerPortfolioByIdRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation related to the customer portfolio (CUST-100045) in the business analysis context.",
        "example": "{}"
      },
      "GetCustomerPortfolioByIdResponse_200": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment associated with the analysis.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the period for which the analysis is conducted.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the period for which the analysis is conducted.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the financial data in the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario name or description under which the analysis is categorized.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the analysis record, indicating if it is active, archived, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the analysis record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to this analysis record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response of the analysis.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer portfolio business analysis operation.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9ef24e54-a179-5cdc-a9f9-22ad71a23dbd",
            "correlationId": "b0c5049c-b1e3-5a9d-8cbe-4ac758aa358b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-2001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across services.",
            "example": "CORR-1001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-portfolio-get-customer-portfolio"
        },
        "example": "customer-portfolio-get-customer-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme with JSON Web Tokens (JWT). It allows client applications to authenticate with the server by including a token in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}