{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Paymentindicators-spec",
    "description": "The Payment Indicator Retrieval API enables businesses to access and review payment indicators for specific customer accounts. This API allows users to retrieve vital information regarding payment activity, enhancing their ability to monitor financial transactions effectively. Typical consumers include financial analysts, customer service representatives, and developers integrating payment systems. The endpoint requires the specification of a customer ID and an account ID, facilitating targeted queries to ensure accurate data retrieval.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/payments/paymentindicator": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve the payment indicator for a specific account.",
        "description": "This endpoint allows you to fetch the payment indicator associated with a specific account. It provides information on payment statuses and indications for the specified account, which can be crucial for understanding customers' payment behavior.",
        "operationId": "listPaymentPaymentindicators",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment indicator for a specific account under a specific customer. It specifies the account and customer identifiers that determine which payment indicator is being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentPaymentindicatorsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment indicator for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentPaymentindicatorsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentPaymentindicatorsRequest": {
        "type": "string",
        "description": "Represents the payment indicator request body for the operation pertaining to payments.",
        "example": "{}"
      },
      "ListPaymentPaymentindicatorsResponse_200": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A status code indicating the result of the operation.",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "A message providing additional information about the operation's result.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-425687"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "ACC-172873"
          },
          "payReqId": {
            "type": "string",
            "description": "The unique identifier for the payment request.",
            "example": "STANDARD"
          },
          "settleByDate": {
            "type": "string",
            "description": "The date by which the payment should be settled.",
            "example": "2026-09-15"
          },
          "settlementAmount": {
            "type": "number",
            "description": "The amount that is to be settled.",
            "example": 100.0
          },
          "availableBalance": {
            "type": "number",
            "description": "The available balance in the account.",
            "example": 100.0
          },
          "indicatorsByDay": {
            "type": "array",
            "description": "Daily indicators for payment assessment.",
            "example": [
              {
                "potentialSettlementDate": "2026-09-15",
                "compositeScore": 1,
                "scoreIndicator": "STANDARD",
                "reasons": {
                  "recentBalance": 1,
                  "balanceHistory": 1,
                  "nsfHistory": 1,
                  "recentNsfHistory": 1,
                  "recurringNsf": 1,
                  "spendHistory": 1,
                  "depositHistory": 1,
                  "transactionAmount": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentIndicator"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for payment indicators related to a specific account and customer.",
        "example": {
          "code": "SUCCESS",
          "message": "STANDARD",
          "customerId": "CUST-425687",
          "accountId": "ACC-172873",
          "payReqId": "STANDARD",
          "settleByDate": "2026-09-15",
          "settlementAmount": 100.0,
          "availableBalance": 100.0,
          "indicatorsByDay": [
            {
              "potentialSettlementDate": "2026-09-15",
              "compositeScore": 1,
              "scoreIndicator": "STANDARD",
              "reasons": {
                "recentBalance": 1,
                "balanceHistory": 1,
                "nsfHistory": 1,
                "recentNsfHistory": 1,
                "recurringNsf": 1,
                "spendHistory": 1,
                "depositHistory": 1,
                "transactionAmount": 1
              }
            }
          ],
          "metadata": {
            "responseId": "011d6fa6-9e3e-5e3a-b7e7-bcfa9f244964",
            "correlationId": "60024ba5-6259-5d0b-8dcb-50c4f1bda65a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentIndicator": {
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The potential date on which the settlement might occur.",
            "example": "string"
          },
          "compositeScore": {
            "type": "integer",
            "description": "A composite score representing the risk of settlement.",
            "format": "int32",
            "example": 0
          },
          "scoreIndicator": {
            "type": "string",
            "description": "An indicator representing the score category.",
            "example": "string"
          },
          "reasons": {
            "$ref": "#/components/schemas/ScoreReasons"
          }
        },
        "description": "Details regarding payment indicators for a specific day."
      },
      "ScoreReasons": {
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "The balance in the account recently.",
            "format": "int32",
            "example": 0
          },
          "balanceHistory": {
            "type": "integer",
            "description": "The historical balance data.",
            "format": "int32",
            "example": 0
          },
          "nsfHistory": {
            "type": "integer",
            "description": "The history of non-sufficient funds incidents.",
            "format": "int32",
            "example": 0
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Recent incidents of non-sufficient funds.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Count of recurring non-sufficient funds incidents.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "Spending history for the account.",
            "format": "int32",
            "example": 0
          },
          "depositHistory": {
            "type": "integer",
            "description": "Deposit history for the account.",
            "format": "int32",
            "example": 0
          },
          "transactionAmount": {
            "type": "integer",
            "description": "The amount involved in recent transactions.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Reasons for the calculated score in the payment indicators."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to track requests and responses correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that generated this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-payment-success-indicator"
        },
        "example": "open-finance-api-get-payment-success-indicator"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request and generated this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}