{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Audit Findings Management API",
    "description": "The Audit Findings Management API enables organizations to update and manage their audit findings efficiently. This API allows users to modify details related to specific findings identified during audits, helping in the management of compliance and risk assessment processes. Typical consumers include compliance officers, risk managers, and auditors who utilize this functionality to keep audit records current. By ensuring accurate and up-to-date information, businesses can maintain regulatory compliance and improve overall risk management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/audit-findings/{param1}": {
      "put": {
        "tags": [
          "Audit Management"
        ],
        "summary": "Update an audit finding by ID.",
        "description": "This endpoint allows users to update the details of a specific audit finding identified by its unique ID. The changes made will reflect immediately in the system. Ensure that all required fields are provided in the request body to successfully update the finding.",
        "operationId": "updateAuditFindingRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific audit finding identified by RES-100045. Ensure that the provided data complies with the expected schema to successfully update the findings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAuditFindingRES100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is now being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAuditFindingRES100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateAuditFindingRES100045Request": {
        "title": "Audit Findings Request Body",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the audit engagement.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "Framework used for the audit.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the engagement.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the structure of the request body for updating audit findings.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "requestContext": {
            "requestId": "d6375450-3f3f-5b8e-98e3-7c0fbe1205b1",
            "correlationId": "3e1425e1-d5b4-5ae2-aa2a-b736232b8f96",
            "idempotencyKey": "a7e35228-3165-5687-be02-29e45eb4b09d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-893198"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "correlation-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Application A"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "UpdateAuditFindingRES100045Response_202": {
        "title": "Audit Findings Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "The identifier for the owner of the engagement.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference for tracking the processing of the audit findings.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the audit findings processing.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the audit findings were accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the audit findings response.",
            "$ref": "#/components/schemas/AuditFindingsMetadata"
          }
        },
        "description": "This schema represents the response for the audit findings operation.",
        "example": {
          "engagementId": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c177e737-88d5-595b-a3f5-2873688cba64",
            "correlationId": "3e1425e1-d5b4-5ae2-aa2a-b736232b8f96",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditFindingsMetadata": {
        "title": "Audit Findings Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response generated.",
            "example": "response-xyz789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking requests across services.",
            "example": "corr-efg456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the audit findings were processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata information related to audit findings."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ef3cda5d-fea0-41b7-a6a0-9cf292234da6"
        },
        "example": "ef3cda5d-fea0-41b7-a6a0-9cf292234da6"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "async-finalization"
        },
        "example": "async-finalization"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
        },
        "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-perform-internal-audit"
        },
        "example": "internal-audit-perform-internal-audit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "description": "Contains the name of the workflow associated with the audit finding response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-State": {
        "description": "Indicates the current state of the workflow processed in the audit findings.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "COMPLETED"
        },
        "example": "COMPLETED"
      },
      "X-Workflow-Execution-Id": {
        "description": "Unique identifier for the execution of the workflow related to the audit finding.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
        },
        "example": "ad2db2b0-6591-4788-9815-405ccac5f9b5"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format for authentication, specifically a JSON Web Token (JWT). Clients must include the token in the Authorization header as a means of granting access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}