{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loans Loan Application Offer By Offer Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Loans Loan Application Offer By Offer Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{loanApplicationId}/offers/{offerId}": {
      "get": {
        "operationId": "getLoansLoanApplicationOfferByOfferId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanApplicationId"
          },
          {
            "$ref": "#/components/parameters/offerId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoansLoanApplicationOfferByOfferIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoansLoanApplicationOfferByOfferIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoansLoanApplicationOfferByOfferIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetLoansLoanApplicationOfferByOfferIdResponse_200": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "termMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "originationFee": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "insurancePremium": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "validUntil": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "dueBefore": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "disclosures": {
            "type": "array",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "id": {
            "type": "string",
            "example": "dbe2aaf2-e333-cca2-dbd5-38efbf5b1624"
          },
          "offerNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "example": "CUST-772118"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "857ba75d-ef87-5981-8746-a97f977ea94e",
              "correlationId": "1a8b2ba1-10d1-57c5-92ca-b35feeb41b86",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "dbe2aaf2-e333-cca2-dbd5-38efbf5b1624",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-772118",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "857ba75d-ef87-5981-8746-a97f977ea94e",
            "correlationId": "1a8b2ba1-10d1-57c5-92ca-b35feeb41b86",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanApplicationId": {
        "name": "loanApplicationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "offerId": {
        "name": "offerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-offer"
        },
        "example": "banking-loans-openapi-get-loan-offer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}