{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Consumer Service Brokered Product-spec",
    "description": "The Brokered Product Specification API enables the creation of brokered product specifications within the consumer services domain. This API allows developers to submit detailed information about new products offered to consumers, facilitating the onboarding of new financial solutions. Typical consumers of this API include developers and teams within banking institutions looking to enhance their service offerings with innovative products. By integrating this functionality, businesses can streamline the introduction of new brokered products, improving customer experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/brokered-product": {
      "post": {
        "tags": [
          "Brokered Product"
        ],
        "summary": "Create a new brokered product.",
        "description": "This endpoint allows you to create a new brokered product within the consumer services. You can provide the necessary details for the product you wish to create, which will then be processed and stored in our system.",
        "operationId": "createConsumerServiceBrokeredProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new brokered product under the consumer services. It should contain all necessary details about the product to be brokered, formatted as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerServiceBrokeredProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerServiceBrokeredProductResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerServiceBrokeredProductRequest": {
        "title": "Brokered Product Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-196403"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "62f9a00c-6e7c-5fe9-b675-9873ae1c5a5a"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific product requested.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The monetary amount associated with the product request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for brokered product operations.",
        "example": {
          "customerId": "CUST-196403",
          "serviceRequestId": "62f9a00c-6e7c-5fe9-b675-9873ae1c5a5a",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "64f32c9d-e6e3-5ac2-91d1-5cc4e031f181",
            "correlationId": "fe76966c-b98d-55cf-b0b3-f835a4fe1c54",
            "idempotencyKey": "ffb3c46c-4740-5450-89f0-708a6797bd07",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-471596"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "requestId001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs and requests.",
            "example": "correlationId002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotencyKey003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "sourceSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "sourceAppB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channelId004"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "deviceId005"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "CreateConsumerServiceBrokeredProductResponse_201": {
        "title": "Brokered Product Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-681595"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "7d67c96c-279d-50e8-beab-46827f3b1034"
          },
          "productCode": {
            "type": "string",
            "description": "The code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier of the resource related to the brokered product.",
            "example": "RES-109068"
          },
          "status": {
            "type": "string",
            "description": "The current status of the brokered product operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the brokered product was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object for a successful brokered product operation.",
        "example": {
          "customerId": "CUST-681595",
          "serviceRequestId": "7d67c96c-279d-50e8-beab-46827f3b1034",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-109068",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "207cc53d-e479-5da9-a4fe-ed4fd839811b",
            "correlationId": "fe76966c-b98d-55cf-b0b3-f835a4fe1c54",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-111"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "corr-222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata object containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brokered-product-create-brokered-product"
        },
        "example": "brokered-product-create-brokered-product"
      },
      "x-runtime-app": {
        "description": "The runtime environment of the application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, incorporating JSON Web Tokens (JWT) for secure authorization in API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}