{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Consumer Service Customer Tax Handlings-spec",
    "description": "The Customer Tax Handling Retrieval API facilitates the access and retrieval of consumer service tax handling information for customers. This endpoint allows users to obtain detailed records related to tax handling processes within consumer banking services. Typical users include financial institutions, tax professionals, and system integrators looking to integrate tax handling capabilities into their applications. The API supports queries to streamline compliance and reporting processes, ensuring users can effectively manage customer tax-related data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/customer-tax-handling": {
      "get": {
        "tags": [
          "Customer Services"
        ],
        "summary": "Retrieve customer tax handling information.",
        "description": "This endpoint allows you to fetch the tax handling details for a specific customer, offering insights into their tax-related statuses and preferences.",
        "operationId": "listConsumerServiceCustomerTaxHandlings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve customer tax handling information via the GET method. It includes the necessary parameters and structure defined in the schema for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsumerServiceCustomerTaxHandlingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of customer tax handling information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConsumerServiceCustomerTaxHandlingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConsumerServiceCustomerTaxHandlingsRequest": {
        "type": "string",
        "description": "This schema represents the expected request body for the customer tax handling GET operation. It is defined as a string.",
        "example": "{}"
      },
      "ListConsumerServiceCustomerTaxHandlingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer tax handling items.",
            "example": [
              {
                "customerId": "CUST-636484",
                "serviceRequestId": "d6776f3c-ba18-50c0-b261-e8db681c6264",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerTaxHandlingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer tax handling operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-636484",
              "serviceRequestId": "d6776f3c-ba18-50c0-b261-e8db681c6264",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "181eaef2-33d4-5139-9c29-630e7d65db55",
            "correlationId": "3a757df1-1897-5989-9577-ee3f8bd0b172",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerTaxHandlingItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "CUST123"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier of the service request.",
            "example": "REQ123"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the tax handling.",
            "example": "PROD456"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the service was requested.",
            "example": "2023-10-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2023-10-02T14:00:00Z"
          }
        },
        "description": "Schema representing a single customer tax handling item.",
        "example": {
          "customerId": "CUST123",
          "serviceRequestId": "REQ123",
          "productCode": "PROD456",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2023-10-01",
          "recordStatus": "active",
          "updatedAt": "2023-10-02T14:00:00Z"
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The amount of money.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217 format) for the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount with currency.",
        "example": {
          "value": 100,
          "currency": "USD"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-02T14:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Schema containing metadata about the response.",
        "example": {
          "responseId": "RESP123",
          "correlationId": "CORR123",
          "generatedAt": "2023-10-02T14:00:00Z",
          "processingRegion": "US-West"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-tax-handling-search-customer-tax-handling"
        },
        "example": "customer-tax-handling-search-customer-tax-handling"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) as a bearer token. Clients must include this token in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}