{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Card By Param1-spec",
    "description": "The Merchant Acquiring Facility Retrieval API enables users to access detailed information about specific banking cards using a designated parameter. This endpoint serves as a crucial tool for financial institutions and businesses that require card-related data for transaction processing or customer verification. By utilizing the path parameter, developers can efficiently retrieve data regarding card facilities relevant to their operations. Typical consumers include banking applications and financial service providers that facilitate merchant transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-acquiring-facility/{param1}": {
      "get": {
        "tags": [
          "Merchant Acquiring Facility"
        ],
        "summary": "Retrieve Merchant Acquiring Facility by ID",
        "description": "Fetch the details of a specific Merchant Acquiring Facility using its unique identifier. This endpoint allows users to obtain comprehensive information about the facility, including its status and associated details.",
        "operationId": "getCardByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve information about a specific merchant acquiring facility identified by MER-800045. Ensure that the request adheres to the defined schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the merchant acquiring facility details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardByParam1Request": {
        "title": "Merchant Acquiring Facility Operation Request Body",
        "type": "string",
        "description": "Represents the request body for the GET operation related to the merchant acquiring facility.",
        "example": "{}"
      },
      "GetCardByParam1Response_200": {
        "title": "Merchant Acquiring Facility Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-323881"
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the merchant.",
            "example": "Olivia Bennett"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code that identifies the merchant's type.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the settlement account associated with the merchant.",
            "example": "ACC-144502"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlements will be made.",
            "example": "USD"
          },
          "pricingPlan": {
            "type": "string",
            "description": "The pricing plan under which the merchant operates.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the merchant record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the merchant record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the merchant record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-7890"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate the request and response.",
                "example": "CORR-1234"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "76ae6393-b79f-5d26-adcc-bd3e9c298833",
              "correlationId": "629c1d39-90bc-5a25-9b74-4ec60e5a0d36",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for the merchant acquiring facility operation.",
        "example": {
          "merchantId": "MER-323881",
          "legalName": "Olivia Bennett",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-144502",
          "settlementCurrency": "USD",
          "pricingPlan": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "76ae6393-b79f-5d26-adcc-bd3e9c298833",
            "correlationId": "629c1d39-90bc-5a25-9b74-4ec60e5a0d36",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-acquiring-facility-get-merchant-acquiring-facility"
        },
        "example": "merchant-acquiring-facility-get-merchant-acquiring-facility"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime environment where the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be a JSON Web Token (JWT) and is required for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}