{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Servicing By Param1-spec",
    "description": "The Payment Initiation Retrieval API allows users to access specific servicing information based on a unique parameter. This endpoint supports the retrieval of payment initiation details, enabling seamless integration into banking applications. Typical consumers include financial institutions and third-party payment providers seeking to enhance their servicing capabilities. By utilizing this API, developers can ensure efficient management of payment processes and improve user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/payment-initiation/{param1}": {
      "get": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Retrieve payment initiation details.",
        "description": "This endpoint allows you to fetch the details of a specific payment initiation by its identifier. Use this operation to obtain comprehensive information about the payment, including its status and associated data.",
        "operationId": "getServicingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is required to initiate a payment process for the specified transaction. Please ensure that all required fields are populated correctly to avoid any errors during the payment initiation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment initiation details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingByParam1Request": {
        "type": "string",
        "description": "A string representation of the request body for payment initiation operations.",
        "example": "{}"
      },
      "GetServicingByParam1Response_200": {
        "title": "Payment Initiation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-827655"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case associated with the payment request.",
            "example": "CASE-247268"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the payment request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the payment request.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel from which the payment request originated.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment request record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment request.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the payment request.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the payment initiation request.",
            "$ref": "#/components/schemas/PaymentMetadata"
          }
        },
        "description": "This schema represents the response structure for initiating a payment operation.",
        "example": {
          "customerId": "CUST-827655",
          "caseId": "CASE-247268",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bd5f976c-ba55-5104-bbb7-0df5474c3c01",
            "correlationId": "917b27ff-cd59-571a-9bda-88aa605574f9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMetadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs between systems.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place.",
            "example": "EU"
          }
        },
        "description": "This schema captures metadata associated with a payment initiation request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-get-payment-initiation"
        },
        "example": "payment-initiation-get-payment-initiation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. This token is typically a JSON Web Token (JWT) encoded string that is transmitted in the HTTP Authorization header. Clients should include the token when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}