{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Collateral Administration Party Asset Directorys-spec",
    "description": "The Collateral Administration Party Asset Directory API provides access to information about assets associated with various parties involved in collateral management. This endpoint allows users to query and retrieve a comprehensive list of assets, facilitating better decision-making and management of collateral. Typical consumers include financial institutions, risk management teams, and compliance departments that require accurate data for asset assessment and reporting. Leverage this API to enhance operational efficiency and maintain adherence to regulatory standards in collateral dealings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory": {
      "get": {
        "tags": [
          "Collateral Administration"
        ],
        "summary": "Retrieve the party asset directory.",
        "description": "This endpoint allows users to fetch the directory of assets associated with parties within the collateral administration system. It provides detailed information about various assets managed by different parties.",
        "operationId": "listCollateralAdministrationPartyAssetDirectorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving the party asset directory in a collateral administration context. Ensure that all required fields are present to facilitate the retrieval of accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCollateralAdministrationPartyAssetDirectorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the asset directory for the party.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollateralAdministrationPartyAssetDirectorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCollateralAdministrationPartyAssetDirectorysRequest": {
        "title": "Collateral Administration Party Asset Directory Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Collateral Administration Party Asset Directory API.",
        "example": "{}"
      },
      "ListCollateralAdministrationPartyAssetDirectorysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of asset details.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-641751",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssetDetail"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the asset list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on the party asset directory, containing a list of assets and additional metadata.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-641751",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "44574e18-63a7-52ca-9cd1-5584b8f4619e",
            "correlationId": "fece399e-b196-5a4f-bc6d-4f7d2935e21d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssetDetail": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral asset."
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party owning the asset."
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset."
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the asset was valued."
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure."
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the asset."
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien on the asset."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Details of an individual asset."
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value of the asset."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the asset is valued."
          }
        },
        "description": "Market value of the asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about pagination in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was performed."
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-search-party-asset-directory"
        },
        "example": "party-asset-directory-search-party-asset-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token (JSON Web Token). The token should be included in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}