{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Component Configuration-spec",
    "description": "The Connect Component Configuration Management API allows users to set up and manage configurations for connect components within the system. By utilizing this endpoint, businesses can streamline their integration processes, ensuring that configurations are consistent and tailored to specific operational needs. This API is typically used by developers and system integrators who need to automate the configuration management workflow, enhancing efficiency and minimizing errors. With this functionality, organizations can quickly adapt to changing requirements and optimize their connect component usage.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations": {
      "post": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Create a new configuration.",
        "description": "This endpoint allows you to create a new configuration. Provide the necessary details in the request body to successfully create a configuration that meets your system's requirements.",
        "operationId": "createConnectComponentConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create new configuration settings. It expects a JSON object that describes the desired configuration parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectComponentConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource was successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectComponentConfigurationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectComponentConfigurationRequest": {
        "type": "object",
        "properties": {
          "filterAccounts": {
            "type": "array",
            "description": "A list of account identifiers to filter the request.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual account identifier.",
              "example": "account123"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "A list of account classification types for categorizing accounts.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual account classification type.",
              "example": "premium"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether an authorization object is required for the operation.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the POST operation configurations.",
        "example": {
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "requestContext": {
            "requestId": "0ec924f2-1d15-5cf6-bca4-91ff0aeac959",
            "correlationId": "a8e14e7b-44d3-5ece-b677-7a4a94ce7ee0",
            "idempotencyKey": "449dbfb8-2d55-5c1f-b878-2e74c456ccc7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-378918"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "corr-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of requests.",
            "example": "key-9012"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "appA"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "A unique identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "CreateConnectComponentConfigurationResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the created configuration.",
            "example": "fe640ebb-cfbb-997b-3ba7-754d9e7d4f78"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of account identifiers filtered in the request.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An identifier for an individual account.",
              "example": "account-67890"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "Array of classification types associated with accounts.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A classification type for an account.",
              "example": "premium"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether additional operations are required for the configuration.",
            "example": true
          },
          "metadata": {
            "description": "Metadata relevant to the response, providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful creation of configurations via the POST operation.",
        "example": {
          "id": "fe640ebb-cfbb-997b-3ba7-754d9e7d4f78",
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "metadata": {
            "responseId": "2552c6af-ab9f-5632-bc7d-005b48c268c9",
            "correlationId": "a8e14e7b-44d3-5ece-b677-7a4a94ce7ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request through the system.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata object containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-configurations"
        },
        "example": "open-finance-api-post-configurations"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token to authenticate requests. The token, typically a JSON Web Token (JWT), should be included in the `Authorization` header of each request to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}