{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Consumer By Portfolio Id-spec",
    "description": "The Portfolio Consumer Retrieval API facilitates the access of consumer data linked to a specific portfolio ID. This endpoint allows users to obtain detailed information about consumers based on their unique consumer ID and associated portfolio. It is particularly useful for financial institutions and service providers seeking to analyze consumer behavior, manage portfolios, or generate reports. Typical consumers of this API include data analysts, portfolio managers, and client service teams who require timely access to consumer insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Portfolio Management"
        ],
        "summary": "Retrieve Portfolio Details",
        "description": "Fetches the portfolio associated with the specified consumer ID, allowing clients to view detailed information about the consumer's investments and holdings.",
        "operationId": "getConsumerByPortfolioId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/portfolioId"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the portfolio information for a specific consumer identified by RES-100045. Ensure that the necessary data is included in the request body to properly fetch the portfolio details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerByPortfolioIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerByPortfolioIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerByPortfolioIdRequest": {
        "title": "Get Portfolio Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving portfolio operations.",
        "example": "{}"
      },
      "GetConsumerByPortfolioIdResponse_200": {
        "title": "Portfolio Operations Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-383332"
          },
          "reports": {
            "type": "array",
            "description": "A list of reports associated with the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-905087",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "consumer": {
            "$ref": "#/components/schemas/Consumer"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the portfolio operations API.",
        "example": {
          "portfolioId": "PORT-383332",
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-905087",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "consumer": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "customerId": 1,
            "ssn": "STANDARD",
            "birthday": {
              "year": 1,
              "month": 1,
              "dayOfMonth": 1
            },
            "suffix": "STANDARD"
          },
          "metadata": {
            "responseId": "598c5e48-1b4c-5769-9acc-29605b4dcf66",
            "correlationId": "519bfc4f-f863-5d1e-86c3-cd84818157ad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Report": {
        "title": "Report",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the report.",
            "example": "report_12345"
          },
          "portfolioId": {
            "type": "string",
            "description": "The ID of the portfolio associated with the report.",
            "example": "portfolio_12345"
          },
          "type": {
            "type": "string",
            "description": "The type of report.",
            "example": "financial"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "completed"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the report was created.",
            "format": "int32",
            "example": 1632844800
          }
        },
        "description": "Schema representing a report related to a portfolio."
      },
      "Consumer": {
        "title": "Consumer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "consumer_12345"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "customerId": {
            "type": "integer",
            "description": "The customer's unique identifier.",
            "format": "int32",
            "example": 101
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "birthday": {
            "$ref": "#/components/schemas/Birthday"
          },
          "suffix": {
            "type": "string",
            "description": "Suffix for the consumer's name (e.g., Jr., Sr.).",
            "example": "Jr"
          }
        },
        "description": "Schema representing a consumer associated with the portfolio."
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of the consumer's birth.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "The month of the consumer's birth.",
            "format": "int32",
            "example": 5
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of the month on which the consumer was born.",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing the birthday details of a consumer."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate log entries.",
            "example": "correlation_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2021-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "consumerId": {
        "name": "consumerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "portfolioId": {
        "name": "portfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-consumer"
        },
        "example": "open-finance-api-get-portfolio-by-consumer"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}