{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Capture-spec",
    "description": "The Payment Capture API enables businesses to securely capture payments associated with specific transactions. By utilizing this endpoint, users can finalize transactions by confirming the amount to be captured for a specified payment ID. This operation is crucial for payment processors and merchants to ensure funds are collected accurately after confirming order fulfillment. Typical consumers include e-commerce platforms and financial service providers looking to streamline their payment processing workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}/capture": {
      "post": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Capture a payment using its unique identifier.",
        "description": "This operation allows you to capture a payment that has been previously authorized using its unique ID. Ensure that the payment is authorized before attempting to capture it.",
        "operationId": "createPaymentCapture",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "Capture the payment for the specified transaction using the provided details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentCaptureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The capture request was successfully completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentCaptureResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentCaptureRequest": {
        "title": "Capture Payment Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount of money to be captured, along with its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "tipAmount": {
            "description": "The tip amount associated with the payment capture, along with its currency.",
            "$ref": "#/components/schemas/TipAmount"
          },
          "finalCapture": {
            "type": "boolean",
            "description": "Indicates whether this is a final capture (true) or if further captures may occur (false).",
            "example": true
          },
          "merchantReference": {
            "type": "string",
            "description": "A reference identifier provided by the merchant for tracking the transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contains contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for capturing a payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "finalCapture": true,
          "merchantReference": "STANDARD",
          "requestContext": {
            "requestId": "1d0ae40b-2d5c-59a4-87a3-159eb7afe977",
            "correlationId": "ce4195b8-ac71-5d95-8b43-07c4c0a7a8e7",
            "idempotencyKey": "ae0cbb20-2b11-529f-be2d-5b30a63ffbb6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-572067"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "string"
          }
        },
        "description": "Represents a monetary amount with associated currency."
      },
      "TipAmount": {
        "title": "Tip Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the tip amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the tip amount.",
            "example": "string"
          }
        },
        "description": "Represents a tip amount with associated currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent and avoids duplicate processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the transaction.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the transaction was initiated."
      },
      "CreatePaymentCaptureResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-778232"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "fe2b5d42-58bb-5b68-b182-97592bc8dd56"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-605142"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "ORD-812939"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for the transaction.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details of the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Details of the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details of the payment amounts involved in the transaction.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional metadata regarding the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the payment capture operation.",
        "example": {
          "paymentId": "PAY-778232",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "fe2b5d42-58bb-5b68-b182-97592bc8dd56",
          "merchantId": "MER-605142",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-812939",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-567",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "5085707e-56dd-509a-a962-880403ed1744",
            "correlationId": "ce4195b8-ac71-5d95-8b43-07c4c0a7a8e7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, wallet).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "token_123456"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer.",
            "example": "bank_XXXX"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet, if applicable.",
            "example": "paypal"
          }
        },
        "description": "Schema representing the payment method details."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust_123456"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "high"
          }
        },
        "description": "Schema representing customer details."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "The requested payment amount.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "The authorized payment amount.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "The captured payment amount.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "The refunded payment amount.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "The reversed payment amount.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "tip": {
            "description": "The tip amount, if applicable.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/FeeDetail"
            }
          },
          "netToMerchant": {
            "description": "Net amount that will be received by the merchant.",
            "$ref": "#/components/schemas/NetToMerchant"
          }
        },
        "description": "Schema containing details about various payment amounts."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount detail with currency and value."
      },
      "FeeDetail": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee applicable.",
            "example": "processing_fee"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the fee (e.g., merchant, customer).",
            "example": "merchant"
          }
        },
        "description": "Schema representing a fee detail associated with the payment."
      },
      "NetToMerchant": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the net amount to the merchant."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing request-response flows.",
            "example": "corr_abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the record was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata related to the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-capture-payment"
        },
        "example": "banking-p2m-openapi-capture-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token. The token must be included in the Authorization header as a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}