{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Order Execution API",
    "description": "The Market Order Execution API facilitates efficient execution of market orders within wholesale trading. This API enables users to retrieve the status and details of their market orders, ensuring timely and accurate trading operations. Typical consumers include traders and financial institutions looking to monitor order performance and market conditions. By leveraging this API, clients can enhance their trading strategies and optimize their workflows in the dynamic finance sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order-execution": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Execute a market order in wholesale trading.",
        "description": "This endpoint allows users to execute market orders within the wholesale trading system. Users can retrieve the status and details of their order execution through this API, ensuring seamless operations in the wholesale trading environment.",
        "operationId": "executeMarketOrderWholesaleTrading",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify parameters for executing a market order in wholesale trading. The structure contains necessary information required for processing the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteMarketOrderWholesaleTradingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved market order execution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteMarketOrderWholesaleTradingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ExecuteMarketOrderWholesaleTradingRequest": {
        "type": "string",
        "description": "This schema represents the request body for market order execution operations in wholesale trading.",
        "example": "{}"
      },
      "ExecuteMarketOrderWholesaleTradingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of market order execution items.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "orderType": "STANDARD",
                "timeInForce": "STANDARD",
                "venue": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketOrderExecutionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a market order execution operation.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "orderType": "STANDARD",
              "timeInForce": "STANDARD",
              "venue": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4e510d2d-71f3-52b4-996e-ef4baf641187",
            "correlationId": "b7c7b9b7-1bf8-5138-afa1-38aa8fb8d05d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketOrderExecutionItem": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "The side of the order (buy/sell).",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the order.",
            "format": "int32",
            "example": 0
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "The type of the order (e.g., market, limit).",
            "example": "string"
          },
          "timeInForce": {
            "type": "string",
            "description": "The time in force for the order (e.g., GTC, IOC).",
            "example": "string"
          },
          "venue": {
            "type": "string",
            "description": "The trading venue where the order is executed.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the order record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the order record.",
            "example": "string"
          }
        },
        "description": "Describes a single market order execution item."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is stated.",
            "example": "string"
          }
        },
        "description": "Represents the limit price details of an order."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the current page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about pagination in the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-execution-search-market-order-execution"
        },
        "example": "market-order-execution-search-market-order-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) as a bearer token for authentication. It allows clients to securely access resources by including the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}