{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Servicing Case Root Cause Analysis Analyse-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Servicing Case Root Cause Analysis Analyse-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/case-root-cause-analysis/analyses": {
      "post": {
        "operationId": "createBankingServicingCaseRootCauseAnalysisAnalyse",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingServicingCaseRootCauseAnalysisAnalyseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingServicingCaseRootCauseAnalysisAnalyseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingServicingCaseRootCauseAnalysisAnalyseRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "CUST-720545"
          },
          "caseId": {
            "type": "string",
            "example": "CASE-741186"
          },
          "requestCategory": {
            "type": "string",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "017ed4cd-54f6-5afd-adae-b98257b92635",
              "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
              "idempotencyKey": "5cf91a6e-c066-5858-8b14-ae9a134f0eb4",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-434316"
              }
            }
          }
        },
        "example": {
          "customerId": "CUST-720545",
          "caseId": "CASE-741186",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "017ed4cd-54f6-5afd-adae-b98257b92635",
            "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
            "idempotencyKey": "5cf91a6e-c066-5858-8b14-ae9a134f0eb4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-434316"
            }
          }
        }
      },
      "CreateBankingServicingCaseRootCauseAnalysisAnalyseResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "CUST-664175"
          },
          "caseId": {
            "type": "string",
            "example": "CASE-148552"
          },
          "analysisId": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "metric": {
                  "type": "string",
                  "example": "string"
                },
                "value": {
                  "type": "number",
                  "example": 0.0
                },
                "unit": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "fa97ac91-f318-5520-993a-47c38469a340",
              "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "customerId": "CUST-664175",
          "caseId": "CASE-148552",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "fa97ac91-f318-5520-993a-47c38469a340",
            "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "case-root-cause-analysis-analyze-case-root-cause-analysis"
        },
        "example": "case-root-cause-analysis-analyze-case-root-cause-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}