{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_User Type Reporting API",
    "description": "The User Type Reporting API facilitates the creation of user type reports specific to individual customers. By leveraging foresight analytics, users can analyze various user types associated with a given customer ID. This operation is essential for data analysts and business intelligence teams looking to gain insights into user classifications and behavior. Typical consumers include marketing teams and customer success managers who utilize these reports to tailor offerings and strategies based on user segmentation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/foresight-analytics/usertypes/{usertypeId}": {
      "post": {
        "tags": [
          "Customer Analytics"
        ],
        "summary": "Create a User Type Report for a Customer.",
        "description": "This endpoint allows you to create a user type report for a specific customer identified by their unique ID. Utilize this feature to generate foresight analytics based on user types relevant to the specified customer.",
        "operationId": "createForesightAnalyticsUserTypeForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/usertypeId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data for creating or updating user types in the foresight analytics report for the specified customer. Ensure that the JSON structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateForesightAnalyticsUserTypeForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateForesightAnalyticsUserTypeForCustomerCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateForesightAnalyticsUserTypeForCustomerCUST100045Request": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data specific to the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "Comma-separated list of account IDs associated with the request.",
            "example": "ACC-835372"
          },
          "fromDate": {
            "type": "integer",
            "description": "The date from which to start analyzing the data, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the analytics report operation, containing analysis data and metadata.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "segments": {
              "geolocation": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD"
                }
              ]
            },
            "analytics": [
              "STANDARD"
            ],
            "timeIntervalTypes": [
              "STANDARD"
            ],
            "income": 1,
            "age": 1
          },
          "accountIds": "ACC-835372",
          "fromDate": 1,
          "requestContext": {
            "requestId": "823ff931-73cb-5531-90ac-54b01c3ca966",
            "correlationId": "48ad50bf-8588-55bc-a737-4fdf0a9930d2",
            "idempotencyKey": "f92c7f34-9708-5752-9f45-fe5c05450a7a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-799229"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purposes.",
            "example": false
          },
          "segments": {
            "description": "Segments associated with the analytics report.",
            "$ref": "#/components/schemas/Segments"
          },
          "analytics": {
            "type": "array",
            "description": "List of analytics items.",
            "items": {
              "type": "string",
              "description": "Array containing analytics data items.",
              "example": "string"
            }
          }
        },
        "description": "Schema representing data for the analytics report."
      },
      "Segments": {
        "title": "Segments",
        "type": "object",
        "properties": {
          "geolocation": {
            "type": "array",
            "description": "Array of geolocation segments.",
            "items": {
              "$ref": "#/components/schemas/Geolocation"
            }
          }
        },
        "description": "Schema defining segments related to analytics."
      },
      "Geolocation": {
        "title": "Geolocation",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the geolocation.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the geolocation.",
            "example": "string"
          }
        },
        "description": "Schema representing geolocation details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with others.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system sending the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was sent."
      },
      "CreateForesightAnalyticsUserTypeForCustomerCUST100045Response_202": {
        "title": "User Type Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the user type.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "6eda9273-6065-5477-b336-448945e530cc"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the record was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the user type.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the user.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the user.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the user type.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for user type operations related to a specific customer.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "6eda9273-6065-5477-b336-448945e530cc",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "segments": {
                "geolocation": [
                  {
                    "label": "STANDARD",
                    "value": "STANDARD"
                  }
                ]
              },
              "analytics": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "d4612c43-50e3-5017-9aa3-575b7cf21063",
            "correlationId": "48ad50bf-8588-55bc-a737-4fdf0a9930d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the end user.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the end user.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing the end user details."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the consumer.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the consumer.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about the consumer."
      },
      "Constraints": {
        "title": "Constraints",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          }
        },
        "description": "Schema defining constraints related to analytics reports."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "usertypeId": {
        "name": "usertypeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header provides a unique identifier for the specific endpoint being accessed. It helps in tracking and managing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-foresight-analytics-non-cra-report"
        },
        "example": "open-finance-api-generate-foresight-analytics-non-cra-report"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application runtime context under which the request is being processed. It is essential for diagnostics and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method requires a JSON Web Token (JWT) to be included in the Authorization header of requests, providing a secure way to validate user identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}