{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Cross Channel Customer Workbench-spec",
    "description": "The Cross Channel Customer Workbench API facilitates the seamless onboarding and integration of customer data across multiple channels within the banking system. This API enables users to create and manage a comprehensive customer workbench, allowing for enhanced customer insights and engagement strategies. Typical consumers include banking and financial services developers who require tools for optimizing customer interactions and streamlining workflows. By leveraging this API, organizations can improve customer service efficiency while ensuring a cohesive experience across all banking platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/customer-workbench": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer workbench in the cross-channel system.",
        "description": "This endpoint allows the creation of a new customer workbench, enabling users to manage customer interactions and workflows across multiple channels effectively. Ensure to provide all required data in the request body for successful processing.",
        "operationId": "createCrossChannelCustomerWorkbench",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit operations for managing customer workbench data in a cross-channel context. It should contain the necessary information formatted as JSON according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelCustomerWorkbenchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelCustomerWorkbenchResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelCustomerWorkbenchRequest": {
        "title": "Cross-Channel Customer Workbench Request Body",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier of the party.",
            "example": "PARTY-288872"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "INT-259458"
          },
          "channel": {
            "type": "string",
            "description": "Identifier for the channel involved in the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication required for the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the POST request body for Cross-Channel Customer Workbench operations.",
        "example": {
          "partyId": "PARTY-288872",
          "interactionId": "INT-259458",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "761534f7-efb2-5e44-88a2-6d0ba9ea9d91",
            "correlationId": "a515ea4a-782c-55d4-a696-b38aa454288e",
            "idempotencyKey": "462ed6e5-648f-51a5-af02-7118c02c6101",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-403989"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used in the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the interaction.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateCrossChannelCustomerWorkbenchResponse_201": {
        "title": "ResponseObject",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-562525"
          },
          "interactionId": {
            "type": "string",
            "description": "The identifier for the specific interaction.",
            "example": "INT-413695"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to the interaction.",
            "example": "RES-498368"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response object for the POST operation in the customer workbench service.",
        "example": {
          "partyId": "PARTY-562525",
          "interactionId": "INT-413695",
          "resourceId": "RES-498368",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6b221971-e4c4-50e0-a7ed-8933df608e99",
            "correlationId": "a515ea4a-782c-55d4-a696-b38aa454288e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "ResponseMetadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-xyz123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation-abc456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata associated with the response of the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, facilitating tracking and requests management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-workbench-create-customer-workbench"
        },
        "example": "customer-workbench-create-customer-workbench"
      },
      "X-Runtime-App": {
        "description": "Name of the application handling the request, useful for categorizing the source of the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, typically formatted as a JSON Web Token (JWT), to authenticate API requests. The token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}