{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Facilities Site Administration-v5-spec",
    "description": "The Banking Facilities Site Administration API enables organizations to efficiently manage their banking facilities. This API allows authorized users to create and configure various banking facilities, ensuring that site administration tasks are streamlined and effective. Typical consumers include banking administrators and operational managers who need to handle facility setups and modifications. This enhances operational efficiency and facilitates better management of banking resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/site-administration": {
      "post": {
        "tags": [
          "FacilityManagement"
        ],
        "summary": "Create a new site administration entry.",
        "description": "This endpoint allows you to create a new entry for site administration, which serves to manage various aspects of the facility's operations and processes. Ensure that all required information is provided to successfully complete the creation.",
        "operationId": "createBankingFacilitiesSiteAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update site administration information related to facilities. It requires the appropriate JSON structure specified in the schema, which includes all necessary fields that are essential for the operation to be successful.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingFacilitiesSiteAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingFacilitiesSiteAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingFacilitiesSiteAdministrationRequest": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-248645"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the maintenance is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the maintenance.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone of the facility where the maintenance will occur.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance to be performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the maintenance in minutes.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "The unique identifier for the request.",
                "example": "request-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Unique identifier used to trace the request across systems.",
                "example": "correlation-002"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure that requests are idempotent.",
                "example": "idempotency-abc"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp of when the request was made.",
                "example": "2023-09-30T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "InternalSystemX"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "ApplicationY"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "The unique identifier for the channel.",
                    "example": "channel-001"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "The type of channel.",
                    "example": "mobile"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "The identifier for the device used.",
                    "example": "device-12345"
                  }
                },
                "description": "Information about the channel through which the request was made."
              }
            },
            "description": "Context information related to the maintenance request.",
            "example": {
              "requestId": "fb32f1b4-d6ba-514c-9a82-fc5cf8ef55ac",
              "correlationId": "a6817081-9d8c-5f4c-85bb-b9e63e4688f8",
              "idempotencyKey": "a9f475c5-15bc-522f-93b4-dd530c879057",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-465346"
              }
            }
          }
        },
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-248645",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "requestContext": {
            "requestId": "fb32f1b4-d6ba-514c-9a82-fc5cf8ef55ac",
            "correlationId": "a6817081-9d8c-5f4c-85bb-b9e63e4688f8",
            "idempotencyKey": "a9f475c5-15bc-522f-93b4-dd530c879057",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-465346"
            }
          }
        }
      },
      "CreateBankingFacilitiesSiteAdministrationResponse_201": {
        "title": "Site Administration Operation Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset associated with the operation.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order related to this operation.",
            "example": "ORD-319411"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor involved.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource involved in the operation.",
            "example": "RES-246206"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for the site administration operation indicating various identifiers and metadata.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-319411",
          "vendorId": "STANDARD",
          "resourceId": "RES-246206",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0c0371f3-a5db-5fcf-96f3-793830eab1c2",
            "correlationId": "a6817081-9d8c-5f4c-85bb-b9e63e4688f8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-111"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests or responses.",
            "example": "correlation-222"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the operation took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information associated with the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "site-administration-create-site-administration"
        },
        "example": "site-administration-create-site-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for secure access control. Clients must include a bearer token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}