{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Party Reference Data Directorys-spec",
    "description": "The Customer Management Party Reference Data Directory API provides access to a comprehensive directory of party reference data pertinent to customer management. This endpoint allows users to retrieve crucial information about various entities, enhancing data quality and decision-making processes for financial services. Typical consumers include developers building customer management systems or integrations requiring accurate reference data. By utilizing this API, organizations can streamline their operations and ensure consistency across customer-related transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/party-reference-data-directory": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve party reference data directory",
        "description": "This endpoint allows you to fetch a curated directory of party reference data, which can include various entities relevant to customer management. It provides structured information to help in managing and referencing customer-related data effectively.",
        "operationId": "listCustomerManagementPartyReferenceDataDirectorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving party reference data directory. This body contains criteria and parameters for fetching the relevant data in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementPartyReferenceDataDirectorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested party reference data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementPartyReferenceDataDirectorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementPartyReferenceDataDirectorysRequest": {
        "type": "string",
        "description": "The request body for retrieving party reference data. This is expected to be a string value.",
        "example": "{}"
      },
      "ListCustomerManagementPartyReferenceDataDirectorysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of party reference data items.",
            "example": [
              {
                "customerId": "CUST-241818",
                "partyId": "PARTY-907389",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PartyReferenceDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort applied to the retrieved party reference data.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on the party reference data directory in the customer management service.",
        "example": {
          "items": [
            {
              "customerId": "CUST-241818",
              "partyId": "PARTY-907389",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "49344df5-b77d-545c-8ba5-8a30c5403b64",
            "correlationId": "b23cc9e8-08a1-56d9-b8e0-cf0912a219c2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PartyReferenceDataItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the party.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the reference data is considered effective.",
            "example": "string"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier level of the relationship with the customer.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single item of party reference data."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated collection.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the data set.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-reference-data-directory-search-party-reference-data-directory"
        },
        "example": "party-reference-data-directory-search-party-reference-data-directory"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JSON Web Tokens (JWT). To perform an operation, a valid JWT token must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}