{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Project Finance Information API",
    "description": "The Project Finance Information API enables users to access comprehensive details about project financing arrangements and their current status. This endpoint serves financial institutions, project managers, and stakeholders seeking to retrieve critical information about ongoing and past project financing deals. Users can query specific projects using unique identifiers to gather insights into terms, financial structures, and performance metrics. By leveraging this API, consumers can enhance decision-making and ensure timely access to vital financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/project-finance/{param1}": {
      "get": {
        "tags": [
          "Project Finance"
        ],
        "summary": "Retrieve details of a specific project finance resource.",
        "description": "This endpoint allows you to fetch detailed information about the project finance resource identified by the unique resource ID. Ensure that you provide the correct resource ID to get the desired data.",
        "operationId": "getTradeBankingProjectFinanceResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to fetch specific project finance details associated with the resource identifier RES-100045 from the trade banking system. Ensure that the provided JSON structure adheres to the defined schema for successful retrieval of information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingProjectFinanceResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingProjectFinanceResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingProjectFinanceResource100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Project Finance API under Trade Banking. It is expected to be a plain string value.",
        "example": "{}"
      },
      "GetTradeBankingProjectFinanceResource100045Response_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST-903243"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-781556"
          },
          "amount": {
            "description": "The amount of money involved in the operation.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the facility matures, formatted as an ISO 8601 date string.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the project finance operation in the trade banking application.",
        "example": {
          "corporateCustomerId": "CUST-903243",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-781556",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0e67ca8a-279f-5cf4-af20-f1e735d05638",
            "correlationId": "1ee8b15e-78a0-5864-a4f2-8674ab67c482",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents the amount of money, including its value and currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata related to the financial operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "project-finance-get-project-finance"
        },
        "example": "project-finance-get-project-finance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. Clients must include a valid JWT in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}