{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Correspondent Bank Directory Validation-spec",
    "description": "The Correspondent Bank Directory Validation API enables financial institutions to validate and manage entries in their correspondent bank directory. This endpoint allows users to submit information for validation to ensure accuracy and compliance with regulatory standards. Typical consumers include financial institutions and compliance teams who need to maintain the integrity of their banking partner relationships. By utilizing this API, organizations can streamline their validation processes and enhance operational efficiency in managing correspondent banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Correspondent Bank Operations"
        ],
        "summary": "Validate Correspondent Bank Information",
        "description": "This endpoint allows users to validate the correspondent bank information for the specified resource. It ensures all necessary details meet the required criteria for further processing.",
        "operationId": "createCorrespondentBankDirectoryValidation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate the details of a correspondent bank in the external agency directory. It requires specific attributes to properly execute the validation against the designated correspondent bank identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorrespondentBankDirectoryValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, returning validation results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorrespondentBankDirectoryValidationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorrespondentBankDirectoryValidationRequest": {
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "A list of validation scopes applicable to the request.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific validation scope.",
              "example": "exampleScope"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validations are requested.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the validation operation in the correspondent bank directory.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9d29de0c-d619-5497-8cd6-436a177b672a",
            "correlationId": "842c2ba6-c32e-5f4d-8470-781ba1fdd9da",
            "idempotencyKey": "9e590cf8-4a56-5c58-8fce-c9db792eaa25",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-282014"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs between systems.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application making the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context details surrounding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used for the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-xyz"
          }
        },
        "description": "Information pertaining to the channel used for the request."
      },
      "CreateCorrespondentBankDirectoryValidationResponse_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed during this operation.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Schema representing the response of an operation request for the correspondent bank directory.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "81b3475a-2251-5d3f-b163-9f10a803f94f",
            "correlationId": "842c2ba6-c32e-5f4d-8470-781ba1fdd9da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with other related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the operation was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-directory-validate-correspondent-bank-directory"
        },
        "example": "correspondent-bank-directory-validate-correspondent-bank-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization method using a Bearer token in the HTTP Authorization header. The token is typically a JSON Web Token (JWT) that contains claims and is used for authenticating requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}