{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Event History API",
    "description": "The Servicing Event History API provides access to a comprehensive record of servicing events across multiple channels in the banking domain. This API enables developers to retrieve detailed histories of customer interactions and transactions, allowing for improved insights into customer behavior and service efficiency. Typical use cases include customer support, operational reporting, and service optimization. By leveraging this API, businesses can enhance their decision-making processes and provide superior service experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-event-history": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve servicing event history across channels.",
        "description": "Fetch the complete history of servicing events recorded across all communication channels. This endpoint allows developers to access detailed logs of interactions and events, facilitating better analysis and customer service improvements.",
        "operationId": "getCrossChannelServicingEventHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to retrieve the servicing event history for cross-channel operations. It allows the caller to specify various parameters in the request body to filter and customize the response according to their needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelServicingEventHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the servicing event history.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelServicingEventHistoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelServicingEventHistoryRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on servicing event history in a cross-channel context.",
        "example": "{}"
      },
      "GetCrossChannelServicingEventHistoryResponse_200": {
        "title": "Servicing Event History Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of servicing event records.",
            "example": [
              {
                "partyId": "PARTY-605551",
                "interactionId": "INT-560570",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingEvent"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the records.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the servicing event history retrieval operation.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-605551",
              "interactionId": "INT-560570",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2021ff13-e3fd-580c-84be-c152fadfb74e",
            "correlationId": "7e5af787-b883-5216-9150-5935f386b54f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingEvent": {
        "title": "Servicing Event",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the event."
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction associated with the event."
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used during the interaction."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication that was required for the event."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the event record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated."
          }
        },
        "description": "Schema representing a single servicing event record."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate this response with the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place."
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-event-history-search-servicing-event-history"
        },
        "example": "servicing-event-history-search-servicing-event-history"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication that requires a valid JSON Web Token (JWT) to be passed in the Authorization header of the HTTP request. It ensures that the client is authorized to access the protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}