{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Registration API",
    "description": "The Business Registration API facilitates the submission of new business information linked to a specific customer. This endpoint allows clients to register businesses efficiently, ensuring that all necessary details are collected accurately. Typically utilized by business service providers and customer relationship management (CRM) systems, it streamlines the onboarding process for new clients. The API improves data management and enhances customer service by providing a structured approach to business registrations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/customers/{customerId}/businesses": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new business for the specified customer.",
        "description": "This endpoint allows you to create a new business associated with the customer identified by CUST-100045. You need to provide the required business details in the request body to successfully create a business record.",
        "operationId": "createBusinessForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new business for the customer identified by CUST-100045. It should include all necessary details such as business name, address, and any other relevant attributes as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created the business resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessForCustomerCUST100045Request": {
        "title": "Business Operations Request Body",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates whether the person is personally liable for the business.",
            "example": true
          },
          "address": {
            "description": "The address of the business.",
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "description": "The contact phone number for the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The contact email address for the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number for the business.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for creating or updating business operations in the customer management system.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "requestContext": {
            "requestId": "62cc3c24-8d8b-5e9d-bc0c-30c249e4946d",
            "correlationId": "1703f649-9509-5fce-89c0-d54de31dbcf9",
            "idempotencyKey": "290bcfa6-294c-5637-bff5-06445997bd44",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-917746"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city of the address.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state of the address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "The country of the address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the address.",
            "example": "string"
          }
        },
        "description": "Schema representing a physical address."
      },
      "PhoneNumber": {
        "title": "Phone Number",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "The country code for the phone number.",
            "example": "string"
          },
          "phoneNo": {
            "type": "string",
            "description": "The phone number without the country code.",
            "example": "string"
          }
        },
        "description": "Schema representing a phone number."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateBusinessForCustomerCUST100045Response_200": {
        "title": "Business Response",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the owner is personally liable for the business.",
            "example": true
          },
          "address": {
            "description": "The address of the business.",
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "description": "The contact phone number of the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The email address of the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax ID of the business.",
            "example": "STANDARD"
          },
          "businessId": {
            "type": "string",
            "description": "The unique identifier for the business.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the business was created.",
            "example": "2026-09-15"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the business was last modified.",
            "example": "2026-09-15"
          },
          "metadata": {
            "description": "Additional metadata related to the business response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a business operation.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "businessId": "STANDARD",
          "createdDate": "2026-09-15",
          "modifiedDate": "2026-09-15",
          "metadata": {
            "responseId": "3d54756b-e164-50c8-bbce-f605873e74c1",
            "correlationId": "1703f649-9509-5fce-89c0-d54de31dbcf9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the business response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-add-business-details"
        },
        "example": "open-finance-api-add-business-details"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication for authorization. It requires a valid JSON Web Token (JWT) to be included in the authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}