{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Management Update API",
    "description": "The Cash Management Update API facilitates the modification of cash management configurations within trade banking. Businesses can utilize this API to adjust key parameters related to their cash resources, ensuring optimized financial management. Typical consumers include financial institutions and corporate treasury departments looking to enhance their cash management processes. This operation can significantly streamline cash flow monitoring and control, enabling more precise financial decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-management/{param1}": {
      "put": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Update Cash Management Account",
        "description": "This endpoint allows users to update the details of a specific cash management account identified by its account number. Ensure all required fields are accurately filled to prevent errors during the update process.",
        "operationId": "updateCashManagementAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the cash management account identified by ACC-200045. Ensure that all required fields are included and correctly formatted to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCashManagementAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCashManagementAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCashManagementAccountRequest": {
        "title": "Cash Management Operation Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made for the cash management operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who is requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for performing operations in the Cash Management service.",
        "example": {
          "changes": {
            "corporateCustomerId": "CUST-675004",
            "facilityId": "STANDARD",
            "counterpartyId": "PARTY-256449"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9e7ffcf9-e05d-54bd-ad00-e0cead53daa4",
            "correlationId": "2d150619-13d6-5d0e-aed9-a096d0fa65e6",
            "idempotencyKey": "168f3f53-6978-5cb9-bc7b-091b3873bacb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-816261"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "string"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the facility associated with the operation.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the operation.",
            "example": "string"
          }
        },
        "description": "This schema defines the specific changes to be made in the cash management operations."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to track the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key that ensures the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "An object representing the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "This schema describes the channel information through which the request is processed."
      },
      "UpdateCashManagementAccountResponse_200": {
        "title": "Cash Management Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the operation.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a cash management operation in the banking service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d2204f60-ed75-516b-9f02-13fcd807146e",
            "correlationId": "2d150619-13d6-5d0e-aed9-a096d0fa65e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request, allowing tracking of the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-management-and-account-services-update-cash-management-and-account-services"
        },
        "example": "cash-management-and-account-services-update-cash-management-and-account-services"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request, allowing traceability of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-065"
        },
        "example": "WF-065"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is being executed for this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Cash Management Onboarding"
        },
        "example": "Corporate Cash Management Onboarding"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "064b803e-babe-4a05-a8e4-f3bee0c55a02"
        },
        "example": "064b803e-babe-4a05-a8e4-f3bee0c55a02"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication mechanism which employs a JWT (JSON Web Token) for authentication. Clients must include the JWT in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}