{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Network Participant Facility Management API",
    "description": "The Card Network Participant Facility Management API allows businesses to establish and manage participation facilities within a card network. This endpoint facilitates the creation of new participant facilities, enabling organizations to collaborate effectively in the payment ecosystem. Typical consumers include banks, financial institutions, or fintech companies looking to integrate or enhance their card operations. By using this API, businesses can streamline their onboarding process for card network participants and ensure compliance with network standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-network-participant-facility": {
      "post": {
        "tags": [
          "Card Network Management"
        ],
        "summary": "Create a new card network participant facility.",
        "description": "This endpoint allows you to create a new facility that a card network participant can use. It requires the relevant data related to the facility to be included in the request body.",
        "operationId": "createCardNetworkParticipantFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit information regarding a card network participant facility. It contains the necessary details required for the operation to be processed successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCardNetworkParticipantFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully; the new card network participant facility is now available.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCardNetworkParticipantFacilityResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCardNetworkParticipantFacilityRequest": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The token representing the card being used in the transaction.",
            "example": "TOK-491581"
          },
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant conducting the transaction.",
            "example": "MER-282192"
          },
          "transactionAmount": {
            "description": "The details of the transaction amount including amount and currency.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code for the merchant, indicating the type of goods or services.",
            "example": "5411"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier level for the transaction.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target percentage for availability on the transaction.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The maintenance window applicable to this transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for card network participant facility operations.",
        "example": {
          "cardToken": "TOK-491581",
          "cardholderId": "STANDARD",
          "merchantId": "MER-282192",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "f694dc74-11aa-5cfc-b56c-1c84da67da36",
            "correlationId": "ba927666-2512-5e5d-88d8-1f3a78534361",
            "idempotencyKey": "0e0d6ff2-d9c6-5a2b-b6c4-7f45822c7633",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-433376"
            }
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount for the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount and currency details for transactions."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and tracking across services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which a request is made."
      },
      "CreateCardNetworkParticipantFacilityResponse_201": {
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-158354"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code representing the merchant's business type.",
            "example": "5411"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the transaction.",
            "example": "RES-321893"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for card network participant facility operations.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-158354",
          "merchantCategoryCode": "5411",
          "resourceId": "RES-321893",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ff412ecf-80e4-59f5-885b-301baa50e5ce",
            "correlationId": "ba927666-2512-5e5d-88d8-1f3a78534361",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the transaction occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the card network operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that handles this request. This helps in tracking and logging requests in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-network-participant-facility-create-card-network-participant-facility"
        },
        "example": "card-network-participant-facility-create-card-network-participant-facility"
      },
      "x-runtime-app": {
        "description": "The name of the application that initiated the request. This assists in identifying the source of the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. Tokens are represented as JSON Web Tokens (JWT), which are encoded and signed to ensure the integrity and authenticity of the claims they contain.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}