{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Consumer Reports-spec",
    "description": "This API enables the retrieval of consumer reports based on a specific consumer's identifier. It serves as a vital tool for businesses seeking to access detailed reports that include credit history, payment behaviors, and other relevant information. Typical consumers of this API include financial institutions, lenders, and credit agencies who utilize the data for decision-making processes. Through this endpoint, organizations can efficiently support risk assessments and enhance their customer engagement strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}/reports": {
      "get": {
        "tags": [
          "Consumer Reports"
        ],
        "summary": "Retrieve reports for a specific consumer.",
        "description": "This endpoint allows you to fetch detailed reports associated with a specific consumer identified by their unique ID. Use this to obtain insights and data that are relevant for monitoring and analysis.",
        "operationId": "listConsumerReports",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving reports for a specific consumer identified by RES-100045. This body should conform to the expected JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsumerReportsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved reports data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConsumerReportsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConsumerReportsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the reports endpoint for consumers.",
        "example": "{}"
      },
      "ListConsumerReportsResponse_200": {
        "type": "object",
        "properties": {
          "reports": {
            "type": "array",
            "description": "List of operation reports.",
            "example": [
              {
                "id": "STANDARD",
                "requestId": "6dcadfb5-7cac-5751-bf5d-4ae380e1cc3a",
                "requesterName": "Northstar Banking Service",
                "createdDate": 1,
                "consumerId": "STANDARD",
                "consumerSsn": "STANDARD",
                "type": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationReport"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving operation reports.",
        "example": {
          "reports": [
            {
              "id": "STANDARD",
              "requestId": "6dcadfb5-7cac-5751-bf5d-4ae380e1cc3a",
              "requesterName": "Northstar Banking Service",
              "createdDate": 1,
              "consumerId": "STANDARD",
              "consumerSsn": "STANDARD",
              "type": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "metadata": {
            "responseId": "d34a569f-efbe-5f31-b4bd-6a025865aa8c",
            "correlationId": "93b70595-661d-5bf2-b812-816b99ee879d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationReport": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report."
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the associated request."
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who made the request."
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the report was created.",
            "format": "int32"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the report."
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer."
          },
          "type": {
            "type": "string",
            "description": "Type of the operation report."
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation report."
          }
        },
        "description": "Schema representing an individual operation report.",
        "example": {
          "id": "report123",
          "requestId": "req456",
          "requesterName": "John Doe",
          "createdDate": 1610000000,
          "consumerId": "consumer789",
          "consumerSsn": "123-45-6789",
          "type": "operation",
          "status": "completed"
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Metadata related to the response of the report request.",
        "example": {
          "responseId": "resp001",
          "correlationId": "corr001",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "us-west-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "consumerId": {
        "name": "consumerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint to track requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-reports-by-consumer-id"
        },
        "example": "open-finance-api-get-reports-by-consumer-id"
      },
      "X-Runtime-App": {
        "description": "Represents the application name or identifier that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer Authentication scheme uses a token (JWT) that must be included in the Authorization header, enabling secure access to the API. This token represents user identity and authorization claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}