{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Notification Subscription By Webhook Id-spec",
    "description": "This API enables users to retrieve detailed information about a specific notification subscription associated with a given webhook ID. It provides insights into the configuration and status of the subscription, making it invaluable for developers managing webhook integrations. Typical consumers of this API include application developers and system integrators who need to monitor and debug their notification subscriptions. By leveraging this endpoint, users can ensure that their webhook configurations are functioning as intended and receiving the appropriate events.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks Management"
        ],
        "summary": "Retrieve webhook details",
        "description": "This endpoint allows you to fetch the details of a specific webhook identified by its unique ID. The information returned includes various attributes of the webhook which are useful for managing and monitoring webhook configurations.",
        "operationId": "getNotificationSubscriptionByWebhookId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the specific webhook identified by RES-100045. Ensure that the required schema attributes are included in your request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNotificationSubscriptionByWebhookIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved webhook details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotificationSubscriptionByWebhookIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetNotificationSubscriptionByWebhookIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for a webhook operation in JSON format.",
        "example": "{}"
      },
      "GetNotificationSubscriptionByWebhookIdResponse_200": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The webhook endpoint URL.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "List of events associated with the webhook subscription.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the webhook subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date when the webhook subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the webhook operation GET request.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "a601b67e-271a-5af1-951f-b8235cafa2b0",
            "correlationId": "dcf5c39d-62c1-5100-90f4-b7d9e685ea48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "event_12345"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "user_created"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the event notifications are sent.",
            "example": "https://example.com/receive_event"
          },
          "status": {
            "type": "string",
            "description": "The status of the webhook event.",
            "example": "enabled"
          },
          "condition": {
            "$ref": "#/components/schemas/EventCondition"
          }
        },
        "description": "Schema representing a single webhook event."
      },
      "EventCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The type of events to subscribe for.",
            "example": "user_creation"
          },
          "includes": {
            "type": "array",
            "description": "A list of included conditions for the event.",
            "items": {
              "type": "string",
              "example": "specific_condition"
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of excluded conditions for the event.",
            "items": {
              "type": "string",
              "example": "another_condition"
            }
          }
        },
        "description": "Schema defining conditions under which events will be triggered."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "corr_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west"
          }
        },
        "description": "Schema representing additional metadata information related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the webhook endpoint that triggered the event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-webhook-subscription-by-id"
        },
        "example": "open-finance-api-get-webhook-subscription-by-id"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token for authorization, compliant with the OAuth 2.0 standard. The bearer token is a JSON Web Token (JWT) that contains claims about the user or system accessed. Clients must include this token in the Authorization header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}