{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking It Management Production Releases-v5-spec",
    "description": "The Banking IT Management Production Releases API provides access to the details of production releases within the banking IT management ecosystem. This endpoint allows users to retrieve a comprehensive list of the latest production releases, including relevant metadata and release notes. It serves developers and IT professionals involved in project management, deployment, and compliance activities. The API is crucial for ensuring stakeholders are aligned with the most current production changes and updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/production-release": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve production release details.",
        "description": "This endpoint allows you to fetch details about the current production release, including version information and release notes. It is essential for monitoring and managing production updates.",
        "operationId": "listBankingItManagementProductionReleases",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the details of the production release in the IT management system. It requires a specific JSON structure that is defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingItManagementProductionReleasesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the production release details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingItManagementProductionReleasesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingItManagementProductionReleasesRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the production release operations GET request.",
        "example": "{}"
      },
      "ListBankingItManagementProductionReleasesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of production release items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductionReleaseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the successful response structure for the production release operations GET request.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "22a4785e-e72d-5f0d-8baf-9aea65f4ec56",
            "correlationId": "8a3db309-5e0b-5b77-93d9-8535aeb12aaf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductionReleaseItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The identifier for the system."
          },
          "environment": {
            "type": "string",
            "description": "The environment where the release is applied."
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with this release."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the release."
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the release."
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The identifier for the leased asset associated with the release."
          },
          "residualValue": {
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The lease term in months.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated."
          }
        },
        "description": "Schema representing an individual production release item."
      },
      "ResidualValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the residual value."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the residual value."
          }
        },
        "description": "Schema representing the residual value of a leased asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to trace this request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Schema containing metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-release-search-production-release"
        },
        "example": "production-release-search-production-release"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}