{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Collateral Administration Collection-spec",
    "description": "This API facilitates the creation and management of collateral administration collections within the banking system. It allows users to submit new collections, ensuring proper alignment with financial regulations and internal policies. Designed for banking professionals and financial institutions, this API streamlines the process of managing collateral assets. Use cases include initiating collections for various banking operations and ensuring compliance with collateral management standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collections": {
      "post": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Create a new collateral collection.",
        "description": "This endpoint allows users to create a new collateral collection, which is essential for managing and tracking collateral assets effectively. Ensure that all required fields are provided in the request body.",
        "operationId": "createCollateralAdministrationCollection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new collection within the collateral administration system. It requires a JSON object that conforms to the defined schema and includes all necessary data fields for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollateralAdministrationCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollateralAdministrationCollectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCollateralAdministrationCollectionRequest": {
        "title": "Collateral Administration Collection Request",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the collateral.",
            "example": "PARTY-581177"
          },
          "assetType": {
            "type": "string",
            "description": "Type of asset being collateralized.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the collateral asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the asset valuation is performed.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage discount applied to the market value of the collateral.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "The lien status of the collateral asset.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the collateral administration collections operation.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-581177",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "55e05d37-3ed6-588f-9313-23b2676d692b",
            "correlationId": "32425b20-cbcb-5b43-bc74-8d34f376634f",
            "idempotencyKey": "e434bd7e-6b31-5de8-96f8-3f03b83fdb9b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-509111"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the market value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the market value is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the market value details of a collateral asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "CORR001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "IDEMP001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was initiated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "Application A"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual details of a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "DEVICE001"
          }
        },
        "description": "Schema representing details about the request channel."
      },
      "CreateCollateralAdministrationCollectionResponse_201": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the collateral.",
            "example": "PARTY-492500"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Unique identifier for the secured exposure associated with the collateral.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the collateral.",
            "example": "RES-539998"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the collateral was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-98765"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the operation across services.",
                "example": "correlation-54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the collateral processing occurred.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata related to the collateral operation.",
            "example": {
              "responseId": "675fbe51-97e3-51b9-a215-eae50a85006d",
              "correlationId": "32425b20-cbcb-5b43-bc74-8d34f376634f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the operation of collateral administration collections.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-492500",
          "securedExposureId": "STANDARD",
          "resourceId": "RES-539998",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "675fbe51-97e3-51b9-a215-eae50a85006d",
            "correlationId": "32425b20-cbcb-5b43-bc74-8d34f376634f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request is processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collections-create-collections"
        },
        "example": "collections-create-collections"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for executing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication (also known as token authentication) that transmits the JWT (JSON Web Token) in the authorization header for secure access to the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}