{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m By Dispute Id-spec",
    "description": "The Dispute P2M Replacement API allows clients to update the P2M (Payment to Merchant) details associated with a specific dispute identified by its unique ID. This functionality is essential for maintaining accurate financial records and ensuring proper handling of disputes in the system. Typical consumers of this API include financial institutions and dispute management teams that require timely updates in P2M information. By leveraging this endpoint, stakeholders can streamline their dispute resolution processes and enhance customer service capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}": {
      "put": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Update a specific dispute",
        "description": "This endpoint allows developers to update the details of an existing dispute using its unique identifier. Ensure that you provide the necessary data to modify the dispute information.",
        "operationId": "replaceP2mByDisputeId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disputeId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific dispute identified by RES-100045. It includes relevant information needed for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mByDisputeIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mByDisputeIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mByDisputeIdRequest": {
        "title": "Dispute Operation Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment being disputed.",
            "example": "PAY-268860"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount of money being disputed along with its currency.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "A statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer who is disputing the charge.",
            "example": "CUST-329174"
          },
          "evidence": {
            "type": "array",
            "description": "An array of evidence documents related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceDocument"
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for initiating a dispute operation.",
        "example": {
          "paymentId": "PAY-268860",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "customerId": "CUST-329174",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "requestContext": {
            "requestId": "c1e13e15-170c-5281-a9cf-5d04f64a3cc6",
            "correlationId": "a4485910-f23a-5458-845c-6dd487dba19f",
            "idempotencyKey": "15d07070-e713-54a8-89cb-af74a808e98c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-530522"
            }
          }
        }
      },
      "DisputedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the disputed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the disputed amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the disputed amount."
      },
      "EvidenceDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence document.",
            "example": "evidence_001"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the evidence file.",
            "example": "evidence.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the evidence file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to access the evidence file.",
            "example": "https://example.com/evidence.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "SHA256 hash of the evidence file.",
            "example": "abc123..."
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "2023-03-20T12:00:00Z"
          }
        },
        "description": "Schema representing an evidence document for a dispute."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request across different systems.",
            "example": "corr_5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idemp_abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the source system that made the request.",
            "example": "payments_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the source application that made the request.",
            "example": "web_app"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema that contains contextual information about the request made."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_456"
          }
        },
        "description": "Schema to represent information about the channel used for the request."
      },
      "ReplaceP2mByDisputeIdResponse_200": {
        "title": "Dispute Response Schema",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the related payment.",
            "example": "PAY-564302"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-758863"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount in dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "The statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Timestamp by when a response is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence documents submitted for the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceDocument"
            }
          },
          "financialImpact": {
            "description": "Financial implications of the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Resolution details of the dispute, if any.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit log details of the dispute.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Meta information regarding the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a dispute operation.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-564302",
          "merchantId": "MER-758863",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "04f43abf-a4b7-56b7-9ab0-bd03a18aad39",
            "correlationId": "a4485910-f23a-5458-845c-6dd487dba19f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "Amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Amount that is being held in reserve related to the dispute.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing the financial impact of the dispute."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee.",
            "example": "Processing Fee"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "Entity responsible for the fee.",
            "example": "Merchant"
          }
        },
        "description": "Schema representing a fee associated with the dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution.",
            "example": "Refund Issued"
          },
          "resolvedAmount": {
            "description": "Amount that has been resolved.",
            "$ref": "#/components/schemas/Amount"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the resolution.",
            "example": "Customer satisfaction."
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was resolved.",
            "example": "2023-03-20T15:00:00Z"
          }
        },
        "description": "Schema representing the resolution of the dispute."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the dispute was created.",
            "example": "2023-03-19T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the dispute.",
            "example": "admin_user"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was last updated.",
            "example": "2023-03-20T13:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who last updated the dispute.",
            "example": "admin_user"
          },
          "version": {
            "type": "integer",
            "description": "Version of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the audit log of the dispute."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-03-20T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the dispute is being processed.",
            "example": "US"
          }
        },
        "description": "Schema representing metadata information related to the dispute response."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount in a specific currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disputeId": {
        "name": "disputeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in this API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-dispute"
        },
        "example": "banking-p2m-openapi-replace-dispute"
      },
      "X-Runtime-App": {
        "description": "The application name that executed the API request, useful for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients are required to include a valid JSON Web Token (JWT) in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}