{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Routing Decisions API",
    "description": "The Routing Decisions API facilitates the intelligent routing of card transaction requests within banking operational services. By utilizing this endpoint, businesses can dynamically determine the most appropriate processing paths for card transactions, enhancing efficiency and improving service delivery. This API is designed for financial institutions and payment processors needing to optimize transaction flows based on real-time decision-making algorithms. Typical consumers include banking application developers and payment gateway providers aiming to implement seamless transaction management solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/routing-decisions": {
      "post": {
        "tags": [
          "Card Transaction Services"
        ],
        "summary": "Create routing decisions for card transaction switches.",
        "description": "This endpoint allows the creation of routing decisions for card transaction switches. It helps in determining the optimal routing paths for transaction processing, enhancing reliability and efficiency in transaction handling.",
        "operationId": "postCardTransactionSwitchRoutingDecisions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the details involved in routing decisions for card transaction switches. It encapsulates all necessary parameters that dictate how a transaction should be processed based on specific criteria and business logic.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCardTransactionSwitchRoutingDecisionsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed. Check back for updates.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCardTransactionSwitchRoutingDecisionsResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostCardTransactionSwitchRoutingDecisionsRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-320690"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-932815"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the transaction request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Context of the request, containing additional metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the card transaction switch routing decisions operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-320690",
          "accountId": "ACC-932815",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "9a69655c-ad97-540d-8276-b37495df6489",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "idempotencyKey": "8e0a7216-174d-51ad-b282-e8440bf7529b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-687368"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs and requests.",
            "example": "corr_12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent processing of requests.",
            "example": "idempotent-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "payment_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile, POS.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device_123456"
          }
        },
        "description": "Information regarding the channel used in the request."
      },
      "PostCardTransactionSwitchRoutingDecisionsResponse_202": {
        "title": "Card Transaction Routing Decision Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-941124"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the transaction.",
            "example": "ACC-731473"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for tracking the processing of the transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction routing decision.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the decision was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Represents the response structure for the card transaction routing decision operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-941124",
          "accountId": "ACC-731473",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ec939e2e-56b9-5724-a78f-120d56cf0305",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests across different systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction is processed.",
            "example": "string"
          }
        },
        "description": "Contains additional metadata related to the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was called, used for logging and tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-route-card-transaction-switch"
        },
        "example": "card-transaction-switch-route-card-transaction-switch"
      },
      "x-runtime-app": {
        "description": "The name of the application or service that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a JSON Web Token (JWT) as the bearer token. Clients are required to use this scheme to authenticate their requests by including the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}