{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Contact Routing By Param1-spec",
    "description": "The Contact Routing Decision API facilitates the retrieval of contact routing decisions based on specific parameters. This endpoint allows businesses to effectively direct customer inquiries to the appropriate channels or agents by utilizing the provided 'param1'. Typical consumers of this API include customer service applications and support systems aiming to enhance response times and improve customer satisfaction. By leveraging this functionality, organizations can ensure efficient communication and service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/contact-routing/routing-decisions/{param1}": {
      "get": {
        "tags": [
          "Routing Management"
        ],
        "summary": "Retrieve routing decision for a specific resource.",
        "description": "This endpoint allows you to fetch the routing decision for the resource identified by 'RES-100045'. It provides crucial information about how contact routing is handled for this resource.",
        "operationId": "getContactRoutingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve routing decision information for the specified resource identifier. Ensure to provide all the necessary parameters to obtain accurate routing decisions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContactRoutingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactRoutingByParam1Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetContactRoutingByParam1Request": {
        "title": "Cross-Channel Contact Routing Request Body",
        "type": "string",
        "description": "This schema represents the request body for routing decisions in a cross-channel contact routing system.",
        "example": "{}"
      },
      "GetContactRoutingByParam1Response_202": {
        "title": "Routing Decision Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-244442"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction being processed.",
            "example": "INT-658346"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference identifier for tracking the processing of the request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the routing decision process.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp indicating when the routing decision was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/RoutingMetadata"
          }
        },
        "description": "This schema represents the response structure for routing decisions within the cross-channel contact routing API.",
        "example": {
          "partyId": "PARTY-244442",
          "interactionId": "INT-658346",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ea7513bb-c6a1-521e-a1e9-7b0916d3361e",
            "correlationId": "eb804cbb-eaf7-55ba-b744-a43746a58b96",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RoutingMetadata": {
        "title": "Routing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema holds additional metadata related to the routing decision."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-routing-route-contact-routing"
        },
        "example": "contact-routing-route-contact-routing"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-071"
        },
        "example": "WF-071"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the routing decision.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Branch Appointment and Service Fulfillment"
        },
        "example": "Branch Appointment and Service Fulfillment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "46b8d7ef-b855-4216-b3b0-0a5f44f5946b"
        },
        "example": "46b8d7ef-b855-4216-b3b0-0a5f44f5946b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). The token must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}