{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Authentication API",
    "description": "The Party Authentication API facilitates secure identification and verification of users across banking channels. This endpoint allows systems to retrieve authentication status and related information for individuals or entities involved in financial transactions. Typical consumers include banking applications, financial service providers, and developers building apps requiring user authentication. The API streamlines compliance and enhances security in user interactions within digital banking environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/party-authentication": {
      "get": {
        "tags": [
          "Party Management"
        ],
        "summary": "Retrieve party authentication details.",
        "description": "This endpoint allows you to retrieve authentication details for a specific party within the cross-channel framework. You can utilize this information for managing user sessions and verifying identities across different channels.",
        "operationId": "getPartyAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to authenticate a party across different channels. It requires the necessary credentials and parameters for successful authentication.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyAuthenticationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the authentication data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyAuthenticationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyAuthenticationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the cross-channel party authentication operation via the GET method. It is expected to be a string that could represent a request payload, such as an identifier or a token.",
        "example": "{}"
      },
      "GetPartyAuthenticationResponse_200": {
        "title": "Authentication Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of authentication details for parties.",
            "example": [
              {
                "partyId": "PARTY-245549",
                "interactionId": "INT-727248",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PartyAuthenticationDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response structure for the cross-channel party authentication GET operation.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-245549",
              "interactionId": "INT-727248",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8d92ff89-3d9f-5564-bc90-fcf1516eeac7",
            "correlationId": "ebd0cae3-4f15-5b4a-9c99-baa9447c35d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PartyAuthenticationDetails": {
        "title": "Party Authentication Details",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party.",
            "example": "string"
          },
          "interactionId": {
            "type": "string",
            "description": "The identifier for the interaction associated with the party.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the authentication occurred.",
            "example": "string"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication achieved.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the authentication record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Detailed information about a party's authentication."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of results to display per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information regarding pagination of the results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-authentication-search-party-authentication"
        },
        "example": "party-authentication-search-party-authentication"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication using JSON Web Tokens (JWT). To access secure endpoints, clients must include a valid JWT in the authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}