{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Joint Borrower Email Notification API",
    "description": "The Joint Borrower Email Notification API facilitates the process of sending automated email notifications to joint borrowers involved in a lending application. By utilizing this API, lenders can enhance communication, ensuring that both borrowers receive timely updates regarding their application status or required actions. This API is particularly valuable for financial institutions and mortgage companies that need to keep multiple parties informed throughout the lending process. It streamlines collaboration and improves the overall borrower experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/send/email/jointborrower": {
      "post": {
        "tags": [
          "Email Management"
        ],
        "summary": "Send an email to the joint borrower.",
        "description": "This endpoint allows you to send an email specifically to a joint borrower. Ensure that you provide the necessary details in the request body to facilitate the successful transmission of the email. Use this feature to keep joint borrowers informed and engaged in the communication process.",
        "operationId": "sendEmailToJointBorrower",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to send an email to a joint borrower. It contains the necessary information and parameters required for the email delivery process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailToJointBorrowerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email was sent successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailToJointBorrowerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SendEmailToJointBorrowerRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the email should be sent.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier of the partner.",
            "example": "STANDARD"
          },
          "borrowers": {
            "type": "array",
            "description": "List of borrowers involved in the operation.",
            "example": [
              {
                "customerId": "CUST-384721",
                "consumerId": "STANDARD",
                "type": "STANDARD",
                "optionalConsumerInfo": {
                  "ssn": "STANDARD",
                  "dob": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Borrower"
            }
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to which the user will be redirected after the operation.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The webhook URL to notify about the operation's result.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook payload.",
            "example": "STANDARD"
          },
          "email": {
            "description": "Details of the email to be sent.",
            "$ref": "#/components/schemas/Email"
          },
          "experience": {
            "type": "string",
            "description": "Experience level of the borrower.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date from which experience is calculated.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for sending joint borrower email operations.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "borrowers": [
            {
              "customerId": "CUST-384721",
              "consumerId": "STANDARD",
              "type": "STANDARD",
              "optionalConsumerInfo": {
                "ssn": "STANDARD",
                "dob": 1
              }
            }
          ],
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "email": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "experience": "STANDARD",
          "fromDate": 1,
          "requestContext": {
            "requestId": "03ee484a-5671-5ade-b5be-f6ef127a3ed6",
            "correlationId": "4ee01fa5-efcf-5484-822b-362e8ff344a3",
            "idempotencyKey": "da900f0a-52b2-5261-8c17-96ffdd186b58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-104978"
            }
          }
        }
      },
      "Borrower": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of borrower (e.g., primary, joint).",
            "example": "string"
          },
          "optionalConsumerInfo": {
            "description": "Optional personal information of the consumer.",
            "$ref": "#/components/schemas/OptionalConsumerInfo"
          }
        },
        "description": "Details of an individual borrower."
      },
      "OptionalConsumerInfo": {
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "dob": {
            "type": "integer",
            "description": "Date of birth of the consumer represented as an integer.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Optional personal information of the consumer."
      },
      "Email": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient's email address.",
            "example": "string"
          },
          "from": {
            "type": "string",
            "description": "Sender's email address.",
            "example": "string"
          },
          "supportPhone": {
            "type": "string",
            "description": "Support phone number to include in the email.",
            "example": "string"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "string"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "string"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution sending the email.",
            "example": "string"
          },
          "signature": {
            "type": "array",
            "description": "Array of strings representing the signature lines.",
            "items": {
              "type": "string",
              "description": "A line in the email signature.",
              "example": "string"
            }
          }
        },
        "description": "Details of the email to send."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Information regarding the channel of the request."
      },
      "SendEmailToJointBorrowerResponse_200": {
        "title": "Send Email Joint Borrower Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A link related to the email operation.",
            "example": "STANDARD"
          },
          "emailConfig": {
            "description": "Configuration details for the email to be sent.",
            "$ref": "#/components/schemas/EmailConfig"
          },
          "metadata": {
            "description": "Metadata related to the email sending operation.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for sending an email to joint borrowers.",
        "example": {
          "link": "STANDARD",
          "emailConfig": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "1bdc7087-f3c1-51d7-abb7-ac2ee4a17b93",
            "correlationId": "4ee01fa5-efcf-5484-822b-362e8ff344a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmailConfig": {
        "title": "Email Configuration",
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "The recipient's email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "The sender's email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Contact phone number for support.",
            "example": "+1234567890"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Important Email Subject"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the email recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Example Bank"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution.",
            "example": "123 Example St, Example City, EX 12345"
          },
          "signature": {
            "type": "array",
            "description": "Signature lines included in the email.",
            "example": [
              "Best regards,",
              "Example Team"
            ],
            "items": {
              "type": "string",
              "example": "Best regards,"
            }
          }
        },
        "description": "Configuration properties for constructing an email."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace requests.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the email processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response of the email sending operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-send-joint-borrower-connect-email"
        },
        "example": "open-finance-api-send-joint-borrower-connect-email"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}