{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Data Switch Administration API",
    "description": "The Market Data Switch Administration API provides functionalities for managing market data switch configurations. It enables users to retrieve current settings, status updates, and essential information about the market data switches in use. Typical consumers include system administrators and developers who need to oversee market data operations or integrate them into financial applications. This API is crucial for maintaining efficient market data workflows and supporting real-time data accessibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-administration": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve market data switch administration details.",
        "description": "This endpoint allows you to fetch the details of market data switch administration, providing insights into its current state and configuration settings. Use this to ensure that your market data services are functioning as expected.",
        "operationId": "getMarketDataSwitchAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to specify parameters related to market data switch administration. It defines the necessary details required for retrieving the market data switch configuration and status. Ensure that the data complies with the expected schema to facilitate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataSwitchAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved market data switch administration information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataSwitchAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataSwitchAdministrationRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the market data switch administration API.",
        "example": "{}"
      },
      "GetMarketDataSwitchAdministrationResponse_200": {
        "title": "Market Data Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of market data items retrieved from the data source.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-562",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "feedId": "STANDARD",
                "protocol": "STANDARD",
                "messagesPerSecond": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting the market data items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for market data requests.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-562",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "feedId": "STANDARD",
              "protocol": "STANDARD",
              "messagesPerSecond": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7ccbef25-a572-5fd8-9354-ba2e5bc47f00",
            "correlationId": "86ea60e0-4c14-51d7-b56d-9913b2c9f6c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "title": "Market Data Item",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument.",
            "example": "ABC123"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number.",
            "example": "US1234567890"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "XNAS"
          },
          "asOf": {
            "type": "string",
            "description": "Timestamp indicating the date and time the data is valid.",
            "example": "2023-10-10T10:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the market data is retrieved.",
            "example": "DATA_SOURCE_1"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed.",
            "example": "FEED_001"
          },
          "protocol": {
            "type": "string",
            "description": "Protocol used for data transmission.",
            "example": "PROTOCOL_X"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "Rate of messages received per second.",
            "format": "int32",
            "example": 10
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the data record.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the data was last updated.",
            "example": "2023-10-10T10:00:00Z"
          }
        },
        "description": "Schema representing an individual market data item."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request with the response.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the data was processed.",
            "example": "us-east"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-administration-search-market-data-switch-administration"
        },
        "example": "market-data-switch-administration-search-market-data-switch-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token for access control. The token is typically a JSON Web Token (JWT) that is passed in the Authorization header of the HTTP request. This approach allows for stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}