{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Submission API",
    "description": "The Loan Application Submission API enables users to submit requests for loan products offered by the service. This endpoint facilitates the submission of necessary data, such as applicant information and loan details, to streamline the loan processing workflow. Financial institutions and users seeking loans will find this API essential for initiating the loan application process efficiently. By integrating this API, developers can ensure a seamless experience in managing loan requests and improving turnaround times.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new loan",
        "description": "This endpoint allows clients to create a new loan by providing the required loan details. Ensure all necessary information is included to successfully process the loan creation request.",
        "operationId": "createLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new loan entry. It should include all necessary details for the loan such as the amount, duration, and borrower information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loan resource created successfully with details in the response.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanRequest": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier of the source application initiating the loan request.",
            "example": "APP-675178"
          },
          "productId": {
            "type": "string",
            "description": "Identifier of the loan product being requested.",
            "example": "PROD-329451"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier of the primary customer applying for the loan.",
            "example": "CUST-317783"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for additional borrowers associated with the loan.",
            "example": [
              "CUST-391663"
            ],
            "items": {
              "type": "string",
              "description": "Identifier of a borrower customer.",
              "example": "borrower001"
            }
          },
          "principal": {
            "description": "Principal amount of the loan, including currency information.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Loan term in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applicable to the loan (e.g., fixed, variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan is booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date of the first payment on the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number designated for loan repayments.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code of the branch servicing the loan.",
            "example": "CODE-667"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager handling the loan application.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan (e.g., home improvement, debt consolidation).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the loan request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a loan operation.",
        "example": {
          "sourceApplicationId": "APP-675178",
          "productId": "PROD-329451",
          "primaryCustomerId": "CUST-317783",
          "borrowerCustomerIds": [
            "CUST-391663"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-667",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "c5bd98e1-1c3c-5ad7-b610-2de2ee1edd6d",
            "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
            "idempotencyKey": "eca69b19-b8ae-514b-a72a-198c305a7e36",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-116556"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Principal loan amount.",
            "example": "10000"
          }
        },
        "description": "Details about the principal amount of the loan."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "correlation456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "key789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system generating the request.",
            "example": "systemABC"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "appXYZ"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the loan request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "deviceXYZ"
          }
        },
        "description": "Details about the channel through which the loan request was made."
      },
      "CreateLoanResponse_201": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The identifier of the application that sourced this loan.",
            "example": "APP-738601"
          },
          "productId": {
            "type": "string",
            "description": "The identifier of the loan product.",
            "example": "PROD-206979"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The unique identifier of the primary customer associated with the loan.",
            "example": "CUST-588715"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "A list of unique identifiers for the borrowers associated with the loan.",
            "example": [
              "CUST-404459"
            ],
            "items": {
              "type": "string",
              "description": "Unique identifier of a borrower.",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applied to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of the loan repayments.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date on which the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first payment for the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number from which repayments will be deducted.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch servicing the loan.",
            "example": "CODE-305"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the loan.",
            "example": "59e2dd26-2d29-a612-8ea5-803512888484"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "The current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "The total amount disbursed for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalRepaid": {
            "description": "The total amount repaid towards the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the POST operation to create a loan.",
        "example": {
          "sourceApplicationId": "APP-738601",
          "productId": "PROD-206979",
          "primaryCustomerId": "CUST-588715",
          "borrowerCustomerIds": [
            "CUST-404459"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-305",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "59e2dd26-2d29-a612-8ea5-803512888484",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "0abdd200-6bc3-5cea-b4d9-af15f69a15f8",
            "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric amount expressed as a string (can accommodate decimals).",
            "example": "1000.00"
          }
        },
        "description": "Represents the amount and currency for a loan."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "The outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "accruedInterest": {
            "description": "The accrued interest amount on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "feesOutstanding": {
            "description": "The outstanding fees related to the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "penaltiesOutstanding": {
            "description": "Any outstanding penalties related to the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalOutstanding": {
            "description": "The total outstanding amount for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "availableToDraw": {
            "description": "The amount available to draw against the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          }
        },
        "description": "The balance details for a loan, including principal and other financial metrics."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier to correlate logs for this transaction.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-create-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-create-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication scheme that uses JSON Web Tokens (JWT) as the format for access tokens. Clients must include the JWT in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}