{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Payment Instructions-spec",
    "description": "The Payment Instructions Retrieval API allows users to access detailed information about payment instructions within the banking system. This API is designed for financial institutions and developers who need to review existing payment directives for compliance or processing purposes. Users can retrieve a list of payment instructions to facilitate their financial operations, ensuring they have the necessary data for decision-making. Typical consumers include bank personnel, financial analysts, and software developers integrating banking functionalities into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-instruction": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Payment Instruction",
        "description": "Fetches the details of a specific payment instruction, including relevant transaction data and payment status to facilitate further processing or inquiry.",
        "operationId": "listPaymentPaymentInstructions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving payment instruction details. It contains structured information required to execute the GET operation for payment instructions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentPaymentInstructionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment instruction details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentPaymentInstructionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentPaymentInstructionsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the payment instruction operation.",
        "example": "{}"
      },
      "ListPaymentPaymentInstructionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of payment instruction items.",
            "example": [
              {
                "paymentId": "PAY-975650",
                "debtorAccountId": "ACC-465335",
                "creditorAccountId": "ACC-707507",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "paymentRail": "STANDARD",
                "chargeBearer": "STANDARD",
                "purposeCode": "CODE-163",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentInstruction"
            }
          },
          "pagination": {
            "description": "Pagination information for the retrieved items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the retrieved items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for payment instruction retrieval.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-975650",
              "debtorAccountId": "ACC-465335",
              "creditorAccountId": "ACC-707507",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "paymentRail": "STANDARD",
              "chargeBearer": "STANDARD",
              "purposeCode": "CODE-163",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c4f45cd9-b376-50fd-9f3b-12182c2ca03c",
            "correlationId": "c01d9249-cb74-5317-81fd-9cfa4928c42a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentInstruction": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment instruction."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account."
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The numerical value of the instructed amount."
              },
              "currency": {
                "type": "string",
                "description": "The currency in which the instructed amount is denominated."
              }
            },
            "description": "The amount to be instructed along with currency."
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance of the payment."
          },
          "paymentRail": {
            "type": "string",
            "description": "The payment rail used for the transaction."
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who will bear the transaction charges."
          },
          "purposeCode": {
            "type": "string",
            "description": "Code indicating the purpose of the payment."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment instruction was last updated."
          }
        },
        "description": "A payment instruction containing all relevant details for processing the instruction.",
        "example": {
          "paymentId": "string",
          "debtorAccountId": "string",
          "creditorAccountId": "string",
          "instructedAmount": {
            "amount": 0.0,
            "currency": "string"
          },
          "requestedExecutionDate": "string",
          "remittanceInformation": "string",
          "paymentRail": "string",
          "chargeBearer": "string",
          "purposeCode": "string",
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the response.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request for correlation purposes."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata related to the API response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-instruction-search-payment-instruction"
        },
        "example": "payment-instruction-search-payment-instruction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, where a JSON Web Token (JWT) is used as the authentication token. This type of authentication allows secure information exchange and protects resources by verifying the identity of users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}