{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Notional Pooling API",
    "description": "The Notional Pooling API facilitates the efficient management of liquidity across multiple accounts for organizations by aggregating balances. It provides access to real-time data on pooled funds, enabling users to optimize interest income and minimize overdraft fees. This API is typically utilized by finance departments and treasury management systems within large enterprises, allowing for better cash flow visibility and control. Users can leverage this endpoint to retrieve information necessary for strategic financial planning and decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Fetch Notional Pooling Details",
        "description": "Retrieve detailed information about the notional pooling services offered under trade banking, including account balances, participating accounts, and transaction history.",
        "operationId": "getNotionalPooling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to notional pooling operations within the trade banking context. Make sure to structure the JSON payload according to the specified schema to ensure proper handling of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNotionalPoolingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotionalPoolingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetNotionalPoolingRequest": {
        "title": "Notional Pooling Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Notional Pooling Operations GET operation in the Trade Banking API.",
        "example": "{}"
      },
      "GetNotionalPoolingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of notional pooling accounts.",
            "example": [
              {
                "poolId": "STANDARD",
                "headerAccountId": "ACC-414410",
                "participantAccountIds": [
                  "ACC-554861"
                ],
                "currency": "USD",
                "sweepFrequency": "STANDARD",
                "targetBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/NotionalPoolingAccount"
            }
          },
          "pagination": {
            "description": "Information about pagination of the results.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "items": [
            {
              "poolId": "STANDARD",
              "headerAccountId": "ACC-414410",
              "participantAccountIds": [
                "ACC-554861"
              ],
              "currency": "USD",
              "sweepFrequency": "STANDARD",
              "targetBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "67214387-307a-51d5-b099-0b2663c5fa0a",
            "correlationId": "050824ca-0000-5571-b37b-e7af51032f83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NotionalPoolingAccount": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier of the notional pooling account.",
            "example": "pool_123"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier of the header account.",
            "example": "header_abc"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "A list of participant account identifiers.",
            "items": {
              "type": "string",
              "example": "acct_001"
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the notional pooling account.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency of sweeps for the account.",
            "example": "daily"
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance for the notional pooling account.",
            "example": 1000.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the account was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking.",
            "example": "corr_789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "us-west"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-search-notional-pooling"
        },
        "example": "notional-pooling-search-notional-pooling"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that generated this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A valid JSON Web Token (JWT) is required to access protected resources. The token should be included in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}