{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Businesses Retrieval API",
    "description": "The Customer Businesses Retrieval API provides access to business information associated with a specific customer. Users can retrieve comprehensive details about various businesses tied to a particular customer ID. This API is designed to support applications that require a deep understanding of customer-business relationships, enabling businesses to enhance customer insights, offer tailored services, and improve engagement. Typical consumers of this API include CRM systems, analytics platforms, and customer service applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/customers/{customerId}/businesses": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve businesses associated with a specific customer.",
        "description": "This endpoint allows you to fetch all businesses related to a particular customer identified by their unique ID. It helps in managing and viewing data pertinent to a customer's business activities.",
        "operationId": "getCustomerBusinessesCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the businesses associated with a specific customer identified by CUST-100045. It should include any necessary parameters to refine the request and ensure accurate data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerBusinessesCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of businesses for the specified customer.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerBusinessesCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerBusinessesCUST100045Request": {
        "type": "string",
        "description": "Request body for retrieving operations related to a specific business customer.",
        "example": "{}"
      },
      "GetCustomerBusinessesCUST100045Response_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of businesses associated with the customer.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Business"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving businesses associated with a specific customer.",
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "2062ab0c-79c3-57ee-91c9-09aa0db7ec98",
            "correlationId": "93336772-30ea-5ff2-a189-35f455cefc40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Acme Corp"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the person is personally liable for the business.",
            "example": false
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "Website URL of the business.",
            "example": "https://www.acmecorp.com"
          },
          "email": {
            "type": "string",
            "description": "Contact email address of the business.",
            "example": "contact@acmecorp.com"
          },
          "type": {
            "type": "string",
            "description": "The type or category of the business.",
            "example": "Retail"
          },
          "taxId": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "123456789"
          },
          "businessId": {
            "type": "string",
            "description": "Unique identifier for the business.",
            "example": "BIZ-100045"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the business was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the business details were last modified.",
            "example": "2023-01-10T00:00:00Z"
          }
        },
        "description": "Details of a business associated with a customer."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City where the business is located.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "State where the business is located.",
            "example": "IL"
          },
          "country": {
            "type": "string",
            "description": "Country where the business is located.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the business address.",
            "example": "62701"
          }
        },
        "description": "Physical address of the business."
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code for the phone number.",
            "example": "+1"
          },
          "phoneNo": {
            "type": "string",
            "description": "Local phone number of the business.",
            "example": "555-1234"
          }
        },
        "description": "Contact phone number of the business."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-0001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating this response with related requests.",
            "example": "corr-0001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-customer"
        },
        "example": "open-finance-api-get-business-by-customer"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This scheme requires a valid JWT (JSON Web Token) which should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}