{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan Application By Decision Id-spec",
    "description": "The Loan Application Retrieval API allows users to access detailed information regarding specific loan applications based on their associated decision IDs. This endpoint facilitates the retrieval of loan application data, enabling financial service providers, underwriters, and customer support teams to review application decisions efficiently. Typical use cases include checking the status of loan applications or providing updates to applicants. By utilizing this API, stakeholders can streamline the loan review process and improve customer service interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions/{decisionId}": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve Decision for Loan Application",
        "description": "This endpoint allows you to retrieve the decision details for a specific loan application identified by its unique ID. Utilize this to get insights into the approval or denial of the application, as well as any relevant parameters guiding the decision.",
        "operationId": "getLoanApplicationByDecisionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/decisionId"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching the decision associated with the specified loan application. This body structure facilitates the retrieval of decision details by identifying the loan application through its unique identifier.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationByDecisionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success: The request was processed and the decision data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationByDecisionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationByDecisionIdRequest": {
        "type": "string",
        "description": "Request body schema for the loan application decision GET operation, expected in JSON format.",
        "example": "{}"
      },
      "GetLoanApplicationByDecisionIdResponse_200": {
        "title": "Loan Application Decision Response",
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made on the loan application (e.g., approved, denied).",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source of the decision (e.g., automated system, manual review).",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates whether the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "Name of the scorecard used to assess the application.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the applicant.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The probability of default percentage based on the assessment.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio percentage of the applicant.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "Details of the approved principal amount.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate as a percentage for the loan.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "Codes that explain the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A reason code for the decision.",
              "example": "RC123"
            }
          },
          "conditions": {
            "type": "array",
            "description": "A list of conditions attached to the decision.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Additional comments regarding the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "Identifier of the decision this one supersedes, if applicable.",
            "example": "a69b194d-e85a-299b-6856-c96ae2f3a73a"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the decision.",
            "example": "020fb13d-5b4f-77d6-5682-e1d8f161a580"
          },
          "decidedAt": {
            "type": "string",
            "description": "Timestamp indicating when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "Identifier of the user or system that made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit details associated with the decision.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata details associated with the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a loan application decision including details about the decision, financial terms, and any conditions attached to the decision.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "a69b194d-e85a-299b-6856-c96ae2f3a73a",
          "id": "020fb13d-5b4f-77d6-5682-e1d8f161a580",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1869ef36-5dc9-5037-a1a2-b7d93f324675",
            "correlationId": "f41fa1ba-46b4-575c-8e9d-e9c53f75d9e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ApprovedPrincipal": {
        "title": "Approved Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the principal is approved.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money approved as principal.",
            "example": "50000"
          }
        },
        "description": "This schema contains the currency and amount of the approved principal."
      },
      "Condition": {
        "title": "Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code identifying the condition.",
            "example": "C001"
          },
          "description": {
            "type": "string",
            "description": "A description of the condition that must be met.",
            "example": "Submit proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "A timestamp indicating the due date for meeting the condition.",
            "example": "2023-12-01T00:00:00Z"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition (e.g., pending, met).",
            "example": "pending"
          }
        },
        "description": "This schema represents a condition attached to the loan decision."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the decision was created.",
            "example": "2023-10-10T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the decision.",
            "example": "systemUser"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the decision was last updated.",
            "example": "2023-10-10T09:30:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the decision.",
            "example": "systemUser"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the decision.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "This schema contains audit information regarding the decision process."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "responseId789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple request/response pairs.",
            "example": "correlationId0001"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata related to the loan decision response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "decisionId": {
        "name": "decisionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being referenced in the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-credit-decision"
        },
        "example": "banking-loans-openapi-get-credit-decision"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens secured through JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header as 'Bearer <token>' for access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}