{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Channel Activity History-v5-spec",
    "description": "The Channel Activity History Management API enables financial institutions to capture and manage historical data related to banking operational services across various channels. This endpoint allows the creation of records detailing customer interactions and transactions, providing valuable insights for customer service enhancement and operational efficiency. Typical consumers include banking IT teams, operational analysts, and customer service managers, who utilize this information to analyze channel performance and improve service delivery. By centralizing activity history, organizations can better understand customer behavior and refine their strategies accordingly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-history": {
      "post": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Create a channel activity history entry.",
        "description": "This endpoint allows you to create a new entry in the channel activity history, tracking various activities associated with operational services. It is designed for integration with existing operational workflows to enhance monitoring and reporting capabilities.",
        "operationId": "createBankingOperationalServicesChannelActivityHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the POST operation to retrieve the channel activity history. This payload contains information necessary to make a request for channel activity data, including specific parameters that define the scope of the data to be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesChannelActivityHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and available for use.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesChannelActivityHistoryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesChannelActivityHistoryRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-707313"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-863623"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting channel activity history.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-707313",
          "accountId": "ACC-863623",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "095de73e-680d-58ed-8ff2-9402d119fbce",
            "correlationId": "1fbbcf58-f95f-50f1-9e7b-7f62f1ea3a55",
            "idempotencyKey": "0cdf7a3a-5fd5-543a-a196-a69b45d3f5f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946476"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request context was generated in ISO 8601 format.",
            "example": "2023-10-01T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "OrderManagement"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Details about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the request context of the operation."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., SMS, Email).",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the details of a communication channel."
      },
      "CreateBankingOperationalServicesChannelActivityHistoryResponse_201": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation.",
            "example": "CUST-402251"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the operation.",
            "example": "ACC-148885"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource impacted by the operation.",
            "example": "RES-102550"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for the channel activity history operation, indicating the details of the operation executed.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-402251",
          "accountId": "ACC-148885",
          "resourceId": "RES-102550",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a620337c-a2c8-582e-8f73-27ba060d59de",
            "correlationId": "1fbbcf58-f95f-50f1-9e7b-7f62f1ea3a55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the operation.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related events.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-10T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the operation took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the operation, providing additional contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-history-create-channel-activity-history"
        },
        "example": "channel-activity-history-create-channel-activity-history"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens, specifically in the JWT (JSON Web Token) format. This scheme requires requests to include a valid token in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}