{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Product Inventory Distribution Review-spec",
    "description": "The Product Inventory Distribution Review API facilitates the submission of reviews for product inventory distribution within specific banking channels. This endpoint allows businesses to collect feedback on inventory distributions for better decision-making and product management. Users such as channel managers and inventory analysts can leverage this API to enhance product visibility and accuracy. Typical use cases include evaluating inventory performance and integrating customer insights into inventory strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-distribution/{param1}/reviews": {
      "post": {
        "tags": [],
        "summary": "Submit a review for the specific product.",
        "description": "This endpoint allows users to submit reviews for the specified product under channel-specific inventory distribution. Ensure that all required fields are filled out correctly to successfully add your review.",
        "operationId": "createProductInventoryDistributionReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to submit reviews for the specified product in the channel-specific product inventory distribution. Ensure that all required fields are provided to successfully store the review.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductInventoryDistributionReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductInventoryDistributionReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductInventoryDistributionReviewRequest": {
        "title": "Product Inventory Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, detailing which aspects are being reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific area or element of the product that is under review.",
              "example": "Packaging"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier for the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "Deadline for completing the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the review request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting product inventory reviews.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "6a8eb77a-d0c8-52e6-a85d-090b9a6b1c82",
            "correlationId": "fe7376fe-2dc8-58b9-8320-0160a146495d",
            "idempotencyKey": "0c70d1e4-8181-519b-8d4b-e84385c02e74",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-626952"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abcdef"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate similar requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of the same request.",
            "example": "idemp-789012"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "InventoryManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing contextual information about the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Mobile, Web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-XYZ123"
          }
        },
        "description": "Schema representing information about the channel used in the request."
      },
      "CreateProductInventoryDistributionReviewResponse_202": {
        "title": "Product Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference to the action that was performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action processed.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for product review operations in the context of channel-specific product inventory distribution.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d1a8917f-b955-5bb6-b5ba-a1a81b603864",
            "correlationId": "fe7376fe-2dc8-58b9-8320-0160a146495d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "exampleResponseId"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "exampleCorrelationId"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata information regarding the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-distribution-review-product-inventory-distribution-processing"
        },
        "example": "product-inventory-distribution-review-product-inventory-distribution-processing"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application handling the request, providing context for behavior and compatibility.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer Authentication method. Clients need to include a valid JSON Web Token (JWT) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}