{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Parties Retrieval API",
    "description": "The Account Parties Retrieval API enables users to access detailed information about the parties associated with a specific bank account. It is designed for financial institutions and third-party service providers looking to integrate account-related features. By utilizing this API, developers can retrieve relevant party data such as account holders, authorized signatories, and other related entities. This API is essential for applications that require insights into account management and party affiliations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/parties": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve parties associated with a specific account.",
        "description": "This endpoint allows you to retrieve detailed information about the parties associated with the account identified by ACC-200045. It provides insights into the users or entities that have access to the account, which is essential for compliance and auditing purposes.",
        "operationId": "getAispAccountParties",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving parties associated with the specified account. It should follow the schema defined for the operation and must include any necessary authentication or filtering parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountPartiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of parties associated with the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountPartiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountPartiesRequest": {
        "title": "Account Parties Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving account parties in a specified operation.",
        "example": "{}"
      },
      "GetAispAccountPartiesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "type": "array",
                "description": "List of party objects associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            },
            "description": "Contains the details of parties.",
            "example": {
              "Party": [
                {
                  "id": "STANDARD",
                  "number": "STANDARD",
                  "type": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "FullLegalName": "Northstar Banking Service",
                  "LegalStructure": "STANDARD",
                  "LEI": "STANDARD",
                  "BeneficialOwnership": true,
                  "AccountRole": "DEBIT",
                  "EmailAddress": "olivia.bennett@northstar.example",
                  "Phone": "+1-212-555-0147",
                  "Mobile": "STANDARD",
                  "Relationships": {
                    "Account": {
                      "Related": "https://example.com/resource",
                      "Id": "STANDARD"
                    }
                  },
                  "Address": [
                    {
                      "type": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-981",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "line": [
                        "STANDARD"
                      ]
                    }
                  ]
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource."
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of resources."
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of resources."
              }
            },
            "description": "Links related to the request.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed."
              }
            },
            "description": "Metadata provides additional information about the response.",
            "example": {
              "responseId": "85a20e28-4c3d-5b95-869e-98c94084bbcd",
              "correlationId": "0ac331a3-90ad-5711-a5d4-718e9ff9c894",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving account party details.",
        "example": {
          "Data": {
            "Party": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-981",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "85a20e28-4c3d-5b95-869e-98c94084bbcd",
            "correlationId": "0ac331a3-90ad-5711-a5d4-718e9ff9c894",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party."
          },
          "number": {
            "type": "string",
            "description": "Account number associated with the party."
          },
          "type": {
            "type": "string",
            "description": "Type of the party (e.g., individual, corporation)."
          },
          "Name": {
            "type": "string",
            "description": "Name of the party."
          },
          "FullLegalName": {
            "type": "string",
            "description": "Full legal name of the party."
          },
          "LegalStructure": {
            "type": "string",
            "description": "Legal structure of the party (e.g., LLC, Corporation)."
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the party."
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates whether the party has beneficial ownership."
          },
          "AccountRole": {
            "type": "string",
            "description": "The role of the party in relation to the account."
          },
          "EmailAddress": {
            "type": "string",
            "description": "Email address of the party."
          },
          "Phone": {
            "type": "string",
            "description": "Phone number of the party."
          },
          "Mobile": {
            "type": "string",
            "description": "Mobile number of the party."
          },
          "Relationships": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "object",
                "properties": {
                  "Related": {
                    "type": "string",
                    "description": "Description of the relationship."
                  },
                  "Id": {
                    "type": "string",
                    "description": "Identifier of the related account."
                  }
                },
                "description": "Information about related accounts."
              }
            },
            "description": "Relationships that the party has with other accounts."
          },
          "Address": {
            "type": "array",
            "description": "List of addresses associated with the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Represents a party associated with an account."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department name, if applicable."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name, if applicable."
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the address."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number in the building."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number in the building."
          },
          "Room": {
            "type": "string",
            "description": "Room number in the building."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number, if applicable."
          },
          "TownLocationName": {
            "type": "string",
            "description": "The town or location name."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address, if applicable."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., state, province)."
          },
          "Country": {
            "type": "string",
            "description": "Country of the address."
          },
          "line": {
            "type": "array",
            "description": "Line items of the address, if applicable.",
            "items": {
              "type": "string",
              "description": "Each line of the address."
            }
          }
        },
        "description": "Represents an address associated with a party."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that is being accessed. This can be used for tracing requests and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-parties"
        },
        "example": "accounts-api-get-accounts-account-id-parties"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the 'Authorization' header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}