{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reconciliation Runs Exception Management API",
    "description": "The Reconciliation Runs Exception Management API provides tools to access and manage exceptions related to reconciliation runs. This endpoint allows users to retrieve a detailed list of exceptions associated with specific reconciliation processes identified by {param1}. Ideal for finance and auditing teams, it helps streamline exception handling and improve compliance through accurate reporting. Typical consumers of this API include financial analysts and reconciliation specialists who need to ensure data accuracy and resolve discrepancies effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs/{param1}/exceptions": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Retrieve exceptions for a specific reconciliation run.",
        "description": "This endpoint allows you to fetch the exceptions associated with a particular reconciliation run identified by its unique ID. It is useful for understanding any issues that occurred during the reconciliation process.",
        "operationId": "getReconciliationRunExceptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters needed to retrieve exceptions related to the reconciliation run identified by RES-100045. It should include all required fields according to the schema defined in the components section.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetReconciliationRunExceptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of exceptions for the specified reconciliation run.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReconciliationRunExceptionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetReconciliationRunExceptionsRequest": {
        "type": "string",
        "description": "This schema represents an exception message related to reconciliation runs.",
        "example": "{}"
      },
      "GetReconciliationRunExceptionsResponse_200": {
        "title": "Reconciliation Run Exceptions Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the result set.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items returned per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there are more pages of results available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Links related to the pagination of the results.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "A list of exceptions found in the reconciliation run.",
            "example": [
              {
                "exceptionId": "STANDARD",
                "type": "STANDARD",
                "sourceAReference": "STANDARD",
                "sourceBReference": "STANDARD",
                "sourceAAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "sourceBAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "difference": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "status": "ACTIVE",
                "resolutionNote": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ExceptionItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for fetching reconciliation run exceptions.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "exceptionId": "STANDARD",
              "type": "STANDARD",
              "sourceAReference": "STANDARD",
              "sourceBReference": "STANDARD",
              "sourceAAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "sourceBAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "difference": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "status": "ACTIVE",
              "resolutionNote": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "af1afaef-2ad2-5987-b319-7a9d89b439ef",
            "correlationId": "e4f06b4a-1d37-5759-9222-1833e7f5795e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Pagination Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL of the linked resource.",
            "example": "https://api.example.com/next"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to be used with the link.",
            "example": "GET"
          }
        },
        "description": "Schema representing a link for pagination purposes."
      },
      "ExceptionItem": {
        "title": "Exception Item",
        "type": "object",
        "properties": {
          "exceptionId": {
            "type": "string",
            "description": "The unique identifier for the exception.",
            "example": "EXC123"
          },
          "type": {
            "type": "string",
            "description": "The type of the exception.",
            "example": "Mismatch"
          },
          "sourceAReference": {
            "type": "string",
            "description": "Reference from source A related to the exception.",
            "example": "SRC_A_001"
          },
          "sourceBReference": {
            "type": "string",
            "description": "Reference from source B related to the exception.",
            "example": "SRC_B_001"
          },
          "sourceAAmount": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "sourceBAmount": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "difference": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "status": {
            "type": "string",
            "description": "The status of the exception.",
            "example": "Open"
          },
          "resolutionNote": {
            "type": "string",
            "description": "Notes regarding the resolution of the exception.",
            "example": "Needs review"
          }
        },
        "description": "Schema representing a single exception item in the reconciliation run."
      },
      "AmountDetail": {
        "title": "Amount Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with currency and value."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request/response correlation.",
            "example": "CORR789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-03-17T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-reconciliation-exceptions"
        },
        "example": "banking-p2m-openapi-list-reconciliation-exceptions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token format for authentication, specifically JSON Web Tokens (JWT). When using this scheme, the client must include the JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}