{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Consumer Service By Param1-spec",
    "description": "The Trust Services Update API allows businesses to modify existing consumer service records based on a specific parameter. This API provides the ability to update detailed attributes of trust services associated with individual consumers, facilitating the customization of offerings. Typical consumers of this API include banking and financial institutions looking to enhance consumer engagements and service personalization. Use cases include adjusting service parameters to reflect changes in consumer preferences or regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/trust-services/{param1}": {
      "patch": {
        "tags": [
          "Trust Services"
        ],
        "summary": "Update Trust Service Resource",
        "description": "This endpoint allows you to update the details of a specific trust service resource identified by 'RES-100045'. Utilize this to modify any relevant attributes as per your requirements.",
        "operationId": "updateConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the trusted services for the specified consumer. The payload must contain the necessary data to accurately reflect the desired changes to the existing trust services.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerServiceByParam1Request": {
        "title": "Patch Request Body for Trust Services Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect (ISO 8601 format).",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema defining the structure of the request body for updating trust services operations.",
        "example": {
          "changes": {
            "customerId": "CUST-373415",
            "serviceRequestId": "c1d5fb4a-a9b7-5bf9-9522-747b8abe7445",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9c24ee64-8549-5b9d-9706-74171d5e3ffd",
            "correlationId": "b33793bd-b14c-528b-9102-6682065040dd",
            "idempotencyKey": "ee842f58-d37e-5811-8651-4979501d66ca",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-699092"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The identifier of the customer associated with the change.",
            "example": "cust_12345"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier of the service request being modified.",
            "example": "req_67890"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product that is being updated.",
            "example": "PROD123"
          }
        },
        "description": "Schema representing the changes to be applied in the request."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request across systems.",
            "example": "corr_12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idemp_67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made (ISO 8601 format).",
            "example": "2023-10-02T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Client Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context information for the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device_12345"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateConsumerServiceByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the trust services API, indicating the result of the operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6720c1a2-dc74-5b20-96fe-fc6aaee8b487",
            "correlationId": "b33793bd-b14c-528b-9102-6682065040dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trust-services-update-trust-services"
        },
        "example": "trust-services-update-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request, indicating the service responsible for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a JSON Web Token (JWT) in the Authorization header of the request. The token is used to authenticate the identity of the client and to grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}