{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Reporting API",
    "description": "The Trade Reporting API enables users to access detailed reports regarding trade transactions within the banking market operations. It allows consumers, such as financial analysts and compliance officers, to retrieve critical trade data for analysis and reporting purposes. This endpoint provides insights into trading activity, facilitating regulatory compliance and performance evaluation. Use cases include monitoring trading performance, assessing risk exposure, and ensuring adherence to legal reporting requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-reporting": {
      "get": {
        "tags": [
          "Market Operations"
        ],
        "summary": "Retrieve trade reporting data.",
        "description": "Fetches the latest trade reporting information from the market operations. This endpoint provides detailed insights and statistics regarding trade activities, helping users make informed decisions based on real-time data.",
        "operationId": "getTradeReporting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve trade reporting data from the market operations. It should contain the necessary parameters to filter the trade reports according to specific criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of trade reporting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeReportingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeReportingRequest": {
        "title": "Trade Reporting Request Body",
        "type": "string",
        "description": "Represents the request body for the trade reporting operations in JSON format.",
        "example": "{}"
      },
      "GetTradeReportingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trade report items returned by the query.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeReportItem"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the results.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata regarding the query response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Response schema for the trade reporting operation query, including trade items, pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "640e2668-edc5-585e-8c4b-9c56f48e216c",
            "correlationId": "58d3dfc4-60d1-5928-86c3-f2b05df114a0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeReportItem": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "12345"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "ABC123"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date when the trade will be settled.",
            "example": "2023-10-01"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument traded.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the trade will be settled.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian handling the trade.",
            "example": "Custodian01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the trade record.",
            "example": "Completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the trade record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual trade report item."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination information."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-56789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-and-price-reporting-search-trade-and-price-reporting"
        },
        "example": "trade-and-price-reporting-search-trade-and-price-reporting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients should include the JWT in the Authorization header of their requests in the format: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}