{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Details Retrieval API",
    "description": "The Business Details Retrieval API allows users to retrieve comprehensive information about a specific business using its unique identifier. This API serves as a critical resource for applications that need to present business profiles, offering insights such as contact data, operational hours, and service offerings. Typical consumers include third-party developers, business analysts, and customer service representatives who require access to accurate business information for various use cases like customer queries or data analytics. By leveraging this API, organizations can enhance their service offerings and improve user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/businesses/{businessId}": {
      "get": {
        "tags": [
          "Business Operations"
        ],
        "summary": "Retrieve business details by ID.",
        "description": "Fetches comprehensive information about a specific business identified by its unique ID. Utilize this endpoint to obtain details such as the name, location, and other relevant attributes of the business.",
        "operationId": "getBusinessByIdRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/businessId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch details about a specific business identified by its unique ID. Ensure to structure your request correctly to retrieve the relevant information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessByIdRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the business details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessByIdRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessByIdRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to businesses.",
        "example": "{}"
      },
      "GetBusinessByIdRes100045Response_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of business items.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operations on businesses, containing a list of business items and metadata about the response.",
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "777788b9-0ac3-533c-8ce5-8a8e265dbec2",
            "correlationId": "015432fb-d821-598c-9e39-614b36219b65",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Example Business Name"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates whether the person is personally liable for the business.",
            "example": false
          },
          "address": {
            "$ref": "#/components/schemas/BusinessAddress"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com"
          },
          "email": {
            "type": "string",
            "description": "The email address of the business.",
            "example": "contact@example.com"
          },
          "type": {
            "type": "string",
            "description": "The type of business entity.",
            "example": "LLC"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "123-45-6789"
          },
          "businessId": {
            "type": "string",
            "description": "Unique identifier for the business.",
            "example": "business-123"
          },
          "createdDate": {
            "type": "string",
            "description": "The date the business was created.",
            "example": "2021-01-01T00:00:00Z"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date the business information was last modified.",
            "example": "2021-06-01T00:00:00Z"
          }
        },
        "description": "Schema representing a business item with its details."
      },
      "BusinessAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Example St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (optional).",
            "example": "Suite A"
          },
          "city": {
            "type": "string",
            "description": "The city where the business is located.",
            "example": "Example City"
          },
          "state": {
            "type": "string",
            "description": "The state where the business is located.",
            "example": "CA"
          },
          "country": {
            "type": "string",
            "description": "The country where the business is located.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the business address.",
            "example": "90210"
          }
        },
        "description": "Schema representing the address details of a business."
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "The country code for the phone number.",
            "example": "+1"
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number.",
            "example": "2345678900"
          }
        },
        "description": "Schema representing the phone number details of a business."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata related to the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "businessId": {
        "name": "businessId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-id"
        },
        "example": "open-finance-api-get-business-by-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer Authorization scheme using JSON Web Tokens (JWT) for secure access control. Include a 'Bearer' token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}