{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Accounts-spec",
    "description": "The AISP Accounts Retrieval API allows applications to securely access and list available AISP accounts for users. This endpoint is pivotal for financial service providers seeking to provide their users with a comprehensive overview of their account holdings. Typical consumers include banks, fintech companies, and developers building payment solutions that require visibility into user assets. By leveraging this API, clients can enhance customer experiences and facilitate informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts": {
      "get": {
        "tags": [],
        "summary": "Retrieve a list of AISP accounts.",
        "description": "This endpoint allows developers to fetch a comprehensive list of accounts accessible via the AISP (Account Information Service Provider). It provides detailed information about each account, including identifiers and relevant attributes.",
        "operationId": "listAispAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of account details from the AISP service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on accounts in the AISPS service.",
        "example": "{}"
      },
      "ListAispAccountsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "array",
                "description": "List of accounts.",
                "items": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            },
            "description": "Contains account data.",
            "example": {
              "Account": [
                {
                  "id": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "Currency": "USD",
                  "category": "STANDARD",
                  "typeCode": "CODE-246",
                  "Description": "Customer banking request processed successfully",
                  "Nickname": "Northstar Banking Service",
                  "OpeningDate": "2026-09-15",
                  "MaturityDate": "2026-09-15",
                  "SwitchStatus": "ACTIVE",
                  "Account": [
                    {
                      "SchemeName": "Northstar Banking Service",
                      "Identification": "STANDARD",
                      "Name": "Northstar Banking Service",
                      "LEI": "STANDARD",
                      "SecondaryIdentification": "STANDARD"
                    }
                  ],
                  "StatementFrequencyAndFormat": [
                    {
                      "Frequency": "STANDARD",
                      "CommunicationMethod": "STANDARD",
                      "Format": "STANDARD",
                      "DeliveryAddress": {
                        "AddressType": "STANDARD",
                        "Department": "STANDARD",
                        "SubDepartment": "STANDARD",
                        "StreetName": "Northstar Banking Service",
                        "BuildingNumber": "STANDARD",
                        "BuildingName": "Northstar Banking Service",
                        "Floor": "STANDARD",
                        "UnitNumber": "STANDARD",
                        "Room": "STANDARD",
                        "PostBox": "STANDARD",
                        "TownLocationName": "Northstar Banking Service",
                        "DistrictName": "Northstar Banking Service",
                        "CareOf": "STANDARD",
                        "PostCode": "CODE-575",
                        "TownName": "Northstar Banking Service",
                        "CountrySubDivision": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving account operations.",
        "example": {
          "Data": {
            "Account": [
              {
                "id": "STANDARD",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "Currency": "USD",
                "category": "STANDARD",
                "typeCode": "CODE-246",
                "Description": "Customer banking request processed successfully",
                "Nickname": "Northstar Banking Service",
                "OpeningDate": "2026-09-15",
                "MaturityDate": "2026-09-15",
                "SwitchStatus": "ACTIVE",
                "Account": [
                  {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "LEI": "STANDARD",
                    "SecondaryIdentification": "STANDARD"
                  }
                ],
                "StatementFrequencyAndFormat": [
                  {
                    "Frequency": "STANDARD",
                    "CommunicationMethod": "STANDARD",
                    "Format": "STANDARD",
                    "DeliveryAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-575",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "5fba91ed-5b6c-519f-bf0c-912c0e64a474",
            "correlationId": "49c73627-f730-5a08-b7a4-21e97e545481",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the account."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time of the last status update."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the account."
          },
          "category": {
            "type": "string",
            "description": "Category of the account."
          },
          "typeCode": {
            "type": "string",
            "description": "Type code of the account."
          },
          "Description": {
            "type": "string",
            "description": "Description of the account."
          },
          "Nickname": {
            "type": "string",
            "description": "User-defined nickname for the account."
          },
          "OpeningDate": {
            "type": "string",
            "description": "Opening date of the account."
          },
          "MaturityDate": {
            "type": "string",
            "description": "Maturity date of the account if applicable."
          },
          "SwitchStatus": {
            "type": "string",
            "description": "Switching status of the account."
          },
          "Account": {
            "type": "array",
            "description": "Details of associated account identifiers.",
            "items": {
              "$ref": "#/components/schemas/AccountIdentifier"
            }
          },
          "StatementFrequencyAndFormat": {
            "type": "array",
            "description": "Defines the frequency and format of account statements.",
            "items": {
              "$ref": "#/components/schemas/StatementFrequency"
            }
          }
        },
        "description": "Schema representing an account with detailed information."
      },
      "AccountIdentifier": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the identification scheme."
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification number."
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder."
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification information."
          }
        },
        "description": "Schema representing the account identifiers."
      },
      "StatementFrequency": {
        "type": "object",
        "properties": {
          "Frequency": {
            "type": "string",
            "description": "The frequency of the statement (e.g., monthly, quarterly)."
          },
          "CommunicationMethod": {
            "type": "string",
            "description": "Method of communication for sending statements."
          },
          "Format": {
            "type": "string",
            "description": "Format of the statement (e.g., PDF, HTML)."
          },
          "DeliveryAddress": {
            "$ref": "#/components/schemas/DeliveryAddress"
          }
        },
        "description": "Schema defining the frequency and format of statements."
      },
      "DeliveryAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department name if applicable."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name if applicable."
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the address."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address."
          },
          "BuildingName": {
            "type": "string",
            "description": "Building name of the address."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number if applicable."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number of the address."
          },
          "Room": {
            "type": "string",
            "description": "Room number if applicable."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number if applicable."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Town or location name."
          },
          "DistrictName": {
            "type": "string",
            "description": "District name."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address if applicable."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code."
          },
          "TownName": {
            "type": "string",
            "description": "Town name."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country."
          }
        },
        "description": "Schema representing the delivery address for statement communication."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts"
        },
        "example": "accounts-api-get-accounts"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method is typically used to transmit a JSON Web Token (JWT) for securing API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}