{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Loandetails-spec",
    "description": "The Account Loan Details Retrieval API allows users to access detailed loan information associated with specific customer accounts. This endpoint is essential for financial institutions and service providers looking to offer insights into individual loan products. Developers can leverage this API to enhance customer service experiences by providing timely data on loan terms, balances, and repayment schedules. Typical consumers include account managers and financial analysts tasked with assisting customers in managing their loans effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/loandetails": {
      "get": {
        "tags": [
          "CustomerAccounts"
        ],
        "summary": "Retrieve loan details for a specific customer account.",
        "description": "This endpoint allows users to fetch detailed information about loans associated with a specific customer account. It provides insights into the current status, amounts, and repayment schedules of loans linked to the given account, enabling effective financial management.",
        "operationId": "listAccountLoandetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve loan details associated with a specific account for a customer. It includes necessary parameters and authentication tokens to process the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountLoandetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan details for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountLoandetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountLoandetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the loan details operation for a specific customer and account.",
        "example": "{}"
      },
      "ListAccountLoandetailsResponse_200": {
        "title": "Loan Details Response",
        "type": "object",
        "properties": {
          "loanNumber": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "STANDARD"
          },
          "loanPaymentNumber": {
            "type": "string",
            "description": "The payment number associated with the loan.",
            "example": "STANDARD"
          },
          "loanPaymentAddress": {
            "type": "string",
            "description": "The address where loan payments are made.",
            "example": "STANDARD"
          },
          "accountDetail": {
            "description": "Details of the account associated with the loan.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "metadata": {
            "description": "Metadata information about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for retrieving loan details for a specific account.",
        "example": {
          "loanNumber": "STANDARD",
          "loanPaymentNumber": "STANDARD",
          "loanPaymentAddress": "STANDARD",
          "accountDetail": {
            "accountId": "ACC-103246",
            "accountNumber": "STANDARD",
            "accountPaymentNumber": "STANDARD",
            "accountPaymentAddress": "STANDARD",
            "amount": 100.0,
            "accountFuturePayoffDate": "2026-09-15",
            "groupDetail": [
              {
                "accountId": "ACC-611579",
                "groupNumber": "STANDARD",
                "groupPaymentNumber": "STANDARD",
                "groupPaymentAddress": "STANDARD",
                "groupFuturePayoffAmount": 100.0,
                "groupFuturePayoffDate": "2026-09-15",
                "groupLoanDetail": [
                  {
                    "accountId": "ACC-579816",
                    "loanNumber": "STANDARD",
                    "loanPaymentNumber": "STANDARD",
                    "loanPaymentAddress": "STANDARD",
                    "loanFuturePayoffAmount": 100.0,
                    "loanFuturePayoffDate": "2026-09-15"
                  }
                ]
              }
            ],
            "loanDetail": [
              {
                "accountId": "ACC-157612",
                "loanNumber": "STANDARD",
                "loanPaymentNumber": "STANDARD",
                "loanPaymentAddress": "STANDARD",
                "loanFuturePayoffAmount": 100.0,
                "loanFuturePayoffDate": "2026-09-15"
              }
            ]
          },
          "metadata": {
            "responseId": "a4ca79c6-361f-54d3-be6c-62cb22e32e92",
            "correlationId": "55eb9240-0ff9-5fa7-9f30-da4bb5801ca3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "title": "Account Detail",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with this account.",
            "example": "string"
          },
          "accountPaymentNumber": {
            "type": "string",
            "description": "The payment number associated with the account.",
            "example": "string"
          },
          "accountPaymentAddress": {
            "type": "string",
            "description": "The address where account payments are made.",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "The current amount associated with this account.",
            "example": 0.0
          },
          "accountFuturePayoffDate": {
            "type": "string",
            "description": "The future date when the account will be paid off.",
            "example": "string"
          },
          "groupDetail": {
            "type": "array",
            "description": "List of group details related to the account.",
            "items": {
              "$ref": "#/components/schemas/GroupDetail"
            }
          },
          "loanDetail": {
            "type": "array",
            "description": "List of loan details associated with the account.",
            "items": {
              "$ref": "#/components/schemas/LoanDetail"
            }
          }
        },
        "description": "Schema representing the detailed information of an account."
      },
      "GroupDetail": {
        "title": "Group Detail",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the group account.",
            "example": "string"
          },
          "groupNumber": {
            "type": "string",
            "description": "The group number associated with this group.",
            "example": "string"
          },
          "groupPaymentNumber": {
            "type": "string",
            "description": "The payment number associated with the group.",
            "example": "string"
          },
          "groupPaymentAddress": {
            "type": "string",
            "description": "The address where group payments are made.",
            "example": "string"
          },
          "groupFuturePayoffAmount": {
            "type": "number",
            "description": "The future payoff amount for the group.",
            "example": 0.0
          },
          "groupFuturePayoffDate": {
            "type": "string",
            "description": "The future date when the group will be paid off.",
            "example": "string"
          },
          "groupLoanDetail": {
            "type": "array",
            "description": "List of loan details associated with the group.",
            "items": {
              "$ref": "#/components/schemas/LoanDetail"
            }
          }
        },
        "description": "Schema representing details for a group associated with the account."
      },
      "LoanDetail": {
        "title": "Loan Detail",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the loan.",
            "example": "string"
          },
          "loanNumber": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "string"
          },
          "loanPaymentNumber": {
            "type": "string",
            "description": "The payment number associated with the loan.",
            "example": "string"
          },
          "loanPaymentAddress": {
            "type": "string",
            "description": "The address where loan payments are made.",
            "example": "string"
          },
          "loanFuturePayoffAmount": {
            "type": "number",
            "description": "The future payoff amount for the loan.",
            "example": 0.0
          },
          "loanFuturePayoffDate": {
            "type": "string",
            "description": "The future date when the loan will be paid off.",
            "example": "string"
          }
        },
        "description": "Schema representing details of a loan associated with the account."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that processed the request, useful for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-loan-payment-details"
        },
        "example": "open-finance-api-get-loan-payment-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. Clients are required to send a valid JSON Web Token (JWT) as part of the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}