{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Settlement Process-spec",
    "description": "The Settlement Process Management API is designed to facilitate the initiation of settlement processes within a payment system. This endpoint allows users to process a specific settlement identified by its unique ID. Typical consumers include financial institutions and service providers managing payment settlements. The API streamlines settlement operations, ensuring swift and accurate transaction handling, essential for maintaining efficient cash flow and reconciliation processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/process": {
      "post": {
        "tags": [
          "Settlement Processing"
        ],
        "summary": "Process a specific settlement.",
        "description": "This endpoint allows you to initiate the processing of the settlement identified by RES-100045. Upon successful execution, the system will handle the relevant business logic required to process the settlement.",
        "operationId": "createSettlementProcess",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the processing of the settlement identified by RES-100045. The content should conform to the specified JSON schema, which outlines the required parameters and their formats. Make sure to provide all necessary details for a successful processing operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettlementProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the settlement process is initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSettlementProcessResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSettlementProcessRequest": {
        "type": "object",
        "properties": {
          "payoutDate": {
            "type": "string",
            "description": "The date on which the payout is scheduled.",
            "example": "2026-09-15"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the payout request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for settlement processing operations.",
        "example": {
          "payoutDate": "2026-09-15",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "afca0e04-195c-5091-b86f-4f2adddb9b56",
            "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
            "idempotencyKey": "1af264f9-ca22-5808-a8ce-dbcdaf13bf2d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-292121"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs and events.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent processing.",
            "example": "idempotency-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system of the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel used.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Schema containing information about the request channel."
      },
      "CreateSettlementProcessResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "The unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the settlement.",
            "example": "MER-151605"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The unique identifier for the settlement account.",
            "example": "ACC-518302"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the settlement is expressed.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary details of the settlement including various financial metrics.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "The number of lines in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "The reference number for the bank payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "The expected date and time of the payout.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "The date and time when the payment was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for the settlement record.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for a settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-151605",
          "settlementAccountId": "ACC-518302",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "6a2e9aba-0f74-5762-8b2a-36e401db3f55",
            "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "The total gross payments for the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "refunds": {
            "description": "The total refunds processed during the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "reversals": {
            "description": "The total reversals made during the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "disputes": {
            "description": "The total disputes raised during the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "fees": {
            "description": "The total fees incurred during the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "taxes": {
            "description": "The total taxes applied during the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "reserveHeld": {
            "description": "The total reserve amount held during the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "reserveReleased": {
            "description": "The total reserve amount released during the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "adjustments": {
            "description": "Any adjustments made to the settlement.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "netSettlement": {
            "description": "The net settlement amount after all calculations.",
            "$ref": "#/components/schemas/FinancialMetric"
          },
          "lineCount": {
            "type": "integer",
            "description": "The number of lines in the summary report.",
            "format": "int32",
            "example": 10
          }
        },
        "description": "Details of the financial summary for a settlement."
      },
      "FinancialMetric": {
        "title": "Financial Metric",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the financial metric.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The amount value of the financial metric.",
            "example": "1000.00"
          }
        },
        "description": "Represents a financial metric including value and currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the record was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the record.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2023-01-15T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the record.",
            "example": "user456"
          }
        },
        "description": "Contains details about the creation and modification of the settlement record."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Contains additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-process-settlement"
        },
        "example": "banking-p2m-openapi-process-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of Bearer authentication for API calls. The bearer token is a JSON Web Token (JWT) that must be included in the `Authorization` header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}