{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bill Pay Switch Management API",
    "description": "The Bill Pay Switch Management API provides essential functionality for managing bill payment preferences for customers. This endpoint allows users to retrieve detailed information about the bill pay switches associated with a specific customer, identified by their unique customer ID and additional parameters. It is designed for financial services developers who are implementing features related to customer billing management and payment processes. Common use cases include checking the status of bill pay capabilities or adjusting customer preferences for automated payments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/bill-pay-switches/{param2}": {
      "get": {
        "tags": [
          "Billing Management"
        ],
        "summary": "Retrieve Bill Pay Switches for a Customer",
        "description": "This API endpoint allows you to retrieve the current status and details of bill pay switches for a specific customer identified by their unique ID. This information can be crucial for managing customer billing preferences efficiently.",
        "operationId": "getBillPaySwitchesForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the billing pay switches for the specified customer. It contains all the necessary parameters and identifiers to execute the operation successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBillPaySwitchesForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the bill pay switch details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillPaySwitchesForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBillPaySwitchesForCustomerCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the bill pay switches operation in the customer service system.",
        "example": "{}"
      },
      "GetBillPaySwitchesForCustomerCUST100045Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-591628"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "switchId": {
            "type": "string",
            "description": "The identifier for the switch related to bill payment.",
            "example": "STANDARD"
          },
          "switchStatus": {
            "type": "string",
            "description": "The current status of the bill payment switch.",
            "example": "ACTIVE"
          },
          "failureReason": {
            "type": "string",
            "description": "The reason for any failure related to the switch.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the switch was created.",
            "example": "2026-09-15"
          },
          "updatedDate": {
            "type": "string",
            "description": "The date and time when the switch was last updated.",
            "example": "2026-09-15"
          },
          "authenticated": {
            "type": "boolean",
            "description": "Indicates whether the customer has been authenticated.",
            "example": true
          },
          "provider": {
            "description": "Details about the provider associated with the switch.",
            "$ref": "#/components/schemas/Provider"
          },
          "paymentMethods": {
            "type": "array",
            "description": "A list of payment methods available for the customer.",
            "example": [
              {
                "type": "STANDARD",
                "title": "Banking operation completed",
                "brand": "STANDARD",
                "bankIdentifier": "STANDARD",
                "endsWith": "STANDARD",
                "bankAccountType": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "customerId": "CUST-591628",
          "customerType": "STANDARD",
          "switchId": "STANDARD",
          "switchStatus": "ACTIVE",
          "failureReason": "STANDARD",
          "createdDate": "2026-09-15",
          "updatedDate": "2026-09-15",
          "authenticated": true,
          "provider": {
            "id": "STANDARD",
            "name": "Northstar Banking Service"
          },
          "paymentMethods": [
            {
              "type": "STANDARD",
              "title": "Banking operation completed",
              "brand": "STANDARD",
              "bankIdentifier": "STANDARD",
              "endsWith": "STANDARD",
              "bankAccountType": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "e30c5a09-fb53-53b5-b427-63e3cffb74f1",
            "correlationId": "98c0aad9-4a9a-5c81-8ba4-bb6208e28067",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the provider.",
            "example": "PROV-1001"
          },
          "name": {
            "type": "string",
            "description": "The name of the provider.",
            "example": "Bank of Example"
          }
        },
        "description": "Information about the payment provider."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the payment method (e.g., credit card, bank transfer).",
            "example": "credit card"
          },
          "title": {
            "type": "string",
            "description": "The title of the payment method.",
            "example": "Visa"
          },
          "brand": {
            "type": "string",
            "description": "The brand associated with the payment method.",
            "example": "Visa"
          },
          "bankIdentifier": {
            "type": "string",
            "description": "The identifier for the bank associated with the payment method.",
            "example": "BANK-001"
          },
          "endsWith": {
            "type": "string",
            "description": "The last digits of the payment method, commonly for cards.",
            "example": "1234"
          },
          "bankAccountType": {
            "type": "string",
            "description": "The type of bank account (e.g., checking, savings).",
            "example": "checking"
          }
        },
        "description": "Details of an individual payment method available to the customer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RES-200"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing the request.",
            "example": "CORR-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-10T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata providing additional context about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint generated for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-bill-pay-switch-details"
        },
        "example": "open-finance-api-get-bill-pay-switch-details"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the request is processed, used for monitoring and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). The JWT allows secure transmission of information between parties as a JSON object. It is important to include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}