{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Operational Services Internal Bank Account By Internal Bank Account Id-v5-spec",
    "description": "The Update Internal Bank Account API allows authorized users to modify the details of existing internal bank accounts by specifying the account's unique identifier. This endpoint is essential for financial institutions and operational teams managing banking services to ensure that account information remains accurate and up-to-date. Typical consumers include banking system administrators and financial software applications that require synchronization of account data. By utilizing this API, organizations can efficiently handle changes in account details, improving operational efficiency and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account/{internalBankAccountId}": {
      "patch": {
        "tags": [
          "InternalBankAccountManagement"
        ],
        "summary": "Update internal bank account details.",
        "description": "This operation allows you to modify the details of the specified internal bank account identified by ACC-200045. It is important to ensure that all required fields are appropriately filled and validated before submitting the update request.",
        "operationId": "updateBankingOperationalServicesInternalBankAccountByInternalBankAccountId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/internalBankAccountId"
          }
        ],
        "requestBody": {
          "description": "This request body allows for the modification of an internal bank account with the specified account number (ACC-200045). It contains the necessary fields to update the account's operational services parameters. Ensure to include only the fields that need to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingOperationalServicesInternalBankAccountByInternalBankAccountIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource is updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingOperationalServicesInternalBankAccountByInternalBankAccountIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingOperationalServicesInternalBankAccountByInternalBankAccountIdRequest": {
        "title": "Bank Account Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the bank account.",
            "$ref": "#/components/schemas/AccountChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being made to the account.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes are effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body to update an internal bank account.",
        "example": {
          "changes": {
            "operationId": "STANDARD",
            "customerId": "CUST-910002",
            "accountId": "ACC-506558"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2ac97acc-9f12-51e1-8147-bfa4e446def1",
            "correlationId": "0dfc4e53-f541-53f0-8900-372683f52474",
            "idempotencyKey": "c03da3e4-0ede-5542-b519-c673c5176924",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-571519"
            }
          }
        }
      },
      "AccountChanges": {
        "title": "Account Changes",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The identifier for the operation being performed on the account.",
            "example": "operation-001"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier of the customer associated with this account.",
            "example": "customer-456"
          },
          "accountId": {
            "type": "string",
            "description": "The identifier of the bank account being updated.",
            "example": "account-789"
          }
        },
        "description": "Schema representing the changes to be applied to a bank account."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across services.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "bank-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema encapsulating context information for the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request was made.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateBankingOperationalServicesInternalBankAccountByInternalBankAccountIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on internal bank account.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8ae4d2d9-2337-530d-8a2c-818d8622c4fc",
            "correlationId": "0dfc4e53-f541-53f0-8900-372683f52474",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional contextual information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "internalBankAccountId": {
        "name": "internalBankAccountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-update-internal-bank-account"
        },
        "example": "internal-bank-account-update-internal-bank-account"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for secure access. Clients must include a valid JWT in the 'Authorization' header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}