{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Corporate Relation Corporate Partnerships-spec",
    "description": "The Corporate Partnerships Listing API enables users to access and explore detailed information about corporate partnerships within the banking sector. This endpoint primarily serves financial institutions, business analysts, and corporate strategists who need to review partnership options and relations. Users can retrieve a comprehensive list of corporate partnerships, including key details and attributes. This functionality supports strategic decision-making and enhances partnership management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-partnerships": {
      "get": {
        "tags": [
          "Corporate Partnerships"
        ],
        "summary": "Retrieve a list of corporate partnerships.",
        "description": "This endpoint allows you to fetch detailed information about all corporate partnerships, including their statuses and associated entities. It is designed to provide insights into the collaborative efforts within the corporate relations domain.",
        "operationId": "listCorporateRelationCorporatePartnerships",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about corporate partnerships. It should conform to the required schema defined for the GET operation on corporate partnerships.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCorporateRelationCorporatePartnershipsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of corporate partnerships.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCorporateRelationCorporatePartnershipsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCorporateRelationCorporatePartnershipsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to corporate partnerships in the corporate relations context.",
        "example": "{}"
      },
      "ListCorporateRelationCorporatePartnershipsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of corporate partnership items.",
            "example": [
              {
                "stakeholderId": "STANDARD",
                "engagementId": "STANDARD",
                "subject": "STANDARD",
                "scheduledAt": "2026-08-11T12:00:00Z",
                "relationshipOwnerId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PartnershipItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the retrieved items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving corporate partnerships including pagination and metadata information.",
        "example": {
          "items": [
            {
              "stakeholderId": "STANDARD",
              "engagementId": "STANDARD",
              "subject": "STANDARD",
              "scheduledAt": "2026-08-11T12:00:00Z",
              "relationshipOwnerId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6a7391b2-9a81-56d3-a232-cf904d63823b",
            "correlationId": "0ea5b4a8-df24-5fce-9eee-d99dbf120d9a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PartnershipItem": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder involved in the partnership."
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement related to the partnership."
          },
          "subject": {
            "type": "string",
            "description": "Subject of the partnership engagement."
          },
          "scheduledAt": {
            "type": "string",
            "description": "Date and time when the partnership engagement is scheduled."
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the partnership relationship."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the partnership record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the partnership was last updated."
          }
        },
        "description": "Details regarding each corporate partnership item.",
        "example": {
          "stakeholderId": "string",
          "engagementId": "string",
          "subject": "Quarterly Review",
          "scheduledAt": "2023-10-15T10:00:00Z",
          "relationshipOwnerId": "string",
          "recordStatus": "active",
          "updatedAt": "2023-09-30T12:00:00Z"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page, indicating how many items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Metadata for paginated responses.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information regarding the API response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "2023-10-01T00:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-alliance-and-stake-holder-search-corporate-alliance-and-stake-holder"
        },
        "example": "corporate-alliance-and-stake-holder-search-corporate-alliance-and-stake-holder"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. Tokens are typically JSON Web Tokens (JWT) that are used to authenticate users and authorize access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}