{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking It Management Platform Operations-v5-spec",
    "description": "The Banking IT Management Platform Operations API provides access to the various operational components of a banking IT management system. This endpoint allows users to retrieve detailed information about current platform operations, facilitating oversight and management tasks. Typical consumers of this API include IT administrators and business analysts seeking to monitor system performance and operational efficiency. The API is designed to support the effective management of banking IT resources and enhance operational decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/platform-operations": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve platform operations in IT management.",
        "description": "This endpoint allows users to fetch details about various platform operations within the IT management system. It provides insights into current operations and their statuses, enabling better monitoring and decision-making.",
        "operationId": "listBankingItManagementPlatformOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving platform operations in IT management. This body should conform to the specified JSON schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingItManagementPlatformOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested platform operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingItManagementPlatformOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingItManagementPlatformOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation under the IT Management platform operations. It is expected to contain a string value.",
        "example": "{}"
      },
      "ListBankingItManagementPlatformOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of operational items retrieved from the system.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationalItem"
            }
          },
          "pagination": {
            "description": "Metadata related to the pagination of the response.",
            "$ref": "#/components/schemas/PaginationMetadata"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items retrieved.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response itself.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the operations GET request, containing a list of operational items and pagination metadata.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8159d70c-5aee-54b8-926a-945c72c7cf8d",
            "correlationId": "67177990-e2cb-580c-8765-b91f63e51d26",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationalItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system."
          },
          "environment": {
            "type": "string",
            "description": "The environment where the operational item is deployed."
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with the operational item."
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the operational item."
          },
          "plannedAt": {
            "type": "string",
            "description": "Timestamp for when the operational item is planned."
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier classification of the operational item."
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target percentage of availability for the operational item."
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the operational item."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operational item."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the operational item was last updated."
          }
        },
        "description": "Represents an operational item within the system."
      },
      "PaginationMetadata": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Metadata related to pagination of the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata about the response received."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "platform-operations-search-platform-operations"
        },
        "example": "platform-operations-search-platform-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token. This scheme requires the client to provide a JSON Web Token (JWT) in the Authorization header for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}