{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Business Direction Continuity Planning By Continuity Planning Id-v5-spec",
    "description": "This API endpoint allows users to modify the continuity planning details for a specific banking business direction using its unique ID. By employing the PATCH method, consumers can selectively update various attributes related to continuity planning without needing to resubmit all data. Typical users include banking operations managers and risk management teams who need to ensure that continuity plans remain current and effective. This functionality supports enhanced business resilience and compliance by facilitating timely updates to vital operational strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/continuity-planning/{continuityPlanningId}": {
      "patch": {
        "tags": [
          "Continuity Planning"
        ],
        "summary": "Update the continuity plan details for the specified resource.",
        "description": "This operation allows you to modify the existing continuity plan for the specified resource identified by RES-100045. You can update various attributes relevant to the continuity planning process.",
        "operationId": "updateBankingBusinessDirectionContinuityPlanningByContinuityPlanningId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/continuityPlanningId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the resources related to the business continuity planning operation. It includes relevant operational data that needs to be modified for the specified business direction, ensuring that the continuity planning remains up-to-date and effective.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingBusinessDirectionContinuityPlanningByContinuityPlanningIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingBusinessDirectionContinuityPlanningByContinuityPlanningIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingBusinessDirectionContinuityPlanningByContinuityPlanningIdRequest": {
        "title": "Continuity Planning Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for proposing the changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object that provides context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the structure of a request body for updating operations within business direction continuity planning.",
        "example": {
          "changes": {
            "initiativeId": "STANDARD",
            "sponsorId": "STANDARD",
            "planningHorizon": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "68158371-2bb4-5a72-937f-19972e16a015",
            "correlationId": "147461ff-31dc-517f-84de-cb2c6416ea06",
            "idempotencyKey": "60acdb91-791f-5160-b086-e21984ac29ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-238640"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Identifier for the initiative that is being changed.",
            "example": "initiative_01"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative.",
            "example": "sponsor_01"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative.",
            "example": "2023-2025"
          }
        },
        "description": "This schema defines the changes that are being requested in the continuity planning operation."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier correlating this request with related requests.",
            "example": "corr_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotency of requests.",
            "example": "idempotency_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "OrderManagementApp"
          },
          "channel": {
            "description": "Object representing the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Defines the context for the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel_01"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used, if applicable.",
            "example": "device_01"
          }
        },
        "description": "Defines the properties of the channel used to make the request."
      },
      "UpdateBankingBusinessDirectionContinuityPlanningByContinuityPlanningIdResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation related to business direction continuity planning.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ccaacf99-ab15-5628-9333-216d1a2b57f5",
            "correlationId": "147461ff-31dc-517f-84de-cb2c6416ea06",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "47b99b58-0728-4fe8-b0cb-0e54fb50caff"
        },
        "example": "47b99b58-0728-4fe8-b0cb-0e54fb50caff"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dedcbc58-8326-4043-8a92-3a953bd82bbb"
        },
        "example": "dedcbc58-8326-4043-8a92-3a953bd82bbb"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "continuityPlanningId": {
        "name": "continuityPlanningId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "continuity-planning-update-continuity-planning"
        },
        "example": "continuity-planning-update-continuity-planning"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is running at the time of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Enterprise Strategy Architecture and Business Unit Planning"
        },
        "example": "Enterprise Strategy Architecture and Business Unit Planning"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dedcbc58-8326-4043-8a92-3a953bd82bbb"
        },
        "example": "dedcbc58-8326-4043-8a92-3a953bd82bbb"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP authentication scheme that requires a Bearer token, typically in the form of a JSON Web Token (JWT). This token must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}