{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Deposit Lending Virtual Accounts-spec",
    "description": "The Deposit Lending Virtual Accounts API enables users to retrieve a list of virtual accounts associated with deposit lending products. This service is essential for financial institutions and banking applications seeking to manage and display their virtual account offerings effectively. Typical consumers include banking developers, financial analysts, and account managers who need streamlined access to virtual account information for customer inquiries and reporting purposes. Detailed data about available virtual accounts empowers better decision-making and enhances the overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/virtual-account": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve details of a virtual account.",
        "description": "This endpoint allows users to retrieve comprehensive details associated with a virtual account within the deposit lending system. It provides key information necessary for account management and financial tracking.",
        "operationId": "listDepositLendingVirtualAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing parameters needed for retrieving information on virtual accounts related to deposit lending operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListDepositLendingVirtualAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the virtual account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDepositLendingVirtualAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListDepositLendingVirtualAccountsRequest": {
        "title": "Virtual Account Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Virtual Account Operations GET operation in a deposit-lending context.",
        "example": "{}"
      },
      "ListDepositLendingVirtualAccountsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of virtual account items.",
            "example": [
              {
                "customerId": "CUST-440442",
                "accountId": "ACC-598266",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "accountPurpose": "STANDARD",
                "statementFrequency": "STANDARD",
                "overdraftAllowed": true,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/VirtualAccountItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving virtual account details in the lending deposit operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-440442",
              "accountId": "ACC-598266",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "accountPurpose": "STANDARD",
              "statementFrequency": "STANDARD",
              "overdraftAllowed": true,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "702ed3a8-dd49-5e90-9152-798c38640ba1",
            "correlationId": "3b8ec46c-f7ef-5677-984b-483c23f2d0d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VirtualAccountItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the virtual account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the virtual account.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the account term in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the account.",
            "example": "string"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of creating the virtual account.",
            "example": "string"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency of account statements.",
            "example": "string"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if overdraft is allowed on this account.",
            "example": false
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the account.",
            "example": "string"
          }
        },
        "description": "Represents an individual virtual account with related information."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency type for the principal amount.",
            "example": "string"
          }
        },
        "description": "Details of the principal amount associated with the virtual account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier of the endpoint that handled the request. This value helps in tracking the specific API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "virtual-account-search-virtual-account"
        },
        "example": "virtual-account-search-virtual-account"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request. This is useful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients should send a JWT (JSON Web Token) in the authorization header when making requests to secure endpoints. The token should be prefixed with 'Bearer ' followed by the actual token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}