{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Workforce Trainings-spec",
    "description": "The Workforce Training Management API provides access to a comprehensive list of training programs available within the Human Resource Management framework. This endpoint allows users to retrieve detailed information about various workforce training opportunities, including course descriptions, schedules, and eligibility requirements. Ideal for HR professionals and training coordinators, this API supports use cases such as tracking employee development and enhancing workforce skills. By leveraging this API, organizations can efficiently manage and optimize their training resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-training": {
      "get": {
        "tags": [
          "Workforce Management"
        ],
        "summary": "Retrieve workforce training information.",
        "description": "This endpoint allows users to fetch detailed information regarding workforce training programs available within the Human Resource Management system. It is designed for accessing training data that supports employee development and skill enhancement initiatives.",
        "operationId": "listHumanResourceManagementWorkforceTrainings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request allows you to retrieve information related to workforce training within the human resource management system. The body must conform to the specified schema to ensure all necessary data is included.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementWorkforceTrainingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the training data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementWorkforceTrainingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementWorkforceTrainingsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation related to workforce training in human resource management.",
        "example": "{}"
      },
      "ListHumanResourceManagementWorkforceTrainingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee records related to workforce training.",
            "example": [
              {
                "employeeId": "EMP-245908",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeTrainingRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the workforce training operations.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-245908",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "af11de8c-ff99-5ea7-bddb-a47393fb6dd3",
            "correlationId": "0ad936c0-922b-5fba-b67a-d5962c0eb6e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeTrainingRecord": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "001"
          },
          "assignmentId": {
            "type": "string",
            "description": "The identifier for the training assignment.",
            "example": "A001"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier for the department the employee belongs to.",
            "example": "D001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date the training becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., Full-time, Part-time).",
            "example": "Full-time"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the employee's manager.",
            "example": "M001"
          },
          "workLocation": {
            "type": "string",
            "description": "The work location of the employee.",
            "example": "Onsite"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the training record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2023-01-10T12:00:00Z"
          }
        },
        "description": "Schema representing an individual employee's training record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "r123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests.",
            "example": "c456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, allowing tracking and auditing of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "workforce-training-search-workforce-training"
        },
        "example": "workforce-training-search-workforce-training"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing context about which system handled the functionality.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where a JWT (JSON Web Token) is provided in the Authorization header. The token is used to authenticate the client making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}