{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Channel Activity Analysi Review-spec",
    "description": "This API facilitates the submission of reviews related to channel activity analysis within banking operations. It enables stakeholders to contribute feedback or insights on specific analyses identified by a unique parameter. Common consumers include banking analysts and operational teams looking to assess and enhance channel performance. The service streamlines the review process, ensuring actionable insights are gathered effectively to drive improvements in operational strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Channel Activity Analysis"
        ],
        "summary": "Create a Review for Channel Activity Analysis",
        "description": "This endpoint allows you to submit a new review for the channel activity analysis resource identified by RES-100045. Use this to provide feedback, ratings, or additional data that can enhance the evaluation of the channel's performance.",
        "operationId": "createChannelActivityAnalysiReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for submitting reviews related to channel activity analysis. This includes relevant details that support the review process and helps in operational analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelActivityAnalysiReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for asynchronous processing.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelActivityAnalysiReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelActivityAnalysiReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review consisting of multiple items.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Each item representing a specific aspect of the review scope.",
              "example": "Product quality"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The unique identifier of the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date and time for completing the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "1f12a200-5f60-53d7-814b-b4ff8e007626",
            "correlationId": "b6936d5a-3989-55ad-9267-57d18fc59683",
            "idempotencyKey": "45145bac-f3c8-54dc-9cfc-649a3d90e026",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-942966"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent requests.",
            "example": "idempKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "InventoryManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "The communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "chan001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., email, SMS).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the channel.",
            "example": "device123"
          }
        }
      },
      "CreateChannelActivityAnalysiReviewResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the processed action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the reviews operation in the operational services channel activity analysis.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cff2e099-bc60-535c-830c-b1aa781e2332",
            "correlationId": "b6936d5a-3989-55ad-9267-57d18fc59683",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the processed action."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-review-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-review-channel-activity-analysis"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme. Clients must include a JSON Web Token (JWT) in the authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}