{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Forecasting API",
    "description": "The Sales Forecasting API provides tools for accessing and analyzing sales planning data, enabling organizations to make informed business decisions. This endpoint allows users to retrieve specific sales planning information based on the provided parameter. Typical consumers include sales teams, financial analysts, and business strategists who rely on accurate sales forecasts to optimize resource allocation and set performance targets. Use this API to integrate sales planning insights into your applications, enhancing decision-making capabilities across your organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-planning/{param1}": {
      "get": {
        "tags": [
          "Sales Planning"
        ],
        "summary": "Retrieve sales planning details by resource ID.",
        "description": "This endpoint allows developers to fetch detailed sales planning information for a specific resource identified by its ID. It provides insights needed for effective sales strategies and planning adjustments.",
        "operationId": "getSalesPlanningByResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch sales planning details for the specified resource identifier (RES-100045). It expects a JSON payload that contains specific parameters required by the sales planning API. Please ensure that the request body adheres to the required schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesPlanningByResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of sales planning data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesPlanningByResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesPlanningByResource100045Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operations in the sales planning API. The string contains the necessary details for the operation.",
        "example": "{}"
      },
      "GetSalesPlanningByResource100045Response_200": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the account.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected value from the sales transaction.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for sales planning operations.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e73be58a-3ad2-54bd-8dfd-f81b68cacfd2",
            "correlationId": "ab56b8f9-6a91-5047-bb62-49a799b2047f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected from the sale.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the expected value is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected value of a sales record."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "corr-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "NA"
          }
        },
        "description": "Schema representing the metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-planning-get-sales-planning"
        },
        "example": "sales-planning-get-sales-planning"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. Clients must include a valid JWT (JSON Web Token) in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}