{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Human Resource Management By Param1-spec",
    "description": "The Employee Data Management API provides a streamlined process for updating employee information within the Human Resource Management system. This API allows businesses to modify specific employee data based on unique identifiers, enhancing the accuracy and effectiveness of personnel records. Typical consumers include HR departments and payroll systems that require real-time updates to employee data. Leveraging this API can greatly improve operational efficiency and data integrity within organizations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-data-management/{param1}": {
      "patch": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Update Employee Data",
        "description": "This operation allows you to update the data for employee with identifier EMP-900045 in the employee management system. You can modify various attributes related to the employee's profile as needed.",
        "operationId": "updateHumanResourceManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific attributes of an employee's data in the Human Resource Management system. Ensure that the provided JSON follows the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHumanResourceManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the employee data has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateHumanResourceManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateHumanResourceManagementByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/EmployeeChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for processing employee data management requests in the HR system.",
        "example": {
          "changes": {
            "employeeId": "EMP-438619",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "7d7c003f-3413-56f4-9935-72b26065a7bc",
            "correlationId": "223c0fa5-859a-525c-9299-c6b5beb72264",
            "idempotencyKey": "c65c8fa8-9e56-5bb9-a18c-2c0236a0d1c6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-145778"
            }
          }
        }
      },
      "EmployeeChanges": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "E123456"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment of the employee.",
            "example": "A789012"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department to which the employee is assigned.",
            "example": "D345678"
          }
        },
        "description": "Contains the specific changes being requested for an employee."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking multiple events related to the same request.",
            "example": "corr-321654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is executed only once.",
            "example": "key-456789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-29T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "Employee Portal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-901234"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-567890"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateHumanResourceManagementByParam1Response_200": {
        "title": "Employee Data Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the employee data was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the employee data management operation, specifically for the PATCH request to update employee data.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "289d1a95-1035-5906-96ba-af3fa3cf9101",
            "correlationId": "223c0fa5-859a-525c-9299-c6b5beb72264",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate multiple requests and responses.",
            "example": "abcdef-1234-ghijk-5678-lmnopqrs"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema represents the metadata for a response, containing identifiers and timestamps relevant to the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-data-management-update-employee-data-management"
        },
        "example": "employee-data-management-update-employee-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to secure API endpoints. Clients must send a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}