{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Management Customer Agreement-spec",
    "description": "The Customer Agreement Management API facilitates the creation and management of customer agreements within the banking ecosystem. This API allows users to submit detailed agreements associated with individual customers, ensuring compliance and clarity in customer relationships. Typical consumers of this API include banking personnel and client relationship managers who require an efficient way to handle agreement documentation. By leveraging this API, institutions can streamline their customer management processes, enhancing operational efficiency and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-agreement": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer agreement.",
        "description": "This endpoint allows for the creation of a new customer agreement in the customer management system. Ensure all required details are included in the request body to successfully create the agreement.",
        "operationId": "createCustomerManagementCustomerAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows for the creation or modification of customer agreements. It expects a JSON object containing all necessary details related to the agreement, adhering to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerManagementCustomerAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer agreement created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerManagementCustomerAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerManagementCustomerAgreementRequest": {
        "title": "Customer Agreement Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-908307"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the agreement.",
            "example": "PARTY-347259"
          },
          "productCode": {
            "type": "string",
            "description": "Code associated with the product being agreed upon.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the relationship defined for the customer.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a customer agreement.",
        "example": {
          "customerId": "CUST-908307",
          "partyId": "PARTY-347259",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "6b3b871f-e21b-55d8-8594-ea3489242695",
            "correlationId": "e5adf109-1b9f-531d-8355-46c3dda8e200",
            "idempotencyKey": "5067ddbb-c128-5ec7-9585-2691781ec821",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-405220"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "CORR654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of the request.",
            "example": "IDEMP123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from where the request originated.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that encapsulates context-related details of a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHNL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Schema representing details about the communication channel used."
      },
      "CreateCustomerManagementCustomerAgreementResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-243673"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the customer agreement.",
            "example": "PARTY-532996"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the specific product associated with the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource linked to the customer agreement.",
            "example": "RES-537165"
          },
          "status": {
            "type": "string",
            "description": "The current status of the customer agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the customer agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for creating a customer agreement.",
        "example": {
          "customerId": "CUST-243673",
          "partyId": "PARTY-532996",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-537165",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "498c869f-05f6-5ee3-ac21-5c2e77f93e4e",
            "correlationId": "e5adf109-1b9f-531d-8355-46c3dda8e200",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking related requests.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata regarding the response of the customer agreement creation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-006"
        },
        "example": "WF-006"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d0bd8a21-da39-4c77-9840-31d223d8816c"
        },
        "example": "d0bd8a21-da39-4c77-9840-31d223d8816c"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "20e2ddb4-3ae1-4eec-9793-fca441bf6cb9"
        },
        "example": "20e2ddb4-3ae1-4eec-9793-fca441bf6cb9"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier representing the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-agreement-create-customer-agreement"
        },
        "example": "customer-agreement-create-customer-agreement"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow process that was executed as part of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-006"
        },
        "example": "WF-006"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the customer agreement operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Profile Change and Identity Reverification"
        },
        "example": "Customer Profile Change and Identity Reverification"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow for the customer agreement operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow related to the customer agreement operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "20e2ddb4-3ae1-4eec-9793-fca441bf6cb9"
        },
        "example": "20e2ddb4-3ae1-4eec-9793-fca441bf6cb9"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that utilizes bearer tokens for authentication. This method allows clients to authenticate by presenting a JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}