{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Balances API",
    "description": "The Account Balances API allows users to access real-time balance information for their bank accounts. It supports various financial services by providing insights into available and pending funds. This API is typically utilized by banking partners, financial institutions, and third-party applications looking to enhance their financial management tools. Users can retrieve detailed balance data, enabling better financial decision-making and enhanced customer experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/balances": {
      "get": {
        "tags": [
          "Account Information"
        ],
        "summary": "Retrieve account balances",
        "description": "This endpoint allows you to retrieve the current balances for all accounts associated with a given user. It provides a comprehensive overview of account status, including available and current balances.",
        "operationId": "getAispBalances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving account balances. Ensure that the required parameters are correctly set for successful retrieval of balances.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispBalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account balance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispBalancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispBalancesRequest": {
        "type": "string",
        "description": "The request body for retrieving account balances via the GET operation. This string provides the necessary input for the operation.",
        "example": "{}"
      },
      "GetAispBalancesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Balance": {
                "type": "array",
                "description": "List of balances associated with accounts.",
                "items": {
                  "$ref": "#/components/schemas/BalanceDetail"
                }
              },
              "TotalValue": {
                "$ref": "#/components/schemas/TotalValue"
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Container for balance information and related metadata.",
            "example": {
              "Balance": [
                {
                  "AccountId": "ACC-294378",
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "DateTime": "2026-09-15T14:30:00Z",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  },
                  "CreditLine": [
                    {
                      "Included": true,
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "LocalAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  }
                }
              ],
              "TotalValue": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          }
        },
        "description": "Response schema for successful balance retrieval operations.",
        "example": {
          "Data": {
            "Balance": [
              {
                "AccountId": "ACC-294378",
                "CreditDebitIndicator": "STANDARD",
                "Type": "STANDARD",
                "DateTime": "2026-09-15T14:30:00Z",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                },
                "CreditLine": [
                  {
                    "Included": true,
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "LocalAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                }
              }
            ],
            "TotalValue": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "9d13c7cd-ec13-5697-8786-97258084f1a2",
            "correlationId": "f5b69b71-4020-5ffc-9f19-e2021b86dbd4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BalanceDetail": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator of whether the balance is a credit or debit.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of balance.",
            "example": "string"
          },
          "DateTime": {
            "type": "string",
            "description": "Timestamp indicating when the balance was recorded.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "CreditLine": {
            "type": "array",
            "description": "Credit line information associated with the account.",
            "items": {
              "$ref": "#/components/schemas/CreditLineDetail"
            }
          },
          "LocalAmount": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details about a specific account balance."
      },
      "CreditLineDetail": {
        "type": "object",
        "properties": {
          "Included": {
            "type": "boolean",
            "description": "Indicates if the credit line is included.",
            "example": false
          },
          "Type": {
            "type": "string",
            "description": "Type of credit line.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details about a specific credit line."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Numeric value of the amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          },
          "SubType": {
            "type": "string",
            "description": "Further classification of the amount.",
            "example": "string"
          }
        },
        "description": "Details about an amount including currency information."
      },
      "TotalValue": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Numeric value representing the total amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the total amount.",
            "example": "string"
          }
        },
        "description": "Total value of all balances combined."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "URL to the current resource.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "URL to the first page of results.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "URL to the previous page of results.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "URL to the next page of results.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "URL to the last page of results.",
            "example": "string"
          }
        },
        "description": "Navigation links for paginated results."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Timestamp when the data first became available.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Timestamp when the data was last updated.",
            "example": "string"
          }
        },
        "description": "Metadata about the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-balances"
        },
        "example": "accounts-api-get-balances"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authorization scheme that uses JSON Web Tokens (JWT) to securely transmit information between parties. A client must include the token in the Authorization header when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}