{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Terminal Configurations API",
    "description": "The Manage Terminal Configurations API allows businesses to update and modify the settings of specific payment terminals. By providing a terminal ID, users can change configurations such as payment options, security settings, and operational parameters. This API is particularly useful for financial institutions and retail businesses looking to adapt terminal functionalities in response to changing requirements or regulatory insights. Ideal clients for this service include developers and system integrators focused on enhancing terminal management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals/{terminalId}": {
      "patch": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Update Terminal Resource",
        "description": "This endpoint allows you to update the details of the terminal resource with ID RES-100045. Ensure you provide the correct fields to modify as per your requirements.",
        "operationId": "updateTerminalRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/terminalId"
          }
        ],
        "requestBody": {
          "description": "Update the attributes of the terminal identified by RES-100045. This request allows for partial updates to the terminal's configuration, enabling clients to modify only the fields that require changes without needing to send the entire resource representation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTerminalRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the terminal information has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTerminalRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTerminalRes100045Request": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the terminal.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The operational status of the terminal.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities that the terminal supports.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "capability-1"
            }
          },
          "requestContext": {
            "description": "Contextual information pertaining to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating terminal operations.",
        "example": {
          "label": "STANDARD",
          "status": "ACTIVE",
          "capabilities": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "c13c9354-257a-5312-972e-ada109f230a3",
            "correlationId": "339dede8-077d-5462-a5d8-1aec318ee948",
            "idempotencyKey": "47161846-c50b-51f4-8338-b978fe824c22",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-546849"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace logs.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system making the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system making the request.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The context of the request containing various identifiers."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the channel.",
            "example": "device-123"
          }
        },
        "description": "Information related to the channel used for making the request."
      },
      "UpdateTerminalRes100045Response_200": {
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the terminal.",
            "example": "MER-444282"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet where the terminal is deployed.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "The type of the terminal (e.g., mobile, fixed).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "A user-friendly label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the terminal device.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "A unique fingerprint for the device, used for identification.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "A list of capabilities that the terminal supports.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A capability supported by the terminal.",
              "example": "NFC"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the terminal.",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of the last time the terminal was seen.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing the successful response for patching terminal operations.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-444282",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "4f0ed470-3fc6-5e67-96a0-628388247456",
            "correlationId": "339dede8-077d-5462-a5d8-1aec318ee948",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the terminal was created.",
            "example": "2023-10-01T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the terminal.",
            "example": "user_123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the terminal was last updated.",
            "example": "2023-10-05T09:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the terminal.",
            "example": "user_456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the terminal record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for the terminal."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique ID for the response generated by the system.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the transaction across systems.",
            "example": "correlation_abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "NA"
          }
        },
        "description": "Metadata regarding the terminal's processing and request handling."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "terminalId": {
        "name": "terminalId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being accessed. This helps in tracking or logging requests to specific services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-terminal"
        },
        "example": "banking-p2m-openapi-update-terminal"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request. This can be useful for debugging or performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWTs) for securing API endpoints. The client must include a valid JWT in the authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}