{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Marketing Customer Campaign Management-spec",
    "description": "The Marketing Customer Campaign Management API facilitates the creation and management of targeted marketing campaigns for customers. This API allows businesses to design and execute campaigns tailored to specific customer segments, enhancing marketing effectiveness and engagement. Typical consumers include marketing teams and campaign managers looking to streamline the campaign creation process. By utilizing this API, organizations can drive better customer relationships and improve marketing outcomes through data-driven strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-campaign-management": {
      "post": {
        "tags": [
          "Marketing"
        ],
        "summary": "Create a new customer campaign.",
        "description": "This endpoint allows you to create a new customer campaign in the marketing system. You need to provide the necessary details in the request body to successfully create the campaign.",
        "operationId": "createMarketingCustomerCampaignManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or manage marketing customer campaigns effectively. It includes all necessary details for the campaign operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketingCustomerCampaignManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketingCustomerCampaignManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketingCustomerCampaignManagementRequest": {
        "title": "Campaign Management Request Body",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target market segment the campaign is focused on.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels to be used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for each channel.",
              "example": "string"
            }
          },
          "budget": {
            "description": "Budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "campaignObjective": {
            "type": "string",
            "description": "Objective of the campaign (e.g., awareness, conversion).",
            "example": "STANDARD"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the audience that will be part of the control group.",
            "format": "int32",
            "example": 1
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Maximum number of times a contact can be reached during the campaign.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information related to the campaign request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Payload for creating or updating a marketing campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "campaignObjective": "STANDARD",
          "controlGroupPercent": 1,
          "contactFrequencyCap": 1,
          "requestContext": {
            "requestId": "9906e1df-eee6-5e44-a9ab-11c78d322353",
            "correlationId": "e1a4a26c-a710-5fb5-b8c7-dc3c218bad98",
            "idempotencyKey": "4a01f62d-50f4-5b73-a9f7-6c1e5772b57c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-381681"
            }
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total budget amount for the campaign.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the budget amount (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Details about the campaign's financial resources."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to track the correlation between various requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used in the campaign.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request for context tracking."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., email, SMS, social media).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel if applicable.",
            "example": "string"
          }
        },
        "description": "Details about the campaign communication channel."
      },
      "CreateMarketingCustomerCampaignManagementResponse_201": {
        "title": "Campaign Management Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target segment the campaign is aimed at.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with the campaign.",
            "example": "RES-547452"
          },
          "status": {
            "type": "string",
            "description": "Current status of the campaign (e.g., 'active', 'paused', 'completed').",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the campaign was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/CampaignMetadata"
          }
        },
        "description": "This schema represents the response structure for creating a customer campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-547452",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "11180322-7027-582b-9cc0-2e56b4f97309",
            "correlationId": "e1a4a26c-a710-5fb5-b8c7-dc3c218bad98",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CampaignMetadata": {
        "title": "Campaign Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response, useful for tracking.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses.",
            "example": "correlation-abc123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the campaign is processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-management-create-customer-campaign-management"
        },
        "example": "customer-campaign-management-create-customer-campaign-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token for access authorization. The token is a JSON Web Token (JWT), which should be included in the Authorization header as a 'Bearer <token>' string.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}