{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Owner Verification API",
    "description": "The Account Owner Verification API facilitates the validation of customer account ownership through comprehensive matching processes. By submitting a customer ID along with their associated account ID, businesses can ensure that the account holder's identity aligns with existing records, enhancing security measures. This API is particularly useful for financial institutions and service providers aiming to prevent fraud and verify customer identities effectively. Typical consumers include developers at banks and fintech companies seeking to integrate robust identity verification solutions into their systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/account-owner-verification-matchings/customers/{customerId}/accounts/{accountId}": {
      "post": {
        "tags": [],
        "summary": "Create a new account for a specified customer.",
        "description": "This endpoint allows you to create a new account associated with a specific customer identified by their unique customer ID. Provide the required account details in the request body to successfully create the account.",
        "operationId": "createAccountForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "The request body for creating or updating account information for a specific customer. It should include relevant account details as outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the operation completed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountForCustomerCUST100045Request": {
        "type": "object",
        "properties": {
          "ownerName": {
            "type": "string",
            "description": "The name of the owner of the account.",
            "example": "Northstar Banking Service"
          },
          "name": {
            "$ref": "#/components/schemas/FullName"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "The phone number associated with the account.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address associated with the account.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating new account operations.",
        "example": {
          "ownerName": "Northstar Banking Service",
          "name": {
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "suffix": "STANDARD"
          },
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "line3": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001",
            "type": "STANDARD"
          },
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "757ab06a-e79d-504c-8b5c-86559548a810",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "idempotencyKey": "7506908b-a065-5b90-b0d9-048d56db3197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-802972"
            }
          }
        }
      },
      "FullName": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the individual.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the individual, if any.",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the individual.",
            "example": "Doe"
          },
          "suffix": {
            "type": "string",
            "description": "Suffix for the individual, if any (e.g., Jr., Sr.).",
            "example": "Jr."
          }
        },
        "description": "Schema representing a person's full name."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "ownerAddress": {
            "type": "string",
            "description": "The primary address of the account holder."
          },
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address, if applicable."
          },
          "line3": {
            "type": "string",
            "description": "Third line of the address, if applicable."
          },
          "city": {
            "type": "string",
            "description": "City of the address."
          },
          "state": {
            "type": "string",
            "description": "State of the address."
          },
          "country": {
            "type": "string",
            "description": "Country of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "type": {
            "type": "string",
            "description": "Type of address (e.g., home, work)."
          },
          "addressScores": {
            "type": "object",
            "properties": {
              "ownerAddress": {
                "type": "integer",
                "description": "Score for the owner address.",
                "format": "int32"
              },
              "type": {
                "type": "integer",
                "description": "Score for the address type.",
                "format": "int32"
              },
              "line1": {
                "type": "integer",
                "description": "Score for line 1 of the address.",
                "format": "int32"
              },
              "line2": {
                "type": "integer",
                "description": "Score for line 2 of the address.",
                "format": "int32"
              },
              "line3": {
                "type": "integer",
                "description": "Score for line 3 of the address.",
                "format": "int32"
              },
              "city": {
                "type": "integer",
                "description": "Score for the city.",
                "format": "int32"
              },
              "country": {
                "type": "integer",
                "description": "Score for the country.",
                "format": "int32"
              },
              "postalCode": {
                "type": "integer",
                "description": "Score for the postal code.",
                "format": "int32"
              },
              "state": {
                "type": "integer",
                "description": "Score for the state.",
                "format": "int32"
              }
            },
            "description": "Scores associated with the address components."
          }
        },
        "description": "Details of an address associated with an account holder."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idemp-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "MobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "CustomerPortal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "device-789"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateAccountForCustomerCUST100045Response_200": {
        "title": "Customer Account Operation Response",
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "List of holders associated with the account.",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameScores": {
                  "ownerName": 1,
                  "firstName": 1,
                  "middleName": 1,
                  "lastName": 1,
                  "suffix": 1
                },
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "country": "STANDARD",
                    "postalCode": "10001",
                    "type": "STANDARD",
                    "addressScores": {
                      "ownerAddress": 1,
                      "type": 1,
                      "line1": 1,
                      "line2": 1,
                      "line3": 1,
                      "city": 1,
                      "country": 1,
                      "postalCode": 1,
                      "state": 1
                    }
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example",
                    "cores": {
                      "email": 1
                    }
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for operations performed on a specific customer account.",
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameScores": {
                "ownerName": 1,
                "firstName": 1,
                "middleName": 1,
                "lastName": 1,
                "suffix": 1
              },
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001",
                  "type": "STANDARD",
                  "addressScores": {
                    "ownerAddress": 1,
                    "type": 1,
                    "line1": 1,
                    "line2": 1,
                    "line3": 1,
                    "city": 1,
                    "country": 1,
                    "postalCode": 1,
                    "state": 1
                  }
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example",
                  "cores": {
                    "email": 1
                  }
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "d5cbf397-f8e1-5f08-9209-ee4f9df3f8ea",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountHolder": {
        "title": "Account Holder",
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship of the holder to the account."
          },
          "ownerName": {
            "type": "string",
            "description": "The full name of the account owner."
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the account holder."
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the account holder."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the account holder."
          },
          "suffix": {
            "type": "string",
            "description": "Suffix (e.g., Jr., Sr.) of the account holder."
          },
          "nameScores": {
            "type": "object",
            "properties": {
              "ownerName": {
                "type": "integer",
                "description": "Score for the owner name.",
                "format": "int32"
              },
              "firstName": {
                "type": "integer",
                "description": "Score for the first name.",
                "format": "int32"
              },
              "middleName": {
                "type": "integer",
                "description": "Score for the middle name.",
                "format": "int32"
              },
              "lastName": {
                "type": "integer",
                "description": "Score for the last name.",
                "format": "int32"
              },
              "suffix": {
                "type": "integer",
                "description": "Score for the suffix.",
                "format": "int32"
              }
            },
            "description": "Scores associated with the name components of the account holder."
          },
          "nameClassification": {
            "type": "string",
            "description": "Classification of the name based on specific criteria."
          },
          "nameClassificationconfidencescore": {
            "type": "integer",
            "description": "Confidence score for the name classification.",
            "format": "int32"
          },
          "addresses": {
            "type": "array",
            "description": "List of addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "emails": {
            "type": "array",
            "description": "List of email addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          }
        },
        "description": "Details about an account holder."
      },
      "Email": {
        "title": "Email Address",
        "type": "object",
        "properties": {
          "isPrimary": {
            "type": "boolean",
            "description": "Indicates if this is the primary email address."
          },
          "email": {
            "type": "string",
            "description": "The actual email address."
          },
          "emailType": {
            "type": "string",
            "description": "Type of the email (e.g., personal, work)."
          },
          "cores": {
            "type": "object",
            "properties": {
              "email": {
                "type": "integer",
                "description": "Score associated with the email.",
                "format": "int32"
              }
            },
            "description": "Core validation metrics associated with the email."
          }
        },
        "description": "Details of an email address associated with an account holder."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint, used to track requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-account-matching-score-details"
        },
        "example": "open-finance-api-account-matching-score-details"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application handling the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically in JSON Web Token (JWT) format. This method requires clients to include a bearer token in the Authorization header for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}