{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Quote Management API",
    "description": "The Wholesale Trading Quote Management API provides tools for retrieving quotes related to wholesale trading activities. This API allows users to access, filter, and analyze quote information essential for trading decision-making. It is primarily utilized by traders, financial analysts, and investment managers to monitor market conditions and assess trading opportunities. By leveraging this API, consumers can enhance their trading strategies and ensure timely access to critical market data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/quote-management": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve quotes for wholesale trading.",
        "description": "This endpoint allows you to fetch quotes related to wholesale trading activities. It provides access to all relevant quote data required for analysis and decision-making.",
        "operationId": "getWholesaleTradingQuoteManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve quote management details in the wholesale trading context. Ensure that the request adheres to the specified schema to obtain accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWholesaleTradingQuoteManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the quote data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWholesaleTradingQuoteManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWholesaleTradingQuoteManagementRequest": {
        "title": "Quote Management Request Body",
        "type": "string",
        "description": "This schema represents the request body for the quote management operations in the wholesale trading API.",
        "example": "{}"
      },
      "GetWholesaleTradingQuoteManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of quote items returned in the response.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/QuoteItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of the Quote Management service, containing a list of quote items, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3dd26c74-1af9-55a3-b6e5-0e37e3d85a9e",
            "correlationId": "caa2d5fd-104e-53a0-b94d-ffec644b9773",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "QuoteItem": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The identifier of the trading book associated with the quote.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier of the financial instrument associated with the quote.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "The trading side, e.g., buy or sell.",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument in the quote.",
            "format": "int32",
            "example": 0
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the quote record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the quote was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual quote item."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price of a quote."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quote-management-search-quote-management"
        },
        "example": "quote-management-search-quote-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method where the client sends a JSON Web Token (JWT) in the Authorization header. JWTs are employed to securely transmit information between parties and verify the identity of the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}