{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Channel Specific Atm Network Management By Atm Network Management Id-v5-spec",
    "description": "The ATM Network Management Update API allows for the modification of specific banking channel ATM network configurations identified by their unique ATM Network Management ID. This endpoint is primarily used to ensure that changes in network parameters, features, or operational statuses can be efficiently managed and reflected in the system. Typical consumers of this API include banking IT systems and operations teams that require the ability to update network settings and maintain compliance with operational standards. This API enhances the flexibility and control of ATM network services in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-management/{atmNetworkManagementId}": {
      "patch": {
        "tags": [
          "ATM Network Management"
        ],
        "summary": "Update specific ATM network management resource.",
        "description": "This operation allows developers to update the details of a specific ATM network management resource identified by a unique resource ID (RES-100045). It is crucial for maintaining the accuracy and relevance of network management information.",
        "operationId": "updateBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/atmNetworkManagementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the ATM network management configuration for a specific resource identified by RES-100045. It expects a JSON payload containing the necessary parameters for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementIdRequest": {
        "title": "ATM Network Management PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes are to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the PATCH operation in ATM network management, specifying changes and related context.",
        "example": {
          "changes": {
            "channelId": "MOBILE-US",
            "regionCode": "US-EAST-1",
            "serviceWindow": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "80498df7-7fc7-5ccf-96d9-9898919486ef",
            "correlationId": "e42cee1d-47d7-53fa-a29d-0bcd420e4eaa",
            "idempotencyKey": "5213fa8a-cd24-5a0e-9569-6ff860802855",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-193416"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-567"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region of the channel.",
            "example": "US-WEST"
          },
          "serviceWindow": {
            "description": "Service window representing the operating hours for the channel.",
            "$ref": "#/components/schemas/ServiceWindow"
          }
        },
        "description": "Schema representing the individual changes to be applied in the ATM network."
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes.",
            "example": "17:00"
          }
        },
        "description": "Schema representing the operating hours of a service."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs or requests across systems.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are processed idempotently.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "ATM Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "ATM Admin App"
          },
          "channel": {
            "description": "The channel information related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema detailing the context of the request, including various identifiers."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-999"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., ATM, Kiosk).",
            "example": "ATM"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device associated with the channel.",
            "example": "device-111"
          }
        },
        "description": "Schema representing the details of the channel involved in the request."
      },
      "UpdateBankingChannelSpecificAtmNetworkManagementByAtmNetworkManagementIdResponse_200": {
        "title": "ATM Network Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the ATM network management operations on a PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1efdea0e-71ff-568a-9792-7934e728f8d0",
            "correlationId": "e42cee1d-47d7-53fa-a29d-0bcd420e4eaa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "1234-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used for tracing the operation.",
            "example": "abcd-efgh"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T11:59:59Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "atmNetworkManagementId": {
        "name": "atmNetworkManagementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that is being invoked in this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-management-update-atm-network-management"
        },
        "example": "atm-network-management-update-atm-network-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT) to authenticate users. Clients must include the JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}