{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Transfer Customer Bill Pay Switche By Bill Pay Switche Id-v5-spec",
    "description": "MICROSERVICE-PROD-Get Transfer Customer Bill Pay Switche By Bill Pay Switche Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/bill-pay-switches/{billPaySwitcheId}": {
      "get": {
        "operationId": "getTransferCustomerBillPaySwitcheByBillPaySwitcheId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/billPaySwitcheId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTransferCustomerBillPaySwitcheByBillPaySwitcheIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransferCustomerBillPaySwitcheByBillPaySwitcheIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTransferCustomerBillPaySwitcheByBillPaySwitcheIdRequest": {
        "type": "string",
        "example": "{}"
      },
      "GetTransferCustomerBillPaySwitcheByBillPaySwitcheIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "CUST-591628"
          },
          "customerType": {
            "type": "string",
            "example": "STANDARD"
          },
          "switchId": {
            "type": "string",
            "example": "STANDARD"
          },
          "switchStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "failureReason": {
            "type": "string",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "updatedDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "authenticated": {
            "type": "boolean",
            "example": true
          },
          "provider": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "name": "Northstar Banking Service"
            }
          },
          "paymentMethods": {
            "type": "array",
            "example": [
              {
                "type": "STANDARD",
                "title": "Banking operation completed",
                "brand": "STANDARD",
                "bankIdentifier": "STANDARD",
                "endsWith": "STANDARD",
                "bankAccountType": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "title": {
                  "type": "string",
                  "example": "string"
                },
                "brand": {
                  "type": "string",
                  "example": "string"
                },
                "bankIdentifier": {
                  "type": "string",
                  "example": "string"
                },
                "endsWith": {
                  "type": "string",
                  "example": "string"
                },
                "bankAccountType": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "e30c5a09-fb53-53b5-b427-63e3cffb74f1",
              "correlationId": "98c0aad9-4a9a-5c81-8ba4-bb6208e28067",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "customerId": "CUST-591628",
          "customerType": "STANDARD",
          "switchId": "STANDARD",
          "switchStatus": "ACTIVE",
          "failureReason": "STANDARD",
          "createdDate": "2026-09-15",
          "updatedDate": "2026-09-15",
          "authenticated": true,
          "provider": {
            "id": "STANDARD",
            "name": "Northstar Banking Service"
          },
          "paymentMethods": [
            {
              "type": "STANDARD",
              "title": "Banking operation completed",
              "brand": "STANDARD",
              "bankIdentifier": "STANDARD",
              "endsWith": "STANDARD",
              "bankAccountType": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "e30c5a09-fb53-53b5-b427-63e3cffb74f1",
            "correlationId": "98c0aad9-4a9a-5c81-8ba4-bb6208e28067",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "billPaySwitcheId": {
        "name": "billPaySwitcheId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-bill-pay-switch-details"
        },
        "example": "open-finance-api-get-bill-pay-switch-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}