{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Product Management Product Directorys-spec",
    "description": "The Product Directory Retrieval API allows clients to access a comprehensive list of products available in the banking product management system. It serves as a vital resource for financial institutions and partners seeking to view and understand the various products offered. By utilizing this API, users can enhance their decision-making and streamline their customer service processes by providing accurate product information. Typical consumers include developers integrating banking services, product managers, and customer service representatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-directory": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve a list of products in the directory.",
        "description": "This endpoint allows users to fetch all products available in the product directory. Useful for displaying product information or integrating with other services that require product data.",
        "operationId": "listProductManagementProductDirectorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the product directory, which includes a list of products with their respective details and attributes. Ensure that the request is properly formatted as specified to receive the desired output.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListProductManagementProductDirectorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProductManagementProductDirectorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListProductManagementProductDirectorysRequest": {
        "type": "string",
        "description": "Request body for the GET operation in the product directory management system. This may represent various parameters or filters in a string format.",
        "example": "{}"
      },
      "ListProductManagementProductDirectorysResponse_200": {
        "title": "Product Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of product items retrieved from the product directory.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the product list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the product directory retrieval operation, containing a list of products, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "74173995-d644-5511-add1-3aa98634c279",
            "correlationId": "0557c092-45d0-5dd3-ab28-441ca760da2c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductItem": {
        "title": "Product Item",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique code identifying the product."
          },
          "productName": {
            "type": "string",
            "description": "Name of the product."
          },
          "customerSegment": {
            "type": "string",
            "description": "Customer segment associated with the product."
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency for pricing the product."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the product becomes effective."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the product record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the product."
          }
        },
        "description": "Schema representing a single product item in the product directory."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the product directory.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the product directory response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-directory-search-product-directory"
        },
        "example": "product-directory-search-product-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, which can help identify the source of the response in a distributed system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows for secure access to resources by using a JSON Web Token (JWT). The token must be included in the Authorization header of the HTTP requests to authenticate the user and access protected paths.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}