{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Advanced Voice Services Operations-spec",
    "description": "This API facilitates the retrieval of advanced voice services operations tailored to specific banking channels. It enables consumers such as financial institutions and developers to access detailed information about available voice services, enhancing customer interactions and operational efficiency. Users can query service offerings to optimize their banking solutions, providing a more seamless user experience. Typical use cases include integrating advanced voice service functionalities into banking applications or customer service platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-operations": {
      "get": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Retrieve advanced voice service operations",
        "description": "This endpoint allows you to fetch all operations related to advanced voice services for a specific channel, providing insights and details relevant to those services.",
        "operationId": "listChannelSpecificAdvancedVoiceServicesOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving advanced voice services operations specific to a channel. This should contain the necessary information to specify the operations being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificAdvancedVoiceServicesOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificAdvancedVoiceServicesOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificAdvancedVoiceServicesOperationsRequest": {
        "type": "string",
        "description": "This schema represents the advanced voice services operations request body for a GET operation specific to a channel.",
        "example": "{}"
      },
      "ListChannelSpecificAdvancedVoiceServicesOperationsResponse_200": {
        "title": "Advanced Voice Services Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of advanced voice service configurations.",
            "example": [
              {
                "voicePlatformId": "STANDARD",
                "ivrFlowId": "STANDARD",
                "supportedLanguages": [
                  "STANDARD"
                ],
                "concurrentCallCapacity": 1,
                "regionCode": "US-EAST-1",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/VoiceServiceConfig"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the Advanced Voice Services Operations GET request.",
        "example": {
          "items": [
            {
              "voicePlatformId": "STANDARD",
              "ivrFlowId": "STANDARD",
              "supportedLanguages": [
                "STANDARD"
              ],
              "concurrentCallCapacity": 1,
              "regionCode": "US-EAST-1",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fed075b0-006f-54ea-9e9c-63cd3dfe80ab",
            "correlationId": "43751aad-cbab-5f71-8e31-75fabd3e1b20",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VoiceServiceConfig": {
        "title": "Voice Service Configuration",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "Unique identifier for the voice platform.",
            "example": "voicePlatform1"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "Identifier for the IVR flow.",
            "example": "ivrFlow1"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice service.",
            "items": {
              "type": "string",
              "example": "English"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "The maximum number of concurrent calls supported.",
            "format": "int32",
            "example": 10
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the voice service recording.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the configuration was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Configuration details for a specific voice service."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information regarding pagination of the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and events.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-operations-search-advanced-voice-services-operations"
        },
        "example": "advanced-voice-services-operations-search-advanced-voice-services-operations"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that is currently executing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs the Bearer authentication method, which requires a valid JSON Web Token (JWT) to access protected resources. Clients must include the Bearer token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}