{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Product Inventory Distributions-spec",
    "description": "This API provides access to channel-specific product inventory distributions within the banking sector. It allows consumers to retrieve detailed information about product availability across various channels, enabling businesses to optimize inventory management and enhance their distribution strategies. Typical use cases include data analysis for inventory performance and decision-making for product allocation. The API serves as a valuable resource for developers working in banking and retail sectors aiming to improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-distribution": {
      "get": {
        "tags": [
          "Product Inventory"
        ],
        "summary": "Retrieve Product Inventory Distribution for a Specific Channel",
        "description": "This endpoint allows developers to fetch the inventory distribution of products specifically tailored to a defined sales channel. It provides insights into how products are allocated across various locations and platforms.",
        "operationId": "listChannelSpecificProductInventoryDistributions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the product inventory distribution specific to a channel. The data within this body specifies the necessary parameters to effectively filter and return the relevant inventory distribution details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificProductInventoryDistributionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product inventory distribution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificProductInventoryDistributionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificProductInventoryDistributionsRequest": {
        "title": "Channel-Specific Product Inventory Distribution Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation of a channel-specific product inventory distribution. It is expected to be a string that contains relevant information for the operation.",
        "example": "{}"
      },
      "ListChannelSpecificProductInventoryDistributionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of inventory items available in the distribution.",
            "example": [
              {
                "inventoryItemId": "STANDARD",
                "sku": "STANDARD",
                "branchId": "STANDARD",
                "quantityOnHand": 1,
                "reorderPoint": 1,
                "distributionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InventoryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the inventory items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the product inventory distribution get operation.",
        "example": {
          "items": [
            {
              "inventoryItemId": "STANDARD",
              "sku": "STANDARD",
              "branchId": "STANDARD",
              "quantityOnHand": 1,
              "reorderPoint": 1,
              "distributionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "85802ba0-cd70-562e-9d5b-e16c249fd8ef",
            "correlationId": "731f64e2-e77b-5156-8c8b-a54ff2c209d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InventoryItem": {
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "string"
          },
          "sku": {
            "type": "string",
            "description": "Stock keeping unit of the inventory item.",
            "example": "string"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the item is located.",
            "example": "string"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "Current quantity of the item available on hand.",
            "format": "int32",
            "example": 0
          },
          "reorderPoint": {
            "type": "integer",
            "description": "Threshold quantity for reordering the inventory item.",
            "format": "int32",
            "example": 0
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "Quantity of the item designated for distribution.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the inventory item record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the item was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual inventory item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available for the query.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across various systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing response metadata details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-distribution-search-product-inventory-distribution"
        },
        "example": "product-inventory-distribution-search-product-inventory-distribution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method based on JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}