{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Human Resource Management Recruitment-spec",
    "description": "The Human Resource Management Recruitment API enables organizations to streamline their recruitment processes. This API allows users to create and manage recruitment specifications, ensuring alignment with business needs. Typical consumers include HR professionals and recruitment specialists who require an efficient solution for specification management. Use cases may involve setting up new job postings, defining role requirements, and streamlining the recruitment workflow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment": {
      "post": {
        "tags": [
          "Recruitment Management"
        ],
        "summary": "Initiate a recruitment process.",
        "description": "This endpoint allows users to start a new recruitment process within the human resource management system. It collects necessary details for the role being recruited for and handles the submission of recruitment requests.",
        "operationId": "createHumanResourceManagementRecruitment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new recruitment entry in the human resource management system. It requires details about the job position, candidate information, and other relevant data necessary for the recruitment process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHumanResourceManagementRecruitmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created for recruitment.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateHumanResourceManagementRecruitmentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateHumanResourceManagementRecruitmentRequest": {
        "title": "Recruitment Request Body",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the requisition.",
            "example": "STANDARD"
          },
          "positionTitle": {
            "type": "string",
            "description": "The title of the position being requisitioned.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier of the department associated with the position.",
            "example": "STANDARD"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "location": {
            "type": "string",
            "description": "The location where the position is based.",
            "example": "STANDARD"
          },
          "targetStartDate": {
            "type": "string",
            "description": "The target start date for the new hire.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a new recruitment request in the HR management system.",
        "example": {
          "requisitionId": "STANDARD",
          "positionTitle": "STANDARD",
          "departmentId": "STANDARD",
          "employmentType": "STANDARD",
          "location": "STANDARD",
          "targetStartDate": "2026-09-15",
          "requestContext": {
            "requestId": "efe71f6d-b634-5628-b1f5-0d8dec09ebad",
            "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
            "idempotencyKey": "9eab9f25-f0cb-5836-b1b1-a3a3a773e0ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-343893"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track requests across multiple systems.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate requests.",
            "example": "IDEMP-7890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HR System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "Recruitment App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-1234"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEV-5678"
          }
        },
        "description": "Schema for information related to the communication channel used."
      },
      "CreateHumanResourceManagementRecruitmentResponse_201": {
        "title": "Recruitment Response",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the job requisition.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier of the department associated with the requisition.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource that the requisition pertains to.",
            "example": "RES-767257"
          },
          "status": {
            "type": "string",
            "description": "The current status of the recruitment process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the requisition was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the recruitment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response for a recruitment operation in the human resource management system.",
        "example": {
          "requisitionId": "STANDARD",
          "departmentId": "STANDARD",
          "resourceId": "RES-767257",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "68f02b3a-cd4e-5273-b802-562ceb63db4e",
            "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate multiple requests and responses.",
            "example": "corr-111"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when this metadata was generated.",
            "example": "2023-10-03T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema provides additional contextual information for the recruitment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-create-recruitment"
        },
        "example": "recruitment-create-recruitment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, allowing users to authenticate using a JSON Web Token (JWT). The token is typically included in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}