{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Guideline Compliance Status API",
    "description": "The Guideline Compliance Status API provides insights into the compliance status of financial transactions with respect to established guidelines. By leveraging this API, businesses can assess whether their operations align with regulatory frameworks, thereby ensuring adherence to compliance requirements. This API is primarily used by compliance officers, risk management teams, and auditors within financial institutions seeking to monitor transaction integrity and compliance levels. It facilitates informed decision-making and enhances operational oversight within banking and financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/guideline-compliance/status": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Fetch Compliance Status",
        "description": "Retrieves the current compliance status of the specified guidelines. This endpoint allows users to stay informed about the adherence to necessary regulations and standards.",
        "operationId": "getGuidelineComplianceStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to fetch the current compliance status of the specified guidelines. It should include necessary parameters to properly retrieve the compliance information based on the user's needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGuidelineComplianceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGuidelineComplianceStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetGuidelineComplianceStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations compliance status in JSON format.",
        "example": "{}"
      },
      "GetGuidelineComplianceStatusResponse_200": {
        "title": "Compliance Guideline Status Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the compliance is being reported.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for which compliance is being assessed.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation that the compliance guideline is associated with.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The deadline by which compliance must be achieved.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the compliance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the compliance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the compliance record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier that links related requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "57621392-e206-5c20-88a6-abfb0581589f",
              "correlationId": "d238a4af-abe8-5bfe-ac6f-7dfaafe9ec3a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for retrieving the compliance guideline status.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "57621392-e206-5c20-88a6-abfb0581589f",
            "correlationId": "d238a4af-abe8-5bfe-ac6f-7dfaafe9ec3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that processed the request. This can be used for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "guideline-compliance-get-guideline-compliance"
        },
        "example": "guideline-compliance-get-guideline-compliance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. Useful for identifying the source application in multi-app environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method. Clients can authenticate by providing a JSON Web Token (JWT) in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}