{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Fails Processing API",
    "description": "The Securities Fails Processing API enables users to track and manage securities transaction failures efficiently. It provides access to details about securities that did not settle properly, allowing users to investigate and resolve issues. This API is typically utilized by financial institutions, compliance teams, and operations personnel to ensure smooth trade execution and minimize settlement risks. By leveraging this API, organizations can enhance their operational workflows related to securities trading and maintain regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/securities-fails-processing/{param1}": {
      "get": {
        "tags": [
          "Securities Fail Management"
        ],
        "summary": "Retrieve details of a specific securities fail.",
        "description": "This endpoint allows users to fetch detailed information about a securities fail identified by its unique reference number. It provides insights into the nature of the fail, including relevant timestamps and status updates, enabling financial operations teams to manage and resolve issues effectively.",
        "operationId": "getSecuritiesFailsProcessingById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about securities fail operations related to the specified endpoint. It must be formatted according to the schema defined in the components section.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecuritiesFailsProcessingByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested securities fails data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecuritiesFailsProcessingByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecuritiesFailsProcessingByIdRequest": {
        "title": "Market Operations Security Fails Processing Request Body",
        "type": "string",
        "description": "This schema represents the request body for processing market operations related to security fail handling.",
        "example": "{}"
      },
      "GetSecuritiesFailsProcessingByIdResponse_200": {
        "title": "Get Securities Fails Processing Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the settlement of the trade is expected to occur.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The amount of the financial instrument to be settled.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for the settlement of the trade.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the trade record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the trade record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the trade record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-67890"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracking the request through systems.",
                "example": "correlation-12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-10T10:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Metadata related to the processing of the response.",
            "example": {
              "responseId": "ede4f15c-a3e4-52be-b95d-3a515d80684d",
              "correlationId": "a62d9e16-0dc9-5478-ab46-dad4431761a8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response of a GET operation for processing securities fails, which includes details about the trade and its related metadata.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ede4f15c-a3e4-52be-b95d-3a515d80684d",
            "correlationId": "a62d9e16-0dc9-5478-ab46-dad4431761a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-fails-processing-get-securities-fails-processing"
        },
        "example": "securities-fails-processing-get-securities-fails-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically a JSON Web Token (JWT). The bearer token must be included in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}