{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Utilities Administration API",
    "description": "The Utilities Administration API provides businesses with the necessary tools to manage and oversee utility services within their banking operations. This API allows users to retrieve detailed information about various utility facilities, ensuring efficient service management and operational oversight. Typical consumers include banking professionals and system administrators who need to monitor utility-related functionalities. By leveraging this API, organizations can streamline their utility administration processes, ultimately enhancing customer experience and operational effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/utilities-administration": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve utility administration details.",
        "description": "This endpoint fetches the details related to the utility administration for facilities. It provides comprehensive information necessary for managing utilities effectively.",
        "operationId": "getUtilitiesAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing necessary criteria for retrieving utilities administration information. Ensure that the data is structured according to the provided schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUtilitiesAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the utilities administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUtilitiesAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetUtilitiesAdministrationRequest": {
        "type": "string",
        "description": "A placeholder schema for the GET request body related to administration utilities in facilities operations.",
        "example": "{}"
      },
      "GetUtilitiesAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of utility items.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-317582",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/UtilityItem"
            }
          },
          "pagination": {
            "description": "Information regarding the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the GET operation on utilities administration, providing a list of items along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-317582",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "823602e7-f421-5eeb-9b64-a86eb5b76959",
            "correlationId": "cd446f08-dbd0-5229-96df-e7bba47f64c7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "UtilityItem": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The identifier for the site the utility item is associated with.",
            "example": "site-123"
          },
          "assetId": {
            "type": "string",
            "description": "The identifier for the asset related to the utility item.",
            "example": "asset-456"
          },
          "workOrderId": {
            "type": "string",
            "description": "The identifier for the work order associated with the utility item.",
            "example": "workOrder-789"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date and time when the maintenance is scheduled.",
            "example": "2023-10-01T00:00:00Z"
          },
          "vendorId": {
            "type": "string",
            "description": "The identifier for the vendor responsible for the maintenance.",
            "example": "vendor-101"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone of the facility where the utility item is located.",
            "example": "zone-1"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance required for the utility item.",
            "example": "regular"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the maintenance in minutes.",
            "format": "int32",
            "example": 120
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the utility item record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the utility item record was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Represents a utility item with various attributes related to its management."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of results per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 20
          }
        },
        "description": "Represents pagination information for the response data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-111"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through various services.",
            "example": "correlation-222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west"
          }
        },
        "description": "Contains additional metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "utilities-administration-search-utilities-administration"
        },
        "example": "utilities-administration-search-utilities-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token, specifically in JWT (JSON Web Token) format, for authorization. Include the token in the `Authorization` header as 'Bearer {token}' when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}