{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Wholesale Trading By Param1-spec",
    "description": "The Wholesale Trading Update API allows for the modification of dealer desk parameters in the wholesale trading domain. This API enables users to make targeted updates to trading parameters identified by unique identifiers, facilitating efficient management of trading operations. Typically utilized by financial institutions, brokers, and trading platforms, this API supports cases where dynamic adjustments to trading strategies are necessary. It ensures that the dealer desk can adapt promptly to changing market conditions and operational requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/dealer-desk/{param1}": {
      "patch": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Update dealer desk resource.",
        "description": "This operation allows you to update the details of a specified dealer desk resource. Users can modify various attributes of the resource to ensure they are current and accurate.",
        "operationId": "updateWholesaleTradingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the dealer desk information for a specific wholesale trading resource identified by RES-100045. The request payload must conform to the defined schema to ensure data integrity and consistency.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWholesaleTradingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWholesaleTradingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWholesaleTradingByParam1Request": {
        "title": "Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/OperationChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the change to take place.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating operations in a dealer desk for wholesale trading.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b666e055-8385-518d-b248-0eb8d97a36bf",
            "correlationId": "6f95108f-3d01-517e-8f6f-1fba27899f39",
            "idempotencyKey": "af0e3871-572c-5770-aa7f-424cc4862f0e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-367059"
            }
          }
        }
      },
      "OperationChanges": {
        "title": "Operation Changes",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book being modified.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument being altered.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the change is for a buy or sell action.",
            "example": "string"
          }
        },
        "description": "Schema representing the specifics of the changes requested to operations."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request; helps prevent duplicate operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application from which the request was made.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Details about the context in which the request was made."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., API, UI, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device that made the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel through which the request was made."
      },
      "UpdateWholesaleTradingByParam1Response_200": {
        "title": "PatchOperationsResponse",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the object was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation in the dealer desk API. It contains versioning information, status, update timestamp, and metadata related to the response.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "484293e2-8063-5624-a1d2-c709afd67c27",
            "correlationId": "6f95108f-3d01-517e-8f6f-1fba27899f39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata containing identifiers and timestamps for tracking the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header indicates the unique identifier for the endpoint that processed the request. It helps in tracing the request through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dealer-desk-update-dealer-desk"
        },
        "example": "dealer-desk-update-dealer-desk"
      },
      "X-Runtime-App": {
        "description": "This header specifies the name of the application that executed the transaction. It serves to identify the application context during debugging or logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token format, specifically designed for JSON Web Tokens (JWT). This method enhances security by including the token as a bearer credential in the authorization header, allowing for secure access control to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}