{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Consumer Service Brokered Products-spec",
    "description": "The Brokered Products Listing API enables users to retrieve a comprehensive list of consumer service brokered products available within the banking system. This endpoint facilitates access to detailed information about each product, helping consumers evaluate their options effectively. Typical users of this API include financial service providers and consumer application developers looking to integrate product listings into their platforms. By providing these listings, the API supports informed decision-making and enhances the consumer experience in banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/brokered-product": {
      "get": {
        "tags": [
          "Consumer Services"
        ],
        "summary": "Retrieve brokered product information.",
        "description": "This endpoint allows you to fetch details about brokered products within the consumer services. It provides essential information that can help in understanding the available products and their specifications.",
        "operationId": "listConsumerServiceBrokeredProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving brokered product information. This request should include specific parameters defined in the schema to filter and obtain the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsumerServiceBrokeredProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConsumerServiceBrokeredProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConsumerServiceBrokeredProductsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of a brokered product in consumer services. It accepts a string payload.",
        "example": "{}"
      },
      "ListConsumerServiceBrokeredProductsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of brokered product items associated with customer service requests.",
            "example": [
              {
                "customerId": "CUST-445910",
                "serviceRequestId": "546caf81-92cf-5a7b-a666-051f718497d8",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BrokeredProductItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on brokered products, containing a list of items, pagination information, sorting, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-445910",
              "serviceRequestId": "546caf81-92cf-5a7b-a666-051f718497d8",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "04fc744d-92bf-5541-8d19-b7d61b2ef157",
            "correlationId": "a82e79ef-cebe-5118-a015-f75a5349e3c0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BrokeredProductItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a brokered product item associated with a customer service request."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Amount details including value and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number being returned.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The size (number of items) of each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response including current page, page size, and total items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response, including response identifiers and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brokered-product-search-brokered-product"
        },
        "example": "brokered-product-search-brokered-product"
      },
      "x-runtime-app": {
        "description": "The name of the application that is serving the request, which can help in contextualizing the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which involves using a JSON Web Token (JWT) as the authorization mechanism. Clients must include the JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}