{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Branch Currency Distributions-spec",
    "description": "The Channel-Specific Branch Currency Distribution API provides stakeholders with critical insights into currency distribution across various branches based on specific channels. This API enables users to retrieve detailed information on the allocation of currencies within different branches, facilitating effective financial management and decision-making. Typical consumers include banking analysts, financial auditors, and branch managers who utilize this data to optimize currency distribution strategies. The endpoint supports developers aiming to integrate comprehensive branch currency information into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-currency-distribution": {
      "get": {
        "tags": [
          "Branch Operations"
        ],
        "summary": "Retrieve branch currency distribution data.",
        "description": "This endpoint allows you to fetch the distribution of currencies across various branches within a specific channel. It provides detailed information that can aid in analyzing the currency usage and optimizing branch operations.",
        "operationId": "listChannelSpecificBranchCurrencyDistributions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the distribution of currencies across branches in a specific channel. This operation allows clients to query for detailed currency allocation information tailored to the specified channel.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificBranchCurrencyDistributionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the currency distribution for the specified branch.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificBranchCurrencyDistributionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificBranchCurrencyDistributionsRequest": {
        "type": "string",
        "description": "A string representation of the request body for channel-specific branch currency distribution operations for the GET method.",
        "example": "{}"
      },
      "ListChannelSpecificBranchCurrencyDistributionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of branch currency distribution items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchCurrencyDistributionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for branch currency distribution operations.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7b053968-e9be-5a56-b7d1-7cb6d8c79b01",
            "correlationId": "78f8a675-3250-511a-8f9b-4f9e5baa7ad0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchCurrencyDistributionItem": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "The code for the region.",
            "example": "string"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of operations that can be carried out in a day.",
            "format": "int32",
            "example": 0
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "string"
          },
          "branchType": {
            "type": "string",
            "description": "The type of branch.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone for the branch.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single branch currency distribution item."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The opening time of the service window.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "The closing time of the service window.",
            "example": "string"
          }
        },
        "description": "Describes the service window timings."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination metadata for the item list."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-currency-distribution-search-branch-currency-distribution"
        },
        "example": "branch-currency-distribution-search-branch-currency-distribution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP Bearer authentication scheme using JSON Web Tokens (JWT) for secure access. Clients must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}