{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Capital Markets Data Retrieval API",
    "description": "The Capital Markets Data Retrieval API provides access to essential data and analytics related to wholesale trading in capital markets. Utilizing this API, users can retrieve specific information based on dynamic parameters, enabling financial analysts and traders to make informed decisions. Typical consumers include financial institutions, investment firms, and trading platforms looking to enhance their market insights. This streamlined access to capital markets data supports real-time analysis and improves operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/capital-markets/{param1}": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve resource RES-100045 from Capital Markets.",
        "description": "This endpoint allows users to fetch detailed information about the resource identified by RES-100045 within the Capital Markets of the wholesale trading sector. Ensure you have the necessary permissions to access this resource.",
        "operationId": "getWholesaleTradingCapitalMarketsResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about wholesale trading in capital markets, specifically for resource identification RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWholesaleTradingCapitalMarketsResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWholesaleTradingCapitalMarketsResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWholesaleTradingCapitalMarketsResource100045Request": {
        "type": "string",
        "description": "The request body for the operations GET request in the wholesale trading capital markets API.",
        "example": "{}"
      },
      "GetWholesaleTradingCapitalMarketsResource100045Response_200": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the trade is a buy or sell operation.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units to be traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The maximum price at which the order is to be executed.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET operation in wholesale trading capital markets.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1bccfea1-2c39-5e9b-970c-2818a25076f0",
            "correlationId": "16189556-84e9-5b17-b65a-f7897370c0fe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price details of a trade."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint corresponding to the request, used for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ecm-and-dcm-get-ecm-and-dcm"
        },
        "example": "ecm-and-dcm-get-ecm-and-dcm"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Token authentication as defined in RFC 6750. A valid JSON Web Token (JWT) must be included in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}