{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Transaction Inquiry API",
    "description": "The Card Transaction Inquiry API allows users to access details about card transactions processed through the banking operational services. This endpoint enables financial institutions and service providers to retrieve transaction records efficiently. Typical consumers include banking applications, financial analysts, and compliance officers who require detailed insights into transaction data for auditing and reporting purposes. The API facilitates a seamless way to monitor and manage financial activities related to card transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch": {
      "get": {
        "tags": [
          "Card Transactions"
        ],
        "summary": "Retrieve Card Transaction Switch Details",
        "description": "This endpoint allows developers to retrieve detailed information about card transaction switches in the operational services. It provides insights into transaction statuses, processing details, and any related operational data necessary for effective transaction management.",
        "operationId": "getCardTransactionSwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET request for the card transaction switch operational service. It accepts specific parameters that guide the processing of the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardTransactionSwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the card transaction data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardTransactionSwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardTransactionSwitchRequest": {
        "title": "Card Transaction Switch Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for card transaction switch operations when performing a GET request. It contains a string representation of the transaction data.",
        "example": "{}"
      },
      "GetCardTransactionSwitchResponse_200": {
        "title": "Card Transaction Switch Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of card transaction operation items.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-751844",
                "accountId": "ACC-282376",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardTransactionOperation"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the card transaction switch operations GET request. Contains a list of transaction items, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-751844",
              "accountId": "ACC-282376",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "685895f9-9d02-539d-8a59-9334933e2178",
            "correlationId": "772324f1-0419-51fa-9284-470153683841",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardTransactionOperation": {
        "title": "Card Transaction Operation",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "op123"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer involved in the transaction.",
            "example": "cust456"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the transaction.",
            "example": "acc789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the transaction was requested.",
            "example": "2023-01-01T00:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the transaction.",
            "example": "High"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the transaction record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the transaction record was last updated.",
            "example": "2023-01-02T00:00:00Z"
          }
        },
        "description": "Details of a card transaction operation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for API responses."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the transaction was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for the response received from the API."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-search-card-transaction-switch"
        },
        "example": "card-transaction-switch-search-card-transaction-switch"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This allows clients to authenticate by providing a token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}