{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan Application By Applicant Id-spec",
    "description": "The Retrieve Loan Application Details API allows users to access specific loan application information associated with a given applicant ID. This endpoint is designed for financial institutions and loan service platforms to efficiently obtain detailed application statuses, enabling better customer service and decision-making. Typical consumers include loan processors, customer service representatives, and financial analysts. By utilizing this API, organizations can streamline their workflow and enhance the accuracy of their records and communications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants/{applicantId}": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve Applicant Information",
        "description": "Fetches detailed information about the applicants associated with a specific loan application using its unique identifier. This endpoint helps users access applicant data for further processing and evaluation.",
        "operationId": "getLoanApplicationByApplicantId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/applicantId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the details of a specific applicant associated with a loan application. This should include all necessary parameters required to successfully fetch the relevant applicant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationByApplicantIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved applicant details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationByApplicantIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationByApplicantIdRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for loan application applicants.",
        "example": "{}"
      },
      "GetLoanApplicationByApplicantIdResponse_200": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Role of the applicant in the loan application.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-333632"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "Relationship of the applicant to the primary applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Details about the applicant's income.",
            "$ref": "#/components/schemas/ApplicantIncome"
          },
          "monthlyObligations": {
            "description": "Monthly obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of declared assets by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredAsset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of declared liabilities by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredLiability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "017ce84e-8284-6492-11f6-04ed53c39c49"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "Current credit bureau status of the applicant.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information related to the applicant's record.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Metadata associated with the applicant's data.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the details of loan application applicants.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-333632",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "017ce84e-8284-6492-11f6-04ed53c39c49",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f3e39bbf-586f-58be-a609-54bb86f70f8b",
            "correlationId": "f3e4e570-a952-5b59-9828-6694038b82ef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ApplicantIncome": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment of the applicant.",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "Tech Corp"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "Start date of employment.",
            "example": "2021-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if self-employed.",
            "example": "BRN123456"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "otherMonthlyIncome": {
            "description": "Other sources of monthly income.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Verification status of the income.",
            "example": "Verified"
          }
        },
        "description": "Schema representing the income details of an applicant."
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount in the given currency.",
            "example": "5000"
          }
        },
        "description": "Schema representing a financial amount with currency."
      },
      "DeclaredAsset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset.",
            "example": "Car"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "2018 Toyota Camry"
          },
          "estimatedValue": {
            "description": "Estimated value of the asset.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Schema representing a declared asset by the applicant."
      },
      "DeclaredLiability": {
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of the liability.",
            "example": "Mortgage"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender.",
            "example": "Bank A"
          },
          "outstandingBalance": {
            "description": "Outstanding balance of the liability.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "monthlyPayment": {
            "description": "Monthly payment amount for the liability.",
            "$ref": "#/components/schemas/FinancialAmount"
          }
        },
        "description": "Schema representing a declared liability by the applicant."
      },
      "AuditDetails": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp for when the record was created.",
            "example": "2021-01-20T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of who created the record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the record was last updated.",
            "example": "2021-01-21T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of who last updated the record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the audit details related to an applicant's record."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-321"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Schema representing metadata associated with the applicant's data."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "applicantId": {
        "name": "applicantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header indicates the unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-applicant"
        },
        "example": "banking-loans-openapi-get-applicant"
      },
      "X-Runtime-App": {
        "description": "This header provides information about the application that executed the request, which helps in tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where clients must include a JSON Web Token (JWT) in the Authorization header of their requests. The token is a compact, URL-safe means of representing claims to be transferred between two parties. Ensure that the token is valid and not expired to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}