{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Case Root Cause Analysi Review-spec",
    "description": "The Case Root Cause Analysis Review API allows businesses to initiate and manage reviews of root cause analyses for various cases in the banking servicing domain. This endpoint enables users to submit detailed feedback and insights, fostering a collaborative review process to enhance operational effectiveness. Typical consumers include case management teams and operational analysts who rely on these reviews to identify trends and improve service delivery. By leveraging this API, organizations can systematically analyze cases, ensuring adherence to quality standards and continuous improvement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/case-root-cause-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Case Management"
        ],
        "summary": "Create a review for case root cause analysis.",
        "description": "This endpoint allows users to submit a review for a specific case root cause analysis identified by its unique resource ID. The review can include feedback and other pertinent information to help improve the analysis process.",
        "operationId": "createCaseRootCauseAnalysiReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new review for the case-root cause analysis identified by RES-100045. It should contain all necessary details relevant to the review being created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCaseRootCauseAnalysiReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCaseRootCauseAnalysiReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCaseRootCauseAnalysiReviewRequest": {
        "title": "Root Cause Analysis Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, which can include multiple aspects.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual aspect of the review scope."
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The unique identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date and time for the review to be completed in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a review request in the root cause analysis process.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "870b8dd1-2b12-5dc2-9bb1-3318c471f01b",
            "correlationId": "47c65a65-951d-5f9d-b3b5-b6dca92a1f93",
            "idempotencyKey": "256e5d1a-d074-505c-a6ab-c74d950c4ab6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-861288"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests across systems.",
            "example": "corr-abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "idemp-key-xyz789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "AppZ"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Metadata pertaining to the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used for the request.",
            "example": "device-xyz123"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateCaseRootCauseAnalysiReviewResponse_202": {
        "title": "Root Cause Analysis Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a Root Cause Analysis operation including action details and metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c848632a-ab05-5877-876d-95d2b522d261",
            "correlationId": "47c65a65-951d-5f9d-b3b5-b6dca92a1f93",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate with other related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata details for the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, useful for tracking API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "case-root-cause-analysis-review-case-root-cause-analysis"
        },
        "example": "case-root-cause-analysis-review-case-root-cause-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that made the request, facilitating the identification of the source application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token format, specifically JWT (JSON Web Token). This scheme provides a means of securing APIs by granting users access through a token that is included in the HTTP header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}