{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Finance Financial Control-spec",
    "description": "The Financial Control Management API provides businesses with the capability to establish and manage financial controls within their banking systems. This API allows for the creation of financial control specifications, ensuring compliance and risk management in financial operations. Typical consumers include finance teams and compliance officers who need to set up new financial governance structures. By leveraging this API, organizations can enhance their financial oversight and establish better control measures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-control": {
      "post": {
        "tags": [
          "Finance Management"
        ],
        "summary": "Create a new financial control entry.",
        "description": "This endpoint allows users to create a financial control entry, helping track and manage financial flows effectively. Ensure all required fields are provided in the request body for successful creation.",
        "operationId": "createFinanceFinancialControl",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit financial control operations. It should contain all required details in JSON format to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinanceFinancialControlRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, confirming the operation's success.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinanceFinancialControlResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFinanceFinancialControlRequest": {
        "title": "Financial Control Operation Request Body",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier of the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier of the ledger for the operation.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the financial operation, formatted as YYYY-MM.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The monetary amount associated with the financial operation.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date on which the posting is recorded, formatted as ISO 8601 date.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for financial control operations in the system.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "requestContext": {
            "requestId": "ab162243-42b4-567a-9683-9e7ac1045b3a",
            "correlationId": "2035e826-d06d-54ec-9785-7cf81eeb2ece",
            "idempotencyKey": "4dc3134f-0b94-5f2d-ac23-b4116e986b22",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-794583"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217 format) for the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORR-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "IDEMPOTENT-KEY-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made, formatted as ISO 8601 date.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "FinanceSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AccountingApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for request tracking."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-01"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-001"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateFinanceFinancialControlResponse_201": {
        "title": "Financial Control Response",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "Unique identifier for the ledger.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the operation.",
            "example": "RES-489621"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Financial Control operations indicating the result of a successful POST request.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "resourceId": "RES-489621",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1efff32a-dbec-5ede-b00e-4f5b89161774",
            "correlationId": "2035e826-d06d-54ec-9785-7cf81eeb2ece",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating different operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the financial control response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-control-create-financial-control"
        },
        "example": "financial-control-create-financial-control"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a bearer token, specifically in the JSON Web Token (JWT) format. The client must include this token in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}