{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Loan Applications API",
    "description": "This API endpoint allows users to update existing loan applications efficiently. It serves to modify the details of a specified loan application identified by a unique parameter. Typical consumers include financial institutions and loan processing systems that need to manage loan application data effectively. By utilizing this API, users can ensure that loan application information is accurate and up-to-date, facilitating better decision-making in the lending process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "put": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update a specific loan application.",
        "description": "This endpoint allows you to update the details of a specific loan application identified by its unique reference number. Ensure that you provide all required fields in the request body to successfully update the loan application.",
        "operationId": "updateLoanApplicationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body must include the necessary information to update the loan application with ID RES-100045. This information typically includes details like the applicant's updated financial situation, loan amount requested, and any changes in personal information or circumstances.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationRes100045Request": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier for the loan product.",
            "example": "PROD-427579"
          },
          "externalReference": {
            "type": "string",
            "description": "An external identifier for reference.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application is made.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "Additional description regarding the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer.",
            "example": "CUST-162720"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch processing the application.",
            "example": "CODE-989"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The code for any ongoing campaign related to the loan application.",
            "example": "CODE-967"
          },
          "customerConsent": {
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the details of a loan application request.",
        "example": {
          "productId": "PROD-427579",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-162720",
          "branchCode": "CODE-989",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-967",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "b14f177e-adde-58db-8cca-ef218dd1a629",
            "correlationId": "a0681006-b31e-5919-ad16-b91ca86d5e6a",
            "idempotencyKey": "a913b840-60f8-5f03-898c-91af6a2c582a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-465688"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "title": "Requested Principal Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the requested amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal being requested.",
            "example": "10000"
          }
        },
        "description": "Schema for the principal amount requested for the loan, including currency details."
      },
      "CustomerConsent": {
        "title": "Customer Consent Information",
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer gives consent to check their credit report.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consents to processing their data.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consents to receive marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp of when consent was given.",
            "example": "2023-01-01T00:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "Reference identifier for tracking the consent.",
            "example": "string"
          }
        },
        "description": "Schema representing the consent details provided by the customer."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context in which the request was made."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel used for the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel, e.g., web, mobile.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details of the request."
      },
      "UpdateLoanApplicationRes100045Response_200": {
        "title": "Loan Application Response",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "Identifier for the loan product.",
            "example": "PROD-736272"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier for tracking purposes.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the application is made.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "Detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The amount being requested as a loan, including currency details.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "Requested loan term in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "Day of the month the borrower prefers for repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer applying for the loan.",
            "example": "CUST-525316"
          },
          "branchCode": {
            "type": "string",
            "description": "Code for the branch handling the loan application.",
            "example": "CODE-281"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager assigned to the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "Identifier for any marketing campaign associated with the loan application.",
            "example": "CODE-717"
          },
          "customerConsent": {
            "description": "Details about the customer's consent for data processing and credit checks.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "31b32c11-02ef-d783-b961-66d9f88aca8a"
          },
          "applicationNumber": {
            "type": "string",
            "description": "Application number assigned to the loan application.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "Timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "Timestamp when a decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "Identifier of the booked loan if the application was approved.",
            "example": "LOAN-957750"
          },
          "completionPercent": {
            "type": "integer",
            "description": "Percentage of the loan application process that is complete.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements needed to complete the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information related to the loan application.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata related to the loan application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response details of a loan application.",
        "example": {
          "productId": "PROD-736272",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-525316",
          "branchCode": "CODE-281",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-717",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "31b32c11-02ef-d783-b961-66d9f88aca8a",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-957750",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "e108c7d8-40fa-5359-97b1-96c6b3807a1f",
            "correlationId": "a0681006-b31e-5919-ad16-b91ca86d5e6a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "title": "Outstanding Requirement",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the outstanding requirement.",
            "example": "REQ001"
          },
          "description": {
            "type": "string",
            "description": "Description of the outstanding requirement.",
            "example": "Proof of income"
          },
          "status": {
            "type": "string",
            "description": "Current status of the requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for fulfilling the requirement.",
            "example": "2023-02-01"
          }
        },
        "description": "Schema representing a single outstanding requirement for the loan application."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the application was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the application.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the application was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the application.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan application record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit details of the loan application."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response generated.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the response across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata for the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-application"
        },
        "example": "banking-loans-openapi-replace-loan-application"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT (JSON Web Token) Bearer Authentication: This security scheme uses a bearer token for authorization in API requests. The client must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}