{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Available Balance Inquiry API",
    "description": "The Available Balance Inquiry API enables clients to retrieve the current available balance for a specific account associated with a designated customer. This service is essential for financial institutions and application developers needing to provide clients with real-time access to their account balances. Typical use cases include account management tools and customer service portals that require balance verification during transactions. By using this API, businesses can ensure transparency and improve user experience through instant balance updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/availablebalance": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve available balance for a specific account.",
        "description": "This endpoint allows you to retrieve the available balance for a specified account associated with a customer. It provides the current balance information that can be used for customer inquiries, financial planning, and account management.",
        "operationId": "getAvailableBalanceForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve the available balance for the specified account. The request body must conform to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAvailableBalanceForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the available balance for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAvailableBalanceForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAvailableBalanceForAccountRequest": {
        "type": "string",
        "description": "This schema represents the available balance for a specific account request in JSON format.",
        "example": "{}"
      },
      "GetAvailableBalanceForAccountResponse_200": {
        "title": "Available Balance Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the account.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the real account number.",
            "example": "STANDARD"
          },
          "availableBalance": {
            "type": "number",
            "description": "The available balance in the account.",
            "example": 100.0
          },
          "availableBalanceDate": {
            "type": "integer",
            "description": "The date when the available balance was last updated.",
            "format": "int32",
            "example": 1
          },
          "clearedBalance": {
            "type": "number",
            "description": "The cleared balance in the account.",
            "example": 100.0
          },
          "clearedBalanceDate": {
            "type": "integer",
            "description": "The date when the cleared balance was last updated.",
            "format": "int32",
            "example": 1
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "The status code indicating the aggregation status.",
            "format": "int32",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the available balance (e.g., USD, EUR).",
            "example": "USD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for available balance operation.",
        "example": {
          "id": 1,
          "realAccountNumberLast4": "STANDARD",
          "availableBalance": 100.0,
          "availableBalanceDate": 1,
          "clearedBalance": 100.0,
          "clearedBalanceDate": 1,
          "aggregationStatusCode": 1,
          "currency": "USD",
          "metadata": {
            "responseId": "3dba7682-f4bb-579d-8868-1a90c3a90c75",
            "correlationId": "bb171b97-8a90-53b8-899f-9137592e121d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses in distributed systems.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2021-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed. This value helps in tracing and monitoring API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-available-balance"
        },
        "example": "open-finance-api-get-available-balance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for handling this request and generating the response. This provides context for the request\u2019s origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme, which requires the client to include a JSON Web Token (JWT) in the authorization header of their requests. The JWT should be issued by a trusted authority and must be valid for the requested operations.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}