{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Settlement API",
    "description": "The Trade Settlement API facilitates the retrieval of trade settlement details within the banking market operations ecosystem. This API allows users to access comprehensive information regarding completed trades, including transaction statuses, settlement dates, and involved parties. It serves as a critical resource for banking professionals and financial analysts seeking to monitor and reconcile trade activities. Use cases include auditing, reporting, and ensuring compliance with regulatory requirements related to trade settlements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-settlement": {
      "get": {
        "tags": [
          "Trade Operations"
        ],
        "summary": "Retrieve trade settlement information.",
        "description": "This endpoint allows users to fetch detailed information regarding trade settlements, including statuses, timestamps, and relevant trade details. It is essential for monitoring and managing the outcomes of executed trades.",
        "operationId": "getTradeSettlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve trade settlement information from the market operations endpoint. It contains the necessary details for specifying the operations required to fetch the data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeSettlementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of trade settlement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeSettlementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeSettlementRequest": {
        "type": "string",
        "description": "This schema represents the JSON string for the request body required for the GET operation on trade settlements.",
        "example": "{}"
      },
      "GetTradeSettlementResponse_200": {
        "title": "Trade Settlement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of trade settlements.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "clearingHouseId": "STANDARD",
                "settlementMethod": "STANDARD",
                "matchingStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeSettlement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria used for retrieving the trade settlements.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response structure for retrieving trade settlements, including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "clearingHouseId": "STANDARD",
              "settlementMethod": "STANDARD",
              "matchingStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1a70d5b4-5c37-5daa-bf30-b92f5224b0b5",
            "correlationId": "daa1fb35-bcb2-5440-aa70-337dff382717",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeSettlement": {
        "title": "Trade Settlement",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "12345"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "ABC123"
          },
          "settlementDate": {
            "type": "string",
            "description": "Date when the settlement is scheduled.",
            "example": "2023-05-01"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument being settled.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for the settlement.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the settlement.",
            "example": "CUST001"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house involved in the settlement.",
            "example": "CLEA001"
          },
          "settlementMethod": {
            "type": "string",
            "description": "Method used for settling the trade.",
            "example": "Cash"
          },
          "matchingStatus": {
            "type": "string",
            "description": "Status of the trade matching process.",
            "example": "Matched"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the trade settlement was last updated.",
            "example": "2023-09-15T12:34:56Z"
          }
        },
        "description": "Represents a trade settlement including details such as IDs, dates, quantities, and statuses."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-09-15T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response, including IDs and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-settlement-search-trade-settlement"
        },
        "example": "trade-settlement-search-trade-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Clients must provide a valid JWT token in the Authorization header for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}