{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Architecture Insights API",
    "description": "The Enterprise Architecture Insights API facilitates access to essential architectural frameworks and strategic business directions within the banking domain. It enables users to retrieve detailed insights regarding the enterprise architecture, promoting informed decision-making and alignment with organizational goals. This API is valuable for business analysts, architects, and strategic planners who require a comprehensive understanding of the architectural landscape to drive business outcomes. By leveraging this API, stakeholders can efficiently assess and visualize the impact of architectural decisions on business performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/enterprise-architecture": {
      "get": {
        "tags": [
          "Enterprise Architecture"
        ],
        "summary": "Retrieve enterprise architecture information.",
        "description": "This endpoint allows users to retrieve detailed information about the enterprise architecture, providing insights into its structure and components. It is essential for understanding the alignment between business strategy and IT capabilities.",
        "operationId": "getEnterpriseArchitecture",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving enterprise architecture information, including various operations related to business direction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseArchitectureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved enterprise architecture data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseArchitectureResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseArchitectureRequest": {
        "title": "Enterprise Architecture Operations GET Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to Enterprise Architecture in the Business Direction context. It is expected to be a string representation of the request.",
        "example": "{}"
      },
      "GetEnterpriseArchitectureResponse_200": {
        "title": "Business Direction Enterprise Architecture Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of initiatives related to enterprise architecture.",
            "example": [
              {
                "initiativeId": "STANDARD",
                "sponsorId": "STANDARD",
                "planningHorizon": "STANDARD",
                "targetDate": "2026-09-15",
                "status": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Initiative"
            }
          },
          "pagination": {
            "description": "Metadata for pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET operation on enterprise architecture business direction.",
        "example": {
          "items": [
            {
              "initiativeId": "STANDARD",
              "sponsorId": "STANDARD",
              "planningHorizon": "STANDARD",
              "targetDate": "2026-09-15",
              "status": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c0a2e9af-3fc4-5797-b301-88ac45179b34",
            "correlationId": "b40b522f-094c-55d3-a874-4a02f370e10e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Initiative": {
        "title": "Initiative",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative."
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative."
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planned timeline for the initiative."
          },
          "targetDate": {
            "type": "string",
            "description": "The targeted completion date for the initiative."
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., active, deleted)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the initiative was last updated."
          }
        },
        "description": "Schema representing an individual initiative within the enterprise architecture."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema providing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-architecture-search-enterprise-architecture"
        },
        "example": "enterprise-architecture-search-enterprise-architecture"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token formatted as JSON Web Token (JWT). Clients must include this token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}