{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Servicing Servicing Issue-spec",
    "description": "The Servicing Issue Management API allows users to log new servicing issues related to banking services. This API facilitates the creation of detailed reports on encountered issues, enabling the support teams to address and resolve customer concerns effectively. Typical consumers include customer service representatives and support staff who need to document and track servicing challenges. By providing a structured approach to issue management, this API enhances the overall customer experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-issue": {
      "post": {
        "tags": [
          "Servicing"
        ],
        "summary": "Create a new servicing issue.",
        "description": "This operation allows you to create a new servicing issue in the system. Provide the necessary details in the request body to initiate the creation of the servicing issue.",
        "operationId": "createServicingServicingIssue",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or submit a servicing issue. It requires JSON data that conforms to the specified schema for processing the servicing request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingServicingIssueRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, indicating the servicing issue has been logged.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingServicingIssueResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingServicingIssueRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-326987"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "CASE-669580"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request (e.g., Low, Medium, High).",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel from which the request originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for the case.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The date and time by which service level must be met.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preferred method of contact.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a servicing issue.",
        "example": {
          "customerId": "CUST-326987",
          "caseId": "CASE-669580",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "1c50e0ef-2126-5a89-96f3-c214954f5fdd",
            "correlationId": "9b0f8407-94cc-5c17-87b0-ed98f0f4ed36",
            "idempotencyKey": "b9e02681-b007-532d-8751-06cc76e3a4c5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-216896"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ1111"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across multiple services.",
            "example": "CORR2222"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request remains idempotent.",
            "example": "IDEMP3333"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-25T08:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request was initiated.",
            "example": "Billing System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Billing Application"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for tracking the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "DEVICE456"
          }
        },
        "description": "Information about the specific channel used for the request."
      },
      "CreateServicingServicingIssueResponse_201": {
        "title": "Servicing Issue Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-741065"
          },
          "caseId": {
            "type": "string",
            "description": "Identifier for the servicing case.",
            "example": "CASE-130040"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the related resource.",
            "example": "RES-912218"
          },
          "status": {
            "type": "string",
            "description": "Current status of the servicing issue.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the servicing issue was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ServicingIssueMetadata"
          }
        },
        "description": "Response schema for servicing issue creation, containing essential identifiers and metadata.",
        "example": {
          "customerId": "CUST-741065",
          "caseId": "CASE-130040",
          "resourceId": "RES-912218",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "367d266f-2e8d-5532-8213-f29ae8f25405",
            "correlationId": "9b0f8407-94cc-5c17-87b0-ed98f0f4ed36",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingIssueMetadata": {
        "title": "Servicing Issue Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the servicing issue response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-issue-create-servicing-issue"
        },
        "example": "servicing-issue-create-servicing-issue"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method and is designed to support JSON Web Tokens (JWT). Clients must include a Bearer token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}