{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Consumer Service Bank Drafts-spec",
    "description": "The Bank Drafts Retrieval API provides access to consumer bank drafts within the financial services sector. This endpoint allows authorized users to query and retrieve detailed information about bank drafts associated with consumer accounts. Typical consumers include banking staff and financial analysts who require comprehensive data for reporting and decision-making purposes. By utilizing this API, businesses can streamline their processes related to financial transactions while ensuring accurate and timely access to bank draft information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/bank-drafts": {
      "get": {
        "tags": [
          "BankDrafts"
        ],
        "summary": "Retrieve bank drafts under consumer services.",
        "description": "This endpoint allows you to fetch a list of bank drafts associated with consumer services. It provides useful information such as draft details, statuses, and any relevant metadata.",
        "operationId": "listConsumerServiceBankDrafts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve bank drafts associated with the consumer services. This operation allows clients to query for specific bank drafts using the information provided in the request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListConsumerServiceBankDraftsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested bank draft information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListConsumerServiceBankDraftsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListConsumerServiceBankDraftsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to bank drafts in consumer services.",
        "example": "{}"
      },
      "ListConsumerServiceBankDraftsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of bank draft records.",
            "example": [
              {
                "customerId": "CUST-657889",
                "serviceRequestId": "f768f029-c10d-5acf-8536-ffd4b4e3be07",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BankDraft"
            }
          },
          "pagination": {
            "type": "object",
            "description": "Metadata surrounding the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata regarding the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the GET operations on bank drafts.",
        "example": {
          "items": [
            {
              "customerId": "CUST-657889",
              "serviceRequestId": "f768f029-c10d-5acf-8536-ffd4b4e3be07",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "128c7750-06a5-5dd7-86d2-3d971b592d31",
            "correlationId": "0b1c8502-db4d-5cc9-b67a-29bd11ac5bc6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BankDraft": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the bank draft.",
            "example": "CUST12345"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the associated service request.",
            "example": "REQ54321"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the bank draft.",
            "example": "PRODCODE1"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested.",
            "example": "2023-10-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the bank draft record.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the bank draft record.",
            "example": "2023-10-02T15:30:00Z"
          }
        },
        "description": "Schema representing an individual bank draft record."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "Numeric value of the amount.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount associated with a bank draft."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated result.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate requests and responses.",
            "example": "CORR7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-02T15:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-drafts-search-bank-drafts"
        },
        "example": "bank-drafts-search-bank-drafts"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token in HTTP authorization headers. Tokens are typically JSON Web Tokens (JWT), which provide a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}