{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update P2m Webhook Endpoint By Webhook Endpoint Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update P2m Webhook Endpoint By Webhook Endpoint Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{webhookEndpointId}": {
      "patch": {
        "operationId": "updateP2mWebhookEndpointByWebhookEndpointId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookEndpointId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateP2mWebhookEndpointByWebhookEndpointIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateP2mWebhookEndpointByWebhookEndpointIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateP2mWebhookEndpointByWebhookEndpointIdRequest": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "ad6ba9aa-f3eb-5ebf-b178-21f1470c6ec0",
              "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
              "idempotencyKey": "531f72eb-4082-5634-86aa-86424d181690",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-380498"
              }
            }
          }
        },
        "example": {
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "ad6ba9aa-f3eb-5ebf-b178-21f1470c6ec0",
            "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
            "idempotencyKey": "531f72eb-4082-5634-86aa-86424d181690",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-380498"
            }
          }
        }
      },
      "UpdateP2mWebhookEndpointByWebhookEndpointIdResponse_200": {
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-601318"
          },
          "url": {
            "type": "string",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "example": "ACTIVE"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "f1221310-6d1b-5e22-929c-37bcf53d7393",
              "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-601318",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f1221310-6d1b-5e22-929c-37bcf53d7393",
            "correlationId": "156b086a-97b2-5fa9-b239-8dbdd76cf5d3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookEndpointId": {
        "name": "webhookEndpointId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-update-webhook-endpoint"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}