{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Disbursement-spec",
    "description": "The Loan Disbursement Management API facilitates the creation of loan disbursements for specific loans identified by their unique loan ID. This endpoint allows financial institutions and their applications to efficiently process the release of funds to borrowers, ensuring that the disbursement process is streamlined and compliant with financial regulations. Typical consumers include loan officers, financial service applications, and accounting systems that integrate with lending workflows. Utilize this API to enhance your loan management capabilities and improve customer service efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a disbursement for a specific loan.",
        "description": "This endpoint allows you to initiate a disbursement process for a specified loan. Ensure all necessary loan details are provided in the request body to successfully create the disbursement.",
        "operationId": "createLoanDisbursement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the disbursement process for a specific loan identified by LOAN-500045. Ensure that all required fields are correctly populated to proceed with the disbursement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanDisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Disbursement created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanDisbursementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanDisbursementRequest": {
        "title": "Loan Disbursement Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be disbursed, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method by which the loan will be disbursed.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date on which the disbursement is to be effective.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details of the beneficiary receiving the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions to be applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A narrative description related to the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier related to the disbursement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context for the request, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for loan disbursement operations.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-330",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "781a1918-c553-56d8-9852-45a6d1b765f7",
            "correlationId": "9805d91a-6473-5481-827f-7081b8f7a36a",
            "idempotencyKey": "f10e72da-2926-59f4-8533-ae1a77dedbe8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-202772"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount in specified currency.",
            "example": "string"
          }
        },
        "description": "Representation of an amount with currency."
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the beneficiary.",
            "example": "string"
          },
          "accountNumber": {
            "type": "string",
            "description": "Bank account number of the beneficiary.",
            "example": "string"
          },
          "bankCode": {
            "type": "string",
            "description": "Bank code for the beneficiary's bank.",
            "example": "string"
          },
          "bankName": {
            "type": "string",
            "description": "Name of the bank where the beneficiary holds an account.",
            "example": "string"
          },
          "address": {
            "description": "Address details of the beneficiary.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Details about the beneficiary receiving the disbursement."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the beneficiary resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the beneficiary resides.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the beneficiary's address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country where the beneficiary resides.",
            "example": "string"
          }
        },
        "description": "Address structure for a beneficiary."
      },
      "Deduction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of deduction (e.g., tax, fee).",
            "example": "string"
          },
          "amount": {
            "description": "The amount of the deduction in specified currency.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of a deduction applied in the disbursement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests across systems.",
            "example": "corr-456def"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-789ghi"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "App B"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the details of the channel through which the request was made."
      },
      "CreateLoanDisbursementResponse_201": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount involved in the disbursement.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "Method used for the disbursement.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "Date when the disbursement value is recognized.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Information about the beneficiary receiving the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Narrative description related to the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier for tracking.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement.",
            "example": "7395521a-e68b-0cb9-88d4-b5eed5856eb5"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "Unique number identifying the disbursement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement.",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "description": "The gross amount prior to any deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "description": "The net amount after deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for the transaction record.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Code indicating the reason for disbursement failure, if applicable.",
            "example": "CODE-753"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message providing details about the failure, if applicable.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the disbursement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata for tracking and analysis.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for disbursement operations.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-597",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "7395521a-e68b-0cb9-88d4-b5eed5856eb5",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-753",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "6a3c4ea3-5264-569c-8674-86214addda9b",
            "correlationId": "9805d91a-6473-5481-827f-7081b8f7a36a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the disbursement record was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The user or system that created this record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user or system that last updated this record.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number for track of changes.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information for the disbursement process."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional information regarding the disbursement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This value is essential for tracking and logging requests in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-create-disbursement"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-create-disbursement"
      },
      "X-Runtime-App": {
        "description": "The runtime application identifier that specifies which application is processing the request. This header helps in identifying the context of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be provided in the Authorization header as 'Bearer {token}'. The token is expected to be in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}