{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Advisory Information API",
    "description": "The Legal Advisory Information API provides comprehensive access to legal advisory services related to enterprise banking operations. This API allows users to retrieve essential data and guidance needed for informed decision-making in legal matters. It serves financial institutions seeking to ensure compliance and mitigate legal risks. Primary consumers include legal teams and compliance officers within enterprises who require timely legal insights and documentation. By utilizing this API, users can streamline their legal advisory processes and enhance operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-advisory": {
      "get": {
        "tags": [
          "Legal Services"
        ],
        "summary": "Retrieve legal advisory services.",
        "description": "This endpoint allows users to access a list of available legal advisory services provided by the enterprise. It is designed to help users find legal support relevant to their needs.",
        "operationId": "getLegalAdvisoryServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving legal advisory information within enterprise services. This request expects a JSON payload conforming to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLegalAdvisoryServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved legal advisory information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLegalAdvisoryServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLegalAdvisoryServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Legal Advisory service. It is expected to be a string value.",
        "example": "{}"
      },
      "GetLegalAdvisoryServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of legal engagements.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LegalEngagement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the engagement list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation of Legal Advisory Services. It contains a list of engagement items along with pagination and metadata.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3a044de2-9650-5ff5-ab77-810f2656d759",
            "correlationId": "4c6bee81-52f6-5076-bc7f-ed990120c048",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LegalEngagement": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "123"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the engagement.",
            "example": "Legal research"
          },
          "framework": {
            "type": "string",
            "description": "Framework under which the engagement is conducted.",
            "example": "Framework A"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier of the owner of the engagement.",
            "example": "owner1"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned start date of the engagement.",
            "example": "2023-01-01"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date of the engagement.",
            "example": "2023-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date when the engagement was last updated.",
            "example": "2023-10-01"
          }
        },
        "description": "Schema representing a legal engagement item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for items."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema for metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-advisory-search-legal-advisory"
        },
        "example": "legal-advisory-search-legal-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, allowing clients to securely authenticate using JSON Web Tokens (JWT). Clients must include the token in the Authorization header as 'Bearer {token}' for protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}