{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Entity Directory API",
    "description": "The Legal Entity Directory API serves as a comprehensive repository of organizations and entities associated with banking parties. It allows users to query detailed information about various legal entities, including their attributes, classifications, and relationships. This API is particularly useful for financial institutions and compliance officers who need to verify entity information or ensure regulatory adherence. With robust data retrieval capabilities, it supports operations related to entity management and due diligence processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/legal-entity-directory": {
      "get": {
        "tags": [
          "Legal Entities"
        ],
        "summary": "Retrieve the legal entity directory.",
        "description": "This endpoint allows users to retrieve the complete directory of legal entities, providing essential information that can be utilized for compliance and verification purposes.",
        "operationId": "getLegalEntityDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify criteria for retrieving legal entities from the directory. It allows clients to filter and request specific legal entity data based on provided parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLegalEntityDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the legal entity directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLegalEntityDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLegalEntityDirectoryRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the legal entity directory. The content of this string may include any relevant query parameters or filter criteria necessary for the operation.",
        "example": "{}"
      },
      "GetLegalEntityDirectoryResponse_200": {
        "title": "Legal Entity Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of legal entities.",
            "example": [
              {
                "partyId": "PARTY-929401",
                "legalName": "Olivia Bennett",
                "legalEntityIdentifier": "STANDARD",
                "countryCode": "US",
                "registrationNumber": "NY-4587219",
                "incorporationDate": "2026-09-15",
                "entityStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LegalEntity"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the legal entity directory retrieval operation, containing a list of legal entities and associated pagination and metadata information.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-929401",
              "legalName": "Olivia Bennett",
              "legalEntityIdentifier": "STANDARD",
              "countryCode": "US",
              "registrationNumber": "NY-4587219",
              "incorporationDate": "2026-09-15",
              "entityStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b33d30f2-4fd3-52e1-96c0-4ab4c342aef9",
            "correlationId": "1036d90b-ea1a-58c3-ac7f-bd5309206a98",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LegalEntity": {
        "title": "Legal Entity",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "string"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the entity.",
            "example": "string"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The identifier assigned to the legal entity.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the legal entity is registered.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the legal entity.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the entity was incorporated.",
            "example": "string"
          },
          "entityStatus": {
            "type": "string",
            "description": "The current status of the legal entity.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record for the legal entity.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the entity information.",
            "example": "string"
          }
        },
        "description": "Represents a legal entity with its basic identifying information."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the results."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-entity-directory-search-legal-entity-directory"
        },
        "example": "legal-entity-directory-search-legal-entity-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, specifically a JSON Web Token (JWT), to authenticate requests. The token must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}