{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Transactions Gateway API",
    "description": "The Financial Transactions Gateway API enables seamless access to banking payment services, allowing users to initiate, monitor, and manage various financial transaction requests. This API provides essential functionalities for interfacing with payment processing systems, facilitating both real-time and batch transaction capabilities. Typically utilized by financial institutions, businesses, and fintech developers, it supports streamlined workflows for payment approvals, status updates, and reporting. By integrating this API, organizations can enhance their payment processing environments and improve operational efficiencies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-gateway": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve financial gateway payments",
        "description": "This endpoint allows the user to retrieve information about financial gateway payments processed through the system. It provides relevant details to facilitate tracking and reconciliation of payment transactions.",
        "operationId": "getPaymentsFinancialGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a GET request to the financial gateway for payments. This body should contain all required parameters as specified in the schema, formatted as a JSON object.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentsFinancialGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the financial gateway data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentsFinancialGatewayResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentsFinancialGatewayRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation of the financial gateway.",
        "example": "{}"
      },
      "GetPaymentsFinancialGatewayResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment records.",
            "example": [
              {
                "paymentId": "PAY-855280",
                "debtorAccountId": "ACC-341951",
                "creditorAccountId": "ACC-328140",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the payment list.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the API response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on financial gateway payments, containing a list of payments and pagination metadata.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-855280",
              "debtorAccountId": "ACC-341951",
              "creditorAccountId": "ACC-328140",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "308b9772-374c-5b4e-8050-42aacf323029",
            "correlationId": "a6bb2490-9cdf-5509-a036-ca64b263c19f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account identifier of the debtor."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account identifier of the creditor."
          },
          "instructedAmount": {
            "description": "The amount of money to be transferred, including currency information.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the payment remittance."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the payment record was last updated."
          }
        },
        "description": "Represents a single payment record."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the payment.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified."
          }
        },
        "description": "Amount information pertaining to a payment instruction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the API response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed."
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-gateway-search-financial-gateway"
        },
        "example": "financial-gateway-search-financial-gateway"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method, where clients must include a JSON Web Token (JWT) in the Authorization header of their requests to access protected resources. The token should be securely generated and validated.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}