{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Retrieve Institution Details API",
    "description": "The Retrieve Institution Details API provides access to specific institution information associated with a given application. By using the unique application ID, developers can obtain relevant details pertaining to institutions, such as contact information, services offered, and compliance status. This API is aimed at developers and business analysts who require insights into institutional affiliations to enhance application processing and decision-making. Use cases include validating applicant credentials or ensuring proper institutional support during service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/applications/{applicationId}/institutions": {
      "get": {
        "tags": [
          "Resource Management"
        ],
        "summary": "Retrieve institutions associated with the specified resource.",
        "description": "This endpoint allows you to fetch a list of institutions linked to the resource identified by the given ID (RES-100045). It provides relevant details about each institution for further analysis or usage.",
        "operationId": "getInstitutionsForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve information regarding institutions associated with the resource identified by RES-100045. It specifies the necessary parameters required to obtain the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionsForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of institutions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionsForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionsForRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on institutions. It is expected to contain a JSON string.",
        "example": "{}"
      },
      "GetInstitutionsForRes100045Response_200": {
        "title": "Institutions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The total number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond those displayed.",
            "example": true
          },
          "institutions": {
            "type": "array",
            "description": "A list of institutions.",
            "example": [
              {
                "institutionId": 1,
                "institutionName": "Northstar Banking Service",
                "status": true,
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET Institutions operation.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "institutions": [
            {
              "institutionId": 1,
              "institutionName": "Northstar Banking Service",
              "status": true,
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "c555babf-e2ca-516b-85d0-f3929e02d1d8",
            "correlationId": "77147fde-2f57-53b7-89f2-8586ded18fb7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "integer",
            "description": "The unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "institutionName": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "Example Institution"
          },
          "status": {
            "type": "boolean",
            "description": "Indicates if the institution is active.",
            "example": false
          },
          "createdDate": {
            "type": "string",
            "description": "The date the institution was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date the institution was last modified.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing an individual institution."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request for debugging purposes.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "applicationId": {
        "name": "applicationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-registered-institutions"
        },
        "example": "open-finance-api-get-registered-institutions"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which enables authorization via a JSON Web Token (JWT). The token must be included in the Authorization header of each request requiring authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}