{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Access Entitlement Management API",
    "description": "The Customer Access Entitlement Management API allows financial institutions to modify access entitlements for customers. This API facilitates the management of permissions associated with customer banking operations, enabling institutions to customize access based on business requirements. Typical consumers include banking administrators and compliance officers who require precise control over customer access levels. The endpoint supports updates to existing configurations, ensuring that customer entitlements reflect up-to-date business policies and regulatory obligations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-access-entitlement/{param1}": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Customer Access Entitlement",
        "description": "This endpoint allows the updating of customer access entitlement for a specific customer identified by CUST-100045. Make sure to provide the necessary data in the request body to reflect the changes required.",
        "operationId": "updateCustomerAccessEntitlementCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the access entitlement for the specified customer, identified by 'CUST-100045'. Please ensure all required fields are included in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerAccessEntitlementCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The customer access entitlement was created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerAccessEntitlementCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerAccessEntitlementCUST100045Request": {
        "title": "Customer Access Entitlement Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-834563"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier associated with the party.",
            "example": "PARTY-389802"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product to which access is being granted.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the access entitlement becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship associated with the customer.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body used to update customer access entitlement.",
        "example": {
          "customerId": "CUST-834563",
          "partyId": "PARTY-389802",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "b86267ee-e822-562a-ad9c-ae53f42b2aee",
            "correlationId": "d1a1afb7-5579-5cf2-aec0-c04087922ac8",
            "idempotencyKey": "316941ca-3bd1-5347-8ed3-be5f188960c5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-402175"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-400045"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "CORR-500045"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent, preventing duplicate processing.",
            "example": "IDEMP-600045"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "2023-09-30T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the contextual information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-700045"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device making the request.",
            "example": "DEVICE-800045"
          }
        },
        "description": "This schema provides details about the communication channel for the request."
      },
      "UpdateCustomerAccessEntitlementCUST100045Response_201": {
        "title": "Customer Access Entitlement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-416067"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer.",
            "example": "PARTY-673325"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the entitlement.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource linked to the entitlement.",
            "example": "RES-499183"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer's entitlement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the entitlement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the entitlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a customer access entitlement operation.",
        "example": {
          "customerId": "CUST-416067",
          "partyId": "PARTY-673325",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-499183",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "55cecda9-cad9-522e-96c6-982d7ba9e3bb",
            "correlationId": "d1a1afb7-5579-5cf2-aec0-c04087922ac8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "CORR-555888"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information in the entitlement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-access-entitlement-create-customer-access-entitlement"
        },
        "example": "customer-access-entitlement-create-customer-access-entitlement"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is currently executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-005"
        },
        "example": "WF-005"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer KYC Refresh and Access Reinstatement"
        },
        "example": "Customer KYC Refresh and Access Reinstatement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f80edbd7-6fcf-48ec-bea6-a0ead66f53e6"
        },
        "example": "f80edbd7-6fcf-48ec-bea6-a0ead66f53e6"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication scheme with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}