{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create * Purchase Authorization-spec",
    "description": "The Purchase Authorization Management API facilitates the processing of purchase authorizations for banking cards. This API allows businesses to efficiently manage authorization requests, ensuring secure transactions. Typical consumers include financial institutions and payment processors that require real-time authorization capabilities. Users can create purchase authorization requests to enable cardholders to make transactions, thereby enhancing the overall transaction experience while maintaining compliance with security standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/*/purchase-authorizations": {
      "post": {
        "tags": [
          "Card Transactions"
        ],
        "summary": "Initiates a purchase authorization for a specified card.",
        "description": "This endpoint allows the user to initiate a purchase authorization request for a card. It is essential for processing transactions securely and efficiently. By providing the necessary card details and purchase information, users can receive immediate feedback on the authorization status.",
        "operationId": "create*PurchaseAuthorization",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a purchase authorization for a card. This operation allows users to initiate a purchase and obtain necessary approval. The request must contain valid card details and required purchase information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Create*PurchaseAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the purchase authorization request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Create*PurchaseAuthorizationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "Create*PurchaseAuthorizationRequest": {
        "title": "Purchase Authorization Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-394544"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "customerToken": {
            "type": "string",
            "description": "A token representing the customer.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "tipAmount": {
            "description": "The tip amount for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "order": {
            "description": "Details about the order being processed.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for purchase authorization operations.",
        "example": {
          "merchantId": "MER-394544",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "customerToken": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-450037",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "5f63c67a-d41f-46fa-bc77-b67a0f977937",
            "correlationId": "279aa948-64cc-4064-b1d0-37f6ea4d39d1",
            "idempotencyKey": "0d4ba284-5670-454c-b03c-2a40a1aa429f",
            "requestedAt": "2026-08-27T23:00:42.109Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-390927"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with its currency."
      },
      "Order": {
        "title": "Order",
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "order456"
          },
          "description": {
            "type": "string",
            "description": "A description of the order.",
            "example": "Order for electronics"
          },
          "items": {
            "type": "array",
            "description": "A list of items in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Schema representing an order with line items."
      },
      "OrderItem": {
        "title": "Order Item",
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "The unique identifier for the item.",
            "example": "item123"
          },
          "name": {
            "type": "string",
            "description": "The name of the item.",
            "example": "Laptop"
          },
          "description": {
            "type": "string",
            "description": "A description of the item.",
            "example": "15 inch laptop with 16GB RAM"
          },
          "quantity": {
            "type": "string",
            "description": "The quantity of the item ordered.",
            "example": "1"
          },
          "unitPrice": {
            "description": "The price of a single unit of the item.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "description": "The total price for the quantity of this item.",
            "$ref": "#/components/schemas/Amount"
          },
          "taxAmount": {
            "description": "The tax amount applicable to this item.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing an item in an order."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "idempotent-uuid"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "web"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "paymentApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual data about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used for the transaction.",
            "example": "deviceABC"
          }
        },
        "description": "Schema representing the channel through which the request was received."
      },
      "Create*PurchaseAuthorizationResponse_200": {
        "title": "Purchase Authorization Response",
        "type": "object",
        "properties": {
          "payment": {
            "$ref": "#/components/schemas/PaymentDetails"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for purchase authorization operations.",
        "example": {
          "payment": {
            "id": "STANDARD",
            "intentId": "STANDARD",
            "qrPaymentRequestId": "e9fed0f7-461b-53b8-84b6-d4de6e3b9b09",
            "merchantId": "MER-654356",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "merchantOrderId": "ORD-318374",
            "channel": "STANDARD",
            "method": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-281",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            },
            "customer": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            },
            "amounts": {
              "requested": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "authorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "refunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reversed": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "tip": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "fees": [
                {
                  "feeType": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "bearer": "CUSTOMER"
                }
              ],
              "netToMerchant": {
                "currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "3e8f3499-f836-54eb-9e16-b2ba84472e80",
            "correlationId": "0df97048-5e54-58c8-8998-c86b179b31d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentDetails": {
        "title": "Payment Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "intentId": {
            "type": "string",
            "description": "Identifier for the intent associated with the payment.",
            "example": "string"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "string"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "Payment channel used for the transaction.",
            "example": "string"
          },
          "method": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerDetails"
          },
          "amounts": {
            "$ref": "#/components/schemas/PaymentAmounts"
          }
        },
        "description": "Detailed information about the payment."
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method (e.g., credit card, wallet).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer bank.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet, if applicable.",
            "example": "string"
          }
        },
        "description": "Details of the payment method used."
      },
      "CustomerDetails": {
        "title": "Customer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment assigned to the customer based on evaluation.",
            "example": "string"
          }
        },
        "description": "Information about the customer making the payment."
      },
      "PaymentAmounts": {
        "title": "Payment Amounts",
        "type": "object",
        "properties": {
          "requested": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "authorized": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "captured": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "refunded": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "reversed": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "tip": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/FeeDetails"
            }
          },
          "netToMerchant": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details regarding the amounts involved in the payment."
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          }
        },
        "description": "Details of an amount related to the payment."
      },
      "FeeDetails": {
        "title": "Fee Details",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee (e.g., service fee, transaction fee).",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "bearer": {
            "type": "string",
            "description": "Who bears the fee (e.g., customer, merchant).",
            "example": "string"
          }
        },
        "description": "Details of fees associated with the payment."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurs.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "207167bed11cdd16"
        },
        "example": "207167bed11cdd16"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2bacccd3-37ea-4091-b06c-5192fca4d533"
        },
        "example": "2bacccd3-37ea-4091-b06c-5192fca4d533"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ba21fb1d-8184-4ef2-a074-1a41d0e0b513"
        },
        "example": "ba21fb1d-8184-4ef2-a074-1a41d0e0b513"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-process-customer-presented-payment"
        },
        "example": "banking-p2m-openapi-process-customer-presented-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Purchase Authorization and Clearing"
        },
        "example": "Card Purchase Authorization and Clearing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad03cbb3-e5d8-48dc-9707-e19e9dc3a452"
        },
        "example": "ad03cbb3-e5d8-48dc-9707-e19e9dc3a452"
      }
    }
  }
}