{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Network Management API",
    "description": "The Branch Network Management API provides a comprehensive solution for managing and monitoring branch networks within the banking ecosystem. It enables users to retrieve detailed information about branch locations, services offered, and operational status. Typical consumers include banking institutions, digital service providers, and financial analysts who seek to optimize branch performance and enhance customer access. This API supports operational efficiency by facilitating data-driven decision-making related to branch network strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-network-management": {
      "get": {
        "tags": [
          "Branch Network Management"
        ],
        "summary": "Retrieve branch network management details.",
        "description": "This endpoint allows you to fetch detailed information about the branch network management specific to a particular channel. It can be used to gather insights and manage network configurations efficiently.",
        "operationId": "getBranchNetworkManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to branch network management specific to channels. Ensure that the required parameters are included for appropriate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchNetworkManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of branch network management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchNetworkManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchNetworkManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operations in the branch network management context, specifically designed for a specific channel.",
        "example": "{}"
      },
      "GetBranchNetworkManagementResponse_200": {
        "title": "Branch Network Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of branch records.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting the records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Branch Network Management GET operation, containing a list of branch records, pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "26bdeaf7-72ac-5440-b149-48a65a3c8a5a",
            "correlationId": "875ba7d4-3eb5-5579-afd9-ac76844f8a73",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Branch": {
        "title": "Branch",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel to which the branch belongs.",
            "example": "channel_123"
          },
          "regionCode": {
            "type": "string",
            "description": "Geographical code representing the region of the branch.",
            "example": "US"
          },
          "serviceWindow": {
            "type": "object",
            "properties": {
              "opensAt": {
                "type": "string",
                "description": "Time at which the branch opens.",
                "example": "09:00"
              },
              "closesAt": {
                "type": "string",
                "description": "Time at which the branch closes.",
                "example": "17:00"
              }
            },
            "description": "Opening and closing times for branch services."
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of customers the branch can accommodate daily.",
            "format": "int32",
            "example": 100
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "branch_456"
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch (e.g., retail, wholesale).",
            "example": "retail"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone in which the branch operates.",
            "example": "PST"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the branch record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the branch details were last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single branch in the network management system."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Schema for pagination information in the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across systems.",
            "example": "corr_101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "US-West"
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-network-management-search-branch-network-management"
        },
        "example": "branch-network-management-search-branch-network-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication. To authenticate, provide a valid JSON Web Token (JWT) in the `Authorization` header as follows: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}