{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operational Action *s-spec",
    "description": "The Operational Actions Retrieval API allows users to access a comprehensive list of operational actions related to information offerings in the banking market data space. This endpoint facilitates the retrieval of diverse operational actions, enabling businesses to manage and respond to various market information scenarios effectively. Ideal for developers and financial analysts, this API supports use cases involving data analysis, decision-making, and operational oversight. By leveraging this API, organizations can enhance their operational agility and better align with market demands.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/information-provider-operation/operational-actions/*": {
      "get": {
        "tags": [
          "Market Data Operations"
        ],
        "summary": "Retrieve operational actions for information providers.",
        "description": "This endpoint allows you to fetch the operational actions associated with information providers within the market data context. Use this to gain insights into the available actions and their statuses.",
        "operationId": "listOperationalAction*s",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-gateway-correlationid"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the operational actions for the information provider. It should include the necessary parameters to retrieve the desired market data. Please ensure that the format and structure of the request body conform to the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationalAction*sRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationalAction*sResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationalAction*sRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to operational actions in the market data information provider system.",
        "example": "{}"
      },
      "ListOperationalAction*sResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the action that was performed.",
            "$ref": "#/components/schemas/ActionMetadata"
          }
        },
        "description": "Schema representing the response for operational actions in the market data information provider operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "3ae42ba7-05a7-580d-a4e5-ba134c1aaa6a",
            "correlationId": "9289f58c-0d11-537e-b598-d7f2f6d0d7b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ActionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response generated by the action.",
            "example": "response_id_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request and the response.",
            "example": "correlation_id_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the action was processed.",
            "example": "us-west"
          }
        },
        "description": "Schema representing metadata related to an action performed."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ac689e307bf310e5"
        },
        "example": "ac689e307bf310e5"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ec7c03ae-d30f-4bb0-8054-68e22b210ee1"
        },
        "example": "ec7c03ae-d30f-4bb0-8054-68e22b210ee1"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-gateway-correlationid": {
        "name": "x-gateway-correlationid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b920833e-fc2d-4786-93e6-19ed36c854bb"
        },
        "example": "b920833e-fc2d-4786-93e6-19ed36c854bb"
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "18.156.191.52"
        },
        "example": "18.156.191.52"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, allowing tracking and management of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "information-provider-operation-create-information-provider-operation-operational-action"
        },
        "example": "information-provider-operation-create-information-provider-operation-operational-action"
      },
      "X-Runtime-App": {
        "description": "The name of the application running the request, which helps in identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the request, aiding in the tracking of operations within complex transactional processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-095"
        },
        "example": "WF-095"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "External Information Provider and Market Data Onboarding"
        },
        "example": "External Information Provider and Market Data Onboarding"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5521b473-2244-48c1-a735-34590c08b9a6"
        },
        "example": "5521b473-2244-48c1-a735-34590c08b9a6"
      }
    }
  }
}