{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Settlement Release-spec",
    "description": "The Settlement Release Management API enables businesses to formalize the release of settlements by specifying a unique settlement identifier. This operation is primarily used by financial institutions or payment processors to manage and execute settlement releases efficiently. Developers can integrate this API to automate the release process, ensuring timely transactions and maintaining compliance. By providing clear access to settlement release workflows, this API enhances operational efficiency for teams managing financial settlements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/release": {
      "post": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Release a settlement by ID.",
        "description": "This endpoint allows you to release a settlement using its unique identifier. By providing the settlement ID, the system will process the release operation and return the appropriate response based on the success or failure of the action.",
        "operationId": "createSettlementRelease",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "Initiates the release process for the specified settlement with ID RES-100045. This operation requires a properly formatted JSON payload to update the status of the settlement accordingly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettlementReleaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the release request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSettlementReleaseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSettlementReleaseRequest": {
        "title": "Settlement Release Request",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for the settlement release.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for releasing a settlement operation.",
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "02169c5f-e36e-5722-96b0-ec21c44b45ae",
            "correlationId": "deca3060-de46-5ef0-8f4a-c77f1e433c32",
            "idempotencyKey": "d42d3367-824f-50a8-83c6-85bd702d4bfb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-945866"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateSettlementReleaseResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "The unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the settlement.",
            "example": "MER-370569"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The account identifier where the settlement is credited.",
            "example": "ACC-448744"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the settlement is processed.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of the financial transactions involved in the settlement.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "The number of lines in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference number from the bank for the payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "The expected date and time when the payout will occur.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "The date and time when the payout was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema that provides details about a settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-370569",
          "settlementAccountId": "ACC-448744",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "5eb41527-c94f-50f0-b664-60866645b7a9",
            "correlationId": "deca3060-de46-5ef0-8f4a-c77f1e433c32",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Summary of Settlement Transactions",
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments processed.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "refunds": {
            "description": "Total refunds processed.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "reversals": {
            "description": "Total reversals processed.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "disputes": {
            "description": "Total disputes associated with the settlement.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "fees": {
            "description": "Total fees charged in the settlement.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "taxes": {
            "description": "Total taxes applied to the settlement.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "reserveHeld": {
            "description": "Total reserves held.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "reserveReleased": {
            "description": "Total reserves released.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "adjustments": {
            "description": "Total adjustments made.",
            "$ref": "#/components/schemas/FinancialTransaction"
          },
          "netSettlement": {
            "description": "Total net settlement amount.",
            "$ref": "#/components/schemas/FinancialTransaction"
          }
        },
        "description": "Summary of the financial transactions involved in the settlement."
      },
      "FinancialTransaction": {
        "title": "Financial Transaction",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the financial transaction.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The monetary value of the financial transaction.",
            "example": "1000.00"
          }
        },
        "description": "Details of a financial transaction including the currency and the value."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the settlement was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the settlement.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the settlement was last updated.",
            "example": "2023-01-01T12:30:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system who last updated the settlement.",
            "example": "system"
          }
        },
        "description": "Information regarding the audit trail of the settlement."
      },
      "Metadata": {
        "title": "Settlement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate related requests.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "US"
          }
        },
        "description": "Additional metadata information related to the settlement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-release-settlement"
        },
        "example": "banking-p2m-openapi-release-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a JSON Web Token (JWT) as a bearer token for authorization. Clients must include the token in the 'Authorization' header of their requests to authenticate with the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}