{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Behavior Insights API",
    "description": "The Customer Behavior Insights API provides access to sophisticated models that analyze and interpret customer behaviors within various banking contexts. Businesses can leverage these models to enhance customer experiences, optimize service delivery, and drive data-driven decisions. This API is designed for data analysts, product managers, and business intelligence teams looking to integrate predictive analytics into their applications. By utilizing the endpoint, consumers can retrieve valuable insights that aid in understanding customer trends and patterns.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/customer-behavior-models/{param1}": {
      "get": {
        "tags": [
          "Customer Behavior"
        ],
        "summary": "Retrieve a customer behavior model by ID.",
        "description": "This endpoint allows you to retrieve details of a specific customer behavior model using its unique identifier, providing insights into customer behavior and preferences that can inform business strategies.",
        "operationId": "getCustomerBehaviorModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving customer behavior model data. This should contain customer-specific parameters needed for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerBehaviorModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer behavior model data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerBehaviorModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerBehaviorModelByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the CUST-100045 operation related to customer behavior models in JSON format.",
        "example": "{}"
      },
      "GetCustomerBehaviorModelByIdResponse_200": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "PORT-668195"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model data is relevant.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario to which the model applies.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model predictions.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Integer representing the version of the data.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the model's response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Customer behavior model response for a specific operation.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-668195",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c697e52f-31e5-51f3-940c-cd4d1fddbf35",
            "correlationId": "e7cc9497-94b1-5a11-a5cb-8a0149624953",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the specific response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking requests across the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the data was processed.",
            "example": "string"
          }
        },
        "description": "Metadata detailing the model's response context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-behavior-models-get-customer-behavior-models"
        },
        "example": "customer-behavior-models-get-customer-behavior-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT (JSON Web Token) authentication scheme used to secure API endpoints. Clients must send a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}