{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loans Loan Application By Loan Application Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update Loans Loan Application By Loan Application Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{loanApplicationId}": {
      "patch": {
        "operationId": "updateLoansLoanApplicationByLoanApplicationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanApplicationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoansLoanApplicationByLoanApplicationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoansLoanApplicationByLoanApplicationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoansLoanApplicationByLoanApplicationIdRequest": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "requestedTermMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "branchCode": {
            "type": "string",
            "example": "CODE-470"
          },
          "relationshipManagerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerConsent": {
            "type": "object",
            "properties": {
              "creditBureauConsent": {
                "type": "boolean",
                "example": false
              },
              "dataProcessingConsent": {
                "type": "boolean",
                "example": false
              },
              "marketingConsent": {
                "type": "boolean",
                "example": false
              },
              "consentTimestamp": {
                "type": "string",
                "example": "string"
              },
              "consentReference": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "creditBureauConsent": true,
              "dataProcessingConsent": true,
              "marketingConsent": true,
              "consentTimestamp": "2026-09-15T14:30:00Z",
              "consentReference": "STANDARD"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "44b48ee8-673b-5a28-85a7-11b3a559bace",
              "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
              "idempotencyKey": "73b0d217-1c1e-55d9-850e-bc22cc33cb1a",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-529827"
              }
            }
          }
        },
        "example": {
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "branchCode": "CODE-470",
          "relationshipManagerId": "STANDARD",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "44b48ee8-673b-5a28-85a7-11b3a559bace",
            "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
            "idempotencyKey": "73b0d217-1c1e-55d9-850e-bc22cc33cb1a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-529827"
            }
          }
        }
      },
      "UpdateLoansLoanApplicationByLoanApplicationIdResponse_200": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "example": "PROD-908930"
          },
          "externalReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "requestedTermMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "example": "CUST-859975"
          },
          "branchCode": {
            "type": "string",
            "example": "CODE-324"
          },
          "relationshipManagerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "example": "CODE-586"
          },
          "customerConsent": {
            "type": "object",
            "properties": {
              "creditBureauConsent": {
                "type": "boolean",
                "example": false
              },
              "dataProcessingConsent": {
                "type": "boolean",
                "example": false
              },
              "marketingConsent": {
                "type": "boolean",
                "example": false
              },
              "consentTimestamp": {
                "type": "string",
                "example": "string"
              },
              "consentReference": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "creditBureauConsent": true,
              "dataProcessingConsent": true,
              "marketingConsent": true,
              "consentTimestamp": "2026-09-15T14:30:00Z",
              "consentReference": "STANDARD"
            }
          },
          "id": {
            "type": "string",
            "example": "b97ad9c9-c0e8-cd9b-dadd-ea0351de1a58"
          },
          "applicationNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "example": "LOAN-246067"
          },
          "completionPercent": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "dueDate": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "04bc78aa-8ca8-50c6-a43d-78d2e8fd2e73",
              "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "productId": "PROD-908930",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-859975",
          "branchCode": "CODE-324",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-586",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "b97ad9c9-c0e8-cd9b-dadd-ea0351de1a58",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-246067",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "04bc78aa-8ca8-50c6-a43d-78d2e8fd2e73",
            "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanApplicationId": {
        "name": "loanApplicationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-application"
        },
        "example": "banking-loans-openapi-update-loan-application"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}