{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Scheduled Payments API",
    "description": "The International Scheduled Payments API facilitates the seamless execution of cross-border payment transactions on a scheduled basis. This API allows businesses to automate and manage recurring payments efficiently, reducing manual intervention and associated errors. It caters to financial institutions, fintech companies, and businesses engaged in international trade, enabling them to enhance their payment offerings for customers. With the capability to schedule payments from various accounts, this API ensures timely fund transfers across borders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiates an international scheduled payment.",
        "description": "This endpoint allows users to create a scheduled payment that will be executed internationally, enabling the transfer of funds across borders on a set schedule.",
        "operationId": "createInternationalScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate an international scheduled payment. It contains all the necessary details for processing the payment, including the payment amount, currency, recipient information, and any scheduling instructions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternationalScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and the payment has been scheduled.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternationalScheduledPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternationalScheduledPaymentRequest": {
        "title": "International Scheduled Payments Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/InternationalScheduledPaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for international scheduled payments operation containing payment data and request context.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            }
          },
          "requestContext": {
            "requestId": "d3279cb2-44dc-5769-9f5c-1465daff8cf9",
            "correlationId": "d5b4a1cb-4e49-57a5-906a-a5ca6b76a53a",
            "idempotencyKey": "25ecc5ca-3cf7-576e-b34e-3c95b1390c23",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-215121"
            }
          }
        }
      },
      "InternationalScheduledPaymentData": {
        "title": "International Scheduled Payment Data",
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent related to the payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Data structure containing details for initiating an international scheduled payment."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identifier for tracking the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority level for the instruction.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the payment.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for executing the payment.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is requested.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code of the payment destination.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Schema containing details for initiating a payment."
      },
      "Amount": {
        "title": "Amount Information",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and its currency."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Currency in which the exchange rate is provided.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The actual exchange rate.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate (e.g., fixed, floating).",
            "example": "string"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the contract related to the exchange rate.",
            "example": "string"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The expiration date and time of the exchange rate.",
            "example": "string"
          }
        },
        "description": "Schema containing exchange rate details."
      },
      "DebtorAccount": {
        "title": "Debtor Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme under which the account is registered.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the debtor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the debtor account, if applicable.",
            "example": "string"
          }
        },
        "description": "Account details for the debtor from which the amount will be debited."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent processing of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application initiating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information pertaining to the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Channel information through which the request was made."
      },
      "CreateInternationalScheduledPaymentResponse_201": {
        "title": "International Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for international scheduled payments operations.",
        "example": {
          "Data": {
            "paymentId": "PAY-138605",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "f92bbe18-2e14-5098-9cab-a3a5a0db06a8",
            "correlationId": "d5b4a1cb-4e49-57a5-906a-a5ca6b76a53a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentData": {
        "title": "Payment Data",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent related to the payment.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the payment was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "string"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "List of reasons for the current status of the payment.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected date and time when the payment will be executed.",
            "example": "string"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected date and time when the payment will be settled.",
            "example": "string"
          },
          "Refund": {
            "$ref": "#/components/schemas/Refund"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "This schema contains the details of the payment transaction."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "The path where the issue occurred, if relevant.",
            "example": "string"
          }
        },
        "description": "Schema representing the reason for a payment status."
      },
      "Refund": {
        "title": "Refund Information",
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/RefundAccount"
          }
        },
        "description": "Schema representing refund details."
      },
      "RefundAccount": {
        "title": "Refund Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Alternative identifier for the account, if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing the account information for refunds."
      },
      "Charge": {
        "title": "Charge Information",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing charges associated with a payment."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with a request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment is processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-international-scheduled-payment"
        },
        "example": "payment-initiation-openapi-initiate-international-scheduled-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, which involves sending a bearer token in the Authorization header. The bearer token follows the JSON Web Token (JWT) format, allowing for secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}