{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Servicing Servicing Mandate-spec",
    "description": "This API allows users to initiate and manage servicing mandates within the banking ecosystem. By leveraging this functionality, financial institutions can streamline their operations, ensuring that customers' servicing requests are efficiently processed. Primary resources include creating new servicing mandates and updating existing records. Typical consumers include banking operations teams and customer service representatives who require effective tools for handling client servicing needs. This API enhances operational efficiency and supports better client engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-mandate": {
      "post": {
        "tags": [
          "Servicing"
        ],
        "summary": "Create a new servicing mandate.",
        "description": "This operation allows the user to create a new servicing mandate, which outlines the terms and conditions under which servicing activities will be conducted. The request must include all necessary details as specified in the request body.",
        "operationId": "createServicingServicingMandate",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update a servicing mandate. It should include all necessary information for the operation, specified in the JSON format defined by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingServicingMandateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The servicing mandate was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingServicingMandateResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingServicingMandateRequest": {
        "title": "Service Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-771164"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case associated with the request.",
            "example": "CASE-447185"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the servicing mandate operations.",
        "example": {
          "customerId": "CUST-771164",
          "caseId": "CASE-447185",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "eed361b9-8a59-5b90-b202-761a1fbc343a",
            "correlationId": "c38dbd09-06c8-5ea9-83e8-ed61582cb6d8",
            "idempotencyKey": "15d74e4f-9ea1-59b3-a27d-d1ee78e3fef5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-884021"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different requests.",
            "example": "correlation-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp representing when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generates the request.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generates the request.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-111"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., Mobile, Web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-222"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateServicingServicingMandateResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-777151"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case related to the servicing mandate.",
            "example": "CASE-848740"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the servicing mandate.",
            "example": "RES-628624"
          },
          "status": {
            "type": "string",
            "description": "Current status of the servicing mandate.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the servicing mandate was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional information about the servicing mandate response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the servicing mandate operation that includes relevant customer and operation details.",
        "example": {
          "customerId": "CUST-777151",
          "caseId": "CASE-848740",
          "resourceId": "RES-628624",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c4e448ee-f16c-5e73-a660-88ec39de734b",
            "correlationId": "c38dbd09-06c8-5ea9-83e8-ed61582cb6d8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request through the system.",
            "example": "correlation_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata object containing additional identifiers and timestamps related to the servicing mandate."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This helps in tracing the request back to the specific endpoint within the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-mandate-create-servicing-mandate"
        },
        "example": "servicing-mandate-create-servicing-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application that initiated the request. This allows for better tracking of requests based on the application context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses Bearer authentication scheme with a JSON Web Token (JWT). Clients should include the JWT in the Authorization header for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}