{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Product Quality Assurance Assessment-spec",
    "description": "The Product Quality Assurance Assessment API facilitates the assessment of product quality assurance initiatives within the banking sector. This endpoint allows businesses to create detailed assessments that evaluate product standards, compliance, and performance metrics. Users can leverage this API to streamline quality assurance processes and enhance product reliability. Typical consumers include product managers, quality assurance teams, and compliance officers seeking to ensure that products meet the required quality benchmarks. This API ultimately contributes to informed decision-making and improved product offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-quality-assurance/assessments": {
      "post": {
        "tags": [
          "Product Quality Assurance"
        ],
        "summary": "Create a new product quality assurance assessment.",
        "description": "This endpoint allows you to create a new assessment for product quality assurance, helping to ensure that products meet specified quality standards. Provide the necessary data in the request body to initiate the assessment process.",
        "operationId": "createProductQualityAssuranceAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary information for conducting a product quality assurance assessment. Ensure that the data conforms to the specified schema to facilitate effective processing and validation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductQualityAssuranceAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully; assessment initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductQualityAssuranceAssessmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductQualityAssuranceAssessmentRequest": {
        "title": "Product Quality Assurance Assessment Request Body",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code that identifies the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product being assessed.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers this product is targeted towards.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the product's price is expressed.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which this product quality assessment is effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information for the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for performing quality assurance assessments on a product.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "ec044014-77f9-56e6-8569-dd268aa011a7",
            "correlationId": "4e469b5c-13f2-5187-84d6-32d1d321c533",
            "idempotencyKey": "9649e676-84dc-55d0-b784-ef264c249637",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-958089"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-456789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple requests.",
            "example": "CORR-987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request can be retried without causing duplicate operations.",
            "example": "IDEMPOTENT-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "InventorySystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system making the request.",
            "example": "ProductApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information for the request, such as identifiers to track the request's origin."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel, e.g., online, mobile, etc.",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateProductQualityAssuranceAssessmentResponse_200": {
        "title": "Product Quality Assurance Assessment Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "assessmentId": {
            "type": "string",
            "description": "The unique identifier for the assessment performed.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The outcome of the assessment (e.g., Passed, Failed).",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The score given to the assessment on a defined scale.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "The timestamp indicating when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AssessmentMetadata"
          }
        },
        "description": "Schema representing the response from the product quality assurance assessment operations.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d0013941-8068-523c-ab50-e434e1acc266",
            "correlationId": "4e469b5c-13f2-5187-84d6-32d1d321c533",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssessmentMetadata": {
        "title": "Assessment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response associated with the assessment.",
            "example": "R12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking the assessment process.",
            "example": "C67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-10T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the assessment was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata related to the assessment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, which helps in tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-quality-assurance-assure-product-quality-assurance"
        },
        "example": "product-quality-assurance-assure-product-quality-assurance"
      },
      "X-Runtime-App": {
        "description": "Identifies the application runtime environment, allowing for differentiation between various deployment contexts.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token should be a JSON Web Token (JWT) that grants access to the API's protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}