{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Branch Management API",
    "description": "The E-Branch Management API enables financial institutions to manage their digital branch services efficiently. This API allows users to create and configure e-branch offerings tailored to client needs, enhancing online banking experience. Typical consumers include banking developers and financial service providers looking to implement advanced digital solutions. Utilize this API to streamline your e-branch setup, providing seamless access to banking operations through innovative digital channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-management": {
      "post": {
        "tags": [
          "E-Branch Management"
        ],
        "summary": "Create a new e-branch management entry.",
        "description": "This endpoint allows the user to create a new entry within the e-branch management system. It requires relevant data to be sent in the request body and will return a confirmation of the creation along with the details of the newly created entry.",
        "operationId": "createEBranchManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating or managing e-branch operations. This body must contain the required details in JSON format as specified by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEBranchManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEBranchManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEBranchManagementRequest": {
        "title": "Branch Management Request Body",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the branch.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The service window timings for the branch.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily capacity of the branch.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "The type of branch (e.g., physical, digital).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone in which the branch operates.",
            "example": "America/New_York"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for branch management operations specific to a given channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "requestContext": {
            "requestId": "a0a1bfce-886d-5c76-97a0-4deb9e65984e",
            "correlationId": "ae753f43-c03f-5856-b8c4-de09e6cd1b6c",
            "idempotencyKey": "ef48ad0f-4292-5b7f-8c37-07623d4e14ea",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-700822"
            }
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the branch opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the branch closes.",
            "example": "17:00"
          }
        },
        "description": "Schema representing the operational hours for a branch."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across systems.",
            "example": "corr_101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request's idempotency.",
            "example": "idempotent_key_202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "appA"
          },
          "channel": {
            "description": "Information about the channel related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing information about the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, offline).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used.",
            "example": "device_303"
          }
        },
        "description": "Schema representing the channel information."
      },
      "CreateEBranchManagementResponse_201": {
        "title": "Channel Specific Branch Management Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region.",
            "example": "US-EAST-1"
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the associated resource.",
            "example": "RES-569367"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the channel-specific branch management operations.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "branchId": "STANDARD",
          "resourceId": "RES-569367",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "14d299ec-2a88-5a25-b8e5-c8a514c2077a",
            "correlationId": "ae753f43-c03f-5856-b8c4-de09e6cd1b6c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-002"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-NY"
          }
        },
        "description": "Schema containing additional metadata for operations responses."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-management-create-e-branch-management"
        },
        "example": "e-branch-management-create-e-branch-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}