{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Sale By Param1-spec",
    "description": "The Sales Modification API allows businesses to update existing sales records by specifying a unique identifier. This operation is essential for adjusting sale details as needed, ensuring that the sales data remains accurate and up-to-date. Typical consumers of this API include sales teams and finance departments, which require real-time updates to inventory and sales transactions. By leveraging this API, organizations can efficiently manage their sales data and respond promptly to changes in customer orders or inventory levels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-product/{param1}": {
      "patch": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Update details of a specific sales product.",
        "description": "This endpoint allows you to patch the information of a specific sales product identified by its unique ID. You can update various attributes of the product to keep your inventory details current and accurate.",
        "operationId": "updateSaleByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the sales product identified by the given ID (PROD-700045). It must include valid fields based on the specified schema to ensure a successful update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSaleByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSaleByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSaleByParam1Request": {
        "title": "Sales Product Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Specifies the date and time at which the change becomes effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a sales product operation.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "343bf9d2-b51d-5fb2-aabd-c06e93491b59",
            "correlationId": "8abf25a3-95d2-5b4b-bbb7-120c7f00f9e6",
            "idempotencyKey": "9093198a-fc35-5b87-9c81-56ed54b30422",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-137249"
            }
          }
        }
      },
      "ProductChanges": {
        "title": "Product Changes",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "prospect-12345"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product.",
            "example": "PROD-001"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product is sold.",
            "example": "online"
          }
        },
        "description": "Schema representing the changes to be applied to the product."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "correlation-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "key-abc-1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T11:59:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system where the request originated.",
            "example": "system-xyz"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Source application generating the request.",
            "example": "app-123"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile, etc.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the details of the channel through which the request is made."
      },
      "UpdateSaleByParam1Response_200": {
        "title": "Sales Product Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the sales product.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the sales product update operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the sales product was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the sales product update.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the sales product update operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a17d2f5b-5f0e-53fe-9b53-b1d2ac65b0ad",
            "correlationId": "8abf25a3-95d2-5b4b-bbb7-120c7f00f9e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Sales Product Update",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request with the response.",
            "example": "abc-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp representing when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata structure containing additional information about the sales product update."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-product-update-sales-product"
        },
        "example": "sales-product-update-sales-product"
      },
      "X-Runtime-App": {
        "description": "The name of the application instance that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication format to convey security tokens. The token should be a JSON Web Token (JWT) that is included in the request headers to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}