{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Utilities Management API",
    "description": "The Utilities Management API enables businesses to update and manage their utility-related configurations efficiently. Through this API, users can modify specific utility settings and streamline resource management. Typical consumers of this API include utility administrators and IT personnel who need to adjust parameters in real-time. By utilizing this endpoint, organizations can ensure that their operations remain aligned with their utility needs, enhancing overall application performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/utilities-administration/{param1}": {
      "patch": {
        "tags": [
          "Utilities Administration"
        ],
        "summary": "Update utilities administration details.",
        "description": "This endpoint allows you to update the details of the specified utilities administration resource (RES-100045). Ensure you provide the necessary fields to update the data accurately.",
        "operationId": "updateUtilitiesAdministrationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the utilities administration record identified by RES-100045. Ensure that all required fields are included to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUtilitiesAdministrationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resource was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateUtilitiesAdministrationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateUtilitiesAdministrationRes100045Request": {
        "title": "Operations Update Request Schema",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the operations.",
            "$ref": "#/components/schemas/OperationsChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating operations with changes requested by the user.",
        "example": {
          "changes": {
            "siteId": "STANDARD",
            "assetId": "STANDARD",
            "workOrderId": "ORD-631890"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f2408952-b6f3-5f44-a394-3d5966e63e78",
            "correlationId": "7bac5614-debe-5d82-8148-ce47e1149224",
            "idempotencyKey": "9598f9e1-4912-5842-a31a-8651af88b729",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-769280"
            }
          }
        }
      },
      "OperationsChanges": {
        "title": "Operations Changes Schema",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier of the site where the change is applied.",
            "example": "site-001"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier of the asset that is being updated.",
            "example": "asset-001"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier of the work order associated with the changes.",
            "example": "workOrder-001"
          }
        },
        "description": "Schema for specifying the operational changes."
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was submitted.",
            "example": "2023-10-01T11:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "app-1"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema for the context of the request."
      },
      "RequestChannel": {
        "title": "Request Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel used for the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-001"
          }
        },
        "description": "Schema for the channel details of the request."
      },
      "UpdateUtilitiesAdministrationRes100045Response_200": {
        "title": "Operations Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema representing the result of an operations update request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "66381988-4f23-5ba3-93c5-174251c63498",
            "correlationId": "7bac5614-debe-5d82-8148-ce47e1149224",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata about the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "utilities-administration-update-utilities-administration"
        },
        "example": "utilities-administration-update-utilities-administration"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime environment handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for user authentication. Clients must include a bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}