{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Corporate Finance By Param1-spec",
    "description": "The Corporate Finance Update API allows users to modify specific aspects of corporate tax advisory services by utilizing a unique identifier. This functionality supports financial professionals in managing and updating client financial data efficiently. Typically consumed by financial advisors and corporate finance teams, this API ensures that users can tailor services to meet individual client needs. By providing a streamlined way to process updates, it enhances the overall service delivery in corporate finance operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/corporate-tax-advisory/{param1}": {
      "patch": {
        "tags": [
          "Corporate Tax Advisory"
        ],
        "summary": "Update Corporate Tax Advisory Resource",
        "description": "This operation allows you to update the details of the Corporate Tax Advisory resource identified by RES-100045. You can modify specific fields as required to ensure the advisory information is current and accurate.",
        "operationId": "updateCorporateFinanceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific details related to the corporate tax advisory for the resource identified by RES-100045. Please ensure all required fields are provided in the request to successfully process the modification.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateFinanceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateFinanceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateFinanceByParam1Request": {
        "title": "PATCH Request Body for Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes requested for the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the requested changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request, such as IDs and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for a PATCH operation related to corporate tax advisory operations, containing details about changes requested.",
        "example": {
          "changes": {
            "clientId": "STANDARD",
            "engagementId": "STANDARD",
            "transactionType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "02b8941e-7c3c-5242-9f65-7a7fb3a39595",
            "correlationId": "2d0b82b5-4d3f-5464-a29f-7e9c299d5581",
            "idempotencyKey": "e02ef131-fa15-521b-ad2f-5aff4c6724cd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-104213"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client.",
            "example": "client-12345"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "engagement-67890"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of transaction being performed.",
            "example": "Tax Filing"
          }
        },
        "description": "This schema represents the details of the changes that are being made in the operation."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating logs across different systems.",
            "example": "corr-xyz-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate operations in case of retries.",
            "example": "idemp-key-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request was initiated.",
            "example": "AccountingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "TaxManager"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates various IDs and information related to the request, useful for tracking and debugging."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g. 'web', 'mobile').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-202"
          }
        },
        "description": "This schema represents the channel information through which the request is submitted."
      },
      "UpdateCorporateFinanceByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation of the corporate tax advisory service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "84329609-7b70-508d-b59c-94bc4c29d355",
            "correlationId": "2d0b82b5-4d3f-5464-a29f-7e9c299d5581",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request and its associated responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint utilized in the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-tax-advisory-update-corporate-tax-advisory"
        },
        "example": "corporate-tax-advisory-update-corporate-tax-advisory"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application where the operation is being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method for transferring JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}