{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Position Validation API",
    "description": "The Securities Position Validation API allows financial institutions to validate securities positions within customer accounts. This service enables users to ensure compliance with investment regulations and risk management protocols by submitting securities position data for validation. Typical consumers include portfolio managers and risk assessment teams, who require real-time validation to support informed investment decisions. By leveraging this API, organizations can enhance their account management processes and maintain accurate securities records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping/{param1}/validations": {
      "post": {
        "tags": [
          "Securities Management"
        ],
        "summary": "Validate securities position for a specific resource.",
        "description": "This endpoint allows users to validate the securities position for the resource identified by RES-100045. It performs necessary checks and confirms the validity of the position ensuring compliance with account management protocols.",
        "operationId": "validateSecuritiesPositionKeepingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate the securities position keeping for a specific account management operation. Ensure to provide the necessary details according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateSecuritiesPositionKeepingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and validations are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateSecuritiesPositionKeepingRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ValidateSecuritiesPositionKeepingRes100045Request": {
        "title": "Validation Request Body",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "The scope of validation provided as a list of strings.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validation is requested.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that is requesting the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the validation request body used in the Operations POST method.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9da37262-a202-58fd-a6b3-b52223ef925d",
            "correlationId": "e47bf24e-805c-5f83-9126-95fc4f582304",
            "idempotencyKey": "7db5d712-ee19-567f-8bde-2fd4bec2e9d4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-701249"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is idempotent.",
            "example": "idemp-345678"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "appA"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for the contextual information associated with a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., API, User Interface).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "ValidateSecuritiesPositionKeepingRes100045Response_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action that was performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of the action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations validation in securities position keeping.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "e1a8ecc5-8fe7-517f-90df-6e18809a39fd",
            "correlationId": "e47bf24e-805c-5f83-9126-95fc4f582304",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata schema containing identifiers and timestamps for processing operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was called. This helps in tracing the request back to the specific operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-validate-securities-position-keeping"
        },
        "example": "securities-position-keeping-validate-securities-position-keeping"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. It is useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JWT (JSON Web Token) format to verify authorized access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}