{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Document Retrieval API",
    "description": "The Loan Application Document Retrieval API allows consumers to access specific documents associated with loan applications. This endpoint serves as a means to retrieve essential documents by providing the unique identifiers for both the loan application and the document. Typical users include loan officers, customer support representatives, and automated systems needing to verify loan documentation. This API is crucial for streamlining the loan processing workflow and ensuring that relevant information is readily available during the approval process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve documents related to a specific loan application.",
        "description": "This endpoint allows users to retrieve all documents associated with the loan application identified by the specified resource ID. It provides details necessary for reviewing or managing the loan application documentation.",
        "operationId": "getLoanApplicationDocumentsRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/documentId"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching documents related to loan application with ID RES-100045. This body includes all necessary parameters required in the process of retrieving the specific documents.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationDocumentsRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan application documents.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationDocumentsRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationDocumentsRes100045Request": {
        "type": "string",
        "description": "A string representation of a loan application document request.",
        "example": "{}"
      },
      "GetLoanApplicationDocumentsRes100045Response_200": {
        "title": "Loan Application Document Response",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document associated with the loan application.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier of the applicant.",
            "example": "41d598b1-dc3f-d14b-7490-823aedbd1f41"
          },
          "collateralId": {
            "type": "string",
            "description": "The unique identifier of the collateral associated with the loan.",
            "example": "427dfa7b-12f0-9f18-6386-7f89010dd823"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the location where the document is stored.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the document.",
            "example": "bdda234f-b5e3-4c3d-de0f-d4d57a062761"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The status of the document verification.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments related to the verification status.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "Date and time when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Identifier of the user or system that verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the document.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the response for loan application documents.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "41d598b1-dc3f-d14b-7490-823aedbd1f41",
          "collateralId": "427dfa7b-12f0-9f18-6386-7f89010dd823",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "bdda234f-b5e3-4c3d-de0f-d4d57a062761",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "9612c2a5-32db-5f86-b9ad-ceb6cd21c66e",
            "correlationId": "e35895e4-1a0f-50e0-9d65-8b73d7fa2baf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the document was created.",
            "example": "2023-01-01T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the document.",
            "example": "creator-789"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the document was last updated.",
            "example": "2023-01-10T09:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the document.",
            "example": "updater-123"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking document changes."
      },
      "DocumentMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with the document.",
            "example": "response-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different systems or logs.",
            "example": "correlation-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the document processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "documentId": {
        "name": "documentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header provides the unique identifier for the endpoint that processed the request, helping to trace its path through the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-application-document"
        },
        "example": "banking-loans-openapi-get-application-document"
      },
      "X-Runtime-App": {
        "description": "This header indicates the version of the runtime application handling the request, which is useful for debugging and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Token authentication, specifically using JSON Web Tokens (JWT). Users must include a valid JWT token as a Bearer token in the authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}