{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payment Consents API",
    "description": "The File Payment Consents API facilitates the initiation of file-based payment consents within the open banking framework. This API allows third-party payment service providers (PISPs) to securely request consent from users for executing bulk payments. It is designed for financial institutions and developers enabling seamless payment processing solutions. Typical use cases include handling multiple transactions efficiently while ensuring compliance with open banking regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payment-consents": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Create a file payment consent.",
        "description": "This operation allows you to create a file payment consent which is essential for initiating bulk payments through the PISP (Payment Initiation Service Provider) system. The request should contain the necessary payment details to successfully generate the consent.",
        "operationId": "createFilePaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a file payment consent operation. It contains the necessary details required to process the file payment consent request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFilePaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment consent successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFilePaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFilePaymentConsentRequest": {
        "title": "File Payment Consent Request",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a file payment consent.",
        "example": {
          "Data": {
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "1cf57982-190a-537c-ad24-54ecce0e20f8",
            "correlationId": "f47d263d-f62f-53ff-b22d-a57796976374",
            "idempotencyKey": "30832046-50d1-5210-8baf-fd5a417d089d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-986466"
            }
          }
        }
      },
      "FilePaymentConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Timestamp when the consent was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "List of reasons for the current status.",
            "example": [
              {
                "code": "string",
                "description": "string",
                "Path": "string"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp of the last status update.",
            "example": "string"
          },
          "CutOffDateTime": {
            "type": "string",
            "description": "The cutoff date and time for the consent.",
            "example": "string"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the consent.",
            "example": [
              {
                "ChargeBearer": "string",
                "Type": "string",
                "Amount": {
                  "Amount": "string",
                  "Currency": "string"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/InitiationDetails"
          }
        },
        "description": "Details of the file payment consent."
      },
      "FilePaymentInitiation": {
        "title": "File Payment Initiation",
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "Type of the file being submitted for payment.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash of the file to verify its integrity.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference identifier for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Total number of transactions included in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "Control sum of the file's transactions.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for execution of the file payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument code for the payment.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details for initiating a file payment."
      },
      "CreditorAgent": {
        "title": "Creditor Agent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for identification.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification of the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the creditor's bank or financial institution."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address.",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number in the building.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "string"
          }
        },
        "description": "Details of the postal address for the creditor."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify the idempotent request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the originating system.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details of the communication channel used for the request."
      },
      "CreateFilePaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentConsentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for successful file payment consent creation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "7d0920e2-254e-55b0-aa09-78c01733acae",
            "correlationId": "f47d263d-f62f-53ff-b22d-a57796976374",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path indicating where the reason originated.",
            "example": "string"
          }
        },
        "description": "Details of a status reason."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Party responsible for the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Value of the charge.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the charge is denominated.",
                "example": "string"
              }
            },
            "description": "Monetary amount of the charge."
          }
        },
        "description": "Details of a charge associated with the payment consent."
      },
      "InitiationDetails": {
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "Type of the file used for the payment consent.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "Hash value of the file for integrity verification.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "Reference identifier for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "Total number of transactions in the consent.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "Total amount of all transactions.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for execution of the transactions.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument type for the transaction.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgentDetails"
          }
        },
        "description": "Initiation details of the consent request."
      },
      "CreditorAgentDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the identification.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification code of the creditor.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the creditor's agent."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-file-payment-consent"
        },
        "example": "payment-initiation-openapi-create-file-payment-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication via JSON Web Tokens (JWT). Clients must include the token as a Bearer token in the Authorization header of each request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}