{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Relations API",
    "description": "The Merchant Relations API facilitates access to vital information regarding merchant partnerships and relationships. It enables users to retrieve detailed data about merchants and their associated banking cards, promoting effective collaboration and decision-making. Typical consumers of this API include financial institutions, merchant service providers, and business analysts who need insights into merchant card affiliations. This API empowers stakeholders to enhance their merchant engagement strategies and streamline relationship management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations": {
      "get": {
        "tags": [
          "Merchant Relations"
        ],
        "summary": "Retrieve merchant relation details.",
        "description": "This endpoint allows you to retrieve details about merchant relations associated with your cards. Utilize this to understand the connections and partnerships in your merchant ecosystem.",
        "operationId": "getMerchantRelations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding merchant relations. It is expected to conform to the defined schema and should include all necessary parameters to ensure the proper operation of the GET request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantRelationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the merchant relations data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantRelationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantRelationsRequest": {
        "title": "Merchant Relations GET Request Body",
        "type": "string",
        "description": "This schema represents the request body required for the GET operation in merchant relations.",
        "example": "{}"
      },
      "GetMerchantRelationsResponse_200": {
        "title": "Merchant Relations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of merchant records.",
            "example": [
              {
                "merchantId": "MER-161576",
                "legalName": "Olivia Bennett",
                "merchantCategoryCode": "5411",
                "settlementAccountId": "ACC-259829",
                "settlementCurrency": "USD",
                "pricingPlan": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Merchant"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the returned records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for fetching merchant relations.",
        "example": {
          "items": [
            {
              "merchantId": "MER-161576",
              "legalName": "Olivia Bennett",
              "merchantCategoryCode": "5411",
              "settlementAccountId": "ACC-259829",
              "settlementCurrency": "USD",
              "pricingPlan": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "826b9b0b-5c9c-5ecd-93ec-15a4cdd436f5",
            "correlationId": "43719ae2-870f-5815-93b6-3541f00284da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Merchant": {
        "title": "Merchant",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant."
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the merchant."
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code representing the merchant's industry."
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Account identifier used for settlement."
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlement."
          },
          "pricingPlan": {
            "type": "string",
            "description": "Pricing plan associated with the merchant."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the merchant record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the merchant record was last updated."
          }
        },
        "description": "Schema representing a merchant's details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that was called. This value helps in tracking and monitoring the specific API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-search-merchant-relations"
        },
        "example": "merchant-relations-search-merchant-relations"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request. This helps in identifying which application instance handled the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) which are passed in the Authorization header as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}