{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Payment By Param1-spec",
    "description": "The Payment Update API allows businesses to modify existing payment details within the financial gateway by utilizing a unique parameter identifier. This endpoint enables users to update relevant payment information seamlessly, ensuring accurate transaction processing and reconciliation. Typical consumers of this API include financial institutions, ecommerce platforms, and payment processors that require dynamic adjustments to payment records. Its flexible design facilitates smooth integration into various banking operations, enhancing user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-gateway/{param1}": {
      "patch": {
        "tags": [
          "Payments Management"
        ],
        "summary": "Update Financial Gateway Payment",
        "description": "This operation allows for updating the details of a specific financial gateway payment identified by its unique reference (RES-100045). It supports modifications to various attributes of the payment, enabling flexibility in managing financial transactions.",
        "operationId": "updatePaymentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the financial gateway resource identified by RES-100045. It contains the necessary data for patching the existing resource with the desired changes. Ensure that all required fields are provided according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePaymentByParam1Request": {
        "title": "Patch Payment Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes to be made to the payment.",
            "$ref": "#/components/schemas/PaymentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change to the payment.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The datetime at which the changes are effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Information about the context in which the request was made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for patching a payment operation in the financial gateway API.",
        "example": {
          "changes": {
            "paymentId": "PAY-609945",
            "debtorAccountId": "ACC-565480",
            "creditorAccountId": "ACC-306435"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "529da8de-c7f9-5d6a-811d-2691f9329088",
            "correlationId": "ca14e0ec-c08d-5205-a3a5-fa19ddba9fb2",
            "idempotencyKey": "6d869918-44ba-5fec-b923-470573a3faec",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-684101"
            }
          }
        }
      },
      "PaymentChanges": {
        "title": "Payment Changes",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier of the payment.",
            "example": "pmt-123456"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Unique identifier of the account from which funds will be debited.",
            "example": "acc-67890"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Unique identifier of the account to which funds will be credited.",
            "example": "acc-98765"
          }
        },
        "description": "Represents the changes being applied to a payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-555555"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "corr-444444"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the same request.",
            "example": "idemp-333333"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T09:59:59Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that initiated the request.",
            "example": " payment_service"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "web_app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Holds the context information associated with the request."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-222222"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-111111"
          }
        },
        "description": "Describes the channel through which the request was made."
      },
      "UpdatePaymentByParam1Response_200": {
        "title": "Financial Gateway Response Schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the financial gateway after a PATCH operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aeff275a-2779-5573-949b-dd9261bccb24",
            "correlationId": "ca14e0ec-c08d-5205-a3a5-fa19ddba9fb2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response from the financial gateway."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-gateway-update-financial-gateway"
        },
        "example": "financial-gateway-update-financial-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, indicating its source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token, typically implemented as a JSON Web Token (JWT), for user authentication. Clients must include the bearer token in the authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}