{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loans Loan Application Collaterals-v5-spec",
    "description": "MICROSERVICE-PROD-List Loans Loan Application Collaterals-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{loanApplicationId}/collaterals": {
      "get": {
        "operationId": "listLoansLoanApplicationCollaterals",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanApplicationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoansLoanApplicationCollateralsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoansLoanApplicationCollateralsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoansLoanApplicationCollateralsRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListLoansLoanApplicationCollateralsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "example": [
              {
                "collateralType": "STANDARD",
                "ownershipType": "STANDARD",
                "ownerCustomerIds": [
                  "CUST-665772"
                ],
                "description": "Customer banking request processed successfully",
                "marketValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "forcedSaleValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "valuationDate": "2026-09-15",
                "valuationProvider": "STANDARD",
                "lienPriority": "STANDARD",
                "id": "8d768c74-7c4f-19c9-c24d-e10368f7d183",
                "status": "ACTIVE",
                "loanToValuePercent": "STANDARD",
                "perfectedAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "collateralType": {
                  "type": "string",
                  "example": "string"
                },
                "ownershipType": {
                  "type": "string",
                  "example": "string"
                },
                "ownerCustomerIds": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "description": {
                  "type": "string",
                  "example": "string"
                },
                "marketValue": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "forcedSaleValue": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "valuationDate": {
                  "type": "string",
                  "example": "string"
                },
                "valuationProvider": {
                  "type": "string",
                  "example": "string"
                },
                "lienPriority": {
                  "type": "string",
                  "example": "string"
                },
                "id": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "loanToValuePercent": {
                  "type": "string",
                  "example": "string"
                },
                "perfectedAt": {
                  "type": "string",
                  "example": "string"
                },
                "audit": {
                  "type": "object",
                  "properties": {
                    "createdAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "createdBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "example": "string"
                    },
                    "updatedBy": {
                      "type": "string",
                      "example": "string"
                    },
                    "version": {
                      "type": "integer",
                      "format": "int32",
                      "example": 0
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "c9fb132e-5ce3-5a66-9829-431cd2be68a2",
              "correlationId": "15497428-3787-535e-ba9d-9cadbac9f6a8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "items": [
            {
              "collateralType": "STANDARD",
              "ownershipType": "STANDARD",
              "ownerCustomerIds": [
                "CUST-665772"
              ],
              "description": "Customer banking request processed successfully",
              "marketValue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "forcedSaleValue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "valuationDate": "2026-09-15",
              "valuationProvider": "STANDARD",
              "lienPriority": "STANDARD",
              "id": "8d768c74-7c4f-19c9-c24d-e10368f7d183",
              "status": "ACTIVE",
              "loanToValuePercent": "STANDARD",
              "perfectedAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "c9fb132e-5ce3-5a66-9829-431cd2be68a2",
            "correlationId": "15497428-3787-535e-ba9d-9cadbac9f6a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanApplicationId": {
        "name": "loanApplicationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-collaterals"
        },
        "example": "banking-loans-openapi-list-collaterals"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}