{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mutual Fund Administration Update API",
    "description": "The Mutual Fund Administration Update API enables users to modify existing mutual fund administration details, providing flexibility in managing fund operations. This endpoint allows users to update information related to market operations in the mutual fund sector. Typical consumers include financial institutions and asset management companies seeking to adjust fund parameters or records. Leverage this API to ensure that mutual fund administration is kept current with market changes and regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/mutual-fund-administration/{param1}": {
      "patch": {
        "tags": [
          "Mutual Fund Operations"
        ],
        "summary": "Update Mutual Fund Administration",
        "description": "This operation allows you to update the details of a specific mutual fund administration identified by its ID. Utilize this endpoint to make necessary changes to existing records and ensure up-to-date information management.",
        "operationId": "patchMutualFundAdministrationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The requestBody for updating mutual fund administration details. This request allows clients to modify the specified resources of the mutual fund operation identified by RES-100045. Ensure that the payload adheres to the designated schema in order to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMutualFundAdministrationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMutualFundAdministrationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchMutualFundAdministrationByIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing specific changes to be applied to the mutual fund.",
            "$ref": "#/components/schemas/MutualFundChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time the changes are effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating mutual fund administration operations.",
        "example": {
          "changes": {
            "fundId": "STANDARD",
            "shareClassId": "STANDARD",
            "valuationDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "199c9619-9d2d-58c3-8807-be7250a68a53",
            "correlationId": "add7ba9b-fda4-5829-8a92-4d2f5ee19def",
            "idempotencyKey": "2a4d5476-a644-5a99-adfc-4a7fd5e36596",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-961720"
            }
          }
        }
      },
      "MutualFundChanges": {
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier of the mutual fund.",
            "example": "MF123456"
          },
          "shareClassId": {
            "type": "string",
            "description": "The identifier of the share class associated with the mutual fund.",
            "example": "SC789013"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date at which the fund's valuation is relevant.",
            "example": "2023-10-01"
          }
        },
        "description": "Schema representing the specific changes for a mutual fund operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across services.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key ensuring the request is processed only once.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that initiated the request.",
            "example": "MutualFundSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "FundsManagerApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the communication channel used.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to submit the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "PatchMutualFundAdministrationByIdResponse_200": {
        "title": "Mutual Fund Administration Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for operations related to mutual fund administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6fd078db-e755-598c-9d41-88a22347e827",
            "correlationId": "add7ba9b-fda4-5829-8a92-4d2f5ee19def",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Detailed metadata for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mutual-fund-administration-update-mutual-fund-administration"
        },
        "example": "mutual-fund-administration-update-mutual-fund-administration"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime context in which the operation is executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses the Bearer authentication method, allowing users to authenticate with a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}