{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Order Management API",
    "description": "The Market Order Management API enables financial institutions to efficiently handle market orders within wholesale trading. This API facilitates the submission and processing of various types of market orders, ensuring timely execution and compliance with trading regulations. It caters to banks, trading firms, and financial analysts who require real-time order management capabilities. By utilizing this API, users can streamline their trading workflow and enhance their operational efficiency in the competitive banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Place a new market order.",
        "description": "This endpoint allows users to place a new market order for wholesale trading. You can specify the order details in the request body, including the item, quantity, and any additional options required for the order. Make sure to validate the inputs before submission to ensure a smooth transaction.",
        "operationId": "createMarketOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Contains the details required to place a market order in the wholesale trading system. Ensure that all necessary fields are included and correctly formatted to ensure a successful transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The market order has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOrderRequest": {
        "title": "Market Order Request Body",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier of the trading book associated with the order.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier of the financial instrument for the order.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the order (e.g., buy or sell).",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to be ordered.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "Optional limit price for the order. If specified, the order will not execute above this price.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "Type of the order (e.g., market or limit).",
            "example": "STANDARD"
          },
          "timeInForce": {
            "type": "string",
            "description": "Indicates how long the order will remain active (e.g., GTC, FOK).",
            "example": "STANDARD"
          },
          "venue": {
            "type": "string",
            "description": "The trading venue where the order is to be executed.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "User context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a market order.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "orderType": "STANDARD",
          "timeInForce": "STANDARD",
          "venue": "STANDARD",
          "requestContext": {
            "requestId": "3cce174b-71ed-5281-baf5-ad691921123c",
            "correlationId": "8ab9a79f-223c-5e33-ac00-5ccff947d89a",
            "idempotencyKey": "1478fa4b-effd-5812-b60e-c86331fcadd4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-225316"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR) for the limit price.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price details for an order."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure request idempotency.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that made the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., API, Web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "CreateMarketOrderResponse_201": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument (e.g., stock, bond).",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the market order resource.",
            "example": "RES-271427"
          },
          "status": {
            "type": "string",
            "description": "The current status of the market order.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the market order was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information regarding the response metadata.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful market order operations in the wholesale trading system.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-271427",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f4cb3864-f5ba-5480-8bdc-496fb439cc87",
            "correlationId": "8ab9a79f-223c-5e33-ac00-5ccff947d89a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the market order took place.",
            "example": "string"
          }
        },
        "description": "Metadata for market order responses, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-create-market-order"
        },
        "example": "market-order-create-market-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses Bearer tokens. A valid JSON Web Token (JWT) must be provided in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}