{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Account Management By Param1-spec",
    "description": "The Account Management Update API enables users to modify existing accounts within the Accounts Receivable system based on specific parameters. Utilizing this API, businesses can efficiently manage account information, such as updating contact details or financial records. This functionality is particularly useful for finance departments and account managers who need to maintain accurate and up-to-date information. Seamlessly integrate with your financial systems to ensure comprehensive account oversight and operational effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/accounts-receivable/{param1}": {
      "patch": {
        "tags": [
          "Accounts Receivable Management"
        ],
        "summary": "Update Accounts Receivable Details",
        "description": "This operation allows you to update the details of a specific accounts receivable record identified by the provided account number. Ensure that the request body contains the relevant fields you wish to modify.",
        "operationId": "updateAccountManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the details of the specified accounts receivable entry identified by ACC-200045. Provide the necessary fields in the request body to modify the existing record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAccountManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateAccountManagementByParam1Request": {
        "title": "Account Receivable Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "A set of changes to be applied to the account.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an account receivable.",
        "example": {
          "changes": {
            "accountId": "ACC-904893",
            "customerId": "CUST-924973",
            "ledgerDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4e893402-4d24-5eb4-b091-3db31834d1bf",
            "correlationId": "01401f3b-defe-568a-932f-077768240d78",
            "idempotencyKey": "2aca5475-3e3e-5296-acc1-216a37a9a457",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-155323"
            }
          }
        }
      },
      "Changes": {
        "title": "Account Change Details",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-200045"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-123456"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date relevant for the ledger.",
            "example": "2023-10-01"
          }
        },
        "description": "Details about the changes made to an account."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing the request through systems.",
            "example": "CORR-345678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to prevent duplicate processing of the request.",
            "example": "IDEMPOTENCY-111223"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InventorySystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-987654"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Information regarding the channel used for the request."
      },
      "UpdateAccountManagementByParam1Response_200": {
        "title": "Accounts Receivable Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on accounts receivable.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a734d52b-4514-51ca-b610-1d86c91fc9df",
            "correlationId": "01401f3b-defe-568a-932f-077768240d78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header identifies the unique endpoint associated with the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-receivable-update-accounts-receivable"
        },
        "example": "accounts-receivable-update-accounts-receivable"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is handling the request at runtime.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a JSON Web Token (JWT) as a bearer token. The token provides secure access to the API by allowing clients to authenticate themselves.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}