{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Asset Validation API",
    "description": "The Party Asset Validation API facilitates the submission of validation requests for party assets within the banking collateral administration framework. It enables users to verify the eligibility and compliance of assets associated with parties in real-time. Financial institutions and asset managers typically utilize this API to ensure that their asset data aligns with regulatory requirements and internal policies. By automating and streamlining the validation process, clients can enhance operational efficiency and reduce risk in asset management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Party Asset Management"
        ],
        "summary": "Create a validation for a party asset.",
        "description": "This operation allows the user to create a validation for a specific party asset identified by its unique ID. This ensures that the asset meets the necessary compliance and business requirements.",
        "operationId": "createPartyAssetValidation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used for creating validations associated with the specified party asset directory. It requires specific data elements to ensure the correct processing of validations related to PARTY-600045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartyAssetValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning validation results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartyAssetValidationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartyAssetValidationRequest": {
        "title": "Party Asset Directory Validation Request",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "Defines the scope of validation which includes an array of strings.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A single scope of validation."
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validation is requested, formatted as a string.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for who requested the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for validating operations in the party asset directory request body.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "cddb70c4-1744-5e8e-b292-0144bf5b6add",
            "correlationId": "d8262395-04c6-5621-bfb3-a657261d0d2e",
            "idempotencyKey": "529974b3-46a3-5f2f-b464-b1da8497f942",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-335939"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated."
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated."
          },
          "channel": {
            "description": "Information regarding the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context about the request including identifiers and timestamps."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel."
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g. web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication."
          }
        },
        "description": "Schema detailing information about the channel through which the request was made."
      },
      "CreatePartyAssetValidationResponse_200": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action that was carried out.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the processing occurred.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing of the validation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the validation operations related to party asset directory.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6e1a2a52-12d3-551f-bcb0-7a49c1407d04",
            "correlationId": "d8262395-04c6-5621-bfb3-a657261d0d2e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for the validation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-validate-party-asset-directory"
        },
        "example": "party-asset-directory-validate-party-asset-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JWT (JSON Web Token) for authorization. Clients must include the token in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}