{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Wholesale Trading Market Orders-spec",
    "description": "The Wholesale Trading Market Orders API allows users to access and retrieve a comprehensive list of market orders within the wholesale trading domain. This functionality is essential for financial institutions, traders, and analysts seeking to monitor and analyze trading activity. Users can obtain real-time insights into market order trends and make informed decisions based on historical data. With this API, stakeholders can efficiently manage their trading strategies and optimize their operations in the wholesale trading space.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve market order details.",
        "description": "This endpoint allows developers to fetch the details of market orders in wholesale trading. It provides essential information related to the existing market orders and their current statuses.",
        "operationId": "listWholesaleTradingMarketOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve market order details in the wholesale trading context. Please ensure that the payload adheres to the defined schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListWholesaleTradingMarketOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning market order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListWholesaleTradingMarketOrdersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListWholesaleTradingMarketOrdersRequest": {
        "title": "Wholesale Trading Market Order Request Body",
        "type": "string",
        "description": "This schema represents the request body for a market order operation in the wholesale trading system. It is expected to contain a JSON string that specifies the details of the order.",
        "example": "{}"
      },
      "ListWholesaleTradingMarketOrdersResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of market order items.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "orderType": "STANDARD",
                "timeInForce": "STANDARD",
                "venue": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketOrder"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the order list.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting method applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of market orders in wholesale trading operations.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "orderType": "STANDARD",
              "timeInForce": "STANDARD",
              "venue": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "41d39fd9-0164-555a-ad11-690e16c6b5ba",
            "correlationId": "98fa7929-f209-57e9-96f2-b3eb670c4292",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketOrder": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book associated with the order."
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument being traded."
          },
          "side": {
            "type": "string",
            "description": "Side of the order, e.g., buy or sell."
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument in the order.",
            "format": "int32"
          },
          "limitPrice": {
            "description": "Limit price information, if applicable.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "Type of the order."
          },
          "timeInForce": {
            "type": "string",
            "description": "Duration for which the order remains active."
          },
          "venue": {
            "type": "string",
            "description": "Trading venue where the order is placed."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the order record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the order."
          }
        },
        "description": "Schema representing a market order."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Monetary value of the limit price."
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the limit price."
          }
        },
        "description": "Schema for the limit price specifications of an order."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing the pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate with other related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema for the metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-search-market-order"
        },
        "example": "market-order-search-market-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}