{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Analysi Customer Portfolios-spec",
    "description": "The Business Analysis Customer Portfolio API provides stakeholders with access to analytical insights on customer portfolios within a banking context. This endpoint allows users to retrieve detailed information regarding various customer segments and their performance metrics. Common consumers of this API include business analysts and strategic decision-makers who leverage the data for enhancing customer strategies and optimizing portfolio management. By utilizing this API, organizations gain the ability to make informed decisions based on comprehensive customer analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/customer-portfolio": {
      "get": {
        "tags": [
          "Customer Analysis"
        ],
        "summary": "Retrieve customer portfolio information.",
        "description": "This endpoint allows you to fetch detailed information on customer portfolios, including their performance metrics and key insights. Use this data to analyze customer behavior and make informed business decisions.",
        "operationId": "listBusinessAnalysiCustomerPortfolios",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the customer portfolio data through a business analysis operation. It must adhere to the specified schema and contain the necessary data to successfully perform the analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessAnalysiCustomerPortfoliosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of customer portfolio data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessAnalysiCustomerPortfoliosResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessAnalysiCustomerPortfoliosRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to customer portfolio analysis.",
        "example": "{}"
      },
      "ListBusinessAnalysiCustomerPortfoliosResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer portfolio analysis items.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerPortfolioAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response of the customer portfolio operations GET request.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ddbad968-f29b-553c-8d38-70b40097c254",
            "correlationId": "0984c95f-3b9b-52f8-9f71-cdb1e46faf68",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerPortfolioAnalysisItem": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis.",
            "example": "string"
          },
          "segmentId": {
            "type": "string",
            "description": "The unique identifier for the segment.",
            "example": "string"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the analysis period.",
            "example": "2023-01-01"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the analysis period.",
            "example": "2023-12-31"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used in the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the analysis was conducted.",
            "example": "baseline"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the analysis record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the analysis was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "A schema representing a single customer portfolio analysis item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "A schema representing pagination metadata for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-id-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "correlation-id-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "A schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-portfolio-search-customer-portfolio"
        },
        "example": "customer-portfolio-search-customer-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}