{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Underwriting Management API",
    "description": "The Underwriting Management API facilitates the initiation of underwriting assessments for banking sales transactions. By allowing users to submit relevant financial information and documentation, it enables efficient risk evaluation and decision-making. This API is designed for financial institutions and sales teams that require streamlining of the underwriting process, ensuring quicker approvals and enhanced customer experiences. Typical use cases include processing applications for loans, mortgages, and other financial products that necessitate a thorough underwriting review.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Create a new sales underwriting.",
        "description": "This endpoint allows users to create a new underwriting record related to sales. Ensure all required parameters are included in the request to successfully process the underwriting.",
        "operationId": "createSalesUnderwriting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit underwriting information for sales processing. Please ensure that all required fields are completed accurately to facilitate the underwriting process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesUnderwritingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided underwriting details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSalesUnderwritingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSalesUnderwritingRequest": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the request.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the request is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "ID of the relationship manager handling the request.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected value related to the application.",
            "$ref": "#/components/schemas/MoneyValue"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application.",
            "example": "APP-159378"
          },
          "requestedLimit": {
            "description": "The limit requested in the application.",
            "$ref": "#/components/schemas/MoneyValue"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "Ratio indicating the debt service coverage.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for underwriting operations in sales.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "applicationId": "APP-159378",
          "requestedLimit": {
            "amount": 100.0,
            "currency": "USD"
          },
          "debtServiceCoverageRatio": 100.0,
          "requestContext": {
            "requestId": "3498ce63-5460-5012-8b45-d134aa678a3c",
            "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
            "idempotencyKey": "87406151-2ad6-5f7a-bf73-d1aac6f1fe42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-511365"
            }
          }
        }
      },
      "MoneyValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing a monetary value with an amount and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that sent the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing details about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, offline).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateSalesUnderwritingResponse_201": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect associated with the underwriting application.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code corresponding to the product being applied for.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The unique identifier for the relationship manager handling the underwriting application.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application submitted.",
            "example": "APP-826119"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource identifier related to the underwriting process.",
            "example": "RES-783473"
          },
          "status": {
            "type": "string",
            "description": "The current status of the underwriting application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the underwriting application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response generated by the underwriting operation.",
                "example": "response-112233"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier to correlate related requests and responses.",
                "example": "correlation-445566"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp indicating when the response was generated.",
                "example": "2023-01-01T12:00:05Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographical region where the underwriting processing occurred.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata regarding the underwriting transaction.",
            "example": {
              "responseId": "7db7f50f-b225-53e0-b105-cb9370d17b5a",
              "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the underwriting operation POST request, containing details about the underwriting transaction.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "applicationId": "APP-826119",
          "resourceId": "RES-783473",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7db7f50f-b225-53e0-b105-cb9370d17b5a",
            "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-create-underwriting"
        },
        "example": "underwriting-create-underwriting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}