{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Card Card Authorizations-spec",
    "description": "The Card Authorization Retrieval API facilitates the fetching of card authorization details for banking card transactions. This endpoint allows users to retrieve information related to specific card authorizations, enabling financial institutions and developers to track transaction activity and manage cardholder permissions effectively. Typical consumers include banking applications and financial service providers looking to enhance their transaction monitoring capabilities. This API supports efficient data retrieval for maintaining transparency and ensuring compliance in financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-authorization": {
      "get": {
        "tags": [
          "Card Management"
        ],
        "summary": "Retrieve Card Authorization Details",
        "description": "This endpoint allows you to retrieve the details of card authorizations, providing information on status, amount, and other relevant data. It is primarily used in financial applications to check the authorization state of a specific card transaction.",
        "operationId": "listCardCardAuthorizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to authorize a credit card transaction. The client must provide the necessary card details in JSON format to proceed with the authorization.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCardCardAuthorizationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the card authorization details are returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCardCardAuthorizationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCardCardAuthorizationsRequest": {
        "type": "string",
        "description": "The request body for the card authorization operation in JSON format.",
        "example": "{}"
      },
      "ListCardCardAuthorizationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of card authorization details.",
            "example": [
              {
                "cardToken": "TOK-534557",
                "cardholderId": "STANDARD",
                "merchantId": "MER-102659",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "authorizationType": "STANDARD",
                "terminalEntryMode": "STANDARD",
                "threeDSecureResult": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardAuthorizationDetail"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Parameter indicating the sort order.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Response object for fetching card authorization details.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-534557",
              "cardholderId": "STANDARD",
              "merchantId": "MER-102659",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "authorizationType": "STANDARD",
              "terminalEntryMode": "STANDARD",
              "threeDSecureResult": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "84075020-5407-58be-9476-07736a36da92",
            "correlationId": "f92f5d6d-0e70-55ec-abe2-5000488acdf2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardAuthorizationDetail": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique token representing the card.",
            "example": "string"
          },
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "string"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code that represents the merchant's business.",
            "example": "string"
          },
          "authorizationType": {
            "type": "string",
            "description": "Type of authorization.",
            "example": "string"
          },
          "terminalEntryMode": {
            "type": "string",
            "description": "Entry mode used at the terminal for the transaction.",
            "example": "string"
          },
          "threeDSecureResult": {
            "type": "string",
            "description": "Result of 3D Secure authentication.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the authorization record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a card authorization."
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount of the transaction.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the transaction.",
            "example": "USD"
          }
        },
        "description": "Represents the transaction amount and its currency."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination in the response."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-search-card-authorization"
        },
        "example": "card-authorization-search-card-authorization"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that employs a bearer token. This format is commonly used to validate a user's identity and provides access through a JSON Web Token (JWT). Clients must include the token in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}