{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Quality Assurance Assessments API",
    "description": "The Product Quality Assurance Assessments API enables businesses to initiate and manage quality assessments for banking products. By facilitating the submission of assessment data, this API allows financial institutions to ensure their offerings meet established standards of quality and compliance. Typical consumers of this API include product managers and compliance officers who utilize it to maintain the integrity of their product lines. This API is essential for improving customer satisfaction and regulatory adherence in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-quality-assurance/assessments": {
      "post": {
        "tags": [
          "Product Management"
        ],
        "summary": "Create a new quality assessment for a product.",
        "description": "This endpoint allows you to create a quality assessment for a specific product, enabling the evaluation of its quality metrics and compliance with standards. It is essential for ensuring that products meet quality expectations before reaching the market.",
        "operationId": "createProductQualityAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to create a new assessment for product quality assurance. The data should adhere to the defined schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductQualityAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning assessment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductQualityAssessmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductQualityAssessmentRequest": {
        "title": "Product Quality Assurance Assessment Request",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "A unique identifier for the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product being assessed.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The target customer segment for the product.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency used as the base for pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the assessment is effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for submitting product quality assurance assessments.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "ec044014-77f9-56e6-8569-dd268aa011a7",
            "correlationId": "4e469b5c-13f2-5187-84d6-32d1d321c533",
            "idempotencyKey": "9649e676-84dc-55d0-b784-ef264c249637",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-958089"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ98765"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to track the request across different systems.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "IDEMO123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request is originated.",
            "example": "InternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is made.",
            "example": "ProductApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL678"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., online, offline).",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the channel.",
            "example": "DEVICE123456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateProductQualityAssessmentResponse_200": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code assigned to the product being assessed.",
            "example": "CHK-PREMIUM-US"
          },
          "assessmentId": {
            "type": "string",
            "description": "The unique identifier for the assessment conducted.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The outcome of the assessment, indicating whether it was successful or failed.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "The numerical score assigned to the product after the assessment.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "The timestamp indicating when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AssessmentMetadata"
          }
        },
        "description": "Response schema for the POST operation to assess product quality, which includes various assessment details.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d0013941-8068-523c-ab50-e434e1acc266",
            "correlationId": "4e469b5c-13f2-5187-84d6-32d1d321c533",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssessmentMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated for the assessment.",
            "example": "R12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the assessment across different services.",
            "example": "C12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp that indicates when the metadata was generated.",
            "example": "2023-10-05T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the assessment processing was conducted.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the assessment, providing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the assessment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-quality-assurance-assure-product-quality-assurance"
        },
        "example": "product-quality-assurance-assure-product-quality-assurance"
      },
      "X-Runtime-App": {
        "description": "The identifier of the application that is currently executing the operation related to the assessment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a valid JSON Web Token (JWT) in the `Authorization` header of the request. The token should be prefixed with the word 'Bearer' followed by a space.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}