{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Corporate Finance Public Offering-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Corporate Finance Public Offering-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/public-offering": {
      "post": {
        "operationId": "createBankingCorporateFinancePublicOffering",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingCorporateFinancePublicOfferingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingCorporateFinancePublicOfferingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingCorporateFinancePublicOfferingRequest": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "targetCloseDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "1c61693f-8045-5438-b1f7-d77b9cd45532",
              "correlationId": "f846a14b-1477-5754-85e5-baa3a448ba17",
              "idempotencyKey": "1ab33c70-6040-5356-8403-bfd729b88753",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-689087"
              }
            }
          }
        },
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "requestContext": {
            "requestId": "1c61693f-8045-5438-b1f7-d77b9cd45532",
            "correlationId": "f846a14b-1477-5754-85e5-baa3a448ba17",
            "idempotencyKey": "1ab33c70-6040-5356-8403-bfd729b88753",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-689087"
            }
          }
        }
      },
      "CreateBankingCorporateFinancePublicOfferingResponse_201": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-476320"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "46d4fac9-c54b-5845-b866-d9f55c556226",
              "correlationId": "f846a14b-1477-5754-85e5-baa3a448ba17",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "resourceId": "RES-476320",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "46d4fac9-c54b-5845-b866-d9f55c556226",
            "correlationId": "f846a14b-1477-5754-85e5-baa3a448ba17",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "public-offering-create-public-offering"
        },
        "example": "public-offering-create-public-offering"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-098"
        },
        "example": "WF-098"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Public Offering and Securities Issuance"
        },
        "example": "Public Offering and Securities Issuance"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0f721429-6abe-488c-b589-75d2c5783fb8"
        },
        "example": "0f721429-6abe-488c-b589-75d2c5783fb8"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}