{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Mandate Management API",
    "description": "The Servicing Mandate Management API enables businesses to initiate and manage servicing mandates efficiently. Through this endpoint, users can create new servicing mandates that define the authorization for specific banking operations on customer accounts. Typical consumers include financial institutions and banking service providers looking to streamline mandate establishment processes. This API facilitates seamless integration into banking workflows, ensuring compliance and enhancing operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-mandate": {
      "post": {
        "tags": [
          "Servicing"
        ],
        "summary": "Create a new servicing mandate.",
        "description": "This endpoint allows for the creation of a new servicing mandate, which outlines the terms and conditions for service provisions. Ensure to provide all required details in the request body.",
        "operationId": "createServicingMandate",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update a servicing mandate. It requires a payload in JSON format that adheres to the defined schema, ensuring all necessary data is provided to successfully process the mandate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingMandateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, return the created resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingMandateResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingMandateRequest": {
        "title": "Servicing Mandate POST Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-771164"
          },
          "caseId": {
            "type": "string",
            "description": "The identifier for the case associated with the servicing request.",
            "example": "CASE-447185"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the servicing request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request, e.g., low, medium, high.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request has been made.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for creating a servicing mandate.",
        "example": {
          "customerId": "CUST-771164",
          "caseId": "CASE-447185",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "eed361b9-8a59-5b90-b202-761a1fbc343a",
            "correlationId": "c38dbd09-06c8-5ea9-83e8-ed61582cb6d8",
            "idempotencyKey": "15d74e4f-9ea1-59b3-a27d-d1ee78e3fef5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-884021"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "Req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating logs across systems.",
            "example": "Corr101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent when repeated.",
            "example": "IdempKey202"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was initiated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "The channel details related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata about the request context."
      },
      "Channel": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "Chnl333"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used, e.g., web, mobile.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request is made.",
            "example": "Device444"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateServicingMandateResponse_201": {
        "title": "Service Mandate Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-777151"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier of the case associated with the mandate.",
            "example": "CASE-848740"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource that the mandate is related to.",
            "example": "RES-628624"
          },
          "status": {
            "type": "string",
            "description": "The status of the created mandate.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the mandate was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure returned upon successfully creating a servicing mandate.",
        "example": {
          "customerId": "CUST-777151",
          "caseId": "CASE-848740",
          "resourceId": "RES-628624",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c4e448ee-f16c-5e73-a660-88ec39de734b",
            "correlationId": "c38dbd09-06c8-5ea9-83e8-ed61582cb6d8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "This schema holds additional metadata information for the service mandate response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-mandate-create-servicing-mandate"
        },
        "example": "servicing-mandate-create-servicing-mandate"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves presenting a bearer token (typically a JSON Web Token, JWT) in the authorization header for API access. This token serves as a means of verifying the identity of the user and establishing the necessary permissions for requested resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}