{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Knowledge Asset Intellectual Property Portfolios-spec",
    "description": "This API allows users to access a comprehensive list of intellectual property portfolios associated with knowledge assets in the banking domain. By leveraging this endpoint, businesses can efficiently retrieve detailed information about various portfolios, including their attributes and relevance. Typical consumers include product managers, legal teams, and financial analysts seeking insights to optimize asset management strategies. The endpoint facilitates informed decision-making and ensures that stakeholders have up-to-date access to intellectual property data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio": {
      "get": {
        "tags": [
          "Knowledge Assets"
        ],
        "summary": "Retrieve the intellectual property portfolio.",
        "description": "This endpoint allows you to access the complete portfolio of intellectual property assets, providing details and insights into each asset available for review and management.",
        "operationId": "listKnowledgeAssetIntellectualPropertyPortfolios",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve information regarding the intellectual property portfolio, including patents, trademarks, copyrights, and associated metadata. The request body allows for filtering and specifying the details required in the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListKnowledgeAssetIntellectualPropertyPortfoliosRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the intellectual property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListKnowledgeAssetIntellectualPropertyPortfoliosResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListKnowledgeAssetIntellectualPropertyPortfoliosRequest": {
        "type": "string",
        "description": "A string representation of the request body for retrieving the intellectual property portfolio.",
        "example": "{}"
      },
      "ListKnowledgeAssetIntellectualPropertyPortfoliosResponse_200": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of intellectual property assets.",
            "example": [
              {
                "ipAssetId": "STANDARD",
                "assetType": "STANDARD",
                "registrationNumber": "NY-4587219",
                "jurisdiction": "STANDARD",
                "ownerLegalEntityId": "STANDARD",
                "renewalDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IntellectualPropertyAsset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of assets.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving intellectual property portfolio assets.",
        "example": {
          "items": [
            {
              "ipAssetId": "STANDARD",
              "assetType": "STANDARD",
              "registrationNumber": "NY-4587219",
              "jurisdiction": "STANDARD",
              "ownerLegalEntityId": "STANDARD",
              "renewalDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cc95b981-46da-5726-97e5-bd2bd99f1df9",
            "correlationId": "ea49b3d9-e1d0-5a34-a2bd-10d01a279a04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IntellectualPropertyAsset": {
        "title": "Intellectual Property Asset",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "The unique identifier for the intellectual property asset.",
            "example": "12345"
          },
          "assetType": {
            "type": "string",
            "description": "The type of the intellectual property asset (e.g., Patent, Trademark).",
            "example": "Patent"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number assigned to the intellectual property asset.",
            "example": "REG-2021-001"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction where the intellectual property is registered.",
            "example": "US"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity that owns the asset.",
            "example": "LE-67890"
          },
          "renewalDate": {
            "type": "string",
            "description": "The date by which the asset must be renewed.",
            "example": "2025-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the asset record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the asset record was last updated.",
            "example": "2023-10-15T12:00:00Z"
          }
        },
        "description": "Schema representing an individual intellectual property asset."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the asset list."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was accessed, useful for tracing requests and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-search-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-search-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, helping in identifying which service instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, allowing clients to authenticate by providing a JSON Web Token (JWT) in the 'Authorization' header. The token should be presented in the format 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}