{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Diagnosis API",
    "description": "The Fraud Diagnosis API provides a comprehensive approach to identifying potential fraudulent activities within banking accounts. This endpoint enables users to access detailed fraud analysis reports linked to specific accounts, assisting financial institutions in mitigating risks and enhancing security measures. Typical consumers include compliance teams, fraud analysts, and risk management personnel who require insights into fraudulent patterns and behaviors. By leveraging this API, organizations can improve their fraud detection capabilities and protect their clients' assets effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve Fraud Diagnosis Data",
        "description": "This endpoint allows you to retrieve fraud diagnosis data for account management. It provides insights into potential fraudulent activities based on the analysis of account transactions and user behavior.",
        "operationId": "getFraudDiagnosis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a fraud diagnosis process for account management. It requires specific parameters defined in the schema to accurately perform the diagnosis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudDiagnosisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of fraud diagnosis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudDiagnosisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudDiagnosisRequest": {
        "title": "Fraud Diagnosis Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to fraud diagnosis in the account management system. It expects a string input that conveys necessary information for initiating the diagnosis process.",
        "example": "{}"
      },
      "GetFraudDiagnosisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of account items returned from the fraud diagnosis.",
            "example": [
              {
                "accountId": "ACC-957493",
                "customerId": "CUST-464007",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "transactionId": "TXN-131247",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the fraud diagnosis operation, encapsulating account information and pagination details.",
        "example": {
          "items": [
            {
              "accountId": "ACC-957493",
              "customerId": "CUST-464007",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "transactionId": "TXN-131247",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a8177c55-bc9b-59f4-be99-0e57e3dcafdb",
            "correlationId": "8c2ec1ff-a0ae-5037-a931-831ec531fef1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "account-12345"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "customer-54321"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "2023-10-01"
          },
          "currency": {
            "type": "string",
            "description": "The currency type for the account balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the account as per the ledger.",
            "example": 1000.5
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction.",
            "example": "transaction-67890"
          },
          "riskScore": {
            "type": "number",
            "description": "The risk score associated with the account.",
            "example": 75.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold value for making a decision on the account.",
            "example": 50.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The level of trust assigned to the device used for the account.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the account record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the account information was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents an individual account item with its details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details about pagination for the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "correlation-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was accessed, used for tracing and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-search-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-search-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, useful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme with JSON Web Tokens (JWT). It allows clients to authenticate by sending a token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}