{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Disbursement-v5-spec",
    "description": "The Banking Disbursement Management API allows financial institutions to efficiently process disbursement transactions within their operational services. This endpoint facilitates the initiation of disbursements, enabling businesses to manage funds transfer seamlessly and securely. Typical consumers include banking and financial service providers aiming to automate and streamline their disbursement workflows. Use cases involve processing loan disbursements, payment distributions, and other financial transactions that require reliable and timely execution.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement": {
      "post": {
        "tags": [
          "Disbursement Operations"
        ],
        "summary": "Create a new disbursement.",
        "description": "This endpoint allows you to create a new disbursement within the operational services. Make sure to provide all necessary details in the request body to successfully process the disbursement.",
        "operationId": "createBankingOperationalServicesDisbursement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a disbursement operation. It contains details necessary for processing the disbursement request, including relevant identifiers and transaction information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesDisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, disbursement processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesDisbursementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesDisbursementRequest": {
        "title": "Disbursement Request Body",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer making the request.",
            "example": "CUST-459694"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account related to the operation.",
            "example": "ACC-661826"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the disbursement request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for disbursement operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-459694",
          "accountId": "ACC-661826",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "df40b5e4-85d6-5c06-b774-19aeefd4b4db",
            "correlationId": "23a45bde-95cb-5daa-851f-24908f392e84",
            "idempotencyKey": "f39b0491-d2b1-533d-b0f7-53cb7e7ea9f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-828140"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking requests across systems.",
            "example": "CORR-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "IDEMP-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request context was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system originating the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual details for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "DEV-001"
          }
        },
        "description": "Schema representing details of the channel used to make the request."
      },
      "CreateBankingOperationalServicesDisbursementResponse_201": {
        "title": "Disbursement Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the disbursement operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the disbursement.",
            "example": "CUST-562568"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the disbursement.",
            "example": "ACC-812658"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource involved in the operation.",
            "example": "RES-906368"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the disbursement operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the disbursement operation.",
            "$ref": "#/components/schemas/DisbursementMetadata"
          }
        },
        "description": "Response object for a disbursement operation, containing information about the operation and associated metadata.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-562568",
          "accountId": "ACC-812658",
          "resourceId": "RES-906368",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "13af5afa-9e3d-5190-a5f1-f416bd457a36",
            "correlationId": "23a45bde-95cb-5daa-851f-24908f392e84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisbursementMetadata": {
        "title": "Disbursement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the disbursement operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the disbursement operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata object containing additional information about the disbursement operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-create-disbursement"
        },
        "example": "disbursement-create-disbursement"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of the request. The JWT should be formatted according to the specifications outlined in the corresponding RFC, ensuring proper encoding and structure.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}