{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Merchants-spec",
    "description": "The Merchant Information Retrieval API provides a comprehensive overview of P2M (Peer-to-Merchant) merchants available within the system. This endpoint enables clients to query and obtain details about various merchants, facilitating smoother transactions for businesses and consumers. Typical consumers of this API include e-commerce platforms, payment service providers, and mobile applications seeking to integrate merchant services. Leverage this API to enhance user experiences by providing relevant merchant information directly within your application.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants": {
      "get": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Retrieve a list of merchants.",
        "description": "This endpoint allows you to fetch a comprehensive list of all merchants registered in the system, potentially filtered by specific criteria if parameters are provided.",
        "operationId": "listP2mMerchants",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve a list of merchants. This request body can include parameters for filtering or pagination as outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mMerchantsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of merchants.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mMerchantsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mMerchantsRequest": {
        "type": "string",
        "description": "This schema represents the request body format expected for the GET operation on merchants.",
        "example": "{}"
      },
      "ListP2mMerchantsResponse_200": {
        "title": "Merchant Operations Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of items.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "A collection of links related to the response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of merchant items.",
            "example": [
              {
                "merchantId": "MER-251194",
                "business": {
                  "legalName": "Olivia Bennett",
                  "tradingName": "Northstar Banking Service",
                  "registrationNumber": "NY-4587219",
                  "taxIdentificationNumber": "STANDARD",
                  "incorporationCountry": "STANDARD",
                  "incorporationDate": "2026-09-15",
                  "merchantType": "STANDARD",
                  "merchantCategoryCode": "5411"
                },
                "registeredAddress": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "stateOrProvince": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                },
                "contact": {
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "website": "https://example.com/resource"
                },
                "status": "ACTIVE",
                "kybStatus": "ACTIVE",
                "amlStatus": "ACTIVE",
                "capabilities": {
                  "channels": [
                    "STANDARD"
                  ],
                  "paymentMethods": [
                    "STANDARD"
                  ],
                  "supportsPartialCapture": true,
                  "supportsPartialRefund": true,
                  "supportsTips": true,
                  "supportsSplitPayments": true
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MerchantItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on merchants, including pagination, item details, and metadata.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "merchantId": "MER-251194",
              "business": {
                "legalName": "Olivia Bennett",
                "tradingName": "Northstar Banking Service",
                "registrationNumber": "NY-4587219",
                "taxIdentificationNumber": "STANDARD",
                "incorporationCountry": "STANDARD",
                "incorporationDate": "2026-09-15",
                "merchantType": "STANDARD",
                "merchantCategoryCode": "5411"
              },
              "registeredAddress": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "stateOrProvince": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              },
              "contact": {
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "website": "https://example.com/resource"
              },
              "status": "ACTIVE",
              "kybStatus": "ACTIVE",
              "amlStatus": "ACTIVE",
              "capabilities": {
                "channels": [
                  "STANDARD"
                ],
                "paymentMethods": [
                  "STANDARD"
                ],
                "supportsPartialCapture": true,
                "supportsPartialRefund": true,
                "supportsTips": true,
                "supportsSplitPayments": true
              }
            }
          ],
          "metadata": {
            "responseId": "c6f9ab76-49e0-555f-b361-8f2b9a9015b2",
            "correlationId": "07f32381-7768-567b-83f0-07b64c247b87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link Object",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship of the link.",
            "example": "self"
          },
          "href": {
            "type": "string",
            "description": "The URI of the link.",
            "example": "https://api.example.com/merchants"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use with the link.",
            "example": "GET"
          }
        },
        "description": "An object representing a hyperlink in the response."
      },
      "MerchantItem": {
        "title": "Merchant Item",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "merchant123"
          },
          "business": {
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "active"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business status.",
            "example": "verified"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering status.",
            "example": "compliant"
          },
          "capabilities": {
            "$ref": "#/components/schemas/Capabilities"
          }
        },
        "description": "A detailed representation of a merchant."
      },
      "Business": {
        "title": "Business Information",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "Example Corp"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "Example Trading"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The business registration number.",
            "example": "REG123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "TIN123456789"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "The country where the business is incorporated.",
            "example": "USA"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the business was incorporated.",
            "example": "2020-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "retailer"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code representing the merchant's business.",
            "example": "5712"
          }
        },
        "description": "Contains details about the merchant's business."
      },
      "Address": {
        "title": "Address Information",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "Suite 101"
          },
          "city": {
            "type": "string",
            "description": "City where the merchant is located.",
            "example": "Springfield"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province where the merchant is located.",
            "example": "IL"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the merchant's address.",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "description": "Country where the merchant is located.",
            "example": "USA"
          }
        },
        "description": "Contains the registered address details of the merchant."
      },
      "Contact": {
        "title": "Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address of the merchant.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the merchant.",
            "example": "+123456789"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the merchant.",
            "example": "https://www.example.com"
          }
        },
        "description": "Contains the contact details for the merchant."
      },
      "Capabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Available channels for the merchant.",
            "items": {
              "type": "string",
              "example": "online"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods accepted by the merchant.",
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial capture.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refund.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          }
        },
        "description": "Details about the capabilities of the merchant."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through the system.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-merchants"
        },
        "example": "banking-p2m-openapi-list-merchants"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header when making requests. This token authorizes access to the API and is typically obtained after a successful login.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}