{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Control Organization Directions-spec",
    "description": "The Business Control Organization Direction API provides access to the organization direction data related to business control within the banking sector. This API allows users to retrieve detailed information about various organizational directions that guide business control strategies. It's designed for financial analysts, compliance officers, and operational managers who need to ensure adherence to regulatory frameworks and internal policies. By utilizing this API, stakeholders can make informed decisions based on the most current organizational direction data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/organization-direction": {
      "get": {
        "tags": [
          "Business Control"
        ],
        "summary": "Retrieve organization direction data.",
        "description": "This endpoint allows you to fetch the current direction and strategy of the organization, providing insights into how the organization plans to achieve its goals.",
        "operationId": "listBusinessControlOrganizationDirections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve organization direction data for business control. When making this request, the client can specify relevant filters or parameters within the JSON schema to tailor the response to specific needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessControlOrganizationDirectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the organization direction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessControlOrganizationDirectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessControlOrganizationDirectionsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for GET operations related to organization direction.",
        "example": "{}"
      },
      "ListBusinessControlOrganizationDirectionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of business unit records.",
            "example": [
              {
                "businessUnitId": "STANDARD",
                "costCenter": "STANDARD",
                "planningPeriod": "STANDARD",
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "forecastVersion": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessUnitRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationDetails"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on the organization direction.",
        "example": {
          "items": [
            {
              "businessUnitId": "STANDARD",
              "costCenter": "STANDARD",
              "planningPeriod": "STANDARD",
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "forecastVersion": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "02bea396-2fa1-5012-a863-35d7e68c0a76",
            "correlationId": "4a1c8a74-c475-5049-a09e-ea0c094979dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessUnitRecord": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The unique identifier for the business unit.",
            "example": "BU-001"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with this business unit.",
            "example": "CC-123"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for this business unit.",
            "example": "2023-Q4"
          },
          "budget": {
            "$ref": "#/components/schemas/BudgetDetails"
          },
          "forecastVersion": {
            "type": "string",
            "description": "The version of the forecast.",
            "example": "v1.0"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single business unit record.",
        "example": {
          "businessUnitId": "BU-001",
          "costCenter": "CC-123",
          "planningPeriod": "2023-Q4",
          "budget": {
            "amount": 100000.0,
            "currency": "USD"
          },
          "forecastVersion": "v1.0",
          "recordStatus": "active",
          "updatedAt": "2023-10-01T12:00:00Z"
        }
      },
      "BudgetDetails": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount allocated for the budget.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the budget amount.",
            "example": "USD"
          }
        },
        "description": "Details of the budget associated with a business unit."
      },
      "PaginationDetails": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response data."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this response.",
            "example": "abc-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking purposes.",
            "example": "xyz-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Detailed metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "organization-direction-search-organization-direction"
        },
        "example": "organization-direction-search-organization-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, where a JSON Web Token (JWT) is provided in the Authorization header. The JWT should be a valid token issued by a trusted authentication server to ensure the security of the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}