{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking It Management Systems Administration By Systems Administration Id-v5-spec",
    "description": "This API endpoint allows users to retrieve information about a specific banking IT management systems administration record using its unique identifier. It serves as a vital resource for developers seeking to integrate detailed system administration data into their applications. Typical consumers include financial institutions and IT departments that require quick access to system management details for auditing or operational purposes. By leveraging this API, organizations can ensure efficient governance of their IT management systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-administration/{systemsAdministrationId}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve the details of a specific system management resource.",
        "description": "This endpoint allows you to fetch detailed information about a specific system management resource identified by its unique ID, enabling better management and oversight of IT assets.",
        "operationId": "getBankingItManagementSystemsAdministrationBySystemsAdministrationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/systemsAdministrationId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information about the specified resource in the IT management systems administration. This body should be formatted as a JSON object and include the necessary parameters for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingItManagementSystemsAdministrationBySystemsAdministrationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request completed successfully and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingItManagementSystemsAdministrationBySystemsAdministrationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingItManagementSystemsAdministrationBySystemsAdministrationIdRequest": {
        "type": "string",
        "description": "A request body for the GET operation related to system administration in IT management. This string could represent various forms of data required by the endpoint.",
        "example": "{}"
      },
      "GetBankingItManagementSystemsAdministrationBySystemsAdministrationIdResponse_200": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change request associated with this system.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Scheduled date and time for maintenance or deployment activities.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier or level associated with the system.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The time period during which maintenance is planned.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the system configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the system record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the system.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET operation related to systems administration in IT management.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ace02c12-5f5b-5b56-be16-bd183d2dac75",
            "correlationId": "a0817be5-5f4c-5c5a-92c3-7ead2055ebdc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the specific response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace related requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where processing occurs.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata associated with a system."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "systemsAdministrationId": {
        "name": "systemsAdministrationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint managing the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-administration-get-systems-administration"
        },
        "example": "systems-administration-get-systems-administration"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is currently executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication mechanism, where the client sends a JSON Web Token (JWT) in the Authorization header. The server validates the token to authenticate the user and authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}