{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reconciliation Runs API",
    "description": "The Reconciliation Runs API facilitates the retrieval of reconciliation processes within the system. This endpoint allows users to access information about completed and ongoing reconciliation runs, providing insights into discrepancies and financial alignments. Typical consumers include financial analysts and accounting teams who require transparency in the reconciliation workflow. By leveraging this API, users can efficiently monitor the status and outcomes of reconciliation efforts, supporting better financial oversight and decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Retrieve a list of reconciliation runs.",
        "description": "This endpoint allows users to fetch the details of all reconciliation runs, providing insights into their status, timestamps, and related data. Use this to monitor reconciliation processes and validate outcomes.",
        "operationId": "getReconciliationRuns",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for reconciliation runs. It should include necessary parameters in JSON format to specify the details of the reconciliation runs to be retrieved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetReconciliationRunsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of reconciliation runs.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReconciliationRunsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetReconciliationRunsRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to reconciliation runs.",
        "example": "{}"
      },
      "GetReconciliationRunsResponse_200": {
        "title": "Reconciliation Runs Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of link objects for navigation.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "An array of reconciliation run items.",
            "example": [
              {
                "reconciliationRunId": "STANDARD",
                "sourceA": "STANDARD",
                "sourceB": "STANDARD",
                "businessDate": "2026-09-15",
                "merchantId": "MER-525922",
                "currency": "USD",
                "matchingStrategy": "STANDARD",
                "status": "ACTIVE",
                "summary": {
                  "sourceACount": 1,
                  "sourceBCount": 1,
                  "matchedCount": 1,
                  "unmatchedSourceACount": 1,
                  "unmatchedSourceBCount": 1,
                  "amountMismatchCount": 1,
                  "duplicateCount": 1,
                  "totalSourceA": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalSourceB": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "netDifference": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "startedAt": "2026-09-15T14:30:00Z",
                "completedAt": "2026-09-15T14:30:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReconciliationRunItem"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "c33f3a28-5230-5df5-8038-750759f8cf71",
              "correlationId": "e8c69ae9-201f-59ea-97fb-727a379137fd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for the GET operation on reconciliation runs.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "reconciliationRunId": "STANDARD",
              "sourceA": "STANDARD",
              "sourceB": "STANDARD",
              "businessDate": "2026-09-15",
              "merchantId": "MER-525922",
              "currency": "USD",
              "matchingStrategy": "STANDARD",
              "status": "ACTIVE",
              "summary": {
                "sourceACount": 1,
                "sourceBCount": 1,
                "matchedCount": 1,
                "unmatchedSourceACount": 1,
                "unmatchedSourceBCount": 1,
                "amountMismatchCount": 1,
                "duplicateCount": 1,
                "totalSourceA": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalSourceB": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netDifference": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "startedAt": "2026-09-15T14:30:00Z",
              "completedAt": "2026-09-15T14:30:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15"
              }
            }
          ],
          "metadata": {
            "responseId": "c33f3a28-5230-5df5-8038-750759f8cf71",
            "correlationId": "e8c69ae9-201f-59ea-97fb-727a379137fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method associated with the link.",
            "example": "string"
          }
        },
        "description": "Schema representing a navigation link."
      },
      "ReconciliationRunItem": {
        "title": "Reconciliation Run Item",
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "description": "Unique identifier for the reconciliation run.",
            "example": "string"
          },
          "sourceA": {
            "type": "string",
            "description": "Identifier for source A.",
            "example": "string"
          },
          "sourceB": {
            "type": "string",
            "description": "Identifier for source B.",
            "example": "string"
          },
          "businessDate": {
            "type": "string",
            "description": "The business date for the reconciliation run.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the reconciliation.",
            "example": "string"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "Strategy used for matching during reconciliation.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the reconciliation run.",
            "example": "string"
          },
          "summary": {
            "type": "object",
            "properties": {
              "sourceACount": {
                "type": "integer",
                "description": "Count of items from source A.",
                "format": "int32",
                "example": 0
              },
              "sourceBCount": {
                "type": "integer",
                "description": "Count of items from source B.",
                "format": "int32",
                "example": 0
              },
              "matchedCount": {
                "type": "integer",
                "description": "Count of matched items.",
                "format": "int32",
                "example": 0
              },
              "unmatchedSourceACount": {
                "type": "integer",
                "description": "Count of unmatched items from source A.",
                "format": "int32",
                "example": 0
              },
              "unmatchedSourceBCount": {
                "type": "integer",
                "description": "Count of unmatched items from source B.",
                "format": "int32",
                "example": 0
              },
              "amountMismatchCount": {
                "type": "integer",
                "description": "Count of items with amount mismatches.",
                "format": "int32",
                "example": 0
              },
              "duplicateCount": {
                "type": "integer",
                "description": "Count of duplicate items.",
                "format": "int32",
                "example": 0
              },
              "totalSourceA": {
                "$ref": "#/components/schemas/TotalAmount"
              },
              "totalSourceB": {
                "$ref": "#/components/schemas/TotalAmount"
              },
              "netDifference": {
                "$ref": "#/components/schemas/TotalAmount"
              }
            },
            "description": "Summary of the reconciliation results."
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run started.",
            "example": "string"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run completed.",
            "example": "string"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Schema representing an individual reconciliation run."
      },
      "TotalAmount": {
        "title": "Total Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The total value in the specified currency.",
            "example": "string"
          }
        },
        "description": "Schema representing a total amount with currency."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the record.",
            "example": "string"
          }
        },
        "description": "Schema representing audit information for reconciliation runs."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-reconciliation-runs"
        },
        "example": "banking-p2m-openapi-list-reconciliation-runs"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme with JSON Web Tokens (JWT) for secure access. Users must provide a valid JWT token in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}