{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Gateway API",
    "description": "The Operational Gateway API provides real-time access to IT management functions within the banking sector. It enables users to monitor, analyze, and manage operational data to enhance decision-making and improve efficiency. Typical consumers include IT administrators and operations teams who require integrated access to various IT management resources. This API streamlines the retrieval of critical operational insights, ensuring that organizations can respond proactively to potential issues and optimize their banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/operational-gateway": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve operational gateway information.",
        "description": "This endpoint allows users to fetch details about the operational gateway in the IT management system, enabling monitoring and management of resources effectively.",
        "operationId": "getOperationalGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters needed for retrieving operational gateway information. Ensure all required fields are included in your request to receive accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalGatewayResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalGatewayRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the operational gateway GET operation. It should contain a JSON string.",
        "example": "{}"
      },
      "GetOperationalGatewayResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of operational items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationalItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "A response schema for the operational gateway GET request, containing an array of items and additional metadata.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "91bb55ef-94c2-5e13-8249-ed15236601e2",
            "correlationId": "f04820ec-09c6-5593-a4c5-5e67bbfec5e1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationalItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier of the system."
          },
          "environment": {
            "type": "string",
            "description": "The environment where the operation is applied."
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the change."
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned time for the change to occur."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the record."
          }
        },
        "description": "An item representing an operational change."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for navigating through results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to trace the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed."
          }
        },
        "description": "Metadata providing additional context about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, enabling tracking and management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-gateway-search-operational-gateway"
        },
        "example": "operational-gateway-search-operational-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application running the operation, used for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This requires a JSON Web Token (JWT) to be included in the request's Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}