{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trader Position Operations Status API",
    "description": "The Trader Position Operations Status API provides real-time insights into the status of various trading positions managed by wholesale trading entities. This API allows users to retrieve current status details for trader position operations, ensuring traders can monitor their investments and positions effectively. Typical consumers include trading platforms, financial analysts, and risk management teams. By utilizing this API, businesses can enhance their operational efficiency and make informed trading decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trader-position-operations/status": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve Trader Position Status",
        "description": "This endpoint allows users to fetch the current status of trader positions within the wholesale trading system. It provides essential insights into trader activities and their positions in the market.",
        "operationId": "getTraderPositionStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of trader position operations within the wholesale trading context.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTraderPositionStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the current status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTraderPositionStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "TraderPositionOperationsStatusRequestBody": {
        "type": "string",
        "description": "A status string representing the operations related to trader positions.",
        "example": "string"
      },
      "GetTraderPositionStatusResponse_200": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book associated with this operation.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument involved in the trading operation.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, indicating whether it is a buy or sell operation.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument being traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The price limit for the order, specifying the maximum (or minimum) price that can be accepted.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the trading record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the trading operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the trading operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the trading operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "55260a02-3960-5bef-8302-09963550c712",
            "correlationId": "f7e56af0-842a-57b0-beca-d791f4f2895c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price, represented as a three-letter ISO currency code.",
            "example": "string"
          }
        },
        "description": "Represents the limit price for a trading operation, including its value and currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response associated with this trading operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the operation took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata for the trading operation, providing additional context and identifiers."
      },
      "GetTraderPositionStatusRequest": {
        "type": "string",
        "example": "{}"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being called. This value helps in tracking the specific call made to the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trader-position-operations-get-trader-position-operations"
        },
        "example": "trader-position-operations-get-trader-position-operations"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that made the request. This header is useful for understanding which application instance generated the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for verifying user identity and ensuring secure communication between clients and servers.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}