{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Payment Intent Confirm-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Payment Intent Confirm-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{paymentIntentId}/confirm": {
      "post": {
        "operationId": "createP2mPaymentIntentConfirm",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentIntentId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mPaymentIntentConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mPaymentIntentConfirmResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mPaymentIntentConfirmRequest": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "string"
              },
              "token": {
                "type": "string",
                "example": "string"
              },
              "issuerBankCode": {
                "type": "string",
                "example": "string"
              },
              "maskedIdentifier": {
                "type": "string",
                "example": "string"
              },
              "walletProvider": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-949",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            }
          },
          "customerConsentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "deviceContext": {
            "type": "object",
            "properties": {
              "deviceId": {
                "type": "string",
                "example": "string"
              },
              "ipAddress": {
                "type": "string",
                "example": "string"
              },
              "userAgent": {
                "type": "string",
                "example": "string"
              },
              "geolocation": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "example": 0.0
                  },
                  "longitude": {
                    "type": "number",
                    "example": 0.0
                  },
                  "accuracyMeters": {
                    "type": "number",
                    "example": 0.0
                  }
                },
                "example": "string"
              },
              "appVersion": {
                "type": "string",
                "example": "string"
              },
              "os": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "deviceId": "DEV-932712",
              "ipAddress": "STANDARD",
              "userAgent": "STANDARD",
              "geolocation": {
                "latitude": 100.0,
                "longitude": 100.0,
                "accuracyMeters": 100.0
              },
              "appVersion": "STANDARD",
              "os": "STANDARD"
            }
          },
          "riskContext": {
            "type": "object",
            "properties": {
              "sessionId": {
                "type": "string",
                "example": "string"
              },
              "customerAccountAgeDays": {
                "type": "integer",
                "format": "int32",
                "example": 0
              },
              "isNewPayee": {
                "type": "boolean",
                "example": false
              },
              "priorSuccessfulPayments": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "sessionId": "SES-402090",
              "customerAccountAgeDays": 1,
              "isNewPayee": true,
              "priorSuccessfulPayments": 1
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "d9b6d4f8-7b37-59ab-8220-d5e475226a40",
              "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
              "idempotencyKey": "36431e03-4aaf-571d-ad95-8a2feb87e370",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-461073"
              }
            }
          }
        },
        "example": {
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-949",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customerConsentId": "STANDARD",
          "deviceContext": {
            "deviceId": "DEV-932712",
            "ipAddress": "STANDARD",
            "userAgent": "STANDARD",
            "geolocation": {
              "latitude": 100.0,
              "longitude": 100.0,
              "accuracyMeters": 100.0
            },
            "appVersion": "STANDARD",
            "os": "STANDARD"
          },
          "riskContext": {
            "sessionId": "SES-402090",
            "customerAccountAgeDays": 1,
            "isNewPayee": true,
            "priorSuccessfulPayments": 1
          },
          "requestContext": {
            "requestId": "d9b6d4f8-7b37-59ab-8220-d5e475226a40",
            "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
            "idempotencyKey": "36431e03-4aaf-571d-ad95-8a2feb87e370",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-461073"
            }
          }
        }
      },
      "CreateP2mPaymentIntentConfirmResponse_200": {
        "type": "object",
        "properties": {
          "paymentIntent": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "merchantId": {
                "type": "string",
                "example": "string"
              },
              "outletId": {
                "type": "string",
                "example": "string"
              },
              "terminalId": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "amountAuthorized": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "amountCaptured": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "amountRefunded": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "captureMethod": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "string",
                "example": "string"
              },
              "allowedPaymentMethods": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "selectedPaymentMethod": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "token": {
                    "type": "string",
                    "example": "string"
                  },
                  "issuerBankCode": {
                    "type": "string",
                    "example": "string"
                  },
                  "maskedIdentifier": {
                    "type": "string",
                    "example": "string"
                  },
                  "walletProvider": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "customer": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "string"
                  },
                  "name": {
                    "type": "string",
                    "example": "string"
                  },
                  "email": {
                    "type": "string",
                    "example": "string"
                  },
                  "phone": {
                    "type": "string",
                    "example": "string"
                  },
                  "riskSegment": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "order": {
                "type": "object",
                "properties": {
                  "merchantOrderId": {
                    "type": "string",
                    "example": "string"
                  },
                  "description": {
                    "type": "string",
                    "example": "string"
                  },
                  "items": {
                    "type": "array",
                    "example": "string",
                    "items": {
                      "type": "object",
                      "properties": {
                        "itemId": {
                          "type": "string",
                          "example": "string"
                        },
                        "name": {
                          "type": "string",
                          "example": "string"
                        },
                        "description": {
                          "type": "string",
                          "example": "string"
                        },
                        "quantity": {
                          "type": "string",
                          "example": "string"
                        },
                        "unitPrice": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "string"
                            },
                            "value": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        },
                        "totalAmount": {
                          "type": "object",
                          "properties": {
                            "currency": {
                              "type": "string",
                              "example": "string"
                            },
                            "value": {
                              "type": "string",
                              "example": "string"
                            }
                          },
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "merchantId": "MER-909000",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountAuthorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountCaptured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountRefunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captureMethod": "STANDARD",
              "channel": "STANDARD",
              "allowedPaymentMethods": [
                "STANDARD"
              ],
              "selectedPaymentMethod": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-844",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "order": {
                "merchantOrderId": "ORD-240784",
                "description": "Customer banking request processed successfully",
                "items": [
                  {
                    "itemId": "STANDARD",
                    "name": "Northstar Banking Service",
                    "description": "Customer banking request processed successfully",
                    "quantity": "STANDARD",
                    "unitPrice": {
                      "currency": "USD",
                      "value": "STANDARD"
                    },
                    "totalAmount": {
                      "currency": "USD",
                      "value": "STANDARD"
                    }
                  }
                ]
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "6363b1a5-82c8-54f6-83a1-a995592543e1",
              "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "paymentIntent": {
            "id": "STANDARD",
            "merchantId": "MER-909000",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "amount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountAuthorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountCaptured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountRefunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captureMethod": "STANDARD",
            "channel": "STANDARD",
            "allowedPaymentMethods": [
              "STANDARD"
            ],
            "selectedPaymentMethod": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-844",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            },
            "customer": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            },
            "order": {
              "merchantOrderId": "ORD-240784",
              "description": "Customer banking request processed successfully",
              "items": [
                {
                  "itemId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "description": "Customer banking request processed successfully",
                  "quantity": "STANDARD",
                  "unitPrice": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              ]
            }
          },
          "metadata": {
            "responseId": "6363b1a5-82c8-54f6-83a1-a995592543e1",
            "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentIntentId": {
        "name": "paymentIntentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-confirm-payment-intent"
        },
        "example": "banking-p2m-openapi-confirm-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}