{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Collateral Administration Collateral Allocation Managements-spec",
    "description": "The Collateral Allocation Managements API provides seamless access to information regarding collateral allocations within the banking administration framework. This endpoint allows users to retrieve detailed listings of collateral allocations, aiding in effective management and oversight of collateral assets. Financial institutions, risk managers, and compliance teams are typical consumers of this API, utilizing it to monitor and analyze collateral assignments actively. With this capability, organizations can enhance their decision-making processes and ensure adherence to regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-allocation-management": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve collateral allocation management data.",
        "description": "Fetch the details of collateral allocations managed within the system. This endpoint allows users to obtain comprehensive information about all aspects of collateral allocation management, including current allocations, statuses, and related metrics.",
        "operationId": "listCollateralAdministrationCollateralAllocationManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to collateral allocation management. Ensure that you provide the necessary parameters in the payload to specify the criteria for the data you wish to fetch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCollateralAdministrationCollateralAllocationManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved all collateral allocation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCollateralAdministrationCollateralAllocationManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCollateralAdministrationCollateralAllocationManagementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Collateral Allocation Management GET operation in Collateral Administration.",
        "example": "{}"
      },
      "ListCollateralAdministrationCollateralAllocationManagementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of collateral items.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-396540",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for fetching collateral allocation management details.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-396540",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c3635dd9-5e28-50e6-b974-f5eb433ff881",
            "correlationId": "49e1c031-b164-5b4e-abee-0381a0bb3323",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralItem": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral."
          },
          "partyId": {
            "type": "string",
            "description": "Identifier of the party associated with the collateral."
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset."
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the collateral was valued."
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the collateral."
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage discount applied to the market value of the collateral."
          },
          "lienStatus": {
            "type": "string",
            "description": "Current lien status of the collateral."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the collateral record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the collateral record."
          }
        },
        "description": "Details of an individual collateral item."
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount representing the market value."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the market value is represented."
          }
        },
        "description": "Market value details of a collateral item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-allocation-management-search-collateral-allocation-management"
        },
        "example": "collateral-allocation-management-search-collateral-allocation-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This method is commonly used for securing APIs by requiring clients to provide a valid token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}