{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Certified Institutions Information API",
    "description": "The Certified Institutions Information API provides access to a comprehensive list of certified institutions. This endpoint allows users to retrieve essential details about institutions that have met specific certification standards. It is particularly useful for regulatory bodies, educators, and stakeholders looking to verify the credentials of institutions. By leveraging this API, developers can enhance applications that support compliance, accreditation verification, or academic planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/certifiedinstitutions": {
      "get": {
        "tags": [
          "Certified Institutions"
        ],
        "summary": "Retrieve a list of certified institutions.",
        "description": "This endpoint allows users to retrieve a comprehensive list of certified institutions. It provides detailed information on each institution, enabling users to understand the various certified entities available within the system.",
        "operationId": "getCertifiedInstitutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching certified institutions. This request expects information about the certified institutions in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCertifiedInstitutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of certified institutions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCertifiedInstitutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCertifiedInstitutionsRequest": {
        "type": "string",
        "description": "A JSON-encoded string used as the request body for the GET operation related to certified institutions.",
        "example": "{}"
      },
      "GetCertifiedInstitutionsResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if there are more institutions available beyond the displayed ones.",
            "example": true
          },
          "requestedDate": {
            "type": "integer",
            "description": "The date when the request was made.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "List of certified institutions.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "liabilityData": true,
                "billPayData": true,
                "oauthEnabled": true,
                "productionStatus": {
                  "overallStatus": "ACTIVE",
                  "transAgg": "STANDARD",
                  "stateAgg": "STANDARD",
                  "voa": "STANDARD",
                  "voi": "STANDARD",
                  "ach": "STANDARD",
                  "aha": "STANDARD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on certified institutions.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "requestedDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "liabilityData": true,
              "billPayData": true,
              "oauthEnabled": true,
              "productionStatus": {
                "overallStatus": "ACTIVE",
                "transAgg": "STANDARD",
                "stateAgg": "STANDARD",
                "voa": "STANDARD",
                "voi": "STANDARD",
                "ach": "STANDARD",
                "aha": "STANDARD"
              }
            }
          ],
          "metadata": {
            "responseId": "790792a8-f4fd-54fb-abd9-23308666042e",
            "correlationId": "8087fa44-311e-53b8-8d93-c0052d0c9f44",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH support is enabled.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if Voice of the Institution is enabled.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if Voice of the Account is enabled.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if AHA data is enabled.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance is provided.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account ownership information is available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is available.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available.",
            "example": false
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": false
          },
          "productionStatus": {
            "type": "object",
            "properties": {
              "overallStatus": {
                "type": "string",
                "description": "Overall production status.",
                "example": "Active"
              },
              "transAgg": {
                "type": "string",
                "description": "Status of transaction aggregation.",
                "example": "Enabled"
              },
              "stateAgg": {
                "type": "string",
                "description": "Status of state aggregation.",
                "example": "Enabled"
              },
              "voa": {
                "type": "string",
                "description": "Status of voice of account.",
                "example": "Enabled"
              },
              "voi": {
                "type": "string",
                "description": "Status of voice of institution.",
                "example": "Enabled"
              },
              "ach": {
                "type": "string",
                "description": "Status of ACH support.",
                "example": "Disabled"
              },
              "aha": {
                "type": "string",
                "description": "Status of AHA data.",
                "example": "Enabled"
              }
            },
            "description": "Current production status of the institution."
          }
        },
        "description": "Schema representing a certified institution."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "This header contains the unique identifier for the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-certified-institutions"
        },
        "example": "open-finance-api-get-certified-institutions"
      },
      "x-runtime-app": {
        "description": "This header indicates the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer Token. Tokens must be in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}