{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Cancel-spec",
    "description": "The Payment Cancellation API enables businesses to efficiently manage and cancel payment transactions. By using this endpoint, authorized users can request the cancellation of a specific payment identified by its unique payment ID. This functionality is essential for payment processors, financial services, and retail platforms needing to handle changes in transaction status. Typical consumers include customer support teams and finance departments that deal with payment adjustments and customer inquiries regarding cancellations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}/cancel": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Cancel a specific payment.",
        "description": "This endpoint allows you to cancel a payment identified by its unique ID, ensuring that the transaction is halted and funds are not processed. Use this operation for payments that need to be reverted due to various reasons.",
        "operationId": "createPaymentCancel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "Request body for canceling a payment identified by PAY-300045. This operation allows the user to send a request to cancel the specified payment, triggering necessary validations and processing on the server side.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentCancelRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment cancellation request was successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentCancelResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentCancelRequest": {
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the cancellation.",
            "example": "CODE-674"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for cancellation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for cancelling a payment operation.",
        "example": {
          "reasonCode": "CODE-674",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "0fdf03b1-c68d-5b70-affb-e9574dfcefb3",
            "correlationId": "e1b0ad04-e563-5a77-953b-fcf5702a0ee0",
            "idempotencyKey": "4caa320c-5381-5842-82de-e3a68798f7f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-550429"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that originated the request.",
            "example": "payment_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "payment_app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request execution."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel being used.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-abc"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreatePaymentCancelResponse_200": {
        "title": "Payment Cancellation Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-139366"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "4427b359-cf44-537d-92ef-a148a783db89"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-778819"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "ORD-134694"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment was processed.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details about the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Details about the customer who made the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details regarding various amount statuses of the payment.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional metadata related to the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for a successful payment cancellation operation.",
        "example": {
          "paymentId": "PAY-139366",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "4427b359-cf44-537d-92ef-a148a783db89",
          "merchantId": "MER-778819",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-134694",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-465",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "e4234037-eb3a-55d9-914b-e7d865e01481",
            "correlationId": "e1b0ad04-e563-5a77-953b-fcf5702a0ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, debit card, etc.).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representation of the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuing bank.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked representation of the payment method identifier.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet service, if applicable.",
            "example": "string"
          }
        },
        "description": "Details regarding the method used for the payment."
      },
      "Customer": {
        "title": "Customer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "string"
          }
        },
        "description": "Information regarding the customer associated with the payment."
      },
      "Amounts": {
        "title": "Amounts",
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount requested for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "Amount authorized for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "Amount captured from the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "Amount refunded from the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "Amount reversed from the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "tip": {
            "description": "Tip amount associated with the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/FeeDetail"
            }
          },
          "netToMerchant": {
            "description": "Net amount to the merchant after all deductions.",
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Details about various amounts involved in the payment."
      },
      "AmountDetail": {
        "title": "Amount Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          }
        },
        "description": "Details for a specific amount including currency and value."
      },
      "FeeDetail": {
        "title": "Fee Detail",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee (e.g., processing fee, service fee, etc.).",
            "example": "string"
          },
          "amount": {
            "description": "Details regarding the amount of the fee.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the fee (e.g., merchant, customer).",
            "example": "string"
          }
        },
        "description": "Details regarding a specific fee associated with the payment."
      },
      "Metadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata details related to the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-payment"
        },
        "example": "banking-p2m-openapi-cancel-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, where the client must include a JSON Web Token (JWT) in the Authorization header of the request. Ensure that the token is valid and has not expired for successful access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}