{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Document By Param1-spec",
    "description": "The Document Retrieval API allows users to access specific banking documents based on a unique parameter. This API serves as a vital resource for financial institutions and service providers, enabling them to locate and retrieve essential documents listed in the document directory. Typical use cases include account management, transaction history verification, and compliance checks. By utilizing this endpoint, developers can efficiently integrate document retrieval functionality into their applications, providing users with quick access to necessary documentation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-directory/{param1}": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve Document Directory",
        "description": "Fetches the document directory for the specified resource identifier. This endpoint allows users to access and view the details pertaining to the document directory identified by the given resource ID.",
        "operationId": "getDocumentByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the document directory details for the specified resource identifier (RES-100045). This request requires information structured in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the document details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentByParam1Request": {
        "type": "string",
        "description": "Represents the request body in JSON format for the GET operation in the document directory API.",
        "example": "{}"
      },
      "GetDocumentByParam1Response_200": {
        "title": "Document Details Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-402566"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification category of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class indicating how long the document should be kept.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "Media type (MIME type) of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum for the document for data integrity verification.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document in the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the document was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the details of a document retrieved from the document directory.",
        "example": {
          "documentId": "DOC-402566",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0b4f8ad3-3090-5681-b4f2-0c681954c5bb",
            "correlationId": "a9c1bebe-90c3-5293-a582-6d1385d2e53a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the document.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the document was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with a document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-directory-get-document-directory"
        },
        "example": "document-directory-get-document-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires the client to include a bearer token in the Authorization header. The token must be in JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}