{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Deposit Lending By Param1-spec",
    "description": "The Deposit Lending Retrieval API allows users to access specific term deposit framework agreements based on unique parameters. This operation provides detailed information regarding various deposit lending options, enabling financial institutions to better serve their clients. It is primarily utilized by banking software and applications seeking to present tailored lending solutions to customers. Typical consumers of this API include banking professionals, loan processing systems, and financial advisory platforms that require precise lending details. Leverage this API for efficient integration of deposit lending insights into your services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit-framework-agreement/{param1}": {
      "get": {
        "tags": [
          "Term Deposit Management"
        ],
        "summary": "Retrieve a specific term deposit framework agreement.",
        "description": "This endpoint allows users to retrieve detailed information about a specific term deposit framework agreement identified by its unique ID. It provides all the necessary details regarding the terms, conditions, and regulations associated with the agreement.",
        "operationId": "getDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the term deposit framework agreement details for the specified resource identifier (RES-100045). Ensure that you provide any necessary parameters for a successful operation. The data returned will be based on the specifics of the request made.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the term deposit framework agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingByParam1Request": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to the term deposit framework agreement.",
        "example": "{}"
      },
      "GetDepositLendingByParam1Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-982871"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-255224"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the term deposit.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount details for the term deposit.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the deposit in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments for the deposit.",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The deposit amount details for the term deposit.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "tenorDays": {
            "type": "integer",
            "description": "The tenor period for the deposit in days.",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions regarding the maturity of the deposit.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., Active, Closed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving term deposit framework agreement operations.",
        "example": {
          "customerId": "CUST-982871",
          "accountId": "ACC-255224",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "457a1643-3f81-59f7-87e9-f54a1b052649",
            "correlationId": "068089f3-2fcb-564d-ab5e-43458e04910a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing an amount with its associated currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-get-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-get-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that processed the request, useful for tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must provide a JSON Web Token (JWT) in the 'Authorization' header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}