{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Channel Activity History-spec",
    "description": "This API facilitates the creation of records detailing channel activity history within operational services. It is fundamental for tracking and managing service interactions, enabling organizations to enhance their operational efficiency and customer service. Typical consumers include developers and product managers looking to integrate activity logging into banking applications. By leveraging this endpoint, businesses can maintain a comprehensive audit trail of service channel interactions, ensuring accountability and promoting data-driven decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-history": {
      "post": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Create Channel Activity History Entry",
        "description": "This endpoint allows the creation of entries in the channel activity history, providing a record of operational activities related to specific channels. Useful for tracking and auditing purposes.",
        "operationId": "createOperationalServiceChannelActivityHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A JSON payload representing the channel activity history request. This should include all necessary parameters required for processing the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceChannelActivityHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the channel activity history.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceChannelActivityHistoryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceChannelActivityHistoryRequest": {
        "title": "Channel Activity History Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-707313"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the operation.",
            "example": "ACC-863623"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for recording channel activity history operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-707313",
          "accountId": "ACC-863623",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "095de73e-680d-58ed-8ff2-9402d119fbce",
            "correlationId": "1fbbcf58-f95f-50f1-9e7b-7f62f1ea3a55",
            "idempotencyKey": "0cdf7a3a-5fd5-543a-a196-a69b45d3f5f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946476"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "corr-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to guarantee that repeated requests will have the same effect.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request context was created.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the origin system from which the request was made.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the application that initiated the request.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., 'email', 'sms', etc.).",
            "example": "sms"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the channel.",
            "example": "device-001"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateOperationalServiceChannelActivityHistoryResponse_201": {
        "title": "Channel Activity History Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation.",
            "example": "CUST-402251"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the operation.",
            "example": "ACC-148885"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource involved in the operation.",
            "example": "RES-102550"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for channel activity history operations, detailing the operation's results including IDs, status, and metadata.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-402251",
          "accountId": "ACC-148885",
          "resourceId": "RES-102550",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a620337c-a2c8-582e-8f73-27ba060d59de",
            "correlationId": "1fbbcf58-f95f-50f1-9e7b-7f62f1ea3a55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the specific response returned.",
            "example": "resp-171819"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "corr-202122"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata containing additional information about the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-history-create-channel-activity-history"
        },
        "example": "channel-activity-history-create-channel-activity-history"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, which requires a JWT (JSON Web Token) to be included in the authorization header for user authentication and access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}