{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Servicing By Param1-spec",
    "description": "The Loan Syndication Servicing API enables users to retrieve detailed servicing information related to specific loan syndication requests using a unique parameter. This endpoint facilitates access to essential data for financial institutions, enabling them to manage, monitor, and process loan syndication effectively. Typical consumers of this API include banking analysts, loan officers, and financial application developers who need to ensure accurate tracking of loan servicing progress and adjustments. The API supports enhanced decision-making and operational efficiency within banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/loan-syndication/{param1}": {
      "get": {
        "tags": [
          "Loan Syndication"
        ],
        "summary": "Retrieve loan syndication details by ID.",
        "description": "This endpoint allows users to fetch detailed information about a specific loan syndication identified by its unique ID. It provides all relevant data associated with the loan syndication for review or further processing.",
        "operationId": "getServicingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving information regarding loan syndication for a specific loan identified by LOAN-500045. This should be formatted as JSON and must adhere to the specified schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan syndication details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the Loan Syndication operation with the specified loan ID. The request body is expected to be a JSON string.",
        "example": "{}"
      },
      "GetServicingByParam1Response_200": {
        "title": "Loan Syndication Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-513431"
          },
          "caseId": {
            "type": "string",
            "description": "Identifier for the case associated with the loan request.",
            "example": "CASE-839290"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the request originated.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on loan syndication service.",
        "example": {
          "customerId": "CUST-513431",
          "caseId": "CASE-839290",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1327b2fe-addf-52ef-babb-ad11c9b7c12a",
            "correlationId": "c3dacee9-a2f2-5724-8f83-73f24305f819",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-56789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the loan syndication response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This helps in tracing specific requests for debugging or monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-syndication-get-loan-syndication"
        },
        "example": "loan-syndication-get-loan-syndication"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, which may assist in identifying the service environment and associated runtime metrics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format based on JSON Web Tokens (JWT) for authentication. Clients must include the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}