{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bill Pay Switches API",
    "description": "The Bill Pay Switches API allows businesses to manage bill payment options for their customers efficiently. This endpoint retrieves the current settings for bill pay switches associated with a specific customer. Common use cases include updating customer preferences or integrating with financial management tools to provide real-time payment processing capabilities. Developers can leverage this API to enhance customer experience by offering tailored bill payment options based on their individual settings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/bill-pay-switches": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Bill Pay Switches for a Customer",
        "description": "This endpoint allows you to fetch the current state of bill pay switches for a specific customer identified by CUST-100045. It provides information on whether bill pay features are enabled or disabled for the customer.",
        "operationId": "getBillPaySwitchesForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the bill pay switches for the specified customer ID (CUST-100045). It enables clients to access the necessary settings and configurations related to the bill pay functionality.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBillPaySwitchesForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved bill pay switches for the specified customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillPaySwitchesForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBillPaySwitchesForCustomerRequest": {
        "type": "string",
        "description": "This schema represents the payload for the bill pay switches request for a specific customer.",
        "example": "{}"
      },
      "GetBillPaySwitchesForCustomerResponse_200": {
        "title": "Customer Bill Pay Switches Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-283337"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "switches": {
            "type": "array",
            "description": "List of switches associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "status": "ACTIVE",
                "failureReason": "STANDARD",
                "createdDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Switch"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the bill pay switches operation for a customer.",
        "example": {
          "customerId": "CUST-283337",
          "customerType": "STANDARD",
          "switches": [
            {
              "id": "STANDARD",
              "status": "ACTIVE",
              "failureReason": "STANDARD",
              "createdDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "35a81f3a-af56-5433-8d02-e2a5b7574119",
            "correlationId": "47df3abb-caf8-5ad9-8bb9-290630d16fdd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Switch": {
        "title": "Switch",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the switch.",
            "example": "SWITCH-1"
          },
          "status": {
            "type": "string",
            "description": "Current status of the switch (e.g., active, inactive).",
            "example": "active"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for any failure associated with the switch.",
            "example": "No funds available"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the switch was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing an individual switch associated with a customer."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed in the billing pay switches operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-pay-switches"
        },
        "example": "open-finance-api-get-all-pay-switches"
      },
      "X-Runtime-App": {
        "description": "The identifier for the application that is processing the request during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for secured API access. The token should be included in the `Authorization` header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}