{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Information API",
    "description": "The Product Information API allows users to access detailed information about specific financial products linked to customer accounts. By replacing `{accountId}` with a valid customer identifier, stakeholders can retrieve essential product details including features, terms, and associated costs. This API is primarily used by financial institutions and application developers to enhance customer engagement and ensure compliance with open banking regulations. Use cases include displaying product specifics in banking applications or comparing offerings for decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/product": {
      "get": {
        "tags": [
          "Account Information"
        ],
        "summary": "Retrieve product information for a specific account",
        "description": "This endpoint allows you to fetch detailed product information associated with a specific AISP account. You can use this information to understand the various product offerings linked to the account.",
        "operationId": "getProductForAccountAISP_200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving product information associated with the specified account. This body allows you to request the details of the product linked to the account identified by ACC-200045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductForAccountAISP_200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product details for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductForAccountAISP_200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductForAccountAISP_200045Request": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on the specified product account.",
        "example": "{}"
      },
      "GetProductForAccountAISP_200045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Product": {
                "type": "array",
                "description": "List of products associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/ProductDetails"
                }
              }
            },
            "description": "Contains information regarding the product associated with the account.",
            "example": {
              "Product": [
                {
                  "name": "Northstar Banking Service",
                  "id": "STANDARD",
                  "AccountId": "ACC-762879",
                  "SecondaryProductId": "PROD-761452",
                  "type": "STANDARD",
                  "MarketingStateId": "STANDARD",
                  "OtherProductType": {
                    "Name": "Northstar Banking Service",
                    "Description": "Customer banking request processed successfully",
                    "ProductDetails": {
                      "Segment": [
                        "STANDARD"
                      ],
                      "FeeFreeLength": 1,
                      "FeeFreeLengthPeriod": "STANDARD",
                      "MonthlyMaximumCharge": "STANDARD",
                      "Notes": [
                        "STANDARD"
                      ],
                      "OtherSegment": {
                        "Code": "SUCCESS",
                        "Name": "Northstar Banking Service",
                        "Description": "Customer banking request processed successfully"
                      }
                    },
                    "CreditInterest": {
                      "TierBandSet": [
                        {
                          "TierBandMethod": "STANDARD",
                          "CalculationMethod": "STANDARD",
                          "Destination": "STANDARD",
                          "Notes": [
                            "STANDARD"
                          ],
                          "OtherCalculationMethod": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "OtherDestination": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "TierBand": [
                            {
                              "Identification": "STANDARD",
                              "TierValueMinimum": "STANDARD",
                              "TierValueMaximum": "STANDARD",
                              "CalculationFrequency": "STANDARD",
                              "ApplicationFrequency": "STANDARD",
                              "DepositInterestAppliedCoverage": "STANDARD",
                              "FixedVariableInterestRateType": "STANDARD",
                              "AER": "STANDARD",
                              "BankInterestRateType": "STANDARD"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving account product details.",
        "example": {
          "Data": {
            "Product": [
              {
                "name": "Northstar Banking Service",
                "id": "STANDARD",
                "AccountId": "ACC-762879",
                "SecondaryProductId": "PROD-761452",
                "type": "STANDARD",
                "MarketingStateId": "STANDARD",
                "OtherProductType": {
                  "Name": "Northstar Banking Service",
                  "Description": "Customer banking request processed successfully",
                  "ProductDetails": {
                    "Segment": [
                      "STANDARD"
                    ],
                    "FeeFreeLength": 1,
                    "FeeFreeLengthPeriod": "STANDARD",
                    "MonthlyMaximumCharge": "STANDARD",
                    "Notes": [
                      "STANDARD"
                    ],
                    "OtherSegment": {
                      "Code": "SUCCESS",
                      "Name": "Northstar Banking Service",
                      "Description": "Customer banking request processed successfully"
                    }
                  },
                  "CreditInterest": {
                    "TierBandSet": [
                      {
                        "TierBandMethod": "STANDARD",
                        "CalculationMethod": "STANDARD",
                        "Destination": "STANDARD",
                        "Notes": [
                          "STANDARD"
                        ],
                        "OtherCalculationMethod": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "OtherDestination": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "TierBand": [
                          {
                            "Identification": "STANDARD",
                            "TierValueMinimum": "STANDARD",
                            "TierValueMaximum": "STANDARD",
                            "CalculationFrequency": "STANDARD",
                            "ApplicationFrequency": "STANDARD",
                            "DepositInterestAppliedCoverage": "STANDARD",
                            "FixedVariableInterestRateType": "STANDARD",
                            "AER": "STANDARD",
                            "BankInterestRateType": "STANDARD"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "4b42ce10-d693-5187-908e-b6797069e55a",
            "correlationId": "f08d19f3-d3fc-52dd-b693-760678fb1618",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the product."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the product."
          },
          "AccountId": {
            "type": "string",
            "description": "The unique identifier for the associated account."
          },
          "SecondaryProductId": {
            "type": "string",
            "description": "An identifier for a secondary product, if applicable."
          },
          "type": {
            "type": "string",
            "description": "The type of product."
          },
          "MarketingStateId": {
            "type": "string",
            "description": "Identifier for the marketing state of the product."
          },
          "OtherProductType": {
            "$ref": "#/components/schemas/OtherProductTypeDetails"
          }
        },
        "description": "Details about a specific product."
      },
      "OtherProductTypeDetails": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "The name of the other product type."
          },
          "Description": {
            "type": "string",
            "description": "Description of the other product type."
          },
          "ProductDetails": {
            "$ref": "#/components/schemas/ProductTypeDetails"
          }
        },
        "description": "Additional information about other product types."
      },
      "ProductTypeDetails": {
        "type": "object",
        "properties": {
          "Segment": {
            "type": "array",
            "description": "List of segments associated with the product.",
            "items": {
              "type": "string"
            }
          },
          "FeeFreeLength": {
            "type": "integer",
            "description": "Number of months in which there are no fees.",
            "format": "int32"
          },
          "FeeFreeLengthPeriod": {
            "type": "string",
            "description": "The period applicable for fee-free length."
          },
          "MonthlyMaximumCharge": {
            "type": "string",
            "description": "The maximum charge allowed per month."
          },
          "Notes": {
            "type": "array",
            "description": "Additional notes related to the product.",
            "items": {
              "type": "string"
            }
          },
          "OtherSegment": {
            "$ref": "#/components/schemas/OtherSegmentDetails"
          }
        },
        "description": "Details of the specific product type including fees and segments."
      },
      "OtherSegmentDetails": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code representing the other segment."
          },
          "Name": {
            "type": "string",
            "description": "The name of the other segment."
          },
          "Description": {
            "type": "string",
            "description": "Description of the other segment."
          }
        },
        "description": "Details about other segments related to the product."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This ID can be used for logging and tracking purposes in analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-product"
        },
        "example": "accounts-api-get-accounts-account-id-product"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime that processed the request. Useful for debugging and determining the source of the service response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}