{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aisp Offers-spec",
    "description": "The AISP Offers Retrieval API enables consumers to access a curated list of financial offers available through Account Information Service Providers (AISPs). This endpoint allows integration with financial services applications, facilitating comparisons and selections of various offers tailored to users' financial needs. Typical consumers include mobile banking applications and financial advisory tools that aim to provide users with insights on available financial products. By utilizing this API, organizations can enhance user experience by delivering real-time, relevant financial options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/offers": {
      "get": {
        "tags": [
          "AISP Offers"
        ],
        "summary": "Retrieve available AISP offers",
        "description": "Fetches a list of current offers available through the Account Information Service Provider (AISP). This endpoint allows clients to access offer details, including pricing and availability, facilitating better decision-making for end users.",
        "operationId": "listAispOffers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving offers from the AISP. This body may contain parameters that specify the type of offers requested or filter criteria. Ensure that the request complies with the expected JSON structure as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAispOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of available offers.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAispOffersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAispOffersRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to AISP offers.",
        "example": "{}"
      },
      "ListAispOffersResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Offer": {
                "type": "array",
                "description": "A list of offers available to the user.",
                "items": {
                  "$ref": "#/components/schemas/Offer"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Holds the main data regarding offers.",
            "example": {
              "Offer": [
                {
                  "AccountId": "ACC-877802",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Description": "Customer banking request processed successfully",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "Rate": "STANDARD",
                  "Value": 1,
                  "Term": "STANDARD",
                  "URL": "https://banking.northstar.example/callbacks/status",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "Fee": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the GET offers operation, containing details about the offers available.",
        "example": {
          "Data": {
            "Offer": [
              {
                "AccountId": "ACC-877802",
                "id": "STANDARD",
                "type": "STANDARD",
                "Description": "Customer banking request processed successfully",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "Rate": "STANDARD",
                "Value": 1,
                "Term": "STANDARD",
                "URL": "https://banking.northstar.example/callbacks/status",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "Fee": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "f8721a3a-e35c-5b91-b5dd-58f00796f464",
            "correlationId": "aa493222-85ee-5ec0-b45a-b8002faebb9e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the offer."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the offer."
          },
          "type": {
            "type": "string",
            "description": "The type of the offer."
          },
          "Description": {
            "type": "string",
            "description": "A textual description of the offer."
          },
          "StartDateTime": {
            "type": "string",
            "description": "The start date and time of the offer."
          },
          "EndDateTime": {
            "type": "string",
            "description": "The end date and time of the offer."
          },
          "Rate": {
            "type": "string",
            "description": "The rate applicable for the offer."
          },
          "Value": {
            "type": "integer",
            "description": "The value of the offer.",
            "format": "int32"
          },
          "Term": {
            "type": "string",
            "description": "The term length of the offer."
          },
          "URL": {
            "type": "string",
            "description": "The URL for more information about the offer."
          },
          "Amount": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "Fee": {
            "$ref": "#/components/schemas/CurrencyAmount"
          }
        },
        "description": "Represents an individual offer with its details."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page of offers."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of offers."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of offers."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of offers."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of offers."
          }
        },
        "description": "Holds the navigation links for the offers pagination."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available for the offers.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for offers."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for offers."
          }
        },
        "description": "Metadata regarding the offers response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Contains metadata about the response."
      },
      "CurrencyAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount."
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed."
          }
        },
        "description": "Represents an amount with its currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-offers"
        },
        "example": "accounts-api-get-offers"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication, specifically with JSON Web Tokens (JWT). Clients must provide a valid token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}