{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Subscription Retrieval API",
    "description": "The Webhook Subscription Retrieval API allows users to access specific webhook subscription details using a unique identifier. This endpoint provides essential information regarding the particular webhook, including its status and event types it listens to. Typically used by developers integrating with the system to manage real-time notifications, this API enhances operational efficiency by enabling the retrieval of webhook configuration and status data. This is crucial for maintaining seamless communication between services and ensuring that notification logic aligns with business needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve Webhook Details",
        "description": "Fetches the details of a specific webhook identified by its unique ID. This operation allows you to review the configuration and status of the webhook, ensuring it meets your application needs.",
        "operationId": "getWebhookByIdRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/webhookId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the necessary information associated with the specified webhook resource. It requires the appropriate JSON structure defined in the schema to ensure successful data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWebhookByIdRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the webhook details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhookByIdRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWebhookByIdRes100045Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to webhooks.",
        "example": "{}"
      },
      "GetWebhookByIdRes100045Response_200": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "Unique identifier for the webhook subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "Endpoint URL for the webhook.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "List of webhook events associated with the subscription.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "Timestamp indicating when the webhook subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "Timestamp indicating the last time the webhook subscription was updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful webhook operation.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "a601b67e-271a-5af1-951f-b8235cafa2b0",
            "correlationId": "dcf5c39d-62c1-5100-90f4-b7d9e685ea48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "Unique identifier for the webhook event.",
            "example": "event_123456"
          },
          "name": {
            "type": "string",
            "description": "Name of the webhook event.",
            "example": "user.created"
          },
          "url": {
            "type": "string",
            "description": "URL associated with the webhook event.",
            "example": "https://example.com/event"
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook event.",
            "example": "pending"
          },
          "condition": {
            "$ref": "#/components/schemas/Condition"
          }
        },
        "description": "Schema representing individual webhook events."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "Type of events to subscribe for.",
            "example": "create"
          },
          "includes": {
            "type": "array",
            "description": "List of event types included in the condition.",
            "items": {
              "type": "string",
              "description": "Type of event to include.",
              "example": "user.created"
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of event types excluded from the condition.",
            "items": {
              "type": "string",
              "description": "Type of event to exclude.",
              "example": "user.deleted"
            }
          }
        },
        "description": "Conditions for which a webhook event may be triggered."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "res_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region from which the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata related to the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "webhookId": {
        "name": "webhookId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. This ID can be used to trace the request through logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-webhook-subscription-by-id"
        },
        "example": "open-finance-api-get-webhook-subscription-by-id"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request. This can be useful for differentiating between multiple services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "JWT Bearer Authentication schema. This method allows clients to authenticate by providing a JSON Web Token (JWT) in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}