{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Payment Management API",
    "description": "The Loan Payment Management API facilitates the process of updating payment details for existing loans. Consumers can modify specifics like payment amounts, schedules, or other relevant attributes. This API is particularly useful for financial institutions and loan servicers who need to manage customer loan payments efficiently. It helps in maintaining accurate loan payment records and enhancing customer service by allowing timely updates to payment information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a specific payment for a loan.",
        "description": "This operation allows you to update the details of a specific payment associated with a particular loan. You need to provide the necessary payment information to successfully modify it.",
        "operationId": "updateLoanPayment_LOAN-500045_PAY-300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating payment details for the specified loan and payment IDs. Ensure that all required fields are provided and valid.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanPayment_LOAN-500045_PAY-300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanPayment_LOAN-500045_PAY-300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanPayment_LOAN-500045_PAY-300045Request": {
        "title": "Payment Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be paid, including currency details.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment value is recognized.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An optional external reference for the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy for allocating the payment among installments.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of installment numbers that this payment applies to.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details for manually allocating the payment.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "Narrative or notes related to the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing a loan payment.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "0986fe7e-4467-56b2-b872-d1d503827016",
            "correlationId": "1e69156c-66d1-5718-a112-fd4a9eaa1bb6",
            "idempotencyKey": "e456c66b-3efd-55fe-8a02-8e50422e392a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-818605"
            }
          }
        }
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the payment amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual amount to be paid.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount of the payment including currency."
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocation details for the principal amount.",
            "$ref": "#/components/schemas/AllocationDetail"
          },
          "interest": {
            "description": "Allocation details for the interest amount.",
            "$ref": "#/components/schemas/AllocationDetail"
          },
          "fees": {
            "description": "Allocation details for fees.",
            "$ref": "#/components/schemas/AllocationDetail"
          },
          "penalties": {
            "description": "Allocation details for penalties.",
            "$ref": "#/components/schemas/AllocationDetail"
          },
          "excess": {
            "description": "Allocation details for any excess payment.",
            "$ref": "#/components/schemas/AllocationDetail"
          }
        },
        "description": "Schema representing the manual allocation of payment among components like principal, interest, and fees."
      },
      "AllocationDetail": {
        "title": "Allocation Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the allocated amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount allocated.",
            "example": "50.00"
          }
        },
        "description": "Schema representing the amount allocated for a specific purpose."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idemp-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-05T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "core-banking"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information regarding the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel being used (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-abc123"
          }
        },
        "description": "Schema representing the channel information used for the request."
      },
      "UpdateLoanPayment_LOAN-500045_PAY-300045Response_200": {
        "title": "Payment Response Schema",
        "type": "object",
        "properties": {
          "amount": {
            "description": "Details of the payment amount including currency and amount.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date value for the payment.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment.",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is sourced.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "A reference number for external tracking.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of target installment numbers that the payment is allocated to.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details about manual allocation of payment.",
            "$ref": "#/components/schemas/ManualAllocationDetails"
          },
          "narrative": {
            "type": "string",
            "description": "Narrative or remarks related to the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "492e2e6f-1d9c-6012-a608-83a8029ecd7f"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The unique number assigned to this payment.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details of how the payment has been allocated.",
            "$ref": "#/components/schemas/AllocationDetails"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference number for the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The timestamp when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for payment operations.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "492e2e6f-1d9c-6012-a608-83a8029ecd7f",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cb02fa78-1f9c-50db-8559-984942482367",
            "correlationId": "1e69156c-66d1-5718-a112-fd4a9eaa1bb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency type of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount to be paid.",
            "example": "100.00"
          }
        },
        "description": "Details of the payment amount including currency and amount."
      },
      "ManualAllocationDetails": {
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocation amount towards principal.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "interest": {
            "description": "Allocation amount towards interest.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "description": "Allocation amount towards fees.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "penalties": {
            "description": "Allocation amount towards penalties.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "excess": {
            "description": "Allocation amount for excess payment.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details for manual allocation of payment."
      },
      "AllocationDetails": {
        "type": "object",
        "properties": {
          "principal": {
            "description": "Allocated amount for the principal.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "interest": {
            "description": "Allocated amount for interest.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "description": "Allocated amount for fees.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "penalties": {
            "description": "Allocated amount for penalties.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "excess": {
            "description": "Allocated amount for excess.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details of how the payment has been allocated."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating requests.",
            "example": "CORR-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-12-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Additional data related to the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request, useful for tracking and tracing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-payment"
        },
        "example": "banking-loans-openapi-replace-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, helping to identify the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests. This token should be securely generated and should contain the necessary claims for authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}