{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get External Agency By Param1-spec",
    "description": "This API enables users to retrieve detailed information about external agencies based on a unique identifier (param1). It supports use cases such as querying agency data for financial verification, regulatory compliance, and partnership evaluation. Typical consumers include banking and finance institutions, compliance officers, and integration systems requiring access to vetted agency information. Utilizing this API streamlines the process of agency identification and enhances operational efficiencies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/syndicate-management/{param1}": {
      "get": {
        "tags": [
          "Syndicate Management"
        ],
        "summary": "Retrieve syndicate management details",
        "description": "Fetches the detailed information of the syndicate management for the specified resource ID. This endpoint provides essential data needed for understanding the status and attributes of the syndicate management.",
        "operationId": "getExternalAgencyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to syndicate management for a specific resource identified by RES-100045. Ensure that the request adheres to the specified schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalAgencyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of syndicate management details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalAgencyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetExternalAgencyByParam1Request": {
        "type": "string",
        "description": "A string representation of the request body used for the GET operation in the Syndicate Management API for external agencies.",
        "example": "{}"
      },
      "GetExternalAgencyByParam1Response_200": {
        "title": "Syndicate Management Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement associated with the syndicate.",
            "example": "AGR-149152"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 format code representing the country of the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the agreement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the GET operation in the Syndicate Management API.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-149152",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "28dc3638-e91e-563d-a21c-31e2ddea708b",
            "correlationId": "ad1607a7-63ba-575c-856f-9f81d914f203",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the correlation between requests and responses.",
            "example": "correlation_101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "NA"
          }
        },
        "description": "This schema represents the metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being accessed. This value helps in tracking and tracing specific requests to the correct endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicate-management-get-syndicate-management"
        },
        "example": "syndicate-management-get-syndicate-management"
      },
      "X-Runtime-App": {
        "description": "Indicates the application version that processed the request. This information is crucial for debugging and audit purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a token is passed in the Authorization header. The token must be a valid JSON Web Token (JWT) that grants access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}