{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Human Resource Management Human Resources Direction By Human Resources Direction Id-v5-spec",
    "description": "This API facilitates the management of Human Resources Directions within the Banking domain. It allows for updates to existing Human Resources Direction records identified by their unique IDs. Typical consumers include HR professionals and banking system integrators who require seamless updates to human resources data. This ensures that organizations maintain accurate and timely employee direction information to support effective human resource management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/human-resources-direction/{humanResourcesDirectionId}": {
      "patch": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Update Human Resources Direction Details",
        "description": "This operation allows you to update the details of a specific Human Resources Direction identified by the resource ID. Ensure that you provide the necessary fields that need to be updated in the request body.",
        "operationId": "updateBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/humanResourcesDirectionId"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to update specific attributes of a human resource record identified by RES-100045. It allows clients to send only the fields that need to be modified, thereby streamlining the update process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The resource was updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being requested for the employee.",
            "$ref": "#/components/schemas/ChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the change should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating operations in human resource management.",
        "example": {
          "changes": {
            "employeeId": "EMP-616430",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "32912af6-7b0a-5986-b67a-a9f3a40a7733",
            "correlationId": "66a36e64-62f7-5ad1-917e-961fa09af628",
            "idempotencyKey": "53d7a164-5888-5532-ba37-4595c71197ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-217734"
            }
          }
        }
      },
      "ChangeDetails": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier of the employee whose details are being changed.",
            "example": "emp-789"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier of the assignment related to the employee.",
            "example": "assign-456"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier of the department associated with the change.",
            "example": "dept-123"
          }
        },
        "description": "Schema detailing the specific changes requested for an employee."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system generating the request.",
            "example": "HRSystemV2"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application generating the request.",
            "example": "HRApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-007"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device from which the request originated.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "UpdateBankingHumanResourceManagementHumanResourcesDirectionByHumanResourcesDirectionIdResponse_200": {
        "title": "Operations Response Schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata containing additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Operations PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8bfc8119-a818-55bc-a3dd-58bc47045832",
            "correlationId": "66a36e64-62f7-5ad1-917e-961fa09af628",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "humanResourcesDirectionId": {
        "name": "humanResourcesDirectionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking operations in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "human-resources-direction-update-human-resources-direction"
        },
        "example": "human-resources-direction-update-human-resources-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, helping to identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically employing JSON Web Tokens (JWT). This method allows secure transmission of information between parties as a JSON object, ensuring integrity and authenticity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}