{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Development Environment Management API",
    "description": "The Development Environment Management API enables users to access and manage development environments associated with IT management in the banking sector. This endpoint allows consumers to retrieve configurations and settings of a specified development environment using the unique identifier provided in the request. Typical use cases include developers and IT managers seeking to monitor or adjust parameters for application testing and deployment. The API ensures that stakeholders can efficiently assess and optimize their development setups.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/development-environment/{param1}": {
      "get": {
        "tags": [
          "Development Environment Management"
        ],
        "summary": "Retrieve development environment details",
        "description": "Fetches the details of a specific development environment identified by the resource ID. This endpoint allows developers to obtain configuration and status information necessary for management and troubleshooting.",
        "operationId": "getDevelopmentEnvironmentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching details about the development environment associated with the specified resource ID. This request expects a payload in JSON format that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDevelopmentEnvironmentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDevelopmentEnvironmentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDevelopmentEnvironmentByIdRequest": {
        "type": "string",
        "description": "This schema represents the body of a request in JSON format for the specific operation in the IT Management Development Environment.",
        "example": "{}"
      },
      "GetDevelopmentEnvironmentByIdResponse_200": {
        "title": "Development Environment Response",
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "The unique identifier for the development environment.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application associated with the environment.",
            "example": "APP-905090"
          },
          "runtime": {
            "type": "string",
            "description": "The runtime environment being used.",
            "example": "STANDARD"
          },
          "region": {
            "type": "string",
            "description": "The region where the development environment is hosted.",
            "example": "New York"
          },
          "dataClassification": {
            "type": "string",
            "description": "The classification of data processed in the environment.",
            "example": "STANDARD"
          },
          "expiresAt": {
            "type": "string",
            "description": "The expiration date of the development environment, if applicable.",
            "example": "2026-08-11T12:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating if it is active or archived.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the development environment.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update made to the environment.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "resp-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation ID for tracking the request.",
                "example": "corr-789012"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the response was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata associated with the response.",
            "example": {
              "responseId": "b835ebf4-093d-5fdb-aa8d-738f7fbfb2d1",
              "correlationId": "fb11defa-3e9e-577c-aa43-2eb52a9be7c9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the operations related to a development environment.",
        "example": {
          "environmentId": "STANDARD",
          "applicationId": "APP-905090",
          "runtime": "STANDARD",
          "region": "New York",
          "dataClassification": "STANDARD",
          "expiresAt": "2026-08-11T12:00:00Z",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b835ebf4-093d-5fdb-aa8d-738f7fbfb2d1",
            "correlationId": "fb11defa-3e9e-577c-aa43-2eb52a9be7c9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "development-environment-get-development-environment"
        },
        "example": "development-environment-get-development-environment"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token, typically a JSON Web Token (JWT), which is used to authenticate requests by passing the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}