{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management System Developments-spec",
    "description": "This API facilitates access to key developments within the IT Management System. Users can retrieve detailed information about various system enhancements, improvements, and projects in progress. Typically utilized by IT professionals and project managers, the endpoint supports use cases such as tracking project statuses, assessing system upgrades, and gathering insights for informed decision-making. The information extracted from this API is essential for maintaining oversight and ensuring the alignment of IT initiatives with business objectives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-development": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve system development details",
        "description": "This endpoint allows you to fetch details about system development within IT management, providing insights into ongoing projects, statuses, and key resources involved.",
        "operationId": "listItManagementSystemDevelopments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to system development in IT management. It includes parameters that define the specifics of the retrieve operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementSystemDevelopmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementSystemDevelopmentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementSystemDevelopmentsRequest": {
        "type": "string",
        "description": "A string representing the body of the request for the system development operations.",
        "example": "{}"
      },
      "ListItManagementSystemDevelopmentsResponse_200": {
        "title": "System Development Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of system development operations.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemDevelopmentOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving system development operations.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4c07c8c1-68d3-57fb-9f0c-fad94ac83962",
            "correlationId": "a376537e-72c5-5603-ae4c-952fd93cee7b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemDevelopmentOperation": {
        "title": "System Development Operation",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier of the system.",
            "example": "System-123"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the operation is applicable.",
            "example": "Production"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with this operation.",
            "example": "Change-456"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for this operation.",
            "example": "Development Team"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for this operation.",
            "example": "2023-10-01T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier associated with the operation.",
            "example": "Gold"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system.",
            "example": 99.9
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The maintenance window scheduled for this operation.",
            "example": "Sunday 01:00 - 03:00"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the operation record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents the details of a specific system development operation."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Represents pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "Response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace the request through various services.",
            "example": "Correlation-101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-development-search-system-development"
        },
        "example": "system-development-search-system-development"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, specifically designed for JSON Web Tokens (JWT). Clients must provide a valid JWT in the `Authorization` header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}