{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Data Information Provider Status API",
    "description": "The Market Data Information Provider Status API offers real-time insights into the operational status of the various information providers within the banking ecosystem. By querying this API, clients can monitor and verify the availability and health of different market data feeds, ensuring seamless integration into financial applications. Typical consumers include traders, risk management teams, and financial analysts seeking reliable and up-to-date market information. This API is crucial for maintaining operational transparency and supporting decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/information-provider-operation/status": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve the status of the information provider operation.",
        "description": "This endpoint allows users to fetch the current status of the information provider operation, providing insights into its operational state and functionality.",
        "operationId": "getMarketDataInformationProviderOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of the information provider operation. Ensure that the request is properly formatted according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataInformationProviderOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the current status of the information provider operation is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataInformationProviderOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataInformationProviderOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the 'GET' operation related to the status of information provider. It is intended to receive a string that could represent various types of market data.",
        "example": "{}"
      },
      "GetMarketDataInformationProviderOperationStatusResponse_200": {
        "title": "Market Data Information Provider Operation Status Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number associated with the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The identifier for the market where the instrument is traded.",
            "example": "CODE-688"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time at which the data is relevant.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data was obtained.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the data record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the data.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update made to the data.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the market data information provider operation status GET request.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-688",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6cef1ad0-4bf2-5a4a-8793-3bb22798ab1f",
            "correlationId": "3f8c2cb7-b9f4-5ce2-81e3-82bd6e68020c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the original request.",
            "example": "67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the data processing took place.",
            "example": "US"
          }
        },
        "description": "This schema represents additional metadata information associated with the market data response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "information-provider-operation-get-information-provider-operation"
        },
        "example": "information-provider-operation-get-information-provider-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method where a valid JSON Web Token (JWT) is provided in the authorization header to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}