{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Deposit Lending Term Deposit-spec",
    "description": "The Term Deposit Creation API facilitates the initiation of term deposit accounts within the banking ecosystem. This endpoint allows users to submit details for new term deposits, including the amount, duration, and interest rate preferences. Typically utilized by banking staff and financial institutions, this API streamlines the process of setting up term deposits, enhancing customer services and operational efficiency. By automating the creation process, businesses can improve response times and reduce manual errors in account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://accounts-deposits-app:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a new term deposit",
        "description": "This endpoint allows users to create a new term deposit by providing the necessary deposit details. Ensure that all required fields are filled correctly to successfully create the deposit.",
        "operationId": "createDepositLendingTermDeposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a term deposit operation. This operation allows the creation of a new term deposit account with specified parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositLendingTermDepositRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Term deposit successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingTermDepositResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositLendingTermDepositRequest": {
        "title": "Term Deposit Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-936599"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer's account.",
            "example": "ACC-517447"
          },
          "productCode": {
            "type": "string",
            "description": "The code that identifies the deposit product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount details of the deposit.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term length in months for the deposit.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the deposit.",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The amount that will be deposited.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "tenorDays": {
            "type": "integer",
            "description": "The tenor length in days for the deposit.",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions for maturity of the deposit.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Information about the context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a term deposit request.",
        "example": {
          "customerId": "CUST-936599",
          "accountId": "ACC-517447",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "requestContext": {
            "requestId": "537dbc08-ecd4-5aa1-bd26-3ff813e85e46",
            "correlationId": "a9eeba2b-7b5f-5c89-bb53-35aaba5e9985",
            "idempotencyKey": "be6de7ec-ed6d-577e-abfe-6d0faafa39d1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-444243"
            }
          }
        }
      },
      "AmountDetails": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing an amount with its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details of the channel used for making the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Schema representing details of the channel used in the request."
      },
      "CreateDepositLendingTermDepositResponse_201": {
        "title": "Term Deposit Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-448718"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the term deposit.",
            "example": "ACC-419057"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the term deposit product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource created.",
            "example": "RES-268650"
          },
          "status": {
            "type": "string",
            "description": "Current status of the term deposit.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the term deposit was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the term deposit creation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for creating a term deposit operation.",
        "example": {
          "customerId": "CUST-448718",
          "accountId": "ACC-419057",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-268650",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c44f4518-b63e-5042-ad33-85db4dace5fe",
            "correlationId": "a9eeba2b-7b5f-5c89-bb53-35aaba5e9985",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata for the term deposit operation response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dd33c82e-be98-472b-a574-f53d1ded0f78"
        },
        "example": "dd33c82e-be98-472b-a574-f53d1ded0f78"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a0240afa-c495-4f1d-9a0d-52a4cbf5849e"
        },
        "example": "a0240afa-c495-4f1d-9a0d-52a4cbf5849e"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-create-term-deposit"
        },
        "example": "term-deposit-create-term-deposit"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "X-Workflow-Name": {
        "description": "The name assigned to the workflow that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Term Deposit Opening and Maturity Instruction"
        },
        "example": "Term Deposit Opening and Maturity Instruction"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating progress or completion.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a0240afa-c495-4f1d-9a0d-52a4cbf5849e"
        },
        "example": "a0240afa-c495-4f1d-9a0d-52a4cbf5849e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme utilizes a JSON Web Token (JWT) for secure access. Clients must include the token in the Authorization header as a Bearer token to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}