{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Archiving API",
    "description": "The Document Archiving API enables businesses to efficiently archive banking documents for long-term storage and compliance. This service facilitates the secure submission of documents to be archived, ensuring they are properly preserved and retrievable. Common use cases include financial institutions needing to maintain regulatory compliance or organizations managing large volumes of data. By utilizing this API, developers can integrate essential archiving functionalities into their applications seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/archive-services": {
      "post": {
        "tags": [
          "Document Management"
        ],
        "summary": "Archive documents through the service.",
        "description": "This endpoint allows users to archive documents using the specified service. It is designed to handle document archival efficiently, ensuring that all necessary information is securely stored.",
        "operationId": "archiveDocumentService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a request for document archive services. It should include all necessary details required for the archival process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveDocumentServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the archive services.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArchiveDocumentServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ArchiveDocumentServiceRequest": {
        "title": "Document Archive Post Request Body",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "DOC-811593"
          },
          "documentType": {
            "type": "string",
            "description": "The type of the document.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class assigned to the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "The identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA256 checksum for validating the integrity of the document.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for archiving a document through the archive services POST operation.",
        "example": {
          "documentId": "DOC-811593",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "requestContext": {
            "requestId": "d4027e62-b6ec-5601-94fd-5b978fe11a46",
            "correlationId": "c706bb64-481f-58e8-9b9e-36705580ae93",
            "idempotencyKey": "4098277b-9ac2-58a7-bd2f-6757430f8ca2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-623373"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr_abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency_abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system generating this request.",
            "example": "DocumentManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "DocumentUploader"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for making the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device_abc"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "ArchiveDocumentServiceResponse_201": {
        "title": "Document Archive Service Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-155480"
          },
          "ownerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the document.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the document.",
            "example": "RES-551427"
          },
          "status": {
            "type": "string",
            "description": "Current status of the document archive operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the document was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the document archive operation.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Response object for the document archive service containing details about the archived document.",
        "example": {
          "documentId": "DOC-155480",
          "ownerId": "STANDARD",
          "resourceId": "RES-551427",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fe8b98d3-6d48-5880-afd4-0ea1fdc3ff2e",
            "correlationId": "c706bb64-481f-58e8-9b9e-36705580ae93",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-12T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information related to the document archive operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4e95b499-41a8-4d73-a588-db4619d27712"
        },
        "example": "4e95b499-41a8-4d73-a588-db4619d27712"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "async-finalization"
        },
        "example": "async-finalization"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, which helps in tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "archive-services-create-archive-services"
        },
        "example": "archive-services-create-archive-services"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that is executing the current runtime operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier representing the specific workflow instance being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "X-Workflow-Name": {
        "description": "This header specifies the name of the workflow being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "X-Workflow-State": {
        "description": "Indicates the current state of the workflow process, such as running, completed, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "COMPLETED"
        },
        "example": "COMPLETED"
      },
      "X-Workflow-Execution-Id": {
        "description": "This header contains the unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
        },
        "example": "0ea36a13-417d-4863-a1ca-4af0ee95a823"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, where a valid JSON Web Token (JWT) must be provided in the Authorization header. Clients must obtain the JWT from a secure authentication service.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}