{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Statements Retrieval API",
    "description": "The Account Statements Retrieval API enables users to access specific financial statements associated with a designated bank account. By utilizing this endpoint, consumers can retrieve detailed transaction records, facilitating transparency and informed financial decision-making. This API is particularly beneficial for financial institutions and third-party applications that require access to users' financial data as part of open banking services. It ensures compliance with banking regulations while enhancing user experience through easy access to their financial information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements/{statementId}": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve account statements for a specific account.",
        "description": "This endpoint allows users to fetch the account statements for the specified account identified by its unique account number. It provides detailed transaction history and other relevant information within the given timeframe.",
        "operationId": "getAccountStatementsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/statementId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving statements for a specific account. This may include details for filtering or formatting the returned data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountStatementsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of account statements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountStatementsForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountStatementsForAccountRequest": {
        "type": "string",
        "description": "The request body for the GET operation on statements for the specified account. It contains a string representation of the request data.",
        "example": "{}"
      },
      "GetAccountStatementsForAccountResponse_200": {
        "title": "Account Statements Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Statement": {
                "type": "array",
                "description": "List of account statements.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/AccountStatement"
                }
              }
            },
            "description": "Container for the account statements data.",
            "example": {
              "Statement": [
                {
                  "AccountId": "ACC-126158",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "Type": "STANDARD",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "CreationDateTime": "2026-09-15T14:30:00Z",
                  "description": [
                    "Customer banking request processed successfully"
                  ],
                  "benefit": [
                    {
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "fee": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "interest": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "amount": [
                    {
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      },
                      "LocalAmount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "corr-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-10-05T10:20:30Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "EU"
              }
            },
            "description": "Metadata related to the response, such as identifiers and timestamps.",
            "example": {
              "responseId": "0c66d769-2c7f-54a7-a86e-914c65e80d77",
              "correlationId": "2c51fada-c3c3-574a-b2c5-633dd9cfb577",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for account statements retrieval. Contains data about the fetched statements, including associated metadata.",
        "example": {
          "Data": {
            "Statement": [
              {
                "AccountId": "ACC-126158",
                "id": "STANDARD",
                "reference": "STANDARD",
                "Type": "STANDARD",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "CreationDateTime": "2026-09-15T14:30:00Z",
                "description": [
                  "Customer banking request processed successfully"
                ],
                "benefit": [
                  {
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "fee": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "interest": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "amount": [
                  {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    },
                    "LocalAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "0c66d769-2c7f-54a7-a86e-914c65e80d77",
            "correlationId": "2c51fada-c3c3-574a-b2c5-633dd9cfb577",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountStatement": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The identifier of the account associated with the statement.",
            "example": "acc-200045"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the statement.",
            "example": "stmt-100045"
          },
          "reference": {
            "type": "string",
            "description": "Reference code for the statement.",
            "example": "ref-12345"
          },
          "Type": {
            "type": "string",
            "description": "Type of the statement.",
            "example": "credit"
          },
          "StartDateTime": {
            "type": "string",
            "description": "Start date and time of the statement period.",
            "example": "2023-01-01T00:00:00Z"
          },
          "EndDateTime": {
            "type": "string",
            "description": "End date and time of the statement period.",
            "example": "2023-01-31T23:59:59Z"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the statement was created.",
            "example": "2023-02-01T12:00:00Z"
          },
          "description": {
            "type": "array",
            "description": "Array of descriptions related to the statement.",
            "items": {
              "type": "string",
              "example": "Monthly statement"
            }
          },
          "benefit": {
            "type": "array",
            "description": "Array of benefits associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Benefit"
            }
          },
          "fee": {
            "type": "array",
            "description": "Array of fees associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "interest": {
            "type": "array",
            "description": "Array of interests accrued from the statement.",
            "items": {
              "$ref": "#/components/schemas/Interest"
            }
          },
          "amount": {
            "type": "array",
            "description": "Array of amounts related to the statement.",
            "items": {
              "$ref": "#/components/schemas/AmountDetail"
            }
          }
        },
        "description": "Schema representing a single account statement entry."
      },
      "Benefit": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of the benefit.",
            "example": "cashback"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Total amount of the benefit.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the benefit is expressed.",
                "example": "USD"
              }
            },
            "description": "Details about the benefit amount."
          }
        },
        "description": "Schema representing a benefit associated with an account statement."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description of the fee.",
            "example": "Monthly maintenance fee"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator if the fee is a credit or debit.",
            "example": "debit"
          },
          "Type": {
            "type": "string",
            "description": "Type of the fee.",
            "example": "service"
          },
          "Rate": {
            "type": "number",
            "description": "Rate associated with the fee.",
            "example": 5.0
          },
          "RateType": {
            "type": "string",
            "description": "Type of the rate.",
            "example": "percentage"
          },
          "Frequency": {
            "type": "string",
            "description": "Frequency of the fee occurrence.",
            "example": "monthly"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Total amount of the fee.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the fee is expressed.",
                "example": "USD"
              }
            },
            "description": "Details about the fee amount."
          }
        },
        "description": "Schema representing a fee associated with an account statement."
      },
      "Interest": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "Description of the interest.",
            "example": "Annual interest"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator if the interest is a credit or debit.",
            "example": "credit"
          },
          "Type": {
            "type": "string",
            "description": "Type of the interest.",
            "example": "annual"
          },
          "Rate": {
            "type": "number",
            "description": "Rate of the interest.",
            "example": 3.5
          },
          "RateType": {
            "type": "string",
            "description": "Type of the rate.",
            "example": "percentage"
          },
          "Frequency": {
            "type": "string",
            "description": "Frequency of interest application.",
            "example": "monthly"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Total amount of the interest.",
                "example": "15.50"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the interest is expressed.",
                "example": "USD"
              }
            },
            "description": "Details about the interest amount."
          }
        },
        "description": "Schema representing interest charged or accrued on the account statement."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator if the amount is a credit or debit.",
            "example": "credit"
          },
          "Type": {
            "type": "string",
            "description": "Type of the amount.",
            "example": "payment"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Total amount.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the amount is expressed.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-type of the amount.",
                "example": "transfer"
              }
            },
            "description": "Details about the amount."
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Total local amount.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the local amount.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-type of the local amount.",
                "example": "transfer"
              }
            },
            "description": "Details about the local amount, if applicable."
          }
        },
        "description": "Schema representing an amount entry associated with the statement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "statementId": {
        "name": "statementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements-statement-id"
        },
        "example": "accounts-api-get-accounts-account-id-statements-statement-id"
      },
      "X-Runtime-App": {
        "description": "Indicates the application responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Utilizes JSON Web Tokens (JWT) for secure authentication, ensuring that the client can access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}