{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Marketing Customer Campaign Designs-spec",
    "description": "The Customer Campaign Design Retrieval API provides access to details of marketing customer campaign designs within the banking sector. This API allows users to retrieve a comprehensive list of existing campaign designs that can be utilized for targeted marketing efforts. It is particularly valuable for marketing teams and product managers seeking to analyze and implement effective customer engagement strategies. By leveraging this API, organizations can streamline their campaign design processes and improve customer outreach initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-campaign-design": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve customer campaign design details.",
        "description": "This endpoint allows you to retrieve the details of customer campaign designs, helping you understand the structure and elements used in your marketing campaigns.",
        "operationId": "listMarketingCustomerCampaignDesigns",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer campaign design information. This body must follow the specified schema and include all required properties to ensure a proper response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListMarketingCustomerCampaignDesignsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer campaign design data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListMarketingCustomerCampaignDesignsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListMarketingCustomerCampaignDesignsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Customer Campaign Design API under Marketing Services. It is a placeholder schema indicating that a string is expected as input.",
        "example": "{}"
      },
      "ListMarketingCustomerCampaignDesignsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of campaign design items.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "campaignObjective": "STANDARD",
                "controlGroupPercent": 1,
                "contactFrequencyCap": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CampaignDesignItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the GET operation for customer campaign design.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "campaignObjective": "STANDARD",
              "controlGroupPercent": 1,
              "contactFrequencyCap": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3cc3c7b1-5136-596d-9698-45022c7f6a7e",
            "correlationId": "083564f7-ac81-5704-990e-103e2d2b5f46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CampaignDesignItem": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "campaign-123"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier of the target segment for the campaign.",
            "example": "segment-456"
          },
          "channelMix": {
            "type": "array",
            "description": "List of communication channels to be used in the campaign.",
            "items": {
              "type": "string",
              "example": "email"
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO format.",
            "example": "2023-10-12"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO format.",
            "example": "2023-10-19"
          },
          "campaignObjective": {
            "type": "string",
            "description": "The objective of the campaign.",
            "example": "increase engagement"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group in the campaign.",
            "format": "int32",
            "example": 10
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Maximum number of contacts for each individual in the target segment.",
            "format": "int32",
            "example": 3
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the campaign record.",
            "example": "2023-10-12T12:00:00Z"
          }
        },
        "description": "Schema representing an individual campaign design item."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total budget amount allocated for the campaign.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details for a campaign."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items on each page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across systems.",
            "example": "correlation-101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-12T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-design-search-customer-campaign-design"
        },
        "example": "customer-campaign-design-search-customer-campaign-design"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) for authorization. Clients must include a valid JWT in the 'Authorization' header with the format 'Bearer {token}', where {token} is the JWT.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}