{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Consumer Service By Param1-spec",
    "description": "The Consumer Currency Exchange Lookup API provides users with the capability to retrieve real-time currency exchange rates based on specific parameters. This endpoint allows businesses and developers to fetch exchange rate information for various currencies using a dynamic parameter. Typical consumers include finance applications, banking services, and e-commerce platforms seeking accurate and timely currency conversion data. By leveraging this API, users can enhance their applications with reliable currency exchange information tailored to their specific needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/currency-exchange/{param1}": {
      "get": {
        "tags": [
          "Currency Exchange"
        ],
        "summary": "Retrieve details of a currency exchange by resource ID.",
        "description": "This endpoint allows clients to fetch detailed information about a specific currency exchange identified by its resource ID (RES-100045). It provides necessary data for further processing and understanding of the exchange parameters.",
        "operationId": "getConsumerServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving currency exchange details for the specific consumer service. This body must be in JSON format and should conform to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the exchange rate details are returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the currency exchange operation in the consumer services API.",
        "example": "{}"
      },
      "GetConsumerServiceByParam1Response_200": {
        "title": "Currency Exchange Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-344948"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "506d2aa9-0c25-50d7-b53a-c3ba2f0182d9"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product associated with the currency exchange.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "Details of the amount involved in the currency exchange.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the currency exchange was requested.",
            "example": "2026-09-15"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "The currency from which the amount is being exchanged.",
            "example": "USD"
          },
          "targetCurrency": {
            "type": "string",
            "description": "The currency to which the amount is being exchanged.",
            "example": "USD"
          },
          "quotedRate": {
            "type": "integer",
            "description": "The rate quoted for the currency exchange.",
            "format": "int32",
            "example": 100
          },
          "cashDenominations": {
            "type": "array",
            "description": "List of cash denominations in integer values.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 0
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response object.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This object represents the response for a currency exchange request.",
        "example": {
          "customerId": "CUST-344948",
          "serviceRequestId": "506d2aa9-0c25-50d7-b53a-c3ba2f0182d9",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "sourceCurrency": "USD",
          "targetCurrency": "USD",
          "quotedRate": 100,
          "cashDenominations": [
            1
          ],
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d7d252e2-4885-5964-b1b0-430136e532f1",
            "correlationId": "32810222-e618-59f1-abe0-4db71389ea9c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the amount.",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is defined.",
            "example": "USD"
          }
        },
        "description": "Represents the amount and currency details for a currency exchange."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Contains additional metadata related to the currency exchange response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-get-currency-exchange"
        },
        "example": "currency-exchange-get-currency-exchange"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method as defined in RFC 6750. The token must be included in the Authorization header as 'Bearer {token}', where {token} is a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}