{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Human Resource Management Human Resources Direction-v5-spec",
    "description": "The Banking Human Resource Management API enables organizations to effectively manage their human resources direction within the banking sector. This API facilitates the creation and management of HR direction resources, enabling users to streamline processes related to staffing, training, and employee development. It is designed for HR professionals and banking administrators seeking to optimize human resource strategies and operations. By leveraging this API, businesses can enhance productivity and ensure compliance with industry regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/human-resources-direction": {
      "post": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Create a new Human Resource Direction.",
        "description": "This endpoint allows you to create a new entry in the Human Resources Direction section. It accepts various parameters required to define the direction and will return the created resource upon success.",
        "operationId": "createBankingHumanResourceManagementHumanResourcesDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for the Human Resources Direction operations. The provided JSON object should conform to the specified schema, which includes the necessary properties and data types required for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingHumanResourceManagementHumanResourcesDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating a new entity has been added.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingHumanResourceManagementHumanResourcesDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingHumanResourceManagementHumanResourcesDirectionRequest": {
        "title": "Human Resources Operations Request Body",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-423442"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment associated with the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department to which the employee is assigned.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the operation becomes effective, formatted as an ISO 8601 string.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 code representing the country.",
            "example": "US"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for human resources operations.",
        "example": {
          "employeeId": "EMP-423442",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "requestContext": {
            "requestId": "12765e6b-ebaf-5f39-bbe0-bdbdc470733f",
            "correlationId": "a352b9eb-56e1-5ba1-8c10-f022e2776a1c",
            "idempotencyKey": "d0b30a0e-b784-5534-9c39-973040e064f2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-875461"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to trace the request across systems.",
            "example": "CORR-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that repeated requests have the same effect as a single request.",
            "example": "IDEMP-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, formatted as an ISO 8601 string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generates the request.",
            "example": "Employee Management App"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-004"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEV-005"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateBankingHumanResourceManagementHumanResourcesDirectionResponse_201": {
        "title": "Human Resources Operation Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-899238"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment linked to the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department to which the employee is assigned.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code for the country where the employee is located.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "A unique resource identifier associated with the employee.",
            "example": "RES-736433"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the human resources operations POST request. Contains details about the employee and operation status.",
        "example": {
          "employeeId": "EMP-899238",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-736433",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1e05f22b-6c49-51e6-afb8-090684c0d5ee",
            "correlationId": "a352b9eb-56e1-5ba1-8c10-f022e2776a1c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Information related to the operation's metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "human-resources-direction-create-human-resources-direction"
        },
        "example": "human-resources-direction-create-human-resources-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token, specifically a JSON Web Token (JWT), to authorize API requests. Clients must include the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}