{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Loan Management API",
    "description": "The Consumer Loan Management API enables developers to access and manage consumer loan information seamlessly. This API provides detailed insights into specific loans based on unique identifiers, allowing for effective loan tracking and management. Typical consumers of this API include banking applications and loan management systems, which integrate this functionality to offer users real-time loan status updates. Enhance your financial services offerings by leveraging this API to provide accurate and timely consumer loan data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/consumer-loan/{param1}": {
      "get": {
        "tags": [
          "Consumer Loan Management"
        ],
        "summary": "Retrieve details for a specific consumer loan.",
        "description": "This endpoint allows you to retrieve detailed information about a specific consumer loan identified by its unique loan ID. Use this to get insights into the loan terms, balance, payment history, and other relevant data.",
        "operationId": "getConsumerLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the consumer loan with the specified ID. The request must include the necessary parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; returns loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerLoanDetailsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to the consumer loan.",
        "example": "{}"
      },
      "GetConsumerLoanDetailsResponse_200": {
        "title": "Consumer Loan Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the loan.",
            "example": "CUST-729561"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account linked to the loan.",
            "example": "ACC-970564"
          },
          "productCode": {
            "type": "string",
            "description": "The product code that identifies the loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details about the principal amount of the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which repayments must be made on the loan.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta information related to the loan response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the structure of the response returned when querying details of a consumer loan.",
        "example": {
          "customerId": "CUST-729561",
          "accountId": "ACC-970564",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1897a851-0476-5115-8cff-c2cd1c8195b9",
            "correlationId": "bc24f98e-a242-56d4-8a4f-a8141555aa8d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Loan Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is expressed.",
            "example": "string"
          }
        },
        "description": "This schema describes the principal amount of the loan, including its currency."
      },
      "Metadata": {
        "title": "Loan Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the loan was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata associated with the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, facilitating tracking and monitoring of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-get-consumer-loan"
        },
        "example": "consumer-loan-get-consumer-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request, providing context on the source of the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens to secure API access. The bearer token must be included in the Authorization header of the request and is typically a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}