{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Refund Management API",
    "description": "The Refund Management API provides a seamless way to retrieve information about refunds processed through the system. This API allows businesses to access refund records, details about customer transactions, and the status of various refund requests. Typical consumers include customer support teams and financial analysts who need to review or audit refund activities. Leveraging this API can enhance operational efficiency and improve customer satisfaction by providing timely updates on refund statuses.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds": {
      "get": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Retrieve a list of refunds",
        "description": "Fetches all available refunds for the specified criteria, allowing users to review the details of past transactions that have been refunded.",
        "operationId": "getRefunds",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a refund operation. It should contain the necessary details related to the refund request as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRefundsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the list of refunds is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRefundsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRefundsRequest": {
        "type": "string",
        "description": "This schema represents the JSON body for the GET request related to refunds operations.",
        "example": "{}"
      },
      "GetRefundsResponse_200": {
        "title": "Refunds Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available based on the page size.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Pagination links for navigating between pages.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaginationLink"
            }
          },
          "items": {
            "type": "array",
            "description": "List of refund items.",
            "example": [
              {
                "refundId": "STANDARD",
                "paymentId": "PAY-827728",
                "merchantId": "MER-416183",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reasonCode": "CODE-330",
                "reason": "STANDARD",
                "merchantRefundReference": "STANDARD",
                "status": "ACTIVE",
                "failure": {
                  "category": "STANDARD",
                  "code": "SUCCESS",
                  "message": "STANDARD",
                  "declineCode": "CODE-765",
                  "retryable": true
                },
                "processorReference": {
                  "network": "STANDARD",
                  "schemeTransactionId": "TXN-453774",
                  "acquirerReferenceNumber": "STANDARD",
                  "issuerReference": "STANDARD",
                  "retrievalReferenceNumber": "STANDARD",
                  "approvalCode": "CODE-614"
                },
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RefundItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the GET operations on refunds.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "refundId": "STANDARD",
              "paymentId": "PAY-827728",
              "merchantId": "MER-416183",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reasonCode": "CODE-330",
              "reason": "STANDARD",
              "merchantRefundReference": "STANDARD",
              "status": "ACTIVE",
              "failure": {
                "category": "STANDARD",
                "code": "SUCCESS",
                "message": "STANDARD",
                "declineCode": "CODE-765",
                "retryable": true
              },
              "processorReference": {
                "network": "STANDARD",
                "schemeTransactionId": "TXN-453774",
                "acquirerReferenceNumber": "STANDARD",
                "issuerReference": "STANDARD",
                "retrievalReferenceNumber": "STANDARD",
                "approvalCode": "CODE-614"
              },
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "2571729e-2ba8-53f8-b2c6-aca13c103194",
            "correlationId": "6cbf6577-3db5-508d-a99c-4ae5f8503543",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaginationLink": {
        "title": "Pagination Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL to the related resource.",
            "example": "https://api.example.com/refunds?page=1"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used when following the link.",
            "example": "GET"
          }
        },
        "description": "Schema representing a single pagination link."
      },
      "RefundItem": {
        "title": "Refund Item",
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "refund_123"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the related payment.",
            "example": "payment_456"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "merchant_789"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "product_return"
          },
          "reason": {
            "type": "string",
            "description": "Detailed reason for the refund.",
            "example": "Customer returned the product."
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Merchant's reference for the refund.",
            "example": "ref_001"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "completed"
          },
          "failure": {
            "$ref": "#/components/schemas/FailureDetail"
          },
          "processorReference": {
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditDetail"
          }
        },
        "description": "Schema representing a detailed refund record."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Numeric value of the amount.",
            "example": "10.00"
          }
        },
        "description": "Schema representing the amount details for the refund."
      },
      "FailureDetail": {
        "title": "Failure Detail",
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "network"
          },
          "code": {
            "type": "string",
            "description": "Specific code for the failure.",
            "example": "500"
          },
          "message": {
            "type": "string",
            "description": "Human-readable message for the failure.",
            "example": "Internal server error."
          },
          "declineCode": {
            "type": "string",
            "description": "Decline code if applicable.",
            "example": "declined"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the failure is retryable.",
            "example": false
          }
        },
        "description": "Schema representing details about any failure that occurred."
      },
      "ProcessorReference": {
        "title": "Processor Reference",
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Network of the transaction processor.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID provided by the scheme.",
            "example": "txn_1000"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "arc_2000"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference provided by the issuer.",
            "example": "issuer_ref_3000"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number for retrieval.",
            "example": "retr_4000"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "approve_5000"
          }
        },
        "description": "Schema representing details of the processor involved."
      },
      "AuditDetail": {
        "title": "Audit Detail",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the refund was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the refund.",
            "example": "user_001"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the refund was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the refund.",
            "example": "user_002"
          },
          "version": {
            "type": "integer",
            "description": "Version of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit details for the refund record."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-refunds"
        },
        "example": "banking-p2m-openapi-list-refunds"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients should include the JWT in the Authorization header of their requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}