{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Development Environment Management API",
    "description": "The Development Environment Management API facilitates the creation and configuration of development environments essential for IT management within the banking sector. This API allows users to set up new environments tailored to their project needs, enabling efficient testing and deployment workflows. Typical consumers include development teams and IT managers aiming to streamline environment provisioning. By leveraging this API, organizations can enhance their productivity and maintain robust development practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/development-environment": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new development environment for IT management.",
        "description": "This endpoint allows users to create a new development environment within the IT management system. Ensure all required parameters are provided for successful creation.",
        "operationId": "createDevelopmentEnvironment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating the development environment in the IT management system. This endpoint requires a JSON payload that adheres to the specified schema, which includes all necessary fields to configure the development environment properly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDevelopmentEnvironmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the development environment.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDevelopmentEnvironmentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDevelopmentEnvironmentRequest": {
        "title": "Development Environment Request",
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "Unique identifier for the development environment.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application related to the development environment.",
            "example": "APP-488670"
          },
          "runtime": {
            "type": "string",
            "description": "The runtime environment to be used for the application.",
            "example": "STANDARD"
          },
          "region": {
            "type": "string",
            "description": "Geographical region where the environment is hosted.",
            "example": "New York"
          },
          "dataClassification": {
            "type": "string",
            "description": "Classification of the data that will be handled in the environment.",
            "example": "STANDARD"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the environment will expire.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a development environment.",
        "example": {
          "environmentId": "STANDARD",
          "applicationId": "APP-488670",
          "runtime": "STANDARD",
          "region": "New York",
          "dataClassification": "STANDARD",
          "expiresAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "fb548e32-d743-5b77-9a84-9f4d3208cf1f",
            "correlationId": "1a8a7d57-2ee2-5bd5-bcfa-c6700848c20a",
            "idempotencyKey": "6fa98b5c-36e9-57eb-a512-82f564b75cd0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-473179"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-8901"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr-2345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-6789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "inventory-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "inventory-app"
          },
          "channel": {
            "description": "Channel information through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-0001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, web, mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used for the request.",
            "example": "device-1234"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateDevelopmentEnvironmentResponse_201": {
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "Unique identifier for the development environment.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the associated application.",
            "example": "APP-970120"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-154760"
          },
          "status": {
            "type": "string",
            "description": "Current status of the development environment.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the development environment was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a new development environment.",
        "example": {
          "environmentId": "STANDARD",
          "applicationId": "APP-970120",
          "resourceId": "RES-154760",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "40f894be-05bd-5fc2-b57c-5751a64d48e0",
            "correlationId": "1a8a7d57-2ee2-5bd5-bcfa-c6700848c20a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with other transactions.",
            "example": "cor-13579"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response of the development environment creation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "development-environment-create-development-environment"
        },
        "example": "development-environment-create-development-environment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism where a JSON Web Token (JWT) is provided as part of the authorization header. This token is used to verify the identity of the individual making the request and to determine their access rights.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}