{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Treasury Balance Sheet Managements-spec",
    "description": "The Treasury Balance Sheet Management API offers an efficient way to access and retrieve detailed information about the treasury balance sheets within the financial organization. This API allows users to query various balance sheet management data to support financial analysis and reporting. Ideal for finance professionals and developers, this endpoint facilitates strategic decision-making by providing insights into liquidity and asset management. Typical use cases include monitoring treasury positions and preparing regulatory reports.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/balance-sheet-management": {
      "get": {
        "tags": [
          "Treasury Management"
        ],
        "summary": "Retrieve the balance sheet management details.",
        "description": "This endpoint allows users to fetch the current balance sheet management information for the treasury, including assets, liabilities, and other financial data necessary for effective fiscal analysis and decision-making.",
        "operationId": "listTreasuryBalanceSheetManagements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching balance sheet management details. This request is used to retrieve the current balance sheet management data, including necessary operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTreasuryBalanceSheetManagementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the balance sheet data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTreasuryBalanceSheetManagementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTreasuryBalanceSheetManagementsRequest": {
        "type": "string",
        "description": "The JSON string representation of the request body for the GET operation related to balance sheet management in the treasury system.",
        "example": "{}"
      },
      "ListTreasuryBalanceSheetManagementsResponse_200": {
        "title": "Balance Sheet Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of balance sheet items.",
            "example": [
              {
                "portfolioId": "PORT-121771",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-839934",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BalanceSheetItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving balance sheet management information.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-121771",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-839934",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6c1a2de2-bb9d-551b-909b-2a77c115123a",
            "correlationId": "a0e40343-d9aa-560d-9b01-fc3630a39cc3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BalanceSheetItem": {
        "title": "Balance Sheet Item",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio associated with this item."
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument associated with this item."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty associated with this item."
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the instrument matures."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the item was last updated."
          }
        },
        "description": "Schema representing a single balance sheet item."
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the notional."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the notional amount is denominated."
          }
        },
        "description": "Schema representing the notional amount of a financial instrument."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for response items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-and-liability-management-search-asset-and-liability-management"
        },
        "example": "asset-and-liability-management-search-asset-and-liability-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Security scheme using Bearer authentication with JSON Web Tokens (JWT). This schema is used to authenticate requests by including a JWT token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}