{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Consumer Service Corporate Trust Service-spec",
    "description": "The Corporate Trust Services Management API enables financial institutions to manage and configure corporate trust services effectively. It allows providers to create and submit new consumer service requests tailored for corporate clients. This endpoint is essential for organizations looking to streamline their corporate trust offerings, enhancing client engagement and service delivery. Typical users include banking administrators and compliance officers who require efficient tools to manage client trust service requests.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/corporate-trust-services": {
      "post": {
        "tags": [
          "Corporate Trust Services"
        ],
        "summary": "Create a new corporate trust service.",
        "description": "This endpoint allows users to create a new corporate trust service. Provide the necessary details in the request body to successfully create the service. Ensure that all required fields are completed to avoid validation errors.",
        "operationId": "createConsumerServiceCorporateTrustService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate corporate trust services. Please provide all required fields in the correct format to ensure the successful processing of your request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerServiceCorporateTrustServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the new entity is now available.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerServiceCorporateTrustServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerServiceCorporateTrustServiceRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-229440"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "0327d8db-4dea-52f0-941a-6864c9a5fa8a"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product related to the request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The monetary amount associated with the request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested, formatted as an ISO 8601 string.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "customerId": "CUST-229440",
          "serviceRequestId": "0327d8db-4dea-52f0-941a-6864c9a5fa8a",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "25ce2bc9-848f-5846-aa16-278cd9e04f00",
            "correlationId": "3a08ca80-7fc2-5e5b-9f10-5d407fd140cb",
            "idempotencyKey": "6c82513c-0dd2-5d4f-8526-e103bc43dcb7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-180517"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount, following ISO 4217 standard.",
            "example": "USD"
          }
        },
        "description": "Represents a monetary amount and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for this request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate multiple requests.",
            "example": "CORR98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be retried safely.",
            "example": "IDEM12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was initiated, formatted as an ISO 8601 string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system originating the request.",
            "example": "BankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application originating the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides related context for the request including identifiers and system metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHNL001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEVICE12345"
          }
        },
        "description": "Represents details about the channel through which the request was made."
      },
      "CreateConsumerServiceCorporateTrustServiceResponse_201": {
        "title": "Corporate Trust Services Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-553680"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "4ab19757-3e8c-5612-95e7-4d3b96e048be"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the service request.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the service request.",
            "example": "RES-416029"
          },
          "status": {
            "type": "string",
            "description": "The current status of the service request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the service request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ServiceRequestMetadata"
          }
        },
        "description": "This schema represents the response for the POST operation on Corporate Trust Services.",
        "example": {
          "customerId": "CUST-553680",
          "serviceRequestId": "4ab19757-3e8c-5612-95e7-4d3b96e048be",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-416029",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1cd6343b-4e53-5c62-9db7-939824e44039",
            "correlationId": "3a08ca80-7fc2-5e5b-9f10-5d407fd140cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceRequestMetadata": {
        "title": "Service Request Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used for tracking related requests.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-04T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing is taking place.",
            "example": "US-East"
          }
        },
        "description": "This schema contains metadata related to the service request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint used in the request. This helps in tracing the specific service operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-trust-services-create-corporate-trust-services"
        },
        "example": "corporate-trust-services-create-corporate-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application handling the request. This is useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. Clients can authenticate by providing a bearer token in the Authorization header of their requests. The token must be a JSON Web Token (JWT) which has been generated using a valid secret or key.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}