{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Savings Account Balance Inquiry API",
    "description": "The Savings Account Balance Inquiry API enables users to access real-time balance information for their savings accounts. This endpoint is primarily used by banking applications, personal finance management tools, and customer service platforms to provide clients with up-to-date financial data. By utilizing this API, customers can easily monitor their savings, helping them to manage their finances more effectively. Typical use cases include balance inquiries during transactions or account reviews.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/savings-account": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve Savings Account Information",
        "description": "Fetches detailed information about the savings accounts available under deposit lending, including account balances, interest rates, and terms.",
        "operationId": "getSavingsAccountDepositLending",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving savings account information within the deposit lending context. This body should conform to the defined JSON schema that outlines the necessary parameters and expected structure for a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSavingsAccountDepositLendingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the savings account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSavingsAccountDepositLendingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSavingsAccountDepositLendingRequest": {
        "type": "string",
        "description": "This schema represents the request body for a GET operation on savings account information in the deposit lending API. It is expected to be a string representation of the data.",
        "example": "{}"
      },
      "GetSavingsAccountDepositLendingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of savings account details.",
            "example": [
              {
                "customerId": "CUST-915693",
                "accountId": "ACC-846267",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "accountPurpose": "STANDARD",
                "statementFrequency": "STANDARD",
                "overdraftAllowed": true,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SavingsAccountDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the accounts.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving savings account information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-915693",
              "accountId": "ACC-846267",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "accountPurpose": "STANDARD",
              "statementFrequency": "STANDARD",
              "overdraftAllowed": true,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b622b614-42c8-5dd5-a695-f35e6bac86ed",
            "correlationId": "986407c2-77c2-5eed-a2b8-0ddf7c7dff38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SavingsAccountDetails": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer associated with the account."
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the savings account."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type of the account."
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the account term in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the account."
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose for which the account was created."
          },
          "statementFrequency": {
            "type": "string",
            "description": "How often account statements are generated."
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether overdraft is permitted on the account."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the account record (active, inactive, etc.)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update time of the account."
          }
        },
        "description": "Detailed information about a savings account."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount in the account.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is held."
          }
        },
        "description": "Details about the principal amount of the savings account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the data set.",
            "format": "int32"
          }
        },
        "description": "Information regarding the pagination of the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "savings-account-search-savings-account"
        },
        "example": "savings-account-search-savings-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token which is a JSON Web Token (JWT) to authenticate requests. It is recommended that the token is included in the 'Authorization' header in the format: Bearer {token}.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}