{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Approved Supplier Directory Management API",
    "description": "The Approved Supplier Directory Management API allows businesses to update information related to their approved suppliers within the banking and enterprise services sector. This endpoint enables users to modify the details of a supplier in the directory, ensuring that the information remains accurate and up-to-date. Typical consumers include procurement teams or financial institutions looking to maintain compliance and effective supplier relationships. Utilizing this API helps streamline supplier management processes and enhances operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory/{param1}": {
      "put": {
        "tags": [
          "Approved Supplier Directory"
        ],
        "summary": "Update Approved Supplier Directory Entry",
        "description": "This endpoint allows you to update the details of a specific entry in the Approved Supplier Directory by providing the resource ID. Make sure to check the request body for required fields.",
        "operationId": "updateApprovedSupplierDirectoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the approved supplier directory entry identified by RES-100045. The payload should contain all necessary information to modify the existing supplier's details as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApprovedSupplierDirectoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully completed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateApprovedSupplierDirectoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateApprovedSupplierDirectoryRes100045Request": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "8eb31df1-568e-5c9e-9485-dc0aa48c65f0"
          },
          "supplierId": {
            "type": "string",
            "description": "The ID of the supplier being updated.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the supplier.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The financial amount related to the supplier.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "The name or ID of the person who is requesting the update.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The ID of the purchase order related to the update.",
            "example": "ORD-813268"
          },
          "categoryCode": {
            "type": "string",
            "description": "The category code associated with the supplier.",
            "example": "CODE-785"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The approval level required for processing this request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating the approved supplier directory operations.",
        "example": {
          "requestId": "8eb31df1-568e-5c9e-9485-dc0aa48c65f0",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-813268",
          "categoryCode": "CODE-785",
          "approvalLevel": "STANDARD",
          "requestContext": {
            "requestId": "bb4177b5-0719-5ef8-a2ec-02ea65806ef0",
            "correlationId": "f65c82d2-b36b-5b52-9893-f2c7a64fe2c7",
            "idempotencyKey": "d0b1de63-661f-56a8-906e-488fd6f51118",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-432388"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount, e.g., USD.",
            "example": "string"
          }
        },
        "description": "Object representing the amount and currency details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application of the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request, e.g., web, mobile.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Object representing channel details used in the request context."
      },
      "UpdateApprovedSupplierDirectoryRes100045Response_200": {
        "title": "Supplier Directory Response",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "2fc7e2f4-ff6e-5b81-ab7a-74b54f56ea2a"
          },
          "supplierId": {
            "type": "string",
            "description": "Unique identifier for the supplier.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Unique identifier for the purchase order associated with the supplier.",
            "example": "ORD-162584"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code representing the category of the supplier.",
            "example": "CODE-215"
          },
          "version": {
            "type": "integer",
            "description": "Version number for the supplier record.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the supplier in the directory.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the supplier record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the supplier directory response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the approved supplier directory operation, containing metadata and status information.",
        "example": {
          "requestId": "2fc7e2f4-ff6e-5b81-ab7a-74b54f56ea2a",
          "supplierId": "STANDARD",
          "purchaseOrderId": "ORD-162584",
          "categoryCode": "CODE-215",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7ae17c89-568f-5b1c-8730-9ecaa26a4961",
            "correlationId": "f65c82d2-b36b-5b52-9893-f2c7a64fe2c7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation between multiple request and response pairs.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-upsert-approved-supplier-directory-record"
        },
        "example": "approved-supplier-directory-upsert-approved-supplier-directory-record"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method. Clients must include a valid bearer token (JWT) in the Authorization header to access secure endpoints. The token is typically obtained through a login process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}