{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Syndicated Loan Details API",
    "description": "The Syndicated Loan Details API provides access to comprehensive information regarding syndicated loans. By querying specific loan identifiers, users can retrieve detailed data about loan structures, participating lenders, and terms. This API is essential for financial analysts, compliance officers, and banking professionals who require access to accurate and up-to-date loan information for reporting and decision-making. It facilitates informed financial transactions and enhances transparency in syndicated loan agreements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan/{param1}": {
      "get": {
        "tags": [
          "Syndicated Loan Management"
        ],
        "summary": "Retrieve details of a specific syndicated loan.",
        "description": "Fetches comprehensive information about a syndicated loan identified by its unique loan ID. This endpoint is useful for obtaining loan status, terms, and conditions for specific loan agreements.",
        "operationId": "getSyndicatedLoanById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the syndicated loan identified by LOAN-500045. It includes parameters necessary for the operation and defines the structure of the expected input data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSyndicatedLoanByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSyndicatedLoanByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSyndicatedLoanByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Loan Operations GET request in the Trade Banking Syndicated Loan API.",
        "example": "{}"
      },
      "GetSyndicatedLoanByIdResponse_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The identifier for the corporate customer.",
            "example": "CUST-250471"
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier for the loan facility.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier for the counterparty involved in the loan.",
            "example": "PARTY-941428"
          },
          "amount": {
            "description": "The total amount of the loan including its currency.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the loan matures.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of this loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the loan response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to the syndicated loan.",
        "example": {
          "corporateCustomerId": "CUST-250471",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-941428",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2ee16688-8924-5797-bb47-15332a193741",
            "correlationId": "d7669d2f-4b48-52b7-a5d4-4484f8237a57",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the loan amount.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Details about the amount and currency of the loan."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple requests and responses.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the loan processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information related to the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with the operation. This helps in tracing the specific service interaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-get-syndicated-loan"
        },
        "example": "syndicated-loan-get-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "Name of the runtime application that processed the request. This can be used to identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, typically leveraging JSON Web Tokens (JWT) for authentication. Clients should include the JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}