{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Guideline Compliance Check API",
    "description": "The Guideline Compliance Check API enables users to assess the compliance status of banking operations against established guidelines. This endpoint allows consumers, such as compliance officers and risk management teams, to retrieve detailed information on specific guidelines by providing the relevant parameter. By leveraging this API, organizations can ensure adherence to regulatory requirements and enhance operational integrity. It is an essential tool for maintaining compliance and mitigating risks in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/guideline-compliance/{param1}": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve compliance details for a specific guideline",
        "description": "This endpoint allows users to fetch compliance details related to guideline RES-100045. It returns relevant information that helps in understanding the compliance status and requirements associated with this guideline.",
        "operationId": "getGuidelineComplianceRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving compliance guideline details specific to RES-100045. Ensure that the structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGuidelineComplianceRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning compliance guideline data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGuidelineComplianceRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetGuidelineComplianceRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for compliance guideline operations.",
        "example": "{}"
      },
      "GetGuidelineComplianceRes100045Response_200": {
        "title": "Guideline Compliance Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the compliance is being assessed.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the compliance.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The specific regulation that is being complied with.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the compliance submission.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the compliance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the compliance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ComplianceMetadata"
          }
        },
        "description": "This schema represents the response for the guideline compliance retrieval operation.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "57621392-e206-5c20-88a6-abfb0581589f",
            "correlationId": "d238a4af-abe8-5bfe-ac6f-7dfaafe9ec3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceMetadata": {
        "title": "Compliance Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the compliance response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the compliance was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the compliance processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the compliance submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "guideline-compliance-get-guideline-compliance"
        },
        "example": "guideline-compliance-get-guideline-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses a Bearer Token for authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}