{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intents API",
    "description": "The Payment Intents API enables seamless handling of payment transactions. This endpoint is designed to retrieve details about existing payment intents, allowing businesses to access order statuses, amounts, and customer interactions. Common users of this API include e-commerce platforms and payment processors seeking to manage their payment workflows efficiently. With this data, developers can enhance customer experiences by providing accurate and timely payment information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Payment Intents",
        "description": "Fetches a list of all payment intents created in the system, allowing developers to manage and view transaction records easily.",
        "operationId": "retrievePaymentIntent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment intent details. It allows you to specify filters and parameters to get specific information about payment intents.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrievePaymentIntentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment intents.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrievePaymentIntentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "RetrievePaymentIntentRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching payment intents via GET operation. It is a placeholder indicating that the body is expected to be a string.",
        "example": "{}"
      },
      "RetrievePaymentIntentResponse_200": {
        "title": "Payment Intents Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of links for pagination and related actions.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaginationLink"
            }
          },
          "items": {
            "type": "array",
            "description": "An array of payment intent items.",
            "example": [
              {
                "paymentIntentId": "STANDARD",
                "merchantId": "MER-593941",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountAuthorized": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountCaptured": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountRefunded": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "captureMethod": "STANDARD",
                "channel": "STANDARD",
                "allowedPaymentMethods": [
                  "STANDARD"
                ],
                "selectedPaymentMethod": {
                  "type": "STANDARD",
                  "token": "STANDARD",
                  "issuerBankCode": "CODE-571",
                  "maskedIdentifier": "STANDARD",
                  "walletProvider": "STANDARD"
                },
                "customer": {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "riskSegment": "STANDARD"
                },
                "order": {
                  "merchantOrderId": "ORD-447908",
                  "description": "Customer banking request processed successfully"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentIntent"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier for tracking the processing of this request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "eb4b1a16-8a4e-50d6-a4aa-8bc347545697",
              "correlationId": "bf9bb8b8-d6aa-54c8-bf17-aa81b5d81b1b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for payment intents retrieval, including pagination metadata and the list of payment intents.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "paymentIntentId": "STANDARD",
              "merchantId": "MER-593941",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountAuthorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountCaptured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountRefunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captureMethod": "STANDARD",
              "channel": "STANDARD",
              "allowedPaymentMethods": [
                "STANDARD"
              ],
              "selectedPaymentMethod": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-571",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "order": {
                "merchantOrderId": "ORD-447908",
                "description": "Customer banking request processed successfully"
              }
            }
          ],
          "metadata": {
            "responseId": "eb4b1a16-8a4e-50d6-a4aa-8bc347545697",
            "correlationId": "bf9bb8b8-d6aa-54c8-bf17-aa81b5d81b1b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentIntent": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "The unique identifier for the payment intent.",
            "example": "pi_123456789"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "merchant_123"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "outlet_123"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "terminal_123"
          },
          "amount": {
            "description": "The amount for the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "The authorized amount for the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "The captured amount for the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "The refunded amount for the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method used to capture the payment.",
            "example": "manual"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was made.",
            "example": "online"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "The list of payment methods allowed for this payment intent.",
            "example": [
              "credit_card",
              "bank_transfer"
            ],
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "selectedPaymentMethod": {
            "description": "The payment method that was selected for this payment intent.",
            "$ref": "#/components/schemas/SelectedPaymentMethod"
          },
          "customer": {
            "description": "Information about the customer associated with the payment intent.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Order details associated with the payment intent.",
            "$ref": "#/components/schemas/Order"
          }
        },
        "description": "Schema representing a payment intent."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with currency."
      },
      "PaginationLink": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "https://api.example.com/next"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method of the link.",
            "example": "GET"
          }
        },
        "description": "Schema representing a link for pagination or related actions."
      },
      "SelectedPaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of the payment method.",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "The secure token representing the payment method.",
            "example": "tok_123456789"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The bank code of the issuer.",
            "example": "issuer_123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "A masked identifier for the payment method.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "The provider of the wallet if applicable.",
            "example": "paypal"
          }
        },
        "description": "Schema representing the selected payment method."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cust_123456789"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "The risk segment assigned to the customer.",
            "example": "high"
          }
        },
        "description": "Schema representing a customer."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the order from the merchant.",
            "example": "order_12345"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Order for electronics"
          }
        },
        "description": "Schema representing an order associated with a payment intent."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-payment-intents"
        },
        "example": "banking-p2m-openapi-list-payment-intents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) to authorize requests. Include the JWT in the `Authorization` header of your requests, as follows: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}