{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Retrieve Reward Details API",
    "description": "The Retrieve Reward Details API allows users to obtain specific information about a reward by its unique identifier. This API is crucial for consumers such as banking customers and support teams who need to review reward offerings, eligibility, and usage within the banking loyalty program. By accessing reward details, users can make informed decisions regarding participation and engagement in the rewards program. This API facilitates transparency and enhances the customer experience through insightful and detailed reward information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards/{rewardId}": {
      "get": {
        "tags": [
          "Rewards Management"
        ],
        "summary": "Retrieve details of a specific reward.",
        "description": "Fetch comprehensive information about the reward identified by the given ID. This endpoint allows users to obtain all relevant details, including reward attributes and any associated metadata.",
        "operationId": "getRewardById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/rewardId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve reward information for a specific operational service identified by the unique identifier 'RES-100045'. The request body should follow the specified schema to ensure valid input.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRewardByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRewardByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRewardByIdRequest": {
        "title": "Operational Services Rewards Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Operational Services Rewards API, specifically for the resource identified by RES-100045.",
        "example": "{}"
      },
      "GetRewardByIdResponse_200": {
        "title": "RewardOperationResponse",
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "The unique identifier for the loyalty account.",
            "example": "ACC-959048"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-467208"
          },
          "activityType": {
            "type": "string",
            "description": "The type of activity performed by the customer.",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "description": "The number of points awarded or deducted.",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "description": "The code representing the partner associated with the operation.",
            "example": "CODE-861"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the reward record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the reward record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the reward record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the reward operation.",
            "$ref": "#/components/schemas/RewardMetadata"
          }
        },
        "description": "Response schema for the operations related to rewards.",
        "example": {
          "loyaltyAccountId": "ACC-959048",
          "customerId": "CUST-467208",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-861",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a9d576f2-de49-5b50-8624-2f23a47da847",
            "correlationId": "c67143ea-9cc5-5257-ae53-8b13d9efe92f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RewardMetadata": {
        "title": "RewardMetadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata structure for reward operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "rewardId": {
        "name": "rewardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "description": "The name of the application that implemented the endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a JWT (JSON Web Token) to be included in the Authorization header of requests. Clients must obtain a valid token prior to making authenticated requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}