{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Notification Subscription API",
    "description": "The Event Notification Subscription API allows users to retrieve event notifications for subscribed webhooks. This endpoint provides access to current notification subscriptions, facilitating efficient tracking of events that have occurred within the system. Typical consumers include developers integrating applications that respond to real-time event changes, allowing for timely actions based on specific events. By utilizing this API, organizations can enhance their operational responsiveness and improve user engagement through automated event handling.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/events": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve a list of webhook events.",
        "description": "This endpoint allows you to fetch all the events triggered by webhooks. It provides details on each event, making it easy to monitor and handle them effectively in your system.",
        "operationId": "getWebhooksEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving webhook events. This body should contain the necessary parameters to specify the type of events to fetch.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWebhooksEventsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of webhook events.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhooksEventsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWebhooksEventsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body expected for the GET operation related to webhooks and events.",
        "example": "{}"
      },
      "GetWebhooksEventsResponse_200": {
        "title": "Webhook Events Response",
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "Unique identifier for the subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The URL to which webhook events are sent.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "List of webhook events associated with the subscription.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the webhook subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date and time when the webhook subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving webhook events.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "a601b67e-271a-5af1-951f-b8235cafa2b0",
            "correlationId": "dcf5c39d-62c1-5100-90f4-b7d9e685ea48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEvent": {
        "title": "Webhook Event",
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "Unique identifier for the webhook event.",
            "example": "evt_67890"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "user.created"
          },
          "url": {
            "type": "string",
            "description": "The URL associated with this webhook event.",
            "example": "https://example.com/events/user.created"
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook event.",
            "example": "enabled"
          },
          "condition": {
            "$ref": "#/components/schemas/Condition"
          }
        },
        "description": "Schema for an individual webhook event."
      },
      "Condition": {
        "title": "Webhook Event Condition",
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "Type of events to subscribe for.",
            "example": "user.creation"
          },
          "includes": {
            "type": "array",
            "description": "List of criteria to include for the subscription.",
            "items": {
              "type": "string",
              "example": "value1"
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of criteria to exclude from the subscription.",
            "items": {
              "type": "string",
              "example": "value2"
            }
          }
        },
        "description": "Condition schema for filtering webhook events."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr_456def"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-15T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the webhook response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata about the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint associated with the webhook event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-webhook-subscription-by-id"
        },
        "example": "open-finance-api-get-webhook-subscription-by-id"
      },
      "x-runtime-app": {
        "description": "Indicates the name of the runtime application processing the webhook request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing the use of a JWT (JSON Web Token) for authorization. Clients must include the token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}