{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Market Operation By Param1-spec",
    "description": "The Market Operations Retrieval API allows users to fetch detailed information about market operations related to securities fails processing based on a specified parameter. This endpoint is particularly valuable for financial institutions, analysts, and traders who need to monitor and analyze market activities. By providing a unique identifier as a parameter, users can retrieve precise data that assists in decision-making and operational efficiency. Typical use cases include reporting, compliance analysis, and trade reconciliation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/securities-fails-processing/{param1}": {
      "get": {
        "tags": [
          "Securities Operations"
        ],
        "summary": "Retrieve details of a specific securities fail event.",
        "description": "This endpoint allows users to fetch detailed information about a specific securities fail event identified by a unique ID. It provides insights into the status and handling of the fail, aiding users in issue resolution and operational oversight.",
        "operationId": "getMarketOperationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of securities fails processing for a specific operation identified by the RES-100045 code. The payload must follow the defined schema to ensure proper communication with the API.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOperationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOperationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOperationByParam1Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the context of market operations related to securities fails processing.",
        "example": "{}"
      },
      "GetMarketOperationByParam1Response_200": {
        "title": "Securities Fail Processing Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date when the settlement is expected to occur.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument involved in the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency in which the settlement will be conducted.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian responsible for the assets.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the trade record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to this record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the Securities Fail Processing operation.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ede4f15c-a3e4-52be-b95d-3a515d80684d",
            "correlationId": "a62d9e16-0dc9-5478-ab46-dad4431761a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking requests and responses.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-20T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Schema containing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-fails-processing-get-securities-fails-processing"
        },
        "example": "securities-fails-processing-get-securities-fails-processing"
      },
      "X-Runtime-App": {
        "description": "Indicates the application in which the operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token in the HTTP Authorization header. This standard security method is designed to work with JSON Web Tokens (JWT) to securely transmit user authentication information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}