{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Param1-spec",
    "description": "This API provides access to specific payment request details based on the unique identifier (param1). It allows businesses to retrieve information about QR payment requests, facilitating tracking and management of transactions. Typical consumers include financial applications, accounting systems, and payment processing services that require accurate and timely data about payment requests. By leveraging this API, developers can ensure seamless integration and efficient handling of payment-related queries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}": {
      "get": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Retrieve QR Payment Request",
        "description": "This endpoint retrieves the details of a specific QR payment request identified by its unique ID. It provides all relevant information pertaining to the request, enabling further processing or display.",
        "operationId": "getP2mByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a specific QR payment request identified by the given ID. It should contain the necessary authentication and parameters required for the request to process successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the payment request details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to QR payment requests.",
        "example": "{}"
      },
      "GetP2mByParam1Response_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "5f448361-4256-5922-a48f-4e3c577b738a"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-740141"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment request (e.g., live or test).",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "Payment standard used for the request.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount to be paid, specifying currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant's order.",
            "example": "ORD-101371"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tipping during the payment transaction.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload encoded in the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL of the QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates whether the QR payment request is single-use.",
            "example": true
          },
          "paidAmount": {
            "description": "The amount that has been paid, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-477128"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration time of the payment request in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for tracking changes.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the payment request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the QR payment request operation, containing various details about the payment request.",
        "example": {
          "qrPaymentRequestId": "5f448361-4256-5922-a48f-4e3c577b738a",
          "merchantId": "MER-740141",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-101371",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-477128",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "358e6305-1ca1-55c2-869e-cf7df8d826cd",
            "correlationId": "214fcef3-aa6d-5fff-b556-35b964779ad0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is specified (e.g., USD, EUR).",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount in the specified currency.",
            "example": "string"
          }
        },
        "description": "Represents an amount of money, including its currency and value."
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Mode of the tip options (e.g., fixed, percentage).",
            "example": "string"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed amount tipping options.",
            "example": "[{\"currency\": \"USD\", \"value\": \"5.00\"}]",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage tipping options.",
            "example": "[\"10\", \"15\", \"20\"]",
            "items": {
              "type": "string",
              "description": "Percentage values for tip options.",
              "example": "15"
            }
          },
          "maximumTip": {
            "description": "Maximum tip amount that can be added.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options for tips that can be added to the payment request."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment request was created in ISO 8601 format.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user or system that created the payment request.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated in ISO 8601 format.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user or system that last updated the payment request.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment request.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information for tracking the creation and modification of the payment request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with the payment request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated in ISO 8601 format.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the payment request for tracking and troubleshooting."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the endpoint being accessed, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-qr-payment-request"
        },
        "example": "banking-p2m-openapi-get-qr-payment-request"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is executing the request, providing visibility into the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method implemented via JSON Web Tokens (JWT). It is designed to authorize requests by including an access token in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}