{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Resolution Submission API",
    "description": "The Fraud Resolution Submission API enables businesses to efficiently submit resolutions related to fraud findings in their banking operations. This endpoint allows users to report incidents, providing essential details for compliance and risk management. Typical consumers include compliance officers and fraud analysts who need to document fraudulent cases and track their resolution processes. By leveraging this API, organizations can enhance their operational efficiency in managing fraud-related issues.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://risk-compliance-app:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/fraud-resolution/resolutions": {
      "post": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Create a new fraud resolution",
        "description": "This endpoint allows users to create a new resolution for fraud cases, ensuring that necessary details are captured accurately to facilitate effective resolution management.",
        "operationId": "createFraudResolution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for submitting fraud resolution data. This includes all necessary information to process a resolution and must conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFraudResolutionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudResolutionResponse_202"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be executed due to validation errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFraudResolutionResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFraudResolutionResponse_202": {
        "title": "Fraud Resolution Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity involved in the transaction.",
            "example": "STANDARD"
          },
          "transactionId": {
            "type": "string",
            "description": "The identifier for the transaction being processed.",
            "example": "TXN-192214"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference identifier used for processing.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the fraud resolution process (e.g., accepted, rejected).",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the resolution was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "A collection of additional metadata related to the fraud resolution.",
            "$ref": "#/components/schemas/FraudResolutionMetadata"
          }
        },
        "description": "Response schema for the Fraud Resolution operation, indicating the results of a fraud check submission.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "transactionId": "TXN-192214",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "fd5d89e6-b732-57e4-aaea-6c07464eab3b",
            "correlationId": "7733c1b8-e4f7-5c95-b723-20d1f826ec91",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudResolutionMetadata": {
        "title": "Fraud Resolution Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier to correlate with the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the fraud resolution process."
      },
      "CreateFraudResolutionRequest": {
        "title": "Fraud Resolution Request Body",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity involved in the transaction.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the fraud case is being handled.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the transactions under review.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation that governs the fraud resolution process.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for resolving the fraud case.",
            "example": "2026-09-15"
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction being reported.",
            "example": "TXN-633656"
          },
          "riskScore": {
            "type": "number",
            "description": "The risk score associated with the transaction.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold score for making a decision on the fraud case.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level of the device used for the transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for submitting fraud resolution operations.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "transactionId": "TXN-633656",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "requestContext": {
            "requestId": "5271d40b-0753-562c-a147-6884f839c83a",
            "correlationId": "7733c1b8-e4f7-5c95-b723-20d1f826ec91",
            "idempotencyKey": "9eec50c0-1dc9-5457-a4fe-fa7f834d7923",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-325372"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-2023-01"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "COR-RID-98765"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent operations.",
            "example": "IDEMP-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "TransactionProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "FraudDetectionApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema outlines the context for the fraud resolution request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-78901"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "DEVICE-1234"
          }
        },
        "description": "This schema provides details about the channel involved in the transaction."
      },
      "CreateFraudResolutionResponse_422": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating the request with the response.",
            "example": "7e11ad23-05ad-4417-994d-a206802834fc"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message providing more information about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "A string indicating the current workflow status.",
            "example": "WF-043"
          }
        },
        "description": "Schema representing the response for a 422 error in the Fraud Resolution operations.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "7e11ad23-05ad-4417-994d-a206802834fc",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-043"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-045"
        },
        "example": "WF-045"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "eb6cefe4-982c-4f5e-bf5f-d1166277a7fd"
        },
        "example": "eb6cefe4-982c-4f5e-bf5f-d1166277a7fd"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5"
        },
        "example": "5"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
        },
        "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier representing the endpoint used for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-resolution-resolve-fraud-resolution"
        },
        "example": "fraud-resolution-resolve-fraud-resolution"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow related to the specific operation. This identifier can be used to track the status and progress of the workflow during processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Suspicious Activity Case and Regulatory Filing"
        },
        "example": "Suspicious Activity Case and Regulatory Filing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific workflow execution instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
        },
        "example": "f26ec079-9e10-464e-a3f9-75300fc7898b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, which is commonly a JSON Web Token (JWT). Clients must include this token in the 'Authorization' header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}