{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Rail Operations Status API",
    "description": "The Payment Rail Operations Status API provides real-time status updates for various payment rail operations within the banking system. This API allows clients to check the current state of payment transactions, facilitating efficient tracking and management of payments. Typical consumers include banking applications and payment processors seeking to enhance transaction visibility. It is essential for ensuring timely updates and transparency in payment operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-rail-operations/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve the current status of payment rail operations.",
        "description": "This endpoint allows you to fetch the latest status of payment rail operations, providing insights into their operational health and any issues that may have arisen.",
        "operationId": "getPaymentRailStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to request the status of payment rail operations. It should contain all necessary information to retrieve the current status accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentRailStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the current status of payment rail operations is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentRailStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentRailStatusRequest": {
        "type": "string",
        "description": "Represents the status of payment rail operations in the system. This string value indicates the current state of operations as part of the API request body.",
        "example": "{}"
      },
      "GetPaymentRailStatusResponse_200": {
        "title": "Payment Operation Status Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-307320"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-721259"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-882323"
          },
          "instructedAmount": {
            "description": "Details of the instructed amount for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information to be sent with the payment.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta-information about the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the details of a payment operation's status.",
        "example": {
          "paymentId": "PAY-307320",
          "debtorAccountId": "ACC-721259",
          "creditorAccountId": "ACC-882323",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b1ca208e-1a21-5efb-ac90-f271a189cc21",
            "correlationId": "dfcab42f-8482-5afd-b171-4622d63d1a5f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount instructed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the instructed amount for the payment."
      },
      "Metadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the payment request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information related to the payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-rail-operations-get-payment-rail-operations"
        },
        "example": "payment-rail-operations-get-payment-rail-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a token, typically in JSON Web Token (JWT) format, is sent in the authorization header of requests. The token is a key used to grant access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}