{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Merchant Settlement-spec",
    "description": "The Merchant Settlement Management API facilitates the initiation of financial settlements for merchants within the banking system. It allows businesses to create tailored settlement records for individual merchants identified by their unique merchant ID. This service is crucial for financial institutions and processing entities that seek to streamline their transaction settlements. Use cases typically include reconciling accounts, updating financial records, or ensuring timely payments to merchants. Developers can integrate this API to automate and enhance their settlement processes, improving operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/merchants/{merchantId}/settlements": {
      "post": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Create a new settlement for the merchant.",
        "description": "This endpoint allows you to create a new settlement for the specified merchant, which involves processing financial transactions or adjustments related to the merchant's account. Ensure all required information is provided in the request body to successfully create the settlement.",
        "operationId": "createMerchantSettlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/merchantId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new settlement for the specified merchant. It should contain all the necessary information required to process the settlement successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantSettlementRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchantSettlementResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMerchantSettlementRequest": {
        "title": "Settlement Request Body Schema",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-513407"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor.",
            "example": "ACC-341923"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor.",
            "example": "ACC-484304"
          },
          "instructedAmount": {
            "description": "The amount and currency to be instructed.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the remittance.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for settlement operations.",
        "example": {
          "paymentId": "PAY-513407",
          "debtorAccountId": "ACC-341923",
          "creditorAccountId": "ACC-484304",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "c376b39a-bc4a-5236-9eb9-4c18b52d112b",
            "correlationId": "2f816a83-5643-5cb8-a773-f0fdcd0a4d5b",
            "idempotencyKey": "d43effac-ba12-53f9-b545-b30fc612ef21",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-697798"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount Schema",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be instructed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "string"
          }
        },
        "description": "This schema defines the amount and currency details of the instructed amount."
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate executions of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was submitted.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originates the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generates the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides context information for the request."
      },
      "Channel": {
        "title": "Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "This schema defines the details of the communication channel."
      },
      "CreateMerchantSettlementResponse_202": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment associated with the settlement.",
            "example": "PAY-800684"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The identifier for the debtor's account involved in the settlement.",
            "example": "ACC-359269"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The identifier for the creditor's account receiving the settlement.",
            "example": "ACC-762112"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for the processing status of the settlement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the settlement was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/SettlementMetadata"
          }
        },
        "description": "Response object containing details of a settlement operation.",
        "example": {
          "paymentId": "PAY-800684",
          "debtorAccountId": "ACC-359269",
          "creditorAccountId": "ACC-762112",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d6fbd588-4f27-57f3-99ce-7a865f819754",
            "correlationId": "2f816a83-5643-5cb8-a773-f0fdcd0a4d5b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SettlementMetadata": {
        "title": "Settlement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the settlement response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related settlement requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the settlement processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the settlement operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-022"
        },
        "example": "WF-022"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a63db9d3-d5fc-4b01-8a95-a3d068ec9a28"
        },
        "example": "a63db9d3-d5fc-4b01-8a95-a3d068ec9a28"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5"
        },
        "example": "5"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b31e4b1e-03bf-4c31-81e9-3203d2169f18"
        },
        "example": "b31e4b1e-03bf-4c31-81e9-3203d2169f18"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "merchantId": {
        "name": "merchantId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-financial-settlement-process-card-financial-settlement"
        },
        "example": "card-financial-settlement-process-card-financial-settlement"
      },
      "X-Runtime-App": {
        "description": "The identifier of the application runtime that handles the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow that this operation pertains to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-022"
        },
        "example": "WF-022"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Credit Card Application and Underwriting"
        },
        "example": "Credit Card Application and Underwriting"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b31e4b1e-03bf-4c31-81e9-3203d2169f18"
        },
        "example": "b31e4b1e-03bf-4c31-81e9-3203d2169f18"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method. It requires the client to include a valid JSON Web Token (JWT) in the Authorization header of each request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}