{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Endpoint Details API",
    "description": "This API provides access to specific webhook endpoint details within the MICROSERVICE_PROD ecosystem. By utilizing the GET method, users can retrieve configurations and statuses pertinent to individual webhook endpoints identified by the given parameter. Typical consumers of this API include developers and system integrators who need to monitor or analyze webhook interactions. It plays a critical role in ensuring seamless event-driven communication between systems, enabling real-time notifications and data updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}": {
      "get": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Retrieve a specific webhook endpoint by ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific webhook endpoint identified by its unique ID. It returns all the attributes and configurations related to the specified webhook endpoint, enabling developers to understand its settings and functionality.",
        "operationId": "getWebhookEndpointById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information from the specified webhook endpoint. It accepts a JSON payload that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWebhookEndpointByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested webhook endpoint details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhookEndpointByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWebhookEndpointByIdRequest": {
        "type": "string",
        "description": "A string representation of the JSON Request Body for the webhook endpoint.",
        "example": "{}"
      },
      "GetWebhookEndpointByIdResponse_200": {
        "title": "Webhook Endpoint Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "Unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the webhook endpoint.",
            "example": "MER-139702"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook sends notifications.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "A list of events that trigger the webhook.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Type of event that can be sent as a notification.",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook endpoint.",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "Timestamp of when the webhook secret was last rotated.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "Timestamp of the last delivery attempt to the webhook URL.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "Status of the last delivery attempt.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information related to the webhook endpoint.",
            "$ref": "#/components/schemas/WebhookAudit"
          },
          "metadata": {
            "description": "Metadata associated with the webhook response.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Represents the response structure for a webhook endpoint, providing details about its configuration and status.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-139702",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f29681d5-85d4-5dce-be89-304387cb68a2",
            "correlationId": "831fcbf5-f12d-502d-b20b-f24df8d9394c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookAudit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the webhook endpoint was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the webhook endpoint.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the webhook endpoint.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the webhook endpoint.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the webhook endpoint configuration.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information for tracking the creation and updates of the webhook endpoint."
      },
      "WebhookMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the webhook processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional contextual information regarding the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-get-webhook-endpoint"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, where the client must provide a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}