{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Information Retrieval API",
    "description": "The Credit Card Information Retrieval API enables users to access detailed information about specific credit cards. By providing a unique identifier, consumers can retrieve essential data related to a credit card, including its status, limit, and transaction history. This API is particularly useful for financial institutions, payment platforms, and mobile banking applications that require users to view their credit card details seamlessly. The endpoint facilitates secure interactions, ensuring that cardholder information is handled with precision and care.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card/{param1}": {
      "get": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Retrieve details of a specific credit card.",
        "description": "This endpoint allows developers to fetch the detailed information of a specific credit card identified by its unique ID. Use this to access essential data related to the credit card.",
        "operationId": "getCreditCardDetailsCard400045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Payload for requesting details about a specific credit card identified by CARD-400045. Ensure that the structure adheres to the defined schema to avoid errors in processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditCardDetailsCard400045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved credit card details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditCardDetailsCard400045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditCardDetailsCard400045Request": {
        "type": "string",
        "description": "Represents the request body for operations on credit card with ID CARD-400045.",
        "example": "{}"
      },
      "GetCreditCardDetailsCard400045Response_200": {
        "title": "Credit Card Response",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique token representing the credit card.",
            "example": "TOK-103204"
          },
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-256621"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code associated with the merchant.",
            "example": "5411"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating whether it is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response object.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response details for a credit card operation request.",
        "example": {
          "cardToken": "TOK-103204",
          "cardholderId": "STANDARD",
          "merchantId": "MER-256621",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "93725268-bc82-570a-b119-21d57634113a",
            "correlationId": "ba31c8f1-37d0-5b1f-9ae8-f6028521eb6c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency of a transaction."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate logs and request flows.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata associated with the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-get-credit-card"
        },
        "example": "credit-card-get-credit-card"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request, providing context about the origin of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) to secure API endpoints. Clients must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}