{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Relationships Management API",
    "description": "The Merchant Relationships Management API facilitates the retrieval of important information regarding merchant relations associated with banking cards. It enables users to access details such as partnerships, terms, and conditions relevant to card services. This API is essential for financial institutions, payment processors, and business analysts who need to understand and manage merchant relationships effectively. By using this endpoint, developers can enhance their applications to support better decision-making and relationship management within the banking ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations/{param1}": {
      "get": {
        "tags": [
          "Card Management"
        ],
        "summary": "Retrieve Merchant Relations for a Specific Card",
        "description": "This endpoint allows you to retrieve detailed merchant relations for the specified card identified by its unique ID, MER-800045. It provides crucial information about the relationship between the card and affiliated merchants.",
        "operationId": "getMerchantRelationsForCardMer800045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve merchant relations information for the specified merchant ID (MER-800045). It may include parameters that define the desired data structure and any additional filters to refine the results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantRelationsForCardMer800045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved merchant relations data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantRelationsForCardMer800045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantRelationsForCardMer800045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to merchant relations for the specified merchant ID.",
        "example": "{}"
      },
      "GetMerchantRelationsForCardMer800045Response_200": {
        "title": "Merchant Relations Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-776383"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant as registered.",
            "example": "Olivia Bennett"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the category of the merchant.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Account identifier used for settlement purposes.",
            "example": "ACC-635843"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which settlements are conducted.",
            "example": "USD"
          },
          "pricingPlan": {
            "type": "string",
            "description": "Pricing plan the merchant is currently subscribed to.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the merchant record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the merchant record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the merchant record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the merchant response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for merchant relations operations.",
        "example": {
          "merchantId": "MER-776383",
          "legalName": "Olivia Bennett",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-635843",
          "settlementCurrency": "USD",
          "pricingPlan": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0112d755-d405-523e-889c-7805aab7b576",
            "correlationId": "693cb1c5-dca7-5c49-92ee-7cbe695b77e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing has taken place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata associated with the merchant response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, aiding in tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-get-merchant-relations"
        },
        "example": "merchant-relations-get-merchant-relations"
      },
      "x-runtime-app": {
        "description": "Identifies the runtime application that handled the request, useful for understanding performance and application behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication, which requires clients to provide a JSON Web Token (JWT) in the Authorization header of their requests. The JWT should be issued by a trusted authority and is used to authenticate the identity of the client.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}