{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan Application By Decision Id-spec",
    "description": "This API allows users to update the status of a specific loan application identified by its unique application ID and associated decision ID. It is primarily designed for financial institutions that need to manage and modify loan application statuses based on evolving decision outcomes. Common consumers of this API include loan processing teams and customer service representatives who require real-time updates to maintain accurate records. By leveraging this API, organizations can streamline their loan management processes and enhance customer service responsiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions/{decisionId}": {
      "put": {
        "tags": [
          "Loan Application Management"
        ],
        "summary": "Update the decision for a specific loan application.",
        "description": "This endpoint allows users to update the decision associated with a loan application identified by its unique resource ID. It is essential for managing the outcomes of loan applications efficiently.",
        "operationId": "replaceLoanApplicationByDecisionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/decisionId"
          }
        ],
        "requestBody": {
          "description": "This request body must contain the necessary parameters to process the decision for the specified loan application. Ensure that all required fields are correctly filled out according to the application schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanApplicationByDecisionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. The decision has been updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanApplicationByDecisionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanApplicationByDecisionIdRequest": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made regarding the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source or reason for the decision.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used for the decision.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the loan application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The percentage indicating the probability of default.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio percentage of the applicant.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The approved term duration for the loan in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate percentage for the loan.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "A list of codes representing the reasons for the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "creditworthiness"
            }
          },
          "conditions": {
            "type": "array",
            "description": "A list of conditions associated with the loan decision.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Additional comments regarding the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "The ID of the decision that this decision supersedes.",
            "example": "b281f07f-36ee-1c6c-8817-ef57aca98009"
          },
          "requestContext": {
            "description": "Context about the request that generated this decision.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the decision details for a loan application.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "b281f07f-36ee-1c6c-8817-ef57aca98009",
          "requestContext": {
            "requestId": "0e94e5e6-6296-5511-a98d-167e821e53c9",
            "correlationId": "d5cac494-0f6c-5e79-9fc1-500c3b3a774d",
            "idempotencyKey": "bf29cc52-4b24-54f6-b776-1af89a62d9e4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-858630"
            }
          }
        }
      },
      "ApprovedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the approved principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money approved for the loan.",
            "example": "10000"
          }
        },
        "description": "Schema representing the approved principal amount for the loan."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code for the condition.",
            "example": "CID-001"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the condition.",
            "example": "Proof of income required."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition must be met.",
            "example": "2023-11-01"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Schema representing a condition that must be met for the loan approval."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for this request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to handle idempotent requests.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-11-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "mobile_app"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application from which the request was made.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "The channel context for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the communication channel used for the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing details of the channel used for the request."
      },
      "ReplaceLoanApplicationByDecisionIdResponse_200": {
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made on the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source from which the decision was derived.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used for this decision.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score associated with the borrower.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The estimated probability of default expressed as a percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio expressed as a percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The term of the loan approved in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The approved annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes for the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Reason A"
            }
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions that must be met for the loan approval.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Any additional comments related to the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "Identifier for the previous decision that this decision supersedes.",
            "example": "1e3c9614-db0d-2413-3e37-e895728b62d2"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for this decision.",
            "example": "b50df68f-1958-9dc7-d4c8-f65d5a1f556c"
          },
          "decidedAt": {
            "type": "string",
            "description": "Timestamp when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "The individual or system that made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information for the decision.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the decision response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan application decisions.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "1e3c9614-db0d-2413-3e37-e895728b62d2",
          "id": "b50df68f-1958-9dc7-d4c8-f65d5a1f556c",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "d8b4ac4b-a263-5e0b-af78-08b2d480647a",
            "correlationId": "d5cac494-0f6c-5e79-9fc1-500c3b3a774d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the decision was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user or system that created the decision.",
            "example": "System User"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the decision was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user or system that last updated the decision.",
            "example": "System Admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the decision record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the decision."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata related to the decision response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "decisionId": {
        "name": "decisionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-credit-decision"
        },
        "example": "banking-loans-openapi-replace-credit-decision"
      },
      "X-Runtime-App": {
        "description": "Name of the application handling the request, indicating its runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) as a means to securely transmit information between parties. Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}