{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Strategy Retrieval API",
    "description": "The Corporate Strategy Retrieval API provides access to critical information regarding the corporate strategies employed by the organization. This API allows users to fetch detailed insights into business direction and strategic initiatives. Typical consumers of this API include strategy analysts, business developers, and corporate decision-makers seeking to align operational actions with long-term goals. By leveraging this API, organizations can ensure they are informed about strategic changes and trends that impact overall business objectives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/corporate-strategy": {
      "get": {
        "tags": [
          "Business Strategy"
        ],
        "summary": "Retrieve corporate strategy details.",
        "description": "Fetches the current corporate strategy of the business, providing insights into strategic goals, initiatives, and overall direction. This information can be critical for stakeholders to understand the company's focus and priorities.",
        "operationId": "getCorporateStrategy",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the corporate strategy of a business direction. It must be provided in JSON format to ensure compatibility with the processing requirements of the API.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateStrategyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of corporate strategy data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateStrategyResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateStrategyRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation on corporate strategy within the business direction context.",
        "example": "{}"
      },
      "GetCorporateStrategyResponse_200": {
        "title": "Corporate Strategy Operation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of corporate strategy initiatives.",
            "example": [
              {
                "initiativeId": "STANDARD",
                "sponsorId": "STANDARD",
                "planningHorizon": "STANDARD",
                "targetDate": "2026-09-15",
                "status": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporateStrategyInitiative"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the GET operation on corporate strategy.",
        "example": {
          "items": [
            {
              "initiativeId": "STANDARD",
              "sponsorId": "STANDARD",
              "planningHorizon": "STANDARD",
              "targetDate": "2026-09-15",
              "status": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c69b6bdd-8f53-521b-b4dd-785f474b98e6",
            "correlationId": "83518961-2824-55d0-9e44-8e3ee42857d5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporateStrategyInitiative": {
        "title": "Corporate Strategy Initiative",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative."
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier of the sponsor responsible for the initiative."
          },
          "planningHorizon": {
            "type": "string",
            "description": "Planning horizon for the initiative."
          },
          "targetDate": {
            "type": "string",
            "description": "Target date for the completion of the initiative."
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative."
          },
          "recordStatus": {
            "type": "string",
            "description": "Record status of the initiative."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the initiative was last updated."
          }
        },
        "description": "Details about a corporate strategy initiative."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Information regarding pagination of the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-strategy-search-corporate-strategy"
        },
        "example": "corporate-strategy-search-corporate-strategy"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer Authentication method where the client transmits a JSON Web Token (JWT) in the HTTP Authorization header to access the secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}