{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Operational Service By Reward Id-spec",
    "description": "This API allows users to retrieve detailed information about operational services linked to a specific reward identifier. By utilizing this endpoint, businesses can access relevant service data, aiding them in decision-making and enhancing customer experiences. Typical consumers include financial institutions, customer service teams, and application developers looking to integrate reward service information into their platforms. The endpoint streamlines access to crucial operational insights, ensuring efficient service management and personalized user engagements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards/{rewardId}": {
      "get": {
        "tags": [
          "Rewards"
        ],
        "summary": "Retrieve reward details",
        "description": "This endpoint allows you to fetch the details of a specific reward identified by its unique ID. Use this to access information about the reward, such as its name, description, and eligibility criteria.",
        "operationId": "getOperationalServiceByRewardId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/rewardId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch rewards for the specified operational service. It holds parameters necessary for retrieving the relevant data associated with this service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalServiceByRewardIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalServiceByRewardIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalServiceByRewardIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Rewards operational services.",
        "example": "{}"
      },
      "GetOperationalServiceByRewardIdResponse_200": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "ACC-959048"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-467208"
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity associated with the reward.",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "description": "The number of points earned or redeemed.",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "description": "Code identifying the partner associated with the loyalty program.",
            "example": "CODE-861"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional meta-information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving loyalty account rewards.",
        "example": {
          "loyaltyAccountId": "ACC-959048",
          "customerId": "CUST-467208",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-861",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a9d576f2-de49-5b50-8624-2f23a47da847",
            "correlationId": "c67143ea-9cc5-5257-ae53-8b13d9efe92f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated in ISO 8601 format.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "string"
          }
        },
        "description": "Additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "rewardId": {
        "name": "rewardId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients should include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}