{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Partner By Accesskey Id-spec",
    "description": "This API allows organizations to replace a partner's information using a specific access key identifier. It facilitates the seamless update of partner details, ensuring that the partnership data remains accurate and up-to-date. Common consumers of this API include business applications managing partner relationships and integrations requiring timely updates of partner configurations. By leveraging this endpoint, users can ensure that access keys are always aligned with the current partner details, thus maintaining operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/accesskey/{accesskeyId}": {
      "put": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Update Access Key for Partner RES-100045",
        "description": "This operation allows you to update the access key associated with the partner identified by RES-100045. Ensure that you provide the necessary data in the request body to successfully update the access key.",
        "operationId": "replacePartnerByAccesskeyId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accesskeyId"
          }
        ],
        "requestBody": {
          "description": "Request body for updating access key details associated with the partner identified by RES-100045. Ensure all required fields are provided in the JSON payload to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplacePartnerByAccesskeyIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplacePartnerByAccesskeyIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplacePartnerByAccesskeyIdRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-192971"
          },
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "thirdPartyPartnerId": {
            "type": "string",
            "description": "Identifier for the third-party partner.",
            "example": "STANDARD"
          },
          "provenance": {
            "description": "Information about the provenance of the access request.",
            "$ref": "#/components/schemas/Provenance"
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the request.",
            "example": [
              {
                "product": "STANDARD",
                "payorId": "STANDARD",
                "maxCalls": 1,
                "accountId": "ACC-357756",
                "accessPeriod": {
                  "type": "STANDARD",
                  "startTime": "2026-08-11T12:00:00Z",
                  "endTime": "2026-08-11T12:00:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "requestContext": {
            "description": "Context of the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating partner access key operations.",
        "example": {
          "customerId": "CUST-192971",
          "partnerId": "STANDARD",
          "thirdPartyPartnerId": "STANDARD",
          "provenance": {
            "clientFingerprint": "STANDARD",
            "ipAddress": "STANDARD",
            "token": "STANDARD"
          },
          "products": [
            {
              "product": "STANDARD",
              "payorId": "STANDARD",
              "maxCalls": 1,
              "accountId": "ACC-357756",
              "accessPeriod": {
                "type": "STANDARD",
                "startTime": "2026-08-11T12:00:00Z",
                "endTime": "2026-08-11T12:00:00Z"
              }
            }
          ],
          "requestContext": {
            "requestId": "ba0fceb7-37ea-5171-90e6-32203195cfa9",
            "correlationId": "0b672fb2-622b-5ef3-8251-dbd349bdb83d",
            "idempotencyKey": "03807947-b136-5051-a790-fc2de85e6c74",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-148020"
            }
          }
        }
      },
      "Provenance": {
        "title": "Provenance",
        "type": "object",
        "properties": {
          "clientFingerprint": {
            "type": "string",
            "description": "Fingerprint of the client making the request."
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the client."
          },
          "token": {
            "type": "string",
            "description": "Token associated with the request."
          }
        },
        "description": "Schema representing provenance information."
      },
      "Product": {
        "title": "Product",
        "type": "object",
        "properties": {
          "product": {
            "type": "string",
            "description": "Name of the product."
          },
          "payorId": {
            "type": "string",
            "description": "Identifier for the payor."
          },
          "maxCalls": {
            "type": "integer",
            "description": "Maximum number of calls allowed.",
            "format": "int32"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account."
          },
          "accessPeriod": {
            "$ref": "#/components/schemas/AccessPeriod"
          }
        },
        "description": "Schema representing a product associated with an access key."
      },
      "AccessPeriod": {
        "title": "Access Period",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the access period."
          },
          "startTime": {
            "type": "string",
            "description": "Start time of the access period."
          },
          "endTime": {
            "type": "string",
            "description": "End time of the access period."
          }
        },
        "description": "Schema representing the access period detail."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr_67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idempotency_key_abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "Application B"
          },
          "channel": {
            "description": "Information related to the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_abc"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device_1234"
          }
        },
        "description": "Details about the channel through which the request is made."
      },
      "ReplacePartnerByAccesskeyIdResponse_200": {
        "title": "Access Key Response",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of access key data objects.",
            "example": [
              {
                "receipt": {
                  "profile": 1,
                  "version": "STANDARD",
                  "id": "STANDARD",
                  "customerId": "CUST-637249",
                  "partnerId": "STANDARD",
                  "products": [
                    {
                      "product": "STANDARD",
                      "payorId": "STANDARD",
                      "maxCalls": 1,
                      "accountId": "ACC-867783",
                      "accessPeriod": {
                        "type": "STANDARD",
                        "startTime": "2026-08-11T12:00:00Z",
                        "endTime": "2026-08-11T12:00:00Z"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "STANDARD",
                    "ipAddress": "STANDARD",
                    "token": "STANDARD"
                  },
                  "timestamp": "2026-09-15T14:30:00Z"
                },
                "proof": {
                  "signature": "STANDARD",
                  "keyId": "STANDARD",
                  "timestamp": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccessKeyData"
            }
          }
        },
        "description": "Schema representing the response of an access key operation.",
        "example": {
          "data": [
            {
              "receipt": {
                "profile": 1,
                "version": "STANDARD",
                "id": "STANDARD",
                "customerId": "CUST-637249",
                "partnerId": "STANDARD",
                "products": [
                  {
                    "product": "STANDARD",
                    "payorId": "STANDARD",
                    "maxCalls": 1,
                    "accountId": "ACC-867783",
                    "accessPeriod": {
                      "type": "STANDARD",
                      "startTime": "2026-08-11T12:00:00Z",
                      "endTime": "2026-08-11T12:00:00Z"
                    }
                  }
                ],
                "provenance": {
                  "clientFingerprint": "STANDARD",
                  "ipAddress": "STANDARD",
                  "token": "STANDARD"
                },
                "timestamp": "2026-09-15T14:30:00Z"
              },
              "proof": {
                "signature": "STANDARD",
                "keyId": "STANDARD",
                "timestamp": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "90f683fc-6945-5d51-a64b-47a7a27c4044",
            "correlationId": "0b672fb2-622b-5ef3-8251-dbd349bdb83d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccessKeyData": {
        "title": "Access Key Data",
        "type": "object",
        "properties": {
          "receipt": {
            "$ref": "#/components/schemas/Receipt"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing an individual access key data object."
      },
      "Receipt": {
        "title": "Receipt",
        "type": "object",
        "properties": {
          "profile": {
            "type": "integer",
            "description": "Profile identifier.",
            "format": "int32"
          },
          "version": {
            "type": "string",
            "description": "Version of the access key."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the receipt."
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer."
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier for the partner."
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the access key.",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "provenance": {
            "$ref": "#/components/schemas/Provenance"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp of the receipt."
          }
        },
        "description": "Schema representing the receipt information associated with an access key."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "accesskeyId": {
        "name": "accesskeyId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request, which can be used for tracking or logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-third-party-access-key"
        },
        "example": "open-finance-api-update-third-party-access-key"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, providing context for any application-specific behaviors or responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, which requires an access token (in the form of a JSON Web Token) to be included in the Authorization header of requests. Ensure that the token is valid and has not expired for successful authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}