{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Payment Orders-spec",
    "description": "The Payment Order Retrieval API enables users to access detailed information about payment orders within the banking system. By utilizing this endpoint, developers can retrieve lists of payment orders, which are crucial for monitoring and managing transactions. Typical consumers include financial institutions, accounting software, and fintech applications that require insights into payment processing. This API facilitates enhanced visibility into payment orders, thereby supporting effective financial operations and decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-order": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment order details.",
        "description": "Fetches the details of a specific payment order including its status, amount, and associated metadata. This is useful for validating payment processing and ensuring accuracy in financial records.",
        "operationId": "listPaymentPaymentOrders",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment orders. It should include the necessary details defined in the schema to accurately process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentPaymentOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the payment order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentPaymentOrdersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentPaymentOrdersRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to payment order operations.",
        "example": "{}"
      },
      "ListPaymentPaymentOrdersResponse_200": {
        "title": "Payment Order Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of payment order objects.",
            "example": [
              {
                "paymentId": "PAY-546441",
                "debtorAccountId": "ACC-349808",
                "creditorAccountId": "ACC-704658",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "paymentRail": "STANDARD",
                "chargeBearer": "STANDARD",
                "purposeCode": "CODE-340",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentOrder"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for fetching payment orders.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-546441",
              "debtorAccountId": "ACC-349808",
              "creditorAccountId": "ACC-704658",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "paymentRail": "STANDARD",
              "chargeBearer": "STANDARD",
              "purposeCode": "CODE-340",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e8c3a827-2ec0-5f83-9379-869a4a911ac5",
            "correlationId": "75f8e337-89a0-56c0-8692-80a238c3f6ca",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentOrder": {
        "title": "Payment Order",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "string"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "string"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date the payment is requested to be executed.",
            "example": "string"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information to be sent to the creditor for the payment.",
            "example": "string"
          },
          "paymentRail": {
            "type": "string",
            "description": "The type of payment network used.",
            "example": "string"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the payment.",
            "example": "string"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code indicating the purpose of the payment.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment order.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment order was last updated.",
            "example": "string"
          }
        },
        "description": "Describes a single payment order."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount to be transferred.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Describes the instructed amount for a payment order."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about the pagination of the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-order-search-payment-order"
        },
        "example": "payment-order-search-payment-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}