{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Correspondent Bank Operation Status-spec",
    "description": "The Correspondent Bank Operation Status API provides access to the current status of various correspondent bank operations related to payment processing. It allows financial institutions and banks to efficiently monitor the state of transactions involving correspondent banks. Typical consumers include payment processing teams and compliance departments who rely on up-to-date operational insights to manage workflows and ensure timely communication with partners. This endpoint enables seamless tracking of operational statuses, which is essential for maintaining robust banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/correspondent-bank-operations/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Fetch the status of correspondent bank operations.",
        "description": "Retrieve the current status of correspondent bank operations to monitor their progress and outcome. This endpoint provides necessary information regarding the transactions carried out through correspondent banks.",
        "operationId": "listCorrespondentBankOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve the status of correspondent bank operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCorrespondentBankOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the status of correspondent bank operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCorrespondentBankOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCorrespondentBankOperationStatusRequest": {
        "type": "string",
        "description": "A status message regarding the operations of the correspondent bank.",
        "example": "{}"
      },
      "ListCorrespondentBankOperationStatusResponse_200": {
        "title": "Payment Operation Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-261354"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account.",
            "example": "ACC-673970"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account.",
            "example": "ACC-874442"
          },
          "instructedAmount": {
            "description": "The amount and currency specified for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information related to the remittance.",
            "example": "STANDARD"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier of the nostro account used in the operation.",
            "example": "ACC-639563"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlement.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Status of the relationship regarding this payment.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata pertaining to the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response details of a payment operation.",
        "example": {
          "paymentId": "PAY-261354",
          "debtorAccountId": "ACC-673970",
          "creditorAccountId": "ACC-874442",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "nostroAccountId": "ACC-639563",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45eae5eb-d103-5f4c-8dc0-e255180788fe",
            "correlationId": "61e50875-1ed3-5b0e-abff-7b82d9429c21",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money being instructed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Details of the amount and currency for the instructed payment."
      },
      "Metadata": {
        "title": "Metadata for Payment Operation",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment is being processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-operations-get-correspondent-bank-operations"
        },
        "example": "correspondent-bank-operations-get-correspondent-bank-operations"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where a JSON Web Token (JWT) needs to be provided in the request header. Clients must include the token in the format 'Bearer {token}' to authenticate themselves.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}