{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Disputes-v5-spec",
    "description": "MICROSERVICE-PROD-List P2m Disputes-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes": {
      "get": {
        "operationId": "listP2mDisputes",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mDisputesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mDisputesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mDisputesRequest": {
        "type": "string",
        "example": "{}"
      },
      "ListP2mDisputesResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "example": true
          },
          "links": {
            "type": "array",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "rel": {
                  "type": "string",
                  "example": "string"
                },
                "href": {
                  "type": "string",
                  "example": "string"
                },
                "method": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "items": {
            "type": "array",
            "example": [
              {
                "disputeId": "STANDARD",
                "paymentId": "PAY-430055",
                "merchantId": "MER-423289",
                "reason": "STANDARD",
                "disputedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "customerStatement": "STANDARD",
                "status": "ACTIVE",
                "responseDueAt": "2026-08-11T12:00:00Z",
                "evidence": [
                  {
                    "id": "STANDARD",
                    "fileName": "Northstar Banking Service",
                    "contentType": "STANDARD",
                    "fileSizeBytes": 1,
                    "fileUrl": "https://example.com/resource",
                    "sha256": "STANDARD",
                    "uploadedAt": "2026-08-11T12:00:00Z"
                  }
                ],
                "financialImpact": {
                  "amountDebitedFromMerchant": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "fees": [
                    {
                      "feeType": "STANDARD",
                      "amount": {
                        "currency": "USD",
                        "value": "STANDARD"
                      },
                      "bearer": "CUSTOMER"
                    }
                  ],
                  "reserveHeld": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "resolution": {
                  "outcome": "STANDARD",
                  "resolvedAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "disputeId": {
                  "type": "string",
                  "example": "string"
                },
                "paymentId": {
                  "type": "string",
                  "example": "string"
                },
                "merchantId": {
                  "type": "string",
                  "example": "string"
                },
                "reason": {
                  "type": "string",
                  "example": "string"
                },
                "disputedAmount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "value": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "customerStatement": {
                  "type": "string",
                  "example": "string"
                },
                "status": {
                  "type": "string",
                  "example": "string"
                },
                "responseDueAt": {
                  "type": "string",
                  "example": "string"
                },
                "evidence": {
                  "type": "array",
                  "example": "string",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "string"
                      },
                      "fileName": {
                        "type": "string",
                        "example": "string"
                      },
                      "contentType": {
                        "type": "string",
                        "example": "string"
                      },
                      "fileSizeBytes": {
                        "type": "integer",
                        "format": "int32",
                        "example": 0
                      },
                      "fileUrl": {
                        "type": "string",
                        "example": "string"
                      },
                      "sha256": {
                        "type": "string",
                        "example": "string"
                      },
                      "uploadedAt": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "financialImpact": {
                  "type": "object",
                  "properties": {
                    "amountDebitedFromMerchant": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    },
                    "fees": {
                      "type": "array",
                      "example": "string",
                      "items": {
                        "type": "object",
                        "properties": {
                          "feeType": {
                            "type": "string",
                            "example": "string"
                          },
                          "amount": {
                            "type": "object",
                            "properties": {
                              "currency": {
                                "type": "string",
                                "example": "string"
                              },
                              "value": {
                                "type": "string",
                                "example": "string"
                              }
                            },
                            "example": "string"
                          },
                          "bearer": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "reserveHeld": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                },
                "resolution": {
                  "type": "object",
                  "properties": {
                    "outcome": {
                      "type": "string",
                      "example": "string"
                    },
                    "resolvedAmount": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "8224c579-c055-561d-b7e8-a1cbc057b5fa",
              "correlationId": "9b142409-0cbc-50da-986d-9599c683f847",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "disputeId": "STANDARD",
              "paymentId": "PAY-430055",
              "merchantId": "MER-423289",
              "reason": "STANDARD",
              "disputedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "customerStatement": "STANDARD",
              "status": "ACTIVE",
              "responseDueAt": "2026-08-11T12:00:00Z",
              "evidence": [
                {
                  "id": "STANDARD",
                  "fileName": "Northstar Banking Service",
                  "contentType": "STANDARD",
                  "fileSizeBytes": 1,
                  "fileUrl": "https://example.com/resource",
                  "sha256": "STANDARD",
                  "uploadedAt": "2026-08-11T12:00:00Z"
                }
              ],
              "financialImpact": {
                "amountDebitedFromMerchant": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": [
                  {
                    "feeType": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "value": "STANDARD"
                    },
                    "bearer": "CUSTOMER"
                  }
                ],
                "reserveHeld": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "resolution": {
                "outcome": "STANDARD",
                "resolvedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "8224c579-c055-561d-b7e8-a1cbc057b5fa",
            "correlationId": "9b142409-0cbc-50da-986d-9599c683f847",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-disputes"
        },
        "example": "banking-p2m-openapi-list-disputes"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}