{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mergers and Acquisitions API",
    "description": "The Mergers and Acquisitions API provides essential access to data surrounding merger and acquisition activities within the corporate finance sector. This API enables users to retrieve detailed information on various M&A transactions, facilitating informed decision-making and strategic planning for investors and corporate stakeholders. Typical consumers include financial analysts, corporate development teams, and investment bankers who require insights into market trends and transactional data. With comprehensive endpoint capabilities, this API supports analysis, reporting, and research purposes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/mergers-acquisitions": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve information on mergers and acquisitions.",
        "description": "This endpoint allows users to fetch detailed information regarding mergers and acquisitions in the corporate finance sector. It provides insights into recent activities, trends, and key players involved in these transactions.",
        "operationId": "getMergersAcquisitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is required to fetch data related to mergers and acquisitions under corporate finance. It contains information that specifies the parameters necessary for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMergersAcquisitionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning details about mergers and acquisitions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMergersAcquisitionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMergersAcquisitionsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation related to mergers and acquisitions in corporate finance.",
        "example": "{}"
      },
      "GetMergersAcquisitionsResponse_200": {
        "title": "Mergers and Acquisitions Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of mergers and acquisitions items.",
            "example": [
              {
                "clientId": "STANDARD",
                "engagementId": "STANDARD",
                "transactionType": "STANDARD",
                "enterpriseValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "targetCloseDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MergerAcquisitionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations related to mergers and acquisitions, providing details of items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "clientId": "STANDARD",
              "engagementId": "STANDARD",
              "transactionType": "STANDARD",
              "enterpriseValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "targetCloseDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e29ba072-4807-5b35-892e-223b5117056d",
            "correlationId": "699fde13-f62f-5b51-9a46-7ac902973af3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MergerAcquisitionItem": {
        "title": "Merger Acquisition Item",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Identifier of the client involved in the transaction.",
            "example": "string"
          },
          "engagementId": {
            "type": "string",
            "description": "Identifier for the engagement related to the transaction.",
            "example": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of transaction: acquisition, merger, etc.",
            "example": "string"
          },
          "enterpriseValue": {
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target close date for the transaction.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "string"
          }
        },
        "description": "Details of a specific merger or acquisition.",
        "example": {}
      },
      "EnterpriseValue": {
        "title": "Enterprise Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the enterprise value is expressed.",
            "example": "string"
          }
        },
        "description": "Details about the enterprise value associated with a transaction."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about pagination for the results."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mergers-and-acquisitions-advisory-search-mergers-and-acquisitions-advisory"
        },
        "example": "mergers-and-acquisitions-advisory-search-mergers-and-acquisitions-advisory"
      },
      "X-Runtime-App": {
        "description": "Indicates the application version or runtime environment that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens. Clients can authenticate by including a JSON Web Token (JWT) in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}