{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List International Standing Order Payment Details-spec",
    "description": "The International Standing Order Payment Details API enables financial institutions to retrieve detailed information about international standing orders. This service provides essential payment details such as amounts, frequencies, and recipient information for each standing order. Typical consumers include bank applications and financial management platforms that require visibility into payment transactions. By integrating this API, organizations can enhance their customer service and ensure users are well-informed about their ongoing international payments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Standing Orders"
        ],
        "summary": "Retrieve payment details for a specific international standing order.",
        "description": "This endpoint allows you to fetch the detailed information associated with the payment of the specified international standing order identified by PAY-300045. It will return relevant payment details, including the status, amount, and date of the transaction.",
        "operationId": "listInternationalStandingOrderPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Retrieve the payment details for the specified international standing order identified by PAY-300045. This request body specifies the required data format for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListInternationalStandingOrderPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListInternationalStandingOrderPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListInternationalStandingOrderPaymentDetailsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on the payment details of international standing orders.",
        "example": "{}"
      },
      "ListInternationalStandingOrderPaymentDetailsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment transactions with their statuses.",
                "items": {
                  "$ref": "#/components/schemas/PaymentTransaction"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource.",
                    "example": "https://api.example.com/self"
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results.",
                    "example": "https://api.example.com/first"
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results.",
                    "example": "https://api.example.com/prev"
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results.",
                    "example": "https://api.example.com/next"
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results.",
                    "example": "https://api.example.com/last"
                  }
                },
                "description": "Pagination and identification links related to the response."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 5
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time when the first transaction is available.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time when the last transaction is available.",
                    "example": "2023-12-31T23:59:59Z"
                  }
                },
                "description": "Metadata regarding the response such as pagination details."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "resp-123456"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier for tracking related requests.",
                    "example": "corr-7891011"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "2023-10-01T10:00:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing occurred.",
                    "example": "us-east-1"
                  }
                },
                "description": "Additional metadata related to the response."
              }
            },
            "description": "Contains details about the payment transactions.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-475356",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Schema representing the response structure for payment details in international standing orders.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-475356",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "61e20884-ae7b-5c88-906e-c0d81abe55f9",
            "correlationId": "31c49fee-df6c-56cb-abb3-619b5c8bf911",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentTransaction": {
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "txn-123456"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction.",
            "example": "Completed"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the transaction status was last updated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "The local instrument used for the payment transaction.",
                "example": "ACH"
              },
              "Status": {
                "type": "string",
                "description": "Status of the payment transaction in more detail.",
                "example": "Processed"
              },
              "StatusReason": {
                "type": "string",
                "description": "Reason for the current status of the payment transaction.",
                "example": "Success"
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Detailed description of the reason for the current status.",
                "example": "The transaction has been successfully processed."
              }
            },
            "description": "Detailed information about the status of the transaction."
          }
        },
        "description": "Details of a payment transaction including its status and related information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint for tracking and monitoring purposes.",
          "example": "payment-initiation-openapi-get-international-standing-order-details"
        },
        "example": "payment-initiation-openapi-get-international-standing-order-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that handled the request, useful for debugging.",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, specifically utilizing JWT (JSON Web Tokens) for secure token-based authentication. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}