{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Institution Institution By Institution Id-v5-spec",
    "description": "The Retrieve Institution Details API allows users to access comprehensive information about a specific institution using its unique identifier. This endpoint is crucial for applications requiring detailed institutional data for decision-making, reporting, or user information purposes. Typical consumers of this API include educational platforms, administrative systems, and any service needing to incorporate institutional details into their offerings. By leveraging this API, developers can provide enhanced user experiences through relevant and accurate institutional data retrieval.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/{institutionId}": {
      "get": {
        "tags": [
          "Institutions"
        ],
        "summary": "Retrieve institution details",
        "description": "This endpoint allows you to fetch detailed information about a specific institution using its unique identifier. It provides all relevant data associated with the institution, including name, location, and contact information, which can be useful for various applications and integrations.",
        "operationId": "getInstitutionInstitutionByInstitutionId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/institutionId"
          }
        ],
        "requestBody": {
          "description": "This request body is required to retrieve detailed information about the institution identified by RES-100045. It is structured to include parameters necessary for the operation, allowing clients to specify the format and any additional filters or options they may want to apply to the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionInstitutionByInstitutionIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the institution details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionInstitutionByInstitutionIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionInstitutionByInstitutionIdRequest": {
        "type": "string",
        "description": "A placeholder for the request body of the GET operation concerning institutions.",
        "example": "{}"
      },
      "GetInstitutionInstitutionByInstitutionIdResponse_200": {
        "title": "Institution Response",
        "type": "object",
        "properties": {
          "institution": {
            "description": "Details of the institution.",
            "$ref": "#/components/schemas/Institution"
          },
          "metadata": {
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of an institution query, containing institution details and metadata.",
        "example": {
          "institution": {
            "id": 1,
            "name": "Northstar Banking Service",
            "transAgg": true,
            "ach": true,
            "stateAgg": true,
            "voi": true,
            "voa": true,
            "aha": true,
            "availBalance": true,
            "accountOwner": true,
            "studentLoanData": true,
            "loanPaymentDetails": true,
            "displayName": "Northstar Banking Service",
            "liabilityData": true,
            "billPayData": true,
            "accountTypeDescription": "STANDARD",
            "phone": "+1-212-555-0147",
            "urlHomeApp": "STANDARD",
            "urlLogonApp": "STANDARD",
            "oauthEnabled": true,
            "urlForgotPassword": "STANDARD",
            "urlOnlineRegistration": "STANDARD",
            "class": "STANDARD",
            "specialText": "STANDARD",
            "timeZone": "America/New_York",
            "specialInstructions": [
              "STANDARD"
            ],
            "title": "Banking operation completed",
            "address": {
              "city": "New York",
              "state": "STANDARD",
              "country": "STANDARD",
              "postalCode": "10001",
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200"
            },
            "currency": "USD",
            "email": "olivia.bennett@northstar.example"
          },
          "metadata": {
            "responseId": "56518af5-2744-51c4-97fe-d3d7bdb830be",
            "correlationId": "4b053ec3-75be-5ca1-bfa9-7943b2d5f7a9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "Name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH services are available.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if voice authentication is supported.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if voice authorization is supported.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if account history aggregation is enabled.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance can be checked.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account ownership can be verified.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is available.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are accessible.",
            "example": false
          },
          "displayName": {
            "type": "string",
            "description": "Display name for the institution.",
            "example": "string"
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the institution's account types.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the institution.",
            "example": "string"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL to the institution's home application.",
            "example": "string"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL to the institution's login application.",
            "example": "string"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the institution's forgot password functionality.",
            "example": "string"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for online registration at the institution.",
            "example": "string"
          },
          "class": {
            "type": "string",
            "description": "Class or type of the institution.",
            "example": "string"
          },
          "specialText": {
            "type": "string",
            "description": "Special text or notes related to the institution.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the institution's location.",
            "example": "string"
          },
          "specialInstructions": {
            "type": "array",
            "description": "List of special instructions related to the institution.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string"
            }
          },
          "title": {
            "type": "string",
            "description": "Formal title of the institution.",
            "example": "string"
          },
          "address": {
            "description": "Physical address of the institution.",
            "$ref": "#/components/schemas/Address"
          },
          "currency": {
            "type": "string",
            "description": "Currency used by the institution.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email contact for the institution.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of an institution."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata about the response."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City where the institution is located.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the institution is located.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country where the institution is located.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the institution's address.",
            "example": "string"
          },
          "line1": {
            "type": "string",
            "description": "Primary line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Secondary line of the address (optional).",
            "example": "string"
          }
        },
        "description": "Schema representing the address of an institution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "institutionId": {
        "name": "institutionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint request, useful for tracing and reference.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institution"
        },
        "example": "open-finance-api-get-institution"
      },
      "x-runtime-app": {
        "description": "The name of the application that generated the response, helping to identify the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a Bearer token, typically a JSON Web Token (JWT), to securely access resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}