{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Settlement Lines-spec",
    "description": "The Settlement Lines Retrieval API provides access to detailed information about settlement lines associated with a specific settlement. By utilizing this endpoint, users can obtain a comprehensive list of lines indicating various transaction details linked to a settlement identified by its unique ID. This API is particularly useful for financial analysts and reconciliation teams looking to audit or review settlement transactions. It enables efficient tracking and reporting of financial activities within the payment processing ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/lines": {
      "get": {
        "tags": [
          "Settlements"
        ],
        "summary": "Retrieve lines for a specific settlement.",
        "description": "This endpoint allows users to retrieve the associated lines for the specified settlement identified by its unique ID (RES-100045). The response includes detailed information about each line in the settlement.",
        "operationId": "listSettlementLines",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to retrieve the lines associated with the specified settlement. The provided JSON body should conform to the defined schema to ensure accurate processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListSettlementLinesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested settlement lines.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSettlementLinesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListSettlementLinesRequest": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for retrieving settlement lines operations.",
        "example": "{}"
      },
      "ListSettlementLinesResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of links related to pagination or resource access.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "An array of settlement line items.",
            "example": [
              {
                "lineId": "STANDARD",
                "type": "STANDARD",
                "referenceId": "STANDARD",
                "grossAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "feeAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "occurredAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementLineItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for fetching settlement lines.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "lineId": "STANDARD",
              "type": "STANDARD",
              "referenceId": "STANDARD",
              "grossAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "feeAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "taxAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "netAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "occurredAt": "2026-08-11T12:00:00Z"
            }
          ],
          "metadata": {
            "responseId": "af357c42-d49d-5d3e-9f85-9f5e19ae0650",
            "correlationId": "b6184dee-5d45-534a-a2bc-12479e825945",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "self"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "https://api.example.com/resource"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to be used with the link.",
            "example": "GET"
          }
        },
        "description": "Schema representing a hyperlink with a relation and method."
      },
      "SettlementLineItem": {
        "title": "Settlement Line Item",
        "type": "object",
        "properties": {
          "lineId": {
            "type": "string",
            "description": "Unique identifier for the line item.",
            "example": "line-001"
          },
          "type": {
            "type": "string",
            "description": "Type of the line item.",
            "example": "debit"
          },
          "referenceId": {
            "type": "string",
            "description": "Reference identifier associated with the line item.",
            "example": "ref-001"
          },
          "grossAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "feeAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "taxAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "occurredAt": {
            "type": "string",
            "description": "Timestamp when the line item occurred.",
            "example": "2023-10-10T10:00:00Z"
          }
        },
        "description": "Schema representing an individual settlement line item."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The monetary value represented as a string.",
            "example": "100.00"
          }
        },
        "description": "Schema representing a monetary amount and its currency."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlement-lines"
        },
        "example": "banking-p2m-openapi-list-settlement-lines"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication as specified in RFC 6750. A valid JWT (JSON Web Token) is required for access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}