{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Channel Specific By Param1-spec",
    "description": "The Channel-Specific Advanced Voice Services API allows users to retrieve tailored information about advanced voice services based on a specific parameter. This endpoint is primarily used to access detailed insights for banking services, enabling financial institutions to enhance their customer engagement strategies. Typical consumers of this API include application developers and business analysts working in the banking sector. Use cases include data retrieval for reporting, analysis, and improving service delivery across communication channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-operations/{param1}": {
      "get": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Retrieve advanced voice service operations by resource ID.",
        "description": "This endpoint allows you to fetch the specific advanced voice service operations associated with the provided resource ID, enabling you to obtain detailed information about the operations available for that resource.",
        "operationId": "getChannelSpecificByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters and configurations for retrieving advanced voice services operations details specific to a channel. Ensure that all required fields are filled accurately to get the desired response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificByParam1Request": {
        "type": "string",
        "description": "A request body for advanced voice services operations, designed for the specific operation identified by RES-100045.",
        "example": "{}"
      },
      "GetChannelSpecificByParam1Response_200": {
        "title": "Advanced Voice Services Operation Response",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "Unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "Identifier for the IVR flow used in the voice platform.",
            "example": "STANDARD"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice platform.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A language supported by the voice platform.",
              "example": "string"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "The maximum number of concurrent calls that the voice platform can handle.",
            "format": "int32",
            "example": 1
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region where the voice platform is deployed.",
            "example": "US-EAST-1"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the call recording feature.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the voice platform configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the voice platform configuration.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata regarding the voice platform response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the advanced voice services operations. This schema outlines the details related to voice platform implementation and operational metadata.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "supportedLanguages": [
            "STANDARD"
          ],
          "concurrentCallCapacity": 1,
          "regionCode": "US-EAST-1",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "62ea8ac4-5d76-5c6a-998c-0c5d09706914",
            "correlationId": "f1f959d4-600d-5a65-a7cf-25b0b2290972",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RID123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "CID123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east"
          }
        },
        "description": "Metadata associated with the voice platform operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint in the request, providing insight into which service instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
        },
        "example": "advanced-voice-services-operations-get-advanced-voice-services-operations"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime environment that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method utilizing JSON Web Tokens (JWT). Clients must provide a valid token in the 'Authorization' header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}