{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get P2m By Dispute Id-spec",
    "description": "This API provides the ability to retrieve details of P2M transactions associated with a specific dispute identified by its unique ID. It enables businesses to monitor transaction statuses and resolve disputes effectively. Typical consumers of this endpoint include customer support teams, finance departments, and dispute resolution specialists who require transaction information to assist customers or finalize internal processes. By leveraging this API, organizations can enhance transparency and improve resolution efficiency for payment-related disputes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}": {
      "get": {
        "tags": [],
        "summary": "Retrieve a specific dispute by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific dispute using its unique identifier. The response will include all relevant details pertaining to the dispute, which can be utilized for further processing or resolution.",
        "operationId": "getP2mByDisputeId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/disputeId"
          }
        ],
        "requestBody": {
          "description": "Retrieve information about a specific dispute identified by RES-100045. The request body should adhere to the structure defined by the schema to ensure proper handling of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetP2mByDisputeIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the dispute details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetP2mByDisputeIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetP2mByDisputeIdRequest": {
        "title": "Request Body for Disputes Operations",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to disputes.",
        "example": "{}"
      },
      "GetP2mByDisputeIdResponse_200": {
        "title": "Dispute Response",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the associated payment.",
            "example": "PAY-430661"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-775790"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Deadline for merchant response.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence items submitted for the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "financialImpact": {
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a dispute inquiry.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-430661",
          "merchantId": "MER-775790",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "27cabf33-7e9a-5201-9cb2-1410fa96b79c",
            "correlationId": "d240ac5b-09bf-55da-81e4-3efbf071ba0e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisputedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the disputed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the disputed amount.",
            "example": "100.00"
          }
        },
        "description": "Details of the amount disputed."
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence item.",
            "example": "EVIDENCE12345"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file submitted as evidence.",
            "example": "transaction_receipt.jpg"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the file submitted as evidence.",
            "example": "image/jpeg"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to access the evidence file.",
            "example": "https://example.com/evidence/EVIDENCE12345"
          },
          "sha256": {
            "type": "string",
            "description": "SHA256 hash of the file for integrity verification.",
            "example": "abcd1234..."
          },
          "uploadedAt": {
            "type": "string",
            "description": "Datetime when the evidence was uploaded.",
            "example": "2023-11-01T12:00:00Z"
          }
        },
        "description": "Details of evidence provided for the dispute."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees applicable to the dispute.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "$ref": "#/components/schemas/DisputedAmount"
          }
        },
        "description": "Financial impact associated with the dispute."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee charged.",
            "example": "Processing Fee"
          },
          "amount": {
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who is responsible for the fee.",
            "example": "Merchant"
          }
        },
        "description": "Details about a fee charged related to the dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "Outcome of the dispute resolution.",
            "example": "Refund processed"
          },
          "resolvedAmount": {
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the resolution outcome.",
            "example": "Customer was right."
          },
          "resolvedAt": {
            "type": "string",
            "description": "Datetime when the dispute was resolved.",
            "example": "2023-11-15T12:00:00Z"
          }
        },
        "description": "Resolution details of the dispute."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Datetime when the dispute was created.",
            "example": "2023-11-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or process that created the dispute.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Datetime when the dispute was last updated.",
            "example": "2023-11-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or process that last updated the dispute.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the dispute record.",
            "format": "int32",
            "example": 2
          }
        },
        "description": "Audit details concerning the dispute process."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the dispute response.",
            "example": "RESPONSE12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORRELATION12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Datetime when the response was generated.",
            "example": "2023-11-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the dispute took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the dispute response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "disputeId": {
        "name": "disputeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-dispute"
        },
        "example": "banking-p2m-openapi-get-dispute"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A valid JWT (JSON Web Token) must be included in the authorization header of the request, prefixed with the word 'Bearer'. This ensures secure access to the API by authenticating users and providing a means to validate their identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}