{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Retrieval API",
    "description": "The Payment Retrieval API enables users to obtain detailed information about specific payments using a unique payment ID. This service is crucial for businesses looking to track and manage payment transactions effectively. Developers can integrate this API to support features such as transaction history checks and payment status inquiries. Typical consumers include financial applications and e-commerce platforms that require real-time payment data for enhanced user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment details by ID",
        "description": "This endpoint allows you to fetch the details of a specific payment using its unique identifier. It provides comprehensive information about the payment, including status, amount, and associated metadata.",
        "operationId": "getPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment information for the specified payment ID (PAY-300045). Ensure that the payment ID is valid and corresponds to an existing record in the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentByIdRequest": {
        "type": "string",
        "description": "A string representing the request body for the operation.",
        "example": "{}"
      },
      "GetPaymentByIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-400101"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "5f0c6472-88de-5cd4-9262-7aa471e447e1"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-610408"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet processing the payment.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used in the transaction.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant order.",
            "example": "ORD-547794"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment was made.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details of the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details of payment amounts including requested, authorized, captured, etc.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional metadata about the payment transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payment operation.",
        "example": {
          "paymentId": "PAY-400101",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "5f0c6472-88de-5cd4-9262-7aa471e447e1",
          "merchantId": "MER-610408",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-547794",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-850",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "39113e93-4c34-51ec-ad6c-20fc196c66fc",
            "correlationId": "5454bf85-46aa-54cd-8cf0-711ec971f4ce",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, bank transfer).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method for security.",
            "example": "token123456"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer.",
            "example": "BANK123"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet if applicable.",
            "example": "PayPal"
          }
        },
        "description": "Schema representing the payment method details."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust12345"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk classification of the customer.",
            "example": "high"
          }
        },
        "description": "Schema representing customer information."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount that was originally requested for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "description": "Amount that was authorized for the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "description": "Amount that was captured from the payment.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "description": "Amount that was refunded to the customer.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "description": "Amount that was reversed in the payment process.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "tip": {
            "description": "Tip added to the payment, if any.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/FeeDetail"
            }
          },
          "netToMerchant": {
            "description": "Amount that is net to the merchant after fees.",
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Contains various amount details related to the payment."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Numeric value representing the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing amount details including currency and value."
      },
      "FeeDetail": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee charged (e.g., processing fee, service fee).",
            "example": "processing"
          },
          "amount": {
            "description": "Amount charged as the fee.",
            "$ref": "#/components/schemas/AmountDetail"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the fee (e.g., merchant or customer).",
            "example": "merchant"
          }
        },
        "description": "Schema representing fee details associated with a payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "corr12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "US"
          }
        },
        "description": "Schema holding additional metadata for the payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "paymentId": {
        "name": "paymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-payment"
        },
        "example": "banking-p2m-openapi-get-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a JSON Web Token (JWT) to gain access to protected resources. Please ensure that the token is included in the `Authorization` header of the requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}