{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Treasury Corporate Treasurys-spec",
    "description": "The Corporate Treasury Overview API provides access to a comprehensive list of corporate treasury products and services. This endpoint allows financial institutions and corporate clients to retrieve detailed information about available treasury solutions tailored to manage liquidity, investment, and risk. Developers can integrate this API into financial applications to enhance decision-making and strategy formulation for treasury management. Typical consumers include corporate finance teams, treasury managers, and banking partners seeking to optimize their treasury operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/corporate-treasury": {
      "get": {
        "tags": [
          "Treasury Management"
        ],
        "summary": "Retrieve corporate treasury information.",
        "description": "This endpoint allows you to retrieve detailed information about the corporate treasury of a business, including financial data, reports, and management details.",
        "operationId": "listTreasuryCorporateTreasurys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve corporate treasury details. Ensure that all required fields are properly populated in accordance with the schema definition.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListTreasuryCorporateTreasurysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved treasury data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListTreasuryCorporateTreasurysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListTreasuryCorporateTreasurysRequest": {
        "title": "Corporate Treasury Operations GET Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Corporate Treasury Operations GET API call, expected to be a string.",
        "example": "{}"
      },
      "ListTreasuryCorporateTreasurysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A collection of portfolio items.",
            "example": [
              {
                "portfolioId": "PORT-868222",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-559913",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PortfolioItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Corporate Treasury Operations GET request. It includes a list of items along with pagination and metadata information.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-868222",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-559913",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e5375eaa-8a91-5a73-a7bb-61013b938635",
            "correlationId": "60a74368-7e59-57e0-aaca-6d26e73bec15",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PortfolioItem": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio."
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction."
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the instrument matures."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The last time the record was updated."
          }
        },
        "description": "Schema representing an individual portfolio item.",
        "example": {
          "portfolioId": "portfolio_123",
          "instrumentId": "instrument_456",
          "counterpartyId": "counterparty_789",
          "notionalAmount": {
            "amount": 10000.0,
            "currency": "USD"
          },
          "maturityDate": "2025-12-31",
          "recordStatus": "active",
          "updatedAt": "2023-10-05T12:00:00Z"
        }
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the notional amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the notional amount (e.g., USD, EUR)."
          }
        },
        "description": "Schema representing a notional amount in a specific currency.",
        "example": {
          "amount": 10000.0,
          "currency": "USD"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema for pagination details.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Schema containing metadata about the response.",
        "example": {
          "responseId": "response_123",
          "correlationId": "correlation_456",
          "generatedAt": "2023-10-05T12:00:00Z",
          "processingRegion": "us-west-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-treasury-search-corporate-treasury"
        },
        "example": "corporate-treasury-search-corporate-treasury"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses a bearer token in the HTTP Authorization header, typically in JSON Web Token (JWT) format. This allows seamless authorization and access control for secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}