{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp International Standing Order Consent-spec",
    "description": "The International Standing Order Consent API enables businesses to facilitate the creation of consents for international standing orders through Payment Initiation Service Providers (PISP). By leveraging this API, clients can grant permission for recurring international payments efficiently and securely. This API is particularly useful for financial institutions and businesses engaged in global transactions. Typical use cases include handling international payroll, supplier payments, and subscription services across borders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-order-consents": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Create a new international standing order consent.",
        "description": "This endpoint allows you to create a new consent for an international standing order. You will need to provide the necessary details for the standing order including the amount, frequency, and recipient's details. Ensure that all required fields in the request body are filled out to avoid errors.",
        "operationId": "createPispInternationalStandingOrderConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create an international standing order consent. It must include all required parameters defined in the schema, which outlines how to structure the request and the necessary information needed for processing the standing order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispInternationalStandingOrderConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the standing order consent has been established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispInternationalStandingOrderConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispInternationalStandingOrderConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Permission": {
                "type": "string",
                "description": "Permission status for the operation.",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates the reading permission for refund account.",
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "description": "Structured remittance information.",
                        "example": [
                          "exampleString1",
                          "exampleString2"
                        ],
                        "items": {
                          "$ref": "#/components/schemas/StructuredRemittanceInformation"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "description": "Unstructured remittance information.",
                        "example": [
                          "exampleString1",
                          "exampleString2"
                        ],
                        "items": {
                          "type": "string",
                          "example": "exampleString"
                        }
                      }
                    },
                    "description": "Information related to the remittance.",
                    "example": "exampleRemittanceInfo"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments planned.",
                    "example": "string"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "description": "Extended purpose for the transfer.",
                    "example": "string"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "description": "Party responsible for payment of charges.",
                    "example": "string"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "description": "Currency in which the transfer is made.",
                    "example": "string"
                  }
                },
                "description": "Details for the initiation of the payment.",
                "example": "exampleInitiation"
              }
            },
            "description": "Contains the details of the standing order request.",
            "example": {
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD"
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking multiple related requests.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure that a request is idempotent.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-10T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "System from which the request originated.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application initiating the request.",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Identifier for the communication channel.",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of the communication channel (e.g., API, Mobile).",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier for the device making the request.",
                    "example": "string"
                  }
                },
                "description": "Information about the channel used for the request.",
                "example": "exampleChannel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "ad3fd3f0-512a-5d39-983e-5bf1a3f892b5",
              "correlationId": "722c68c3-6634-5659-ac2f-239ee715a8d2",
              "idempotencyKey": "d192e6c1-91ec-5752-8826-2b4596e6f425",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-672037"
              }
            }
          }
        },
        "description": "Schema representing the request body for international standing order consent operation.",
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD"
            }
          },
          "requestContext": {
            "requestId": "ad3fd3f0-512a-5d39-983e-5bf1a3f892b5",
            "correlationId": "722c68c3-6634-5659-ac2f-239ee715a8d2",
            "idempotencyKey": "d192e6c1-91ec-5752-8826-2b4596e6f425",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-672037"
            }
          }
        }
      },
      "StructuredRemittanceInformation": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Code associated with the referred document.",
                  "example": "exampleCode"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the referred document.",
                  "example": "exampleIssuer"
                },
                "Number": {
                  "type": "string",
                  "description": "Number of the referred document.",
                  "example": "exampleNumber"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "Date related to the referred document.",
                  "example": "2023-10-10"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Detailed line items related to the referred document.",
                  "items": {
                    "type": "string",
                    "example": "exampleLineDetail"
                  }
                }
              },
              "example": "exampleReferredDocument"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount associated with the referred document.",
            "example": "exampleAmount"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Code for the creditor reference.",
                "example": "exampleCreditorCode"
              },
              "Issuer": {
                "type": "string",
                "description": "Issuer of the creditor reference.",
                "example": "exampleCreditorIssuer"
              },
              "Reference": {
                "type": "string",
                "description": "Unique reference associated with the creditor.",
                "example": "exampleReference"
              }
            },
            "description": "Information related to the creditor reference.",
            "example": "exampleCreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Details of the invoicer.",
            "example": "exampleInvoicer"
          },
          "Invoicee": {
            "type": "string",
            "description": "Details of the invoicee.",
            "example": "exampleInvoicee"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Details related to tax remittance.",
            "example": "exampleTaxRemittance"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional information regarding the remittance.",
            "items": {
              "type": "string",
              "example": "exampleAdditionalInfo"
            }
          }
        },
        "description": "Structured remittance information including various document references."
      },
      "CreatePispInternationalStandingOrderConsentResponse_201": {
        "title": "International Standing Order Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "The unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the consent was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "The current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons related to the status of the consent.",
                "example": [
                  {
                    "code": "SR001",
                    "description": "The consent is active.",
                    "Path": "/path/to/resource"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetail"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time of the last status update.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Permission": {
                "type": "string",
                "description": "The permission granted for the consent.",
                "example": "ALLOW"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates if the refund account can be read.",
                "example": "YES"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The cutoff date and time for the consent.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "example": [
                  {
                    "ChargeBearer": "SHARED",
                    "Type": "SERVICE_FEE",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetail"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/InitiationDetail"
              },
              "NumberOfPayments": {
                "type": "string",
                "description": "The total number of payments associated with this consent.",
                "example": "10"
              },
              "ExtendedPurpose": {
                "type": "string",
                "description": "Additional details for the purpose of the consent.",
                "example": "Regular international transfers"
              },
              "ChargeBearer": {
                "type": "string",
                "description": "Indicates who bears the charges for the transaction.",
                "example": "SHARED"
              },
              "CurrencyOfTransfer": {
                "type": "string",
                "description": "The currency used for the transfer.",
                "example": "USD"
              },
              "DestinationCountryCode": {
                "type": "string",
                "description": "The country code for the destination of the transfer.",
                "example": "US"
              },
              "InstructedAmount": {
                "$ref": "#/components/schemas/AmountDetail"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "response-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier for correlating logs for this request.",
                "example": "correlation-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the request was processed.",
                "example": "US-East"
              }
            },
            "example": {
              "responseId": "7ff37080-738b-55ca-89fc-b85c970e97c4",
              "correlationId": "722c68c3-6634-5659-ac2f-239ee715a8d2",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "The response schema for creating an international standing order consent request.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "7ff37080-738b-55ca-89fc-b85c970e97c4",
            "correlationId": "722c68c3-6634-5659-ac2f-239ee715a8d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A short code representing the reason.",
            "example": "SR001"
          },
          "description": {
            "type": "string",
            "description": "A description providing details about the reason.",
            "example": "The consent is active."
          },
          "Path": {
            "type": "string",
            "description": "The path to the associated resource or documentation.",
            "example": "/path/to/resource"
          }
        },
        "description": "Detailed information about the reason for a specific status."
      },
      "ChargeDetail": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for this charge.",
            "example": "SHARED"
          },
          "Type": {
            "type": "string",
            "description": "The type of charge.",
            "example": "SERVICE_FEE"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Details regarding a specific charge associated with the consent."
      },
      "InitiationDetail": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "type": "object",
            "properties": {
              "Structured": {
                "type": "array",
                "description": "A structured array containing remittance information.",
                "items": {
                  "$ref": "#/components/schemas/StructuredRemittanceDetail"
                }
              },
              "Unstructured": {
                "type": "array",
                "description": "An array of unstructured remittance information.",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Details regarding the initiation of the standing order."
      },
      "StructuredRemittanceDetail": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Array of documents referred to in the remittance.",
            "items": {
              "$ref": "#/components/schemas/ReferredDocumentDetail"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "The amount associated with the referred document.",
            "example": "100.00"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "The creditor reference code.",
                "example": "INV123"
              },
              "Issuer": {
                "type": "string",
                "description": "The issuer of the creditor reference.",
                "example": "Company XYZ"
              },
              "Reference": {
                "type": "string",
                "description": "The reference number for the creditor.",
                "example": "REF123456"
              }
            },
            "description": "Information about the creditor reference."
          },
          "Invoicer": {
            "type": "string",
            "description": "The invoicer's name or identifier.",
            "example": "Company ABC"
          },
          "Invoicee": {
            "type": "string",
            "description": "The invoicee's name or identifier.",
            "example": "Client XYZ"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Information on tax remittance.",
            "example": "VAT"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional information related to remittance.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Structured details for remittance information."
      },
      "ReferredDocumentDetail": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The unique code of the referred document.",
            "example": "DOC001"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the referred document.",
            "example": "Issuer Inc."
          },
          "Number": {
            "type": "string",
            "description": "The specific number associated with the referred document.",
            "example": "123456789"
          },
          "RelatedDate": {
            "type": "string",
            "description": "A date related to the referred document.",
            "example": "2023-10-01"
          },
          "LineDetails": {
            "type": "array",
            "description": "Line details of the referred document.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Detailed information about a referred document."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          }
        },
        "description": "Information about an amount, including currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This helps in tracing and debugging specific requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-international-standing-order-consent"
        },
        "example": "payment-initiation-openapi-create-international-standing-order-consent"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application that handled the request, useful for monitoring and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token formatted as JSON Web Token (JWT). This method allows secure transmission of information between parties, ensuring authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}