{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace P2m Refund By Refund Id-v5-spec",
    "description": "MICROSERVICE-PROD-Replace P2m Refund By Refund Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}": {
      "put": {
        "operationId": "replaceP2mRefundByRefundId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/refundId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceP2mRefundByRefundIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceP2mRefundByRefundIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceP2mRefundByRefundIdRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "example": "PAY-717521"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "reasonCode": {
            "type": "string",
            "example": "CODE-121"
          },
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "50efa904-5d43-5efd-ad0a-1e5b12081fe0",
              "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
              "idempotencyKey": "d647f996-c8d0-5b87-a1a3-7baf906d5339",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-629161"
              }
            }
          }
        },
        "example": {
          "paymentId": "PAY-717521",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-121",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "requestContext": {
            "requestId": "50efa904-5d43-5efd-ad0a-1e5b12081fe0",
            "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
            "idempotencyKey": "d647f996-c8d0-5b87-a1a3-7baf906d5339",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-629161"
            }
          }
        }
      },
      "ReplaceP2mRefundByRefundIdResponse_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "example": "PAY-481731"
          },
          "merchantId": {
            "type": "string",
            "example": "MER-545624"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "reasonCode": {
            "type": "string",
            "example": "CODE-479"
          },
          "reason": {
            "type": "string",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "failure": {
            "type": "object",
            "properties": {
              "category": {
                "type": "string",
                "example": "string"
              },
              "code": {
                "type": "string",
                "example": "string"
              },
              "message": {
                "type": "string",
                "example": "string"
              },
              "declineCode": {
                "type": "string",
                "example": "string"
              },
              "retryable": {
                "type": "boolean",
                "example": false
              }
            },
            "example": {
              "category": "STANDARD",
              "code": "SUCCESS",
              "message": "STANDARD",
              "declineCode": "CODE-308",
              "retryable": true
            }
          },
          "processorReference": {
            "type": "object",
            "properties": {
              "network": {
                "type": "string",
                "example": "string"
              },
              "schemeTransactionId": {
                "type": "string",
                "example": "string"
              },
              "acquirerReferenceNumber": {
                "type": "string",
                "example": "string"
              },
              "issuerReference": {
                "type": "string",
                "example": "string"
              },
              "retrievalReferenceNumber": {
                "type": "string",
                "example": "string"
              },
              "approvalCode": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "network": "STANDARD",
              "schemeTransactionId": "TXN-101263",
              "acquirerReferenceNumber": "STANDARD",
              "issuerReference": "STANDARD",
              "retrievalReferenceNumber": "STANDARD",
              "approvalCode": "CODE-431"
            }
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "36527dc5-7e9a-5ba5-8ca1-2d8165499129",
              "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-481731",
          "merchantId": "MER-545624",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-479",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-308",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-101263",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-431"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "36527dc5-7e9a-5ba5-8ca1-2d8165499129",
            "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "refundId": {
        "name": "refundId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-refund"
        },
        "example": "banking-p2m-openapi-replace-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}