{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Actions Compliance API",
    "description": "The Operational Actions Compliance API facilitates the management of compliance-related operational actions within the banking sector. This endpoint allows financial institutions to execute and manage specific compliance tasks critical to adhering to regulatory standards. Typical use cases include the submission of compliance reports, audit logs, and operational guidelines. Designed for compliance officers and banking administrators, this API streamlines the alignment of operational actions with established compliance frameworks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/guideline-compliance/operational-actions": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "Create a new operational action for guideline compliance.",
        "description": "This operation allows users to create a new operational action related to compliance guidelines. It expects the necessary details of the action in the request body and processes it to ensure alignment with compliance standards.",
        "operationId": "createGuidelineComplianceOperationalAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit operational actions related to guideline compliance. It should contain details necessary for processing the operational actions in accordance with the compliance requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGuidelineComplianceOperationalActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGuidelineComplianceOperationalActionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateGuidelineComplianceOperationalActionRequest": {
        "title": "Operational Actions Request Body",
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action being requested.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the action request.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the action.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the action was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Detailed context about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for creating operational actions.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "8c4cab08-e618-57a8-b6ce-bf4967047df9",
            "correlationId": "c7e7d580-dc9d-5c94-a420-0d5d724e8d41",
            "idempotencyKey": "b7400584-d2fb-57b8-8c77-9bf009587e21",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-550182"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "cor-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request can be safely retried without causing duplicates.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request context was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "sourceSystemName"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "sourceAppName"
          },
          "channel": {
            "description": "Information about the channel used to send the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema describes the context for the request including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., API, web, mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-001"
          }
        },
        "description": "This schema provides details about the channel used for the request."
      },
      "CreateGuidelineComplianceOperationalActionResponse_202": {
        "title": "Operational Actions Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference identifier for the action.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action being processed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action processing.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing of the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for operational actions in the compliance guideline operations.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "9d6032a6-5371-56f6-a588-65c5cbf4f1f2",
            "correlationId": "c7e7d580-dc9d-5c94-a420-0d5d724e8d41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate different requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema holds various metadata information related to the operational action."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "guideline-compliance-create-guideline-compliance-operational-action"
        },
        "example": "guideline-compliance-create-guideline-compliance-operational-action"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization using Bearer tokens. This method allows clients to authenticate using JSON Web Tokens (JWT). The client must include a valid JWT in the Authorization header for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}