{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Aggregation Customers-spec",
    "description": "The Customer Aggregation List API allows users to retrieve comprehensive data about customers aggregated across various sources. This endpoint serves as a powerful tool for businesses needing to analyze customer information for insights and reporting. Typical consumers include data analysts and marketing teams looking to optimize customer engagement strategies. By accessing this API, users can efficiently collate customer records and enhance their decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Fetch a list of customers",
        "description": "This endpoint allows developers to retrieve a comprehensive list of customers from the system. You can use various query parameters to filter and sort the results as needed.",
        "operationId": "listAggregationCustomers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing criteria for retrieving customer information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAggregationCustomersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of customers.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAggregationCustomersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAggregationCustomersRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on customers. It is expected to be a string representation of the request body.",
        "example": "{}"
      },
      "ListAggregationCustomersResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of customers found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of customers currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if there are more customers available.",
            "example": true
          },
          "customers": {
            "type": "array",
            "description": "A list of customer objects.",
            "example": [
              {
                "id": "STANDARD",
                "username": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "phone": "+1-212-555-0147",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "createdDate": "2026-09-15",
                "lastModifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer data.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "customers": [
            {
              "id": "STANDARD",
              "username": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "createdDate": "2026-09-15",
              "lastModifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "e56e6657-656e-578b-a952-e021f3c8d5c1",
            "correlationId": "c6d02511-f062-53b6-819f-025a43e869ec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "username": {
            "type": "string",
            "description": "Username of the customer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of customer account.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the customer was created.",
            "example": "string"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "Date when the customer information was last modified.",
            "example": "string"
          }
        },
        "description": "Schema representing a customer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customers"
        },
        "example": "open-finance-api-get-customers"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include an access token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}