{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Payment Instruction Cancellation-spec",
    "description": "This API allows users to initiate the cancellation of payment instructions within the banking system. It is designed for financial institutions and service providers managing payment processes, enabling them to efficiently handle cancellation requests for specific payment instructions. Users can identify the payment instruction through its unique identifier, ensuring precise cancellations. Typical consumers include bank employees and third-party payment service integrations that require timely adjustments to payment transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-instruction/{param1}/cancellations": {
      "post": {
        "tags": [
          "Payments Management"
        ],
        "summary": "Cancel a payment instruction.",
        "description": "This endpoint allows you to cancel a specific payment instruction identified by the given ID. Make sure to confirm the cancellation as it may be irreversible.",
        "operationId": "createPaymentInstructionCancellation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the cancellation of a payment instruction identified by PAY-300045. It contains all the necessary information required to process the cancellation effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentInstructionCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The cancellation request has been successfully accepted and is now being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentInstructionCancellationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentInstructionCancellationRequest": {
        "type": "object",
        "properties": {
          "cancellationReason": {
            "type": "string",
            "description": "The reason for cancelling the payment instruction.",
            "example": "STANDARD"
          },
          "instructionReference": {
            "type": "string",
            "description": "Reference identifier for the payment instruction to be cancelled.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who is requesting the cancellation.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the cancellation request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context of the request including identifiers and source details.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for cancelling a payment instruction.",
        "example": {
          "cancellationReason": "STANDARD",
          "instructionReference": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "2daec975-bbb3-5c9c-841c-05c9b0a2247a",
            "correlationId": "1a2ff482-c7ac-519d-ba33-c137aedfc1b0",
            "idempotencyKey": "ae21e983-a86f-58f0-ab76-6d2bce4f8875",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-759883"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "key-abc-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request context was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that is sending the request.",
            "example": "payment-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "payment-app"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz-123"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreatePaymentInstructionCancellationResponse_202": {
        "title": "Payment Instruction Cancellation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the cancellation request.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a cancellation request of a payment instruction.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "5f13c376-6362-5ac6-8695-c2577ef6b130",
            "correlationId": "1a2ff482-c7ac-519d-ba33-c137aedfc1b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating this transaction with other transactions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the cancellation request response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-016"
        },
        "example": "WF-016"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5cdb73c5-f7c1-4f7e-9d02-20837e8926f9"
        },
        "example": "5cdb73c5-f7c1-4f7e-9d02-20837e8926f9"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ca4c4e7b-6918-43fd-bb9e-c38cdd94fc52"
        },
        "example": "ca4c4e7b-6918-43fd-bb9e-c38cdd94fc52"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request is being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-instruction-cancel-payment-instruction"
        },
        "example": "payment-instruction-cancel-payment-instruction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, providing context about the processing environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow instance associated with this payment instruction, helping to trace the flow of operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-016"
        },
        "example": "WF-016"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the payment instruction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Direct Debit Mandate Setup and Collection"
        },
        "example": "Direct Debit Mandate Setup and Collection"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating what stage it is in.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for tracking the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ca4c4e7b-6918-43fd-bb9e-c38cdd94fc52"
        },
        "example": "ca4c4e7b-6918-43fd-bb9e-c38cdd94fc52"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This method utilizes JSON Web Tokens (JWT) to authenticate requests and ensure secure communication between the client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}