{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Loan Applications-spec",
    "description": "The Loan Applications Listing API allows consumers to retrieve a list of all loan applications within the system. This endpoint is vital for financial institutions and loan officers, providing them with a comprehensive overview of ongoing applications, their statuses, and other pertinent details. Typical use cases include monitoring application progress, assessing market demand, or conducting audits. By facilitating quick access to application data, this API enhances operational efficiency and decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve a list of loan applications.",
        "description": "This endpoint allows developers to fetch all loan applications submitted. It provides the necessary details such as applicant information, loan amounts, and statuses, allowing for efficient tracking and management of applications.",
        "operationId": "listLoanLoanApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving loan applications. This should include any filters or parameters relevant to the loan application search.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanLoanApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan applications.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanLoanApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanLoanApplicationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving loan applications in a JSON format.",
        "example": "{}"
      },
      "ListLoanLoanApplicationsResponse_200": {
        "title": "Loan Applications Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of loan application objects.",
            "example": [
              {
                "productId": "PROD-847968",
                "externalReference": "STANDARD",
                "channel": "STANDARD",
                "purpose": "STANDARD",
                "purposeDescription": "STANDARD",
                "requestedPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "requestedTermMonths": 1,
                "preferredRepaymentDay": 1,
                "primaryCustomerId": "CUST-182029",
                "branchCode": "CODE-627",
                "relationshipManagerId": "STANDARD",
                "campaignCode": "CODE-652",
                "customerConsent": {
                  "creditBureauConsent": true,
                  "dataProcessingConsent": true,
                  "marketingConsent": true,
                  "consentTimestamp": "2026-09-15T14:30:00Z",
                  "consentReference": "STANDARD"
                },
                "id": "f1345a8e-6a3e-bbfb-1197-83127f2bb28f",
                "applicationNumber": "STANDARD",
                "status": "ACTIVE",
                "submittedAt": "2026-09-15T14:30:00Z",
                "decisionAt": "2026-08-11T12:00:00Z",
                "bookedLoanId": "LOAN-949229",
                "completionPercent": 1,
                "outstandingRequirements": [
                  {
                    "code": "SUCCESS",
                    "description": "Customer banking request processed successfully",
                    "status": "ACTIVE",
                    "dueDate": "2026-09-15"
                  }
                ],
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanApplication"
            }
          },
          "page": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "description": "The current page number of the loan application results.",
                "format": "int32"
              }
            },
            "description": "Pagination information for the loan application response.",
            "example": {
              "page": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "A correlation ID for tracking the request."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed."
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "5e59fea0-edee-52f6-87f4-8eb46f1533db",
              "correlationId": "3fa6a4c3-50b0-513d-aab0-2ed9214e3c3e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for retrieving loan applications.",
        "example": {
          "items": [
            {
              "productId": "PROD-847968",
              "externalReference": "STANDARD",
              "channel": "STANDARD",
              "purpose": "STANDARD",
              "purposeDescription": "STANDARD",
              "requestedPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "requestedTermMonths": 1,
              "preferredRepaymentDay": 1,
              "primaryCustomerId": "CUST-182029",
              "branchCode": "CODE-627",
              "relationshipManagerId": "STANDARD",
              "campaignCode": "CODE-652",
              "customerConsent": {
                "creditBureauConsent": true,
                "dataProcessingConsent": true,
                "marketingConsent": true,
                "consentTimestamp": "2026-09-15T14:30:00Z",
                "consentReference": "STANDARD"
              },
              "id": "f1345a8e-6a3e-bbfb-1197-83127f2bb28f",
              "applicationNumber": "STANDARD",
              "status": "ACTIVE",
              "submittedAt": "2026-09-15T14:30:00Z",
              "decisionAt": "2026-08-11T12:00:00Z",
              "bookedLoanId": "LOAN-949229",
              "completionPercent": 1,
              "outstandingRequirements": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "status": "ACTIVE",
                  "dueDate": "2026-09-15"
                }
              ],
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "page": {
            "page": 1
          },
          "metadata": {
            "responseId": "5e59fea0-edee-52f6-87f4-8eb46f1533db",
            "correlationId": "3fa6a4c3-50b0-513d-aab0-2ed9214e3c3e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanApplication": {
        "title": "Loan Application",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier for the product associated with the loan application."
          },
          "externalReference": {
            "type": "string",
            "description": "A reference from an external system related to the application."
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the loan application was submitted."
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application."
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the purpose of the loan."
          },
          "requestedPrincipal": {
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32"
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer associated with the application."
          },
          "branchCode": {
            "type": "string",
            "description": "The code for the branch handling the loan application."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager assigned to the application."
          },
          "campaignCode": {
            "type": "string",
            "description": "The marketing campaign code associated with the application."
          },
          "customerConsent": {
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for the loan application."
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number of the loan application."
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application."
          },
          "submittedAt": {
            "type": "string",
            "description": "Timestamp indicating when the application was submitted."
          },
          "decisionAt": {
            "type": "string",
            "description": "Timestamp indicating when a decision was made on the application."
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier for the booked loan associated with this application, if applicable."
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage of completion of the loan application process.",
            "format": "int32"
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements for the loan application.",
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "This schema represents a loan application object."
      },
      "RequestedPrincipal": {
        "title": "Requested Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the requested amount."
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal requested."
          }
        },
        "description": "This schema represents the amount of principal requested in a loan application."
      },
      "CustomerConsent": {
        "title": "Customer Consent",
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Consent to share data with credit bureau."
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Consent for data processing activities."
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Consent to receive marketing communications."
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp indicating when consent was given."
          },
          "consentReference": {
            "type": "string",
            "description": "A reference ID for tracking consent."
          }
        },
        "description": "This schema represents consent information provided by the customer."
      },
      "OutstandingRequirement": {
        "title": "Outstanding Requirement",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the outstanding requirement."
          },
          "description": {
            "type": "string",
            "description": "A description of the outstanding requirement."
          },
          "status": {
            "type": "string",
            "description": "The current status of the outstanding requirement."
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the outstanding requirement."
          }
        },
        "description": "This schema represents an outstanding requirement related to a loan application."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the application was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the application."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the application was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the application."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the application record.",
            "format": "int32"
          }
        },
        "description": "This schema represents audit information related to a loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-applications"
        },
        "example": "banking-loans-openapi-list-loan-applications"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer tokens for API authentication. Clients must send a valid JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}