{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Cross Channel Party Authentication Operations Tion Create Party Authentications-v5-spec",
    "description": "The Banking Cross-Channel Party Authentication Operations API provides access to detailed authentication operations for specific parties in a banking environment. This endpoint allows developers to retrieve information about party authentication processes, enabling efficient tracking and management of authentication requests. Typical consumers include banking applications and services integrating cross-channel authentication features. By leveraging this API, businesses can enhance their authentication workflows, ensure compliance, and improve user experience across various channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://customer-channel-app:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/party-authentication/{partyAuthenticationId}/operations/tion-create-party-authentication": {
      "get": {
        "tags": [
          "Party Management"
        ],
        "summary": "Create a new party authentication.",
        "description": "This endpoint allows you to create a new authentication record for a specified party. It is essential for managing access and security attributes associated with party interactions across channels.",
        "operationId": "listBankingCrossChannelPartyAuthenticationOperationsTionCreatePartyAuthentications",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/partyAuthenticationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a party authentication operation for the specified party ID. It must adhere to the defined schema to ensure proper processing of the authentication request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingCrossChannelPartyAuthenticationOperationsTionCreatePartyAuthenticationsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Party authentication created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingCrossChannelPartyAuthenticationOperationsTionCreatePartyAuthenticationsResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingCrossChannelPartyAuthenticationOperationsTionCreatePartyAuthenticationsRequest": {
        "title": "Party Authentication Request Body",
        "type": "string",
        "description": "This schema represents the request body for creating a party authentication operation. It defines the required structure and content for the operation.",
        "example": "{}"
      },
      "ListBankingCrossChannelPartyAuthenticationOperationsTionCreatePartyAuthenticationsResponse_201": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-887496"
          },
          "interactionId": {
            "type": "string",
            "description": "Identifier for the interaction associated with this authentication.",
            "example": "INT-611214"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the party authentication.",
            "example": "RES-856690"
          },
          "status": {
            "type": "string",
            "description": "Current status of the party authentication.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the party authentication was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the party authentication creation process.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful party authentication creation operation.",
        "example": {
          "partyId": "PARTY-887496",
          "interactionId": "INT-611214",
          "resourceId": "RES-856690",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "27288888-b689-5c46-ab0c-e61dfbb00287",
            "correlationId": "92b7b6da-c5c3-5fa7-8113-e2c6d2750c52",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the party authentication took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata for the party authentication request."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0720e064a7282ff6"
        },
        "example": "0720e064a7282ff6"
      },
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "082d52d6-dd45-4b73-8a1a-45a40188c689"
        },
        "example": "082d52d6-dd45-4b73-8a1a-45a40188c689"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "40731f81-d886-4620-912d-22a212372729"
        },
        "example": "40731f81-d886-4620-912d-22a212372729"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "partyAuthenticationId": {
        "name": "partyAuthenticationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-authentication-create-party-authentication"
        },
        "example": "party-authentication-create-party-authentication"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that handled the execution of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow involved in processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is being executed as part of the party authentication operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or completion status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "40731f81-d886-4620-912d-22a212372729"
        },
        "example": "40731f81-d886-4620-912d-22a212372729"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}