{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Banking It Management System Deployment By System Deployment Id-v5-spec",
    "description": "This API allows users to retrieve details of a specific banking IT management system deployment using its unique system deployment ID. The primary resource managed here is the system deployment, which contains critical information on various IT deployments within the banking sector. Typical consumers of this API include IT administrators and developers involved in monitoring and managing system deployments. Use cases may involve verifying deployment statuses, troubleshooting issues, or auditing deployment histories.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-deployment/{systemDeploymentId}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve system deployment details by ID",
        "description": "This endpoint allows users to fetch detailed information about a specific system deployment using its unique identifier (RES-100045). It returns comprehensive data related to the deployment, including its current status, configuration, and associated resources.",
        "operationId": "getBankingItManagementSystemDeploymentBySystemDeploymentId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/systemDeploymentId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters and details required to execute the GET operation for the system deployment resource identified by RES-100045. The content is structured in JSON format and must conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankingItManagementSystemDeploymentBySystemDeploymentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankingItManagementSystemDeploymentBySystemDeploymentIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankingItManagementSystemDeploymentBySystemDeploymentIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the IT Management System Deployment operations, specifically for GET requests. The body is expected to be a JSON string.",
        "example": "{}"
      },
      "GetBankingItManagementSystemDeploymentBySystemDeploymentIdResponse_200": {
        "title": "System Deployment Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with the deployment.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Scheduled date and time for the deployment.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier associated with the deployment.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target percentage of availability for the system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record for the deployment.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the deployment.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update of the deployment record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DeploymentMetadata"
          }
        },
        "description": "Schema representing the response details for a specific system deployment operation.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "740ed7be-2289-55a0-bfdd-b8944961326d",
            "correlationId": "b13f482d-91dc-58aa-8314-b3d2cc372c46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DeploymentMetadata": {
        "title": "Deployment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and tracking within a specific context.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the deployment occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with a system deployment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "systemDeploymentId": {
        "name": "systemDeploymentId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-deployment-get-system-deployment"
        },
        "example": "system-deployment-get-system-deployment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a Bearer token encoded in JSON Web Token (JWT) format. This token should be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}