{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking It Management Systems Help Desk By Systems Help Desk Id-v5-spec",
    "description": "This API allows users to update the configurations and details of a specific Banking IT Management Systems Help Desk by its unique identifier. By making a PUT request to the designated endpoint, clients can modify existing help desk records to reflect the latest information and operational changes. This is particularly useful for IT administrators and support teams who need to ensure that help desk resources are accurately represented in their systems. Typical use cases include updating contact information, service availability, and system management attributes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk/{systemsHelpDeskId}": {
      "put": {
        "tags": [
          "IT Management"
        ],
        "summary": "Update the support ticket for the specified system help desk.",
        "description": "This endpoint allows you to update the details of the support ticket associated with the system help desk resource identified by RES-100045. Ensure that the request body contains valid information to modify the ticket appropriately.",
        "operationId": "replaceBankingItManagementSystemsHelpDeskBySystemsHelpDeskId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/systemsHelpDeskId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the help desk system associated with the specified resource. Ensure that the payload adheres to the required schema to successfully modify the existing data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdRequest": {
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "The unique identifier for the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "The identifier of the affected system.",
            "example": "STANDARD"
          },
          "impact": {
            "type": "string",
            "description": "The impact level of the incident.",
            "example": "STANDARD"
          },
          "urgency": {
            "type": "string",
            "description": "The urgency level of the incident.",
            "example": "STANDARD"
          },
          "summary": {
            "type": "string",
            "description": "A brief summary of the incident.",
            "example": "STANDARD"
          },
          "reportedBy": {
            "type": "string",
            "description": "Identifier of the person who reported the incident.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating an incident in the IT management system.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "impact": "STANDARD",
          "urgency": "STANDARD",
          "summary": "STANDARD",
          "reportedBy": "STANDARD",
          "requestContext": {
            "requestId": "dd2493f4-e1d8-586f-a142-6969429a7baa",
            "correlationId": "36f4b15d-66ed-5826-a408-90f80e1eb5e0",
            "idempotencyKey": "2f4d5228-312f-5315-ba2d-ea120e88f067",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-780816"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier of the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "CORR123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to prevent duplicate processing of the request.",
            "example": "IDEMP123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Monitoring System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "Incident Management App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for context information associated with the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "CHN123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., email, phone).",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEV123"
          }
        },
        "description": "Schema representing the interactive channel through which the request was made."
      },
      "ReplaceBankingItManagementSystemsHelpDeskBySystemsHelpDeskIdResponse_201": {
        "title": "Incident Response Schema",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "Unique identifier for the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "Identifier for the affected system associated with the incident.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource that is related to the incident.",
            "example": "RES-543758"
          },
          "status": {
            "type": "string",
            "description": "Current status of the incident.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the incident was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/IncidentMetadata"
          }
        },
        "description": "This schema represents the response for an incident operation in the Help Desk system.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "resourceId": "RES-543758",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f4b14ff5-ac2d-54da-b66e-f5d4938272aa",
            "correlationId": "36f4b15d-66ed-5826-a408-90f80e1eb5e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IncidentMetadata": {
        "title": "Incident Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the incident.",
            "example": "RESP456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple events associated with the incident.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when this metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains additional metadata for the incident response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "systemsHelpDeskId": {
        "name": "systemsHelpDeskId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-create-systems-help-desk"
        },
        "example": "systems-help-desk-create-systems-help-desk"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow initiation related to the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-086"
        },
        "example": "WF-086"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IT Incident Help Desk and Service Restoration"
        },
        "example": "IT Incident Help Desk and Service Restoration"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dd10e4cb-925c-47f7-b4cb-d890e75ccd3c"
        },
        "example": "dd10e4cb-925c-47f7-b4cb-d890e75ccd3c"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token formatted as a JSON Web Token (JWT). Clients must include this token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}