{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Brokered Product Retrieval API",
    "description": "The Brokered Product Retrieval API provides access to detailed information about financial products available to consumers through brokerage services. This endpoint allows users to obtain a comprehensive list of brokered products, showcasing features like interest rates, terms, and eligibility criteria. Typically utilized by financial service providers, this API serves as a vital tool for integrating product offerings into consumer-facing applications or service platforms. Enhance your offerings by effectively leveraging the data provided through this endpoint.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/brokered-product": {
      "get": {
        "tags": [
          "Brokered Product"
        ],
        "summary": "Retrieve brokered product information",
        "description": "This endpoint allows clients to fetch detailed information about brokered products within the consumer services. It provides access to crucial data that can be utilized for decision-making and product management.",
        "operationId": "getBrokeredProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve brokered product information for consumers. The request body is meant to specify any necessary filters or criteria for the products being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBrokeredProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrokeredProductResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBrokeredProductRequest": {
        "type": "string",
        "description": "A request body schema representing the data structure for obtaining brokered product information.",
        "example": "{}"
      },
      "GetBrokeredProductResponse_200": {
        "title": "Brokered Product Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of brokered product items.",
            "example": [
              {
                "customerId": "CUST-445910",
                "serviceRequestId": "546caf81-92cf-5a7b-a666-051f718497d8",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BrokeredProductItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the Brokered Product GET operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-445910",
              "serviceRequestId": "546caf81-92cf-5a7b-a666-051f718497d8",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "04fc744d-92bf-5541-8d19-b7d61b2ef157",
            "correlationId": "a82e79ef-cebe-5118-a015-f75a5349e3c0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BrokeredProductItem": {
        "title": "Brokered Product Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the product."
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier of the service request related to this product."
          },
          "productCode": {
            "type": "string",
            "description": "The code that identifies the product."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the product was requested."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the product record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the product."
          }
        },
        "description": "Schema representing an individual brokered product item."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified."
          }
        },
        "description": "Schema representing the amount and currency for a product."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema for pagination information in the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for this response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Schema for additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brokered-product-search-brokered-product"
        },
        "example": "brokered-product-search-brokered-product"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be provided as a part of the HTTP Authorization header, formatted as 'Bearer {token}'. This method is commonly used for securing APIs with JSON Web Tokens (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}