{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Customer Information API",
    "description": "The Update Customer Information API enables businesses to modify existing customer details within their system. It provides a streamlined way to manage customer profiles, ensuring that information remains current and accurate. Typical consumers of this API include customer support representatives and account managers who handle customer data updates. Operations involve adjusting various attributes related to a specific customer using their unique identifier, thus facilitating effective customer relationship management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update customer CUST-100045",
        "description": "This operation allows you to update the details of customer CUST-100045. Make sure to provide all necessary fields in the request body to ensure a successful update.",
        "operationId": "updateCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the customer with the ID 'CUST-100045'. The payload must include all required fields specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The request was successful and there is no content to return.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerCUST100045Response_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerCUST100045Request": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating customer information in the system.",
        "example": {
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "requestContext": {
            "requestId": "3dd63fe1-70d4-5fa0-adec-d1d56a1b793d",
            "correlationId": "375c4550-b5ee-565f-8d80-dbb471e44c83",
            "idempotencyKey": "b58e508d-2cc9-5fe1-ba22-a577f917374e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-661033"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency for the request.",
            "example": "idempt-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "CustomerApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual details about the request made to the API."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateCustomerCUST100045Response_204": {
        "title": "Response Object for Customer Operation",
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Contains metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This object represents the response structure for a specific customer operation PUT request.",
        "example": {
          "metadata": {
            "responseId": "950a03fd-ac43-52a1-b8cf-e06fb9cb239f",
            "correlationId": "375c4550-b5ee-565f-8d80-dbb471e44c83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Object",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests/responses.",
            "example": "correlation-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata contains operational details related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_204"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking which API endpoint was hit.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-modify-customer"
        },
        "example": "open-finance-api-modify-customer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, which can help in identifying the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer Token, which is typically a JSON Web Token (JWT). This token is included in the `Authorization` header of requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}