{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Human Resource Management Travel Expenses-spec",
    "description": "The Travel Expenses Management API provides access to a comprehensive list of travel expenses associated with Human Resource Management. This API enables users to efficiently retrieve, analyze, and manage expense data, ensuring transparency and compliance in reporting. Typical consumers include HR managers and finance teams seeking to monitor and optimize travel-related expenditures. It supports use cases such as generating reports, validating employee claims, and enhancing budget planning strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/travel-expenses": {
      "get": {
        "tags": [
          "Travel Management"
        ],
        "summary": "Retrieve travel expenses records.",
        "description": "This endpoint allows users to retrieve a list of travel expenses associated with the human resource management system. You can use this to monitor and audit travel-related expenditures for employees.",
        "operationId": "listHumanResourceManagementTravelExpenses",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized for fetching travel expense details within the Human Resource Management module. It contains specific parameters to filter and retrieve relevant travel expense records.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListHumanResourceManagementTravelExpensesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved travel expenses data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListHumanResourceManagementTravelExpensesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListHumanResourceManagementTravelExpensesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Travel Expenses operation in the Human Resource Management system. It includes a placeholder for a string type value.",
        "example": "{}"
      },
      "ListHumanResourceManagementTravelExpensesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of travel expense reports.",
            "example": [
              {
                "expenseReportId": "STANDARD",
                "employeeId": "EMP-445603",
                "tripPurpose": "STANDARD",
                "expensePeriod": {
                  "from": "2026-08-11",
                  "to": "2026-08-11"
                },
                "claimedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "costCenter": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ExpenseReport"
            }
          },
          "pagination": {
            "description": "Pagination information for the response data.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving travel expenses in the Human Resource Management system.",
        "example": {
          "items": [
            {
              "expenseReportId": "STANDARD",
              "employeeId": "EMP-445603",
              "tripPurpose": "STANDARD",
              "expensePeriod": {
                "from": "2026-08-11",
                "to": "2026-08-11"
              },
              "claimedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "costCenter": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4f1fae06-d10f-5170-a29a-d5dbdc0901ea",
            "correlationId": "60f173e3-8bb1-59a4-8bb8-693f4887e935",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpenseReport": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report.",
            "example": "string"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee associated with the report.",
            "example": "string"
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip.",
            "example": "string"
          },
          "expensePeriod": {
            "description": "The period during which the expenses were incurred.",
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "description": "The amount claimed in this expense report.",
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the expense report.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the expense report.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the expense report.",
            "example": "string"
          }
        },
        "description": "Represents a travel expense report."
      },
      "ExpensePeriod": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "Start date of the expense period.",
            "example": "2023-01-01"
          },
          "to": {
            "type": "string",
            "description": "End date of the expense period.",
            "example": "2023-01-07"
          }
        },
        "description": "The period during which expenses were incurred."
      },
      "ClaimedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount claimed.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the claimed amount is specified.",
            "example": "USD"
          }
        },
        "description": "The claimed amount along with its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Information regarding the pagination of the result set."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the data was processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-search-travel-and-expenses"
        },
        "example": "travel-and-expenses-search-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme with JSON Web Tokens (JWT). Clients should include the generated JWT in the 'Authorization' header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}