{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Corporate Finance Private Placement-spec",
    "description": "The Corporate Finance Private Placement API enables financial institutions to facilitate and manage private placement transactions efficiently. This API provides the necessary operations to create and submit requests for corporate finance offerings, allowing users to engage with potential investors directly. Typical consumers of this API include investment banks and financial advisors who need to streamline the placement of corporate securities. By utilizing this API, organizations can enhance their capital raising efforts in a structured manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/private-placement": {
      "post": {
        "tags": [
          "Private Placement"
        ],
        "summary": "Initiates a private placement process.",
        "description": "This endpoint allows users to initiate a private placement within corporate finance. It is designed for brokers and financial institutions to submit offers for private placements efficiently and securely.",
        "operationId": "createCorporateFinancePrivatePlacement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a private placement operation within the corporate finance domain. It should contain all necessary details required for processing the private placement efficiently.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateFinancePrivatePlacementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successful and a new resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateFinancePrivatePlacementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateFinancePrivatePlacementRequest": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of transaction being requested.",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "Details about the enterprise value associated with the transaction.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The date by which the transaction is expected to close.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the private placement operations in corporate finance.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "requestContext": {
            "requestId": "7c5a7a44-e5c0-5871-8d6e-aee5c97fba14",
            "correlationId": "538cbe9e-9c4d-529a-8e70-fcb2fbfc8ec2",
            "idempotencyKey": "3ecbcbe3-9771-586e-b282-a544eb46b81f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-326472"
            }
          }
        }
      },
      "EnterpriseValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount representing the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the enterprise value is expressed.",
            "example": "USD"
          }
        },
        "description": "Represents the enterprise value details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains various metadata related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Represents channel information related to the request."
      },
      "CreateCorporateFinancePrivatePlacementResponse_201": {
        "title": "Private Placement Response",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "A unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "A unique identifier for the engagement associated with the private placement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "A unique identifier for the resource related to the private placement.",
            "example": "RES-105421"
          },
          "status": {
            "type": "string",
            "description": "The current status of the private placement request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the private placement response was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the private placement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response from the private placement operation in corporate finance.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "resourceId": "RES-105421",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2a6bb3ac-7bdf-5bd2-89c7-558ab574edcc",
            "correlationId": "538cbe9e-9c4d-529a-8e70-fcb2fbfc8ec2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response received.",
            "example": "RSP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used for correlating requests and responses.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "This schema contains metadata information related to the private placement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "private-placement-create-private-placement"
        },
        "example": "private-placement-create-private-placement"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}