{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Directory API",
    "description": "The Correspondent Bank Directory API provides access to critical information about correspondent banks globally. Users can retrieve a comprehensive list of correspondent banking institutions, including their operation details and service offerings. This API is essential for financial institutions looking to enhance their cross-border transaction capabilities or establish connections with reliable banking partners. Typical consumers include banks, financial service providers, and regulatory bodies seeking to ensure compliance and facilitate international banking relations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-directory": {
      "get": {
        "tags": [
          "External Agency Operations"
        ],
        "summary": "Retrieve the correspondent bank directory.",
        "description": "This endpoint allows clients to fetch the complete list of correspondent banks linked with the external agency. It provides details about each bank to help users understand their options for transactions.",
        "operationId": "getCorrespondentBankDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the correspondent bank directory. The consumer can specify filters or criteria to tailor the returned bank information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorrespondentBankDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the correspondent bank directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorrespondentBankDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorrespondentBankDirectoryRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of the Correspondent Bank Directory API.",
        "example": "{}"
      },
      "GetCorrespondentBankDirectoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of correspondent banks.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-927178",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "nostroAccountId": "ACC-218279",
                "settlementCurrency": "USD",
                "relationshipStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorrespondentBank"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the correspondent bank directory operation.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-927178",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "nostroAccountId": "ACC-218279",
              "settlementCurrency": "USD",
              "relationshipStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5c8b0590-a30c-5a4f-b0bc-caecfcfcb79f",
            "correlationId": "81eac5a7-60cb-5a21-8219-58c939e39d95",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorrespondentBank": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution."
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement with the correspondent bank."
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) for the correspondent bank."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code where the correspondent bank is located."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the relationship with the correspondent bank becomes effective."
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Account number at the correspondent bank."
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlements with this correspondent bank."
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Status of the relationship with the correspondent bank."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the correspondent bank record."
          }
        },
        "description": "Details of a correspondent bank."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-directory-search-correspondent-bank-directory"
        },
        "example": "correspondent-bank-directory-search-correspondent-bank-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer Authentication Scheme using JSON Web Tokens (JWT) for secure access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}