{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Discount Pricing API",
    "description": "The Discount Pricing API provides businesses with the ability to retrieve pricing details associated with discount offerings on specific products. This endpoint allows users to access information regarding promotional pricing strategies and adjustments applied to products in their portfolio. Typical consumers include product managers and finance teams who need to analyze pricing trends and implement discount strategies effectively. By leveraging this API, businesses can enhance their product management processes and optimize their pricing models.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/discount-pricing/{param1}": {
      "get": {
        "tags": [
          "Discount Management"
        ],
        "summary": "Retrieve discount pricing for a specific resource.",
        "description": "This endpoint allows you to retrieve the discount pricing details for the specified resource identified by RES-100045. Utilize this information to analyze pricing strategies and apply relevant discounts effectively.",
        "operationId": "getDiscountPricingForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve discount pricing information for a specific product. It should include all relevant parameters necessary for the API to process the request and return the appropriate pricing details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDiscountPricingForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the discount pricing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDiscountPricingForResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDiscountPricingForResource100045Request": {
        "title": "Discount Pricing Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Discount Pricing operation in the Product Management service.",
        "example": "{}"
      },
      "GetDiscountPricingForResource100045Response_200": {
        "title": "Discount Pricing Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment for which the discount pricing applies.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the product price is defined.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the discount pricing is effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the pricing record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the pricing record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/MetadataResponse"
          }
        },
        "description": "Response schema for discount pricing operations, containing product and metadata details.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "509cf991-bc22-5cfc-811d-9fe5907ce855",
            "correlationId": "ea13a8ab-ea30-5bbf-a177-9f47b217c752",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetadataResponse": {
        "title": "Metadata Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "XYZ-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests.",
            "example": "CORR-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "US"
          }
        },
        "description": "Metadata related to the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "discount-pricing-get-discount-pricing"
        },
        "example": "discount-pricing-get-discount-pricing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens, specifically in JSON Web Token (JWT) format, for authentication. Clients must include an authorization header with the format 'Authorization: Bearer <token>' in their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}