{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get It Management By Param1-spec",
    "description": "The IT Management Retrieval API allows users to access detailed information about IT management systems by specifying a unique parameter. This endpoint is ideal for administrators seeking insights into specific system configurations, operational statuses, or compliance requirements. It caters to developers and IT personnel who need to integrate system data into their applications or monitoring tools. By leveraging this API, organizations can streamline operations and enhance decision-making through improved visibility into their IT management resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-administration/{param1}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve details of a specific resources management system.",
        "description": "This endpoint allows users to retrieve detailed information about a specific resources management system identified by its ID. It provides comprehensive data about the system, helping users to understand its configuration and status.",
        "operationId": "getItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the system administration details for the specified resource. It should contain the necessary parameters to define the context of the operations being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetItManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation concerning systems administration. It is expected to be a string format.",
        "example": "{}"
      },
      "GetItManagementByParam1Response_200": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed (e.g., production, staging, development).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change request associated with the system.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Name of the team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The timestamp when the operation is planned to occur.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier level of the system (e.g., basic, premium).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the system (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the system.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the system record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-112233"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "corr-445566"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T00:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the request took place.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata associated with the response.",
            "example": {
              "responseId": "ace02c12-5f5b-5b56-be16-bd183d2dac75",
              "correlationId": "a0817be5-5f4c-5c5a-92c3-7ead2055ebdc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for the operations management GET request.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ace02c12-5f5b-5b56-be16-bd183d2dac75",
            "correlationId": "a0817be5-5f4c-5c5a-92c3-7ead2055ebdc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-administration-get-systems-administration"
        },
        "example": "systems-administration-get-systems-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication where the client must include a JSON Web Token (JWT) in the authorization header when making requests. The token serves as a proof of identity and must be included in the format 'Authorization: Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}