{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Loans Loan Disbursement By Disbursement Id-v5-spec",
    "description": "MICROSERVICE-PROD-Update Loans Loan Disbursement By Disbursement Id-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements/{disbursementId}": {
      "patch": {
        "operationId": "updateLoansLoanDisbursementByDisbursementId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          },
          {
            "$ref": "#/components/parameters/disbursementId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoansLoanDisbursementByDisbursementIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoansLoanDisbursementByDisbursementIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoansLoanDisbursementByDisbursementIdRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "valueDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "string"
              },
              "accountNumber": {
                "type": "string",
                "example": "string"
              },
              "bankCode": {
                "type": "string",
                "example": "string"
              },
              "bankName": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "object",
                "properties": {
                  "line1": {
                    "type": "string",
                    "example": "string"
                  },
                  "line2": {
                    "type": "string",
                    "example": "string"
                  },
                  "city": {
                    "type": "string",
                    "example": "string"
                  },
                  "state": {
                    "type": "string",
                    "example": "string"
                  },
                  "postalCode": {
                    "type": "string",
                    "example": "string"
                  },
                  "country": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "name": "Northstar Banking Service",
              "accountNumber": "STANDARD",
              "bankCode": "CODE-591",
              "bankName": "Northstar Banking Service",
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              }
            }
          },
          "deductions": {
            "type": "array",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "amount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "narrative": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "7e637690-0649-509d-bbd5-59e5e4c67341",
              "correlationId": "9bc249e7-28ad-5378-a479-d7d547fcd86e",
              "idempotencyKey": "4a419645-cb68-570c-b821-3b923f7a5df6",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-788779"
              }
            }
          }
        },
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-591",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "7e637690-0649-509d-bbd5-59e5e4c67341",
            "correlationId": "9bc249e7-28ad-5378-a479-d7d547fcd86e",
            "idempotencyKey": "4a419645-cb68-570c-b821-3b923f7a5df6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-788779"
            }
          }
        }
      },
      "UpdateLoansLoanDisbursementByDisbursementIdResponse_200": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "disbursementMethod": {
            "type": "string",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "example": "string"
              },
              "accountNumber": {
                "type": "string",
                "example": "string"
              },
              "bankCode": {
                "type": "string",
                "example": "string"
              },
              "bankName": {
                "type": "string",
                "example": "string"
              },
              "address": {
                "type": "object",
                "properties": {
                  "line1": {
                    "type": "string",
                    "example": "string"
                  },
                  "line2": {
                    "type": "string",
                    "example": "string"
                  },
                  "city": {
                    "type": "string",
                    "example": "string"
                  },
                  "state": {
                    "type": "string",
                    "example": "string"
                  },
                  "postalCode": {
                    "type": "string",
                    "example": "string"
                  },
                  "country": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "name": "Northstar Banking Service",
              "accountNumber": "STANDARD",
              "bankCode": "CODE-115",
              "bankName": "Northstar Banking Service",
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              }
            }
          },
          "deductions": {
            "type": "array",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "example": "string"
                },
                "amount": {
                  "type": "object",
                  "properties": {
                    "currency": {
                      "type": "string",
                      "example": "string"
                    },
                    "amount": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "narrative": {
            "type": "string",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "example": "3488b827-67a1-d70b-dfad-d705d9f9ff15"
          },
          "disbursementNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "netAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "example": "CODE-104"
          },
          "failureMessage": {
            "type": "string",
            "example": "STANDARD"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "format": "int32",
                "example": 0
              }
            },
            "example": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "8af5c522-992c-51d1-827f-fa25348b103c",
              "correlationId": "9bc249e7-28ad-5378-a479-d7d547fcd86e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-115",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "3488b827-67a1-d70b-dfad-d705d9f9ff15",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-104",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "8af5c522-992c-51d1-827f-fa25348b103c",
            "correlationId": "9bc249e7-28ad-5378-a479-d7d547fcd86e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "disbursementId": {
        "name": "disbursementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-update-disbursement"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-update-disbursement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}