{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Send Email-v5-spec",
    "description": "MICROSERVICE-PROD-Create Connect Send Email-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/send/email": {
      "post": {
        "operationId": "createConnectSendEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectSendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectSendEmailResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectSendEmailRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-921150"
          },
          "consumerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "example": "STANDARD"
          },
          "email": {
            "type": "object",
            "properties": {
              "to": {
                "type": "string",
                "example": "string"
              },
              "from": {
                "type": "string",
                "example": "string"
              },
              "supportPhone": {
                "type": "string",
                "example": "string"
              },
              "subject": {
                "type": "string",
                "example": "string"
              },
              "firstName": {
                "type": "string",
                "example": "string"
              },
              "institutionName": {
                "type": "string",
                "example": "string"
              },
              "institutionAddress": {
                "type": "string",
                "example": "string"
              },
              "signature": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "example": {
              "to": "STANDARD",
              "from": "STANDARD",
              "supportPhone": "+1-212-555-0147",
              "subject": "STANDARD",
              "firstName": "Northstar Banking Service",
              "institutionName": "Northstar Banking Service",
              "institutionAddress": "STANDARD",
              "signature": [
                "STANDARD"
              ]
            }
          },
          "experience": {
            "type": "string",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "example": "string"
                },
                "value": {
                  "type": "string",
                  "example": "string"
                }
              },
              "example": "string"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "bc96b757-1981-5818-aaa1-e210339117cc",
              "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
              "idempotencyKey": "84dc6f0a-0f8f-5351-89c7-e89a0cbef190",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-227953"
              }
            }
          }
        },
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-921150",
          "consumerId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "email": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "experience": "STANDARD",
          "singleUseUrl": true,
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD"
            }
          ],
          "requestContext": {
            "requestId": "bc96b757-1981-5818-aaa1-e210339117cc",
            "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
            "idempotencyKey": "84dc6f0a-0f8f-5351-89c7-e89a0cbef190",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-227953"
            }
          }
        }
      },
      "CreateConnectSendEmailResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "example": "STANDARD"
          },
          "emailConfig": {
            "type": "object",
            "properties": {
              "to": {
                "type": "string",
                "example": "string"
              },
              "from": {
                "type": "string",
                "example": "string"
              },
              "supportPhone": {
                "type": "string",
                "example": "string"
              },
              "subject": {
                "type": "string",
                "example": "string"
              },
              "firstName": {
                "type": "string",
                "example": "string"
              },
              "institutionName": {
                "type": "string",
                "example": "string"
              },
              "institutionAddress": {
                "type": "string",
                "example": "string"
              },
              "signature": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "example": {
              "to": "STANDARD",
              "from": "STANDARD",
              "supportPhone": "+1-212-555-0147",
              "subject": "STANDARD",
              "firstName": "Northstar Banking Service",
              "institutionName": "Northstar Banking Service",
              "institutionAddress": "STANDARD",
              "signature": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "ecee59f7-11f4-5924-a3be-55ff69364f74",
              "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "link": "STANDARD",
          "emailConfig": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "ecee59f7-11f4-5924-a3be-55ff69364f74",
            "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-send-connect-email"
        },
        "example": "open-finance-api-send-connect-email"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}