{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Hedge Fund Administration Management API",
    "description": "The Hedge Fund Administration Management API provides a streamlined solution for managing and updating various aspects of hedge fund operations. This API enables users to modify banking-related parameters and operational details for hedge funds, ensuring accurate and timely administration. Typical consumers include financial institutions, hedge fund managers, and compliance teams looking to maintain operational integrity. Through this API, users can efficiently manage updates and ensure alignment with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/hedge-fund-administration/{param1}": {
      "patch": {
        "tags": [
          "Hedge Fund Administration"
        ],
        "summary": "Update hedge fund administration details.",
        "description": "This operation allows users to update specific details related to hedge fund administration for the resource identified as RES-100045. Ensure to provide the necessary information in the request body for the update to take effect.",
        "operationId": "patchHedgeFundAdministrationForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to submit updates for the hedge fund administration operation identified by RES-100045. Ensure that you provide the necessary fields to appropriately reflect the desired changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchHedgeFundAdministrationForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchHedgeFundAdministrationForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchHedgeFundAdministrationForRes100045Request": {
        "title": "Hedge Fund Administration PATCH Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be made in the hedge fund administration.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request including metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the PATCH request body related to hedge fund administration operations.",
        "example": {
          "changes": {
            "fundId": "STANDARD",
            "shareClassId": "STANDARD",
            "valuationDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "16a095e2-eaa8-5c1e-b29f-d816cce84a84",
            "correlationId": "dce02071-6be0-5d02-aa43-47ed48fea0a1",
            "idempotencyKey": "52ce9b8a-5b1d-5ebb-9cbf-61ba02aa3dbf",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-808969"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the hedge fund.",
            "example": "fund-12345"
          },
          "shareClassId": {
            "type": "string",
            "description": "Unique identifier for the share class being updated.",
            "example": "share-class-001"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date for which the valuation is being requested.",
            "example": "2023-09-30"
          }
        },
        "description": "Details of the specific changes requested for hedge fund administration."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "correlation-56789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the request.",
            "example": "idempotent-key-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "brokerage-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "trading-app"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Additional context information regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request, if applicable.",
            "example": "device-12345"
          }
        },
        "description": "Information regarding the communication channel used for the request."
      },
      "PatchHedgeFundAdministrationForRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to hedge fund administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0311ec6d-218c-5802-bdd7-05398e0ab017",
            "correlationId": "dce02071-6be0-5d02-aa43-47ed48fea0a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "hedge-fund-administration-update-hedge-fund-administration"
        },
        "example": "hedge-fund-administration-update-hedge-fund-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, providing context for which service handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. Users must provide a valid JSON Web Token (JWT) in the Authorization header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}