{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Account Transfer-v5-spec",
    "description": "MICROSERVICE-PROD-Create Banking Account Transfer-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/accounts/{accountId}/transfers": {
      "post": {
        "operationId": "createBankingAccountTransfer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingAccountTransferRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "202Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingAccountTransferResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingAccountTransferRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "example": "PAY-655100"
          },
          "debtorAccountId": {
            "type": "string",
            "example": "ACC-999764"
          },
          "creditorAccountId": {
            "type": "string",
            "example": "ACC-388465"
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "amount": 100.0,
              "currency": "USD"
            }
          },
          "requestedExecutionDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "example": "CODE-369"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "9a472bd5-9a47-5155-aab5-3f78313dd503",
              "correlationId": "00a793d5-afe6-5318-9257-7a030b9db188",
              "idempotencyKey": "aa1b572a-6209-5b0a-ab00-f54317ecd1ca",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-691138"
              }
            }
          }
        },
        "example": {
          "paymentId": "PAY-655100",
          "debtorAccountId": "ACC-999764",
          "creditorAccountId": "ACC-388465",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-369",
          "requestContext": {
            "requestId": "9a472bd5-9a47-5155-aab5-3f78313dd503",
            "correlationId": "00a793d5-afe6-5318-9257-7a030b9db188",
            "idempotencyKey": "aa1b572a-6209-5b0a-ab00-f54317ecd1ca",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-691138"
            }
          }
        }
      },
      "CreateBankingAccountTransferResponse_202": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "example": "PAY-184636"
          },
          "debtorAccountId": {
            "type": "string",
            "example": "ACC-794097"
          },
          "creditorAccountId": {
            "type": "string",
            "example": "ACC-128833"
          },
          "purposeCode": {
            "type": "string",
            "example": "CODE-856"
          },
          "processingReference": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "80283067-575b-58ab-bd8d-12da09182fd8",
              "correlationId": "00a793d5-afe6-5318-9257-7a030b9db188",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "paymentId": "PAY-184636",
          "debtorAccountId": "ACC-794097",
          "creditorAccountId": "ACC-128833",
          "purposeCode": "CODE-856",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "80283067-575b-58ab-bd8d-12da09182fd8",
            "correlationId": "00a793d5-afe6-5318-9257-7a030b9db188",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-execution-execute-payment-execution"
        },
        "example": "payment-execution-execute-payment-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-012"
        },
        "example": "WF-012"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Domestic Account-to-Account Transfer"
        },
        "example": "Domestic Account-to-Account Transfer"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "217caa0a-aab8-44ee-bac8-290c68e71800"
        },
        "example": "217caa0a-aab8-44ee-bac8-290c68e71800"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}