{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Data Management API",
    "description": "The Employee Data Management API facilitates the efficient handling of employee-related information within the banking sector. This API allows organizations to submit new employee data, ensuring that critical HR processes are streamlined and accurate. Typical consumers of this API include HR systems and payroll processing applications, which rely on real-time employee information to operate effectively. It empowers businesses to maintain an up-to-date employee database, enhancing overall workforce management and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-data-management": {
      "post": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Create new employee data.",
        "description": "This endpoint allows you to create new employee records in the human resource management system. Provide the necessary details in the request body to add an employee to the database.",
        "operationId": "createEmployeeData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A JSON object representing the employee data to be managed. This includes various attributes such as name, position, and contact information that will be used to create or update employee records.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeDataRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing the new employee data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeDataResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeDataRequest": {
        "title": "Employee Data Management Request Body",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-865201"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the assignment associated with the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department the employee belongs to.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the changes become effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the employee.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment for the employee (e.g., Full-time, Part-time, Contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The work location for the employee.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for managing employee data in the employee data management operations.",
        "example": {
          "employeeId": "EMP-865201",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "288f0519-70c5-5557-a27a-cb70867c72a6",
            "correlationId": "b89b497a-6aa0-5e1f-9f2f-0d701696b9f2",
            "idempotencyKey": "5a38dfeb-eaea-5643-ab62-844422806024",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-101802"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the request.",
            "example": "CORR123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "IDEMP123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Employee Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was generated.",
            "example": "HR App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request for employee data management."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHNL001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., Web, Mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV12345"
          }
        },
        "description": "Schema representing the details of the communication channel used for the request."
      },
      "CreateEmployeeDataResponse_201": {
        "title": "Employee Data Management Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-854549"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment related to the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department where the employee is assigned.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code of the country where the employee is located.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "A unique identifier representing the resource associated with the employee.",
            "example": "RES-772373"
          },
          "status": {
            "type": "string",
            "description": "The current status of the employee.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the employee record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the employee data management operation.",
        "example": {
          "employeeId": "EMP-854549",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-772373",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4fc1b03d-cd00-5111-8357-7c6977d2546a",
            "correlationId": "b89b497a-6aa0-5e1f-9f2f-0d701696b9f2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request through various services.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema holds additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint that processed the request.",
          "example": "employee-data-management-create-employee-data-management"
        },
        "example": "employee-data-management-create-employee-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that executed the runtime process.",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}