{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Deposit Lending By Param1-spec",
    "description": "The Corporate Lease Deposit Lending API provides access to detailed information regarding deposit lending products tailored for corporate leases. This endpoint allows users to retrieve specific deposit lending records based on a unique parameter. Typical consumers include financial institutions, corporate finance teams, and application developers seeking integration for banking services. Leverage this API to enhance customer service offerings and streamline financial product management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease/{param1}": {
      "get": {
        "tags": [
          "Corporate Lease"
        ],
        "summary": "Retrieve corporate lease details.",
        "description": "Fetch the detailed information related to the specified corporate lease. This operation allows users to obtain important data about the lease including terms, conditions, and any associated financial information.",
        "operationId": "getDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving corporate lease information by ID. The structure of the body must comply with the specified schema to ensure a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the lease details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET API related to deposit lending corporate lease. It is expected to be a string.",
        "example": "{}"
      },
      "GetDepositLendingByParam1Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-158414"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-645463"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details of the principal amount.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier for the leased asset.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "Details of the residual value at the end of the lease.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The lease term duration in months.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (Active, Inactive, etc.).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate lease operation.",
        "example": {
          "customerId": "CUST-158414",
          "accountId": "ACC-645463",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bf98156a-eff2-51bf-9285-d0f49813bcbd",
            "correlationId": "ddd4e405-d345-5048-8a12-4482c796d4c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Represents an amount of money and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-get-corporate-lease"
        },
        "example": "corporate-lease-get-corporate-lease"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for bearer authentication, allowing secure access to protected resources. Clients must include a valid JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}