{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Lease Information API",
    "description": "The Corporate Lease Information API provides access to detailed information regarding corporate leasing options and terms. This API enables users to retrieve comprehensive data related to corporate leases, including available lease types, financial details, and eligibility criteria. Typical consumers include financial institutions, corporate clients, and leasing agents, facilitating informed decision-making and enhancing leasing strategies. Use this API to streamline the process of accessing leasing information and improve customer service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease": {
      "get": {
        "tags": [
          "Corporate Leasing"
        ],
        "summary": "Retrieve corporate lease information.",
        "description": "This endpoint allows you to fetch detailed information about corporate leases in the deposit lending section. It provides a comprehensive view of lease terms, rates, and eligibility.",
        "operationId": "getCorporateLeaseDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding corporate leases under the deposit lending category. It is essential to provide the necessary parameters in the JSON format as outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateLeaseDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateLeaseDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateLeaseDetailsRequest": {
        "type": "string",
        "description": "This schema represents a request body for the GET operation related to corporate lease deposits and lending.",
        "example": "{}"
      },
      "GetCorporateLeaseDetailsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of lease items associated with the corporate customer.",
            "example": [
              {
                "customerId": "CUST-180990",
                "accountId": "ACC-690184",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LeaseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate lease operations GET request, containing a list of items along with pagination and metadata information.",
        "example": {
          "items": [
            {
              "customerId": "CUST-180990",
              "accountId": "ACC-690184",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "218526a3-828d-5bed-ad88-6ce847d76da9",
            "correlationId": "d1382837-7a6c-56d7-a402-fea459918955",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LeaseItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer's account."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific product associated with the lease."
          },
          "principal": {
            "description": "The principal amount of the lease.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the lease in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the lease."
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the asset being leased."
          },
          "residualValue": {
            "description": "The residual value of the asset at the end of the lease.",
            "$ref": "#/components/schemas/Money"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The total term of the lease in months.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the lease record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Schema representing an individual lease item for a corporate customer."
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the money."
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the monetary value."
          }
        },
        "description": "Schema representing a monetary value with an amount and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema for pagination details in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred."
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-search-corporate-lease"
        },
        "example": "corporate-lease-search-corporate-lease"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP authentication scheme that utilizes a bearer token. The token format is JSON Web Token (JWT), which allows clients to authenticate by presenting the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}