{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loan Application Submit-spec",
    "description": "The Loan Application Submission API allows users to submit new loan applications efficiently. This endpoint is designed for lenders and financial institutions to manage the onboarding of applicants seamlessly. Users can provide necessary application details, which are then processed to initiate the loan approval workflow. Typical consumers include banking systems, loan processing software, and financial service applications that require quick and reliable loan application submissions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/submit": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Submit a loan application.",
        "description": "This endpoint allows users to submit a loan application with the specified ID. Ensure all required fields are filled out correctly before submission.",
        "operationId": "createLoanApplicationSubmit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a loan application with the specified application ID. Ensure that all required fields are populated according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationSubmitRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing, but not yet completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationSubmitResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationSubmitRequest": {
        "type": "object",
        "properties": {
          "submittedByCustomerId": {
            "type": "string",
            "description": "The identifier of the customer who submitted the loan application.",
            "example": "CUST-632711"
          },
          "declarationAccepted": {
            "type": "boolean",
            "description": "Indicates whether the customer has accepted the declaration.",
            "example": true
          },
          "declarationVersion": {
            "type": "string",
            "description": "The version of the declaration that the customer accepted.",
            "example": "STANDARD"
          },
          "otpTransactionId": {
            "type": "string",
            "description": "The identifier for the one-time password transaction.",
            "example": "TXN-574914"
          },
          "notes": {
            "type": "string",
            "description": "Any additional notes provided by the customer regarding the loan application.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the request, such as identifiers and source information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request payload for submitting a loan application.",
        "example": {
          "submittedByCustomerId": "CUST-632711",
          "declarationAccepted": true,
          "declarationVersion": "STANDARD",
          "otpTransactionId": "TXN-574914",
          "notes": "STANDARD",
          "requestContext": {
            "requestId": "6ea88085-875a-5d9f-82cb-523391bed15d",
            "correlationId": "3dabd212-e920-5a79-bb13-984d4579c4da",
            "idempotencyKey": "3b34f368-8c7a-5103-91f6-1503877e504a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-674355"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to trace the request through various systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate processing of the request.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-17T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application that generated the request.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides context about the request, including identifiers and source details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-1234"
          }
        },
        "description": "This schema contains details regarding the channel used for the request."
      },
      "CreateLoanApplicationSubmitResponse_202": {
        "title": "Loan Application Submission Response",
        "type": "object",
        "properties": {
          "commandId": {
            "type": "string",
            "description": "A unique identifier for the command associated with this submission.",
            "example": "ad898d14-53b5-362b-8fde-2a2cc3a7ce2c"
          },
          "status": {
            "type": "string",
            "description": "The status of the loan application submission.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource created for the loan application.",
            "example": "RES-530735"
          },
          "metadata": {
            "description": "Metadata related to the submission including response and processing identifiers.",
            "$ref": "#/components/schemas/LoanApplicationMetadata"
          }
        },
        "description": "This schema describes the response returned after submitting a loan application.",
        "example": {
          "commandId": "ad898d14-53b5-362b-8fde-2a2cc3a7ce2c",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "resourceId": "RES-530735",
          "metadata": {
            "responseId": "678138e7-c54d-5d19-83e6-0710dd3134b5",
            "correlationId": "3dabd212-e920-5a79-bb13-984d4579c4da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanApplicationMetadata": {
        "title": "Loan Application Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response of the loan application submission.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests and responses together.",
            "example": "corr-002"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata regarding the loan application submission process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This value helps to trace the request in logs and evaluate its performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-submit-loan-application"
        },
        "example": "banking-loans-openapi-submit-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application performing this operation. This information is useful for monitoring and identifying app-specific issues in the request processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which is a commonly used standard for passing tokens. The tokens must be formatted as JSON Web Tokens (JWT) for validation and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}