{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Qr Payment Requests-spec",
    "description": "This API endpoint allows users to retrieve a list of P2M QR Payment Requests. It is designed to facilitate easy access to the details of various payment requests initiated through QR code transactions. Businesses can use this API to monitor payment requests, track transaction statuses, and analyze financial data. It is particularly valuable for financial institutions and merchants managing payment systems to enhance their operational insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests": {
      "get": {
        "tags": [
          "QR Payment Management"
        ],
        "summary": "Retrieve all QR payment requests.",
        "description": "This endpoint allows the user to fetch a list of all QR payment requests made in the system. It provides access to relevant details for each request, enabling users to manage and track their transactions efficiently.",
        "operationId": "listP2mQrPaymentRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching QR payment requests. This should include necessary parameters to retrieve the specific payment information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mQrPaymentRequestsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of QR payment requests.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mQrPaymentRequestsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mQrPaymentRequestsRequest": {
        "type": "string",
        "description": "A request body schema for retrieving QR payment requests.",
        "example": "{}"
      },
      "ListP2mQrPaymentRequestsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the returned results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items returned per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available for the results.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there are more pages available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of link objects providing navigation for the result set.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of QR payment request items.",
            "example": [
              {
                "qrPaymentRequestId": "a4a08fc6-99db-5e87-8190-151dcf43fcf4",
                "merchantId": "MER-581922",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "mode": "STANDARD",
                "standard": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "merchantOrderId": "ORD-539874",
                "description": "Customer banking request processed successfully",
                "tipOptions": {
                  "mode": "STANDARD",
                  "fixedAmounts": [
                    {
                      "currency": "USD",
                      "value": "STANDARD"
                    }
                  ],
                  "percentages": [
                    "STANDARD"
                  ],
                  "maximumTip": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "qrPayload": "STANDARD",
                "qrImageUrl": "https://example.com/resource",
                "status": "ACTIVE",
                "singleUse": true,
                "paidAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "paymentId": "PAY-773179",
                "expiresAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/QrPaymentRequest"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request.",
                "example": "correlation-456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-10T12:34:56Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Geographical region where the processing occurred.",
                "example": "us-west"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "83b2232e-9296-5d78-b829-42163ed24ede",
              "correlationId": "cc47b416-50b5-51d2-860f-00524fc44f47",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for QR Payment Requests GET operation.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "qrPaymentRequestId": "a4a08fc6-99db-5e87-8190-151dcf43fcf4",
              "merchantId": "MER-581922",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "mode": "STANDARD",
              "standard": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "merchantOrderId": "ORD-539874",
              "description": "Customer banking request processed successfully",
              "tipOptions": {
                "mode": "STANDARD",
                "fixedAmounts": [
                  {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                ],
                "percentages": [
                  "STANDARD"
                ],
                "maximumTip": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "qrPayload": "STANDARD",
              "qrImageUrl": "https://example.com/resource",
              "status": "ACTIVE",
              "singleUse": true,
              "paidAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "paymentId": "PAY-773179",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "83b2232e-9296-5d78-b829-42163ed24ede",
            "correlationId": "cc47b416-50b5-51d2-860f-00524fc44f47",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Describes the relationship between the current resource and the linked resource.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "URL for the linked resource.",
            "example": "https://api.example.com/qr-payment-requests?page=1"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used with the linked resource.",
            "example": "GET"
          }
        },
        "description": "Represents a navigational link."
      },
      "QrPaymentRequest": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "qr-req-789"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "merchant-123"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "outlet-456"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "terminal-789"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment request.",
            "example": "pay"
          },
          "standard": {
            "type": "string",
            "description": "Payment standard being adhered to.",
            "example": "ISO20022"
          },
          "amount": {
            "description": "Amount details of the payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "order-111"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "Payment for order 111"
          },
          "tipOptions": {
            "description": "Options for tips associated with the payment request.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload data for the QR code.",
            "example": "payload-string"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL for the QR code image.",
            "example": "https://api.example.com/qrcodes/qr-req-789.png"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "pending"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates whether the QR payment request is single-use.",
            "example": false
          },
          "paidAmount": {
            "description": "Amount that has been paid for this request.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment.",
            "example": "payment-123"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration timestamp for the payment request.",
            "example": "2023-10-10T12:34:56Z"
          },
          "audit": {
            "description": "Information regarding the audit log for the payment request.",
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Schema representing a QR payment request."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount as a string.",
            "example": "100.00"
          }
        },
        "description": "Represents the amount details for payment."
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Mode of tips (e.g., fixed, percentage).",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed amount options for tips.",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage options for tips.",
            "items": {
              "type": "string",
              "description": "Percentage value as a string.",
              "example": "10%"
            }
          },
          "maximumTip": {
            "description": "Maximum tip amount allowed.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options for tips in a payment request."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment request was created.",
            "example": "2023-10-10T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the payment request.",
            "example": "user@example.com"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated.",
            "example": "2023-10-10T12:30:00Z"
          }
        },
        "description": "Audit information for the payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-qr-payment-requests"
        },
        "example": "banking-p2m-openapi-list-qr-payment-requests"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication where the client must provide a valid JSON Web Token (JWT) in the `Authorization` header when making requests. The server will verify the token to authenticate the client.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}