{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create P2m Qr Payment Request Pay-v5-spec",
    "description": "MICROSERVICE-PROD-Create P2m Qr Payment Request Pay-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{qrPaymentRequestId}/pay": {
      "post": {
        "operationId": "createP2mQrPaymentRequestPay",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/qrPaymentRequestId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateP2mQrPaymentRequestPayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateP2mQrPaymentRequestPayResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateP2mQrPaymentRequestPayRequest": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "string"
              },
              "token": {
                "type": "string",
                "example": "string"
              },
              "issuerBankCode": {
                "type": "string",
                "example": "string"
              },
              "maskedIdentifier": {
                "type": "string",
                "example": "string"
              },
              "walletProvider": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-923",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            }
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "tipAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "value": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "name": {
                "type": "string",
                "example": "string"
              },
              "email": {
                "type": "string",
                "example": "string"
              },
              "phone": {
                "type": "string",
                "example": "string"
              },
              "riskSegment": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            }
          },
          "customerConsentId": {
            "type": "string",
            "example": "STANDARD"
          },
          "deviceContext": {
            "type": "object",
            "properties": {
              "deviceId": {
                "type": "string",
                "example": "string"
              },
              "ipAddress": {
                "type": "string",
                "example": "string"
              },
              "userAgent": {
                "type": "string",
                "example": "string"
              },
              "geolocation": {
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "example": 0.0
                  },
                  "longitude": {
                    "type": "number",
                    "example": 0.0
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "deviceId": "DEV-906825",
              "ipAddress": "STANDARD",
              "userAgent": "STANDARD",
              "geolocation": {
                "latitude": 100.0,
                "longitude": 100.0
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "35b43539-6542-57f4-accd-042594f850f1",
              "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
              "idempotencyKey": "652e7db0-9115-51a1-9bde-683b1c421268",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-160315"
              }
            }
          }
        },
        "example": {
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-923",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "customerConsentId": "STANDARD",
          "deviceContext": {
            "deviceId": "DEV-906825",
            "ipAddress": "STANDARD",
            "userAgent": "STANDARD",
            "geolocation": {
              "latitude": 100.0,
              "longitude": 100.0
            }
          },
          "requestContext": {
            "requestId": "35b43539-6542-57f4-accd-042594f850f1",
            "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
            "idempotencyKey": "652e7db0-9115-51a1-9bde-683b1c421268",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-160315"
            }
          }
        }
      },
      "CreateP2mQrPaymentRequestPayResponse_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequest": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "merchantId": {
                "type": "string",
                "example": "string"
              },
              "outletId": {
                "type": "string",
                "example": "string"
              },
              "terminalId": {
                "type": "string",
                "example": "string"
              },
              "mode": {
                "type": "string",
                "example": "string"
              },
              "standard": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "merchantOrderId": {
                "type": "string",
                "example": "string"
              },
              "description": {
                "type": "string",
                "example": "string"
              },
              "tipOptions": {
                "type": "object",
                "properties": {
                  "mode": {
                    "type": "string",
                    "example": "string"
                  },
                  "fixedAmounts": {
                    "type": "array",
                    "example": "string",
                    "items": {
                      "type": "object",
                      "properties": {
                        "currency": {
                          "type": "string",
                          "example": "string"
                        },
                        "value": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "percentages": {
                    "type": "array",
                    "example": "string",
                    "items": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "maximumTip": {
                    "type": "object",
                    "properties": {
                      "currency": {
                        "type": "string",
                        "example": "string"
                      },
                      "value": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "qrPayload": {
                "type": "string",
                "example": "string"
              },
              "qrImageUrl": {
                "type": "string",
                "example": "string"
              },
              "status": {
                "type": "string",
                "example": "string"
              },
              "singleUse": {
                "type": "boolean",
                "example": false
              },
              "paidAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "paymentId": {
                "type": "string",
                "example": "string"
              },
              "expiresAt": {
                "type": "string",
                "example": "string"
              },
              "audit": {
                "type": "object",
                "properties": {
                  "createdAt": {
                    "type": "string",
                    "example": "string"
                  },
                  "createdBy": {
                    "type": "string",
                    "example": "string"
                  },
                  "updatedAt": {
                    "type": "string",
                    "example": "string"
                  },
                  "updatedBy": {
                    "type": "string",
                    "example": "string"
                  },
                  "version": {
                    "type": "integer",
                    "format": "int32",
                    "example": 0
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "merchantId": "MER-369866",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "mode": "STANDARD",
              "standard": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "merchantOrderId": "ORD-146454",
              "description": "Customer banking request processed successfully",
              "tipOptions": {
                "mode": "STANDARD",
                "fixedAmounts": [
                  {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                ],
                "percentages": [
                  "STANDARD"
                ],
                "maximumTip": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "qrPayload": "STANDARD",
              "qrImageUrl": "https://example.com/resource",
              "status": "ACTIVE",
              "singleUse": true,
              "paidAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "paymentId": "PAY-465612",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          },
          "payment": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "string"
              },
              "intentId": {
                "type": "string",
                "example": "string"
              },
              "qrPaymentRequestId": {
                "type": "string",
                "example": "string"
              },
              "merchantId": {
                "type": "string",
                "example": "string"
              },
              "outletId": {
                "type": "string",
                "example": "string"
              },
              "terminalId": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "id": "STANDARD",
              "intentId": "STANDARD",
              "qrPaymentRequestId": "7f183355-0786-5c97-b18d-18a6b940eff9",
              "merchantId": "MER-385026",
              "outletId": "STANDARD",
              "terminalId": "STANDARD"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "db003854-8d46-5ffe-b3d2-c788dce23e22",
              "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "qrPaymentRequest": {
            "id": "STANDARD",
            "merchantId": "MER-369866",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "mode": "STANDARD",
            "standard": "STANDARD",
            "amount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "merchantOrderId": "ORD-146454",
            "description": "Customer banking request processed successfully",
            "tipOptions": {
              "mode": "STANDARD",
              "fixedAmounts": [
                {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              ],
              "percentages": [
                "STANDARD"
              ],
              "maximumTip": {
                "currency": "USD",
                "value": "STANDARD"
              }
            },
            "qrPayload": "STANDARD",
            "qrImageUrl": "https://example.com/resource",
            "status": "ACTIVE",
            "singleUse": true,
            "paidAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "paymentId": "PAY-465612",
            "expiresAt": "2026-08-11T12:00:00Z",
            "audit": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "payment": {
            "id": "STANDARD",
            "intentId": "STANDARD",
            "qrPaymentRequestId": "7f183355-0786-5c97-b18d-18a6b940eff9",
            "merchantId": "MER-385026",
            "outletId": "STANDARD",
            "terminalId": "STANDARD"
          },
          "metadata": {
            "responseId": "db003854-8d46-5ffe-b3d2-c788dce23e22",
            "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fabdc7f2-19a8-4628-92a1-e459437fd0b4"
        },
        "example": "fabdc7f2-19a8-4628-92a1-e459437fd0b4"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "913c94ec-138e-4984-bae2-7bbc86dfb2d2"
        },
        "example": "913c94ec-138e-4984-bae2-7bbc86dfb2d2"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "qrPaymentRequestId": {
        "name": "qrPaymentRequestId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-execute-qr-payment"
        },
        "example": "banking-p2m-openapi-execute-qr-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card-not-present eCommerce Payment"
        },
        "example": "Card-not-present eCommerce Payment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "913c94ec-138e-4984-bae2-7bbc86dfb2d2"
        },
        "example": "913c94ec-138e-4984-bae2-7bbc86dfb2d2"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}