{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Market Order Cancellations API",
    "description": "The Wholesale Trading Market Order Cancellations API facilitates the efficient cancellation of market orders in the wholesale trading environment. This endpoint enables trading partners to submit cancellation requests for specific market orders identified by unique parameters. The API is typically utilized by institutional traders, broker-dealers, and financial institutions to maintain order accuracy and manage trading strategies effectively. By leveraging this API, users can ensure timely updates to their trading positions and reduce potential risks associated with outstanding orders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order-execution/{param1}/cancellations": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Cancel a market order.",
        "description": "This endpoint allows you to cancel a specific market order in the wholesale trading system. Ensure that you provide the correct order ID to successfully initiate the cancellation process.",
        "operationId": "cancelMarketOrderWholesaleTradingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit cancellation requests for market orders in the wholesale trading system. Ensure that the request body includes all necessary fields defined in the schema to process your cancellation effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelMarketOrderWholesaleTradingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The cancellation request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelMarketOrderWholesaleTradingRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelMarketOrderWholesaleTradingRes100045Request": {
        "title": "Market Order Cancellation Request",
        "required": [
          "cancellationReason",
          "instructionReference",
          "requestContext",
          "requestedAt",
          "requestedBy"
        ],
        "type": "object",
        "properties": {
          "cancellationReason": {
            "type": "string",
            "description": "The reason for the cancellation of the order.",
            "example": "STANDARD"
          },
          "instructionReference": {
            "type": "string",
            "description": "A reference identifier for the cancellation instruction.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the cancellation.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the cancellation request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the cancellation request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to cancel a market order.",
        "example": {
          "cancellationReason": "STANDARD",
          "instructionReference": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "0ef2899d-8b32-5766-be6e-7f59ae59dd2a",
            "correlationId": "d29714c9-d1c3-541f-aa9c-15a71bf21379",
            "idempotencyKey": "77cec057-83a8-5df6-9d56-45bfba8fd868",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-168212"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQUEST-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation between requests and responses.",
            "example": "CORRELATION-7890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the requests.",
            "example": "IDEMPOTENCY-KEY-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system initiating the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that encapsulates contextual information for requests."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CancelMarketOrderWholesaleTradingRes100045Response_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was taken (e.g., 'cancel', 'execute').",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the cancellation operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional information related to the cancellation operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a cancellation operation in market order execution.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "893ef8de-4201-55bb-8c3b-9c2ea388c85a",
            "correlationId": "d29714c9-d1c3-541f-aa9c-15a71bf21379",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the cancellation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request, which can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-execution-cancel-market-order-execution"
        },
        "example": "market-order-execution-cancel-market-order-execution"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context on which application is handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients should include a valid token in the 'Authorization' header of each request to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}