{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Connect Component By Configuration Id-spec",
    "description": "The Get Connect Component by Configuration ID API allows users to retrieve detailed information about a specific connect component based on its associated configuration ID. This endpoint serves as a critical resource for developers looking to integrate or manage connect components effectively. With this API, typical consumers can quickly access configuration details essential for deployment and configuration management tasks. It is particularly useful for system integrators and application developers who need to ensure seamless connectivity between various system components.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations/{configurationId}": {
      "get": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Retrieve configuration details by ID.",
        "description": "This endpoint allows clients to fetch detailed information about a specific configuration identified by its unique ID. Utilize this resource to obtain all associated metadata and attributes of the specified configuration.",
        "operationId": "getConnectComponentByConfigurationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/configurationId"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving configurations for the specified resource. This request expects a JSON object formatted according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConnectComponentByConfigurationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested configuration.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConnectComponentByConfigurationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConnectComponentByConfigurationIdRequest": {
        "title": "Get Operation Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the application's operation configuration.",
        "example": "{}"
      },
      "GetConnectComponentByConfigurationIdResponse_200": {
        "title": "Get Operations Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "b79a9c0b-9bd8-ad4d-fb21-baeba147cfe5"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of accounts that are filtered based on the operation.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for each filtered account.",
              "example": "string"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "Types of account classifications associated with the response.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Classification type for accounts.",
              "example": "string"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates if AO (Account Owner) is required.",
            "example": true
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the GET operations request.",
        "example": {
          "id": "b79a9c0b-9bd8-ad4d-fb21-baeba147cfe5",
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "metadata": {
            "responseId": "943d4e7a-a3b6-583f-b206-c609adc68185",
            "correlationId": "e89b574d-e73e-5bf8-9fc9-245e15fa1c56",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response metadata.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with other requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-04T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the response including various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "configurationId": {
        "name": "configurationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-configurations-configuration-id"
        },
        "example": "open-finance-api-get-configurations-configuration-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, whereby a JSON Web Token (JWT) is provided in the request headers to authenticate the user. Ensure a valid JWT is included to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}