{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Enterprise Service Procurements-spec",
    "description": "The Enterprise Service Procurement Listing API enables users to retrieve a comprehensive list of procurement services available within the enterprise framework. This endpoint is designed for financial institutions and procurement officers who need to access and evaluate various enterprise service offerings. By querying this API, stakeholders can gain insights into available procurement options, facilitating informed decision-making and streamlining procurement processes. Typical consumers include procurement managers and enterprise service analysts looking to optimize service utilization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement": {
      "get": {
        "tags": [
          "Procurement"
        ],
        "summary": "Retrieve enterprise procurement services.",
        "description": "Fetch a list of procurement services available within the enterprise, which can be utilized for managing purchasing needs effectively.",
        "operationId": "listEnterpriseServiceProcurements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for retrieving procurement-related information from the enterprise services. Ensure that the JSON structure adheres to the expected schema for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEnterpriseServiceProcurementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested procurement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListEnterpriseServiceProcurementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListEnterpriseServiceProcurementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the procurement service.",
        "example": "{}"
      },
      "ListEnterpriseServiceProcurementsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of procurement items.",
            "example": [
              {
                "requestId": "51fbb978-684c-53ed-9ea5-8f8abf5aa1d3",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "purchaseOrderId": "ORD-374563",
                "categoryCode": "CODE-300",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProcurementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the procurement operations GET request, including a list of procurement items and pagination details.",
        "example": {
          "items": [
            {
              "requestId": "51fbb978-684c-53ed-9ea5-8f8abf5aa1d3",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "purchaseOrderId": "ORD-374563",
              "categoryCode": "CODE-300",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "19657d2a-a2fc-5d19-82bd-c6d490207e1e",
            "correlationId": "5148b7f5-99b8-5cdf-b5de-afaba5f722e4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcurementItem": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the procurement request."
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier associated with the procurement item."
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the procurement."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user who requested the procurement."
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the associated purchase order."
          },
          "categoryCode": {
            "type": "string",
            "description": "Category code of the procurement item."
          },
          "approvalLevel": {
            "type": "string",
            "description": "Approval level required for the procurement."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the procurement record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the procurement item."
          }
        },
        "description": "Details of a procurement item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Monetary value of the procurement item."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the monetary value."
          }
        },
        "description": "Details of the amount associated with the procurement item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information regarding pagination of the items list."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-search-procurement"
        },
        "example": "procurement-search-procurement"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request is being processed, useful for tracking application-specific metrics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to verify user identities. Clients must include a valid token in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}