{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Commission Agreement Management API",
    "description": "The Commission Agreement Management API facilitates the creation of commission agreements between sales agents and the banking institution. It allows authorized users to efficiently configure and submit new agreements, ensuring compliance with internal policies and regulations. Typically used by sales teams and finance departments, this API streamlines the onboarding process for agents by standardizing agreement terms and automating workflows. Integration with existing systems enhances operational efficiency and supports transparent agreements that benefit both the institution and its agents.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement": {
      "post": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Create a new sales commission agreement.",
        "description": "This endpoint allows you to create a new sales commission agreement. You can specify the parameters in the request body to set up the commission structure for sales representatives.",
        "operationId": "createSalesCommissionAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or modify a sales commission agreement. It expects a JSON payload containing the details of the commission agreement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesCommissionAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The commission agreement was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSalesCommissionAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSalesCommissionAgreementRequest": {
        "title": "Commission Agreement Request",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product associated with the commission.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product is sold.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "Object containing expected value details.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the sales person responsible for the sale.",
            "example": "STANDARD"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan applicable to this agreement.",
            "example": "STANDARD"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "The revenue that is eligible for commission calculation.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a commission agreement.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "salesPersonId": "STANDARD",
          "commissionPlanId": "STANDARD",
          "eligibleRevenue": 100.0,
          "requestContext": {
            "requestId": "c95e7430-b98b-5006-97a3-40c2035d3603",
            "correlationId": "c000b661-f558-57b7-a690-79d7ce23d1b5",
            "idempotencyKey": "28fc0cbd-9566-53a7-b955-a695ffe7bd6d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-780762"
            }
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the expected value.",
            "example": 1500.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the expected amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected value associated with the commission agreement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-303"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-404"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotent-505"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-606"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, offline).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-707"
          }
        },
        "description": "Schema representing the details of the channel through which the request was made."
      },
      "CreateSalesCommissionAgreementResponse_201": {
        "title": "Commission Agreement Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Identifier for the product associated with the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Unique identifier for the relationship manager overseeing this agreement.",
            "example": "STANDARD"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson responsible for this agreement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Resource identifier linked to the agreement.",
            "example": "RES-141972"
          },
          "status": {
            "type": "string",
            "description": "Current status of the agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the agreement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response returned upon successfully creating a commission agreement.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "salesPersonId": "STANDARD",
          "resourceId": "RES-141972",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7f4aa904-7b11-5c77-a7e3-3ab2c73195f5",
            "correlationId": "c000b661-f558-57b7-a690-79d7ce23d1b5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing the metadata associated with a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-create-commission-agreement"
        },
        "example": "commission-agreement-create-commission-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application instance that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token format, particularly in the form of a JSON Web Token (JWT). This scheme allows clients to authenticate by including the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}