{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Party Legal Entity Directorys-spec",
    "description": "The Party Legal Entity Directory API provides access to a comprehensive directory of legal entities associated with parties in the banking ecosystem. This endpoint allows users to query and retrieve detailed information about legal entities, enhancing transparency and aiding compliance efforts. Typical consumers include financial institutions, compliance teams, and third-party service providers engaged in due diligence or identity verification. By leveraging this API, organizations can effectively manage and maintain accurate records of their legal entity relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/legal-entity-directory": {
      "get": {
        "tags": [],
        "summary": "Retrieve Legal Entity Directory",
        "description": "Fetch a comprehensive list of legal entities available in the directory. This endpoint allows developers to access detailed information about legal entities, supporting various business applications and regulatory requirements.",
        "operationId": "listPartyLegalEntityDirectorys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving data from the legal entity directory. This request should contain a valid JSON object that matches the expected schema for accessing the legal entity information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPartyLegalEntityDirectorysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of legal entity directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPartyLegalEntityDirectorysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPartyLegalEntityDirectorysRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation in the Legal Entity Directory.",
        "example": "{}"
      },
      "ListPartyLegalEntityDirectorysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of legal entities found in the directory.",
            "example": [
              {
                "partyId": "PARTY-929401",
                "legalName": "Olivia Bennett",
                "legalEntityIdentifier": "STANDARD",
                "countryCode": "US",
                "registrationNumber": "NY-4587219",
                "incorporationDate": "2026-09-15",
                "entityStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LegalEntity"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a legal entity directory GET operation.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-929401",
              "legalName": "Olivia Bennett",
              "legalEntityIdentifier": "STANDARD",
              "countryCode": "US",
              "registrationNumber": "NY-4587219",
              "incorporationDate": "2026-09-15",
              "entityStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b33d30f2-4fd3-52e1-96c0-4ab4c342aef9",
            "correlationId": "1036d90b-ea1a-58c3-ac7f-bd5309206a98",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LegalEntity": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the legal entity.",
            "example": "12345"
          },
          "legalName": {
            "type": "string",
            "description": "Official name of the legal entity.",
            "example": "ABC Corporation"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "Unique legal entity identifier.",
            "example": "LEI123456789"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code where the entity is registered.",
            "example": "US"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Official registration number of the entity.",
            "example": "REG123456"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the entity was incorporated.",
            "example": "2020-01-01"
          },
          "entityStatus": {
            "type": "string",
            "description": "Current status of the legal entity.",
            "example": "Active"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the directory.",
            "example": "Valid"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the entity record was last updated.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing a legal entity."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the directory.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-entity-directory-search-legal-entity-directory"
        },
        "example": "legal-entity-directory-search-legal-entity-directory"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token, which is a type of access token that allows secure access to the API. The token should be included in the HTTP Authorization header as 'Bearer <token>', where <token> is the JWT. This approach ensures the API is protected and only accessible to authenticated users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}