{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Institutionlogin Account-spec",
    "description": "This API enables the creation of new institution login accounts tied to specific customers. By providing the customer ID and institution login ID, businesses can efficiently onboard and manage user accounts within their digital services. This functionality is particularly useful for financial institutions and service providers that need to connect customer accounts with institutional logins. Typical consumers include developers working on banking applications or financial platforms that require seamless account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/accounts": {
      "post": {
        "tags": [
          "Institutional Accounts"
        ],
        "summary": "Create an account for an institution login.",
        "description": "This operation allows the creation of a new account associated with a specified institution login under a particular customer. Use this endpoint to prepare institutional integrations and manage accounts effectively.",
        "operationId": "createInstitutionloginAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionloginId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create an account associated with a specific institution login for a customer. It requires detailed account information to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstitutionloginAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the expected response.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInstitutionloginAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInstitutionloginAccountRequest": {
        "title": "Account Operations Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Detailed context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for account operations, including request context and related metadata.",
        "example": {
          "requestContext": {
            "requestId": "ca02b219-5942-563e-855d-2f86456ffb41",
            "correlationId": "a72d8c83-3433-5c21-8332-f4195c130156",
            "idempotencyKey": "eb73f1ab-9e24-5833-9f2c-fe8b17680525",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872533"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across different systems.",
            "example": "abc-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-05T13:45:30Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CustomerManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema defines the context of the request, including identifiers and metadata related to the source and timing of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "This schema defines the information related to the channel used for the request, including identifiers and types."
      },
      "CreateInstitutionloginAccountResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "Array of account objects associated with the institution login.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-168851",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving accounts associated with a specific customer and institution login.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-168851",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "ced65231-c717-51ca-9f51-c94478c98cd4",
            "correlationId": "a72d8c83-3433-5c21-8332-f4195c130156",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "number": {
            "type": "string",
            "description": "Account number for reference."
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display representation of the account number."
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number."
          },
          "name": {
            "type": "string",
            "description": "Name of the account."
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account."
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., checking, savings)."
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code indicating the aggregation status of the account.",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "description": "Current status of the account (e.g., active, inactive)."
          },
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer who owns the account."
          },
          "institutionId": {
            "type": "string",
            "description": "Identifier of the institution associated with the account."
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date when the balance was last updated.",
            "format": "int32"
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the aggregation was last successful.",
            "format": "int32"
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date when the last aggregation attempt was made.",
            "format": "int32"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32"
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account was last updated.",
            "format": "int32"
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment associated with the account."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the account balance is held."
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the last transaction on the account.",
            "format": "int32"
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction recorded on the account.",
            "format": "int32"
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Identifier of the institution login associated with the account.",
            "format": "int32"
          },
          "detail": {
            "type": "object",
            "properties": {
              "dateAsOf": {
                "type": "integer",
                "description": "Date for which the detail information is relevant.",
                "format": "int32"
              },
              "availableBalanceAmount": {
                "type": "number",
                "description": "Amount currently available for withdrawal."
              },
              "openDate": {
                "type": "integer",
                "description": "Date when the account was opened.",
                "format": "int32"
              },
              "periodStartDate": {
                "type": "integer",
                "description": "Start date of the current financial period.",
                "format": "int32"
              },
              "periodEndDate": {
                "type": "integer",
                "description": "End date of the current financial period.",
                "format": "int32"
              },
              "periodInterestRate": {
                "type": "number",
                "description": "Interest rate applicable for the current financial period."
              },
              "periodDepositAmount": {
                "type": "number",
                "description": "Total deposit amount during the current financial period."
              },
              "periodInterestAmount": {
                "type": "number",
                "description": "Total interest amount earned during the current financial period."
              },
              "interestYtdAmount": {
                "type": "number",
                "description": "Total interest earned for the year to date."
              },
              "interestPriorYtdAmount": {
                "type": "number",
                "description": "Total interest earned for the previous year to date."
              },
              "maturityDate": {
                "type": "integer",
                "description": "Date when the account matures (if applicable).",
                "format": "int32"
              },
              "interestRate": {
                "type": "string",
                "description": "Current interest rate for the account."
              },
              "creditAvailableAmount": {
                "type": "number",
                "description": "Credit amount available above the account balance."
              },
              "creditMaxAmount": {
                "type": "number",
                "description": "Maximum credit amount available for the account."
              }
            },
            "description": "Detailed information about the account's financial status."
          }
        },
        "description": "Represents an individual account associated with a customer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests with responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionloginId": {
        "name": "institutionloginId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier of the endpoint being accessed. It is useful for tracking and logging the specific service endpoint responding to the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-customer-accounts-by-institution-login"
        },
        "example": "open-finance-api-refresh-customer-accounts-by-institution-login"
      },
      "X-Runtime-App": {
        "description": "This header identifies the application handling the request, providing context for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a JSON Web Token (JWT) is required to access secure endpoints. The token must be included in the `Authorization` header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}