{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Operational Service By Param1-spec",
    "description": "The Customer Billing Operational Services API provides access to specific operational services tailored for customer billing based on a unique identifier. This API allows developers to retrieve detailed service information using a parameter that represents the customer or billing context. It is particularly useful for finance and billing departments looking to access customer-specific operational data. Use cases include integration with billing systems or generating detailed reports for customer billing activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing/{param1}": {
      "get": {
        "tags": [
          "Customer Billing"
        ],
        "summary": "Retrieve customer billing details",
        "description": "This endpoint allows you to fetch the billing information for a specific customer, identified by their unique ID. It provides detailed insights into the customer's billing history and current status.",
        "operationId": "getOperationalServiceByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve customer billing information for the specified customer ID. The customer ID must follow the required format and structure outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalServiceByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning customer billing details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalServiceByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalServiceByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to customer billing. It is expected to contain information in string format.",
        "example": "{}"
      },
      "GetOperationalServiceByParam1Response_200": {
        "title": "Customer Billing Response",
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account.",
            "example": "ACC-354690"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-743392"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The period for which billing information is provided.",
            "example": "STANDARD"
          },
          "charges": {
            "type": "array",
            "description": "List of charges associated with the billing account.",
            "example": [
              {
                "chargeType": "SERVICE_FEE",
                "amount": 100,
                "currency": "USD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the billing payment.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the billing record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the billing record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the billing record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer billing information.",
        "example": {
          "billingAccountId": "ACC-354690",
          "customerId": "CUST-743392",
          "billingPeriod": "STANDARD",
          "charges": [
            {
              "chargeType": "SERVICE_FEE",
              "amount": 100,
              "currency": "USD"
            }
          ],
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "00b02946-93fd-5146-a283-9f98887574e0",
            "correlationId": "f91ee682-2bda-5e1b-86af-800b2110964d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Charge": {
        "title": "Charge",
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "The type of charge (e.g., service, tax).",
            "example": "string"
          },
          "amount": {
            "type": "integer",
            "description": "The amount to be charged.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the charge is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing a charge associated with the billing account."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the billing response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-get-customer-billing"
        },
        "example": "customer-billing-get-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication for accessing protected resources. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}