{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Asset Directory API",
    "description": "The Party Asset Directory API serves as a comprehensive resource for managing and accessing information related to the assets associated with parties in the banking ecosystem. This API facilitates retrieval of detailed asset records, supporting functionalities such as asset evaluation and portfolio analysis. Typical use cases involve financial institutions seeking to analyze collateral and asset exposures or compliance teams needing visibility into asset holdings. By streamlining access to pertinent asset information, the API enhances decision-making and operational efficiencies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory": {
      "get": {
        "tags": [
          "Collateral Administration"
        ],
        "summary": "Retrieve the party asset directory.",
        "description": "This endpoint fetches the complete list of assets associated with parties in the collateral administration system. It allows developers to access essential asset information for each party, facilitating effective asset management and oversight.",
        "operationId": "getCollateralAdministrationPartyAssetDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the party asset directory, containing parameters to filter or specify the desired information regarding collateral assets related to parties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAdministrationPartyAssetDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the asset directory for the party.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAdministrationPartyAssetDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAdministrationPartyAssetDirectoryRequest": {
        "type": "string",
        "description": "This schema represents the request body for the collateral administration party asset directory operation. It is expected to be a string, typically a JSON object in string format.",
        "example": "{}"
      },
      "GetCollateralAdministrationPartyAssetDirectoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of asset items associated with parties.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-641751",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AssetItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order applied to the asset items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving party asset directory.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-641751",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "44574e18-63a7-52ca-9cd1-5584b8f4619e",
            "correlationId": "fece399e-b196-5a4f-bc6d-4f7d2935e21d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssetItem": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral associated with this asset.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party owning the asset.",
            "example": "string"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset (e.g., equity, bond).",
            "example": "string"
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the asset was valued.",
            "example": "string"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to this asset.",
            "example": "string"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage discount applied to the market value of the asset.",
            "example": 0.0
          },
          "lienStatus": {
            "type": "string",
            "description": "The lien status of the asset.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the asset record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date when the asset record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single asset item related to a party."
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Numerical value of the asset in the specified currency.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the asset is valued.",
            "example": "string"
          }
        },
        "description": "Represents the market value of an asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-search-party-asset-directory"
        },
        "example": "party-asset-directory-search-party-asset-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism where a JSON Web Token (JWT) is provided as a bearer token in the Authorization header of the HTTP request. Clients must acquire the token through a login process or another means before accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}