{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp International Payment Consent-spec",
    "description": "This API facilitates the management of international payment consents in a PISP (Payment Initiation Service Provider) context. It allows users to create and manage consent for executing cross-border transactions securely and efficiently. Financial institutions and digital payment service providers can use this API to enhance their offerings, allowing customers to authorize and control their international payments seamlessly. Typical consumers include banks and fintech applications that require robust consent management for international transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payment-consents": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Create International Payment Consent",
        "description": "This endpoint allows the creation of a consent for an international payment transaction. It ensures that all necessary details are captured and the consent is stored securely.",
        "operationId": "createPispInternationalPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the creation of an international payment consent. It contains all necessary information to authorize and process international payments under the specified consent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispInternationalPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Consent created successfully for the international payment.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispInternationalPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispInternationalPaymentConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether the refund account can be read.",
                "example": "exampleString"
              },
              "Initiation": {
                "$ref": "#/components/schemas/PaymentInitiation"
              }
            },
            "description": "Contains information relevant for the international payment consent request.",
            "example": {
              "ReadRefundAccount": "STANDARD",
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD",
                  "ContractIdentification": "STANDARD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD"
                  }
                }
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "exampleString"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for tracking the request across systems.",
                "example": "exampleString"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure the request is processed only once.",
                "example": "exampleString"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp of when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Name of the system that originated the request.",
                "example": "exampleSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Name of the application that made the request.",
                "example": "exampleApplication"
              },
              "channel": {
                "$ref": "#/components/schemas/ChannelDetails"
              }
            },
            "description": "Context related to the request being made.",
            "example": {
              "requestId": "1fb05f31-3130-5c0d-9c46-4a9d3bc717ae",
              "correlationId": "4e2a0f45-f01c-5cc7-903f-262ac6b98d80",
              "idempotencyKey": "8e467f0f-b518-5630-8117-6947e894f974",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-302080"
              }
            }
          }
        },
        "example": {
          "Data": {
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "1fb05f31-3130-5c0d-9c46-4a9d3bc717ae",
            "correlationId": "4e2a0f45-f01c-5cc7-903f-262ac6b98d80",
            "idempotencyKey": "8e467f0f-b518-5630-8117-6947e894f974",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-302080"
            }
          }
        }
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "exampleString"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Reference to track the payment from end to end.",
            "example": "exampleString"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Specifies the local instrument to be used.",
            "example": "exampleString"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "exampleString"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Further purpose detail of the payment.",
            "example": "exampleString"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the cost of the transaction.",
            "example": "exampleString"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is to be made.",
            "example": "exampleString"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the destination of the payment.",
            "example": "exampleString"
          },
          "InstructedAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The monetary amount to be transferred.",
                "example": "exampleString"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the instructed amount.",
                "example": "exampleString"
              }
            },
            "description": "Amount that is instructed to be transferred."
          },
          "ExchangeRateInformation": {
            "type": "object",
            "properties": {
              "UnitCurrency": {
                "type": "string",
                "description": "Currency for which the exchange rate is specified.",
                "example": "exampleString"
              },
              "ExchangeRate": {
                "type": "number",
                "description": "Rate of exchange for the currency conversion.",
                "example": 0.0
              },
              "RateType": {
                "type": "string",
                "description": "Specifies the type of exchange rate.",
                "example": "exampleString"
              },
              "ContractIdentification": {
                "type": "string",
                "description": "Identification related to the contractual agreement for the exchange rate.",
                "example": "exampleString"
              }
            },
            "description": "Details about the exchange rate applicable to the transfer."
          },
          "DebtorAccount": {
            "type": "object",
            "properties": {
              "SchemeName": {
                "type": "string",
                "description": "Name of the account identification scheme.",
                "example": "exampleString"
              },
              "Identification": {
                "type": "string",
                "description": "Unique identifier for the debtor's account.",
                "example": "exampleString"
              },
              "Name": {
                "type": "string",
                "description": "Name of the account holder.",
                "example": "exampleString"
              },
              "SecondaryIdentification": {
                "type": "string",
                "description": "Additional identifier for the debtor's account.",
                "example": "exampleString"
              },
              "Proxy": {
                "$ref": "#/components/schemas/ProxyDetails"
              }
            },
            "description": "Details regarding the debtor's bank account."
          }
        },
        "description": "Details related to the initiation of a payment."
      },
      "ProxyDetails": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification string.",
            "example": "exampleString"
          }
        },
        "description": "Contains proxy details for account identification."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "exampleString"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "exampleString"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "exampleString"
          }
        },
        "description": "Details about the channel through which the request is made."
      },
      "CreatePispInternationalPaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "C123456789"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the consent was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons related to the current status.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "2023-10-02T12:00:00Z"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Information about the refund account.",
                "example": "RefundAccount123"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The cutoff date and time for processing the consent.",
                "example": "2023-10-15T15:00:00Z"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "The expected date and time for executing the payment.",
                "example": "2023-10-16T12:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "The expected date and time for settlement of the payment.",
                "example": "2023-10-17T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment consent.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "ExchangeRateInformation": {
                "type": "object",
                "$ref": "#/components/schemas/ExchangeRateInformation"
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/Initiation"
              },
              "metadata": {
                "type": "object",
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains detailed information about the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD",
                  "ContractIdentification": "STANDARD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service"
                }
              }
            }
          }
        },
        "description": "Response schema for the international payment consent operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service"
              }
            }
          },
          "metadata": {
            "responseId": "c98294d8-ae97-5673-8192-3b9b84987b0a",
            "correlationId": "4e2a0f45-f01c-5cc7-903f-262ac6b98d80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "REASON_X"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the reason.",
            "example": "Consent is under review."
          },
          "Path": {
            "type": "string",
            "description": "The path for more information regarding the reason.",
            "example": "/reasons/reason_x"
          }
        },
        "description": "Describes a reason for the status of the consent."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge for the payment.",
            "example": "SHARER"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "SERVICE"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the charge.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the charge amount.",
                "example": "USD"
              }
            },
            "description": "Details of the charge amount."
          }
        },
        "description": "Describes a charge associated with the payment."
      },
      "ExchangeRateInformation": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency unit that the exchange rate applies to.",
            "example": "EUR"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate value.",
            "example": 1.12
          },
          "RateType": {
            "type": "string",
            "description": "Type of the exchange rate.",
            "example": "FIXED"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the exchange rate contract.",
            "example": "CONTRACT_1234"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Expiration date and time for the exchange rate.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Information about the exchange rate."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the instruction.",
            "example": "INSTRUCTION_12345"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier for tracking the end-to-end transaction.",
            "example": "E2E_12345"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used to process the payment.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "HIGH"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "Invoice Payment"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge for the initiated payment.",
            "example": "SHARER"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is made.",
            "example": "EUR"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Currency of the destination country.",
            "example": "DE"
          },
          "InstructedAmount": {
            "type": "object",
            "description": "Amount instructed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "ExchangeRateInformation": {
            "type": "object",
            "description": "Details about the applicable exchange rate.",
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "DebtorAccount": {
            "type": "object",
            "description": "Account of the debtor initiating the payment.",
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "The initiation details required for processing the payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency for the given amount.",
            "example": "USD"
          }
        },
        "description": "Represents an amount with its currency."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the debtor's account.",
            "example": "IBAN"
          }
        },
        "description": "Information about the debtor's account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "EU"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-014"
        },
        "example": "WF-014"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "f4f330da-791b-4d24-842a-f07996cc0406"
        },
        "example": "f4f330da-791b-4d24-842a-f07996cc0406"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "abaae394-6959-47d2-bd15-4b22b8500e08"
        },
        "example": "abaae394-6959-47d2-bd15-4b22b8500e08"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the international payment consent operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-international-payment-consent"
        },
        "example": "payment-initiation-openapi-create-international-payment-consent"
      },
      "X-Runtime-App": {
        "description": "A string representing the runtime application that processed the request for the international payment consent.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the request. This allows tracking of the payment consent process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-014"
        },
        "example": "WF-014"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "International Wire Transfer with FX"
        },
        "example": "International Wire Transfer with FX"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "abaae394-6959-47d2-bd15-4b22b8500e08"
        },
        "example": "abaae394-6959-47d2-bd15-4b22b8500e08"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to send a JSON Web Token (JWT) in the HTTP Authorization header. The token is used to authenticate and authorize requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}