{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Current Account Balance Inquiry API",
    "description": "The Current Account Balance Inquiry API allows users to check the balance of their current accounts effortlessly. This endpoint is essential for clients who wish to monitor their account status and manage their finances effectively. Typical consumers include individual banking customers and financial advisors who require immediate access to account information. By providing real-time balance data, the API enhances user experience and supports informed financial decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/current-account": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve current account details for deposit lending.",
        "description": "This endpoint allows users to access and retrieve details of their current accounts associated with deposit lending. It provides information such as account balance, transaction history, and other account attributes needed for effective account management.",
        "operationId": "getCurrentAccountDepositLending",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve information regarding the current account in the deposit lending service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCurrentAccountDepositLendingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the current account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurrentAccountDepositLendingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCurrentAccountDepositLendingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on current account operations in the deposit-lending service.",
        "example": "{}"
      },
      "GetCurrentAccountDepositLendingResponse_200": {
        "title": "Current Account Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of current account operation items.",
            "example": [
              {
                "customerId": "CUST-388539",
                "accountId": "ACC-593304",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "accountPurpose": "STANDARD",
                "statementFrequency": "STANDARD",
                "overdraftAllowed": true,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CurrentAccountOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving operations of current accounts in the deposit lending system.",
        "example": {
          "items": [
            {
              "customerId": "CUST-388539",
              "accountId": "ACC-593304",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "accountPurpose": "STANDARD",
              "statementFrequency": "STANDARD",
              "overdraftAllowed": true,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "05b75572-b998-5905-8a46-ba8ce91e3ba5",
            "correlationId": "fae94928-9475-5c11-97e1-8e5fd203df78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrentAccountOperation": {
        "title": "Current Account Operation",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the current account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the account.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the account in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the current account.",
            "example": "string"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of the current account.",
            "example": "string"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency of account statements.",
            "example": "string"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if overdraft is allowed on this account.",
            "example": false
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the current account record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of the account.",
            "example": "string"
          }
        },
        "description": "Details of a single current account operation."
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the principal amount.",
            "example": "string"
          }
        },
        "description": "Represents the principal amount and currency of the current account."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response such as tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "current-account-search-current-account"
        },
        "example": "current-account-search-current-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, where the client needs to provide a JSON Web Token (JWT) in the Authorization header of each request. The token verifies the user's identity and grants access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}