{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Competitor Analysis API",
    "description": "The Competitor Analysis API enables businesses to gain insights into their competitive landscape by providing detailed analysis of competitor performance. This API allows users to access key metrics and reports that can assist in strategic planning and decision-making. Typical consumers include business analysts, strategic planners, and marketing teams looking to refine their competitive strategies based on real data. By leveraging this API, organizations can enhance their understanding of market dynamics and make informed decisions to improve their positioning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/competitor-analysis": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve competitor analysis data.",
        "description": "This endpoint allows users to access comprehensive data about competitor analysis, including key metrics and insights that can help inform strategic decision-making.",
        "operationId": "getCompetitorAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching competitor analysis data, formatted as JSON. Ensure that all required fields are included to retrieve accurate and relevant competitor insights.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCompetitorAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning competitor analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompetitorAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCompetitorAnalysisRequest": {
        "type": "string",
        "description": "A request body for the competitor analysis operation, represented as a string.",
        "example": "{}"
      },
      "GetCompetitorAnalysisResponse_200": {
        "title": "Competitor Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of competitor analysis records.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CompetitorAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response of a competitor analysis operation.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cd9e65ce-b285-59b2-a0a5-ab43edc1c4fc",
            "correlationId": "98600deb-ad0e-589d-9f07-9651d7c259f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CompetitorAnalysisItem": {
        "title": "Competitor Analysis Item",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis."
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment being analyzed."
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period."
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period."
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used in the analysis."
          },
          "scenario": {
            "type": "string",
            "description": "Scenario associated with the analysis."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the analysis record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the analysis was last updated."
          }
        },
        "description": "Schema representing a single item in the competitor analysis."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema containing pagination information."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track this request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "competitor-analysis-search-competitor-analysis"
        },
        "example": "competitor-analysis-search-competitor-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for authentication. Clients must provide the token in the Authorization header as a Bearer token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}