{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Correspondent Bank Directory API",
    "description": "This API allows users to update information in the Correspondent Bank Directory, which serves as a comprehensive list of banking institutions that facilitate international transactions. By utilizing this endpoint, financial institutions can modify entries to ensure accurate and current data is maintained. Typical users include compliance officers and bank administrators who require up-to-date information for operational efficiency and regulatory compliance. This API supports maintaining data integrity and enhances the collaboration and communication between banks in the global financial ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-directory/{param1}": {
      "put": {
        "tags": [
          "Correspondent Bank Management"
        ],
        "summary": "Update Correspondent Bank Directory Entry",
        "description": "This endpoint allows you to update the details of a specific correspondent bank entry identified by its unique resource ID. Ensure that the request body contains all necessary fields that need to be updated.",
        "operationId": "updateCorrespondentBankDirectoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Updates the details of a correspondent bank in the external agency system. Ensure that all required fields are included in the request body and properly formatted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorrespondentBankDirectoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorrespondentBankDirectoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorrespondentBankDirectoryRes100045Request": {
        "title": "Correspondent Bank Directory Update Request",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The identifier for the agreement associated with the correspondent bank.",
            "example": "AGR-668882"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the correspondent bank.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country of the correspondent bank.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the information becomes effective.",
            "example": "2026-09-15"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "The identifier for the nostro account held at this correspondent bank.",
            "example": "ACC-864925"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlement transactions with this correspondent bank.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "The current status of the relationship with the correspondent bank.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "The context surrounding the request for updating the correspondent bank information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating a correspondent bank's directory information.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-668882",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "nostroAccountId": "ACC-864925",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "requestContext": {
            "requestId": "a4665455-b62a-53fb-812f-55ce374b6acb",
            "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
            "idempotencyKey": "1cc39a67-5064-50a7-8e69-bfd5251a6595",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-555544"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and requests across services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures that a given request can be safely retried without unintended effects.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Detailed information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates the context of the request, providing metadata about the operation."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., API, Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "This schema provides details about the channel used for the request."
      },
      "UpdateCorrespondentBankDirectoryRes100045Response_200": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement associated with the institution.",
            "example": "AGR-516541"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code where the institution is located.",
            "example": "US"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "The identifier for the Nostro account used in transactions.",
            "example": "ACC-643993"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PUT operation on the correspondent bank directory.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-516541",
          "countryCode": "US",
          "nostroAccountId": "ACC-643993",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "30ae6b66-0ba4-5e2c-940b-9695914dee83",
            "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-directory-upsert-correspondent-bank-directory-record"
        },
        "example": "correspondent-bank-directory-upsert-correspondent-bank-directory-record"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for secure access to the API. Clients must provide a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}