{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Reference Data Management API",
    "description": "The Financial Instrument Reference Data Management API enables businesses to efficiently manage and update the reference data associated with financial instruments within their banking systems. This API allows users to modify existing data records to ensure accurate and up-to-date information is readily available for financial decision-making. Typical consumers include financial analysts, compliance teams, and trading systems that require constant updates on instrument characteristics. Leveraging this API enhances operational accuracy and supports regulatory compliance in an ever-evolving market environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-instrument-reference-data-management": {
      "put": {
        "tags": [
          "Market Data Management"
        ],
        "summary": "Update financial instrument reference data.",
        "description": "This endpoint allows users to update the reference data for financial instruments within the market data system. Ensure that the data provided complies with the required format to avoid errors.",
        "operationId": "putFinancialInstrumentReferenceData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update or manage the reference data of financial instruments within the market data system. It should contain the necessary information to identify and modify the respective financial instrument's data as per the requirements specified by the API.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutFinancialInstrumentReferenceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the operation was applied.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutFinancialInstrumentReferenceDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PutFinancialInstrumentReferenceDataRequest": {
        "title": "Financial Instrument Reference Data Management Request Body",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          }
        },
        "description": "Schema representing the request body for updating financial instrument reference data.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-574",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "requestContext": {
            "requestId": "7e77b663-d18c-5243-baf1-d1a595a061c9",
            "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
            "idempotencyKey": "96af832c-3547-5490-aa06-b8caaa80ba1c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-531060"
            }
          }
        }
      },
      "PutFinancialInstrumentReferenceDataResponse_200": {
        "title": "Financial Instrument Reference Data Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The market identifier code associated with the financial instrument.",
            "example": "CODE-748"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the financial instrument data.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the financial instrument.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for putting financial instrument reference data.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-748",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2fd87479-5a51-54aa-9514-9f57048ee009",
            "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for responses."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This header can be used for tracking and troubleshooting purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-reference-data-management-upsert-financial-instrument-reference-data-management"
        },
        "example": "financial-instrument-reference-data-management-upsert-financial-instrument-reference-data-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation. This information helps identify the source of the response for monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must provide a valid JWT token as part of the Authorization header in their requests. Ensure that the JWT is correctly signed and has not expired to access the protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}