{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Knowledge Assets Management Manuals-v5-spec",
    "description": "The Banking Knowledge Assets Management Manuals API allows users to access and retrieve a comprehensive list of knowledge management resources relevant to the banking sector. This API provides developers and financial institutions with essential manuals that facilitate the management, utilization, and dissemination of banking knowledge assets. Typical consumers include banking professionals, compliance officers, and knowledge management specialists who rely on up-to-date manuals for guidance in their operations. Through this API, users can enhance their understanding and application of best practices in banking knowledge management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Retrieve the management manual.",
        "description": "This endpoint allows you to fetch the management manual for knowledge assets. It contains essential guidelines and instructions needed for effective management and utilization of the assets.",
        "operationId": "listBankingKnowledgeAssetsManagementManuals",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the management manual related to knowledge assets. This body may contain parameters that dictate the specifics of the retrieval process, such as filters or query parameters that the API might accept.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingKnowledgeAssetsManagementManualsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of management manual data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingKnowledgeAssetsManagementManualsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingKnowledgeAssetsManagementManualsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of the management manual knowledge asset. It is expected to be a string format that may contain relevant information or configuration.",
        "example": "{}"
      },
      "ListBankingKnowledgeAssetsManagementManualsResponse_200": {
        "title": "Management Manual Retrieval Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of management manuals.",
            "example": [
              {
                "manualId": "STANDARD",
                "title": "Banking operation completed",
                "version": "STANDARD",
                "ownerId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "classification": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ManagementManual"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the retrieved items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving management manuals from the knowledge assets.",
        "example": {
          "items": [
            {
              "manualId": "STANDARD",
              "title": "Banking operation completed",
              "version": "STANDARD",
              "ownerId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "classification": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fd07aaae-675b-5ba0-a1e0-645645122947",
            "correlationId": "a2d0b53d-4b30-5da9-a353-c7f3ae0ba236",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ManagementManual": {
        "title": "Management Manual",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the manual."
          },
          "title": {
            "type": "string",
            "description": "Title of the management manual."
          },
          "version": {
            "type": "string",
            "description": "Version of the management manual."
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the manual."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the manual becomes effective."
          },
          "classification": {
            "type": "string",
            "description": "Classification type of the manual."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, archived)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the manual was last updated."
          }
        },
        "description": "Schema representing a management manual."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema providing pagination details for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request-response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-search-management-manual"
        },
        "example": "management-manual-search-management-manual"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) to secure API endpoints. Clients must provide a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}