{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Document Correspondence-spec",
    "description": "The Document Correspondence Management API facilitates the creation of correspondence documents within the banking environment. It allows users to generate and submit various types of documents essential for banking transactions and communications. This API is primarily designed for banking institutions, financial service providers, and regulatory bodies to streamline document processing and enhance user engagement. Typical use cases include initiating loan documentation, account communication, and compliance declarations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://enterprise-support-app:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/correspondence": {
      "post": {
        "tags": [
          "Document Management"
        ],
        "summary": "Create a new correspondence document.",
        "description": "This endpoint allows users to create and submit a new correspondence document. After successful submission, the document will be stored in the system for future reference and management.",
        "operationId": "createDocumentCorrespondence",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new correspondence document. It should include all necessary information required for the creation of the correspondence, such as the document details and any relevant metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentCorrespondenceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentCorrespondenceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDocumentCorrespondenceRequest": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-242832"
          },
          "documentType": {
            "type": "string",
            "description": "The type of document being processed.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "The classification of the document.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "The retention class the document belongs to.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier for the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with this document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document (e.g., application/pdf).",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum used for file integrity verification.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used to create a new correspondence document.",
        "example": {
          "documentId": "DOC-242832",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "requestContext": {
            "requestId": "24cf9c51-bde3-598f-8091-acb46b8451d3",
            "correlationId": "4b507948-d9e7-58cf-8611-50684b77c277",
            "idempotencyKey": "37a9095b-dc93-5fba-a018-5d0fb56465c0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-677576"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details for a request."
      },
      "CreateDocumentCorrespondenceResponse_201": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-140463"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier for the owner of the document.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the associated resource.",
            "example": "RES-852949"
          },
          "status": {
            "type": "string",
            "description": "Current status of the document.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the document was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information regarding the document creation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for creating a new correspondence document.",
        "example": {
          "documentId": "DOC-140463",
          "ownerId": "STANDARD",
          "resourceId": "RES-852949",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8850d209-0487-5fd6-bf0f-ff0510bbc5b5",
            "correlationId": "4b507948-d9e7-58cf-8611-50684b77c277",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-10T14:48:01.000Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Represents metadata associated with the document."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1fb62c9d-6b5a-41b9-9d4a-9038334f3fe2"
        },
        "example": "1fb62c9d-6b5a-41b9-9d4a-9038334f3fe2"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6"
        },
        "example": "6"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
        },
        "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint from which the request originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondence-create-correspondence"
        },
        "example": "correspondence-create-correspondence"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-100"
        },
        "example": "WF-100"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Enterprise Strategy Architecture and Business Unit Planning"
        },
        "example": "Enterprise Strategy Architecture and Business Unit Planning"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_FINALIZATION"
        },
        "example": "ASYNC_FINALIZATION"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
        },
        "example": "980ef74b-71ec-441e-9165-7cdc9b11f007"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication format commonly employed with JSON Web Tokens (JWT) for authorization. Clients are expected to include a valid JWT in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}