{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Delinquent Account Handling-v5-spec",
    "description": "The Delinquent Account Handling API enables banks and financial institutions to manage delinquent accounts effectively. With this API, authorized users can initiate processes to address accounts that are overdue, enhancing operational efficiency. Typical consumers include banking operations teams and financial analysts focused on debt recovery. Key functionalities include account status updates, notifications, and intervention measures, ensuring timely engagement with delinquent account holders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/delinquent-account-handling": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Manage delinquent accounts efficiently.",
        "description": "This operation allows you to manage accounts that are considered delinquent, providing a means to implement handling processes such as payment plans or collections. It aims to help restore account statuses and improve overall financial health.",
        "operationId": "createBankingOperationalServicesDelinquentAccountHandling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body containing the necessary information to handle a delinquent account operation. This includes details about the account, the nature of the delinquency, and any specific instructions for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesDelinquentAccountHandlingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesDelinquentAccountHandlingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesDelinquentAccountHandlingRequest": {
        "title": "Delinquent Account Handling Request Body",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer related to the delinquent account.",
            "example": "CUST-483872"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account being handled.",
            "example": "ACC-417751"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level for the request, such as 'high', 'medium', or 'low'.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for handling delinquent accounts in the operational services.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-483872",
          "accountId": "ACC-417751",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "62e944d2-f535-5fb2-9345-6531c7d619ce",
            "correlationId": "c92712c5-6706-5cb5-b6cb-37a0c42d4536",
            "idempotencyKey": "319ff66c-a5b3-5be5-9794-b82f148ae9a7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-344863"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across different systems.",
            "example": "corr-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request context was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that originated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "AccountManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., 'web', 'mobile').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema containing details about the request channel."
      },
      "CreateBankingOperationalServicesDelinquentAccountHandlingResponse_201": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the delinquent account.",
            "example": "CUST-830214"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account being processed.",
            "example": "ACC-571923"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the operation.",
            "example": "RES-455373"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response received after handling a delinquent account operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-830214",
          "accountId": "ACC-571923",
          "resourceId": "RES-455373",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3280b7da-2788-5715-ad7f-fbe72ccd0127",
            "correlationId": "c92712c5-6706-5cb5-b6cb-37a0c42d4536",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the operation across different systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "delinquent-account-handling-create-delinquent-account-handling"
        },
        "example": "delinquent-account-handling-create-delinquent-account-handling"
      },
      "x-runtime-app": {
        "description": "The identifier for the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) for securing API endpoints. Clients must include the token in the Authorization header in the format: 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}