{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Investment Management Investment Portfolio Management-spec",
    "description": "The Investment Portfolio Management API enables businesses to initiate and manage investment portfolios effectively. This service allows users to create new investment portfolios tailored to their financial strategies and goals. Financial institutions, advisors, and individual investors can leverage this endpoint to streamline portfolio setup and enhance investment performance. By integrating this API, customers can automate their investment management processes and ensure seamless tracking of their portfolio assets.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-management": {
      "post": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Create a new investment portfolio.",
        "description": "This endpoint allows users to create a new investment portfolio by providing the necessary details. It facilitates the management of investments by organizing them into portfolios for better tracking and analysis.",
        "operationId": "createInvestmentManagementInvestmentPortfolioManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an investment portfolio in the investment management system. It requires details about the portfolio's attributes that need to be set or modified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvestmentManagementInvestmentPortfolioManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Investment portfolio created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvestmentManagementInvestmentPortfolioManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInvestmentManagementInvestmentPortfolioManagementRequest": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the investment portfolio.",
            "example": "PORT-434027"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the associated investment account.",
            "example": "ACC-864546"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The primary objective of the investment, e.g., growth, income.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The desired risk profile for the investments, e.g., conservative, aggressive.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the investment portfolio.",
            "example": "USD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating or updating an investment portfolio.",
        "example": {
          "portfolioId": "PORT-434027",
          "investmentAccountId": "ACC-864546",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "560ffc4e-1376-592d-9929-4f7168b9dc43",
            "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
            "idempotencyKey": "769d1398-9b0d-5709-b1f4-fd1476696839",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-890236"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "corr012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure the request is processed only once.",
            "example": "idemp345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "externalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "investmentApp"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information representing the context in which the request is made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel, e.g., web, mobile.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the request.",
            "example": "device456"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateInvestmentManagementInvestmentPortfolioManagementResponse_201": {
        "title": "Investment Portfolio Management Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "A unique identifier for the investment portfolio.",
            "example": "PORT-485210"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "A unique identifier for the associated investment account.",
            "example": "ACC-969087"
          },
          "resourceId": {
            "type": "string",
            "description": "A unique identifier for the resource related to this portfolio.",
            "example": "RES-963975"
          },
          "status": {
            "type": "string",
            "description": "The current status of the investment portfolio.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the investment portfolio was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata pertaining to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The schema representing the response for creating an investment portfolio.",
        "example": {
          "portfolioId": "PORT-485210",
          "investmentAccountId": "ACC-969087",
          "resourceId": "RES-963975",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c6d019c5-feff-5a4d-9825-5d55a9239a00",
            "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate requests and responses.",
            "example": "correlation_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information for the investment portfolio creation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-management-create-investment-portfolio-management"
        },
        "example": "investment-portfolio-management-create-investment-portfolio-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token in the HTTP Authorization header. This token should be a valid JSON Web Token (JWT) that grants access to the secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}