{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Loan By Loan Id-spec",
    "description": "The Loan Details Retrieval API provides businesses with the ability to access specific loan information using a unique loan identifier. This endpoint allows consumers, such as loan officers or financial analysts, to retrieve detailed records for loans, aiding in decision-making and customer service. Operations performed through this API include fetching pertinent data about loans like outstanding balances, repayment status, and borrower information. The API is designed for use in financial applications and systems requiring detailed loan visibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve loan details by ID.",
        "description": "This endpoint allows you to fetch details for a specific loan using its unique identifier. It returns comprehensive information about the loan, including terms, amounts, and related data.",
        "operationId": "getLoanByLoanId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve details for the loan identified by LOAN-500045. The request body should conform to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanByLoanIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanByLoanIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanByLoanIdRequest": {
        "title": "Loans Operations Request Body",
        "type": "string",
        "description": "A JSON string representing the request body for the Loans Operations GET request.",
        "example": "{}"
      },
      "GetLoanByLoanIdResponse_200": {
        "title": "Loan Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The ID of the source application requesting the loan details.",
            "example": "APP-576916"
          },
          "productId": {
            "type": "string",
            "description": "The unique identifier of the loan product.",
            "example": "PROD-806275"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The ID of the primary customer associated with the loan.",
            "example": "CUST-263976"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of borrower customer IDs associated with the loan.",
            "example": [
              "CUST-585799"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate (e.g., fixed, variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first payment for the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number where repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch servicing the loan.",
            "example": "CODE-889"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The ID of the relationship manager for the loan account.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "b92b6954-65c6-06ff-8b83-6bca5b87411a"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan (e.g., active, closed).",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "The balance information related to the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "The total amount disbursed for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalRepaid": {
            "description": "The total amount repaid for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "metadata": {
            "description": "Metadata associated with the loan response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Represents the response structure for a loan operation.",
        "example": {
          "sourceApplicationId": "APP-576916",
          "productId": "PROD-806275",
          "primaryCustomerId": "CUST-263976",
          "borrowerCustomerIds": [
            "CUST-585799"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-889",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "b92b6954-65c6-06ff-8b83-6bca5b87411a",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "ad155b85-9b1b-5437-b33a-71b30994de6c",
            "correlationId": "eafc7be2-eda5-5d4b-a3c8-9abbb26eee29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The principal amount of the loan.",
            "example": "1000.00"
          }
        },
        "description": "Represents the principal amount and its currency for the loan."
      },
      "LoanBalance": {
        "title": "Loan Balance",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Amount of principal still outstanding on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "accruedInterest": {
            "description": "The interest accrued on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "feesOutstanding": {
            "description": "Any fees outstanding on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "penaltiesOutstanding": {
            "description": "Any penalties outstanding on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalOutstanding": {
            "description": "The total amount outstanding on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "availableToDraw": {
            "description": "The amount available to draw from the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          }
        },
        "description": "Details about the loan balance including outstanding amounts."
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount value.",
            "example": "1000.00"
          }
        },
        "description": "Represents an amount related to the loan and its currency."
      },
      "LoanMetadata": {
        "title": "Loan Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The ID of the response for tracking purposes.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region from which the response was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-get-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-get-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for securing API endpoints. This method enables the client to pass a token in the 'Authorization' header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}