{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Banking Employee Expense Claim By Expense Claim Id-v5-spec",
    "description": "The Update Employee Expense Claim API facilitates the modification of expense claims associated with banking employees. By providing the employee ID and the specific expense claim ID, users can adjust details such as claim amounts or descriptions. This API is primarily utilized by financial administrators and banking personnel who need to ensure accuracy in employee reimbursements and maintain proper expense records. It streamlines the expense management process, enhancing operational efficiency and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/employees/{employeeId}/expense-claims/{expenseClaimId}": {
      "put": {
        "tags": [
          "Employee Expenses"
        ],
        "summary": "Update an expense claim for an employee.",
        "description": "This operation allows you to update the details of a specific expense claim associated with an employee. You must provide the employee ID and the expense claim ID for the update to be applicable. Ensure that all required fields are included in the request body for successful processing.",
        "operationId": "replaceBankingEmployeeExpenseClaimByExpenseClaimId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/employeeId"
          },
          {
            "$ref": "#/components/parameters/expenseClaimId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the expense claim for the specified employee and expense claim ID. It should include all necessary details for the expense claim, ensuring that the data is structured according to the provided schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Expense claim successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdRequest": {
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "The unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee submitting the expense claim.",
            "example": "EMP-397951"
          },
          "tripPurpose": {
            "type": "string",
            "description": "The purpose of the trip for which expenses are being claimed.",
            "example": "STANDARD"
          },
          "expensePeriod": {
            "description": "The period during which the expenses were incurred.",
            "$ref": "#/components/schemas/ExpensePeriod"
          },
          "claimedAmount": {
            "description": "The amount being claimed for the expenses.",
            "$ref": "#/components/schemas/ClaimedAmount"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the expense.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-397951",
          "tripPurpose": "STANDARD",
          "expensePeriod": {
            "from": "2026-08-11",
            "to": "2026-08-11"
          },
          "claimedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "costCenter": "STANDARD",
          "requestContext": {
            "requestId": "c75a83d3-9db3-5a9b-8508-0c152e91e212",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "idempotencyKey": "e6b8d22d-c06a-5d70-8b23-d5f3d4dd9c1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-423278"
            }
          }
        }
      },
      "ExpensePeriod": {
        "type": "object",
        "properties": {
          "from": {
            "type": "string",
            "description": "The start date of the expense period.",
            "example": "2023-01-01"
          },
          "to": {
            "type": "string",
            "description": "The end date of the expense period.",
            "example": "2023-01-31"
          }
        },
        "description": "The time frame for the expenses submitted in the report."
      },
      "ClaimedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of the claim.",
            "example": 250.75
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the claim is made.",
            "example": "USD"
          }
        },
        "description": "The monetary amount being claimed in the expense report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-789101"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "CORR-111213"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests have the same effect as a single request.",
            "example": "IDEMP-141516"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-15T10:45:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was sent.",
            "example": "Expense Tracker"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used, such as Web, Mobile, etc.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "ReplaceBankingEmployeeExpenseClaimByExpenseClaimIdResponse_201": {
        "title": "Expense Claim Response",
        "type": "object",
        "properties": {
          "expenseReportId": {
            "type": "string",
            "description": "Unique identifier for the expense report.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee associated with the expense claim.",
            "example": "EMP-200976"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the expense claim.",
            "example": "RES-557358"
          },
          "status": {
            "type": "string",
            "description": "Current status of the expense claim.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the expense claim was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the expense claim response.",
            "$ref": "#/components/schemas/ExpenseClaimMetadata"
          }
        },
        "description": "Response schema for an expense claim operation. It includes details of the expense report and its associated metadata.",
        "example": {
          "expenseReportId": "STANDARD",
          "employeeId": "EMP-200976",
          "resourceId": "RES-557358",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b18ccaed-6d3f-55b4-9d92-7492b39f0d32",
            "correlationId": "e6a1bdb0-a8a2-5428-9690-5289b8ae3956",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ExpenseClaimMetadata": {
        "title": "Expense Claim Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-111222"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "CORR-333444"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the expense claim was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional details about the expense claim response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "employeeId": {
        "name": "employeeId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "expenseClaimId": {
        "name": "expenseClaimId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request. Useful for tracking requests and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "travel-and-expenses-create-travel-and-expenses"
        },
        "example": "travel-and-expenses-create-travel-and-expenses"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request. This header helps in identifying the app context for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow that includes this operation. This can assist in tracking the workflow's execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-083"
        },
        "example": "WF-083"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Travel Expense Approval and Reimbursement"
        },
        "example": "Employee Travel Expense Approval and Reimbursement"
      },
      "X-Workflow-State": {
        "description": "The current state of the executed workflow, indicating whether it is pending, completed, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, allowing for tracing and logging of the workflow's progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "98143aa5-8466-493b-b5d9-20e5af331b6d"
        },
        "example": "98143aa5-8466-493b-b5d9-20e5af331b6d"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JWT (JSON Web Tokens). Clients should include the token in the Authorization header as 'Bearer {token}' to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}