{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Portfolio Retrieval API",
    "description": "The Consumer Portfolio Retrieval API enables users to access detailed information about a specific portfolio associated with a given consumer. This API allows businesses to retrieve essential portfolio data, including investment details and performance metrics, which are crucial for financial analysis and decision-making. Typical consumers of this API include financial analysts, investment managers, and developers integrating portfolio insights into their applications. By providing targeted access to portfolio data, this API enhances customer engagement and supports informed investment strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Consumer Portfolios"
        ],
        "summary": "Retrieve portfolio details for a specific consumer.",
        "description": "This endpoint allows you to access the portfolio information associated with a specific consumer, identified by their unique consumer ID. The portfolio includes comprehensive details on investments, performance metrics, and other relevant financial data.",
        "operationId": "getPortfolioForConsumerRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          },
          {
            "$ref": "#/components/parameters/portfolioId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the portfolio information for a specified consumer and portfolio ID. Ensure that the request conforms to the defined schema for accurate responses.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPortfolioForConsumerRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioForConsumerRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPortfolioForConsumerRes100045Request": {
        "title": "Portfolio Operations Request Body",
        "type": "string",
        "description": "A string representing the request body for portfolio operations in the application.",
        "example": "{}"
      },
      "GetPortfolioForConsumerRes100045Response_200": {
        "title": "Portfolio Response Schema",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-383332"
          },
          "reports": {
            "type": "array",
            "description": "A list of reports associated with the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-905087",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "consumer": {
            "$ref": "#/components/schemas/Consumer"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for portfolio operations.",
        "example": {
          "portfolioId": "PORT-383332",
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-905087",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "consumer": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "customerId": 1,
            "ssn": "STANDARD",
            "birthday": {
              "year": 1,
              "month": 1,
              "dayOfMonth": 1
            },
            "suffix": "STANDARD"
          },
          "metadata": {
            "responseId": "598c5e48-1b4c-5769-9acc-29605b4dcf66",
            "correlationId": "519bfc4f-f863-5d1e-86c3-cd84818157ad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Report": {
        "title": "Report Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the report.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "The ID of the portfolio that this report belongs to.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the report.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the report.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the report was created, represented as a timestamp.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "This schema defines the structure of a report associated with a portfolio."
      },
      "Consumer": {
        "title": "Consumer Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "string"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 0
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "string"
          },
          "birthday": {
            "$ref": "#/components/schemas/Birthday"
          },
          "suffix": {
            "type": "string",
            "description": "An optional suffix for the consumer's name.",
            "example": "string"
          }
        },
        "description": "This schema contains the details of a consumer associated with the portfolio."
      },
      "Birthday": {
        "title": "Birthday Schema",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 0
          },
          "month": {
            "type": "integer",
            "description": "The month of birth.",
            "format": "int32",
            "example": 0
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of the month on which the consumer was born.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "This schema defines the structure for storing a consumer's birthday details."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An ID used to track the request and response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was generated.",
            "example": "string"
          }
        },
        "description": "This schema holds metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "consumerId": {
        "name": "consumerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "portfolioId": {
        "name": "portfolioId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-consumer"
        },
        "example": "open-finance-api-get-portfolio-by-consumer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a Bearer token, typically a JSON Web Token (JWT), for securing API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}