{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Model Credit Margin-spec",
    "description": "This API allows financial institutions to define and submit credit margin specifications for various banking models. By utilizing this endpoint, users can establish the parameters and criteria that govern credit margin calculations. It primarily supports banking and finance professionals looking to optimize their risk assessment processes. This endpoint is pivotal for enhancing lending strategies and ensuring compliance with financial regulations, thereby benefiting risk managers and compliance officers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-margins": {
      "post": {
        "tags": [
          "Credit Margin"
        ],
        "summary": "Create a new credit margin model",
        "description": "This endpoint allows users to create a new credit margin model, which can be used for various financial analyses and calculations. Ensure the request body includes all necessary parameters to successfully define the credit margin model.",
        "operationId": "createModelCreditMargin",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body expects a JSON object that represents the credit margins to be processed. Ensure that all required fields according to the schema are included for successful execution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelCreditMarginRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateModelCreditMarginResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateModelCreditMarginRequest": {
        "title": "Credit Margins Request Body",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "A unique identifier for the credit margin model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the credit margin model being used.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the credit margin.",
            "example": "PORT-143497"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the credit margins are requested, formatted as an ISO string.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario under which the credit margins are computed.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level for the credit margins, expressed as a decimal.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for performing operations related to credit margins.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-143497",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "requestContext": {
            "requestId": "478cf173-6400-5d25-9724-9ab7088f4772",
            "correlationId": "e4058aa9-4fbb-56b9-9fbf-3bdb07120a0a",
            "idempotencyKey": "a767ad97-1a04-5507-a337-b040a7357e62",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-673551"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made, formatted as an ISO string.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "A unique identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel through which the request was made."
      },
      "CreateModelCreditMarginResponse_201": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the credit margin model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the credit margin.",
            "example": "PORT-847715"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the credit margin.",
            "example": "RES-279178"
          },
          "status": {
            "type": "string",
            "description": "The current status of the credit margin operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the credit margin was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the credit margin operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the credit margins operations POST request.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-847715",
          "resourceId": "RES-279178",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "71d52eb3-bbe7-51ec-a927-911f89c8af16",
            "correlationId": "e4058aa9-4fbb-56b9-9fbf-3bdb07120a0a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to link related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was done.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional details regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed. This helps in tracking the specific endpoint used for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-and-margin-management-create-credit-and-margin-management"
        },
        "example": "credit-and-margin-management-create-credit-and-margin-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime associated with the request. This provides context regarding the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authorization, specifically in the form of a JSON Web Token (JWT). Ensure that the token is valid and properly signed before including it in your request headers.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}