{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payment Consent Submission API",
    "description": "This API allows external applications to submit file payment consents securely. It serves as a critical interface for initiating file-based payment transactions, enabling businesses to manage their payment consent workflows effectively. Typical consumers include banking institutions and fintech platforms that require seamless integration for file payments. The API facilitates the upload process and ensures compliance with banking regulations for payment processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payment-consents/{param1}/file": {
      "post": {
        "tags": [
          "Payment Consent"
        ],
        "summary": "Create a File Payment Consent",
        "description": "This endpoint allows you to create a file payment consent for the specified resource. It facilitates the management of payment consents efficiently, ensuring a smooth transaction process.",
        "operationId": "createFilePaymentConsentForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to create a file payment consent. Ensure that the payload adheres to the specified schema to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFilePaymentConsentForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the operation completed as expected.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFilePaymentConsentForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFilePaymentConsentForRes100045Request": {
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for file payment consents operation.",
        "example": {
          "requestContext": {
            "requestId": "33fcd3e9-870f-5872-8253-8b5775f455a0",
            "correlationId": "9ef782a1-918c-5524-a7f6-a5679abbee25",
            "idempotencyKey": "54ddfdd8-76b9-5119-8d0a-5788486cde9f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-515487"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for managing idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application generating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context including identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel."
      },
      "CreateFilePaymentConsentForRes100045Response_200": {
        "title": "File Payment Consents Response",
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Metadata associated with the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the File Payment Consents operation. It contains metadata about the response.",
        "example": {
          "metadata": {
            "responseId": "b56c0705-943d-5d40-b055-fe8c847fe1f5",
            "correlationId": "9ef782a1-918c-5524-a7f6-a5679abbee25",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across different services.",
            "example": "correlation12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-03T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata containing identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-upload-file-payment-consent"
        },
        "example": "payment-initiation-openapi-upload-file-payment-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with a JSON Web Token (JWT). Clients must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}