{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Technology Standards API",
    "description": "The Technology Standards API provides access to established technology standards essential for IT management within banking operations. It enables users to retrieve a comprehensive list of standards that govern the technology landscape, ensuring compliance and best practices. Typical consumers include IT professionals and compliance officers who rely on standardized frameworks to guide technology implementation. This API supports organizations in maintaining up-to-date knowledge of technology standards, facilitating better decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/technology-standards": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT management technology standards.",
        "description": "This endpoint allows you to fetch the latest technology standards related to IT management. It provides valuable insights and guidelines for organizations looking to implement or adhere to industry standards in technology.",
        "operationId": "getTechnologyStandards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains parameters required to retrieve technology standards within the IT management context. Ensure that the provided structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTechnologyStandardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the technology standards.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTechnologyStandardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTechnologyStandardsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the IT management technology standards operation using GET method.",
        "example": "{}"
      },
      "GetTechnologyStandardsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of policy items including their details.",
            "example": [
              {
                "policyId": "STANDARD",
                "title": "Banking operation completed",
                "ownerTeam": "STANDARD",
                "effectiveDate": "2026-09-15",
                "reviewDate": "2026-09-15",
                "applicability": [
                  "STANDARD"
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PolicyItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving technology standards, including metadata, pagination, and items related to policies.",
        "example": {
          "items": [
            {
              "policyId": "STANDARD",
              "title": "Banking operation completed",
              "ownerTeam": "STANDARD",
              "effectiveDate": "2026-09-15",
              "reviewDate": "2026-09-15",
              "applicability": [
                "STANDARD"
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "427a296a-bcd5-5379-b1c0-567a748a83ba",
            "correlationId": "a07d8331-442d-53f4-bda4-8940570a7a09",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PolicyItem": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "Unique identifier for the policy.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "Title of the policy.",
            "example": "string"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the policy.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the policy becomes effective.",
            "example": "string"
          },
          "reviewDate": {
            "type": "string",
            "description": "Date when the policy should be reviewed.",
            "example": "string"
          },
          "applicability": {
            "type": "array",
            "description": "List of areas or teams to whom the policy applies.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "Applicability details."
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the policy record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the policy.",
            "example": "string"
          }
        },
        "description": "Represents a policy item with its details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to pagination of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracking through various systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-standards-and-guidelines-search-it-standards-and-guidelines"
        },
        "example": "it-standards-and-guidelines-search-it-standards-and-guidelines"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, allowing access via a JSON Web Token (JWT). The token must be included in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}