{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Facilities Property Portfolio-v5-spec",
    "description": "This API enables the creation and management of banking facilities related to property portfolios. Users can submit detailed information regarding properties, including their specifications and financial requirements. Banks and financial institutions typically consume this API to streamline the onboarding process of new property investments and enhance portfolio diversification. The API ensures that all necessary data is captured efficiently, facilitating informed decision-making and lending strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/property-portfolio": {
      "post": {
        "tags": [
          "Property Management"
        ],
        "summary": "Create a new property portfolio.",
        "description": "This endpoint allows users to create a new property portfolio by providing the necessary details. The created portfolio can then be managed and manipulated through various other endpoints in the API.",
        "operationId": "createBankingFacilitiesPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update a property portfolio in the facilities management system. It contains all necessary details about the property portfolio such as name, location, and associated facilities. Ensure that the data adheres to the required schema to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingFacilitiesPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new resource in the property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingFacilitiesPropertyPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingFacilitiesPropertyPortfolioRequest": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-618854"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the operation is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The location or zone within the facility.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance required for the operation.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "The unique identifier for the request.",
                "example": "request123"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracing the request across systems.",
                "example": "correlation456"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure the operation is not processed multiple times.",
                "example": "idempotency789"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that generated the request.",
                "example": "System A"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "App X"
              },
              "channel": {
                "$ref": "#/components/schemas/RequestChannel"
              }
            },
            "description": "Contextual information for the request.",
            "example": {
              "requestId": "5e4da40f-29af-520c-85ec-8a325f5c8bdc",
              "correlationId": "5208e878-749a-56d0-82ba-6276a723aad5",
              "idempotencyKey": "11f9d53d-f89a-515b-8c5d-96a75ede5197",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-272032"
              }
            }
          }
        },
        "description": "Request body schema for creating an operation in the property portfolio.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-618854",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "requestContext": {
            "requestId": "5e4da40f-29af-520c-85ec-8a325f5c8bdc",
            "correlationId": "5208e878-749a-56d0-82ba-6276a723aad5",
            "idempotencyKey": "11f9d53d-f89a-515b-8c5d-96a75ede5197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-272032"
            }
          }
        }
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateBankingFacilitiesPropertyPortfolioResponse_201": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order.",
            "example": "ORD-113652"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-379689"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-303"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlating requests and responses.",
                "example": "correlation-404"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the metadata was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the operation was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "6f654414-fccc-5658-a083-69c0db8580de",
              "correlationId": "5208e878-749a-56d0-82ba-6276a723aad5",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the successful creation of a property portfolio operation.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-113652",
          "vendorId": "STANDARD",
          "resourceId": "RES-379689",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6f654414-fccc-5658-a083-69c0db8580de",
            "correlationId": "5208e878-749a-56d0-82ba-6276a723aad5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "property-portfolio-create-property-portfolio"
        },
        "example": "property-portfolio-create-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients should include a 'Bearer' token in the Authorization header, formatted as a JSON Web Token (JWT). This method enables secure access to endpoints requiring authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}