{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Payment Central Cash Handlings-spec",
    "description": "The Central Cash Handling Retrieval API facilitates access to details regarding cash handling transactions completed within the Payment Central system. This API allows users to query and retrieve information about various cash handling events, such as deposits, withdrawals, and adjustments. It serves financial institutions and payment processors who need to monitor and analyze cash flow activities for accurate reporting and compliance. This endpoint enhances operational transparency and supports financial auditing by providing a detailed view of cash handling operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/central-cash-handling": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Central Cash Handling Payments",
        "description": "This endpoint allows users to retrieve information about central cash handling payments. It provides essential details necessary for managing cash flow and financial processes within the organization.",
        "operationId": "listPaymentCentralCashHandlings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to initiate the central cash handling operations. It contains parameters necessary for processing the cash handling request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListPaymentCentralCashHandlingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of cash handling data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPaymentCentralCashHandlingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListPaymentCentralCashHandlingsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the Central Cash Handling operations on the payments service.",
        "example": "{}"
      },
      "ListPaymentCentralCashHandlingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of payment items.",
            "example": [
              {
                "paymentId": "PAY-945732",
                "debtorAccountId": "ACC-721651",
                "creditorAccountId": "ACC-452452",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the central cash handling operations GET request.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-945732",
              "debtorAccountId": "ACC-721651",
              "creditorAccountId": "ACC-452452",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0a5871dd-ae48-50f2-aaf0-cda18b7d409d",
            "correlationId": "29cd4fb4-ddfe-59a4-9746-c306aa4b0a63",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "string"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "string"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date requested for execution of the payment.",
            "example": "string"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single payment item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount for the payment.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "string"
          }
        },
        "description": "Represents the instructed amount for a payment."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "central-cash-handling-search-central-cash-handling"
        },
        "example": "central-cash-handling-search-central-cash-handling"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securely transmitting information between parties. The token allows for user authentication and authorization based on the claims embedded within the JWT.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}