{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Portfolio Analysis API",
    "description": "The Bank Portfolio Analysis API enables users to perform comprehensive analyses of their banking portfolios to generate insights and optimize asset allocation. With this API, financial institutions and analysts can submit requests for portfolio analyses, allowing them to assess risk, performance, and liquidity of various financial instruments. Typical consumers of this API include financial analysts, risk management teams, and investment advisors looking to enhance decision-making processes. The API streamlines complex analytical operations and supports data-driven strategies in banking and finance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/bank-portfolio-analysis/analyses": {
      "post": {
        "tags": [],
        "summary": "Create a new bank portfolio analysis.",
        "description": "This endpoint allows users to create a new analysis for bank portfolios within the treasury system. The request should include the necessary data for the analysis and will return a confirmation of the analysis creation along with its details.",
        "operationId": "createBankPortfolioAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new bank portfolio analysis. It requires a JSON object that contains specific parameters for processing the analysis, ensuring that all necessary data is provided for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankPortfolioAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankPortfolioAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankPortfolioAnalysisRequest": {
        "title": "Bank Portfolio Analysis Request",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio being analyzed.",
            "example": "PORT-450119"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument involved in the analysis.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier for the counterparty involved in the transaction.",
            "example": "PARTY-224116"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the financial instrument matures.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the JSON structure for a request to analyze a bank portfolio. It includes details about the portfolio, instrument, counterparty, monetary information, and the context of the analysis request.",
        "example": {
          "portfolioId": "PORT-450119",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-224116",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "b717805b-7cd5-57c6-8563-e747e5fa130a",
            "correlationId": "a16866e1-4c66-5f97-ae2a-fa1aef95843f",
            "idempotencyKey": "52f7725a-7ab1-5939-bb36-b7d7d12e501a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-371168"
            }
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the instrument.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "USD"
          }
        },
        "description": "This schema represents the notional amount of a financial instrument, specifying the amount and the currency in which it is denominated."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this request with other related requests.",
            "example": "correlation-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "key-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "system-A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "app-B"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides the context for the analysis request, including identifiers for tracking and system source information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel used.",
            "example": "channel-004"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-005"
          }
        },
        "description": "This schema represents the channel through which the request was made, providing identifiers related to the channel type and device used."
      },
      "CreateBankPortfolioAnalysisResponse_200": {
        "title": "Portfolio Analysis Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio being analyzed.",
            "example": "PORT-138506"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument related to the portfolio.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the analysis.",
            "example": "PARTY-328062"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis session.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp of when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings from the analysis, detailing relevant metrics.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/AnalysisMetadata"
          }
        },
        "description": "Schema representing the response for the portfolio analysis operation. It includes details about the portfolio, instruments involved, analysis status, findings, and metadata.",
        "example": {
          "portfolioId": "PORT-138506",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-328062",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "301f2d6b-fc1b-5fc3-96ea-b69db2f6ef10",
            "correlationId": "a16866e1-4c66-5f97-ae2a-fa1aef95843f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "title": "Analysis Finding",
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric being reported.",
            "example": "string"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 0.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric.",
            "example": "string"
          }
        },
        "description": "Schema representing a single finding from the analysis, including the metric, value, and unit of measurement."
      },
      "AnalysisMetadata": {
        "title": "Analysis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the analysis occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata associated with the analysis response, such as identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-portfolio-analysis-analyze-bank-portfolio-analysis"
        },
        "example": "bank-portfolio-analysis-analyze-bank-portfolio-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application running the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of Bearer tokens for authentication. The tokens should follow the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}