{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Sale Party Lifecycle Management-spec",
    "description": "The Sale Party Lifecycle Management API facilitates the establishment and management of sales party entities within a banking ecosystem. This API allows users to create new sale parties and manage their associated lifecycles, including onboarding and updates. Typical consumers include banking applications and financial platforms that require dynamic interaction with sale party data for compliance and operational efficiency. Utilize this API to streamline the integration of sales parties into your banking systems and enhance customer relationship management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/party-lifecycle-management": {
      "post": {
        "tags": [
          "Party Management"
        ],
        "summary": "Create a new party lifecycle entry.",
        "description": "This endpoint allows the user to create a new entry in the party lifecycle management system. It is designed to streamline the onboarding of new parties and maintain accurate lifecycle records. Ensure that all required fields are included in the request body to successfully create the entry.",
        "operationId": "createSalePartyLifecycleManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate party lifecycle management actions. It includes details about the party involved and the specific operations to be performed. Ensure that all required fields are populated to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalePartyLifecycleManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the party lifecycle management system.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSalePartyLifecycleManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSalePartyLifecycleManagementRequest": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code for the product being offered.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Identifies the sales channel through which the prospect is being managed.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling this prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected financial value from the prospect.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the POST operation in the party lifecycle management.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "3de211d1-e3fd-5a3a-9a7a-52c15878e506",
            "correlationId": "c6d41a31-081b-5c6c-82de-1d5ee6aed5dc",
            "idempotencyKey": "bb833f36-bbff-5eea-ab61-036ef5a474a7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-830983"
            }
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected from the prospect.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "ISO currency code for the amount.",
            "example": "USD"
          }
        },
        "description": "Details the expected financial value associated with the prospect."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests in a transaction.",
            "example": "correlation123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotentKey456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-05T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application initiating the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, offline).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Details about the channel through which the request is made."
      },
      "CreateSalePartyLifecycleManagementResponse_201": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the prospect.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the prospect.",
            "example": "RES-243991"
          },
          "status": {
            "type": "string",
            "description": "Current status of the prospect's lifecycle.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the prospect was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "corr-123"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-West"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "6d9c634a-8f36-5863-bd03-a745d93f7231",
              "correlationId": "c6d41a31-081b-5c6c-82de-1d5ee6aed5dc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the successful creation of a party in the lifecycle management system.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "resourceId": "RES-243991",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6d9c634a-8f36-5863-bd03-a745d93f7231",
            "correlationId": "c6d41a31-081b-5c6c-82de-1d5ee6aed5dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-lifecycle-management-create-party-lifecycle-management"
        },
        "example": "party-lifecycle-management-create-party-lifecycle-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token. This scheme requires a JWT (JSON Web Token) to be provided in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}