{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Marketing By Param1-spec",
    "description": "The Customer Campaign Design Retrieval API allows businesses to access detailed marketing campaign designs based on specific parameters. By querying with a unique identifier, users can obtain information about customer-targeted marketing initiatives and their respective designs. This API is particularly useful for marketing teams looking to analyze or manage campaign data, enabling them to tailor strategies effectively. Typical consumers include marketing analysts and data-driven decision-makers aiming to enhance customer engagement through informed campaign design.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-campaign-design/{param1}": {
      "get": {
        "tags": [
          "Customer Campaigns"
        ],
        "summary": "Retrieve Details for Customer Campaign Design CUST-100045",
        "description": "This API endpoint allows developers to fetch comprehensive details related to customer campaign design with the identifier CUST-100045. It returns important information that can be used for analysis, reporting, or further processing.",
        "operationId": "getMarketingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body containing the parameters for retrieving details about the customer campaign design specified by the given identifier. This body must adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer campaign design.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketingByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the customer campaign design operation in the marketing system.",
        "example": "{}"
      },
      "GetMarketingByParam1Response_200": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target customer segment.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "An array representing the mix of channels used for the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "List of marketing channels used in the campaign.",
              "example": "Email"
            }
          },
          "budget": {
            "description": "Details regarding the budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in YYYY-MM-DD format.",
            "example": "2026-09-15"
          },
          "campaignObjective": {
            "type": "string",
            "description": "The main objective of the campaign.",
            "example": "STANDARD"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of participants assigned to the control group.",
            "format": "int32",
            "example": 1
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "The maximum number of times a participant can be contacted.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Current version of the campaign.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last update timestamp of the campaign record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the campaign response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response for retrieving campaign details.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "campaignObjective": "STANDARD",
          "controlGroupPercent": 1,
          "contactFrequencyCap": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fe8d0dd4-94ea-57ef-8ea5-a189392c603a",
            "correlationId": "900d9e27-27a1-5e5d-885c-b383860b7f84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The allocated budget amount for the campaign.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget amount is specified.",
            "example": "USD"
          }
        },
        "description": "This schema defines the budget details for a marketing campaign."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata information related to the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-design-get-customer-campaign-design"
        },
        "example": "customer-campaign-design-get-customer-campaign-design"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism where the client must include a JSON Web Token (JWT) in the Authorization header of the HTTP request. The JWT must be issued by the server and must be valid for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}