{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Management E-Trading Workbench API",
    "description": "The Investment Management E-Trading Workbench API facilitates the execution and management of trading activities for investment portfolios. This API allows users to initiate trades, access trading tools, and manage investment strategies programmatically. Typical consumers include financial institutions and asset managers looking to enhance their trading operations and streamline investment workflow. By leveraging this API, users can improve efficiency in trading processes and provide better services to their clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/e-trading-workbench": {
      "post": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Create a new E-Trading Workbench.",
        "description": "This endpoint allows users to create a new E-Trading Workbench in the investment management system, enabling them to manage and streamline their trading activities effectively.",
        "operationId": "createETradingWorkbench",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a trade or managing investment activities. It contains relevant information required for processing the transaction or request within the e-trading workbench.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateETradingWorkbenchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateETradingWorkbenchResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateETradingWorkbenchRequest": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the operation.",
            "example": "PORT-543769"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account.",
            "example": "ACC-612939"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective for the operation, such as growth or income.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile of the investor, indicating their willingness to take investment risks.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for the investment operations.",
            "example": "USD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "req789"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate related requests.",
                "example": "corr456"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key used to ensure the request is idempotent.",
                "example": "idempotency123"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that generated the request.",
                "example": "internalSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application that originated the request.",
                "example": "webApp"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "The context of the request, providing metadata about the operation request.",
            "example": {
              "requestId": "5af0a668-000e-5226-beb8-284b2cc29b98",
              "correlationId": "972603d1-9d73-5c99-aa3c-724b2a152348",
              "idempotencyKey": "b5f28692-079d-51cc-b329-470ae4baf630",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-747261"
              }
            }
          }
        },
        "description": "This schema represents the request body for creating an operation in the trading workbench. It includes details about the portfolio, investment account, investment objectives, risk profile, and request context.",
        "example": {
          "portfolioId": "PORT-543769",
          "investmentAccountId": "ACC-612939",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "5af0a668-000e-5226-beb8-284b2cc29b98",
            "correlationId": "972603d1-9d73-5c99-aa3c-724b2a152348",
            "idempotencyKey": "b5f28692-079d-51cc-b329-470ae4baf630",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-747261"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel used for the request.",
            "example": "channel321"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel, e.g., API, Web, Mobile.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used to make the request.",
            "example": "device654"
          }
        },
        "description": "This schema represents the communication channel through which the request was made."
      },
      "CreateETradingWorkbenchResponse_201": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-308184"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account.",
            "example": "ACC-174635"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource being managed.",
            "example": "RES-470403"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information regarding the operation's metadata.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "portfolioId": "PORT-308184",
          "investmentAccountId": "ACC-174635",
          "resourceId": "RES-470403",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "65a089a4-614a-5aa0-adf6-0e80b554a603",
            "correlationId": "972603d1-9d73-5c99-aa3c-724b2a152348",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response_54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the correlation of requests and responses.",
            "example": "correlation_xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Contains metadata information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-trading-workbench-create-e-trading-workbench"
        },
        "example": "e-trading-workbench-create-e-trading-workbench"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication (also known as token authentication). The client must include the JWT (JSON Web Token) in the Authorization header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}