{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payments Inquiry API",
    "description": "The Domestic Scheduled Payments Inquiry API allows clients to access information related to scheduled payment transactions within the domestic banking framework. This endpoint provides detailed insights into specific scheduled payments based on unique identifiers. Typical consumers of this API include banking applications and financial service providers looking to enhance their payment tracking capabilities. By leveraging this API, users can efficiently manage and review scheduled payment activities to ensure timely execution and transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments/{param1}": {
      "get": {
        "tags": [
          "Domestic Scheduled Payments"
        ],
        "summary": "Retrieve a specific domestic scheduled payment by its unique ID.",
        "description": "This endpoint allows you to fetch the details of a specific domestic scheduled payment using its unique identifier (PAY-300045). It provides information related to the payment, such as the transaction amount, status, and other relevant metadata.",
        "operationId": "getDomesticScheduledPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data for retrieving details about a specific scheduled domestic payment. Ensure that the request complies with the required schema structure.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticScheduledPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the payment details have been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticScheduledPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticScheduledPaymentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the domestic scheduled payments request. It is expected to be a JSON string that conforms to the specified format.",
        "example": "{}"
      },
      "GetDomesticScheduledPaymentByIdResponse_200": {
        "title": "Domestic Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/DomesticScheduledPaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a domestic scheduled payment operation.",
        "example": {
          "Data": {
            "DomesticScheduledPaymentId": "PAY-953875",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "4b02e243-adb5-512a-a085-ec72b1d7aeed",
            "correlationId": "0399eaec-a339-59e7-ae74-c4c107113b0c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DomesticScheduledPaymentData": {
        "title": "Domestic Scheduled Payment Data",
        "type": "object",
        "properties": {
          "DomesticScheduledPaymentId": {
            "type": "string",
            "description": "Unique identifier for the domestic scheduled payment.",
            "example": "string"
          },
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent provided by the user.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the payment was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "string"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the payment.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "Expected date and time for the execution of the payment.",
            "example": "string"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "Expected date and time for the settlement of the payment.",
            "example": "string"
          },
          "Refund": {
            "$ref": "#/components/schemas/RefundDetails"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/ChargeDetails"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Details of the domestic scheduled payment."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path providing additional context for the status.",
            "example": "string"
          }
        },
        "description": "Details regarding the reason for the payment status."
      },
      "RefundDetails": {
        "title": "Refund Details",
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/RefundAccount"
          }
        },
        "description": "Details regarding the refund associated with the payment."
      },
      "RefundAccount": {
        "title": "Refund Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the account, if any.",
            "example": "string"
          }
        },
        "description": "Information about the account involved in the refund."
      },
      "ChargeDetails": {
        "title": "Charge Details",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for the charges.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details about a charge associated with the payment."
      },
      "ChargeAmount": {
        "title": "Charge Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the charge.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the charge is made.",
            "example": "string"
          }
        },
        "description": "Amount details associated with a charge."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identification of the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identification for tracking the payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument used for the payment.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for executing the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Details of the initiation process for the payment."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount instructed for the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the instructed amount is given.",
            "example": "string"
          }
        },
        "description": "Amount details provided for the payment."
      },
      "DebtorAccount": {
        "title": "Debtor Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for the debtor account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the debtor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the debtor account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the debtor account, if any.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyIdentification"
          }
        },
        "description": "Information on the account from which the payment is debited."
      },
      "CreditorAccount": {
        "title": "Creditor Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme used for the creditor account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the creditor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the creditor account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the creditor account, if any.",
            "example": "string"
          }
        },
        "description": "Information on the account to which the payment is credited."
      },
      "ProxyIdentification": {
        "title": "Proxy Identification",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The proxy identification value.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Proxy code representing the account.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy identification.",
            "example": "string"
          }
        },
        "description": "Information relating to the proxy identification of the account."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-payment"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authorization. The client must include a valid JWT in the Authorization header of requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}