{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Management API",
    "description": "The Transaction Management API enables businesses to execute and manage financial transactions seamlessly. This API provides functionalities for initiating transactions related to account management, ensuring secure and efficient processing. Typical consumers include financial institutions, payment processors, and developers looking to integrate transaction capabilities into their applications. Use cases may involve transferring funds, processing payments, or handling transaction confirmations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/transaction-engine": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Creates a new transaction in the account management system.",
        "description": "This endpoint allows users to create a new transaction within the account management system. Ensure that all necessary details are provided in the request body to successfully initiate the transaction.",
        "operationId": "createAccountManagementTransactionEngine",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate transaction operations within the account management system. It requires specific parameters defined in the schema to successfully process the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountManagementTransactionEngineRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountManagementTransactionEngineResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountManagementTransactionEngineRequest": {
        "title": "Transaction Request Body",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-189337"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "CUST-840710"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the transaction as recorded in the ledger.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "Currency type used for the transaction.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Current balance of the ledger after the transaction.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information regarding the transaction request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for initiating a transaction in the account management system.",
        "example": {
          "accountId": "ACC-189337",
          "customerId": "CUST-840710",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "a02dce48-740b-59a4-8633-ef06112cb6bb",
            "correlationId": "ceb98128-c5f7-58c8-9d57-a251e3e968f6",
            "idempotencyKey": "da409b87-c324-580e-8c92-3eefdc3c6e7a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-995801"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotentKey321"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system originating the request.",
            "example": "systemX"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application originating the request.",
            "example": "appY"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request including identifiers and source details."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel999"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the transaction.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device123"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateAccountManagementTransactionEngineResponse_201": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the transaction.",
            "example": "ACC-759175"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer who initiated the transaction.",
            "example": "CUST-346784"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource affected by the transaction.",
            "example": "RES-440294"
          },
          "status": {
            "type": "string",
            "description": "The status of the transaction, indicating success or failure.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the transaction was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the transaction.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response schema for transaction operations indicating the result of a POST request.",
        "example": {
          "accountId": "ACC-759175",
          "customerId": "CUST-346784",
          "resourceId": "RES-440294",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "60562d7c-85f9-50a9-8d98-71b5f757d380",
            "correlationId": "ceb98128-c5f7-58c8-9d57-a251e3e968f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "An identifier for the response associated with the transaction.",
            "example": "resp-xyz123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests and responses.",
            "example": "corr-456def"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the transaction was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional information pertaining to the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-engine-create-transaction-engine"
        },
        "example": "transaction-engine-create-transaction-engine"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for identifying the source of the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, typically in the form of JSON Web Tokens (JWT). This method allows secure transmission of claims between parties and is commonly used to authorize API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}