{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Institution Accounts Aggregation API",
    "description": "The Customer Institution Accounts Aggregation API provides access to account details associated with a specific customer and their institution login. This endpoint allows businesses to retrieve comprehensive account information for better financial insights and management. Developers can employ this API to enhance customer experiences, enabling applications that facilitate account monitoring and data aggregation. It serves financial institutions, fintech applications, and any service that requires detailed account information linked to a customer's institutional relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/accounts": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve institution login accounts for a specific customer.",
        "description": "This endpoint allows you to fetch all institution login accounts associated with a particular customer. By providing the customer ID and the resource ID, you can access the relevant account information needed for further operations.",
        "operationId": "getInstitutionLoginsForCustomerAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/institutionloginId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve account information associated with the specified customer and institution login. Ensure that the request payload conforms to the expected schema for proper processing and response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionLoginsForCustomerAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionLoginsForCustomerAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionLoginsForCustomerAccountsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for fetching account operations related to the specified institution login.",
        "example": "{}"
      },
      "GetInstitutionLoginsForCustomerAccountsResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the institution login.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-253410",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving account information related to customers and institution logins.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-253410",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "8b32cdf6-6993-5d0f-bada-cb0a91bfd4f2",
            "correlationId": "f180384d-c7d1-5bb4-a0bb-3f5072dd802f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "Account number.",
            "example": "string"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display representation of the account number.",
            "example": "string"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the account.",
            "example": "string"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 0.0
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., checking, savings).",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code related to account aggregation.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "ID of the customer who owns the account.",
            "example": "string"
          },
          "institutionId": {
            "type": "string",
            "description": "ID of the institution related to the account.",
            "example": "string"
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date of the account's balance.",
            "format": "int32",
            "example": 0
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the account aggregation was successful.",
            "format": "int32",
            "example": 0
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date when the account aggregation was attempted.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32",
            "example": 0
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account was last updated.",
            "format": "int32",
            "example": 0
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment the account belongs to.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account.",
            "example": "string"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the last transaction on the account.",
            "format": "int32",
            "example": 0
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction on the account.",
            "format": "int32",
            "example": 0
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "ID of the institution login associated with the account.",
            "format": "int32",
            "example": 0
          },
          "detail": {
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "Represents an account associated with a customer."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "The date for which the account details are relevant.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "Available balance amount of the account.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "Date when the account was opened.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "Start date of the reporting period.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "End date of the reporting period.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate applicable for the reporting period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Deposit amount for the reporting period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Interest amount earned in the reporting period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Year-to-date interest earned on the account.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Prior year-to-date interest earned on the account.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "Maturity date of the account if applicable.",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "Current interest rate of the account.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "Available credit amount on the account.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "Maximum credit amount available on the account.",
            "example": 0.0
          }
        },
        "description": "Detail information regarding the account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "institutionloginId": {
        "name": "institutionloginId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This id helps in tracking and managing API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-accounts-by-institution-login"
        },
        "example": "open-finance-api-get-customer-accounts-by-institution-login"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request. This information can assist in monitoring and debugging performance issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication mechanism based on JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}