{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Unit Financial Analysis API",
    "description": "The Business Unit Financial Analysis API provides insights into the financial performance of individual business units. This endpoint allows users to retrieve detailed financial analyses based on specific parameters, enabling stakeholders such as financial analysts and business managers to make informed decisions. By leveraging this API, organizations can assess profitability, track financial trends, and optimize resource allocation across various units. It is an essential tool for businesses aiming to enhance financial transparency and strategic planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-financial-analysis/{param1}": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve financial analysis for a specific business unit.",
        "description": "This endpoint allows you to fetch the financial analysis data for the specified business unit identified by its unique resource ID. It provides insights into the financial performance and metrics relevant to that business unit.",
        "operationId": "getBusinessUnitFinancialAnalysisRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial analysis data for a specific business unit. Please ensure that all required parameters are included in your request for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessUnitFinancialAnalysisRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessUnitFinancialAnalysisRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessUnitFinancialAnalysisRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request in the Business Unit Financial Analysis.",
        "example": "{}"
      },
      "GetBusinessUnitFinancialAnalysisRes100045Response_200": {
        "title": "Business Unit Financial Analysis Response",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the business unit.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for the financial analysis.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "The budget details for the business unit.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "The version of the forecast.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of this financial analysis response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial analysis of a business unit, containing details like budget, version, metadata, and related identifiers.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5f4028f9-f8eb-506c-963f-cde56cdb0ff9",
            "correlationId": "5ec85d62-549a-520a-afd2-3bedff27118f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget amount is expressed.",
            "example": "USD"
          }
        },
        "description": "Details of the budget associated with the business unit."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RES789"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request and response correlation.",
            "example": "COR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east"
          }
        },
        "description": "Metadata related to the response, including identifiers and processing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-financial-analysis-get-business-unit-financial-analysis"
        },
        "example": "business-unit-financial-analysis-get-business-unit-financial-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a bearer token, typically a JSON Web Token (JWT), to securely access resources. This token is included in the Authorization header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}