{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Consumer Details API",
    "description": "The Update Consumer Details API enables businesses to modify existing consumer information within the system. This operation allows for the adjustment of key consumer attributes, such as personal details or preferences, ensuring that records remain accurate and up to date. It is typically utilized by account management teams or customer service representatives to enhance consumer experiences based on evolving needs. By maintaining current consumer data, businesses can improve engagement and tailor their offerings effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}": {
      "put": {
        "tags": [
          "Consumer Management"
        ],
        "summary": "Update consumer details",
        "description": "This operation allows you to update the details of a specific consumer identified by the unique resource ID. Ensure that all required fields are provided in the request body to successfully update the consumer information.",
        "operationId": "updateConsumerRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/consumerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific consumer identified by the resource ID 'RES-100045'. The request must contain the necessary information in JSON format to reflect the updated consumer data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerRes100045Request"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request completed successfully with no content returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerRes100045Response_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerRes100045Request": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "address": {
            "type": "string",
            "description": "The street address of the consumer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the consumer's address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "The birth date of the consumer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "olivia.bennett@northstar.example"
          },
          "suffix": {
            "type": "string",
            "description": "The suffix for the consumer's name (e.g., Jr., Sr.).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Information about the end user associated with the consumer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating consumer information.",
        "example": {
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "requestId": "dc9282cb-b89b-5bdb-a2e8-098eb83c3d13",
            "correlationId": "439493d1-47dc-5eb3-ac1e-f2b90718cb74",
            "idempotencyKey": "99012c40-7136-5d59-a803-efe38308817e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-212275"
            }
          }
        }
      },
      "Birthday": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "The month of birth (1-12).",
            "format": "int32",
            "example": 6
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of birth (1-31).",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing the birthday of a consumer."
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "Jane Doe"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "Los Angeles"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the end user's address.",
            "example": "90001"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "987-654-3210"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "jane.doe@example.com"
          }
        },
        "description": "Schema representing the end user associated with the consumer."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "backend_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "consumer-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "UpdateConsumerRes100045Response_204": {
        "title": "Response Metadata Object",
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response metadata for the operation.",
        "example": {
          "metadata": {
            "responseId": "148e8762-ef4b-5f88-bc66-bcbba8ca3086",
            "correlationId": "439493d1-47dc-5eb3-ac1e-f2b90718cb74",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Detailed information regarding the response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_204"
          ]
        }
      },
      "consumerId": {
        "name": "consumerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-modify-consumer"
        },
        "example": "open-finance-api-modify-consumer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token in the HTTP Authorization header to authenticate requests. The token should be a JSON Web Token (JWT) that is required for authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}