{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Testing-spec",
    "description": "The Customer Testing Registration API enables businesses to create new customer testing profiles within the aggregation system. This endpoint supports the creation of test customer data, allowing developers to simulate and examine the customer experience without impacting real user data. Typical consumers of this API include quality assurance teams and developers working on integration testing workflows. By leveraging this functionality, organizations can enhance their testing capabilities and ensure robust service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/testing": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new testing customer record.",
        "description": "This operation allows developers to create a new customer specifically for testing purposes. It involves sending customer data to the server, which will then process the information and create a new entry in the customer database dedicated for testing scenarios.",
        "operationId": "createCustomerTesting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to create or test a customer entity. Ensure all required fields are provided in the correct format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerTestingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New customer resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerTestingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerTestingRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "The username for the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application related to the customer.",
            "example": "APP-771063"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "description": "Contextual data for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a new customer in the application.",
        "example": {
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "applicationId": "APP-771063",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "f11434e0-36d4-5a28-ad30-21d123011b0c",
            "correlationId": "737e8a35-ee50-5024-8311-37604f5f02c8",
            "idempotencyKey": "3b9664cc-8c4e-5a59-b39d-268d3e59ddf6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-324477"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idempotency-abcdefg"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "system-xyz"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "app-alpha"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context for the request, including identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "CreateCustomerTestingResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "The username associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date and time when the customer was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Contains additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response object returned from the POST operation for customer testing.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "createdDate": 1,
          "metadata": {
            "responseId": "9c93f204-e786-5f53-9bfc-a46aaf73689e",
            "correlationId": "737e8a35-ee50-5024-8311-37604f5f02c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate different requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2022-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Provides metadata information for the customer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-add-testing-customer"
        },
        "example": "open-finance-api-add-testing-customer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token as an authorization mechanism. The token should be a JSON Web Token (JWT) which is a compact, URL-safe means of representing claims to be transferred between two parties. Ensure that the JWT is included in the Authorization header of your request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}