{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Banking Finance Enterprise Tax Administrations-v5-spec",
    "description": "The Enterprise Tax Administration List API provides users with access to detailed information about tax administration services offered by enterprise banking finance systems. This endpoint enables users to retrieve comprehensive data related to various tax administration operations, ensuring compliance and efficient management of tax obligations. Typical consumers include financial institutions, tax consultants, and enterprise resource planning systems that require up-to-date tax administration data for reporting and decision-making. Utilizing this API streamlines the management of tax-related processes, enhancing overall operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/enterprise-tax-administration": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Retrieve enterprise tax administration data.",
        "description": "This endpoint allows you to fetch detailed information regarding enterprise tax administration, including tax regulations, compliance requirements, and administration processes for businesses.",
        "operationId": "listBankingFinanceEnterpriseTaxAdministrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to enterprise tax administration. It should contain the necessary parameters and data to process the request accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBankingFinanceEnterpriseTaxAdministrationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the enterprise tax administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBankingFinanceEnterpriseTaxAdministrationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBankingFinanceEnterpriseTaxAdministrationsRequest": {
        "type": "string",
        "description": "The JSON request body for the GET operation related to enterprise tax administration. This schema represents a string value that is expected in the request.",
        "example": "{}"
      },
      "ListBankingFinanceEnterpriseTaxAdministrationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A collection of financial records.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Describes the sort order of the returned results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the GET operation on enterprise tax administration.",
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "55ea886e-fcfb-5ff8-a9a8-278836b637d4",
            "correlationId": "c17ab32e-1e8c-5e47-a192-7583891d5f4b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialRecord": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity associated with this record."
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier for the ledger this record belongs to."
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for this financial record."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date when the transaction was posted."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the financial record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated."
          }
        },
        "description": "Represents a single financial record."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the monetary value."
          }
        },
        "description": "Represents the monetary amount and its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of records per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination information for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-tax-administration-search-enterprise-tax-administration"
        },
        "example": "enterprise-tax-administration-search-enterprise-tax-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This allows secure transmission of claims and user information, providing a stateless authentication mechanism.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}