{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payroll Benefits Management API",
    "description": "The Payroll Benefits Management API facilitates the update and management of employee payroll benefits within the human resource management system. It allows HR professionals to modify existing benefits and ensure that employee compensation packages are accurate and compliant. Typical users include HR managers and payroll administrators who require efficient management of benefits data. This API supports operations to adjust various payroll benefits, enhancing overall employee satisfaction and retention.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits/{param1}": {
      "put": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Update Payroll Benefits",
        "description": "This operation allows users to update the payroll benefits associated with a specific resource identified by RES-100045. Ensure that all necessary data fields are filled in correctly before submission to maintain data integrity.",
        "operationId": "updatePayrollBenefitsRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update payroll benefits information for a specific resource identified by RES-100045. Ensure that the data provided conforms to the required structure defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePayrollBenefitsRes100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePayrollBenefitsRes100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePayrollBenefitsRes100045Request": {
        "title": "Payroll Benefits Request Body",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-623156"
          },
          "payPeriod": {
            "type": "string",
            "description": "The payroll period for which the payment is being made.",
            "example": "STANDARD"
          },
          "grossPay": {
            "description": "Details of the gross pay for the payroll run.",
            "$ref": "#/components/schemas/GrossPay"
          },
          "deductions": {
            "description": "Details of the deductions from the gross pay.",
            "$ref": "#/components/schemas/Deductions"
          },
          "paymentDate": {
            "type": "string",
            "description": "Date when the payment is processed.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating payroll benefits.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-623156",
          "payPeriod": "STANDARD",
          "grossPay": {
            "amount": 100.0,
            "currency": "USD"
          },
          "deductions": {
            "amount": 100.0,
            "currency": "USD"
          },
          "paymentDate": "2026-09-15",
          "requestContext": {
            "requestId": "b6b0337c-af4c-5f84-8557-b21bd497898c",
            "correlationId": "9a407193-2ade-580a-b582-1ccc1b60db84",
            "idempotencyKey": "fdb58a1b-7e60-54e7-892b-87dcbe2e1948",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-202381"
            }
          }
        }
      },
      "GrossPay": {
        "title": "Gross Pay",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total gross pay amount.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the gross pay is paid.",
            "example": "USD"
          }
        },
        "description": "Schema representing the gross pay details."
      },
      "Deductions": {
        "title": "Deductions",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount deducted from the gross pay.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the deductions are stated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the deduction details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idemp-xy123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-14T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application generating the request.",
            "example": "PayrollApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing channel information related to the request."
      },
      "UpdatePayrollBenefitsRes100045Response_201": {
        "title": "Payroll Benefits Response",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee associated with payroll.",
            "example": "EMP-964200"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the payroll.",
            "example": "RES-688439"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payroll operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payroll operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the payroll response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payroll benefits operations.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-964200",
          "resourceId": "RES-688439",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "be0ac0a4-3e1a-5fea-9ebb-5b82a734c398",
            "correlationId": "9a407193-2ade-580a-b582-1ccc1b60db84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Payroll Operation",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this specific response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request and response correlation.",
            "example": "CORR-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payroll operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata schema containing additional operational details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-create-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-create-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-082"
        },
        "example": "WF-082"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that processed the payroll benefits operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Payroll and Benefits Processing"
        },
        "example": "Employee Payroll and Benefits Processing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress and status after the payroll benefits operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow associated with the payroll benefits operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e1b4fdc0-3c2d-41a5-b768-01e888522c66"
        },
        "example": "e1b4fdc0-3c2d-41a5-b768-01e888522c66"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens (JWT) for authentication. Clients must include a valid JWT token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}