{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Direct Debit Mandates API",
    "description": "The Manage Direct Debit Mandates API enables businesses to establish and manage direct debit mandates linked to specified bank accounts. By utilizing this API, users can submit requests to create new mandates or modify existing ones, ensuring seamless payment processing for recurring transactions. This API is particularly useful for financial institutions and service providers that require reliable automated payment solutions. Typical consumers include banking applications, payment processors, and any businesses that handle subscription or recurring billing models.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/accounts/{accountId}/direct-debit-mandates": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Create a new direct debit mandate for a specific account.",
        "description": "This endpoint allows you to create a new direct debit mandate associated with the specified account. Ensure to provide all necessary details to successfully set up the mandate, which can be used for automatic withdrawals in the future.",
        "operationId": "createDirectDebitMandateForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new direct debit mandate for the specified account. It must include all relevant details regarding the mandate, adhering to the provided schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectDebitMandateForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The direct debit mandate has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDirectDebitMandateForAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDirectDebitMandateForAccountRequest": {
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "The unique identifier for the mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The unique identifier for the debtor's account.",
            "example": "ACC-102511"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "The unique identifier for the creditor scheme.",
            "example": "STANDARD"
          },
          "collectionAmount": {
            "description": "The amount to be collected and its currency.",
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "The date on which the collection is to occur.",
            "example": "2026-09-15"
          },
          "frequency": {
            "type": "string",
            "description": "The frequency of the collection (e.g., one-time, weekly, monthly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-102511",
          "creditorSchemeId": "STANDARD",
          "collectionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "collectionDate": "2026-09-15",
          "frequency": "STANDARD",
          "requestContext": {
            "requestId": "b2ba6c15-a7ae-57a9-b3d3-0608cc1cfb04",
            "correlationId": "379135b6-830d-5c8d-9e80-55af28a99b53",
            "idempotencyKey": "f9e1cb85-b1e1-5820-aeca-404b43f8318d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-726954"
            }
          }
        }
      },
      "CollectionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be collected.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Represents the amount to be collected and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding a specific request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Represents the channel information through which the request was made."
      },
      "CreateDirectDebitMandateForAccountResponse_201": {
        "title": "Direct Debit Mandate Response",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the direct debit mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account associated with the mandate.",
            "example": "ACC-373937"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier of the creditor's scheme for the mandate.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the mandate.",
            "example": "RES-482301"
          },
          "status": {
            "type": "string",
            "description": "Current status of the mandate (e.g., active, inactive, pending).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the mandate was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response.",
                "example": "RESP-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used for correlating related requests.",
                "example": "CORR-789012"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the mandate took place.",
                "example": "EU"
              }
            },
            "description": "Additional metadata related to the mandate response.",
            "example": {
              "responseId": "64429ca9-7906-5335-a65d-2a094179477e",
              "correlationId": "379135b6-830d-5c8d-9e80-55af28a99b53",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for a Direct Debit Mandate creation operation.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-373937",
          "creditorSchemeId": "STANDARD",
          "resourceId": "RES-482301",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "64429ca9-7906-5335-a65d-2a094179477e",
            "correlationId": "379135b6-830d-5c8d-9e80-55af28a99b53",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was called during the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-mandate-create-direct-debit-mandate"
        },
        "example": "direct-debit-mandate-create-direct-debit-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, helping to track the origin of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow instance that initiated this request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-016"
        },
        "example": "WF-016"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Direct Debit Mandate Setup and Collection"
        },
        "example": "Direct Debit Mandate Setup and Collection"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a5df8196-321b-423f-9f99-3b3fed82ed50"
        },
        "example": "a5df8196-321b-423f-9f99-3b3fed82ed50"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token authentication method. The token must be in the form of a JSON Web Token (JWT) and should be included in the authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}