{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Trade Banking Cash Concentration-spec",
    "description": "The Trade Banking Cash Concentration API enables businesses to streamline their cash management processes by facilitating the aggregation of funds across multiple accounts. This endpoint allows users to initiate the creation of cash concentration arrangements, improving liquidity management and optimizing cash flow. Typical consumers include financial institutions and corporate treasury departments looking to enhance their banking operations. With this API, organizations can efficiently manage and control their cash resources, enabling better decision-making and financial planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://lending-credit-app:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration": {
      "post": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Initiates a cash concentration transaction.",
        "description": "This endpoint allows users to create a new cash concentration transaction within the trade banking system, enabling the consolidation of funds from multiple accounts into a single account for efficient cash management.",
        "operationId": "createTradeBankingCashConcentration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a cash concentration operation within the trade banking service. It includes all necessary details to process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeBankingCashConcentrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for cash concentration.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeBankingCashConcentrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeBankingCashConcentrationRequest": {
        "title": "Cash Concentration Request",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the cash concentration pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account associated with the cash concentration.",
            "example": "ACC-720784"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "A list of participant account identifiers that are part of the cash concentration.",
            "example": [
              "ACC-214422"
            ],
            "items": {
              "type": "string",
              "description": "A participant account identifier.",
              "example": "string"
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the transactions.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency at which the cash concentration sweep occurs.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance to maintain in the cash concentration pool.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the cash concentration operation request body.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-720784",
          "participantAccountIds": [
            "ACC-214422"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "requestContext": {
            "requestId": "a257d3d2-0081-58f6-9ca5-c68ab265751d",
            "correlationId": "30882513-f10e-5a35-8282-2541ed5ac44f",
            "idempotencyKey": "2c01ed76-9b5d-5055-9da7-5242163a396a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-733552"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request originated.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateTradeBankingCashConcentrationResponse_201": {
        "title": "Cash Concentration Operation Response",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the cash pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account involved in the cash concentration.",
            "example": "ACC-611619"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique resource identifier associated with the transaction.",
            "example": "RES-398014"
          },
          "status": {
            "type": "string",
            "description": "The current status of the cash concentration operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the cash concentration operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta information related to the cash concentration operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response from the Cash Concentration Operation POST request.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-611619",
          "resourceId": "RES-398014",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "99d2f1ab-df55-5b66-8cfd-684f400e6aa1",
            "correlationId": "30882513-f10e-5a35-8282-2541ed5ac44f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple events or operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the cash concentration operation was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information related to a cash concentration operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-064"
        },
        "example": "WF-064"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "92692a1e-2200-4e6e-a2cf-8819cd1553a8"
        },
        "example": "92692a1e-2200-4e6e-a2cf-8819cd1553a8"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "22fa7435-cd00-4a29-902c-3ce77184552d"
        },
        "example": "22fa7435-cd00-4a29-902c-3ce77184552d"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-create-cash-concentration"
        },
        "example": "cash-concentration-create-cash-concentration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-064"
        },
        "example": "WF-064"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Cash Concentration and Notional Pooling"
        },
        "example": "Cash Concentration and Notional Pooling"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "22fa7435-cd00-4a29-902c-3ce77184552d"
        },
        "example": "22fa7435-cd00-4a29-902c-3ce77184552d"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token, specifically in JWT (JSON Web Token) format. This method allows secure transmission of information between parties as a JSON object, which is digitally signed to ensure its integrity and authenticity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}