{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Property Portfolio Management API",
    "description": "The Property Portfolio Management API provides access to a comprehensive overview of facilities associated with property portfolios. It allows users to retrieve detailed information regarding various properties, their locations, and associated financial aspects. This API is designed for developers in the banking and real estate sectors who need to aggregate and analyze property data efficiently. Typical use cases include portfolio analysis, asset management, and real estate reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/property-portfolio": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve the property portfolio information.",
        "description": "This endpoint allows users to fetch detailed information about the property portfolio available in the facilities management system. It provides insights into the various properties, their statuses, and other relevant details.",
        "operationId": "getPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body must contain the necessary parameters to retrieve the property portfolio associated with facilities. Ensure the schema adheres to the specified format for proper operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPropertyPortfolioResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPropertyPortfolioRequest": {
        "title": "Get Property Portfolio Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation to retrieve a property portfolio. It currently accepts a string value.",
        "example": "{}"
      },
      "GetPropertyPortfolioResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of operation items related to the property portfolio.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-473119",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for getting the property portfolio operations.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-473119",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "41899292-157d-5547-90c0-bf0842bf070e",
            "correlationId": "49360c74-5e1c-5d3e-a7ba-a5c054f27854",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site.",
            "example": "site-001"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset.",
            "example": "asset-001"
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order.",
            "example": "work-order-001"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The scheduled date for the operation.",
            "example": "2023-10-03T00:00:00Z"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor associated with the operation.",
            "example": "vendor-001"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility relevant to the operation.",
            "example": "zone-a"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance work being performed.",
            "example": "preventive"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 120
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the operation.",
            "example": "2023-10-03T00:00:00Z"
          }
        },
        "description": "An individual operation item within the property portfolio."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the result set.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-03T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "property-portfolio-search-property-portfolio"
        },
        "example": "property-portfolio-search-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JSON Web Token (JWT) must be provided in the authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}