{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Equipment Maintenance Record Retrieval API",
    "description": "The Equipment Maintenance Record Retrieval API facilitates the access and retrieval of maintenance records for banking facilities' equipment. This endpoint allows users to obtain detailed information about maintenance operations related to a specific piece of equipment. Typical consumers of this API include facility managers, maintenance personnel, and banking operations teams who need to ensure equipment reliability and compliance. By providing insights into past maintenance activities, this API supports informed decision-making and proactive equipment management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance/{param1}/operations/nce-create-equipment-maintenance": {
      "get": {
        "tags": [
          "Equipment Maintenance"
        ],
        "summary": "Retrieve equipment maintenance details.",
        "description": "This endpoint allows users to fetch the details of the equipment maintenance operations for a specific resource identified by RES-100045. Utilize this to view current maintenance activities and their statuses.",
        "operationId": "createEquipmentMaintenanceForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to create equipment maintenance operations. Ensure that all required fields are provided in accordance with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEquipmentMaintenanceForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The equipment maintenance operation was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEquipmentMaintenanceForResource100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEquipmentMaintenanceForResource100045Request": {
        "type": "string",
        "description": "Represents a request body for the equipment maintenance operation in a specific context.",
        "example": "{}"
      },
      "CreateEquipmentMaintenanceForResource100045Response_201": {
        "title": "Equipment Maintenance Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site where the asset is located.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset being maintained.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the related work order.",
            "example": "ORD-445695"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor responsible for the maintenance.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the maintenance.",
            "example": "RES-129421"
          },
          "status": {
            "type": "string",
            "description": "Current status of the maintenance operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the maintenance entry was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the maintenance operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for equipment maintenance operations.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-445695",
          "vendorId": "STANDARD",
          "resourceId": "RES-129421",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "449ea4a9-2549-5d7f-9f05-d7aa5da1b6c3",
            "correlationId": "7b560f50-54e7-57e0-9f1e-67320bb8d211",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Maintenance Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response associated with this operation.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request and response across systems.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the metadata was generated.",
            "example": "2023-01-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata information for maintenance operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the endpoint that was called. It can be used for tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-create-equipment-maintenance"
        },
        "example": "equipment-maintenance-create-equipment-maintenance"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that handles the request. It helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "This header holds the identifier of the workflow process that is associated with the request. It is useful for tracking the execution flow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-099"
        },
        "example": "WF-099"
      },
      "X-Workflow-Name": {
        "description": "Indicates the name of the workflow associated with the equipment maintenance process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Property Facility and Equipment Maintenance"
        },
        "example": "Property Facility and Equipment Maintenance"
      },
      "X-Workflow-State": {
        "description": "Represents the current state of the workflow for the equipment maintenance operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "51d30287-d478-4939-92ca-4c7cadf5a84b"
        },
        "example": "51d30287-d478-4939-92ca-4c7cadf5a84b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) for secure API access. Clients must include a bearer token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}