{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Systems Assurance Assessment-spec",
    "description": "The Systems Assurance Assessment Creation API enables users to initiate new systems assurance assessments within the IT management framework of banking operations. This endpoint supports the registration of detailed assessment specifications to evaluate IT systems integrity and compliance. It is primarily designed for internal stakeholders, including IT auditors, compliance officers, and risk management teams, who require a structured approach to managing assessments. By utilizing this API, organizations can streamline their assessment processes, ensuring enhanced oversight and accountability in their IT management practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-assurance/assessments": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new systems assurance assessment.",
        "description": "This endpoint allows users to create a new systems assurance assessment, providing necessary data to evaluate the effectiveness and security of IT systems.",
        "operationId": "createSystemsAssuranceAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body accepts information required to create a new assessment under systems assurance within IT management. It must include all the necessary fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSystemsAssuranceAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSystemsAssuranceAssessmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSystemsAssuranceAssessmentRequest": {
        "title": "IT Management Systems Assurance Assessment Request",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system being assessed.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates, e.g. Production, Staging.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with this assessment.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Planned date and time for the assessment.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier indicating the level of service provided.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target percentage for system availability.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a systems assurance assessment in IT management.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "5bf3bae2-1ef4-540f-a793-1f8c42f1a288",
            "correlationId": "d12474cb-c52f-5977-ab58-5bd4f2651025",
            "idempotencyKey": "9360c4fa-bec3-5433-8a34-fb80d49d45f2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-750700"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating logs and requests in tracing.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system generating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g. API, Web, Mobile.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel, if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateSystemsAssuranceAssessmentResponse_200": {
        "title": "Assessment Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system being assessed.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Unique identifier for the change that triggered the assessment.",
            "example": "STANDARD"
          },
          "assessmentId": {
            "type": "string",
            "description": "Unique identifier for the assessment performed.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "Outcome of the assessment, indicating whether the system passed or failed.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "Score assigned to the assessment, typically representing a numeric evaluation.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "Timestamp indicating when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AssessmentMetadata"
          }
        },
        "description": "Response object for the assessment operation which includes system details, assessment outcomes, and metadata.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "4d6779dd-db2d-575f-88f3-ea6c24e84d4b",
            "correlationId": "d12474cb-c52f-5977-ab58-5bd4f2651025",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssessmentMetadata": {
        "title": "Assessment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the assessment.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates with the request that led to the assessment.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the assessment was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the assessment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that is being called. This header helps in tracking and managing API usage and performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-assurance-assure-systems-assurance"
        },
        "example": "systems-assurance-assure-systems-assurance"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the API is being executed. This header can be useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. The client must include a valid JWT (JSON Web Token) in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}