{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Business Services Customer Businesses-v5-spec",
    "description": "This API provides a comprehensive listing of businesses associated with a specific customer, identified by their unique customer ID. It allows developers to access detailed information about each business under the customer in question, fostering better management and insights into customer relationships. Typical consumers of this API include customer relationship management systems and business analytics platforms. By leveraging this endpoint, organizations can enhance their service offerings and decision-making processes based on customer business interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/customers/{customerId}/businesses": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve a list of businesses for a specific customer.",
        "description": "This endpoint allows you to fetch all businesses associated with a particular customer identified by their unique ID. Use this to gather relevant business data for customer analysis and relationship management.",
        "operationId": "listBusinessServicesCustomerBusinesses",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the businesses associated with a specific customer (CUST-100045). This request can include various filters or parameters to customize the business retrieval process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListBusinessServicesCustomerBusinessesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of businesses for the specified customer.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListBusinessServicesCustomerBusinessesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListBusinessServicesCustomerBusinessesRequest": {
        "title": "Request Body for Get Operations on Customer Businesses",
        "type": "string",
        "description": "This schema represents the request body used for retrieving information about businesses associated with a specific customer.",
        "example": "{}"
      },
      "ListBusinessServicesCustomerBusinessesResponse_200": {
        "title": "Customers Business Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of businesses associated with the customer.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Business"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET operation on customers' businesses.",
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "2062ab0c-79c3-57ee-91c9-09aa0db7ec98",
            "correlationId": "93336772-30ea-5ff2-a189-35f455cefc40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "title": "Business",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Example Business"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the business owner is personally liable.",
            "example": false
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com"
          },
          "email": {
            "type": "string",
            "description": "The contact email of the business.",
            "example": "contact@example.com"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "Retail"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "123-45-6789"
          },
          "businessId": {
            "type": "string",
            "description": "Unique identifier for the business.",
            "example": "BUS-12345"
          },
          "createdDate": {
            "type": "string",
            "description": "The date the business was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date the business details were last modified.",
            "example": "2023-01-02T00:00:00Z"
          }
        },
        "description": "Schema representing details of a business."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address, if necessary.",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "The city where the business is located.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "The state where the business is located.",
            "example": "CA"
          },
          "country": {
            "type": "string",
            "description": "The country where the business is located.",
            "example": "USA"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the business location.",
            "example": "90210"
          }
        },
        "description": "Schema representing the address of a business."
      },
      "PhoneNumber": {
        "title": "PhoneNumber",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "The country code for the phone number.",
            "example": "+1"
          },
          "phoneNo": {
            "type": "string",
            "description": "The phone number without the country code.",
            "example": "5551234567"
          }
        },
        "description": "Schema representing the contact phone number of a business."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-7891011"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-West"
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the request endpoint, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-customer"
        },
        "example": "open-finance-api-get-business-by-customer"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, providing context for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}