{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Routing Decisions API",
    "description": "The Routing Decisions API facilitates the determination of optimal routing for market data operations. Designed for financial institutions, this API allows users to submit complex market data switch operations and receive tailored routing decisions. Typical consumers include trading platforms and financial analysts who rely on precise market data management. By leveraging this API, organizations can enhance their trading efficiency and improve market responsiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9006",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation/routing-decisions": {
      "post": {
        "tags": [
          "Market Data Operations"
        ],
        "summary": "Create a new routing decision for market data.",
        "description": "This endpoint allows developers to create a new routing decision within the context of market data operations. The routing decision will be utilized to determine how market data will be processed and handled, ensuring streamlined operations and improved decision-making.",
        "operationId": "createRoutingDecisionForMarketData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit routing decisions for market data switch operations. It encapsulates the necessary information and parameters required for processing the routing decisions effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRoutingDecisionForMarketDataRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be handled asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRoutingDecisionForMarketDataResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRoutingDecisionForMarketDataRequest": {
        "title": "Market Data Switch Operation Request Body",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the market instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number of the market instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Identifier for the market where the instrument is traded.",
            "example": "CODE-547"
          },
          "asOf": {
            "type": "string",
            "description": "Timestamp indicating the reference time for the data.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the market data is obtained.",
            "example": "STANDARD"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed being utilized.",
            "example": "STANDARD"
          },
          "protocol": {
            "type": "string",
            "description": "Protocol used for the data transmission.",
            "example": "STANDARD"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "Number of messages that can be processed per second.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when performing market data switch operations, containing necessary information about the market instrument and context.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-547",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "feedId": "STANDARD",
          "protocol": "STANDARD",
          "messagesPerSecond": 1,
          "requestContext": {
            "requestId": "3005abe8-a56f-5a9c-ade8-2a0cc23084e3",
            "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
            "idempotencyKey": "8986949f-807b-55c3-a6a3-3697a5f5a1e2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-127001"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify the idempotent request.",
            "example": "key-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was initiated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system that originated the request.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that generated the request.",
            "example": "MarketDataApp"
          },
          "channel": {
            "description": "Information about the channel through which the request is sent.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information relevant to the request context, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, WebSocket).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel used for the request, including identifiers and type."
      },
      "CreateRoutingDecisionForMarketDataResponse_202": {
        "title": "Market Data Switch Operation Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code that identifies the market.",
            "example": "CODE-877"
          },
          "feedId": {
            "type": "string",
            "description": "The identifier for the data feed.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference ID for tracking the processing of the request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Market Data Switch Operation.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-877",
          "feedId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c0a97388-2067-5d92-aa39-cebe0f5ebdeb",
            "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing requests and their responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema represents additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-route-market-data-switch-operation"
        },
        "example": "market-data-switch-operation-route-market-data-switch-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which operates using tokens. The tokens are formatted as JSON Web Tokens (JWT) and are included in the Authorization header of requests for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}