{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Management Counterparty Risks-spec",
    "description": "The Counterparty Risk Management API provides essential capabilities for assessing and tracking counterparty risks associated with account management. This endpoint allows users to retrieve detailed information on potential risks linked to financial counterparties, which is crucial for risk assessment and mitigation strategies. Typical consumers include risk managers and compliance officers who require insights into counterparty evaluations to ensure financial stability and regulatory compliance. By utilizing this API, organizations can better manage their exposure to counterparty-related risks while facilitating informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/counterparty-risk": {
      "get": {
        "tags": [
          "Counterparty Management"
        ],
        "summary": "Retrieve counterparty risk data.",
        "description": "This endpoint allows you to fetch the counterparty risk information, which includes various metrics and assessments related to the financial health of counterparties you engage with.",
        "operationId": "listAccountManagementCounterpartyRisks",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to counterparty risk in account management. It specifies the necessary parameters to query the counterparty risk data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountManagementCounterpartyRisksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved counterparty risk data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountManagementCounterpartyRisksResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountManagementCounterpartyRisksRequest": {
        "type": "string",
        "description": "This schema represents the request body for getting counterparty risk information.",
        "example": "{}"
      },
      "ListAccountManagementCounterpartyRisksResponse_200": {
        "title": "Counterparty Risk Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of account details related to counterparty risk.",
            "example": [
              {
                "accountId": "ACC-123020",
                "customerId": "CUST-383671",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountDetail"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Criteria used for sorting the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response from the counterparty risk operations, containing a list of account items, pagination details, sort criteria, and metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-123020",
              "customerId": "CUST-383671",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8509d52e-f054-5883-bc3d-0d2186ae5775",
            "correlationId": "c93cf97a-1f40-53ff-bbe4-39fef8a6a0c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "title": "Account Detail",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the ledger balance is denominated.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the account on the specified ledger date.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update made to the record.",
            "example": "string"
          }
        },
        "description": "Details of a specific account related to counterparty risk."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response, allowing for navigation through the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp specifying when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing additional context about the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-risk-search-counterparty-risk"
        },
        "example": "counterparty-risk-search-counterparty-risk"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT). This method requires the client to include a bearer token in the Authorization header of each request to authenticate and gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}