{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Model By Param1-spec",
    "description": "The Gap Analysis Model Retrieval API enables users to fetch specific gap analysis models based on a unique identifier, represented by param1 in the path. This endpoint is crucial for applications that need to evaluate financial gaps and disparities in various banking scenarios. It streamlines the process of retrieving models and empowers financial analysts and developers by providing direct access to relevant analytical resources. Typical consumers include financial institutions, analysts, and developers seeking to integrate gap analysis functionality into their systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/gap-analysis/{param1}": {
      "get": {
        "tags": [
          "Gap Analysis"
        ],
        "summary": "Retrieve details for a specific gap analysis model.",
        "description": "This endpoint allows users to fetch the details of a specific gap analysis model identified by its unique ID. The response includes comprehensive information about the model, aiding in understanding its structure and findings.",
        "operationId": "getModelByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to perform a GET operation for gap analysis on the specified model identified by RES-100045. It expects a JSON payload that conforms to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetModelByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetModelByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to gap analysis.",
        "example": "{}"
      },
      "GetModelByParam1Response_200": {
        "title": "Gap Analysis Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "PORT-580496"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model data is relevant.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario description or name being analyzed.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Level of confidence in the analysis results.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g. active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the Gap Analysis response.",
            "$ref": "#/components/schemas/GAPAnalysisMetadata"
          }
        },
        "description": "Response schema for the Gap Analysis Operations GET request.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-580496",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6b8a2e75-8199-5e78-83e3-7392c4382da6",
            "correlationId": "c5ffc5a7-1aac-54a7-9edd-f1568f1cff2c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "GAPAnalysisMetadata": {
        "title": "GAP Analysis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata for the Gap Analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "gap-analysis-get-gap-analysis"
        },
        "example": "gap-analysis-get-gap-analysis"
      },
      "X-Runtime-App": {
        "description": "The identifier for the application running the request, which helps in monitoring and troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This scheme allows for secure transmission of claims and user identity verification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}