{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_System Operations Status API",
    "description": "The System Operations Status API provides real-time insights into the operational status of various IT management systems within the banking infrastructure. This endpoint allows users to monitor system health, performance metrics, and operational availability. Typical consumers include IT administrators and operational teams who require up-to-date information for maintenance and support decisions. By utilizing this API, organizations can enhance their oversight of system performance and proactively manage potential issues.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-operations/status": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve the current status of systems operations.",
        "description": "This endpoint allows developers to fetch the latest status of systems operations within the IT management context. It provides important information related to operational health, ongoing processes, and any alerts regarding system performance.",
        "operationId": "getSystemOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body accepts parameters necessary for retrieving the current status of the systems operations within the IT management framework. Ensure all required fields are provided to receive accurate status information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSystemOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the system status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSystemOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSystemOperationStatusRequest": {
        "type": "string",
        "description": "The status of operations requested in GET operation.",
        "example": "{}"
      },
      "GetSystemOperationStatusResponse_200": {
        "title": "System Operations Status Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed (e.g., Production, Staging, Development).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with the system operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The name of the team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the operation.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier level of the system.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system (between 0 and 100).",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The maintenance window scheduled for the system.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the system.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the system status.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "The metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for querying the status of systems operations.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "71950a38-55b8-5260-950f-bf3ecb63f498",
            "correlationId": "b8099ed3-2805-5cc4-9e11-b8f164e31947",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to track requests across systems.",
            "example": "correlation-101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-operations-get-systems-operations"
        },
        "example": "systems-operations-get-systems-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a valid JSON Web Token (JWT) is required for authorization. The token must be included in the 'Authorization' header of the request, prefixed with 'Bearer '. The JWT must be issued by a trusted authority and should be kept confidential.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}