{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking It Management Systems Administration-v5-spec",
    "description": "The Banking IT Management Systems Administration API facilitates the management and configuration of IT systems within the banking sector. This endpoint allows organizations to create and manage various administrative settings and resources critical for IT operations. Typical consumers include IT departments and system administrators who need to streamline operational processes and enhance system performance. By utilizing this API, businesses can ensure efficient management of their banking IT resources and improve overall service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-administration": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new systems administration record.",
        "description": "This endpoint allows users to create a new record related to systems administration in the IT management system. Provide the necessary data in the request body to successfully create a record.",
        "operationId": "createBankingItManagementSystemsAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body to create or update systems administration configurations in the IT management system. It should encapsulate all necessary parameters to ensure proper administration of IT systems.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingItManagementSystemsAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingItManagementSystemsAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingItManagementSystemsAdministrationRequest": {
        "title": "System Administration Request Body",
        "required": [
          "availabilityTargetPercent",
          "changeId",
          "environment",
          "ownerTeam",
          "plannedAt",
          "serviceTier",
          "systemId"
        ],
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change request associated with this operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for managing the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Scheduled date and time for the operation.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier that the system falls under (e.g., basic, premium).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The percentage of uptime targeted for the system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The scheduled maintenance window for the system.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for system administration operations.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "9097334b-d4ed-5f49-8020-a64380035a36",
            "correlationId": "7df3b63d-34a1-57e3-baff-fecdffd21bb4",
            "idempotencyKey": "f71ac1d0-245c-562f-9285-b1fc92041767",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-117958"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "requestId",
          "requestedAt"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests.",
            "example": "corr-006"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idemp-abc-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated.",
            "example": "2023-10-01T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "required": [
          "channelId",
          "channelType"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "ch-101"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device, if applicable.",
            "example": "dev-202"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateBankingItManagementSystemsAdministrationResponse_201": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change made.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource affected by the operation.",
            "example": "RES-668338"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the IT Management Systems Administration operation.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "resourceId": "RES-668338",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "84da4e8c-d097-5827-af70-eaada8b8e22e",
            "correlationId": "7df3b63d-34a1-57e3-baff-fecdffd21bb4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-101"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to track requests and responses across systems.",
            "example": "correlation-202"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the operation took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata about the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-administration-create-systems-administration"
        },
        "example": "systems-administration-create-systems-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens, specifically utilizing JSON Web Tokens (JWT) for secure access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}