{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Session Handoff-spec",
    "description": "The Session Handoff Management API enables seamless transfer of session ownership between users in banking applications. By leveraging this API, developers can facilitate the `handoff` process for existing sessions identified by a unique `sessionId`. This is particularly useful for use cases such as customer support transitions, where one representative might need to hand off a customer session to another. Typical consumers of this API include customer service platforms and banking applications aiming to enhance user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sessions/{sessionId}/handoffs": {
      "post": {
        "tags": [],
        "summary": "Create a handoff for a specific session.",
        "description": "This endpoint allows users to create a handoff for the specified session resource, facilitating the transfer of responsibilities or information between parties involved in the session.",
        "operationId": "createSessionHandoff",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/sessionId"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a handoff operation in the session identified by RES-100045. This body must conform to the specified JSON schema to ensure proper execution of the handoff process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSessionHandoffRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The handoff was created successfully and processing has begun.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSessionHandoffResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSessionHandoffRequest": {
        "title": "Handoffs Request Body",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the operation.",
            "example": "PARTY-927482"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-243550"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction is taking place.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request containing metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for the handoffs operation within the sessions API.",
        "example": {
          "partyId": "PARTY-927482",
          "interactionId": "INT-243550",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "7c74c4c0-463c-5f78-820b-4bf553a83580",
            "correlationId": "44d96762-2848-5b34-b0a4-6eeb8c3c7bda",
            "idempotencyKey": "6fb76d83-fa13-5665-9623-7030393c1c2e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-290309"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the interaction.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contextual information about the request including identifiers and timestamps."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the interaction.",
            "example": "string"
          }
        },
        "description": "Details about the channel used in the interaction."
      },
      "CreateSessionHandoffResponse_201": {
        "title": "Handoff Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-353277"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-144012"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the interaction.",
            "example": "RES-692226"
          },
          "status": {
            "type": "string",
            "description": "The current status of the handoff operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the handoff was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/HandoffMetadata"
          }
        },
        "description": "This schema defines the structure of the response for a Handoff operation.",
        "example": {
          "partyId": "PARTY-353277",
          "interactionId": "INT-144012",
          "resourceId": "RES-692226",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "052a4331-2549-5872-a1b3-932e0ed0f1f0",
            "correlationId": "44d96762-2848-5b34-b0a4-6eeb8c3c7bda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "HandoffMetadata": {
        "title": "Handoff Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-112233"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests and responses.",
            "example": "correlation-445566"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-10T14:48:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the handoff took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the handoff operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "sessionId": {
        "name": "sessionId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-create-session-dialogue"
        },
        "example": "session-dialogue-create-session-dialogue"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-075"
        },
        "example": "WF-075"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Omnichannel Service Routing and Handoff"
        },
        "example": "Omnichannel Service Routing and Handoff"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c629da84-904a-42b4-bfd6-536923d61215"
        },
        "example": "c629da84-904a-42b4-bfd6-536923d61215"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses JSON Web Tokens (JWT) as a bearer token for authentication. Clients must include the token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}