{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Channel Specific Contact Center Operations-spec",
    "description": "This API provides access to channel-specific contact center operations, allowing businesses to efficiently manage and retrieve relevant operations based on various banking channels. It facilitates the viewing of operational data to enhance customer support and service delivery. Typical users include customer service teams and banking operations personnel seeking to optimize contact handling processes. The API supports enhanced decision-making by providing comprehensive insights into contact center activities across different channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-operations": {
      "get": {
        "tags": [
          "Contact Center Operations"
        ],
        "summary": "Retrieve contact center operations for a specific channel.",
        "description": "This endpoint allows users to fetch detailed information about contact center operations tailored to a specific communication channel. It provides insights into performance metrics, agent availability, and other operational data crucial for managing customer interactions effectively.",
        "operationId": "listChannelSpecificContactCenterOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific contact center operations related to a designated channel. Ensure that the content adheres to the specified JSON schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListChannelSpecificContactCenterOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListChannelSpecificContactCenterOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListChannelSpecificContactCenterOperationsRequest": {
        "title": "Channel Specific Contact Center Operations Request Body",
        "type": "string",
        "description": "Represents the request body for the channel specific contact center operations get request.",
        "example": "{}"
      },
      "ListChannelSpecificContactCenterOperationsResponse_200": {
        "title": "Contact Center Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of contact center operations.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "queueId": "STANDARD",
                "skillGroup": "STANDARD",
                "targetAnswerSeconds": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContactCenterOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Contact Center Operations GET request, containing a list of items, pagination information, sorting metadata, and additional metadata.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "queueId": "STANDARD",
              "skillGroup": "STANDARD",
              "targetAnswerSeconds": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "33532b94-bf07-52ce-8fa4-70a6f5952168",
            "correlationId": "31146ae4-e4a3-54e1-8236-50f92f1a7aba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContactCenterOperation": {
        "title": "Contact Center Operation",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region of the operation.",
            "example": "string"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Total number of operations that can be handled daily.",
            "format": "int32",
            "example": 0
          },
          "queueId": {
            "type": "string",
            "description": "Identifier for the associated queue.",
            "example": "string"
          },
          "skillGroup": {
            "type": "string",
            "description": "Group of skills required for the operations.",
            "example": "string"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "Target time in seconds to answer calls.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the operation.",
            "example": "string"
          }
        },
        "description": "Schema representing a single contact center operation with details."
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time at which the service opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "Time at which the service closes.",
            "example": "string"
          }
        },
        "description": "Schema representing the operational hours of a service."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-operations-search-contact-center-operations"
        },
        "example": "contact-center-operations-search-contact-center-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, which requires a valid JSON Web Token (JWT) to be included in the authorization header when making requests. The token grants access to the specified resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}