{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List It Management Platform Operations-spec",
    "description": "The IT Management Platform Operations API provides developers with the ability to access and list various operational details related to IT management within the banking sector. This API serves as a crucial resource for internal teams, as well as partners, seeking insights into platform operations, allowing them to make informed decisions and enhance operational efficiency. By leveraging this API, users can effectively manage and monitor platform activities, improving service delivery and user experience. Typical consumers may include IT administrators and business analysts who analyze operational performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/platform-operations": {
      "get": {
        "tags": [],
        "summary": "Retrieve platform operations data.",
        "description": "This endpoint allows users to fetch detailed information about platform operations within the IT management system, providing insights into current status, performance metrics, and operational efficiency.",
        "operationId": "listItManagementPlatformOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving platform operations in the IT management domain. It expects a JSON object that conforms to the specified schema, which includes necessary parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListItManagementPlatformOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the platform operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListItManagementPlatformOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListItManagementPlatformOperationsRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation in platform operations.",
        "example": "{}"
      },
      "ListItManagementPlatformOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operation items",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the items",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations GET request. It contains details about the items retrieved, pagination information, sorting options, and metadata.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8159d70c-5aee-54b8-926a-945c72c7cf8d",
            "correlationId": "67177990-e2cb-580c-8765-b91f63e51d26",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system",
            "example": "string"
          },
          "environment": {
            "type": "string",
            "description": "The environment of the operation",
            "example": "string"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change related to this operation",
            "example": "string"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team that owns the operation",
            "example": "string"
          },
          "plannedAt": {
            "type": "string",
            "description": "Planned time for the operation",
            "example": "string"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier associated with this operation",
            "example": "string"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage",
            "example": 0.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated",
            "example": "string"
          }
        },
        "description": "Represents an individual operation item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination information for the list of operation items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this response",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place",
            "example": "string"
          }
        },
        "description": "Contains metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This helps in tracking and logging API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "platform-operations-search-platform-operations"
        },
        "example": "platform-operations-search-platform-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request. This is used to identify which application instance handled the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JWT (JSON Web Tokens). The client must provide a valid JWT in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}