{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Economic Capital Model API",
    "description": "This API allows businesses to modify existing economic capital models within their banking systems. By utilizing the PATCH method, users can adjust parameters or details of specific models identified by the unique path parameter. Typical consumers of this API include financial analysts and risk managers who need to ensure that their economic capital modeling reflects the most current data and regulatory requirements. Efficiently maintaining accurate economic capital models is critical for risk assessment and strategic decision-making in financial institutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/economic-capital/{param1}": {
      "patch": {
        "tags": [
          "Economic Capital Models"
        ],
        "summary": "Update Economic Capital Model Resource",
        "description": "This endpoint allows you to update the details of the Economic Capital Model identified by RES-100045. You can modify various attributes to ensure that the model reflects the most accurate and up-to-date information relevant to your financial risk assessments.",
        "operationId": "updateEconomicCapitalModelRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the economic capital model identified by RES-100045. It accepts a structured JSON object that specifies the changes to be made to the model's existing properties and values.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEconomicCapitalModelRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEconomicCapitalModelRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEconomicCapitalModelRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied in the patch request.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching operations related to economic capital.",
        "example": {
          "changes": {
            "modelId": "STANDARD",
            "modelVersion": "STANDARD",
            "portfolioId": "PORT-786778"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9115f94d-75c7-53ab-838f-06f67fe15892",
            "correlationId": "7fdc22e1-3ff6-5603-9c5b-022a0d1996b9",
            "idempotencyKey": "ba026a4f-c45d-5903-b21c-51c75ee0ac12",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-605966"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The identifier of the model being changed.",
            "example": "string"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the model being referred to.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the change.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of changes in the request."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request in a distributed system.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel through which the request was made."
      },
      "UpdateEconomicCapitalModelRes100045Response_200": {
        "title": "Operations Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the request.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the operations update request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "407e2a02-8aa0-559a-8c6e-7f2ad0a917bf",
            "correlationId": "7fdc22e1-3ff6-5603-9c5b-022a0d1996b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional information and metadata related to the operations response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being accessed in the API. This header helps in tracing the request back to its origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "economic-capital-update-economic-capital"
        },
        "example": "economic-capital-update-economic-capital"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that is processing the request. This information can assist in identifying which part of the application stack is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. The token should be a JSON Web Token (JWT) which provides a compact and self-contained way for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}