{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace Loan Application By Collateral Id-spec",
    "description": "The Collateral Management API enables seamless updates to loan applications associated with specific collateral identifiers. This functionality is essential for financial institutions managing dynamic loan portfolios, allowing them to reflect changes in collateral status or details promptly. Typical consumers include loan officers and financial analysts who require real-time data synchronization to make informed decisions. By updating loan applications through this API, users can ensure their records are accurate and up-to-date, enhancing operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals/{collateralId}": {
      "put": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update collateral for a specific loan application.",
        "description": "This endpoint allows you to update collateral details associated with a specific loan application identified by a unique resource ID. Ensure that all required details are provided in the request to successfully update the collateral information.",
        "operationId": "replaceLoanApplicationByCollateralId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          },
          {
            "$ref": "#/components/parameters/collateralId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the collateral details for a specific loan application identified by RES-100045. Ensure that all required fields are included to properly process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceLoanApplicationByCollateralIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The collateral has been successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceLoanApplicationByCollateralIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceLoanApplicationByCollateralIdRequest": {
        "title": "Collateral",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being used.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership for the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs who own the collateral.",
            "example": [
              "CUST-507851"
            ],
            "items": {
              "type": "string",
              "description": "A customer ID.",
              "example": "customer_id_123"
            }
          },
          "description": {
            "type": "string",
            "description": "Description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "forcedSaleValue": {
            "description": "The forced sale value of the collateral.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the valuation was conducted.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The name of the provider that conducted the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The lien priority of the collateral.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Represents collateral information for a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-507851"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "requestContext": {
            "requestId": "b64709ac-6826-5914-bbd6-1db93b248f85",
            "correlationId": "cbbb28ce-b0cf-587a-a6ee-bb53b11a5444",
            "idempotencyKey": "242cb03c-99f0-5847-ace5-2f0d06fdd0be",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-525474"
            }
          }
        }
      },
      "MonetaryValue": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "25000"
          }
        },
        "description": "Represents a monetary value with currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr_67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency_key_abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "LoanManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that originated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device_987"
          }
        },
        "description": "Represents the channel information through which the request was made."
      },
      "ReplaceLoanApplicationByCollateralIdResponse_200": {
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being provided.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership of the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs that own the collateral.",
            "example": [
              "CUST-531301"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for a customer.",
              "example": "customer-123"
            }
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/Value"
          },
          "forcedSaleValue": {
            "description": "The value of the collateral in a forced sale situation.",
            "$ref": "#/components/schemas/Value"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the valuation of the collateral was conducted.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity that provided the valuation of the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority level of the lien on the collateral.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for the collateral.",
            "example": "8c337dc0-591a-46b6-ae02-75a242e46a6a"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral.",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The ratio of the loan amount to the value of the collateral expressed as a percentage.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the lien was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Information related to the audit of the collateral.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata for the collateral.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing details of the collateral associated with a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-531301"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "8c337dc0-591a-46b6-ae02-75a242e46a6a",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "5d27aa3e-b862-5233-b5a9-10bc854399a8",
            "correlationId": "cbbb28ce-b0cf-587a-a6ee-bb53b11a5444",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Value": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the value amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount of the value.",
            "example": "150000"
          }
        },
        "description": "Schema representing a monetary value with currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the collateral record was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the collateral record.",
            "example": "user-abc"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the collateral record.",
            "example": "2023-10-05T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the collateral record.",
            "example": "user-def"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the collateral record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the collateral."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the collateral.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing related requests.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the collateral processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata associated with the collateral."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "collateralId": {
        "name": "collateralId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-collateral"
        },
        "example": "banking-loans-openapi-replace-collateral"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, providing context on the source of the processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, allowing users to securely transmit a token (formatted as a JSON Web Token) to authenticate their identity and access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}