{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Certification Retrieval API",
    "description": "This API facilitates the retrieval of employee certification details within the human resource management domain. It enables businesses to access and verify the professional qualifications and certifications of their employees, ensuring compliance and competency. Typical users include HR personnel and compliance officers who require accurate and up-to-date certification records for auditing and staffing purposes. By leveraging this API, organizations can streamline their certification verification processes and enhance their workforce management practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification": {
      "get": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Retrieve employee certification details.",
        "description": "This endpoint allows you to fetch detailed information about employee certifications within the human resource management system, providing insights into qualifications and certifications held by employees.",
        "operationId": "getEmployeeCertification",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve employee certification information from the human resource management system. It should include any necessary filters or parameters that dictate which certifications are to be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeCertificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of employee certification data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeCertificationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeCertificationRequest": {
        "type": "string",
        "description": "A string representation of the request body for retrieving employee certification details in the Human Resource Management system.",
        "example": "{}"
      },
      "GetEmployeeCertificationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee certification records.",
            "example": [
              {
                "employeeId": "EMP-129901",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeCertification"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the records.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving employee certifications with pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-129901",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f28c3740-169e-5a46-9c63-5d223897606d",
            "correlationId": "d6a40ce7-13fd-5b1c-9c20-4f518ebf6f29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeCertification": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the assignment related to the certification.",
            "example": "67890"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department of the employee.",
            "example": "dep-001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the certification becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time).",
            "example": "full_time"
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the employee's manager.",
            "example": "mgr-789"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "Remote"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the certification record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing an employee's certification details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema providing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "corr-987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema providing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-certification-search-employee-certification"
        },
        "example": "employee-certification-search-employee-certification"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication (also known as token authentication) with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}