{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contribution Models Retrieval API",
    "description": "The Contribution Models Retrieval API allows users to access detailed information about specific contribution models within the banking system. This endpoint is designed for financial analysts and developers who need to retrieve model configurations associated with a particular identifier. By utilizing this API, users can better understand the parameters and rules governing contributions, facilitating enhanced decision-making and compliance. Typical use cases include generating reports, conducting analyses, and integrating these contributions into larger financial applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/contribution-models/{param1}": {
      "get": {
        "tags": [
          "Contribution Model"
        ],
        "summary": "Retrieve a specific contribution model by its ID.",
        "description": "This endpoint allows you to retrieve detailed information about a specific contribution model identified by its unique ID. Use this to get insights into the model's parameters and configurations.",
        "operationId": "getContributionModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about the specific contribution model identified by 'RES-100045'. Ensure that the content is structured according to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContributionModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContributionModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetContributionModelByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation of the Contributions model in the application. It is expected to be a string that may contain various parameters related to the request.",
        "example": "{}"
      },
      "GetContributionModelByIdResponse_200": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the associated portfolio.",
            "example": "PORT-630309"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date for which the model data is valid.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario the model is designed for.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level associated with the model output.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the model response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the model response.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the model response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the operations GET request for model contribution data.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-630309",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f843e7a1-91c9-539f-a368-eb882ac3764b",
            "correlationId": "c1baa95a-12cb-5385-b7ae-b1e0eb65c09a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-models-get-contribution-models"
        },
        "example": "contribution-models-get-contribution-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication scheme. Clients must include a valid JSON Web Token (JWT) in the `Authorization` header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}