{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Release Management API",
    "description": "The Settlement Release Management API facilitates the secure release of financial settlements identified by their unique settlement ID. Through this API, users can initiate the release process for pending settlements, ensuring timely disbursement and operational efficiency. Typically utilized by financial institutions and payment processors, this API supports streamlined settlement management and integration within automated processing workflows. It provides essential capabilities for handling transaction lifecycles and enhances financial accountability in settlement operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/release": {
      "post": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Release a specific settlement.",
        "description": "This operation releases the settlement associated with the resource identifier RES-100045, making it available for further processing or actions. It is essential for managing settled resources effectively.",
        "operationId": "releaseSettlementForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/settlementId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to release the specified settlement identified by RES-100045. It contains the necessary information required to process the release operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseSettlementForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been released.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseSettlementForResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReleaseSettlementForResource100045Request": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body used for releasing settlements.",
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "02169c5f-e36e-5722-96b0-ec21c44b45ae",
            "correlationId": "deca3060-de46-5ef0-8f4a-c77f1e433c32",
            "idempotencyKey": "d42d3367-824f-50a8-83c6-85bd702d4bfb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-945866"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for the correlation of related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "paymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application sending the request.",
            "example": "SettlementApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, providing tracking and identification details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, WebApp).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device making the request.",
            "example": "device-XYZ"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "ReleaseSettlementForResource100045Response_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "A unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant associated with this settlement.",
            "example": "MER-370569"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The account identifier to which the settlement is credited.",
            "example": "ACC-448744"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the reporting period for this settlement.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the reporting period for this settlement.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the settlement amounts are denominated.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "A summary of the settlement including various financial details.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "The total number of lines in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference number provided by the bank for the payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "The expected date and time for the payout to be processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "The actual date and time when the payout was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information regarding the creation and update of the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response received after a successful settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-370569",
          "settlementAccountId": "ACC-448744",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "5eb41527-c94f-50f0-b664-60866645b7a9",
            "correlationId": "deca3060-de46-5ef0-8f4a-c77f1e433c32",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Details of gross payments made during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "refunds": {
            "description": "Details of refunds processed during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reversals": {
            "description": "Details of any payment reversals during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "disputes": {
            "description": "Details of any disputes raised related to the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "fees": {
            "description": "Details of any fees charged during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "taxes": {
            "description": "Details of taxes applicable to the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reserveHeld": {
            "description": "Details of any amounts held in reserve.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reserveReleased": {
            "description": "Details of any amounts released from reserve.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "adjustments": {
            "description": "Details of any adjustments made during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "netSettlement": {
            "description": "Details of the net settlement amount.",
            "$ref": "#/components/schemas/FinancialDetail"
          }
        },
        "description": "Summary of financial transactions related to the settlement."
      },
      "FinancialDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the financial amount is represented.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "1000.00"
          }
        },
        "description": "Detailed information about a financial amount."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the settlement was created.",
            "example": "2023-01-31T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the settlement.",
            "example": "admin_user"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update made to the settlement.",
            "example": "2023-01-31T15:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the settlement.",
            "example": "admin_user"
          }
        },
        "description": "Audit information detailing the creation and update of the settlement record."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate related requests and responses.",
            "example": "correlation_101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-31T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Information about the region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "settlementId": {
        "name": "settlementId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Identifier for the specific endpoint that was invoked.",
          "example": "banking-p2m-openapi-release-settlement"
        },
        "example": "banking-p2m-openapi-release-settlement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Name of the application that handled the request.",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a JSON Web Token (JWT) for secure access. The token should be included in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}