{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Electronic Branch Operations API",
    "description": "The Electronic Branch Operations API enables financial institutions to access and manage various operational functions related to their electronic banking services. It provides essential data and actions pertaining to e-branch transactions and user experiences. Developers and financial services professionals can utilize this API to integrate electronic branch capabilities into their applications, ensuring seamless banking experiences for customers. Typical use cases include retrieving operational statuses, managing transactions, and enhancing user engagement within digital banking platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-operations": {
      "get": {
        "tags": [
          "E-Branch Operations"
        ],
        "summary": "Retrieve e-branch operations for a specific channel.",
        "description": "This endpoint allows developers to fetch the list of e-branch operations associated with the specified channel. The response will include all relevant details about the operations, facilitating better management of e-branch functionalities.",
        "operationId": "getEbranchOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving specific e-branch operations tailored to the selected channel. This body defines the necessary parameters to query the e-branch operations effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEbranchOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested branch operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEbranchOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEbranchOperationsRequest": {
        "type": "string",
        "description": "A string representation of a request body for the specific channel and branch operations GET request.",
        "example": "{}"
      },
      "GetEbranchOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of branch operation items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the channel-specific branch operations GET request.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e857e0a2-cb5e-5ff8-a867-f8c7a54d4360",
            "correlationId": "83ad4539-6116-5912-b5b1-bdb173c01fc1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchOperationItem": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel."
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region."
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The capacity of the branch for daily operations.",
            "format": "int32"
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch."
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch."
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone in which the branch operates."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Represents an individual branch operation item."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the branch opens."
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the branch closes."
          }
        },
        "description": "Defines the service window timings for a branch operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-operations-search-e-branch-operations"
        },
        "example": "e-branch-operations-search-e-branch-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which involves sending a JSON Web Token (JWT) as part of the authorization header to authenticate API requests. Ensure that your JWT tokens are securely generated and that they carry the necessary claims for your authentication needs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}