{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Application Submission API",
    "description": "This API allows customers to submit credit card applications directly linked to their banking profile. It enables financial institutions to efficiently manage and process these applications while enhancing customer experience through streamlined interactions. Ideal for banks and fintech companies, this service aids in rapid decision-making regarding credit applications. Users can initiate applications by providing necessary customer identifiers and documentation, facilitating quick processing of requests.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/credit-card-applications": {
      "post": {
        "tags": [
          "Customer Services"
        ],
        "summary": "Submit a credit card application for a customer.",
        "description": "This endpoint allows you to submit a credit card application on behalf of a customer identified by their unique ID. Ensure that all required fields are filled out correctly to process the application successfully.",
        "operationId": "submitCustomerCreditCardApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new credit card application for a specific customer identified by CUST-100045. Ensure that all required fields are populated accurately to facilitate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitCustomerCreditCardApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Credit card application submitted successfully and created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitCustomerCreditCardApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SubmitCustomerCreditCardApplicationRequest": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Token representing the credit card.",
            "example": "TOK-279079"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-955979"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code for the merchant.",
            "example": "5411"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for credit card application operations.",
        "example": {
          "cardToken": "TOK-279079",
          "cardholderId": "STANDARD",
          "merchantId": "MER-955979",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "requestContext": {
            "requestId": "30213679-8857-5a74-bfee-f22c0b33180d",
            "correlationId": "2753242e-8baa-5806-b983-38f743ef44f3",
            "idempotencyKey": "30aa9826-2699-5246-9999-01f256051b95",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-977659"
            }
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The transaction amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the transaction amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the transaction amount details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent processing of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from where the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details of the channel used for the request."
      },
      "SubmitCustomerCreditCardApplicationResponse_201": {
        "title": "Credit Card Application Response",
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-166008"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code associated with the merchant.",
            "example": "5411"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique resource identifier for the application.",
            "example": "RES-290463"
          },
          "status": {
            "type": "string",
            "description": "The current status of the credit card application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/CreditCardApplicationMetadata"
          }
        },
        "description": "Schema representing the response of a credit card application operation.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-166008",
          "merchantCategoryCode": "5411",
          "resourceId": "RES-290463",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "27922343-2a48-55fd-b569-b49ee84de557",
            "correlationId": "2753242e-8baa-5806-b983-38f743ef44f3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditCardApplicationMetadata": {
        "title": "Credit Card Application Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the application is processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the credit card application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-create-credit-card"
        },
        "example": "credit-card-create-credit-card"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-022"
        },
        "example": "WF-022"
      },
      "x-workflow-name": {
        "description": "The name of the workflow associated with the credit card application operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Credit Card Application and Underwriting"
        },
        "example": "Credit Card Application and Underwriting"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow processing the credit card application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the workflow execution instance handling the credit card application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3f854365-9b9f-495a-8197-bb73305f6a05"
        },
        "example": "3f854365-9b9f-495a-8197-bb73305f6a05"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, where a JSON Web Token (JWT) is sent in the Authorization header to authenticate the user. The client must obtain a JWT by authenticating with the server and then include this token in their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}