{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Loans Loan Application Book-v5-spec",
    "description": "MICROSERVICE-PROD-Create Loans Loan Application Book-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{loanApplicationId}/book": {
      "post": {
        "operationId": "createLoansLoanApplicationBook",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanApplicationId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoansLoanApplicationBookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoansLoanApplicationBookResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoansLoanApplicationBookRequest": {
        "type": "object",
        "properties": {
          "offerId": {
            "type": "string",
            "example": "b36bde08-caf4-9bc2-7260-c3b447e09b59"
          },
          "servicingBranchCode": {
            "type": "string",
            "example": "CODE-742"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "firstPaymentDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "accountingProductCode": {
            "type": "string",
            "example": "CODE-773"
          },
          "generateSchedule": {
            "type": "boolean",
            "example": true
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "3e27a256-cd03-5717-915c-2ed0df9905f0",
              "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
              "idempotencyKey": "5367355c-867e-56cf-b39e-293cabb36c8e",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-815344"
              }
            }
          }
        },
        "example": {
          "offerId": "b36bde08-caf4-9bc2-7260-c3b447e09b59",
          "servicingBranchCode": "CODE-742",
          "repaymentAccountNumber": "STANDARD",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "accountingProductCode": "CODE-773",
          "generateSchedule": true,
          "requestContext": {
            "requestId": "3e27a256-cd03-5717-915c-2ed0df9905f0",
            "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
            "idempotencyKey": "5367355c-867e-56cf-b39e-293cabb36c8e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-815344"
            }
          }
        }
      },
      "CreateLoansLoanApplicationBookResponse_201": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "example": "APP-112303"
          },
          "productId": {
            "type": "string",
            "example": "PROD-677587"
          },
          "primaryCustomerId": {
            "type": "string",
            "example": "CUST-326329"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "example": [
              "CUST-837509"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "principal": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "termMonths": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "example": "CODE-410"
          },
          "relationshipManagerId": {
            "type": "string",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "example": "d78fbc2d-73d9-29cb-e0f5-4d14a913055e"
          },
          "accountNumber": {
            "type": "string",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "balance": {
            "type": "object",
            "properties": {
              "principalOutstanding": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "accruedInterest": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "feesOutstanding": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "penaltiesOutstanding": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "totalOutstanding": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "availableToDraw": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "example": "string"
                  },
                  "amount": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "principalOutstanding": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "accruedInterest": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesOutstanding": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesOutstanding": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalOutstanding": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "availableToDraw": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          },
          "totalDisbursed": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              },
              "amount": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalRepaid": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "currency": "USD"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "b33c5138-2469-53d5-94bd-c009cb2acbcf",
              "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "sourceApplicationId": "APP-112303",
          "productId": "PROD-677587",
          "primaryCustomerId": "CUST-326329",
          "borrowerCustomerIds": [
            "CUST-837509"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-410",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "d78fbc2d-73d9-29cb-e0f5-4d14a913055e",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "b33c5138-2469-53d5-94bd-c009cb2acbcf",
            "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanApplicationId": {
        "name": "loanApplicationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-book-loan-application"
        },
        "example": "banking-loans-openapi-book-loan-application"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}