{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contribution Analysis API",
    "description": "The Contribution Analysis API provides insights into the financial performance of various banking products. By analyzing contributions from different services, it helps financial analysts and business strategists identify trends and make data-driven decisions. This API is designed for use by banking professionals seeking to optimize their product offerings and enhance profitability. Users can retrieve detailed analysis based on specified parameters to facilitate informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/contribution-analysis/{param1}": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve contribution analysis details by ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific contribution analysis identified by its unique ID. It provides insights into the contribution metrics, allowing businesses to effectively evaluate performance and make informed decisions.",
        "operationId": "getContributionAnalysisById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve contribution analysis data for a specific resource identified by RES-100045. It allows the user to specify parameters that will refine the data returned based on the requirements of the analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContributionAnalysisByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested contribution analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContributionAnalysisByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetContributionAnalysisByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the contribution analysis operation. It expects a string value.",
        "example": "{}"
      },
      "GetContributionAnalysisByIdResponse_200": {
        "title": "Contribution Analysis Response",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment associated with the analysis.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used as the base for the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Describes the scenario for which the analysis is performed.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the analysis record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the analysis.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the contribution analysis response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the contribution analysis operation.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9bc42474-3576-5882-93ef-8244c7c23b46",
            "correlationId": "9f87301f-b607-56ba-b637-1b75731d3f54",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the analysis occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata of the contribution analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that the request was sent to. Use this header to track which endpoint the response corresponds to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-analysis-get-contribution-analysis"
        },
        "example": "contribution-analysis-get-contribution-analysis"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime that processed the request. This helps in identifying the environment or deployment context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication format, which expects a token (JWT - JSON Web Token) to be included in the Authorization header of HTTP requests. The token should be securely managed and should grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}