{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Decisioning API",
    "description": "The Consumer Decisioning API enables businesses to make informed decisions regarding their customers by submitting consumer data for evaluation. This API allows users to input customer information, such as demographic details and preferences, facilitating data-driven decision making. Typical consumers of this API include financial institutions, retail companies, and marketing firms seeking to analyze customer behavior and tailor their services accordingly. By leveraging this API, organizations can enhance customer experiences and optimize their strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/consumer": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a consumer for the specified customer.",
        "description": "This operation allows developers to create a consumer profile associated with a specific customer. It requires the customer ID and relevant consumer details to successfully create the profile in the system.",
        "operationId": "createConsumerForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new consumer associated with the specified customer. This body must adhere to the defined schema and includes all required fields necessary for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerForCustomerCUST100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerForCustomerCUST100045Request": {
        "title": "Customer Creation Request Body",
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "address": {
            "type": "string",
            "description": "The street address of the customer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "The city where the customer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state where the customer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "The ZIP code of the customer\u2019s address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the customer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "The birthday of the customer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "suffix": {
            "type": "string",
            "description": "The suffix for the customer\u2019s name (e.g., Jr., Sr.).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Information about the end user associated with the customer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a new customer.",
        "example": {
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "requestId": "1c9d1256-0da8-5bc8-8625-5354b11a0ec5",
            "correlationId": "8401aaf2-8163-5ff5-809f-6922703fae8a",
            "idempotencyKey": "2f9920ea-e657-55c5-a435-44589b1e5556",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-701621"
            }
          }
        }
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The birth year of the customer.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "The birth month of the customer.",
            "format": "int32",
            "example": 5
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of the month when the customer was born.",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing a customer\u2019s birthday."
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "Alice Smith"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Los Angeles"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user\u2019s address.",
            "example": "90001"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(321) 654-0987"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "alice.smith@example.com"
          }
        },
        "description": "Schema representing information about the end user associated with the customer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "unique-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "CustomerApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information about the API request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "device-123"
          }
        },
        "description": "Schema representing information about the channel through which an API request is made."
      },
      "CreateConsumerForCustomerCUST100045Response_201": {
        "title": "Customer Operation Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date and time when the operation was created, represented as a UNIX timestamp in seconds.",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer associated with this operation.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Metadata associated with the operation, including IDs and timestamps.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Schema representing the response for customer operation requests.",
        "example": {
          "id": "STANDARD",
          "createdDate": 1,
          "customerId": 1,
          "metadata": {
            "responseId": "d5fd1a71-d9aa-5aa4-bf70-4f8840f8a76b",
            "correlationId": "8401aaf2-8163-5ff5-809f-6922703fae8a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated from the operation.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID used to track the request across systems.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated in ISO 8601 format.",
            "example": "2021-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing various metadata elements for an operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed in the API. This header is used for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-consumer"
        },
        "example": "open-finance-api-create-consumer"
      },
      "X-Runtime-App": {
        "description": "Indicates the application environment where the request is being processed. This can help in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). It allows clients to authenticate by including a token in the Authorization header of the requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}