{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List P2m Disputes-spec",
    "description": "The P2M Disputes Overview API provides insights into payment disputes within the P2M framework. It allows users to retrieve detailed lists of disputes, facilitating effective management and resolution processes. This API is crucial for financial institutions and payment processors that need to analyze and track disputes for operational purposes. Typical consumers include customer service teams, dispute resolution specialists, and compliance officers who rely on accurate and timely information to address disputes efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes": {
      "get": {
        "tags": [
          "Disputes Management"
        ],
        "summary": "Retrieve a list of disputes.",
        "description": "This endpoint allows you to fetch all disputes that have been recorded, providing relevant details for each dispute. It is designed to help you track and manage disputes efficiently.",
        "operationId": "listP2mDisputes",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve dispute information from the API. It should conform to the specified schema and include all necessary parameters for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListP2mDisputesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of disputes.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListP2mDisputesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListP2mDisputesRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to disputes. This represents a string payload that might be used in the operation.",
        "example": "{}"
      },
      "ListP2mDisputesResponse_200": {
        "title": "Dispute Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "A list of links related to the pagination.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaginationLink"
            }
          },
          "items": {
            "type": "array",
            "description": "A list of disputes.",
            "example": [
              {
                "disputeId": "STANDARD",
                "paymentId": "PAY-430055",
                "merchantId": "MER-423289",
                "reason": "STANDARD",
                "disputedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "customerStatement": "STANDARD",
                "status": "ACTIVE",
                "responseDueAt": "2026-08-11T12:00:00Z",
                "evidence": [
                  {
                    "id": "STANDARD",
                    "fileName": "Northstar Banking Service",
                    "contentType": "STANDARD",
                    "fileSizeBytes": 1,
                    "fileUrl": "https://example.com/resource",
                    "sha256": "STANDARD",
                    "uploadedAt": "2026-08-11T12:00:00Z"
                  }
                ],
                "financialImpact": {
                  "amountDebitedFromMerchant": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "fees": [
                    {
                      "feeType": "STANDARD",
                      "amount": {
                        "currency": "USD",
                        "value": "STANDARD"
                      },
                      "bearer": "CUSTOMER"
                    }
                  ],
                  "reserveHeld": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "resolution": {
                  "outcome": "STANDARD",
                  "resolvedAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DisputeDetails"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation ID for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "8224c579-c055-561d-b7e8-a1cbc057b5fa",
              "correlationId": "9b142409-0cbc-50da-986d-9599c683f847",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response for the disputes fetch operation.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "disputeId": "STANDARD",
              "paymentId": "PAY-430055",
              "merchantId": "MER-423289",
              "reason": "STANDARD",
              "disputedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "customerStatement": "STANDARD",
              "status": "ACTIVE",
              "responseDueAt": "2026-08-11T12:00:00Z",
              "evidence": [
                {
                  "id": "STANDARD",
                  "fileName": "Northstar Banking Service",
                  "contentType": "STANDARD",
                  "fileSizeBytes": 1,
                  "fileUrl": "https://example.com/resource",
                  "sha256": "STANDARD",
                  "uploadedAt": "2026-08-11T12:00:00Z"
                }
              ],
              "financialImpact": {
                "amountDebitedFromMerchant": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": [
                  {
                    "feeType": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "value": "STANDARD"
                    },
                    "bearer": "CUSTOMER"
                  }
                ],
                "reserveHeld": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "resolution": {
                "outcome": "STANDARD",
                "resolvedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "8224c579-c055-561d-b7e8-a1cbc057b5fa",
            "correlationId": "9b142409-0cbc-50da-986d-9599c683f847",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaginationLink": {
        "title": "PaginationLink",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship of the link (e.g., 'next', 'prev').",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the linked resource.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use for the linked resource.",
            "example": "string"
          }
        },
        "description": "Represents a link for pagination in the response."
      },
      "DisputeDetails": {
        "title": "DisputeDetails",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "The unique identifier for the dispute.",
            "example": "string"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment related to the dispute.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant involved in the dispute.",
            "example": "string"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "string"
          },
          "disputedAmount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the disputed amount.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The actual disputed amount.",
                "example": "string"
              }
            },
            "description": "The amount that is under dispute."
          },
          "customerStatement": {
            "type": "string",
            "description": "The statement provided by the customer regarding the dispute.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the dispute.",
            "example": "string"
          },
          "responseDueAt": {
            "type": "string",
            "description": "The timestamp by which a response is due.",
            "example": "string"
          },
          "evidence": {
            "type": "array",
            "description": "A list of evidence files related to the dispute.",
            "items": {
              "$ref": "#/components/schemas/EvidenceDetails"
            }
          },
          "financialImpact": {
            "type": "object",
            "properties": {
              "amountDebitedFromMerchant": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "The currency of the debited amount.",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "description": "The actual amount debited from the merchant.",
                    "example": "string"
                  }
                },
                "description": "The amount that has been debited from the merchant due to the dispute."
              },
              "fees": {
                "type": "array",
                "description": "A list of fees associated with the dispute.",
                "items": {
                  "$ref": "#/components/schemas/FeeDetails"
                }
              },
              "reserveHeld": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "The currency of the reserve amount.",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "description": "The actual reserve amount held.",
                    "example": "string"
                  }
                },
                "description": "Details of the reserve amount held due to the dispute."
              }
            },
            "description": "Details regarding the financial impact of the dispute."
          },
          "resolution": {
            "type": "object",
            "properties": {
              "outcome": {
                "type": "string",
                "description": "The outcome of the dispute resolution.",
                "example": "string"
              },
              "resolvedAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "The currency of the resolved amount.",
                    "example": "string"
                  },
                  "value": {
                    "type": "string",
                    "description": "The actual resolved amount.",
                    "example": "string"
                  }
                },
                "description": "The amount settled as part of the resolution."
              }
            },
            "description": "Details of the resolution status for the dispute."
          }
        },
        "description": "Represents detailed information about a dispute."
      },
      "EvidenceDetails": {
        "title": "EvidenceDetails",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the evidence file.",
            "example": "string"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the evidence file.",
            "example": "string"
          },
          "contentType": {
            "type": "string",
            "description": "The MIME type of the evidence file.",
            "example": "string"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "The size of the evidence file in bytes.",
            "format": "int32",
            "example": 0
          },
          "fileUrl": {
            "type": "string",
            "description": "The URL where the evidence file can be accessed.",
            "example": "string"
          },
          "sha256": {
            "type": "string",
            "description": "The SHA256 hash of the evidence file.",
            "example": "string"
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "string"
          }
        },
        "description": "Represents the details of evidence files related to a dispute."
      },
      "FeeDetails": {
        "title": "FeeDetails",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "The type of fee (e.g., processing fee, service fee).",
            "example": "string"
          },
          "amount": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "The currency of the fee amount.",
                "example": "string"
              },
              "value": {
                "type": "string",
                "description": "The actual fee amount.",
                "example": "string"
              }
            },
            "description": "The amount for the fee."
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who is responsible for the fee.",
            "example": "string"
          }
        },
        "description": "Represents details of fees associated with a dispute."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This helps in tracking the specific request within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-disputes"
        },
        "example": "banking-p2m-openapi-list-disputes"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application context in which the request was processed. Useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme implements JSON Web Token (JWT) authentication. Clients must provide a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}