{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Generate Transfer Bill Pay Switch-v5-spec",
    "description": "The Bill Pay Switch Management API enables businesses to initiate and manage bill payment transfers seamlessly. This endpoint allows users to generate and connect to payment switches, facilitating efficient financial transactions. Typically utilized by financial institutions or payment service providers, this API streamlines the process of integrating and executing bill payment solutions. With this functionality, developers can enhance their applications to offer reliable and swift payment experiences for end-users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/bill-pay-switch": {
      "post": {
        "tags": [
          "Billing"
        ],
        "summary": "Initiate a bill payment switch transfer.",
        "description": "This endpoint allows users to initiate a transfer for switching bill payments. It facilitates the seamless transition of bill payment responsibilities from one party to another.",
        "operationId": "createConnectGenerateTransferBillPaySwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a bill payment transfer. The request should contain necessary parameters to process the bill payment securely and efficiently.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectGenerateTransferBillPaySwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the response contains the result.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectGenerateTransferBillPaySwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectGenerateTransferBillPaySwitchRequest": {
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "accounts": {
            "type": "array",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-786921"
          },
          "experience": {
            "type": "string",
            "description": "The user's experience level or context.",
            "example": "STANDARD"
          },
          "language": {
            "type": "string",
            "description": "The preferred language for communication.",
            "example": "en"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL should be single use.",
            "example": true
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect to after processing.",
            "example": "STANDARD"
          },
          "cards": {
            "type": "array",
            "example": [
              {
                "title": "Banking operation completed",
                "number": "STANDARD",
                "expiry": "STANDARD",
                "cvv": "STANDARD",
                "brand": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "identity": {
            "$ref": "#/components/schemas/Identity"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for generating a transfer bill pay switch operation.",
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-786921",
          "experience": "STANDARD",
          "language": "en",
          "singleUseUrl": true,
          "redirectUri": "STANDARD",
          "cards": [
            {
              "title": "Banking operation completed",
              "number": "STANDARD",
              "expiry": "STANDARD",
              "cvv": "STANDARD",
              "brand": "STANDARD"
            }
          ],
          "identity": {
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "zipCode": "CODE-868"
          },
          "requestContext": {
            "requestId": "ddb91bab-517f-52fd-b18f-0471e9abecf5",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "idempotencyKey": "a9575ded-64ad-569e-9823-10a68ac813cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-523301"
            }
          }
        }
      },
      "ServiceAgreement": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language of the service agreement."
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted."
          }
        },
        "description": "Schema that represents a service agreement related to the operation."
      },
      "Account": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "The unique number identifying the account."
          },
          "bankIdentifier": {
            "type": "string",
            "description": "The identifier for the bank where the account is held."
          },
          "title": {
            "type": "string",
            "description": "The title or name assigned to the account."
          },
          "type": {
            "type": "string",
            "description": "The type of account (e.g., savings, checking)."
          }
        },
        "description": "Schema representing an account in the operation."
      },
      "Card": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The label describing the card."
          },
          "number": {
            "type": "string",
            "description": "The card number."
          },
          "expiry": {
            "type": "string",
            "description": "The expiration date of the card."
          },
          "cvv": {
            "type": "string",
            "description": "The CVV code of the card."
          },
          "brand": {
            "type": "string",
            "description": "The brand of the card (e.g., Visa, MasterCard)."
          }
        },
        "description": "Schema representing a payment card associated with the operation."
      },
      "Identity": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the individual."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the individual."
          },
          "zipCode": {
            "type": "string",
            "description": "The postal code of the individual."
          }
        },
        "description": "Schema representing the identity of an individual involved in the operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests are idempotent."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request."
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request."
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context surrounding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel."
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request."
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateConnectGenerateTransferBillPaySwitchResponse_200": {
        "title": "Bill Pay Switch Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the transaction.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata providing additional context about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Bill Pay Switch operation, providing a link and additional metadata for tracking and processing.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "8b18d155-1c5a-5b57-8696-fc20001fb353",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated, in RFC 3339 format.",
            "example": "2023-10-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Identifier for the region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
        },
        "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request, useful for audits and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for authentication. Clients must provide a valid bearer token in the Authorization header of their requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}