{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Open Banking Unsecured Sme Loans-spec",
    "description": "This API provides access to the list of unsecured SME loan offerings available through the Open Banking framework. It allows users, such as financial institutions and developers, to retrieve details about various loan options catering to small and medium enterprises. The endpoint facilitates the exploration of loan products, assisting businesses in making informed financial decisions. Typical consumers include fintech applications and banking platforms looking to integrate or display unsecured SME loan information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/unsecured-sme-loans": {
      "get": {
        "tags": [
          "Unsecured Lending"
        ],
        "summary": "Retrieve Unsecured SME Loans",
        "description": "This endpoint allows you to retrieve a list of unsecured loans available for small and medium-sized enterprises (SMEs) under the open banking framework. You can filter and customize your query to find relevant loan options.",
        "operationId": "listOpenBankingUnsecuredSmeLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving unsecured SME loans from the Open Banking API. This body should include any necessary parameters to filter or specify the loan details required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOpenBankingUnsecuredSmeLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of unsecured SME loans.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOpenBankingUnsecuredSmeLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOpenBankingUnsecuredSmeLoansRequest": {
        "type": "string",
        "description": "This schema represents the request body format for retrieving unsecured SME loans in Open Banking operations.",
        "example": "{}"
      },
      "ListOpenBankingUnsecuredSmeLoansResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "description": "List of unsecured SME loans.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-272",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductName": "Northstar Banking Service",
                "ProductIdentifier": "PROD-909424",
                "ArrearsTreatment": "STANDARD",
                "ProductTypeName": "Northstar Banking Service",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "ProductSegment": [
                  "STANDARD"
                ],
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "CustomerAccessChannels": [
                  "STANDARD"
                ],
                "Currency": [
                  "USD"
                ],
                "MinimumLoanTerm": 1,
                "MaximumLoanTerm": 1,
                "MinimumLoanAmount": "100.00",
                "MaximumLoanAmount": "25000.00",
                "PaymentHoliday": true,
                "LoanItem": [
                  {
                    "ProductState": "STANDARD",
                    "StartPromotionOrFutureTerms": "STANDARD",
                    "StopPromotionOrFutureTerms": "STANDARD",
                    "LengthPromotionalInDays": 1,
                    "DateOfChange": "2026-09-15",
                    "LoanPricing": [
                      {
                        "SizeIncrement": "STANDARD",
                        "LoanLengthIncrement": "STANDARD",
                        "RepaymentFrequency": [
                          "STANDARD"
                        ],
                        "LoanSizeBandLower": "STANDARD",
                        "LoanSizeBandUpper": "STANDARD"
                      }
                    ]
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanData"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving unsecured SME loan data.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-272",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductName": "Northstar Banking Service",
              "ProductIdentifier": "PROD-909424",
              "ArrearsTreatment": "STANDARD",
              "ProductTypeName": "Northstar Banking Service",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "ProductSegment": [
                "STANDARD"
              ],
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "CustomerAccessChannels": [
                "STANDARD"
              ],
              "Currency": [
                "USD"
              ],
              "MinimumLoanTerm": 1,
              "MaximumLoanTerm": 1,
              "MinimumLoanAmount": "100.00",
              "MaximumLoanAmount": "25000.00",
              "PaymentHoliday": true,
              "LoanItem": [
                {
                  "ProductState": "STANDARD",
                  "StartPromotionOrFutureTerms": "STANDARD",
                  "StopPromotionOrFutureTerms": "STANDARD",
                  "LengthPromotionalInDays": 1,
                  "DateOfChange": "2026-09-15",
                  "LoanPricing": [
                    {
                      "SizeIncrement": "STANDARD",
                      "LoanLengthIncrement": "STANDARD",
                      "RepaymentFrequency": [
                        "STANDARD"
                      ],
                      "LoanSizeBandLower": "STANDARD",
                      "LoanSizeBandUpper": "STANDARD"
                    }
                  ]
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "a6771025-2068-5049-8808-ec1bba86803d",
            "correlationId": "cf469e13-c763-5cc7-8242-6a49576689f1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The last updated timestamp of the data.",
            "example": "2023-10-25T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results returned.",
            "format": "int32",
            "example": 100
          },
          "Agreement": {
            "type": "string",
            "description": "Agreement information related to the loans.",
            "example": "Loan Agreement Details"
          },
          "License": {
            "type": "string",
            "description": "License information related to the loan provider.",
            "example": "License Number 12345"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the loan products.",
            "example": "Terms and conditions apply."
          }
        },
        "description": "Metadata information for the response."
      },
      "LoanData": {
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/OrganisationDetails"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the loan product.",
            "example": "SME Growth Loan"
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the loan product.",
            "example": "SKU12345"
          },
          "ArrearsTreatment": {
            "type": "string",
            "description": "Details on how arrears are handled.",
            "example": "Flexible repayment options."
          },
          "ProductTypeName": {
            "type": "string",
            "description": "Type of the loan product.",
            "example": "Unsecured Personal Loan"
          },
          "ProductURL": {
            "type": "array",
            "description": "Web URLs for more information on the product.",
            "items": {
              "type": "string",
              "example": "https://example.com/product"
            }
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments that the loan product is targeting.",
            "items": {
              "type": "string",
              "example": "Small Business"
            }
          },
          "ProductDescription": {
            "type": "string",
            "description": "A description of the loan product.",
            "example": "This loan is designed for small businesses looking to expand."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions applicable to the product.",
            "items": {
              "type": "string",
              "example": "Standard lending terms apply."
            }
          },
          "CustomerAccessChannels": {
            "type": "array",
            "description": "Channels through which customers can access the product.",
            "items": {
              "type": "string",
              "example": "Online"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Available currencies for the loan product.",
            "items": {
              "type": "string",
              "example": "USD"
            }
          },
          "MinimumLoanTerm": {
            "type": "integer",
            "description": "Minimum duration of the loan in months.",
            "format": "int32",
            "example": 6
          },
          "MaximumLoanTerm": {
            "type": "integer",
            "description": "Maximum duration of the loan in months.",
            "format": "int32",
            "example": 60
          },
          "MinimumLoanAmount": {
            "type": "string",
            "description": "Minimum amount that can be loaned.",
            "example": "5000"
          },
          "MaximumLoanAmount": {
            "type": "string",
            "description": "Maximum amount that can be loaned.",
            "example": "500000"
          },
          "PaymentHoliday": {
            "type": "boolean",
            "description": "Indicates if a payment holiday is available.",
            "example": false
          },
          "LoanItem": {
            "type": "array",
            "description": "List of loan items related to this product.",
            "items": {
              "$ref": "#/components/schemas/LoanItem"
            }
          }
        },
        "description": "Detailed information about a specific unsecured SME loan."
      },
      "OrganisationDetails": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisationDetails"
          },
          "Brand": {
            "$ref": "#/components/schemas/BrandDetails"
          }
        },
        "description": "Details related to the organisation offering the loan."
      },
      "ParentOrganisationDetails": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier.",
            "example": "1234567890123"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code.",
            "example": "BANKGB2L"
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationNameDetails"
          }
        },
        "description": "Information about the parent organisation."
      },
      "OrganisationNameDetails": {
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organisation.",
            "example": "Example Bank Ltd"
          }
        },
        "description": "Details regarding the organisation's name."
      },
      "BrandDetails": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark registration code.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "ID associated with the trademark.",
            "example": "ID123456"
          }
        },
        "description": "Branding information related to the organisation."
      },
      "LoanItem": {
        "type": "object",
        "properties": {
          "ProductState": {
            "type": "string",
            "description": "Current state of the loan product.",
            "example": "Active"
          },
          "StartPromotionOrFutureTerms": {
            "type": "string",
            "description": "The start date of the promotion or future terms.",
            "example": "2023-11-01"
          },
          "StopPromotionOrFutureTerms": {
            "type": "string",
            "description": "The end date of the promotion or future terms.",
            "example": "2024-11-01"
          },
          "LengthPromotionalInDays": {
            "type": "integer",
            "description": "Duration of the promotion in days.",
            "format": "int32",
            "example": 30
          },
          "DateOfChange": {
            "type": "string",
            "description": "The date when the loan item details were changed.",
            "example": "2023-10-25"
          },
          "LoanPricing": {
            "type": "array",
            "description": "Pricing details for the loan item.",
            "items": {
              "$ref": "#/components/schemas/LoanPricing"
            }
          }
        },
        "description": "Details about a specific loan item associated with the loan product."
      },
      "LoanPricing": {
        "type": "object",
        "properties": {
          "SizeIncrement": {
            "type": "string",
            "description": "Size increment of the loan.",
            "example": "1000"
          },
          "LoanLengthIncrement": {
            "type": "string",
            "description": "Length increment for loans.",
            "example": "1 month"
          },
          "RepaymentFrequency": {
            "type": "array",
            "description": "Frequency of repayment options.",
            "items": {
              "type": "string",
              "example": "Monthly"
            }
          },
          "LoanSizeBandLower": {
            "type": "string",
            "description": "Lower limit of the loan size band.",
            "example": "5000"
          },
          "LoanSizeBandUpper": {
            "type": "string",
            "description": "Upper limit of the loan size band.",
            "example": "50000"
          }
        },
        "description": "Details about the pricing of a loan."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking purposes.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-25T14:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata about the response itself, including identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-unsecured-sme-loans"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-unsecured-sme-loans"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication framework, utilizing JSON Web Tokens (JWTs) for user validation. Clients must include the JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}