{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Application Institutions-spec",
    "description": "The List Application Institutions API allows users to retrieve a list of institutions associated with a specific application identified by its application ID. This functionality is essential for businesses looking to manage application workflows, facilitate compliance checks, or gather institution-specific data essential for decision-making. The API primarily serves developers and integrations that require seamless access to institution-related information for a given application. Typical use cases include data aggregation, reporting, and enhancing user interfaces in financial or administrative systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/applications/{applicationId}/institutions": {
      "get": {
        "tags": [
          "Resource Management"
        ],
        "summary": "Retrieve institutions associated with resource RES-100045.",
        "description": "This endpoint allows you to fetch a list of institutions linked to the specified resource, RES-100045. It provides detailed information about the institutions, including their attributes and associations.",
        "operationId": "listApplicationInstitutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/applicationId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of institutions associated with the specified resource. Ensure that all required parameters are included to get the correct information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListApplicationInstitutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning a list of institutions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApplicationInstitutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListApplicationInstitutionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the institutions resource.",
        "example": "{}"
      },
      "ListApplicationInstitutionsResponse_200": {
        "title": "Institutions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The total number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates whether more institutions are available beyond the current displayed list.",
            "example": true
          },
          "institutions": {
            "type": "array",
            "description": "A list of institutions returned in the response.",
            "example": [
              {
                "institutionId": 1,
                "institutionName": "Northstar Banking Service",
                "status": true,
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata related to the response of the request.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET institutions operation. It contains information about the institutions found and metadata related to the response.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "institutions": [
            {
              "institutionId": 1,
              "institutionName": "Northstar Banking Service",
              "status": true,
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "c555babf-e2ca-516b-85d0-f3929e02d1d8",
            "correlationId": "77147fde-2f57-53b7-89f2-8586ded18fb7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "integer",
            "description": "The unique identifier for the institution.",
            "format": "int32",
            "example": 1
          },
          "institutionName": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "Example Institution"
          },
          "status": {
            "type": "boolean",
            "description": "Indicates whether the institution is active.",
            "example": true
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the institution was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date and time when the institution was last modified.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual institution."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the request across services.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing the metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "applicationId": {
        "name": "applicationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-registered-institutions"
        },
        "example": "open-finance-api-get-registered-institutions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Token) for authentication, allowing clients to securely access resources on the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}