{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Operational Service Internal Bank Account-spec",
    "description": "The Internal Bank Account Management API enables businesses to establish operational bank accounts seamlessly within their banking system. This API allows for the creation of new internal bank accounts essential for handling various financial operations. Financial institutions, accounting departments, and back-office systems will find this API crucial for ensuring efficient account management and compliance with internal policies. Additionally, it provides a foundational service for automating financial transactions and integrating with other banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account": {
      "post": {
        "tags": [
          "Banking Services"
        ],
        "summary": "Create a new internal bank account.",
        "description": "This endpoint allows you to create a new internal bank account within the operational services. Ensure that you provide all necessary details in the request body to successfully create the account.",
        "operationId": "createOperationalServiceInternalBankAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an internal bank account within the operational services. It should contain all necessary details about the bank account such as account number, account type, and associated bank information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalServiceInternalBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created and initialized successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalServiceInternalBankAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalServiceInternalBankAccountRequest": {
        "title": "Create Internal Bank Account Operation Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer associated with the bank account.",
            "example": "CUST-603581"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the account that the operation pertains to.",
            "example": "ACC-533049"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating an internal bank account operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-603581",
          "accountId": "ACC-533049",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "d690f81e-72f1-55ee-9008-a37fcad2f215",
            "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
            "idempotencyKey": "9e82ec84-65e7-53a9-b518-27843bfb79a6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-989657"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-id-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr-id-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the operation.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request context was created.",
            "example": "2023-10-23T19:20:30Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and details about the request source."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing details about the communication channel used for the request."
      },
      "CreateOperationalServiceInternalBankAccountResponse_201": {
        "title": "Internal Bank Account Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the operation.",
            "example": "CUST-325133"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the bank account involved in the operation.",
            "example": "ACC-365690"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the operation.",
            "example": "RES-940434"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The unique identifier used for tracking the operation across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The date and time when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the operation took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "74534366-2e5b-5eb8-b021-995525b948ef",
              "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for an internal bank account operation from the operational services.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-325133",
          "accountId": "ACC-365690",
          "resourceId": "RES-940434",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "74534366-2e5b-5eb8-b021-995525b948ef",
            "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-create-internal-bank-account"
        },
        "example": "internal-bank-account-create-internal-bank-account"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme, requiring a JWT (JSON Web Token) to be included in the Authorization header of the request to authenticate and authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}