{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Pisp File Payment-v5-spec",
    "description": "MICROSERVICE-PROD-Create Open Banking Pisp File Payment-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payments": {
      "post": {
        "operationId": "createOpenBankingPispFilePayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingPispFilePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingPispFilePaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingPispFilePaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "FileType": {
                    "type": "string",
                    "example": "string"
                  },
                  "FileHash": {
                    "type": "string",
                    "example": "string"
                  },
                  "FileReference": {
                    "type": "string",
                    "example": "string"
                  },
                  "NumberOfTransactions": {
                    "type": "string",
                    "example": "string"
                  },
                  "ControlSum": {
                    "type": "number",
                    "example": 0.0
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "example": "string"
                  },
                  "CreditorAgent": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "example": "string"
                      },
                      "LEI": {
                        "type": "string",
                        "example": "string"
                      },
                      "PostalAddress": {
                        "type": "object",
                        "properties": {
                          "AddressType": {
                            "type": "string",
                            "example": "string"
                          },
                          "Department": {
                            "type": "string",
                            "example": "string"
                          },
                          "SubDepartment": {
                            "type": "string",
                            "example": "string"
                          },
                          "StreetName": {
                            "type": "string",
                            "example": "string"
                          },
                          "BuildingNumber": {
                            "type": "string",
                            "example": "string"
                          },
                          "BuildingName": {
                            "type": "string",
                            "example": "string"
                          },
                          "Floor": {
                            "type": "string",
                            "example": "string"
                          },
                          "UnitNumber": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "Initiation": {
                "FileType": "STANDARD",
                "FileHash": "STANDARD",
                "FileReference": "STANDARD",
                "NumberOfTransactions": "STANDARD",
                "ControlSum": 100.0,
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "LocalInstrument": "STANDARD",
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD"
                  }
                }
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "e3f157c5-173d-5e96-9a05-92e446b70017",
              "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
              "idempotencyKey": "b0b1b086-1fef-57de-9da4-6b486b8f00b2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-930440"
              }
            }
          }
        },
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "e3f157c5-173d-5e96-9a05-92e446b70017",
            "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
            "idempotencyKey": "b0b1b086-1fef-57de-9da4-6b486b8f00b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-930440"
            }
          }
        }
      },
      "CreateOpenBankingPispFilePaymentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FilePaymentId": {
                "type": "string",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "Path": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "Charges": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "ChargeBearer": {
                      "type": "string",
                      "example": "string"
                    },
                    "Type": {
                      "type": "string",
                      "example": "string"
                    },
                    "Amount": {
                      "type": "object",
                      "properties": {
                        "Amount": {
                          "type": "string",
                          "example": "string"
                        },
                        "Currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "FileType": {
                    "type": "string",
                    "example": "string"
                  },
                  "FileHash": {
                    "type": "string",
                    "example": "string"
                  },
                  "FileReference": {
                    "type": "string",
                    "example": "string"
                  },
                  "NumberOfTransactions": {
                    "type": "string",
                    "example": "string"
                  },
                  "ControlSum": {
                    "type": "number",
                    "example": 0.0
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "example": "string"
                  },
                  "DebtorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "example": "string"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Proxy": {
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "type": "string",
                            "example": "string"
                          },
                          "Code": {
                            "type": "string",
                            "example": "string"
                          },
                          "Type": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "example": "string"
                  },
                  "CreditorAgent": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "example": "string"
                      },
                      "LEI": {
                        "type": "string",
                        "example": "string"
                      },
                      "PostalAddress": {
                        "type": "object",
                        "properties": {
                          "AddressType": {
                            "type": "string",
                            "example": "string"
                          },
                          "Department": {
                            "type": "string",
                            "example": "string"
                          },
                          "SubDepartment": {
                            "type": "string",
                            "example": "string"
                          },
                          "StreetName": {
                            "type": "string",
                            "example": "string"
                          },
                          "BuildingNumber": {
                            "type": "string",
                            "example": "string"
                          }
                        },
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "FilePaymentId": "PAY-569881",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "FileType": "STANDARD",
                "FileHash": "STANDARD",
                "FileReference": "STANDARD",
                "NumberOfTransactions": "STANDARD",
                "ControlSum": 100.0,
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "LocalInstrument": "STANDARD",
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD"
                  }
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "6aa31550-361f-53c6-affd-84f5519f3fe0",
              "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "FilePaymentId": "PAY-569881",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "6aa31550-361f-53c6-affd-84f5519f3fe0",
            "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-file-payment"
        },
        "example": "payment-initiation-openapi-submit-file-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}