{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Payments Query API",
    "description": "The International Payments Query API provides a means for users to fetch the details of international payment transactions. This endpoint allows access to specific payment information by utilizing a unique identifier provided as a path parameter. It is designed for financial institutions and payment service providers that require a comprehensive view of cross-border payments. Typical use cases include transaction status inquiries, reconciliation processes, and compliance checks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments/{param1}": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve a specific international payment by ID.",
        "description": "This endpoint allows you to fetch details regarding a specific international payment using its unique ID. It provides all relevant information related to the payment process, status, and associated transaction data.",
        "operationId": "getPispInternationalPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the status of an international payment with the specified payment ID. This includes important parameters necessary to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispInternationalPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispInternationalPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispInternationalPaymentByIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on international payments.",
        "example": "{}"
      },
      "GetPispInternationalPaymentByIdResponse_200": {
        "title": "International Payment Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/InternationalPaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for an international payment operation.",
        "example": {
          "Data": {
            "InternationalPaymentId": "PAY-242089",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0
              }
            }
          },
          "metadata": {
            "responseId": "24d0d508-3741-53ab-bfcf-f928d2296cfa",
            "correlationId": "2e46cccb-2600-51ea-8e66-e675d56ef411",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InternationalPaymentData": {
        "title": "International Payment Data",
        "type": "object",
        "properties": {
          "InternationalPaymentId": {
            "type": "string",
            "description": "The unique identifier for the international payment.",
            "example": "string"
          },
          "ConsentId": {
            "type": "string",
            "description": "The identifier for the consent related to the payment.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time the payment was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the payment.",
            "example": "string"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time the status was last updated.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "A list of reasons associated with the current status of the payment.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected date and time for the execution of the payment.",
            "example": "string"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected date and time for the settlement of the payment.",
            "example": "string"
          },
          "Refund": {
            "$ref": "#/components/schemas/Refund"
          },
          "Charges": {
            "type": "array",
            "description": "A list of charges associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "Initiation": {
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Schema representing the details of an international payment."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Additional information related to the reason.",
            "example": "string"
          }
        },
        "description": "Schema representing a reason for a payment status."
      },
      "Refund": {
        "title": "Refund Information",
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Schema representing the information regarding a refund."
      },
      "Account": {
        "title": "Account Information",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme used for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional account identification information.",
            "example": "string"
          }
        },
        "description": "Schema representing account details for refund purposes."
      },
      "Charge": {
        "title": "Charge Information",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the payment.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing charge details associated with the payment."
      },
      "Amount": {
        "title": "Amount Information",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The unit currency for the exchange rate.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "Type of the exchange rate.",
            "example": "string"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification for the contract related to the exchange rate.",
            "example": "string"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The date and time when the exchange rate expires.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the exchange rate used for the payment."
      },
      "Initiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier that links the payment to a specific end-to-end transaction.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose for the payment.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for this payment initiation.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is made.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code of the payment destination.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Schema representing the initiation details for a payment."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata returned in the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment"
        },
        "example": "payment-initiation-openapi-get-international-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. Clients must provide a valid bearer token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}