{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Tax Advisory Management API",
    "description": "The Corporate Tax Advisory Management API enables businesses to update and manage their corporate tax advisory services efficiently. This endpoint supports the modification of key advisory details for clients, ensuring adherence to evolving tax regulations. Typical consumers include corporate financial teams and tax consultants who utilize this service to streamline advisory updates for better compliance and strategic planning. By enabling real-time updates, the API enhances the responsiveness of tax advisory services to the needs of corporate clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/corporate-tax-advisory/{param1}": {
      "patch": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Update Corporate Tax Advisory Resource",
        "description": "This endpoint allows you to update the details of a specific corporate tax advisory resource identified by RES-100045. Ensure that the data being updated complies with the corporate finance regulations.",
        "operationId": "updateCorporateTaxAdvisoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating corporate tax advisory details for the specified resource. This body allows for the modification of various attributes related to corporate tax strategies and recommendations pertinent to the entity involved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateTaxAdvisoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateTaxAdvisoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateTaxAdvisoryRes100045Request": {
        "title": "Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes to be applied in the operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who is requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure for the PATCH request body in the Operations endpoint, specifically for corporate tax advisory.",
        "example": {
          "changes": {
            "clientId": "STANDARD",
            "engagementId": "STANDARD",
            "transactionType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "02b8941e-7c3c-5242-9f65-7a7fb3a39595",
            "correlationId": "2d0b82b5-4d3f-5464-a29f-7e9c299d5581",
            "idempotencyKey": "e02ef131-fa15-521b-ad2f-5aff4c6724cd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-104213"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "string"
          },
          "engagementId": {
            "type": "string",
            "description": "The identifier for the engagement related to the operations.",
            "example": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction being requested.",
            "example": "string"
          }
        },
        "description": "This schema encapsulates the details of the changes being made in the request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate logs across different systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate processing of the same request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the source system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information about the request context, such as identifiers and systems involved."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used (e.g., API, UI).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used to make the request."
      },
      "UpdateCorporateTaxAdvisoryRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation in Corporate Finance - Corporate Tax Advisory service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "84329609-7b70-508d-b59c-94bc4c29d355",
            "correlationId": "2d0b82b5-4d3f-5464-a29f-7e9c299d5581",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata contains additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This header helps in tracking and managing requests across different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-tax-advisory-update-corporate-tax-advisory"
        },
        "example": "corporate-tax-advisory-update-corporate-tax-advisory"
      },
      "X-Runtime-App": {
        "description": "Name of the runtime application processing the request. This header provides context about which application handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme via a JSON Web Token (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}