{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace It Management By Param1-spec",
    "description": "This API endpoint allows for the management and updating of IT support systems by specifying a unique identifier, denoted as 'param1'. Organizations can utilize this functionality to enhance their IT service management processes, ensuring systematic governance and improved operational efficiency. Typical consumers include IT departments and system administrators who need to adjust or replace existing management systems as part of their service upgrade protocols. This operation supports efficient service desk management for banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk/{param1}": {
      "put": {
        "tags": [
          "IT Management"
        ],
        "summary": "Update Help Desk System resource",
        "description": "This operation updates the details of the Help Desk System resource identified by RES-100045. Ensure all required fields are provided to successfully update the resource.",
        "operationId": "replaceItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the help desk system with the specified resource ID. This includes any modifications or updates necessary for the resource identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceItManagementByParam1Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceItManagementByParam1Request": {
        "title": "Incident Update Request",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "Unique identifier of the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "Identifier of the affected system.",
            "example": "STANDARD"
          },
          "impact": {
            "type": "string",
            "description": "Impact level of the incident.",
            "example": "STANDARD"
          },
          "urgency": {
            "type": "string",
            "description": "Urgency level of the incident.",
            "example": "STANDARD"
          },
          "summary": {
            "type": "string",
            "description": "Brief summary of the incident.",
            "example": "STANDARD"
          },
          "reportedBy": {
            "type": "string",
            "description": "User who reported the incident.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an incident in the help desk systems.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "impact": "STANDARD",
          "urgency": "STANDARD",
          "summary": "STANDARD",
          "reportedBy": "STANDARD",
          "requestContext": {
            "requestId": "dd2493f4-e1d8-586f-a142-6969429a7baa",
            "correlationId": "36f4b15d-66ed-5826-a408-90f80e1eb5e0",
            "idempotencyKey": "2f4d5228-312f-5315-ba2d-ea120e88f067",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-780816"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORR7890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEMP4567"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "HelpDeskPortal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "SupportApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual parameters surrounding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHN123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV456"
          }
        },
        "description": "Schema representing the channel details for a request."
      },
      "ReplaceItManagementByParam1Response_201": {
        "title": "Help Desk Incident Response",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "The unique identifier for the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "The unique identifier for the affected system.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the incident.",
            "example": "RES-543758"
          },
          "status": {
            "type": "string",
            "description": "The current status of the incident.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the incident was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/IncidentMetadata"
          }
        },
        "description": "Schema representing the response for a help desk incident operation.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "resourceId": "RES-543758",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f4b14ff5-ac2d-54da-b66e-f5d4938272aa",
            "correlationId": "36f4b15d-66ed-5826-a408-90f80e1eb5e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IncidentMetadata": {
        "title": "Incident Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for linking requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to the incident."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-create-systems-help-desk"
        },
        "example": "systems-help-desk-create-systems-help-desk"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow under which the operation was performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-086"
        },
        "example": "WF-086"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is currently being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IT Incident Help Desk and Service Restoration"
        },
        "example": "IT Incident Help Desk and Service Restoration"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress through various stages.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution instance, used for tracking and referencing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0a7f144f-bc58-44fa-b495-a54d64131ccc"
        },
        "example": "0a7f144f-bc58-44fa-b495-a54d64131ccc"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This is a Bearer Authentication scheme that utilizes JSON Web Tokens (JWT) for secure access to protected resources. Clients must include a valid JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}