{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Corporate Relation By Param1-spec",
    "description": "The Corporate Relations Retrieval API enables users to access detailed investor relations data for corporate entities based on a specified parameter. This API is essential for analysts, investors, and business developers who require precise corporate information to make informed decisions. By utilizing this endpoint, consumers can effectively retrieve valuable insights regarding corporate relationships and their impact on investment strategies. It supports various use cases such as financial analysis, market research, and corporate governance assessments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/investor-relations/{param1}": {
      "get": {
        "tags": [
          "Investor Relations"
        ],
        "summary": "Retrieve Investor Relations Resource by ID",
        "description": "Fetch detailed information about the investor relations resource identified by RES-100045. This endpoint provides access to key insights and data relevant for current and potential investors, enhancing decision-making processes.",
        "operationId": "getCorporateRelationByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body must be supplied with the necessary parameters to retrieve the investor relations data for the specified resource. Ensure that your JSON structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateRelationByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the desired data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateRelationByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateRelationByParam1Request": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation in the investor relations context.",
        "example": "{}"
      },
      "GetCorporateRelationByParam1Response_200": {
        "title": "Investor Relations Response",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "The unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the engagement.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "The scheduled date and time for the engagement.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "The unique identifier for the owner of the relationship.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the engagement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Investor Relations operation.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6e66bee4-3825-520a-97ba-3585a5fa76a8",
            "correlationId": "d3cdba7f-b67d-5d49-803e-6271004c2bbb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "correlation-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "2023-10-01T15:25:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-EAST"
          }
        },
        "description": "Schema for additional metadata accompanying the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investor-relations-get-investor-relations"
        },
        "example": "investor-relations-get-investor-relations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the `Authorization` header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}