{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Internal Bank Account API",
    "description": "The Update Internal Bank Account API enables authorized users to modify existing internal bank account details within the operational services framework. This operation is essential for financial institutions and companies managing various banking accounts, allowing updates to attributes such as account status, limits, and properties. Developers integrating this API will typically include functionalities for account management in their applications, ensuring up-to-date account information aligns with business needs. This API streamlines the process of account modification, contributing to more efficient operational workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account/{param1}": {
      "patch": {
        "tags": [
          "Internal Bank Account Management"
        ],
        "summary": "Update Internal Bank Account",
        "description": "This operation allows users to update the details of an existing internal bank account identified by ACC-200045. Ensure all necessary fields are included in the request to successfully apply the changes.",
        "operationId": "updateInternalBankAccount_ACC200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body represents the data required to update the internal bank account identified by the provided account number. The fields within the request body should reflect the modifications needed for the specified account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInternalBankAccount_ACC200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInternalBankAccount_ACC200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateInternalBankAccount_ACC200045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes requested for the bank account.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for PATCH operation on an internal bank account.",
        "example": {
          "changes": {
            "operationId": "STANDARD",
            "customerId": "CUST-910002",
            "accountId": "ACC-506558"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2ac97acc-9f12-51e1-8147-bfa4e446def1",
            "correlationId": "0dfc4e53-f541-53f0-8900-372683f52474",
            "idempotencyKey": "c03da3e4-0ede-5542-b519-c673c5176924",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-571519"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Identifier for the operation being performed.",
            "example": "op-12345"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the bank account.",
            "example": "cust-67890"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the bank account being modified.",
            "example": "acc-001"
          }
        },
        "description": "Details of the changes to be made to the bank account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abcdef"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests in a flow.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T11:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "App X"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context about the request including identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Details of the channel used for the request."
      },
      "UpdateInternalBankAccount_ACC200045Response_200": {
        "title": "Internal Bank Account Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the internal bank account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on an internal bank account.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8ae4d2d9-2337-530d-8a2c-818d8622c4fc",
            "correlationId": "0dfc4e53-f541-53f0-8900-372683f52474",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was handled.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-update-internal-bank-account"
        },
        "example": "internal-bank-account-update-internal-bank-account"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer token authentication method. It requires the client to send a JSON Web Token (JWT) in the Authorization header of the request for authentication and authorization purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}