{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Account Payment Success Indicator-spec",
    "description": "This API allows businesses to create and manage payment success indicators for customer accounts. By utilizing this endpoint, organizations can effectively track and record the success status of payments made by customers, which is crucial for maintaining accurate financial records and improving customer trust. Typical consumers include financial institutions and e-commerce platforms that need to enhance their payment analytics. This functionality aids in identifying trends and ensuring timely notifications related to payment processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/payment-success-indicators": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "Submit payment success indicators for a specific account.",
        "description": "This endpoint allows you to submit payment success indicators for the account identified by ACC-200045 under customer CUST-100045. Use this operation to track and record the success status of payments made to this account.",
        "operationId": "createAccountPaymentSuccessIndicator",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit payment success indicators for a specified customer account. It should contain the relevant data regarding the payment status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountPaymentSuccessIndicatorRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountPaymentSuccessIndicatorResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountPaymentSuccessIndicatorRequest": {
        "type": "object",
        "properties": {
          "transaction": {
            "description": "Details of the transaction including the settlement date and amount.",
            "$ref": "#/components/schemas/Transaction"
          },
          "user": {
            "description": "Information about the user making the request.",
            "$ref": "#/components/schemas/User"
          },
          "requestContext": {
            "description": "Contextual information about the request such as ids and source system.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the payment success indicators operation.",
        "example": {
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "user": {
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "address": {
              "streetLine1": "STANDARD",
              "streetLine2": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            },
            "phone": {
              "countryHint": "STANDARD",
              "number": "STANDARD"
            }
          },
          "requestContext": {
            "requestId": "20d7af14-c38c-5235-a75b-987ea32ad95e",
            "correlationId": "4602ce7c-39b3-5f56-981f-93b8ffaa809c",
            "idempotencyKey": "58a3b882-2e8a-563f-8c0d-bca0506c8e76",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-644172"
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "The date by which the transaction should be settled.",
            "example": "2023-10-10"
          },
          "amount": {
            "type": "number",
            "description": "The amount for the transaction.",
            "example": 100.0
          }
        },
        "description": "Details of the transaction to process."
      },
      "User": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the user.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The email address of the user.",
            "example": "john.doe@example.com"
          },
          "address": {
            "description": "The user's address.",
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "description": "The user's phone number.",
            "$ref": "#/components/schemas/Phone"
          }
        },
        "description": "Details of the user making the transaction."
      },
      "Address": {
        "type": "object",
        "properties": {
          "streetLine1": {
            "type": "string",
            "description": "First line of the street address.",
            "example": "123 Main St"
          },
          "streetLine2": {
            "type": "string",
            "description": "Second line of the street address (if any).",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City of the user's address.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State of the user's address.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the user's address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country of the user's address.",
            "example": "USA"
          }
        },
        "description": "Address details of the user."
      },
      "Phone": {
        "type": "object",
        "properties": {
          "countryHint": {
            "type": "string",
            "description": "Country hint for the phone number.",
            "example": "US"
          },
          "number": {
            "type": "string",
            "description": "The user's phone number.",
            "example": "+12125551234"
          }
        },
        "description": "Phone details of the user."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the operation.",
            "example": "idemp-key-111"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-xyz"
          }
        },
        "description": "Details of the channel used for the request."
      },
      "CreateAccountPaymentSuccessIndicatorResponse_202": {
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "description": "Unique identifier for the payment request.",
            "example": "80f934fe-8e9e-51a0-b428-7b2562a1f1ea"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "CUST-862177"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier of the account associated with the payment.",
            "example": "ACC-113763"
          },
          "requestDate": {
            "type": "string",
            "description": "Date and time when the payment request was made.",
            "example": "2026-09-15"
          },
          "transaction": {
            "description": "Details about the transaction.",
            "$ref": "#/components/schemas/TransactionDetails"
          },
          "nsfReturnRisk": {
            "description": "Risk assessment for NSF (Non-Sufficient Funds) returns.",
            "$ref": "#/components/schemas/NsfReturnRisk"
          },
          "unauthorizedReturnRisk": {
            "description": "Risk assessment for unauthorized returns.",
            "$ref": "#/components/schemas/UnauthorizedReturnRisk"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful payment indicators.",
        "example": {
          "payRequestId": "80f934fe-8e9e-51a0-b428-7b2562a1f1ea",
          "status": "ACTIVE",
          "customerId": "CUST-862177",
          "accountId": "ACC-113763",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-276497",
              "externalTransactionId": "TXN-178448",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "35c5d88d-eb83-5876-9158-d0ae9c6762ca",
            "correlationId": "4602ce7c-39b3-5f56-981f-93b8ffaa809c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionDetails": {
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "The date by which the transaction will be settled.",
            "example": "2023-10-02"
          },
          "amount": {
            "type": "number",
            "description": "Amount of money involved in the transaction.",
            "example": 100.5
          }
        },
        "description": "Schema representing transaction details."
      },
      "NsfReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "availableBalance": {
                "type": "number",
                "description": "Available balance in the account.",
                "example": 200.0
              },
              "dailyResults": {
                "type": "array",
                "description": "Daily results of risk assessments.",
                "items": {
                  "type": "object",
                  "properties": {
                    "potentialSettlementDate": {
                      "type": "string",
                      "description": "Potential date when settlement occurs.",
                      "example": "2023-10-02"
                    },
                    "score": {
                      "type": "integer",
                      "description": "Risk score indicating the likelihood of an NSF.",
                      "format": "int32",
                      "example": 75
                    },
                    "indicator": {
                      "type": "string",
                      "description": "Risk indicator based on the assessment.",
                      "example": "safe"
                    },
                    "reasons": {
                      "type": "object",
                      "properties": {
                        "recentBalance": {
                          "type": "integer",
                          "description": "The recent balance observed.",
                          "format": "int32",
                          "example": 300
                        },
                        "balanceHistory": {
                          "type": "integer",
                          "description": "Historical balance figures.",
                          "format": "int32",
                          "example": 250
                        },
                        "nsfHistory": {
                          "type": "integer",
                          "description": "Number of past NSF incidents.",
                          "format": "int32",
                          "example": 0
                        },
                        "recentNsfHistory": {
                          "type": "integer",
                          "description": "Most recent NSF incidents.",
                          "format": "int32",
                          "example": 0
                        },
                        "recurringNsf": {
                          "type": "integer",
                          "description": "Number of recurring NSF incidents.",
                          "format": "int32",
                          "example": 0
                        },
                        "spendHistory": {
                          "type": "integer",
                          "description": "Historical spending figures.",
                          "format": "int32",
                          "example": 100
                        },
                        "depositHistory": {
                          "type": "integer",
                          "description": "Historical deposit figures.",
                          "format": "int32",
                          "example": 150
                        }
                      },
                      "description": "Reasons for the assigned risk score."
                    }
                  }
                }
              }
            }
          },
          "error": {
            "description": "Error details related to the NSF return risk assessment.",
            "$ref": "#/components/schemas/ErrorDetails"
          }
        },
        "description": "Schema representing NSF return risk assessment results."
      },
      "UnauthorizedReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer",
                "description": "Risk score indicating the likelihood of unauthorized returns.",
                "format": "int32",
                "example": 10
              },
              "indicator": {
                "type": "string",
                "description": "Risk indicator based on the assessment.",
                "example": "low"
              }
            }
          },
          "error": {
            "description": "Error details related to the unauthorized return risk assessment.",
            "$ref": "#/components/schemas/ErrorDetails"
          }
        },
        "description": "Schema representing unauthorized return risk assessment results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "exampleResponseId"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across systems.",
            "example": "exampleCorrelationId"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-10-01T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "North America"
          }
        },
        "description": "Metadata information related to API responses."
      },
      "ErrorDetails": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "HTTP status of the error response.",
            "example": "error"
          },
          "title": {
            "type": "string",
            "description": "Short title providing a summary of the error.",
            "example": "Error occurred"
          },
          "level": {
            "type": "string",
            "description": "Severity level of the error.",
            "example": "critical"
          },
          "message": {
            "type": "string",
            "description": "Detailed message explaining the error.",
            "example": "A critical error has occurred."
          },
          "user_message": {
            "type": "string",
            "description": "User-friendly message displayed to the user.",
            "example": "Please contact support."
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset related to the error.",
            "example": "exampleAssetId"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the error.",
            "example": "exampleAccountId"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "Identifier for the external transaction related to the error.",
            "example": "exampleExternalId"
          },
          "tags": {
            "type": "string",
            "description": "Tags associated with the error for categorization.",
            "example": "error,transaction"
          }
        },
        "description": "Schema representing error details for various operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "accountId": {
        "name": "accountId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called. This value helps in tracking specific API requests for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-payment-success-indicators"
        },
        "example": "open-finance-api-generate-payment-success-indicators"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the API request. This information can assist in identifying which application is responsible for the interactions with the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JWT (JSON Web Token) to be included in the Authorization header of the request. Ensure that your token is correctly formatted and has the necessary permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}