{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Cross Channel Session Dialogues-spec",
    "description": "The Cross Channel Session Dialogue Retrieval API enables businesses to access and analyze session dialogues across multiple communication channels. This API allows users to retrieve detailed information about customer interactions in a cross-channel context, providing insights into customer behavior and preferences. Typical consumers include customer support teams and business analysts who utilize these dialogues to enhance customer engagement and refine service strategies. By leveraging this API, organizations can improve decision-making and optimize their multi-channel communication approaches.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/session-dialogue": {
      "get": {
        "tags": [
          "Cross-Channel Interaction"
        ],
        "summary": "Retrieve session dialogue for cross-channel interactions.",
        "description": "This endpoint allows developers to fetch session dialogues associated with cross-channel communications. It can be used to analyze user interactions and improve user experiences across different messaging platforms.",
        "operationId": "listCrossChannelSessionDialogues",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to initiate a session dialogue via the cross-channel API. This body should contain all necessary parameters to establish and manage the session effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCrossChannelSessionDialoguesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the session dialogue.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCrossChannelSessionDialoguesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCrossChannelSessionDialoguesRequest": {
        "type": "string",
        "description": "This schema represents the content of a request body when making a GET operation related to session dialogue in a cross-channel context.",
        "example": "{}"
      },
      "ListCrossChannelSessionDialoguesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of session dialogue items.",
            "example": [
              {
                "partyId": "PARTY-539791",
                "interactionId": "INT-980752",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SessionDialogueItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of session dialogues across channels.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-539791",
              "interactionId": "INT-980752",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "92011db9-6f44-52a5-a1ff-fe3004be9e80",
            "correlationId": "b1f17bcf-1b64-5476-810b-414c107541cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SessionDialogueItem": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the dialogue."
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication for the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the item was last updated."
          }
        },
        "description": "Schema representing a single session dialogue item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema for pagination details in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema for metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for logging and tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-search-session-dialogue"
        },
        "example": "session-dialogue-search-session-dialogue"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service handling the request, useful for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be provided in the Authorization header as a 'Bearer {token}' format. The expected format for the token is JWT (JSON Web Token), which allows for secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}