{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payment Consents API",
    "description": "The Domestic Scheduled Payment Consents API enables the initiation of scheduled payment requests for domestic transactions within the banking system. This API allows consumers, such as financial institutions and payment service providers, to obtain user consent for executing scheduled payments, ensuring compliance with regulatory requirements. Typical use cases include setting up recurring bill payments or transferring funds at future dates. By utilizing this API, organizations can offer customers a seamless and efficient way to manage their payment schedules.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payment-consents": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Create a new domestic scheduled payment consent.",
        "description": "This operation allows you to create a consent for initiating a domestic scheduled payment. Ensure that all required fields are properly filled out to process the payment consent successfully.",
        "operationId": "createDomesticScheduledPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a consent for a domestic scheduled payment. It includes essential information required for processing the payment consent, ensuring that all parameters are specified correctly to facilitate the requested action.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticScheduledPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Consent for domestic scheduled payment created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticScheduledPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticScheduledPaymentConsentRequest": {
        "title": "Domestic Scheduled Payment Consent Request",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating a domestic scheduled payment consent.",
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "43e16f1e-c601-51ed-84a5-cf54344edb11",
            "correlationId": "f66293c8-33ce-5668-9fb4-272d7cc26bf8",
            "idempotencyKey": "d00d2d44-f62e-557c-84c1-1b8de973406b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-288740"
            }
          }
        }
      },
      "PaymentConsentData": {
        "title": "Payment Consent Data",
        "type": "object",
        "properties": {
          "Permission": {
            "type": "string",
            "description": "The permission granted for the transaction.",
            "example": "string"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates if the refund account details can be read.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Contains the details related to the payment consent request."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Instruction identification for the payment.",
            "example": "INSTRUCTION-1234"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification for tracking the payment end-to-end.",
            "example": "E2E-1234"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument type used for the payment.",
            "example": "SEPA"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for executing the payment.",
            "example": "2023-01-05T00:00:00Z"
          },
          "InstructedAmount": {
            "description": "Amount that is instructed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "description": "Details about the debtor's account.",
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAccount": {
            "description": "Details about the creditor's account.",
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Object representing the details for initiating a payment."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The value of the instructed amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency code for the instructed amount.",
            "example": "string"
          }
        },
        "description": "Details of the amount the payer wants to instruct."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme under which the account is registered.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "An optional secondary identifier for the account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyDetails"
          }
        },
        "description": "Details about an account, either debtor or creditor."
      },
      "ProxyDetails": {
        "title": "Proxy Details",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The unique identifier of the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "The code associated with the proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of proxy used.",
            "example": "string"
          }
        },
        "description": "Contains proxy information related to the account."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the application that made the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Contextual information about the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request is made."
      },
      "CreateDomesticScheduledPaymentConsentResponse_201": {
        "title": "Domestic Scheduled Payment Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "12345"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp indicating when the consent was created.",
                "example": "2023-01-01T00:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp indicating when the status was last updated.",
                "example": "2023-01-02T00:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons related to the status of the consent.",
                "example": [
                  {
                    "code": "1001",
                    "description": "Consent is active.",
                    "Path": "/consents/12345"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Permission": {
                "type": "string",
                "description": "Permissions granted with the consent.",
                "example": "ALL"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates if the refund account can be read.",
                "example": "YES"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Deadline for executing the payment on a specific date.",
                "example": "2023-01-03T00:00:00Z"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for executing the payment.",
                "example": "2023-01-05T00:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for settling the payment.",
                "example": "2023-01-06T00:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "example": [
                  {
                    "ChargeBearer": "SHARED",
                    "Type": "FIXED",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/PaymentInitiation"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains the details of the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for the creation and retrieval of domestic scheduled payment consent.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "metadata": {
            "responseId": "ce472cfa-9fd9-5231-9055-b4e4c218cc6e",
            "correlationId": "f66293c8-33ce-5668-9fb4-272d7cc26bf8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason."
          },
          "description": {
            "type": "string",
            "description": "Textual description for the reason."
          },
          "Path": {
            "type": "string",
            "description": "Path for more details about the reason."
          }
        },
        "description": "Object representing the reason for the status of the consent."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for the charge (e.g., 'SHARED')."
          },
          "Type": {
            "type": "string",
            "description": "Type of charge (e.g., 'FIXED', 'PERCENTAGE')."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount for the charge.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the charge amount.",
                "example": "USD"
              }
            },
            "description": "Amount details of the charge."
          }
        },
        "description": "Object representing a charge associated with the payment consent."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Numeric amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the amount is represented.",
            "example": "USD"
          }
        },
        "description": "Amount object specifying an amount and its currency."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name identifying the account."
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the account."
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the account if available."
          },
          "Proxy": {
            "type": "object",
            "properties": {
              "Identification": {
                "type": "string",
                "description": "Proxy identifier."
              },
              "Code": {
                "type": "string",
                "description": "Proxy code."
              },
              "Type": {
                "type": "string",
                "description": "Type of proxy used."
              }
            },
            "description": "Proxy details for the account."
          }
        },
        "description": "Object representing a financial account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across systems.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "EU"
          }
        },
        "description": "Metadata object containing additional information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint which processes the domestic scheduled payment consent request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-scheduled-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-scheduled-consent"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that executed the transaction, providing context for the processing environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token authentication method, which involves providing a JSON Web Token (JWT) in the Authorization header of requests. The token is expected to be a valid cryptographic representation that grants access to the secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}