{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Deposit Switches-spec",
    "description": "The Customer Deposit Switches Retrieval API allows users to fetch the deposit switch settings for a specific customer. This operation is crucial for understanding and managing a customer's deposit preferences within the system. Typical consumers include banking applications and financial service providers that need to access customer-specific configurations for deposits. By using this API, developers can seamlessly integrate functionality that respects customer choices and enhances overall service efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/deposit-switches": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve deposit switches for a specific customer.",
        "description": "This endpoint allows you to fetch all deposit switches associated with the customer identified by CUST-100045. It provides essential details to help understand the customer's deposit switch configuration and status.",
        "operationId": "listCustomerDepositSwitches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the deposit switches for the specified customer. It describes the essential parameters that need to be included to successfully fetch the corresponding data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerDepositSwitchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the deposit switches for the specified customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerDepositSwitchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerDepositSwitchesRequest": {
        "type": "string",
        "description": "A string representation of the JSON request body for deposit switches operations.",
        "example": "{}"
      },
      "ListCustomerDepositSwitchesResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-597910"
          },
          "customerType": {
            "type": "string",
            "description": "The type of the customer, indicating the category they belong to.",
            "example": "STANDARD"
          },
          "switches": {
            "type": "array",
            "description": "A list of deposit switches associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "status": "ACTIVE",
                "failureReason": "STANDARD",
                "createdDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Switch"
            }
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for retrieving deposit switches for a specific customer.",
        "example": {
          "customerId": "CUST-597910",
          "customerType": "STANDARD",
          "switches": [
            {
              "id": "STANDARD",
              "status": "ACTIVE",
              "failureReason": "STANDARD",
              "createdDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "3c249180-de12-5ca9-8cf6-ab6a2f729c14",
            "correlationId": "7bf0dc98-72b7-5e84-b60e-5512143d6263",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Switch": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the switch.",
            "example": "SWITCH-001"
          },
          "status": {
            "type": "string",
            "description": "The current status of the switch (e.g., ON, OFF).",
            "example": "ON"
          },
          "failureReason": {
            "type": "string",
            "description": "The reason for any failure associated with the switch, if applicable.",
            "example": "Power Outage"
          },
          "createdDate": {
            "type": "string",
            "description": "The date on which the switch was created.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Represents a deposit switch associated with the customer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking the request.",
            "example": "correlation-7891011"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T14:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-deposit-switches"
        },
        "example": "open-finance-api-get-all-deposit-switches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The bearer token is a JSON Web Token (JWT) that allows for secure API access without requiring repeated authentication credentials.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}