{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Consumer Service Consumer Investment-spec",
    "description": "The Consumer Investment Management API allows businesses to facilitate and manage consumer investment services efficiently. Through this API, users can initiate new investment accounts, submit investment plans, and tailor financial products to meet the specific needs of consumers. It is primarily designed for financial institutions, investment platforms, and service providers looking to enhance their consumer investment offerings. Typical use cases include onboarding new consumers, managing investment portfolios, and integrating financial services into various applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/consumer-investments": {
      "post": {
        "tags": [
          "Investment"
        ],
        "summary": "Create a new consumer investment.",
        "description": "This endpoint allows users to create a new investment under their consumer services. It facilitates the submission of investment details and ensures the proper processing of the request, returning relevant investment information upon successful creation.",
        "operationId": "createConsumerServiceConsumerInvestment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create new consumer investment records. The payload must include the necessary investment details such as amount, type, and consumer information in the specified JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConsumerServiceConsumerInvestmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New investment resource created successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConsumerServiceConsumerInvestmentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConsumerServiceConsumerInvestmentRequest": {
        "title": "Consumer Investment Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-848150"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "4b37ef6f-8912-502a-80b6-43b1c6af3a80"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product for investment.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "An object representing the investment amount and its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the service request is made.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to create a consumer investment operation.",
        "example": {
          "customerId": "CUST-848150",
          "serviceRequestId": "4b37ef6f-8912-502a-80b6-43b1c6af3a80",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "8434a178-bcce-51ec-8736-a3397efdb832",
            "correlationId": "dd16a8d8-ede2-5595-9375-f093eb51241b",
            "idempotencyKey": "02a59989-7102-553f-bb30-fbd3c5a39704",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-489797"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracing requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is sending the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema encapsulating details about the request context."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateConsumerServiceConsumerInvestmentResponse_201": {
        "title": "Consumer Investment Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-603422"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "6c211a9f-f007-58fd-b032-aa59a267c981"
          },
          "productCode": {
            "type": "string",
            "description": "The code associated with the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to the operation.",
            "example": "RES-123867"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "An object containing additional metadata about the operation.",
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "This schema represents the response for consumer investment operations.",
        "example": {
          "customerId": "CUST-603422",
          "serviceRequestId": "6c211a9f-f007-58fd-b032-aa59a267c981",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-123867",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d418a553-0e3b-55c8-9056-f7b26292ee2e",
            "correlationId": "dd16a8d8-ede2-5595-9375-f093eb51241b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "corr-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "This schema contains metadata information about the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-investments-create-consumer-investments"
        },
        "example": "consumer-investments-create-consumer-investments"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer authentication scheme that uses JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}