{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Notional Pooling Management API",
    "description": "The Notional Pooling Management API facilitates the consolidation of account balances across various accounts for effective cash management. This endpoint allows users to initiate the creation of a notional pooling arrangement, which is essential for optimizing liquidity and reducing borrowing costs. Ideal for corporate treasury departments, this API enables organizations to manage their cash flow more efficiently, providing real-time insights and enhancing financial control. Developers can leverage this API to integrate notional pooling functionalities into their financial systems seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling": {
      "post": {
        "tags": [
          "Notional Pooling"
        ],
        "summary": "Create a new notional pooling trade.",
        "description": "This endpoint allows users to create a new notional pooling trade within the trade banking system. Please ensure that all required fields are filled out correctly in the request body to successfully execute the operation.",
        "operationId": "createNotionalPoolingTrade",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a notional pooling operation in the trade banking system. It contains the necessary parameters and data required to successfully execute the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNotionalPoolingTradeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNotionalPoolingTradeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateNotionalPoolingTradeRequest": {
        "title": "Notional Pooling Request Body",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the notional pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account in the notional pooling setup.",
            "example": "ACC-442854"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "A list of identifiers for participant accounts included in the notional pooling.",
            "example": [
              "ACC-278253"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for each participant account.",
              "example": "PA123"
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the notional pool operations.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency at which cash sweeps are executed.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance to be maintained in the notional pool.",
            "example": 100.0
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "REQ123"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate between multiple related requests.",
                "example": "CORR456"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used for ensuring idempotency of the request.",
                "example": "IDEMP789"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2021-10-10T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "AccountingSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application that sent the request.",
                "example": "MobileApp"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Unique identifier for the communication channel.",
                    "example": "CH123"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of the channel (e.g., API, Mobile, Web).",
                    "example": "API"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier for the device used to send the request.",
                    "example": "DEV456"
                  }
                },
                "description": "Information about the channel through which the request was made.",
                "example": {
                  "channelId": "CH123",
                  "channelType": "API",
                  "deviceId": "DEV456"
                }
              }
            },
            "description": "Contextual information regarding the request.",
            "example": {
              "requestId": "a4bb88cb-95f6-562b-8e51-fe45fcb016af",
              "correlationId": "35392bc7-be62-5d66-85f8-36e56609b72f",
              "idempotencyKey": "1c7696e4-fca4-52a2-b567-8becee843d8f",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-456326"
              }
            }
          }
        },
        "description": "Schema representing the request body for creating a notional pooling operation.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-442854",
          "participantAccountIds": [
            "ACC-278253"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "requestContext": {
            "requestId": "a4bb88cb-95f6-562b-8e51-fe45fcb016af",
            "correlationId": "35392bc7-be62-5d66-85f8-36e56609b72f",
            "idempotencyKey": "1c7696e4-fca4-52a2-b567-8becee843d8f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-456326"
            }
          }
        }
      },
      "CreateNotionalPoolingTradeResponse_201": {
        "title": "Notional Pooling Response",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Unique identifier for the pooling operation.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the account that serves as the header in the pooling setup.",
            "example": "ACC-530114"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the pooling operation.",
            "example": "RES-219791"
          },
          "status": {
            "type": "string",
            "description": "Current status of the notional pooling operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the pooling operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the notional pooling operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a notional pooling operation.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-530114",
          "resourceId": "RES-219791",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "62561d2e-857f-5ea7-869e-2b4f622f8516",
            "correlationId": "35392bc7-be62-5d66-85f8-36e56609b72f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the operation.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the operation took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata for a notional pooling operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-create-notional-pooling"
        },
        "example": "notional-pooling-create-notional-pooling"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication with a JSON Web Token (JWT) format. JWT is a compact, URL-safe means of representing claims to be transferred between two parties. The generated token contains claims that can be verified, ensuring the authenticity and integrity of the data.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}