{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Interactive Help API",
    "description": "The Interactive Help API enables consumers to update and enhance customer assistance features across multiple banking channels. By allowing real-time modifications to support content and user guidance, this API assists financial institutions in maintaining updated help resources. Typical users include customer support teams and application developers who require seamless integration of interactive help features. This API ensures that users receive accurate, context-aware assistance to improve their banking experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/interactive-help/{param1}": {
      "patch": {
        "tags": [
          "Interactive Help"
        ],
        "summary": "Update interactive help resource",
        "description": "This endpoint allows you to update the details of a specific interactive help resource identified by its RES-100045 ID. Ensure that you provide the necessary changes in the request body to successfully modify the resource.",
        "operationId": "patchInteractiveHelpResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the interactive help content for the specified resource. It contains all the necessary details needed to apply the changes. Ensure that the JSON structure adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchInteractiveHelpResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request successfully completed, resources updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchInteractiveHelpResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchInteractiveHelpResource100045Request": {
        "title": "Operations PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the specific changes to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the change should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for the PATCH operation in the cross-channel interactive help API. This object contains details about the changes requested.",
        "example": {
          "changes": {
            "partyId": "PARTY-568425",
            "interactionId": "INT-241869",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f94702a6-7b7d-5d43-8b59-72f73f929b6d",
            "correlationId": "fdf0139b-3cb7-5dfd-afaf-6d5261ceeccb",
            "idempotencyKey": "ced8f496-3af9-5378-9f91-7f7d59044d0e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-411085"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The ID of the party involved in the interaction.",
            "example": "string"
          },
          "interactionId": {
            "type": "string",
            "description": "The ID of the interaction being modified.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "An object specifying the changes to be made in the PATCH request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., email, phone, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used in the interaction.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel used in the interaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiates the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the context in which the request was made."
      },
      "PatchInteractiveHelpResource100045Response_200": {
        "title": "Patch Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a PATCH operation, providing details about the operation's outcome.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4b11d02d-e41c-5153-8d9a-3243d70af469",
            "correlationId": "fdf0139b-3cb7-5dfd-afaf-6d5261ceeccb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates related requests.",
            "example": "abc-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the PATCH operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, which helps in tracking and tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interactive-help-update-interactive-help"
        },
        "example": "interactive-help-update-interactive-help"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Token) for authentication. Clients must include a valid bearer token in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}