{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Order Management API",
    "description": "The Servicing Order Management API enables businesses to initiate and manage servicing orders efficiently. Through this API, users can streamline order creation for various banking services, enhancing operational workflow. Typical consumers include customer service representatives and backend systems handling servicing requests. This API supports seamless interactions by allowing the submission of servicing orders, ensuring timely processing and improved customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-order": {
      "post": {
        "tags": [
          "Servicing"
        ],
        "summary": "Create a new servicing order",
        "description": "This endpoint allows you to create a new servicing order in the system. It requires the necessary details to be provided in the request body and will return the created order information upon success.",
        "operationId": "createServicingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new servicing order. It contains all necessary details required for processing the order, ensuring that all data adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingOrderResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingOrderRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The identifier of the customer making the request.",
            "example": "CUST-373273"
          },
          "caseId": {
            "type": "string",
            "description": "The identifier of the case related to the request.",
            "example": "CASE-269670"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request being made.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Information about the context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the servicing order creation operation.",
        "example": {
          "customerId": "CUST-373273",
          "caseId": "CASE-269670",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "ac15f009-4b2a-5e82-84e7-72578c55efa2",
            "correlationId": "52e6744b-065b-54eb-9dea-2c529f67b5f6",
            "idempotencyKey": "9fd5f254-d95b-5305-a929-5c3fb16cf1ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-649698"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "correlation-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "idempotency-202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that produced the request.",
            "example": "customer-portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-303"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "device-404"
          }
        },
        "description": "Schema representing channel information for the request."
      },
      "CreateServicingOrderResponse_202": {
        "title": "Servicing Order Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the servicing order.",
            "example": "CUST-702233"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case related to the servicing order.",
            "example": "CASE-582842"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference number for tracking the processing of the servicing order.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the servicing order, e.g., 'Accepted', 'In Progress', 'Completed'.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the servicing order was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the servicing order response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response returned after successfully processing a servicing order.",
        "example": {
          "customerId": "CUST-702233",
          "caseId": "CASE-582842",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "4ec771d1-c731-51be-a92b-6b9217d0327d",
            "correlationId": "52e6744b-065b-54eb-9dea-2c529f67b5f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Servicing Order Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response issued.",
            "example": "RES-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates this response with the request that initiated it.",
            "example": "CORR-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the servicing order was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains additional information for the servicing order response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-order-process-servicing-order"
        },
        "example": "servicing-order-process-servicing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}