{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Margins API",
    "description": "The Credit Margins API provides financial institutions with access to real-time credit margin data. This allows users to retrieve critical information related to the margins applied to various credit models, enabling better financial decision-making and risk management. Typical consumers include banking analysts, risk managers, and financial advisors looking to evaluate credit policies and offers. With this API, businesses can enhance their credit assessment processes and improve transparency in financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-margins": {
      "get": {
        "tags": [
          "Credit Management"
        ],
        "summary": "Retrieve credit margins data.",
        "description": "This endpoint allows users to access credit margins information. It is essential for understanding financial performance and risk management.",
        "operationId": "getCreditMargins",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for the GET operation on credit margins. It contains the necessary parameters and configuration options to retrieve the credit margins effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditMarginsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success. Returns the current credit margins.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditMarginsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditMarginsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation regarding credit margins.",
        "example": "{}"
      },
      "GetCreditMarginsResponse_200": {
        "title": "Credit Margins Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of credit margin models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-128800",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditMarginModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the credit margin models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Get Credit Margins operation, containing a list of items, pagination information, sorting options, and metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-128800",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c8fac009-94ec-56b6-befc-3f5ef78f30cc",
            "correlationId": "304f158f-cd7e-559e-ae67-2324c33b280a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditMarginModel": {
        "title": "Credit Margin Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier of the credit margin model."
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the credit margin model."
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the model."
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the credit margin is applicable."
          },
          "scenario": {
            "type": "string",
            "description": "The scenario related to the credit margin analysis."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level of the credit margin estimate."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating its current state."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated."
          }
        },
        "description": "Represents an individual credit margin model with associated attributes."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Describes pagination details for the response, including current page, page size, and total items available."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace the request through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place."
          }
        },
        "description": "Contains metadata related to the response, such as request identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-and-margin-management-search-credit-and-margin-management"
        },
        "example": "credit-and-margin-management-search-credit-and-margin-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided to access secured endpoints. The token is expected to be included in the Authorization header of the request as 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}