{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Finance Financial Statements-spec",
    "description": "The Financial Statements Retrieval API allows users to access comprehensive financial statements associated with their banking data. With this API, developers can obtain detailed reports on various financial conditions, enabling informed decision-making. Typical consumers include financial analysts, accounting software developers, and banking institutions seeking to provide insights into client finances. The API supports multiple request parameters to filter and customize the financial data returned, ensuring relevant and actionable information is readily available.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-statements": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Retrieve financial statements data.",
        "description": "This endpoint allows you to fetch the financial statements, which provide a comprehensive overview of the financial performance and position of the entity. Use this endpoint to obtain essential accounting documents such as income statements, balance sheets, and cash flow statements.",
        "operationId": "listFinanceFinancialStatements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial statements. Ensure that the JSON payload adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFinanceFinancialStatementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved financial statements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFinanceFinancialStatementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFinanceFinancialStatementsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected in a GET operation for financial statements. It should contain the necessary information formatted as a string.",
        "example": "{}"
      },
      "ListFinanceFinancialStatementsResponse_200": {
        "title": "Financial Statements Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of financial statement items.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialStatementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the financial statements.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for retrieving financial statements data, including details of individual items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "46922fb3-a80b-5a34-986c-5cf9dc6078b9",
            "correlationId": "f6cfa93d-e722-57e6-9bf7-32c2706fdbd5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialStatementItem": {
        "title": "Financial Statement Item",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity.",
            "example": "entity-123"
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier for the ledger.",
            "example": "ledger-456"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period this statement refers to.",
            "example": "2023-Q1"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date when the transaction was posted.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the record.",
            "example": "2023-01-02T12:00:00Z"
          }
        },
        "description": "This schema represents an individual financial statement item, detailing various financial attributes."
      },
      "Amount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the monetary amount.",
            "example": 1500.75
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the monetary amount (ISO 4217).",
            "example": "USD"
          }
        },
        "description": "This schema represents an amount of money, including its value and currency."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "This schema provides information about the pagination of the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing requests in distributed systems.",
            "example": "correlation-101"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statements-search-financial-statements"
        },
        "example": "financial-statements-search-financial-statements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer Authentication using JSON Web Tokens (JWT). Clients must include a valid bearer token in the Authorization header to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}