{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fiduciary Agreement API",
    "description": "The Fiduciary Agreement API provides access to the terms and conditions related to fiduciary agreements in the banking sector. This service allows stakeholders to retrieve detailed information about existing agreements, ensuring transparency and compliance with financial regulations. Financial institutions, legal teams, and compliance officers typically use this endpoint to understand and verify agreement specifics. With this API, users can efficiently manage their fiduciary obligations and enhance their operational workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve Fiduciary Agreement details.",
        "description": "This endpoint allows you to fetch the details of the Fiduciary Agreement associated with deposit lending. It provides all relevant information required to understand the terms and conditions outlined in the agreement.",
        "operationId": "getFiduciaryAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding fiduciary agreements in the deposit lending context. It should contain relevant parameters necessary to specify the required details of the fiduciary agreement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFiduciaryAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the fiduciary agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFiduciaryAgreementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFiduciaryAgreementRequest": {
        "title": "Fiduciary Agreement Request Body",
        "type": "string",
        "description": "This schema represents the request body for fetching fiduciary agreement operations related to deposit lending.",
        "example": "{}"
      },
      "GetFiduciaryAgreementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of fiduciary agreements.",
            "example": [
              {
                "customerId": "CUST-674052",
                "accountId": "ACC-882775",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FiduciaryAgreement"
            }
          },
          "pagination": {
            "description": "Pagination details for the returned list of fiduciary agreements.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation related to fiduciary agreements in the deposit lending context.",
        "example": {
          "items": [
            {
              "customerId": "CUST-674052",
              "accountId": "ACC-882775",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "20741c1f-a541-5e6a-acc3-1ac2059e68b3",
            "correlationId": "347a3970-ae6b-550a-8016-8bd4c099d76f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FiduciaryAgreement": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer associated with the fiduciary agreement."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier of the account related to the fiduciary agreement."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the fiduciary agreement."
          },
          "principal": {
            "description": "Principal amount and currency of the fiduciary agreement.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the fiduciary agreement in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the fiduciary agreement."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record of the fiduciary agreement."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the fiduciary agreement was last updated."
          }
        },
        "description": "Details of a fiduciary agreement."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the principal amount."
          }
        },
        "description": "Represents the principal amount with its currency in a fiduciary agreement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the entire dataset.",
            "format": "int32"
          }
        },
        "description": "Pagination details for API responses."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header indicates the unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-search-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-search-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "This header provides information about the application that executed the request, including its runtime details.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication via JSON Web Tokens (JWT). A valid token must be included in the Authorization header of the request for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}