{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Standing Orders Management API",
    "description": "The Domestic Standing Orders Management API allows businesses to initiate and manage recurring payments efficiently. This API facilitates the creation of standing orders directly from user accounts, ensuring timely and automated transactions. It is particularly useful for businesses that offer subscription services or need to handle regular billing. Typical consumers include financial institutions and payment service providers looking to enhance their payment solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-orders": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Create a new domestic standing order.",
        "description": "This endpoint allows users to create a new domestic standing order within the Payment Initiation Service Provider (PISP) system. Ensure to provide all required details in the request body, such as account information, amount, and frequency, to successfully set up the standing order.",
        "operationId": "createDomesticStandingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a domestic standing order. Ensure that all required fields are provided and formatted correctly to avoid errors in processing the order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticStandingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created with the provided data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticStandingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticStandingOrderRequest": {
        "title": "Domestic Standing Orders Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "description": "The main content of the request containing standing order details.",
            "$ref": "#/components/schemas/Data"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of domestic standing orders operation.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "requestContext": {
            "requestId": "99d9021e-f3c4-514b-b3cf-72df0c60bdd8",
            "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
            "idempotencyKey": "3b93a4be-c439-59d3-8932-a3613abedd0b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-655415"
            }
          }
        }
      },
      "Data": {
        "title": "Standing Order Data",
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent associated with the standing order.",
            "example": "string"
          },
          "Initiation": {
            "description": "Details of the standing order initiation.",
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Contains information about the standing order including initiations, payments, and remittance details."
      },
      "Initiation": {
        "title": "Initiation Details",
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "description": "Information pertaining to the remittance.",
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "The total number of payments to be processed.",
            "example": "5"
          },
          "FirstPaymentAmount": {
            "description": "Details of the first payment amount.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "RecurringPaymentAmount": {
            "description": "Details of the recurring payment amount.",
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Contains the information related to the initiation of a standing order."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "An array of structured remittance information.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittance"
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "An array of unstructured remittance information.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Information regarding the remittance for the standing order."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "List of referred documents related to the remittance.",
            "items": {
              "$ref": "#/components/schemas/ReferredDocument"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount related to referred documents.",
            "example": "150.00"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "description": "Reference information for the creditor.",
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "The invoicer associated with the transaction.",
            "example": "Invoice Company Ltd"
          },
          "Invoicee": {
            "type": "string",
            "description": "The entity being invoiced.",
            "example": "Customer Name"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Information regarding the tax remittance.",
            "example": "VAT"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional remittance information.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Structured remittance information details."
      },
      "ReferredDocument": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code identifying the referred document.",
            "example": "DOC123"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the referred document.",
            "example": "Bank A"
          },
          "Number": {
            "type": "string",
            "description": "The document number for the referred document.",
            "example": "INV123456"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the referred document.",
            "example": "2023-10-01"
          },
          "LineDetails": {
            "type": "array",
            "description": "Detailed line items related to the referred document.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Details about a referred document related to a remittance."
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code identifying the creditor reference.",
            "example": "CR123"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the creditor reference.",
            "example": "Creditor Company"
          },
          "Reference": {
            "type": "string",
            "description": "The reference number associated with the creditor.",
            "example": "Ref-001"
          }
        },
        "description": "Information regarding the reference for the creditor."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric value of the payment amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the payment amount is specified.",
            "example": "GBP"
          }
        },
        "description": "Detailed amount information including amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-id-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the flow of requests.",
            "example": "correlation-id-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotency to ensure the request is processed only once.",
            "example": "idempotency-key-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2021-09-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system that made the request.",
            "example": "System Name"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application from which the request originated.",
            "example": "Application Name"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata regarding the API request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-id-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-id-456"
          }
        },
        "description": "Details about the channel used for the API request."
      },
      "CreateDomesticStandingOrderResponse_201": {
        "title": "Domestic Standing Orders Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticStandingOrderId": {
                "type": "string",
                "description": "The unique identifier for the domestic standing order.",
                "example": "SO123456"
              },
              "ConsentId": {
                "type": "string",
                "description": "The identifier of the consent under which the domestic standing order was created.",
                "example": "CNS789012"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the domestic standing order was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "The current status of the domestic standing order.",
                "example": "Active"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "2023-10-02T08:30:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons associated with the current status of the domestic standing order.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/RefundDetails"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the domestic standing order.",
                "example": [],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/InitiationDetails"
              },
              "NumberOfPayments": {
                "type": "string",
                "description": "The number of payments that will be made under this standing order.",
                "example": "10"
              },
              "FirstPaymentAmount": {
                "$ref": "#/components/schemas/PaymentAmount"
              },
              "RecurringPaymentAmount": {
                "$ref": "#/components/schemas/PaymentAmount"
              }
            },
            "description": "Holds the details of the domestic standing order.",
            "example": {
              "DomesticStandingOrderId": "ORD-143991",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for this response.",
                "example": "resp-001234"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier for correlating requests and responses.",
                "example": "corr-001567"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-02T09:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of this order took place.",
                "example": "US-East"
              }
            },
            "description": "Metadata about the response regarding the processing details.",
            "example": {
              "responseId": "0f0fd439-9882-5a08-b707-43ca227a7935",
              "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "The response object for a successful POST operation on domestic standing orders.",
        "example": {
          "Data": {
            "DomesticStandingOrderId": "ORD-143991",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "0f0fd439-9882-5a08-b707-43ca227a7935",
            "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the status reason.",
            "example": "ACTIVE"
          },
          "description": {
            "type": "string",
            "description": "A description of the status reason.",
            "example": "The standing order is currently active."
          },
          "Path": {
            "type": "string",
            "description": "The path or source where the reason originated.",
            "example": "Internal processing"
          }
        },
        "description": "Represents the reason for the current status of the domestic standing order."
      },
      "RefundDetails": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "description": "Information about the account related to the refund.",
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details regarding the refund process for the domestic standing order."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme used for the account.",
            "example": "UK Account"
          },
          "Identification": {
            "type": "string",
            "description": "The identification number for the account.",
            "example": "GB12BANK34567812345678"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "An optional secondary identification for the account.",
            "example": "JD1234"
          }
        },
        "description": "Details about the account related to refunds."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Identifier of who bears the charge.",
            "example": "Ordered by"
          },
          "Type": {
            "type": "string",
            "description": "The type of the charge.",
            "example": "Service Charge"
          },
          "Amount": {
            "type": "object",
            "description": "The amount and currency of the charge.",
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Information about a specific charge associated with the domestic standing order."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "10.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "GBP"
          }
        },
        "description": "Details about an amount including its currency."
      },
      "InitiationDetails": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "type": "object",
            "description": "Information related to the remittance of the standing order.",
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "The total number of payments that will occur.",
            "example": "12"
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "RecurringPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Details about the initiation phase of a domestic standing order."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-domestic-standing-order"
        },
        "example": "payment-initiation-openapi-submit-domestic-standing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients should include their token in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}