{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Facility Operations Status API",
    "description": "The Facility Operations Status API provides real-time insights into the operational status of various banking facilities. Users can access detailed information on the status of site operations, enabling timely decision-making and effective resource management. This endpoint is essential for facility managers and IT operations teams who need to monitor and assess site performance. By leveraging this API, businesses can ensure optimal service delivery and enhance overall operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/site-operations/status": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve the current status of site operations.",
        "description": "This endpoint allows users to fetch the latest status of site operations, including any operational issues or updates that may impact facility management. It is essential for monitoring and maintaining the efficiency of site operations.",
        "operationId": "getSiteOperationsStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve the status of site operations within the facilities. This body structure is required to specify the desired operation status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteOperationsStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of site operations status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteOperationsStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSiteOperationsStatusRequest": {
        "title": "Operations Status Request Body",
        "type": "string",
        "description": "This schema defines the request body for the operations status retrieval in JSON format.",
        "example": "{}"
      },
      "GetSiteOperationsStatusResponse_200": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset associated with the operation.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order related to the operation.",
            "example": "ORD-749275"
          },
          "scheduledDate": {
            "type": "string",
            "description": "Date when the operation is scheduled to take place.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "Unique identifier for the vendor performing the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the operation occurs.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed (e.g., preventive, corrective).",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last time the record was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESPONSE-111213"
              },
              "correlationId": {
                "type": "string",
                "description": "Unique identifier used to correlate related requests.",
                "example": "CORRELATION-141516"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the operation is processed.",
                "example": "US-East"
              }
            },
            "description": "Metadata associated with the operation record.",
            "example": {
              "responseId": "98352698-7c44-51d2-9cea-ecd260185732",
              "correlationId": "82853e87-128f-5aab-b9e2-d55c35da2a81",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the status of site operations for a facility.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-749275",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "98352698-7c44-51d2-9cea-ecd260185732",
            "correlationId": "82853e87-128f-5aab-b9e2-d55c35da2a81",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called. This ID can be used for tracing and tracking the specific request in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "site-operations-get-site-operations"
        },
        "example": "site-operations-get-site-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This helps in identifying which application handled the operation, especially in microservices architectures.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication using JSON Web Tokens (JWT). Clients must include a valid JWT in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}