{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Connect Send Email Jointborrower-v5-spec",
    "description": "This API facilitates the sending of email notifications to joint borrowers within the lending process. It enables lenders to efficiently communicate important updates and documentation directly to multiple parties involved in a loan application. Typically used by loan officers and financial institutions, this API streamlines the notification process, ensuring that all borrowers are informed and engaged. The endpoint allows for the customization of email content to suit specific borrower needs, enhancing the overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/send/email/jointborrower": {
      "post": {
        "tags": [
          "Email Operations"
        ],
        "summary": "Send email to joint borrower",
        "description": "This operation sends an email to a joint borrower. It ensures that all necessary information is included and sent to the recipient in a timely manner.",
        "operationId": "createConnectSendEmailJointborrower",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send an email to a joint borrower. It includes all necessary details to construct the email message, such as the recipient's email address, subject, and body content.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConnectSendEmailJointborrowerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully to the joint borrower.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConnectSendEmailJointborrowerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConnectSendEmailJointborrowerRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference for the email communication.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The ID of the partner associated with the request.",
            "example": "STANDARD"
          },
          "borrowers": {
            "type": "array",
            "description": "A list of borrowers involved in the transaction.",
            "example": [
              {
                "customerId": "CUST-384721",
                "consumerId": "STANDARD",
                "type": "STANDARD",
                "optionalConsumerInfo": {
                  "ssn": "STANDARD",
                  "dob": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Borrower"
            }
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect the user after email processing.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The webhook URL for notification about the email status.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type for the webhook requests.",
            "example": "STANDARD"
          },
          "email": {
            "$ref": "#/components/schemas/EmailDetails"
          },
          "experience": {
            "type": "string",
            "description": "The experience level of the borrower.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "The date from which the experience is calculated.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for sending email to joint borrowers.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "borrowers": [
            {
              "customerId": "CUST-384721",
              "consumerId": "STANDARD",
              "type": "STANDARD",
              "optionalConsumerInfo": {
                "ssn": "STANDARD",
                "dob": 1
              }
            }
          ],
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "email": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "experience": "STANDARD",
          "fromDate": 1,
          "requestContext": {
            "requestId": "03ee484a-5671-5ade-b5be-f6ef127a3ed6",
            "correlationId": "4ee01fa5-efcf-5484-822b-362e8ff344a3",
            "idempotencyKey": "da900f0a-52b2-5261-8c17-96ffdd186b58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-104978"
            }
          }
        }
      },
      "Borrower": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer456"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "consumer789"
          },
          "type": {
            "type": "string",
            "description": "The type of borrower (e.g., primary, co-borrower).",
            "example": "primary"
          },
          "optionalConsumerInfo": {
            "$ref": "#/components/schemas/OptionalConsumerInfo"
          }
        },
        "description": "Details about a borrower."
      },
      "OptionalConsumerInfo": {
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "dob": {
            "type": "integer",
            "description": "The date of birth of the consumer in epoch format.",
            "format": "int32",
            "example": 631152000
          }
        },
        "description": "Optional personal information of the consumer."
      },
      "EmailDetails": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "The email address of the recipient.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "The email address of the sender.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "The support phone number for assistance.",
            "example": "+1-800-555-0199"
          },
          "subject": {
            "type": "string",
            "description": "The subject line of the email.",
            "example": "Loan Application Update"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "The name of the institution sending the email.",
            "example": "ABC Bank"
          },
          "institutionAddress": {
            "type": "string",
            "description": "The address of the institution sending the email.",
            "example": "123 Bank St, Finance City, NY"
          },
          "signature": {
            "type": "array",
            "description": "A list of signatures or disclaimers included in the email.",
            "items": {
              "type": "string",
              "example": "Thank you for choosing us!"
            }
          }
        },
        "description": "Details of the email to be sent to the borrowers."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for tracing requests across systems.",
            "example": "corr-xyz-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idemp-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "FrontendApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "LoanApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., API, Web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Details of the communication channel used."
      },
      "CreateConnectSendEmailJointborrowerResponse_200": {
        "title": "Send Email Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the email operation.",
            "example": "STANDARD"
          },
          "emailConfig": {
            "description": "Configuration details for the email that was sent.",
            "$ref": "#/components/schemas/EmailConfig"
          },
          "metadata": {
            "description": "Metadata related to the email sending operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for sending an email operation, containing a link and configuration details for the email sent.",
        "example": {
          "link": "STANDARD",
          "emailConfig": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "1bdc7087-f3c1-51d7-abb7-ac2ee4a17b93",
            "correlationId": "4ee01fa5-efcf-5484-822b-362e8ff344a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmailConfig": {
        "title": "Email Configuration",
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "The email address of the recipient.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "The email address of the sender.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "The support phone number associated with the email.",
            "example": "+1234567890"
          },
          "subject": {
            "type": "string",
            "description": "The subject line of the email.",
            "example": "Email Subject"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "The name of the institution sending the email.",
            "example": "Example Institution"
          },
          "institutionAddress": {
            "type": "string",
            "description": "The address of the institution that is sending the email.",
            "example": "123 Example St, Example City, EX 12345"
          },
          "signature": {
            "type": "array",
            "description": "An array of strings representing the signature lines of the email.",
            "items": {
              "type": "string",
              "example": "Best regards,"
            }
          }
        },
        "description": "Configuration parameters for the email sent, including recipients and other details."
      },
      "Metadata": {
        "title": "Email Sending Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the email operation.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests or responses.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-12T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the email processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the email sending operation, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called. This can be useful for logging and tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-send-joint-borrower-connect-email"
        },
        "example": "open-finance-api-send-joint-borrower-connect-email"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request. Helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to access secured resources by including a JSON Web Token (JWT) in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}