{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Processing Inquiry API",
    "description": "The Order Processing Inquiry API allows users to retrieve the current status and details of a specific processing order. By using a unique identifier for the order, typical consumers such as banking service representatives and operational analysts can check the progress of orders within the system. This API facilitates transparency and improves customer service by providing real-time updates on order processing. It serves as a vital tool for monitoring operational efficiency and ensuring timely responses to customer inquiries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order/{param1}": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve operational processing order details.",
        "description": "This endpoint allows you to retrieve details of a specific operational processing order using its unique identifier. Ensure that the resource ID is valid to get accurate information.",
        "operationId": "getProcessingOrderById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving operational services processing order details. This endpoint requires specific parameters to be included to ensure accurate processing and retrieval of the order information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProcessingOrderByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested order details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProcessingOrderByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProcessingOrderByIdRequest": {
        "type": "string",
        "description": "The request body for the operations processing order.",
        "example": "{}"
      },
      "GetProcessingOrderByIdResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation.",
            "example": "CUST-192491"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the operation.",
            "example": "ACC-507914"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving processing order operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-192491",
          "accountId": "ACC-507914",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "efd9dd5b-2e49-5a17-a46d-354aa6414488",
            "correlationId": "07efa1c1-9357-547f-8473-677bd05a9a35",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs and requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Identifies the specific endpoint that processed the request. This ID can be used for tracing requests through different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-get-processing-order"
        },
        "example": "processing-order-get-processing-order"
      },
      "x-runtime-app": {
        "description": "Indicates the name of the application that handled the request. This value is useful for identifying the source of the response in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, specifically with JWT (JSON Web Token) format. Clients must include a valid token in the authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}