{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Banking Finance Enterprise Tax Administration By Enterprise Tax Administration Id-v5-spec",
    "description": "The Update Enterprise Tax Administration API enables businesses to modify existing enterprise tax administration records by their unique identifiers. This operation allows organizations to keep their financial data up-to-date, ensuring compliance and accuracy in reporting. Common consumers of this API include financial institutions and corporate finance teams who require real-time updates for tax administration processes. Use cases often involve correcting or enhancing tax information associated with a specific enterprise, facilitating streamlined tax management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/enterprise-tax-administration/{enterpriseTaxAdministrationId}": {
      "patch": {
        "tags": [
          "Finance Management"
        ],
        "summary": "Update enterprise tax administration details.",
        "description": "This endpoint allows you to update the tax administration details for an enterprise identified by the provided resource ID. Ensure to provide the necessary data in the request body to successfully modify the information.",
        "operationId": "updateBankingFinanceEnterpriseTaxAdministrationByEnterpriseTaxAdministrationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/enterpriseTaxAdministrationId"
          }
        ],
        "requestBody": {
          "description": "This request body contains the relevant data needed to update the enterprise tax administration record identified by RES-100045. Ensure that all required fields are appropriately populated to reflect the desired changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBankingFinanceEnterpriseTaxAdministrationByEnterpriseTaxAdministrationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBankingFinanceEnterpriseTaxAdministrationByEnterpriseTaxAdministrationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBankingFinanceEnterpriseTaxAdministrationByEnterpriseTaxAdministrationIdRequest": {
        "title": "Tax Administration Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes that need to be applied in the tax administration.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for making these changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the structure of the PATCH request body for operations related to enterprise tax administration. It includes the changes to be made along with metadata about the request.",
        "example": {
          "changes": {
            "legalEntityId": "STANDARD",
            "ledgerId": "STANDARD",
            "accountingPeriod": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "74cd5a75-d9db-55b8-a6da-0d469c0ab89f",
            "correlationId": "726b68d4-0c7b-58f6-961d-821b5418b194",
            "idempotencyKey": "6055c035-1046-5b23-9b9c-20fe9c75e9ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-442586"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The identifier of the legal entity associated with these changes.",
            "example": "legEnt123"
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier of the ledger being modified.",
            "example": "ledger456"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period to which the changes apply.",
            "example": "2023-Q1"
          }
        },
        "description": "This schema defines the changes that are to be applied in the tax administration."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across systems.",
            "example": "correl123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent, avoiding duplicate processing.",
            "example": "idEmp456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was created.",
            "example": "2023-09-01T15:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "FinanceSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AccountingApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema captures the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the communication channel used.",
            "example": "channelXYZ"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., API, User Interface).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device being used for the request.",
            "example": "device123"
          }
        },
        "description": "This schema defines the communication channel details associated with the request."
      },
      "UpdateBankingFinanceEnterpriseTaxAdministrationByEnterpriseTaxAdministrationIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on tax administration operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e55aa7ac-b86a-54d9-814b-6e148b8b959a",
            "correlationId": "726b68d4-0c7b-58f6-961d-821b5418b194",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests or responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata structure containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "enterpriseTaxAdministrationId": {
        "name": "enterpriseTaxAdministrationId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier assigned to the specific endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-tax-administration-update-enterprise-tax-administration"
        },
        "example": "enterprise-tax-administration-update-enterprise-tax-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing bearer tokens. This scheme supports JWT (JSON Web Tokens) as the format for the bearer token, which can be used for secure information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}