{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Settlement Account API",
    "description": "The Update Settlement Account API enables businesses to modify existing settlement account details within the financial system. This operation allows users to update pertinent information related to settlement accounts, facilitating accuracy and compliance in financial transactions. Typical consumers of this API include finance teams and accounting software solutions that require up-to-date account information for managing their financial operations. This endpoint supports maintaining efficiency and correctness in transaction processing, ultimately improving the overall financial workflow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{param1}": {
      "patch": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Update settlement account details.",
        "description": "This endpoint allows you to update the details of a specific settlement account identified by its unique account number. You can modify various attributes of the settlement account as needed.",
        "operationId": "updateSettlementAccountAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to update the details of the specified settlement account. The updates may include various parameters such as account status, available balance, and related operations. Please ensure that all required fields are included and properly formatted as per schema requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettlementAccountAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSettlementAccountAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSettlementAccountAcc200045Request": {
        "type": "object",
        "properties": {
          "schedule": {
            "description": "The schedule details for the settlement account operations.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this account is the default account.",
            "example": true
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement account operation.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating settlement account operations.",
        "example": {
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "315ddf4e-f5a6-5593-9665-bf3ad019089a",
            "correlationId": "c77de93f-998b-5ed7-a5a3-0c874e87cd0d",
            "idempotencyKey": "401f36a4-57b7-5d73-8048-1c0162d95afd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-694447"
            }
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "Frequency of the settlements (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "Cutoff time for processing settlements.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone for the scheduling.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "Number of business days for settlement delay.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "Minimum amount required for payouts from the account.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Details regarding the scheduling of settlements."
      },
      "MinimumPayoutAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the minimum payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum payout amount value.",
            "example": "string"
          }
        },
        "description": "Details of minimum payout amount."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure request idempotency.",
            "example": "idemp-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "payment_gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "settlement_app"
          },
          "channel": {
            "description": "Details of the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., WEB, MOBILE).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-123"
          }
        },
        "description": "Channel details related to the request."
      },
      "UpdateSettlementAccountAcc200045Response_200": {
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "ACC-845566"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement account.",
            "example": "MER-740084"
          },
          "account": {
            "description": "Details about the bank account associated with the settlement.",
            "$ref": "#/components/schemas/Account"
          },
          "schedule": {
            "description": "Schedule for the settlement operations.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "Status of the verification process for the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for the settlement account.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the settlement account response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the settlement account operation identified by ACC-200045.",
        "example": {
          "settlementAccountId": "ACC-845566",
          "merchantId": "MER-740084",
          "account": {
            "bankCode": "CODE-273",
            "branchCode": "CODE-570",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "567516c6-8c31-584c-85c0-1a160151c3a2",
            "correlationId": "c77de93f-998b-5ed7-a5a3-0c874e87cd0d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The code of the bank holding the account.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code of the bank.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "Masked representation of the bank account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name associated with the bank account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the bank account (e.g., CHECKING, SAVINGS).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the account operates.",
            "example": "string"
          }
        },
        "description": "Bank account details associated with the settlement account."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the settlement account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the settlement account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the settlement account.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information for tracking changes to the settlement account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-settlement-account"
        },
        "example": "banking-p2m-openapi-update-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This scheme uses a Bearer authentication method using JSON Web Tokens (JWT). Clients must include an access token in the Authorization header using the format 'Bearer {token}' to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}