{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Guarantee Management API",
    "description": "The Bank Guarantee Management API provides efficient access to bank guarantees for trade financing. This API allows users to retrieve details on existing bank guarantees, including their status and associated financial instruments. It caters primarily to financial institutions, trade businesses, and developers looking to integrate trade banking functionalities into their applications. By leveraging this API, consumers can enhance their banking workflows and streamline financial operations while ensuring compliance and accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/bank-guarantee": {
      "get": {
        "tags": [
          "Bank Guarantee"
        ],
        "summary": "Retrieve Bank Guarantee Details",
        "description": "This endpoint allows users to retrieve detailed information about bank guarantees available through the trade banking service. It provides insights into the terms, conditions, and status of bank guarantees, facilitating better financial decision-making.",
        "operationId": "getBankGuarantee",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve bank guarantee information. Ensure the request is properly formatted as per the schema to obtain correct details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankGuaranteeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved bank guarantee information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankGuaranteeResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankGuaranteeRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to bank guarantees in the trade banking context.",
        "example": "{}"
      },
      "GetBankGuaranteeResponse_200": {
        "title": "Bank Guarantee Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of bank guarantee items.",
            "example": [
              {
                "corporateCustomerId": "CUST-405352",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-841642",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "guaranteeType": "STANDARD",
                "beneficiaryId": "STANDARD",
                "claimExpiryDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BankGuaranteeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object for the bank guarantee operations GET request, containing a list of items and pagination details.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-405352",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-841642",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "guaranteeType": "STANDARD",
              "beneficiaryId": "STANDARD",
              "claimExpiryDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7a8b2895-6e92-5a82-9954-808a36d84d06",
            "correlationId": "52414b23-7d0a-5f67-af4e-2d148dcbe16a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BankGuaranteeItem": {
        "title": "Bank Guarantee Item",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The identifier for the corporate customer.",
            "example": "string"
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier for the facility associated with the guarantee.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier for the counterparty involved.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the guarantee matures.",
            "example": "string"
          },
          "guaranteeType": {
            "type": "string",
            "description": "The type of bank guarantee.",
            "example": "string"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The identifier for the beneficiary of the guarantee.",
            "example": "string"
          },
          "claimExpiryDate": {
            "type": "string",
            "description": "The date on which the claim expiration occurs.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the bank guarantee record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the bank guarantee was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single bank guarantee item."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Represents the monetary value and currency of the bank guarantee."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination details for the list of items."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-guarantee-search-bank-guarantee"
        },
        "example": "bank-guarantee-search-bank-guarantee"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication mechanism via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}