{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Broker Agreement Retrieval API",
    "description": "The Product Broker Agreement Retrieval API facilitates access to detailed agreements between product brokers and financial institutions. This endpoint allows users to retrieve specific broker agreements using unique identifiers. Typical consumers include financial analysts, product managers, and compliance officers seeking to review or verify terms within broker agreements. With this API, organizations can enhance transparency and compliance in their broker-related operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-broker-agreement/{param1}": {
      "get": {
        "tags": [
          "Product Broker Agreement"
        ],
        "summary": "Retrieve Product Broker Agreement details.",
        "description": "This endpoint allows you to fetch the details of a specific Product Broker Agreement by its unique identifier. You can use this to review the terms and conditions associated with the agreement.",
        "operationId": "getProductBrokerAgreementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body specifies the necessary parameters for retrieving product broker agreement details for a specific agency. The provided JSON schema outlines the required structure and data types to successfully execute the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductBrokerAgreementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product broker agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductBrokerAgreementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductBrokerAgreementByIdRequest": {
        "title": "Product Broker Agreement Request Body",
        "type": "string",
        "description": "A schema representing the request body for the Product Broker Agreement operation. This is a JSON string that contains the necessary information for the operation.",
        "example": "{}"
      },
      "GetProductBrokerAgreementByIdResponse_200": {
        "title": "Product Broker Agreement Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "AGR-598571"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) associated with the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code where the institution is located.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the agreement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the agreement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the agreement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving product broker agreement details.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-598571",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fef1ec8a-253d-5de6-abf9-98775d976fea",
            "correlationId": "8786fa44-10d7-547d-b62c-009362b351b4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this response.",
            "example": "RESP789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-10T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "NA"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-broker-agreement-get-product-broker-agreement"
        },
        "example": "product-broker-agreement-get-product-broker-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method wherein a JSON Web Token (JWT) is passed in the authorization header of requests. It is commonly used to secure APIs by allowing users to authenticate and access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}