{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Sub Custodian Agreement API",
    "description": "This API allows users to modify existing sub custodian agreements within the banking system. By leveraging this endpoint, financial institutions can ensure that their agreements with external agencies are accurately represented and up to date. Typical consumers of this API include compliance officers and operations teams who need to adjust contract terms swiftly in response to regulatory changes or business needs. The PATCH method enables targeted updates to specific fields, providing flexibility and precision in managing contractual relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/sub-custodian-agreement/{param1}": {
      "patch": {
        "tags": [
          "External Agency Operations"
        ],
        "summary": "Update Sub Custodian Agreement",
        "description": "This endpoint allows you to update the details of a specific Sub Custodian Agreement identified by its unique resource ID. Provide the necessary information in the request body to modify existing agreements accordingly.",
        "operationId": "patchExternalAgencySubCustodianAgreementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the sub-custodian agreement details for the specified resource. Ensure that the required fields comply with the expected schema format. Any changes made will be applied to the existing agreement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchExternalAgencySubCustodianAgreementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchExternalAgencySubCustodianAgreementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchExternalAgencySubCustodianAgreementRes100045Request": {
        "title": "Patch Request Body for Sub-Custodian Agreement",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The set of changes to be applied to the sub-custodian agreement.",
            "$ref": "#/components/schemas/AgreementChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in the agreement.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "format": "date-time",
            "example": 1789482600.0
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for patching an existing sub-custodian agreement.",
        "example": {
          "changes": {
            "institutionId": "STANDARD",
            "agreementId": "AGR-211103",
            "bic": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "572a2ffb-5e8b-57e9-93b5-42ee5603405e",
            "correlationId": "7cda3360-fbe5-5d72-bd86-1f675637aa4a",
            "idempotencyKey": "edc94d5f-4849-506c-9701-0a94aad331b8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-425583"
            }
          }
        }
      },
      "AgreementChanges": {
        "title": "Agreement Changes",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the institution.",
            "example": "institution-456"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier of the agreement.",
            "example": "agreement-789"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the institution.",
            "example": "DEUTDEDBBER"
          }
        },
        "description": "This schema defines the changes applicable to a sub-custodian agreement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is handled exactly once.",
            "example": "unique-key-111"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "format": "date-time",
            "example": 1695913200.0
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request is originating.",
            "example": "core-banking-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is initiated.",
            "example": "finance-app"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates contextual data related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "This schema contains details about the communication channel used for the request."
      },
      "PatchExternalAgencySubCustodianAgreementRes100045Response_200": {
        "title": "Sub Custodian Agreement Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Represents the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation on the Sub Custodian Agreement resource.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1a3897e1-ef73-5d02-8561-cb7fb8450712",
            "correlationId": "7cda3360-fbe5-5d72-bd86-1f675637aa4a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for correlating requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sub-custodian-agreement-update-sub-custodian-agreement"
        },
        "example": "sub-custodian-agreement-update-sub-custodian-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, allowing identification of the application context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where the client must include a JWT (JSON Web Token) in the Authorization header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}