{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Strategy Management API",
    "description": "The Product Strategy Management API enables businesses to refine and update their product strategy based on changing market conditions and internal goals. By utilizing this endpoint, organizations can modify existing strategies to better align with their business direction, ensuring ongoing competitiveness. Typical users include product managers and business strategists who rely on accurate and timely updates for informed decision-making. This API supports dynamic adjustments to product offerings, allowing for enhanced responsiveness to customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/product-strategy/{param1}": {
      "patch": {
        "tags": [
          "Product Strategy"
        ],
        "summary": "Update Product Strategy",
        "description": "This operation allows you to update the details of a specific product strategy identified by PROD-700045. Use this endpoint to make necessary adjustments to the product strategy attributes as needed for your business operations.",
        "operationId": "patchProductStrategyProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the product strategy with ID PROD-700045. The body must conform to the specified schema, ensuring that all required fields are properly included and formatted according to the API specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProductStrategyProd700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchProductStrategyProd700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchProductStrategyProd700045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be applied in the product strategy.",
            "$ref": "#/components/schemas/ProductStrategyChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for PATCH operations in the product strategy related to business direction.",
        "example": {
          "changes": {
            "initiativeId": "STANDARD",
            "sponsorId": "STANDARD",
            "planningHorizon": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "91ce990c-cf8c-541b-adef-050d51709344",
            "correlationId": "0d17f937-b9cd-5061-ae49-c58d3a0f5fb1",
            "idempotencyKey": "98ee9e19-3de7-580a-a4c8-85a8140c4f49",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-809678"
            }
          }
        }
      },
      "ProductStrategyChanges": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative being changed.",
            "example": "initiative-12345"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier of the sponsor responsible for the initiative.",
            "example": "sponsor-67890"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the changes.",
            "example": "Q4 2023"
          }
        },
        "description": "Detailed changes being applied to the product strategy."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of requests.",
            "example": "idempotency-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name or identifier of the system that made the request.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name or identifier of the application making the request.",
            "example": "Sales App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request including identifiers and system details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device making the request if applicable.",
            "example": "device-456"
          }
        },
        "description": "Information regarding the channel through which the request was made."
      },
      "PatchProductStrategyProd700045Response_200": {
        "title": "Operations Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for a PATCH request to update operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1ba8f659-a181-5d31-953d-0042117784b6",
            "correlationId": "0d17f937-b9cd-5061-ae49-c58d3a0f5fb1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response",
            "example": "RESP-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace the operation across systems",
            "example": "CORR-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed",
            "example": "us-west-2"
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "products-and-services-direction-update-products-and-services-direction"
        },
        "example": "products-and-services-direction-update-products-and-services-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, where users provide a JSON Web Token (JWT) to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}