{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Loan Repayment Schedules-spec",
    "description": "The Loan Repayment Schedules API provides access to loan repayment schedule details for specific loans. Consumers can retrieve comprehensive information on repayment timelines, amounts, and installment frequencies, which is crucial for both borrowers and financial institutions. This API is particularly useful for applications focused on loan management, financial planning, and customer service. By accessing precise repayment data, users can better manage their loan obligations and enhance their financial decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve repayment schedules for a specific loan.",
        "description": "This endpoint allows you to fetch the repayment schedules associated with the specified loan. You can use this information to understand your repayment timelines and amounts due.",
        "operationId": "listLoanRepaymentSchedules",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is required to retrieve the repayment schedules for the specified loan. Ensure that the request body follows the defined schema closely to guarantee proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListLoanRepaymentSchedulesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the repayment schedules for the specified loan.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListLoanRepaymentSchedulesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListLoanRepaymentSchedulesRequest": {
        "title": "Loan Repayment Schedule Request Body",
        "type": "string",
        "description": "Schema representing the request body for retrieving the repayment schedules for a specific loan.",
        "example": "{}"
      },
      "ListLoanRepaymentSchedulesResponse_200": {
        "title": "Repayment Schedules Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of repayment schedule items.",
            "example": [
              {
                "effectiveDate": "2026-09-15",
                "calculationMethod": "STANDARD",
                "reason": "STANDARD",
                "installments": [
                  {
                    "installmentNumber": 1,
                    "dueDate": "2026-09-15",
                    "openingPrincipal": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "principalDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "interestDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "feesDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "penaltiesDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "totalDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "amountPaid": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "closingPrincipal": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "status": "ACTIVE",
                    "paidAt": "2026-08-11T12:00:00Z"
                  }
                ],
                "id": "87e26794-e939-162d-a387-ea6612b9408b",
                "status": "ACTIVE",
                "generatedAt": "2026-09-15T14:30:00Z",
                "supersedesScheduleId": "427e0995-7cc6-560e-b67c-34bb5eaffbd6",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RepaymentScheduleItem"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedule.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the repayment schedule.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the repayment schedule was generated.",
            "example": "string"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "Identifier for the schedule that this one supersedes, if applicable.",
            "example": "string"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for repayment schedules.",
        "example": {
          "items": [
            {
              "effectiveDate": "2026-09-15",
              "calculationMethod": "STANDARD",
              "reason": "STANDARD",
              "installments": [
                {
                  "installmentNumber": 1,
                  "dueDate": "2026-09-15",
                  "openingPrincipal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "principalDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "interestDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "feesDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penaltiesDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "totalDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "amountPaid": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "closingPrincipal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "status": "ACTIVE",
                  "paidAt": "2026-08-11T12:00:00Z"
                }
              ],
              "id": "87e26794-e939-162d-a387-ea6612b9408b",
              "status": "ACTIVE",
              "generatedAt": "2026-09-15T14:30:00Z",
              "supersedesScheduleId": "427e0995-7cc6-560e-b67c-34bb5eaffbd6",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "b83e3432-e9fa-51f9-89d7-9d3f103b042d",
            "correlationId": "d688559a-c2d3-54ed-ae4c-f3c5990c7705",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RepaymentScheduleItem": {
        "title": "Repayment Schedule Item",
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment is effective.",
            "example": "string"
          },
          "calculationMethod": {
            "type": "string",
            "description": "Method used to calculate the repayment.",
            "example": "string"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the repayment schedule item.",
            "example": "string"
          },
          "installments": {
            "type": "array",
            "description": "List of installments associated with this repayment schedule item.",
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          }
        },
        "description": "Detailed information about a single repayment schedule item.",
        "example": {
          "effectiveDate": "string",
          "calculationMethod": "string",
          "reason": "string",
          "installments": []
        }
      },
      "Installment": {
        "title": "Installment",
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The installment number in the repayment schedule.",
            "format": "int32",
            "example": 0
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which the installment must be paid.",
            "example": "string"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "principalDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "interestDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "feesDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "totalDue": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the installment.",
            "example": "string"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp of when the installment was paid, if applicable.",
            "example": "string"
          }
        },
        "description": "Details of a specific installment in a repayment schedule.",
        "example": {
          "installmentNumber": 0,
          "dueDate": "string",
          "openingPrincipal": {},
          "principalDue": {},
          "interestDue": {},
          "feesDue": {},
          "penaltiesDue": {},
          "totalDue": {},
          "amountPaid": {},
          "closingPrincipal": {},
          "status": "string",
          "paidAt": "string"
        }
      },
      "CurrencyAmount": {
        "title": "Currency Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency type (e.g., USD, EUR).",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "Amount of money in the specified currency.",
            "example": "string"
          }
        },
        "description": "Currency and amount structure used in financial transactions."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the schedule was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the schedule.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the schedule was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the schedule.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the repayment schedule.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to the auditing of the repayment schedule."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that generated this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-repayment-schedules"
        },
        "example": "banking-loans-openapi-list-repayment-schedules"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses Bearer tokens, specifically in the JWT format, to authenticate requests. Ensure that a valid token is included in the authorization header when making API calls.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}