{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Disbursement Management API",
    "description": "The Loan Disbursement Management API is designed to facilitate the disbursement of funds associated with specific loan products. By utilizing this endpoint, financial institutions can initiate disbursements for loans identified by their unique loan IDs. This API serves lenders and financial service providers, enabling them to efficiently manage funds distribution to borrowers during the loan lifecycle. Use cases include processing fund releases for home mortgages, personal loans, or business financing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9004",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a disbursement for a loan.",
        "description": "This endpoint allows you to create a disbursement for a specified loan. By providing the necessary details, you can initiate the funds disbursal process, facilitating the delivery of funds to the borrower.",
        "operationId": "createLoanDisbursement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/loanId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new disbursement for the specified loan. It should include all required fields to ensure the disbursement is processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanDisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Disbursement created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanDisbursementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanDisbursementRequest": {
        "title": "Loan Disbursement Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount to be disbursed along with its currency details.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method through which the disbursement will be made.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the funds are to be disbursed.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details of the beneficiary receiving the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions to be applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Additional information or comments regarding the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking purposes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for loan disbursement request details including amount, beneficiary information, deductions, and request context.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-330",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "781a1918-c553-56d8-9852-45a6d1b765f7",
            "correlationId": "9805d91a-6473-5481-827f-7081b8f7a36a",
            "idempotencyKey": "f10e72da-2926-59f4-8533-ae1a77dedbe8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-202772"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing an amount with its currency."
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the beneficiary.",
            "example": "John Doe"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number of the beneficiary.",
            "example": "123456789"
          },
          "bankCode": {
            "type": "string",
            "description": "The code representing the beneficiary's bank.",
            "example": "XYZ123"
          },
          "bankName": {
            "type": "string",
            "description": "The name of the beneficiary's bank.",
            "example": "Bank of Example"
          },
          "address": {
            "description": "Address details of the beneficiary.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Schema representing a beneficiary's details."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the street address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the street address (if applicable).",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "City where the beneficiary resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the beneficiary resides.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the beneficiary's address.",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "description": "Country where the beneficiary resides.",
            "example": "USA"
          }
        },
        "description": "Schema representing an address."
      },
      "Deduction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of deduction.",
            "example": "Tax"
          },
          "amount": {
            "description": "The amount withheld as a deduction.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing a deduction from the disbursement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "correlation-id"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Ensures that the request is processed only once.",
            "example": "idempotent-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "Internal System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel being used.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-1234"
          }
        },
        "description": "Schema representing the communication channel details."
      },
      "CreateLoanDisbursementResponse_201": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount associated with the disbursement.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "Method used for the disbursement.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date on which the value is set for the disbursement.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details of the beneficiary receiving the funds.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "List of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Additional comments or descriptions related to the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference linked to this transaction.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement.",
            "example": "7395521a-e68b-0cb9-88d4-b5eed5856eb5"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "The specific number associated with this disbursement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement.",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "description": "Gross amount before any deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "description": "Net amount after deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for the transaction related to this disbursement.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Code representing any failure in processing the disbursement.",
            "example": "CODE-753"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message elaborating on failure if any occurred.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information regarding the disbursement's creation and modification.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata about the disbursement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for loan disbursement operations.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-597",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "7395521a-e68b-0cb9-88d4-b5eed5856eb5",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-753",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "6a3c4ea3-5264-569c-8674-86214addda9b",
            "correlationId": "9805d91a-6473-5481-827f-7081b8f7a36a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the disbursement entry.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who last updated the disbursement entry.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the disbursement entry.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information related to the disbursement."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata information related to the disbursement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "loanId": {
        "name": "loanId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-create-disbursement"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-create-disbursement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client sends a JSON Web Token (JWT) in the Authorization header. The JWT contains encoded claims and is used for verifying the identity of the client accessing the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}