{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Delete Account Management By Param1-spec",
    "description": "The Account Management Deletion API allows for the removal of specific account management entries based on a unique identifier, referred to as Param1. This endpoint is particularly useful for financial institutions looking to manage user accounts effectively by eliminating outdated or unwanted entries. Typical consumers include developers integrating account management functionalities into their banking applications. The API ensures that account data is maintained accurately and responsibly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/position-management/{param1}": {
      "delete": {
        "tags": [
          "Position Management"
        ],
        "summary": "Delete a position management entry.",
        "description": "This operation deletes the specified position management entry identified by RES-100045. Ensure that you have the necessary permissions to perform this action.",
        "operationId": "deleteAccountManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for deleting a specific position identified by RES-100045. This operation requires the relevant details to correctly process the deletion request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource deleted successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountManagementByParam1Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "DeleteAccountManagementByParam1Request": {
        "type": "string",
        "description": "This schema represents the request body for deleting a specific position in the account management system. The body should be a string indicating the position to be deleted.",
        "example": "{}"
      },
      "DeleteAccountManagementByParam1Response_201": {
        "title": "Delete Operation Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-667846"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the operation.",
            "example": "CUST-169860"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource that was deleted.",
            "example": "RES-447893"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation, indicating whether it was successful or encountered issues.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the delete operation, which includes additional contextual information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the result of a delete operation in the account management system, providing information about the account, customer, resource, and associated metadata.",
        "example": {
          "accountId": "ACC-667846",
          "customerId": "CUST-169860",
          "resourceId": "RES-447893",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4bfd8040-5069-57a2-85de-6811d56b5310",
            "correlationId": "c3c750cc-ef4d-5565-8de9-5215156af357",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing was performed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional contextual information related to the delete operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "position-management-create-position-management"
        },
        "example": "position-management-create-position-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with this transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-008"
        },
        "example": "WF-008"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Account Closure and Final Settlement"
        },
        "example": "Account Closure and Final Settlement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "578fa1f5-dd08-4579-ac22-950345a63d7b"
        },
        "example": "578fa1f5-dd08-4579-ac22-950345a63d7b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which relies on JSON Web Tokens (JWT) for secure API access. Clients must include a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}