{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Position Management API",
    "description": "The Securities Position Management API enables financial institutions to effectively manage and update securities positions within their banking systems. This API supports operations related to modifying existing securities data, ensuring accurate position keeping and compliance with regulatory requirements. Typical consumers of this API include banking software platforms and investment management systems that require seamless integration for real-time updates. By utilizing this API, organizations can enhance their operational efficiency and maintain precise control over their securities holdings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping": {
      "put": {
        "tags": [
          "Securities Management"
        ],
        "summary": "Update Securities Position Keeping information.",
        "description": "This endpoint allows you to update the securities position keeping data for an account. It ensures that the most recent information is reflected in the account management system, allowing for accurate tracking of securities positions.",
        "operationId": "updateSecuritiesPositionKeeping",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body contains the parameters necessary to update the securities position keeping for an account. This includes identifying information for the account and details of the securities involved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSecuritiesPositionKeepingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the securities position has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSecuritiesPositionKeepingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSecuritiesPositionKeepingRequest": {
        "title": "Operations Request Body for Securities Position Keeping",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-680016"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-140689"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the ledger balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger.",
            "example": 100.0
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The identifier for the safekeeping account.",
            "example": "ACC-930049"
          },
          "custodyLocation": {
            "type": "string",
            "description": "The location where assets are held.",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The quantity of the position held.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "The unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking requests.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure idempotent requests.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "System A"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "Application A"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information for the request.",
            "example": {
              "requestId": "ff19c881-3b46-53d7-b5a6-32755f111f2f",
              "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
              "idempotencyKey": "65490124-39be-586a-b6be-c823148c72f7",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-766855"
              }
            }
          }
        },
        "description": "Request body schema for updating securities position keeping operation.",
        "example": {
          "accountId": "ACC-680016",
          "customerId": "CUST-140689",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "safekeepingAccountId": "ACC-930049",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "requestContext": {
            "requestId": "ff19c881-3b46-53d7-b5a6-32755f111f2f",
            "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
            "idempotencyKey": "65490124-39be-586a-b6be-c823148c72f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-766855"
            }
          }
        }
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateSecuritiesPositionKeepingResponse_200": {
        "title": "Securities Position Keeping Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-494933"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "CUST-343633"
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "Unique identifier for the safekeeping account.",
            "example": "ACC-379685"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the PUT operation in the securities position keeping service.",
        "example": {
          "accountId": "ACC-494933",
          "customerId": "CUST-343633",
          "safekeepingAccountId": "ACC-379685",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "db547a44-558f-5797-81d6-c28e0fe8a143",
            "correlationId": "ed455b03-7cc8-57ef-a3a8-f3503721b88b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema represents the metadata structure in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, allowing tracking and logging of API interactions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-upsert-securities-position-keeping"
        },
        "example": "securities-position-keeping-upsert-securities-position-keeping"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the API request, useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication mechanism using JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}