{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Customer Management Customer Credit Ratings-spec",
    "description": "The Customer Credit Ratings API enables businesses to access and manage customer credit ratings effectively. This endpoint allows for the retrieval of credit rating information for customers, facilitating informed decision-making for credit assessments. Typical consumers include financial institutions, credit analytics platforms, and customer relationship management systems, which require timely and accurate credit data to evaluate customer creditworthiness. Use cases include monitoring credit scores, generating reports, and assessing risk for loan approvals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-credit-rating": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer credit rating.",
        "description": "This endpoint allows you to fetch the credit rating of a specified customer based on their unique identifier. It provides essential insights into the customer's creditworthiness, which can assist in making informed business decisions.",
        "operationId": "listCustomerManagementCustomerCreditRatings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching the credit rating of a customer. This should include all necessary parameters required by the API to process the request accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCustomerManagementCustomerCreditRatingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer credit rating information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomerManagementCustomerCreditRatingsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCustomerManagementCustomerCreditRatingsRequest": {
        "type": "string",
        "description": "This schema represents the JSON object expected as a request body for getting the credit rating of a customer. The credit rating request body is a string value that reflects the customer's identification or credit rating request details.",
        "example": "{}"
      },
      "ListCustomerManagementCustomerCreditRatingsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer credit rating items.",
            "example": [
              {
                "customerId": "CUST-720211",
                "partyId": "PARTY-298326",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "ratingScale": "STANDARD",
                "currentRating": "STANDARD",
                "reviewReason": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerCreditRating"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer credit rating retrieval operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-720211",
              "partyId": "PARTY-298326",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "ratingScale": "STANDARD",
              "currentRating": "STANDARD",
              "reviewReason": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "349c71cc-551a-5753-967b-a8e9046eecc7",
            "correlationId": "215f6f90-2c72-5703-aee7-8864e424f343",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerCreditRating": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party related to the customer.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product related to the credit rating.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the credit rating became effective.",
            "example": "string"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship based on the credit rating.",
            "example": "string"
          },
          "ratingScale": {
            "type": "string",
            "description": "Scale used for the rating of the customer.",
            "example": "string"
          },
          "currentRating": {
            "type": "string",
            "description": "The current credit rating of the customer.",
            "example": "string"
          },
          "reviewReason": {
            "type": "string",
            "description": "Reason for the last review of the credit rating.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the credit rating record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a customer credit rating item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through various services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-credit-rating-search-customer-credit-rating"
        },
        "example": "customer-credit-rating-search-customer-credit-rating"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure access. The token must be included in the Authorization header as a 'Bearer' token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}