{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Operation Ng Create Customer Credit Ratings-spec",
    "description": "The Customer Credit Rating Creation Operations API provides a streamlined way for financial institutions to manage customer credit rating creation processes. This API allows users to list available operations for creating new customer credit ratings, ensuring that users have access to the necessary workflows. Typical consumers include banking application developers and financial analysts looking to integrate customer management functionalities into their systems. This facilitates better decision-making by providing essential credit rating information and operational capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-credit-rating/{param1}/operations/ng-create-customer-credit-rating": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a Customer Credit Rating",
        "description": "This endpoint allows users to create a new credit rating for a specified customer by using their customer ID. It handles the necessary validations and processes to ensure accurate credit rating creation.",
        "operationId": "listOperationNgCreateCustomerCreditRatings",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used for creating a new customer credit rating. It must include the necessary data to successfully register the credit rating for the specified customer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListOperationNgCreateCustomerCreditRatingsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created customer credit rating.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListOperationNgCreateCustomerCreditRatingsResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListOperationNgCreateCustomerCreditRatingsRequest": {
        "type": "string",
        "description": "Represents the request body for creating a customer credit rating in the customer management operation.",
        "example": "{}"
      },
      "CustomerCreditRatingResponse": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer.",
            "example": "PARTY-123"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the credit rating.",
            "example": "PRODUCT-XYZ"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource allocated for the credit rating.",
            "example": "RESOURCE-567"
          },
          "status": {
            "type": "string",
            "description": "Current status of the credit rating.",
            "example": "approved"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the credit rating was created.",
            "example": "2023-10-01T00:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the credit rating response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer credit rating details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE-987"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across different services.",
            "example": "CORRELATION-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T00:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the credit rating was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for tracking and processing purposes."
      },
      "ListOperationNgCreateCustomerCreditRatingsResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "example": "CUST-153759"
          },
          "partyId": {
            "type": "string",
            "example": "PARTY-590575"
          },
          "productCode": {
            "type": "string",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-635604"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "3198c1d8-d481-58a0-bc79-5a9513abee1c",
              "correlationId": "e0c320d3-1251-5f01-a14b-53500d3547fc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "customerId": "CUST-153759",
          "partyId": "PARTY-590575",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-635604",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3198c1d8-d481-58a0-bc79-5a9513abee1c",
            "correlationId": "e0c320d3-1251-5f01-a14b-53500d3547fc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-credit-rating-create-customer-credit-rating"
        },
        "example": "customer-credit-rating-create-customer-credit-rating"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow that this request is part of.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-046"
        },
        "example": "WF-046"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that initiated the creation of the customer credit rating.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Risk Rating Refresh"
        },
        "example": "Customer Risk Rating Refresh"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow process, indicating whether it is completed, in progress, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow, allowing tracking and logging of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0a6198c9-f54d-47f9-88c7-436080eb7337"
        },
        "example": "0a6198c9-f54d-47f9-88c7-436080eb7337"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, which involves providing a token as part of the request. The token must be a JSON Web Token (JWT) that validates the user's identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}