{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Banking Operational Services Processing Order-v5-spec",
    "description": "The Banking Operational Services Processing Order API facilitates the submission and management of operational service orders within the banking ecosystem. This API enables financial institutions to create processing orders efficiently, streamlining order fulfillment and operational workflows. Typically utilized by banking personnel and operational teams, it empowers them to initiate, track, and update service requests as necessary. By integrating this API, businesses can enhance their operational capabilities, ensuring timely and accurate service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order": {
      "post": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Process an operational order.",
        "description": "Initiates the processing of an operational order by submitting the necessary details. This endpoint is used to manage order processing effectively within the operational services framework.",
        "operationId": "createBankingOperationalServicesProcessingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for processing an order through the operational services. It should contain all the necessary data required for the order processing, ensuring that the format adheres to the specifications outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankingOperationalServicesProcessingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, and processing order initialized.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankingOperationalServicesProcessingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankingOperationalServicesProcessingOrderRequest": {
        "title": "ProcessingOrderRequest",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the order.",
            "example": "CUST-205429"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the customer.",
            "example": "ACC-135218"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the processing order.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to create a processing order.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-205429",
          "accountId": "ACC-135218",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "218b42c0-f1be-5ab2-9ef3-113bfa20c61e",
            "correlationId": "3737628a-2e7b-5a51-b0b8-722b9523a8f0",
            "idempotencyKey": "7c075952-0906-5341-ac88-4082530371e9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-550191"
            }
          }
        }
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-101"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs between different components.",
            "example": "correlation-202"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the same operation is not performed multiple times.",
            "example": "idempotency-303"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request context was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "source-system-404"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application identifier from which the request originates.",
            "example": "source-app-505"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-606"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-707"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "CreateBankingOperationalServicesProcessingOrderResponse_201": {
        "title": "Processing Order Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-276707"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-249035"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-850945"
          },
          "status": {
            "type": "string",
            "description": "Current status of the processing order.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the processing order was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ProcessingOrderMetadata"
          }
        },
        "description": "Schema representing the response for a processing order operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-276707",
          "accountId": "ACC-249035",
          "resourceId": "RES-850945",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "23d83a6f-0ad1-50d3-ac0c-6abc52bec03d",
            "correlationId": "3737628a-2e7b-5a51-b0b8-722b9523a8f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcessingOrderMetadata": {
        "title": "Processing Order Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp987"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "corr321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata related to the processing order."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-create-processing-order"
        },
        "example": "processing-order-create-processing-order"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs the Bearer authentication mechanism using JWT (JSON Web Tokens). Clients must include a valid Bearer token in the Authorization header of their HTTP requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}