{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Business Analysi By Param1-spec",
    "description": "The Business Analysis Update API enables authorized users to modify specific attributes of the business analysis for a given customer portfolio identified by a unique parameter. This API is essential for financial institutions seeking to keep customer data accurate and up-to-date based on evolving business needs. Typical consumers include analysts and banking professionals who wish to refine customer insights and enhance service offerings. The API supports targeted updates without affecting the entire analysis, ensuring efficiency and accuracy in data management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/customer-portfolio/{param1}": {
      "patch": {
        "tags": [
          "Customer Portfolio Management"
        ],
        "summary": "Update Customer Portfolio Details",
        "description": "This endpoint allows you to update the details of a specific customer portfolio identified by its unique ID. You can modify various attributes of the portfolio as per the business requirements.",
        "operationId": "updateBusinessAnalysiByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the attributes of the customer portfolio identified by CUST-100045. The payload must conform to the specified JSON schema to ensure that all required fields are included and in the correct format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessAnalysiByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBusinessAnalysiByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBusinessAnalysiByParam1Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes requested for the customer portfolio.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a PATCH operation on the customer portfolio.",
        "example": {
          "changes": {
            "analysisId": "STANDARD",
            "segmentId": "STANDARD",
            "periodStart": "2026-08-11"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5a223533-f7b8-5986-a8bb-9602b99889fa",
            "correlationId": "d1e7611c-9157-54d8-88b1-720bb06b0d0b",
            "idempotencyKey": "440948f1-9051-56f9-8647-b0bd8740af34",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-533000"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Identifier for the analysis related to the changes.",
            "example": "analysis-001"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the specific segment being modified.",
            "example": "segment-123"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the period for which the changes apply.",
            "example": "2023-01-01"
          }
        },
        "description": "Schema representing the changes to be made in the customer portfolio."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace related requests.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotency in request processing.",
            "example": "idempotent-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM-System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "CustomerManagementApp"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the communication channel for the request."
      },
      "UpdateBusinessAnalysiByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for updating customer portfolio operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "43a0f8bd-2aa0-5827-a2c8-9c8cd13dd354",
            "correlationId": "d1e7611c-9157-54d8-88b1-720bb06b0d0b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-portfolio-update-customer-portfolio"
        },
        "example": "customer-portfolio-update-customer-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, which is expected to be in the JWT (JSON Web Token) format. This method of authentication is commonly used for API access, ensuring secure transmission of claims-based information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}