{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Card Card Network Participant Facilitys-spec",
    "description": "The Card Network Participant Facilities API provides access to detailed information about various card network participant facilities within the banking sector. This endpoint allows users to retrieve a comprehensive list of participant facilities associated with card networks, aiding in understanding the distribution and capabilities of these facilities. Common consumers of this API include banking institutions, financial analysts, and developers integrating payment solutions. Use cases involve evaluating facility capabilities and ensuring compliance with network requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9003",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-network-participant-facility": {
      "get": {
        "tags": [
          "Card Network Management"
        ],
        "summary": "Retrieve Card Network Participant Facility details.",
        "description": "This endpoint allows developers to fetch detailed information about card network participant facilities, including their attributes and functionalities. Utilize this API call to access up-to-date data critical for managing card network interactions.",
        "operationId": "listCardCardNetworkParticipantFacilitys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint retrieves information related to card network participant facilities. The request body should include the necessary parameters in JSON format to specify the details of the query being made.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListCardCardNetworkParticipantFacilitysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved card network participant facility data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCardCardNetworkParticipantFacilitysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListCardCardNetworkParticipantFacilitysRequest": {
        "type": "string",
        "description": "Represents the JSON request body for getting card network participant facility operations.",
        "example": "{}"
      },
      "ListCardCardNetworkParticipantFacilitysResponse_200": {
        "title": "Card Network Participant Facility Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of card details.",
            "example": [
              {
                "cardToken": "TOK-586303",
                "cardholderId": "STANDARD",
                "merchantId": "MER-781606",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMetadata"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the returned results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving card network participant facility data, including details for each card and pagination metadata.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-586303",
              "cardholderId": "STANDARD",
              "merchantId": "MER-781606",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a525f052-2a22-5f9f-8154-e2872109e759",
            "correlationId": "8e187c33-d253-5d14-8963-f3009b10bd2e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardDetails": {
        "title": "Card Details",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique identifier for the card."
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder."
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction."
          },
          "transactionAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "integer",
                "description": "The transaction amount.",
                "format": "int32"
              },
              "currency": {
                "type": "string",
                "description": "The currency of the transaction amount."
              }
            },
            "description": "Details of the transaction amount."
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code for the merchant."
          },
          "serviceTier": {
            "type": "string",
            "description": "Tier associated with the service."
          },
          "availabilityTargetPercent": {
            "type": "integer",
            "description": "The target percentage of availability.",
            "format": "int32"
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Schema representing details of a card transaction."
      },
      "PaginationMetadata": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Metadata for paginated responses."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response is processed."
          }
        },
        "description": "Metadata regarding the response context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint, which may be used for tracking or logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-network-participant-facility-search-card-network-participant-facility"
        },
        "example": "card-network-participant-facility-search-card-network-participant-facility"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JWT (JSON Web Token) to be included in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}