{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Open Banking Pisp International Standing Order-v5-spec",
    "description": "MICROSERVICE-PROD-Create Open Banking Pisp International Standing Order-v5-spec",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "http://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "http://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders": {
      "post": {
        "operationId": "createOpenBankingPispInternationalStandingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenBankingPispInternationalStandingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "201Description",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenBankingPispInternationalStandingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenBankingPispInternationalStandingOrderRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "example": "string",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ReferredDocumentInformation": {
                              "type": "array",
                              "example": "string",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "Issuer": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "Number": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "RelatedDate": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "LineDetails": {
                                    "type": "array",
                                    "example": "string",
                                    "items": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "example": "string"
                              }
                            },
                            "ReferredDocumentAmount": {
                              "type": "string",
                              "example": "string"
                            },
                            "CreditorReferenceInformation": {
                              "type": "object",
                              "properties": {
                                "Code": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "Issuer": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "Reference": {
                                  "type": "string",
                                  "example": "string"
                                }
                              },
                              "example": "string"
                            },
                            "Invoicer": {
                              "type": "string",
                              "example": "string"
                            },
                            "Invoicee": {
                              "type": "string",
                              "example": "string"
                            },
                            "TaxRemittance": {
                              "type": "string",
                              "example": "string"
                            },
                            "AdditionalRemittanceInformation": {
                              "type": "array",
                              "example": "string",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "example": "string"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "example": "string",
                        "items": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "example": "string"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "example": "string"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "example": "string"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "example": "string"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US"
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "ada94368-2549-58f2-8044-c1ede3b2fc00",
              "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
              "idempotencyKey": "a53a5da4-88b9-59ee-af2b-e0eea1d3c71b",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-531562"
              }
            }
          }
        },
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "requestContext": {
            "requestId": "ada94368-2549-58f2-8044-c1ede3b2fc00",
            "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
            "idempotencyKey": "a53a5da4-88b9-59ee-af2b-e0eea1d3c71b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-531562"
            }
          }
        }
      },
      "CreateOpenBankingPispInternationalStandingOrderResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "string"
                    },
                    "description": {
                      "type": "string",
                      "example": "string"
                    },
                    "Path": {
                      "type": "string",
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "example": "string"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "example": "string"
                      }
                    },
                    "example": "string"
                  }
                },
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "example": "string",
                "items": {
                  "type": "object",
                  "properties": {
                    "ChargeBearer": {
                      "type": "string",
                      "example": "string"
                    },
                    "Type": {
                      "type": "string",
                      "example": "string"
                    },
                    "Amount": {
                      "type": "object",
                      "properties": {
                        "Amount": {
                          "type": "string",
                          "example": "string"
                        },
                        "Currency": {
                          "type": "string",
                          "example": "string"
                        }
                      },
                      "example": "string"
                    }
                  },
                  "example": "string"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "example": "string",
                        "items": {
                          "type": "object",
                          "properties": {
                            "ReferredDocumentInformation": {
                              "type": "array",
                              "example": "string",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Code": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "Issuer": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "Number": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "RelatedDate": {
                                    "type": "string",
                                    "example": "string"
                                  },
                                  "LineDetails": {
                                    "type": "array",
                                    "example": "string",
                                    "items": {
                                      "type": "string",
                                      "example": "string"
                                    }
                                  }
                                },
                                "example": "string"
                              }
                            },
                            "ReferredDocumentAmount": {
                              "type": "string",
                              "example": "string"
                            },
                            "CreditorReferenceInformation": {
                              "type": "object",
                              "properties": {
                                "Code": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "Issuer": {
                                  "type": "string",
                                  "example": "string"
                                },
                                "Reference": {
                                  "type": "string",
                                  "example": "string"
                                }
                              },
                              "example": "string"
                            },
                            "Invoicer": {
                              "type": "string",
                              "example": "string"
                            },
                            "Invoicee": {
                              "type": "string",
                              "example": "string"
                            },
                            "TaxRemittance": {
                              "type": "string",
                              "example": "string"
                            },
                            "AdditionalRemittanceInformation": {
                              "type": "array",
                              "example": "string",
                              "items": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "example": "string"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "example": "string",
                        "items": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    },
                    "example": "string"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "example": "string"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "example": "string"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "example": "string"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "example": "string"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "orderId": "ORD-489270",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "e9e467c3-88f3-5c8d-995c-b8f4b2379db9",
              "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "orderId": "ORD-489270",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "metadata": {
            "responseId": "e9e467c3-88f3-5c8d-995c-b8f4b2379db9",
            "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-international-standing-order"
        },
        "example": "payment-initiation-openapi-submit-international-standing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}