{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Business Direction By Param1-spec",
    "description": "The Business Direction Retrieval API facilitates access to strategic business direction data based on specific parameters. This endpoint allows users to obtain insights related to enterprise architecture by providing a unique identifier, {param1}. Ideal for business analysts, strategic planners, and product managers, this API streamlines the process of acquiring essential guidance for decision-making and strategic initiatives. Leverage this API to inform project direction and align organizational efforts with overarching business goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/enterprise-architecture/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve enterprise architecture resource.",
        "description": "Fetch the details of the enterprise architecture resource identified by RES-100045. This endpoint provides comprehensive information relevant to the specified resource, allowing for integration and application within business processes.",
        "operationId": "getBusinessDirectionByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the Enterprise Architecture for the specified resource identified by RES-100045. Ensure that the JSON payload adheres to the defined schema for correct processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessDirectionByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessDirectionByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessDirectionByParam1Request": {
        "type": "string",
        "description": "This schema represents a request body in JSON format for the GET operation related to enterprise architecture operations.",
        "example": "{}"
      },
      "GetBusinessDirectionByParam1Response_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The unique identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target date for the completion of the initiative.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the initiative.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the initiative was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for the Operations GET request.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f9bdaa33-23b0-5356-b7c3-e9c057f2b63b",
            "correlationId": "26c3d30b-0207-5f66-9e39-398699bd1c64",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests across systems.",
            "example": "corr_101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "2023-10-24T08:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing the metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-architecture-get-enterprise-architecture"
        },
        "example": "enterprise-architecture-get-enterprise-architecture"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for processing the request. This helps in identifying the source of the request in the service architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) as bearer tokens for securing API endpoints. Clients must include the JWT in the `Authorization` header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}