{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Institution Login Id Reconnection-spec",
    "description": "The Institution Login ID Reconnection API enables businesses to facilitate the re-establishment of institution login IDs for customers. This endpoint allows authorized users to initiate reconnection requests for specified customer accounts, enhancing user access continuity. It is particularly useful for financial institutions and service providers aiming to streamline their account management processes. Typical consumers of this API include customer service representatives and automated systems handling account recovery tasks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9009",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/customers/{customerId}/institution-login-ids/{param2}/reconnections": {
      "post": {
        "tags": [
          "CustomerManagement"
        ],
        "summary": "Reconnect a previously disconnected institution login ID for a customer.",
        "description": "This endpoint allows you to reconnect an institution login ID that was previously disconnected for a specified customer. Ensure you provide all required information to successfully complete the reconnection process.",
        "operationId": "createInstitutionLoginIdReconnection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/param2"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate reconnection for a specified institution login ID associated with the customer. It requires data formatted as JSON, following the specified schema, to successfully process the reconnection request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstitutionLoginIdReconnectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created for reconnection.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInstitutionLoginIdReconnectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInstitutionLoginIdReconnectionRequest": {
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for reconnection operations specifically for customer institution login IDs.",
        "example": {
          "requestContext": {
            "requestId": "b1e55df5-2f47-582a-b049-74f0f0e1dcf4",
            "correlationId": "4cc1e911-e1a5-5260-bcc4-91d124db1bb7",
            "idempotencyKey": "aa81a344-ce2e-51e3-a0a7-8f729af37b30",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-819807"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "12345-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and events across different systems.",
            "example": "67890-fghij"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are processed only once. Useful in handling retries.",
            "example": "abcde-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was initiated, formatted in ISO 8601.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "Customer Portal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information regarding the request processed."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel through which the request is made.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel, such as web, mobile, or API.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device used in the transaction, if applicable.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateInstitutionLoginIdReconnectionResponse_201": {
        "title": "Reconnection Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the reconnection response.",
            "example": "a9f039bf-f7b6-06eb-c5a0-ab8eec521c2b"
          },
          "eventStreamId": {
            "type": "string",
            "description": "Identifier for the event stream associated with the reconnection.",
            "example": "d8831ae1-966a-4edb-29d1-5841cb11557e"
          },
          "elements": {
            "type": "array",
            "description": "Array of elements related to the reconnection event.",
            "example": [
              {
                "id": "37038f0d-94a9-e787-fcca-a59a36569ac9",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReconnectionElement"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for reconnection operations, containing an identifier, event stream details, and metadata about the response.",
        "example": {
          "id": "a9f039bf-f7b6-06eb-c5a0-ab8eec521c2b",
          "eventStreamId": "d8831ae1-966a-4edb-29d1-5841cb11557e",
          "elements": [
            {
              "id": "37038f0d-94a9-e787-fcca-a59a36569ac9",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "ce215a5f-d32c-5088-ba43-c7370bc9b118",
            "correlationId": "4cc1e911-e1a5-5260-bcc4-91d124db1bb7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReconnectionElement": {
        "title": "Reconnection Element",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the element.",
            "example": "element-1"
          },
          "label": {
            "type": "string",
            "description": "Label of the element.",
            "example": "Element Label 1"
          },
          "sortOrder": {
            "type": "integer",
            "description": "Sort order of the element within the array.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Represents a single element in the reconnection response containing id, label, and sort order."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing the request through the system.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the reconnection response, containing various identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      },
      "param2": {
        "name": "param2",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint, used to track and log the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-reconnections"
        },
        "example": "open-finance-api-post-reconnections"
      },
      "x-runtime-app": {
        "description": "The name of the application that is making the API request, helping to identify the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses the Bearer authentication method. Clients are required to send a JSON Web Token (JWT) in the authorization header of their requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}