{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Deposit Lending By Param1-spec",
    "description": "This API allows for real-time updates to corporate loan deposit lending parameters. It enables financial institutions to adjust lending criteria dynamically based on specific requirements. This facilitates responsiveness to market changes and enhances customer service by ensuring that corporate lending conditions remain relevant. Common consumers of this API include banking software developers and financial analysts seeking to optimize lending operations. Utilize this endpoint to keep your lending parameters accurate and up-to-date.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-loan/{param1}": {
      "patch": {
        "tags": [
          "Corporate Loan Management"
        ],
        "summary": "Update a corporate loan.",
        "description": "This operation allows you to update the details of a specific corporate loan identified by the provided loan ID. Make sure to include the necessary fields in the request to modify the loan information appropriately.",
        "operationId": "updateDepositLendingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific information related to the corporate loan identified by LOAN-500045. Ensure that the necessary fields are included in the payload to successfully modify the loan details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepositLendingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the loan details were updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDepositLendingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDepositLendingByParam1Request": {
        "title": "Corporate Loan Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be applied to the corporate loan.",
            "$ref": "#/components/schemas/LoanChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the structure of a request body for updating corporate loan operations.",
        "example": {
          "changes": {
            "customerId": "CUST-859818",
            "accountId": "ACC-658773",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ade1875e-017e-5956-88ee-2c2c0c3ee3b9",
            "correlationId": "99d2c4ec-302a-57b8-ae25-095f304d8c3b",
            "idempotencyKey": "863b9738-de70-561b-8f30-5647732c9328",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-191400"
            }
          }
        }
      },
      "LoanChanges": {
        "title": "Loan Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the loan.",
            "example": "CUST12345"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the loan.",
            "example": "ACC12345"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product type.",
            "example": "PROD12345"
          }
        },
        "description": "Schema representing the details of changes applied to a loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is idempotent.",
            "example": "IDEMPOTENT123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SYSTEM_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "APP_B"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual details about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "CHAN123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing the channel details used in the request."
      },
      "UpdateDepositLendingByParam1Response_200": {
        "title": "Corporate Loan Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on corporate loan.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6c7048a4-5d40-5de4-9ad2-063a468a9d63",
            "correlationId": "99d2c4ec-302a-57b8-ae25-095f304d8c3b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across multiple services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata schema containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint that was called during the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-loan-update-corporate-loan"
        },
        "example": "corporate-loan-update-corporate-loan"
      },
      "X-Runtime-App": {
        "description": "The identifier of the application that executed this API request, providing context for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token authorization method, which enables secure data transmission by requiring a JSON Web Token (JWT) for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}