{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Partner Application Submission API",
    "description": "The Partner Application Submission API facilitates the onboarding of partners by enabling the submission of applications through a streamlined process. This API allows partners to create and submit their application data, ensuring that all necessary information is captured for evaluation. Typical consumers include partner organizations seeking to initiate collaboration or contractual agreements. The API supports various application attributes, enhancing the efficiency of partner integration and relationship management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications": {
      "post": {
        "tags": [
          "Partnership Management"
        ],
        "summary": "Create a new partner application",
        "description": "This endpoint allows the client to create a new partner application by submitting the relevant details required for partnership consideration. Ensure that all required fields are properly filled out for successful submission.",
        "operationId": "createPartnerApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new partner application. This payload should contain all required fields to successfully submit an application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new application resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartnerApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartnerApplicationRequest": {
        "type": "object",
        "properties": {
          "appDescription": {
            "type": "string",
            "description": "A brief description of the application.",
            "example": "STANDARD"
          },
          "appName": {
            "type": "string",
            "description": "The name of the application.",
            "example": "Northstar Banking Service"
          },
          "appUrl": {
            "type": "string",
            "description": "The URL where the application can be accessed.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "ownerAddressLine1": {
            "type": "string",
            "description": "First line of the owner's address.",
            "example": "STANDARD"
          },
          "ownerAddressLine2": {
            "type": "string",
            "description": "Second line of the owner's address (optional).",
            "example": "STANDARD"
          },
          "ownerCity": {
            "type": "string",
            "description": "The city where the owner resides.",
            "example": "STANDARD"
          },
          "ownerCountry": {
            "type": "string",
            "description": "The country where the owner resides.",
            "example": "STANDARD"
          },
          "ownerName": {
            "type": "string",
            "description": "The name of the owner of the application.",
            "example": "Northstar Banking Service"
          },
          "ownerPostalCode": {
            "type": "string",
            "description": "The postal code of the owner's address.",
            "example": "CODE-126"
          },
          "ownerState": {
            "type": "string",
            "description": "The state where the owner resides.",
            "example": "STANDARD"
          },
          "image": {
            "type": "string",
            "description": "A URL to an image representing the application.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-12345678"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier that helps correlate requests and responses.",
                "example": "corr-87654321"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure idempotency in processing requests.",
                "example": "idempotent-key-1"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system that initiated the request.",
                "example": "CRM System"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The specific application that is sending the request.",
                "example": "Sales App"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Unique identifier for the channel.",
                    "example": "channel-001"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of the channel (e.g. Web, Mobile).",
                    "example": "Web"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier for the device used to make the request.",
                    "example": "device-123456"
                  }
                },
                "description": "Details about the channel used for the request."
              }
            },
            "description": "Context information for the request.",
            "example": {
              "requestId": "b24ef130-5a90-5793-915d-3518b89f652f",
              "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
              "idempotencyKey": "fa86c645-e902-513b-92cf-90c15f44db74",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-451820"
              }
            }
          }
        },
        "example": {
          "appDescription": "STANDARD",
          "appName": "Northstar Banking Service",
          "appUrl": "https://banking.northstar.example/callbacks/status",
          "ownerAddressLine1": "STANDARD",
          "ownerAddressLine2": "STANDARD",
          "ownerCity": "STANDARD",
          "ownerCountry": "STANDARD",
          "ownerName": "Northstar Banking Service",
          "ownerPostalCode": "CODE-126",
          "ownerState": "STANDARD",
          "image": "STANDARD",
          "requestContext": {
            "requestId": "b24ef130-5a90-5793-915d-3518b89f652f",
            "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
            "idempotencyKey": "fa86c645-e902-513b-92cf-90c15f44db74",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-451820"
            }
          }
        }
      },
      "CreatePartnerApplicationResponse_201": {
        "title": "Application Response",
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "description": "Unique identifier for the pre-application.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the application.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Metadata related to the application response.",
            "$ref": "#/components/schemas/ApplicationMetadata"
          }
        },
        "description": "Schema representing the response of an application submission.",
        "example": {
          "preAppId": 1,
          "status": "ACTIVE",
          "metadata": {
            "responseId": "e0dfe30d-c701-5d26-aa27-7be292355c7b",
            "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ApplicationMetadata": {
        "title": "Application Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the application was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint to which the request was made.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-register-app"
        },
        "example": "open-finance-api-register-app"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication method using the Bearer token scheme, which utilizes JSON Web Tokens (JWT) to securely transmit information between parties. Ensure that the token is included in the Authorization header of your requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}