{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Update Marketing By Param1-spec",
    "description": "This API updates specified promotional events within the marketing framework of the banking service. By providing the unique identifier 'param1', clients can modify details of existing marketing campaigns to reflect changes in strategy or offers. This API is primarily used by marketing teams and system integrators to keep promotional information current and relevant. Use cases include updating event dates, descriptions, or target audiences to enhance customer engagement and drive results.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events/{param1}": {
      "patch": {
        "tags": [
          "Promotional Events"
        ],
        "summary": "Update a promotional event",
        "description": "This operation allows you to update the details of a specific promotional event identified by its unique resource ID. You can modify attributes such as title, description, and date to keep your promotional event up-to-date.",
        "operationId": "updateMarketingByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the promotional event identified by RES-100045. This object contains the fields that need to be modified or updated in the existing promotional event.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketingByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketingByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketingByParam1Request": {
        "title": "Promotional Event Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the details of the changes to be applied to the promotional event.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating promotional events in the marketing system.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9e785427-d562-5ea5-a13f-cf02a03afb63",
            "correlationId": "8d399922-5387-5233-9032-b346329ac3c2",
            "idempotencyKey": "8e1703cf-fa70-51a6-8e18-ae74e1cba7ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-836430"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes to Promotional Event",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the marketing campaign.",
            "example": "campaign-456"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target user segment for the campaign.",
            "example": "segment-789"
          },
          "channelMix": {
            "type": "array",
            "description": "List of communication channels to be used in the campaign.",
            "items": {
              "type": "string",
              "example": "email"
            }
          }
        },
        "description": "Schema representing the changes to the promotional event."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking requests across systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2022-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system generating the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "MarketingApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., Email, SMS).",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to communicate.",
            "example": "device-456"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "UpdateMarketingByParam1Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on promotional events.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4e40fff7-4379-5e70-acc6-dcfca4b52a55",
            "correlationId": "8d399922-5387-5233-9032-b346329ac3c2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the operation occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing identifiers and processing information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-update-promotional-events"
        },
        "example": "promotional-events-update-promotional-events"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, which can help in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of each request. The token provides a means to verify the user's identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}