{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payments Information API",
    "description": "The Domestic Payments Information API allows users to access detailed information about domestic payments processed through the Open Banking platform. This endpoint supports retrieval of payment details, making it ideal for financial institutions, payment service providers, and other businesses involved in payment processing. By enabling these stakeholders to fetch specific payment information, the API aids in reconciliation, reporting, and enhancing user experiences. Typical use cases include verifying payment statuses and retrieving transaction records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payments/{param1}": {
      "get": {
        "tags": [
          "Domestic Payments"
        ],
        "summary": "Retrieve Domestic Payment Details",
        "description": "Fetches the details of a specific domestic payment identified by its unique ID. This endpoint provides comprehensive payment information for effective tracking and management.",
        "operationId": "getPispDomesticPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for retrieving information about the domestic payment specified by the payment ID PAY-300045. It is crucial for ensuring that the request captures all necessary parameters needed to fetch the relevant details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispDomesticPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispDomesticPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispDomesticPaymentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the 'GET' operation related to domestic payments in the PISP service, indicating the required structure for the application/json content type.",
        "example": "{}"
      },
      "GetPispDomesticPaymentByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticPaymentId": {
                "type": "string",
                "description": "Unique identifier for the domestic payment.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the payment.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp when the payment was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the domestic payment.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the latest status update.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the payment.",
                "example": [
                  {}
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for the execution of the payment.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for settlement of the payment.",
                "example": "string"
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/Refund"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "example": [
                  {}
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/Initiation"
              },
              "metadata": {
                "type": "object",
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains detailed information about the domestic payment.",
            "example": {
              "DomesticPaymentId": "PAY-994873",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for the domestic payment operation.",
        "example": {
          "Data": {
            "DomesticPaymentId": "PAY-994873",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "b2488c8b-f200-5af1-8acd-b05f1256e7a6",
            "correlationId": "a688c41a-0c07-5c58-b8d4-83a3adc0ce29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the status reason.",
            "example": "string"
          }
        },
        "description": "Details of the status reason for a payment."
      },
      "Refund": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "description": "Account details for the refund.",
            "$ref": "#/components/schemas/RefundAccount"
          }
        },
        "description": "Information related to the refund process."
      },
      "RefundAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identifier for the account.",
            "example": "string"
          }
        },
        "description": "Details of the account related to the refund."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "description": "Amount associated with the charge.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Information regarding charges applied to the payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Numerical value of the amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          }
        },
        "description": "Details of the payment amount and currency."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification for tracking the payment end-to-end.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "type": "object",
            "description": "Amount being instructed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "type": "object",
            "description": "Account details of the debtor.",
            "$ref": "#/components/schemas/DebtorAccount"
          },
          "CreditorAgent": {
            "type": "object",
            "description": "Details of the creditor's financial institution.",
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details needed to initiate the payment."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the debtor's account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the debtor's account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the debtor's account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identifier for the debtor's account.",
            "example": "string"
          },
          "Proxy": {
            "type": "object",
            "description": "Proxy details related to the debtor's account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details of the debtor's account."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the creditor's agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the creditor's agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the creditor's agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the creditor's agent.",
            "example": "string"
          },
          "PostalAddress": {
            "type": "object",
            "description": "Postal address details of the creditor's agent.",
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Information regarding the creditor's financial institution."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification for the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code representing the proxy type.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy.",
            "example": "string"
          }
        },
        "description": "Proxy details for the debtor's account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, commercial).",
            "example": "string"
          }
        },
        "description": "Structure representing the postal address of an entity."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the payment occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the endpoint being called, allowing for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment"
        },
        "example": "payment-initiation-openapi-get-domestic-payment"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application that is executing the request, useful for identifying the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication to provide access to protected resources. It requires a valid JSON Web Token (JWT) to be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}