{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Valuation Models API",
    "description": "The Financial Instrument Valuation Models API provides users with the ability to access and retrieve various financial valuation models utilized within banking and finance sectors. This API serves as a resource for analysts, developers, and institutions seeking to evaluate financial instruments' worth and make informed investment decisions. By leveraging this API, users can fetch detailed data on different valuation models, enhancing their analytical capabilities and ensuring effective risk management. Typical use cases include retrieving historical model data or finding specific valuation methodologies applicable to various financial products.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9005",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/financial-instrument-valuation-models": {
      "get": {
        "tags": [
          "Financial Instruments"
        ],
        "summary": "Retrieve Financial Instrument Valuation Models",
        "description": "Fetches a list of financial instrument valuation models available in the system, allowing users to access detailed information and analytics related to each model.",
        "operationId": "getFinancialInstrumentValuationModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial instrument valuation models. It should include the necessary parameters to specify the models being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialInstrumentValuationModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial instrument valuation models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialInstrumentValuationModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialInstrumentValuationModelsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on financial instrument valuation models in application/json format.",
        "example": "{}"
      },
      "GetFinancialInstrumentValuationModelsResponse_200": {
        "title": "Financial Instrument Valuation Model Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial instrument valuation model items.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-373179",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "instrumentType": "STANDARD",
                "ticker": "STANDARD",
                "issueCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ValuationModelItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the list of valuation model items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response for the GET operation on financial instrument valuation models, including a list of model items, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-373179",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "instrumentType": "STANDARD",
              "ticker": "STANDARD",
              "issueCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ac13f836-1a74-5181-b8de-5c380d1f99e0",
            "correlationId": "3d16e53a-0df2-552f-b2c9-78e827978943",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ValuationModelItem": {
        "title": "Valuation Model Item",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument valuation model.",
            "example": "string"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the financial instrument valuation model.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio the model is associated with.",
            "example": "string"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date for which the valuation is applicable.",
            "example": "string"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the valuation is conducted.",
            "example": "string"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level of the valuation outcome.",
            "example": 0.0
          },
          "instrumentType": {
            "type": "string",
            "description": "The type of financial instrument.",
            "example": "string"
          },
          "ticker": {
            "type": "string",
            "description": "The ticker symbol for the financial instrument.",
            "example": "string"
          },
          "issueCurrency": {
            "type": "string",
            "description": "The currency in which the instrument is issued.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the record.",
            "example": "string"
          }
        },
        "description": "A schema representing an individual financial instrument valuation model item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the items.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "A schema representing pagination information related to the response."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "A schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header indicates the unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-models-search-financial-instrument-valuation-models"
        },
        "example": "financial-instrument-valuation-models-search-financial-instrument-valuation-models"
      },
      "X-Runtime-App": {
        "description": "This header specifies the name of the application that is currently executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, a widely used standard for API authentication. It requires a token formatted as a JSON Web Token (JWT) to be included in the authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}