{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Item Update API",
    "description": "The Product Inventory Item Update API allows businesses to modify existing product inventory details within their system. By utilizing this endpoint, users can efficiently update attributes such as quantity, pricing, and specifications of specific inventory items. This API serves ecommerce platforms and inventory management systems, enabling seamless adjustments to inventory listings. The operation supports typical use cases such as price changes in response to market conditions and stock updates to maintain accurate availability information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management/{param1}": {
      "patch": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Update Product Inventory Item",
        "description": "This endpoint allows you to update the details of a specific product inventory item identified by PROD-700045. Ensure that you have the correct inventory item details to successfully perform the update.",
        "operationId": "patchProductInventoryItemManagementForProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the product inventory item with the specified ID. This payload should contain the necessary fields to modify the existing inventory item details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProductInventoryItemManagementForProd700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchProductInventoryItemManagementForProd700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchProductInventoryItemManagementForProd700045Request": {
        "title": "Product Inventory Item Management PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ProductInventoryChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating a product inventory item. It contains changes to the item along with relevant metadata.",
        "example": {
          "changes": {
            "inventoryItemId": "STANDARD",
            "sku": "STANDARD",
            "branchId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3ebb6e96-d3d0-52f6-90be-d698a5609e33",
            "correlationId": "e7e8fef3-26b7-5918-8da6-8ebb3bfa4755",
            "idempotencyKey": "2ac1d5e0-67af-5788-9c4f-24cb8f9528c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-286464"
            }
          }
        }
      },
      "ProductInventoryChanges": {
        "title": "Product Inventory Changes",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "The unique identifier of the inventory item.",
            "example": "item123"
          },
          "sku": {
            "type": "string",
            "description": "The stock keeping unit identifier for the inventory item.",
            "example": "sku-001"
          },
          "branchId": {
            "type": "string",
            "description": "The identifier of the branch where the inventory item is located.",
            "example": "branch-001"
          }
        },
        "description": "Contains details about the changes being requested for a product inventory item."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking requests across different systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests do not have unintended effects.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "2023-10-12T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "inventory-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "inventory-app"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contains metadata related to the request context for auditing and tracking purposes."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device making the request.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel from which the request originated."
      },
      "PatchProductInventoryItemManagementForProd700045Response_200": {
        "title": "Product Inventory Item Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the PATCH operation on product inventory item management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "927325b4-dba8-5f08-bef4-7c0a0e877767",
            "correlationId": "e7e8fef3-26b7-5918-8da6-8ebb3bfa4755",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace related requests.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response for tracking and identification purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-update-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-update-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients can authenticate by including a JSON Web Token (JWT) in the Authorization header. The JWT must be generated following the proper scheme and includes claims that are validated on the server side.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}