{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Replace External Agency By Param1-spec",
    "description": "The External Agency Management API provides capabilities for updating the details of specific external agencies within the correspondent bank directory. By utilizing this endpoint, businesses can manage their relationships with external agencies efficiently, ensuring accurate and up-to-date information. Typical consumers of this API include banking institutions and financial service providers looking to maintain their counterparties. This API facilitates operations to modify critical data related to external agencies, streamlining the overall banking process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9007",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-directory/{param1}": {
      "put": {
        "tags": [
          "Correspondent Bank Management"
        ],
        "summary": "Update Correspondent Bank Directory Entry",
        "description": "This endpoint allows you to update the details of a specific correspondent bank entry in the agency's directory. Ensure that all required fields are included in the request body to successfully modify the entry.",
        "operationId": "replaceExternalAgencyByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the correspondent bank information for the specified resource. It should include all necessary fields and values that need to be modified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceExternalAgencyByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceExternalAgencyByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReplaceExternalAgencyByParam1Request": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement associated with the institution.",
            "example": "AGR-668882"
          },
          "bic": {
            "type": "string",
            "description": "Business Identifier Code for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the changes become effective, formatted as YYYY-MM-DD.",
            "example": "2026-09-15"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account associated with the institution.",
            "example": "ACC-864925"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settling transactions with the institution.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current status of the relationship with the institution.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate multiple related requests.",
                "example": "CORR12345"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure idempotency of the operation.",
                "example": "IDEMPOTENCY123"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made, formatted as ISO 8601.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Identifier for the system from which the request originated.",
                "example": "SystemA"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Identifier for the application from which the request originated.",
                "example": "App1"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual details about the request.",
            "example": {
              "requestId": "a4665455-b62a-53fb-812f-55ce374b6acb",
              "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
              "idempotencyKey": "1cc39a67-5064-50a7-8e69-bfd5251a6595",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-555544"
              }
            }
          }
        },
        "description": "Schema for updating correspondent bank information in the external agency system.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-668882",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "nostroAccountId": "ACC-864925",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "requestContext": {
            "requestId": "a4665455-b62a-53fb-812f-55ce374b6acb",
            "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
            "idempotencyKey": "1cc39a67-5064-50a7-8e69-bfd5251a6595",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-555544"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "ReplaceExternalAgencyByParam1Response_200": {
        "title": "Correspondent Bank Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the financial institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement associated with the institution.",
            "example": "AGR-516541"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code where the institution is located.",
            "example": "US"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "The identifier for the nostro account held by the institution.",
            "example": "ACC-643993"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the correspondence with the bank.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the correspondent banking relationship.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when this record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Correspondent Bank operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-516541",
          "countryCode": "US",
          "nostroAccountId": "ACC-643993",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "30ae6b66-0ba4-5e2c-940b-9695914dee83",
            "correlationId": "c57b9b95-1def-560c-9c73-1f48ff072473",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-99999"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request across systems.",
            "example": "corr-abc456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response of the correspondent bank operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-directory-upsert-correspondent-bank-directory-record"
        },
        "example": "correspondent-bank-directory-upsert-correspondent-bank-directory-record"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) that follows the Bearer authentication framework. The client must include a valid JWT in the Authorization header of requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}