{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get It Management By Param1-spec",
    "description": "The IT Management Retrieval API provides access to critical information related to IT management within a development environment. By using the specified parameter, consumers can retrieve detailed management data that aids in monitoring and decision-making processes. This API is designed for developers and IT professionals who require real-time insights into their operational environments. Typical use cases include troubleshooting, resource management, and performance analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/development-environment/{param1}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve a specific development environment by its ID.",
        "description": "This endpoint allows you to fetch the details of a development environment identified by its unique ID (RES-100045). It provides detailed information about the environment settings, configurations, and related resources, helping you manage your IT development resources effectively.",
        "operationId": "getItManagementByParam1",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving details about the specific development environment identified by RES-100045. This request is essential for clients seeking to access or manipulate data pertinent to the listed resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItManagementByParam1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItManagementByParam1Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetItManagementByParam1Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the context of IT management development environment. This is a placeholder for the request payload.",
        "example": "{}"
      },
      "GetItManagementByParam1Response_200": {
        "title": "Development Environment Response",
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "Unique identifier for the environment.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "Identifier of the application associated with the environment.",
            "example": "APP-905090"
          },
          "runtime": {
            "type": "string",
            "description": "The runtime environment used by the application.",
            "example": "STANDARD"
          },
          "region": {
            "type": "string",
            "description": "The geographical region where the environment is hosted.",
            "example": "New York"
          },
          "dataClassification": {
            "type": "string",
            "description": "Classification of the data stored in this environment.",
            "example": "STANDARD"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration date and time of the environment in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the environment configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the environment in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata for the environment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a GET request on development environment operations.",
        "example": {
          "environmentId": "STANDARD",
          "applicationId": "APP-905090",
          "runtime": "STANDARD",
          "region": "New York",
          "dataClassification": "STANDARD",
          "expiresAt": "2026-08-11T12:00:00Z",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b835ebf4-093d-5fdb-aa8d-738f7fbfb2d1",
            "correlationId": "fb11defa-3e9e-577c-aa43-2eb52a9be7c9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests or responses.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated in ISO 8601 format.",
            "example": "2023-02-14T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing additional metadata related to the development environment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "development-environment-get-development-environment"
        },
        "example": "development-environment-get-development-environment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a Bearer token. The token, of type JSON Web Token (JWT), is passed via the 'Authorization' header in requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}