{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Approved Supplier Validation API",
    "description": "The Approved Supplier Validation API enables businesses to validate suppliers within the Approved Supplier Directory. This endpoint facilitates the submission of validation requests for specific suppliers identified by unique parameters. Typical consumers include procurement teams and compliance officers tasked with ensuring supplier legitimacy and adherence to company standards. By leveraging this API, organizations can streamline their supplier onboarding process and maintain an up-to-date directory of validated suppliers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Approved Supplier Directory"
        ],
        "summary": "Validate an approved supplier directory entry.",
        "description": "This endpoint validates the entry for an approved supplier in the specified approved supplier directory. This ensures the data integrity and correctness of supplier information before processing further actions.",
        "operationId": "validateApprovedSupplierDirectory_RES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/param1"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate the approved supplier directory entry with ID RES-100045. It requires specific data compliant with the defined schema to ensure the validation process is executed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateApprovedSupplierDirectory_RES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, validation results returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateApprovedSupplierDirectory_RES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ValidateApprovedSupplierDirectory_RES100045Request": {
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "An array of validation scopes that define the range of validations to be performed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validations are requested, formatted as an ISO 8601 string.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that requested the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request, such as identifiers and source information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for the POST operation in the approved supplier directory validations API.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9ea3556e-3efc-5368-b6d3-9c550f2d903e",
            "correlationId": "595d70a4-6789-54ed-b4a4-4c47e4d5fdaa",
            "idempotencyKey": "a82d6117-0f2d-5977-a6d6-7bbc39fce6d1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-960997"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace related requests across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request can be retried without unintended effects.",
            "example": "idemp-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, formatted as an ISO 8601 string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name or identifier of the system that is the source of the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "A schema to hold contextual data for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel used in the request.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request is initiated (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to send the request, if applicable.",
            "example": "device-xyz"
          }
        },
        "description": "A schema representing the channel details from which the request originates."
      },
      "ValidateApprovedSupplierDirectory_RES100045Response_200": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference to the action being taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "90f909fd-5b3f-52f7-8c1c-1c883ce73b85",
            "correlationId": "595d70a4-6789-54ed-b4a4-4c47e4d5fdaa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating logs or requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional information about the operation and its processing context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "param1": {
        "name": "param1",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-validate-approved-supplier-directory"
        },
        "example": "approved-supplier-directory-validate-approved-supplier-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which provides a token for authorization in the form of a JSON Web Token (JWT). This allows clients to securely authenticate with the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}