{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Get Marketing By Advertising Id-spec",
    "description": "The Marketing Information Retrieval API enables businesses to obtain marketing data associated with a specific advertising identifier. This endpoint allows users to pull details such as campaign performance, target demographics, and engagement metrics linked to advertising efforts. Typical consumers of this API include marketing analysts and data scientists who require insights for reporting and optimization. By leveraging this API, organizations can enhance their advertising strategies based on actionable data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9000",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/advertising/{advertisingId}": {
      "get": {
        "tags": [
          "Advertising"
        ],
        "summary": "Retrieve advertising details for the specified resource.",
        "description": "This endpoint allows users to fetch detailed information about the advertising resource identified by RES-100045. It provides insights into the campaign performance, target demographics, and engagement metrics.",
        "operationId": "getMarketingByAdvertisingId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/advertisingId"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving advertising details. This body must contain necessary information that specifies what advertising campaign data is being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketingByAdvertisingIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved advertising resource data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketingByAdvertisingIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketingByAdvertisingIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to marketing advertising.",
        "example": "{}"
      },
      "GetMarketingByAdvertisingIdResponse_200": {
        "title": "Marketing Advertising Campaign Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment associated with the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Channel name.",
              "example": "string"
            }
          },
          "budget": {
            "description": "Budget details for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the campaign record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the campaign record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a marketing advertising campaign operation.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2d371eba-ec16-52c8-84cd-93f2f4dff403",
            "correlationId": "aeec90b6-4420-5b0f-ba6b-3ea140ef63b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Campaign Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The budget amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget is specified.",
            "example": "string"
          }
        },
        "description": "Details regarding the budget allocated for a marketing campaign."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the marketing campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "advertisingId": {
        "name": "advertisingId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advertising-get-advertising"
        },
        "example": "advertising-get-advertising"
      },
      "X-Runtime-App": {
        "description": "The name of the application that was executed during the request processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, allowing clients to authenticate by sending a bearer token. The token is formatted as a JSON Web Token (JWT), which encodes user identity and claims in a compact and secure way.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}