{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Customer Consumer Loan Application-spec",
    "description": "This API allows financial institutions to submit consumer loan applications for customers by providing the necessary details. It enables users to input essential application data linked to a specific customer, streamlining the loan processing workflow. Typical consumers of this API include banking representatives and loan officers who aid customers in the application process. By integrating this API, businesses can enhance efficiency and improve customer service in loan management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customers/{customerId}/consumer-loan-applications": {
      "post": {
        "tags": [
          "Customer Loan Applications"
        ],
        "summary": "Create a new consumer loan application for a specific customer.",
        "description": "This endpoint allows you to create a new consumer loan application for the specified customer ID. Upon successful submission, a loan application record will be generated and associated with the customer, enabling further processing and follow-up actions.",
        "operationId": "createCustomerConsumerLoanApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a consumer loan application for the customer identified by CUST-100045. It should contain all necessary data as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerConsumerLoanApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loan application created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerConsumerLoanApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerConsumerLoanApplicationRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-617753"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the loan application.",
            "example": "ACC-721590"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the type of loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency for the loan application.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context details for the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a consumer loan application.",
        "example": {
          "customerId": "CUST-617753",
          "accountId": "ACC-721590",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "401ee5f4-19dd-5851-97c8-f49da2aa6c6b",
            "correlationId": "5bf7f048-7b11-55c6-8f7f-5b9ed50f0ea4",
            "idempotencyKey": "f460713f-dd9c-50d1-975e-cd6c526158fd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-634305"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount for the loan.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency for a loan."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "CORR-345678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure idempotency of the request.",
            "example": "IDEMP-912345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "InternalBillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "LoanApplicationApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Schema representing the channel details for the request."
      },
      "CreateCustomerConsumerLoanApplicationResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-584900"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the customer.",
            "example": "ACC-431436"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product for the loan application.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the loan application resource.",
            "example": "RES-440356"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the loan application.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for consumer loan applications.",
        "example": {
          "customerId": "CUST-584900",
          "accountId": "ACC-431436",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-440356",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4cee9841-0ced-5073-88cf-39a392bb9e57",
            "correlationId": "5bf7f048-7b11-55c6-8f7f-5b9ed50f0ea4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-111223"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "CORR-456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the application was processed.",
            "example": "US-West"
          }
        },
        "description": "Metadata information for the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-create-consumer-loan"
        },
        "example": "consumer-loan-create-consumer-loan"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the processing of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-033"
        },
        "example": "WF-033"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the consumer loan application process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Auto and Consumer Loan Origination"
        },
        "example": "Auto and Consumer Loan Origination"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating progress or status of the loan application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and auditing the loan application process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e526489b-eeea-4eed-8fb1-9730f1d2ade7"
        },
        "example": "e526489b-eeea-4eed-8fb1-9730f1d2ade7"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) for secure access to the API. Clients must include a valid JWT in the 'Authorization' header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}