{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Administration API",
    "description": "The Systems Administration API provides essential tools for managing IT resources and systems within the banking infrastructure. This API enables users to retrieve information about system configurations, monitor performance metrics, and oversee resource allocation. It is designed for IT administrators and technical teams who require insights into system operations to ensure efficiency and compliance. Common use cases include system audits, performance monitoring, and configuration management, facilitating a robust IT management strategy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-administration": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve systems administration details.",
        "description": "This endpoint allows you to fetch the current details and status of systems administration within the IT management ecosystem. It provides essential information required for monitoring and managing IT systems effectively.",
        "operationId": "getSystemsAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the details related to systems administration operations. It should include the necessary parameters in the specified JSON format as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSystemsAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of systems.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSystemsAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSystemsAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the JSON payload expected in the request body for the GET operation related to systems administration.",
        "example": "{}"
      },
      "GetSystemsAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of system objects detailing various attributes of each system.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationMetadata"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation in the systems administration endpoint, containing an array of system items and pagination metadata.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "76233afa-2576-5be7-b05d-ec4761249297",
            "correlationId": "9fc3684f-fe63-5c7a-87fb-31687da93e80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system."
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates (e.g., production, staging)."
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the latest change made to the system."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for managing the system."
          },
          "plannedAt": {
            "type": "string",
            "description": "The timestamp of when the next planned event for the system will occur."
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier level assigned to the system."
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system."
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The scheduled maintenance window for the system."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the system record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the system details were last updated."
          }
        },
        "description": "Represents a single system's details in the response."
      },
      "PaginationMetadata": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Metadata for pagination of the results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the specific response."
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID used for tracing requests across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place."
          }
        },
        "description": "Metadata included in the response for tracking and correlation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-administration-search-systems-administration"
        },
        "example": "systems-administration-search-systems-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses a Bearer token for authentication. The token must be provided in the request header as a JWT (JSON Web Token).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}