{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-Create Pisp Domestic Scheduled Payment-spec",
    "description": "The Domestic Scheduled Payment Creation API enables financial institutions to facilitate the setup of scheduled domestic payments. This API allows users to automate their payment processes on a predetermined schedule, ensuring timely transfers without manual intervention. Typical consumers include banks and payment service providers who wish to enhance their digital banking offerings and improve customer experience. By leveraging this API, businesses can efficiently manage customer payments while adhering to Open Banking standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://payments-app:9002",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Create a domestic scheduled payment.",
        "description": "This operation allows the creation of a domestic scheduled payment through the PISP (Payment Initiation Service Provider). It provides a way for users to effectively schedule payments at their convenience, ensuring timely transactions according to their needs.",
        "operationId": "createPispDomesticScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a domestic scheduled payment through the PISP API. It includes all necessary information for processing the scheduled payment, ensuring compliance with regulations and providing clarity on the transaction details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispDomesticScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new scheduled payment.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispDomesticScheduledPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispDomesticScheduledPaymentRequest": {
        "title": "Domestic Scheduled Payments Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for initiating domestic scheduled payments.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "ee9fe29a-56c1-58a7-b4a5-4b3f7c76746b",
            "correlationId": "10c45560-debc-54f7-b787-4fb53bedb98d",
            "idempotencyKey": "8e3b6704-e53b-5b1a-ac94-c29949e1f122",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-584705"
            }
          }
        }
      },
      "PaymentData": {
        "title": "Payment Data",
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent provided for the payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Details regarding the payment initiation and related accounts."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification to trace the payment at the end-to-end level.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Code indicating the local instrument to be used for the payment.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The requested date and time for payment execution.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Information required to initiate a payment."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money to be transferred.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Amount to be transferred in the payment."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the account scheme.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "A unique identifier for the account.",
            "example": "DE89370400440532013000"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "An additional identifier for the account.",
            "example": "ref-123"
          },
          "Proxy": {
            "type": "object",
            "properties": {
              "Identification": {
                "type": "string",
                "description": "The identifier for the proxy.",
                "example": "proxy-123"
              },
              "Code": {
                "type": "string",
                "description": "The code type of the proxy.",
                "example": "sms"
              },
              "Type": {
                "type": "string",
                "description": "The type of the proxy.",
                "example": "mobile"
              }
            },
            "description": "Proxy details for the account if applicable."
          }
        },
        "description": "Represents a financial account."
      },
      "Proxy": {
        "title": "Proxy Information",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the proxy.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Code representing the type of proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy being used.",
            "example": "string"
          }
        },
        "description": "Details regarding the proxy used for the account."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with others.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the same request is not processed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The time at which the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for this request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information regarding the channel through which the request was made."
      },
      "CreatePispDomesticScheduledPaymentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticScheduledPaymentId": {
                "type": "string",
                "description": "A unique identifier for the domestic scheduled payment.",
                "example": "12345678"
              },
              "ConsentId": {
                "type": "string",
                "description": "The unique identifier for the consent related to the payment.",
                "example": "consent-123"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the payment was created.",
                "example": "2023-10-01T10:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "The current status of the payment.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the payment status was last updated.",
                "example": "2023-10-01T10:05:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "An array of reasons associated with the payment status.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "The expected date and time the payment will be executed.",
                "example": "2023-10-02T10:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "The expected date and time the payment will be settled.",
                "example": "2023-10-03T10:00:00Z"
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "$ref": "#/components/schemas/Account"
                  }
                },
                "description": "Details of any refund related to the payment."
              },
              "Charges": {
                "type": "array",
                "description": "An array of charges associated with the payment.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "description": "Unique identifier for the payment instruction.",
                    "example": "instruction-123"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "description": "A unique identifier for tracking the payment end-to-end.",
                    "example": "end-to-end-123"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "The local instrument type used for the payment.",
                    "example": "SEPA"
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "description": "The requested date and time for the payment execution.",
                    "example": "2023-10-01T10:00:00Z"
                  },
                  "InstructedAmount": {
                    "$ref": "#/components/schemas/Amount"
                  },
                  "DebtorAccount": {
                    "$ref": "#/components/schemas/Account"
                  },
                  "CreditorAccount": {
                    "$ref": "#/components/schemas/Account"
                  }
                },
                "description": "Details of the payment initiation."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "A unique identifier for the response.",
                    "example": "response-123"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "A unique identifier for tracking the request and response.",
                    "example": "correlation-123"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "The date and time when the response was generated.",
                    "example": "2023-10-01T10:10:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "The region where the payment processing took place.",
                    "example": "EU"
                  }
                },
                "description": "Metadata related to the payment response."
              }
            },
            "example": {
              "DomesticScheduledPaymentId": "PAY-106724",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              }
            }
          }
        },
        "example": {
          "Data": {
            "DomesticScheduledPaymentId": "PAY-106724",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "2727ae7c-0300-5525-add2-3871d59618d4",
            "correlationId": "10c45560-debc-54f7-b787-4fb53bedb98d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the reason for the status.",
            "example": "ERR001"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the status reason.",
            "example": "Insufficient funds"
          },
          "Path": {
            "type": "string",
            "description": "The path associated with the error reason.",
            "example": "/payments/status"
          }
        },
        "description": "Represents a reason for the payment status."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge for the payment.",
            "example": "SHAR"
          },
          "Type": {
            "type": "string",
            "description": "The type of charge.",
            "example": "Transfer Fee"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Represents a charge associated with the payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numerical amount involved in the transaction.",
            "example": "150.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "EUR"
          }
        },
        "description": "Represents an amount with currency information."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-018"
        },
        "example": "WF-018"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fe55ae47-e507-48c1-8aee-fbe4ff87a083"
        },
        "example": "fe55ae47-e507-48c1-8aee-fbe4ff87a083"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad689397-dbdc-4520-a8f1-5b6712115d2b"
        },
        "example": "ad689397-dbdc-4520-a8f1-5b6712115d2b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the payment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-domestic-scheduled-payment"
        },
        "example": "payment-initiation-openapi-initiate-domestic-scheduled-payment"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that executed the payment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow instance associated with the payment processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-018"
        },
        "example": "WF-018"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Payroll Batch Payment Processing"
        },
        "example": "Payroll Batch Payment Processing"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ad689397-dbdc-4520-a8f1-5b6712115d2b"
        },
        "example": "ad689397-dbdc-4520-a8f1-5b6712115d2b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows users to authenticate via a token. The token should be a JSON Web Token (JWT) that is sent in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}