{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Facility Building Maintenances-spec",
    "description": "The Facility Building Maintenance Overview API provides access to detailed information about maintenance activities for various facilities. Utilizing this API, users can retrieve a comprehensive list of building maintenance records, which are essential for effective facility management and operational planning. Typical consumers include facility managers and maintenance teams looking to monitor ongoing or past maintenance tasks. This endpoint streamlines maintenance tracking and ensures that facilities are well-maintained for optimal functionality.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9008",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/building-maintenance": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve building maintenance facilities.",
        "description": "This endpoint allows users to access information about facilities specifically related to building maintenance. Use this to obtain comprehensive details concerning the maintenance facilities available within the system.",
        "operationId": "listFacilityBuildingMaintenances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving building maintenance operations. This request body must comply with the specified schema, ensuring that all required fields are provided for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListFacilityBuildingMaintenancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved building maintenance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListFacilityBuildingMaintenancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListFacilityBuildingMaintenancesRequest": {
        "type": "string",
        "description": "This schema represents the request body content type for the Building Maintenance Operations GET request in the Facilities service.",
        "example": "{}"
      },
      "ListFacilityBuildingMaintenancesResponse_200": {
        "title": "Building Maintenance Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of maintenance items that contain details about each scheduled maintenance work.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-926158",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MaintenanceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the maintenance items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for the Building Maintenance Operations GET request, containing an array of maintenance items, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-926158",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e5b7c3d4-d7d6-5887-9457-bda9141c2c4b",
            "correlationId": "54f392d6-0701-52da-8008-22e65222c4da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MaintenanceItem": {
        "title": "Maintenance Item",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Unique identifier for the site where maintenance is scheduled."
          },
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset associated with the maintenance work."
          },
          "workOrderId": {
            "type": "string",
            "description": "Unique identifier for the work order associated with the maintenance."
          },
          "scheduledDate": {
            "type": "string",
            "description": "Scheduled date for the maintenance work."
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for carrying out the maintenance."
          },
          "facilityZone": {
            "type": "string",
            "description": "Specific zone within the facility where maintenance will occur."
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being scheduled (e.g., preventive, corrective)."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the maintenance work in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the maintenance record."
          }
        },
        "description": "Details of a scheduled maintenance work, including its identifiers and related information."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the results.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Details regarding the pagination of results from the maintenance operations."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Additional information about the response, such as identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being called, useful for tracing requests in logging systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "building-maintenance-search-building-maintenance"
        },
        "example": "building-maintenance-search-building-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, which can help in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme as defined in RFC 6750. It expects the client to send a JSON Web Token (JWT) in the 'Authorization' header, prefixed with the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}