{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE-PROD-List Account Simples-spec",
    "description": "The Account Summary Retrieval API provides easy access to the basic account details of a specified customer. By using the customer's unique identifier, clients can retrieve summaries of their accounts, including balance and account type. This API is particularly useful for financial applications and customer support systems that need to display relevant account information quickly. Typical consumers include banking applications and customer service platforms looking to enhance client interactions with accurate account data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    },
    {
      "url": "https://35.162.152.203:9001",
      "description": "PROD",
      "variables": {},
      "x-schema": "https://",
      "x-name": "PROD",
      "x-environmentName": "PROD",
      "x-hide": false,
      "x-environmentId": "6a784eac1d7e36108cc3cb0c",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/simple": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve simple account details for a specific customer.",
        "description": "This endpoint allows you to fetch the simple account information for a specified customer by their unique identifier. It provides essential account data that can be used for various business operations and customer inquiry purposes.",
        "operationId": "listAccountSimples",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          },
          {
            "$ref": "#/components/parameters/customerId"
          }
        ],
        "requestBody": {
          "description": "Request body required to retrieve simple account information for a specific customer. This endpoint allows the client to request account details associated with the given customer ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListAccountSimplesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAccountSimplesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ListAccountSimplesRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving account information for a specific customer in JSON format.",
        "example": "{}"
      },
      "ListAccountSimplesResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "STANDARD"
          },
          "number": {
            "type": "string",
            "description": "The account number associated with the account.",
            "example": "STANDARD"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "The display format of the account number for user-friendly purposes.",
            "example": "STANDARD"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the real account number.",
            "example": "STANDARD"
          },
          "name": {
            "type": "string",
            "description": "The name of the account holder or entity associated with the account.",
            "example": "Northstar Banking Service"
          },
          "balance": {
            "type": "number",
            "description": "The current balance of the account.",
            "example": 100.0
          },
          "type": {
            "type": "string",
            "description": "The type of account (e.g., savings, checking).",
            "example": "STANDARD"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "The status code representing the aggregation state of the account.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the account (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-799284"
          },
          "institutionId": {
            "type": "string",
            "description": "The identifier for the financial institution managing the account.",
            "example": "STANDARD"
          },
          "balanceDate": {
            "type": "integer",
            "description": "The date when the balance is effective.",
            "format": "int32",
            "example": 1
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "The date when the aggregation for this account was successful.",
            "format": "int32",
            "example": 1
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "The date when an aggregation attempt was made for this account.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the account was created.",
            "format": "int32",
            "example": 1
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "The date when the account information was last updated.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "The market segment or demographic associated with the account.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the account balance is denominated.",
            "example": "USD"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "The date of the last transaction made on the account.",
            "format": "int32",
            "example": 1
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "The date of the oldest transaction in the account history.",
            "format": "int32",
            "example": 1
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "The login ID associated with the institution managing the account.",
            "format": "int32",
            "example": 1
          },
          "detail": {
            "description": "Detailed information regarding the account.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/AccountMetadata"
          }
        },
        "description": "Schema representing the response for retrieving account information for a specific customer.",
        "example": {
          "id": "STANDARD",
          "number": "STANDARD",
          "accountNumberDisplay": "STANDARD",
          "realAccountNumberLast4": "STANDARD",
          "name": "Northstar Banking Service",
          "balance": 100.0,
          "type": "STANDARD",
          "aggregationStatusCode": 1,
          "status": "ACTIVE",
          "customerId": "CUST-799284",
          "institutionId": "STANDARD",
          "balanceDate": 1,
          "aggregationSuccessDate": 1,
          "aggregationAttemptDate": 1,
          "createdDate": 1,
          "lastUpdatedDate": 1,
          "marketSegment": "STANDARD",
          "currency": "USD",
          "lastTransactionDate": 1,
          "oldestTransactionDate": 1,
          "institutionLoginId": 1,
          "detail": {
            "dateAsOf": 1,
            "availableBalanceAmount": 100.0,
            "openDate": 1,
            "periodStartDate": 1,
            "periodEndDate": 1,
            "periodInterestRate": 100.0,
            "periodDepositAmount": 100.0,
            "periodInterestAmount": 100.0,
            "interestYtdAmount": 100.0,
            "interestPriorYtdAmount": 100.0,
            "maturityDate": 1,
            "interestRate": "STANDARD",
            "creditAvailableAmount": 100.0,
            "creditMaxAmount": 100.0
          },
          "metadata": {
            "responseId": "d619f4db-4115-5189-9a59-76e2bda9696d",
            "correlationId": "4236390d-f2b8-54ab-9d70-f6e1bdd0a0b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "The date that this detail is effective as of.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "The amount of balance available for transactions.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "The date when the account was opened.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "The start date of the current reporting period.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "The end date of the current reporting period.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "The interest rate applicable to the current reporting period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "The total deposit amount during the current reporting period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "The interest accrued during the current reporting period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "The year-to-date interest amount earned on the account.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "The interest amount earned in the prior year-to-date.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "The date when the account matures, if applicable.",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "The current interest rate of the account.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "The amount of credit that is available to the account holder.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "The maximum amount of credit that can be extended to the account holder.",
            "example": 0.0
          }
        },
        "description": "Detailed schema containing account-specific information."
      },
      "AccountMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the account response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "path",
        "required": true,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account"
        },
        "example": "open-finance-api-get-customer-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication using JSON Web Tokens (JWT). This scheme requires a valid JWT to be included in the Authorization header for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}